{
  "metadata" : {
    "apiVersion" : "2015-04-13",
    "exceptionUnmarshallerImpl" : null,
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS CodeCommit</fullname> <p>This is the <i>AWS CodeCommit API Reference</i>. This reference provides descriptions of the AWS CodeCommit API.</p> <p>You can use the AWS CodeCommit API to work with the following objects:</p> <ul> <li>Repositories</li> <li>Branches</li> <li>Commits</li> </ul> <p>For information about how to use AWS CodeCommit, see the <i>AWS CodeCommit User Guide</i>.</p>",
    "defaultEndpoint" : "https://codecommit.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codecommit.us-east-1.amazonaws.com",
    "syncInterface" : "AWSCodeCommit",
    "syncClient" : "AWSCodeCommitClient",
    "asyncInterface" : "AWSCodeCommitAsync",
    "asyncClient" : "AWSCodeCommitAsyncClient",
    "packageName" : "com.amazonaws.services.codecommit",
    "packagePath" : "com/amazonaws/services/codecommit",
    "serviceAbbreviation" : "CodeCommit",
    "serviceFullName" : "AWS CodeCommit",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : "application/x-amz-json-1.1",
    "endpointPrefix" : "codecommit",
    "signingName" : "codecommit",
    "serviceName" : "CodeCommit",
    "jsonProtocol" : true,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "JsonErrorUnmarshaller"
  },
  "operations" : {
    "BatchGetRepositories" : {
      "documentation" : "<p>Gets information about one or more repositories.</p> <note><p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p></note>",
      "operationName" : "BatchGetRepositories",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchGetRepositoriesRequest",
        "variableType" : "BatchGetRepositoriesRequest",
        "variableDeclarationType" : "BatchGetRepositoriesRequest",
        "documentation" : "<p>Represents the input of a batch get repositories operation.</p>",
        "simpleType" : "BatchGetRepositoriesRequest",
        "variableSetterType" : "BatchGetRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchGetRepositoriesResult",
        "documentation" : "<p>Represents the output of a batch get repositories operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNamesRequiredException",
        "documentation" : "<p>A repository names object is required but was not specified.</p>"
      }, {
        "exceptionName" : "MaximumRepositoryNamesExceededException",
        "documentation" : "<p>The maximum number of allowed repository names was exceeded. Currently, this number is 25.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "BatchGetRepositoriesResult",
      "asyncReturnType" : "BatchGetRepositoriesResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetRepositoriesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetRepositoriesRequest, BatchGetRepositoriesResult>",
      "methodName" : "batchGetRepositories"
    },
    "CreateBranch" : {
      "documentation" : "<p>Creates a new branch in a repository and points the branch to a commit.</p> <note>Calling the create branch operation does not set a repository's default branch. To do this, call the update default branch operation.</note>",
      "operationName" : "CreateBranch",
      "deprecated" : false,
      "input" : {
        "variableName" : "createBranchRequest",
        "variableType" : "CreateBranchRequest",
        "variableDeclarationType" : "CreateBranchRequest",
        "documentation" : "<p>Represents the input of a create branch operation.</p>",
        "simpleType" : "CreateBranchRequest",
        "variableSetterType" : "CreateBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>"
      }, {
        "exceptionName" : "BranchNameExistsException",
        "documentation" : "<p>The specified branch name already exists.</p>"
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified branch name is not valid.</p>"
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>"
      }, {
        "exceptionName" : "CommitDoesNotExistException",
        "documentation" : "<p>The specified commit does not exist or no commit was specified, and the specified repository has no default branch.</p>"
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBranchRequest, Void>",
      "methodName" : "createBranch"
    },
    "CreateRepository" : {
      "documentation" : "<p>Creates a new, empty repository.</p>",
      "operationName" : "CreateRepository",
      "deprecated" : false,
      "input" : {
        "variableName" : "createRepositoryRequest",
        "variableType" : "CreateRepositoryRequest",
        "variableDeclarationType" : "CreateRepositoryRequest",
        "documentation" : "<p>Represents the input of a create repository operation.</p>",
        "simpleType" : "CreateRepositoryRequest",
        "variableSetterType" : "CreateRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateRepositoryResult",
        "documentation" : "<p>Represents the output of a create repository operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameExistsException",
        "documentation" : "<p>The specified repository name already exists.</p>"
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      }, {
        "exceptionName" : "InvalidRepositoryDescriptionException",
        "documentation" : "<p>The specified repository description is not valid.</p>"
      }, {
        "exceptionName" : "RepositoryLimitExceededException",
        "documentation" : "<p>A repository resource limit was exceeded.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateRepositoryResult",
      "asyncReturnType" : "CreateRepositoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryRequest, CreateRepositoryResult>",
      "methodName" : "createRepository"
    },
    "DeleteRepository" : {
      "documentation" : "<p>Deletes a repository. If a specified repository was already deleted, a null repository ID will be returned.</p> <important>Deleting a repository also deletes all associated objects and metadata. After a repository is deleted, all future push calls to the deleted repository will fail.</important>",
      "operationName" : "DeleteRepository",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRepositoryRequest",
        "variableType" : "DeleteRepositoryRequest",
        "variableDeclarationType" : "DeleteRepositoryRequest",
        "documentation" : "<p>Represents the input of a delete repository operation.</p>",
        "simpleType" : "DeleteRepositoryRequest",
        "variableSetterType" : "DeleteRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRepositoryResult",
        "documentation" : "<p>Represents the output of a delete repository operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteRepositoryResult",
      "asyncReturnType" : "DeleteRepositoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryRequest, DeleteRepositoryResult>",
      "methodName" : "deleteRepository"
    },
    "GetBranch" : {
      "documentation" : "<p>Retrieves information about a repository branch, including its name and the last commit ID.</p>",
      "operationName" : "GetBranch",
      "deprecated" : false,
      "input" : {
        "variableName" : "getBranchRequest",
        "variableType" : "GetBranchRequest",
        "variableDeclarationType" : "GetBranchRequest",
        "documentation" : "<p>Represents the input of a get branch operation.</p>",
        "simpleType" : "GetBranchRequest",
        "variableSetterType" : "GetBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetBranchResult",
        "documentation" : "<p>Represents the output of a get branch operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified branch name is not valid.</p>"
      }, {
        "exceptionName" : "BranchDoesNotExistException",
        "documentation" : "<p>The specified branch does not exist.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetBranchResult",
      "asyncReturnType" : "GetBranchResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetBranchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBranchRequest, GetBranchResult>",
      "methodName" : "getBranch"
    },
    "GetRepository" : {
      "documentation" : "<p>Gets information about a repository.</p> <note><p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p></note>",
      "operationName" : "GetRepository",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRepositoryRequest",
        "variableType" : "GetRepositoryRequest",
        "variableDeclarationType" : "GetRepositoryRequest",
        "documentation" : "<p>Represents the input of a get repository operation.</p>",
        "simpleType" : "GetRepositoryRequest",
        "variableSetterType" : "GetRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRepositoryResult",
        "documentation" : "<p>Represents the output of a get repository operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetRepositoryResult",
      "asyncReturnType" : "GetRepositoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryRequest, GetRepositoryResult>",
      "methodName" : "getRepository"
    },
    "ListBranches" : {
      "documentation" : "<p>Gets information about one or more branches in a repository.</p>",
      "operationName" : "ListBranches",
      "deprecated" : false,
      "input" : {
        "variableName" : "listBranchesRequest",
        "variableType" : "ListBranchesRequest",
        "variableDeclarationType" : "ListBranchesRequest",
        "documentation" : "<p>Represents the input of a list branches operation.</p>",
        "simpleType" : "ListBranchesRequest",
        "variableSetterType" : "ListBranchesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListBranchesResult",
        "documentation" : "<p>Represents the output of a list branches operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListBranchesResult",
      "asyncReturnType" : "ListBranchesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListBranchesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListBranchesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBranchesRequest, ListBranchesResult>",
      "methodName" : "listBranches"
    },
    "ListRepositories" : {
      "documentation" : "<p>Gets information about one or more repositories.</p>",
      "operationName" : "ListRepositories",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRepositoriesRequest",
        "variableType" : "ListRepositoriesRequest",
        "variableDeclarationType" : "ListRepositoriesRequest",
        "documentation" : "<p>Represents the input of a list repositories operation.</p>",
        "simpleType" : "ListRepositoriesRequest",
        "variableSetterType" : "ListRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRepositoriesResult",
        "documentation" : "<p>Represents the output of a list repositories operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidSortByException",
        "documentation" : "<p>The specified sort by value is not valid.</p>"
      }, {
        "exceptionName" : "InvalidOrderException",
        "documentation" : "<p>The specified sort order is not valid.</p>"
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListRepositoriesResult",
      "asyncReturnType" : "ListRepositoriesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRepositoriesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRepositoriesRequest, ListRepositoriesResult>",
      "methodName" : "listRepositories"
    },
    "UpdateDefaultBranch" : {
      "documentation" : "<p>Sets or changes the default branch name for the specified repository.</p> <note>If you use this operation to change the default branch name to the current default branch name, a success message is returned even though the default branch did not change.</note>",
      "operationName" : "UpdateDefaultBranch",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDefaultBranchRequest",
        "variableType" : "UpdateDefaultBranchRequest",
        "variableDeclarationType" : "UpdateDefaultBranchRequest",
        "documentation" : "<p>Represents the input of an update default branch operation.</p>",
        "simpleType" : "UpdateDefaultBranchRequest",
        "variableSetterType" : "UpdateDefaultBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified branch name is not valid.</p>"
      }, {
        "exceptionName" : "BranchDoesNotExistException",
        "documentation" : "<p>The specified branch does not exist.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDefaultBranchRequest, Void>",
      "methodName" : "updateDefaultBranch"
    },
    "UpdateRepositoryDescription" : {
      "documentation" : "<p>Sets or changes the comment or description for a repository.</p> <note><p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p></note>",
      "operationName" : "UpdateRepositoryDescription",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateRepositoryDescriptionRequest",
        "variableType" : "UpdateRepositoryDescriptionRequest",
        "variableDeclarationType" : "UpdateRepositoryDescriptionRequest",
        "documentation" : "<p>Represents the input of an update repository description operation.</p>",
        "simpleType" : "UpdateRepositoryDescriptionRequest",
        "variableSetterType" : "UpdateRepositoryDescriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      }, {
        "exceptionName" : "InvalidRepositoryDescriptionException",
        "documentation" : "<p>The specified repository description is not valid.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRepositoryDescriptionRequest, Void>",
      "methodName" : "updateRepositoryDescription"
    },
    "UpdateRepositoryName" : {
      "documentation" : "<p>Renames a repository.</p>",
      "operationName" : "UpdateRepositoryName",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateRepositoryNameRequest",
        "variableType" : "UpdateRepositoryNameRequest",
        "variableDeclarationType" : "UpdateRepositoryNameRequest",
        "documentation" : "<p>Represents the input of an update repository description operation.</p>",
        "simpleType" : "UpdateRepositoryNameRequest",
        "variableSetterType" : "UpdateRepositoryNameRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "RepositoryNameExistsException",
        "documentation" : "<p>The specified repository name already exists.</p>"
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</note>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRepositoryNameRequest, Void>",
      "methodName" : "updateRepositoryName"
    }
  },
  "shapes" : {
    "RepositoryMetadata" : {
      "c2jName" : "RepositoryMetadata",
      "documentation" : "<p>Information about a repository.</p>",
      "shapeName" : "RepositoryMetadata",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The ID of the AWS account associated with the repository.</p>",
        "name" : "AccountId",
        "c2jName" : "accountId",
        "c2jShape" : "AccountId",
        "variable" : {
          "variableName" : "accountId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the AWS account associated with the repository.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "accountId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "accountId",
          "marshallLocationName" : "accountId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the AWS account associated with the repository.</p>\n@param accountId The ID of the AWS account associated with the repository.*/",
        "getterDocumentation" : "/**<p>The ID of the AWS account associated with the repository.</p>\n@return The ID of the AWS account associated with the repository.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the AWS account associated with the repository.</p>\n@param accountId The ID of the AWS account associated with the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the AWS account associated with the repository.</p>\n@param accountId The ID of the AWS account associated with the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The ID of the repository.</p>",
        "name" : "RepositoryId",
        "c2jName" : "repositoryId",
        "c2jShape" : "RepositoryId",
        "variable" : {
          "variableName" : "repositoryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the repository.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "repositoryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repositoryId",
          "marshallLocationName" : "repositoryId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the repository.</p>\n@param repositoryId The ID of the repository.*/",
        "getterDocumentation" : "/**<p>The ID of the repository.</p>\n@return The ID of the repository.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the repository.</p>\n@param repositoryId The ID of the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the repository.</p>\n@param repositoryId The ID of the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The repository's name.</p>",
        "name" : "RepositoryName",
        "c2jName" : "repositoryName",
        "c2jShape" : "RepositoryName",
        "variable" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The repository's name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repositoryName",
          "marshallLocationName" : "repositoryName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The repository's name.</p>\n@param repositoryName The repository's name.*/",
        "getterDocumentation" : "/**<p>The repository's name.</p>\n@return The repository's name.*/",
        "fluentSetterDocumentation" : "/**<p>The repository's name.</p>\n@param repositoryName The repository's name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The repository's name.</p>\n@param repositoryName The repository's name.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A comment or description about the repository.</p>",
        "name" : "RepositoryDescription",
        "c2jName" : "repositoryDescription",
        "c2jShape" : "RepositoryDescription",
        "variable" : {
          "variableName" : "repositoryDescription",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A comment or description about the repository.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "repositoryDescription",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repositoryDescription",
          "marshallLocationName" : "repositoryDescription",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A comment or description about the repository.</p>\n@param repositoryDescription A comment or description about the repository.*/",
        "getterDocumentation" : "/**<p>A comment or description about the repository.</p>\n@return A comment or description about the repository.*/",
        "fluentSetterDocumentation" : "/**<p>A comment or description about the repository.</p>\n@param repositoryDescription A comment or description about the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A comment or description about the repository.</p>\n@param repositoryDescription A comment or description about the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The repository's default branch name.</p>",
        "name" : "DefaultBranch",
        "c2jName" : "defaultBranch",
        "c2jShape" : "BranchName",
        "variable" : {
          "variableName" : "defaultBranch",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The repository's default branch name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "defaultBranch",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "defaultBranch",
          "marshallLocationName" : "defaultBranch",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The repository's default branch name.</p>\n@param defaultBranch The repository's default branch name.*/",
        "getterDocumentation" : "/**<p>The repository's default branch name.</p>\n@return The repository's default branch name.*/",
        "fluentSetterDocumentation" : "/**<p>The repository's default branch name.</p>\n@param defaultBranch The repository's default branch name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The repository's default branch name.</p>\n@param defaultBranch The repository's default branch name.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The date and time the repository was last modified, in timestamp format.</p>",
        "name" : "LastModifiedDate",
        "c2jName" : "lastModifiedDate",
        "c2jShape" : "LastModifiedDate",
        "variable" : {
          "variableName" : "lastModifiedDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p>The date and time the repository was last modified, in timestamp format.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "setterModel" : {
          "variableName" : "lastModifiedDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "lastModifiedDate",
          "marshallLocationName" : "lastModifiedDate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The date and time the repository was last modified, in timestamp format.</p>\n@param lastModifiedDate The date and time the repository was last modified, in timestamp format.*/",
        "getterDocumentation" : "/**<p>The date and time the repository was last modified, in timestamp format.</p>\n@return The date and time the repository was last modified, in timestamp format.*/",
        "fluentSetterDocumentation" : "/**<p>The date and time the repository was last modified, in timestamp format.</p>\n@param lastModifiedDate The date and time the repository was last modified, in timestamp format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The date and time the repository was last modified, in timestamp format.</p>\n@param lastModifiedDate The date and time the repository was last modified, in timestamp format.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The date and time the repository was created, in timestamp format.</p>",
        "name" : "CreationDate",
        "c2jName" : "creationDate",
        "c2jShape" : "CreationDate",
        "variable" : {
          "variableName" : "creationDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p>The date and time the repository was created, in timestamp format.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "setterModel" : {
          "variableName" : "creationDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "creationDate",
          "marshallLocationName" : "creationDate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The date and time the repository was created, in timestamp format.</p>\n@param creationDate The date and time the repository was created, in timestamp format.*/",
        "getterDocumentation" : "/**<p>The date and time the repository was created, in timestamp format.</p>\n@return The date and time the repository was created, in timestamp format.*/",
        "fluentSetterDocumentation" : "/**<p>The date and time the repository was created, in timestamp format.</p>\n@param creationDate The date and time the repository was created, in timestamp format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The date and time the repository was created, in timestamp format.</p>\n@param creationDate The date and time the repository was created, in timestamp format.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The URL to use for cloning the repository over HTTPS.</p>",
        "name" : "CloneUrlHttp",
        "c2jName" : "cloneUrlHttp",
        "c2jShape" : "CloneUrlHttp",
        "variable" : {
          "variableName" : "cloneUrlHttp",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The URL to use for cloning the repository over HTTPS.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "cloneUrlHttp",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "cloneUrlHttp",
          "marshallLocationName" : "cloneUrlHttp",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The URL to use for cloning the repository over HTTPS.</p>\n@param cloneUrlHttp The URL to use for cloning the repository over HTTPS.*/",
        "getterDocumentation" : "/**<p>The URL to use for cloning the repository over HTTPS.</p>\n@return The URL to use for cloning the repository over HTTPS.*/",
        "fluentSetterDocumentation" : "/**<p>The URL to use for cloning the repository over HTTPS.</p>\n@param cloneUrlHttp The URL to use for cloning the repository over HTTPS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The URL to use for cloning the repository over HTTPS.</p>\n@param cloneUrlHttp The URL to use for cloning the repository over HTTPS.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The URL to use for cloning the repository over SSH.</p>",
        "name" : "CloneUrlSsh",
        "c2jName" : "cloneUrlSsh",
        "c2jShape" : "CloneUrlSsh",
        "variable" : {
          "variableName" : "cloneUrlSsh",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The URL to use for cloning the repository over SSH.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "cloneUrlSsh",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "cloneUrlSsh",
          "marshallLocationName" : "cloneUrlSsh",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The URL to use for cloning the repository over SSH.</p>\n@param cloneUrlSsh The URL to use for cloning the repository over SSH.*/",
        "getterDocumentation" : "/**<p>The URL to use for cloning the repository over SSH.</p>\n@return The URL to use for cloning the repository over SSH.*/",
        "fluentSetterDocumentation" : "/**<p>The URL to use for cloning the repository over SSH.</p>\n@param cloneUrlSsh The URL to use for cloning the repository over SSH.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The URL to use for cloning the repository over SSH.</p>\n@param cloneUrlSsh The URL to use for cloning the repository over SSH.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The Amazon Resource Name (ARN) of the repository.</p>",
        "name" : "Arn",
        "c2jName" : "Arn",
        "c2jShape" : "Arn",
        "variable" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the repository.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Arn",
          "marshallLocationName" : "Arn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the repository.</p>\n@param arn The Amazon Resource Name (ARN) of the repository.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the repository.</p>\n@return The Amazon Resource Name (ARN) of the repository.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the repository.</p>\n@param arn The Amazon Resource Name (ARN) of the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the repository.</p>\n@param arn The Amazon Resource Name (ARN) of the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "repositoryMetadata",
        "variableType" : "RepositoryMetadata",
        "variableDeclarationType" : "RepositoryMetadata",
        "documentation" : null,
        "simpleType" : "RepositoryMetadata",
        "variableSetterType" : "RepositoryMetadata"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "RepositoryDescription" : {
          "documentation" : "<p>A comment or description about the repository.</p>",
          "name" : "RepositoryDescription",
          "c2jName" : "repositoryDescription",
          "c2jShape" : "RepositoryDescription",
          "variable" : {
            "variableName" : "repositoryDescription",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>A comment or description about the repository.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "repositoryDescription",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "repositoryDescription",
            "marshallLocationName" : "repositoryDescription",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A comment or description about the repository.</p>\n@param repositoryDescription A comment or description about the repository.*/",
          "getterDocumentation" : "/**<p>A comment or description about the repository.</p>\n@return A comment or description about the repository.*/",
          "fluentSetterDocumentation" : "/**<p>A comment or description about the repository.</p>\n@param repositoryDescription A comment or description about the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A comment or description about the repository.</p>\n@param repositoryDescription A comment or description about the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RepositoryName" : {
          "documentation" : "<p>The repository's name.</p>",
          "name" : "RepositoryName",
          "c2jName" : "repositoryName",
          "c2jShape" : "RepositoryName",
          "variable" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The repository's name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "repositoryName",
            "marshallLocationName" : "repositoryName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The repository's name.</p>\n@param repositoryName The repository's name.*/",
          "getterDocumentation" : "/**<p>The repository's name.</p>\n@return The repository's name.*/",
          "fluentSetterDocumentation" : "/**<p>The repository's name.</p>\n@param repositoryName The repository's name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The repository's name.</p>\n@param repositoryName The repository's name.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "DefaultBranch" : {
          "documentation" : "<p>The repository's default branch name.</p>",
          "name" : "DefaultBranch",
          "c2jName" : "defaultBranch",
          "c2jShape" : "BranchName",
          "variable" : {
            "variableName" : "defaultBranch",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The repository's default branch name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "defaultBranch",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "defaultBranch",
            "marshallLocationName" : "defaultBranch",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The repository's default branch name.</p>\n@param defaultBranch The repository's default branch name.*/",
          "getterDocumentation" : "/**<p>The repository's default branch name.</p>\n@return The repository's default branch name.*/",
          "fluentSetterDocumentation" : "/**<p>The repository's default branch name.</p>\n@param defaultBranch The repository's default branch name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The repository's default branch name.</p>\n@param defaultBranch The repository's default branch name.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "AccountId" : {
          "documentation" : "<p>The ID of the AWS account associated with the repository.</p>",
          "name" : "AccountId",
          "c2jName" : "accountId",
          "c2jShape" : "AccountId",
          "variable" : {
            "variableName" : "accountId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID of the AWS account associated with the repository.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "accountId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "accountId",
            "marshallLocationName" : "accountId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID of the AWS account associated with the repository.</p>\n@param accountId The ID of the AWS account associated with the repository.*/",
          "getterDocumentation" : "/**<p>The ID of the AWS account associated with the repository.</p>\n@return The ID of the AWS account associated with the repository.*/",
          "fluentSetterDocumentation" : "/**<p>The ID of the AWS account associated with the repository.</p>\n@param accountId The ID of the AWS account associated with the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID of the AWS account associated with the repository.</p>\n@param accountId The ID of the AWS account associated with the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CloneUrlSsh" : {
          "documentation" : "<p>The URL to use for cloning the repository over SSH.</p>",
          "name" : "CloneUrlSsh",
          "c2jName" : "cloneUrlSsh",
          "c2jShape" : "CloneUrlSsh",
          "variable" : {
            "variableName" : "cloneUrlSsh",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The URL to use for cloning the repository over SSH.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "cloneUrlSsh",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "cloneUrlSsh",
            "marshallLocationName" : "cloneUrlSsh",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The URL to use for cloning the repository over SSH.</p>\n@param cloneUrlSsh The URL to use for cloning the repository over SSH.*/",
          "getterDocumentation" : "/**<p>The URL to use for cloning the repository over SSH.</p>\n@return The URL to use for cloning the repository over SSH.*/",
          "fluentSetterDocumentation" : "/**<p>The URL to use for cloning the repository over SSH.</p>\n@param cloneUrlSsh The URL to use for cloning the repository over SSH.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The URL to use for cloning the repository over SSH.</p>\n@param cloneUrlSsh The URL to use for cloning the repository over SSH.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "LastModifiedDate" : {
          "documentation" : "<p>The date and time the repository was last modified, in timestamp format.</p>",
          "name" : "LastModifiedDate",
          "c2jName" : "lastModifiedDate",
          "c2jShape" : "LastModifiedDate",
          "variable" : {
            "variableName" : "lastModifiedDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "<p>The date and time the repository was last modified, in timestamp format.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "setterModel" : {
            "variableName" : "lastModifiedDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "lastModifiedDate",
            "marshallLocationName" : "lastModifiedDate",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The date and time the repository was last modified, in timestamp format.</p>\n@param lastModifiedDate The date and time the repository was last modified, in timestamp format.*/",
          "getterDocumentation" : "/**<p>The date and time the repository was last modified, in timestamp format.</p>\n@return The date and time the repository was last modified, in timestamp format.*/",
          "fluentSetterDocumentation" : "/**<p>The date and time the repository was last modified, in timestamp format.</p>\n@param lastModifiedDate The date and time the repository was last modified, in timestamp format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The date and time the repository was last modified, in timestamp format.</p>\n@param lastModifiedDate The date and time the repository was last modified, in timestamp format.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RepositoryId" : {
          "documentation" : "<p>The ID of the repository.</p>",
          "name" : "RepositoryId",
          "c2jName" : "repositoryId",
          "c2jShape" : "RepositoryId",
          "variable" : {
            "variableName" : "repositoryId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID of the repository.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "repositoryId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "repositoryId",
            "marshallLocationName" : "repositoryId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID of the repository.</p>\n@param repositoryId The ID of the repository.*/",
          "getterDocumentation" : "/**<p>The ID of the repository.</p>\n@return The ID of the repository.*/",
          "fluentSetterDocumentation" : "/**<p>The ID of the repository.</p>\n@param repositoryId The ID of the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID of the repository.</p>\n@param repositoryId The ID of the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CreationDate" : {
          "documentation" : "<p>The date and time the repository was created, in timestamp format.</p>",
          "name" : "CreationDate",
          "c2jName" : "creationDate",
          "c2jShape" : "CreationDate",
          "variable" : {
            "variableName" : "creationDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "<p>The date and time the repository was created, in timestamp format.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "setterModel" : {
            "variableName" : "creationDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "creationDate",
            "marshallLocationName" : "creationDate",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The date and time the repository was created, in timestamp format.</p>\n@param creationDate The date and time the repository was created, in timestamp format.*/",
          "getterDocumentation" : "/**<p>The date and time the repository was created, in timestamp format.</p>\n@return The date and time the repository was created, in timestamp format.*/",
          "fluentSetterDocumentation" : "/**<p>The date and time the repository was created, in timestamp format.</p>\n@param creationDate The date and time the repository was created, in timestamp format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The date and time the repository was created, in timestamp format.</p>\n@param creationDate The date and time the repository was created, in timestamp format.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Arn" : {
          "documentation" : "<p>The Amazon Resource Name (ARN) of the repository.</p>",
          "name" : "Arn",
          "c2jName" : "Arn",
          "c2jShape" : "Arn",
          "variable" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the repository.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Arn",
            "marshallLocationName" : "Arn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the repository.</p>\n@param arn The Amazon Resource Name (ARN) of the repository.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the repository.</p>\n@return The Amazon Resource Name (ARN) of the repository.*/",
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the repository.</p>\n@param arn The Amazon Resource Name (ARN) of the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the repository.</p>\n@param arn The Amazon Resource Name (ARN) of the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CloneUrlHttp" : {
          "documentation" : "<p>The URL to use for cloning the repository over HTTPS.</p>",
          "name" : "CloneUrlHttp",
          "c2jName" : "cloneUrlHttp",
          "c2jShape" : "CloneUrlHttp",
          "variable" : {
            "variableName" : "cloneUrlHttp",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The URL to use for cloning the repository over HTTPS.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "cloneUrlHttp",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "cloneUrlHttp",
            "marshallLocationName" : "cloneUrlHttp",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The URL to use for cloning the repository over HTTPS.</p>\n@param cloneUrlHttp The URL to use for cloning the repository over HTTPS.*/",
          "getterDocumentation" : "/**<p>The URL to use for cloning the repository over HTTPS.</p>\n@return The URL to use for cloning the repository over HTTPS.*/",
          "fluentSetterDocumentation" : "/**<p>The URL to use for cloning the repository over HTTPS.</p>\n@param cloneUrlHttp The URL to use for cloning the repository over HTTPS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The URL to use for cloning the repository over HTTPS.</p>\n@param cloneUrlHttp The URL to use for cloning the repository over HTTPS.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CreateBranchRequest" : {
      "c2jName" : "CreateBranchInput",
      "documentation" : "<p>Represents the input of a create branch operation.</p>",
      "shapeName" : "CreateBranchRequest",
      "deprecated" : false,
      "required" : [ "repositoryName", "branchName", "commitId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The name of the repository in which you want to create the new branch.</p>",
        "name" : "RepositoryName",
        "c2jName" : "repositoryName",
        "c2jShape" : "RepositoryName",
        "variable" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the repository in which you want to create the new branch.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repositoryName",
          "marshallLocationName" : "repositoryName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.*/",
        "getterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@return The name of the repository in which you want to create the new branch.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The name of the new branch to create.</p>",
        "name" : "BranchName",
        "c2jName" : "branchName",
        "c2jShape" : "BranchName",
        "variable" : {
          "variableName" : "branchName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the new branch to create.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "branchName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "branchName",
          "marshallLocationName" : "branchName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.*/",
        "getterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@return The name of the new branch to create.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.</note>",
        "name" : "CommitId",
        "c2jName" : "commitId",
        "c2jShape" : "CommitId",
        "variable" : {
          "variableName" : "commitId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.</note>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "commitId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "commitId",
          "marshallLocationName" : "commitId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.</note>\n@param commitId The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.*/",
        "getterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.</note>\n@return The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.</note>\n@param commitId The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.</note>\n@param commitId The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createBranchRequest",
        "variableType" : "CreateBranchRequest",
        "variableDeclarationType" : "CreateBranchRequest",
        "documentation" : null,
        "simpleType" : "CreateBranchRequest",
        "variableSetterType" : "CreateBranchRequest"
      },
      "marshaller" : {
        "action" : "CreateBranch",
        "verb" : "POST",
        "target" : "CodeCommit_20150413.CreateBranch",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "RepositoryName" : {
          "documentation" : "<p>The name of the repository in which you want to create the new branch.</p>",
          "name" : "RepositoryName",
          "c2jName" : "repositoryName",
          "c2jShape" : "RepositoryName",
          "variable" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the repository in which you want to create the new branch.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "repositoryName",
            "marshallLocationName" : "repositoryName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.*/",
          "getterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@return The name of the repository in which you want to create the new branch.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "BranchName" : {
          "documentation" : "<p>The name of the new branch to create.</p>",
          "name" : "BranchName",
          "c2jName" : "branchName",
          "c2jShape" : "BranchName",
          "variable" : {
            "variableName" : "branchName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the new branch to create.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "branchName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "branchName",
            "marshallLocationName" : "branchName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.*/",
          "getterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@return The name of the new branch to create.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CommitId" : {
          "documentation" : "<p>The ID of the commit to point the new branch to.</p> <note>If this commit ID is not specified, the new branch will point to the commit that is pointed to by the repository's default branch.</note>",
          "name" : "CommitId",
          "c2jName" : "commitId",
          "c2jShape" : "CommitId",
          "variable" : {
            "variableName" : "commitId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
[...]
