{
  "metadata" : {
    "apiVersion" : "2015-04-13",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS CodeCommit</fullname> <p>This is the <i>AWS CodeCommit API Reference</i>. This reference provides descriptions of the operations and data types for AWS CodeCommit API.</p> <p>You can use the AWS CodeCommit API to work with the following objects:</p> <ul> <li>Repositories, by calling the following: <ul> <li><a>BatchGetRepositories</a>, which returns information about one or more repositories associated with your AWS account</li> <li><a>CreateRepository</a>, which creates an AWS CodeCommit repository</li> <li><a>DeleteRepository</a>, which deletes an AWS CodeCommit repository</li> <li><a>GetRepository</a>, which returns information about a specified repository</li> <li><a>ListRepositories</a>, which lists all AWS CodeCommit repositories associated with your AWS account</li> <li><a>UpdateRepositoryDescription</a>, which sets or updates the description of the repository</li> <li><a>UpdateRepositoryName</a>, which changes the name of the repository. If you change the name of a repository, no other users of that repository will be able to access it until you send them the new HTTPS or SSH URL to use.</li> </ul></li> <li>Branches, by calling the following: <ul> <li><a>CreateBranch</a>, which creates a new branch in a specified repository</li> <li><a>GetBranch</a>, which returns information about a specified branch</li> <li><a>ListBranches</a>, which lists all branches for a specified repository</li> <li><a>UpdateDefaultBranch</a>, which changes the default branch for a repository</li> </ul></li> <li>Information about committed code in a repository, by calling the following: <ul> <li><a>GetCommit</a>, which returns information about a commit, including commit messages and committer information.</li> </ul></li> <li>Triggers, by calling the following: <ul> <li><a>GetRepositoryTriggers</a>, which returns information about triggers configured for a repository</li> <li><a>PutRepositoryTriggers</a>, which replaces all triggers for a repository and can be used to create or delete triggers</li> <li><a>TestRepositoryTriggers</a>, which tests the functionality of a repository trigger by sending data to the trigger target</li> </ul> </li> </ul> <p>For information about how to use AWS CodeCommit, see the <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html\">AWS CodeCommit User Guide</a>.</p>",
    "defaultEndpoint" : "https://codecommit.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codecommit.us-east-1.amazonaws.com",
    "syncInterface" : "AWSCodeCommit",
    "syncClient" : "AWSCodeCommitClient",
    "asyncInterface" : "AWSCodeCommitAsync",
    "asyncClient" : "AWSCodeCommitAsyncClient",
    "packageName" : "com.amazonaws.services.codecommit",
    "packagePath" : "com/amazonaws/services/codecommit",
    "serviceAbbreviation" : "CodeCommit",
    "serviceFullName" : "AWS CodeCommit",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "codecommit",
    "signingName" : "codecommit",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSCodeCommitClientBuilder",
    "asyncClientBuilderClassName" : "AWSCodeCommitAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSCodeCommitModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.codecommit.smoketests",
    "serviceName" : "CodeCommit",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "BatchGetRepositories" : {
      "documentation" : "<p>Returns information about one or more repositories.</p> <note><p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p></note>",
      "operationName" : "BatchGetRepositories",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchGetRepositoriesRequest",
        "variableType" : "BatchGetRepositoriesRequest",
        "variableDeclarationType" : "BatchGetRepositoriesRequest",
        "documentation" : "<p>Represents the input of a batch get repositories operation.</p>",
        "simpleType" : "BatchGetRepositoriesRequest",
        "variableSetterType" : "BatchGetRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchGetRepositoriesResult",
        "documentation" : "<p>Represents the output of a batch get repositories operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNamesRequiredException",
        "documentation" : "<p>A repository names object is required but was not specified.</p>"
      }, {
        "exceptionName" : "MaximumRepositoryNamesExceededException",
        "documentation" : "<p>The maximum number of allowed repository names was exceeded. Currently, this number is 25.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "BatchGetRepositoriesResult",
      "asyncReturnType" : "BatchGetRepositoriesResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetRepositoriesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetRepositoriesRequest, BatchGetRepositoriesResult>",
      "authenticated" : true,
      "methodName" : "batchGetRepositories"
    },
    "CreateBranch" : {
      "documentation" : "<p>Creates a new branch in a repository and points the branch to a commit.</p> <note><p>Calling the create branch operation does not set a repository's default branch. To do this, call the update default branch operation.</p></note>",
      "operationName" : "CreateBranch",
      "deprecated" : false,
      "input" : {
        "variableName" : "createBranchRequest",
        "variableType" : "CreateBranchRequest",
        "variableDeclarationType" : "CreateBranchRequest",
        "documentation" : "<p>Represents the input of a create branch operation.</p>",
        "simpleType" : "CreateBranchRequest",
        "variableSetterType" : "CreateBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateBranchResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>"
      }, {
        "exceptionName" : "BranchNameExistsException",
        "documentation" : "<p>The specified branch name already exists.</p>"
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified branch name is not valid.</p>"
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>"
      }, {
        "exceptionName" : "CommitDoesNotExistException",
        "documentation" : "<p>The specified commit does not exist or no commit was specified, and the specified repository has no default branch.</p>"
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateBranchResult",
      "asyncReturnType" : "CreateBranchResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBranchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBranchRequest, CreateBranchResult>",
      "authenticated" : true,
      "methodName" : "createBranch"
    },
    "CreateRepository" : {
      "documentation" : "<p>Creates a new, empty repository.</p>",
      "operationName" : "CreateRepository",
      "deprecated" : false,
      "input" : {
        "variableName" : "createRepositoryRequest",
        "variableType" : "CreateRepositoryRequest",
        "variableDeclarationType" : "CreateRepositoryRequest",
        "documentation" : "<p>Represents the input of a create repository operation.</p>",
        "simpleType" : "CreateRepositoryRequest",
        "variableSetterType" : "CreateRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateRepositoryResult",
        "documentation" : "<p>Represents the output of a create repository operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameExistsException",
        "documentation" : "<p>The specified repository name already exists.</p>"
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "InvalidRepositoryDescriptionException",
        "documentation" : "<p>The specified repository description is not valid.</p>"
      }, {
        "exceptionName" : "RepositoryLimitExceededException",
        "documentation" : "<p>A repository resource limit was exceeded.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateRepositoryResult",
      "asyncReturnType" : "CreateRepositoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryRequest, CreateRepositoryResult>",
      "authenticated" : true,
      "methodName" : "createRepository"
    },
    "DeleteRepository" : {
      "documentation" : "<p>Deletes a repository. If a specified repository was already deleted, a null repository ID will be returned.</p> <important>Deleting a repository also deletes all associated objects and metadata. After a repository is deleted, all future push calls to the deleted repository will fail.</important>",
      "operationName" : "DeleteRepository",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRepositoryRequest",
        "variableType" : "DeleteRepositoryRequest",
        "variableDeclarationType" : "DeleteRepositoryRequest",
        "documentation" : "<p>Represents the input of a delete repository operation.</p>",
        "simpleType" : "DeleteRepositoryRequest",
        "variableSetterType" : "DeleteRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRepositoryResult",
        "documentation" : "<p>Represents the output of a delete repository operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteRepositoryResult",
      "asyncReturnType" : "DeleteRepositoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryRequest, DeleteRepositoryResult>",
      "authenticated" : true,
      "methodName" : "deleteRepository"
    },
    "GetBranch" : {
      "documentation" : "<p>Returns information about a repository branch, including its name and the last commit ID.</p>",
      "operationName" : "GetBranch",
      "deprecated" : false,
      "input" : {
        "variableName" : "getBranchRequest",
        "variableType" : "GetBranchRequest",
        "variableDeclarationType" : "GetBranchRequest",
        "documentation" : "<p>Represents the input of a get branch operation.</p>",
        "simpleType" : "GetBranchRequest",
        "variableSetterType" : "GetBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetBranchResult",
        "documentation" : "<p>Represents the output of a get branch operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified branch name is not valid.</p>"
      }, {
        "exceptionName" : "BranchDoesNotExistException",
        "documentation" : "<p>The specified branch does not exist.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetBranchResult",
      "asyncReturnType" : "GetBranchResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetBranchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBranchRequest, GetBranchResult>",
      "authenticated" : true,
      "methodName" : "getBranch"
    },
    "GetCommit" : {
      "documentation" : "<p>Returns information about a commit, including commit message and committer information.</p>",
      "operationName" : "GetCommit",
      "deprecated" : false,
      "input" : {
        "variableName" : "getCommitRequest",
        "variableType" : "GetCommitRequest",
        "variableDeclarationType" : "GetCommitRequest",
        "documentation" : "<p>Represents the input of a get commit operation.</p>",
        "simpleType" : "GetCommitRequest",
        "variableSetterType" : "GetCommitRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetCommitResult",
        "documentation" : "<p>Represents the output of a get commit operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>"
      }, {
        "exceptionName" : "CommitIdDoesNotExistException",
        "documentation" : "<p>The specified commit ID does not exist.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetCommitResult",
      "asyncReturnType" : "GetCommitResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetCommitResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetCommitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCommitRequest, GetCommitResult>",
      "authenticated" : true,
      "methodName" : "getCommit"
    },
    "GetRepository" : {
      "documentation" : "<p>Returns information about a repository.</p> <note><p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p></note>",
      "operationName" : "GetRepository",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRepositoryRequest",
        "variableType" : "GetRepositoryRequest",
        "variableDeclarationType" : "GetRepositoryRequest",
        "documentation" : "<p>Represents the input of a get repository operation.</p>",
        "simpleType" : "GetRepositoryRequest",
        "variableSetterType" : "GetRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRepositoryResult",
        "documentation" : "<p>Represents the output of a get repository operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetRepositoryResult",
      "asyncReturnType" : "GetRepositoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryRequest, GetRepositoryResult>",
      "authenticated" : true,
      "methodName" : "getRepository"
    },
    "GetRepositoryTriggers" : {
      "documentation" : "<p>Gets information about triggers configured for a repository.</p>",
      "operationName" : "GetRepositoryTriggers",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRepositoryTriggersRequest",
        "variableType" : "GetRepositoryTriggersRequest",
        "variableDeclarationType" : "GetRepositoryTriggersRequest",
        "documentation" : "<p>Represents the input of a get repository triggers operation.</p>",
        "simpleType" : "GetRepositoryTriggersRequest",
        "variableSetterType" : "GetRepositoryTriggersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRepositoryTriggersResult",
        "documentation" : "<p>Represents the output of a get repository triggers operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetRepositoryTriggersResult",
      "asyncReturnType" : "GetRepositoryTriggersResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryTriggersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryTriggersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryTriggersRequest, GetRepositoryTriggersResult>",
      "authenticated" : true,
      "methodName" : "getRepositoryTriggers"
    },
    "ListBranches" : {
      "documentation" : "<p>Gets information about one or more branches in a repository.</p>",
      "operationName" : "ListBranches",
      "deprecated" : false,
      "input" : {
        "variableName" : "listBranchesRequest",
        "variableType" : "ListBranchesRequest",
        "variableDeclarationType" : "ListBranchesRequest",
        "documentation" : "<p>Represents the input of a list branches operation.</p>",
        "simpleType" : "ListBranchesRequest",
        "variableSetterType" : "ListBranchesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListBranchesResult",
        "documentation" : "<p>Represents the output of a list branches operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListBranchesResult",
      "asyncReturnType" : "ListBranchesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListBranchesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListBranchesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBranchesRequest, ListBranchesResult>",
      "authenticated" : true,
      "methodName" : "listBranches"
    },
    "ListRepositories" : {
      "documentation" : "<p>Gets information about one or more repositories.</p>",
      "operationName" : "ListRepositories",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRepositoriesRequest",
        "variableType" : "ListRepositoriesRequest",
        "variableDeclarationType" : "ListRepositoriesRequest",
        "documentation" : "<p>Represents the input of a list repositories operation.</p>",
        "simpleType" : "ListRepositoriesRequest",
        "variableSetterType" : "ListRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRepositoriesResult",
        "documentation" : "<p>Represents the output of a list repositories operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidSortByException",
        "documentation" : "<p>The specified sort by value is not valid.</p>"
      }, {
        "exceptionName" : "InvalidOrderException",
        "documentation" : "<p>The specified sort order is not valid.</p>"
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListRepositoriesResult",
      "asyncReturnType" : "ListRepositoriesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRepositoriesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRepositoriesRequest, ListRepositoriesResult>",
      "authenticated" : true,
      "methodName" : "listRepositories"
    },
    "PutRepositoryTriggers" : {
      "documentation" : "<p>Replaces all triggers for a repository. This can be used to create or delete triggers.</p>",
      "operationName" : "PutRepositoryTriggers",
      "deprecated" : false,
      "input" : {
        "variableName" : "putRepositoryTriggersRequest",
        "variableType" : "PutRepositoryTriggersRequest",
        "variableDeclarationType" : "PutRepositoryTriggersRequest",
        "documentation" : "<p>Represents the input ofa put repository triggers operation. </p>",
        "simpleType" : "PutRepositoryTriggersRequest",
        "variableSetterType" : "PutRepositoryTriggersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutRepositoryTriggersResult",
        "documentation" : "<p>Represents the output of a put repository triggers operation. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "RepositoryTriggersListRequiredException",
        "documentation" : "<p>The list of triggers for the repository is required but was not specified.</p>"
      }, {
        "exceptionName" : "MaximumRepositoryTriggersExceededException",
        "documentation" : "<p>The number of triggers allowed for the repository was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerNameException",
        "documentation" : "<p>The name of the trigger is not valid.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerDestinationArnException",
        "documentation" : "<p>The Amazon Resource Name (ARN) for the trigger is not valid for the specified destination. The most common reason for this error is that the ARN does not meet the requirements for the service type.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerRegionException",
        "documentation" : "<p>The region for the trigger target does not match the region for the repository. Triggers must be created in the same region as the target for the trigger.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerCustomDataException",
        "documentation" : "<p>The custom data provided for the trigger is not valid.</p>"
      }, {
        "exceptionName" : "MaximumBranchesExceededException",
        "documentation" : "<p>The number of branches for the trigger was exceeded. </p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerBranchNameException",
        "documentation" : "<p>One or more branch names specified for the trigger is not valid.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerEventsException",
        "documentation" : "<p>One or more events specified for the trigger is not valid. Check to make sure that all events specified match the requirements for allowed events.</p>"
      }, {
        "exceptionName" : "RepositoryTriggerNameRequiredException",
        "documentation" : "<p>A name for the trigger is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryTriggerDestinationArnRequiredException",
        "documentation" : "<p>A destination ARN for the target service for the trigger is required but was not specified. </p>"
      }, {
        "exceptionName" : "RepositoryTriggerBranchNameListRequiredException",
        "documentation" : "<p>At least one branch name is required but was not specified in the trigger configuration.</p>"
      }, {
        "exceptionName" : "RepositoryTriggerEventsListRequiredException",
        "documentation" : "<p>At least one event for the trigger is required but was not specified.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutRepositoryTriggersResult",
      "asyncReturnType" : "PutRepositoryTriggersResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutRepositoryTriggersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutRepositoryTriggersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRepositoryTriggersRequest, PutRepositoryTriggersResult>",
      "authenticated" : true,
      "methodName" : "putRepositoryTriggers"
    },
    "TestRepositoryTriggers" : {
      "documentation" : "<p>Tests the functionality of repository triggers by sending information to the trigger target. If real data is available in the repository, the test will send data from the last commit. If no data is available, sample data will be generated.</p>",
      "operationName" : "TestRepositoryTriggers",
      "deprecated" : false,
      "input" : {
        "variableName" : "testRepositoryTriggersRequest",
        "variableType" : "TestRepositoryTriggersRequest",
        "variableDeclarationType" : "TestRepositoryTriggersRequest",
        "documentation" : "<p>Represents the input of a test repository triggers operation.</p>",
        "simpleType" : "TestRepositoryTriggersRequest",
        "variableSetterType" : "TestRepositoryTriggersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TestRepositoryTriggersResult",
        "documentation" : "<p>Represents the output of a test repository triggers operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "RepositoryTriggersListRequiredException",
        "documentation" : "<p>The list of triggers for the repository is required but was not specified.</p>"
      }, {
        "exceptionName" : "MaximumRepositoryTriggersExceededException",
        "documentation" : "<p>The number of triggers allowed for the repository was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerNameException",
        "documentation" : "<p>The name of the trigger is not valid.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerDestinationArnException",
        "documentation" : "<p>The Amazon Resource Name (ARN) for the trigger is not valid for the specified destination. The most common reason for this error is that the ARN does not meet the requirements for the service type.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerRegionException",
        "documentation" : "<p>The region for the trigger target does not match the region for the repository. Triggers must be created in the same region as the target for the trigger.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerCustomDataException",
        "documentation" : "<p>The custom data provided for the trigger is not valid.</p>"
      }, {
        "exceptionName" : "MaximumBranchesExceededException",
        "documentation" : "<p>The number of branches for the trigger was exceeded. </p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerBranchNameException",
        "documentation" : "<p>One or more branch names specified for the trigger is not valid.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryTriggerEventsException",
        "documentation" : "<p>One or more events specified for the trigger is not valid. Check to make sure that all events specified match the requirements for allowed events.</p>"
      }, {
        "exceptionName" : "RepositoryTriggerNameRequiredException",
        "documentation" : "<p>A name for the trigger is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryTriggerDestinationArnRequiredException",
        "documentation" : "<p>A destination ARN for the target service for the trigger is required but was not specified. </p>"
      }, {
        "exceptionName" : "RepositoryTriggerBranchNameListRequiredException",
        "documentation" : "<p>At least one branch name is required but was not specified in the trigger configuration.</p>"
      }, {
        "exceptionName" : "RepositoryTriggerEventsListRequiredException",
        "documentation" : "<p>At least one event for the trigger is required but was not specified.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "TestRepositoryTriggersResult",
      "asyncReturnType" : "TestRepositoryTriggersResult",
      "asyncFutureType" : "java.util.concurrent.Future<TestRepositoryTriggersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TestRepositoryTriggersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestRepositoryTriggersRequest, TestRepositoryTriggersResult>",
      "authenticated" : true,
      "methodName" : "testRepositoryTriggers"
    },
    "UpdateDefaultBranch" : {
      "documentation" : "<p>Sets or changes the default branch name for the specified repository.</p> <note><p>If you use this operation to change the default branch name to the current default branch name, a success message is returned even though the default branch did not change.</p></note>",
      "operationName" : "UpdateDefaultBranch",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDefaultBranchRequest",
        "variableType" : "UpdateDefaultBranchRequest",
        "variableDeclarationType" : "UpdateDefaultBranchRequest",
        "documentation" : "<p>Represents the input of an update default branch operation.</p>",
        "simpleType" : "UpdateDefaultBranchRequest",
        "variableSetterType" : "UpdateDefaultBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDefaultBranchResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified branch name is not valid.</p>"
      }, {
        "exceptionName" : "BranchDoesNotExistException",
        "documentation" : "<p>The specified branch does not exist.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateDefaultBranchResult",
      "asyncReturnType" : "UpdateDefaultBranchResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDefaultBranchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDefaultBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDefaultBranchRequest, UpdateDefaultBranchResult>",
      "authenticated" : true,
      "methodName" : "updateDefaultBranch"
    },
    "UpdateRepositoryDescription" : {
      "documentation" : "<p>Sets or changes the comment or description for a repository.</p> <note><p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p></note>",
      "operationName" : "UpdateRepositoryDescription",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateRepositoryDescriptionRequest",
        "variableType" : "UpdateRepositoryDescriptionRequest",
        "variableDeclarationType" : "UpdateRepositoryDescriptionRequest",
        "documentation" : "<p>Represents the input of an update repository description operation.</p>",
        "simpleType" : "UpdateRepositoryDescriptionRequest",
        "variableSetterType" : "UpdateRepositoryDescriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateRepositoryDescriptionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      }, {
        "exceptionName" : "InvalidRepositoryDescriptionException",
        "documentation" : "<p>The specified repository description is not valid.</p>"
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>"
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>"
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>"
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateRepositoryDescriptionResult",
      "asyncReturnType" : "UpdateRepositoryDescriptionResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRepositoryDescriptionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRepositoryDescriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRepositoryDescriptionRequest, UpdateRepositoryDescriptionResult>",
      "authenticated" : true,
      "methodName" : "updateRepositoryDescription"
    },
    "UpdateRepositoryName" : {
      "documentation" : "<p>Renames a repository. The repository name must be unique across the calling AWS account. In addition, repository names are limited to 100 alphanumeric, dash, and underscore characters, and cannot include certain characters. The suffix \".git\" is prohibited. For a full description of the limits on repository names, see <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/limits.html\">Limits</a> in the AWS CodeCommit User Guide.</p>",
      "operationName" : "UpdateRepositoryName",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateRepositoryNameRequest",
        "variableType" : "UpdateRepositoryNameRequest",
        "variableDeclarationType" : "UpdateRepositoryNameRequest",
        "documentation" : "<p>Represents the input of an update repository description operation.</p>",
        "simpleType" : "UpdateRepositoryNameRequest",
        "variableSetterType" : "UpdateRepositoryNameRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateRepositoryNameResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>"
      }, {
        "exceptionName" : "RepositoryNameExistsException",
        "documentation" : "<p>The specified repository name already exists.</p>"
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note><p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p></note>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateRepositoryNameResult",
      "asyncReturnType" : "UpdateRepositoryNameResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRepositoryNameResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRepositoryNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRepositoryNameRequest, UpdateRepositoryNameResult>",
      "authenticated" : true,
      "methodName" : "updateRepositoryName"
    }
  },
  "shapes" : {
    "RepositoryLimitExceededException" : {
      "c2jName" : "RepositoryLimitExceededException",
      "documentation" : "<p>A repository resource limit was exceeded.</p>",
      "shapeName" : "RepositoryLimitExceededException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "repositoryLimitExceededException",
        "variableType" : "RepositoryLimitExceededException",
        "variableDeclarationType" : "RepositoryLimitExceededException",
        "documentation" : null,
        "simpleType" : "RepositoryLimitExceededException",
        "variableSetterType" : "RepositoryLimitExceededException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "RepositoryLimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "UpdateDefaultBranchResult" : {
      "c2jName" : "UpdateDefaultBranchResult",
      "documentation" : null,
      "shapeName" : "UpdateDefaultBranchResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "updateDefaultBranchResult",
        "variableType" : "UpdateDefaultBranchResult",
        "variableDeclarationType" : "UpdateDefaultBranchResult",
        "documentation" : null,
        "simpleType" : "UpdateDefaultBranchResult",
        "variableSetterType" : "UpdateDefaultBranchResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "TestRepositoryTriggersRequest" : {
      "c2jName" : "TestRepositoryTriggersInput",
      "documentation" : "<p>Represents the input of a test repository triggers operation.</p>",
      "shapeName" : "TestRepositoryTriggersRequest",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the repository in which to test the triggers.</p>",
        "name" : "RepositoryName",
        "c2jName" : "repositoryName",
        "c2jShape" : "RepositoryName",
        "variable" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the repository in which to test the triggers.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repositoryName",
          "marshallLocationName" : "repositoryName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the repository in which to test the triggers.</p>\n@param repositoryName The name of the repository in which to test the triggers.*/",
        "getterDocumentation" : "/**<p>The name of the repository in which to test the triggers.</p>\n@return The name of the repository in which to test the triggers.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the repository in which to test the triggers.</p>\n@param repositoryName The name of the repository in which to test the triggers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the repository in which to test the triggers.</p>\n@param repositoryName The name of the repository in which to test the triggers.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The list of triggers to test.</p>",
        "name" : "Triggers",
        "c2jName" : "triggers",
        "c2jShape" : "RepositoryTriggersList",
        "variable" : {
          "variableName" : "triggers",
          "variableType" : "java.util.List<RepositoryTrigger>",
          "variableDeclarationType" : "java.util.List<RepositoryTrigger>",
          "documentation" : "<p>The list of triggers to test.</p>",
          "simpleType" : "List<RepositoryTrigger>",
          "variableSetterType" : "java.util.Collection<RepositoryTrigger>"
        },
        "setterModel" : {
          "variableName" : "triggers",
          "variableType" : "java.util.List<RepositoryTrigger>",
          "variableDeclarationType" : "java.util.List<RepositoryTrigger>",
          "documentation" : "",
          "simpleType" : "List<RepositoryTrigger>",
          "variableSetterType" : "java.util.Collection<RepositoryTrigger>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<RepositoryTrigger>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "triggers",
          "marshallLocationName" : "triggers",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "RepositoryTrigger",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "RepositoryTrigger",
            "variable" : {
              "variableName" : "member",
              "variableType" : "RepositoryTrigger",
              "variableDeclarationType" : "RepositoryTrigger",
              "documentation" : "",
              "simpleType" : "RepositoryTrigger",
              "variableSetterType" : "RepositoryTrigger"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "RepositoryTrigger",
              "variableDeclarationType" : "RepositoryTrigger",
              "documentation" : "",
              "simpleType" : "RepositoryTrigger",
              "variableSetterType" : "RepositoryTrigger"
            },
            "getterModel" : {
              "returnType" : "RepositoryTrigger",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "RepositoryTrigger",
          "templateType" : "java.util.List<RepositoryTrigger>",
          "templateImplType" : "java.util.ArrayList<RepositoryTrigger>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The list of triggers to test.</p>\n@param triggers The list of triggers to test.*/",
        "getterDocumentation" : "/**<p>The list of triggers to test.</p>\n@return The list of triggers to test.*/",
        "fluentSetterDocumentation" : "/**<p>The list of triggers to test.</p>\n@param triggers The list of triggers to test.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The list of triggers to test.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTriggers(java.util.Collection)} or {@link #withTriggers(java.util.Collection)} if you want to override the existing values.</p>\n@param triggers The list of triggers to test.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "testRepositoryTriggersRequest",
        "variableType" : "TestRepositoryTriggersRequest",
        "variableDeclarationType" : "TestRepositoryTriggersRequest",
        "documentation" : null,
        "simpleType" : "TestRepositoryTriggersRequest",
        "variableSetterType" : "TestRepositoryTriggersRequest"
      },
      "marshaller" : {
        "action" : "TestRepositoryTriggers",
        "verb" : "POST",
        "target" : "CodeCommit_20150413.TestRepositoryTriggers",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "RepositoryName" : {
          "documentation" : "<p>The name of the repository in which to test the triggers.</p>",
          "name" : "RepositoryName",
          "c2jName" : "repositoryName",
          "c2jShape" : "RepositoryName",
          "variable" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the repository in which to test the triggers.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "repositoryName",
            "marshallLocationName" : "repositoryName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the repository in which to test the triggers.</p>\n@param repositoryName The name of the repository in which to test the triggers.*/",
          "getterDocumentation" : "/**<p>The name of the repository in which to test the triggers.</p>\n@return The name of the repository in which to test the triggers.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the repository in which to test the triggers.</p>\n@param repositoryName The name of the repository in which to test the triggers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the repository in which to test the triggers.</p>\n@param repositoryName The name of the repository in which to test the triggers.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Triggers" : {
          "documentation" : "<p>The list of triggers to test.</p>",
          "name" : "Triggers",
          "c2jName" : "triggers",
          "c2jShape" : "RepositoryTriggersList",
          "variable" : {
            "variableName" : "triggers",
            "variableType" : "java.util.List<RepositoryTrigger>",
            "variableDeclarationType" : "java.util.List<RepositoryTrigger>",
            "documentation" : "<p>The list of triggers to test.</p>",
            "simpleType" : "List<RepositoryTrigger>",
            "variableSetterType" : "java.util.Collection<RepositoryTrigger>"
          },
          "setterModel" : {
            "variableName" : "triggers",
            "variableType" : "java.util.List<RepositoryTrigger>",
            "variableDeclarationType" : "java.util.List<RepositoryTrigger>",
            "documentation" : "",
            "simpleType" : "List<RepositoryTrigger>",
            "variableSetterType" : "java.util.Collection<RepositoryTrigger>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<RepositoryTrigger>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "triggers",
            "marshallLocationName" : "triggers",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "RepositoryTrigger",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "RepositoryTrigger",
              "variable" : {
                "variableName" : "member",
                "variableType" : "RepositoryTrigger",
                "variableDeclarationType" : "RepositoryTrigger",
                "documentation" : "",
                "simpleType" : "RepositoryTrigger",
                "variableSetterType" : "RepositoryTrigger"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "RepositoryTrigger",
                "variableDeclarationType" : "RepositoryTrigger",
                "documentation" : "",
                "simpleType" : "RepositoryTrigger",
                "variableSetterType" : "RepositoryTrigger"
              },
              "getterModel" : {
                "returnType" : "RepositoryTrigger",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "RepositoryTrigger",
            "templateType" : "java.util.List<RepositoryTrigger>",
            "templateImplType" : "java.util.ArrayList<RepositoryTrigger>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The list of triggers to test.</p>\n@param triggers The list of triggers to test.*/",
          "getterDocumentation" : "/**<p>The list of triggers to test.</p>\n@return The list of triggers to test.*/",
          "fluentSetterDocumentation" : "/**<p>The list of triggers to test.</p>\n@param triggers The list of triggers to test.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The list of triggers to test.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTriggers(java.util.Collection)} or {@link #withTriggers(java.util.Collection)} if you want to override the existing values.</p>\n@param triggers The list of triggers to test.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "EncryptionKeyDisabledException" : {
      "c2jName" : "EncryptionKeyDisabledException",
      "documentation" : "<p>The encryption key is disabled.</p>",
      "shapeName" : "EncryptionKeyDisabledException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "encryptionKeyDisabledException",
        "variableType" : "EncryptionKeyDisabledException",
        "variableDeclarationType" : "EncryptionKeyDisabledException",
        "documentation" : null,
        "simpleType" : "EncryptionKeyDisabledException",
        "variableSetterType" : "EncryptionKeyDisabledException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "EncryptionKeyDisabledException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "DeleteRepositoryResult" : {
      "c2jName" : "DeleteRepositoryOutput",
      "documentation" : "<p>Represents the output of a delete repository operation.</p>",
      "shapeName" : "DeleteRepositoryResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ID of the repository that was deleted.</p>",
        "name" : "RepositoryId",
        "c2jName" : "repositoryId",
        "c2jShape" : "RepositoryId",
        "variable" : {
          "variableName" : "repositoryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the repository that was deleted.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "repositoryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repositoryId",
          "marshallLocationName" : "repositoryId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the repository that was deleted.</p>\n@param repositoryId The ID of the repository that was deleted.*/",
        "getterDocumentation" : "/**<p>The ID of the repository that was deleted.</p>\n@return The ID of the repository that was deleted.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the repository that was deleted.</p>\n@param repositoryId The ID of the repository that was deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the repository that was deleted.</p>\n@param repositoryId The ID of the repository that was deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "deleteRepositoryResult",
        "variableType" : "DeleteRepositoryResult",
        "variableDeclarationType" : "DeleteRepositoryResult",
        "documentation" : null,
        "simpleType" : "DeleteRepositoryResult",
        "variableSetterType" : "DeleteRepositoryResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "RepositoryId" : {
          "documentation" : "<p>The ID of the repository that was deleted.</p>",
          "name" : "RepositoryId",
          "c2jName" : "repositoryId",
          "c2jShape" : "RepositoryId",
          "variable" : {
            "variableName" : "repositoryId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID of the repository that was deleted.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "repositoryId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "repositoryId",
            "marshallLocationName" : "repositoryId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID of the repository that was deleted.</p>\n@param repositoryId The ID of the repository that was deleted.*/",
          "getterDocumentation" : "/**<p>The ID of the repository that was deleted.</p>\n@return The ID of the repository that was deleted.*/",
          "fluentSetterDocumentation" : "/**<p>The ID of the repository that was deleted.</p>\n@param repositoryId The ID of the repository that was deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID of the repository that was deleted.</p>\n@param repositoryId The ID of the repository that was deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CreateBranchRequest" : {
      "c2jName" : "CreateBranchInput",
      "documentation" : "<p>Represents the input of a create branch operation.</p>",
      "shapeName" : "CreateBranchRequest",
      "deprecated" : false,
      "required" : [ "repositoryName", "branchName", "commitId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the repository in which you want to create the new branch.</p>",
        "name" : "RepositoryName",
        "c2jName" : "repositoryName",
        "c2jShape" : "RepositoryName",
        "variable" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the repository in which you want to create the new branch.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repositoryName",
          "marshallLocationName" : "repositoryName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.*/",
        "getterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@return The name of the repository in which you want to create the new branch.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The name of the new branch to create.</p>",
        "name" : "BranchName",
        "c2jName" : "branchName",
        "c2jShape" : "BranchName",
        "variable" : {
          "variableName" : "branchName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the new branch to create.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "branchName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "branchName",
          "marshallLocationName" : "branchName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.*/",
        "getterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@return The name of the new branch to create.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The ID of the commit to point the new branch to.</p>",
        "name" : "CommitId",
        "c2jName" : "commitId",
        "c2jShape" : "CommitId",
        "variable" : {
          "variableName" : "commitId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the commit to point the new branch to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "commitId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "commitId",
          "marshallLocationName" : "commitId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p>\n@param commitId The ID of the commit to point the new branch to.*/",
        "getterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p>\n@return The ID of the commit to point the new branch to.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p>\n@param commitId The ID of the commit to point the new branch to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p>\n@param commitId The ID of the commit to point the new branch to.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createBranchRequest",
        "variableType" : "CreateBranchRequest",
        "variableDeclarationType" : "CreateBranchRequest",
        "documentation" : null,
        "simpleType" : "CreateBranchRequest",
        "variableSetterType" : "CreateBranchRequest"
      },
      "marshaller" : {
        "action" : "CreateBranch",
        "verb" : "POST",
        "target" : "CodeCommit_20150413.CreateBranch",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "CommitId" : {
          "documentation" : "<p>The ID of the commit to point the new branch to.</p>",
          "name" : "CommitId",
          "c2jName" : "commitId",
          "c2jShape" : "CommitId",
          "variable" : {
            "variableName" : "commitId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID of the commit to point the new branch to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "commitId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "commitId",
            "marshallLocationName" : "commitId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p>\n@param commitId The ID of the commit to point the new branch to.*/",
          "getterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p>\n@return The ID of the commit to point the new branch to.*/",
          "fluentSetterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p>\n@param commitId The ID of the commit to point the new branch to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID of the commit to point the new branch to.</p>\n@param commitId The ID of the commit to point the new branch to.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RepositoryName" : {
          "documentation" : "<p>The name of the repository in which you want to create the new branch.</p>",
          "name" : "RepositoryName",
          "c2jName" : "repositoryName",
          "c2jShape" : "RepositoryName",
          "variable" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the repository in which you want to create the new branch.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "repositoryName",
            "marshallLocationName" : "repositoryName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.*/",
          "getterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@return The name of the repository in which you want to create the new branch.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the repository in which you want to create the new branch.</p>\n@param repositoryName The name of the repository in which you want to create the new branch.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "BranchName" : {
          "documentation" : "<p>The name of the new branch to create.</p>",
          "name" : "BranchName",
          "c2jName" : "branchName",
          "c2jShape" : "BranchName",
          "variable" : {
            "variableName" : "branchName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the new branch to create.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "branchName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "branchName",
            "marshallLocationName" : "branchName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.*/",
          "getterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@return The name of the new branch to create.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the new branch to create.</p>\n@param branchName The name of the new branch to create.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CommitIdRequiredException" : {
      "c2jName" : "CommitIdRequiredException",
      "documentation" : "<p>A commit ID was not specified.</p>",
      "shapeName" : "CommitIdRequiredException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "commitIdRequiredException",
        "variableType" : "CommitIdRequiredException",
        "variableDeclarationType" : "CommitIdRequiredException",
        "documentation" : null,
        "simpleType" : "CommitIdRequiredException",
        "variableSetterType" : "CommitIdRequiredException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "CommitIdRequiredException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "DeleteRepositoryRequest" : {
      "c2jName" : "DeleteRepositoryInput",
      "documentation" : "<p>Represents the input of a delete repository operation.</p>",
      "shapeName" : "DeleteRepositoryRequest",
      "deprecated" : false,
      "required" : [ "repositoryName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the repository to delete.</p>",
        "name" : "RepositoryName",
        "c2jName" : "repositoryName",
        "c2jShape" : "RepositoryName",
        "variable" : {
[...]
