{
  "metadata" : {
    "apiVersion" : "2010-12-01",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Elastic Beanstalk</fullname> <p>AWS Elastic Beanstalk makes it easy for you to create, deploy, and manage scalable, fault-tolerant applications running on the Amazon Web Services cloud.</p> <p>For more information about this product, go to the <a href=\"http://aws.amazon.com/elasticbeanstalk/\">AWS Elastic Beanstalk</a> details page. The location of the latest AWS Elastic Beanstalk WSDL is <a href=\"http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl\">http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl</a>. To install the Software Development Kits (SDKs), Integrated Development Environment (IDE) Toolkits, and command line tools that enable you to access the API, go to <a href=\"https://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> <p><b>Endpoints</b></p> <p>For a list of region-specific endpoints that AWS Elastic Beanstalk supports, go to <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">Regions and Endpoints</a> in the <i>Amazon Web Services Glossary</i>.</p>",
    "defaultEndpoint" : "https://elasticbeanstalk.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticbeanstalk.us-east-1.amazonaws.com",
    "syncInterface" : "AWSElasticBeanstalk",
    "syncClient" : "AWSElasticBeanstalkClient",
    "asyncInterface" : "AWSElasticBeanstalkAsync",
    "asyncClient" : "AWSElasticBeanstalkAsyncClient",
    "packageName" : "com.amazonaws.services.elasticbeanstalk",
    "packagePath" : "com/amazonaws/services/elasticbeanstalk",
    "serviceAbbreviation" : "Elastic Beanstalk",
    "serviceFullName" : "AWS Elastic Beanstalk",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "elasticbeanstalk",
    "signingName" : "elasticbeanstalk",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "jsonProtocol" : false,
    "syncClientBuilderClassName" : "AWSElasticBeanstalkClientBuilder",
    "asyncClientBuilderClassName" : "AWSElasticBeanstalkAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSElasticBeanstalkModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticbeanstalk.smoketests",
    "serviceName" : "Elastic Beanstalk",
    "cborProtocol" : false,
    "xmlProtocol" : true,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "AbortEnvironmentUpdate" : {
      "documentation" : "<p>Cancels in-progress environment configuration update or application version deployment.</p>",
      "operationName" : "AbortEnvironmentUpdate",
      "deprecated" : false,
      "input" : {
        "variableName" : "abortEnvironmentUpdateRequest",
        "variableType" : "AbortEnvironmentUpdateRequest",
        "variableDeclarationType" : "AbortEnvironmentUpdateRequest",
        "documentation" : "<p/>",
        "simpleType" : "AbortEnvironmentUpdateRequest",
        "variableSetterType" : "AbortEnvironmentUpdateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AbortEnvironmentUpdateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "abortEnvironmentUpdate",
      "syncReturnType" : "AbortEnvironmentUpdateResult",
      "asyncReturnType" : "AbortEnvironmentUpdateResult",
      "asyncFutureType" : "java.util.concurrent.Future<AbortEnvironmentUpdateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AbortEnvironmentUpdateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AbortEnvironmentUpdateRequest, AbortEnvironmentUpdateResult>",
      "authenticated" : true
    },
    "ApplyEnvironmentManagedAction" : {
      "documentation" : "<p>Applies a scheduled managed action immediately. A managed action can be applied only if its status is <code>Scheduled</code>. Get the status and action ID of a managed action with <a>DescribeEnvironmentManagedActions</a>.</p>",
      "operationName" : "ApplyEnvironmentManagedAction",
      "deprecated" : false,
      "input" : {
        "variableName" : "applyEnvironmentManagedActionRequest",
        "variableType" : "ApplyEnvironmentManagedActionRequest",
        "variableDeclarationType" : "ApplyEnvironmentManagedActionRequest",
        "documentation" : "<p>Request to execute a scheduled managed action immediately.</p>",
        "simpleType" : "ApplyEnvironmentManagedActionRequest",
        "variableSetterType" : "ApplyEnvironmentManagedActionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ApplyEnvironmentManagedActionResult",
        "documentation" : "<p>The result message containing information about the managed action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      }, {
        "exceptionName" : "ManagedActionInvalidStateException",
        "documentation" : "<p>Cannot modify the managed action in its current state.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "applyEnvironmentManagedAction",
      "syncReturnType" : "ApplyEnvironmentManagedActionResult",
      "asyncReturnType" : "ApplyEnvironmentManagedActionResult",
      "asyncFutureType" : "java.util.concurrent.Future<ApplyEnvironmentManagedActionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ApplyEnvironmentManagedActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ApplyEnvironmentManagedActionRequest, ApplyEnvironmentManagedActionResult>",
      "authenticated" : true
    },
    "CheckDNSAvailability" : {
      "documentation" : "<p> Checks if the specified CNAME is available. </p>",
      "operationName" : "CheckDNSAvailability",
      "deprecated" : false,
      "input" : {
        "variableName" : "checkDNSAvailabilityRequest",
        "variableType" : "CheckDNSAvailabilityRequest",
        "variableDeclarationType" : "CheckDNSAvailabilityRequest",
        "documentation" : "<p>Results message indicating whether a CNAME is available.</p>",
        "simpleType" : "CheckDNSAvailabilityRequest",
        "variableSetterType" : "CheckDNSAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CheckDNSAvailabilityResult",
        "documentation" : "<p>Indicates if the specified CNAME is available.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "checkDNSAvailability",
      "syncReturnType" : "CheckDNSAvailabilityResult",
      "asyncReturnType" : "CheckDNSAvailabilityResult",
      "asyncFutureType" : "java.util.concurrent.Future<CheckDNSAvailabilityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CheckDNSAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckDNSAvailabilityRequest, CheckDNSAvailabilityResult>",
      "authenticated" : true
    },
    "ComposeEnvironments" : {
      "documentation" : "<p>Create or update a group of environments that each run a separate component of a single application. Takes a list of version labels that specify application source bundles for each of the environments to create or update. The name of each environment and other required information must be included in the source bundles in an environment manifest named <code>env.yaml</code>. See <a href=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-mgmt-compose.html\">Compose Environments</a> for details.</p>",
      "operationName" : "ComposeEnvironments",
      "deprecated" : false,
      "input" : {
        "variableName" : "composeEnvironmentsRequest",
        "variableType" : "ComposeEnvironmentsRequest",
        "variableDeclarationType" : "ComposeEnvironmentsRequest",
        "documentation" : "<p>Request to create or update a group of environments.</p>",
        "simpleType" : "ComposeEnvironmentsRequest",
        "variableSetterType" : "ComposeEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ComposeEnvironmentsResult",
        "documentation" : "<p>Result message containing a list of environment descriptions.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyEnvironmentsException",
        "documentation" : "<p>The specified account has reached its limit of environments.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "composeEnvironments",
      "syncReturnType" : "ComposeEnvironmentsResult",
      "asyncReturnType" : "ComposeEnvironmentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ComposeEnvironmentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ComposeEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ComposeEnvironmentsRequest, ComposeEnvironmentsResult>",
      "authenticated" : true
    },
    "CreateApplication" : {
      "documentation" : "<p> Creates an application that has one configuration template named <code>default</code> and no application versions. </p>",
      "operationName" : "CreateApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "variableDeclarationType" : "CreateApplicationRequest",
        "documentation" : "<p>Request to create an application.</p>",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : "<p>Result message containing a single description of an application.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyApplicationsException",
        "documentation" : "<p>The specified account has reached its limit of applications.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createApplication",
      "syncReturnType" : "CreateApplicationResult",
      "asyncReturnType" : "CreateApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "authenticated" : true
    },
    "CreateApplicationVersion" : {
      "documentation" : "<p>Creates an application version for the specified application.</p> <note>Once you create an application version with a specified Amazon S3 bucket and key location, you cannot change that Amazon S3 location. If you change the Amazon S3 location, you receive an exception when you attempt to launch an environment from the application version. </note>",
      "operationName" : "CreateApplicationVersion",
      "deprecated" : false,
      "input" : {
        "variableName" : "createApplicationVersionRequest",
        "variableType" : "CreateApplicationVersionRequest",
        "variableDeclarationType" : "CreateApplicationVersionRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateApplicationVersionRequest",
        "variableSetterType" : "CreateApplicationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateApplicationVersionResult",
        "documentation" : "<p> Result message wrapping a single description of an application version. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyApplicationsException",
        "documentation" : "<p>The specified account has reached its limit of applications.</p>"
      }, {
        "exceptionName" : "TooManyApplicationVersionsException",
        "documentation" : "<p>The specified account has reached its limit of application versions.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "S3LocationNotInServiceRegionException",
        "documentation" : "<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createApplicationVersion",
      "syncReturnType" : "CreateApplicationVersionResult",
      "asyncReturnType" : "CreateApplicationVersionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationVersionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationVersionRequest, CreateApplicationVersionResult>",
      "authenticated" : true
    },
    "CreateConfigurationTemplate" : {
      "documentation" : "<p>Creates a configuration template. Templates are associated with a specific application and are used to deploy different versions of the application with the same configuration settings.</p> <p>Related Topics</p> <ul> <li> <a>DescribeConfigurationOptions</a> </li> <li> <a>DescribeConfigurationSettings</a> </li> <li> <a>ListAvailableSolutionStacks</a> </li> </ul>",
      "operationName" : "CreateConfigurationTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "createConfigurationTemplateRequest",
        "variableType" : "CreateConfigurationTemplateRequest",
        "variableDeclarationType" : "CreateConfigurationTemplateRequest",
        "documentation" : "<p>Request to create a configuration template.</p>",
        "simpleType" : "CreateConfigurationTemplateRequest",
        "variableSetterType" : "CreateConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateConfigurationTemplateResult",
        "documentation" : "<p> Describes the settings for a configuration set. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      }, {
        "exceptionName" : "TooManyConfigurationTemplatesException",
        "documentation" : "<p>The specified account has reached its limit of configuration templates.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createConfigurationTemplate",
      "syncReturnType" : "CreateConfigurationTemplateResult",
      "asyncReturnType" : "CreateConfigurationTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationTemplateRequest, CreateConfigurationTemplateResult>",
      "authenticated" : true
    },
    "CreateEnvironment" : {
      "documentation" : "<p>Launches an environment for the specified application using the specified configuration.</p>",
      "operationName" : "CreateEnvironment",
      "deprecated" : false,
      "input" : {
        "variableName" : "createEnvironmentRequest",
        "variableType" : "CreateEnvironmentRequest",
        "variableDeclarationType" : "CreateEnvironmentRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateEnvironmentRequest",
        "variableSetterType" : "CreateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateEnvironmentResult",
        "documentation" : "<p>Describes the properties of an environment.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyEnvironmentsException",
        "documentation" : "<p>The specified account has reached its limit of environments.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createEnvironment",
      "syncReturnType" : "CreateEnvironmentResult",
      "asyncReturnType" : "CreateEnvironmentResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEnvironmentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEnvironmentRequest, CreateEnvironmentResult>",
      "authenticated" : true
    },
    "CreateStorageLocation" : {
      "documentation" : "<p> Creates the Amazon S3 storage location for the account. </p> <p> This location is used to store user log files. </p>",
      "operationName" : "CreateStorageLocation",
      "deprecated" : false,
      "input" : {
        "variableName" : "createStorageLocationRequest",
        "variableType" : "CreateStorageLocationRequest",
        "variableDeclarationType" : "CreateStorageLocationRequest",
        "documentation" : null,
        "simpleType" : "CreateStorageLocationRequest",
        "variableSetterType" : "CreateStorageLocationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateStorageLocationResult",
        "documentation" : "<p>Results of a <a>CreateStorageLocationResult</a> call.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      }, {
        "exceptionName" : "S3SubscriptionRequiredException",
        "documentation" : "<p>The specified account does not have a subscription to Amazon S3.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createStorageLocation",
      "syncReturnType" : "CreateStorageLocationResult",
      "asyncReturnType" : "CreateStorageLocationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStorageLocationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStorageLocationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStorageLocationRequest, CreateStorageLocationResult>",
      "authenticated" : true
    },
    "DeleteApplication" : {
      "documentation" : "<p> Deletes the specified application along with all associated versions and configurations. The application versions will not be deleted from your Amazon S3 bucket. </p> <note>You cannot delete an application that has a running environment. </note>",
      "operationName" : "DeleteApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "variableDeclarationType" : "DeleteApplicationRequest",
        "documentation" : "<p>Request to delete an application.</p>",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "OperationInProgressException",
        "documentation" : "<p>Unable to perform the specified operation because another operation that effects an element in this activity is already in progress.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteApplication",
      "syncReturnType" : "DeleteApplicationResult",
      "asyncReturnType" : "DeleteApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "authenticated" : true
    },
    "DeleteApplicationVersion" : {
      "documentation" : "<p> Deletes the specified version from the specified application. </p> <note>You cannot delete an application version that is associated with a running environment.</note>",
      "operationName" : "DeleteApplicationVersion",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteApplicationVersionRequest",
        "variableType" : "DeleteApplicationVersionRequest",
        "variableDeclarationType" : "DeleteApplicationVersionRequest",
        "documentation" : "<p>Request to delete an application version.</p>",
        "simpleType" : "DeleteApplicationVersionRequest",
        "variableSetterType" : "DeleteApplicationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteApplicationVersionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "SourceBundleDeletionException",
        "documentation" : "<p>Unable to delete the Amazon S3 source bundle associated with the application version. The application version was deleted successfully.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "OperationInProgressException",
        "documentation" : "<p>Unable to perform the specified operation because another operation that effects an element in this activity is already in progress.</p>"
      }, {
        "exceptionName" : "S3LocationNotInServiceRegionException",
        "documentation" : "<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteApplicationVersion",
      "syncReturnType" : "DeleteApplicationVersionResult",
      "asyncReturnType" : "DeleteApplicationVersionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationVersionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationVersionRequest, DeleteApplicationVersionResult>",
      "authenticated" : true
    },
    "DeleteConfigurationTemplate" : {
      "documentation" : "<p>Deletes the specified configuration template.</p> <note>When you launch an environment using a configuration template, the environment gets a copy of the template. You can delete or modify the environment's copy of the template without affecting the running environment.</note>",
      "operationName" : "DeleteConfigurationTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteConfigurationTemplateRequest",
        "variableType" : "DeleteConfigurationTemplateRequest",
        "variableDeclarationType" : "DeleteConfigurationTemplateRequest",
        "documentation" : "<p>Request to delete a configuration template.</p>",
        "simpleType" : "DeleteConfigurationTemplateRequest",
        "variableSetterType" : "DeleteConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteConfigurationTemplateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "OperationInProgressException",
        "documentation" : "<p>Unable to perform the specified operation because another operation that effects an element in this activity is already in progress.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteConfigurationTemplate",
      "syncReturnType" : "DeleteConfigurationTemplateResult",
      "asyncReturnType" : "DeleteConfigurationTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationTemplateRequest, DeleteConfigurationTemplateResult>",
      "authenticated" : true
    },
    "DeleteEnvironmentConfiguration" : {
      "documentation" : "<p>Deletes the draft configuration associated with the running environment.</p> <p>Updating a running environment with any configuration changes creates a draft configuration set. You can get the draft configuration using <a>DescribeConfigurationSettings</a> while the update is in progress or if the update fails. The <code>DeploymentStatus</code> for the draft configuration indicates whether the deployment is in process or has failed. The draft configuration remains in existence until it is deleted with this action.</p>",
      "operationName" : "DeleteEnvironmentConfiguration",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteEnvironmentConfigurationRequest",
        "variableType" : "DeleteEnvironmentConfigurationRequest",
        "variableDeclarationType" : "DeleteEnvironmentConfigurationRequest",
        "documentation" : "<p>Request to delete a draft environment configuration.</p>",
        "simpleType" : "DeleteEnvironmentConfigurationRequest",
        "variableSetterType" : "DeleteEnvironmentConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteEnvironmentConfigurationResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteEnvironmentConfiguration",
      "syncReturnType" : "DeleteEnvironmentConfigurationResult",
      "asyncReturnType" : "DeleteEnvironmentConfigurationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEnvironmentConfigurationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEnvironmentConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEnvironmentConfigurationRequest, DeleteEnvironmentConfigurationResult>",
      "authenticated" : true
    },
    "DescribeApplicationVersions" : {
      "documentation" : "<p>Retrieve a list of application versions stored in your AWS Elastic Beanstalk storage bucket.</p>",
      "operationName" : "DescribeApplicationVersions",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeApplicationVersionsRequest",
        "variableType" : "DescribeApplicationVersionsRequest",
        "variableDeclarationType" : "DescribeApplicationVersionsRequest",
        "documentation" : "<p>Result message containing a list of configuration descriptions.</p>",
        "simpleType" : "DescribeApplicationVersionsRequest",
        "variableSetterType" : "DescribeApplicationVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeApplicationVersionsResult",
        "documentation" : "<p>Result message wrapping a list of application version descriptions.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeApplicationVersions",
      "syncReturnType" : "DescribeApplicationVersionsResult",
      "asyncReturnType" : "DescribeApplicationVersionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationVersionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationVersionsRequest, DescribeApplicationVersionsResult>",
      "authenticated" : true
    },
    "DescribeApplications" : {
      "documentation" : "<p>Returns the descriptions of existing applications.</p>",
      "operationName" : "DescribeApplications",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeApplicationsRequest",
        "variableType" : "DescribeApplicationsRequest",
        "variableDeclarationType" : "DescribeApplicationsRequest",
        "documentation" : "<p>Request to describe one or more applications.</p>",
        "simpleType" : "DescribeApplicationsRequest",
        "variableSetterType" : "DescribeApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeApplicationsResult",
        "documentation" : "<p>Result message containing a list of application descriptions.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeApplications",
      "syncReturnType" : "DescribeApplicationsResult",
      "asyncReturnType" : "DescribeApplicationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationsRequest, DescribeApplicationsResult>",
      "authenticated" : true
    },
    "DescribeConfigurationOptions" : {
      "documentation" : "<p> Describes the configuration options that are used in a particular configuration template or environment, or that a specified solution stack defines. The description includes the values the options, their default values, and an indication of the required action on a running environment if an option value is changed. </p>",
      "operationName" : "DescribeConfigurationOptions",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConfigurationOptionsRequest",
        "variableType" : "DescribeConfigurationOptionsRequest",
        "variableDeclarationType" : "DescribeConfigurationOptionsRequest",
        "documentation" : "<p>Result message containig a list of application version descriptions. </p>",
        "simpleType" : "DescribeConfigurationOptionsRequest",
        "variableSetterType" : "DescribeConfigurationOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConfigurationOptionsResult",
        "documentation" : "<p>Describes the settings for a specified configuration set.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeConfigurationOptions",
      "syncReturnType" : "DescribeConfigurationOptionsResult",
      "asyncReturnType" : "DescribeConfigurationOptionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationOptionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationOptionsRequest, DescribeConfigurationOptionsResult>",
      "authenticated" : true
    },
    "DescribeConfigurationSettings" : {
      "documentation" : "<p> Returns a description of the settings for the specified configuration set, that is, either a configuration template or the configuration set associated with a running environment. </p> <p> When describing the settings for the configuration set associated with a running environment, it is possible to receive two sets of setting descriptions. One is the deployed configuration set, and the other is a draft configuration of an environment that is either in the process of deployment or that failed to deploy. </p> <p>Related Topics</p> <ul> <li> <a>DeleteEnvironmentConfiguration</a> </li> </ul>",
      "operationName" : "DescribeConfigurationSettings",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConfigurationSettingsRequest",
        "variableType" : "DescribeConfigurationSettingsRequest",
        "variableDeclarationType" : "DescribeConfigurationSettingsRequest",
        "documentation" : "<p>Result message containing all of the configuration settings for a specified solution stack or configuration template.</p>",
        "simpleType" : "DescribeConfigurationSettingsRequest",
        "variableSetterType" : "DescribeConfigurationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConfigurationSettingsResult",
        "documentation" : "<p>The results from a request to change the configuration settings of an environment.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeConfigurationSettings",
      "syncReturnType" : "DescribeConfigurationSettingsResult",
      "asyncReturnType" : "DescribeConfigurationSettingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationSettingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationSettingsRequest, DescribeConfigurationSettingsResult>",
      "authenticated" : true
    },
    "DescribeEnvironmentHealth" : {
      "documentation" : "<p>Returns information about the overall health of the specified environment. The <b>DescribeEnvironmentHealth</b> operation is only available with AWS Elastic Beanstalk Enhanced Health.</p>",
      "operationName" : "DescribeEnvironmentHealth",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEnvironmentHealthRequest",
        "variableType" : "DescribeEnvironmentHealthRequest",
        "variableDeclarationType" : "DescribeEnvironmentHealthRequest",
        "documentation" : "<p>See the example below to learn how to create a request body.</p>",
        "simpleType" : "DescribeEnvironmentHealthRequest",
        "variableSetterType" : "DescribeEnvironmentHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEnvironmentHealthResult",
        "documentation" : "<p>See the example below for a sample response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters is not valid. Please correct the input parameters and try the operation again.</p>"
      }, {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeEnvironmentHealth",
      "syncReturnType" : "DescribeEnvironmentHealthResult",
      "asyncReturnType" : "DescribeEnvironmentHealthResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentHealthResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentHealthRequest, DescribeEnvironmentHealthResult>",
      "authenticated" : true
    },
    "DescribeEnvironmentManagedActionHistory" : {
      "documentation" : "<p>Lists an environment's completed and failed managed actions.</p>",
      "operationName" : "DescribeEnvironmentManagedActionHistory",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEnvironmentManagedActionHistoryRequest",
        "variableType" : "DescribeEnvironmentManagedActionHistoryRequest",
        "variableDeclarationType" : "DescribeEnvironmentManagedActionHistoryRequest",
        "documentation" : "<p>Request to list completed and failed managed actions.</p>",
        "simpleType" : "DescribeEnvironmentManagedActionHistoryRequest",
        "variableSetterType" : "DescribeEnvironmentManagedActionHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEnvironmentManagedActionHistoryResult",
        "documentation" : "<p>A result message containing a list of completed and failed managed actions.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeEnvironmentManagedActionHistory",
      "syncReturnType" : "DescribeEnvironmentManagedActionHistoryResult",
      "asyncReturnType" : "DescribeEnvironmentManagedActionHistoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentManagedActionHistoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentManagedActionHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentManagedActionHistoryRequest, DescribeEnvironmentManagedActionHistoryResult>",
      "authenticated" : true
    },
    "DescribeEnvironmentManagedActions" : {
      "documentation" : "<p>Lists an environment's upcoming and in-progress managed actions.</p>",
      "operationName" : "DescribeEnvironmentManagedActions",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEnvironmentManagedActionsRequest",
        "variableType" : "DescribeEnvironmentManagedActionsRequest",
        "variableDeclarationType" : "DescribeEnvironmentManagedActionsRequest",
        "documentation" : "<p>Request to list an environment's upcoming and in-progress managed actions.</p>",
        "simpleType" : "DescribeEnvironmentManagedActionsRequest",
        "variableSetterType" : "DescribeEnvironmentManagedActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEnvironmentManagedActionsResult",
        "documentation" : "<p>The result message containing a list of managed actions.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeEnvironmentManagedActions",
      "syncReturnType" : "DescribeEnvironmentManagedActionsResult",
      "asyncReturnType" : "DescribeEnvironmentManagedActionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentManagedActionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentManagedActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentManagedActionsRequest, DescribeEnvironmentManagedActionsResult>",
      "authenticated" : true
    },
    "DescribeEnvironmentResources" : {
      "documentation" : "<p>Returns AWS resources for this environment.</p>",
      "operationName" : "DescribeEnvironmentResources",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEnvironmentResourcesRequest",
        "variableType" : "DescribeEnvironmentResourcesRequest",
        "variableDeclarationType" : "DescribeEnvironmentResourcesRequest",
        "documentation" : "<p>Request to describe the resources in an environment.</p>",
        "simpleType" : "DescribeEnvironmentResourcesRequest",
        "variableSetterType" : "DescribeEnvironmentResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEnvironmentResourcesResult",
        "documentation" : "<p>Result message containing a list of environment resource descriptions. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeEnvironmentResources",
      "syncReturnType" : "DescribeEnvironmentResourcesResult",
      "asyncReturnType" : "DescribeEnvironmentResourcesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentResourcesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentResourcesRequest, DescribeEnvironmentResourcesResult>",
      "authenticated" : true
    },
    "DescribeEnvironments" : {
      "documentation" : "<p>Returns descriptions for existing environments.</p>",
      "operationName" : "DescribeEnvironments",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEnvironmentsRequest",
        "variableType" : "DescribeEnvironmentsRequest",
        "variableDeclarationType" : "DescribeEnvironmentsRequest",
        "documentation" : "<p>Request to describe one or more environments.</p>",
        "simpleType" : "DescribeEnvironmentsRequest",
        "variableSetterType" : "DescribeEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEnvironmentsResult",
        "documentation" : "<p>Result message containing a list of environment descriptions.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeEnvironments",
      "syncReturnType" : "DescribeEnvironmentsResult",
      "asyncReturnType" : "DescribeEnvironmentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentsRequest, DescribeEnvironmentsResult>",
      "authenticated" : true
    },
    "DescribeEvents" : {
      "documentation" : "<p>Returns list of event descriptions matching criteria up to the last 6 weeks.</p> <note>This action returns the most recent 1,000 events from the specified <code>NextToken</code>.</note>",
      "operationName" : "DescribeEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEventsRequest",
        "variableType" : "DescribeEventsRequest",
        "variableDeclarationType" : "DescribeEventsRequest",
        "documentation" : "<p>Request to retrieve a list of events for an environment.</p>",
        "simpleType" : "DescribeEventsRequest",
        "variableSetterType" : "DescribeEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEventsResult",
        "documentation" : "<p>Result message wrapping a list of event descriptions.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeEvents",
      "syncReturnType" : "DescribeEventsResult",
      "asyncReturnType" : "DescribeEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventsRequest, DescribeEventsResult>",
      "authenticated" : true
    },
    "DescribeInstancesHealth" : {
      "documentation" : "<p>Returns more detailed information about the health of the specified instances (for example, CPU utilization, load average, and causes). The <b>DescribeInstancesHealth</b> operation is only available with AWS Elastic Beanstalk Enhanced Health.</p>",
      "operationName" : "DescribeInstancesHealth",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeInstancesHealthRequest",
        "variableType" : "DescribeInstancesHealthRequest",
        "variableDeclarationType" : "DescribeInstancesHealthRequest",
        "documentation" : "<p>See the example below to learn how to create a request body.</p>",
        "simpleType" : "DescribeInstancesHealthRequest",
        "variableSetterType" : "DescribeInstancesHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeInstancesHealthResult",
        "documentation" : "<p>See the example below for a sample response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters is not valid. Please correct the input parameters and try the operation again.</p>"
      }, {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeInstancesHealth",
      "syncReturnType" : "DescribeInstancesHealthResult",
      "asyncReturnType" : "DescribeInstancesHealthResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInstancesHealthResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInstancesHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInstancesHealthRequest, DescribeInstancesHealthResult>",
      "authenticated" : true
    },
    "ListAvailableSolutionStacks" : {
      "documentation" : "<p> Returns a list of the available solution stack names. </p>",
      "operationName" : "ListAvailableSolutionStacks",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAvailableSolutionStacksRequest",
        "variableType" : "ListAvailableSolutionStacksRequest",
        "variableDeclarationType" : "ListAvailableSolutionStacksRequest",
        "documentation" : null,
        "simpleType" : "ListAvailableSolutionStacksRequest",
        "variableSetterType" : "ListAvailableSolutionStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAvailableSolutionStacksResult",
        "documentation" : "<p>A list of available AWS Elastic Beanstalk solution stacks. </p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listAvailableSolutionStacks",
      "syncReturnType" : "ListAvailableSolutionStacksResult",
      "asyncReturnType" : "ListAvailableSolutionStacksResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAvailableSolutionStacksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAvailableSolutionStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAvailableSolutionStacksRequest, ListAvailableSolutionStacksResult>",
      "authenticated" : true
    },
    "RebuildEnvironment" : {
      "documentation" : "<p> Deletes and recreates all of the AWS resources (for example: the Auto Scaling group, load balancer, etc.) for a specified environment and forces a restart. </p>",
      "operationName" : "RebuildEnvironment",
      "deprecated" : false,
      "input" : {
        "variableName" : "rebuildEnvironmentRequest",
        "variableType" : "RebuildEnvironmentRequest",
        "variableDeclarationType" : "RebuildEnvironmentRequest",
        "documentation" : "<p/>",
        "simpleType" : "RebuildEnvironmentRequest",
        "variableSetterType" : "RebuildEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RebuildEnvironmentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "rebuildEnvironment",
      "syncReturnType" : "RebuildEnvironmentResult",
      "asyncReturnType" : "RebuildEnvironmentResult",
      "asyncFutureType" : "java.util.concurrent.Future<RebuildEnvironmentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RebuildEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebuildEnvironmentRequest, RebuildEnvironmentResult>",
      "authenticated" : true
    },
    "RequestEnvironmentInfo" : {
      "documentation" : "<p> Initiates a request to compile the specified type of information of the deployed environment. </p> <p> Setting the <code>InfoType</code> to <code>tail</code> compiles the last lines from the application server log files of every Amazon EC2 instance in your environment. </p> <p> Setting the <code>InfoType</code> to <code>bundle</code> compresses the application server log files for every Amazon EC2 instance into a <code>.zip</code> file. Legacy and .NET containers do not support bundle logs. </p> <p> Use <a>RetrieveEnvironmentInfo</a> to obtain the set of logs. </p> <p>Related Topics</p> <ul> <li> <a>RetrieveEnvironmentInfo</a> </li> </ul>",
      "operationName" : "RequestEnvironmentInfo",
      "deprecated" : false,
      "input" : {
        "variableName" : "requestEnvironmentInfoRequest",
        "variableType" : "RequestEnvironmentInfoRequest",
        "variableDeclarationType" : "RequestEnvironmentInfoRequest",
        "documentation" : "<p>Request to retrieve logs from an environment and store them in your Elastic Beanstalk storage bucket.</p>",
        "simpleType" : "RequestEnvironmentInfoRequest",
        "variableSetterType" : "RequestEnvironmentInfoRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RequestEnvironmentInfoResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "requestEnvironmentInfo",
      "syncReturnType" : "RequestEnvironmentInfoResult",
      "asyncReturnType" : "RequestEnvironmentInfoResult",
      "asyncFutureType" : "java.util.concurrent.Future<RequestEnvironmentInfoResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RequestEnvironmentInfoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RequestEnvironmentInfoRequest, RequestEnvironmentInfoResult>",
      "authenticated" : true
    },
    "RestartAppServer" : {
      "documentation" : "<p>Causes the environment to restart the application container server running on each Amazon EC2 instance.</p>",
      "operationName" : "RestartAppServer",
      "deprecated" : false,
      "input" : {
        "variableName" : "restartAppServerRequest",
        "variableType" : "RestartAppServerRequest",
        "variableDeclarationType" : "RestartAppServerRequest",
        "documentation" : "<p/>",
        "simpleType" : "RestartAppServerRequest",
        "variableSetterType" : "RestartAppServerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RestartAppServerResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "restartAppServer",
      "syncReturnType" : "RestartAppServerResult",
      "asyncReturnType" : "RestartAppServerResult",
      "asyncFutureType" : "java.util.concurrent.Future<RestartAppServerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RestartAppServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestartAppServerRequest, RestartAppServerResult>",
      "authenticated" : true
    },
    "RetrieveEnvironmentInfo" : {
      "documentation" : "<p>Retrieves the compiled information from a <a>RequestEnvironmentInfo</a> request.</p> <p>Related Topics</p> <ul> <li> <a>RequestEnvironmentInfo</a> </li> </ul>",
      "operationName" : "RetrieveEnvironmentInfo",
      "deprecated" : false,
      "input" : {
        "variableName" : "retrieveEnvironmentInfoRequest",
        "variableType" : "RetrieveEnvironmentInfoRequest",
        "variableDeclarationType" : "RetrieveEnvironmentInfoRequest",
        "documentation" : "<p>Request to download logs retrieved with <a>RequestEnvironmentInfo</a>.</p>",
        "simpleType" : "RetrieveEnvironmentInfoRequest",
        "variableSetterType" : "RetrieveEnvironmentInfoRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RetrieveEnvironmentInfoResult",
        "documentation" : "<p>Result message containing a description of the requested environment info.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "retrieveEnvironmentInfo",
      "syncReturnType" : "RetrieveEnvironmentInfoResult",
      "asyncReturnType" : "RetrieveEnvironmentInfoResult",
      "asyncFutureType" : "java.util.concurrent.Future<RetrieveEnvironmentInfoResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RetrieveEnvironmentInfoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetrieveEnvironmentInfoRequest, RetrieveEnvironmentInfoResult>",
      "authenticated" : true
    },
    "SwapEnvironmentCNAMEs" : {
      "documentation" : "<p> Swaps the CNAMEs of two environments. </p>",
      "operationName" : "SwapEnvironmentCNAMEs",
      "deprecated" : false,
      "input" : {
        "variableName" : "swapEnvironmentCNAMEsRequest",
        "variableType" : "SwapEnvironmentCNAMEsRequest",
        "variableDeclarationType" : "SwapEnvironmentCNAMEsRequest",
        "documentation" : "<p>Swaps the CNAMEs of two environments.</p>",
        "simpleType" : "SwapEnvironmentCNAMEsRequest",
        "variableSetterType" : "SwapEnvironmentCNAMEsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SwapEnvironmentCNAMEsResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "swapEnvironmentCNAMEs",
      "syncReturnType" : "SwapEnvironmentCNAMEsResult",
      "asyncReturnType" : "SwapEnvironmentCNAMEsResult",
      "asyncFutureType" : "java.util.concurrent.Future<SwapEnvironmentCNAMEsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SwapEnvironmentCNAMEsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SwapEnvironmentCNAMEsRequest, SwapEnvironmentCNAMEsResult>",
      "authenticated" : true
    },
    "TerminateEnvironment" : {
      "documentation" : "<p> Terminates the specified environment. </p>",
      "operationName" : "TerminateEnvironment",
      "deprecated" : false,
      "input" : {
        "variableName" : "terminateEnvironmentRequest",
        "variableType" : "TerminateEnvironmentRequest",
        "variableDeclarationType" : "TerminateEnvironmentRequest",
        "documentation" : "<p>Request to terminate an environment.</p>",
        "simpleType" : "TerminateEnvironmentRequest",
        "variableSetterType" : "TerminateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TerminateEnvironmentResult",
        "documentation" : "<p>Describes the properties of an environment.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "terminateEnvironment",
      "syncReturnType" : "TerminateEnvironmentResult",
      "asyncReturnType" : "TerminateEnvironmentResult",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateEnvironmentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateEnvironmentRequest, TerminateEnvironmentResult>",
      "authenticated" : true
    },
    "UpdateApplication" : {
      "documentation" : "<p>Updates the specified application to have the specified properties. </p> <note> If a property (for example, <code>description</code>) is not provided, the value remains unchanged. To clear these properties, specify an empty string. </note>",
      "operationName" : "UpdateApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "variableDeclarationType" : "UpdateApplicationRequest",
        "documentation" : "<p>Request to update an application.</p>",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : "<p>Result message containing a single description of an application.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateApplication",
      "syncReturnType" : "UpdateApplicationResult",
      "asyncReturnType" : "UpdateApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "authenticated" : true
    },
    "UpdateApplicationVersion" : {
      "documentation" : "<p> Updates the specified application version to have the specified properties. </p> <note> If a property (for example, <code>description</code>) is not provided, the value remains unchanged. To clear properties, specify an empty string. </note>",
      "operationName" : "UpdateApplicationVersion",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateApplicationVersionRequest",
        "variableType" : "UpdateApplicationVersionRequest",
        "variableDeclarationType" : "UpdateApplicationVersionRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateApplicationVersionRequest",
        "variableSetterType" : "UpdateApplicationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateApplicationVersionResult",
        "documentation" : "<p> Result message wrapping a single description of an application version. </p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateApplicationVersion",
      "syncReturnType" : "UpdateApplicationVersionResult",
      "asyncReturnType" : "UpdateApplicationVersionResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationVersionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationVersionRequest, UpdateApplicationVersionResult>",
      "authenticated" : true
    },
    "UpdateConfigurationTemplate" : {
      "documentation" : "<p> Updates the specified configuration template to have the specified properties or configuration option values. </p> <note> If a property (for example, <code>ApplicationName</code>) is not provided, its value remains unchanged. To clear such properties, specify an empty string. </note> <p>Related Topics</p> <ul> <li> <a>DescribeConfigurationOptions</a> </li> </ul>",
      "operationName" : "UpdateConfigurationTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateConfigurationTemplateRequest",
        "variableType" : "UpdateConfigurationTemplateRequest",
        "variableDeclarationType" : "UpdateConfigurationTemplateRequest",
        "documentation" : "<p>The result message containing the options for the specified solution stack.</p>",
        "simpleType" : "UpdateConfigurationTemplateRequest",
        "variableSetterType" : "UpdateConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateConfigurationTemplateResult",
        "documentation" : "<p> Describes the settings for a configuration set. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateConfigurationTemplate",
      "syncReturnType" : "UpdateConfigurationTemplateResult",
      "asyncReturnType" : "UpdateConfigurationTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConfigurationTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConfigurationTemplateRequest, UpdateConfigurationTemplateResult>",
      "authenticated" : true
    },
    "UpdateEnvironment" : {
      "documentation" : "<p> Updates the environment description, deploys a new application version, updates the configuration settings to an entirely new configuration template, or updates select configuration option values in the running environment. </p> <p> Attempting to update both the release and configuration is not allowed and AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. </p> <p> When updating the configuration settings to a new template or individual settings, a draft configuration is created and <a>DescribeConfigurationSettings</a> for this environment returns two setting descriptions with different <code>DeploymentStatus</code> values. </p>",
      "operationName" : "UpdateEnvironment",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateEnvironmentRequest",
        "variableType" : "UpdateEnvironmentRequest",
        "variableDeclarationType" : "UpdateEnvironmentRequest",
        "documentation" : "<p>Request to update an environment.</p>",
        "simpleType" : "UpdateEnvironmentRequest",
        "variableSetterType" : "UpdateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateEnvironmentResult",
        "documentation" : "<p>Describes the properties of an environment.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateEnvironment",
      "syncReturnType" : "UpdateEnvironmentResult",
      "asyncReturnType" : "UpdateEnvironmentResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEnvironmentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEnvironmentRequest, UpdateEnvironmentResult>",
      "authenticated" : true
    },
    "ValidateConfigurationSettings" : {
      "documentation" : "<p> Takes a set of configuration settings and either a configuration template or environment, and determines whether those values are valid. </p> <p> This action returns a list of messages indicating any errors or warnings associated with the selection of option values. </p>",
      "operationName" : "ValidateConfigurationSettings",
      "deprecated" : false,
      "input" : {
        "variableName" : "validateConfigurationSettingsRequest",
        "variableType" : "ValidateConfigurationSettingsRequest",
        "variableDeclarationType" : "ValidateConfigurationSettingsRequest",
        "documentation" : "<p>A list of validation messages for a specified configuration template. </p>",
        "simpleType" : "ValidateConfigurationSettingsRequest",
        "variableSetterType" : "ValidateConfigurationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ValidateConfigurationSettingsResult",
        "documentation" : "<p>Provides a list of validation messages.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "validateConfigurationSettings",
      "syncReturnType" : "ValidateConfigurationSettingsResult",
      "asyncReturnType" : "ValidateConfigurationSettingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ValidateConfigurationSettingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ValidateConfigurationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidateConfigurationSettingsRequest, ValidateConfigurationSettingsResult>",
      "authenticated" : true
    }
  },
  "shapes" : {
    "EnvironmentStatus" : {
      "c2jName" : "EnvironmentStatus",
      "documentation" : "",
      "shapeName" : "EnvironmentStatus",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "Launching",
        "value" : "Launching"
      }, {
        "name" : "Updating",
        "value" : "Updating"
      }, {
        "name" : "Ready",
        "value" : "Ready"
      }, {
        "name" : "Terminating",
        "value" : "Terminating"
      }, {
        "name" : "Terminated",
        "value" : "Terminated"
      } ],
      "variable" : {
        "variableName" : "environmentStatus",
        "variableType" : "EnvironmentStatus",
        "variableDeclarationType" : "EnvironmentStatus",
        "documentation" : null,
        "simpleType" : "EnvironmentStatus",
        "variableSetterType" : "EnvironmentStatus"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ValidationSeverity" : {
      "c2jName" : "ValidationSeverity",
      "documentation" : "",
      "shapeName" : "ValidationSeverity",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "Error",
        "value" : "error"
      }, {
        "name" : "Warning",
        "value" : "warning"
      } ],
      "variable" : {
        "variableName" : "validationSeverity",
        "variableType" : "ValidationSeverity",
        "variableDeclarationType" : "ValidationSeverity",
        "documentation" : null,
        "simpleType" : "ValidationSeverity",
        "variableSetterType" : "ValidationSeverity"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "EnvironmentHealth" : {
      "c2jName" : "EnvironmentHealth",
      "documentation" : "",
      "shapeName" : "EnvironmentHealth",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "Green",
        "value" : "Green"
      }, {
        "name" : "Yellow",
        "value" : "Yellow"
      }, {
        "name" : "Red",
        "value" : "Red"
      }, {
        "name" : "Grey",
        "value" : "Grey"
      } ],
      "variable" : {
        "variableName" : "environmentHealth",
        "variableType" : "EnvironmentHealth",
        "variableDeclarationType" : "EnvironmentHealth",
        "documentation" : null,
        "simpleType" : "EnvironmentHealth",
        "variableSetterType" : "EnvironmentHealth"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "UpdateConfigurationTemplateRequest" : {
      "c2jName" : "UpdateConfigurationTemplateMessage",
      "documentation" : "<p>The result message containing the options for the specified solution stack.</p>",
      "shapeName" : "UpdateConfigurationTemplateRequest",
      "deprecated" : false,
      "required" : [ "ApplicationName", "TemplateName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>",
        "name" : "ApplicationName",
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "variable" : {
          "variableName" : "applicationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "applicationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ApplicationName",
          "marshallLocationName" : "ApplicationName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@param applicationName The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.*/",
        "getterDocumentation" : "/**<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@return The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@param applicationName The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@param applicationName The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>",
        "name" : "TemplateName",
        "c2jName" : "TemplateName",
        "c2jShape" : "ConfigurationTemplateName",
        "variable" : {
          "variableName" : "templateName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "templateName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TemplateName",
          "marshallLocationName" : "TemplateName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@param templateName The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.*/",
        "getterDocumentation" : "/**<p>The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@return The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@param templateName The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@param templateName The name of the configuration template to update.</p> <p> If no configuration template is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A new description for the configuration.</p>",
        "name" : "Description",
        "c2jName" : "Description",
        "c2jShape" : "Description",
        "variable" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A new description for the configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Description",
          "marshallLocationName" : "Description",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A new description for the configuration.</p>\n@param description A new description for the configuration.*/",
        "getterDocumentation" : "/**<p>A new description for the configuration.</p>\n@return A new description for the configuration.*/",
        "fluentSetterDocumentation" : "/**<p>A new description for the configuration.</p>\n@param description A new description for the configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A new description for the configuration.</p>\n@param description A new description for the configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p> A list of configuration option settings to update with the new specified option value. </p>",
        "name" : "OptionSettings",
        "c2jName" : "OptionSettings",
        "c2jShape" : "ConfigurationOptionSettingsList",
        "variable" : {
          "variableName" : "optionSettings",
          "variableType" : "java.util.List<ConfigurationOptionSetting>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ConfigurationOptionSetting>",
          "documentation" : "<p> A list of configuration option settings to update with the new specified option value. </p>",
          "simpleType" : "List<ConfigurationOptionSetting>",
          "variableSetterType" : "java.util.Collection<ConfigurationOptionSetting>"
        },
        "setterModel" : {
          "variableName" : "optionSettings",
          "variableType" : "java.util.List<ConfigurationOptionSetting>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ConfigurationOptionSetting>",
          "documentation" : "",
          "simpleType" : "List<ConfigurationOptionSetting>",
          "variableSetterType" : "java.util.Collection<ConfigurationOptionSetting>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<ConfigurationOptionSetting>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OptionSettings",
          "marshallLocationName" : "OptionSettings",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "ConfigurationOptionSetting",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ConfigurationOptionSetting",
            "variable" : {
              "variableName" : "member",
              "variableType" : "ConfigurationOptionSetting",
              "variableDeclarationType" : "ConfigurationOptionSetting",
              "documentation" : "",
              "simpleType" : "ConfigurationOptionSetting",
              "variableSetterType" : "ConfigurationOptionSetting"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "ConfigurationOptionSetting",
              "variableDeclarationType" : "ConfigurationOptionSetting",
              "documentation" : "",
              "simpleType" : "ConfigurationOptionSetting",
              "variableSetterType" : "ConfigurationOptionSetting"
            },
            "getterModel" : {
              "returnType" : "ConfigurationOptionSetting",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simpleType" : "ConfigurationOptionSetting",
          "templateType" : "java.util.List<ConfigurationOptionSetting>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<ConfigurationOptionSetting>",
          "simple" : false,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p> A list of configuration option settings to update with the new specified option value. </p>\n@param optionSettings A list of configuration option settings to update with the new specified option value.*/",
        "getterDocumentation" : "/**<p> A list of configuration option settings to update with the new specified option value. </p>\n@return A list of configuration option settings to update with the new specified option value.*/",
        "fluentSetterDocumentation" : "/**<p> A list of configuration option settings to update with the new specified option value. </p>\n@param optionSettings A list of configuration option settings to update with the new specified option value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> A list of configuration option settings to update with the new specified option value. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOptionSettings(java.util.Collection)} or {@link #withOptionSettings(java.util.Collection)} if you want to override the existing values.</p>\n@param optionSettings A list of configuration option settings to update with the new specified option value.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p> A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options. </p>",
        "name" : "OptionsToRemove",
        "c2jName" : "OptionsToRemove",
        "c2jShape" : "OptionsSpecifierList",
        "variable" : {
          "variableName" : "optionsToRemove",
          "variableType" : "java.util.List<OptionSpecification>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<OptionSpecification>",
          "documentation" : "<p> A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options. </p>",
          "simpleType" : "List<OptionSpecification>",
          "variableSetterType" : "java.util.Collection<OptionSpecification>"
        },
        "setterModel" : {
          "variableName" : "optionsToRemove",
          "variableType" : "java.util.List<OptionSpecification>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<OptionSpecification>",
          "documentation" : "",
          "simpleType" : "List<OptionSpecification>",
          "variableSetterType" : "java.util.Collection<OptionSpecification>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<OptionSpecification>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OptionsToRemove",
          "marshallLocationName" : "OptionsToRemove",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "OptionSpecification",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "OptionSpecification",
            "variable" : {
              "variableName" : "member",
              "variableType" : "OptionSpecification",
              "variableDeclarationType" : "OptionSpecification",
              "documentation" : "",
              "simpleType" : "OptionSpecification",
              "variableSetterType" : "OptionSpecification"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "OptionSpecification",
              "variableDeclarationType" : "OptionSpecification",
              "documentation" : "",
              "simpleType" : "OptionSpecification",
              "variableSetterType" : "OptionSpecification"
            },
            "getterModel" : {
              "returnType" : "OptionSpecification",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simpleType" : "OptionSpecification",
          "templateType" : "java.util.List<OptionSpecification>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<OptionSpecification>",
          "simple" : false,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p> A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options. </p>\n@param optionsToRemove A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options.*/",
        "getterDocumentation" : "/**<p> A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options. </p>\n@return A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options.*/",
        "fluentSetterDocumentation" : "/**<p> A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options. </p>\n@param optionsToRemove A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOptionsToRemove(java.util.Collection)} or {@link #withOptionsToRemove(java.util.Collection)} if you want to override the existing values.</p>\n@param optionsToRemove A list of configuration options to remove from the configuration set. </p> <p> Constraint: You can remove only <code>UserDefined</code> configuration options.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "updateConfigurationTemplateRequest",
        "variableType" : "UpdateConfigurationTemplateRequest",
        "variableDeclarationType" : "UpdateConfigurationTemplateRequest",
        "documentation" : null,
        "simpleType" : "UpdateConfigurationTemplateRequest",
        "variableSetterType" : "UpdateConfigurationTemplateRequest"
      },
      "marshaller" : {
        "action" : "UpdateConfigurationTemplate",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ApplicationName" : {
          "documentation" : "<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>",
          "name" : "ApplicationName",
          "c2jName" : "ApplicationName",
          "c2jShape" : "ApplicationName",
          "variable" : {
            "variableName" : "applicationName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "applicationName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ApplicationName",
            "marshallLocationName" : "ApplicationName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@param applicationName The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.*/",
          "getterDocumentation" : "/**<p>The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error. </p>\n@return The name of the application associated with the configuration template to update.</p> <p> If no application is found with this name, <code>UpdateConfigurationTemplate</code> returns an <code>InvalidParameterValue</code> error.*/",
[...]
