{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-06-23",
    "asyncClient" : "AWSDeviceFarmAsyncClient",
    "asyncClientBuilderClassName" : "AWSDeviceFarmAsyncClientBuilder",
    "asyncInterface" : "AWSDeviceFarmAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSDeviceFarmModuleInjector",
    "defaultEndpoint" : "https://devicefarm.us-west-2.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "devicefarm.us-west-2.amazonaws.com",
    "documentation" : "<p>AWS Device Farm is a service that enables mobile app developers to test Android, iOS, and Fire OS apps on physical phones, tablets, and other devices in the cloud.</p>",
    "endpointPrefix" : "devicefarm",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.devicefarm",
    "packagePath" : "com/amazonaws/services/devicefarm",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Device Farm",
    "serviceName" : "AWS Device Farm",
    "signingName" : "devicefarm",
    "smokeTestsPackageName" : "com.amazonaws.services.devicefarm.smoketests",
    "syncClient" : "AWSDeviceFarmClient",
    "syncClientBuilderClassName" : "AWSDeviceFarmClientBuilder",
    "syncInterface" : "AWSDeviceFarm",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDevicePool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDevicePoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDevicePoolRequest, CreateDevicePoolResult>",
      "asyncReturnType" : "CreateDevicePoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a device pool.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDevicePoolRequest",
        "variableName" : "createDevicePoolRequest",
        "variableType" : "CreateDevicePoolRequest",
        "documentation" : "<p>Represents a request to the create device pool operation.</p>",
        "simpleType" : "CreateDevicePoolRequest",
        "variableSetterType" : "CreateDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDevicePool",
      "operationName" : "CreateDevicePool",
      "returnType" : {
        "returnType" : "CreateDevicePoolResult",
        "documentation" : "<p>Represents the result of a create device pool request.</p>"
      },
      "syncReturnType" : "CreateDevicePoolResult"
    },
    "CreateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProjectRequest, CreateProjectResult>",
      "asyncReturnType" : "CreateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new project.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateProjectRequest",
        "variableName" : "createProjectRequest",
        "variableType" : "CreateProjectRequest",
        "documentation" : "<p>Represents a request to the create project operation.</p>",
        "simpleType" : "CreateProjectRequest",
        "variableSetterType" : "CreateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProject",
      "operationName" : "CreateProject",
      "returnType" : {
        "returnType" : "CreateProjectResult",
        "documentation" : "<p>Represents the result of a create project request.</p>"
      },
      "syncReturnType" : "CreateProjectResult"
    },
    "CreateRemoteAccessSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRemoteAccessSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRemoteAccessSessionRequest, CreateRemoteAccessSessionResult>",
      "asyncReturnType" : "CreateRemoteAccessSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies and starts a remote access session.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateRemoteAccessSessionRequest",
        "variableName" : "createRemoteAccessSessionRequest",
        "variableType" : "CreateRemoteAccessSessionRequest",
        "documentation" : "<p>Creates and submits a request to start a remote access session.</p>",
        "simpleType" : "CreateRemoteAccessSessionRequest",
        "variableSetterType" : "CreateRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRemoteAccessSession",
      "operationName" : "CreateRemoteAccessSession",
      "returnType" : {
        "returnType" : "CreateRemoteAccessSessionResult",
        "documentation" : "<p>Represents the server response from a request to create a remote access session.</p>"
      },
      "syncReturnType" : "CreateRemoteAccessSessionResult"
    },
    "CreateUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUploadRequest, CreateUploadResult>",
      "asyncReturnType" : "CreateUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads an app or test scripts.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateUploadRequest",
        "variableName" : "createUploadRequest",
        "variableType" : "CreateUploadRequest",
        "documentation" : "<p>Represents a request to the create upload operation.</p>",
        "simpleType" : "CreateUploadRequest",
        "variableSetterType" : "CreateUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUpload",
      "operationName" : "CreateUpload",
      "returnType" : {
        "returnType" : "CreateUploadResult",
        "documentation" : "<p>Represents the result of a create upload request.</p>"
      },
      "syncReturnType" : "CreateUploadResult"
    },
    "DeleteDevicePool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDevicePoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDevicePoolRequest, DeleteDevicePoolResult>",
      "asyncReturnType" : "DeleteDevicePoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a device pool given the pool ARN. Does not allow deletion of curated pools owned by the system.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDevicePoolRequest",
        "variableName" : "deleteDevicePoolRequest",
        "variableType" : "DeleteDevicePoolRequest",
        "documentation" : "<p>Represents a request to the delete device pool operation.</p>",
        "simpleType" : "DeleteDevicePoolRequest",
        "variableSetterType" : "DeleteDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDevicePool",
      "operationName" : "DeleteDevicePool",
      "returnType" : {
        "returnType" : "DeleteDevicePoolResult",
        "documentation" : "<p>Represents the result of a delete device pool request.</p>"
      },
      "syncReturnType" : "DeleteDevicePoolResult"
    },
    "DeleteProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProjectRequest, DeleteProjectResult>",
      "asyncReturnType" : "DeleteProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AWS Device Farm project, given the project ARN.</p> <p> <b>Note</b> Deleting this resource does not stop an in-progress run.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteProjectRequest",
        "variableName" : "deleteProjectRequest",
        "variableType" : "DeleteProjectRequest",
        "documentation" : "<p>Represents a request to the delete project operation.</p>",
        "simpleType" : "DeleteProjectRequest",
        "variableSetterType" : "DeleteProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProject",
      "operationName" : "DeleteProject",
      "returnType" : {
        "returnType" : "DeleteProjectResult",
        "documentation" : "<p>Represents the result of a delete project request.</p>"
      },
      "syncReturnType" : "DeleteProjectResult"
    },
    "DeleteRemoteAccessSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRemoteAccessSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRemoteAccessSessionRequest, DeleteRemoteAccessSessionResult>",
      "asyncReturnType" : "DeleteRemoteAccessSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a completed remote access session and its results.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRemoteAccessSessionRequest",
        "variableName" : "deleteRemoteAccessSessionRequest",
        "variableType" : "DeleteRemoteAccessSessionRequest",
        "documentation" : "<p>Represents the request to delete the specified remote access session.</p>",
        "simpleType" : "DeleteRemoteAccessSessionRequest",
        "variableSetterType" : "DeleteRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRemoteAccessSession",
      "operationName" : "DeleteRemoteAccessSession",
      "returnType" : {
        "returnType" : "DeleteRemoteAccessSessionResult",
        "documentation" : "<p>The response from the server when a request is made to delete the remote access session.</p>"
      },
      "syncReturnType" : "DeleteRemoteAccessSessionResult"
    },
    "DeleteRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRunRequest, DeleteRunResult>",
      "asyncReturnType" : "DeleteRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the run, given the run ARN.</p> <p> <b>Note</b> Deleting this resource does not stop an in-progress run.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRunRequest",
        "variableName" : "deleteRunRequest",
        "variableType" : "DeleteRunRequest",
        "documentation" : "<p>Represents a request to the delete run operation.</p>",
        "simpleType" : "DeleteRunRequest",
        "variableSetterType" : "DeleteRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRun",
      "operationName" : "DeleteRun",
      "returnType" : {
        "returnType" : "DeleteRunResult",
        "documentation" : "<p>Represents the result of a delete run request.</p>"
      },
      "syncReturnType" : "DeleteRunResult"
    },
    "DeleteUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUploadRequest, DeleteUploadResult>",
      "asyncReturnType" : "DeleteUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an upload given the upload ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteUploadRequest",
        "variableName" : "deleteUploadRequest",
        "variableType" : "DeleteUploadRequest",
        "documentation" : "<p>Represents a request to the delete upload operation.</p>",
        "simpleType" : "DeleteUploadRequest",
        "variableSetterType" : "DeleteUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUpload",
      "operationName" : "DeleteUpload",
      "returnType" : {
        "returnType" : "DeleteUploadResult",
        "documentation" : "<p>Represents the result of a delete upload request.</p>"
      },
      "syncReturnType" : "DeleteUploadResult"
    },
    "GetAccountSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountSettingsRequest, GetAccountSettingsResult>",
      "asyncReturnType" : "GetAccountSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the number of unmetered iOS and/or unmetered Android devices that have been purchased by the account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetAccountSettingsRequest",
        "variableName" : "getAccountSettingsRequest",
        "variableType" : "GetAccountSettingsRequest",
        "documentation" : "<p>Represents the request sent to retrieve the account settings.</p>",
        "simpleType" : "GetAccountSettingsRequest",
        "variableSetterType" : "GetAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountSettings",
      "operationName" : "GetAccountSettings",
      "returnType" : {
        "returnType" : "GetAccountSettingsResult",
        "documentation" : "<p>Represents the account settings return values from the <code>GetAccountSettings</code> request.</p>"
      },
      "syncReturnType" : "GetAccountSettingsResult"
    },
    "GetDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRequest, GetDeviceResult>",
      "asyncReturnType" : "GetDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a unique device type.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDeviceRequest",
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "documentation" : "<p>Represents a request to the get device request.</p>",
        "simpleType" : "GetDeviceRequest",
        "variableSetterType" : "GetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevice",
      "operationName" : "GetDevice",
      "returnType" : {
        "returnType" : "GetDeviceResult",
        "documentation" : "<p>Represents the result of a get device request.</p>"
      },
      "syncReturnType" : "GetDeviceResult"
    },
    "GetDevicePool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicePoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicePoolRequest, GetDevicePoolResult>",
      "asyncReturnType" : "GetDevicePoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a device pool.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDevicePoolRequest",
        "variableName" : "getDevicePoolRequest",
        "variableType" : "GetDevicePoolRequest",
        "documentation" : "<p>Represents a request to the get device pool operation.</p>",
        "simpleType" : "GetDevicePoolRequest",
        "variableSetterType" : "GetDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevicePool",
      "operationName" : "GetDevicePool",
      "returnType" : {
        "returnType" : "GetDevicePoolResult",
        "documentation" : "<p>Represents the result of a get device pool request.</p>"
      },
      "syncReturnType" : "GetDevicePoolResult"
    },
    "GetDevicePoolCompatibility" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicePoolCompatibilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicePoolCompatibilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicePoolCompatibilityRequest, GetDevicePoolCompatibilityResult>",
      "asyncReturnType" : "GetDevicePoolCompatibilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about compatibility with a device pool.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDevicePoolCompatibilityRequest",
        "variableName" : "getDevicePoolCompatibilityRequest",
        "variableType" : "GetDevicePoolCompatibilityRequest",
        "documentation" : "<p>Represents a request to the get device pool compatibility operation.</p>",
        "simpleType" : "GetDevicePoolCompatibilityRequest",
        "variableSetterType" : "GetDevicePoolCompatibilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevicePoolCompatibility",
      "operationName" : "GetDevicePoolCompatibility",
      "returnType" : {
        "returnType" : "GetDevicePoolCompatibilityResult",
        "documentation" : "<p>Represents the result of describe device pool compatibility request.</p>"
      },
      "syncReturnType" : "GetDevicePoolCompatibilityResult"
    },
    "GetJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobRequest, GetJobResult>",
      "asyncReturnType" : "GetJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a job.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetJobRequest",
        "variableName" : "getJobRequest",
        "variableType" : "GetJobRequest",
        "documentation" : "<p>Represents a request to the get job operation.</p>",
        "simpleType" : "GetJobRequest",
        "variableSetterType" : "GetJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJob",
      "operationName" : "GetJob",
      "returnType" : {
        "returnType" : "GetJobResult",
        "documentation" : "<p>Represents the result of a get job request.</p>"
      },
      "syncReturnType" : "GetJobResult"
    },
    "GetOfferingStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOfferingStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOfferingStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOfferingStatusRequest, GetOfferingStatusResult>",
      "asyncReturnType" : "GetOfferingStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the current status and future status of all offerings purchased by an AWS account. The response indicates how many offerings are currently available and the offerings that will be available in the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetOfferingStatusRequest",
        "variableName" : "getOfferingStatusRequest",
        "variableType" : "GetOfferingStatusRequest",
        "documentation" : "<p>Represents the request to retrieve the offering status for the specified customer or account.</p>",
        "simpleType" : "GetOfferingStatusRequest",
        "variableSetterType" : "GetOfferingStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOfferingStatus",
      "operationName" : "GetOfferingStatus",
      "returnType" : {
        "returnType" : "GetOfferingStatusResult",
        "documentation" : "<p>Returns the status result for a device offering.</p>"
      },
      "syncReturnType" : "GetOfferingStatusResult"
    },
    "GetProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProjectRequest, GetProjectResult>",
      "asyncReturnType" : "GetProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a project.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetProjectRequest",
        "variableName" : "getProjectRequest",
        "variableType" : "GetProjectRequest",
        "documentation" : "<p>Represents a request to the get project operation.</p>",
        "simpleType" : "GetProjectRequest",
        "variableSetterType" : "GetProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProject",
      "operationName" : "GetProject",
      "returnType" : {
        "returnType" : "GetProjectResult",
        "documentation" : "<p>Represents the result of a get project request.</p>"
      },
      "syncReturnType" : "GetProjectResult"
    },
    "GetRemoteAccessSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRemoteAccessSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRemoteAccessSessionRequest, GetRemoteAccessSessionResult>",
      "asyncReturnType" : "GetRemoteAccessSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a link to a currently running remote access session.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRemoteAccessSessionRequest",
        "variableName" : "getRemoteAccessSessionRequest",
        "variableType" : "GetRemoteAccessSessionRequest",
        "documentation" : "<p>Represents the request to get information about the specified remote access session.</p>",
        "simpleType" : "GetRemoteAccessSessionRequest",
        "variableSetterType" : "GetRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRemoteAccessSession",
      "operationName" : "GetRemoteAccessSession",
      "returnType" : {
        "returnType" : "GetRemoteAccessSessionResult",
        "documentation" : "<p>Represents the response from the server that lists detailed information about the remote access session.</p>"
      },
      "syncReturnType" : "GetRemoteAccessSessionResult"
    },
    "GetRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRunRequest, GetRunResult>",
      "asyncReturnType" : "GetRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a run.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRunRequest",
        "variableName" : "getRunRequest",
        "variableType" : "GetRunRequest",
        "documentation" : "<p>Represents a request to the get run operation.</p>",
        "simpleType" : "GetRunRequest",
        "variableSetterType" : "GetRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRun",
      "operationName" : "GetRun",
      "returnType" : {
        "returnType" : "GetRunResult",
        "documentation" : "<p>Represents the result of a get run request.</p>"
      },
      "syncReturnType" : "GetRunResult"
    },
    "GetSuite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSuiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSuiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSuiteRequest, GetSuiteResult>",
      "asyncReturnType" : "GetSuiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a suite.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSuiteRequest",
        "variableName" : "getSuiteRequest",
        "variableType" : "GetSuiteRequest",
        "documentation" : "<p>Represents a request to the get suite operation.</p>",
        "simpleType" : "GetSuiteRequest",
        "variableSetterType" : "GetSuiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSuite",
      "operationName" : "GetSuite",
      "returnType" : {
        "returnType" : "GetSuiteResult",
        "documentation" : "<p>Represents the result of a get suite request.</p>"
      },
      "syncReturnType" : "GetSuiteResult"
    },
    "GetTest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTestRequest, GetTestResult>",
      "asyncReturnType" : "GetTestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a test.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetTestRequest",
        "variableName" : "getTestRequest",
        "variableType" : "GetTestRequest",
        "documentation" : "<p>Represents a request to the get test operation.</p>",
        "simpleType" : "GetTestRequest",
        "variableSetterType" : "GetTestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTest",
      "operationName" : "GetTest",
      "returnType" : {
        "returnType" : "GetTestResult",
        "documentation" : "<p>Represents the result of a get test request.</p>"
      },
      "syncReturnType" : "GetTestResult"
    },
    "GetUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUploadRequest, GetUploadResult>",
      "asyncReturnType" : "GetUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about an upload.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetUploadRequest",
        "variableName" : "getUploadRequest",
        "variableType" : "GetUploadRequest",
        "documentation" : "<p>Represents a request to the get upload operation.</p>",
        "simpleType" : "GetUploadRequest",
        "variableSetterType" : "GetUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUpload",
      "operationName" : "GetUpload",
      "returnType" : {
        "returnType" : "GetUploadResult",
        "documentation" : "<p>Represents the result of a get upload request.</p>"
      },
      "syncReturnType" : "GetUploadResult"
    },
    "InstallToRemoteAccessSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InstallToRemoteAccessSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InstallToRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InstallToRemoteAccessSessionRequest, InstallToRemoteAccessSessionResult>",
      "asyncReturnType" : "InstallToRemoteAccessSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Installs an application to the device in a remote access session. For Android applications, the file must be in .apk format. For iOS applications, the file must be in .ipa format.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "InstallToRemoteAccessSessionRequest",
        "variableName" : "installToRemoteAccessSessionRequest",
        "variableType" : "InstallToRemoteAccessSessionRequest",
        "documentation" : "<p>Represents the request to install an Android application (in .apk format) or an iOS application (in .ipa format) as part of a remote access session.</p>",
        "simpleType" : "InstallToRemoteAccessSessionRequest",
        "variableSetterType" : "InstallToRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "installToRemoteAccessSession",
      "operationName" : "InstallToRemoteAccessSession",
      "returnType" : {
        "returnType" : "InstallToRemoteAccessSessionResult",
        "documentation" : "<p>Represents the response from the server after AWS Device Farm makes a request to install to a remote access session.</p>"
      },
      "syncReturnType" : "InstallToRemoteAccessSessionResult"
    },
    "ListArtifacts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListArtifactsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListArtifactsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListArtifactsRequest, ListArtifactsResult>",
      "asyncReturnType" : "ListArtifactsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about artifacts.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListArtifactsRequest",
        "variableName" : "listArtifactsRequest",
        "variableType" : "ListArtifactsRequest",
        "documentation" : "<p>Represents a request to the list artifacts operation.</p>",
        "simpleType" : "ListArtifactsRequest",
        "variableSetterType" : "ListArtifactsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listArtifacts",
      "operationName" : "ListArtifacts",
      "returnType" : {
        "returnType" : "ListArtifactsResult",
        "documentation" : "<p>Represents the result of a list artifacts operation.</p>"
      },
      "syncReturnType" : "ListArtifactsResult"
    },
    "ListDevicePools" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicePoolsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicePoolsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicePoolsRequest, ListDevicePoolsResult>",
      "asyncReturnType" : "ListDevicePoolsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about device pools.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDevicePoolsRequest",
        "variableName" : "listDevicePoolsRequest",
        "variableType" : "ListDevicePoolsRequest",
        "documentation" : "<p>Represents the result of a list device pools request.</p>",
        "simpleType" : "ListDevicePoolsRequest",
        "variableSetterType" : "ListDevicePoolsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDevicePools",
      "operationName" : "ListDevicePools",
      "returnType" : {
        "returnType" : "ListDevicePoolsResult",
        "documentation" : "<p>Represents the result of a list device pools request.</p>"
      },
      "syncReturnType" : "ListDevicePoolsResult"
    },
    "ListDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicesRequest, ListDevicesResult>",
      "asyncReturnType" : "ListDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about unique device types.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDevicesRequest",
        "variableName" : "listDevicesRequest",
        "variableType" : "ListDevicesRequest",
        "documentation" : "<p>Represents the result of a list devices request.</p>",
        "simpleType" : "ListDevicesRequest",
        "variableSetterType" : "ListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDevices",
      "operationName" : "ListDevices",
      "returnType" : {
        "returnType" : "ListDevicesResult",
        "documentation" : "<p>Represents the result of a list devices operation.</p>"
      },
      "syncReturnType" : "ListDevicesResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about jobs.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "<p>Represents a request to the list jobs operation.</p>",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : "<p>Represents the result of a list jobs request.</p>"
      },
      "syncReturnType" : "ListJobsResult"
    },
    "ListOfferingTransactions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOfferingTransactionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOfferingTransactionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOfferingTransactionsRequest, ListOfferingTransactionsResult>",
      "asyncReturnType" : "ListOfferingTransactionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all historical purchases, renewals, and system renewal transactions for an AWS account. The list is paginated and ordered by a descending timestamp (most recent transactions are first). The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListOfferingTransactionsRequest",
        "variableName" : "listOfferingTransactionsRequest",
        "variableType" : "ListOfferingTransactionsRequest",
        "documentation" : "<p>Represents the request to list the offering transaction history.</p>",
        "simpleType" : "ListOfferingTransactionsRequest",
        "variableSetterType" : "ListOfferingTransactionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOfferingTransactions",
      "operationName" : "ListOfferingTransactions",
      "returnType" : {
        "returnType" : "ListOfferingTransactionsResult",
        "documentation" : "<p>Returns the transaction log of the specified offerings.</p>"
      },
      "syncReturnType" : "ListOfferingTransactionsResult"
    },
    "ListOfferings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOfferingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOfferingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOfferingsRequest, ListOfferingsResult>",
      "asyncReturnType" : "ListOfferingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of products or offerings that the user can manage through the API. Each offering record indicates the recurring price per unit and the frequency for that offering. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListOfferingsRequest",
        "variableName" : "listOfferingsRequest",
        "variableType" : "ListOfferingsRequest",
        "documentation" : "<p>Represents the request to list all offerings.</p>",
        "simpleType" : "ListOfferingsRequest",
        "variableSetterType" : "ListOfferingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOfferings",
      "operationName" : "ListOfferings",
      "returnType" : {
        "returnType" : "ListOfferingsResult",
        "documentation" : "<p>Represents the return values of the list of offerings.</p>"
      },
      "syncReturnType" : "ListOfferingsResult"
    },
    "ListProjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProjectsRequest, ListProjectsResult>",
      "asyncReturnType" : "ListProjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about projects.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListProjectsRequest",
        "variableName" : "listProjectsRequest",
        "variableType" : "ListProjectsRequest",
        "documentation" : "<p>Represents a request to the list projects operation.</p>",
        "simpleType" : "ListProjectsRequest",
        "variableSetterType" : "ListProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProjects",
      "operationName" : "ListProjects",
      "returnType" : {
        "returnType" : "ListProjectsResult",
        "documentation" : "<p>Represents the result of a list projects request.</p>"
      },
      "syncReturnType" : "ListProjectsResult"
    },
    "ListRemoteAccessSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRemoteAccessSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRemoteAccessSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRemoteAccessSessionsRequest, ListRemoteAccessSessionsResult>",
      "asyncReturnType" : "ListRemoteAccessSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all currently running remote access sessions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRemoteAccessSessionsRequest",
        "variableName" : "listRemoteAccessSessionsRequest",
        "variableType" : "ListRemoteAccessSessionsRequest",
        "documentation" : "<p>Represents the request to return information about the remote access session.</p>",
        "simpleType" : "ListRemoteAccessSessionsRequest",
        "variableSetterType" : "ListRemoteAccessSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRemoteAccessSessions",
      "operationName" : "ListRemoteAccessSessions",
      "returnType" : {
        "returnType" : "ListRemoteAccessSessionsResult",
        "documentation" : "<p>Represents the response from the server after AWS Device Farm makes a request to return information about the remote access session.</p>"
      },
      "syncReturnType" : "ListRemoteAccessSessionsResult"
    },
    "ListRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRunsRequest, ListRunsResult>",
      "asyncReturnType" : "ListRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about runs, given an AWS Device Farm project ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRunsRequest",
        "variableName" : "listRunsRequest",
        "variableType" : "ListRunsRequest",
        "documentation" : "<p>Represents a request to the list runs operation.</p>",
        "simpleType" : "ListRunsRequest",
        "variableSetterType" : "ListRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRuns",
      "operationName" : "ListRuns",
      "returnType" : {
        "returnType" : "ListRunsResult",
        "documentation" : "<p>Represents the result of a list runs request.</p>"
      },
      "syncReturnType" : "ListRunsResult"
    },
    "ListSamples" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSamplesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSamplesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSamplesRequest, ListSamplesResult>",
      "asyncReturnType" : "ListSamplesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about samples, given an AWS Device Farm project ARN</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListSamplesRequest",
        "variableName" : "listSamplesRequest",
        "variableType" : "ListSamplesRequest",
        "documentation" : "<p>Represents a request to the list samples operation.</p>",
        "simpleType" : "ListSamplesRequest",
        "variableSetterType" : "ListSamplesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSamples",
      "operationName" : "ListSamples",
      "returnType" : {
        "returnType" : "ListSamplesResult",
        "documentation" : "<p>Represents the result of a list samples request.</p>"
      },
      "syncReturnType" : "ListSamplesResult"
    },
    "ListSuites" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSuitesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSuitesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSuitesRequest, ListSuitesResult>",
      "asyncReturnType" : "ListSuitesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about suites.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListSuitesRequest",
        "variableName" : "listSuitesRequest",
        "variableType" : "ListSuitesRequest",
        "documentation" : "<p>Represents a request to the list suites operation.</p>",
        "simpleType" : "ListSuitesRequest",
        "variableSetterType" : "ListSuitesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSuites",
      "operationName" : "ListSuites",
      "returnType" : {
        "returnType" : "ListSuitesResult",
        "documentation" : "<p>Represents the result of a list suites request.</p>"
      },
      "syncReturnType" : "ListSuitesResult"
    },
    "ListTests" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestsRequest, ListTestsResult>",
      "asyncReturnType" : "ListTestsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about tests.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTestsRequest",
        "variableName" : "listTestsRequest",
        "variableType" : "ListTestsRequest",
        "documentation" : "<p>Represents a request to the list tests operation.</p>",
        "simpleType" : "ListTestsRequest",
        "variableSetterType" : "ListTestsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTests",
      "operationName" : "ListTests",
      "returnType" : {
        "returnType" : "ListTestsResult",
        "documentation" : "<p>Represents the result of a list tests request.</p>"
      },
      "syncReturnType" : "ListTestsResult"
    },
    "ListUniqueProblems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUniqueProblemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUniqueProblemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUniqueProblemsRequest, ListUniqueProblemsResult>",
      "asyncReturnType" : "ListUniqueProblemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about unique problems.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListUniqueProblemsRequest",
        "variableName" : "listUniqueProblemsRequest",
        "variableType" : "ListUniqueProblemsRequest",
        "documentation" : "<p>Represents a request to the list unique problems operation.</p>",
        "simpleType" : "ListUniqueProblemsRequest",
        "variableSetterType" : "ListUniqueProblemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUniqueProblems",
      "operationName" : "ListUniqueProblems",
      "returnType" : {
        "returnType" : "ListUniqueProblemsResult",
        "documentation" : "<p>Represents the result of a list unique problems request.</p>"
      },
      "syncReturnType" : "ListUniqueProblemsResult"
    },
    "ListUploads" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUploadsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUploadsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUploadsRequest, ListUploadsResult>",
      "asyncReturnType" : "ListUploadsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about uploads, given an AWS Device Farm project ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListUploadsRequest",
        "variableName" : "listUploadsRequest",
        "variableType" : "ListUploadsRequest",
        "documentation" : "<p>Represents a request to the list uploads operation.</p>",
        "simpleType" : "ListUploadsRequest",
        "variableSetterType" : "ListUploadsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUploads",
      "operationName" : "ListUploads",
      "returnType" : {
        "returnType" : "ListUploadsResult",
        "documentation" : "<p>Represents the result of a list uploads request.</p>"
      },
      "syncReturnType" : "ListUploadsResult"
    },
    "PurchaseOffering" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PurchaseOfferingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PurchaseOfferingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PurchaseOfferingRequest, PurchaseOfferingResult>",
      "asyncReturnType" : "PurchaseOfferingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Immediately purchases offerings for an AWS account. Offerings renew with the latest total purchased quantity for an offering, unless the renewal was overridden. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PurchaseOfferingRequest",
        "variableName" : "purchaseOfferingRequest",
        "variableType" : "PurchaseOfferingRequest",
        "documentation" : "<p>Represents a request for a purchase offering.</p>",
        "simpleType" : "PurchaseOfferingRequest",
        "variableSetterType" : "PurchaseOfferingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "purchaseOffering",
      "operationName" : "PurchaseOffering",
      "returnType" : {
        "returnType" : "PurchaseOfferingResult",
        "documentation" : "<p>The result of the purchase offering (e.g., success or failure).</p>"
      },
      "syncReturnType" : "PurchaseOfferingResult"
    },
    "RenewOffering" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RenewOfferingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RenewOfferingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RenewOfferingRequest, RenewOfferingResult>",
      "asyncReturnType" : "RenewOfferingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Explicitly sets the quantity of devices to renew for an offering, starting from the <code>effectiveDate</code> of the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RenewOfferingRequest",
        "variableName" : "renewOfferingRequest",
        "variableType" : "RenewOfferingRequest",
        "documentation" : "<p>A request representing an offering renewal.</p>",
        "simpleType" : "RenewOfferingRequest",
        "variableSetterType" : "RenewOfferingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "renewOffering",
      "operationName" : "RenewOffering",
      "returnType" : {
        "returnType" : "RenewOfferingResult",
        "documentation" : "<p>The result of a renewal offering.</p>"
      },
      "syncReturnType" : "RenewOfferingResult"
    },
    "ScheduleRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ScheduleRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ScheduleRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ScheduleRunRequest, ScheduleRunResult>",
      "asyncReturnType" : "ScheduleRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Schedules a run.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "IdempotencyException",
        "documentation" : "<p>An entity with the same name already exists.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ScheduleRunRequest",
        "variableName" : "scheduleRunRequest",
        "variableType" : "ScheduleRunRequest",
        "documentation" : "<p>Represents a request to the schedule run operation.</p>",
        "simpleType" : "ScheduleRunRequest",
        "variableSetterType" : "ScheduleRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "scheduleRun",
      "operationName" : "ScheduleRun",
      "returnType" : {
        "returnType" : "ScheduleRunResult",
        "documentation" : "<p>Represents the result of a schedule run request.</p>"
      },
      "syncReturnType" : "ScheduleRunResult"
    },
    "StopRemoteAccessSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopRemoteAccessSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopRemoteAccessSessionRequest, StopRemoteAccessSessionResult>",
      "asyncReturnType" : "StopRemoteAccessSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Ends a specified remote access session.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopRemoteAccessSessionRequest",
        "variableName" : "stopRemoteAccessSessionRequest",
        "variableType" : "StopRemoteAccessSessionRequest",
        "documentation" : "<p>Represents the request to stop the remote access session.</p>",
        "simpleType" : "StopRemoteAccessSessionRequest",
        "variableSetterType" : "StopRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopRemoteAccessSession",
      "operationName" : "StopRemoteAccessSession",
      "returnType" : {
        "returnType" : "StopRemoteAccessSessionResult",
        "documentation" : "<p>Represents the response from the server that describes the remote access session when AWS Device Farm stops the session.</p>"
      },
      "syncReturnType" : "StopRemoteAccessSessionResult"
    },
    "StopRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopRunRequest, StopRunResult>",
      "asyncReturnType" : "StopRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a stop request for the current test run. AWS Device Farm will immediately stop the run on devices where tests have not started executing, and you will not be billed for these devices. On devices where tests have started executing, Setup Suite and Teardown Suite tests will run to completion before stopping execution on those devices. You will be billed for Setup, Teardown, and any tests that were in progress or already completed.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopRunRequest",
        "variableName" : "stopRunRequest",
        "variableType" : "StopRunRequest",
        "documentation" : "<p>Represents the request to stop a specific run.</p>",
        "simpleType" : "StopRunRequest",
        "variableSetterType" : "StopRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopRun",
      "operationName" : "StopRun",
      "returnType" : {
        "returnType" : "StopRunResult",
        "documentation" : "<p>Represents the results of your stop run attempt.</p>"
      },
      "syncReturnType" : "StopRunResult"
    },
    "UpdateDevicePool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDevicePoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDevicePoolRequest, UpdateDevicePoolResult>",
      "asyncReturnType" : "UpdateDevicePoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the name, description, and rules in a device pool given the attributes and the pool ARN. Rule updates are all-or-nothing, meaning they can only be updated as a whole (or not at all).</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDevicePoolRequest",
        "variableName" : "updateDevicePoolRequest",
        "variableType" : "UpdateDevicePoolRequest",
        "documentation" : "<p>Represents a request to the update device pool operation.</p>",
        "simpleType" : "UpdateDevicePoolRequest",
        "variableSetterType" : "UpdateDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDevicePool",
      "operationName" : "UpdateDevicePool",
      "returnType" : {
        "returnType" : "UpdateDevicePoolResult",
        "documentation" : "<p>Represents the result of an update device pool request.</p>"
      },
      "syncReturnType" : "UpdateDevicePoolResult"
    },
    "UpdateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProjectRequest, UpdateProjectResult>",
      "asyncReturnType" : "UpdateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified project name, given the project ARN and a new name.</p>",
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProjectRequest",
        "variableName" : "updateProjectRequest",
        "variableType" : "UpdateProjectRequest",
        "documentation" : "<p>Represents a request to the update project operation.</p>",
        "simpleType" : "UpdateProjectRequest",
        "variableSetterType" : "UpdateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProject",
      "operationName" : "UpdateProject",
      "returnType" : {
        "returnType" : "UpdateProjectResult",
        "documentation" : "<p>Represents the result of an update project request.</p>"
      },
      "syncReturnType" : "UpdateProjectResult"
    }
  },
  "shapes" : {
    "AccountSettings" : {
      "c2jName" : "AccountSettings",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A container for account-level settings within AWS Device Farm.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "awsAccountNumber",
        "c2jShape" : "AWSAccountNumber",
        "deprecated" : false,
        "documentation" : "<p>The AWS account number specified in the <code>AccountSettings</code> container.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account number specified in the <code>AccountSettings</code> container.</p>\n@param awsAccountNumber The AWS account number specified in the <code>AccountSettings</code> container.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The AWS account number specified in the <code>AccountSettings</code> container.</p>\n@return The AWS account number specified in the <code>AccountSettings</code> container.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "awsAccountNumber",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "awsAccountNumber",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AwsAccountNumber",
        "setterDocumentation" : "/**<p>The AWS account number specified in the <code>AccountSettings</code> container.</p>\n@param awsAccountNumber The AWS account number specified in the <code>AccountSettings</code> container.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "awsAccountNumber",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The AWS account number specified in the <code>AccountSettings</code> container.</p>\n@param awsAccountNumber The AWS account number specified in the <code>AccountSettings</code> container.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "awsAccountNumber",
          "variableType" : "String",
          "documentation" : "<p>The AWS account number specified in the <code>AccountSettings</code> container.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "unmeteredDevices",
        "c2jShape" : "PurchasedDevicesMap",
        "deprecated" : false,
        "documentation" : "<p>Returns the unmetered devices you have purchased or want to purchase.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Returns the unmetered devices you have purchased or want to purchase.</p>\n@param unmeteredDevices Returns the unmetered devices you have purchased or want to purchase.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Returns the unmetered devices you have purchased or want to purchase.</p>\n@return Returns the unmetered devices you have purchased or want to purchase.*/",
        "getterModel" : {
          "returnType" : "java.util.Map<String,Integer>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "unmeteredDevices",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "unmeteredDevices",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : {
            "c2jName" : "key",
            "c2jShape" : "DevicePlatform",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : "DevicePlatform",
            "fluentSetterDocumentation" : "/**\n@param key \n@return Returns a reference to this object so that method calls can be chained together.\n@see DevicePlatform*/",
            "getterDocumentation" : "/**\n@return \n@see DevicePlatform*/",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "key",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "key",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Key",
            "setterDocumentation" : "/**\n@param key \n@see DevicePlatform*/",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "key",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param key \n@return Returns a reference to this object so that method calls can be chained together.\n@see DevicePlatform*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "key",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "Integer",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Integer",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterModel" : {
              "variableDeclarationType" : "Integer",
              "variableName" : "value",
              "variableType" : "Integer",
              "documentation" : "",
              "simpleType" : "Integer",
              "variableSetterType" : "Integer"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Integer",
              "variableName" : "value",
              "variableType" : "Integer",
              "documentation" : "",
              "simpleType" : "Integer",
              "variableSetterType" : "Integer"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "Integer",
          "entryType" : "Map.Entry<String, Integer>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,Integer>",
          "templateType" : "java.util.Map<String,Integer>",
          "valueList" : false,
          "valueSimple" : true
        },
        "name" : "UnmeteredDevices",
        "setterDocumentation" : "/**<p>Returns the unmetered devices you have purchased or want to purchase.</p>\n@param unmeteredDevices Returns the unmetered devices you have purchased or want to purchase.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,Integer>",
          "variableName" : "unmeteredDevices",
          "variableType" : "java.util.Map<String,Integer>",
          "documentation" : "",
          "simpleType" : "Map<String,Integer>",
          "variableSetterType" : "java.util.Map<String,Integer>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Returns the unmetered devices you have purchased or want to purchase.</p>\n@param unmeteredDevices Returns the unmetered devices you have purchased or want to purchase.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,Integer>",
          "variableName" : "unmeteredDevices",
          "variableType" : "java.util.Map<String,Integer>",
          "documentation" : "<p>Returns the unmetered devices you have purchased or want to purchase.</p>",
          "simpleType" : "Map<String,Integer>",
          "variableSetterType" : "java.util.Map<String,Integer>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "unmeteredRemoteAccessDevices",
        "c2jShape" : "PurchasedDevicesMap",
        "deprecated" : false,
        "documentation" : "<p>Returns the unmetered remote access devices you have purchased or want to purchase.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Returns the unmetered remote access devices you have purchased or want to purchase.</p>\n@param unmeteredRemoteAccessDevices Returns the unmetered remote access devices you have purchased or want to purchase.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Returns the unmetered remote access devices you have purchased or want to purchase.</p>\n@return Returns the unmetered remote access devices you have purchased or want to purchase.*/",
        "getterModel" : {
          "returnType" : "java.util.Map<String,Integer>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "unmeteredRemoteAccessDevices",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "unmeteredRemoteAccessDevices",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : {
            "c2jName" : "key",
            "c2jShape" : "DevicePlatform",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : "DevicePlatform",
            "fluentSetterDocumentation" : "/**\n@param key \n@return Returns a reference to this object so that method calls can be chained together.\n@see DevicePlatform*/",
            "getterDocumentation" : "/**\n@return \n@see DevicePlatform*/",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "key",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "key",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Key",
            "setterDocumentation" : "/**\n@param key \n@see DevicePlatform*/",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "key",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param key \n@return Returns a reference to this object so that method calls can be chained together.\n@see DevicePlatform*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "key",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "Integer",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
[...]
