{
  "metadata" : {
    "apiVersion" : "2015-06-23",
    "exceptionUnmarshallerImpl" : null,
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>AWS Device Farm is a service that enables mobile app developers to test Android, iOS, and Fire OS apps on physical phones, tablets, and other devices in the cloud.</p>",
    "defaultEndpoint" : "https://devicefarm.us-west-2.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "devicefarm.us-west-2.amazonaws.com",
    "syncInterface" : "AWSDeviceFarm",
    "syncClient" : "AWSDeviceFarmClient",
    "asyncInterface" : "AWSDeviceFarmAsync",
    "asyncClient" : "AWSDeviceFarmAsyncClient",
    "packageName" : "com.amazonaws.services.devicefarm",
    "packagePath" : "com/amazonaws/services/devicefarm",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Device Farm",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : "application/x-amz-json-1.1",
    "endpointPrefix" : "devicefarm",
    "signingName" : "devicefarm",
    "jsonProtocol" : true,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "JsonErrorUnmarshaller",
    "serviceName" : "AWS Device Farm"
  },
  "operations" : {
    "CreateDevicePool" : {
      "documentation" : "<p>Creates a device pool.</p>",
      "operationName" : "CreateDevicePool",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDevicePoolRequest",
        "variableType" : "CreateDevicePoolRequest",
        "variableDeclarationType" : "CreateDevicePoolRequest",
        "documentation" : "<p>Represents a request to the create device pool operation.</p>",
        "variableSetterType" : "CreateDevicePoolRequest",
        "simpleType" : "CreateDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDevicePoolResult",
        "documentation" : "<p>Represents the result of a create device pool request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Creates a device pool.</p>\n@param createDevicePoolRequest Represents a request to the create device pool operation.\n@return Result of the CreateDevicePool operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Creates a device pool.</p>\n@param createDevicePoolRequest Represents a request to the create device pool operation.\n@return A Java Future containing the result of the CreateDevicePool operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Creates a device pool.</p>\n@param createDevicePoolRequest Represents a request to the create device pool operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateDevicePool operation returned by the service.*/",
      "syncReturnType" : "CreateDevicePoolResult",
      "asyncReturnType" : "CreateDevicePoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDevicePoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDevicePoolRequest, CreateDevicePoolResult>",
      "methodName" : "createDevicePool"
    },
    "CreateProject" : {
      "documentation" : "<p>Creates a new project.</p>",
      "operationName" : "CreateProject",
      "deprecated" : false,
      "input" : {
        "variableName" : "createProjectRequest",
        "variableType" : "CreateProjectRequest",
        "variableDeclarationType" : "CreateProjectRequest",
        "documentation" : "<p>Represents a request to the create project operation.</p>",
        "variableSetterType" : "CreateProjectRequest",
        "simpleType" : "CreateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateProjectResult",
        "documentation" : "<p>Represents the result of a create project request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Creates a new project.</p>\n@param createProjectRequest Represents a request to the create project operation.\n@return Result of the CreateProject operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Creates a new project.</p>\n@param createProjectRequest Represents a request to the create project operation.\n@return A Java Future containing the result of the CreateProject operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Creates a new project.</p>\n@param createProjectRequest Represents a request to the create project operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateProject operation returned by the service.*/",
      "syncReturnType" : "CreateProjectResult",
      "asyncReturnType" : "CreateProjectResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProjectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProjectRequest, CreateProjectResult>",
      "methodName" : "createProject"
    },
    "CreateUpload" : {
      "documentation" : "<p>Uploads an app or test scripts.</p>",
      "operationName" : "CreateUpload",
      "deprecated" : false,
      "input" : {
        "variableName" : "createUploadRequest",
        "variableType" : "CreateUploadRequest",
        "variableDeclarationType" : "CreateUploadRequest",
        "documentation" : "<p>Represents a request to the create upload operation.</p>",
        "variableSetterType" : "CreateUploadRequest",
        "simpleType" : "CreateUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateUploadResult",
        "documentation" : "<p>Represents the result of a create upload request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Uploads an app or test scripts.</p>\n@param createUploadRequest Represents a request to the create upload operation.\n@return Result of the CreateUpload operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Uploads an app or test scripts.</p>\n@param createUploadRequest Represents a request to the create upload operation.\n@return A Java Future containing the result of the CreateUpload operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Uploads an app or test scripts.</p>\n@param createUploadRequest Represents a request to the create upload operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateUpload operation returned by the service.*/",
      "syncReturnType" : "CreateUploadResult",
      "asyncReturnType" : "CreateUploadResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUploadResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUploadRequest, CreateUploadResult>",
      "methodName" : "createUpload"
    },
    "GetAccountSettings" : {
      "documentation" : "<p>Returns the number of unmetered iOS and/or unmetered Android devices that have been purchased by the account.</p>",
      "operationName" : "GetAccountSettings",
      "deprecated" : false,
      "input" : {
        "variableName" : "getAccountSettingsRequest",
        "variableType" : "GetAccountSettingsRequest",
        "variableDeclarationType" : "GetAccountSettingsRequest",
        "documentation" : null,
        "variableSetterType" : "GetAccountSettingsRequest",
        "simpleType" : "GetAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetAccountSettingsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Returns the number of unmetered iOS and/or unmetered Android devices that have been purchased by the account.</p>\n@param getAccountSettingsRequest null\n@return Result of the GetAccountSettings operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Returns the number of unmetered iOS and/or unmetered Android devices that have been purchased by the account.</p>\n@param getAccountSettingsRequest null\n@return A Java Future containing the result of the GetAccountSettings operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Returns the number of unmetered iOS and/or unmetered Android devices that have been purchased by the account.</p>\n@param getAccountSettingsRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetAccountSettings operation returned by the service.*/",
      "syncReturnType" : "GetAccountSettingsResult",
      "asyncReturnType" : "GetAccountSettingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountSettingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountSettingsRequest, GetAccountSettingsResult>",
      "methodName" : "getAccountSettings"
    },
    "GetDevice" : {
      "documentation" : "<p>Gets information about a unique device type.</p>",
      "operationName" : "GetDevice",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "variableDeclarationType" : "GetDeviceRequest",
        "documentation" : "<p>Represents a request to the get device request.</p>",
        "variableSetterType" : "GetDeviceRequest",
        "simpleType" : "GetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDeviceResult",
        "documentation" : "<p>Represents the result of a get device request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about a unique device type.</p>\n@param getDeviceRequest Represents a request to the get device request.\n@return Result of the GetDevice operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about a unique device type.</p>\n@param getDeviceRequest Represents a request to the get device request.\n@return A Java Future containing the result of the GetDevice operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about a unique device type.</p>\n@param getDeviceRequest Represents a request to the get device request.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetDevice operation returned by the service.*/",
      "syncReturnType" : "GetDeviceResult",
      "asyncReturnType" : "GetDeviceResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRequest, GetDeviceResult>",
      "methodName" : "getDevice"
    },
    "GetDevicePool" : {
      "documentation" : "<p>Gets information about a device pool.</p>",
      "operationName" : "GetDevicePool",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDevicePoolRequest",
        "variableType" : "GetDevicePoolRequest",
        "variableDeclarationType" : "GetDevicePoolRequest",
        "documentation" : "<p>Represents a request to the get device pool operation.</p>",
        "variableSetterType" : "GetDevicePoolRequest",
        "simpleType" : "GetDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDevicePoolResult",
        "documentation" : "<p>Represents the result of a get device pool request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about a device pool.</p>\n@param getDevicePoolRequest Represents a request to the get device pool operation.\n@return Result of the GetDevicePool operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about a device pool.</p>\n@param getDevicePoolRequest Represents a request to the get device pool operation.\n@return A Java Future containing the result of the GetDevicePool operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about a device pool.</p>\n@param getDevicePoolRequest Represents a request to the get device pool operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetDevicePool operation returned by the service.*/",
      "syncReturnType" : "GetDevicePoolResult",
      "asyncReturnType" : "GetDevicePoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicePoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicePoolRequest, GetDevicePoolResult>",
      "methodName" : "getDevicePool"
    },
    "GetDevicePoolCompatibility" : {
      "documentation" : "<p>Gets information about compatibility with a device pool.</p>",
      "operationName" : "GetDevicePoolCompatibility",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDevicePoolCompatibilityRequest",
        "variableType" : "GetDevicePoolCompatibilityRequest",
        "variableDeclarationType" : "GetDevicePoolCompatibilityRequest",
        "documentation" : "<p>Represents a request to the get device pool compatibility operation.</p>",
        "variableSetterType" : "GetDevicePoolCompatibilityRequest",
        "simpleType" : "GetDevicePoolCompatibilityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDevicePoolCompatibilityResult",
        "documentation" : "<p>Represents the result of describe device pool compatibility request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about compatibility with a device pool.</p>\n@param getDevicePoolCompatibilityRequest Represents a request to the get device pool compatibility operation.\n@return Result of the GetDevicePoolCompatibility operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about compatibility with a device pool.</p>\n@param getDevicePoolCompatibilityRequest Represents a request to the get device pool compatibility operation.\n@return A Java Future containing the result of the GetDevicePoolCompatibility operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about compatibility with a device pool.</p>\n@param getDevicePoolCompatibilityRequest Represents a request to the get device pool compatibility operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetDevicePoolCompatibility operation returned by the service.*/",
      "syncReturnType" : "GetDevicePoolCompatibilityResult",
      "asyncReturnType" : "GetDevicePoolCompatibilityResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicePoolCompatibilityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicePoolCompatibilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicePoolCompatibilityRequest, GetDevicePoolCompatibilityResult>",
      "methodName" : "getDevicePoolCompatibility"
    },
    "GetJob" : {
      "documentation" : "<p>Gets information about a job.</p>",
      "operationName" : "GetJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "getJobRequest",
        "variableType" : "GetJobRequest",
        "variableDeclarationType" : "GetJobRequest",
        "documentation" : "<p>Represents a request to the get job operation.</p>",
        "variableSetterType" : "GetJobRequest",
        "simpleType" : "GetJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetJobResult",
        "documentation" : "<p>Represents the result of a get job request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about a job.</p>\n@param getJobRequest Represents a request to the get job operation.\n@return Result of the GetJob operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about a job.</p>\n@param getJobRequest Represents a request to the get job operation.\n@return A Java Future containing the result of the GetJob operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about a job.</p>\n@param getJobRequest Represents a request to the get job operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetJob operation returned by the service.*/",
      "syncReturnType" : "GetJobResult",
      "asyncReturnType" : "GetJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobRequest, GetJobResult>",
      "methodName" : "getJob"
    },
    "GetProject" : {
      "documentation" : "<p>Gets information about a project.</p>",
      "operationName" : "GetProject",
      "deprecated" : false,
      "input" : {
        "variableName" : "getProjectRequest",
        "variableType" : "GetProjectRequest",
        "variableDeclarationType" : "GetProjectRequest",
        "documentation" : "<p>Represents a request to the get project operation.</p>",
        "variableSetterType" : "GetProjectRequest",
        "simpleType" : "GetProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetProjectResult",
        "documentation" : "<p>Represents the result of a get project request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about a project.</p>\n@param getProjectRequest Represents a request to the get project operation.\n@return Result of the GetProject operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about a project.</p>\n@param getProjectRequest Represents a request to the get project operation.\n@return A Java Future containing the result of the GetProject operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about a project.</p>\n@param getProjectRequest Represents a request to the get project operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetProject operation returned by the service.*/",
      "syncReturnType" : "GetProjectResult",
      "asyncReturnType" : "GetProjectResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetProjectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProjectRequest, GetProjectResult>",
      "methodName" : "getProject"
    },
    "GetRun" : {
      "documentation" : "<p>Gets information about a run.</p>",
      "operationName" : "GetRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRunRequest",
        "variableType" : "GetRunRequest",
        "variableDeclarationType" : "GetRunRequest",
        "documentation" : "<p>Represents a request to the get run operation.</p>",
        "variableSetterType" : "GetRunRequest",
        "simpleType" : "GetRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRunResult",
        "documentation" : "<p>Represents the result of a get run request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about a run.</p>\n@param getRunRequest Represents a request to the get run operation.\n@return Result of the GetRun operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about a run.</p>\n@param getRunRequest Represents a request to the get run operation.\n@return A Java Future containing the result of the GetRun operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about a run.</p>\n@param getRunRequest Represents a request to the get run operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetRun operation returned by the service.*/",
      "syncReturnType" : "GetRunResult",
      "asyncReturnType" : "GetRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRunRequest, GetRunResult>",
      "methodName" : "getRun"
    },
    "GetSuite" : {
      "documentation" : "<p>Gets information about a suite.</p>",
      "operationName" : "GetSuite",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSuiteRequest",
        "variableType" : "GetSuiteRequest",
        "variableDeclarationType" : "GetSuiteRequest",
        "documentation" : "<p>Represents a request to the get suite operation.</p>",
        "variableSetterType" : "GetSuiteRequest",
        "simpleType" : "GetSuiteRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSuiteResult",
        "documentation" : "<p>Represents the result of a get suite request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about a suite.</p>\n@param getSuiteRequest Represents a request to the get suite operation.\n@return Result of the GetSuite operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about a suite.</p>\n@param getSuiteRequest Represents a request to the get suite operation.\n@return A Java Future containing the result of the GetSuite operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about a suite.</p>\n@param getSuiteRequest Represents a request to the get suite operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetSuite operation returned by the service.*/",
      "syncReturnType" : "GetSuiteResult",
      "asyncReturnType" : "GetSuiteResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSuiteResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSuiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSuiteRequest, GetSuiteResult>",
      "methodName" : "getSuite"
    },
    "GetTest" : {
      "documentation" : "<p>Gets information about a test.</p>",
      "operationName" : "GetTest",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTestRequest",
        "variableType" : "GetTestRequest",
        "variableDeclarationType" : "GetTestRequest",
        "documentation" : "<p>Represents a request to the get test operation.</p>",
        "variableSetterType" : "GetTestRequest",
        "simpleType" : "GetTestRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTestResult",
        "documentation" : "<p>Represents the result of a get test request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about a test.</p>\n@param getTestRequest Represents a request to the get test operation.\n@return Result of the GetTest operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about a test.</p>\n@param getTestRequest Represents a request to the get test operation.\n@return A Java Future containing the result of the GetTest operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about a test.</p>\n@param getTestRequest Represents a request to the get test operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetTest operation returned by the service.*/",
      "syncReturnType" : "GetTestResult",
      "asyncReturnType" : "GetTestResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTestResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTestRequest, GetTestResult>",
      "methodName" : "getTest"
    },
    "GetUpload" : {
      "documentation" : "<p>Gets information about an upload.</p>",
      "operationName" : "GetUpload",
      "deprecated" : false,
      "input" : {
        "variableName" : "getUploadRequest",
        "variableType" : "GetUploadRequest",
        "variableDeclarationType" : "GetUploadRequest",
        "documentation" : "<p>Represents a request to the get upload operation.</p>",
        "variableSetterType" : "GetUploadRequest",
        "simpleType" : "GetUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetUploadResult",
        "documentation" : "<p>Represents the result of a get upload request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about an upload.</p>\n@param getUploadRequest Represents a request to the get upload operation.\n@return Result of the GetUpload operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about an upload.</p>\n@param getUploadRequest Represents a request to the get upload operation.\n@return A Java Future containing the result of the GetUpload operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about an upload.</p>\n@param getUploadRequest Represents a request to the get upload operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetUpload operation returned by the service.*/",
      "syncReturnType" : "GetUploadResult",
      "asyncReturnType" : "GetUploadResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetUploadResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUploadRequest, GetUploadResult>",
      "methodName" : "getUpload"
    },
    "ListArtifacts" : {
      "documentation" : "<p>Gets information about artifacts.</p>",
      "operationName" : "ListArtifacts",
      "deprecated" : false,
      "input" : {
        "variableName" : "listArtifactsRequest",
        "variableType" : "ListArtifactsRequest",
        "variableDeclarationType" : "ListArtifactsRequest",
        "documentation" : "<p>Represents a request to the list artifacts operation.</p>",
        "variableSetterType" : "ListArtifactsRequest",
        "simpleType" : "ListArtifactsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListArtifactsResult",
        "documentation" : "<p>Represents the result of a list artifacts operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about artifacts.</p>\n@param listArtifactsRequest Represents a request to the list artifacts operation.\n@return Result of the ListArtifacts operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about artifacts.</p>\n@param listArtifactsRequest Represents a request to the list artifacts operation.\n@return A Java Future containing the result of the ListArtifacts operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about artifacts.</p>\n@param listArtifactsRequest Represents a request to the list artifacts operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListArtifacts operation returned by the service.*/",
      "syncReturnType" : "ListArtifactsResult",
      "asyncReturnType" : "ListArtifactsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListArtifactsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListArtifactsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListArtifactsRequest, ListArtifactsResult>",
      "methodName" : "listArtifacts"
    },
    "ListDevicePools" : {
      "documentation" : "<p>Gets information about device pools.</p>",
      "operationName" : "ListDevicePools",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDevicePoolsRequest",
        "variableType" : "ListDevicePoolsRequest",
        "variableDeclarationType" : "ListDevicePoolsRequest",
        "documentation" : "<p>Represents the result of a list device pools request.</p>",
        "variableSetterType" : "ListDevicePoolsRequest",
        "simpleType" : "ListDevicePoolsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDevicePoolsResult",
        "documentation" : "<p>Represents the result of a list device pools request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about device pools.</p>\n@param listDevicePoolsRequest Represents the result of a list device pools request.\n@return Result of the ListDevicePools operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about device pools.</p>\n@param listDevicePoolsRequest Represents the result of a list device pools request.\n@return A Java Future containing the result of the ListDevicePools operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about device pools.</p>\n@param listDevicePoolsRequest Represents the result of a list device pools request.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListDevicePools operation returned by the service.*/",
      "syncReturnType" : "ListDevicePoolsResult",
      "asyncReturnType" : "ListDevicePoolsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicePoolsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicePoolsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicePoolsRequest, ListDevicePoolsResult>",
      "methodName" : "listDevicePools"
    },
    "ListDevices" : {
      "documentation" : "<p>Gets information about unique device types.</p>",
      "operationName" : "ListDevices",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDevicesRequest",
        "variableType" : "ListDevicesRequest",
        "variableDeclarationType" : "ListDevicesRequest",
        "documentation" : "<p>Represents the result of a list devices request.</p>",
        "variableSetterType" : "ListDevicesRequest",
        "simpleType" : "ListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDevicesResult",
        "documentation" : "<p>Represents the result of a list devices operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about unique device types.</p>\n@param listDevicesRequest Represents the result of a list devices request.\n@return Result of the ListDevices operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about unique device types.</p>\n@param listDevicesRequest Represents the result of a list devices request.\n@return A Java Future containing the result of the ListDevices operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about unique device types.</p>\n@param listDevicesRequest Represents the result of a list devices request.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListDevices operation returned by the service.*/",
      "syncReturnType" : "ListDevicesResult",
      "asyncReturnType" : "ListDevicesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicesRequest, ListDevicesResult>",
      "methodName" : "listDevices"
    },
    "ListJobs" : {
      "documentation" : "<p>Gets information about jobs.</p>",
      "operationName" : "ListJobs",
      "deprecated" : false,
      "input" : {
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "variableDeclarationType" : "ListJobsRequest",
        "documentation" : "<p>Represents a request to the list jobs operation.</p>",
        "variableSetterType" : "ListJobsRequest",
        "simpleType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : "<p>Represents the result of a list jobs request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about jobs.</p>\n@param listJobsRequest Represents a request to the list jobs operation.\n@return Result of the ListJobs operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about jobs.</p>\n@param listJobsRequest Represents a request to the list jobs operation.\n@return A Java Future containing the result of the ListJobs operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about jobs.</p>\n@param listJobsRequest Represents a request to the list jobs operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListJobs operation returned by the service.*/",
      "syncReturnType" : "ListJobsResult",
      "asyncReturnType" : "ListJobsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "methodName" : "listJobs"
    },
    "ListProjects" : {
      "documentation" : "<p>Gets information about projects.</p>",
      "operationName" : "ListProjects",
      "deprecated" : false,
      "input" : {
        "variableName" : "listProjectsRequest",
        "variableType" : "ListProjectsRequest",
        "variableDeclarationType" : "ListProjectsRequest",
        "documentation" : "<p>Represents a request to the list projects operation.</p>",
        "variableSetterType" : "ListProjectsRequest",
        "simpleType" : "ListProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListProjectsResult",
        "documentation" : "<p>Represents the result of a list projects request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about projects.</p>\n@param listProjectsRequest Represents a request to the list projects operation.\n@return Result of the ListProjects operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about projects.</p>\n@param listProjectsRequest Represents a request to the list projects operation.\n@return A Java Future containing the result of the ListProjects operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about projects.</p>\n@param listProjectsRequest Represents a request to the list projects operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListProjects operation returned by the service.*/",
      "syncReturnType" : "ListProjectsResult",
      "asyncReturnType" : "ListProjectsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListProjectsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProjectsRequest, ListProjectsResult>",
      "methodName" : "listProjects"
    },
    "ListRuns" : {
      "documentation" : "<p>Gets information about runs.</p>",
      "operationName" : "ListRuns",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRunsRequest",
        "variableType" : "ListRunsRequest",
        "variableDeclarationType" : "ListRunsRequest",
        "documentation" : "<p>Represents a request to the list runs operation.</p>",
        "variableSetterType" : "ListRunsRequest",
        "simpleType" : "ListRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRunsResult",
        "documentation" : "<p>Represents the result of a list runs request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about runs.</p>\n@param listRunsRequest Represents a request to the list runs operation.\n@return Result of the ListRuns operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about runs.</p>\n@param listRunsRequest Represents a request to the list runs operation.\n@return A Java Future containing the result of the ListRuns operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about runs.</p>\n@param listRunsRequest Represents a request to the list runs operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListRuns operation returned by the service.*/",
      "syncReturnType" : "ListRunsResult",
      "asyncReturnType" : "ListRunsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRunsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRunsRequest, ListRunsResult>",
      "methodName" : "listRuns"
    },
    "ListSamples" : {
      "documentation" : "<p>Gets information about samples.</p>",
      "operationName" : "ListSamples",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSamplesRequest",
        "variableType" : "ListSamplesRequest",
        "variableDeclarationType" : "ListSamplesRequest",
        "documentation" : "<p>Represents a request to the list samples operation.</p>",
        "variableSetterType" : "ListSamplesRequest",
        "simpleType" : "ListSamplesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSamplesResult",
        "documentation" : "<p>Represents the result of a list samples request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about samples.</p>\n@param listSamplesRequest Represents a request to the list samples operation.\n@return Result of the ListSamples operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about samples.</p>\n@param listSamplesRequest Represents a request to the list samples operation.\n@return A Java Future containing the result of the ListSamples operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about samples.</p>\n@param listSamplesRequest Represents a request to the list samples operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListSamples operation returned by the service.*/",
      "syncReturnType" : "ListSamplesResult",
      "asyncReturnType" : "ListSamplesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSamplesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSamplesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSamplesRequest, ListSamplesResult>",
      "methodName" : "listSamples"
    },
    "ListSuites" : {
      "documentation" : "<p>Gets information about suites.</p>",
      "operationName" : "ListSuites",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSuitesRequest",
        "variableType" : "ListSuitesRequest",
        "variableDeclarationType" : "ListSuitesRequest",
        "documentation" : "<p>Represents a request to the list suites operation.</p>",
        "variableSetterType" : "ListSuitesRequest",
        "simpleType" : "ListSuitesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSuitesResult",
        "documentation" : "<p>Represents the result of a list suites request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about suites.</p>\n@param listSuitesRequest Represents a request to the list suites operation.\n@return Result of the ListSuites operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about suites.</p>\n@param listSuitesRequest Represents a request to the list suites operation.\n@return A Java Future containing the result of the ListSuites operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about suites.</p>\n@param listSuitesRequest Represents a request to the list suites operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListSuites operation returned by the service.*/",
      "syncReturnType" : "ListSuitesResult",
      "asyncReturnType" : "ListSuitesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSuitesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSuitesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSuitesRequest, ListSuitesResult>",
      "methodName" : "listSuites"
    },
    "ListTests" : {
      "documentation" : "<p>Gets information about tests.</p>",
      "operationName" : "ListTests",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTestsRequest",
        "variableType" : "ListTestsRequest",
        "variableDeclarationType" : "ListTestsRequest",
        "documentation" : "<p>Represents a request to the list tests operation.</p>",
        "variableSetterType" : "ListTestsRequest",
        "simpleType" : "ListTestsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTestsResult",
        "documentation" : "<p>Represents the result of a list tests request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about tests.</p>\n@param listTestsRequest Represents a request to the list tests operation.\n@return Result of the ListTests operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about tests.</p>\n@param listTestsRequest Represents a request to the list tests operation.\n@return A Java Future containing the result of the ListTests operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about tests.</p>\n@param listTestsRequest Represents a request to the list tests operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListTests operation returned by the service.*/",
      "syncReturnType" : "ListTestsResult",
      "asyncReturnType" : "ListTestsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestsRequest, ListTestsResult>",
      "methodName" : "listTests"
    },
    "ListUniqueProblems" : {
      "documentation" : "<p>Gets information about unique problems.</p>",
      "operationName" : "ListUniqueProblems",
      "deprecated" : false,
      "input" : {
        "variableName" : "listUniqueProblemsRequest",
        "variableType" : "ListUniqueProblemsRequest",
        "variableDeclarationType" : "ListUniqueProblemsRequest",
        "documentation" : "<p>Represents a request to the list unique problems operation.</p>",
        "variableSetterType" : "ListUniqueProblemsRequest",
        "simpleType" : "ListUniqueProblemsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListUniqueProblemsResult",
        "documentation" : "<p>Represents the result of a list unique problems request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about unique problems.</p>\n@param listUniqueProblemsRequest Represents a request to the list unique problems operation.\n@return Result of the ListUniqueProblems operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about unique problems.</p>\n@param listUniqueProblemsRequest Represents a request to the list unique problems operation.\n@return A Java Future containing the result of the ListUniqueProblems operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about unique problems.</p>\n@param listUniqueProblemsRequest Represents a request to the list unique problems operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListUniqueProblems operation returned by the service.*/",
      "syncReturnType" : "ListUniqueProblemsResult",
      "asyncReturnType" : "ListUniqueProblemsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListUniqueProblemsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListUniqueProblemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUniqueProblemsRequest, ListUniqueProblemsResult>",
      "methodName" : "listUniqueProblems"
    },
    "ListUploads" : {
      "documentation" : "<p>Gets information about uploads.</p>",
      "operationName" : "ListUploads",
      "deprecated" : false,
      "input" : {
        "variableName" : "listUploadsRequest",
        "variableType" : "ListUploadsRequest",
        "variableDeclarationType" : "ListUploadsRequest",
        "documentation" : "<p>Represents a request to the list uploads operation.</p>",
        "variableSetterType" : "ListUploadsRequest",
        "simpleType" : "ListUploadsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListUploadsResult",
        "documentation" : "<p>Represents the result of a list uploads request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets information about uploads.</p>\n@param listUploadsRequest Represents a request to the list uploads operation.\n@return Result of the ListUploads operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Gets information about uploads.</p>\n@param listUploadsRequest Represents a request to the list uploads operation.\n@return A Java Future containing the result of the ListUploads operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets information about uploads.</p>\n@param listUploadsRequest Represents a request to the list uploads operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListUploads operation returned by the service.*/",
      "syncReturnType" : "ListUploadsResult",
      "asyncReturnType" : "ListUploadsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListUploadsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListUploadsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUploadsRequest, ListUploadsResult>",
      "methodName" : "listUploads"
    },
    "ScheduleRun" : {
      "documentation" : "<p>Schedules a run.</p>",
      "operationName" : "ScheduleRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "scheduleRunRequest",
        "variableType" : "ScheduleRunRequest",
        "variableDeclarationType" : "ScheduleRunRequest",
        "documentation" : "<p>Represents a request to the schedule run operation.</p>",
        "variableSetterType" : "ScheduleRunRequest",
        "simpleType" : "ScheduleRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ScheduleRunResult",
        "documentation" : "<p>Represents the result of a schedule run request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "IdempotencyException",
        "documentation" : "<p>An entity with the same name already exists.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "syncDocumentation" : "/**<p>Schedules a run.</p>\n@param scheduleRunRequest Represents a request to the schedule run operation.\n@return Result of the ScheduleRun operation returned by the service.\n@throws ArgumentException An invalid argument was specified.\n@throws NotFoundException The specified entity was not found.\n@throws LimitExceededException A limit was exceeded.\n@throws IdempotencyException An entity with the same name already exists.\n@throws ServiceAccountException There was a problem with the service account.*/",
      "asyncDocumentation" : "/**<p>Schedules a run.</p>\n@param scheduleRunRequest Represents a request to the schedule run operation.\n@return A Java Future containing the result of the ScheduleRun operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Schedules a run.</p>\n@param scheduleRunRequest Represents a request to the schedule run operation.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ScheduleRun operation returned by the service.*/",
      "syncReturnType" : "ScheduleRunResult",
      "asyncReturnType" : "ScheduleRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<ScheduleRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ScheduleRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ScheduleRunRequest, ScheduleRunResult>",
      "methodName" : "scheduleRun"
    }
  },
  "shapes" : {
    "ServiceAccountException" : {
      "c2jName" : "ServiceAccountException",
      "documentation" : "<p>There was a problem with the service account.</p>",
      "shapeName" : "ServiceAccountException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "serviceAccountException",
        "variableType" : "ServiceAccountException",
        "variableDeclarationType" : "ServiceAccountException",
        "documentation" : null,
        "variableSetterType" : "ServiceAccountException",
        "simpleType" : "ServiceAccountException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "ServiceAccountException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "GetTestRequest" : {
      "c2jName" : "GetTestRequest",
      "documentation" : "<p>Represents a request to the get test operation.</p>",
      "shapeName" : "GetTestRequest",
      "deprecated" : false,
      "required" : [ "arn" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The test's ARN.</p>",
        "name" : "Arn",
        "c2jName" : "arn",
        "c2jShape" : "AmazonResourceName",
        "variable" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The test's ARN.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "arn",
          "marshallLocationName" : "arn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The test's ARN.</p>\n@param arn The test's ARN.*/",
        "getterDocumentation" : "/**<p>The test's ARN.</p>\n@return The test's ARN.*/",
        "fluentSetterDocumentation" : "/**<p>The test's ARN.</p>\n@param arn The test's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The test's ARN.</p>\n@param arn The test's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getTestRequest",
        "variableType" : "GetTestRequest",
        "variableDeclarationType" : "GetTestRequest",
        "documentation" : null,
        "variableSetterType" : "GetTestRequest",
        "simpleType" : "GetTestRequest"
      },
      "marshaller" : {
        "action" : "GetTest",
        "verb" : "POST",
        "target" : "DeviceFarm_20150623.GetTest",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Arn" : {
          "documentation" : "<p>The test's ARN.</p>",
          "name" : "Arn",
          "c2jName" : "arn",
          "c2jShape" : "AmazonResourceName",
          "variable" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The test's ARN.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "arn",
            "marshallLocationName" : "arn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The test's ARN.</p>\n@param arn The test's ARN.*/",
          "getterDocumentation" : "/**<p>The test's ARN.</p>\n@return The test's ARN.*/",
          "fluentSetterDocumentation" : "/**<p>The test's ARN.</p>\n@param arn The test's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The test's ARN.</p>\n@param arn The test's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "GetDeviceRequest" : {
      "c2jName" : "GetDeviceRequest",
      "documentation" : "<p>Represents a request to the get device request.</p>",
      "shapeName" : "GetDeviceRequest",
      "deprecated" : false,
      "required" : [ "arn" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The device type's ARN.</p>",
        "name" : "Arn",
        "c2jName" : "arn",
        "c2jShape" : "AmazonResourceName",
        "variable" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The device type's ARN.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "arn",
          "marshallLocationName" : "arn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.*/",
        "getterDocumentation" : "/**<p>The device type's ARN.</p>\n@return The device type's ARN.*/",
        "fluentSetterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "variableDeclarationType" : "GetDeviceRequest",
        "documentation" : null,
        "variableSetterType" : "GetDeviceRequest",
        "simpleType" : "GetDeviceRequest"
      },
      "marshaller" : {
        "action" : "GetDevice",
        "verb" : "POST",
        "target" : "DeviceFarm_20150623.GetDevice",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Arn" : {
          "documentation" : "<p>The device type's ARN.</p>",
          "name" : "Arn",
          "c2jName" : "arn",
          "c2jShape" : "AmazonResourceName",
          "variable" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The device type's ARN.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "arn",
            "marshallLocationName" : "arn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.*/",
          "getterDocumentation" : "/**<p>The device type's ARN.</p>\n@return The device type's ARN.*/",
          "fluentSetterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CPU" : {
      "c2jName" : "CPU",
      "documentation" : "<p>Represents the amount of CPU that an app is using on a physical device.</p> <p>Note that this does not represent system-wide CPU usage.</p>",
      "shapeName" : "CPU",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The CPU's frequency.</p>",
        "name" : "Frequency",
        "c2jName" : "frequency",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "frequency",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The CPU's frequency.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "frequency",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "frequency",
          "marshallLocationName" : "frequency",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The CPU's frequency.</p>\n@param frequency The CPU's frequency.*/",
        "getterDocumentation" : "/**<p>The CPU's frequency.</p>\n@return The CPU's frequency.*/",
        "fluentSetterDocumentation" : "/**<p>The CPU's frequency.</p>\n@param frequency The CPU's frequency.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The CPU's frequency.</p>\n@param frequency The CPU's frequency.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The CPU's architecture, for example x86 or ARM.</p>",
        "name" : "Architecture",
        "c2jName" : "architecture",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "architecture",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The CPU's architecture, for example x86 or ARM.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "architecture",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "architecture",
          "marshallLocationName" : "architecture",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The CPU's architecture, for example x86 or ARM.</p>\n@param architecture The CPU's architecture, for example x86 or ARM.*/",
        "getterDocumentation" : "/**<p>The CPU's architecture, for example x86 or ARM.</p>\n@return The CPU's architecture, for example x86 or ARM.*/",
        "fluentSetterDocumentation" : "/**<p>The CPU's architecture, for example x86 or ARM.</p>\n@param architecture The CPU's architecture, for example x86 or ARM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The CPU's architecture, for example x86 or ARM.</p>\n@param architecture The CPU's architecture, for example x86 or ARM.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.</p>",
        "name" : "Clock",
        "c2jName" : "clock",
        "c2jShape" : "Double",
        "variable" : {
          "variableName" : "clock",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.</p>",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "setterModel" : {
          "variableName" : "clock",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : null,
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "clock",
          "marshallLocationName" : "clock",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.</p>\n@param clock The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.*/",
        "getterDocumentation" : "/**<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.</p>\n@return The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.*/",
        "fluentSetterDocumentation" : "/**<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.</p>\n@param clock The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.</p>\n@param clock The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "cPU",
        "variableType" : "CPU",
        "variableDeclarationType" : "CPU",
        "documentation" : null,
        "variableSetterType" : "CPU",
        "simpleType" : "CPU"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Architecture" : {
          "documentation" : "<p>The CPU's architecture, for example x86 or ARM.</p>",
          "name" : "Architecture",
          "c2jName" : "architecture",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "architecture",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The CPU's architecture, for example x86 or ARM.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "architecture",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "architecture",
            "marshallLocationName" : "architecture",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The CPU's architecture, for example x86 or ARM.</p>\n@param architecture The CPU's architecture, for example x86 or ARM.*/",
          "getterDocumentation" : "/**<p>The CPU's architecture, for example x86 or ARM.</p>\n@return The CPU's architecture, for example x86 or ARM.*/",
          "fluentSetterDocumentation" : "/**<p>The CPU's architecture, for example x86 or ARM.</p>\n@param architecture The CPU's architecture, for example x86 or ARM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The CPU's architecture, for example x86 or ARM.</p>\n@param architecture The CPU's architecture, for example x86 or ARM.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Frequency" : {
          "documentation" : "<p>The CPU's frequency.</p>",
          "name" : "Frequency",
          "c2jName" : "frequency",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "frequency",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The CPU's frequency.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "frequency",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "frequency",
            "marshallLocationName" : "frequency",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
[...]
