{
  "metadata" : {
    "apiVersion" : "2015-06-23",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>AWS Device Farm is a service that enables mobile app developers to test Android, iOS, and Fire OS apps on physical phones, tablets, and other devices in the cloud.</p>",
    "defaultEndpoint" : "https://devicefarm.us-west-2.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "devicefarm.us-west-2.amazonaws.com",
    "syncInterface" : "AWSDeviceFarm",
    "syncClient" : "AWSDeviceFarmClient",
    "asyncInterface" : "AWSDeviceFarmAsync",
    "asyncClient" : "AWSDeviceFarmAsyncClient",
    "packageName" : "com.amazonaws.services.devicefarm",
    "packagePath" : "com/amazonaws/services/devicefarm",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Device Farm",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "devicefarm",
    "signingName" : "devicefarm",
    "syncClientBuilderClassName" : "AWSDeviceFarmClientBuilder",
    "asyncClientBuilderClassName" : "AWSDeviceFarmAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSDeviceFarmModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.devicefarm.smoketests",
    "serviceName" : "AWS Device Farm",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true
  },
  "operations" : {
    "CreateDevicePool" : {
      "documentation" : "<p>Creates a device pool.</p>",
      "operationName" : "CreateDevicePool",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDevicePoolRequest",
        "variableType" : "CreateDevicePoolRequest",
        "variableDeclarationType" : "CreateDevicePoolRequest",
        "documentation" : "<p>Represents a request to the create device pool operation.</p>",
        "simpleType" : "CreateDevicePoolRequest",
        "variableSetterType" : "CreateDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDevicePoolResult",
        "documentation" : "<p>Represents the result of a create device pool request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateDevicePoolResult",
      "asyncReturnType" : "CreateDevicePoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDevicePoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDevicePoolRequest, CreateDevicePoolResult>",
      "methodName" : "createDevicePool"
    },
    "CreateProject" : {
      "documentation" : "<p>Creates a new project.</p>",
      "operationName" : "CreateProject",
      "deprecated" : false,
      "input" : {
        "variableName" : "createProjectRequest",
        "variableType" : "CreateProjectRequest",
        "variableDeclarationType" : "CreateProjectRequest",
        "documentation" : "<p>Represents a request to the create project operation.</p>",
        "simpleType" : "CreateProjectRequest",
        "variableSetterType" : "CreateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateProjectResult",
        "documentation" : "<p>Represents the result of a create project request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateProjectResult",
      "asyncReturnType" : "CreateProjectResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProjectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProjectRequest, CreateProjectResult>",
      "methodName" : "createProject"
    },
    "CreateRemoteAccessSession" : {
      "documentation" : "<p>Specifies and starts a remote access session.</p>",
      "operationName" : "CreateRemoteAccessSession",
      "deprecated" : false,
      "input" : {
        "variableName" : "createRemoteAccessSessionRequest",
        "variableType" : "CreateRemoteAccessSessionRequest",
        "variableDeclarationType" : "CreateRemoteAccessSessionRequest",
        "documentation" : "<p>Creates and submits a request to start a remote access session.</p>",
        "simpleType" : "CreateRemoteAccessSessionRequest",
        "variableSetterType" : "CreateRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateRemoteAccessSessionResult",
        "documentation" : "<p>Represents the server response from a request to create a remote access session.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateRemoteAccessSessionResult",
      "asyncReturnType" : "CreateRemoteAccessSessionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRemoteAccessSessionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRemoteAccessSessionRequest, CreateRemoteAccessSessionResult>",
      "methodName" : "createRemoteAccessSession"
    },
    "CreateUpload" : {
      "documentation" : "<p>Uploads an app or test scripts.</p>",
      "operationName" : "CreateUpload",
      "deprecated" : false,
      "input" : {
        "variableName" : "createUploadRequest",
        "variableType" : "CreateUploadRequest",
        "variableDeclarationType" : "CreateUploadRequest",
        "documentation" : "<p>Represents a request to the create upload operation.</p>",
        "simpleType" : "CreateUploadRequest",
        "variableSetterType" : "CreateUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateUploadResult",
        "documentation" : "<p>Represents the result of a create upload request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateUploadResult",
      "asyncReturnType" : "CreateUploadResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUploadResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUploadRequest, CreateUploadResult>",
      "methodName" : "createUpload"
    },
    "DeleteDevicePool" : {
      "documentation" : "<p>Deletes a device pool given the pool ARN. Does not allow deletion of curated pools owned by the system.</p>",
      "operationName" : "DeleteDevicePool",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDevicePoolRequest",
        "variableType" : "DeleteDevicePoolRequest",
        "variableDeclarationType" : "DeleteDevicePoolRequest",
        "documentation" : "<p>Represents a request to the delete device pool operation.</p>",
        "simpleType" : "DeleteDevicePoolRequest",
        "variableSetterType" : "DeleteDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDevicePoolResult",
        "documentation" : "<p>Represents the result of a delete device pool request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteDevicePoolResult",
      "asyncReturnType" : "DeleteDevicePoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDevicePoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDevicePoolRequest, DeleteDevicePoolResult>",
      "methodName" : "deleteDevicePool"
    },
    "DeleteProject" : {
      "documentation" : "<p>Deletes an AWS Device Farm project, given the project ARN.</p> <p><b>Note</b> Deleting this resource does not stop an in-progress run.</p>",
      "operationName" : "DeleteProject",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteProjectRequest",
        "variableType" : "DeleteProjectRequest",
        "variableDeclarationType" : "DeleteProjectRequest",
        "documentation" : "<p>Represents a request to the delete project operation.</p>",
        "simpleType" : "DeleteProjectRequest",
        "variableSetterType" : "DeleteProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteProjectResult",
        "documentation" : "<p>Represents the result of a delete project request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteProjectResult",
      "asyncReturnType" : "DeleteProjectResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProjectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProjectRequest, DeleteProjectResult>",
      "methodName" : "deleteProject"
    },
    "DeleteRemoteAccessSession" : {
      "documentation" : "<p>Deletes a completed remote access session and its results.</p>",
      "operationName" : "DeleteRemoteAccessSession",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRemoteAccessSessionRequest",
        "variableType" : "DeleteRemoteAccessSessionRequest",
        "variableDeclarationType" : "DeleteRemoteAccessSessionRequest",
        "documentation" : "<p>Represents the request to delete the specified remote access session.</p>",
        "simpleType" : "DeleteRemoteAccessSessionRequest",
        "variableSetterType" : "DeleteRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRemoteAccessSessionResult",
        "documentation" : "<p>The response from the server when a request is made to delete the remote access session.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteRemoteAccessSessionResult",
      "asyncReturnType" : "DeleteRemoteAccessSessionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRemoteAccessSessionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRemoteAccessSessionRequest, DeleteRemoteAccessSessionResult>",
      "methodName" : "deleteRemoteAccessSession"
    },
    "DeleteRun" : {
      "documentation" : "<p>Deletes the run, given the run ARN.</p> <p><b>Note</b> Deleting this resource does not stop an in-progress run.</p>",
      "operationName" : "DeleteRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRunRequest",
        "variableType" : "DeleteRunRequest",
        "variableDeclarationType" : "DeleteRunRequest",
        "documentation" : "<p>Represents a request to the delete run operation.</p>",
        "simpleType" : "DeleteRunRequest",
        "variableSetterType" : "DeleteRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRunResult",
        "documentation" : "<p>Represents the result of a delete run request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteRunResult",
      "asyncReturnType" : "DeleteRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRunRequest, DeleteRunResult>",
      "methodName" : "deleteRun"
    },
    "DeleteUpload" : {
      "documentation" : "<p>Deletes an upload given the upload ARN.</p>",
      "operationName" : "DeleteUpload",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteUploadRequest",
        "variableType" : "DeleteUploadRequest",
        "variableDeclarationType" : "DeleteUploadRequest",
        "documentation" : "<p>Represents a request to the delete upload operation.</p>",
        "simpleType" : "DeleteUploadRequest",
        "variableSetterType" : "DeleteUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteUploadResult",
        "documentation" : "<p>Represents the result of a delete upload request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteUploadResult",
      "asyncReturnType" : "DeleteUploadResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUploadResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUploadRequest, DeleteUploadResult>",
      "methodName" : "deleteUpload"
    },
    "GetAccountSettings" : {
      "documentation" : "<p>Returns the number of unmetered iOS and/or unmetered Android devices that have been purchased by the account.</p>",
      "operationName" : "GetAccountSettings",
      "deprecated" : false,
      "input" : {
        "variableName" : "getAccountSettingsRequest",
        "variableType" : "GetAccountSettingsRequest",
        "variableDeclarationType" : "GetAccountSettingsRequest",
        "documentation" : "<p>Represents the request sent to retrieve the account settings.</p>",
        "simpleType" : "GetAccountSettingsRequest",
        "variableSetterType" : "GetAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetAccountSettingsResult",
        "documentation" : "<p>Represents the account settings return values from the <code>GetAccountSettings</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetAccountSettingsResult",
      "asyncReturnType" : "GetAccountSettingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountSettingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountSettingsRequest, GetAccountSettingsResult>",
      "methodName" : "getAccountSettings"
    },
    "GetDevice" : {
      "documentation" : "<p>Gets information about a unique device type.</p>",
      "operationName" : "GetDevice",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "variableDeclarationType" : "GetDeviceRequest",
        "documentation" : "<p>Represents a request to the get device request.</p>",
        "simpleType" : "GetDeviceRequest",
        "variableSetterType" : "GetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDeviceResult",
        "documentation" : "<p>Represents the result of a get device request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetDeviceResult",
      "asyncReturnType" : "GetDeviceResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRequest, GetDeviceResult>",
      "methodName" : "getDevice"
    },
    "GetDevicePool" : {
      "documentation" : "<p>Gets information about a device pool.</p>",
      "operationName" : "GetDevicePool",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDevicePoolRequest",
        "variableType" : "GetDevicePoolRequest",
        "variableDeclarationType" : "GetDevicePoolRequest",
        "documentation" : "<p>Represents a request to the get device pool operation.</p>",
        "simpleType" : "GetDevicePoolRequest",
        "variableSetterType" : "GetDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDevicePoolResult",
        "documentation" : "<p>Represents the result of a get device pool request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetDevicePoolResult",
      "asyncReturnType" : "GetDevicePoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicePoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicePoolRequest, GetDevicePoolResult>",
      "methodName" : "getDevicePool"
    },
    "GetDevicePoolCompatibility" : {
      "documentation" : "<p>Gets information about compatibility with a device pool.</p>",
      "operationName" : "GetDevicePoolCompatibility",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDevicePoolCompatibilityRequest",
        "variableType" : "GetDevicePoolCompatibilityRequest",
        "variableDeclarationType" : "GetDevicePoolCompatibilityRequest",
        "documentation" : "<p>Represents a request to the get device pool compatibility operation.</p>",
        "simpleType" : "GetDevicePoolCompatibilityRequest",
        "variableSetterType" : "GetDevicePoolCompatibilityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDevicePoolCompatibilityResult",
        "documentation" : "<p>Represents the result of describe device pool compatibility request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetDevicePoolCompatibilityResult",
      "asyncReturnType" : "GetDevicePoolCompatibilityResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicePoolCompatibilityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicePoolCompatibilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicePoolCompatibilityRequest, GetDevicePoolCompatibilityResult>",
      "methodName" : "getDevicePoolCompatibility"
    },
    "GetJob" : {
      "documentation" : "<p>Gets information about a job.</p>",
      "operationName" : "GetJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "getJobRequest",
        "variableType" : "GetJobRequest",
        "variableDeclarationType" : "GetJobRequest",
        "documentation" : "<p>Represents a request to the get job operation.</p>",
        "simpleType" : "GetJobRequest",
        "variableSetterType" : "GetJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetJobResult",
        "documentation" : "<p>Represents the result of a get job request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetJobResult",
      "asyncReturnType" : "GetJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobRequest, GetJobResult>",
      "methodName" : "getJob"
    },
    "GetOfferingStatus" : {
      "documentation" : "<p>Gets the current status and future status of all offerings purchased by an AWS account. The response indicates how many offerings are currently available and the offerings that will be available in the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "operationName" : "GetOfferingStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "getOfferingStatusRequest",
        "variableType" : "GetOfferingStatusRequest",
        "variableDeclarationType" : "GetOfferingStatusRequest",
        "documentation" : "<p>Represents the request to retrieve the offering status for the specified customer or account.</p>",
        "simpleType" : "GetOfferingStatusRequest",
        "variableSetterType" : "GetOfferingStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetOfferingStatusResult",
        "documentation" : "<p>Returns the status result for a device offering.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetOfferingStatusResult",
      "asyncReturnType" : "GetOfferingStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetOfferingStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetOfferingStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOfferingStatusRequest, GetOfferingStatusResult>",
      "methodName" : "getOfferingStatus"
    },
    "GetProject" : {
      "documentation" : "<p>Gets information about a project.</p>",
      "operationName" : "GetProject",
      "deprecated" : false,
      "input" : {
        "variableName" : "getProjectRequest",
        "variableType" : "GetProjectRequest",
        "variableDeclarationType" : "GetProjectRequest",
        "documentation" : "<p>Represents a request to the get project operation.</p>",
        "simpleType" : "GetProjectRequest",
        "variableSetterType" : "GetProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetProjectResult",
        "documentation" : "<p>Represents the result of a get project request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetProjectResult",
      "asyncReturnType" : "GetProjectResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetProjectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProjectRequest, GetProjectResult>",
      "methodName" : "getProject"
    },
    "GetRemoteAccessSession" : {
      "documentation" : "<p>Returns a link to a currently running remote access session.</p>",
      "operationName" : "GetRemoteAccessSession",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRemoteAccessSessionRequest",
        "variableType" : "GetRemoteAccessSessionRequest",
        "variableDeclarationType" : "GetRemoteAccessSessionRequest",
        "documentation" : "<p>Represents the request to get information about the specified remote access session.</p>",
        "simpleType" : "GetRemoteAccessSessionRequest",
        "variableSetterType" : "GetRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRemoteAccessSessionResult",
        "documentation" : "<p>Represents the response from the server that lists detailed information about the remote access session.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetRemoteAccessSessionResult",
      "asyncReturnType" : "GetRemoteAccessSessionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRemoteAccessSessionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRemoteAccessSessionRequest, GetRemoteAccessSessionResult>",
      "methodName" : "getRemoteAccessSession"
    },
    "GetRun" : {
      "documentation" : "<p>Gets information about a run.</p>",
      "operationName" : "GetRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRunRequest",
        "variableType" : "GetRunRequest",
        "variableDeclarationType" : "GetRunRequest",
        "documentation" : "<p>Represents a request to the get run operation.</p>",
        "simpleType" : "GetRunRequest",
        "variableSetterType" : "GetRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRunResult",
        "documentation" : "<p>Represents the result of a get run request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetRunResult",
      "asyncReturnType" : "GetRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRunRequest, GetRunResult>",
      "methodName" : "getRun"
    },
    "GetSuite" : {
      "documentation" : "<p>Gets information about a suite.</p>",
      "operationName" : "GetSuite",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSuiteRequest",
        "variableType" : "GetSuiteRequest",
        "variableDeclarationType" : "GetSuiteRequest",
        "documentation" : "<p>Represents a request to the get suite operation.</p>",
        "simpleType" : "GetSuiteRequest",
        "variableSetterType" : "GetSuiteRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSuiteResult",
        "documentation" : "<p>Represents the result of a get suite request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetSuiteResult",
      "asyncReturnType" : "GetSuiteResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSuiteResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSuiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSuiteRequest, GetSuiteResult>",
      "methodName" : "getSuite"
    },
    "GetTest" : {
      "documentation" : "<p>Gets information about a test.</p>",
      "operationName" : "GetTest",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTestRequest",
        "variableType" : "GetTestRequest",
        "variableDeclarationType" : "GetTestRequest",
        "documentation" : "<p>Represents a request to the get test operation.</p>",
        "simpleType" : "GetTestRequest",
        "variableSetterType" : "GetTestRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTestResult",
        "documentation" : "<p>Represents the result of a get test request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetTestResult",
      "asyncReturnType" : "GetTestResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTestResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTestRequest, GetTestResult>",
      "methodName" : "getTest"
    },
    "GetUpload" : {
      "documentation" : "<p>Gets information about an upload.</p>",
      "operationName" : "GetUpload",
      "deprecated" : false,
      "input" : {
        "variableName" : "getUploadRequest",
        "variableType" : "GetUploadRequest",
        "variableDeclarationType" : "GetUploadRequest",
        "documentation" : "<p>Represents a request to the get upload operation.</p>",
        "simpleType" : "GetUploadRequest",
        "variableSetterType" : "GetUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetUploadResult",
        "documentation" : "<p>Represents the result of a get upload request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetUploadResult",
      "asyncReturnType" : "GetUploadResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetUploadResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUploadRequest, GetUploadResult>",
      "methodName" : "getUpload"
    },
    "InstallToRemoteAccessSession" : {
      "documentation" : "<p>Installs an application to the device in a remote access session. For Android applications, the file must be in .apk format. For iOS applications, the file must be in .ipa format.</p>",
      "operationName" : "InstallToRemoteAccessSession",
      "deprecated" : false,
      "input" : {
        "variableName" : "installToRemoteAccessSessionRequest",
        "variableType" : "InstallToRemoteAccessSessionRequest",
        "variableDeclarationType" : "InstallToRemoteAccessSessionRequest",
        "documentation" : "<p>Represents the request to install an Android application (in .apk format) or an iOS application (in .ipa format) as part of a remote access session.</p>",
        "simpleType" : "InstallToRemoteAccessSessionRequest",
        "variableSetterType" : "InstallToRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "InstallToRemoteAccessSessionResult",
        "documentation" : "<p>Represents the response from the server after AWS Device Farm makes a request to install to a remote access session.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "InstallToRemoteAccessSessionResult",
      "asyncReturnType" : "InstallToRemoteAccessSessionResult",
      "asyncFutureType" : "java.util.concurrent.Future<InstallToRemoteAccessSessionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<InstallToRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InstallToRemoteAccessSessionRequest, InstallToRemoteAccessSessionResult>",
      "methodName" : "installToRemoteAccessSession"
    },
    "ListArtifacts" : {
      "documentation" : "<p>Gets information about artifacts.</p>",
      "operationName" : "ListArtifacts",
      "deprecated" : false,
      "input" : {
        "variableName" : "listArtifactsRequest",
        "variableType" : "ListArtifactsRequest",
        "variableDeclarationType" : "ListArtifactsRequest",
        "documentation" : "<p>Represents a request to the list artifacts operation.</p>",
        "simpleType" : "ListArtifactsRequest",
        "variableSetterType" : "ListArtifactsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListArtifactsResult",
        "documentation" : "<p>Represents the result of a list artifacts operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListArtifactsResult",
      "asyncReturnType" : "ListArtifactsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListArtifactsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListArtifactsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListArtifactsRequest, ListArtifactsResult>",
      "methodName" : "listArtifacts"
    },
    "ListDevicePools" : {
      "documentation" : "<p>Gets information about device pools.</p>",
      "operationName" : "ListDevicePools",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDevicePoolsRequest",
        "variableType" : "ListDevicePoolsRequest",
        "variableDeclarationType" : "ListDevicePoolsRequest",
        "documentation" : "<p>Represents the result of a list device pools request.</p>",
        "simpleType" : "ListDevicePoolsRequest",
        "variableSetterType" : "ListDevicePoolsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDevicePoolsResult",
        "documentation" : "<p>Represents the result of a list device pools request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListDevicePoolsResult",
      "asyncReturnType" : "ListDevicePoolsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicePoolsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicePoolsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicePoolsRequest, ListDevicePoolsResult>",
      "methodName" : "listDevicePools"
    },
    "ListDevices" : {
      "documentation" : "<p>Gets information about unique device types.</p>",
      "operationName" : "ListDevices",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDevicesRequest",
        "variableType" : "ListDevicesRequest",
        "variableDeclarationType" : "ListDevicesRequest",
        "documentation" : "<p>Represents the result of a list devices request.</p>",
        "simpleType" : "ListDevicesRequest",
        "variableSetterType" : "ListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDevicesResult",
        "documentation" : "<p>Represents the result of a list devices operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListDevicesResult",
      "asyncReturnType" : "ListDevicesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicesRequest, ListDevicesResult>",
      "methodName" : "listDevices"
    },
    "ListJobs" : {
      "documentation" : "<p>Gets information about jobs.</p>",
      "operationName" : "ListJobs",
      "deprecated" : false,
      "input" : {
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "variableDeclarationType" : "ListJobsRequest",
        "documentation" : "<p>Represents a request to the list jobs operation.</p>",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : "<p>Represents the result of a list jobs request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListJobsResult",
      "asyncReturnType" : "ListJobsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "methodName" : "listJobs"
    },
    "ListOfferingTransactions" : {
      "documentation" : "<p>Returns a list of all historical purchases, renewals, and system renewal transactions for an AWS account. The list is paginated and ordered by a descending timestamp (most recent transactions are first). The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "operationName" : "ListOfferingTransactions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listOfferingTransactionsRequest",
        "variableType" : "ListOfferingTransactionsRequest",
        "variableDeclarationType" : "ListOfferingTransactionsRequest",
        "documentation" : "<p>Represents the request to list the offering transaction history.</p>",
        "simpleType" : "ListOfferingTransactionsRequest",
        "variableSetterType" : "ListOfferingTransactionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListOfferingTransactionsResult",
        "documentation" : "<p>Returns the transaction log of the specified offerings.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListOfferingTransactionsResult",
      "asyncReturnType" : "ListOfferingTransactionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListOfferingTransactionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListOfferingTransactionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOfferingTransactionsRequest, ListOfferingTransactionsResult>",
      "methodName" : "listOfferingTransactions"
    },
    "ListOfferings" : {
      "documentation" : "<p>Returns a list of products or offerings that the user can manage through the API. Each offering record indicates the recurring price per unit and the frequency for that offering. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "operationName" : "ListOfferings",
      "deprecated" : false,
      "input" : {
        "variableName" : "listOfferingsRequest",
        "variableType" : "ListOfferingsRequest",
        "variableDeclarationType" : "ListOfferingsRequest",
        "documentation" : "<p>Represents the request to list all offerings.</p>",
        "simpleType" : "ListOfferingsRequest",
        "variableSetterType" : "ListOfferingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListOfferingsResult",
        "documentation" : "<p>Represents the return values of the list of offerings.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListOfferingsResult",
      "asyncReturnType" : "ListOfferingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListOfferingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListOfferingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOfferingsRequest, ListOfferingsResult>",
      "methodName" : "listOfferings"
    },
    "ListProjects" : {
      "documentation" : "<p>Gets information about projects.</p>",
      "operationName" : "ListProjects",
      "deprecated" : false,
      "input" : {
        "variableName" : "listProjectsRequest",
        "variableType" : "ListProjectsRequest",
        "variableDeclarationType" : "ListProjectsRequest",
        "documentation" : "<p>Represents a request to the list projects operation.</p>",
        "simpleType" : "ListProjectsRequest",
        "variableSetterType" : "ListProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListProjectsResult",
        "documentation" : "<p>Represents the result of a list projects request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListProjectsResult",
      "asyncReturnType" : "ListProjectsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListProjectsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProjectsRequest, ListProjectsResult>",
      "methodName" : "listProjects"
    },
    "ListRemoteAccessSessions" : {
      "documentation" : "<p>Returns a list of all currently running remote access sessions.</p>",
      "operationName" : "ListRemoteAccessSessions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRemoteAccessSessionsRequest",
        "variableType" : "ListRemoteAccessSessionsRequest",
        "variableDeclarationType" : "ListRemoteAccessSessionsRequest",
        "documentation" : "<p>Represents the request to return information about the remote access session.</p>",
        "simpleType" : "ListRemoteAccessSessionsRequest",
        "variableSetterType" : "ListRemoteAccessSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRemoteAccessSessionsResult",
        "documentation" : "<p>Represents the response from the server after AWS Device Farm makes a request to return information about the remote access session.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListRemoteAccessSessionsResult",
      "asyncReturnType" : "ListRemoteAccessSessionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRemoteAccessSessionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRemoteAccessSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRemoteAccessSessionsRequest, ListRemoteAccessSessionsResult>",
      "methodName" : "listRemoteAccessSessions"
    },
    "ListRuns" : {
      "documentation" : "<p>Gets information about runs.</p>",
      "operationName" : "ListRuns",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRunsRequest",
        "variableType" : "ListRunsRequest",
        "variableDeclarationType" : "ListRunsRequest",
        "documentation" : "<p>Represents a request to the list runs operation.</p>",
        "simpleType" : "ListRunsRequest",
        "variableSetterType" : "ListRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRunsResult",
        "documentation" : "<p>Represents the result of a list runs request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListRunsResult",
      "asyncReturnType" : "ListRunsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRunsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRunsRequest, ListRunsResult>",
      "methodName" : "listRuns"
    },
    "ListSamples" : {
      "documentation" : "<p>Gets information about samples.</p>",
      "operationName" : "ListSamples",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSamplesRequest",
        "variableType" : "ListSamplesRequest",
        "variableDeclarationType" : "ListSamplesRequest",
        "documentation" : "<p>Represents a request to the list samples operation.</p>",
        "simpleType" : "ListSamplesRequest",
        "variableSetterType" : "ListSamplesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSamplesResult",
        "documentation" : "<p>Represents the result of a list samples request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListSamplesResult",
      "asyncReturnType" : "ListSamplesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSamplesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSamplesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSamplesRequest, ListSamplesResult>",
      "methodName" : "listSamples"
    },
    "ListSuites" : {
      "documentation" : "<p>Gets information about suites.</p>",
      "operationName" : "ListSuites",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSuitesRequest",
        "variableType" : "ListSuitesRequest",
        "variableDeclarationType" : "ListSuitesRequest",
        "documentation" : "<p>Represents a request to the list suites operation.</p>",
        "simpleType" : "ListSuitesRequest",
        "variableSetterType" : "ListSuitesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSuitesResult",
        "documentation" : "<p>Represents the result of a list suites request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListSuitesResult",
      "asyncReturnType" : "ListSuitesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSuitesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSuitesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSuitesRequest, ListSuitesResult>",
      "methodName" : "listSuites"
    },
    "ListTests" : {
      "documentation" : "<p>Gets information about tests.</p>",
      "operationName" : "ListTests",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTestsRequest",
        "variableType" : "ListTestsRequest",
        "variableDeclarationType" : "ListTestsRequest",
        "documentation" : "<p>Represents a request to the list tests operation.</p>",
        "simpleType" : "ListTestsRequest",
        "variableSetterType" : "ListTestsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTestsResult",
        "documentation" : "<p>Represents the result of a list tests request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListTestsResult",
      "asyncReturnType" : "ListTestsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestsRequest, ListTestsResult>",
      "methodName" : "listTests"
    },
    "ListUniqueProblems" : {
      "documentation" : "<p>Gets information about unique problems.</p>",
      "operationName" : "ListUniqueProblems",
      "deprecated" : false,
      "input" : {
        "variableName" : "listUniqueProblemsRequest",
        "variableType" : "ListUniqueProblemsRequest",
        "variableDeclarationType" : "ListUniqueProblemsRequest",
        "documentation" : "<p>Represents a request to the list unique problems operation.</p>",
        "simpleType" : "ListUniqueProblemsRequest",
        "variableSetterType" : "ListUniqueProblemsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListUniqueProblemsResult",
        "documentation" : "<p>Represents the result of a list unique problems request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListUniqueProblemsResult",
      "asyncReturnType" : "ListUniqueProblemsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListUniqueProblemsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListUniqueProblemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUniqueProblemsRequest, ListUniqueProblemsResult>",
      "methodName" : "listUniqueProblems"
    },
    "ListUploads" : {
      "documentation" : "<p>Gets information about uploads.</p>",
      "operationName" : "ListUploads",
      "deprecated" : false,
      "input" : {
        "variableName" : "listUploadsRequest",
        "variableType" : "ListUploadsRequest",
        "variableDeclarationType" : "ListUploadsRequest",
        "documentation" : "<p>Represents a request to the list uploads operation.</p>",
        "simpleType" : "ListUploadsRequest",
        "variableSetterType" : "ListUploadsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListUploadsResult",
        "documentation" : "<p>Represents the result of a list uploads request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListUploadsResult",
      "asyncReturnType" : "ListUploadsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListUploadsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListUploadsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUploadsRequest, ListUploadsResult>",
      "methodName" : "listUploads"
    },
    "PurchaseOffering" : {
      "documentation" : "<p>Immediately purchases offerings for an AWS account. Offerings renew with the latest total purchased quantity for an offering, unless the renewal was overridden. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "operationName" : "PurchaseOffering",
      "deprecated" : false,
      "input" : {
        "variableName" : "purchaseOfferingRequest",
        "variableType" : "PurchaseOfferingRequest",
        "variableDeclarationType" : "PurchaseOfferingRequest",
        "documentation" : "<p>Represents a request for a purchase offering.</p>",
        "simpleType" : "PurchaseOfferingRequest",
        "variableSetterType" : "PurchaseOfferingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PurchaseOfferingResult",
        "documentation" : "<p>The result of the purchase offering (e.g., success or failure).</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PurchaseOfferingResult",
      "asyncReturnType" : "PurchaseOfferingResult",
      "asyncFutureType" : "java.util.concurrent.Future<PurchaseOfferingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PurchaseOfferingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PurchaseOfferingRequest, PurchaseOfferingResult>",
      "methodName" : "purchaseOffering"
    },
    "RenewOffering" : {
      "documentation" : "<p>Explicitly sets the quantity of devices to renew for an offering, starting from the <code>effectiveDate</code> of the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.</p>",
      "operationName" : "RenewOffering",
      "deprecated" : false,
      "input" : {
        "variableName" : "renewOfferingRequest",
        "variableType" : "RenewOfferingRequest",
        "variableDeclarationType" : "RenewOfferingRequest",
        "documentation" : "<p>A request representing an offering renewal.</p>",
        "simpleType" : "RenewOfferingRequest",
        "variableSetterType" : "RenewOfferingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RenewOfferingResult",
        "documentation" : "<p>The result of a renewal offering.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "NotEligibleException",
        "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RenewOfferingResult",
      "asyncReturnType" : "RenewOfferingResult",
      "asyncFutureType" : "java.util.concurrent.Future<RenewOfferingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RenewOfferingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RenewOfferingRequest, RenewOfferingResult>",
      "methodName" : "renewOffering"
    },
    "ScheduleRun" : {
      "documentation" : "<p>Schedules a run.</p>",
      "operationName" : "ScheduleRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "scheduleRunRequest",
        "variableType" : "ScheduleRunRequest",
        "variableDeclarationType" : "ScheduleRunRequest",
        "documentation" : "<p>Represents a request to the schedule run operation.</p>",
        "simpleType" : "ScheduleRunRequest",
        "variableSetterType" : "ScheduleRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ScheduleRunResult",
        "documentation" : "<p>Represents the result of a schedule run request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "IdempotencyException",
        "documentation" : "<p>An entity with the same name already exists.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ScheduleRunResult",
      "asyncReturnType" : "ScheduleRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<ScheduleRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ScheduleRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ScheduleRunRequest, ScheduleRunResult>",
      "methodName" : "scheduleRun"
    },
    "StopRemoteAccessSession" : {
      "documentation" : "<p>Ends a specified remote access session.</p>",
      "operationName" : "StopRemoteAccessSession",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopRemoteAccessSessionRequest",
        "variableType" : "StopRemoteAccessSessionRequest",
        "variableDeclarationType" : "StopRemoteAccessSessionRequest",
        "documentation" : "<p>Represents the request to stop the remote access session.</p>",
        "simpleType" : "StopRemoteAccessSessionRequest",
        "variableSetterType" : "StopRemoteAccessSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopRemoteAccessSessionResult",
        "documentation" : "<p>Represents the response from the server that describes the remote access session when AWS Device Farm stops the session.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StopRemoteAccessSessionResult",
      "asyncReturnType" : "StopRemoteAccessSessionResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopRemoteAccessSessionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopRemoteAccessSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopRemoteAccessSessionRequest, StopRemoteAccessSessionResult>",
      "methodName" : "stopRemoteAccessSession"
    },
    "StopRun" : {
      "documentation" : "<p>Initiates a stop request for the current test run. AWS Device Farm will immediately stop the run on devices where tests have not started executing, and you will not be billed for these devices. On devices where tests have started executing, Setup Suite and Teardown Suite tests will run to completion before stopping execution on those devices. You will be billed for Setup, Teardown, and any tests that were in progress or already completed.</p>",
      "operationName" : "StopRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopRunRequest",
        "variableType" : "StopRunRequest",
        "variableDeclarationType" : "StopRunRequest",
        "documentation" : "<p>Represents the request to stop a specific run.</p>",
        "simpleType" : "StopRunRequest",
        "variableSetterType" : "StopRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopRunResult",
        "documentation" : "<p>Represents the results of your stop run attempt.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StopRunResult",
      "asyncReturnType" : "StopRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopRunRequest, StopRunResult>",
      "methodName" : "stopRun"
    },
    "UpdateDevicePool" : {
      "documentation" : "<p>Modifies the name, description, and rules in a device pool given the attributes and the pool ARN. Rule updates are all-or-nothing, meaning they can only be updated as a whole (or not at all).</p>",
      "operationName" : "UpdateDevicePool",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDevicePoolRequest",
        "variableType" : "UpdateDevicePoolRequest",
        "variableDeclarationType" : "UpdateDevicePoolRequest",
        "documentation" : "<p>Represents a request to the update device pool operation.</p>",
        "simpleType" : "UpdateDevicePoolRequest",
        "variableSetterType" : "UpdateDevicePoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDevicePoolResult",
        "documentation" : "<p>Represents the result of an update device pool request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdateDevicePoolResult",
      "asyncReturnType" : "UpdateDevicePoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDevicePoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDevicePoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDevicePoolRequest, UpdateDevicePoolResult>",
      "methodName" : "updateDevicePool"
    },
    "UpdateProject" : {
      "documentation" : "<p>Modifies the specified project name, given the project ARN and a new name.</p>",
      "operationName" : "UpdateProject",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateProjectRequest",
        "variableType" : "UpdateProjectRequest",
        "variableDeclarationType" : "UpdateProjectRequest",
        "documentation" : "<p>Represents a request to the update project operation.</p>",
        "simpleType" : "UpdateProjectRequest",
        "variableSetterType" : "UpdateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateProjectResult",
        "documentation" : "<p>Represents the result of an update project request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ArgumentException",
        "documentation" : "<p>An invalid argument was specified.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified entity was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>"
      }, {
        "exceptionName" : "ServiceAccountException",
        "documentation" : "<p>There was a problem with the service account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdateProjectResult",
      "asyncReturnType" : "UpdateProjectResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProjectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProjectRequest, UpdateProjectResult>",
      "methodName" : "updateProject"
    }
  },
  "shapes" : {
    "GetDeviceRequest" : {
      "c2jName" : "GetDeviceRequest",
      "documentation" : "<p>Represents a request to the get device request.</p>",
      "shapeName" : "GetDeviceRequest",
      "deprecated" : false,
      "required" : [ "arn" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The device type's ARN.</p>",
        "name" : "Arn",
        "c2jName" : "arn",
        "c2jShape" : "AmazonResourceName",
        "variable" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The device type's ARN.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "arn",
          "marshallLocationName" : "arn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.*/",
        "getterDocumentation" : "/**<p>The device type's ARN.</p>\n@return The device type's ARN.*/",
        "fluentSetterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "variableDeclarationType" : "GetDeviceRequest",
        "documentation" : null,
        "simpleType" : "GetDeviceRequest",
        "variableSetterType" : "GetDeviceRequest"
      },
      "marshaller" : {
        "action" : "GetDevice",
        "verb" : "POST",
        "target" : "DeviceFarm_20150623.GetDevice",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Arn" : {
          "documentation" : "<p>The device type's ARN.</p>",
          "name" : "Arn",
          "c2jName" : "arn",
          "c2jShape" : "AmazonResourceName",
          "variable" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The device type's ARN.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "arn",
            "marshallLocationName" : "arn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.*/",
          "getterDocumentation" : "/**<p>The device type's ARN.</p>\n@return The device type's ARN.*/",
          "fluentSetterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The device type's ARN.</p>\n@param arn The device type's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "GetRemoteAccessSessionRequest" : {
      "c2jName" : "GetRemoteAccessSessionRequest",
      "documentation" : "<p>Represents the request to get information about the specified remote access session.</p>",
      "shapeName" : "GetRemoteAccessSessionRequest",
      "deprecated" : false,
      "required" : [ "arn" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>",
        "name" : "Arn",
        "c2jName" : "arn",
        "c2jShape" : "AmazonResourceName",
        "variable" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "arn",
          "marshallLocationName" : "arn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>\n@param arn The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>\n@return The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>\n@param arn The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>\n@param arn The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getRemoteAccessSessionRequest",
        "variableType" : "GetRemoteAccessSessionRequest",
        "variableDeclarationType" : "GetRemoteAccessSessionRequest",
        "documentation" : null,
        "simpleType" : "GetRemoteAccessSessionRequest",
        "variableSetterType" : "GetRemoteAccessSessionRequest"
      },
      "marshaller" : {
        "action" : "GetRemoteAccessSession",
        "verb" : "POST",
        "target" : "DeviceFarm_20150623.GetRemoteAccessSession",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Arn" : {
          "documentation" : "<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>",
          "name" : "Arn",
          "c2jName" : "arn",
          "c2jShape" : "AmazonResourceName",
          "variable" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "arn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "arn",
            "marshallLocationName" : "arn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>\n@param arn The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>\n@return The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.*/",
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>\n@param arn The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.</p>\n@param arn The Amazon Resource Name (ARN) of the remote access session about which you want to get session information.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "NotEligibleException" : {
      "c2jName" : "NotEligibleException",
      "documentation" : "<p>Exception gets thrown when a user is not eligible to perform the specified transaction.</p>",
      "shapeName" : "NotEligibleException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "notEligibleException",
        "variableType" : "NotEligibleException",
        "variableDeclarationType" : "NotEligibleException",
        "documentation" : null,
        "simpleType" : "NotEligibleException",
        "variableSetterType" : "NotEligibleException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "NotEligibleException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ScheduleRunRequest" : {
      "c2jName" : "ScheduleRunRequest",
      "documentation" : "<p>Represents a request to the schedule run operation.</p>",
      "shapeName" : "ScheduleRunRequest",
      "deprecated" : false,
      "required" : [ "projectArn", "devicePoolArn", "test" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ARN of the project for the run to be scheduled.</p>",
        "name" : "ProjectArn",
        "c2jName" : "projectArn",
        "c2jShape" : "AmazonResourceName",
        "variable" : {
          "variableName" : "projectArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the project for the run to be scheduled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "projectArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "projectArn",
          "marshallLocationName" : "projectArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the project for the run to be scheduled.</p>\n@param projectArn The ARN of the project for the run to be scheduled.*/",
[...]
