{
  "metadata" : {
    "apiVersion" : "2015-02-02",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon ElastiCache</fullname> <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale a distributed cache in the cloud.</p> <p>With ElastiCache, customers gain all of the benefits of a high-performance, in-memory cache with far less of the administrative burden of launching and managing a distributed cache. The service makes setup, scaling, and cluster failure handling much simpler than in a self-managed cache deployment.</p> <p>In addition, through integration with Amazon CloudWatch, customers get enhanced visibility into the key performance statistics associated with their cache and can receive alarms if a part of their cache runs hot.</p>",
    "defaultEndpoint" : "elasticache.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticache.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonElastiCache",
    "syncClient" : "AmazonElastiCacheClient",
    "asyncInterface" : "AmazonElastiCacheAsync",
    "asyncClient" : "AmazonElastiCacheAsyncClient",
    "packageName" : "com.amazonaws.services.elasticache",
    "packagePath" : "com/amazonaws/services/elasticache",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon ElastiCache",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "elasticache",
    "signingName" : "elasticache",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "syncClientBuilderClassName" : "AmazonElastiCacheClientBuilder",
    "asyncClientBuilderClassName" : "AmazonElastiCacheAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonElastiCacheModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticache.smoketests",
    "serviceName" : "Amazon ElastiCache",
    "jsonProtocol" : false,
    "xmlProtocol" : true,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller"
  },
  "operations" : {
    "AddTagsToResource" : {
      "documentation" : "<p>The <i>AddTagsToResource</i> action adds up to 10 cost allocation tags to the named resource. A <i>cost allocation tag</i> is a key-value pair where the key and value are case-sensitive. Cost allocation tags can be used to categorize and track your AWS costs.</p> <p> When you apply tags to your ElastiCache resources, AWS generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Tagging.html\">Using Cost Allocation Tags in Amazon ElastiCache</a> in the <i>ElastiCache User Guide</i>.</p>",
      "operationName" : "AddTagsToResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "documentation" : "<p>Represents the input of an <i>AddTagsToResource</i> action.</p>",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : "<p>Represents the output from the <i>AddTagsToResource</i>, <i>ListTagsOnResource</i>, and <i>RemoveTagsFromResource</i> actions.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p>The requested snapshot name does not refer to an existing snapshot.</p>"
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p>The request cannot be processed because it would cause the resource to have more than the allowed number of tags. The maximum number of tags permitted on a resource is 10.</p>"
      }, {
        "exceptionName" : "InvalidARNException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "addTagsToResource",
      "syncReturnType" : "AddTagsToResourceResult",
      "asyncReturnType" : "AddTagsToResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "authenticated" : true
    },
    "AuthorizeCacheSecurityGroupIngress" : {
      "documentation" : "<p>The <i>AuthorizeCacheSecurityGroupIngress</i> action allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p> <note> <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an ElastiCache cluster in another region.</p> </note>",
      "operationName" : "AuthorizeCacheSecurityGroupIngress",
      "deprecated" : false,
      "input" : {
        "variableName" : "authorizeCacheSecurityGroupIngressRequest",
        "variableType" : "AuthorizeCacheSecurityGroupIngressRequest",
        "variableDeclarationType" : "AuthorizeCacheSecurityGroupIngressRequest",
        "documentation" : "<p>Represents the input of an <i>AuthorizeCacheSecurityGroupIngress</i> action.</p>",
        "simpleType" : "AuthorizeCacheSecurityGroupIngressRequest",
        "variableSetterType" : "AuthorizeCacheSecurityGroupIngressRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheSecurityGroup",
        "documentation" : "<p>Represents the output of one of the following actions:</p> <ul> <li> <p> <i>AuthorizeCacheSecurityGroupIngress</i> </p> </li> <li> <p> <i>CreateCacheSecurityGroup</i> </p> </li> <li> <p> <i>RevokeCacheSecurityGroupIngress</i> </p> </li> </ul>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheSecurityGroupNotFoundException",
        "documentation" : "<p>The requested cache security group name does not refer to an existing cache security group.</p>"
      }, {
        "exceptionName" : "InvalidCacheSecurityGroupStateException",
        "documentation" : "<p>The current state of the cache security group does not allow deletion.</p>"
      }, {
        "exceptionName" : "AuthorizationAlreadyExistsException",
        "documentation" : "<p>The specified Amazon EC2 security group is already authorized for the specified cache security group.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "authorizeCacheSecurityGroupIngress",
      "syncReturnType" : "CacheSecurityGroup",
      "asyncReturnType" : "CacheSecurityGroup",
      "asyncFutureType" : "java.util.concurrent.Future<CacheSecurityGroup>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheSecurityGroup>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AuthorizeCacheSecurityGroupIngressRequest, CacheSecurityGroup>",
      "authenticated" : true
    },
    "CopySnapshot" : {
      "documentation" : "<p>The <i>CopySnapshot</i> action makes a copy of an existing snapshot.</p> <important> <p>Users or groups that have permissions to use the <i>CopySnapshot</i> API can create their own Amazon S3 buckets and copy snapshots to it. To control access to your snapshots, use an IAM policy to control who has the ability to use the <i>CopySnapshot</i> API. For more information about using IAM to control the use of ElastiCache APIs, see <a href=\"http://docs.aws.amazon.com/ElastiCache/latest/Snapshots.Exporting.html\">Exporting Snapshots</a> and <a href=\"http://docs.aws.amazon.com/ElastiCache/latest/IAM.html\">Authentication &amp; Access Control</a>.</p> </important> <p class=\"title\"> <b>Erorr Message:</b> </p> <ul> <li> <p> <b>Error Message:</b> The authenticated user does not have sufficient permissions to perform the desired activity.</p> <p> <b>Solution:</b> Contact your system administrator to get the needed permissions.</p> </li> </ul>",
      "operationName" : "CopySnapshot",
      "deprecated" : false,
      "input" : {
        "variableName" : "copySnapshotRequest",
        "variableType" : "CopySnapshotRequest",
        "variableDeclarationType" : "CopySnapshotRequest",
        "documentation" : "<p>Represents the input of a <i>CopySnapshotMessage</i> action.</p>",
        "simpleType" : "CopySnapshotRequest",
        "variableSetterType" : "CopySnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "Snapshot",
        "documentation" : "<p>Represents a copy of an entire cache cluster as of the time when the snapshot was taken.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "SnapshotAlreadyExistsException",
        "documentation" : "<p>You already have a snapshot with the given name.</p>"
      }, {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p>The requested snapshot name does not refer to an existing snapshot.</p>"
      }, {
        "exceptionName" : "SnapshotQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the maximum number of snapshots.</p>"
      }, {
        "exceptionName" : "InvalidSnapshotStateException",
        "documentation" : "<p>The current state of the snapshot does not allow the requested action to occur.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "copySnapshot",
      "syncReturnType" : "Snapshot",
      "asyncReturnType" : "Snapshot",
      "asyncFutureType" : "java.util.concurrent.Future<Snapshot>",
      "asyncCallableType" : "java.util.concurrent.Callable<Snapshot>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CopySnapshotRequest, Snapshot>",
      "authenticated" : true
    },
    "CreateCacheCluster" : {
      "documentation" : "<p>The <i>CreateCacheCluster</i> action creates a cache cluster. All nodes in the cache cluster run the same protocol-compliant cache engine software, either Memcached or Redis.</p>",
      "operationName" : "CreateCacheCluster",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCacheClusterRequest",
        "variableType" : "CreateCacheClusterRequest",
        "variableDeclarationType" : "CreateCacheClusterRequest",
        "documentation" : "<p>Represents the input of a <i>CreateCacheCluster</i> action.</p>",
        "simpleType" : "CreateCacheClusterRequest",
        "variableSetterType" : "CreateCacheClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheCluster",
        "documentation" : "<p>Contains all of the attributes of a specific cache cluster.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ReplicationGroupNotFoundException",
        "documentation" : "<p>The specified replication group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidReplicationGroupStateException",
        "documentation" : "<p>The requested replication group is not in the <i>available</i> state.</p>"
      }, {
        "exceptionName" : "CacheClusterAlreadyExistsException",
        "documentation" : "<p>You already have a cache cluster with the given identifier.</p>"
      }, {
        "exceptionName" : "InsufficientCacheClusterCapacityException",
        "documentation" : "<p>The requested cache node type is not available in the specified Availability Zone.</p>"
      }, {
        "exceptionName" : "CacheSecurityGroupNotFoundException",
        "documentation" : "<p>The requested cache security group name does not refer to an existing cache security group.</p>"
      }, {
        "exceptionName" : "CacheSubnetGroupNotFoundException",
        "documentation" : "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>"
      }, {
        "exceptionName" : "ClusterQuotaForCustomerExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache clusters per customer.</p>"
      }, {
        "exceptionName" : "NodeQuotaForClusterExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache nodes in a single cache cluster.</p>"
      }, {
        "exceptionName" : "NodeQuotaForCustomerExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache nodes per customer.</p>"
      }, {
        "exceptionName" : "CacheParameterGroupNotFoundException",
        "documentation" : "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>"
      }, {
        "exceptionName" : "InvalidVPCNetworkStateException",
        "documentation" : "<p>The VPC network is in an invalid state.</p>"
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p>The request cannot be processed because it would cause the resource to have more than the allowed number of tags. The maximum number of tags permitted on a resource is 10.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createCacheCluster",
      "syncReturnType" : "CacheCluster",
      "asyncReturnType" : "CacheCluster",
      "asyncFutureType" : "java.util.concurrent.Future<CacheCluster>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheCluster>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCacheClusterRequest, CacheCluster>",
      "authenticated" : true
    },
    "CreateCacheParameterGroup" : {
      "documentation" : "<p>The <i>CreateCacheParameterGroup</i> action creates a new cache parameter group. A cache parameter group is a collection of parameters that you apply to all of the nodes in a cache cluster.</p>",
      "operationName" : "CreateCacheParameterGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCacheParameterGroupRequest",
        "variableType" : "CreateCacheParameterGroupRequest",
        "variableDeclarationType" : "CreateCacheParameterGroupRequest",
        "documentation" : "<p>Represents the input of a <i>CreateCacheParameterGroup</i> action.</p>",
        "simpleType" : "CreateCacheParameterGroupRequest",
        "variableSetterType" : "CreateCacheParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheParameterGroup",
        "documentation" : "<p>Represents the output of a <i>CreateCacheParameterGroup</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheParameterGroupQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the maximum number of cache security groups.</p>"
      }, {
        "exceptionName" : "CacheParameterGroupAlreadyExistsException",
        "documentation" : "<p>A cache parameter group with the requested name already exists.</p>"
      }, {
        "exceptionName" : "InvalidCacheParameterGroupStateException",
        "documentation" : "<p>The current state of the cache parameter group does not allow the requested action to occur.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createCacheParameterGroup",
      "syncReturnType" : "CacheParameterGroup",
      "asyncReturnType" : "CacheParameterGroup",
      "asyncFutureType" : "java.util.concurrent.Future<CacheParameterGroup>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheParameterGroup>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCacheParameterGroupRequest, CacheParameterGroup>",
      "authenticated" : true
    },
    "CreateCacheSecurityGroup" : {
      "documentation" : "<p>The <i>CreateCacheSecurityGroup</i> action creates a new cache security group. Use a cache security group to control access to one or more cache clusters.</p> <p>Cache security groups are only used when you are creating a cache cluster outside of an Amazon Virtual Private Cloud (VPC). If you are creating a cache cluster inside of a VPC, use a cache subnet group instead. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateCacheSubnetGroup.html\">CreateCacheSubnetGroup</a>.</p>",
      "operationName" : "CreateCacheSecurityGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCacheSecurityGroupRequest",
        "variableType" : "CreateCacheSecurityGroupRequest",
        "variableDeclarationType" : "CreateCacheSecurityGroupRequest",
        "documentation" : "<p>Represents the input of a <i>CreateCacheSecurityGroup</i> action.</p>",
        "simpleType" : "CreateCacheSecurityGroupRequest",
        "variableSetterType" : "CreateCacheSecurityGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheSecurityGroup",
        "documentation" : "<p>Represents the output of one of the following actions:</p> <ul> <li> <p> <i>AuthorizeCacheSecurityGroupIngress</i> </p> </li> <li> <p> <i>CreateCacheSecurityGroup</i> </p> </li> <li> <p> <i>RevokeCacheSecurityGroupIngress</i> </p> </li> </ul>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheSecurityGroupAlreadyExistsException",
        "documentation" : "<p>A cache security group with the specified name already exists.</p>"
      }, {
        "exceptionName" : "CacheSecurityGroupQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache security groups.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createCacheSecurityGroup",
      "syncReturnType" : "CacheSecurityGroup",
      "asyncReturnType" : "CacheSecurityGroup",
      "asyncFutureType" : "java.util.concurrent.Future<CacheSecurityGroup>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheSecurityGroup>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCacheSecurityGroupRequest, CacheSecurityGroup>",
      "authenticated" : true
    },
    "CreateCacheSubnetGroup" : {
      "documentation" : "<p>The <i>CreateCacheSubnetGroup</i> action creates a new cache subnet group.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (VPC).</p>",
      "operationName" : "CreateCacheSubnetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCacheSubnetGroupRequest",
        "variableType" : "CreateCacheSubnetGroupRequest",
        "variableDeclarationType" : "CreateCacheSubnetGroupRequest",
        "documentation" : "<p>Represents the input of a <i>CreateCacheSubnetGroup</i> action.</p>",
        "simpleType" : "CreateCacheSubnetGroupRequest",
        "variableSetterType" : "CreateCacheSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheSubnetGroup",
        "documentation" : "<p>Represents the output of one of the following actions:</p> <ul> <li> <p> <i>CreateCacheSubnetGroup</i> </p> </li> <li> <p> <i>ModifyCacheSubnetGroup</i> </p> </li> </ul>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheSubnetGroupAlreadyExistsException",
        "documentation" : "<p>The requested cache subnet group name is already in use by an existing cache subnet group.</p>"
      }, {
        "exceptionName" : "CacheSubnetGroupQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache subnet groups.</p>"
      }, {
        "exceptionName" : "CacheSubnetQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of subnets in a cache subnet group.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>An invalid subnet identifier was specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createCacheSubnetGroup",
      "syncReturnType" : "CacheSubnetGroup",
      "asyncReturnType" : "CacheSubnetGroup",
      "asyncFutureType" : "java.util.concurrent.Future<CacheSubnetGroup>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheSubnetGroup>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCacheSubnetGroupRequest, CacheSubnetGroup>",
      "authenticated" : true
    },
    "CreateReplicationGroup" : {
      "documentation" : "<p>The <i>CreateReplicationGroup</i> action creates a replication group. A replication group is a collection of cache clusters, where one of the cache clusters is a read/write primary and the others are read-only replicas. Writes to the primary are automatically propagated to the replicas.</p> <p>When you create a replication group, you must specify an existing cache cluster that is in the primary role. When the replication group has been successfully created, you can add one or more read replica replicas to it, up to a total of five read replicas.</p> <note> <p>This action is valid only for Redis.</p> </note>",
      "operationName" : "CreateReplicationGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createReplicationGroupRequest",
        "variableType" : "CreateReplicationGroupRequest",
        "variableDeclarationType" : "CreateReplicationGroupRequest",
        "documentation" : "<p>Represents the input of a <i>CreateReplicationGroup</i> action.</p>",
        "simpleType" : "CreateReplicationGroupRequest",
        "variableSetterType" : "CreateReplicationGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReplicationGroup",
        "documentation" : "<p>Contains all of the attributes of a specific replication group.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "InvalidCacheClusterStateException",
        "documentation" : "<p>The requested cache cluster is not in the <i>available</i> state.</p>"
      }, {
        "exceptionName" : "ReplicationGroupAlreadyExistsException",
        "documentation" : "<p>The specified replication group already exists.</p>"
      }, {
        "exceptionName" : "InsufficientCacheClusterCapacityException",
        "documentation" : "<p>The requested cache node type is not available in the specified Availability Zone.</p>"
      }, {
        "exceptionName" : "CacheSecurityGroupNotFoundException",
        "documentation" : "<p>The requested cache security group name does not refer to an existing cache security group.</p>"
      }, {
        "exceptionName" : "CacheSubnetGroupNotFoundException",
        "documentation" : "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>"
      }, {
        "exceptionName" : "ClusterQuotaForCustomerExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache clusters per customer.</p>"
      }, {
        "exceptionName" : "NodeQuotaForClusterExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache nodes in a single cache cluster.</p>"
      }, {
        "exceptionName" : "NodeQuotaForCustomerExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache nodes per customer.</p>"
      }, {
        "exceptionName" : "CacheParameterGroupNotFoundException",
        "documentation" : "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>"
      }, {
        "exceptionName" : "InvalidVPCNetworkStateException",
        "documentation" : "<p>The VPC network is in an invalid state.</p>"
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p>The request cannot be processed because it would cause the resource to have more than the allowed number of tags. The maximum number of tags permitted on a resource is 10.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createReplicationGroup",
      "syncReturnType" : "ReplicationGroup",
      "asyncReturnType" : "ReplicationGroup",
      "asyncFutureType" : "java.util.concurrent.Future<ReplicationGroup>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReplicationGroup>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationGroupRequest, ReplicationGroup>",
      "authenticated" : true
    },
    "CreateSnapshot" : {
      "documentation" : "<p>The <i>CreateSnapshot</i> action creates a copy of an entire cache cluster at a specific moment in time.</p>",
      "operationName" : "CreateSnapshot",
      "deprecated" : false,
      "input" : {
        "variableName" : "createSnapshotRequest",
        "variableType" : "CreateSnapshotRequest",
        "variableDeclarationType" : "CreateSnapshotRequest",
        "documentation" : "<p>Represents the input of a <i>CreateSnapshot</i> action.</p>",
        "simpleType" : "CreateSnapshotRequest",
        "variableSetterType" : "CreateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "Snapshot",
        "documentation" : "<p>Represents a copy of an entire cache cluster as of the time when the snapshot was taken.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "SnapshotAlreadyExistsException",
        "documentation" : "<p>You already have a snapshot with the given name.</p>"
      }, {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "InvalidCacheClusterStateException",
        "documentation" : "<p>The requested cache cluster is not in the <i>available</i> state.</p>"
      }, {
        "exceptionName" : "SnapshotQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the maximum number of snapshots.</p>"
      }, {
        "exceptionName" : "SnapshotFeatureNotSupportedException",
        "documentation" : "<p>You attempted one of the following actions:</p> <ul> <li> <p>Creating a snapshot of a Redis cache cluster running on a <i>t1.micro</i> cache node.</p> </li> <li> <p>Creating a snapshot of a cache cluster that is running Memcached rather than Redis.</p> </li> </ul> <p>Neither of these are supported by ElastiCache.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createSnapshot",
      "syncReturnType" : "Snapshot",
      "asyncReturnType" : "Snapshot",
      "asyncFutureType" : "java.util.concurrent.Future<Snapshot>",
      "asyncCallableType" : "java.util.concurrent.Callable<Snapshot>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotRequest, Snapshot>",
      "authenticated" : true
    },
    "DeleteCacheCluster" : {
      "documentation" : "<p>The <i>DeleteCacheCluster</i> action deletes a previously provisioned cache cluster. <i>DeleteCacheCluster</i> deletes all associated cache nodes, node endpoints and the cache cluster itself. When you receive a successful response from this action, Amazon ElastiCache immediately begins deleting the cache cluster; you cannot cancel or revert this action.</p> <p>This API cannot be used to delete a cache cluster that is the last read replica of a replication group that has Multi-AZ mode enabled.</p>",
      "operationName" : "DeleteCacheCluster",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCacheClusterRequest",
        "variableType" : "DeleteCacheClusterRequest",
        "variableDeclarationType" : "DeleteCacheClusterRequest",
        "documentation" : "<p>Represents the input of a <i>DeleteCacheCluster</i> action.</p>",
        "simpleType" : "DeleteCacheClusterRequest",
        "variableSetterType" : "DeleteCacheClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheCluster",
        "documentation" : "<p>Contains all of the attributes of a specific cache cluster.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "InvalidCacheClusterStateException",
        "documentation" : "<p>The requested cache cluster is not in the <i>available</i> state.</p>"
      }, {
        "exceptionName" : "SnapshotAlreadyExistsException",
        "documentation" : "<p>You already have a snapshot with the given name.</p>"
      }, {
        "exceptionName" : "SnapshotFeatureNotSupportedException",
        "documentation" : "<p>You attempted one of the following actions:</p> <ul> <li> <p>Creating a snapshot of a Redis cache cluster running on a <i>t1.micro</i> cache node.</p> </li> <li> <p>Creating a snapshot of a cache cluster that is running Memcached rather than Redis.</p> </li> </ul> <p>Neither of these are supported by ElastiCache.</p>"
      }, {
        "exceptionName" : "SnapshotQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the maximum number of snapshots.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteCacheCluster",
      "syncReturnType" : "CacheCluster",
      "asyncReturnType" : "CacheCluster",
      "asyncFutureType" : "java.util.concurrent.Future<CacheCluster>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheCluster>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCacheClusterRequest, CacheCluster>",
      "authenticated" : true
    },
    "DeleteCacheParameterGroup" : {
      "documentation" : "<p>The <i>DeleteCacheParameterGroup</i> action deletes the specified cache parameter group. You cannot delete a cache parameter group if it is associated with any cache clusters.</p>",
      "operationName" : "DeleteCacheParameterGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCacheParameterGroupRequest",
        "variableType" : "DeleteCacheParameterGroupRequest",
        "variableDeclarationType" : "DeleteCacheParameterGroupRequest",
        "documentation" : "<p>Represents the input of a <i>DeleteCacheParameterGroup</i> action.</p>",
        "simpleType" : "DeleteCacheParameterGroupRequest",
        "variableSetterType" : "DeleteCacheParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteCacheParameterGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidCacheParameterGroupStateException",
        "documentation" : "<p>The current state of the cache parameter group does not allow the requested action to occur.</p>"
      }, {
        "exceptionName" : "CacheParameterGroupNotFoundException",
        "documentation" : "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteCacheParameterGroup",
      "syncReturnType" : "DeleteCacheParameterGroupResult",
      "asyncReturnType" : "DeleteCacheParameterGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCacheParameterGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCacheParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCacheParameterGroupRequest, DeleteCacheParameterGroupResult>",
      "authenticated" : true
    },
    "DeleteCacheSecurityGroup" : {
      "documentation" : "<p>The <i>DeleteCacheSecurityGroup</i> action deletes a cache security group.</p> <note> <p>You cannot delete a cache security group if it is associated with any cache clusters.</p> </note>",
      "operationName" : "DeleteCacheSecurityGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCacheSecurityGroupRequest",
        "variableType" : "DeleteCacheSecurityGroupRequest",
        "variableDeclarationType" : "DeleteCacheSecurityGroupRequest",
        "documentation" : "<p>Represents the input of a <i>DeleteCacheSecurityGroup</i> action.</p>",
        "simpleType" : "DeleteCacheSecurityGroupRequest",
        "variableSetterType" : "DeleteCacheSecurityGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteCacheSecurityGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidCacheSecurityGroupStateException",
        "documentation" : "<p>The current state of the cache security group does not allow deletion.</p>"
      }, {
        "exceptionName" : "CacheSecurityGroupNotFoundException",
        "documentation" : "<p>The requested cache security group name does not refer to an existing cache security group.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteCacheSecurityGroup",
      "syncReturnType" : "DeleteCacheSecurityGroupResult",
      "asyncReturnType" : "DeleteCacheSecurityGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCacheSecurityGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCacheSecurityGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCacheSecurityGroupRequest, DeleteCacheSecurityGroupResult>",
      "authenticated" : true
    },
    "DeleteCacheSubnetGroup" : {
      "documentation" : "<p>The <i>DeleteCacheSubnetGroup</i> action deletes a cache subnet group.</p> <note> <p>You cannot delete a cache subnet group if it is associated with any cache clusters.</p> </note>",
      "operationName" : "DeleteCacheSubnetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCacheSubnetGroupRequest",
        "variableType" : "DeleteCacheSubnetGroupRequest",
        "variableDeclarationType" : "DeleteCacheSubnetGroupRequest",
        "documentation" : "<p>Represents the input of a <i>DeleteCacheSubnetGroup</i> action.</p>",
        "simpleType" : "DeleteCacheSubnetGroupRequest",
        "variableSetterType" : "DeleteCacheSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteCacheSubnetGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CacheSubnetGroupInUseException",
        "documentation" : "<p>The requested cache subnet group is currently in use.</p>"
      }, {
        "exceptionName" : "CacheSubnetGroupNotFoundException",
        "documentation" : "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteCacheSubnetGroup",
      "syncReturnType" : "DeleteCacheSubnetGroupResult",
      "asyncReturnType" : "DeleteCacheSubnetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCacheSubnetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCacheSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCacheSubnetGroupRequest, DeleteCacheSubnetGroupResult>",
      "authenticated" : true
    },
    "DeleteReplicationGroup" : {
      "documentation" : "<p>The <i>DeleteReplicationGroup</i> action deletes an existing replication group. By default, this action deletes the entire replication group, including the primary cluster and all of the read replicas. You can optionally delete only the read replicas, while retaining the primary cluster.</p> <p>When you receive a successful response from this action, Amazon ElastiCache immediately begins deleting the selected resources; you cannot cancel or revert this action.</p>",
      "operationName" : "DeleteReplicationGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteReplicationGroupRequest",
        "variableType" : "DeleteReplicationGroupRequest",
        "variableDeclarationType" : "DeleteReplicationGroupRequest",
        "documentation" : "<p>Represents the input of a <i>DeleteReplicationGroup</i> action.</p>",
        "simpleType" : "DeleteReplicationGroupRequest",
        "variableSetterType" : "DeleteReplicationGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReplicationGroup",
        "documentation" : "<p>Contains all of the attributes of a specific replication group.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ReplicationGroupNotFoundException",
        "documentation" : "<p>The specified replication group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidReplicationGroupStateException",
        "documentation" : "<p>The requested replication group is not in the <i>available</i> state.</p>"
      }, {
        "exceptionName" : "SnapshotAlreadyExistsException",
        "documentation" : "<p>You already have a snapshot with the given name.</p>"
      }, {
        "exceptionName" : "SnapshotFeatureNotSupportedException",
        "documentation" : "<p>You attempted one of the following actions:</p> <ul> <li> <p>Creating a snapshot of a Redis cache cluster running on a <i>t1.micro</i> cache node.</p> </li> <li> <p>Creating a snapshot of a cache cluster that is running Memcached rather than Redis.</p> </li> </ul> <p>Neither of these are supported by ElastiCache.</p>"
      }, {
        "exceptionName" : "SnapshotQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the maximum number of snapshots.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteReplicationGroup",
      "syncReturnType" : "ReplicationGroup",
      "asyncReturnType" : "ReplicationGroup",
      "asyncFutureType" : "java.util.concurrent.Future<ReplicationGroup>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReplicationGroup>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationGroupRequest, ReplicationGroup>",
      "authenticated" : true
    },
    "DeleteSnapshot" : {
      "documentation" : "<p>The <i>DeleteSnapshot</i> action deletes an existing snapshot. When you receive a successful response from this action, ElastiCache immediately begins deleting the snapshot; you cannot cancel or revert this action.</p>",
      "operationName" : "DeleteSnapshot",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteSnapshotRequest",
        "variableType" : "DeleteSnapshotRequest",
        "variableDeclarationType" : "DeleteSnapshotRequest",
        "documentation" : "<p>Represents the input of a <i>DeleteSnapshot</i> action.</p>",
        "simpleType" : "DeleteSnapshotRequest",
        "variableSetterType" : "DeleteSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "Snapshot",
        "documentation" : "<p>Represents a copy of an entire cache cluster as of the time when the snapshot was taken.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p>The requested snapshot name does not refer to an existing snapshot.</p>"
      }, {
        "exceptionName" : "InvalidSnapshotStateException",
        "documentation" : "<p>The current state of the snapshot does not allow the requested action to occur.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteSnapshot",
      "syncReturnType" : "Snapshot",
      "asyncReturnType" : "Snapshot",
      "asyncFutureType" : "java.util.concurrent.Future<Snapshot>",
      "asyncCallableType" : "java.util.concurrent.Callable<Snapshot>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSnapshotRequest, Snapshot>",
      "authenticated" : true
    },
    "DescribeCacheClusters" : {
      "documentation" : "<p>The <i>DescribeCacheClusters</i> action returns information about all provisioned cache clusters if no cache cluster identifier is specified, or about a specific cache cluster if a cache cluster identifier is supplied.</p> <p>By default, abbreviated information about the cache clusters(s) will be returned. You can use the optional <i>ShowDetails</i> flag to retrieve detailed information about the cache nodes associated with the cache clusters. These details include the DNS address and port for the cache node endpoint.</p> <p>If the cluster is in the CREATING state, only cluster level information will be displayed until all of the nodes are successfully provisioned.</p> <p>If the cluster is in the DELETING state, only cluster level information will be displayed.</p> <p>If cache nodes are currently being added to the cache cluster, node endpoint information and creation time for the additional nodes will not be displayed until they are completely provisioned. When the cache cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If cache nodes are currently being removed from the cache cluster, no endpoint information for the removed nodes is displayed.</p>",
      "operationName" : "DescribeCacheClusters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCacheClustersRequest",
        "variableType" : "DescribeCacheClustersRequest",
        "variableDeclarationType" : "DescribeCacheClustersRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeCacheClusters</i> action.</p>",
        "simpleType" : "DescribeCacheClustersRequest",
        "variableSetterType" : "DescribeCacheClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCacheClustersResult",
        "documentation" : "<p>Represents the output of a <i>DescribeCacheClusters</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeCacheClusters",
      "syncReturnType" : "DescribeCacheClustersResult",
      "asyncReturnType" : "DescribeCacheClustersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCacheClustersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCacheClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCacheClustersRequest, DescribeCacheClustersResult>",
      "authenticated" : true
    },
    "DescribeCacheEngineVersions" : {
      "documentation" : "<p>The <i>DescribeCacheEngineVersions</i> action returns a list of the available cache engines and their versions.</p>",
      "operationName" : "DescribeCacheEngineVersions",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCacheEngineVersionsRequest",
        "variableType" : "DescribeCacheEngineVersionsRequest",
        "variableDeclarationType" : "DescribeCacheEngineVersionsRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeCacheEngineVersions</i> action.</p>",
        "simpleType" : "DescribeCacheEngineVersionsRequest",
        "variableSetterType" : "DescribeCacheEngineVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCacheEngineVersionsResult",
        "documentation" : "<p>Represents the output of a <a>DescribeCacheEngineVersions</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeCacheEngineVersions",
      "syncReturnType" : "DescribeCacheEngineVersionsResult",
      "asyncReturnType" : "DescribeCacheEngineVersionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCacheEngineVersionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCacheEngineVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCacheEngineVersionsRequest, DescribeCacheEngineVersionsResult>",
      "authenticated" : true
    },
    "DescribeCacheParameterGroups" : {
      "documentation" : "<p>The <i>DescribeCacheParameterGroups</i> action returns a list of cache parameter group descriptions. If a cache parameter group name is specified, the list will contain only the descriptions for that group.</p>",
      "operationName" : "DescribeCacheParameterGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCacheParameterGroupsRequest",
        "variableType" : "DescribeCacheParameterGroupsRequest",
        "variableDeclarationType" : "DescribeCacheParameterGroupsRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeCacheParameterGroups</i> action.</p>",
        "simpleType" : "DescribeCacheParameterGroupsRequest",
        "variableSetterType" : "DescribeCacheParameterGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCacheParameterGroupsResult",
        "documentation" : "<p>Represents the output of a <i>DescribeCacheParameterGroups</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheParameterGroupNotFoundException",
        "documentation" : "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeCacheParameterGroups",
      "syncReturnType" : "DescribeCacheParameterGroupsResult",
      "asyncReturnType" : "DescribeCacheParameterGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCacheParameterGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCacheParameterGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCacheParameterGroupsRequest, DescribeCacheParameterGroupsResult>",
      "authenticated" : true
    },
    "DescribeCacheParameters" : {
      "documentation" : "<p>The <i>DescribeCacheParameters</i> action returns the detailed parameter list for a particular cache parameter group.</p>",
      "operationName" : "DescribeCacheParameters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCacheParametersRequest",
        "variableType" : "DescribeCacheParametersRequest",
        "variableDeclarationType" : "DescribeCacheParametersRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeCacheParameters</i> action.</p>",
        "simpleType" : "DescribeCacheParametersRequest",
        "variableSetterType" : "DescribeCacheParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCacheParametersResult",
        "documentation" : "<p>Represents the output of a <i>DescribeCacheParameters</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheParameterGroupNotFoundException",
        "documentation" : "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeCacheParameters",
      "syncReturnType" : "DescribeCacheParametersResult",
      "asyncReturnType" : "DescribeCacheParametersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCacheParametersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCacheParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCacheParametersRequest, DescribeCacheParametersResult>",
      "authenticated" : true
    },
    "DescribeCacheSecurityGroups" : {
      "documentation" : "<p>The <i>DescribeCacheSecurityGroups</i> action returns a list of cache security group descriptions. If a cache security group name is specified, the list will contain only the description of that group.</p>",
      "operationName" : "DescribeCacheSecurityGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCacheSecurityGroupsRequest",
        "variableType" : "DescribeCacheSecurityGroupsRequest",
        "variableDeclarationType" : "DescribeCacheSecurityGroupsRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeCacheSecurityGroups</i> action.</p>",
        "simpleType" : "DescribeCacheSecurityGroupsRequest",
        "variableSetterType" : "DescribeCacheSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCacheSecurityGroupsResult",
        "documentation" : "<p>Represents the output of a <i>DescribeCacheSecurityGroups</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheSecurityGroupNotFoundException",
        "documentation" : "<p>The requested cache security group name does not refer to an existing cache security group.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeCacheSecurityGroups",
      "syncReturnType" : "DescribeCacheSecurityGroupsResult",
      "asyncReturnType" : "DescribeCacheSecurityGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCacheSecurityGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCacheSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCacheSecurityGroupsRequest, DescribeCacheSecurityGroupsResult>",
      "authenticated" : true
    },
    "DescribeCacheSubnetGroups" : {
      "documentation" : "<p>The <i>DescribeCacheSubnetGroups</i> action returns a list of cache subnet group descriptions. If a subnet group name is specified, the list will contain only the description of that group.</p>",
      "operationName" : "DescribeCacheSubnetGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCacheSubnetGroupsRequest",
        "variableType" : "DescribeCacheSubnetGroupsRequest",
        "variableDeclarationType" : "DescribeCacheSubnetGroupsRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeCacheSubnetGroups</i> action.</p>",
        "simpleType" : "DescribeCacheSubnetGroupsRequest",
        "variableSetterType" : "DescribeCacheSubnetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCacheSubnetGroupsResult",
        "documentation" : "<p>Represents the output of a <i>DescribeCacheSubnetGroups</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheSubnetGroupNotFoundException",
        "documentation" : "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeCacheSubnetGroups",
      "syncReturnType" : "DescribeCacheSubnetGroupsResult",
      "asyncReturnType" : "DescribeCacheSubnetGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCacheSubnetGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCacheSubnetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCacheSubnetGroupsRequest, DescribeCacheSubnetGroupsResult>",
      "authenticated" : true
    },
    "DescribeEngineDefaultParameters" : {
      "documentation" : "<p>The <i>DescribeEngineDefaultParameters</i> action returns the default engine and system parameter information for the specified cache engine.</p>",
      "operationName" : "DescribeEngineDefaultParameters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEngineDefaultParametersRequest",
        "variableType" : "DescribeEngineDefaultParametersRequest",
        "variableDeclarationType" : "DescribeEngineDefaultParametersRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeEngineDefaultParameters</i> action.</p>",
        "simpleType" : "DescribeEngineDefaultParametersRequest",
        "variableSetterType" : "DescribeEngineDefaultParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EngineDefaults",
        "documentation" : "<p>Represents the output of a <i>DescribeEngineDefaultParameters</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeEngineDefaultParameters",
      "syncReturnType" : "EngineDefaults",
      "asyncReturnType" : "EngineDefaults",
      "asyncFutureType" : "java.util.concurrent.Future<EngineDefaults>",
      "asyncCallableType" : "java.util.concurrent.Callable<EngineDefaults>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEngineDefaultParametersRequest, EngineDefaults>",
      "authenticated" : true
    },
    "DescribeEvents" : {
      "documentation" : "<p>The <i>DescribeEvents</i> action returns events related to cache clusters, cache security groups, and cache parameter groups. You can obtain events specific to a particular cache cluster, cache security group, or cache parameter group by providing the name as a parameter.</p> <p>By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days' worth of events if necessary.</p>",
      "operationName" : "DescribeEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEventsRequest",
        "variableType" : "DescribeEventsRequest",
        "variableDeclarationType" : "DescribeEventsRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeEvents</i> action.</p>",
        "simpleType" : "DescribeEventsRequest",
        "variableSetterType" : "DescribeEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEventsResult",
        "documentation" : "<p>Represents the output of a <i>DescribeEvents</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeEvents",
      "syncReturnType" : "DescribeEventsResult",
      "asyncReturnType" : "DescribeEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventsRequest, DescribeEventsResult>",
      "authenticated" : true
    },
    "DescribeReplicationGroups" : {
      "documentation" : "<p>The <i>DescribeReplicationGroups</i> action returns information about a particular replication group. If no identifier is specified, <i>DescribeReplicationGroups</i> returns information about all replication groups.</p>",
      "operationName" : "DescribeReplicationGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeReplicationGroupsRequest",
        "variableType" : "DescribeReplicationGroupsRequest",
        "variableDeclarationType" : "DescribeReplicationGroupsRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeReplicationGroups</i> action.</p>",
        "simpleType" : "DescribeReplicationGroupsRequest",
        "variableSetterType" : "DescribeReplicationGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeReplicationGroupsResult",
        "documentation" : "<p>Represents the output of a <i>DescribeReplicationGroups</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ReplicationGroupNotFoundException",
        "documentation" : "<p>The specified replication group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeReplicationGroups",
      "syncReturnType" : "DescribeReplicationGroupsResult",
      "asyncReturnType" : "DescribeReplicationGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationGroupsRequest, DescribeReplicationGroupsResult>",
      "authenticated" : true
    },
    "DescribeReservedCacheNodes" : {
      "documentation" : "<p>The <i>DescribeReservedCacheNodes</i> action returns information about reserved cache nodes for this account, or about a specified reserved cache node.</p>",
      "operationName" : "DescribeReservedCacheNodes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeReservedCacheNodesRequest",
        "variableType" : "DescribeReservedCacheNodesRequest",
        "variableDeclarationType" : "DescribeReservedCacheNodesRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeReservedCacheNodes</i> action.</p>",
        "simpleType" : "DescribeReservedCacheNodesRequest",
        "variableSetterType" : "DescribeReservedCacheNodesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeReservedCacheNodesResult",
        "documentation" : "<p>Represents the output of a <i>DescribeReservedCacheNodes</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ReservedCacheNodeNotFoundException",
        "documentation" : "<p>The requested reserved cache node was not found.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeReservedCacheNodes",
      "syncReturnType" : "DescribeReservedCacheNodesResult",
      "asyncReturnType" : "DescribeReservedCacheNodesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReservedCacheNodesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReservedCacheNodesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReservedCacheNodesRequest, DescribeReservedCacheNodesResult>",
      "authenticated" : true
    },
    "DescribeReservedCacheNodesOfferings" : {
      "documentation" : "<p>The <i>DescribeReservedCacheNodesOfferings</i> action lists available reserved cache node offerings.</p>",
      "operationName" : "DescribeReservedCacheNodesOfferings",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeReservedCacheNodesOfferingsRequest",
        "variableType" : "DescribeReservedCacheNodesOfferingsRequest",
        "variableDeclarationType" : "DescribeReservedCacheNodesOfferingsRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeReservedCacheNodesOfferings</i> action.</p>",
        "simpleType" : "DescribeReservedCacheNodesOfferingsRequest",
        "variableSetterType" : "DescribeReservedCacheNodesOfferingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeReservedCacheNodesOfferingsResult",
        "documentation" : "<p>Represents the output of a <i>DescribeReservedCacheNodesOfferings</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ReservedCacheNodesOfferingNotFoundException",
        "documentation" : "<p>The requested cache node offering does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeReservedCacheNodesOfferings",
      "syncReturnType" : "DescribeReservedCacheNodesOfferingsResult",
      "asyncReturnType" : "DescribeReservedCacheNodesOfferingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReservedCacheNodesOfferingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReservedCacheNodesOfferingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReservedCacheNodesOfferingsRequest, DescribeReservedCacheNodesOfferingsResult>",
      "authenticated" : true
    },
    "DescribeSnapshots" : {
      "documentation" : "<p>The <i>DescribeSnapshots</i> action returns information about cache cluster snapshots. By default, <i>DescribeSnapshots</i> lists all of your snapshots; it can optionally describe a single snapshot, or just the snapshots associated with a particular cache cluster.</p>",
      "operationName" : "DescribeSnapshots",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSnapshotsRequest",
        "variableType" : "DescribeSnapshotsRequest",
        "variableDeclarationType" : "DescribeSnapshotsRequest",
        "documentation" : "<p>Represents the input of a <i>DescribeSnapshotsMessage</i> action.</p>",
        "simpleType" : "DescribeSnapshotsRequest",
        "variableSetterType" : "DescribeSnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSnapshotsResult",
        "documentation" : "<p>Represents the output of a <i>DescribeSnapshots</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p>The requested snapshot name does not refer to an existing snapshot.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeSnapshots",
      "syncReturnType" : "DescribeSnapshotsResult",
      "asyncReturnType" : "DescribeSnapshotsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSnapshotsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSnapshotsRequest, DescribeSnapshotsResult>",
      "authenticated" : true
    },
    "ListAllowedNodeTypeModifications" : {
      "documentation" : "<p>The <code>ListAllowedNodeTypeModifications</code> action lists all available node types that you can scale your Redis cluster's or replication group's current node type up to.</p> <p>When you use the <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code> APIs to scale up your cluster or replication group, the value of the <i>CacheNodeType</i> parameter must be one of the node types returned by this action.</p>",
      "operationName" : "ListAllowedNodeTypeModifications",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAllowedNodeTypeModificationsRequest",
        "variableType" : "ListAllowedNodeTypeModificationsRequest",
        "variableDeclarationType" : "ListAllowedNodeTypeModificationsRequest",
        "documentation" : "<p>The input parameters for the <i>ListAllowedNodeTypeModifications</i> action.</p>",
        "simpleType" : "ListAllowedNodeTypeModificationsRequest",
        "variableSetterType" : "ListAllowedNodeTypeModificationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAllowedNodeTypeModificationsResult",
        "documentation" : "<p>Represents the allowed node types you can use to modify your cache cluster or replication group.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "ReplicationGroupNotFoundException",
        "documentation" : "<p>The specified replication group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listAllowedNodeTypeModifications",
      "syncReturnType" : "ListAllowedNodeTypeModificationsResult",
      "asyncReturnType" : "ListAllowedNodeTypeModificationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAllowedNodeTypeModificationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAllowedNodeTypeModificationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAllowedNodeTypeModificationsRequest, ListAllowedNodeTypeModificationsResult>",
      "authenticated" : true
    },
    "ListTagsForResource" : {
      "documentation" : "<p>The <i>ListTagsForResource</i> action lists all cost allocation tags currently on the named resource. A <i>cost allocation tag</i> is a key-value pair where the key is case-sensitive and the value is optional. Cost allocation tags can be used to categorize and track your AWS costs.</p> <p>You can have a maximum of 10 cost allocation tags on an ElastiCache resource. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/BestPractices.html\">Using Cost Allocation Tags in Amazon ElastiCache</a>.</p>",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : "<p>The input parameters for the <i>ListTagsForResource</i> action.</p>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>Represents the output from the <i>AddTagsToResource</i>, <i>ListTagsOnResource</i>, and <i>RemoveTagsFromResource</i> actions.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p>The requested snapshot name does not refer to an existing snapshot.</p>"
      }, {
        "exceptionName" : "InvalidARNException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listTagsForResource",
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "authenticated" : true
    },
    "ModifyCacheCluster" : {
      "documentation" : "<p>The <i>ModifyCacheCluster</i> action modifies the settings for a cache cluster. You can use this action to change one or more cluster configuration parameters by specifying the parameters and the new values.</p>",
      "operationName" : "ModifyCacheCluster",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyCacheClusterRequest",
        "variableType" : "ModifyCacheClusterRequest",
        "variableDeclarationType" : "ModifyCacheClusterRequest",
        "documentation" : "<p>Represents the input of a <i>ModifyCacheCluster</i> action.</p>",
        "simpleType" : "ModifyCacheClusterRequest",
        "variableSetterType" : "ModifyCacheClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheCluster",
        "documentation" : "<p>Contains all of the attributes of a specific cache cluster.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidCacheClusterStateException",
        "documentation" : "<p>The requested cache cluster is not in the <i>available</i> state.</p>"
      }, {
        "exceptionName" : "InvalidCacheSecurityGroupStateException",
        "documentation" : "<p>The current state of the cache security group does not allow deletion.</p>"
      }, {
        "exceptionName" : "InsufficientCacheClusterCapacityException",
        "documentation" : "<p>The requested cache node type is not available in the specified Availability Zone.</p>"
      }, {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "NodeQuotaForClusterExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache nodes in a single cache cluster.</p>"
      }, {
        "exceptionName" : "NodeQuotaForCustomerExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache nodes per customer.</p>"
      }, {
        "exceptionName" : "CacheSecurityGroupNotFoundException",
        "documentation" : "<p>The requested cache security group name does not refer to an existing cache security group.</p>"
      }, {
        "exceptionName" : "CacheParameterGroupNotFoundException",
        "documentation" : "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>"
      }, {
        "exceptionName" : "InvalidVPCNetworkStateException",
        "documentation" : "<p>The VPC network is in an invalid state.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "modifyCacheCluster",
      "syncReturnType" : "CacheCluster",
      "asyncReturnType" : "CacheCluster",
      "asyncFutureType" : "java.util.concurrent.Future<CacheCluster>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheCluster>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyCacheClusterRequest, CacheCluster>",
      "authenticated" : true
    },
    "ModifyCacheParameterGroup" : {
      "documentation" : "<p>The <i>ModifyCacheParameterGroup</i> action modifies the parameters of a cache parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.</p>",
      "operationName" : "ModifyCacheParameterGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyCacheParameterGroupRequest",
        "variableType" : "ModifyCacheParameterGroupRequest",
        "variableDeclarationType" : "ModifyCacheParameterGroupRequest",
        "documentation" : "<p>Represents the input of a <i>ModifyCacheParameterGroup</i> action.</p>",
        "simpleType" : "ModifyCacheParameterGroupRequest",
        "variableSetterType" : "ModifyCacheParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyCacheParameterGroupResult",
        "documentation" : "<p>Represents the output of one of the following actions:</p> <ul> <li> <p> <i>ModifyCacheParameterGroup</i> </p> </li> <li> <p> <i>ResetCacheParameterGroup</i> </p> </li> </ul>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheParameterGroupNotFoundException",
        "documentation" : "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>"
      }, {
        "exceptionName" : "InvalidCacheParameterGroupStateException",
        "documentation" : "<p>The current state of the cache parameter group does not allow the requested action to occur.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "modifyCacheParameterGroup",
      "syncReturnType" : "ModifyCacheParameterGroupResult",
      "asyncReturnType" : "ModifyCacheParameterGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyCacheParameterGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyCacheParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyCacheParameterGroupRequest, ModifyCacheParameterGroupResult>",
      "authenticated" : true
    },
    "ModifyCacheSubnetGroup" : {
      "documentation" : "<p>The <i>ModifyCacheSubnetGroup</i> action modifies an existing cache subnet group.</p>",
      "operationName" : "ModifyCacheSubnetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyCacheSubnetGroupRequest",
        "variableType" : "ModifyCacheSubnetGroupRequest",
        "variableDeclarationType" : "ModifyCacheSubnetGroupRequest",
        "documentation" : "<p>Represents the input of a <i>ModifyCacheSubnetGroup</i> action.</p>",
        "simpleType" : "ModifyCacheSubnetGroupRequest",
        "variableSetterType" : "ModifyCacheSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheSubnetGroup",
        "documentation" : "<p>Represents the output of one of the following actions:</p> <ul> <li> <p> <i>CreateCacheSubnetGroup</i> </p> </li> <li> <p> <i>ModifyCacheSubnetGroup</i> </p> </li> </ul>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheSubnetGroupNotFoundException",
        "documentation" : "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>"
      }, {
        "exceptionName" : "CacheSubnetQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of subnets in a cache subnet group.</p>"
      }, {
        "exceptionName" : "SubnetInUseException",
        "documentation" : "<p>The requested subnet is being used by another cache subnet group.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>An invalid subnet identifier was specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "modifyCacheSubnetGroup",
      "syncReturnType" : "CacheSubnetGroup",
      "asyncReturnType" : "CacheSubnetGroup",
      "asyncFutureType" : "java.util.concurrent.Future<CacheSubnetGroup>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheSubnetGroup>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyCacheSubnetGroupRequest, CacheSubnetGroup>",
      "authenticated" : true
    },
    "ModifyReplicationGroup" : {
      "documentation" : "<p>The <i>ModifyReplicationGroup</i> action modifies the settings for a replication group.</p>",
      "operationName" : "ModifyReplicationGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyReplicationGroupRequest",
        "variableType" : "ModifyReplicationGroupRequest",
        "variableDeclarationType" : "ModifyReplicationGroupRequest",
        "documentation" : "<p>Represents the input of a <i>ModifyReplicationGroups</i> action.</p>",
        "simpleType" : "ModifyReplicationGroupRequest",
        "variableSetterType" : "ModifyReplicationGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReplicationGroup",
        "documentation" : "<p>Contains all of the attributes of a specific replication group.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ReplicationGroupNotFoundException",
        "documentation" : "<p>The specified replication group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidReplicationGroupStateException",
        "documentation" : "<p>The requested replication group is not in the <i>available</i> state.</p>"
      }, {
        "exceptionName" : "InvalidCacheClusterStateException",
        "documentation" : "<p>The requested cache cluster is not in the <i>available</i> state.</p>"
      }, {
        "exceptionName" : "InvalidCacheSecurityGroupStateException",
        "documentation" : "<p>The current state of the cache security group does not allow deletion.</p>"
      }, {
        "exceptionName" : "InsufficientCacheClusterCapacityException",
        "documentation" : "<p>The requested cache node type is not available in the specified Availability Zone.</p>"
      }, {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "NodeQuotaForClusterExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache nodes in a single cache cluster.</p>"
      }, {
        "exceptionName" : "NodeQuotaForCustomerExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of cache nodes per customer.</p>"
      }, {
        "exceptionName" : "CacheSecurityGroupNotFoundException",
        "documentation" : "<p>The requested cache security group name does not refer to an existing cache security group.</p>"
      }, {
        "exceptionName" : "CacheParameterGroupNotFoundException",
        "documentation" : "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>"
      }, {
        "exceptionName" : "InvalidVPCNetworkStateException",
        "documentation" : "<p>The VPC network is in an invalid state.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "modifyReplicationGroup",
      "syncReturnType" : "ReplicationGroup",
      "asyncReturnType" : "ReplicationGroup",
      "asyncFutureType" : "java.util.concurrent.Future<ReplicationGroup>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReplicationGroup>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationGroupRequest, ReplicationGroup>",
      "authenticated" : true
    },
    "PurchaseReservedCacheNodesOffering" : {
      "documentation" : "<p>The <i>PurchaseReservedCacheNodesOffering</i> action allows you to purchase a reserved cache node offering.</p>",
      "operationName" : "PurchaseReservedCacheNodesOffering",
      "deprecated" : false,
      "input" : {
        "variableName" : "purchaseReservedCacheNodesOfferingRequest",
        "variableType" : "PurchaseReservedCacheNodesOfferingRequest",
        "variableDeclarationType" : "PurchaseReservedCacheNodesOfferingRequest",
        "documentation" : "<p>Represents the input of a <i>PurchaseReservedCacheNodesOffering</i> action.</p>",
        "simpleType" : "PurchaseReservedCacheNodesOfferingRequest",
        "variableSetterType" : "PurchaseReservedCacheNodesOfferingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReservedCacheNode",
        "documentation" : "<p>Represents the output of a <i>PurchaseReservedCacheNodesOffering</i> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ReservedCacheNodesOfferingNotFoundException",
        "documentation" : "<p>The requested cache node offering does not exist.</p>"
      }, {
        "exceptionName" : "ReservedCacheNodeAlreadyExistsException",
        "documentation" : "<p>You already have a reservation with the given identifier.</p>"
      }, {
        "exceptionName" : "ReservedCacheNodeQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the user's cache node quota.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "purchaseReservedCacheNodesOffering",
      "syncReturnType" : "ReservedCacheNode",
      "asyncReturnType" : "ReservedCacheNode",
      "asyncFutureType" : "java.util.concurrent.Future<ReservedCacheNode>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReservedCacheNode>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PurchaseReservedCacheNodesOfferingRequest, ReservedCacheNode>",
      "authenticated" : true
    },
    "RebootCacheCluster" : {
      "documentation" : "<p>The <i>RebootCacheCluster</i> action reboots some, or all, of the cache nodes within a provisioned cache cluster. This API will apply any modified cache parameter groups to the cache cluster. The reboot action takes place as soon as possible, and results in a momentary outage to the cache cluster. During the reboot, the cache cluster status is set to REBOOTING.</p> <p>The reboot causes the contents of the cache (for each cache node being rebooted) to be lost.</p> <p>When the reboot is complete, a cache cluster event is created.</p>",
      "operationName" : "RebootCacheCluster",
      "deprecated" : false,
      "input" : {
        "variableName" : "rebootCacheClusterRequest",
        "variableType" : "RebootCacheClusterRequest",
        "variableDeclarationType" : "RebootCacheClusterRequest",
        "documentation" : "<p>Represents the input of a <i>RebootCacheCluster</i> action.</p>",
        "simpleType" : "RebootCacheClusterRequest",
        "variableSetterType" : "RebootCacheClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheCluster",
        "documentation" : "<p>Contains all of the attributes of a specific cache cluster.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidCacheClusterStateException",
        "documentation" : "<p>The requested cache cluster is not in the <i>available</i> state.</p>"
      }, {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "rebootCacheCluster",
      "syncReturnType" : "CacheCluster",
      "asyncReturnType" : "CacheCluster",
      "asyncFutureType" : "java.util.concurrent.Future<CacheCluster>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheCluster>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebootCacheClusterRequest, CacheCluster>",
      "authenticated" : true
    },
    "RemoveTagsFromResource" : {
      "documentation" : "<p>The <i>RemoveTagsFromResource</i> action removes the tags identified by the <code>TagKeys</code> list from the named resource.</p>",
      "operationName" : "RemoveTagsFromResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "documentation" : "<p>Represents the input of a <i>RemoveTagsFromResource</i> action.</p>",
        "simpleType" : "RemoveTagsFromResourceRequest",
        "variableSetterType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : "<p>Represents the output from the <i>AddTagsToResource</i>, <i>ListTagsOnResource</i>, and <i>RemoveTagsFromResource</i> actions.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheClusterNotFoundException",
        "documentation" : "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
      }, {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p>The requested snapshot name does not refer to an existing snapshot.</p>"
      }, {
        "exceptionName" : "InvalidARNException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      }, {
        "exceptionName" : "TagNotFoundException",
        "documentation" : "<p>The requested tag was not found on this resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "removeTagsFromResource",
      "syncReturnType" : "RemoveTagsFromResourceResult",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "authenticated" : true
    },
    "ResetCacheParameterGroup" : {
      "documentation" : "<p>The <i>ResetCacheParameterGroup</i> action modifies the parameters of a cache parameter group to the engine or system default value. You can reset specific parameters by submitting a list of parameter names. To reset the entire cache parameter group, specify the <i>ResetAllParameters</i> and <i>CacheParameterGroupName</i> parameters.</p>",
      "operationName" : "ResetCacheParameterGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "resetCacheParameterGroupRequest",
        "variableType" : "ResetCacheParameterGroupRequest",
        "variableDeclarationType" : "ResetCacheParameterGroupRequest",
        "documentation" : "<p>Represents the input of a <i>ResetCacheParameterGroup</i> action.</p>",
        "simpleType" : "ResetCacheParameterGroupRequest",
        "variableSetterType" : "ResetCacheParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ResetCacheParameterGroupResult",
        "documentation" : "<p>Represents the output of one of the following actions:</p> <ul> <li> <p> <i>ModifyCacheParameterGroup</i> </p> </li> <li> <p> <i>ResetCacheParameterGroup</i> </p> </li> </ul>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidCacheParameterGroupStateException",
        "documentation" : "<p>The current state of the cache parameter group does not allow the requested action to occur.</p>"
      }, {
        "exceptionName" : "CacheParameterGroupNotFoundException",
        "documentation" : "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "resetCacheParameterGroup",
      "syncReturnType" : "ResetCacheParameterGroupResult",
      "asyncReturnType" : "ResetCacheParameterGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<ResetCacheParameterGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ResetCacheParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResetCacheParameterGroupRequest, ResetCacheParameterGroupResult>",
      "authenticated" : true
    },
    "RevokeCacheSecurityGroupIngress" : {
      "documentation" : "<p>The <i>RevokeCacheSecurityGroupIngress</i> action revokes ingress from a cache security group. Use this action to disallow access from an Amazon EC2 security group that had been previously authorized.</p>",
      "operationName" : "RevokeCacheSecurityGroupIngress",
      "deprecated" : false,
      "input" : {
        "variableName" : "revokeCacheSecurityGroupIngressRequest",
        "variableType" : "RevokeCacheSecurityGroupIngressRequest",
        "variableDeclarationType" : "RevokeCacheSecurityGroupIngressRequest",
        "documentation" : "<p>Represents the input of a <i>RevokeCacheSecurityGroupIngress</i> action.</p>",
        "simpleType" : "RevokeCacheSecurityGroupIngressRequest",
        "variableSetterType" : "RevokeCacheSecurityGroupIngressRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CacheSecurityGroup",
        "documentation" : "<p>Represents the output of one of the following actions:</p> <ul> <li> <p> <i>AuthorizeCacheSecurityGroupIngress</i> </p> </li> <li> <p> <i>CreateCacheSecurityGroup</i> </p> </li> <li> <p> <i>RevokeCacheSecurityGroupIngress</i> </p> </li> </ul>"
      },
      "exceptions" : [ {
        "exceptionName" : "CacheSecurityGroupNotFoundException",
        "documentation" : "<p>The requested cache security group name does not refer to an existing cache security group.</p>"
      }, {
        "exceptionName" : "AuthorizationNotFoundException",
        "documentation" : "<p>The specified Amazon EC2 security group is not authorized for the specified cache security group.</p>"
      }, {
        "exceptionName" : "InvalidCacheSecurityGroupStateException",
        "documentation" : "<p>The current state of the cache security group does not allow deletion.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "revokeCacheSecurityGroupIngress",
      "syncReturnType" : "CacheSecurityGroup",
      "asyncReturnType" : "CacheSecurityGroup",
      "asyncFutureType" : "java.util.concurrent.Future<CacheSecurityGroup>",
      "asyncCallableType" : "java.util.concurrent.Callable<CacheSecurityGroup>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeCacheSecurityGroupIngressRequest, CacheSecurityGroup>",
      "authenticated" : true
    }
  },
  "shapes" : {
    "ReservedCacheNodeAlreadyExistsException" : {
      "c2jName" : "ReservedCacheNodeAlreadyExistsFault",
      "documentation" : "<p>You already have a reservation with the given identifier.</p>",
      "shapeName" : "ReservedCacheNodeAlreadyExistsException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "reservedCacheNodeAlreadyExistsException",
        "variableType" : "ReservedCacheNodeAlreadyExistsException",
        "variableDeclarationType" : "ReservedCacheNodeAlreadyExistsException",
        "documentation" : null,
        "simpleType" : "ReservedCacheNodeAlreadyExistsException",
[...]
