{
  "metadata" : {
    "apiVersion" : "2015-01-01",
    "protocol" : "rest-json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
    "defaultEndpoint" : "https://es.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "es.us-east-1.amazonaws.com",
    "syncInterface" : "AWSElasticsearch",
    "syncClient" : "AWSElasticsearchClient",
    "asyncInterface" : "AWSElasticsearchAsync",
    "asyncClient" : "AWSElasticsearchAsyncClient",
    "packageName" : "com.amazonaws.services.elasticsearch",
    "packagePath" : "com/amazonaws/services/elasticsearch",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Elasticsearch Service",
    "hasApiWithStreamInput" : false,
    "contentType" : "",
    "jsonVersion" : "1.1",
    "endpointPrefix" : "es",
    "signingName" : "es",
    "xmlProtocol" : false,
    "cborProtocol" : false,
    "jsonProtocol" : true,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "syncClientBuilderClassName" : "AWSElasticsearchClientBuilder",
    "asyncClientBuilderClassName" : "AWSElasticsearchAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSElasticsearchModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticsearch.smoketests",
    "serviceName" : "Amazon Elasticsearch Service"
  },
  "operations" : {
    "AddTags" : {
      "documentation" : "<p>Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\"> Tagging Amazon Elasticsearch Service Domains for more information.</a></p>",
      "operationName" : "AddTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddTagsResult",
      "asyncReturnType" : "AddTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "authenticated" : true,
      "methodName" : "addTags"
    },
    "CreateElasticsearchDomain" : {
      "documentation" : "<p>Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
      "operationName" : "CreateElasticsearchDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "createElasticsearchDomainRequest",
        "variableType" : "CreateElasticsearchDomainRequest",
        "variableDeclarationType" : "CreateElasticsearchDomainRequest",
        "documentation" : "",
        "simpleType" : "CreateElasticsearchDomainRequest",
        "variableSetterType" : "CreateElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>An exception for creating a resource that already exists. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateElasticsearchDomainResult",
      "asyncReturnType" : "CreateElasticsearchDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateElasticsearchDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateElasticsearchDomainRequest, CreateElasticsearchDomainResult>",
      "authenticated" : true,
      "methodName" : "createElasticsearchDomain"
    },
    "DeleteElasticsearchDomain" : {
      "documentation" : "<p>Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.</p>",
      "operationName" : "DeleteElasticsearchDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteElasticsearchDomainRequest",
        "variableType" : "DeleteElasticsearchDomainRequest",
        "variableDeclarationType" : "DeleteElasticsearchDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.</p>",
        "simpleType" : "DeleteElasticsearchDomainRequest",
        "variableSetterType" : "DeleteElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteElasticsearchDomainResult",
      "asyncReturnType" : "DeleteElasticsearchDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteElasticsearchDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteElasticsearchDomainRequest, DeleteElasticsearchDomainResult>",
      "authenticated" : true,
      "methodName" : "deleteElasticsearchDomain"
    },
    "DescribeElasticsearchDomain" : {
      "documentation" : "<p>Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.</p>",
      "operationName" : "DescribeElasticsearchDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeElasticsearchDomainRequest",
        "variableType" : "DescribeElasticsearchDomainRequest",
        "variableDeclarationType" : "DescribeElasticsearchDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.</p>",
        "simpleType" : "DescribeElasticsearchDomainRequest",
        "variableSetterType" : "DescribeElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeElasticsearchDomainResult",
      "asyncReturnType" : "DescribeElasticsearchDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainRequest, DescribeElasticsearchDomainResult>",
      "authenticated" : true,
      "methodName" : "describeElasticsearchDomain"
    },
    "DescribeElasticsearchDomainConfig" : {
      "documentation" : "<p>Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.</p>",
      "operationName" : "DescribeElasticsearchDomainConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeElasticsearchDomainConfigRequest",
        "variableType" : "DescribeElasticsearchDomainConfigRequest",
        "variableDeclarationType" : "DescribeElasticsearchDomainConfigRequest",
        "documentation" : "<p> Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.</p>",
        "simpleType" : "DescribeElasticsearchDomainConfigRequest",
        "variableSetterType" : "DescribeElasticsearchDomainConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainConfigResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeElasticsearchDomainConfigResult",
      "asyncReturnType" : "DescribeElasticsearchDomainConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainConfigRequest, DescribeElasticsearchDomainConfigResult>",
      "authenticated" : true,
      "methodName" : "describeElasticsearchDomainConfig"
    },
    "DescribeElasticsearchDomains" : {
      "documentation" : "<p>Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.</p>",
      "operationName" : "DescribeElasticsearchDomains",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeElasticsearchDomainsRequest",
        "variableType" : "DescribeElasticsearchDomainsRequest",
        "variableDeclarationType" : "DescribeElasticsearchDomainsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.</p>",
        "simpleType" : "DescribeElasticsearchDomainsRequest",
        "variableSetterType" : "DescribeElasticsearchDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainsResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeElasticsearchDomainsResult",
      "asyncReturnType" : "DescribeElasticsearchDomainsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainsRequest, DescribeElasticsearchDomainsResult>",
      "authenticated" : true,
      "methodName" : "describeElasticsearchDomains"
    },
    "ListDomainNames" : {
      "documentation" : "<p>Returns the name of all Elasticsearch domains owned by the current user's account. </p>",
      "operationName" : "ListDomainNames",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDomainNamesRequest",
        "variableType" : "ListDomainNamesRequest",
        "variableDeclarationType" : "ListDomainNamesRequest",
        "documentation" : null,
        "simpleType" : "ListDomainNamesRequest",
        "variableSetterType" : "ListDomainNamesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDomainNamesResult",
        "documentation" : "<p>The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListDomainNamesResult",
      "asyncReturnType" : "ListDomainNamesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainNamesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainNamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainNamesRequest, ListDomainNamesResult>",
      "authenticated" : true,
      "methodName" : "listDomainNames"
    },
    "ListTags" : {
      "documentation" : "<p>Returns all tags for the given Elasticsearch domain.</p>",
      "operationName" : "ListTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "variableDeclarationType" : "ListTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>ListTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain to which the tags are attached that you want to view are attached.</p>",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : "<p>The result of a <code>ListTags</code> operation. Contains tags for all requested Elasticsearch domains.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTagsResult",
      "asyncReturnType" : "ListTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "authenticated" : true,
      "methodName" : "listTags"
    },
    "RemoveTags" : {
      "documentation" : "<p>Removes the specified set of tags from the specified Elasticsearch domain.</p>",
      "operationName" : "RemoveTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "variableDeclarationType" : "RemoveTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>RemoveTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain from which you want to remove the specified <code>TagKey</code>.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RemoveTagsResult",
      "asyncReturnType" : "RemoveTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "authenticated" : true,
      "methodName" : "removeTags"
    },
    "UpdateElasticsearchDomainConfig" : {
      "documentation" : "<p>Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. </p>",
      "operationName" : "UpdateElasticsearchDomainConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateElasticsearchDomainConfigRequest",
        "variableType" : "UpdateElasticsearchDomainConfigRequest",
        "variableDeclarationType" : "UpdateElasticsearchDomainConfigRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateElasticsearchDomain</a></code> operation. Specifies the type and number of instances in the domain cluster.</p>",
        "simpleType" : "UpdateElasticsearchDomainConfigRequest",
        "variableSetterType" : "UpdateElasticsearchDomainConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateElasticsearchDomainConfigResult",
        "documentation" : "<p>The result of an <code>UpdateElasticsearchDomain</code> request. Contains the status of the Elasticsearch domain being updated.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateElasticsearchDomainConfigResult",
      "asyncReturnType" : "UpdateElasticsearchDomainConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateElasticsearchDomainConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateElasticsearchDomainConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateElasticsearchDomainConfigRequest, UpdateElasticsearchDomainConfigResult>",
      "authenticated" : true,
      "methodName" : "updateElasticsearchDomainConfig"
    }
  },
  "shapes" : {
    "DescribeElasticsearchDomainResult" : {
      "c2jName" : "DescribeElasticsearchDomainResponse",
      "documentation" : "<p>The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.</p>",
      "shapeName" : "DescribeElasticsearchDomainResult",
      "deprecated" : false,
      "required" : [ "DomainStatus" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The current status of the Elasticsearch domain.</p>",
        "name" : "DomainStatus",
        "c2jName" : "DomainStatus",
        "c2jShape" : "ElasticsearchDomainStatus",
        "variable" : {
          "variableName" : "domainStatus",
          "variableType" : "ElasticsearchDomainStatus",
          "variableDeclarationType" : "ElasticsearchDomainStatus",
          "documentation" : "<p>The current status of the Elasticsearch domain.</p>",
          "simpleType" : "ElasticsearchDomainStatus",
          "variableSetterType" : "ElasticsearchDomainStatus"
        },
        "setterModel" : {
          "variableName" : "domainStatus",
          "variableType" : "ElasticsearchDomainStatus",
          "variableDeclarationType" : "ElasticsearchDomainStatus",
          "documentation" : "",
          "simpleType" : "ElasticsearchDomainStatus",
          "variableSetterType" : "ElasticsearchDomainStatus"
        },
        "getterModel" : {
          "returnType" : "ElasticsearchDomainStatus",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DomainStatus",
          "marshallLocationName" : "DomainStatus",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The current status of the Elasticsearch domain.</p>\n@param domainStatus The current status of the Elasticsearch domain.*/",
        "getterDocumentation" : "/**<p>The current status of the Elasticsearch domain.</p>\n@return The current status of the Elasticsearch domain.*/",
        "fluentSetterDocumentation" : "/**<p>The current status of the Elasticsearch domain.</p>\n@param domainStatus The current status of the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The current status of the Elasticsearch domain.</p>\n@param domainStatus The current status of the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeElasticsearchDomainResult",
        "variableType" : "DescribeElasticsearchDomainResult",
        "variableDeclarationType" : "DescribeElasticsearchDomainResult",
        "documentation" : null,
        "simpleType" : "DescribeElasticsearchDomainResult",
        "variableSetterType" : "DescribeElasticsearchDomainResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "DomainStatus" : {
          "documentation" : "<p>The current status of the Elasticsearch domain.</p>",
          "name" : "DomainStatus",
          "c2jName" : "DomainStatus",
          "c2jShape" : "ElasticsearchDomainStatus",
          "variable" : {
            "variableName" : "domainStatus",
            "variableType" : "ElasticsearchDomainStatus",
            "variableDeclarationType" : "ElasticsearchDomainStatus",
            "documentation" : "<p>The current status of the Elasticsearch domain.</p>",
            "simpleType" : "ElasticsearchDomainStatus",
            "variableSetterType" : "ElasticsearchDomainStatus"
          },
          "setterModel" : {
            "variableName" : "domainStatus",
            "variableType" : "ElasticsearchDomainStatus",
            "variableDeclarationType" : "ElasticsearchDomainStatus",
            "documentation" : "",
            "simpleType" : "ElasticsearchDomainStatus",
            "variableSetterType" : "ElasticsearchDomainStatus"
          },
          "getterModel" : {
            "returnType" : "ElasticsearchDomainStatus",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DomainStatus",
            "marshallLocationName" : "DomainStatus",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The current status of the Elasticsearch domain.</p>\n@param domainStatus The current status of the Elasticsearch domain.*/",
          "getterDocumentation" : "/**<p>The current status of the Elasticsearch domain.</p>\n@return The current status of the Elasticsearch domain.*/",
          "fluentSetterDocumentation" : "/**<p>The current status of the Elasticsearch domain.</p>\n@param domainStatus The current status of the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The current status of the Elasticsearch domain.</p>\n@param domainStatus The current status of the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ElasticsearchClusterConfigStatus" : {
      "c2jName" : "ElasticsearchClusterConfigStatus",
      "documentation" : "<p> Specifies the configuration status for the specified Elasticsearch domain.</p>",
      "shapeName" : "ElasticsearchClusterConfigStatus",
      "deprecated" : false,
      "required" : [ "Options", "Status" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>",
        "name" : "Options",
        "c2jName" : "Options",
        "c2jShape" : "ElasticsearchClusterConfig",
        "variable" : {
          "variableName" : "options",
          "variableType" : "ElasticsearchClusterConfig",
          "variableDeclarationType" : "ElasticsearchClusterConfig",
          "documentation" : "<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>",
          "simpleType" : "ElasticsearchClusterConfig",
          "variableSetterType" : "ElasticsearchClusterConfig"
        },
        "setterModel" : {
          "variableName" : "options",
          "variableType" : "ElasticsearchClusterConfig",
          "variableDeclarationType" : "ElasticsearchClusterConfig",
          "documentation" : "",
          "simpleType" : "ElasticsearchClusterConfig",
          "variableSetterType" : "ElasticsearchClusterConfig"
        },
        "getterModel" : {
          "returnType" : "ElasticsearchClusterConfig",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Options",
          "marshallLocationName" : "Options",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>\n@param options Specifies the cluster configuration for the specified Elasticsearch domain.*/",
        "getterDocumentation" : "/**<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>\n@return Specifies the cluster configuration for the specified Elasticsearch domain.*/",
        "fluentSetterDocumentation" : "/**<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>\n@param options Specifies the cluster configuration for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>\n@param options Specifies the cluster configuration for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>",
        "name" : "Status",
        "c2jName" : "Status",
        "c2jShape" : "OptionStatus",
        "variable" : {
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "variableDeclarationType" : "OptionStatus",
          "documentation" : "<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "setterModel" : {
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "variableDeclarationType" : "OptionStatus",
          "documentation" : "",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "getterModel" : {
          "returnType" : "OptionStatus",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Status",
          "marshallLocationName" : "Status",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>\n@param status Specifies the status of the configuration for the specified Elasticsearch domain.*/",
        "getterDocumentation" : "/**<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>\n@return Specifies the status of the configuration for the specified Elasticsearch domain.*/",
        "fluentSetterDocumentation" : "/**<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>\n@param status Specifies the status of the configuration for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>\n@param status Specifies the status of the configuration for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "elasticsearchClusterConfigStatus",
        "variableType" : "ElasticsearchClusterConfigStatus",
        "variableDeclarationType" : "ElasticsearchClusterConfigStatus",
        "documentation" : null,
        "simpleType" : "ElasticsearchClusterConfigStatus",
        "variableSetterType" : "ElasticsearchClusterConfigStatus"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Status" : {
          "documentation" : "<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>",
          "name" : "Status",
          "c2jName" : "Status",
          "c2jShape" : "OptionStatus",
          "variable" : {
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "variableDeclarationType" : "OptionStatus",
            "documentation" : "<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "setterModel" : {
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "variableDeclarationType" : "OptionStatus",
            "documentation" : "",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "getterModel" : {
            "returnType" : "OptionStatus",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Status",
            "marshallLocationName" : "Status",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>\n@param status Specifies the status of the configuration for the specified Elasticsearch domain.*/",
          "getterDocumentation" : "/**<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>\n@return Specifies the status of the configuration for the specified Elasticsearch domain.*/",
          "fluentSetterDocumentation" : "/**<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>\n@param status Specifies the status of the configuration for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>\n@param status Specifies the status of the configuration for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Options" : {
          "documentation" : "<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>",
          "name" : "Options",
          "c2jName" : "Options",
          "c2jShape" : "ElasticsearchClusterConfig",
          "variable" : {
            "variableName" : "options",
            "variableType" : "ElasticsearchClusterConfig",
            "variableDeclarationType" : "ElasticsearchClusterConfig",
            "documentation" : "<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>",
            "simpleType" : "ElasticsearchClusterConfig",
            "variableSetterType" : "ElasticsearchClusterConfig"
          },
          "setterModel" : {
            "variableName" : "options",
            "variableType" : "ElasticsearchClusterConfig",
            "variableDeclarationType" : "ElasticsearchClusterConfig",
            "documentation" : "",
            "simpleType" : "ElasticsearchClusterConfig",
            "variableSetterType" : "ElasticsearchClusterConfig"
          },
          "getterModel" : {
            "returnType" : "ElasticsearchClusterConfig",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Options",
            "marshallLocationName" : "Options",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>\n@param options Specifies the cluster configuration for the specified Elasticsearch domain.*/",
          "getterDocumentation" : "/**<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>\n@return Specifies the cluster configuration for the specified Elasticsearch domain.*/",
          "fluentSetterDocumentation" : "/**<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>\n@param options Specifies the cluster configuration for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>\n@param options Specifies the cluster configuration for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ValidationException" : {
      "c2jName" : "ValidationException",
      "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
      "shapeName" : "ValidationException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "validationException",
        "variableType" : "ValidationException",
        "variableDeclarationType" : "ValidationException",
        "documentation" : null,
        "simpleType" : "ValidationException",
        "variableSetterType" : "ValidationException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "ValidationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ElasticsearchDomainConfig" : {
      "c2jName" : "ElasticsearchDomainConfig",
      "documentation" : "<p>The configuration of an Elasticsearch domain.</p>",
      "shapeName" : "ElasticsearchDomainConfig",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>String of format X.Y to specify version for the Elasticsearch domain.</p>",
        "name" : "ElasticsearchVersion",
        "c2jName" : "ElasticsearchVersion",
        "c2jShape" : "ElasticsearchVersionStatus",
        "variable" : {
          "variableName" : "elasticsearchVersion",
          "variableType" : "ElasticsearchVersionStatus",
          "variableDeclarationType" : "ElasticsearchVersionStatus",
          "documentation" : "<p>String of format X.Y to specify version for the Elasticsearch domain.</p>",
          "simpleType" : "ElasticsearchVersionStatus",
          "variableSetterType" : "ElasticsearchVersionStatus"
        },
        "setterModel" : {
          "variableName" : "elasticsearchVersion",
          "variableType" : "ElasticsearchVersionStatus",
          "variableDeclarationType" : "ElasticsearchVersionStatus",
          "documentation" : "",
          "simpleType" : "ElasticsearchVersionStatus",
          "variableSetterType" : "ElasticsearchVersionStatus"
        },
        "getterModel" : {
          "returnType" : "ElasticsearchVersionStatus",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ElasticsearchVersion",
          "marshallLocationName" : "ElasticsearchVersion",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain.</p>\n@param elasticsearchVersion String of format X.Y to specify version for the Elasticsearch domain.*/",
        "getterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain.</p>\n@return String of format X.Y to specify version for the Elasticsearch domain.*/",
        "fluentSetterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain.</p>\n@param elasticsearchVersion String of format X.Y to specify version for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain.</p>\n@param elasticsearchVersion String of format X.Y to specify version for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>",
        "name" : "ElasticsearchClusterConfig",
        "c2jName" : "ElasticsearchClusterConfig",
        "c2jShape" : "ElasticsearchClusterConfigStatus",
        "variable" : {
          "variableName" : "elasticsearchClusterConfig",
          "variableType" : "ElasticsearchClusterConfigStatus",
          "variableDeclarationType" : "ElasticsearchClusterConfigStatus",
          "documentation" : "<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>",
          "simpleType" : "ElasticsearchClusterConfigStatus",
          "variableSetterType" : "ElasticsearchClusterConfigStatus"
        },
        "setterModel" : {
          "variableName" : "elasticsearchClusterConfig",
          "variableType" : "ElasticsearchClusterConfigStatus",
          "variableDeclarationType" : "ElasticsearchClusterConfigStatus",
          "documentation" : "",
          "simpleType" : "ElasticsearchClusterConfigStatus",
          "variableSetterType" : "ElasticsearchClusterConfigStatus"
        },
        "getterModel" : {
          "returnType" : "ElasticsearchClusterConfigStatus",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ElasticsearchClusterConfig",
          "marshallLocationName" : "ElasticsearchClusterConfig",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>\n@param elasticsearchClusterConfig Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.*/",
        "getterDocumentation" : "/**<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>\n@return Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.*/",
        "fluentSetterDocumentation" : "/**<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>\n@param elasticsearchClusterConfig Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>\n@param elasticsearchClusterConfig Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>",
        "name" : "EBSOptions",
        "c2jName" : "EBSOptions",
        "c2jShape" : "EBSOptionsStatus",
        "variable" : {
          "variableName" : "eBSOptions",
          "variableType" : "EBSOptionsStatus",
          "variableDeclarationType" : "EBSOptionsStatus",
          "documentation" : "<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>",
          "simpleType" : "EBSOptionsStatus",
          "variableSetterType" : "EBSOptionsStatus"
        },
        "setterModel" : {
          "variableName" : "eBSOptions",
          "variableType" : "EBSOptionsStatus",
          "variableDeclarationType" : "EBSOptionsStatus",
          "documentation" : "",
          "simpleType" : "EBSOptionsStatus",
          "variableSetterType" : "EBSOptionsStatus"
        },
        "getterModel" : {
          "returnType" : "EBSOptionsStatus",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "EBSOptions",
          "marshallLocationName" : "EBSOptions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>\n@param eBSOptions Specifies the <code>EBSOptions</code> for the Elasticsearch domain.*/",
        "getterDocumentation" : "/**<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>\n@return Specifies the <code>EBSOptions</code> for the Elasticsearch domain.*/",
        "fluentSetterDocumentation" : "/**<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>\n@param eBSOptions Specifies the <code>EBSOptions</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>\n@param eBSOptions Specifies the <code>EBSOptions</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>IAM access policy as a JSON-formatted string.</p>",
        "name" : "AccessPolicies",
        "c2jName" : "AccessPolicies",
        "c2jShape" : "AccessPoliciesStatus",
        "variable" : {
          "variableName" : "accessPolicies",
          "variableType" : "AccessPoliciesStatus",
          "variableDeclarationType" : "AccessPoliciesStatus",
          "documentation" : "<p>IAM access policy as a JSON-formatted string.</p>",
          "simpleType" : "AccessPoliciesStatus",
          "variableSetterType" : "AccessPoliciesStatus"
        },
        "setterModel" : {
          "variableName" : "accessPolicies",
          "variableType" : "AccessPoliciesStatus",
          "variableDeclarationType" : "AccessPoliciesStatus",
          "documentation" : "",
          "simpleType" : "AccessPoliciesStatus",
          "variableSetterType" : "AccessPoliciesStatus"
        },
        "getterModel" : {
          "returnType" : "AccessPoliciesStatus",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AccessPolicies",
          "marshallLocationName" : "AccessPolicies",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>IAM access policy as a JSON-formatted string.</p>\n@param accessPolicies IAM access policy as a JSON-formatted string.*/",
        "getterDocumentation" : "/**<p>IAM access policy as a JSON-formatted string.</p>\n@return IAM access policy as a JSON-formatted string.*/",
        "fluentSetterDocumentation" : "/**<p>IAM access policy as a JSON-formatted string.</p>\n@param accessPolicies IAM access policy as a JSON-formatted string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>IAM access policy as a JSON-formatted string.</p>\n@param accessPolicies IAM access policy as a JSON-formatted string.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>",
        "name" : "SnapshotOptions",
        "c2jName" : "SnapshotOptions",
        "c2jShape" : "SnapshotOptionsStatus",
        "variable" : {
          "variableName" : "snapshotOptions",
          "variableType" : "SnapshotOptionsStatus",
          "variableDeclarationType" : "SnapshotOptionsStatus",
          "documentation" : "<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>",
          "simpleType" : "SnapshotOptionsStatus",
          "variableSetterType" : "SnapshotOptionsStatus"
        },
        "setterModel" : {
          "variableName" : "snapshotOptions",
          "variableType" : "SnapshotOptionsStatus",
          "variableDeclarationType" : "SnapshotOptionsStatus",
          "documentation" : "",
          "simpleType" : "SnapshotOptionsStatus",
          "variableSetterType" : "SnapshotOptionsStatus"
        },
        "getterModel" : {
          "returnType" : "SnapshotOptionsStatus",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SnapshotOptions",
          "marshallLocationName" : "SnapshotOptions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>\n@param snapshotOptions Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.*/",
        "getterDocumentation" : "/**<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>\n@return Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.*/",
        "fluentSetterDocumentation" : "/**<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>\n@param snapshotOptions Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>\n@param snapshotOptions Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>",
        "name" : "AdvancedOptions",
        "c2jName" : "AdvancedOptions",
        "c2jShape" : "AdvancedOptionsStatus",
        "variable" : {
          "variableName" : "advancedOptions",
          "variableType" : "AdvancedOptionsStatus",
          "variableDeclarationType" : "AdvancedOptionsStatus",
          "documentation" : "<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>",
          "simpleType" : "AdvancedOptionsStatus",
          "variableSetterType" : "AdvancedOptionsStatus"
        },
        "setterModel" : {
          "variableName" : "advancedOptions",
          "variableType" : "AdvancedOptionsStatus",
          "variableDeclarationType" : "AdvancedOptionsStatus",
          "documentation" : "",
          "simpleType" : "AdvancedOptionsStatus",
          "variableSetterType" : "AdvancedOptionsStatus"
        },
        "getterModel" : {
          "returnType" : "AdvancedOptionsStatus",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AdvancedOptions",
          "marshallLocationName" : "AdvancedOptions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>\n@param advancedOptions Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.*/",
        "getterDocumentation" : "/**<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>\n@return Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.*/",
        "fluentSetterDocumentation" : "/**<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>\n@param advancedOptions Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>\n@param advancedOptions Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "elasticsearchDomainConfig",
        "variableType" : "ElasticsearchDomainConfig",
        "variableDeclarationType" : "ElasticsearchDomainConfig",
        "documentation" : null,
        "simpleType" : "ElasticsearchDomainConfig",
        "variableSetterType" : "ElasticsearchDomainConfig"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ElasticsearchClusterConfig" : {
          "documentation" : "<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>",
          "name" : "ElasticsearchClusterConfig",
          "c2jName" : "ElasticsearchClusterConfig",
          "c2jShape" : "ElasticsearchClusterConfigStatus",
          "variable" : {
            "variableName" : "elasticsearchClusterConfig",
            "variableType" : "ElasticsearchClusterConfigStatus",
            "variableDeclarationType" : "ElasticsearchClusterConfigStatus",
            "documentation" : "<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>",
            "simpleType" : "ElasticsearchClusterConfigStatus",
            "variableSetterType" : "ElasticsearchClusterConfigStatus"
          },
          "setterModel" : {
            "variableName" : "elasticsearchClusterConfig",
            "variableType" : "ElasticsearchClusterConfigStatus",
            "variableDeclarationType" : "ElasticsearchClusterConfigStatus",
            "documentation" : "",
            "simpleType" : "ElasticsearchClusterConfigStatus",
            "variableSetterType" : "ElasticsearchClusterConfigStatus"
          },
          "getterModel" : {
            "returnType" : "ElasticsearchClusterConfigStatus",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ElasticsearchClusterConfig",
            "marshallLocationName" : "ElasticsearchClusterConfig",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>\n@param elasticsearchClusterConfig Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.*/",
          "getterDocumentation" : "/**<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>\n@return Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.*/",
          "fluentSetterDocumentation" : "/**<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>\n@param elasticsearchClusterConfig Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>\n@param elasticsearchClusterConfig Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "AdvancedOptions" : {
          "documentation" : "<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>",
          "name" : "AdvancedOptions",
          "c2jName" : "AdvancedOptions",
          "c2jShape" : "AdvancedOptionsStatus",
          "variable" : {
            "variableName" : "advancedOptions",
            "variableType" : "AdvancedOptionsStatus",
            "variableDeclarationType" : "AdvancedOptionsStatus",
            "documentation" : "<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>",
            "simpleType" : "AdvancedOptionsStatus",
            "variableSetterType" : "AdvancedOptionsStatus"
          },
          "setterModel" : {
            "variableName" : "advancedOptions",
            "variableType" : "AdvancedOptionsStatus",
            "variableDeclarationType" : "AdvancedOptionsStatus",
            "documentation" : "",
            "simpleType" : "AdvancedOptionsStatus",
            "variableSetterType" : "AdvancedOptionsStatus"
          },
          "getterModel" : {
            "returnType" : "AdvancedOptionsStatus",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "AdvancedOptions",
            "marshallLocationName" : "AdvancedOptions",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>\n@param advancedOptions Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.*/",
          "getterDocumentation" : "/**<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>\n@return Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.*/",
          "fluentSetterDocumentation" : "/**<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>\n@param advancedOptions Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>\n@param advancedOptions Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ElasticsearchVersion" : {
          "documentation" : "<p>String of format X.Y to specify version for the Elasticsearch domain.</p>",
          "name" : "ElasticsearchVersion",
          "c2jName" : "ElasticsearchVersion",
          "c2jShape" : "ElasticsearchVersionStatus",
          "variable" : {
            "variableName" : "elasticsearchVersion",
            "variableType" : "ElasticsearchVersionStatus",
            "variableDeclarationType" : "ElasticsearchVersionStatus",
            "documentation" : "<p>String of format X.Y to specify version for the Elasticsearch domain.</p>",
            "simpleType" : "ElasticsearchVersionStatus",
            "variableSetterType" : "ElasticsearchVersionStatus"
          },
          "setterModel" : {
            "variableName" : "elasticsearchVersion",
            "variableType" : "ElasticsearchVersionStatus",
            "variableDeclarationType" : "ElasticsearchVersionStatus",
            "documentation" : "",
            "simpleType" : "ElasticsearchVersionStatus",
            "variableSetterType" : "ElasticsearchVersionStatus"
          },
          "getterModel" : {
            "returnType" : "ElasticsearchVersionStatus",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ElasticsearchVersion",
            "marshallLocationName" : "ElasticsearchVersion",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain.</p>\n@param elasticsearchVersion String of format X.Y to specify version for the Elasticsearch domain.*/",
          "getterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain.</p>\n@return String of format X.Y to specify version for the Elasticsearch domain.*/",
          "fluentSetterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain.</p>\n@param elasticsearchVersion String of format X.Y to specify version for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain.</p>\n@param elasticsearchVersion String of format X.Y to specify version for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "EBSOptions" : {
          "documentation" : "<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>",
          "name" : "EBSOptions",
          "c2jName" : "EBSOptions",
          "c2jShape" : "EBSOptionsStatus",
          "variable" : {
            "variableName" : "eBSOptions",
            "variableType" : "EBSOptionsStatus",
            "variableDeclarationType" : "EBSOptionsStatus",
            "documentation" : "<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>",
            "simpleType" : "EBSOptionsStatus",
            "variableSetterType" : "EBSOptionsStatus"
          },
          "setterModel" : {
            "variableName" : "eBSOptions",
            "variableType" : "EBSOptionsStatus",
            "variableDeclarationType" : "EBSOptionsStatus",
            "documentation" : "",
            "simpleType" : "EBSOptionsStatus",
            "variableSetterType" : "EBSOptionsStatus"
          },
          "getterModel" : {
            "returnType" : "EBSOptionsStatus",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "EBSOptions",
            "marshallLocationName" : "EBSOptions",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>\n@param eBSOptions Specifies the <code>EBSOptions</code> for the Elasticsearch domain.*/",
          "getterDocumentation" : "/**<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>\n@return Specifies the <code>EBSOptions</code> for the Elasticsearch domain.*/",
          "fluentSetterDocumentation" : "/**<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>\n@param eBSOptions Specifies the <code>EBSOptions</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>\n@param eBSOptions Specifies the <code>EBSOptions</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "SnapshotOptions" : {
          "documentation" : "<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>",
          "name" : "SnapshotOptions",
          "c2jName" : "SnapshotOptions",
          "c2jShape" : "SnapshotOptionsStatus",
          "variable" : {
            "variableName" : "snapshotOptions",
            "variableType" : "SnapshotOptionsStatus",
            "variableDeclarationType" : "SnapshotOptionsStatus",
            "documentation" : "<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>",
            "simpleType" : "SnapshotOptionsStatus",
            "variableSetterType" : "SnapshotOptionsStatus"
          },
          "setterModel" : {
            "variableName" : "snapshotOptions",
            "variableType" : "SnapshotOptionsStatus",
            "variableDeclarationType" : "SnapshotOptionsStatus",
            "documentation" : "",
            "simpleType" : "SnapshotOptionsStatus",
            "variableSetterType" : "SnapshotOptionsStatus"
          },
          "getterModel" : {
            "returnType" : "SnapshotOptionsStatus",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SnapshotOptions",
            "marshallLocationName" : "SnapshotOptions",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>\n@param snapshotOptions Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.*/",
          "getterDocumentation" : "/**<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>\n@return Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.*/",
          "fluentSetterDocumentation" : "/**<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>\n@param snapshotOptions Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>\n@param snapshotOptions Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "AccessPolicies" : {
          "documentation" : "<p>IAM access policy as a JSON-formatted string.</p>",
          "name" : "AccessPolicies",
          "c2jName" : "AccessPolicies",
          "c2jShape" : "AccessPoliciesStatus",
          "variable" : {
            "variableName" : "accessPolicies",
            "variableType" : "AccessPoliciesStatus",
            "variableDeclarationType" : "AccessPoliciesStatus",
            "documentation" : "<p>IAM access policy as a JSON-formatted string.</p>",
            "simpleType" : "AccessPoliciesStatus",
            "variableSetterType" : "AccessPoliciesStatus"
          },
          "setterModel" : {
            "variableName" : "accessPolicies",
            "variableType" : "AccessPoliciesStatus",
            "variableDeclarationType" : "AccessPoliciesStatus",
            "documentation" : "",
            "simpleType" : "AccessPoliciesStatus",
            "variableSetterType" : "AccessPoliciesStatus"
          },
          "getterModel" : {
            "returnType" : "AccessPoliciesStatus",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "AccessPolicies",
            "marshallLocationName" : "AccessPolicies",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>IAM access policy as a JSON-formatted string.</p>\n@param accessPolicies IAM access policy as a JSON-formatted string.*/",
          "getterDocumentation" : "/**<p>IAM access policy as a JSON-formatted string.</p>\n@return IAM access policy as a JSON-formatted string.*/",
          "fluentSetterDocumentation" : "/**<p>IAM access policy as a JSON-formatted string.</p>\n@param accessPolicies IAM access policy as a JSON-formatted string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>IAM access policy as a JSON-formatted string.</p>\n@param accessPolicies IAM access policy as a JSON-formatted string.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeElasticsearchDomainsRequest" : {
      "c2jName" : "DescribeElasticsearchDomainsRequest",
      "documentation" : "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.</p>",
      "shapeName" : "DescribeElasticsearchDomainsRequest",
      "deprecated" : false,
      "required" : [ "DomainNames" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The Elasticsearch domains for which you want information.</p>",
        "name" : "DomainNames",
        "c2jName" : "DomainNames",
        "c2jShape" : "DomainNameList",
        "variable" : {
          "variableName" : "domainNames",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "<p>The Elasticsearch domains for which you want information.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "domainNames",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DomainNames",
          "marshallLocationName" : "DomainNames",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "queryString" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "DomainName",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "queryString" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "java.util.ArrayList<String>",
          "simple" : true,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The Elasticsearch domains for which you want information.</p>\n@param domainNames The Elasticsearch domains for which you want information.*/",
        "getterDocumentation" : "/**<p>The Elasticsearch domains for which you want information.</p>\n@return The Elasticsearch domains for which you want information.*/",
        "fluentSetterDocumentation" : "/**<p>The Elasticsearch domains for which you want information.</p>\n@param domainNames The Elasticsearch domains for which you want information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Elasticsearch domains for which you want information.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDomainNames(java.util.Collection)} or {@link #withDomainNames(java.util.Collection)} if you want to override the existing values.</p>\n@param domainNames The Elasticsearch domains for which you want information.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeElasticsearchDomainsRequest",
        "variableType" : "DescribeElasticsearchDomainsRequest",
        "variableDeclarationType" : "DescribeElasticsearchDomainsRequest",
        "documentation" : null,
        "simpleType" : "DescribeElasticsearchDomainsRequest",
        "variableSetterType" : "DescribeElasticsearchDomainsRequest"
      },
      "marshaller" : {
        "action" : "DescribeElasticsearchDomains",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/2015-01-01/es/domain-info",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "DomainNames" : {
          "documentation" : "<p>The Elasticsearch domains for which you want information.</p>",
          "name" : "DomainNames",
          "c2jName" : "DomainNames",
          "c2jShape" : "DomainNameList",
          "variable" : {
            "variableName" : "domainNames",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "<p>The Elasticsearch domains for which you want information.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "setterModel" : {
            "variableName" : "domainNames",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DomainNames",
            "marshallLocationName" : "DomainNames",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "queryString" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "DomainName",
              "variable" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "queryString" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simpleType" : "String",
            "templateType" : "java.util.List<String>",
            "templateImplType" : "java.util.ArrayList<String>",
            "simple" : true,
            "map" : false
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The Elasticsearch domains for which you want information.</p>\n@param domainNames The Elasticsearch domains for which you want information.*/",
[...]
