{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-01-01",
    "asyncClient" : "AWSElasticsearchAsyncClient",
    "asyncClientBuilderClassName" : "AWSElasticsearchAsyncClientBuilder",
    "asyncInterface" : "AWSElasticsearchAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSElasticsearchModuleInjector",
    "defaultEndpoint" : "https://es.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "es.us-east-1.amazonaws.com",
    "documentation" : "<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
    "endpointPrefix" : "es",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.elasticsearch",
    "packagePath" : "com/amazonaws/services/elasticsearch",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Elasticsearch Service",
    "serviceName" : "Amazon Elasticsearch Service",
    "signingName" : "es",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticsearch.smoketests",
    "syncClient" : "AWSElasticsearchClient",
    "syncClientBuilderClassName" : "AWSElasticsearchClientBuilder",
    "syncInterface" : "AWSElasticsearch",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\"> Tagging Amazon Elasticsearch Service Domains for more information.</a></p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CreateElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateElasticsearchDomainRequest, CreateElasticsearchDomainResult>",
      "asyncReturnType" : "CreateElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>An exception for creating a resource that already exists. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateElasticsearchDomainRequest",
        "variableName" : "createElasticsearchDomainRequest",
        "variableType" : "CreateElasticsearchDomainRequest",
        "documentation" : "",
        "simpleType" : "CreateElasticsearchDomainRequest",
        "variableSetterType" : "CreateElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createElasticsearchDomain",
      "operationName" : "CreateElasticsearchDomain",
      "returnType" : {
        "returnType" : "CreateElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.</p>"
      },
      "syncReturnType" : "CreateElasticsearchDomainResult"
    },
    "DeleteElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteElasticsearchDomainRequest, DeleteElasticsearchDomainResult>",
      "asyncReturnType" : "DeleteElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteElasticsearchDomainRequest",
        "variableName" : "deleteElasticsearchDomainRequest",
        "variableType" : "DeleteElasticsearchDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.</p>",
        "simpleType" : "DeleteElasticsearchDomainRequest",
        "variableSetterType" : "DeleteElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteElasticsearchDomain",
      "operationName" : "DeleteElasticsearchDomain",
      "returnType" : {
        "returnType" : "DeleteElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.</p>"
      },
      "syncReturnType" : "DeleteElasticsearchDomainResult"
    },
    "DescribeElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainRequest, DescribeElasticsearchDomainResult>",
      "asyncReturnType" : "DescribeElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeElasticsearchDomainRequest",
        "variableName" : "describeElasticsearchDomainRequest",
        "variableType" : "DescribeElasticsearchDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.</p>",
        "simpleType" : "DescribeElasticsearchDomainRequest",
        "variableSetterType" : "DescribeElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchDomain",
      "operationName" : "DescribeElasticsearchDomain",
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.</p>"
      },
      "syncReturnType" : "DescribeElasticsearchDomainResult"
    },
    "DescribeElasticsearchDomainConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainConfigRequest, DescribeElasticsearchDomainConfigResult>",
      "asyncReturnType" : "DescribeElasticsearchDomainConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeElasticsearchDomainConfigRequest",
        "variableName" : "describeElasticsearchDomainConfigRequest",
        "variableType" : "DescribeElasticsearchDomainConfigRequest",
        "documentation" : "<p> Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.</p>",
        "simpleType" : "DescribeElasticsearchDomainConfigRequest",
        "variableSetterType" : "DescribeElasticsearchDomainConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchDomainConfig",
      "operationName" : "DescribeElasticsearchDomainConfig",
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainConfigResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.</p>"
      },
      "syncReturnType" : "DescribeElasticsearchDomainConfigResult"
    },
    "DescribeElasticsearchDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainsRequest, DescribeElasticsearchDomainsResult>",
      "asyncReturnType" : "DescribeElasticsearchDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeElasticsearchDomainsRequest",
        "variableName" : "describeElasticsearchDomainsRequest",
        "variableType" : "DescribeElasticsearchDomainsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.</p>",
        "simpleType" : "DescribeElasticsearchDomainsRequest",
        "variableSetterType" : "DescribeElasticsearchDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchDomains",
      "operationName" : "DescribeElasticsearchDomains",
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainsResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.</p>"
      },
      "syncReturnType" : "DescribeElasticsearchDomainsResult"
    },
    "ListDomainNames" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainNamesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainNamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainNamesRequest, ListDomainNamesResult>",
      "asyncReturnType" : "ListDomainNamesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the name of all Elasticsearch domains owned by the current user's account. </p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDomainNamesRequest",
        "variableName" : "listDomainNamesRequest",
        "variableType" : "ListDomainNamesRequest",
        "documentation" : null,
        "simpleType" : "ListDomainNamesRequest",
        "variableSetterType" : "ListDomainNamesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomainNames",
      "operationName" : "ListDomainNames",
      "returnType" : {
        "returnType" : "ListDomainNamesResult",
        "documentation" : "<p>The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account.</p>"
      },
      "syncReturnType" : "ListDomainNamesResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all tags for the given Elasticsearch domain.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>ListTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain to which the tags are attached that you want to view are attached.</p>",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : "<p>The result of a <code>ListTags</code> operation. Contains tags for all requested Elasticsearch domains.</p>"
      },
      "syncReturnType" : "ListTagsResult"
    },
    "RemoveTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "asyncReturnType" : "RemoveTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified set of tags from the specified Elasticsearch domain.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsRequest",
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>RemoveTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain from which you want to remove the specified <code>TagKey</code>.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTags",
      "operationName" : "RemoveTags",
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTagsResult"
    },
    "UpdateElasticsearchDomainConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateElasticsearchDomainConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateElasticsearchDomainConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateElasticsearchDomainConfigRequest, UpdateElasticsearchDomainConfigResult>",
      "asyncReturnType" : "UpdateElasticsearchDomainConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. </p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateElasticsearchDomainConfigRequest",
        "variableName" : "updateElasticsearchDomainConfigRequest",
        "variableType" : "UpdateElasticsearchDomainConfigRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateElasticsearchDomain</a></code> operation. Specifies the type and number of instances in the domain cluster.</p>",
        "simpleType" : "UpdateElasticsearchDomainConfigRequest",
        "variableSetterType" : "UpdateElasticsearchDomainConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateElasticsearchDomainConfig",
      "operationName" : "UpdateElasticsearchDomainConfig",
      "returnType" : {
        "returnType" : "UpdateElasticsearchDomainConfigResult",
        "documentation" : "<p>The result of an <code>UpdateElasticsearchDomain</code> request. Contains the status of the Elasticsearch domain being updated.</p>"
      },
      "syncReturnType" : "UpdateElasticsearchDomainConfigResult"
    }
  },
  "shapes" : {
    "AccessPoliciesStatus" : {
      "c2jName" : "AccessPoliciesStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Options",
        "c2jShape" : "PolicyDocument",
        "deprecated" : false,
        "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@return The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Options",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Options",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Options",
        "setterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "options",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "options",
          "variableType" : "String",
          "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "OptionStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@return The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
        "getterModel" : {
          "returnType" : "OptionStatus",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Status",
        "setterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
        "setterModel" : {
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Options" : {
          "c2jName" : "Options",
          "c2jShape" : "PolicyDocument",
          "deprecated" : false,
          "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@return The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Options",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Options",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Options",
          "setterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "options",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "options",
            "variableType" : "String",
            "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "OptionStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@return The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
          "getterModel" : {
            "returnType" : "OptionStatus",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Status",
          "setterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
          "setterModel" : {
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Options", "Status" ],
      "shapeName" : "AccessPoliciesStatus",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AccessPoliciesStatus",
        "variableName" : "accessPoliciesStatus",
        "variableType" : "AccessPoliciesStatus",
        "documentation" : null,
        "simpleType" : "AccessPoliciesStatus",
        "variableSetterType" : "AccessPoliciesStatus"
      },
      "wrapper" : false
    },
    "AddTagsRequest" : {
      "c2jName" : "AddTagsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTags",
        "locationName" : null,
        "requestUri" : "/2015-01-01/tags",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ARN",
        "c2jShape" : "ARN",
        "deprecated" : false,
        "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@return Specify the <code>ARN</code> for which you want to add the tags.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ARN",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ARN",
        "setterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "aRN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "aRN",
          "variableType" : "String",
          "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TagList",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@return List of <code>Tag</code> that need to be added for the Elasticsearch domain.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "TagList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TagList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "TagList",
        "setterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tagList",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagList(java.util.Collection)} or {@link #withTagList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tagList",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ARN" : {
          "c2jName" : "ARN",
          "c2jShape" : "ARN",
          "deprecated" : false,
          "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@return Specify the <code>ARN</code> for which you want to add the tags.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ARN",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ARN",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ARN",
          "setterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "aRN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "aRN",
            "variableType" : "String",
            "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TagList" : {
          "c2jName" : "TagList",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@return List of <code>Tag</code> that need to be added for the Elasticsearch domain.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "TagList",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TagList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "java.util.ArrayList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "TagList",
          "setterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tagList",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagList(java.util.Collection)} or {@link #withTagList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tagList",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ARN", "TagList" ],
      "shapeName" : "AddTagsRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : null,
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "wrapper" : false
    },
    "AddTagsResult" : {
      "c2jName" : "AddTagsResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AddTagsResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddTagsResult",
        "variableName" : "addTagsResult",
        "variableType" : "AddTagsResult",
        "documentation" : null,
        "simpleType" : "AddTagsResult",
        "variableSetterType" : "AddTagsResult"
      },
      "wrapper" : false
    },
    "AdvancedOptionsStatus" : {
      "c2jName" : "AdvancedOptionsStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Options",
        "c2jShape" : "AdvancedOptions",
        "deprecated" : false,
        "documentation" : "<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>\n@param options Specifies the status of advanced options for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>\n@return Specifies the status of advanced options for the specified Elasticsearch domain.*/",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Options",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Options",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "name" : "Options",
        "setterDocumentation" : "/**<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>\n@param options Specifies the status of advanced options for the specified Elasticsearch domain.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "options",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>\n@param options Specifies the status of advanced options for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "options",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "OptionStatus",
        "deprecated" : false,
        "documentation" : "<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>\n@param status Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>\n@return Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.*/",
        "getterModel" : {
          "returnType" : "OptionStatus",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Status",
        "setterDocumentation" : "/**<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>\n@param status Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.*/",
        "setterModel" : {
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>\n@param status Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Options" : {
          "c2jName" : "Options",
          "c2jShape" : "AdvancedOptions",
          "deprecated" : false,
          "documentation" : "<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>\n@param options Specifies the status of advanced options for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>\n@return Specifies the status of advanced options for the specified Elasticsearch domain.*/",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Options",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Options",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "String",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Value",
              "setterDocumentation" : "/**\n@param value */",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "name" : "Options",
          "setterDocumentation" : "/**<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>\n@param options Specifies the status of advanced options for the specified Elasticsearch domain.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "options",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>\n@param options Specifies the status of advanced options for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "options",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "OptionStatus",
          "deprecated" : false,
          "documentation" : "<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>\n@param status Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>\n@return Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.*/",
          "getterModel" : {
            "returnType" : "OptionStatus",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Status",
          "setterDocumentation" : "/**<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>\n@param status Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.*/",
          "setterModel" : {
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>\n@param status Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Options", "Status" ],
      "shapeName" : "AdvancedOptionsStatus",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AdvancedOptionsStatus",
        "variableName" : "advancedOptionsStatus",
        "variableType" : "AdvancedOptionsStatus",
        "documentation" : null,
        "simpleType" : "AdvancedOptionsStatus",
        "variableSetterType" : "AdvancedOptionsStatus"
      },
      "wrapper" : false
    },
    "BaseException" : {
      "c2jName" : "BaseException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An error occurred while processing the request.</p>",
      "enums" : null,
      "errorCode" : "BaseException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "BaseException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BaseException",
        "variableName" : "baseException",
        "variableType" : "BaseException",
        "documentation" : null,
        "simpleType" : "BaseException",
        "variableSetterType" : "BaseException"
      },
      "wrapper" : false
    },
    "CreateElasticsearchDomainRequest" : {
      "c2jName" : "CreateElasticsearchDomainRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateElasticsearchDomain",
        "locationName" : null,
        "requestUri" : "/2015-01-01/es/domain",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DomainName",
        "c2jShape" : "DomainName",
        "deprecated" : false,
        "documentation" : "<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>\n@param domainName The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>\n@return The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DomainName",
        "setterDocumentation" : "/**<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>\n@param domainName The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>\n@param domainName The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ElasticsearchVersion",
        "c2jShape" : "ElasticsearchVersionString",
        "deprecated" : false,
        "documentation" : "<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>\n@param elasticsearchVersion String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>\n@return String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ElasticsearchVersion",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ElasticsearchVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ElasticsearchVersion",
        "setterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>\n@param elasticsearchVersion String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "elasticsearchVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>\n@param elasticsearchVersion String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "elasticsearchVersion",
          "variableType" : "String",
          "documentation" : "<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ElasticsearchClusterConfig",
        "c2jShape" : "ElasticsearchClusterConfig",
        "deprecated" : false,
        "documentation" : "<p>Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. </p>\n@param elasticsearchClusterConfig Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. </p>\n@return Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster.*/",
        "getterModel" : {
          "returnType" : "ElasticsearchClusterConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ElasticsearchClusterConfig",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ElasticsearchClusterConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ElasticsearchClusterConfig",
[...]
