{
  "metadata" : {
    "apiVersion" : "2015-07-09",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS CodePipeline</fullname> <p> <b>Overview</b> </p> <p>This is the AWS CodePipeline API Reference. This guide provides descriptions of the actions and data types for AWS CodePipeline. Some functionality for your pipeline is only configurable through the API. For additional information, see the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html\">AWS CodePipeline User Guide</a>.</p> <p>You can use the AWS CodePipeline API to work with pipelines, stages, actions, gates, and transitions, as described below.</p> <p> <i>Pipelines</i> are models of automated release processes. Each pipeline is uniquely named, and consists of actions, gates, and stages. </p> <p>You can work with pipelines by calling:</p> <ul> <li> <p> <a>CreatePipeline</a>, which creates a uniquely-named pipeline.</p> </li> <li> <p> <a>DeletePipeline</a>, which deletes the specified pipeline.</p> </li> <li> <p> <a>GetPipeline</a>, which returns information about a pipeline structure.</p> </li> <li> <p> <a>GetPipelineState</a>, which returns information about the current state of the stages and actions of a pipeline.</p> </li> <li> <p> <a>ListPipelines</a>, which gets a summary of all of the pipelines associated with your account.</p> </li> <li> <p> <a>StartPipelineExecution</a>, which runs the the most recent revision of an artifact through the pipeline.</p> </li> <li> <p> <a>UpdatePipeline</a>, which updates a pipeline with edits or changes to the structure of the pipeline.</p> </li> </ul> <p>Pipelines include <i>stages</i>, which are which are logical groupings of gates and actions. Each stage contains one or more actions that must complete before the next stage begins. A stage will result in success or failure. If a stage fails, then the pipeline stops at that stage and will remain stopped until either a new version of an artifact appears in the source location, or a user takes action to re-run the most recent artifact through the pipeline. You can call <a>GetPipelineState</a>, which displays the status of a pipeline, including the status of stages in the pipeline, or <a>GetPipeline</a>, which returns the entire structure of the pipeline, including the stages of that pipeline. For more information about the structure of stages and actions, also refer to the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/pipeline-structure.html\">AWS CodePipeline Pipeline Structure Reference</a>.</p> <p>Pipeline stages include <i>actions</i>, which are categorized into categories such as source or build actions performed within a stage of a pipeline. For example, you can use a source action to import artifacts into a pipeline from a source such as Amazon S3. Like stages, you do not work with actions directly in most cases, but you do define and interact with actions when working with pipeline operations such as <a>CreatePipeline</a> and <a>GetPipelineState</a>. </p> <p>Pipelines also include <i>transitions</i>, which allow the transition of artifacts from one stage to the next in a pipeline after the actions in one stage complete.</p> <p>You can work with transitions by calling:</p> <ul> <li> <p> <a>DisableStageTransition</a>, which prevents artifacts from transitioning to the next stage in a pipeline.</p> </li> <li> <p> <a>EnableStageTransition</a>, which enables transition of artifacts between stages in a pipeline. </p> </li> </ul> <p> <b>Using the API to integrate with AWS CodePipeline</b> </p> <p>For third-party integrators or developers who want to create their own integrations with AWS CodePipeline, the expected sequence varies from the standard API user. In order to integrate with AWS CodePipeline, developers will need to work with the following items:</p> <p> <b>Jobs</b>, which are instances of an action. For example, a job for a source action might import a revision of an artifact from a source. </p> <p>You can work with jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeJob</a>, which confirms whether a job worker has received the specified job,</p> </li> <li> <p> <a>GetJobDetails</a>, which returns the details of a job,</p> </li> <li> <p> <a>PollForJobs</a>, which determines whether there are any jobs to act upon, </p> </li> <li> <p> <a>PutJobFailureResult</a>, which provides details of a job failure, and</p> </li> <li> <p> <a>PutJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul> <p> <b>Third party jobs</b>, which are instances of an action created by a partner action and integrated into AWS CodePipeline. Partner actions are created by members of the AWS Partner Network.</p> <p>You can work with third party jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeThirdPartyJob</a>, which confirms whether a job worker has received the specified job,</p> </li> <li> <p> <a>GetThirdPartyJobDetails</a>, which requests the details of a job for a partner action,</p> </li> <li> <p> <a>PollForThirdPartyJobs</a>, which determines whether there are any jobs to act upon, </p> </li> <li> <p> <a>PutThirdPartyJobFailureResult</a>, which provides details of a job failure, and</p> </li> <li> <p> <a>PutThirdPartyJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul>",
    "defaultEndpoint" : "https://codepipeline.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codepipeline.us-east-1.amazonaws.com",
    "syncInterface" : "AWSCodePipeline",
    "syncClient" : "AWSCodePipelineClient",
    "asyncInterface" : "AWSCodePipelineAsync",
    "asyncClient" : "AWSCodePipelineAsyncClient",
    "packageName" : "com.amazonaws.services.codepipeline",
    "packagePath" : "com/amazonaws/services/codepipeline",
    "serviceAbbreviation" : "CodePipeline",
    "serviceFullName" : "AWS CodePipeline",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "codepipeline",
    "signingName" : "codepipeline",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSCodePipelineClientBuilder",
    "asyncClientBuilderClassName" : "AWSCodePipelineAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSCodePipelineModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.codepipeline.smoketests",
    "serviceName" : "CodePipeline",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "AcknowledgeJob" : {
      "documentation" : "<p>Returns information about a specified job and whether that job has been received by the job worker. Only used for custom actions.</p>",
      "operationName" : "AcknowledgeJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "acknowledgeJobRequest",
        "variableType" : "AcknowledgeJobRequest",
        "variableDeclarationType" : "AcknowledgeJobRequest",
        "documentation" : "<p>Represents the input of an acknowledge job action.</p>",
        "simpleType" : "AcknowledgeJobRequest",
        "variableSetterType" : "AcknowledgeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AcknowledgeJobResult",
        "documentation" : "<p>Represents the output of an acknowledge job action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNonceException",
        "documentation" : "<p>The specified nonce was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AcknowledgeJobResult",
      "asyncReturnType" : "AcknowledgeJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<AcknowledgeJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AcknowledgeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcknowledgeJobRequest, AcknowledgeJobResult>",
      "methodName" : "acknowledgeJob"
    },
    "AcknowledgeThirdPartyJob" : {
      "documentation" : "<p>Confirms a job worker has received the specified job. Only used for partner actions.</p>",
      "operationName" : "AcknowledgeThirdPartyJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "acknowledgeThirdPartyJobRequest",
        "variableType" : "AcknowledgeThirdPartyJobRequest",
        "variableDeclarationType" : "AcknowledgeThirdPartyJobRequest",
        "documentation" : "<p>Represents the input of an acknowledge third party job action.</p>",
        "simpleType" : "AcknowledgeThirdPartyJobRequest",
        "variableSetterType" : "AcknowledgeThirdPartyJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AcknowledgeThirdPartyJobResult",
        "documentation" : "<p>Represents the output of an acknowledge third party job action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNonceException",
        "documentation" : "<p>The specified nonce was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token was specified in an invalid format</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AcknowledgeThirdPartyJobResult",
      "asyncReturnType" : "AcknowledgeThirdPartyJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<AcknowledgeThirdPartyJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AcknowledgeThirdPartyJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcknowledgeThirdPartyJobRequest, AcknowledgeThirdPartyJobResult>",
      "methodName" : "acknowledgeThirdPartyJob"
    },
    "CreateCustomActionType" : {
      "documentation" : "<p>Creates a new custom action that can be used in all pipelines associated with the AWS account. Only used for custom actions.</p>",
      "operationName" : "CreateCustomActionType",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCustomActionTypeRequest",
        "variableType" : "CreateCustomActionTypeRequest",
        "variableDeclarationType" : "CreateCustomActionTypeRequest",
        "documentation" : "<p>Represents the input of a create custom action operation.</p>",
        "simpleType" : "CreateCustomActionTypeRequest",
        "variableSetterType" : "CreateCustomActionTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateCustomActionTypeResult",
        "documentation" : "<p>Represents the output of a create custom action operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The number of pipelines associated with the AWS account has exceeded the limit allowed for the account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateCustomActionTypeResult",
      "asyncReturnType" : "CreateCustomActionTypeResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCustomActionTypeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCustomActionTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCustomActionTypeRequest, CreateCustomActionTypeResult>",
      "methodName" : "createCustomActionType"
    },
    "CreatePipeline" : {
      "documentation" : "<p>Creates a pipeline.</p>",
      "operationName" : "CreatePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPipelineRequest",
        "variableType" : "CreatePipelineRequest",
        "variableDeclarationType" : "CreatePipelineRequest",
        "documentation" : "<p>Represents the input of a create pipeline action.</p>",
        "simpleType" : "CreatePipelineRequest",
        "variableSetterType" : "CreatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePipelineResult",
        "documentation" : "<p>Represents the output of a create pipeline action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNameInUseException",
        "documentation" : "<p>The specified pipeline name is already in use.</p>"
      }, {
        "exceptionName" : "InvalidStageDeclarationException",
        "documentation" : "<p>The specified stage declaration was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidActionDeclarationException",
        "documentation" : "<p>The specified action declaration was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidBlockerDeclarationException",
        "documentation" : "<p>Reserved for future use.</p>"
      }, {
        "exceptionName" : "InvalidStructureException",
        "documentation" : "<p>The specified structure was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The number of pipelines associated with the AWS account has exceeded the limit allowed for the account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreatePipelineResult",
      "asyncReturnType" : "CreatePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePipelineRequest, CreatePipelineResult>",
      "methodName" : "createPipeline"
    },
    "DeleteCustomActionType" : {
      "documentation" : "<p>Marks a custom action as deleted. PollForJobs for the custom action will fail after the action is marked for deletion. Only used for custom actions.</p> <important> <p>You cannot recreate a custom action after it has been deleted unless you increase the version number of the action.</p> </important>",
      "operationName" : "DeleteCustomActionType",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCustomActionTypeRequest",
        "variableType" : "DeleteCustomActionTypeRequest",
        "variableDeclarationType" : "DeleteCustomActionTypeRequest",
        "documentation" : "<p>Represents the input of a delete custom action operation. The custom action will be marked as deleted.</p>",
        "simpleType" : "DeleteCustomActionTypeRequest",
        "variableSetterType" : "DeleteCustomActionTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteCustomActionTypeResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteCustomActionTypeResult",
      "asyncReturnType" : "DeleteCustomActionTypeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomActionTypeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomActionTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomActionTypeRequest, DeleteCustomActionTypeResult>",
      "methodName" : "deleteCustomActionType"
    },
    "DeletePipeline" : {
      "documentation" : "<p>Deletes the specified pipeline.</p>",
      "operationName" : "DeletePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "deletePipelineRequest",
        "variableType" : "DeletePipelineRequest",
        "variableDeclarationType" : "DeletePipelineRequest",
        "documentation" : "<p>Represents the input of a delete pipeline action.</p>",
        "simpleType" : "DeletePipelineRequest",
        "variableSetterType" : "DeletePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeletePipelineResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeletePipelineResult",
      "asyncReturnType" : "DeletePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePipelineRequest, DeletePipelineResult>",
      "methodName" : "deletePipeline"
    },
    "DisableStageTransition" : {
      "documentation" : "<p>Prevents artifacts in a pipeline from transitioning to the next stage in the pipeline.</p>",
      "operationName" : "DisableStageTransition",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableStageTransitionRequest",
        "variableType" : "DisableStageTransitionRequest",
        "variableDeclarationType" : "DisableStageTransitionRequest",
        "documentation" : "<p>Represents the input of a disable stage transition input action.</p>",
        "simpleType" : "DisableStageTransitionRequest",
        "variableSetterType" : "DisableStageTransitionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableStageTransitionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DisableStageTransitionResult",
      "asyncReturnType" : "DisableStageTransitionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableStageTransitionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableStageTransitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableStageTransitionRequest, DisableStageTransitionResult>",
      "methodName" : "disableStageTransition"
    },
    "EnableStageTransition" : {
      "documentation" : "<p>Enables artifacts in a pipeline to transition to a stage in a pipeline.</p>",
      "operationName" : "EnableStageTransition",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableStageTransitionRequest",
        "variableType" : "EnableStageTransitionRequest",
        "variableDeclarationType" : "EnableStageTransitionRequest",
        "documentation" : "<p>Represents the input of an enable stage transition action.</p>",
        "simpleType" : "EnableStageTransitionRequest",
        "variableSetterType" : "EnableStageTransitionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableStageTransitionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "EnableStageTransitionResult",
      "asyncReturnType" : "EnableStageTransitionResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableStageTransitionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableStageTransitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableStageTransitionRequest, EnableStageTransitionResult>",
      "methodName" : "enableStageTransition"
    },
    "GetJobDetails" : {
      "documentation" : "<p>Returns information about a job. Only used for custom actions.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p> </important>",
      "operationName" : "GetJobDetails",
      "deprecated" : false,
      "input" : {
        "variableName" : "getJobDetailsRequest",
        "variableType" : "GetJobDetailsRequest",
        "variableDeclarationType" : "GetJobDetailsRequest",
        "documentation" : "<p>Represents the input of a get job details action.</p>",
        "simpleType" : "GetJobDetailsRequest",
        "variableSetterType" : "GetJobDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetJobDetailsResult",
        "documentation" : "<p>Represents the output of a get job details action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetJobDetailsResult",
      "asyncReturnType" : "GetJobDetailsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobDetailsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobDetailsRequest, GetJobDetailsResult>",
      "methodName" : "getJobDetails"
    },
    "GetPipeline" : {
      "documentation" : "<p>Returns the metadata, structure, stages, and actions of a pipeline. Can be used to return the entire structure of a pipeline in JSON format, which can then be modified and used to update the pipeline structure with <a>UpdatePipeline</a>.</p>",
      "operationName" : "GetPipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "getPipelineRequest",
        "variableType" : "GetPipelineRequest",
        "variableDeclarationType" : "GetPipelineRequest",
        "documentation" : "<p>Represents the input of a get pipeline action.</p>",
        "simpleType" : "GetPipelineRequest",
        "variableSetterType" : "GetPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetPipelineResult",
        "documentation" : "<p>Represents the output of a get pipeline action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "PipelineVersionNotFoundException",
        "documentation" : "<p>The specified pipeline version was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetPipelineResult",
      "asyncReturnType" : "GetPipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineRequest, GetPipelineResult>",
      "methodName" : "getPipeline"
    },
    "GetPipelineState" : {
      "documentation" : "<p>Returns information about the state of a pipeline, including the stages and actions.</p>",
      "operationName" : "GetPipelineState",
      "deprecated" : false,
      "input" : {
        "variableName" : "getPipelineStateRequest",
        "variableType" : "GetPipelineStateRequest",
        "variableDeclarationType" : "GetPipelineStateRequest",
        "documentation" : "<p>Represents the input of a get pipeline state action.</p>",
        "simpleType" : "GetPipelineStateRequest",
        "variableSetterType" : "GetPipelineStateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetPipelineStateResult",
        "documentation" : "<p>Represents the output of a get pipeline state action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetPipelineStateResult",
      "asyncReturnType" : "GetPipelineStateResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineStateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineStateRequest, GetPipelineStateResult>",
      "methodName" : "getPipelineState"
    },
    "GetThirdPartyJobDetails" : {
      "documentation" : "<p>Requests the details of a job for a third party action. Only used for partner actions.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p> </important>",
      "operationName" : "GetThirdPartyJobDetails",
      "deprecated" : false,
      "input" : {
        "variableName" : "getThirdPartyJobDetailsRequest",
        "variableType" : "GetThirdPartyJobDetailsRequest",
        "variableDeclarationType" : "GetThirdPartyJobDetailsRequest",
        "documentation" : "<p>Represents the input of a get third party job details action.</p>",
        "simpleType" : "GetThirdPartyJobDetailsRequest",
        "variableSetterType" : "GetThirdPartyJobDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetThirdPartyJobDetailsResult",
        "documentation" : "<p>Represents the output of a get third party job details action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token was specified in an invalid format</p>"
      }, {
        "exceptionName" : "InvalidJobException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetThirdPartyJobDetailsResult",
      "asyncReturnType" : "GetThirdPartyJobDetailsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetThirdPartyJobDetailsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetThirdPartyJobDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetThirdPartyJobDetailsRequest, GetThirdPartyJobDetailsResult>",
      "methodName" : "getThirdPartyJobDetails"
    },
    "ListActionTypes" : {
      "documentation" : "<p>Gets a summary of all AWS CodePipeline action types associated with your account.</p>",
      "operationName" : "ListActionTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "listActionTypesRequest",
        "variableType" : "ListActionTypesRequest",
        "variableDeclarationType" : "ListActionTypesRequest",
        "documentation" : "<p>Represents the input of a list action types action.</p>",
        "simpleType" : "ListActionTypesRequest",
        "variableSetterType" : "ListActionTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListActionTypesResult",
        "documentation" : "<p>Represents the output of a list action types action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format. Make sure that the next token you provided is the token returned by a previous call.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListActionTypesResult",
      "asyncReturnType" : "ListActionTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListActionTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListActionTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListActionTypesRequest, ListActionTypesResult>",
      "methodName" : "listActionTypes"
    },
    "ListPipelines" : {
      "documentation" : "<p>Gets a summary of all of the pipelines associated with your account.</p>",
      "operationName" : "ListPipelines",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPipelinesRequest",
        "variableType" : "ListPipelinesRequest",
        "variableDeclarationType" : "ListPipelinesRequest",
        "documentation" : "<p>Represents the input of a list pipelines action.</p>",
        "simpleType" : "ListPipelinesRequest",
        "variableSetterType" : "ListPipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPipelinesResult",
        "documentation" : "<p>Represents the output of a list pipelines action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format. Make sure that the next token you provided is the token returned by a previous call.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListPipelinesResult",
      "asyncReturnType" : "ListPipelinesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPipelinesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPipelinesRequest, ListPipelinesResult>",
      "methodName" : "listPipelines"
    },
    "PollForJobs" : {
      "documentation" : "<p>Returns information about any jobs for AWS CodePipeline to act upon.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p> </important>",
      "operationName" : "PollForJobs",
      "deprecated" : false,
      "input" : {
        "variableName" : "pollForJobsRequest",
        "variableType" : "PollForJobsRequest",
        "variableDeclarationType" : "PollForJobsRequest",
        "documentation" : "<p>Represents the input of a poll for jobs action.</p>",
        "simpleType" : "PollForJobsRequest",
        "variableSetterType" : "PollForJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PollForJobsResult",
        "documentation" : "<p>Represents the output of a poll for jobs action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ActionTypeNotFoundException",
        "documentation" : "<p>The specified action type cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PollForJobsResult",
      "asyncReturnType" : "PollForJobsResult",
      "asyncFutureType" : "java.util.concurrent.Future<PollForJobsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PollForJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PollForJobsRequest, PollForJobsResult>",
      "methodName" : "pollForJobs"
    },
    "PollForThirdPartyJobs" : {
      "documentation" : "<p>Determines whether there are any third party jobs for a job worker to act on. Only used for partner actions.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts.</p> </important>",
      "operationName" : "PollForThirdPartyJobs",
      "deprecated" : false,
      "input" : {
        "variableName" : "pollForThirdPartyJobsRequest",
        "variableType" : "PollForThirdPartyJobsRequest",
        "variableDeclarationType" : "PollForThirdPartyJobsRequest",
        "documentation" : "<p>Represents the input of a poll for third party jobs action.</p>",
        "simpleType" : "PollForThirdPartyJobsRequest",
        "variableSetterType" : "PollForThirdPartyJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PollForThirdPartyJobsResult",
        "documentation" : "<p>Represents the output of a poll for third party jobs action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ActionTypeNotFoundException",
        "documentation" : "<p>The specified action type cannot be found.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PollForThirdPartyJobsResult",
      "asyncReturnType" : "PollForThirdPartyJobsResult",
      "asyncFutureType" : "java.util.concurrent.Future<PollForThirdPartyJobsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PollForThirdPartyJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PollForThirdPartyJobsRequest, PollForThirdPartyJobsResult>",
      "methodName" : "pollForThirdPartyJobs"
    },
    "PutActionRevision" : {
      "documentation" : "<p>Provides information to AWS CodePipeline about new revisions to a source.</p>",
      "operationName" : "PutActionRevision",
      "deprecated" : false,
      "input" : {
        "variableName" : "putActionRevisionRequest",
        "variableType" : "PutActionRevisionRequest",
        "variableDeclarationType" : "PutActionRevisionRequest",
        "documentation" : "<p>Represents the input of a put action revision action.</p>",
        "simpleType" : "PutActionRevisionRequest",
        "variableSetterType" : "PutActionRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutActionRevisionResult",
        "documentation" : "<p>Represents the output of a put action revision action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "ActionNotFoundException",
        "documentation" : "<p>The specified action cannot be found.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutActionRevisionResult",
      "asyncReturnType" : "PutActionRevisionResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutActionRevisionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutActionRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutActionRevisionRequest, PutActionRevisionResult>",
      "methodName" : "putActionRevision"
    },
    "PutApprovalResult" : {
      "documentation" : "<p>Provides the response to a manual approval request to AWS CodePipeline. Valid responses include Approved and Rejected.</p>",
      "operationName" : "PutApprovalResult",
      "deprecated" : false,
      "input" : {
        "variableName" : "putApprovalResultRequest",
        "variableType" : "PutApprovalResultRequest",
        "variableDeclarationType" : "PutApprovalResultRequest",
        "documentation" : "<p>Represents the input of a put approval result action.</p>",
        "simpleType" : "PutApprovalResultRequest",
        "variableSetterType" : "PutApprovalResultRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutApprovalResultResult",
        "documentation" : "<p>Represents the output of a put approval result action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidApprovalTokenException",
        "documentation" : "<p>The approval request already received a response or has expired.</p>"
      }, {
        "exceptionName" : "ApprovalAlreadyCompletedException",
        "documentation" : "<p>The approval action has already been approved or rejected.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "ActionNotFoundException",
        "documentation" : "<p>The specified action cannot be found.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutApprovalResultResult",
      "asyncReturnType" : "PutApprovalResultResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutApprovalResultResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutApprovalResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutApprovalResultRequest, PutApprovalResultResult>",
      "methodName" : "putApprovalResult"
    },
    "PutJobFailureResult" : {
      "documentation" : "<p>Represents the failure of a job as returned to the pipeline by a job worker. Only used for custom actions.</p>",
      "operationName" : "PutJobFailureResult",
      "deprecated" : false,
      "input" : {
        "variableName" : "putJobFailureResultRequest",
        "variableType" : "PutJobFailureResultRequest",
        "variableDeclarationType" : "PutJobFailureResultRequest",
        "documentation" : "<p>Represents the input of a put job failure result action.</p>",
        "simpleType" : "PutJobFailureResultRequest",
        "variableSetterType" : "PutJobFailureResultRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutJobFailureResultResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The specified job state was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutJobFailureResultResult",
      "asyncReturnType" : "PutJobFailureResultResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutJobFailureResultResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutJobFailureResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutJobFailureResultRequest, PutJobFailureResultResult>",
      "methodName" : "putJobFailureResult"
    },
    "PutJobSuccessResult" : {
      "documentation" : "<p>Represents the success of a job as returned to the pipeline by a job worker. Only used for custom actions.</p>",
      "operationName" : "PutJobSuccessResult",
      "deprecated" : false,
      "input" : {
        "variableName" : "putJobSuccessResultRequest",
        "variableType" : "PutJobSuccessResultRequest",
        "variableDeclarationType" : "PutJobSuccessResultRequest",
        "documentation" : "<p>Represents the input of a put job success result action.</p>",
        "simpleType" : "PutJobSuccessResultRequest",
        "variableSetterType" : "PutJobSuccessResultRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutJobSuccessResultResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The specified job state was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutJobSuccessResultResult",
      "asyncReturnType" : "PutJobSuccessResultResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutJobSuccessResultResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutJobSuccessResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutJobSuccessResultRequest, PutJobSuccessResultResult>",
      "methodName" : "putJobSuccessResult"
    },
    "PutThirdPartyJobFailureResult" : {
      "documentation" : "<p>Represents the failure of a third party job as returned to the pipeline by a job worker. Only used for partner actions.</p>",
      "operationName" : "PutThirdPartyJobFailureResult",
      "deprecated" : false,
      "input" : {
        "variableName" : "putThirdPartyJobFailureResultRequest",
        "variableType" : "PutThirdPartyJobFailureResultRequest",
        "variableDeclarationType" : "PutThirdPartyJobFailureResultRequest",
        "documentation" : "<p>Represents the input of a third party job failure result action.</p>",
        "simpleType" : "PutThirdPartyJobFailureResultRequest",
        "variableSetterType" : "PutThirdPartyJobFailureResultRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutThirdPartyJobFailureResultResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The specified job state was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token was specified in an invalid format</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutThirdPartyJobFailureResultResult",
      "asyncReturnType" : "PutThirdPartyJobFailureResultResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutThirdPartyJobFailureResultResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutThirdPartyJobFailureResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutThirdPartyJobFailureResultRequest, PutThirdPartyJobFailureResultResult>",
      "methodName" : "putThirdPartyJobFailureResult"
    },
    "PutThirdPartyJobSuccessResult" : {
      "documentation" : "<p>Represents the success of a third party job as returned to the pipeline by a job worker. Only used for partner actions.</p>",
      "operationName" : "PutThirdPartyJobSuccessResult",
      "deprecated" : false,
      "input" : {
        "variableName" : "putThirdPartyJobSuccessResultRequest",
        "variableType" : "PutThirdPartyJobSuccessResultRequest",
        "variableDeclarationType" : "PutThirdPartyJobSuccessResultRequest",
        "documentation" : "<p>Represents the input of a put third party job success result action.</p>",
        "simpleType" : "PutThirdPartyJobSuccessResultRequest",
        "variableSetterType" : "PutThirdPartyJobSuccessResultRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutThirdPartyJobSuccessResultResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The specified job state was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token was specified in an invalid format</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutThirdPartyJobSuccessResultResult",
      "asyncReturnType" : "PutThirdPartyJobSuccessResultResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutThirdPartyJobSuccessResultResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutThirdPartyJobSuccessResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutThirdPartyJobSuccessResultRequest, PutThirdPartyJobSuccessResultResult>",
      "methodName" : "putThirdPartyJobSuccessResult"
    },
    "RetryStageExecution" : {
      "documentation" : "<p>Resumes the pipeline execution by retrying the last failed actions in a stage.</p>",
      "operationName" : "RetryStageExecution",
      "deprecated" : false,
      "input" : {
        "variableName" : "retryStageExecutionRequest",
        "variableType" : "RetryStageExecutionRequest",
        "variableDeclarationType" : "RetryStageExecutionRequest",
        "documentation" : "<p>Represents the input of a retry stage execution action.</p>",
        "simpleType" : "RetryStageExecutionRequest",
        "variableSetterType" : "RetryStageExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RetryStageExecutionResult",
        "documentation" : "<p>Represents the output of a retry stage execution action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotRetryableException",
        "documentation" : "<p>The specified stage can't be retried because the pipeline structure or stage state changed after the stage was not completed; the stage contains no failed actions; one or more actions are still in progress; or another retry attempt is already in progress. </p>"
      }, {
        "exceptionName" : "NotLatestPipelineExecutionException",
        "documentation" : "<p>The stage has failed in a later run of the pipeline and the pipelineExecutionId associated with the request is out of date.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RetryStageExecutionResult",
      "asyncReturnType" : "RetryStageExecutionResult",
      "asyncFutureType" : "java.util.concurrent.Future<RetryStageExecutionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RetryStageExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetryStageExecutionRequest, RetryStageExecutionResult>",
      "methodName" : "retryStageExecution"
    },
    "StartPipelineExecution" : {
      "documentation" : "<p>Starts the specified pipeline. Specifically, it begins processing the latest commit to the source location specified as part of the pipeline.</p>",
      "operationName" : "StartPipelineExecution",
      "deprecated" : false,
      "input" : {
        "variableName" : "startPipelineExecutionRequest",
        "variableType" : "StartPipelineExecutionRequest",
        "variableDeclarationType" : "StartPipelineExecutionRequest",
        "documentation" : "<p>Represents the input of a start pipeline execution action.</p>",
        "simpleType" : "StartPipelineExecutionRequest",
        "variableSetterType" : "StartPipelineExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartPipelineExecutionResult",
        "documentation" : "<p>Represents the output of a start pipeline execution action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StartPipelineExecutionResult",
      "asyncReturnType" : "StartPipelineExecutionResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartPipelineExecutionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartPipelineExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartPipelineExecutionRequest, StartPipelineExecutionResult>",
      "methodName" : "startPipelineExecution"
    },
    "UpdatePipeline" : {
      "documentation" : "<p>Updates a specified pipeline with edits or changes to its structure. Use a JSON file with the pipeline structure in conjunction with UpdatePipeline to provide the full structure of the pipeline. Updating the pipeline increases the version number of the pipeline by 1.</p>",
      "operationName" : "UpdatePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "updatePipelineRequest",
        "variableType" : "UpdatePipelineRequest",
        "variableDeclarationType" : "UpdatePipelineRequest",
        "documentation" : "<p>Represents the input of an update pipeline action.</p>",
        "simpleType" : "UpdatePipelineRequest",
        "variableSetterType" : "UpdatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdatePipelineResult",
        "documentation" : "<p>Represents the output of an update pipeline action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidStageDeclarationException",
        "documentation" : "<p>The specified stage declaration was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidActionDeclarationException",
        "documentation" : "<p>The specified action declaration was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidBlockerDeclarationException",
        "documentation" : "<p>Reserved for future use.</p>"
      }, {
        "exceptionName" : "InvalidStructureException",
        "documentation" : "<p>The specified structure was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdatePipelineResult",
      "asyncReturnType" : "UpdatePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePipelineRequest, UpdatePipelineResult>",
      "methodName" : "updatePipeline"
    }
  },
  "shapes" : {
    "PutThirdPartyJobFailureResultResult" : {
      "c2jName" : "PutThirdPartyJobFailureResultResult",
      "documentation" : null,
      "shapeName" : "PutThirdPartyJobFailureResultResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "putThirdPartyJobFailureResultResult",
        "variableType" : "PutThirdPartyJobFailureResultResult",
        "variableDeclarationType" : "PutThirdPartyJobFailureResultResult",
        "documentation" : null,
        "simpleType" : "PutThirdPartyJobFailureResultResult",
        "variableSetterType" : "PutThirdPartyJobFailureResultResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "PipelineDeclaration" : {
      "c2jName" : "PipelineDeclaration",
      "documentation" : "<p>Represents the structure of actions and stages to be performed in the pipeline.</p>",
      "shapeName" : "PipelineDeclaration",
      "deprecated" : false,
      "required" : [ "name", "roleArn", "artifactStore", "stages" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the action to be performed.</p>",
        "name" : "Name",
        "c2jName" : "name",
        "c2jShape" : "PipelineName",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the action to be performed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "name",
          "marshallLocationName" : "name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the action to be performed.</p>\n@param name The name of the action to be performed.*/",
        "getterDocumentation" : "/**<p>The name of the action to be performed.</p>\n@return The name of the action to be performed.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the action to be performed.</p>\n@param name The name of the action to be performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the action to be performed.</p>\n@param name The name of the action to be performed.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>",
        "name" : "RoleArn",
        "c2jName" : "roleArn",
        "c2jShape" : "RoleArn",
        "variable" : {
          "variableName" : "roleArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "roleArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "roleArn",
          "marshallLocationName" : "roleArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>\n@param roleArn The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>\n@return The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>\n@param roleArn The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>\n@param roleArn The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "ArtifactStore",
        "c2jName" : "artifactStore",
        "c2jShape" : "ArtifactStore",
        "variable" : {
          "variableName" : "artifactStore",
          "variableType" : "ArtifactStore",
          "variableDeclarationType" : "ArtifactStore",
          "documentation" : "",
          "simpleType" : "ArtifactStore",
          "variableSetterType" : "ArtifactStore"
        },
        "setterModel" : {
          "variableName" : "artifactStore",
          "variableType" : "ArtifactStore",
          "variableDeclarationType" : "ArtifactStore",
          "documentation" : "",
          "simpleType" : "ArtifactStore",
          "variableSetterType" : "ArtifactStore"
        },
        "getterModel" : {
          "returnType" : "ArtifactStore",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "artifactStore",
          "marshallLocationName" : "artifactStore",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param artifactStore */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param artifactStore \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param artifactStore \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The stage in which to perform the action.</p>",
        "name" : "Stages",
        "c2jName" : "stages",
        "c2jShape" : "PipelineStageDeclarationList",
        "variable" : {
          "variableName" : "stages",
          "variableType" : "java.util.List<StageDeclaration>",
          "variableDeclarationType" : "java.util.List<StageDeclaration>",
          "documentation" : "<p>The stage in which to perform the action.</p>",
          "simpleType" : "List<StageDeclaration>",
          "variableSetterType" : "java.util.Collection<StageDeclaration>"
        },
        "setterModel" : {
          "variableName" : "stages",
          "variableType" : "java.util.List<StageDeclaration>",
          "variableDeclarationType" : "java.util.List<StageDeclaration>",
          "documentation" : "",
          "simpleType" : "List<StageDeclaration>",
          "variableSetterType" : "java.util.Collection<StageDeclaration>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<StageDeclaration>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "stages",
          "marshallLocationName" : "stages",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "StageDeclaration",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "StageDeclaration",
            "variable" : {
              "variableName" : "member",
              "variableType" : "StageDeclaration",
              "variableDeclarationType" : "StageDeclaration",
              "documentation" : "",
              "simpleType" : "StageDeclaration",
              "variableSetterType" : "StageDeclaration"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "StageDeclaration",
              "variableDeclarationType" : "StageDeclaration",
              "documentation" : "",
              "simpleType" : "StageDeclaration",
              "variableSetterType" : "StageDeclaration"
            },
            "getterModel" : {
              "returnType" : "StageDeclaration",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "StageDeclaration",
          "map" : false,
          "templateType" : "java.util.List<StageDeclaration>",
          "templateImplType" : "java.util.ArrayList<StageDeclaration>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The stage in which to perform the action.</p>\n@param stages The stage in which to perform the action.*/",
        "getterDocumentation" : "/**<p>The stage in which to perform the action.</p>\n@return The stage in which to perform the action.*/",
        "fluentSetterDocumentation" : "/**<p>The stage in which to perform the action.</p>\n@param stages The stage in which to perform the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The stage in which to perform the action.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setStages(java.util.Collection)} or {@link #withStages(java.util.Collection)} if you want to override the existing values.</p>\n@param stages The stage in which to perform the action.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>",
        "name" : "Version",
        "c2jName" : "version",
        "c2jShape" : "PipelineVersion",
        "variable" : {
          "variableName" : "version",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "version",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "version",
          "marshallLocationName" : "version",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>\n@param version The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.*/",
        "getterDocumentation" : "/**<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>\n@return The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.*/",
        "fluentSetterDocumentation" : "/**<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>\n@param version The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>\n@param version The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "pipelineDeclaration",
        "variableType" : "PipelineDeclaration",
        "variableDeclarationType" : "PipelineDeclaration",
        "documentation" : null,
        "simpleType" : "PipelineDeclaration",
        "variableSetterType" : "PipelineDeclaration"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ArtifactStore" : {
          "documentation" : "",
          "name" : "ArtifactStore",
          "c2jName" : "artifactStore",
          "c2jShape" : "ArtifactStore",
          "variable" : {
            "variableName" : "artifactStore",
            "variableType" : "ArtifactStore",
            "variableDeclarationType" : "ArtifactStore",
            "documentation" : "",
            "simpleType" : "ArtifactStore",
            "variableSetterType" : "ArtifactStore"
          },
          "setterModel" : {
            "variableName" : "artifactStore",
            "variableType" : "ArtifactStore",
            "variableDeclarationType" : "ArtifactStore",
            "documentation" : "",
            "simpleType" : "ArtifactStore",
            "variableSetterType" : "ArtifactStore"
          },
          "getterModel" : {
            "returnType" : "ArtifactStore",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "artifactStore",
            "marshallLocationName" : "artifactStore",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param artifactStore */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param artifactStore \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param artifactStore \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Version" : {
          "documentation" : "<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>",
          "name" : "Version",
          "c2jName" : "version",
          "c2jShape" : "PipelineVersion",
          "variable" : {
            "variableName" : "version",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "version",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "version",
            "marshallLocationName" : "version",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>\n@param version The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.*/",
          "getterDocumentation" : "/**<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>\n@return The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.*/",
          "fluentSetterDocumentation" : "/**<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>\n@param version The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>\n@param version The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Stages" : {
          "documentation" : "<p>The stage in which to perform the action.</p>",
          "name" : "Stages",
          "c2jName" : "stages",
          "c2jShape" : "PipelineStageDeclarationList",
          "variable" : {
            "variableName" : "stages",
            "variableType" : "java.util.List<StageDeclaration>",
            "variableDeclarationType" : "java.util.List<StageDeclaration>",
            "documentation" : "<p>The stage in which to perform the action.</p>",
            "simpleType" : "List<StageDeclaration>",
            "variableSetterType" : "java.util.Collection<StageDeclaration>"
          },
          "setterModel" : {
            "variableName" : "stages",
            "variableType" : "java.util.List<StageDeclaration>",
            "variableDeclarationType" : "java.util.List<StageDeclaration>",
            "documentation" : "",
            "simpleType" : "List<StageDeclaration>",
            "variableSetterType" : "java.util.Collection<StageDeclaration>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<StageDeclaration>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "stages",
            "marshallLocationName" : "stages",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "StageDeclaration",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "StageDeclaration",
              "variable" : {
                "variableName" : "member",
                "variableType" : "StageDeclaration",
                "variableDeclarationType" : "StageDeclaration",
                "documentation" : "",
                "simpleType" : "StageDeclaration",
                "variableSetterType" : "StageDeclaration"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "StageDeclaration",
                "variableDeclarationType" : "StageDeclaration",
                "documentation" : "",
                "simpleType" : "StageDeclaration",
                "variableSetterType" : "StageDeclaration"
              },
              "getterModel" : {
                "returnType" : "StageDeclaration",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "StageDeclaration",
            "map" : false,
            "templateType" : "java.util.List<StageDeclaration>",
            "templateImplType" : "java.util.ArrayList<StageDeclaration>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The stage in which to perform the action.</p>\n@param stages The stage in which to perform the action.*/",
          "getterDocumentation" : "/**<p>The stage in which to perform the action.</p>\n@return The stage in which to perform the action.*/",
          "fluentSetterDocumentation" : "/**<p>The stage in which to perform the action.</p>\n@param stages The stage in which to perform the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The stage in which to perform the action.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setStages(java.util.Collection)} or {@link #withStages(java.util.Collection)} if you want to override the existing values.</p>\n@param stages The stage in which to perform the action.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RoleArn" : {
          "documentation" : "<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>",
          "name" : "RoleArn",
          "c2jName" : "roleArn",
          "c2jShape" : "RoleArn",
          "variable" : {
            "variableName" : "roleArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "roleArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "roleArn",
            "marshallLocationName" : "roleArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>\n@param roleArn The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>\n@return The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.*/",
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>\n@param roleArn The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>\n@param roleArn The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Name" : {
          "documentation" : "<p>The name of the action to be performed.</p>",
          "name" : "Name",
          "c2jName" : "name",
          "c2jShape" : "PipelineName",
          "variable" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the action to be performed.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "name",
            "marshallLocationName" : "name",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the action to be performed.</p>\n@param name The name of the action to be performed.*/",
          "getterDocumentation" : "/**<p>The name of the action to be performed.</p>\n@return The name of the action to be performed.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the action to be performed.</p>\n@param name The name of the action to be performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the action to be performed.</p>\n@param name The name of the action to be performed.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "UpdatePipelineResult" : {
      "c2jName" : "UpdatePipelineOutput",
      "documentation" : "<p>Represents the output of an update pipeline action.</p>",
      "shapeName" : "UpdatePipelineResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The structure of the updated pipeline.</p>",
        "name" : "Pipeline",
        "c2jName" : "pipeline",
        "c2jShape" : "PipelineDeclaration",
        "variable" : {
          "variableName" : "pipeline",
          "variableType" : "PipelineDeclaration",
          "variableDeclarationType" : "PipelineDeclaration",
          "documentation" : "<p>The structure of the updated pipeline.</p>",
          "simpleType" : "PipelineDeclaration",
          "variableSetterType" : "PipelineDeclaration"
        },
        "setterModel" : {
          "variableName" : "pipeline",
          "variableType" : "PipelineDeclaration",
          "variableDeclarationType" : "PipelineDeclaration",
          "documentation" : "",
          "simpleType" : "PipelineDeclaration",
          "variableSetterType" : "PipelineDeclaration"
        },
        "getterModel" : {
          "returnType" : "PipelineDeclaration",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "pipeline",
          "marshallLocationName" : "pipeline",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The structure of the updated pipeline.</p>\n@param pipeline The structure of the updated pipeline.*/",
        "getterDocumentation" : "/**<p>The structure of the updated pipeline.</p>\n@return The structure of the updated pipeline.*/",
        "fluentSetterDocumentation" : "/**<p>The structure of the updated pipeline.</p>\n@param pipeline The structure of the updated pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The structure of the updated pipeline.</p>\n@param pipeline The structure of the updated pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "updatePipelineResult",
        "variableType" : "UpdatePipelineResult",
        "variableDeclarationType" : "UpdatePipelineResult",
        "documentation" : null,
        "simpleType" : "UpdatePipelineResult",
        "variableSetterType" : "UpdatePipelineResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Pipeline" : {
          "documentation" : "<p>The structure of the updated pipeline.</p>",
          "name" : "Pipeline",
          "c2jName" : "pipeline",
          "c2jShape" : "PipelineDeclaration",
          "variable" : {
            "variableName" : "pipeline",
            "variableType" : "PipelineDeclaration",
            "variableDeclarationType" : "PipelineDeclaration",
            "documentation" : "<p>The structure of the updated pipeline.</p>",
            "simpleType" : "PipelineDeclaration",
            "variableSetterType" : "PipelineDeclaration"
          },
          "setterModel" : {
            "variableName" : "pipeline",
            "variableType" : "PipelineDeclaration",
            "variableDeclarationType" : "PipelineDeclaration",
            "documentation" : "",
            "simpleType" : "PipelineDeclaration",
            "variableSetterType" : "PipelineDeclaration"
          },
          "getterModel" : {
            "returnType" : "PipelineDeclaration",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "pipeline",
            "marshallLocationName" : "pipeline",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The structure of the updated pipeline.</p>\n@param pipeline The structure of the updated pipeline.*/",
          "getterDocumentation" : "/**<p>The structure of the updated pipeline.</p>\n@return The structure of the updated pipeline.*/",
          "fluentSetterDocumentation" : "/**<p>The structure of the updated pipeline.</p>\n@param pipeline The structure of the updated pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The structure of the updated pipeline.</p>\n@param pipeline The structure of the updated pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "InvalidClientTokenException" : {
      "c2jName" : "InvalidClientTokenException",
      "documentation" : "<p>The client token was specified in an invalid format</p>",
      "shapeName" : "InvalidClientTokenException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "invalidClientTokenException",
        "variableType" : "InvalidClientTokenException",
        "variableDeclarationType" : "InvalidClientTokenException",
        "documentation" : null,
[...]
