{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-07-09",
    "asyncClient" : "AWSCodePipelineAsyncClient",
    "asyncClientBuilderClassName" : "AWSCodePipelineAsyncClientBuilder",
    "asyncInterface" : "AWSCodePipelineAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCodePipelineModuleInjector",
    "defaultEndpoint" : "https://codepipeline.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codepipeline.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS CodePipeline</fullname> <p> <b>Overview</b> </p> <p>This is the AWS CodePipeline API Reference. This guide provides descriptions of the actions and data types for AWS CodePipeline. Some functionality for your pipeline is only configurable through the API. For additional information, see the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html\">AWS CodePipeline User Guide</a>.</p> <p>You can use the AWS CodePipeline API to work with pipelines, stages, actions, gates, and transitions, as described below.</p> <p> <i>Pipelines</i> are models of automated release processes. Each pipeline is uniquely named, and consists of actions, gates, and stages. </p> <p>You can work with pipelines by calling:</p> <ul> <li> <p> <a>CreatePipeline</a>, which creates a uniquely-named pipeline.</p> </li> <li> <p> <a>DeletePipeline</a>, which deletes the specified pipeline.</p> </li> <li> <p> <a>GetPipeline</a>, which returns information about a pipeline structure.</p> </li> <li> <p> <a>GetPipelineExecution</a>, which returns information about a specific execution of a pipeline.</p> </li> <li> <p> <a>GetPipelineState</a>, which returns information about the current state of the stages and actions of a pipeline.</p> </li> <li> <p> <a>ListPipelines</a>, which gets a summary of all of the pipelines associated with your account.</p> </li> <li> <p> <a>StartPipelineExecution</a>, which runs the the most recent revision of an artifact through the pipeline.</p> </li> <li> <p> <a>UpdatePipeline</a>, which updates a pipeline with edits or changes to the structure of the pipeline.</p> </li> </ul> <p>Pipelines include <i>stages</i>, which are which are logical groupings of gates and actions. Each stage contains one or more actions that must complete before the next stage begins. A stage will result in success or failure. If a stage fails, then the pipeline stops at that stage and will remain stopped until either a new version of an artifact appears in the source location, or a user takes action to re-run the most recent artifact through the pipeline. You can call <a>GetPipelineState</a>, which displays the status of a pipeline, including the status of stages in the pipeline, or <a>GetPipeline</a>, which returns the entire structure of the pipeline, including the stages of that pipeline. For more information about the structure of stages and actions, also refer to the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/pipeline-structure.html\">AWS CodePipeline Pipeline Structure Reference</a>.</p> <p>Pipeline stages include <i>actions</i>, which are categorized into categories such as source or build actions performed within a stage of a pipeline. For example, you can use a source action to import artifacts into a pipeline from a source such as Amazon S3. Like stages, you do not work with actions directly in most cases, but you do define and interact with actions when working with pipeline operations such as <a>CreatePipeline</a> and <a>GetPipelineState</a>. </p> <p>Pipelines also include <i>transitions</i>, which allow the transition of artifacts from one stage to the next in a pipeline after the actions in one stage complete.</p> <p>You can work with transitions by calling:</p> <ul> <li> <p> <a>DisableStageTransition</a>, which prevents artifacts from transitioning to the next stage in a pipeline.</p> </li> <li> <p> <a>EnableStageTransition</a>, which enables transition of artifacts between stages in a pipeline. </p> </li> </ul> <p> <b>Using the API to integrate with AWS CodePipeline</b> </p> <p>For third-party integrators or developers who want to create their own integrations with AWS CodePipeline, the expected sequence varies from the standard API user. In order to integrate with AWS CodePipeline, developers will need to work with the following items:</p> <p> <b>Jobs</b>, which are instances of an action. For example, a job for a source action might import a revision of an artifact from a source. </p> <p>You can work with jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeJob</a>, which confirms whether a job worker has received the specified job,</p> </li> <li> <p> <a>GetJobDetails</a>, which returns the details of a job,</p> </li> <li> <p> <a>PollForJobs</a>, which determines whether there are any jobs to act upon, </p> </li> <li> <p> <a>PutJobFailureResult</a>, which provides details of a job failure, and</p> </li> <li> <p> <a>PutJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul> <p> <b>Third party jobs</b>, which are instances of an action created by a partner action and integrated into AWS CodePipeline. Partner actions are created by members of the AWS Partner Network.</p> <p>You can work with third party jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeThirdPartyJob</a>, which confirms whether a job worker has received the specified job,</p> </li> <li> <p> <a>GetThirdPartyJobDetails</a>, which requests the details of a job for a partner action,</p> </li> <li> <p> <a>PollForThirdPartyJobs</a>, which determines whether there are any jobs to act upon, </p> </li> <li> <p> <a>PutThirdPartyJobFailureResult</a>, which provides details of a job failure, and</p> </li> <li> <p> <a>PutThirdPartyJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul>",
    "endpointPrefix" : "codepipeline",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codepipeline",
    "packagePath" : "com/amazonaws/services/codepipeline",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "CodePipeline",
    "serviceFullName" : "AWS CodePipeline",
    "serviceName" : "CodePipeline",
    "signingName" : "codepipeline",
    "smokeTestsPackageName" : "com.amazonaws.services.codepipeline.smoketests",
    "syncClient" : "AWSCodePipelineClient",
    "syncClientBuilderClassName" : "AWSCodePipelineClientBuilder",
    "syncInterface" : "AWSCodePipeline",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcknowledgeJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcknowledgeJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcknowledgeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcknowledgeJobRequest, AcknowledgeJobResult>",
      "asyncReturnType" : "AcknowledgeJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specified job and whether that job has been received by the job worker. Only used for custom actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNonceException",
        "documentation" : "<p>The specified nonce was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AcknowledgeJobRequest",
        "variableName" : "acknowledgeJobRequest",
        "variableType" : "AcknowledgeJobRequest",
        "documentation" : "<p>Represents the input of an acknowledge job action.</p>",
        "simpleType" : "AcknowledgeJobRequest",
        "variableSetterType" : "AcknowledgeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acknowledgeJob",
      "operationName" : "AcknowledgeJob",
      "returnType" : {
        "returnType" : "AcknowledgeJobResult",
        "documentation" : "<p>Represents the output of an acknowledge job action.</p>"
      },
      "syncReturnType" : "AcknowledgeJobResult"
    },
    "AcknowledgeThirdPartyJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcknowledgeThirdPartyJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcknowledgeThirdPartyJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcknowledgeThirdPartyJobRequest, AcknowledgeThirdPartyJobResult>",
      "asyncReturnType" : "AcknowledgeThirdPartyJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Confirms a job worker has received the specified job. Only used for partner actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNonceException",
        "documentation" : "<p>The specified nonce was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token was specified in an invalid format</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AcknowledgeThirdPartyJobRequest",
        "variableName" : "acknowledgeThirdPartyJobRequest",
        "variableType" : "AcknowledgeThirdPartyJobRequest",
        "documentation" : "<p>Represents the input of an acknowledge third party job action.</p>",
        "simpleType" : "AcknowledgeThirdPartyJobRequest",
        "variableSetterType" : "AcknowledgeThirdPartyJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acknowledgeThirdPartyJob",
      "operationName" : "AcknowledgeThirdPartyJob",
      "returnType" : {
        "returnType" : "AcknowledgeThirdPartyJobResult",
        "documentation" : "<p>Represents the output of an acknowledge third party job action.</p>"
      },
      "syncReturnType" : "AcknowledgeThirdPartyJobResult"
    },
    "CreateCustomActionType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCustomActionTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCustomActionTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCustomActionTypeRequest, CreateCustomActionTypeResult>",
      "asyncReturnType" : "CreateCustomActionTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new custom action that can be used in all pipelines associated with the AWS account. Only used for custom actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The number of pipelines associated with the AWS account has exceeded the limit allowed for the account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateCustomActionTypeRequest",
        "variableName" : "createCustomActionTypeRequest",
        "variableType" : "CreateCustomActionTypeRequest",
        "documentation" : "<p>Represents the input of a create custom action operation.</p>",
        "simpleType" : "CreateCustomActionTypeRequest",
        "variableSetterType" : "CreateCustomActionTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCustomActionType",
      "operationName" : "CreateCustomActionType",
      "returnType" : {
        "returnType" : "CreateCustomActionTypeResult",
        "documentation" : "<p>Represents the output of a create custom action operation.</p>"
      },
      "syncReturnType" : "CreateCustomActionTypeResult"
    },
    "CreatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePipelineRequest, CreatePipelineResult>",
      "asyncReturnType" : "CreatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNameInUseException",
        "documentation" : "<p>The specified pipeline name is already in use.</p>"
      }, {
        "exceptionName" : "InvalidStageDeclarationException",
        "documentation" : "<p>The specified stage declaration was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidActionDeclarationException",
        "documentation" : "<p>The specified action declaration was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidBlockerDeclarationException",
        "documentation" : "<p>Reserved for future use.</p>"
      }, {
        "exceptionName" : "InvalidStructureException",
        "documentation" : "<p>The specified structure was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The number of pipelines associated with the AWS account has exceeded the limit allowed for the account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePipelineRequest",
        "variableName" : "createPipelineRequest",
        "variableType" : "CreatePipelineRequest",
        "documentation" : "<p>Represents the input of a create pipeline action.</p>",
        "simpleType" : "CreatePipelineRequest",
        "variableSetterType" : "CreatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPipeline",
      "operationName" : "CreatePipeline",
      "returnType" : {
        "returnType" : "CreatePipelineResult",
        "documentation" : "<p>Represents the output of a create pipeline action.</p>"
      },
      "syncReturnType" : "CreatePipelineResult"
    },
    "DeleteCustomActionType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomActionTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomActionTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomActionTypeRequest, DeleteCustomActionTypeResult>",
      "asyncReturnType" : "DeleteCustomActionTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Marks a custom action as deleted. PollForJobs for the custom action will fail after the action is marked for deletion. Only used for custom actions.</p> <important> <p>You cannot recreate a custom action after it has been deleted unless you increase the version number of the action.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCustomActionTypeRequest",
        "variableName" : "deleteCustomActionTypeRequest",
        "variableType" : "DeleteCustomActionTypeRequest",
        "documentation" : "<p>Represents the input of a delete custom action operation. The custom action will be marked as deleted.</p>",
        "simpleType" : "DeleteCustomActionTypeRequest",
        "variableSetterType" : "DeleteCustomActionTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCustomActionType",
      "operationName" : "DeleteCustomActionType",
      "returnType" : {
        "returnType" : "DeleteCustomActionTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCustomActionTypeResult"
    },
    "DeletePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePipelineRequest, DeletePipelineResult>",
      "asyncReturnType" : "DeletePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeletePipelineRequest",
        "variableName" : "deletePipelineRequest",
        "variableType" : "DeletePipelineRequest",
        "documentation" : "<p>Represents the input of a delete pipeline action.</p>",
        "simpleType" : "DeletePipelineRequest",
        "variableSetterType" : "DeletePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePipeline",
      "operationName" : "DeletePipeline",
      "returnType" : {
        "returnType" : "DeletePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePipelineResult"
    },
    "DisableStageTransition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableStageTransitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableStageTransitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableStageTransitionRequest, DisableStageTransitionResult>",
      "asyncReturnType" : "DisableStageTransitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Prevents artifacts in a pipeline from transitioning to the next stage in the pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableStageTransitionRequest",
        "variableName" : "disableStageTransitionRequest",
        "variableType" : "DisableStageTransitionRequest",
        "documentation" : "<p>Represents the input of a disable stage transition input action.</p>",
        "simpleType" : "DisableStageTransitionRequest",
        "variableSetterType" : "DisableStageTransitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableStageTransition",
      "operationName" : "DisableStageTransition",
      "returnType" : {
        "returnType" : "DisableStageTransitionResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableStageTransitionResult"
    },
    "EnableStageTransition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableStageTransitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableStageTransitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableStageTransitionRequest, EnableStageTransitionResult>",
      "asyncReturnType" : "EnableStageTransitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables artifacts in a pipeline to transition to a stage in a pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableStageTransitionRequest",
        "variableName" : "enableStageTransitionRequest",
        "variableType" : "EnableStageTransitionRequest",
        "documentation" : "<p>Represents the input of an enable stage transition action.</p>",
        "simpleType" : "EnableStageTransitionRequest",
        "variableSetterType" : "EnableStageTransitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableStageTransition",
      "operationName" : "EnableStageTransition",
      "returnType" : {
        "returnType" : "EnableStageTransitionResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableStageTransitionResult"
    },
    "GetJobDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobDetailsRequest, GetJobDetailsResult>",
      "asyncReturnType" : "GetJobDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a job. Only used for custom actions.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetJobDetailsRequest",
        "variableName" : "getJobDetailsRequest",
        "variableType" : "GetJobDetailsRequest",
        "documentation" : "<p>Represents the input of a get job details action.</p>",
        "simpleType" : "GetJobDetailsRequest",
        "variableSetterType" : "GetJobDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJobDetails",
      "operationName" : "GetJobDetails",
      "returnType" : {
        "returnType" : "GetJobDetailsResult",
        "documentation" : "<p>Represents the output of a get job details action.</p>"
      },
      "syncReturnType" : "GetJobDetailsResult"
    },
    "GetPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineRequest, GetPipelineResult>",
      "asyncReturnType" : "GetPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the metadata, structure, stages, and actions of a pipeline. Can be used to return the entire structure of a pipeline in JSON format, which can then be modified and used to update the pipeline structure with <a>UpdatePipeline</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "PipelineVersionNotFoundException",
        "documentation" : "<p>The specified pipeline version was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetPipelineRequest",
        "variableName" : "getPipelineRequest",
        "variableType" : "GetPipelineRequest",
        "documentation" : "<p>Represents the input of a get pipeline action.</p>",
        "simpleType" : "GetPipelineRequest",
        "variableSetterType" : "GetPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPipeline",
      "operationName" : "GetPipeline",
      "returnType" : {
        "returnType" : "GetPipelineResult",
        "documentation" : "<p>Represents the output of a get pipeline action.</p>"
      },
      "syncReturnType" : "GetPipelineResult"
    },
    "GetPipelineExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineExecutionRequest, GetPipelineExecutionResult>",
      "asyncReturnType" : "GetPipelineExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an execution of a pipeline, including details about artifacts, the pipeline execution ID, and the name, version, and status of the pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "PipelineExecutionNotFoundException",
        "documentation" : "<p>The pipeline execution was specified in an invalid format or cannot be found, or an execution ID does not belong to the specified pipeline. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetPipelineExecutionRequest",
        "variableName" : "getPipelineExecutionRequest",
        "variableType" : "GetPipelineExecutionRequest",
        "documentation" : "<p>Represents the input of a get pipeline execution action.</p>",
        "simpleType" : "GetPipelineExecutionRequest",
        "variableSetterType" : "GetPipelineExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPipelineExecution",
      "operationName" : "GetPipelineExecution",
      "returnType" : {
        "returnType" : "GetPipelineExecutionResult",
        "documentation" : "<p>Represents the output of a get pipeline execution action.</p>"
      },
      "syncReturnType" : "GetPipelineExecutionResult"
    },
    "GetPipelineState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineStateRequest, GetPipelineStateResult>",
      "asyncReturnType" : "GetPipelineStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the state of a pipeline, including the stages and actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetPipelineStateRequest",
        "variableName" : "getPipelineStateRequest",
        "variableType" : "GetPipelineStateRequest",
        "documentation" : "<p>Represents the input of a get pipeline state action.</p>",
        "simpleType" : "GetPipelineStateRequest",
        "variableSetterType" : "GetPipelineStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPipelineState",
      "operationName" : "GetPipelineState",
      "returnType" : {
        "returnType" : "GetPipelineStateResult",
        "documentation" : "<p>Represents the output of a get pipeline state action.</p>"
      },
      "syncReturnType" : "GetPipelineStateResult"
    },
    "GetThirdPartyJobDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetThirdPartyJobDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetThirdPartyJobDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetThirdPartyJobDetailsRequest, GetThirdPartyJobDetailsResult>",
      "asyncReturnType" : "GetThirdPartyJobDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests the details of a job for a third party action. Only used for partner actions.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token was specified in an invalid format</p>"
      }, {
        "exceptionName" : "InvalidJobException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetThirdPartyJobDetailsRequest",
        "variableName" : "getThirdPartyJobDetailsRequest",
        "variableType" : "GetThirdPartyJobDetailsRequest",
        "documentation" : "<p>Represents the input of a get third party job details action.</p>",
        "simpleType" : "GetThirdPartyJobDetailsRequest",
        "variableSetterType" : "GetThirdPartyJobDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getThirdPartyJobDetails",
      "operationName" : "GetThirdPartyJobDetails",
      "returnType" : {
        "returnType" : "GetThirdPartyJobDetailsResult",
        "documentation" : "<p>Represents the output of a get third party job details action.</p>"
      },
      "syncReturnType" : "GetThirdPartyJobDetailsResult"
    },
    "ListActionTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListActionTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListActionTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListActionTypesRequest, ListActionTypesResult>",
      "asyncReturnType" : "ListActionTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a summary of all AWS CodePipeline action types associated with your account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format. Make sure that the next token you provided is the token returned by a previous call.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListActionTypesRequest",
        "variableName" : "listActionTypesRequest",
        "variableType" : "ListActionTypesRequest",
        "documentation" : "<p>Represents the input of a list action types action.</p>",
        "simpleType" : "ListActionTypesRequest",
        "variableSetterType" : "ListActionTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listActionTypes",
      "operationName" : "ListActionTypes",
      "returnType" : {
        "returnType" : "ListActionTypesResult",
        "documentation" : "<p>Represents the output of a list action types action.</p>"
      },
      "syncReturnType" : "ListActionTypesResult"
    },
    "ListPipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPipelinesRequest, ListPipelinesResult>",
      "asyncReturnType" : "ListPipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a summary of all of the pipelines associated with your account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format. Make sure that the next token you provided is the token returned by a previous call.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPipelinesRequest",
        "variableName" : "listPipelinesRequest",
        "variableType" : "ListPipelinesRequest",
        "documentation" : "<p>Represents the input of a list pipelines action.</p>",
        "simpleType" : "ListPipelinesRequest",
        "variableSetterType" : "ListPipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPipelines",
      "operationName" : "ListPipelines",
      "returnType" : {
        "returnType" : "ListPipelinesResult",
        "documentation" : "<p>Represents the output of a list pipelines action.</p>"
      },
      "syncReturnType" : "ListPipelinesResult"
    },
    "PollForJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PollForJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PollForJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PollForJobsRequest, PollForJobsResult>",
      "asyncReturnType" : "PollForJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about any jobs for AWS CodePipeline to act upon.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ActionTypeNotFoundException",
        "documentation" : "<p>The specified action type cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PollForJobsRequest",
        "variableName" : "pollForJobsRequest",
        "variableType" : "PollForJobsRequest",
        "documentation" : "<p>Represents the input of a poll for jobs action.</p>",
        "simpleType" : "PollForJobsRequest",
        "variableSetterType" : "PollForJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "pollForJobs",
      "operationName" : "PollForJobs",
      "returnType" : {
        "returnType" : "PollForJobsResult",
        "documentation" : "<p>Represents the output of a poll for jobs action.</p>"
      },
      "syncReturnType" : "PollForJobsResult"
    },
    "PollForThirdPartyJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PollForThirdPartyJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PollForThirdPartyJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PollForThirdPartyJobsRequest, PollForThirdPartyJobsResult>",
      "asyncReturnType" : "PollForThirdPartyJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Determines whether there are any third party jobs for a job worker to act on. Only used for partner actions.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "ActionTypeNotFoundException",
        "documentation" : "<p>The specified action type cannot be found.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PollForThirdPartyJobsRequest",
        "variableName" : "pollForThirdPartyJobsRequest",
        "variableType" : "PollForThirdPartyJobsRequest",
        "documentation" : "<p>Represents the input of a poll for third party jobs action.</p>",
        "simpleType" : "PollForThirdPartyJobsRequest",
        "variableSetterType" : "PollForThirdPartyJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "pollForThirdPartyJobs",
      "operationName" : "PollForThirdPartyJobs",
      "returnType" : {
        "returnType" : "PollForThirdPartyJobsResult",
        "documentation" : "<p>Represents the output of a poll for third party jobs action.</p>"
      },
      "syncReturnType" : "PollForThirdPartyJobsResult"
    },
    "PutActionRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutActionRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutActionRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutActionRevisionRequest, PutActionRevisionResult>",
      "asyncReturnType" : "PutActionRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information to AWS CodePipeline about new revisions to a source.</p>",
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "ActionNotFoundException",
        "documentation" : "<p>The specified action cannot be found.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutActionRevisionRequest",
        "variableName" : "putActionRevisionRequest",
        "variableType" : "PutActionRevisionRequest",
        "documentation" : "<p>Represents the input of a put action revision action.</p>",
        "simpleType" : "PutActionRevisionRequest",
        "variableSetterType" : "PutActionRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putActionRevision",
      "operationName" : "PutActionRevision",
      "returnType" : {
        "returnType" : "PutActionRevisionResult",
        "documentation" : "<p>Represents the output of a put action revision action.</p>"
      },
      "syncReturnType" : "PutActionRevisionResult"
    },
    "PutApprovalResult" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutApprovalResultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutApprovalResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutApprovalResultRequest, PutApprovalResultResult>",
      "asyncReturnType" : "PutApprovalResultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the response to a manual approval request to AWS CodePipeline. Valid responses include Approved and Rejected.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidApprovalTokenException",
        "documentation" : "<p>The approval request already received a response or has expired.</p>"
      }, {
        "exceptionName" : "ApprovalAlreadyCompletedException",
        "documentation" : "<p>The approval action has already been approved or rejected.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "ActionNotFoundException",
        "documentation" : "<p>The specified action cannot be found.</p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutApprovalResultRequest",
        "variableName" : "putApprovalResultRequest",
        "variableType" : "PutApprovalResultRequest",
        "documentation" : "<p>Represents the input of a put approval result action.</p>",
        "simpleType" : "PutApprovalResultRequest",
        "variableSetterType" : "PutApprovalResultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putApprovalResult",
      "operationName" : "PutApprovalResult",
      "returnType" : {
        "returnType" : "PutApprovalResultResult",
        "documentation" : "<p>Represents the output of a put approval result action.</p>"
      },
      "syncReturnType" : "PutApprovalResultResult"
    },
    "PutJobFailureResult" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutJobFailureResultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutJobFailureResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutJobFailureResultRequest, PutJobFailureResultResult>",
      "asyncReturnType" : "PutJobFailureResultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Represents the failure of a job as returned to the pipeline by a job worker. Only used for custom actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The specified job state was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutJobFailureResultRequest",
        "variableName" : "putJobFailureResultRequest",
        "variableType" : "PutJobFailureResultRequest",
        "documentation" : "<p>Represents the input of a put job failure result action.</p>",
        "simpleType" : "PutJobFailureResultRequest",
        "variableSetterType" : "PutJobFailureResultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putJobFailureResult",
      "operationName" : "PutJobFailureResult",
      "returnType" : {
        "returnType" : "PutJobFailureResultResult",
        "documentation" : null
      },
      "syncReturnType" : "PutJobFailureResultResult"
    },
    "PutJobSuccessResult" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutJobSuccessResultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutJobSuccessResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutJobSuccessResultRequest, PutJobSuccessResultResult>",
      "asyncReturnType" : "PutJobSuccessResultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Represents the success of a job as returned to the pipeline by a job worker. Only used for custom actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The specified job state was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutJobSuccessResultRequest",
        "variableName" : "putJobSuccessResultRequest",
        "variableType" : "PutJobSuccessResultRequest",
        "documentation" : "<p>Represents the input of a put job success result action.</p>",
        "simpleType" : "PutJobSuccessResultRequest",
        "variableSetterType" : "PutJobSuccessResultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putJobSuccessResult",
      "operationName" : "PutJobSuccessResult",
      "returnType" : {
        "returnType" : "PutJobSuccessResultResult",
        "documentation" : null
      },
      "syncReturnType" : "PutJobSuccessResultResult"
    },
    "PutThirdPartyJobFailureResult" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutThirdPartyJobFailureResultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutThirdPartyJobFailureResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutThirdPartyJobFailureResultRequest, PutThirdPartyJobFailureResultResult>",
      "asyncReturnType" : "PutThirdPartyJobFailureResultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Represents the failure of a third party job as returned to the pipeline by a job worker. Only used for partner actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The specified job state was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token was specified in an invalid format</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutThirdPartyJobFailureResultRequest",
        "variableName" : "putThirdPartyJobFailureResultRequest",
        "variableType" : "PutThirdPartyJobFailureResultRequest",
        "documentation" : "<p>Represents the input of a third party job failure result action.</p>",
        "simpleType" : "PutThirdPartyJobFailureResultRequest",
        "variableSetterType" : "PutThirdPartyJobFailureResultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putThirdPartyJobFailureResult",
      "operationName" : "PutThirdPartyJobFailureResult",
      "returnType" : {
        "returnType" : "PutThirdPartyJobFailureResultResult",
        "documentation" : null
      },
      "syncReturnType" : "PutThirdPartyJobFailureResultResult"
    },
    "PutThirdPartyJobSuccessResult" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutThirdPartyJobSuccessResultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutThirdPartyJobSuccessResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutThirdPartyJobSuccessResultRequest, PutThirdPartyJobSuccessResultResult>",
      "asyncReturnType" : "PutThirdPartyJobSuccessResultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Represents the success of a third party job as returned to the pipeline by a job worker. Only used for partner actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The specified job state was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token was specified in an invalid format</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutThirdPartyJobSuccessResultRequest",
        "variableName" : "putThirdPartyJobSuccessResultRequest",
        "variableType" : "PutThirdPartyJobSuccessResultRequest",
        "documentation" : "<p>Represents the input of a put third party job success result action.</p>",
        "simpleType" : "PutThirdPartyJobSuccessResultRequest",
        "variableSetterType" : "PutThirdPartyJobSuccessResultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putThirdPartyJobSuccessResult",
      "operationName" : "PutThirdPartyJobSuccessResult",
      "returnType" : {
        "returnType" : "PutThirdPartyJobSuccessResultResult",
        "documentation" : null
      },
      "syncReturnType" : "PutThirdPartyJobSuccessResultResult"
    },
    "RetryStageExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetryStageExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetryStageExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetryStageExecutionRequest, RetryStageExecutionResult>",
      "asyncReturnType" : "RetryStageExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resumes the pipeline execution by retrying the last failed actions in a stage.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotFoundException",
        "documentation" : "<p>The specified stage was specified in an invalid format or cannot be found.</p>"
      }, {
        "exceptionName" : "StageNotRetryableException",
        "documentation" : "<p>The specified stage can't be retried because the pipeline structure or stage state changed after the stage was not completed; the stage contains no failed actions; one or more actions are still in progress; or another retry attempt is already in progress. </p>"
      }, {
        "exceptionName" : "NotLatestPipelineExecutionException",
        "documentation" : "<p>The stage has failed in a later run of the pipeline and the pipelineExecutionId associated with the request is out of date.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RetryStageExecutionRequest",
        "variableName" : "retryStageExecutionRequest",
        "variableType" : "RetryStageExecutionRequest",
        "documentation" : "<p>Represents the input of a retry stage execution action.</p>",
        "simpleType" : "RetryStageExecutionRequest",
        "variableSetterType" : "RetryStageExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retryStageExecution",
      "operationName" : "RetryStageExecution",
      "returnType" : {
        "returnType" : "RetryStageExecutionResult",
        "documentation" : "<p>Represents the output of a retry stage execution action.</p>"
      },
      "syncReturnType" : "RetryStageExecutionResult"
    },
    "StartPipelineExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartPipelineExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartPipelineExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartPipelineExecutionRequest, StartPipelineExecutionResult>",
      "asyncReturnType" : "StartPipelineExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified pipeline. Specifically, it begins processing the latest commit to the source location specified as part of the pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was specified in an invalid format or cannot be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartPipelineExecutionRequest",
        "variableName" : "startPipelineExecutionRequest",
        "variableType" : "StartPipelineExecutionRequest",
        "documentation" : "<p>Represents the input of a start pipeline execution action.</p>",
        "simpleType" : "StartPipelineExecutionRequest",
        "variableSetterType" : "StartPipelineExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startPipelineExecution",
      "operationName" : "StartPipelineExecution",
      "returnType" : {
        "returnType" : "StartPipelineExecutionResult",
        "documentation" : "<p>Represents the output of a start pipeline execution action.</p>"
      },
      "syncReturnType" : "StartPipelineExecutionResult"
    },
    "UpdatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePipelineRequest, UpdatePipelineResult>",
      "asyncReturnType" : "UpdatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a specified pipeline with edits or changes to its structure. Use a JSON file with the pipeline structure in conjunction with UpdatePipeline to provide the full structure of the pipeline. Updating the pipeline increases the version number of the pipeline by 1.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The validation was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidStageDeclarationException",
        "documentation" : "<p>The specified stage declaration was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidActionDeclarationException",
        "documentation" : "<p>The specified action declaration was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidBlockerDeclarationException",
        "documentation" : "<p>Reserved for future use.</p>"
      }, {
        "exceptionName" : "InvalidStructureException",
        "documentation" : "<p>The specified structure was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdatePipelineRequest",
        "variableName" : "updatePipelineRequest",
        "variableType" : "UpdatePipelineRequest",
        "documentation" : "<p>Represents the input of an update pipeline action.</p>",
        "simpleType" : "UpdatePipelineRequest",
        "variableSetterType" : "UpdatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePipeline",
      "operationName" : "UpdatePipeline",
      "returnType" : {
        "returnType" : "UpdatePipelineResult",
        "documentation" : "<p>Represents the output of an update pipeline action.</p>"
      },
      "syncReturnType" : "UpdatePipelineResult"
    }
  },
  "shapes" : {
    "AWSSessionCredentials" : {
      "c2jName" : "AWSSessionCredentials",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents an AWS session credentials object. These credentials are temporary credentials that are issued by AWS Secure Token Service (STS). They can be used to access input and output artifacts in the Amazon S3 bucket used to store artifact for the pipeline in AWS CodePipeline.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "accessKeyId",
        "c2jShape" : "AccessKeyId",
        "deprecated" : false,
        "documentation" : "<p>The access key for the session.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The access key for the session.</p>\n@param accessKeyId The access key for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The access key for the session.</p>\n@return The access key for the session.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "accessKeyId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accessKeyId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AccessKeyId",
        "setterDocumentation" : "/**<p>The access key for the session.</p>\n@param accessKeyId The access key for the session.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "accessKeyId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The access key for the session.</p>\n@param accessKeyId The access key for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "accessKeyId",
          "variableType" : "String",
          "documentation" : "<p>The access key for the session.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "secretAccessKey",
        "c2jShape" : "SecretAccessKey",
        "deprecated" : false,
        "documentation" : "<p>The secret access key for the session.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The secret access key for the session.</p>\n@param secretAccessKey The secret access key for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The secret access key for the session.</p>\n@return The secret access key for the session.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "secretAccessKey",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "secretAccessKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SecretAccessKey",
        "setterDocumentation" : "/**<p>The secret access key for the session.</p>\n@param secretAccessKey The secret access key for the session.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "secretAccessKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The secret access key for the session.</p>\n@param secretAccessKey The secret access key for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "secretAccessKey",
          "variableType" : "String",
          "documentation" : "<p>The secret access key for the session.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "sessionToken",
        "c2jShape" : "SessionToken",
        "deprecated" : false,
        "documentation" : "<p>The token for the session.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The token for the session.</p>\n@param sessionToken The token for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The token for the session.</p>\n@return The token for the session.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "sessionToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sessionToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SessionToken",
        "setterDocumentation" : "/**<p>The token for the session.</p>\n@param sessionToken The token for the session.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "sessionToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The token for the session.</p>\n@param sessionToken The token for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "sessionToken",
          "variableType" : "String",
          "documentation" : "<p>The token for the session.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccessKeyId" : {
          "c2jName" : "accessKeyId",
          "c2jShape" : "AccessKeyId",
          "deprecated" : false,
          "documentation" : "<p>The access key for the session.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The access key for the session.</p>\n@param accessKeyId The access key for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The access key for the session.</p>\n@return The access key for the session.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "accessKeyId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "accessKeyId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AccessKeyId",
          "setterDocumentation" : "/**<p>The access key for the session.</p>\n@param accessKeyId The access key for the session.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "accessKeyId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The access key for the session.</p>\n@param accessKeyId The access key for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "accessKeyId",
            "variableType" : "String",
            "documentation" : "<p>The access key for the session.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SecretAccessKey" : {
          "c2jName" : "secretAccessKey",
          "c2jShape" : "SecretAccessKey",
          "deprecated" : false,
          "documentation" : "<p>The secret access key for the session.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The secret access key for the session.</p>\n@param secretAccessKey The secret access key for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The secret access key for the session.</p>\n@return The secret access key for the session.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "secretAccessKey",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "secretAccessKey",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "SecretAccessKey",
          "setterDocumentation" : "/**<p>The secret access key for the session.</p>\n@param secretAccessKey The secret access key for the session.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "secretAccessKey",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The secret access key for the session.</p>\n@param secretAccessKey The secret access key for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "secretAccessKey",
            "variableType" : "String",
            "documentation" : "<p>The secret access key for the session.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SessionToken" : {
          "c2jName" : "sessionToken",
          "c2jShape" : "SessionToken",
          "deprecated" : false,
          "documentation" : "<p>The token for the session.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The token for the session.</p>\n@param sessionToken The token for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The token for the session.</p>\n@return The token for the session.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "sessionToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "sessionToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "SessionToken",
          "setterDocumentation" : "/**<p>The token for the session.</p>\n@param sessionToken The token for the session.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "sessionToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The token for the session.</p>\n@param sessionToken The token for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "sessionToken",
            "variableType" : "String",
            "documentation" : "<p>The token for the session.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "accessKeyId", "secretAccessKey", "sessionToken" ],
      "shapeName" : "AWSSessionCredentials",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AWSSessionCredentials",
        "variableName" : "aWSSessionCredentials",
        "variableType" : "AWSSessionCredentials",
        "documentation" : null,
        "simpleType" : "AWSSessionCredentials",
        "variableSetterType" : "AWSSessionCredentials"
      },
      "wrapper" : false
    },
    "AcknowledgeJobRequest" : {
      "c2jName" : "AcknowledgeJobInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the input of an acknowledge job action.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcknowledgeJob",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CodePipeline_20150709.AcknowledgeJob",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "jobId",
        "c2jShape" : "JobId",
        "deprecated" : false,
        "documentation" : "<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>\n@param jobId The unique system-generated ID of the job for which you want to confirm receipt.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>\n@return The unique system-generated ID of the job for which you want to confirm receipt.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "jobId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobId",
        "setterDocumentation" : "/**<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>\n@param jobId The unique system-generated ID of the job for which you want to confirm receipt.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>\n@param jobId The unique system-generated ID of the job for which you want to confirm receipt.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "nonce",
        "c2jShape" : "Nonce",
        "deprecated" : false,
        "documentation" : "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>\n@param nonce A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>\n@return A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "nonce",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "nonce",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Nonce",
        "setterDocumentation" : "/**<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>\n@param nonce A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "nonce",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>\n@param nonce A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "nonce",
          "variableType" : "String",
          "documentation" : "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "JobId" : {
          "c2jName" : "jobId",
          "c2jShape" : "JobId",
          "deprecated" : false,
          "documentation" : "<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>\n@param jobId The unique system-generated ID of the job for which you want to confirm receipt.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>\n@return The unique system-generated ID of the job for which you want to confirm receipt.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "jobId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "JobId",
          "setterDocumentation" : "/**<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>\n@param jobId The unique system-generated ID of the job for which you want to confirm receipt.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>\n@param jobId The unique system-generated ID of the job for which you want to confirm receipt.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Nonce" : {
          "c2jName" : "nonce",
          "c2jShape" : "Nonce",
          "deprecated" : false,
          "documentation" : "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>\n@param nonce A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>\n@return A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "nonce",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "nonce",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Nonce",
          "setterDocumentation" : "/**<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>\n@param nonce A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "nonce",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>\n@param nonce A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "nonce",
            "variableType" : "String",
            "documentation" : "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "jobId", "nonce" ],
      "shapeName" : "AcknowledgeJobRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AcknowledgeJobRequest",
        "variableName" : "acknowledgeJobRequest",
        "variableType" : "AcknowledgeJobRequest",
        "documentation" : null,
        "simpleType" : "AcknowledgeJobRequest",
        "variableSetterType" : "AcknowledgeJobRequest"
      },
      "wrapper" : false
    },
    "AcknowledgeJobResult" : {
      "c2jName" : "AcknowledgeJobOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the output of an acknowledge job action.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "status",
        "c2jShape" : "JobStatus",
        "deprecated" : false,
        "documentation" : "<p>Whether the job worker has received the specified job.</p>",
        "enumType" : "JobStatus",
        "fluentSetterDocumentation" : "/**<p>Whether the job worker has received the specified job.</p>\n@param status Whether the job worker has received the specified job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobStatus*/",
        "getterDocumentation" : "/**<p>Whether the job worker has received the specified job.</p>\n@return Whether the job worker has received the specified job.\n@see JobStatus*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Status",
        "setterDocumentation" : "/**<p>Whether the job worker has received the specified job.</p>\n@param status Whether the job worker has received the specified job.\n@see JobStatus*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Whether the job worker has received the specified job.</p>\n@param status Whether the job worker has received the specified job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobStatus*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>Whether the job worker has received the specified job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Status" : {
          "c2jName" : "status",
          "c2jShape" : "JobStatus",
          "deprecated" : false,
          "documentation" : "<p>Whether the job worker has received the specified job.</p>",
          "enumType" : "JobStatus",
          "fluentSetterDocumentation" : "/**<p>Whether the job worker has received the specified job.</p>\n@param status Whether the job worker has received the specified job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobStatus*/",
          "getterDocumentation" : "/**<p>Whether the job worker has received the specified job.</p>\n@return Whether the job worker has received the specified job.\n@see JobStatus*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Status",
          "setterDocumentation" : "/**<p>Whether the job worker has received the specified job.</p>\n@param status Whether the job worker has received the specified job.\n@see JobStatus*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Whether the job worker has received the specified job.</p>\n@param status Whether the job worker has received the specified job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobStatus*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>Whether the job worker has received the specified job.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AcknowledgeJobResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AcknowledgeJobResult",
        "variableName" : "acknowledgeJobResult",
        "variableType" : "AcknowledgeJobResult",
        "documentation" : null,
        "simpleType" : "AcknowledgeJobResult",
        "variableSetterType" : "AcknowledgeJobResult"
      },
      "wrapper" : false
    },
    "AcknowledgeThirdPartyJobRequest" : {
      "c2jName" : "AcknowledgeThirdPartyJobInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the input of an acknowledge third party job action.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcknowledgeThirdPartyJob",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CodePipeline_20150709.AcknowledgeThirdPartyJob",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "jobId",
        "c2jShape" : "ThirdPartyJobId",
        "deprecated" : false,
        "documentation" : "<p>The unique system-generated ID of the job.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique system-generated ID of the job.</p>\n@param jobId The unique system-generated ID of the job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The unique system-generated ID of the job.</p>\n@return The unique system-generated ID of the job.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "jobId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobId",
        "setterDocumentation" : "/**<p>The unique system-generated ID of the job.</p>\n@param jobId The unique system-generated ID of the job.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The unique system-generated ID of the job.</p>\n@param jobId The unique system-generated ID of the job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The unique system-generated ID of the job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "nonce",
        "c2jShape" : "Nonce",
        "deprecated" : false,
        "documentation" : "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>\n@param nonce A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
