{
  "metadata" : {
    "apiVersion" : "2016-06-30",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>This is a test of the welcome page front matter.</p>",
    "defaultEndpoint" : "snowball.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "snowball.us-east-1.amazonaws.com/",
    "syncInterface" : "AmazonSnowball",
    "syncClient" : "AmazonSnowballClient",
    "asyncInterface" : "AmazonSnowballAsync",
    "asyncClient" : "AmazonSnowballAsyncClient",
    "packageName" : "com.amazonaws.services.snowball",
    "packagePath" : "com/amazonaws/services/snowball",
    "serviceAbbreviation" : "Amazon Snowball",
    "serviceFullName" : "Amazon Import/Export Snowball",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "snowball",
    "signingName" : "snowball",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonSnowballClientBuilder",
    "asyncClientBuilderClassName" : "AmazonSnowballAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonSnowballModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.snowball.smoketests",
    "serviceName" : "Amazon Snowball",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "CancelJob" : {
      "documentation" : "<p>Cancels the specified job. Note that you can only cancel a job before its <code>JobState</code> value changes to <code>PreparingAppliance</code>. Requesting the <code>ListJobs</code> or <code>DescribeJob</code> action will return a job's <code>JobState</code> as part of the response element data returned.</p>",
      "operationName" : "CancelJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "variableDeclarationType" : "CancelJobRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CancelJobResult",
      "asyncReturnType" : "CancelJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "methodName" : "cancelJob"
    },
    "CreateAddress" : {
      "documentation" : "<p>Creates an address for a Snowball to be shipped to. </p> <p>Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. If the address is invalid or unsupported, then an exception is thrown.</p>",
      "operationName" : "CreateAddress",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAddressRequest",
        "variableType" : "CreateAddressRequest",
        "variableDeclarationType" : "CreateAddressRequest",
        "documentation" : "",
        "simpleType" : "CreateAddressRequest",
        "variableSetterType" : "CreateAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAddressResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "<p>The address provided was invalid. Check the address with your region's carrier, and try again.</p>"
      }, {
        "exceptionName" : "UnsupportedAddressException",
        "documentation" : "<p>The address is either outside the serviceable area for your region, or an error occurred. Check the address with your region's carrier and try again. If the issue persists, contact AWS Support.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateAddressResult",
      "asyncReturnType" : "CreateAddressResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAddressResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAddressRequest, CreateAddressResult>",
      "methodName" : "createAddress"
    },
    "CreateJob" : {
      "documentation" : "<p>Creates a job to import or export data between Amazon S3 and your on-premises data center. Note that your AWS account must have the right trust policies and permissions in place to create a job for Snowball. For more information, see <a>api-reference-policies</a>.</p>",
      "operationName" : "CreateJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "variableDeclarationType" : "CreateJobRequest",
        "documentation" : "",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateJobResult",
      "asyncReturnType" : "CreateJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "methodName" : "createJob"
    },
    "DescribeAddress" : {
      "documentation" : "<p>Takes an <code>AddressId</code> and returns specific details about that address in the form of an <code>Address</code> object.</p>",
      "operationName" : "DescribeAddress",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAddressRequest",
        "variableType" : "DescribeAddressRequest",
        "variableDeclarationType" : "DescribeAddressRequest",
        "documentation" : "",
        "simpleType" : "DescribeAddressRequest",
        "variableSetterType" : "DescribeAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAddressResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeAddressResult",
      "asyncReturnType" : "DescribeAddressResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAddressResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAddressRequest, DescribeAddressResult>",
      "methodName" : "describeAddress"
    },
    "DescribeAddresses" : {
      "documentation" : "<p>Returns a specified number of <code>ADDRESS</code> objects. Calling this API in one of the US regions will return addresses from the list of all addresses associated with this account in all US regions.</p>",
      "operationName" : "DescribeAddresses",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAddressesRequest",
        "variableType" : "DescribeAddressesRequest",
        "variableDeclarationType" : "DescribeAddressesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAddressesRequest",
        "variableSetterType" : "DescribeAddressesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAddressesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeAddressesResult",
      "asyncReturnType" : "DescribeAddressesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAddressesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAddressesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAddressesRequest, DescribeAddressesResult>",
      "methodName" : "describeAddresses"
    },
    "DescribeJob" : {
      "documentation" : "<p>Returns information about a specific job including shipping information, job status, and other important metadata.</p>",
      "operationName" : "DescribeJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeJobRequest",
        "variableType" : "DescribeJobRequest",
        "variableDeclarationType" : "DescribeJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobRequest",
        "variableSetterType" : "DescribeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeJobResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeJobResult",
      "asyncReturnType" : "DescribeJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobRequest, DescribeJobResult>",
      "methodName" : "describeJob"
    },
    "GetJobManifest" : {
      "documentation" : "<p>Returns a link to an Amazon S3 presigned URL for the manifest file associated with the specified <code>JobId</code> value. You can access the manifest file for up to 60 minutes after this request has been made. To access the manifest file after 60 minutes have passed, you'll have to make another call to the <code>GetJobManifest</code> action.</p> <p>The manifest is an encrypted file that you can download after your job enters the <code>WithCustomer</code> status. The manifest is decrypted by using the <code>UnlockCode</code> code value, when you pass both values to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of an <code>UnlockCode</code> value in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p> <p>Note that the credentials of a given job, including its manifest file and unlock code, expire 90 days after the job is created.</p>",
      "operationName" : "GetJobManifest",
      "deprecated" : false,
      "input" : {
        "variableName" : "getJobManifestRequest",
        "variableType" : "GetJobManifestRequest",
        "variableDeclarationType" : "GetJobManifestRequest",
        "documentation" : "",
        "simpleType" : "GetJobManifestRequest",
        "variableSetterType" : "GetJobManifestRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetJobManifestResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetJobManifestResult",
      "asyncReturnType" : "GetJobManifestResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobManifestResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobManifestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobManifestRequest, GetJobManifestResult>",
      "methodName" : "getJobManifest"
    },
    "GetJobUnlockCode" : {
      "documentation" : "<p>Returns the <code>UnlockCode</code> code value for the specified job. A particular <code>UnlockCode</code> value can be accessed for up to 90 days after the associated job has been created.</p> <p>The <code>UnlockCode</code> value is a 29-character code with 25 alphanumeric characters and 4 hyphens. This code is used to decrypt the manifest file when it is passed along with the manifest to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of the <code>UnlockCode</code> in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p>",
      "operationName" : "GetJobUnlockCode",
      "deprecated" : false,
      "input" : {
        "variableName" : "getJobUnlockCodeRequest",
        "variableType" : "GetJobUnlockCodeRequest",
        "variableDeclarationType" : "GetJobUnlockCodeRequest",
        "documentation" : "",
        "simpleType" : "GetJobUnlockCodeRequest",
        "variableSetterType" : "GetJobUnlockCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetJobUnlockCodeResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetJobUnlockCodeResult",
      "asyncReturnType" : "GetJobUnlockCodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobUnlockCodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobUnlockCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobUnlockCodeRequest, GetJobUnlockCodeResult>",
      "methodName" : "getJobUnlockCode"
    },
    "GetSnowballUsage" : {
      "documentation" : "<p>Returns information about the Snowball service limit for your account, and also the number of Snowballs your account has in use.</p> <p>Note that the default service limit for the number of Snowballs that you can have at one time is 1. If you want to increase your service limit, contact AWS Support.</p>",
      "operationName" : "GetSnowballUsage",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSnowballUsageRequest",
        "variableType" : "GetSnowballUsageRequest",
        "variableDeclarationType" : "GetSnowballUsageRequest",
        "documentation" : "",
        "simpleType" : "GetSnowballUsageRequest",
        "variableSetterType" : "GetSnowballUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSnowballUsageResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetSnowballUsageResult",
      "asyncReturnType" : "GetSnowballUsageResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnowballUsageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnowballUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnowballUsageRequest, GetSnowballUsageResult>",
      "methodName" : "getSnowballUsage"
    },
    "ListJobs" : {
      "documentation" : "<p>Returns an array of <code>JobListEntry</code> objects of the specified length. Each <code>JobListEntry</code> object contains a job's state, a job's ID, and a value that indicates whether the job is a job part, in the case of export jobs. Calling this API action in one of the US regions will return jobs from the list of all jobs associated with this account in all US regions.</p>",
      "operationName" : "ListJobs",
      "deprecated" : false,
      "input" : {
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "variableDeclarationType" : "ListJobsRequest",
        "documentation" : "",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListJobsResult",
      "asyncReturnType" : "ListJobsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "methodName" : "listJobs"
    },
    "UpdateJob" : {
      "documentation" : "<p>While a job's <code>JobState</code> value is <code>New</code>, you can update some of the information associated with a job. Once the job changes to a different job state, usually within 60 minutes of the job being created, this action is no longer available.</p>",
      "operationName" : "UpdateJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateJobRequest",
        "variableType" : "UpdateJobRequest",
        "variableDeclarationType" : "UpdateJobRequest",
        "documentation" : "",
        "simpleType" : "UpdateJobRequest",
        "variableSetterType" : "UpdateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateJobResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdateJobResult",
      "asyncReturnType" : "UpdateJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobRequest, UpdateJobResult>",
      "methodName" : "updateJob"
    }
  },
  "shapes" : {
    "JobMetadata" : {
      "c2jName" : "JobMetadata",
      "documentation" : "<p>Contains information about a specific job including shipping information, job status, and other important metadata. This information is returned as a part of the response syntax of the <code>DescribeJob</code> action.</p>",
      "shapeName" : "JobMetadata",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
        "name" : "JobId",
        "c2jName" : "JobId",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobId",
          "marshallLocationName" : "JobId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.*/",
        "getterDocumentation" : "/**<p>The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@return The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.*/",
        "fluentSetterDocumentation" : "/**<p>The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The current state of the jobs.</p>",
        "name" : "JobState",
        "c2jName" : "JobState",
        "c2jShape" : "JobState",
        "variable" : {
          "variableName" : "jobState",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The current state of the jobs.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobState",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobState",
          "marshallLocationName" : "JobState",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "JobState",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The current state of the jobs.</p>\n@param jobState The current state of the jobs.\n@see JobState*/",
        "getterDocumentation" : "/**<p>The current state of the jobs.</p>\n@return The current state of the jobs.\n@see JobState*/",
        "fluentSetterDocumentation" : "/**<p>The current state of the jobs.</p>\n@param jobState The current state of the jobs.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobState*/",
        "varargSetterDocumentation" : "/**<p>The current state of the jobs.</p>\n@param jobState The current state of the jobs.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobState*/"
      }, {
        "documentation" : "<p>The type of job.</p>",
        "name" : "JobType",
        "c2jName" : "JobType",
        "c2jShape" : "JobType",
        "variable" : {
          "variableName" : "jobType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The type of job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobType",
          "marshallLocationName" : "JobType",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "JobType",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The type of job.</p>\n@param jobType The type of job.\n@see JobType*/",
        "getterDocumentation" : "/**<p>The type of job.</p>\n@return The type of job.\n@see JobType*/",
        "fluentSetterDocumentation" : "/**<p>The type of job.</p>\n@param jobType The type of job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
        "varargSetterDocumentation" : "/**<p>The type of job.</p>\n@param jobType The type of job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/"
      }, {
        "documentation" : "<p>The creation date for this job.</p>",
        "name" : "CreationDate",
        "c2jName" : "CreationDate",
        "c2jShape" : "Timestamp",
        "variable" : {
          "variableName" : "creationDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p>The creation date for this job.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "setterModel" : {
          "variableName" : "creationDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CreationDate",
          "marshallLocationName" : "CreationDate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The creation date for this job.</p>\n@param creationDate The creation date for this job.*/",
        "getterDocumentation" : "/**<p>The creation date for this job.</p>\n@return The creation date for this job.*/",
        "fluentSetterDocumentation" : "/**<p>The creation date for this job.</p>\n@param creationDate The creation date for this job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The creation date for this job.</p>\n@param creationDate The creation date for this job.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.</p>",
        "name" : "Resources",
        "c2jName" : "Resources",
        "c2jShape" : "JobResource",
        "variable" : {
          "variableName" : "resources",
          "variableType" : "JobResource",
          "variableDeclarationType" : "JobResource",
          "documentation" : "<p>An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.</p>",
          "simpleType" : "JobResource",
          "variableSetterType" : "JobResource"
        },
        "setterModel" : {
          "variableName" : "resources",
          "variableType" : "JobResource",
          "variableDeclarationType" : "JobResource",
          "documentation" : "",
          "simpleType" : "JobResource",
          "variableSetterType" : "JobResource"
        },
        "getterModel" : {
          "returnType" : "JobResource",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Resources",
          "marshallLocationName" : "Resources",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.</p>\n@param resources An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.*/",
        "getterDocumentation" : "/**<p>An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.</p>\n@return An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.*/",
        "fluentSetterDocumentation" : "/**<p>An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.</p>\n@param resources An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.</p>\n@param resources An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The description of the job, provided at job creation.</p>",
        "name" : "Description",
        "c2jName" : "Description",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The description of the job, provided at job creation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Description",
          "marshallLocationName" : "Description",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The description of the job, provided at job creation.</p>\n@param description The description of the job, provided at job creation.*/",
        "getterDocumentation" : "/**<p>The description of the job, provided at job creation.</p>\n@return The description of the job, provided at job creation.*/",
        "fluentSetterDocumentation" : "/**<p>The description of the job, provided at job creation.</p>\n@param description The description of the job, provided at job creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The description of the job, provided at job creation.</p>\n@param description The description of the job, provided at job creation.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>",
        "name" : "KmsKeyARN",
        "c2jName" : "KmsKeyARN",
        "c2jShape" : "KmsKeyARN",
        "variable" : {
          "variableName" : "kmsKeyARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "kmsKeyARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "KmsKeyARN",
          "marshallLocationName" : "KmsKeyARN",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>\n@param kmsKeyARN The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>\n@return The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>\n@param kmsKeyARN The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>\n@param kmsKeyARN The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>",
        "name" : "RoleARN",
        "c2jName" : "RoleARN",
        "c2jShape" : "RoleARN",
        "variable" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RoleARN",
          "marshallLocationName" : "RoleARN",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>\n@param roleARN The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).*/",
        "getterDocumentation" : "/**<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>\n@return The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).*/",
        "fluentSetterDocumentation" : "/**<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>\n@param roleARN The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>\n@param roleARN The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The ID for the address that you want the Snowball shipped to.</p>",
        "name" : "AddressId",
        "c2jName" : "AddressId",
        "c2jShape" : "AddressId",
        "variable" : {
          "variableName" : "addressId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID for the address that you want the Snowball shipped to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "addressId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AddressId",
          "marshallLocationName" : "AddressId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID for the address that you want the Snowball shipped to.</p>\n@param addressId The ID for the address that you want the Snowball shipped to.*/",
        "getterDocumentation" : "/**<p>The ID for the address that you want the Snowball shipped to.</p>\n@return The ID for the address that you want the Snowball shipped to.*/",
        "fluentSetterDocumentation" : "/**<p>The ID for the address that you want the Snowball shipped to.</p>\n@param addressId The ID for the address that you want the Snowball shipped to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID for the address that you want the Snowball shipped to.</p>\n@param addressId The ID for the address that you want the Snowball shipped to.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>",
        "name" : "ShippingDetails",
        "c2jName" : "ShippingDetails",
        "c2jShape" : "ShippingDetails",
        "variable" : {
          "variableName" : "shippingDetails",
          "variableType" : "ShippingDetails",
          "variableDeclarationType" : "ShippingDetails",
          "documentation" : "<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>",
          "simpleType" : "ShippingDetails",
          "variableSetterType" : "ShippingDetails"
        },
        "setterModel" : {
          "variableName" : "shippingDetails",
          "variableType" : "ShippingDetails",
          "variableDeclarationType" : "ShippingDetails",
          "documentation" : "",
          "simpleType" : "ShippingDetails",
          "variableSetterType" : "ShippingDetails"
        },
        "getterModel" : {
          "returnType" : "ShippingDetails",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ShippingDetails",
          "marshallLocationName" : "ShippingDetails",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>\n@param shippingDetails A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.*/",
        "getterDocumentation" : "/**<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>\n@return A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.*/",
        "fluentSetterDocumentation" : "/**<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>\n@param shippingDetails A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>\n@param shippingDetails A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.</p>",
        "name" : "SnowballCapacityPreference",
        "c2jName" : "SnowballCapacityPreference",
        "c2jShape" : "SnowballCapacity",
        "variable" : {
          "variableName" : "snowballCapacityPreference",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "snowballCapacityPreference",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SnowballCapacityPreference",
          "marshallLocationName" : "SnowballCapacityPreference",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "SnowballCapacity",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.</p>\n@param snowballCapacityPreference The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.\n@see SnowballCapacity*/",
        "getterDocumentation" : "/**<p>The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.</p>\n@return The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.\n@see SnowballCapacity*/",
        "fluentSetterDocumentation" : "/**<p>The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.</p>\n@param snowballCapacityPreference The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SnowballCapacity*/",
        "varargSetterDocumentation" : "/**<p>The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.</p>\n@param snowballCapacityPreference The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SnowballCapacity*/"
      }, {
        "documentation" : "<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>",
        "name" : "Notification",
        "c2jName" : "Notification",
        "c2jShape" : "Notification",
        "variable" : {
          "variableName" : "notification",
          "variableType" : "Notification",
          "variableDeclarationType" : "Notification",
          "documentation" : "<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>",
          "simpleType" : "Notification",
          "variableSetterType" : "Notification"
        },
        "setterModel" : {
          "variableName" : "notification",
          "variableType" : "Notification",
          "variableDeclarationType" : "Notification",
          "documentation" : "",
          "simpleType" : "Notification",
          "variableSetterType" : "Notification"
        },
        "getterModel" : {
          "returnType" : "Notification",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Notification",
          "marshallLocationName" : "Notification",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>\n@param notification The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.*/",
        "getterDocumentation" : "/**<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>\n@return The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>\n@param notification The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>\n@param notification The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>",
        "name" : "DataTransferProgress",
        "c2jName" : "DataTransferProgress",
        "c2jShape" : "DataTransfer",
        "variable" : {
          "variableName" : "dataTransferProgress",
          "variableType" : "DataTransfer",
          "variableDeclarationType" : "DataTransfer",
          "documentation" : "<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>",
          "simpleType" : "DataTransfer",
          "variableSetterType" : "DataTransfer"
        },
        "setterModel" : {
          "variableName" : "dataTransferProgress",
          "variableType" : "DataTransfer",
          "variableDeclarationType" : "DataTransfer",
          "documentation" : "",
          "simpleType" : "DataTransfer",
          "variableSetterType" : "DataTransfer"
        },
        "getterModel" : {
          "returnType" : "DataTransfer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DataTransferProgress",
          "marshallLocationName" : "DataTransferProgress",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>\n@param dataTransferProgress A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.*/",
        "getterDocumentation" : "/**<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>\n@return A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.*/",
        "fluentSetterDocumentation" : "/**<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>\n@param dataTransferProgress A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>\n@param dataTransferProgress A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.</p>",
        "name" : "JobLogInfo",
        "c2jName" : "JobLogInfo",
        "c2jShape" : "JobLogs",
        "variable" : {
          "variableName" : "jobLogInfo",
          "variableType" : "JobLogs",
          "variableDeclarationType" : "JobLogs",
          "documentation" : "<p>Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.</p>",
          "simpleType" : "JobLogs",
          "variableSetterType" : "JobLogs"
        },
        "setterModel" : {
          "variableName" : "jobLogInfo",
          "variableType" : "JobLogs",
          "variableDeclarationType" : "JobLogs",
          "documentation" : "",
          "simpleType" : "JobLogs",
          "variableSetterType" : "JobLogs"
        },
        "getterModel" : {
          "returnType" : "JobLogs",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobLogInfo",
          "marshallLocationName" : "JobLogInfo",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.</p>\n@param jobLogInfo Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.*/",
        "getterDocumentation" : "/**<p>Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.</p>\n@return Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.*/",
        "fluentSetterDocumentation" : "/**<p>Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.</p>\n@param jobLogInfo Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.</p>\n@param jobLogInfo Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "jobMetadata",
        "variableType" : "JobMetadata",
        "variableDeclarationType" : "JobMetadata",
        "documentation" : null,
        "simpleType" : "JobMetadata",
        "variableSetterType" : "JobMetadata"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "CreationDate" : {
          "documentation" : "<p>The creation date for this job.</p>",
          "name" : "CreationDate",
          "c2jName" : "CreationDate",
          "c2jShape" : "Timestamp",
          "variable" : {
            "variableName" : "creationDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "<p>The creation date for this job.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "setterModel" : {
            "variableName" : "creationDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CreationDate",
            "marshallLocationName" : "CreationDate",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The creation date for this job.</p>\n@param creationDate The creation date for this job.*/",
          "getterDocumentation" : "/**<p>The creation date for this job.</p>\n@return The creation date for this job.*/",
          "fluentSetterDocumentation" : "/**<p>The creation date for this job.</p>\n@param creationDate The creation date for this job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The creation date for this job.</p>\n@param creationDate The creation date for this job.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Description" : {
          "documentation" : "<p>The description of the job, provided at job creation.</p>",
          "name" : "Description",
          "c2jName" : "Description",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "description",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The description of the job, provided at job creation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "description",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Description",
            "marshallLocationName" : "Description",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The description of the job, provided at job creation.</p>\n@param description The description of the job, provided at job creation.*/",
          "getterDocumentation" : "/**<p>The description of the job, provided at job creation.</p>\n@return The description of the job, provided at job creation.*/",
          "fluentSetterDocumentation" : "/**<p>The description of the job, provided at job creation.</p>\n@param description The description of the job, provided at job creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The description of the job, provided at job creation.</p>\n@param description The description of the job, provided at job creation.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ShippingDetails" : {
          "documentation" : "<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>",
          "name" : "ShippingDetails",
          "c2jName" : "ShippingDetails",
          "c2jShape" : "ShippingDetails",
          "variable" : {
            "variableName" : "shippingDetails",
            "variableType" : "ShippingDetails",
            "variableDeclarationType" : "ShippingDetails",
            "documentation" : "<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>",
            "simpleType" : "ShippingDetails",
            "variableSetterType" : "ShippingDetails"
          },
          "setterModel" : {
            "variableName" : "shippingDetails",
            "variableType" : "ShippingDetails",
            "variableDeclarationType" : "ShippingDetails",
            "documentation" : "",
            "simpleType" : "ShippingDetails",
            "variableSetterType" : "ShippingDetails"
          },
          "getterModel" : {
            "returnType" : "ShippingDetails",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ShippingDetails",
            "marshallLocationName" : "ShippingDetails",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>\n@param shippingDetails A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.*/",
          "getterDocumentation" : "/**<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>\n@return A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.*/",
          "fluentSetterDocumentation" : "/**<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>\n@param shippingDetails A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.</p>\n@param shippingDetails A job's shipping information, including inbound and outbound tracking numbers and shipping speed options.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RoleARN" : {
          "documentation" : "<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>",
          "name" : "RoleARN",
          "c2jName" : "RoleARN",
          "c2jShape" : "RoleARN",
          "variable" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RoleARN",
            "marshallLocationName" : "RoleARN",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>\n@param roleARN The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).*/",
          "getterDocumentation" : "/**<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>\n@return The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).*/",
          "fluentSetterDocumentation" : "/**<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>\n@param roleARN The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).</p>\n@param roleARN The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM).\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Notification" : {
          "documentation" : "<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>",
          "name" : "Notification",
          "c2jName" : "Notification",
          "c2jShape" : "Notification",
          "variable" : {
            "variableName" : "notification",
            "variableType" : "Notification",
            "variableDeclarationType" : "Notification",
            "documentation" : "<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>",
            "simpleType" : "Notification",
            "variableSetterType" : "Notification"
          },
          "setterModel" : {
            "variableName" : "notification",
            "variableType" : "Notification",
            "variableDeclarationType" : "Notification",
            "documentation" : "",
            "simpleType" : "Notification",
            "variableSetterType" : "Notification"
          },
          "getterModel" : {
            "returnType" : "Notification",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Notification",
            "marshallLocationName" : "Notification",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>\n@param notification The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.*/",
          "getterDocumentation" : "/**<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>\n@return The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.*/",
          "fluentSetterDocumentation" : "/**<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>\n@param notification The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p>\n@param notification The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "JobType" : {
          "documentation" : "<p>The type of job.</p>",
          "name" : "JobType",
          "c2jName" : "JobType",
          "c2jShape" : "JobType",
          "variable" : {
            "variableName" : "jobType",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The type of job.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "jobType",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "JobType",
            "marshallLocationName" : "JobType",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "JobType",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The type of job.</p>\n@param jobType The type of job.\n@see JobType*/",
          "getterDocumentation" : "/**<p>The type of job.</p>\n@return The type of job.\n@see JobType*/",
          "fluentSetterDocumentation" : "/**<p>The type of job.</p>\n@param jobType The type of job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
          "varargSetterDocumentation" : "/**<p>The type of job.</p>\n@param jobType The type of job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/"
        },
        "KmsKeyARN" : {
          "documentation" : "<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>",
          "name" : "KmsKeyARN",
          "c2jName" : "KmsKeyARN",
          "c2jShape" : "KmsKeyARN",
          "variable" : {
            "variableName" : "kmsKeyARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "kmsKeyARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "KmsKeyARN",
            "marshallLocationName" : "KmsKeyARN",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>\n@param kmsKeyARN The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>\n@return The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.*/",
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>\n@param kmsKeyARN The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.</p>\n@param kmsKeyARN The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "DataTransferProgress" : {
          "documentation" : "<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>",
          "name" : "DataTransferProgress",
          "c2jName" : "DataTransferProgress",
          "c2jShape" : "DataTransfer",
          "variable" : {
            "variableName" : "dataTransferProgress",
            "variableType" : "DataTransfer",
            "variableDeclarationType" : "DataTransfer",
            "documentation" : "<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>",
            "simpleType" : "DataTransfer",
            "variableSetterType" : "DataTransfer"
          },
          "setterModel" : {
            "variableName" : "dataTransferProgress",
            "variableType" : "DataTransfer",
            "variableDeclarationType" : "DataTransfer",
            "documentation" : "",
            "simpleType" : "DataTransfer",
            "variableSetterType" : "DataTransfer"
          },
          "getterModel" : {
            "returnType" : "DataTransfer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DataTransferProgress",
            "marshallLocationName" : "DataTransferProgress",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>\n@param dataTransferProgress A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.*/",
          "getterDocumentation" : "/**<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>\n@return A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.*/",
          "fluentSetterDocumentation" : "/**<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>\n@param dataTransferProgress A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.</p>\n@param dataTransferProgress A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "JobState" : {
          "documentation" : "<p>The current state of the jobs.</p>",
          "name" : "JobState",
          "c2jName" : "JobState",
          "c2jShape" : "JobState",
          "variable" : {
            "variableName" : "jobState",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The current state of the jobs.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "jobState",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "JobState",
            "marshallLocationName" : "JobState",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "JobState",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The current state of the jobs.</p>\n@param jobState The current state of the jobs.\n@see JobState*/",
          "getterDocumentation" : "/**<p>The current state of the jobs.</p>\n@return The current state of the jobs.\n@see JobState*/",
          "fluentSetterDocumentation" : "/**<p>The current state of the jobs.</p>\n@param jobState The current state of the jobs.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobState*/",
          "varargSetterDocumentation" : "/**<p>The current state of the jobs.</p>\n@param jobState The current state of the jobs.\n@return Returns a reference to this object so that method calls can be chained together.\n@see JobState*/"
        },
        "Resources" : {
[...]
