{
  "metadata" : {
    "apiVersion" : "2016-06-30",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>This is a test of the welcome page front matter.</p>",
    "defaultEndpoint" : "snowball.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "snowball.us-east-1.amazonaws.com/",
    "syncInterface" : "AmazonSnowball",
    "syncClient" : "AmazonSnowballClient",
    "asyncInterface" : "AmazonSnowballAsync",
    "asyncClient" : "AmazonSnowballAsyncClient",
    "packageName" : "com.amazonaws.services.snowball",
    "packagePath" : "com/amazonaws/services/snowball",
    "serviceAbbreviation" : "Amazon Snowball",
    "serviceFullName" : "Amazon Import/Export Snowball",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "snowball",
    "signingName" : "snowball",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonSnowballClientBuilder",
    "asyncClientBuilderClassName" : "AmazonSnowballAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonSnowballModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.snowball.smoketests",
    "serviceName" : "Amazon Snowball",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "CancelJob" : {
      "documentation" : "<p>Cancels the specified job. Note that you can only cancel a job before its <code>JobState</code> value changes to <code>PreparingAppliance</code>. Requesting the <code>ListJobs</code> or <code>DescribeJob</code> action will return a job's <code>JobState</code> as part of the response element data returned.</p>",
      "operationName" : "CancelJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "variableDeclarationType" : "CancelJobRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CancelJobResult",
      "asyncReturnType" : "CancelJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "authenticated" : true,
      "methodName" : "cancelJob"
    },
    "CreateAddress" : {
      "documentation" : "<p>Creates an address for a Snowball to be shipped to. </p> <p>Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. If the address is invalid or unsupported, then an exception is thrown.</p>",
      "operationName" : "CreateAddress",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAddressRequest",
        "variableType" : "CreateAddressRequest",
        "variableDeclarationType" : "CreateAddressRequest",
        "documentation" : "",
        "simpleType" : "CreateAddressRequest",
        "variableSetterType" : "CreateAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAddressResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "<p>The address provided was invalid. Check the address with your region's carrier, and try again.</p>"
      }, {
        "exceptionName" : "UnsupportedAddressException",
        "documentation" : "<p>The address is either outside the serviceable area for your region, or an error occurred. Check the address with your region's carrier and try again. If the issue persists, contact AWS Support.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateAddressResult",
      "asyncReturnType" : "CreateAddressResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAddressResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAddressRequest, CreateAddressResult>",
      "authenticated" : true,
      "methodName" : "createAddress"
    },
    "CreateJob" : {
      "documentation" : "<p>Creates a job to import or export data between Amazon S3 and your on-premises data center. Note that your AWS account must have the right trust policies and permissions in place to create job for Snowball. For more information, see <a>api-reference-policies</a>.</p>",
      "operationName" : "CreateJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "variableDeclarationType" : "CreateJobRequest",
        "documentation" : "",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateJobResult",
      "asyncReturnType" : "CreateJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "authenticated" : true,
      "methodName" : "createJob"
    },
    "DescribeAddress" : {
      "documentation" : "<p>Takes an <code>AddressId</code> and returns specific details about that address in the form of an <code>Address</code> object.</p>",
      "operationName" : "DescribeAddress",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAddressRequest",
        "variableType" : "DescribeAddressRequest",
        "variableDeclarationType" : "DescribeAddressRequest",
        "documentation" : "",
        "simpleType" : "DescribeAddressRequest",
        "variableSetterType" : "DescribeAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAddressResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeAddressResult",
      "asyncReturnType" : "DescribeAddressResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAddressResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAddressRequest, DescribeAddressResult>",
      "authenticated" : true,
      "methodName" : "describeAddress"
    },
    "DescribeAddresses" : {
      "documentation" : "<p>Returns a specified number of <code>ADDRESS</code> objects. Calling this API in one of the US regions will return addresses from the list of all addresses associated with this account in all US regions.</p>",
      "operationName" : "DescribeAddresses",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAddressesRequest",
        "variableType" : "DescribeAddressesRequest",
        "variableDeclarationType" : "DescribeAddressesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAddressesRequest",
        "variableSetterType" : "DescribeAddressesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAddressesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeAddressesResult",
      "asyncReturnType" : "DescribeAddressesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAddressesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAddressesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAddressesRequest, DescribeAddressesResult>",
      "authenticated" : true,
      "methodName" : "describeAddresses"
    },
    "DescribeJob" : {
      "documentation" : "<p>Returns information about a specific job including shipping information, job status, and other important metadata.</p>",
      "operationName" : "DescribeJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeJobRequest",
        "variableType" : "DescribeJobRequest",
        "variableDeclarationType" : "DescribeJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobRequest",
        "variableSetterType" : "DescribeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeJobResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeJobResult",
      "asyncReturnType" : "DescribeJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobRequest, DescribeJobResult>",
      "authenticated" : true,
      "methodName" : "describeJob"
    },
    "GetJobManifest" : {
      "documentation" : "<p>Returns a link to an Amazon S3 pre-signed URL for the manifest file associated with the specified <code>JobId</code> value. You can access the manifest file for up to 60 minutes after this request has been made. To access the manifest file after 60 minutes have passed, you'll have to make another call to the <code>GetJobManifest</code> action.</p> <p>The manifest is an encrypted file that you can download after your job enters the <code>WithCustomer</code> status. The manifest is decrypted by using the <code>UnlockCode</code> code value, when you pass both values to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of an <code>UnlockCode</code> value in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p> <p>Note that the credentials of a given job, including its manifest file and unlock code, expire 90 days after the job is created.</p>",
      "operationName" : "GetJobManifest",
      "deprecated" : false,
      "input" : {
        "variableName" : "getJobManifestRequest",
        "variableType" : "GetJobManifestRequest",
        "variableDeclarationType" : "GetJobManifestRequest",
        "documentation" : "",
        "simpleType" : "GetJobManifestRequest",
        "variableSetterType" : "GetJobManifestRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetJobManifestResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetJobManifestResult",
      "asyncReturnType" : "GetJobManifestResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobManifestResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobManifestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobManifestRequest, GetJobManifestResult>",
      "authenticated" : true,
      "methodName" : "getJobManifest"
    },
    "GetJobUnlockCode" : {
      "documentation" : "<p>Returns the <code>UnlockCode</code> code value for the specified job. A particular <code>UnlockCode</code> value can be accessed for up to 90 days after the associated job has been created.</p> <p>The <code>UnlockCode</code> value is a 29-character code with 25 alphanumeric characters and 4 hyphens. This code is used to decrypt the manifest file when it is passed along with the manifest to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of the <code>UnlockCode</code> in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p>",
      "operationName" : "GetJobUnlockCode",
      "deprecated" : false,
      "input" : {
        "variableName" : "getJobUnlockCodeRequest",
        "variableType" : "GetJobUnlockCodeRequest",
        "variableDeclarationType" : "GetJobUnlockCodeRequest",
        "documentation" : "",
        "simpleType" : "GetJobUnlockCodeRequest",
        "variableSetterType" : "GetJobUnlockCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetJobUnlockCodeResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetJobUnlockCodeResult",
      "asyncReturnType" : "GetJobUnlockCodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobUnlockCodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobUnlockCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobUnlockCodeRequest, GetJobUnlockCodeResult>",
      "authenticated" : true,
      "methodName" : "getJobUnlockCode"
    },
    "GetSnowballUsage" : {
      "documentation" : "<p>Returns information about the Snowball service limit for your account, and also the number of Snowballs your account has in use.</p> <p>Note that the default service limit for the number of Snowballs that you can have at one time is 1. If you want to increase your service limit, contact AWS Support.</p>",
      "operationName" : "GetSnowballUsage",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSnowballUsageRequest",
        "variableType" : "GetSnowballUsageRequest",
        "variableDeclarationType" : "GetSnowballUsageRequest",
        "documentation" : "",
        "simpleType" : "GetSnowballUsageRequest",
        "variableSetterType" : "GetSnowballUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSnowballUsageResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetSnowballUsageResult",
      "asyncReturnType" : "GetSnowballUsageResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnowballUsageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnowballUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnowballUsageRequest, GetSnowballUsageResult>",
      "authenticated" : true,
      "methodName" : "getSnowballUsage"
    },
    "ListJobs" : {
      "documentation" : "<p>Returns an array of <code>JobListEntry</code> objects of the specified length. Each <code>JobListEntry</code> object contains a job's state, a job's ID, and whether or not the job is a job part in the case of export jobs. Calling this API in one of the US regions will return jobs from the list of all jobs associated with this account in all US regions.</p>",
      "operationName" : "ListJobs",
      "deprecated" : false,
      "input" : {
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "variableDeclarationType" : "ListJobsRequest",
        "documentation" : "",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListJobsResult",
      "asyncReturnType" : "ListJobsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "authenticated" : true,
      "methodName" : "listJobs"
    },
    "UpdateJob" : {
      "documentation" : "<p>While a job's <code>JobState</code> value is <code>New</code>, you can update some of the information associated with a job. Once the job changes to a different job state, usually within 60 minutes of the job being created, this action is no longer available.</p>",
      "operationName" : "UpdateJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateJobRequest",
        "variableType" : "UpdateJobRequest",
        "variableDeclarationType" : "UpdateJobRequest",
        "documentation" : "",
        "simpleType" : "UpdateJobRequest",
        "variableSetterType" : "UpdateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateJobResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateJobResult",
      "asyncReturnType" : "UpdateJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobRequest, UpdateJobResult>",
      "authenticated" : true,
      "methodName" : "updateJob"
    }
  },
  "shapes" : {
    "JobMetadata" : {
      "c2jName" : "JobMetadata",
      "documentation" : "<p>Contains information about a specific job including shipping information, job status, and other important metadata. This information is returned as a part of the response syntax of the <code>DescribeJob</code> action.</p>",
      "shapeName" : "JobMetadata",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
        "name" : "JobId",
        "c2jName" : "JobId",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobId",
          "marshallLocationName" : "JobId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.*/",
        "getterDocumentation" : "/**<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@return The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.*/",
        "fluentSetterDocumentation" : "/**<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "JobState",
        "c2jName" : "JobState",
        "c2jShape" : "JobState",
        "variable" : {
          "variableName" : "jobState",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobState",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobState",
          "marshallLocationName" : "JobState",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "JobState",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param jobState \n@see JobState*/",
        "getterDocumentation" : "/**<p></p>\n@return \n@see JobState*/",
        "fluentSetterDocumentation" : "/**<p></p>\n@param jobState \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobState*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param jobState \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobState*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "JobType",
        "c2jName" : "JobType",
        "c2jShape" : "JobType",
        "variable" : {
          "variableName" : "jobType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobType",
          "marshallLocationName" : "JobType",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "JobType",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param jobType \n@see JobType*/",
        "getterDocumentation" : "/**<p></p>\n@return \n@see JobType*/",
        "fluentSetterDocumentation" : "/**<p></p>\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "CreationDate",
        "c2jName" : "CreationDate",
        "c2jShape" : "Timestamp",
        "variable" : {
          "variableName" : "creationDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p></p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "setterModel" : {
          "variableName" : "creationDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CreationDate",
          "marshallLocationName" : "CreationDate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param creationDate */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param creationDate \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param creationDate \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "Resources",
        "c2jName" : "Resources",
        "c2jShape" : "JobResource",
        "variable" : {
          "variableName" : "resources",
          "variableType" : "JobResource",
          "variableDeclarationType" : "JobResource",
          "documentation" : "<p></p>",
          "simpleType" : "JobResource",
          "variableSetterType" : "JobResource"
        },
        "setterModel" : {
          "variableName" : "resources",
          "variableType" : "JobResource",
          "variableDeclarationType" : "JobResource",
          "documentation" : "",
          "simpleType" : "JobResource",
          "variableSetterType" : "JobResource"
        },
        "getterModel" : {
          "returnType" : "JobResource",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Resources",
          "marshallLocationName" : "Resources",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param resources */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param resources \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param resources \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "Description",
        "c2jName" : "Description",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Description",
          "marshallLocationName" : "Description",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param description */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "KmsKeyARN",
        "c2jName" : "KmsKeyARN",
        "c2jShape" : "KmsKeyARN",
        "variable" : {
          "variableName" : "kmsKeyARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "kmsKeyARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "KmsKeyARN",
          "marshallLocationName" : "KmsKeyARN",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param kmsKeyARN */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param kmsKeyARN \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param kmsKeyARN \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "RoleARN",
        "c2jName" : "RoleARN",
        "c2jShape" : "RoleARN",
        "variable" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RoleARN",
          "marshallLocationName" : "RoleARN",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param roleARN */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param roleARN \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param roleARN \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "AddressId",
        "c2jName" : "AddressId",
        "c2jShape" : "AddressId",
        "variable" : {
          "variableName" : "addressId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "addressId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AddressId",
          "marshallLocationName" : "AddressId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param addressId */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param addressId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param addressId \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "ShippingDetails",
        "c2jName" : "ShippingDetails",
        "c2jShape" : "ShippingDetails",
        "variable" : {
          "variableName" : "shippingDetails",
          "variableType" : "ShippingDetails",
          "variableDeclarationType" : "ShippingDetails",
          "documentation" : "<p></p>",
          "simpleType" : "ShippingDetails",
          "variableSetterType" : "ShippingDetails"
        },
        "setterModel" : {
          "variableName" : "shippingDetails",
          "variableType" : "ShippingDetails",
          "variableDeclarationType" : "ShippingDetails",
          "documentation" : "",
          "simpleType" : "ShippingDetails",
          "variableSetterType" : "ShippingDetails"
        },
        "getterModel" : {
          "returnType" : "ShippingDetails",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ShippingDetails",
          "marshallLocationName" : "ShippingDetails",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param shippingDetails */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param shippingDetails \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param shippingDetails \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "SnowballCapacityPreference",
        "c2jName" : "SnowballCapacityPreference",
        "c2jShape" : "SnowballCapacity",
        "variable" : {
          "variableName" : "snowballCapacityPreference",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "snowballCapacityPreference",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SnowballCapacityPreference",
          "marshallLocationName" : "SnowballCapacityPreference",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "SnowballCapacity",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param snowballCapacityPreference \n@see SnowballCapacity*/",
        "getterDocumentation" : "/**<p></p>\n@return \n@see SnowballCapacity*/",
        "fluentSetterDocumentation" : "/**<p></p>\n@param snowballCapacityPreference \n@return Returns a reference to this object so that method calls can be chained together.\n@see SnowballCapacity*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param snowballCapacityPreference \n@return Returns a reference to this object so that method calls can be chained together.\n@see SnowballCapacity*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "Notification",
        "c2jName" : "Notification",
        "c2jShape" : "Notification",
        "variable" : {
          "variableName" : "notification",
          "variableType" : "Notification",
          "variableDeclarationType" : "Notification",
          "documentation" : "<p></p>",
          "simpleType" : "Notification",
          "variableSetterType" : "Notification"
        },
        "setterModel" : {
          "variableName" : "notification",
          "variableType" : "Notification",
          "variableDeclarationType" : "Notification",
          "documentation" : "",
          "simpleType" : "Notification",
          "variableSetterType" : "Notification"
        },
        "getterModel" : {
          "returnType" : "Notification",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Notification",
          "marshallLocationName" : "Notification",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param notification */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param notification \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param notification \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "DataTransferProgress",
        "c2jName" : "DataTransferProgress",
        "c2jShape" : "DataTransfer",
        "variable" : {
          "variableName" : "dataTransferProgress",
          "variableType" : "DataTransfer",
          "variableDeclarationType" : "DataTransfer",
          "documentation" : "<p></p>",
          "simpleType" : "DataTransfer",
          "variableSetterType" : "DataTransfer"
        },
        "setterModel" : {
          "variableName" : "dataTransferProgress",
          "variableType" : "DataTransfer",
          "variableDeclarationType" : "DataTransfer",
          "documentation" : "",
          "simpleType" : "DataTransfer",
          "variableSetterType" : "DataTransfer"
        },
        "getterModel" : {
          "returnType" : "DataTransfer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DataTransferProgress",
          "marshallLocationName" : "DataTransferProgress",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param dataTransferProgress */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param dataTransferProgress \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param dataTransferProgress \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "JobLogInfo",
        "c2jName" : "JobLogInfo",
        "c2jShape" : "JobLogs",
        "variable" : {
          "variableName" : "jobLogInfo",
          "variableType" : "JobLogs",
          "variableDeclarationType" : "JobLogs",
          "documentation" : "<p></p>",
          "simpleType" : "JobLogs",
          "variableSetterType" : "JobLogs"
        },
        "setterModel" : {
          "variableName" : "jobLogInfo",
          "variableType" : "JobLogs",
          "variableDeclarationType" : "JobLogs",
          "documentation" : "",
          "simpleType" : "JobLogs",
          "variableSetterType" : "JobLogs"
        },
        "getterModel" : {
          "returnType" : "JobLogs",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobLogInfo",
          "marshallLocationName" : "JobLogInfo",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param jobLogInfo */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param jobLogInfo \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param jobLogInfo \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "jobMetadata",
        "variableType" : "JobMetadata",
        "variableDeclarationType" : "JobMetadata",
        "documentation" : null,
        "simpleType" : "JobMetadata",
        "variableSetterType" : "JobMetadata"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "CreationDate" : {
          "documentation" : "<p></p>",
          "name" : "CreationDate",
          "c2jName" : "CreationDate",
          "c2jShape" : "Timestamp",
          "variable" : {
            "variableName" : "creationDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "<p></p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "setterModel" : {
            "variableName" : "creationDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CreationDate",
            "marshallLocationName" : "CreationDate",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param creationDate */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param creationDate \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param creationDate \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Description" : {
          "documentation" : "<p></p>",
          "name" : "Description",
          "c2jName" : "Description",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "description",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "description",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Description",
            "marshallLocationName" : "Description",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param description */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ShippingDetails" : {
          "documentation" : "<p></p>",
          "name" : "ShippingDetails",
          "c2jName" : "ShippingDetails",
          "c2jShape" : "ShippingDetails",
          "variable" : {
            "variableName" : "shippingDetails",
            "variableType" : "ShippingDetails",
            "variableDeclarationType" : "ShippingDetails",
            "documentation" : "<p></p>",
            "simpleType" : "ShippingDetails",
            "variableSetterType" : "ShippingDetails"
          },
          "setterModel" : {
            "variableName" : "shippingDetails",
            "variableType" : "ShippingDetails",
            "variableDeclarationType" : "ShippingDetails",
            "documentation" : "",
            "simpleType" : "ShippingDetails",
            "variableSetterType" : "ShippingDetails"
          },
          "getterModel" : {
            "returnType" : "ShippingDetails",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ShippingDetails",
            "marshallLocationName" : "ShippingDetails",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param shippingDetails */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param shippingDetails \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param shippingDetails \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RoleARN" : {
          "documentation" : "<p></p>",
          "name" : "RoleARN",
          "c2jName" : "RoleARN",
          "c2jShape" : "RoleARN",
          "variable" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RoleARN",
            "marshallLocationName" : "RoleARN",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param roleARN */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param roleARN \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param roleARN \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Notification" : {
          "documentation" : "<p></p>",
          "name" : "Notification",
          "c2jName" : "Notification",
          "c2jShape" : "Notification",
          "variable" : {
            "variableName" : "notification",
            "variableType" : "Notification",
            "variableDeclarationType" : "Notification",
            "documentation" : "<p></p>",
            "simpleType" : "Notification",
            "variableSetterType" : "Notification"
          },
          "setterModel" : {
            "variableName" : "notification",
            "variableType" : "Notification",
            "variableDeclarationType" : "Notification",
            "documentation" : "",
            "simpleType" : "Notification",
            "variableSetterType" : "Notification"
          },
          "getterModel" : {
            "returnType" : "Notification",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Notification",
            "marshallLocationName" : "Notification",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param notification */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param notification \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param notification \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "JobType" : {
          "documentation" : "<p></p>",
          "name" : "JobType",
          "c2jName" : "JobType",
          "c2jShape" : "JobType",
          "variable" : {
            "variableName" : "jobType",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "jobType",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "JobType",
            "marshallLocationName" : "JobType",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "JobType",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param jobType \n@see JobType*/",
          "getterDocumentation" : "/**<p></p>\n@return \n@see JobType*/",
          "fluentSetterDocumentation" : "/**<p></p>\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/"
        },
        "KmsKeyARN" : {
          "documentation" : "<p></p>",
          "name" : "KmsKeyARN",
          "c2jName" : "KmsKeyARN",
          "c2jShape" : "KmsKeyARN",
          "variable" : {
            "variableName" : "kmsKeyARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "kmsKeyARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "KmsKeyARN",
            "marshallLocationName" : "KmsKeyARN",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param kmsKeyARN */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param kmsKeyARN \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param kmsKeyARN \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "DataTransferProgress" : {
          "documentation" : "<p></p>",
          "name" : "DataTransferProgress",
          "c2jName" : "DataTransferProgress",
          "c2jShape" : "DataTransfer",
          "variable" : {
            "variableName" : "dataTransferProgress",
            "variableType" : "DataTransfer",
            "variableDeclarationType" : "DataTransfer",
            "documentation" : "<p></p>",
            "simpleType" : "DataTransfer",
            "variableSetterType" : "DataTransfer"
          },
          "setterModel" : {
            "variableName" : "dataTransferProgress",
            "variableType" : "DataTransfer",
            "variableDeclarationType" : "DataTransfer",
            "documentation" : "",
            "simpleType" : "DataTransfer",
            "variableSetterType" : "DataTransfer"
          },
          "getterModel" : {
            "returnType" : "DataTransfer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DataTransferProgress",
            "marshallLocationName" : "DataTransferProgress",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param dataTransferProgress */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param dataTransferProgress \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param dataTransferProgress \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "JobState" : {
          "documentation" : "<p></p>",
          "name" : "JobState",
          "c2jName" : "JobState",
          "c2jShape" : "JobState",
          "variable" : {
            "variableName" : "jobState",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "jobState",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "JobState",
            "marshallLocationName" : "JobState",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "JobState",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param jobState \n@see JobState*/",
          "getterDocumentation" : "/**<p></p>\n@return \n@see JobState*/",
          "fluentSetterDocumentation" : "/**<p></p>\n@param jobState \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobState*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param jobState \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobState*/"
        },
        "Resources" : {
          "documentation" : "<p></p>",
          "name" : "Resources",
          "c2jName" : "Resources",
          "c2jShape" : "JobResource",
          "variable" : {
            "variableName" : "resources",
            "variableType" : "JobResource",
            "variableDeclarationType" : "JobResource",
            "documentation" : "<p></p>",
            "simpleType" : "JobResource",
            "variableSetterType" : "JobResource"
          },
          "setterModel" : {
            "variableName" : "resources",
            "variableType" : "JobResource",
            "variableDeclarationType" : "JobResource",
            "documentation" : "",
            "simpleType" : "JobResource",
            "variableSetterType" : "JobResource"
          },
          "getterModel" : {
            "returnType" : "JobResource",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Resources",
            "marshallLocationName" : "Resources",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param resources */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param resources \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param resources \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "AddressId" : {
          "documentation" : "<p></p>",
          "name" : "AddressId",
          "c2jName" : "AddressId",
          "c2jShape" : "AddressId",
          "variable" : {
            "variableName" : "addressId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "addressId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "AddressId",
            "marshallLocationName" : "AddressId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param addressId */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param addressId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param addressId \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "JobId" : {
          "documentation" : "<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
          "name" : "JobId",
          "c2jName" : "JobId",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "jobId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "jobId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "JobId",
            "marshallLocationName" : "JobId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.*/",
          "getterDocumentation" : "/**<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@return The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.*/",
          "fluentSetterDocumentation" : "/**<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The automatically generated ID for a job. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "JobLogInfo" : {
          "documentation" : "<p></p>",
          "name" : "JobLogInfo",
          "c2jName" : "JobLogInfo",
          "c2jShape" : "JobLogs",
          "variable" : {
            "variableName" : "jobLogInfo",
            "variableType" : "JobLogs",
            "variableDeclarationType" : "JobLogs",
            "documentation" : "<p></p>",
            "simpleType" : "JobLogs",
            "variableSetterType" : "JobLogs"
          },
          "setterModel" : {
            "variableName" : "jobLogInfo",
            "variableType" : "JobLogs",
            "variableDeclarationType" : "JobLogs",
            "documentation" : "",
            "simpleType" : "JobLogs",
            "variableSetterType" : "JobLogs"
          },
          "getterModel" : {
            "returnType" : "JobLogs",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "JobLogInfo",
            "marshallLocationName" : "JobLogInfo",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param jobLogInfo */",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "fluentSetterDocumentation" : "/**<p></p>\n@param jobLogInfo \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param jobLogInfo \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "SnowballCapacityPreference" : {
          "documentation" : "<p></p>",
          "name" : "SnowballCapacityPreference",
          "c2jName" : "SnowballCapacityPreference",
          "c2jShape" : "SnowballCapacity",
          "variable" : {
            "variableName" : "snowballCapacityPreference",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "snowballCapacityPreference",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SnowballCapacityPreference",
            "marshallLocationName" : "SnowballCapacityPreference",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "SnowballCapacity",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p></p>\n@param snowballCapacityPreference \n@see SnowballCapacity*/",
          "getterDocumentation" : "/**<p></p>\n@return \n@see SnowballCapacity*/",
          "fluentSetterDocumentation" : "/**<p></p>\n@param snowballCapacityPreference \n@return Returns a reference to this object so that method calls can be chained together.\n@see SnowballCapacity*/",
          "varargSetterDocumentation" : "/**<p></p>\n@param snowballCapacityPreference \n@return Returns a reference to this object so that method calls can be chained together.\n@see SnowballCapacity*/"
        }
      }
    },
    "Address" : {
      "c2jName" : "Address",
      "documentation" : "<p>The address that you want the Snowball(s) associated with a specific job to be shipped to. Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. Although no individual elements of the <code>Address</code> are required, if the address is invalid or unsupported, then an exception is thrown.</p>",
      "shapeName" : "Address",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p></p>",
        "name" : "AddressId",
        "c2jName" : "AddressId",
        "c2jShape" : "AddressId",
        "variable" : {
          "variableName" : "addressId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "addressId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AddressId",
          "marshallLocationName" : "AddressId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param addressId */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param addressId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param addressId \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "Name",
        "c2jName" : "Name",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Name",
          "marshallLocationName" : "Name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param name */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "Company",
        "c2jName" : "Company",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "company",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "company",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Company",
          "marshallLocationName" : "Company",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param company */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param company \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param company \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "Street1",
        "c2jName" : "Street1",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "street1",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "street1",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Street1",
          "marshallLocationName" : "Street1",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param street1 */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param street1 \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param street1 \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "Street2",
        "c2jName" : "Street2",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "street2",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "street2",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Street2",
          "marshallLocationName" : "Street2",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param street2 */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param street2 \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param street2 \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "Street3",
        "c2jName" : "Street3",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "street3",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "street3",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Street3",
          "marshallLocationName" : "Street3",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param street3 */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param street3 \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param street3 \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "City",
        "c2jName" : "City",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "city",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "city",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "City",
          "marshallLocationName" : "City",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param city */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param city \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param city \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "StateOrProvince",
        "c2jName" : "StateOrProvince",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "stateOrProvince",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "stateOrProvince",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "StateOrProvince",
          "marshallLocationName" : "StateOrProvince",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p></p>\n@param stateOrProvince */",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "fluentSetterDocumentation" : "/**<p></p>\n@param stateOrProvince \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p></p>\n@param stateOrProvince \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p></p>",
        "name" : "PrefectureOrDistrict",
        "c2jName" : "PrefectureOrDistrict",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "prefectureOrDistrict",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "prefectureOrDistrict",
          "variableType" : "String",
          "variableDeclarationType" : "String",
[...]
