{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-06-30",
    "asyncClient" : "AmazonSnowballAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSnowballAsyncClientBuilder",
    "asyncInterface" : "AmazonSnowballAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonSnowballModuleInjector",
    "defaultEndpoint" : "snowball.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "snowball.us-east-1.amazonaws.com/",
    "documentation" : "<p>AWS Import/Export Snowball is a petabyte-scale data transport solution that uses secure appliances to transfer large amounts of data between your on-premises data centers and Amazon Simple Storage Service (Amazon S3). The Snowball commands described here provide access to the same functionality that is available in the AWS Snowball Management Console, which enables you to create and manage jobs for Snowball. To transfer data locally with a Snowball appliance, you'll need to use the Snowball client or the Amazon S3 API adapter for Snowball. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSImportExport/latest/ug/api-reference.html\">User Guide</a>.</p>",
    "endpointPrefix" : "snowball",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.snowball",
    "packagePath" : "com/amazonaws/services/snowball",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "serviceAbbreviation" : "Amazon Snowball",
    "serviceFullName" : "Amazon Import/Export Snowball",
    "serviceName" : "Amazon Snowball",
    "signingName" : "snowball",
    "smokeTestsPackageName" : "com.amazonaws.services.snowball.smoketests",
    "syncClient" : "AmazonSnowballClient",
    "syncClientBuilderClassName" : "AmazonSnowballClientBuilder",
    "syncInterface" : "AmazonSnowball",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "asyncReturnType" : "CancelJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified job. Note that you can only cancel a job before its <code>JobState</code> value changes to <code>PreparingAppliance</code>. Requesting the <code>ListJobs</code> or <code>DescribeJob</code> action will return a job's <code>JobState</code> as part of the response element data returned.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelJobRequest",
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJob",
      "operationName" : "CancelJob",
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelJobResult"
    },
    "CreateAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAddressRequest, CreateAddressResult>",
      "asyncReturnType" : "CreateAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an address for a Snowball to be shipped to. </p> <p>Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. If the address is invalid or unsupported, then an exception is thrown.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "<p>The address provided was invalid. Check the address with your region's carrier, and try again.</p>"
      }, {
        "exceptionName" : "UnsupportedAddressException",
        "documentation" : "<p>The address is either outside the serviceable area for your region, or an error occurred. Check the address with your region's carrier and try again. If the issue persists, contact AWS Support.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateAddressRequest",
        "variableName" : "createAddressRequest",
        "variableType" : "CreateAddressRequest",
        "documentation" : "",
        "simpleType" : "CreateAddressRequest",
        "variableSetterType" : "CreateAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAddress",
      "operationName" : "CreateAddress",
      "returnType" : {
        "returnType" : "CreateAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAddressResult"
    },
    "CreateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "asyncReturnType" : "CreateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a job to import or export data between Amazon S3 and your on-premises data center. Note that your AWS account must have the right trust policies and permissions in place to create a job for Snowball. For more information, see <a>api-reference-policies</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateJobRequest",
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "documentation" : "",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJob",
      "operationName" : "CreateJob",
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateJobResult"
    },
    "DescribeAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAddressRequest, DescribeAddressResult>",
      "asyncReturnType" : "DescribeAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Takes an <code>AddressId</code> and returns specific details about that address in the form of an <code>Address</code> object.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAddressRequest",
        "variableName" : "describeAddressRequest",
        "variableType" : "DescribeAddressRequest",
        "documentation" : "",
        "simpleType" : "DescribeAddressRequest",
        "variableSetterType" : "DescribeAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAddress",
      "operationName" : "DescribeAddress",
      "returnType" : {
        "returnType" : "DescribeAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAddressResult"
    },
    "DescribeAddresses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAddressesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAddressesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAddressesRequest, DescribeAddressesResult>",
      "asyncReturnType" : "DescribeAddressesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a specified number of <code>ADDRESS</code> objects. Calling this API in one of the US regions will return addresses from the list of all addresses associated with this account in all US regions.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAddressesRequest",
        "variableName" : "describeAddressesRequest",
        "variableType" : "DescribeAddressesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAddressesRequest",
        "variableSetterType" : "DescribeAddressesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAddresses",
      "operationName" : "DescribeAddresses",
      "returnType" : {
        "returnType" : "DescribeAddressesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAddressesResult"
    },
    "DescribeJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobRequest, DescribeJobResult>",
      "asyncReturnType" : "DescribeJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific job including shipping information, job status, and other important metadata.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeJobRequest",
        "variableName" : "describeJobRequest",
        "variableType" : "DescribeJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobRequest",
        "variableSetterType" : "DescribeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJob",
      "operationName" : "DescribeJob",
      "returnType" : {
        "returnType" : "DescribeJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobResult"
    },
    "GetJobManifest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobManifestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobManifestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobManifestRequest, GetJobManifestResult>",
      "asyncReturnType" : "GetJobManifestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a link to an Amazon S3 presigned URL for the manifest file associated with the specified <code>JobId</code> value. You can access the manifest file for up to 60 minutes after this request has been made. To access the manifest file after 60 minutes have passed, you'll have to make another call to the <code>GetJobManifest</code> action.</p> <p>The manifest is an encrypted file that you can download after your job enters the <code>WithCustomer</code> status. The manifest is decrypted by using the <code>UnlockCode</code> code value, when you pass both values to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of an <code>UnlockCode</code> value in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p> <p>Note that the credentials of a given job, including its manifest file and unlock code, expire 90 days after the job is created.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetJobManifestRequest",
        "variableName" : "getJobManifestRequest",
        "variableType" : "GetJobManifestRequest",
        "documentation" : "",
        "simpleType" : "GetJobManifestRequest",
        "variableSetterType" : "GetJobManifestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJobManifest",
      "operationName" : "GetJobManifest",
      "returnType" : {
        "returnType" : "GetJobManifestResult",
        "documentation" : null
      },
      "syncReturnType" : "GetJobManifestResult"
    },
    "GetJobUnlockCode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobUnlockCodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobUnlockCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobUnlockCodeRequest, GetJobUnlockCodeResult>",
      "asyncReturnType" : "GetJobUnlockCodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <code>UnlockCode</code> code value for the specified job. A particular <code>UnlockCode</code> value can be accessed for up to 90 days after the associated job has been created.</p> <p>The <code>UnlockCode</code> value is a 29-character code with 25 alphanumeric characters and 4 hyphens. This code is used to decrypt the manifest file when it is passed along with the manifest to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of the <code>UnlockCode</code> in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetJobUnlockCodeRequest",
        "variableName" : "getJobUnlockCodeRequest",
        "variableType" : "GetJobUnlockCodeRequest",
        "documentation" : "",
        "simpleType" : "GetJobUnlockCodeRequest",
        "variableSetterType" : "GetJobUnlockCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJobUnlockCode",
      "operationName" : "GetJobUnlockCode",
      "returnType" : {
        "returnType" : "GetJobUnlockCodeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetJobUnlockCodeResult"
    },
    "GetSnowballUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnowballUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnowballUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnowballUsageRequest, GetSnowballUsageResult>",
      "asyncReturnType" : "GetSnowballUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the Snowball service limit for your account, and also the number of Snowballs your account has in use.</p> <p>Note that the default service limit for the number of Snowballs that you can have at one time is 1. If you want to increase your service limit, contact AWS Support.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSnowballUsageRequest",
        "variableName" : "getSnowballUsageRequest",
        "variableType" : "GetSnowballUsageRequest",
        "documentation" : "",
        "simpleType" : "GetSnowballUsageRequest",
        "variableSetterType" : "GetSnowballUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSnowballUsage",
      "operationName" : "GetSnowballUsage",
      "returnType" : {
        "returnType" : "GetSnowballUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSnowballUsageResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>JobListEntry</code> objects of the specified length. Each <code>JobListEntry</code> object contains a job's state, a job's ID, and a value that indicates whether the job is a job part, in the case of export jobs. Calling this API action in one of the US regions will return jobs from the list of all jobs associated with this account in all US regions.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobsResult"
    },
    "UpdateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobRequest, UpdateJobResult>",
      "asyncReturnType" : "UpdateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>While a job's <code>JobState</code> value is <code>New</code>, you can update some of the information associated with a job. Once the job changes to a different job state, usually within 60 minutes of the job being created, this action is no longer available.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>"
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>"
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateJobRequest",
        "variableName" : "updateJobRequest",
        "variableType" : "UpdateJobRequest",
        "documentation" : "",
        "simpleType" : "UpdateJobRequest",
        "variableSetterType" : "UpdateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateJob",
      "operationName" : "UpdateJob",
      "returnType" : {
        "returnType" : "UpdateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateJobResult"
    }
  },
  "shapes" : {
    "Address" : {
      "c2jName" : "Address",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The address that you want the Snowball or Snowballs associated with a specific job to be shipped to. Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. Although no individual elements of the <code>Address</code> are required, if the address is invalid or unsupported, then an exception is thrown.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AddressId",
        "c2jShape" : "AddressId",
        "deprecated" : false,
        "documentation" : "<p>The unique ID for an address.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The unique ID for an address.</p>\n@return The unique ID for an address.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AddressId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AddressId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AddressId",
        "setterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "addressId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "addressId",
          "variableType" : "String",
          "documentation" : "<p>The unique ID for an address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of a person to receive a Snowball at an address.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@param name The name of a person to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@return The name of a person to receive a Snowball at an address.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@param name The name of a person to receive a Snowball at an address.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@param name The name of a person to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of a person to receive a Snowball at an address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Company",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the company to receive a Snowball at an address.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@return The name of the company to receive a Snowball at an address.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Company",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Company",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Company",
        "setterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "company",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "company",
          "variableType" : "String",
          "documentation" : "<p>The name of the company to receive a Snowball at an address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Street1",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The first line in a street address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@param street1 The first line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@return The first line in a street address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Street1",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Street1",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Street1",
        "setterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@param street1 The first line in a street address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "street1",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@param street1 The first line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "street1",
          "variableType" : "String",
          "documentation" : "<p>The first line in a street address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Street2",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The second line in a street address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@param street2 The second line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@return The second line in a street address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Street2",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Street2",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Street2",
        "setterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@param street2 The second line in a street address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "street2",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@param street2 The second line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "street2",
          "variableType" : "String",
          "documentation" : "<p>The second line in a street address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Street3",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The third line in a street address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@param street3 The third line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@return The third line in a street address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Street3",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Street3",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Street3",
        "setterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@param street3 The third line in a street address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "street3",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@param street3 The third line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "street3",
          "variableType" : "String",
          "documentation" : "<p>The third line in a street address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "City",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The city in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@return The city in an address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "City",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "City",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "City",
        "setterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "city",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "city",
          "variableType" : "String",
          "documentation" : "<p>The city in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StateOrProvince",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The state or province in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@param stateOrProvince The state or province in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@return The state or province in an address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "StateOrProvince",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StateOrProvince",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "StateOrProvince",
        "setterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@param stateOrProvince The state or province in an address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "stateOrProvince",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@param stateOrProvince The state or province in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "stateOrProvince",
          "variableType" : "String",
          "documentation" : "<p>The state or province in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PrefectureOrDistrict",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>\n@param prefectureOrDistrict The prefecture or district in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>\n@return The prefecture or district in an address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "PrefectureOrDistrict",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PrefectureOrDistrict",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "PrefectureOrDistrict",
        "setterDocumentation" : "/**<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>\n@param prefectureOrDistrict The prefecture or district in an address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "prefectureOrDistrict",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>\n@param prefectureOrDistrict The prefecture or district in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "prefectureOrDistrict",
          "variableType" : "String",
          "documentation" : "<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Landmark",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A landmark listed in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A landmark listed in an address that a Snowball is to be delivered to.</p>\n@param landmark A landmark listed in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A landmark listed in an address that a Snowball is to be delivered to.</p>\n@return A landmark listed in an address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Landmark",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Landmark",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Landmark",
        "setterDocumentation" : "/**<p>A landmark listed in an address that a Snowball is to be delivered to.</p>\n@param landmark A landmark listed in an address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "landmark",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>A landmark listed in an address that a Snowball is to be delivered to.</p>\n@param landmark A landmark listed in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "landmark",
          "variableType" : "String",
          "documentation" : "<p>A landmark listed in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Country",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The country in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@param country The country in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@return The country in an address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Country",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Country",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Country",
        "setterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@param country The country in an address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "country",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@param country The country in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "country",
          "variableType" : "String",
          "documentation" : "<p>The country in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PostalCode",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The postal code in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@param postalCode The postal code in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@return The postal code in an address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "PostalCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PostalCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "PostalCode",
        "setterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@param postalCode The postal code in an address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "postalCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@param postalCode The postal code in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "postalCode",
          "variableType" : "String",
          "documentation" : "<p>The postal code in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PhoneNumber",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The phone number associated with an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@param phoneNumber The phone number associated with an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@return The phone number associated with an address that a Snowball is to be delivered to.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "PhoneNumber",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PhoneNumber",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "PhoneNumber",
        "setterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@param phoneNumber The phone number associated with an address that a Snowball is to be delivered to.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "phoneNumber",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@param phoneNumber The phone number associated with an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "phoneNumber",
          "variableType" : "String",
          "documentation" : "<p>The phone number associated with an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AddressId" : {
          "c2jName" : "AddressId",
          "c2jShape" : "AddressId",
          "deprecated" : false,
          "documentation" : "<p>The unique ID for an address.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The unique ID for an address.</p>\n@return The unique ID for an address.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AddressId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AddressId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AddressId",
          "setterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "addressId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "addressId",
            "variableType" : "String",
            "documentation" : "<p>The unique ID for an address.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "City" : {
          "c2jName" : "City",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The city in an address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@return The city in an address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "City",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "City",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "City",
          "setterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "city",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "city",
            "variableType" : "String",
            "documentation" : "<p>The city in an address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Company" : {
          "c2jName" : "Company",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the company to receive a Snowball at an address.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@return The name of the company to receive a Snowball at an address.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Company",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Company",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Company",
          "setterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "company",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "company",
            "variableType" : "String",
            "documentation" : "<p>The name of the company to receive a Snowball at an address.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Country" : {
          "c2jName" : "Country",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The country in an address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@param country The country in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@return The country in an address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Country",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Country",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Country",
          "setterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@param country The country in an address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "country",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@param country The country in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "country",
            "variableType" : "String",
            "documentation" : "<p>The country in an address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Landmark" : {
          "c2jName" : "Landmark",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A landmark listed in an address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A landmark listed in an address that a Snowball is to be delivered to.</p>\n@param landmark A landmark listed in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A landmark listed in an address that a Snowball is to be delivered to.</p>\n@return A landmark listed in an address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Landmark",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Landmark",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Landmark",
          "setterDocumentation" : "/**<p>A landmark listed in an address that a Snowball is to be delivered to.</p>\n@param landmark A landmark listed in an address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "landmark",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>A landmark listed in an address that a Snowball is to be delivered to.</p>\n@param landmark A landmark listed in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "landmark",
            "variableType" : "String",
            "documentation" : "<p>A landmark listed in an address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of a person to receive a Snowball at an address.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@param name The name of a person to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@return The name of a person to receive a Snowball at an address.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@param name The name of a person to receive a Snowball at an address.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@param name The name of a person to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of a person to receive a Snowball at an address.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PhoneNumber" : {
          "c2jName" : "PhoneNumber",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The phone number associated with an address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@param phoneNumber The phone number associated with an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@return The phone number associated with an address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "PhoneNumber",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PhoneNumber",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "PhoneNumber",
          "setterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@param phoneNumber The phone number associated with an address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "phoneNumber",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@param phoneNumber The phone number associated with an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "phoneNumber",
            "variableType" : "String",
            "documentation" : "<p>The phone number associated with an address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PostalCode" : {
          "c2jName" : "PostalCode",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The postal code in an address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@param postalCode The postal code in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@return The postal code in an address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "PostalCode",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PostalCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "PostalCode",
          "setterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@param postalCode The postal code in an address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "postalCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@param postalCode The postal code in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "postalCode",
            "variableType" : "String",
            "documentation" : "<p>The postal code in an address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PrefectureOrDistrict" : {
          "c2jName" : "PrefectureOrDistrict",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>\n@param prefectureOrDistrict The prefecture or district in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>\n@return The prefecture or district in an address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "PrefectureOrDistrict",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PrefectureOrDistrict",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "PrefectureOrDistrict",
          "setterDocumentation" : "/**<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>\n@param prefectureOrDistrict The prefecture or district in an address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "prefectureOrDistrict",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>\n@param prefectureOrDistrict The prefecture or district in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "prefectureOrDistrict",
            "variableType" : "String",
            "documentation" : "<p>The prefecture or district in an address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StateOrProvince" : {
          "c2jName" : "StateOrProvince",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The state or province in an address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@param stateOrProvince The state or province in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@return The state or province in an address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "StateOrProvince",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StateOrProvince",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "StateOrProvince",
          "setterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@param stateOrProvince The state or province in an address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "stateOrProvince",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@param stateOrProvince The state or province in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "stateOrProvince",
            "variableType" : "String",
            "documentation" : "<p>The state or province in an address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Street1" : {
          "c2jName" : "Street1",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The first line in a street address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@param street1 The first line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@return The first line in a street address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Street1",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Street1",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Street1",
          "setterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@param street1 The first line in a street address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "street1",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@param street1 The first line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "street1",
            "variableType" : "String",
            "documentation" : "<p>The first line in a street address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Street2" : {
          "c2jName" : "Street2",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The second line in a street address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@param street2 The second line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@return The second line in a street address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Street2",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Street2",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Street2",
          "setterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@param street2 The second line in a street address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "street2",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@param street2 The second line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "street2",
            "variableType" : "String",
            "documentation" : "<p>The second line in a street address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Street3" : {
          "c2jName" : "Street3",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The third line in a street address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@param street3 The third line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@return The third line in a street address that a Snowball is to be delivered to.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Street3",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Street3",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Street3",
          "setterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@param street3 The third line in a street address that a Snowball is to be delivered to.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "street3",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@param street3 The third line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "street3",
            "variableType" : "String",
            "documentation" : "<p>The third line in a street address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "Address",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Address",
        "variableName" : "address",
        "variableType" : "Address",
        "documentation" : null,
        "simpleType" : "Address",
        "variableSetterType" : "Address"
      },
      "wrapper" : false
    },
    "CancelJobRequest" : {
      "c2jName" : "CancelJobRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelJob",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSIESnowballJobManagementService.CancelJob",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "JobId",
        "c2jShape" : "JobId",
        "deprecated" : false,
        "documentation" : "<p>The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@return The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "JobId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobId",
        "setterDocumentation" : "/**<p>The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "JobId" : {
          "c2jName" : "JobId",
          "c2jShape" : "JobId",
          "deprecated" : false,
          "documentation" : "<p>The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@param jobId The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>\n@return The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "JobId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "JobId",
[...]
