{
  "metadata" : {
    "apiVersion" : "2015-03-31",
    "protocol" : "rest-json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Lambda</fullname> <p> <b>Overview</b> </p> <p>This is the <i>AWS Lambda API Reference</i>. The AWS Lambda Developer Guide provides additional information. For the service overview, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is AWS Lambda</a>, and for information about how the service works, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <i>AWS Lambda Developer Guide</i>.</p>",
    "defaultEndpoint" : "lambda.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lambda.us-east-1.amazonaws.com",
    "syncInterface" : "AWSLambda",
    "syncClient" : "AWSLambdaClient",
    "asyncInterface" : "AWSLambdaAsync",
    "asyncClient" : "AWSLambdaAsyncClient",
    "packageName" : "com.amazonaws.services.lambda",
    "packagePath" : "com/amazonaws/services/lambda",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Lambda",
    "hasApiWithStreamInput" : false,
    "contentType" : "",
    "jsonVersion" : "1.1",
    "endpointPrefix" : "lambda",
    "signingName" : "lambda",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "syncClientBuilderClassName" : "AWSLambdaClientBuilder",
    "asyncClientBuilderClassName" : "AWSLambdaAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSLambdaModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.lambda.smoketests",
    "serviceName" : "AWS Lambda",
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "AddPermission" : {
      "documentation" : "<p>Adds a permission to the resource policy associated with the specified AWS Lambda function. You use resource policies to grant permissions to event sources that use <i>push</i> model. In a <i>push</i> model, event sources (such as Amazon S3 and custom applications) invoke your Lambda function. Each permission you add to the resource policy allows an event source, permission to invoke the Lambda function. </p> <p>For information about the push model, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a>. </p> <p>If you are using versioning, the permissions you add are specific to the Lambda function version or alias you specify in the <code>AddPermission</code> request via the <code>Qualifier</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:AddPermission</code> action.</p>",
      "operationName" : "AddPermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "addPermissionRequest",
        "variableType" : "AddPermissionRequest",
        "variableDeclarationType" : "AddPermissionRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddPermissionRequest",
        "variableSetterType" : "AddPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddPermissionResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "PolicyLengthExceededException",
        "documentation" : "<p>Lambda function access policy is limited to 20 KB.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddPermissionResult",
      "asyncReturnType" : "AddPermissionResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddPermissionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddPermissionRequest, AddPermissionResult>",
      "authenticated" : true,
      "methodName" : "addPermission"
    },
    "CreateAlias" : {
      "documentation" : "<p>Creates an alias that points to the specified Lambda function version. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>Alias names are unique for a given function. This requires permission for the lambda:CreateAlias action.</p>",
      "operationName" : "CreateAlias",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "variableDeclarationType" : "CreateAliasRequest",
        "documentation" : "",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : "<p>Provides configuration information about a Lambda function version alias.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateAliasResult",
      "asyncReturnType" : "CreateAliasResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "authenticated" : true,
      "methodName" : "createAlias"
    },
    "CreateEventSourceMapping" : {
      "documentation" : "<p>Identifies a stream as an event source for a Lambda function. It can be either an Amazon Kinesis stream or an Amazon DynamoDB stream. AWS Lambda invokes the specified function when records are posted to the stream.</p> <p>This association between a stream source and a Lambda function is called the event source mapping.</p> <important><p>This event source mapping is relevant only in the AWS Lambda pull model, where AWS Lambda invokes the function. For more information, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <i>AWS Lambda Developer Guide</i>.</p> </important> <p>You provide mapping information (for example, which stream to read from and which Lambda function to invoke) in the request body.</p> <p>Each event source, such as an Amazon Kinesis or a DynamoDB stream, can be associated with multiple AWS Lambda function. A given Lambda function can be associated with multiple AWS event sources.</p> <p>If you are using versioning, you can specify a specific function version or an alias via the function name parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:CreateEventSourceMapping</code> action.</p>",
      "operationName" : "CreateEventSourceMapping",
      "deprecated" : false,
      "input" : {
        "variableName" : "createEventSourceMappingRequest",
        "variableType" : "CreateEventSourceMappingRequest",
        "variableDeclarationType" : "CreateEventSourceMappingRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateEventSourceMappingRequest",
        "variableSetterType" : "CreateEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateEventSourceMappingResult",
        "documentation" : "<p>Describes mapping between an Amazon Kinesis stream and a Lambda function.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateEventSourceMappingResult",
      "asyncReturnType" : "CreateEventSourceMappingResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEventSourceMappingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEventSourceMappingRequest, CreateEventSourceMappingResult>",
      "authenticated" : true,
      "methodName" : "createEventSourceMapping"
    },
    "CreateFunction" : {
      "documentation" : "<p>Creates a new Lambda function. The function metadata is created from the request parameters, and the code for the function is provided by a .zip file in the request body. If the function name already exists, the operation will fail. Note that the function name is case-sensitive.</p> <p> If you are using versioning, you can also publish a version of the Lambda function you are creating using the <code>Publish</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:CreateFunction</code> action.</p>",
      "operationName" : "CreateFunction",
      "deprecated" : false,
      "input" : {
        "variableName" : "createFunctionRequest",
        "variableType" : "CreateFunctionRequest",
        "variableDeclarationType" : "CreateFunctionRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateFunctionRequest",
        "variableSetterType" : "CreateFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateFunctionResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "CodeStorageExceededException",
        "documentation" : "<p>You have exceeded your maximum total code size per account. <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a> </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateFunctionResult",
      "asyncReturnType" : "CreateFunctionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFunctionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFunctionRequest, CreateFunctionResult>",
      "authenticated" : true,
      "methodName" : "createFunction"
    },
    "DeleteAlias" : {
      "documentation" : "<p>Deletes the specified Lambda function alias. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the lambda:DeleteAlias action.</p>",
      "operationName" : "DeleteAlias",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "variableDeclarationType" : "DeleteAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteAliasResult",
      "asyncReturnType" : "DeleteAliasResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "authenticated" : true,
      "methodName" : "deleteAlias"
    },
    "DeleteEventSourceMapping" : {
      "documentation" : "<p>Removes an event source mapping. This means AWS Lambda will no longer invoke the function for events in the associated source.</p> <p>This operation requires permission for the <code>lambda:DeleteEventSourceMapping</code> action.</p>",
      "operationName" : "DeleteEventSourceMapping",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteEventSourceMappingRequest",
        "variableType" : "DeleteEventSourceMappingRequest",
        "variableDeclarationType" : "DeleteEventSourceMappingRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteEventSourceMappingRequest",
        "variableSetterType" : "DeleteEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteEventSourceMappingResult",
        "documentation" : "<p>Describes mapping between an Amazon Kinesis stream and a Lambda function.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteEventSourceMappingResult",
      "asyncReturnType" : "DeleteEventSourceMappingResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventSourceMappingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventSourceMappingRequest, DeleteEventSourceMappingResult>",
      "authenticated" : true,
      "methodName" : "deleteEventSourceMapping"
    },
    "DeleteFunction" : {
      "documentation" : "<p>Deletes the specified Lambda function code and configuration.</p> <p>If you are using the versioning feature and you don't specify a function version in your <code>DeleteFunction</code> request, AWS Lambda will delete the function, including all its versions, and any aliases pointing to the function versions. To delete a specific function version, you must provide the function version via the <code>Qualifier</code> parameter. For information about function versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>When you delete a function the associated resource policy is also deleted. You will need to delete the event source mappings explicitly.</p> <p>This operation requires permission for the <code>lambda:DeleteFunction</code> action.</p>",
      "operationName" : "DeleteFunction",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteFunctionRequest",
        "variableType" : "DeleteFunctionRequest",
        "variableDeclarationType" : "DeleteFunctionRequest",
        "documentation" : "",
        "simpleType" : "DeleteFunctionRequest",
        "variableSetterType" : "DeleteFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteFunctionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteFunctionResult",
      "asyncReturnType" : "DeleteFunctionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFunctionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFunctionRequest, DeleteFunctionResult>",
      "authenticated" : true,
      "methodName" : "deleteFunction"
    },
    "GetAlias" : {
      "documentation" : "<p>Returns the specified alias information such as the alias ARN, description, and function version it is pointing to. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the <code>lambda:GetAlias</code> action.</p>",
      "operationName" : "GetAlias",
      "deprecated" : false,
      "input" : {
        "variableName" : "getAliasRequest",
        "variableType" : "GetAliasRequest",
        "variableDeclarationType" : "GetAliasRequest",
        "documentation" : "",
        "simpleType" : "GetAliasRequest",
        "variableSetterType" : "GetAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetAliasResult",
        "documentation" : "<p>Provides configuration information about a Lambda function version alias.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetAliasResult",
      "asyncReturnType" : "GetAliasResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetAliasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAliasRequest, GetAliasResult>",
      "authenticated" : true,
      "methodName" : "getAlias"
    },
    "GetEventSourceMapping" : {
      "documentation" : "<p>Returns configuration information for the specified event source mapping (see <a>CreateEventSourceMapping</a>).</p> <p>This operation requires permission for the <code>lambda:GetEventSourceMapping</code> action.</p>",
      "operationName" : "GetEventSourceMapping",
      "deprecated" : false,
      "input" : {
        "variableName" : "getEventSourceMappingRequest",
        "variableType" : "GetEventSourceMappingRequest",
        "variableDeclarationType" : "GetEventSourceMappingRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetEventSourceMappingRequest",
        "variableSetterType" : "GetEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetEventSourceMappingResult",
        "documentation" : "<p>Describes mapping between an Amazon Kinesis stream and a Lambda function.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetEventSourceMappingResult",
      "asyncReturnType" : "GetEventSourceMappingResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetEventSourceMappingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEventSourceMappingRequest, GetEventSourceMappingResult>",
      "authenticated" : true,
      "methodName" : "getEventSourceMapping"
    },
    "GetFunction" : {
      "documentation" : "<p>Returns the configuration information of the Lambda function and a presigned URL link to the .zip file you uploaded with <a>CreateFunction</a> so you can download the .zip file. Note that the URL is valid for up to 10 minutes. The configuration information is the same information you provided as parameters when uploading the function.</p> <p>Using the optional <code>Qualifier</code> parameter, you can specify a specific function version for which you want this information. If you don't specify this parameter, the API uses unqualified function ARN which return information about the <code>$LATEST</code> version of the Lambda function. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>.</p> <p>This operation requires permission for the <code>lambda:GetFunction</code> action.</p>",
      "operationName" : "GetFunction",
      "deprecated" : false,
      "input" : {
        "variableName" : "getFunctionRequest",
        "variableType" : "GetFunctionRequest",
        "variableDeclarationType" : "GetFunctionRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetFunctionRequest",
        "variableSetterType" : "GetFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetFunctionResult",
        "documentation" : "<p>This response contains the object for the Lambda function location (see .</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetFunctionResult",
      "asyncReturnType" : "GetFunctionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetFunctionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFunctionRequest, GetFunctionResult>",
      "authenticated" : true,
      "methodName" : "getFunction"
    },
    "GetFunctionConfiguration" : {
      "documentation" : "<p>Returns the configuration information of the Lambda function. This the same information you provided as parameters when uploading the function by using <a>CreateFunction</a>.</p> <p>If you are using the versioning feature, you can retrieve this information for a specific function version by using the optional <code>Qualifier</code> parameter and specifying the function version or alias that points to it. If you don't provide it, the API returns information about the $LATEST version of the function. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>.</p> <p>This operation requires permission for the <code>lambda:GetFunctionConfiguration</code> operation.</p>",
      "operationName" : "GetFunctionConfiguration",
      "deprecated" : false,
      "input" : {
        "variableName" : "getFunctionConfigurationRequest",
        "variableType" : "GetFunctionConfigurationRequest",
        "variableDeclarationType" : "GetFunctionConfigurationRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetFunctionConfigurationRequest",
        "variableSetterType" : "GetFunctionConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetFunctionConfigurationResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetFunctionConfigurationResult",
      "asyncReturnType" : "GetFunctionConfigurationResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetFunctionConfigurationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetFunctionConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFunctionConfigurationRequest, GetFunctionConfigurationResult>",
      "authenticated" : true,
      "methodName" : "getFunctionConfiguration"
    },
    "GetPolicy" : {
      "documentation" : "<p>Returns the resource policy associated with the specified Lambda function.</p> <p> If you are using the versioning feature, you can get the resource policy associated with the specific Lambda function version or alias by specifying the version or alias name using the <code>Qualifier</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>For information about adding permissions, see <a>AddPermission</a>.</p> <p>You need permission for the <code>lambda:GetPolicy action.</code> </p>",
      "operationName" : "GetPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "getPolicyRequest",
        "variableType" : "GetPolicyRequest",
        "variableDeclarationType" : "GetPolicyRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetPolicyRequest",
        "variableSetterType" : "GetPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetPolicyResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetPolicyResult",
      "asyncReturnType" : "GetPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPolicyRequest, GetPolicyResult>",
      "authenticated" : true,
      "methodName" : "getPolicy"
    },
    "Invoke" : {
      "documentation" : "<p>Invokes a specific Lambda function.</p> <p>If you are using the versioning feature, you can invoke the specific function version by providing function version or alias name that is pointing to the function version using the <code>Qualifier</code> parameter in the request. If you don't provide the <code>Qualifier</code> parameter, the <code>$LATEST</code> version of the Lambda function is invoked. Invocations occur at least once in response to an event and functions must be idempotent to handle this. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:InvokeFunction</code> action.</p>",
      "operationName" : "Invoke",
      "deprecated" : false,
      "input" : {
        "variableName" : "invokeRequest",
        "variableType" : "InvokeRequest",
        "variableDeclarationType" : "InvokeRequest",
        "documentation" : "<p/>",
        "simpleType" : "InvokeRequest",
        "variableSetterType" : "InvokeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "InvokeResult",
        "documentation" : "<p>Upon success, returns an empty response. Otherwise, throws an exception.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestContentException",
        "documentation" : "<p>The request body could not be parsed as JSON.</p>"
      }, {
        "exceptionName" : "RequestTooLargeException",
        "documentation" : "<p>The request payload exceeded the <code>Invoke</code> request body JSON input limit. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a>. </p>"
      }, {
        "exceptionName" : "UnsupportedMediaTypeException",
        "documentation" : "<p>The content type of the <code>Invoke</code> request body is not JSON.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "EC2UnexpectedException",
        "documentation" : "<p>AWS Lambda received an unexpected EC2 client exception while setting up for the Lambda function.</p>"
      }, {
        "exceptionName" : "SubnetIPAddressLimitReachedException",
        "documentation" : "<p>AWS Lambda was not able to set up VPC access for the Lambda function because one or more configured subnets has no available IP addresses.</p>"
      }, {
        "exceptionName" : "ENILimitReachedException",
        "documentation" : "<p>AWS Lambda was not able to create an Elastic Network Interface (ENI) in the VPC, specified as part of Lambda function configuration, because the limit for network interfaces has been reached.</p>"
      }, {
        "exceptionName" : "EC2ThrottledException",
        "documentation" : "<p>AWS Lambda was throttled by Amazon EC2 during Lambda function initialization using the execution role provided for the Lambda function.</p>"
      }, {
        "exceptionName" : "EC2AccessDeniedException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidSubnetIDException",
        "documentation" : "<p>The Subnet ID provided in the Lambda function VPC configuration is invalid.</p>"
      }, {
        "exceptionName" : "InvalidSecurityGroupIDException",
        "documentation" : "<p>The Security Group ID provided in the Lambda function VPC configuration is invalid.</p>"
      }, {
        "exceptionName" : "InvalidZipFileException",
        "documentation" : "<p>AWS Lambda could not unzip the function zip file.</p>"
      } ],
      "hasBlobMemberAsPayload" : true,
      "syncReturnType" : "InvokeResult",
      "asyncReturnType" : "InvokeResult",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeRequest, InvokeResult>",
      "authenticated" : true,
      "methodName" : "invoke"
    },
    "InvokeAsync" : {
      "documentation" : "<important><p>This API is deprecated. We recommend you use <code>Invoke</code> API (see <a>Invoke</a>).</p> </important> <p>Submits an invocation request to AWS Lambda. Upon receiving the request, Lambda executes the specified function asynchronously. To see the logs generated by the Lambda function execution, see the CloudWatch Logs console.</p> <p>This operation requires permission for the <code>lambda:InvokeFunction</code> action.</p>",
      "operationName" : "InvokeAsync",
      "deprecated" : true,
      "input" : {
        "variableName" : "invokeAsyncRequest",
        "variableType" : "InvokeAsyncRequest",
        "variableDeclarationType" : "InvokeAsyncRequest",
        "documentation" : "<p/>",
        "simpleType" : "InvokeAsyncRequest",
        "variableSetterType" : "InvokeAsyncRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "InvokeAsyncResult",
        "documentation" : "<p>Upon success, it returns empty response. Otherwise, throws an exception.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestContentException",
        "documentation" : "<p>The request body could not be parsed as JSON.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "InvokeAsyncResult",
      "asyncReturnType" : "InvokeAsyncResult",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeAsyncResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeAsyncResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeAsyncRequest, InvokeAsyncResult>",
      "authenticated" : true,
      "methodName" : "invokeAsync"
    },
    "ListAliases" : {
      "documentation" : "<p>Returns list of aliases created for a Lambda function. For each alias, the response includes information such as the alias ARN, description, alias name, and the function version to which it points. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the lambda:ListAliases action.</p>",
      "operationName" : "ListAliases",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAliasesRequest",
        "variableType" : "ListAliasesRequest",
        "variableDeclarationType" : "ListAliasesRequest",
        "documentation" : "",
        "simpleType" : "ListAliasesRequest",
        "variableSetterType" : "ListAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAliasesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListAliasesResult",
      "asyncReturnType" : "ListAliasesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAliasesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAliasesRequest, ListAliasesResult>",
      "authenticated" : true,
      "methodName" : "listAliases"
    },
    "ListEventSourceMappings" : {
      "documentation" : "<p>Returns a list of event source mappings you created using the <code>CreateEventSourceMapping</code> (see <a>CreateEventSourceMapping</a>). </p> <p>For each mapping, the API returns configuration information. You can optionally specify filters to retrieve specific event source mappings.</p> <p>If you are using the versioning feature, you can get list of event source mappings for a specific Lambda function version or an alias as described in the <code>FunctionName</code> parameter. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:ListEventSourceMappings</code> action.</p>",
      "operationName" : "ListEventSourceMappings",
      "deprecated" : false,
      "input" : {
        "variableName" : "listEventSourceMappingsRequest",
        "variableType" : "ListEventSourceMappingsRequest",
        "variableDeclarationType" : "ListEventSourceMappingsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListEventSourceMappingsRequest",
        "variableSetterType" : "ListEventSourceMappingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListEventSourceMappingsResult",
        "documentation" : "<p>Contains a list of event sources (see )</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListEventSourceMappingsResult",
      "asyncReturnType" : "ListEventSourceMappingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventSourceMappingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventSourceMappingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventSourceMappingsRequest, ListEventSourceMappingsResult>",
      "authenticated" : true,
      "methodName" : "listEventSourceMappings"
    },
    "ListFunctions" : {
      "documentation" : "<p>Returns a list of your Lambda functions. For each function, the response includes the function configuration information. You must use <a>GetFunction</a> to retrieve the code for your function.</p> <p>This operation requires permission for the <code>lambda:ListFunctions</code> action.</p> <p>If you are using versioning feature, the response returns list of $LATEST versions of your functions. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p>",
      "operationName" : "ListFunctions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listFunctionsRequest",
        "variableType" : "ListFunctionsRequest",
        "variableDeclarationType" : "ListFunctionsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListFunctionsRequest",
        "variableSetterType" : "ListFunctionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListFunctionsResult",
        "documentation" : "<p>Contains a list of AWS Lambda function configurations (see <a>FunctionConfiguration</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListFunctionsResult",
      "asyncReturnType" : "ListFunctionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListFunctionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListFunctionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFunctionsRequest, ListFunctionsResult>",
      "authenticated" : true,
      "methodName" : "listFunctions"
    },
    "ListVersionsByFunction" : {
      "documentation" : "<p>List all versions of a function. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p>",
      "operationName" : "ListVersionsByFunction",
      "deprecated" : false,
      "input" : {
        "variableName" : "listVersionsByFunctionRequest",
        "variableType" : "ListVersionsByFunctionRequest",
        "variableDeclarationType" : "ListVersionsByFunctionRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListVersionsByFunctionRequest",
        "variableSetterType" : "ListVersionsByFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListVersionsByFunctionResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListVersionsByFunctionResult",
      "asyncReturnType" : "ListVersionsByFunctionResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListVersionsByFunctionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListVersionsByFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVersionsByFunctionRequest, ListVersionsByFunctionResult>",
      "authenticated" : true,
      "methodName" : "listVersionsByFunction"
    },
    "PublishVersion" : {
      "documentation" : "<p>Publishes a version of your function from the current snapshot of $LATEST. That is, AWS Lambda takes a snapshot of the function code and configuration information from $LATEST and publishes a new version. The code and configuration cannot be modified after publication. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p>",
      "operationName" : "PublishVersion",
      "deprecated" : false,
      "input" : {
        "variableName" : "publishVersionRequest",
        "variableType" : "PublishVersionRequest",
        "variableDeclarationType" : "PublishVersionRequest",
        "documentation" : "<p/>",
        "simpleType" : "PublishVersionRequest",
        "variableSetterType" : "PublishVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PublishVersionResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "CodeStorageExceededException",
        "documentation" : "<p>You have exceeded your maximum total code size per account. <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a> </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PublishVersionResult",
      "asyncReturnType" : "PublishVersionResult",
      "asyncFutureType" : "java.util.concurrent.Future<PublishVersionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PublishVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PublishVersionRequest, PublishVersionResult>",
      "authenticated" : true,
      "methodName" : "publishVersion"
    },
    "RemovePermission" : {
      "documentation" : "<p>You can remove individual permissions from an resource policy associated with a Lambda function by providing a statement ID that you provided when you added the permission.</p> <p>If you are using versioning, the permissions you remove are specific to the Lambda function version or alias you specify in the <code>AddPermission</code> request via the <code>Qualifier</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>Note that removal of a permission will cause an active event source to lose permission to the function.</p> <p>You need permission for the <code>lambda:RemovePermission</code> action.</p>",
      "operationName" : "RemovePermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "removePermissionRequest",
        "variableType" : "RemovePermissionRequest",
        "variableDeclarationType" : "RemovePermissionRequest",
        "documentation" : "<p/>",
        "simpleType" : "RemovePermissionRequest",
        "variableSetterType" : "RemovePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemovePermissionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RemovePermissionResult",
      "asyncReturnType" : "RemovePermissionResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemovePermissionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemovePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, RemovePermissionResult>",
      "authenticated" : true,
      "methodName" : "removePermission"
    },
    "UpdateAlias" : {
      "documentation" : "<p>Using this API you can update the function version to which the alias points and the alias description. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the lambda:UpdateAlias action.</p>",
      "operationName" : "UpdateAlias",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateAliasRequest",
        "variableType" : "UpdateAliasRequest",
        "variableDeclarationType" : "UpdateAliasRequest",
        "documentation" : "",
        "simpleType" : "UpdateAliasRequest",
        "variableSetterType" : "UpdateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateAliasResult",
        "documentation" : "<p>Provides configuration information about a Lambda function version alias.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateAliasResult",
      "asyncReturnType" : "UpdateAliasResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAliasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAliasRequest, UpdateAliasResult>",
      "authenticated" : true,
      "methodName" : "updateAlias"
    },
    "UpdateEventSourceMapping" : {
      "documentation" : "<p>You can update an event source mapping. This is useful if you want to change the parameters of the existing mapping without losing your position in the stream. You can change which function will receive the stream records, but to change the stream itself, you must create a new mapping.</p> <p>If you are using the versioning feature, you can update the event source mapping to map to a specific Lambda function version or alias as described in the <code>FunctionName</code> parameter. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>If you disable the event source mapping, AWS Lambda stops polling. If you enable again, it will resume polling from the time it had stopped polling, so you don't lose processing of any records. However, if you delete event source mapping and create it again, it will reset.</p> <p>This operation requires permission for the <code>lambda:UpdateEventSourceMapping</code> action.</p>",
      "operationName" : "UpdateEventSourceMapping",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateEventSourceMappingRequest",
        "variableType" : "UpdateEventSourceMappingRequest",
        "variableDeclarationType" : "UpdateEventSourceMappingRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateEventSourceMappingRequest",
        "variableSetterType" : "UpdateEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateEventSourceMappingResult",
        "documentation" : "<p>Describes mapping between an Amazon Kinesis stream and a Lambda function.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateEventSourceMappingResult",
      "asyncReturnType" : "UpdateEventSourceMappingResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEventSourceMappingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEventSourceMappingRequest, UpdateEventSourceMappingResult>",
      "authenticated" : true,
      "methodName" : "updateEventSourceMapping"
    },
    "UpdateFunctionCode" : {
      "documentation" : "<p>Updates the code for the specified Lambda function. This operation must only be used on an existing Lambda function and cannot be used to update the function configuration.</p> <p>If you are using the versioning feature, note this API will always update the $LATEST version of your Lambda function. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:UpdateFunctionCode</code> action.</p>",
      "operationName" : "UpdateFunctionCode",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateFunctionCodeRequest",
        "variableType" : "UpdateFunctionCodeRequest",
        "variableDeclarationType" : "UpdateFunctionCodeRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateFunctionCodeRequest",
        "variableSetterType" : "UpdateFunctionCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateFunctionCodeResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "CodeStorageExceededException",
        "documentation" : "<p>You have exceeded your maximum total code size per account. <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a> </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateFunctionCodeResult",
      "asyncReturnType" : "UpdateFunctionCodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFunctionCodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFunctionCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFunctionCodeRequest, UpdateFunctionCodeResult>",
      "authenticated" : true,
      "methodName" : "updateFunctionCode"
    },
    "UpdateFunctionConfiguration" : {
      "documentation" : "<p>Updates the configuration parameters for the specified Lambda function by using the values provided in the request. You provide only the parameters you want to change. This operation must only be used on an existing Lambda function and cannot be used to update the function's code.</p> <p>If you are using the versioning feature, note this API will always update the $LATEST version of your Lambda function. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:UpdateFunctionConfiguration</code> action.</p>",
      "operationName" : "UpdateFunctionConfiguration",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateFunctionConfigurationRequest",
        "variableType" : "UpdateFunctionConfigurationRequest",
        "variableDeclarationType" : "UpdateFunctionConfigurationRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateFunctionConfigurationRequest",
        "variableSetterType" : "UpdateFunctionConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateFunctionConfigurationResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateFunctionConfigurationResult",
      "asyncReturnType" : "UpdateFunctionConfigurationResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFunctionConfigurationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFunctionConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFunctionConfigurationRequest, UpdateFunctionConfigurationResult>",
      "authenticated" : true,
      "methodName" : "updateFunctionConfiguration"
    }
  },
  "shapes" : {
    "DeleteAliasResult" : {
      "c2jName" : "DeleteAliasResult",
      "documentation" : null,
      "shapeName" : "DeleteAliasResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "deleteAliasResult",
        "variableType" : "DeleteAliasResult",
        "variableDeclarationType" : "DeleteAliasResult",
        "documentation" : null,
        "simpleType" : "DeleteAliasResult",
        "variableSetterType" : "DeleteAliasResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ListFunctionsResult" : {
      "c2jName" : "ListFunctionsResponse",
      "documentation" : "<p>Contains a list of AWS Lambda function configurations (see <a>FunctionConfiguration</a>.</p>",
      "shapeName" : "ListFunctionsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A string, present if there are more functions.</p>",
        "name" : "NextMarker",
        "c2jName" : "NextMarker",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "nextMarker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A string, present if there are more functions.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextMarker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextMarker",
          "marshallLocationName" : "NextMarker",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A string, present if there are more functions.</p>\n@param nextMarker A string, present if there are more functions.*/",
        "getterDocumentation" : "/**<p>A string, present if there are more functions.</p>\n@return A string, present if there are more functions.*/",
        "fluentSetterDocumentation" : "/**<p>A string, present if there are more functions.</p>\n@param nextMarker A string, present if there are more functions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A string, present if there are more functions.</p>\n@param nextMarker A string, present if there are more functions.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list of Lambda functions.</p>",
        "name" : "Functions",
        "c2jName" : "Functions",
        "c2jShape" : "FunctionList",
        "variable" : {
          "variableName" : "functions",
          "variableType" : "java.util.List<FunctionConfiguration>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FunctionConfiguration>",
          "documentation" : "<p>A list of Lambda functions.</p>",
          "simpleType" : "List<FunctionConfiguration>",
          "variableSetterType" : "java.util.Collection<FunctionConfiguration>"
        },
        "setterModel" : {
          "variableName" : "functions",
          "variableType" : "java.util.List<FunctionConfiguration>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FunctionConfiguration>",
          "documentation" : "",
          "simpleType" : "List<FunctionConfiguration>",
          "variableSetterType" : "java.util.Collection<FunctionConfiguration>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<FunctionConfiguration>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Functions",
          "marshallLocationName" : "Functions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "FunctionConfiguration",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "FunctionConfiguration",
            "variable" : {
              "variableName" : "member",
              "variableType" : "FunctionConfiguration",
              "variableDeclarationType" : "FunctionConfiguration",
              "documentation" : "",
              "simpleType" : "FunctionConfiguration",
              "variableSetterType" : "FunctionConfiguration"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "FunctionConfiguration",
              "variableDeclarationType" : "FunctionConfiguration",
              "documentation" : "",
              "simpleType" : "FunctionConfiguration",
              "variableSetterType" : "FunctionConfiguration"
            },
            "getterModel" : {
              "returnType" : "FunctionConfiguration",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "FunctionConfiguration",
          "templateType" : "java.util.List<FunctionConfiguration>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<FunctionConfiguration>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of Lambda functions.</p>\n@param functions A list of Lambda functions.*/",
        "getterDocumentation" : "/**<p>A list of Lambda functions.</p>\n@return A list of Lambda functions.*/",
        "fluentSetterDocumentation" : "/**<p>A list of Lambda functions.</p>\n@param functions A list of Lambda functions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of Lambda functions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFunctions(java.util.Collection)} or {@link #withFunctions(java.util.Collection)} if you want to override the existing values.</p>\n@param functions A list of Lambda functions.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listFunctionsResult",
        "variableType" : "ListFunctionsResult",
        "variableDeclarationType" : "ListFunctionsResult",
        "documentation" : null,
        "simpleType" : "ListFunctionsResult",
        "variableSetterType" : "ListFunctionsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Functions" : {
          "documentation" : "<p>A list of Lambda functions.</p>",
          "name" : "Functions",
          "c2jName" : "Functions",
          "c2jShape" : "FunctionList",
          "variable" : {
            "variableName" : "functions",
            "variableType" : "java.util.List<FunctionConfiguration>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FunctionConfiguration>",
            "documentation" : "<p>A list of Lambda functions.</p>",
            "simpleType" : "List<FunctionConfiguration>",
            "variableSetterType" : "java.util.Collection<FunctionConfiguration>"
          },
          "setterModel" : {
            "variableName" : "functions",
            "variableType" : "java.util.List<FunctionConfiguration>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FunctionConfiguration>",
            "documentation" : "",
            "simpleType" : "List<FunctionConfiguration>",
            "variableSetterType" : "java.util.Collection<FunctionConfiguration>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<FunctionConfiguration>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Functions",
            "marshallLocationName" : "Functions",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "FunctionConfiguration",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "FunctionConfiguration",
              "variable" : {
                "variableName" : "member",
                "variableType" : "FunctionConfiguration",
                "variableDeclarationType" : "FunctionConfiguration",
                "documentation" : "",
                "simpleType" : "FunctionConfiguration",
                "variableSetterType" : "FunctionConfiguration"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "FunctionConfiguration",
                "variableDeclarationType" : "FunctionConfiguration",
                "documentation" : "",
                "simpleType" : "FunctionConfiguration",
                "variableSetterType" : "FunctionConfiguration"
              },
              "getterModel" : {
                "returnType" : "FunctionConfiguration",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "FunctionConfiguration",
            "templateType" : "java.util.List<FunctionConfiguration>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<FunctionConfiguration>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of Lambda functions.</p>\n@param functions A list of Lambda functions.*/",
          "getterDocumentation" : "/**<p>A list of Lambda functions.</p>\n@return A list of Lambda functions.*/",
          "fluentSetterDocumentation" : "/**<p>A list of Lambda functions.</p>\n@param functions A list of Lambda functions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of Lambda functions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFunctions(java.util.Collection)} or {@link #withFunctions(java.util.Collection)} if you want to override the existing values.</p>\n@param functions A list of Lambda functions.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "NextMarker" : {
          "documentation" : "<p>A string, present if there are more functions.</p>",
          "name" : "NextMarker",
          "c2jName" : "NextMarker",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "nextMarker",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>A string, present if there are more functions.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextMarker",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NextMarker",
            "marshallLocationName" : "NextMarker",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A string, present if there are more functions.</p>\n@param nextMarker A string, present if there are more functions.*/",
          "getterDocumentation" : "/**<p>A string, present if there are more functions.</p>\n@return A string, present if there are more functions.*/",
          "fluentSetterDocumentation" : "/**<p>A string, present if there are more functions.</p>\n@param nextMarker A string, present if there are more functions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A string, present if there are more functions.</p>\n@param nextMarker A string, present if there are more functions.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "InvocationType" : {
      "c2jName" : "InvocationType",
      "documentation" : "",
      "shapeName" : "InvocationType",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "Event",
        "value" : "Event"
      }, {
        "name" : "RequestResponse",
        "value" : "RequestResponse"
      }, {
        "name" : "DryRun",
        "value" : "DryRun"
      } ],
      "variable" : {
        "variableName" : "invocationType",
        "variableType" : "InvocationType",
        "variableDeclarationType" : "InvocationType",
        "documentation" : null,
        "simpleType" : "InvocationType",
        "variableSetterType" : "InvocationType"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "VpcConfigResponse" : {
      "c2jName" : "VpcConfigResponse",
      "documentation" : "<p>VPC configuration associated with your Lambda function.</p>",
      "shapeName" : "VpcConfigResponse",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A list of subnet IDs associated with the Lambda function.</p>",
        "name" : "SubnetIds",
        "c2jName" : "SubnetIds",
        "c2jShape" : "SubnetIds",
        "variable" : {
          "variableName" : "subnetIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>A list of subnet IDs associated with the Lambda function.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "subnetIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SubnetIds",
          "marshallLocationName" : "SubnetIds",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "SubnetId",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of subnet IDs associated with the Lambda function.</p>\n@param subnetIds A list of subnet IDs associated with the Lambda function.*/",
        "getterDocumentation" : "/**<p>A list of subnet IDs associated with the Lambda function.</p>\n@return A list of subnet IDs associated with the Lambda function.*/",
        "fluentSetterDocumentation" : "/**<p>A list of subnet IDs associated with the Lambda function.</p>\n@param subnetIds A list of subnet IDs associated with the Lambda function.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of subnet IDs associated with the Lambda function.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSubnetIds(java.util.Collection)} or {@link #withSubnetIds(java.util.Collection)} if you want to override the existing values.</p>\n@param subnetIds A list of subnet IDs associated with the Lambda function.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list of security group IDs associated with the Lambda function.</p>",
        "name" : "SecurityGroupIds",
        "c2jName" : "SecurityGroupIds",
        "c2jShape" : "SecurityGroupIds",
        "variable" : {
          "variableName" : "securityGroupIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>A list of security group IDs associated with the Lambda function.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "securityGroupIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SecurityGroupIds",
          "marshallLocationName" : "SecurityGroupIds",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "SecurityGroupId",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of security group IDs associated with the Lambda function.</p>\n@param securityGroupIds A list of security group IDs associated with the Lambda function.*/",
        "getterDocumentation" : "/**<p>A list of security group IDs associated with the Lambda function.</p>\n@return A list of security group IDs associated with the Lambda function.*/",
        "fluentSetterDocumentation" : "/**<p>A list of security group IDs associated with the Lambda function.</p>\n@param securityGroupIds A list of security group IDs associated with the Lambda function.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of security group IDs associated with the Lambda function.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSecurityGroupIds(java.util.Collection)} or {@link #withSecurityGroupIds(java.util.Collection)} if you want to override the existing values.</p>\n@param securityGroupIds A list of security group IDs associated with the Lambda function.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The VPC ID associated with you Lambda function.</p>",
[...]
