{
  "metadata" : {
    "apiVersion" : "2015-05-28",
    "protocol" : "rest-json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS IoT</fullname> <p>AWS IoT provides secure, bi-directional communication between Internet-connected things (such as sensors, actuators, embedded devices, or smart appliances) and the AWS cloud. You can discover your custom IoT-Data endpoint to communicate with, configure rules for data processing and integration with other services, organize resources associated with each thing (Thing Registry), configure logging, and create and manage policies and credentials to authenticate things.</p> <p>For more information about how AWS IoT works, see the <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-how-it-works.html\">Developer Guide</a>.</p>",
    "defaultEndpoint" : "https://iot.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "iot.us-east-1.amazonaws.com",
    "syncInterface" : "AWSIot",
    "syncClient" : "AWSIotClient",
    "asyncInterface" : "AWSIotAsync",
    "asyncClient" : "AWSIotAsyncClient",
    "packageName" : "com.amazonaws.services.iot",
    "packagePath" : "com/amazonaws/services/iot",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT",
    "hasApiWithStreamInput" : false,
    "contentType" : "",
    "jsonVersion" : "1.1",
    "endpointPrefix" : "iot",
    "signingName" : "execute-api",
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "syncClientBuilderClassName" : "AWSIotClientBuilder",
    "asyncClientBuilderClassName" : "AWSIotAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSIotModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.iot.smoketests",
    "serviceName" : "AWS IoT",
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "AcceptCertificateTransfer" : {
      "documentation" : "<p>Accepts a pending certificate transfer. The default state of the certificate is INACTIVE.</p> <p>To check for pending certificate transfers, call <a>ListCertificates</a> to enumerate your certificates.</p>",
      "operationName" : "AcceptCertificateTransfer",
      "deprecated" : false,
      "input" : {
        "variableName" : "acceptCertificateTransferRequest",
        "variableType" : "AcceptCertificateTransferRequest",
        "variableDeclarationType" : "AcceptCertificateTransferRequest",
        "documentation" : "<p>The input for the AcceptCertificateTransfer operation.</p>",
        "simpleType" : "AcceptCertificateTransferRequest",
        "variableSetterType" : "AcceptCertificateTransferRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AcceptCertificateTransferResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "TransferAlreadyCompletedException",
        "documentation" : "<p>You can't revert the certificate transfer because the transfer is already complete.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AcceptCertificateTransferResult",
      "asyncReturnType" : "AcceptCertificateTransferResult",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptCertificateTransferResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptCertificateTransferResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptCertificateTransferRequest, AcceptCertificateTransferResult>",
      "authenticated" : true,
      "methodName" : "acceptCertificateTransfer"
    },
    "AttachPrincipalPolicy" : {
      "documentation" : "<p>Attaches the specified policy to the specified principal (certificate or other credential).</p>",
      "operationName" : "AttachPrincipalPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "attachPrincipalPolicyRequest",
        "variableType" : "AttachPrincipalPolicyRequest",
        "variableDeclarationType" : "AttachPrincipalPolicyRequest",
        "documentation" : "<p>The input for the AttachPrincipalPolicy operation.</p>",
        "simpleType" : "AttachPrincipalPolicyRequest",
        "variableSetterType" : "AttachPrincipalPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AttachPrincipalPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The number of attached entities exceeds the limit.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AttachPrincipalPolicyResult",
      "asyncReturnType" : "AttachPrincipalPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<AttachPrincipalPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AttachPrincipalPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachPrincipalPolicyRequest, AttachPrincipalPolicyResult>",
      "authenticated" : true,
      "methodName" : "attachPrincipalPolicy"
    },
    "AttachThingPrincipal" : {
      "documentation" : "<p>Attaches the specified principal to the specified thing.</p>",
      "operationName" : "AttachThingPrincipal",
      "deprecated" : false,
      "input" : {
        "variableName" : "attachThingPrincipalRequest",
        "variableType" : "AttachThingPrincipalRequest",
        "variableDeclarationType" : "AttachThingPrincipalRequest",
        "documentation" : "<p>The input for the AttachThingPrincipal operation.</p>",
        "simpleType" : "AttachThingPrincipalRequest",
        "variableSetterType" : "AttachThingPrincipalRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AttachThingPrincipalResult",
        "documentation" : "<p>The output from the AttachThingPrincipal operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AttachThingPrincipalResult",
      "asyncReturnType" : "AttachThingPrincipalResult",
      "asyncFutureType" : "java.util.concurrent.Future<AttachThingPrincipalResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AttachThingPrincipalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachThingPrincipalRequest, AttachThingPrincipalResult>",
      "authenticated" : true,
      "methodName" : "attachThingPrincipal"
    },
    "CancelCertificateTransfer" : {
      "documentation" : "<p>Cancels a pending transfer for the specified certificate.</p> <p><b>Note</b> Only the transfer source account can use this operation to cancel a transfer. (Transfer destinations can use <a>RejectCertificateTransfer</a> instead.) After transfer, AWS IoT returns the certificate to the source account in the INACTIVE state. After the destination account has accepted the transfer, the transfer cannot be cancelled.</p> <p>After a certificate transfer is cancelled, the status of the certificate changes from PENDING_TRANSFER to INACTIVE.</p>",
      "operationName" : "CancelCertificateTransfer",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelCertificateTransferRequest",
        "variableType" : "CancelCertificateTransferRequest",
        "variableDeclarationType" : "CancelCertificateTransferRequest",
        "documentation" : "<p>The input for the CancelCertificateTransfer operation.</p>",
        "simpleType" : "CancelCertificateTransferRequest",
        "variableSetterType" : "CancelCertificateTransferRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelCertificateTransferResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "TransferAlreadyCompletedException",
        "documentation" : "<p>You can't revert the certificate transfer because the transfer is already complete.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CancelCertificateTransferResult",
      "asyncReturnType" : "CancelCertificateTransferResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelCertificateTransferResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelCertificateTransferResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelCertificateTransferRequest, CancelCertificateTransferResult>",
      "authenticated" : true,
      "methodName" : "cancelCertificateTransfer"
    },
    "CreateCertificateFromCsr" : {
      "documentation" : "<p>Creates an X.509 certificate using the specified certificate signing request.</p> <p><b>Note</b> Reusing the same certificate signing request (CSR) results in a distinct certificate.</p> <p>You can create multiple certificates in a batch by creating a directory, copying multiple .csr files into that directory, and then specifying that directory on the command line. The following commands show how to create a batch of certificates given a batch of CSRs. </p> <p>Assuming a set of CSRs are located inside of the directory my-csr-directory:</p> <p>On Linux and OS X, the command is:</p> <p>$ ls my-csr-directory/ | xargs -I {} aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/{}</p> <p> This command lists all of the CSRs in my-csr-directory and pipes each CSR file name to the aws iot create-certificate-from-csr AWS CLI command to create a certificate for the corresponding CSR. </p> <p> The aws iot create-certificate-from-csr part of the command can also be run in parallel to speed up the certificate creation process: </p> <p> $ ls my-csr-directory/ | xargs -P 10 -I {} aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/{} </p> <p> On Windows PowerShell, the command to create certificates for all CSRs in my-csr-directory is: </p> <p> &gt; ls -Name my-csr-directory | %{aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/$_} </p> <p> On a Windows command prompt, the command to create certificates for all CSRs in my-csr-directory is: </p> <p> &gt; forfiles /p my-csr-directory /c \"cmd /c aws iot create-certificate-from-csr --certificate-signing-request file://@path\"</p>",
      "operationName" : "CreateCertificateFromCsr",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCertificateFromCsrRequest",
        "variableType" : "CreateCertificateFromCsrRequest",
        "variableDeclarationType" : "CreateCertificateFromCsrRequest",
        "documentation" : "<p>The input for the CreateCertificateFromCsr operation.</p>",
        "simpleType" : "CreateCertificateFromCsrRequest",
        "variableSetterType" : "CreateCertificateFromCsrRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateCertificateFromCsrResult",
        "documentation" : "<p>The output from the CreateCertificateFromCsr operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateCertificateFromCsrResult",
      "asyncReturnType" : "CreateCertificateFromCsrResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCertificateFromCsrResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCertificateFromCsrResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCertificateFromCsrRequest, CreateCertificateFromCsrResult>",
      "authenticated" : true,
      "methodName" : "createCertificateFromCsr"
    },
    "CreateKeysAndCertificate" : {
      "documentation" : "<p>Creates a 2048-bit RSA key pair and issues an X.509 certificate using the issued public key.</p> <p><b>Note</b> This is the only time AWS IoT issues the private key for this certificate, so it is important to keep it in a secure location.</p>",
      "operationName" : "CreateKeysAndCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "createKeysAndCertificateRequest",
        "variableType" : "CreateKeysAndCertificateRequest",
        "variableDeclarationType" : "CreateKeysAndCertificateRequest",
        "documentation" : "<p>The input for the CreateKeysAndCertificate operation.</p>",
        "simpleType" : "CreateKeysAndCertificateRequest",
        "variableSetterType" : "CreateKeysAndCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateKeysAndCertificateResult",
        "documentation" : "<p>The output of the CreateKeysAndCertificate operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateKeysAndCertificateResult",
      "asyncReturnType" : "CreateKeysAndCertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKeysAndCertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKeysAndCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKeysAndCertificateRequest, CreateKeysAndCertificateResult>",
      "authenticated" : true,
      "methodName" : "createKeysAndCertificate"
    },
    "CreatePolicy" : {
      "documentation" : "<p>Creates an AWS IoT policy.</p> <p>The created policy is the default version for the policy. This operation creates a policy version with a version identifier of <b>1</b> and sets <b>1</b> as the policy's default version.</p>",
      "operationName" : "CreatePolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPolicyRequest",
        "variableType" : "CreatePolicyRequest",
        "variableDeclarationType" : "CreatePolicyRequest",
        "documentation" : "<p>The input for the CreatePolicy operation.</p>",
        "simpleType" : "CreatePolicyRequest",
        "variableSetterType" : "CreatePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePolicyResult",
        "documentation" : "<p>The output from the CreatePolicy operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "MalformedPolicyException",
        "documentation" : "<p>The policy documentation is not valid.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreatePolicyResult",
      "asyncReturnType" : "CreatePolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePolicyRequest, CreatePolicyResult>",
      "authenticated" : true,
      "methodName" : "createPolicy"
    },
    "CreatePolicyVersion" : {
      "documentation" : "<p>Creates a new version of the specified AWS IoT policy. To update a policy, create a new policy version. A managed policy can have up to five versions. If the policy has five versions, you must use <a>DeletePolicyVersion</a> to delete an existing version before you create a new one.</p> <p>Optionally, you can set the new version as the policy's default version. The default version is the operative version (that is, the version that is in effect for the certificates to which the policy is attached).</p>",
      "operationName" : "CreatePolicyVersion",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPolicyVersionRequest",
        "variableType" : "CreatePolicyVersionRequest",
        "variableDeclarationType" : "CreatePolicyVersionRequest",
        "documentation" : "<p>The input for the CreatePolicyVersion operation.</p>",
        "simpleType" : "CreatePolicyVersionRequest",
        "variableSetterType" : "CreatePolicyVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePolicyVersionResult",
        "documentation" : "<p>The output of the CreatePolicyVersion operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "MalformedPolicyException",
        "documentation" : "<p>The policy documentation is not valid.</p>"
      }, {
        "exceptionName" : "VersionsLimitExceededException",
        "documentation" : "<p>The number of policy versions exceeds the limit.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreatePolicyVersionResult",
      "asyncReturnType" : "CreatePolicyVersionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePolicyVersionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePolicyVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePolicyVersionRequest, CreatePolicyVersionResult>",
      "authenticated" : true,
      "methodName" : "createPolicyVersion"
    },
    "CreateThing" : {
      "documentation" : "<p>Creates a thing record in the thing registry.</p>",
      "operationName" : "CreateThing",
      "deprecated" : false,
      "input" : {
        "variableName" : "createThingRequest",
        "variableType" : "CreateThingRequest",
        "variableDeclarationType" : "CreateThingRequest",
        "documentation" : "<p>The input for the CreateThing operation.</p>",
        "simpleType" : "CreateThingRequest",
        "variableSetterType" : "CreateThingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateThingResult",
        "documentation" : "<p>The output of the CreateThing operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateThingResult",
      "asyncReturnType" : "CreateThingResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateThingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateThingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateThingRequest, CreateThingResult>",
      "authenticated" : true,
      "methodName" : "createThing"
    },
    "CreateThingType" : {
      "documentation" : "<p>Creates a new thing type.</p>",
      "operationName" : "CreateThingType",
      "deprecated" : false,
      "input" : {
        "variableName" : "createThingTypeRequest",
        "variableType" : "CreateThingTypeRequest",
        "variableDeclarationType" : "CreateThingTypeRequest",
        "documentation" : "<p>The input for the CreateThingType operation.</p>",
        "simpleType" : "CreateThingTypeRequest",
        "variableSetterType" : "CreateThingTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateThingTypeResult",
        "documentation" : "<p>The output of the CreateThingType operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateThingTypeResult",
      "asyncReturnType" : "CreateThingTypeResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateThingTypeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateThingTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateThingTypeRequest, CreateThingTypeResult>",
      "authenticated" : true,
      "methodName" : "createThingType"
    },
    "CreateTopicRule" : {
      "documentation" : "<p>Creates a rule. Creating rules is an administrator-level action. Any user who has permission to create rules will be able to access data processed by the rule.</p>",
      "operationName" : "CreateTopicRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTopicRuleRequest",
        "variableType" : "CreateTopicRuleRequest",
        "variableDeclarationType" : "CreateTopicRuleRequest",
        "documentation" : "<p>The input for the CreateTopicRule operation.</p>",
        "simpleType" : "CreateTopicRuleRequest",
        "variableSetterType" : "CreateTopicRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTopicRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "SqlParseException",
        "documentation" : "<p>The Rule-SQL expression can't be parsed correctly.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateTopicRuleResult",
      "asyncReturnType" : "CreateTopicRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTopicRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTopicRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTopicRuleRequest, CreateTopicRuleResult>",
      "authenticated" : true,
      "methodName" : "createTopicRule"
    },
    "DeleteCACertificate" : {
      "documentation" : "<p>Deletes a registered CA certificate.</p>",
      "operationName" : "DeleteCACertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCACertificateRequest",
        "variableType" : "DeleteCACertificateRequest",
        "variableDeclarationType" : "DeleteCACertificateRequest",
        "documentation" : "<p>Input for the DeleteCACertificate operation.</p>",
        "simpleType" : "DeleteCACertificateRequest",
        "variableSetterType" : "DeleteCACertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteCACertificateResult",
        "documentation" : "<p>The output for the DeleteCACertificate operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "CertificateStateException",
        "documentation" : "<p>The certificate operation is not allowed.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteCACertificateResult",
      "asyncReturnType" : "DeleteCACertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCACertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCACertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCACertificateRequest, DeleteCACertificateResult>",
      "authenticated" : true,
      "methodName" : "deleteCACertificate"
    },
    "DeleteCertificate" : {
      "documentation" : "<p>Deletes the specified certificate.</p> <p>A certificate cannot be deleted if it has a policy attached to it or if its status is set to ACTIVE. To delete a certificate, first use the <a>DetachPrincipalPolicy</a> API to detach all policies. Next, use the <a>UpdateCertificate</a> API to set the certificate to the INACTIVE status.</p>",
      "operationName" : "DeleteCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCertificateRequest",
        "variableType" : "DeleteCertificateRequest",
        "variableDeclarationType" : "DeleteCertificateRequest",
        "documentation" : "<p>The input for the DeleteCertificate operation.</p>",
        "simpleType" : "DeleteCertificateRequest",
        "variableSetterType" : "DeleteCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteCertificateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CertificateStateException",
        "documentation" : "<p>The certificate operation is not allowed.</p>"
      }, {
        "exceptionName" : "DeleteConflictException",
        "documentation" : "<p>You can't delete the resource because it is attached to one or more resources.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteCertificateResult",
      "asyncReturnType" : "DeleteCertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCertificateRequest, DeleteCertificateResult>",
      "authenticated" : true,
      "methodName" : "deleteCertificate"
    },
    "DeletePolicy" : {
      "documentation" : "<p>Deletes the specified policy.</p> <p>A policy cannot be deleted if it has non-default versions or it is attached to any certificate.</p> <p>To delete a policy, use the DeletePolicyVersion API to delete all non-default versions of the policy; use the DetachPrincipalPolicy API to detach the policy from any certificate; and then use the DeletePolicy API to delete the policy.</p> <p>When a policy is deleted using DeletePolicy, its default version is deleted with it.</p>",
      "operationName" : "DeletePolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "deletePolicyRequest",
        "variableType" : "DeletePolicyRequest",
        "variableDeclarationType" : "DeletePolicyRequest",
        "documentation" : "<p>The input for the DeletePolicy operation.</p>",
        "simpleType" : "DeletePolicyRequest",
        "variableSetterType" : "DeletePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeletePolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DeleteConflictException",
        "documentation" : "<p>You can't delete the resource because it is attached to one or more resources.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeletePolicyResult",
      "asyncReturnType" : "DeletePolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePolicyRequest, DeletePolicyResult>",
      "authenticated" : true,
      "methodName" : "deletePolicy"
    },
    "DeletePolicyVersion" : {
      "documentation" : "<p>Deletes the specified version of the specified policy. You cannot delete the default version of a policy using this API. To delete the default version of a policy, use <a>DeletePolicy</a>. To find out which version of a policy is marked as the default version, use ListPolicyVersions.</p>",
      "operationName" : "DeletePolicyVersion",
      "deprecated" : false,
      "input" : {
        "variableName" : "deletePolicyVersionRequest",
        "variableType" : "DeletePolicyVersionRequest",
        "variableDeclarationType" : "DeletePolicyVersionRequest",
        "documentation" : "<p>The input for the DeletePolicyVersion operation.</p>",
        "simpleType" : "DeletePolicyVersionRequest",
        "variableSetterType" : "DeletePolicyVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeletePolicyVersionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DeleteConflictException",
        "documentation" : "<p>You can't delete the resource because it is attached to one or more resources.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeletePolicyVersionResult",
      "asyncReturnType" : "DeletePolicyVersionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePolicyVersionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePolicyVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePolicyVersionRequest, DeletePolicyVersionResult>",
      "authenticated" : true,
      "methodName" : "deletePolicyVersion"
    },
    "DeleteRegistrationCode" : {
      "documentation" : "<p>Deletes a CA certificate registration code.</p>",
      "operationName" : "DeleteRegistrationCode",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRegistrationCodeRequest",
        "variableType" : "DeleteRegistrationCodeRequest",
        "variableDeclarationType" : "DeleteRegistrationCodeRequest",
        "documentation" : "<p>The input for the DeleteRegistrationCode operation.</p>",
        "simpleType" : "DeleteRegistrationCodeRequest",
        "variableSetterType" : "DeleteRegistrationCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRegistrationCodeResult",
        "documentation" : "<p>The output for the DeleteRegistrationCode operation. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteRegistrationCodeResult",
      "asyncReturnType" : "DeleteRegistrationCodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRegistrationCodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRegistrationCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRegistrationCodeRequest, DeleteRegistrationCodeResult>",
      "authenticated" : true,
      "methodName" : "deleteRegistrationCode"
    },
    "DeleteThing" : {
      "documentation" : "<p>Deletes the specified thing.</p>",
      "operationName" : "DeleteThing",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteThingRequest",
        "variableType" : "DeleteThingRequest",
        "variableDeclarationType" : "DeleteThingRequest",
        "documentation" : "<p>The input for the DeleteThing operation.</p>",
        "simpleType" : "DeleteThingRequest",
        "variableSetterType" : "DeleteThingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteThingResult",
        "documentation" : "<p>The output of the DeleteThing operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "VersionConflictException",
        "documentation" : "<p>An exception thrown when the version of a thing passed to a command is different than the version specified with the --version parameter. </p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteThingResult",
      "asyncReturnType" : "DeleteThingResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteThingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteThingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteThingRequest, DeleteThingResult>",
      "authenticated" : true,
      "methodName" : "deleteThing"
    },
    "DeleteThingType" : {
      "documentation" : "<p>Deletes the specified thing type . You cannot delete a thing type if it has things associated with it. To delete a thing type, first mark it as deprecated by calling <a>DeprecateThingType</a>, then remove any associated things by calling <a>UpdateThing</a> to change the thing type on any associated thing, and finally use <a>DeleteThingType</a> to delete the thing type.</p>",
      "operationName" : "DeleteThingType",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteThingTypeRequest",
        "variableType" : "DeleteThingTypeRequest",
        "variableDeclarationType" : "DeleteThingTypeRequest",
        "documentation" : "<p>The input for the DeleteThingType operation.</p>",
        "simpleType" : "DeleteThingTypeRequest",
        "variableSetterType" : "DeleteThingTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteThingTypeResult",
        "documentation" : "<p>The output for the DeleteThingType operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteThingTypeResult",
      "asyncReturnType" : "DeleteThingTypeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteThingTypeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteThingTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteThingTypeRequest, DeleteThingTypeResult>",
      "authenticated" : true,
      "methodName" : "deleteThingType"
    },
    "DeleteTopicRule" : {
      "documentation" : "<p>Deletes the specified rule.</p>",
      "operationName" : "DeleteTopicRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTopicRuleRequest",
        "variableType" : "DeleteTopicRuleRequest",
        "variableDeclarationType" : "DeleteTopicRuleRequest",
        "documentation" : "<p>The input for the DeleteTopicRule operation.</p>",
        "simpleType" : "DeleteTopicRuleRequest",
        "variableSetterType" : "DeleteTopicRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTopicRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteTopicRuleResult",
      "asyncReturnType" : "DeleteTopicRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTopicRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTopicRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTopicRuleRequest, DeleteTopicRuleResult>",
      "authenticated" : true,
      "methodName" : "deleteTopicRule"
    },
    "DeprecateThingType" : {
      "documentation" : "<p>Deprecates a thing type. You can not associate new things with deprecated thing type.</p>",
      "operationName" : "DeprecateThingType",
      "deprecated" : false,
      "input" : {
        "variableName" : "deprecateThingTypeRequest",
        "variableType" : "DeprecateThingTypeRequest",
        "variableDeclarationType" : "DeprecateThingTypeRequest",
        "documentation" : "<p>The input for the DeprecateThingType operation.</p>",
        "simpleType" : "DeprecateThingTypeRequest",
        "variableSetterType" : "DeprecateThingTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeprecateThingTypeResult",
        "documentation" : "<p>The output for the DeprecateThingType operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeprecateThingTypeResult",
      "asyncReturnType" : "DeprecateThingTypeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeprecateThingTypeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeprecateThingTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeprecateThingTypeRequest, DeprecateThingTypeResult>",
      "authenticated" : true,
      "methodName" : "deprecateThingType"
    },
    "DescribeCACertificate" : {
      "documentation" : "<p>Describes a registered CA certificate.</p>",
      "operationName" : "DescribeCACertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCACertificateRequest",
        "variableType" : "DescribeCACertificateRequest",
        "variableDeclarationType" : "DescribeCACertificateRequest",
        "documentation" : "<p>The input for the DescribeCACertificate operation.</p>",
        "simpleType" : "DescribeCACertificateRequest",
        "variableSetterType" : "DescribeCACertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCACertificateResult",
        "documentation" : "<p>The output from the DescribeCACertificate operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeCACertificateResult",
      "asyncReturnType" : "DescribeCACertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCACertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCACertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCACertificateRequest, DescribeCACertificateResult>",
      "authenticated" : true,
      "methodName" : "describeCACertificate"
    },
    "DescribeCertificate" : {
      "documentation" : "<p>Gets information about the specified certificate.</p>",
      "operationName" : "DescribeCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCertificateRequest",
        "variableType" : "DescribeCertificateRequest",
        "variableDeclarationType" : "DescribeCertificateRequest",
        "documentation" : "<p>The input for the DescribeCertificate operation.</p>",
        "simpleType" : "DescribeCertificateRequest",
        "variableSetterType" : "DescribeCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCertificateResult",
        "documentation" : "<p>The output of the DescribeCertificate operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeCertificateResult",
      "asyncReturnType" : "DescribeCertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCertificateRequest, DescribeCertificateResult>",
      "authenticated" : true,
      "methodName" : "describeCertificate"
    },
    "DescribeEndpoint" : {
      "documentation" : "<p>Returns a unique endpoint specific to the AWS account making the call.</p>",
      "operationName" : "DescribeEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEndpointRequest",
        "variableType" : "DescribeEndpointRequest",
        "variableDeclarationType" : "DescribeEndpointRequest",
        "documentation" : "<p>The input for the DescribeEndpoint operation.</p>",
        "simpleType" : "DescribeEndpointRequest",
        "variableSetterType" : "DescribeEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEndpointResult",
        "documentation" : "<p>The output from the DescribeEndpoint operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeEndpointResult",
      "asyncReturnType" : "DescribeEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointRequest, DescribeEndpointResult>",
      "authenticated" : true,
      "methodName" : "describeEndpoint"
    },
    "DescribeThing" : {
      "documentation" : "<p>Gets information about the specified thing.</p>",
      "operationName" : "DescribeThing",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeThingRequest",
        "variableType" : "DescribeThingRequest",
        "variableDeclarationType" : "DescribeThingRequest",
        "documentation" : "<p>The input for the DescribeThing operation.</p>",
        "simpleType" : "DescribeThingRequest",
        "variableSetterType" : "DescribeThingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeThingResult",
        "documentation" : "<p>The output from the DescribeThing operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeThingResult",
      "asyncReturnType" : "DescribeThingResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeThingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeThingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeThingRequest, DescribeThingResult>",
      "authenticated" : true,
      "methodName" : "describeThing"
    },
    "DescribeThingType" : {
      "documentation" : "<p>Gets information about the specified thing type.</p>",
      "operationName" : "DescribeThingType",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeThingTypeRequest",
        "variableType" : "DescribeThingTypeRequest",
        "variableDeclarationType" : "DescribeThingTypeRequest",
        "documentation" : "<p>The input for the DescribeThingType operation.</p>",
        "simpleType" : "DescribeThingTypeRequest",
        "variableSetterType" : "DescribeThingTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeThingTypeResult",
        "documentation" : "<p>The output for the DescribeThingType operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeThingTypeResult",
      "asyncReturnType" : "DescribeThingTypeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeThingTypeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeThingTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeThingTypeRequest, DescribeThingTypeResult>",
      "authenticated" : true,
      "methodName" : "describeThingType"
    },
    "DetachPrincipalPolicy" : {
      "documentation" : "<p>Removes the specified policy from the specified certificate.</p>",
      "operationName" : "DetachPrincipalPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "detachPrincipalPolicyRequest",
        "variableType" : "DetachPrincipalPolicyRequest",
        "variableDeclarationType" : "DetachPrincipalPolicyRequest",
        "documentation" : "<p>The input for the DetachPrincipalPolicy operation.</p>",
        "simpleType" : "DetachPrincipalPolicyRequest",
        "variableSetterType" : "DetachPrincipalPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DetachPrincipalPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DetachPrincipalPolicyResult",
      "asyncReturnType" : "DetachPrincipalPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DetachPrincipalPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DetachPrincipalPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachPrincipalPolicyRequest, DetachPrincipalPolicyResult>",
      "authenticated" : true,
      "methodName" : "detachPrincipalPolicy"
    },
    "DetachThingPrincipal" : {
      "documentation" : "<p>Detaches the specified principal from the specified thing.</p>",
      "operationName" : "DetachThingPrincipal",
      "deprecated" : false,
      "input" : {
        "variableName" : "detachThingPrincipalRequest",
        "variableType" : "DetachThingPrincipalRequest",
        "variableDeclarationType" : "DetachThingPrincipalRequest",
        "documentation" : "<p>The input for the DetachThingPrincipal operation.</p>",
        "simpleType" : "DetachThingPrincipalRequest",
        "variableSetterType" : "DetachThingPrincipalRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DetachThingPrincipalResult",
        "documentation" : "<p>The output from the DetachThingPrincipal operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DetachThingPrincipalResult",
      "asyncReturnType" : "DetachThingPrincipalResult",
      "asyncFutureType" : "java.util.concurrent.Future<DetachThingPrincipalResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DetachThingPrincipalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachThingPrincipalRequest, DetachThingPrincipalResult>",
      "authenticated" : true,
      "methodName" : "detachThingPrincipal"
    },
    "DisableTopicRule" : {
      "documentation" : "<p>Disables the specified rule.</p>",
      "operationName" : "DisableTopicRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableTopicRuleRequest",
        "variableType" : "DisableTopicRuleRequest",
        "variableDeclarationType" : "DisableTopicRuleRequest",
        "documentation" : "<p>The input for the DisableTopicRuleRequest operation.</p>",
        "simpleType" : "DisableTopicRuleRequest",
        "variableSetterType" : "DisableTopicRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableTopicRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableTopicRuleResult",
      "asyncReturnType" : "DisableTopicRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableTopicRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableTopicRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableTopicRuleRequest, DisableTopicRuleResult>",
      "authenticated" : true,
      "methodName" : "disableTopicRule"
    },
    "EnableTopicRule" : {
      "documentation" : "<p>Enables the specified rule.</p>",
      "operationName" : "EnableTopicRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableTopicRuleRequest",
        "variableType" : "EnableTopicRuleRequest",
        "variableDeclarationType" : "EnableTopicRuleRequest",
        "documentation" : "<p>The input for the EnableTopicRuleRequest operation.</p>",
        "simpleType" : "EnableTopicRuleRequest",
        "variableSetterType" : "EnableTopicRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableTopicRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableTopicRuleResult",
      "asyncReturnType" : "EnableTopicRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableTopicRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableTopicRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableTopicRuleRequest, EnableTopicRuleResult>",
      "authenticated" : true,
      "methodName" : "enableTopicRule"
    },
    "GetLoggingOptions" : {
      "documentation" : "<p>Gets the logging options.</p>",
      "operationName" : "GetLoggingOptions",
      "deprecated" : false,
      "input" : {
        "variableName" : "getLoggingOptionsRequest",
        "variableType" : "GetLoggingOptionsRequest",
        "variableDeclarationType" : "GetLoggingOptionsRequest",
        "documentation" : "<p>The input for the GetLoggingOptions operation.</p>",
        "simpleType" : "GetLoggingOptionsRequest",
        "variableSetterType" : "GetLoggingOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetLoggingOptionsResult",
        "documentation" : "<p>The output from the GetLoggingOptions operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetLoggingOptionsResult",
      "asyncReturnType" : "GetLoggingOptionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetLoggingOptionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetLoggingOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLoggingOptionsRequest, GetLoggingOptionsResult>",
      "authenticated" : true,
      "methodName" : "getLoggingOptions"
    },
    "GetPolicy" : {
      "documentation" : "<p>Gets information about the specified policy with the policy document of the default version.</p>",
      "operationName" : "GetPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "getPolicyRequest",
        "variableType" : "GetPolicyRequest",
        "variableDeclarationType" : "GetPolicyRequest",
        "documentation" : "<p>The input for the GetPolicy operation.</p>",
        "simpleType" : "GetPolicyRequest",
        "variableSetterType" : "GetPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetPolicyResult",
        "documentation" : "<p>The output from the GetPolicy operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetPolicyResult",
      "asyncReturnType" : "GetPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPolicyRequest, GetPolicyResult>",
      "authenticated" : true,
      "methodName" : "getPolicy"
    },
    "GetPolicyVersion" : {
      "documentation" : "<p>Gets information about the specified policy version.</p>",
      "operationName" : "GetPolicyVersion",
      "deprecated" : false,
      "input" : {
        "variableName" : "getPolicyVersionRequest",
        "variableType" : "GetPolicyVersionRequest",
        "variableDeclarationType" : "GetPolicyVersionRequest",
        "documentation" : "<p>The input for the GetPolicyVersion operation.</p>",
        "simpleType" : "GetPolicyVersionRequest",
        "variableSetterType" : "GetPolicyVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetPolicyVersionResult",
        "documentation" : "<p>The output from the GetPolicyVersion operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetPolicyVersionResult",
      "asyncReturnType" : "GetPolicyVersionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetPolicyVersionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetPolicyVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPolicyVersionRequest, GetPolicyVersionResult>",
      "authenticated" : true,
      "methodName" : "getPolicyVersion"
    },
    "GetRegistrationCode" : {
      "documentation" : "<p>Gets a registration code used to register a CA certificate with AWS IoT.</p>",
      "operationName" : "GetRegistrationCode",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRegistrationCodeRequest",
        "variableType" : "GetRegistrationCodeRequest",
        "variableDeclarationType" : "GetRegistrationCodeRequest",
        "documentation" : "<p>The input to the GetRegistrationCode operation.</p>",
        "simpleType" : "GetRegistrationCodeRequest",
        "variableSetterType" : "GetRegistrationCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRegistrationCodeResult",
        "documentation" : "<p>The output from the GetRegistrationCode operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetRegistrationCodeResult",
      "asyncReturnType" : "GetRegistrationCodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRegistrationCodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRegistrationCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRegistrationCodeRequest, GetRegistrationCodeResult>",
      "authenticated" : true,
      "methodName" : "getRegistrationCode"
    },
    "GetTopicRule" : {
      "documentation" : "<p>Gets information about the specified rule.</p>",
      "operationName" : "GetTopicRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTopicRuleRequest",
        "variableType" : "GetTopicRuleRequest",
        "variableDeclarationType" : "GetTopicRuleRequest",
        "documentation" : "<p>The input for the GetTopicRule operation.</p>",
        "simpleType" : "GetTopicRuleRequest",
        "variableSetterType" : "GetTopicRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTopicRuleResult",
        "documentation" : "<p>The output from the GetTopicRule operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetTopicRuleResult",
      "asyncReturnType" : "GetTopicRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTopicRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTopicRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTopicRuleRequest, GetTopicRuleResult>",
      "authenticated" : true,
      "methodName" : "getTopicRule"
    },
    "ListCACertificates" : {
      "documentation" : "<p>Lists the CA certificates registered for your AWS account.</p> <p>The results are paginated with a default page size of 25. You can use the returned marker to retrieve additional results.</p>",
      "operationName" : "ListCACertificates",
      "deprecated" : false,
      "input" : {
        "variableName" : "listCACertificatesRequest",
        "variableType" : "ListCACertificatesRequest",
        "variableDeclarationType" : "ListCACertificatesRequest",
        "documentation" : "<p>Input for the ListCACertificates operation.</p>",
        "simpleType" : "ListCACertificatesRequest",
        "variableSetterType" : "ListCACertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListCACertificatesResult",
        "documentation" : "<p>The output from the ListCACertificates operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListCACertificatesResult",
      "asyncReturnType" : "ListCACertificatesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListCACertificatesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListCACertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCACertificatesRequest, ListCACertificatesResult>",
      "authenticated" : true,
      "methodName" : "listCACertificates"
    },
    "ListCertificates" : {
      "documentation" : "<p>Lists the certificates registered in your AWS account.</p> <p>The results are paginated with a default page size of 25. You can use the returned marker to retrieve additional results.</p>",
      "operationName" : "ListCertificates",
      "deprecated" : false,
      "input" : {
        "variableName" : "listCertificatesRequest",
        "variableType" : "ListCertificatesRequest",
        "variableDeclarationType" : "ListCertificatesRequest",
        "documentation" : "<p>The input for the ListCertificates operation.</p>",
        "simpleType" : "ListCertificatesRequest",
        "variableSetterType" : "ListCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListCertificatesResult",
        "documentation" : "<p>The output of the ListCertificates operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListCertificatesResult",
      "asyncReturnType" : "ListCertificatesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListCertificatesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCertificatesRequest, ListCertificatesResult>",
      "authenticated" : true,
      "methodName" : "listCertificates"
    },
    "ListCertificatesByCA" : {
      "documentation" : "<p>List the device certificates signed by the specified CA certificate.</p>",
      "operationName" : "ListCertificatesByCA",
      "deprecated" : false,
      "input" : {
        "variableName" : "listCertificatesByCARequest",
        "variableType" : "ListCertificatesByCARequest",
        "variableDeclarationType" : "ListCertificatesByCARequest",
        "documentation" : "<p>The input to the ListCertificatesByCA operation.</p>",
        "simpleType" : "ListCertificatesByCARequest",
        "variableSetterType" : "ListCertificatesByCARequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListCertificatesByCAResult",
        "documentation" : "<p>The output of the ListCertificatesByCA operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListCertificatesByCAResult",
      "asyncReturnType" : "ListCertificatesByCAResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListCertificatesByCAResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListCertificatesByCAResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCertificatesByCARequest, ListCertificatesByCAResult>",
      "authenticated" : true,
      "methodName" : "listCertificatesByCA"
    },
    "ListOutgoingCertificates" : {
      "documentation" : "<p>Lists certificates that are being transfered but not yet accepted.</p>",
      "operationName" : "ListOutgoingCertificates",
      "deprecated" : false,
      "input" : {
        "variableName" : "listOutgoingCertificatesRequest",
        "variableType" : "ListOutgoingCertificatesRequest",
        "variableDeclarationType" : "ListOutgoingCertificatesRequest",
        "documentation" : "<p>The input to the ListOutgoingCertificates operation.</p>",
        "simpleType" : "ListOutgoingCertificatesRequest",
        "variableSetterType" : "ListOutgoingCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListOutgoingCertificatesResult",
        "documentation" : "<p>The output from the ListOutgoingCertificates operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListOutgoingCertificatesResult",
      "asyncReturnType" : "ListOutgoingCertificatesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListOutgoingCertificatesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListOutgoingCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOutgoingCertificatesRequest, ListOutgoingCertificatesResult>",
      "authenticated" : true,
      "methodName" : "listOutgoingCertificates"
    },
    "ListPolicies" : {
      "documentation" : "<p>Lists your policies.</p>",
      "operationName" : "ListPolicies",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPoliciesRequest",
        "variableType" : "ListPoliciesRequest",
        "variableDeclarationType" : "ListPoliciesRequest",
        "documentation" : "<p>The input for the ListPolicies operation.</p>",
        "simpleType" : "ListPoliciesRequest",
        "variableSetterType" : "ListPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPoliciesResult",
        "documentation" : "<p>The output from the ListPolicies operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListPoliciesResult",
      "asyncReturnType" : "ListPoliciesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPoliciesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPoliciesRequest, ListPoliciesResult>",
      "authenticated" : true,
      "methodName" : "listPolicies"
    },
    "ListPolicyPrincipals" : {
      "documentation" : "<p>Lists the principals associated with the specified policy.</p>",
      "operationName" : "ListPolicyPrincipals",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPolicyPrincipalsRequest",
        "variableType" : "ListPolicyPrincipalsRequest",
        "variableDeclarationType" : "ListPolicyPrincipalsRequest",
        "documentation" : "<p>The input for the ListPolicyPrincipals operation.</p>",
        "simpleType" : "ListPolicyPrincipalsRequest",
        "variableSetterType" : "ListPolicyPrincipalsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPolicyPrincipalsResult",
        "documentation" : "<p>The output from the ListPolicyPrincipals operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListPolicyPrincipalsResult",
      "asyncReturnType" : "ListPolicyPrincipalsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPolicyPrincipalsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPolicyPrincipalsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPolicyPrincipalsRequest, ListPolicyPrincipalsResult>",
      "authenticated" : true,
      "methodName" : "listPolicyPrincipals"
    },
    "ListPolicyVersions" : {
      "documentation" : "<p>Lists the versions of the specified policy and identifies the default version.</p>",
      "operationName" : "ListPolicyVersions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPolicyVersionsRequest",
        "variableType" : "ListPolicyVersionsRequest",
        "variableDeclarationType" : "ListPolicyVersionsRequest",
        "documentation" : "<p>The input for the ListPolicyVersions operation.</p>",
        "simpleType" : "ListPolicyVersionsRequest",
        "variableSetterType" : "ListPolicyVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPolicyVersionsResult",
        "documentation" : "<p>The output from the ListPolicyVersions operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListPolicyVersionsResult",
      "asyncReturnType" : "ListPolicyVersionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPolicyVersionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPolicyVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPolicyVersionsRequest, ListPolicyVersionsResult>",
      "authenticated" : true,
      "methodName" : "listPolicyVersions"
    },
    "ListPrincipalPolicies" : {
      "documentation" : "<p>Lists the policies attached to the specified principal. If you use an Cognito identity, the ID must be in <a href=\"http://docs.aws.amazon.com/cognitoidentity/latest/APIReference/API_GetCredentialsForIdentity.html#API_GetCredentialsForIdentity_RequestSyntax\">AmazonCognito Identity format</a>.</p>",
      "operationName" : "ListPrincipalPolicies",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPrincipalPoliciesRequest",
        "variableType" : "ListPrincipalPoliciesRequest",
        "variableDeclarationType" : "ListPrincipalPoliciesRequest",
        "documentation" : "<p>The input for the ListPrincipalPolicies operation.</p>",
        "simpleType" : "ListPrincipalPoliciesRequest",
        "variableSetterType" : "ListPrincipalPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPrincipalPoliciesResult",
        "documentation" : "<p>The output from the ListPrincipalPolicies operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListPrincipalPoliciesResult",
      "asyncReturnType" : "ListPrincipalPoliciesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPrincipalPoliciesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPrincipalPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPrincipalPoliciesRequest, ListPrincipalPoliciesResult>",
      "authenticated" : true,
      "methodName" : "listPrincipalPolicies"
    },
    "ListPrincipalThings" : {
      "documentation" : "<p>Lists the things associated with the specified principal.</p>",
      "operationName" : "ListPrincipalThings",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPrincipalThingsRequest",
        "variableType" : "ListPrincipalThingsRequest",
        "variableDeclarationType" : "ListPrincipalThingsRequest",
        "documentation" : "<p>The input for the ListPrincipalThings operation.</p>",
        "simpleType" : "ListPrincipalThingsRequest",
        "variableSetterType" : "ListPrincipalThingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPrincipalThingsResult",
        "documentation" : "<p>The output from the ListPrincipalThings operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListPrincipalThingsResult",
      "asyncReturnType" : "ListPrincipalThingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPrincipalThingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPrincipalThingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPrincipalThingsRequest, ListPrincipalThingsResult>",
      "authenticated" : true,
      "methodName" : "listPrincipalThings"
    },
    "ListThingPrincipals" : {
      "documentation" : "<p>Lists the principals associated with the specified thing.</p>",
      "operationName" : "ListThingPrincipals",
      "deprecated" : false,
      "input" : {
        "variableName" : "listThingPrincipalsRequest",
        "variableType" : "ListThingPrincipalsRequest",
        "variableDeclarationType" : "ListThingPrincipalsRequest",
        "documentation" : "<p>The input for the ListThingPrincipal operation.</p>",
        "simpleType" : "ListThingPrincipalsRequest",
        "variableSetterType" : "ListThingPrincipalsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListThingPrincipalsResult",
        "documentation" : "<p>The output from the ListThingPrincipals operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>"
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListThingPrincipalsResult",
      "asyncReturnType" : "ListThingPrincipalsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListThingPrincipalsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListThingPrincipalsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListThingPrincipalsRequest, ListThingPrincipalsResult>",
      "authenticated" : true,
      "methodName" : "listThingPrincipals"
    },
    "ListThingTypes" : {
      "documentation" : "<p>Lists the existing thing types.</p>",
      "operationName" : "ListThingTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "listThingTypesRequest",
        "variableType" : "ListThingTypesRequest",
        "variableDeclarationType" : "ListThingTypesRequest",
        "documentation" : "<p>The input for the ListThingTypes operation.</p>",
        "simpleType" : "ListThingTypesRequest",
        "variableSetterType" : "ListThingTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListThingTypesResult",
[...]
