{
  "metadata" : {
    "apiVersion" : "2014-05-15",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : null,
    "defaultEndpoint" : "https://route53domains.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "route53domains.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonRoute53Domains",
    "syncClient" : "AmazonRoute53DomainsClient",
    "asyncInterface" : "AmazonRoute53DomainsAsync",
    "asyncClient" : "AmazonRoute53DomainsAsyncClient",
    "packageName" : "com.amazonaws.services.route53domains",
    "packagePath" : "com/amazonaws/services/route53domains",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Route 53 Domains",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "route53domains",
    "signingName" : "route53domains",
    "syncClientBuilderClassName" : "AmazonRoute53DomainsClientBuilder",
    "asyncClientBuilderClassName" : "AmazonRoute53DomainsAsyncClientBuilder",
    "serviceName" : "Amazon Route 53 Domains",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true
  },
  "operations" : {
    "CheckDomainAvailability" : {
      "documentation" : "<p>This operation checks the availability of one domain name. Note that if the availability status of a domain is pending, you must submit another request to determine the availability of the domain name.</p>",
      "operationName" : "CheckDomainAvailability",
      "deprecated" : false,
      "input" : {
        "variableName" : "checkDomainAvailabilityRequest",
        "variableType" : "CheckDomainAvailabilityRequest",
        "variableDeclarationType" : "CheckDomainAvailabilityRequest",
        "documentation" : "<p>The CheckDomainAvailability request contains the following elements.</p>",
        "simpleType" : "CheckDomainAvailabilityRequest",
        "variableSetterType" : "CheckDomainAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CheckDomainAvailabilityResult",
        "documentation" : "<p>The CheckDomainAvailability response includes the following elements.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CheckDomainAvailabilityResult",
      "asyncReturnType" : "CheckDomainAvailabilityResult",
      "asyncFutureType" : "java.util.concurrent.Future<CheckDomainAvailabilityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CheckDomainAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckDomainAvailabilityRequest, CheckDomainAvailabilityResult>",
      "authenticated" : true,
      "methodName" : "checkDomainAvailability"
    },
    "DeleteTagsForDomain" : {
      "documentation" : "<p>This operation deletes the specified tags for a domain.</p> <p>All tag operations are eventually consistent; subsequent operations may not immediately represent all issued operations.</p>",
      "operationName" : "DeleteTagsForDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTagsForDomainRequest",
        "variableType" : "DeleteTagsForDomainRequest",
        "variableDeclarationType" : "DeleteTagsForDomainRequest",
        "documentation" : "<p>The DeleteTagsForDomainRequest includes the following elements.</p>",
        "simpleType" : "DeleteTagsForDomainRequest",
        "variableSetterType" : "DeleteTagsForDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTagsForDomainResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteTagsForDomainResult",
      "asyncReturnType" : "DeleteTagsForDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsForDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsForDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsForDomainRequest, DeleteTagsForDomainResult>",
      "authenticated" : true,
      "methodName" : "deleteTagsForDomain"
    },
    "DisableDomainAutoRenew" : {
      "documentation" : "<p>This operation disables automatic renewal of domain registration for the specified domain.</p> <note>Caution! Amazon Route 53 doesn't have a manual renewal process, so if you disable automatic renewal, registration for the domain will not be renewed when the expiration date passes, and you will lose control of the domain name.</note>",
      "operationName" : "DisableDomainAutoRenew",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableDomainAutoRenewRequest",
        "variableType" : "DisableDomainAutoRenewRequest",
        "variableDeclarationType" : "DisableDomainAutoRenewRequest",
        "documentation" : "",
        "simpleType" : "DisableDomainAutoRenewRequest",
        "variableSetterType" : "DisableDomainAutoRenewRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableDomainAutoRenewResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableDomainAutoRenewResult",
      "asyncReturnType" : "DisableDomainAutoRenewResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableDomainAutoRenewResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableDomainAutoRenewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableDomainAutoRenewRequest, DisableDomainAutoRenewResult>",
      "authenticated" : true,
      "methodName" : "disableDomainAutoRenew"
    },
    "DisableDomainTransferLock" : {
      "documentation" : "<p>This operation removes the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to allow domain transfers. We recommend you refrain from performing this action unless you intend to transfer the domain to a different registrar. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "operationName" : "DisableDomainTransferLock",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableDomainTransferLockRequest",
        "variableType" : "DisableDomainTransferLockRequest",
        "variableDeclarationType" : "DisableDomainTransferLockRequest",
        "documentation" : "<p>The DisableDomainTransferLock request includes the following element.</p>",
        "simpleType" : "DisableDomainTransferLockRequest",
        "variableSetterType" : "DisableDomainTransferLockRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableDomainTransferLockResult",
        "documentation" : "<p>The DisableDomainTransferLock response includes the following element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableDomainTransferLockResult",
      "asyncReturnType" : "DisableDomainTransferLockResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableDomainTransferLockResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableDomainTransferLockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableDomainTransferLockRequest, DisableDomainTransferLockResult>",
      "authenticated" : true,
      "methodName" : "disableDomainTransferLock"
    },
    "EnableDomainAutoRenew" : {
      "documentation" : "<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. The cost of renewing your domain registration is billed to your AWS account.</p> <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see <a href=\"http://wiki.gandi.net/en/domains/renew#renewal_restoration_and_deletion_times\">\"Renewal, restoration, and deletion times\"</a> on the website for our registrar partner, Gandi. Route 53 requires that you renew before the end of the renewal period that is listed on the Gandi website so we can complete processing before the deadline.</p>",
      "operationName" : "EnableDomainAutoRenew",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableDomainAutoRenewRequest",
        "variableType" : "EnableDomainAutoRenewRequest",
        "variableDeclarationType" : "EnableDomainAutoRenewRequest",
        "documentation" : "",
        "simpleType" : "EnableDomainAutoRenewRequest",
        "variableSetterType" : "EnableDomainAutoRenewRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableDomainAutoRenewResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableDomainAutoRenewResult",
      "asyncReturnType" : "EnableDomainAutoRenewResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableDomainAutoRenewResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableDomainAutoRenewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableDomainAutoRenewRequest, EnableDomainAutoRenewResult>",
      "authenticated" : true,
      "methodName" : "enableDomainAutoRenew"
    },
    "EnableDomainTransferLock" : {
      "documentation" : "<p>This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "operationName" : "EnableDomainTransferLock",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableDomainTransferLockRequest",
        "variableType" : "EnableDomainTransferLockRequest",
        "variableDeclarationType" : "EnableDomainTransferLockRequest",
        "documentation" : "<p>The EnableDomainTransferLock request includes the following element.</p>",
        "simpleType" : "EnableDomainTransferLockRequest",
        "variableSetterType" : "EnableDomainTransferLockRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableDomainTransferLockResult",
        "documentation" : "<p>The EnableDomainTransferLock response includes the following elements.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableDomainTransferLockResult",
      "asyncReturnType" : "EnableDomainTransferLockResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableDomainTransferLockResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableDomainTransferLockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableDomainTransferLockRequest, EnableDomainTransferLockResult>",
      "authenticated" : true,
      "methodName" : "enableDomainTransferLock"
    },
    "GetContactReachabilityStatus" : {
      "documentation" : "<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation returns information about whether the registrant contact has responded.</p> <p>If you want us to resend the email, use the <code>ResendContactReachabilityEmail</code> operation.</p>",
      "operationName" : "GetContactReachabilityStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "getContactReachabilityStatusRequest",
        "variableType" : "GetContactReachabilityStatusRequest",
        "variableDeclarationType" : "GetContactReachabilityStatusRequest",
        "documentation" : "",
        "simpleType" : "GetContactReachabilityStatusRequest",
        "variableSetterType" : "GetContactReachabilityStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetContactReachabilityStatusResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetContactReachabilityStatusResult",
      "asyncReturnType" : "GetContactReachabilityStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactReachabilityStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactReachabilityStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactReachabilityStatusRequest, GetContactReachabilityStatusResult>",
      "authenticated" : true,
      "methodName" : "getContactReachabilityStatus"
    },
    "GetDomainDetail" : {
      "documentation" : "<p>This operation returns detailed information about the domain. The domain's contact information is also returned as part of the output.</p>",
      "operationName" : "GetDomainDetail",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDomainDetailRequest",
        "variableType" : "GetDomainDetailRequest",
        "variableDeclarationType" : "GetDomainDetailRequest",
        "documentation" : "<p>The GetDomainDetail request includes the following element.</p>",
        "simpleType" : "GetDomainDetailRequest",
        "variableSetterType" : "GetDomainDetailRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDomainDetailResult",
        "documentation" : "<p>The GetDomainDetail response includes the following elements.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDomainDetailResult",
      "asyncReturnType" : "GetDomainDetailResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainDetailResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainDetailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainDetailRequest, GetDomainDetailResult>",
      "authenticated" : true,
      "methodName" : "getDomainDetail"
    },
    "GetOperationDetail" : {
      "documentation" : "<p>This operation returns the current status of an operation that is not completed.</p>",
      "operationName" : "GetOperationDetail",
      "deprecated" : false,
      "input" : {
        "variableName" : "getOperationDetailRequest",
        "variableType" : "GetOperationDetailRequest",
        "variableDeclarationType" : "GetOperationDetailRequest",
        "documentation" : "<p>The GetOperationDetail request includes the following element.</p>",
        "simpleType" : "GetOperationDetailRequest",
        "variableSetterType" : "GetOperationDetailRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetOperationDetailResult",
        "documentation" : "<p>The GetOperationDetail response includes the following elements.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetOperationDetailResult",
      "asyncReturnType" : "GetOperationDetailResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetOperationDetailResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetOperationDetailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOperationDetailRequest, GetOperationDetailResult>",
      "authenticated" : true,
      "methodName" : "getOperationDetail"
    },
    "ListDomains" : {
      "documentation" : "<p>This operation returns all the domain names registered with Amazon Route 53 for the current AWS account.</p>",
      "operationName" : "ListDomains",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDomainsRequest",
        "variableType" : "ListDomainsRequest",
        "variableDeclarationType" : "ListDomainsRequest",
        "documentation" : "<p>The ListDomains request includes the following elements.</p>",
        "simpleType" : "ListDomainsRequest",
        "variableSetterType" : "ListDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDomainsResult",
        "documentation" : "<p>The ListDomains response includes the following elements.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListDomainsResult",
      "asyncReturnType" : "ListDomainsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainsRequest, ListDomainsResult>",
      "authenticated" : true,
      "methodName" : "listDomains"
    },
    "ListOperations" : {
      "documentation" : "<p>This operation returns the operation IDs of operations that are not yet complete.</p>",
      "operationName" : "ListOperations",
      "deprecated" : false,
      "input" : {
        "variableName" : "listOperationsRequest",
        "variableType" : "ListOperationsRequest",
        "variableDeclarationType" : "ListOperationsRequest",
        "documentation" : "<p>The ListOperations request includes the following elements.</p>",
        "simpleType" : "ListOperationsRequest",
        "variableSetterType" : "ListOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListOperationsResult",
        "documentation" : "<p>The ListOperations response includes the following elements.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListOperationsResult",
      "asyncReturnType" : "ListOperationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListOperationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOperationsRequest, ListOperationsResult>",
      "authenticated" : true,
      "methodName" : "listOperations"
    },
    "ListTagsForDomain" : {
      "documentation" : "<p>This operation returns all of the tags that are associated with the specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations may not immediately represent all issued operations.</p>",
      "operationName" : "ListTagsForDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForDomainRequest",
        "variableType" : "ListTagsForDomainRequest",
        "variableDeclarationType" : "ListTagsForDomainRequest",
        "documentation" : "<p>The ListTagsForDomainRequest includes the following elements.</p>",
        "simpleType" : "ListTagsForDomainRequest",
        "variableSetterType" : "ListTagsForDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForDomainResult",
        "documentation" : "<p>The ListTagsForDomain response includes the following elements.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTagsForDomainResult",
      "asyncReturnType" : "ListTagsForDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForDomainRequest, ListTagsForDomainResult>",
      "authenticated" : true,
      "methodName" : "listTagsForDomain"
    },
    "RegisterDomain" : {
      "documentation" : "<p>This operation registers a domain. Domains are registered by the AWS registrar partner, Gandi. For some top-level domains (TLDs), this operation requires extra parameters.</p> <p>When you register a domain, Amazon Route 53 does the following:</p> <ul> <li>Creates a Amazon Route 53 hosted zone that has the same name as the domain. Amazon Route 53 assigns four name servers to your hosted zone and automatically updates your domain registration with the names of these name servers.</li> <li>Enables autorenew, so your domain registration will renew automatically each year. We'll notify you in advance of the renewal date so you can choose whether to renew the registration.</li> <li>Optionally enables privacy protection, so WHOIS queries return contact information for our registrar partner, Gandi, instead of the information you entered for registrant, admin, and tech contacts.</li> <li>If registration is successful, returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant is notified by email.</li> <li>Charges your AWS account an amount based on the top-level domain. For more information, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</li> </ul>",
      "operationName" : "RegisterDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerDomainRequest",
        "variableType" : "RegisterDomainRequest",
        "variableDeclarationType" : "RegisterDomainRequest",
        "documentation" : "<p>The RegisterDomain request includes the following elements.</p>",
        "simpleType" : "RegisterDomainRequest",
        "variableSetterType" : "RegisterDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterDomainResult",
        "documentation" : "<p>The RegisterDomain response includes the following element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "DomainLimitExceededException",
        "documentation" : "<p>The number of domains has exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RegisterDomainResult",
      "asyncReturnType" : "RegisterDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterDomainRequest, RegisterDomainResult>",
      "authenticated" : true,
      "methodName" : "registerDomain"
    },
    "ResendContactReachabilityEmail" : {
      "documentation" : "<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation resends the confirmation email to the current email address for the registrant contact. </p>",
      "operationName" : "ResendContactReachabilityEmail",
      "deprecated" : false,
      "input" : {
        "variableName" : "resendContactReachabilityEmailRequest",
        "variableType" : "ResendContactReachabilityEmailRequest",
        "variableDeclarationType" : "ResendContactReachabilityEmailRequest",
        "documentation" : "",
        "simpleType" : "ResendContactReachabilityEmailRequest",
        "variableSetterType" : "ResendContactReachabilityEmailRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ResendContactReachabilityEmailResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ResendContactReachabilityEmailResult",
      "asyncReturnType" : "ResendContactReachabilityEmailResult",
      "asyncFutureType" : "java.util.concurrent.Future<ResendContactReachabilityEmailResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ResendContactReachabilityEmailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResendContactReachabilityEmailRequest, ResendContactReachabilityEmailResult>",
      "authenticated" : true,
      "methodName" : "resendContactReachabilityEmail"
    },
    "RetrieveDomainAuthCode" : {
      "documentation" : "<p>This operation returns the AuthCode for the domain. To transfer a domain to another registrar, you provide this value to the new registrar.</p>",
      "operationName" : "RetrieveDomainAuthCode",
      "deprecated" : false,
      "input" : {
        "variableName" : "retrieveDomainAuthCodeRequest",
        "variableType" : "RetrieveDomainAuthCodeRequest",
        "variableDeclarationType" : "RetrieveDomainAuthCodeRequest",
        "documentation" : "<p>The RetrieveDomainAuthCode request includes the following element.</p>",
        "simpleType" : "RetrieveDomainAuthCodeRequest",
        "variableSetterType" : "RetrieveDomainAuthCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RetrieveDomainAuthCodeResult",
        "documentation" : "<p>The RetrieveDomainAuthCode response includes the following element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RetrieveDomainAuthCodeResult",
      "asyncReturnType" : "RetrieveDomainAuthCodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<RetrieveDomainAuthCodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RetrieveDomainAuthCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetrieveDomainAuthCodeRequest, RetrieveDomainAuthCodeResult>",
      "authenticated" : true,
      "methodName" : "retrieveDomainAuthCode"
    },
    "TransferDomain" : {
      "documentation" : "<p>This operation transfers a domain from another registrar to Amazon Route 53. When the transfer is complete, the domain is registered with the AWS registrar partner, Gandi.</p> <p>For transfer requirements, a detailed procedure, and information about viewing the status of a domain transfer, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html\">Transferring Registration for a Domain to Amazon Route 53</a> in the Amazon Route 53 Developer Guide.</p> <p>If the registrar for your domain is also the DNS service provider for the domain, we highly recommend that you consider transferring your DNS service to Amazon Route 53 or to another DNS service provider before you transfer your registration. Some registrars provide free DNS service when you purchase a domain registration. When you transfer the registration, the previous registrar will not renew your domain registration and could end your DNS service at any time.</p> <note>Caution! If the registrar for your domain is also the DNS service provider for the domain and you don't transfer DNS service to another provider, your website, email, and the web applications associated with the domain might become unavailable.</note> <p>If the transfer is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the transfer doesn't complete successfully, the domain registrant will be notified by email.</p>",
      "operationName" : "TransferDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "transferDomainRequest",
        "variableType" : "TransferDomainRequest",
        "variableDeclarationType" : "TransferDomainRequest",
        "documentation" : "<p>The TransferDomain request includes the following elements.</p>",
        "simpleType" : "TransferDomainRequest",
        "variableSetterType" : "TransferDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TransferDomainResult",
        "documentation" : "<p>The TranserDomain response includes the following element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "DomainLimitExceededException",
        "documentation" : "<p>The number of domains has exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "TransferDomainResult",
      "asyncReturnType" : "TransferDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<TransferDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TransferDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TransferDomainRequest, TransferDomainResult>",
      "authenticated" : true,
      "methodName" : "transferDomain"
    },
    "UpdateDomainContact" : {
      "documentation" : "<p>This operation updates the contact information for a particular domain. Information for at least one contact (registrant, administrator, or technical) must be supplied for update.</p> <p>If the update is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "operationName" : "UpdateDomainContact",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDomainContactRequest",
        "variableType" : "UpdateDomainContactRequest",
        "variableDeclarationType" : "UpdateDomainContactRequest",
        "documentation" : "<p>The UpdateDomainContact request includes the following elements.</p>",
        "simpleType" : "UpdateDomainContactRequest",
        "variableSetterType" : "UpdateDomainContactRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDomainContactResult",
        "documentation" : "<p>The UpdateDomainContact response includes the following element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateDomainContactResult",
      "asyncReturnType" : "UpdateDomainContactResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainContactResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainContactRequest, UpdateDomainContactResult>",
      "authenticated" : true,
      "methodName" : "updateDomainContact"
    },
    "UpdateDomainContactPrivacy" : {
      "documentation" : "<p>This operation updates the specified domain contact's privacy setting. When the privacy option is enabled, personal information such as postal or email address is hidden from the results of a public WHOIS query. The privacy services are provided by the AWS registrar, Gandi. For more information, see the <a href=\"http://www.gandi.net/domain/whois/?currency=USD&amp;amp;lang=en\">Gandi privacy features</a>.</p> <p>This operation only affects the privacy of the specified contact type (registrant, administrator, or tech). Successful acceptance returns an operation ID that you can use with GetOperationDetail to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "operationName" : "UpdateDomainContactPrivacy",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDomainContactPrivacyRequest",
        "variableType" : "UpdateDomainContactPrivacyRequest",
        "variableDeclarationType" : "UpdateDomainContactPrivacyRequest",
        "documentation" : "<p>The UpdateDomainContactPrivacy request includes the following elements.</p>",
        "simpleType" : "UpdateDomainContactPrivacyRequest",
        "variableSetterType" : "UpdateDomainContactPrivacyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDomainContactPrivacyResult",
        "documentation" : "<p>The UpdateDomainContactPrivacy response includes the following element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateDomainContactPrivacyResult",
      "asyncReturnType" : "UpdateDomainContactPrivacyResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainContactPrivacyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainContactPrivacyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainContactPrivacyRequest, UpdateDomainContactPrivacyResult>",
      "authenticated" : true,
      "methodName" : "updateDomainContactPrivacy"
    },
    "UpdateDomainNameservers" : {
      "documentation" : "<p>This operation replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain. </p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "operationName" : "UpdateDomainNameservers",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDomainNameserversRequest",
        "variableType" : "UpdateDomainNameserversRequest",
        "variableDeclarationType" : "UpdateDomainNameserversRequest",
        "documentation" : "<p>The UpdateDomainNameserver request includes the following elements.</p>",
        "simpleType" : "UpdateDomainNameserversRequest",
        "variableSetterType" : "UpdateDomainNameserversRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDomainNameserversResult",
        "documentation" : "<p>The UpdateDomainNameservers response includes the following element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateDomainNameserversResult",
      "asyncReturnType" : "UpdateDomainNameserversResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainNameserversResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainNameserversResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainNameserversRequest, UpdateDomainNameserversResult>",
      "authenticated" : true,
      "methodName" : "updateDomainNameservers"
    },
    "UpdateTagsForDomain" : {
      "documentation" : "<p>This operation adds or updates tags for a specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations may not immediately represent all issued operations.</p>",
      "operationName" : "UpdateTagsForDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateTagsForDomainRequest",
        "variableType" : "UpdateTagsForDomainRequest",
        "variableDeclarationType" : "UpdateTagsForDomainRequest",
        "documentation" : "<p>The UpdateTagsForDomainRequest includes the following elements.</p>",
        "simpleType" : "UpdateTagsForDomainRequest",
        "variableSetterType" : "UpdateTagsForDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateTagsForDomainResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateTagsForDomainResult",
      "asyncReturnType" : "UpdateTagsForDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTagsForDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTagsForDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTagsForDomainRequest, UpdateTagsForDomainResult>",
      "authenticated" : true,
      "methodName" : "updateTagsForDomain"
    }
  },
  "shapes" : {
    "DisableDomainTransferLockResult" : {
      "c2jName" : "DisableDomainTransferLockResponse",
      "documentation" : "<p>The DisableDomainTransferLock response includes the following element.</p>",
      "shapeName" : "DisableDomainTransferLockResult",
      "deprecated" : false,
      "required" : [ "OperationId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>",
        "name" : "OperationId",
        "c2jName" : "OperationId",
        "c2jShape" : "OperationId",
        "variable" : {
          "variableName" : "operationId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "operationId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OperationId",
          "marshallLocationName" : "OperationId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>\n@param operationId Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.*/",
        "getterDocumentation" : "/**<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>\n@return Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.*/",
        "fluentSetterDocumentation" : "/**<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>\n@param operationId Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>\n@param operationId Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "disableDomainTransferLockResult",
        "variableType" : "DisableDomainTransferLockResult",
        "variableDeclarationType" : "DisableDomainTransferLockResult",
        "documentation" : null,
        "simpleType" : "DisableDomainTransferLockResult",
        "variableSetterType" : "DisableDomainTransferLockResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "OperationId" : {
          "documentation" : "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>",
          "name" : "OperationId",
          "c2jName" : "OperationId",
          "c2jShape" : "OperationId",
          "variable" : {
            "variableName" : "operationId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "operationId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "OperationId",
            "marshallLocationName" : "OperationId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>\n@param operationId Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.*/",
          "getterDocumentation" : "/**<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>\n@return Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.*/",
          "fluentSetterDocumentation" : "/**<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>\n@param operationId Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>\n@param operationId Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        }
      }
    },
    "ContactType" : {
      "c2jName" : "ContactType",
      "documentation" : "",
      "shapeName" : "ContactType",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "PERSON",
        "value" : "PERSON"
      }, {
        "name" : "COMPANY",
        "value" : "COMPANY"
      }, {
        "name" : "ASSOCIATION",
        "value" : "ASSOCIATION"
      }, {
        "name" : "PUBLIC_BODY",
        "value" : "PUBLIC_BODY"
      }, {
        "name" : "RESELLER",
        "value" : "RESELLER"
      } ],
      "variable" : {
        "variableName" : "contactType",
        "variableType" : "ContactType",
        "variableDeclarationType" : "ContactType",
        "documentation" : null,
        "simpleType" : "ContactType",
        "variableSetterType" : "ContactType"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "DisableDomainTransferLockRequest" : {
      "c2jName" : "DisableDomainTransferLockRequest",
      "documentation" : "<p>The DisableDomainTransferLock request includes the following element.</p>",
      "shapeName" : "DisableDomainTransferLockRequest",
      "deprecated" : false,
      "required" : [ "DomainName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>",
        "name" : "DomainName",
        "c2jName" : "DomainName",
        "c2jShape" : "DomainName",
        "variable" : {
          "variableName" : "domainName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "domainName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DomainName",
          "marshallLocationName" : "DomainName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes*/",
        "getterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@return The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes*/",
        "fluentSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "disableDomainTransferLockRequest",
        "variableType" : "DisableDomainTransferLockRequest",
        "variableDeclarationType" : "DisableDomainTransferLockRequest",
        "documentation" : null,
        "simpleType" : "DisableDomainTransferLockRequest",
        "variableSetterType" : "DisableDomainTransferLockRequest"
      },
      "marshaller" : {
        "action" : "DisableDomainTransferLock",
        "verb" : "POST",
        "target" : "Route53Domains_v20140515.DisableDomainTransferLock",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "DomainName" : {
          "documentation" : "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>",
          "name" : "DomainName",
          "c2jName" : "DomainName",
          "c2jShape" : "DomainName",
          "variable" : {
            "variableName" : "domainName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "domainName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DomainName",
            "marshallLocationName" : "DomainName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes*/",
          "getterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@return The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes*/",
          "fluentSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        }
      }
    },
    "OperationSummary" : {
      "c2jName" : "OperationSummary",
      "documentation" : "<p>OperationSummary includes the following elements.</p>",
      "shapeName" : "OperationSummary",
      "deprecated" : false,
      "required" : [ "OperationId", "Status", "Type", "SubmittedDate" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Identifier returned to track the requested action.</p> <p>Type: String</p>",
        "name" : "OperationId",
        "c2jName" : "OperationId",
        "c2jShape" : "OperationId",
        "variable" : {
          "variableName" : "operationId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Identifier returned to track the requested action.</p> <p>Type: String</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "operationId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OperationId",
          "marshallLocationName" : "OperationId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>Identifier returned to track the requested action.</p> <p>Type: String</p>\n@param operationId Identifier returned to track the requested action.</p> <p>Type: String*/",
        "getterDocumentation" : "/**<p>Identifier returned to track the requested action.</p> <p>Type: String</p>\n@return Identifier returned to track the requested action.</p> <p>Type: String*/",
        "fluentSetterDocumentation" : "/**<p>Identifier returned to track the requested action.</p> <p>Type: String</p>\n@param operationId Identifier returned to track the requested action.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Identifier returned to track the requested action.</p> <p>Type: String</p>\n@param operationId Identifier returned to track the requested action.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The current status of the requested operation in the system.</p> <p>Type: String</p>",
        "name" : "Status",
        "c2jName" : "Status",
        "c2jShape" : "OperationStatus",
        "variable" : {
          "variableName" : "status",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The current status of the requested operation in the system.</p> <p>Type: String</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "status",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Status",
          "marshallLocationName" : "Status",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "OperationStatus",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The current status of the requested operation in the system.</p> <p>Type: String</p>\n@param status The current status of the requested operation in the system.</p> <p>Type: String\n@see OperationStatus*/",
        "getterDocumentation" : "/**<p>The current status of the requested operation in the system.</p> <p>Type: String</p>\n@return The current status of the requested operation in the system.</p> <p>Type: String\n@see OperationStatus*/",
        "fluentSetterDocumentation" : "/**<p>The current status of the requested operation in the system.</p> <p>Type: String</p>\n@param status The current status of the requested operation in the system.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationStatus*/",
        "varargSetterDocumentation" : "/**<p>The current status of the requested operation in the system.</p> <p>Type: String</p>\n@param status The current status of the requested operation in the system.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationStatus*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>",
        "name" : "Type",
        "c2jName" : "Type",
        "c2jShape" : "OperationType",
        "variable" : {
          "variableName" : "type",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "type",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Type",
          "marshallLocationName" : "Type",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "OperationType",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>\n@param type Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code>\n@see OperationType*/",
        "getterDocumentation" : "/**<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>\n@return Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code>\n@see OperationType*/",
        "fluentSetterDocumentation" : "/**<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>\n@param type Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code>\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
        "varargSetterDocumentation" : "/**<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>\n@param type Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code>\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The date when the request was submitted.</p>",
        "name" : "SubmittedDate",
        "c2jName" : "SubmittedDate",
        "c2jShape" : "Timestamp",
        "variable" : {
          "variableName" : "submittedDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p>The date when the request was submitted.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "setterModel" : {
          "variableName" : "submittedDate",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SubmittedDate",
          "marshallLocationName" : "SubmittedDate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The date when the request was submitted.</p>\n@param submittedDate The date when the request was submitted.*/",
        "getterDocumentation" : "/**<p>The date when the request was submitted.</p>\n@return The date when the request was submitted.*/",
        "fluentSetterDocumentation" : "/**<p>The date when the request was submitted.</p>\n@param submittedDate The date when the request was submitted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The date when the request was submitted.</p>\n@param submittedDate The date when the request was submitted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "operationSummary",
        "variableType" : "OperationSummary",
        "variableDeclarationType" : "OperationSummary",
        "documentation" : null,
        "simpleType" : "OperationSummary",
        "variableSetterType" : "OperationSummary"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Status" : {
          "documentation" : "<p>The current status of the requested operation in the system.</p> <p>Type: String</p>",
          "name" : "Status",
          "c2jName" : "Status",
          "c2jShape" : "OperationStatus",
          "variable" : {
            "variableName" : "status",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The current status of the requested operation in the system.</p> <p>Type: String</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "status",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Status",
            "marshallLocationName" : "Status",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "OperationStatus",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The current status of the requested operation in the system.</p> <p>Type: String</p>\n@param status The current status of the requested operation in the system.</p> <p>Type: String\n@see OperationStatus*/",
          "getterDocumentation" : "/**<p>The current status of the requested operation in the system.</p> <p>Type: String</p>\n@return The current status of the requested operation in the system.</p> <p>Type: String\n@see OperationStatus*/",
          "fluentSetterDocumentation" : "/**<p>The current status of the requested operation in the system.</p> <p>Type: String</p>\n@param status The current status of the requested operation in the system.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationStatus*/",
          "varargSetterDocumentation" : "/**<p>The current status of the requested operation in the system.</p> <p>Type: String</p>\n@param status The current status of the requested operation in the system.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationStatus*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "Type" : {
          "documentation" : "<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>",
          "name" : "Type",
          "c2jName" : "Type",
          "c2jShape" : "OperationType",
          "variable" : {
            "variableName" : "type",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "type",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Type",
            "marshallLocationName" : "Type",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "OperationType",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>\n@param type Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code>\n@see OperationType*/",
          "getterDocumentation" : "/**<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>\n@return Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code>\n@see OperationType*/",
          "fluentSetterDocumentation" : "/**<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>\n@param type Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code>\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
          "varargSetterDocumentation" : "/**<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>\n@param type Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code>\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "OperationId" : {
          "documentation" : "<p>Identifier returned to track the requested action.</p> <p>Type: String</p>",
          "name" : "OperationId",
          "c2jName" : "OperationId",
          "c2jShape" : "OperationId",
          "variable" : {
            "variableName" : "operationId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Identifier returned to track the requested action.</p> <p>Type: String</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "operationId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "OperationId",
            "marshallLocationName" : "OperationId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>Identifier returned to track the requested action.</p> <p>Type: String</p>\n@param operationId Identifier returned to track the requested action.</p> <p>Type: String*/",
          "getterDocumentation" : "/**<p>Identifier returned to track the requested action.</p> <p>Type: String</p>\n@return Identifier returned to track the requested action.</p> <p>Type: String*/",
          "fluentSetterDocumentation" : "/**<p>Identifier returned to track the requested action.</p> <p>Type: String</p>\n@param operationId Identifier returned to track the requested action.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Identifier returned to track the requested action.</p> <p>Type: String</p>\n@param operationId Identifier returned to track the requested action.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "SubmittedDate" : {
          "documentation" : "<p>The date when the request was submitted.</p>",
          "name" : "SubmittedDate",
          "c2jName" : "SubmittedDate",
          "c2jShape" : "Timestamp",
          "variable" : {
            "variableName" : "submittedDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "<p>The date when the request was submitted.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "setterModel" : {
            "variableName" : "submittedDate",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SubmittedDate",
            "marshallLocationName" : "SubmittedDate",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The date when the request was submitted.</p>\n@param submittedDate The date when the request was submitted.*/",
          "getterDocumentation" : "/**<p>The date when the request was submitted.</p>\n@return The date when the request was submitted.*/",
          "fluentSetterDocumentation" : "/**<p>The date when the request was submitted.</p>\n@param submittedDate The date when the request was submitted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The date when the request was submitted.</p>\n@param submittedDate The date when the request was submitted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        }
      }
    },
    "EnableDomainTransferLockRequest" : {
      "c2jName" : "EnableDomainTransferLockRequest",
      "documentation" : "<p>The EnableDomainTransferLock request includes the following element.</p>",
      "shapeName" : "EnableDomainTransferLockRequest",
      "deprecated" : false,
      "required" : [ "DomainName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>",
        "name" : "DomainName",
        "c2jName" : "DomainName",
        "c2jShape" : "DomainName",
        "variable" : {
          "variableName" : "domainName",
[...]
