{
  "metadata" : {
    "apiVersion" : "2013-04-01",
    "protocol" : "rest-xml",
    "checksumFormat" : null,
    "documentation" : null,
    "defaultEndpoint" : "https://route53.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "route53.amazonaws.com",
    "syncInterface" : "AmazonRoute53",
    "syncClient" : "AmazonRoute53Client",
    "asyncInterface" : "AmazonRoute53Async",
    "asyncClient" : "AmazonRoute53AsyncClient",
    "packageName" : "com.amazonaws.services.route53",
    "packagePath" : "com/amazonaws/services/route53",
    "serviceAbbreviation" : "Route 53",
    "serviceFullName" : "Amazon Route 53",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "route53",
    "signingName" : "route53",
    "jsonProtocol" : false,
    "xmlProtocol" : true,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "syncClientBuilderClassName" : "AmazonRoute53ClientBuilder",
    "asyncClientBuilderClassName" : "AmazonRoute53AsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonRoute53ModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.route53.smoketests",
    "serviceName" : "Route 53"
  },
  "operations" : {
    "AssociateVPCWithHostedZone" : {
      "documentation" : "<p>This action associates a VPC with an hosted zone. </p> <p>To associate a VPC with an hosted zone, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted zone ID</i>/associatevpc</code> resource. The request body must include a document with a <code>AssociateVPCWithHostedZoneRequest</code> element. The response returns the <code>AssociateVPCWithHostedZoneResponse</code> element that contains <code>ChangeInfo</code> for you to track the progress of the <code>AssociateVPCWithHostedZoneRequest</code> you made. See <code>GetChange</code> operation for how to track the progress of your change.</p>",
      "operationName" : "AssociateVPCWithHostedZone",
      "deprecated" : false,
      "input" : {
        "variableName" : "associateVPCWithHostedZoneRequest",
        "variableType" : "AssociateVPCWithHostedZoneRequest",
        "variableDeclarationType" : "AssociateVPCWithHostedZoneRequest",
        "documentation" : "<p>A complex type that contains information about the request to associate a VPC with an hosted zone.</p>",
        "simpleType" : "AssociateVPCWithHostedZoneRequest",
        "variableSetterType" : "AssociateVPCWithHostedZoneRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AssociateVPCWithHostedZoneResult",
        "documentation" : "<p>A complex type containing the response information for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidVPCIdException",
        "documentation" : "<p>The hosted zone you are trying to create for your VPC_ID does not belong to you. Amazon Route 53 returns this error when the VPC specified by <code>VPCId</code> does not belong to you.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "PublicZoneVPCAssociationException",
        "documentation" : "<p>The hosted zone you are trying to associate VPC with doesn't have any VPC association. Amazon Route 53 currently doesn't support associate a VPC with a public hosted zone.</p>"
      }, {
        "exceptionName" : "ConflictingDomainExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>The limits specified for a resource have been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "associateVPCWithHostedZone",
      "syncReturnType" : "AssociateVPCWithHostedZoneResult",
      "asyncReturnType" : "AssociateVPCWithHostedZoneResult",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateVPCWithHostedZoneResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateVPCWithHostedZoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateVPCWithHostedZoneRequest, AssociateVPCWithHostedZoneResult>",
      "authenticated" : true
    },
    "ChangeResourceRecordSets" : {
      "documentation" : "<p>Use this action to create or change your authoritative DNS information. To use this action, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted Zone ID</i>/rrset</code> resource. The request body must include a document with a <code>ChangeResourceRecordSetsRequest</code> element.</p> <p>Changes are a list of change items and are considered transactional. For more information on transactional changes, also known as change batches, see <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html\">POST ChangeResourceRecordSets</a> in the <i>Amazon Route 53 API Reference</i>.</p> <important>Due to the nature of transactional changes, you cannot delete the same resource record set more than once in a single change batch. If you attempt to delete the same change batch more than once, Amazon Route 53 returns an <code>InvalidChangeBatch</code> error.</important> <p>In response to a <code>ChangeResourceRecordSets</code> request, your DNS data is changed on all Amazon Route 53 DNS servers. Initially, the status of a change is <code>PENDING</code>. This means the change has not yet propagated to all the authoritative Amazon Route 53 DNS servers. When the change is propagated to all hosts, the change returns a status of <code>INSYNC</code>.</p> <p>Note the following limitations on a <code>ChangeResourceRecordSets</code> request:</p> <ul> <li>A request cannot contain more than 100 Change elements.</li> <li> A request cannot contain more than 1000 ResourceRecord elements.</li> <li>The sum of the number of characters (including spaces) in all <code>Value</code> elements in a request cannot exceed 32,000 characters.</li> </ul>",
      "operationName" : "ChangeResourceRecordSets",
      "deprecated" : false,
      "input" : {
        "variableName" : "changeResourceRecordSetsRequest",
        "variableType" : "ChangeResourceRecordSetsRequest",
        "variableDeclarationType" : "ChangeResourceRecordSetsRequest",
        "documentation" : "<p>A complex type that contains a change batch.</p>",
        "simpleType" : "ChangeResourceRecordSetsRequest",
        "variableSetterType" : "ChangeResourceRecordSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ChangeResourceRecordSetsResult",
        "documentation" : "<p>A complex type containing the response for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchHealthCheckException",
        "documentation" : "<p>The health check you are trying to get or delete does not exist.</p>"
      }, {
        "exceptionName" : "InvalidChangeBatchException",
        "documentation" : "<p>This error contains a list of one or more error messages. Each error message indicates one error in the change batch.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "PriorRequestNotCompleteException",
        "documentation" : "<p>The request was rejected because Amazon Route 53 was still processing a prior request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "changeResourceRecordSets",
      "syncReturnType" : "ChangeResourceRecordSetsResult",
      "asyncReturnType" : "ChangeResourceRecordSetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ChangeResourceRecordSetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ChangeResourceRecordSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ChangeResourceRecordSetsRequest, ChangeResourceRecordSetsResult>",
      "authenticated" : true
    },
    "ChangeTagsForResource" : {
      "documentation" : "",
      "operationName" : "ChangeTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "changeTagsForResourceRequest",
        "variableType" : "ChangeTagsForResourceRequest",
        "variableDeclarationType" : "ChangeTagsForResourceRequest",
        "documentation" : "<p>A complex type containing information about a request to add, change, or delete the tags that are associated with a resource.</p>",
        "simpleType" : "ChangeTagsForResourceRequest",
        "variableSetterType" : "ChangeTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ChangeTagsForResourceResult",
        "documentation" : "<p>Empty response for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "NoSuchHealthCheckException",
        "documentation" : "<p>The health check you are trying to get or delete does not exist.</p>"
      }, {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "PriorRequestNotCompleteException",
        "documentation" : "<p>The request was rejected because Amazon Route 53 was still processing a prior request.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "changeTagsForResource",
      "syncReturnType" : "ChangeTagsForResourceResult",
      "asyncReturnType" : "ChangeTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ChangeTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ChangeTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ChangeTagsForResourceRequest, ChangeTagsForResourceResult>",
      "authenticated" : true
    },
    "CreateHealthCheck" : {
      "documentation" : "<p>This action creates a new health check.</p> <p>To create a new health check, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/healthcheck</code> resource. The request body must include a document with a <code>CreateHealthCheckRequest</code> element. The response returns the <code>CreateHealthCheckResponse</code> element that contains metadata about the health check.</p>",
      "operationName" : "CreateHealthCheck",
      "deprecated" : false,
      "input" : {
        "variableName" : "createHealthCheckRequest",
        "variableType" : "CreateHealthCheckRequest",
        "variableDeclarationType" : "CreateHealthCheckRequest",
        "documentation" : "<p>>A complex type that contains information about the request to create a health check.</p>",
        "simpleType" : "CreateHealthCheckRequest",
        "variableSetterType" : "CreateHealthCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateHealthCheckResult",
        "documentation" : "<p>A complex type containing the response information for the new health check.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyHealthChecksException",
        "documentation" : null
      }, {
        "exceptionName" : "HealthCheckAlreadyExistsException",
        "documentation" : "<p>The health check you are trying to create already exists. Amazon Route 53 returns this error when a health check has already been created with the specified <code>CallerReference</code>.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createHealthCheck",
      "syncReturnType" : "CreateHealthCheckResult",
      "asyncReturnType" : "CreateHealthCheckResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHealthCheckResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHealthCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHealthCheckRequest, CreateHealthCheckResult>",
      "authenticated" : true
    },
    "CreateHostedZone" : {
      "documentation" : "<p>This action creates a new hosted zone.</p> <p>To create a new hosted zone, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/hostedzone</code> resource. The request body must include a document with a <code>CreateHostedZoneRequest</code> element. The response returns the <code>CreateHostedZoneResponse</code> element that contains metadata about the hosted zone.</p> <p>Amazon Route 53 automatically creates a default SOA record and four NS records for the zone. The NS records in the hosted zone are the name servers you give your registrar to delegate your domain to. For more information about SOA and NS records, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/SOA-NSrecords.html\">NS and SOA Records that Amazon Route 53 Creates for a Hosted Zone</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>When you create a zone, its initial status is <code>PENDING</code>. This means that it is not yet available on all DNS servers. The status of the zone changes to <code>INSYNC</code> when the NS and SOA records are available on all Amazon Route 53 DNS servers. </p> <p>When trying to create a hosted zone using a reusable delegation set, you could specify an optional DelegationSetId, and Route53 would assign those 4 NS records for the zone, instead of alloting a new one.</p>",
      "operationName" : "CreateHostedZone",
      "deprecated" : false,
      "input" : {
        "variableName" : "createHostedZoneRequest",
        "variableType" : "CreateHostedZoneRequest",
        "variableDeclarationType" : "CreateHostedZoneRequest",
        "documentation" : "<p>A complex type that contains information about the request to create a hosted zone.</p>",
        "simpleType" : "CreateHostedZoneRequest",
        "variableSetterType" : "CreateHostedZoneRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateHostedZoneResult",
        "documentation" : "<p>A complex type containing the response information for the new hosted zone.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidDomainNameException",
        "documentation" : "<p>This error indicates that the specified domain name is not valid.</p>"
      }, {
        "exceptionName" : "HostedZoneAlreadyExistsException",
        "documentation" : "<p>The hosted zone you are trying to create already exists. Amazon Route 53 returns this error when a hosted zone has already been created with the specified <code>CallerReference</code>.</p>"
      }, {
        "exceptionName" : "TooManyHostedZonesException",
        "documentation" : "<p>This error indicates that you've reached the maximum number of hosted zones that can be created for the current AWS account. You can request an increase to the limit on the <a href=\"http://aws.amazon.com/route53-request/\">Contact Us</a> page.</p>"
      }, {
        "exceptionName" : "InvalidVPCIdException",
        "documentation" : "<p>The hosted zone you are trying to create for your VPC_ID does not belong to you. Amazon Route 53 returns this error when the VPC specified by <code>VPCId</code> does not belong to you.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "DelegationSetNotAvailableException",
        "documentation" : "<p>Amazon Route 53 allows some duplicate domain names, but there is a maximum number of duplicate names. This error indicates that you have reached that maximum. If you want to create another hosted zone with the same name and Amazon Route 53 generates this error, you can request an increase to the limit on the <a href=\"http://aws.amazon.com/route53-request/\">Contact Us</a> page.</p>"
      }, {
        "exceptionName" : "ConflictingDomainExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchDelegationSetException",
        "documentation" : "<p>The specified delegation set does not exist.</p>"
      }, {
        "exceptionName" : "DelegationSetNotReusableException",
        "documentation" : "<p>The specified delegation set has not been marked as reusable.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createHostedZone",
      "syncReturnType" : "CreateHostedZoneResult",
      "asyncReturnType" : "CreateHostedZoneResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHostedZoneResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHostedZoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHostedZoneRequest, CreateHostedZoneResult>",
      "authenticated" : true
    },
    "CreateReusableDelegationSet" : {
      "documentation" : "<p>This action creates a reusable delegationSet.</p> <p>To create a new reusable delegationSet, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/delegationset</code> resource. The request body must include a document with a <code>CreateReusableDelegationSetRequest</code> element. The response returns the <code>CreateReusableDelegationSetResponse</code> element that contains metadata about the delegationSet. </p> <p>If the optional parameter HostedZoneId is specified, it marks the delegationSet associated with that particular hosted zone as reusable. </p>",
      "operationName" : "CreateReusableDelegationSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "createReusableDelegationSetRequest",
        "variableType" : "CreateReusableDelegationSetRequest",
        "variableDeclarationType" : "CreateReusableDelegationSetRequest",
        "documentation" : "",
        "simpleType" : "CreateReusableDelegationSetRequest",
        "variableSetterType" : "CreateReusableDelegationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateReusableDelegationSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DelegationSetAlreadyCreatedException",
        "documentation" : "<p>A delegation set with the same owner and caller reference combination has already been created.</p>"
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>The limits specified for a resource have been exceeded.</p>"
      }, {
        "exceptionName" : "HostedZoneNotFoundException",
        "documentation" : "<p>The specified HostedZone cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>At least one of the specified arguments is invalid.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "DelegationSetNotAvailableException",
        "documentation" : "<p>Amazon Route 53 allows some duplicate domain names, but there is a maximum number of duplicate names. This error indicates that you have reached that maximum. If you want to create another hosted zone with the same name and Amazon Route 53 generates this error, you can request an increase to the limit on the <a href=\"http://aws.amazon.com/route53-request/\">Contact Us</a> page.</p>"
      }, {
        "exceptionName" : "DelegationSetAlreadyReusableException",
        "documentation" : "<p>The specified delegation set has already been marked as reusable.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createReusableDelegationSet",
      "syncReturnType" : "CreateReusableDelegationSetResult",
      "asyncReturnType" : "CreateReusableDelegationSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReusableDelegationSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReusableDelegationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReusableDelegationSetRequest, CreateReusableDelegationSetResult>",
      "authenticated" : true
    },
    "CreateTrafficPolicy" : {
      "documentation" : "<p>Creates a traffic policy, which you use to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com).</p> <p>To create a traffic policy, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy</code> resource. The request body must include a document with a <code>CreateTrafficPolicyRequest</code> element. The response includes the <code>CreateTrafficPolicyResponse</code> element, which contains information about the new traffic policy.</p>",
      "operationName" : "CreateTrafficPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTrafficPolicyRequest",
        "variableType" : "CreateTrafficPolicyRequest",
        "variableDeclarationType" : "CreateTrafficPolicyRequest",
        "documentation" : "<p>A complex type that contains information about the traffic policy that you want to create.</p>",
        "simpleType" : "CreateTrafficPolicyRequest",
        "variableSetterType" : "CreateTrafficPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTrafficPolicyResult",
        "documentation" : "<p>A complex type that contains the response information for the <code>CreateTrafficPolicy</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "TooManyTrafficPoliciesException",
        "documentation" : "<p>You've created the maximum number of traffic policies that can be created for the current AWS account. You can request an increase to the limit on the <a href=\"http://aws.amazon.com/route53-request/\">Contact Us</a> page.</p>"
      }, {
        "exceptionName" : "TrafficPolicyAlreadyExistsException",
        "documentation" : "<p>A traffic policy that has the same value for <code>Name</code> already exists.</p>"
      }, {
        "exceptionName" : "InvalidTrafficPolicyDocumentException",
        "documentation" : "<p>The format of the traffic policy document that you specified in the <code>Document</code> element is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createTrafficPolicy",
      "syncReturnType" : "CreateTrafficPolicyResult",
      "asyncReturnType" : "CreateTrafficPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrafficPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrafficPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrafficPolicyRequest, CreateTrafficPolicyResult>",
      "authenticated" : true
    },
    "CreateTrafficPolicyInstance" : {
      "documentation" : "<p>Creates resource record sets in a specified hosted zone based on the settings in a specified traffic policy version. In addition, <code>CreateTrafficPolicyInstance</code> associates the resource record sets with a specified domain name (such as example.com) or subdomain name (such as www.example.com). Amazon Route 53 responds to DNS queries for the domain or subdomain name by using the resource record sets that <code>CreateTrafficPolicyInstance</code> created.</p> <p>To create a traffic policy instance, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance</code> resource. The request body must include a document with a <code>CreateTrafficPolicyRequest</code> element. The response returns the <code>CreateTrafficPolicyInstanceResponse</code> element, which contains information about the traffic policy instance.</p>",
      "operationName" : "CreateTrafficPolicyInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTrafficPolicyInstanceRequest",
        "variableType" : "CreateTrafficPolicyInstanceRequest",
        "variableDeclarationType" : "CreateTrafficPolicyInstanceRequest",
        "documentation" : "<p>A complex type that contains information about the resource record sets that you want to create based on a specified traffic policy.</p>",
        "simpleType" : "CreateTrafficPolicyInstanceRequest",
        "variableSetterType" : "CreateTrafficPolicyInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTrafficPolicyInstanceResult",
        "documentation" : "<p>A complex type that contains the response information for the <code>CreateTrafficPolicyInstance</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "TooManyTrafficPolicyInstancesException",
        "documentation" : "<p>You've created the maximum number of traffic policy instances that can be created for the current AWS account. You can request an increase to the limit on the <a href=\"http://aws.amazon.com/route53-request/\">Contact Us</a> page.</p>"
      }, {
        "exceptionName" : "NoSuchTrafficPolicyException",
        "documentation" : "<p>No traffic policy exists with the specified ID.</p>"
      }, {
        "exceptionName" : "TrafficPolicyInstanceAlreadyExistsException",
        "documentation" : "<p>Traffic policy instance with given Id already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createTrafficPolicyInstance",
      "syncReturnType" : "CreateTrafficPolicyInstanceResult",
      "asyncReturnType" : "CreateTrafficPolicyInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrafficPolicyInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrafficPolicyInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrafficPolicyInstanceRequest, CreateTrafficPolicyInstanceResult>",
      "authenticated" : true
    },
    "CreateTrafficPolicyVersion" : {
      "documentation" : "<p>Creates a new version of an existing traffic policy. When you create a new version of a traffic policy, you specify the ID of the traffic policy that you want to update and a JSON-formatted document that describes the new version.</p> <p>You use traffic policies to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com).</p> <p>To create a new version, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy/</code> resource. The request body includes a document with a <code>CreateTrafficPolicyVersionRequest</code> element. The response returns the <code>CreateTrafficPolicyVersionResponse</code> element, which contains information about the new version of the traffic policy.</p>",
      "operationName" : "CreateTrafficPolicyVersion",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTrafficPolicyVersionRequest",
        "variableType" : "CreateTrafficPolicyVersionRequest",
        "variableDeclarationType" : "CreateTrafficPolicyVersionRequest",
        "documentation" : "<p>A complex type that contains information about the traffic policy for which you want to create a new version.</p>",
        "simpleType" : "CreateTrafficPolicyVersionRequest",
        "variableSetterType" : "CreateTrafficPolicyVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTrafficPolicyVersionResult",
        "documentation" : "<p>A complex type that contains the response information for the <code>CreateTrafficPolicyVersion</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchTrafficPolicyException",
        "documentation" : "<p>No traffic policy exists with the specified ID.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another user submitted a request to update the object at the same time that you did. Retry the request. </p>"
      }, {
        "exceptionName" : "InvalidTrafficPolicyDocumentException",
        "documentation" : "<p>The format of the traffic policy document that you specified in the <code>Document</code> element is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createTrafficPolicyVersion",
      "syncReturnType" : "CreateTrafficPolicyVersionResult",
      "asyncReturnType" : "CreateTrafficPolicyVersionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrafficPolicyVersionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrafficPolicyVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrafficPolicyVersionRequest, CreateTrafficPolicyVersionResult>",
      "authenticated" : true
    },
    "DeleteHealthCheck" : {
      "documentation" : "<p>This action deletes a health check. To delete a health check, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/healthcheck/<i>health check ID</i></code> resource.</p> <important> You can delete a health check only if there are no resource record sets associated with this health check. If resource record sets are associated with this health check, you must disassociate them before you can delete your health check. If you try to delete a health check that is associated with resource record sets, Amazon Route 53 will deny your request with a <code>HealthCheckInUse</code> error. For information about disassociating the records from your health check, see <code>ChangeResourceRecordSets</code>.</important>",
      "operationName" : "DeleteHealthCheck",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteHealthCheckRequest",
        "variableType" : "DeleteHealthCheckRequest",
        "variableDeclarationType" : "DeleteHealthCheckRequest",
        "documentation" : "<p>A complex type containing the request information for delete health check.</p>",
        "simpleType" : "DeleteHealthCheckRequest",
        "variableSetterType" : "DeleteHealthCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteHealthCheckResult",
        "documentation" : "<p>Empty response for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHealthCheckException",
        "documentation" : "<p>The health check you are trying to get or delete does not exist.</p>"
      }, {
        "exceptionName" : "HealthCheckInUseException",
        "documentation" : "<p>There are resource records associated with this health check. Before you can delete the health check, you must disassociate it from the resource record sets.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteHealthCheck",
      "syncReturnType" : "DeleteHealthCheckResult",
      "asyncReturnType" : "DeleteHealthCheckResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHealthCheckResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHealthCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHealthCheckRequest, DeleteHealthCheckResult>",
      "authenticated" : true
    },
    "DeleteHostedZone" : {
      "documentation" : "<p>This action deletes a hosted zone. To delete a hosted zone, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted zone ID</i></code> resource.</p> <important>You can delete a hosted zone only if there are no resource record sets other than the default SOA record and NS resource record sets. If your hosted zone contains other resource record sets, you must delete them before you can delete your hosted zone. If you try to delete a hosted zone that contains other resource record sets, Amazon Route 53 will deny your request with a <code>HostedZoneNotEmpty</code> error. For information about deleting records from your hosted zone, see <code>ChangeResourceRecordSets</code>.</important>",
      "operationName" : "DeleteHostedZone",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteHostedZoneRequest",
        "variableType" : "DeleteHostedZoneRequest",
        "variableDeclarationType" : "DeleteHostedZoneRequest",
        "documentation" : "<p>A complex type that contains information about the hosted zone that you want to delete.</p>",
        "simpleType" : "DeleteHostedZoneRequest",
        "variableSetterType" : "DeleteHostedZoneRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteHostedZoneResult",
        "documentation" : "<p>A complex type containing the response information for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "HostedZoneNotEmptyException",
        "documentation" : "<p>The hosted zone contains resource record sets in addition to the default NS and SOA resource record sets. Before you can delete the hosted zone, you must delete the additional resource record sets.</p>"
      }, {
        "exceptionName" : "PriorRequestNotCompleteException",
        "documentation" : "<p>The request was rejected because Amazon Route 53 was still processing a prior request.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "InvalidDomainNameException",
        "documentation" : "<p>This error indicates that the specified domain name is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteHostedZone",
      "syncReturnType" : "DeleteHostedZoneResult",
      "asyncReturnType" : "DeleteHostedZoneResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHostedZoneResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHostedZoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHostedZoneRequest, DeleteHostedZoneResult>",
      "authenticated" : true
    },
    "DeleteReusableDelegationSet" : {
      "documentation" : "<p>This action deletes a reusable delegation set. To delete a reusable delegation set, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/delegationset/<i>delegation set ID</i></code> resource.</p> <important> You can delete a reusable delegation set only if there are no associated hosted zones. If your reusable delegation set contains associated hosted zones, you must delete them before you can delete your reusable delegation set. If you try to delete a reusable delegation set that contains associated hosted zones, Amazon Route 53 will deny your request with a <code>DelegationSetInUse</code> error.</important>",
      "operationName" : "DeleteReusableDelegationSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteReusableDelegationSetRequest",
        "variableType" : "DeleteReusableDelegationSetRequest",
        "variableDeclarationType" : "DeleteReusableDelegationSetRequest",
        "documentation" : "<p>A complex type containing the information for the delete request.</p>",
        "simpleType" : "DeleteReusableDelegationSetRequest",
        "variableSetterType" : "DeleteReusableDelegationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteReusableDelegationSetResult",
        "documentation" : "<p>Empty response for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDelegationSetException",
        "documentation" : "<p>The specified delegation set does not exist.</p>"
      }, {
        "exceptionName" : "DelegationSetInUseException",
        "documentation" : "<p>The specified delegation contains associated hosted zones which must be deleted before the reusable delegation set can be deleted.</p>"
      }, {
        "exceptionName" : "DelegationSetNotReusableException",
        "documentation" : "<p>The specified delegation set has not been marked as reusable.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteReusableDelegationSet",
      "syncReturnType" : "DeleteReusableDelegationSetResult",
      "asyncReturnType" : "DeleteReusableDelegationSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReusableDelegationSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReusableDelegationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReusableDelegationSetRequest, DeleteReusableDelegationSetResult>",
      "authenticated" : true
    },
    "DeleteTrafficPolicy" : {
      "documentation" : "<p>Deletes a traffic policy. To delete a traffic policy, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy</code> resource.</p>",
      "operationName" : "DeleteTrafficPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTrafficPolicyRequest",
        "variableType" : "DeleteTrafficPolicyRequest",
        "variableDeclarationType" : "DeleteTrafficPolicyRequest",
        "documentation" : "<p>A request to delete a specified traffic policy version.</p>",
        "simpleType" : "DeleteTrafficPolicyRequest",
        "variableSetterType" : "DeleteTrafficPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTrafficPolicyResult",
        "documentation" : "<p>An empty element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchTrafficPolicyException",
        "documentation" : "<p>No traffic policy exists with the specified ID.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "TrafficPolicyInUseException",
        "documentation" : "<p>One or more traffic policy instances were created by using the specified traffic policy.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another user submitted a request to update the object at the same time that you did. Retry the request. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteTrafficPolicy",
      "syncReturnType" : "DeleteTrafficPolicyResult",
      "asyncReturnType" : "DeleteTrafficPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrafficPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrafficPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrafficPolicyRequest, DeleteTrafficPolicyResult>",
      "authenticated" : true
    },
    "DeleteTrafficPolicyInstance" : {
      "documentation" : "<p>Deletes a traffic policy instance and all of the resource record sets that Amazon Route 53 created when you created the instance.</p> <p>To delete a traffic policy instance, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy/<i>traffic policy instance ID</i></code> resource.</p> <important>When you delete a traffic policy instance, Amazon Route 53 also deletes all of the resource record sets that were created when you created the traffic policy instance.</important>",
      "operationName" : "DeleteTrafficPolicyInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTrafficPolicyInstanceRequest",
        "variableType" : "DeleteTrafficPolicyInstanceRequest",
        "variableDeclarationType" : "DeleteTrafficPolicyInstanceRequest",
        "documentation" : "<p>A complex type that contains information about the traffic policy instance that you want to delete.</p>",
        "simpleType" : "DeleteTrafficPolicyInstanceRequest",
        "variableSetterType" : "DeleteTrafficPolicyInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTrafficPolicyInstanceResult",
        "documentation" : "<p>An empty element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchTrafficPolicyInstanceException",
        "documentation" : "<p>No traffic policy instance exists with the specified ID.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "PriorRequestNotCompleteException",
        "documentation" : "<p>The request was rejected because Amazon Route 53 was still processing a prior request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteTrafficPolicyInstance",
      "syncReturnType" : "DeleteTrafficPolicyInstanceResult",
      "asyncReturnType" : "DeleteTrafficPolicyInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrafficPolicyInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrafficPolicyInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrafficPolicyInstanceRequest, DeleteTrafficPolicyInstanceResult>",
      "authenticated" : true
    },
    "DisassociateVPCFromHostedZone" : {
      "documentation" : "<p>This action disassociates a VPC from an hosted zone. </p> <p>To disassociate a VPC to a hosted zone, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted zone ID</i>/disassociatevpc</code> resource. The request body must include a document with a <code>DisassociateVPCFromHostedZoneRequest</code> element. The response returns the <code>DisassociateVPCFromHostedZoneResponse</code> element that contains <code>ChangeInfo</code> for you to track the progress of the <code>DisassociateVPCFromHostedZoneRequest</code> you made. See <code>GetChange</code> operation for how to track the progress of your change.</p>",
      "operationName" : "DisassociateVPCFromHostedZone",
      "deprecated" : false,
      "input" : {
        "variableName" : "disassociateVPCFromHostedZoneRequest",
        "variableType" : "DisassociateVPCFromHostedZoneRequest",
        "variableDeclarationType" : "DisassociateVPCFromHostedZoneRequest",
        "documentation" : "<p>A complex type that contains information about the request to disassociate a VPC from an hosted zone.</p>",
        "simpleType" : "DisassociateVPCFromHostedZoneRequest",
        "variableSetterType" : "DisassociateVPCFromHostedZoneRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisassociateVPCFromHostedZoneResult",
        "documentation" : "<p>A complex type containing the response information for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidVPCIdException",
        "documentation" : "<p>The hosted zone you are trying to create for your VPC_ID does not belong to you. Amazon Route 53 returns this error when the VPC specified by <code>VPCId</code> does not belong to you.</p>"
      }, {
        "exceptionName" : "VPCAssociationNotFoundException",
        "documentation" : "<p>The VPC you specified is not currently associated with the hosted zone.</p>"
      }, {
        "exceptionName" : "LastVPCAssociationException",
        "documentation" : "<p>The VPC you are trying to disassociate from the hosted zone is the last the VPC that is associated with the hosted zone. Amazon Route 53 currently doesn't support disassociate the last VPC from the hosted zone.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "disassociateVPCFromHostedZone",
      "syncReturnType" : "DisassociateVPCFromHostedZoneResult",
      "asyncReturnType" : "DisassociateVPCFromHostedZoneResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateVPCFromHostedZoneResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateVPCFromHostedZoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateVPCFromHostedZoneRequest, DisassociateVPCFromHostedZoneResult>",
      "authenticated" : true
    },
    "GetChange" : {
      "documentation" : "<p>This action returns the current status of a change batch request. The status is one of the following values:</p> <p>- <code>PENDING</code> indicates that the changes in this request have not replicated to all Amazon Route 53 DNS servers. This is the initial status of all change batch requests.</p> <p>- <code>INSYNC</code> indicates that the changes have replicated to all Amazon Route 53 DNS servers. </p>",
      "operationName" : "GetChange",
      "deprecated" : false,
      "input" : {
        "variableName" : "getChangeRequest",
        "variableType" : "GetChangeRequest",
        "variableDeclarationType" : "GetChangeRequest",
        "documentation" : "<p>The input for a GetChange request.</p>",
        "simpleType" : "GetChangeRequest",
        "variableSetterType" : "GetChangeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetChangeResult",
        "documentation" : "<p>A complex type that contains the <code>ChangeInfo</code> element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchChangeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getChange",
      "syncReturnType" : "GetChangeResult",
      "asyncReturnType" : "GetChangeResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetChangeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetChangeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChangeRequest, GetChangeResult>",
      "authenticated" : true
    },
    "GetChangeDetails" : {
      "documentation" : "<p>This action returns the status and changes of a change batch request.</p>",
      "operationName" : "GetChangeDetails",
      "deprecated" : true,
      "input" : {
        "variableName" : "getChangeDetailsRequest",
        "variableType" : "GetChangeDetailsRequest",
        "variableDeclarationType" : "GetChangeDetailsRequest",
        "documentation" : "<p>The input for a GetChangeDetails request.</p>",
        "simpleType" : "GetChangeDetailsRequest",
        "variableSetterType" : "GetChangeDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetChangeDetailsResult",
        "documentation" : "<p>A complex type that contains the <code>ChangeBatchRecord</code> element.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchChangeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getChangeDetails",
      "syncReturnType" : "GetChangeDetailsResult",
      "asyncReturnType" : "GetChangeDetailsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetChangeDetailsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetChangeDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChangeDetailsRequest, GetChangeDetailsResult>",
      "authenticated" : true
    },
    "GetCheckerIpRanges" : {
      "documentation" : "<p>To retrieve a list of the IP ranges used by Amazon Route 53 health checkers to check the health of your resources, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/checkeripranges</code> resource. You can use these IP addresses to configure router and firewall rules to allow health checkers to check the health of your resources.</p>",
      "operationName" : "GetCheckerIpRanges",
      "deprecated" : false,
      "input" : {
        "variableName" : "getCheckerIpRangesRequest",
        "variableType" : "GetCheckerIpRangesRequest",
        "variableDeclarationType" : "GetCheckerIpRangesRequest",
        "documentation" : "<p>Empty request.</p>",
        "simpleType" : "GetCheckerIpRangesRequest",
        "variableSetterType" : "GetCheckerIpRangesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetCheckerIpRangesResult",
        "documentation" : "<p>A complex type that contains the <code>CheckerIpRanges</code> element.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getCheckerIpRanges",
      "syncReturnType" : "GetCheckerIpRangesResult",
      "asyncReturnType" : "GetCheckerIpRangesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetCheckerIpRangesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetCheckerIpRangesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCheckerIpRangesRequest, GetCheckerIpRangesResult>",
      "authenticated" : true
    },
    "GetGeoLocation" : {
      "documentation" : "<p>To retrieve a single geo location, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/geolocation</code> resource with one of these options: continentcode | countrycode | countrycode and subdivisioncode.</p>",
      "operationName" : "GetGeoLocation",
      "deprecated" : false,
      "input" : {
        "variableName" : "getGeoLocationRequest",
        "variableType" : "GetGeoLocationRequest",
        "variableDeclarationType" : "GetGeoLocationRequest",
        "documentation" : "<p>A complex type that contains information about the request to get a geo location.</p>",
        "simpleType" : "GetGeoLocationRequest",
        "variableSetterType" : "GetGeoLocationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetGeoLocationResult",
        "documentation" : "<p>A complex type containing information about the specified geo location.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchGeoLocationException",
        "documentation" : "<p>The geo location you are trying to get does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getGeoLocation",
      "syncReturnType" : "GetGeoLocationResult",
      "asyncReturnType" : "GetGeoLocationResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetGeoLocationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetGeoLocationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGeoLocationRequest, GetGeoLocationResult>",
      "authenticated" : true
    },
    "GetHealthCheck" : {
      "documentation" : "<p>To retrieve the health check, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheck/<i>health check ID</i></code> resource. </p>",
      "operationName" : "GetHealthCheck",
      "deprecated" : false,
      "input" : {
        "variableName" : "getHealthCheckRequest",
        "variableType" : "GetHealthCheckRequest",
        "variableDeclarationType" : "GetHealthCheckRequest",
        "documentation" : "<p>A complex type that contains information about the request to get a health check.</p>",
        "simpleType" : "GetHealthCheckRequest",
        "variableSetterType" : "GetHealthCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetHealthCheckResult",
        "documentation" : "<p>A complex type containing information about the specified health check.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHealthCheckException",
        "documentation" : "<p>The health check you are trying to get or delete does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : "<p>The resource you are trying to access is unsupported on this Amazon Route 53 endpoint. Please consider using a newer endpoint or a tool that does so.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getHealthCheck",
      "syncReturnType" : "GetHealthCheckResult",
      "asyncReturnType" : "GetHealthCheckResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetHealthCheckResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetHealthCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHealthCheckRequest, GetHealthCheckResult>",
      "authenticated" : true
    },
    "GetHealthCheckCount" : {
      "documentation" : "<p>To retrieve a count of all your health checks, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheckcount</code> resource.</p>",
      "operationName" : "GetHealthCheckCount",
      "deprecated" : false,
      "input" : {
        "variableName" : "getHealthCheckCountRequest",
        "variableType" : "GetHealthCheckCountRequest",
        "variableDeclarationType" : "GetHealthCheckCountRequest",
        "documentation" : "<p>To retrieve a count of all your health checks, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheckcount</code> resource.</p>",
        "simpleType" : "GetHealthCheckCountRequest",
        "variableSetterType" : "GetHealthCheckCountRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetHealthCheckCountResult",
        "documentation" : "<p>A complex type that contains the count of health checks associated with the current AWS account.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getHealthCheckCount",
      "syncReturnType" : "GetHealthCheckCountResult",
      "asyncReturnType" : "GetHealthCheckCountResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetHealthCheckCountResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetHealthCheckCountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHealthCheckCountRequest, GetHealthCheckCountResult>",
      "authenticated" : true
    },
    "GetHealthCheckLastFailureReason" : {
      "documentation" : "<p>If you want to learn why a health check is currently failing or why it failed most recently (if at all), you can get the failure reason for the most recent failure. Send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheck/<i>health check ID</i>/lastfailurereason</code> resource.</p>",
      "operationName" : "GetHealthCheckLastFailureReason",
      "deprecated" : false,
      "input" : {
        "variableName" : "getHealthCheckLastFailureReasonRequest",
        "variableType" : "GetHealthCheckLastFailureReasonRequest",
        "variableDeclarationType" : "GetHealthCheckLastFailureReasonRequest",
        "documentation" : "<p>A complex type that contains information about the request to get the most recent failure reason for a health check.</p>",
        "simpleType" : "GetHealthCheckLastFailureReasonRequest",
        "variableSetterType" : "GetHealthCheckLastFailureReasonRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetHealthCheckLastFailureReasonResult",
        "documentation" : "<p>A complex type that contains information about the most recent failure for the specified health check.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHealthCheckException",
        "documentation" : "<p>The health check you are trying to get or delete does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getHealthCheckLastFailureReason",
      "syncReturnType" : "GetHealthCheckLastFailureReasonResult",
      "asyncReturnType" : "GetHealthCheckLastFailureReasonResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetHealthCheckLastFailureReasonResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetHealthCheckLastFailureReasonResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHealthCheckLastFailureReasonRequest, GetHealthCheckLastFailureReasonResult>",
      "authenticated" : true
    },
    "GetHealthCheckStatus" : {
      "documentation" : "<p>To retrieve the health check status, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheck/<i>health check ID</i>/status</code> resource. You can use this call to get a health check's current status. </p>",
      "operationName" : "GetHealthCheckStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "getHealthCheckStatusRequest",
        "variableType" : "GetHealthCheckStatusRequest",
        "variableDeclarationType" : "GetHealthCheckStatusRequest",
        "documentation" : "<p>A complex type that contains information about the request to get health check status for a health check.</p>",
        "simpleType" : "GetHealthCheckStatusRequest",
        "variableSetterType" : "GetHealthCheckStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetHealthCheckStatusResult",
        "documentation" : "<p>A complex type that contains information about the status of the specified health check.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHealthCheckException",
        "documentation" : "<p>The health check you are trying to get or delete does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getHealthCheckStatus",
      "syncReturnType" : "GetHealthCheckStatusResult",
      "asyncReturnType" : "GetHealthCheckStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetHealthCheckStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetHealthCheckStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHealthCheckStatusRequest, GetHealthCheckStatusResult>",
      "authenticated" : true
    },
    "GetHostedZone" : {
      "documentation" : "<p>To retrieve the delegation set for a hosted zone, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted zone ID</i></code> resource. The delegation set is the four Amazon Route 53 name servers that were assigned to the hosted zone when you created it.</p>",
      "operationName" : "GetHostedZone",
      "deprecated" : false,
      "input" : {
        "variableName" : "getHostedZoneRequest",
        "variableType" : "GetHostedZoneRequest",
        "variableDeclarationType" : "GetHostedZoneRequest",
        "documentation" : "<p>The input for a GetHostedZone request.</p>",
        "simpleType" : "GetHostedZoneRequest",
        "variableSetterType" : "GetHostedZoneRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetHostedZoneResult",
        "documentation" : "<p>A complex type containing information about the specified hosted zone.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getHostedZone",
      "syncReturnType" : "GetHostedZoneResult",
      "asyncReturnType" : "GetHostedZoneResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetHostedZoneResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetHostedZoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHostedZoneRequest, GetHostedZoneResult>",
      "authenticated" : true
    },
    "GetHostedZoneCount" : {
      "documentation" : "<p>To retrieve a count of all your hosted zones, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzonecount</code> resource.</p>",
      "operationName" : "GetHostedZoneCount",
      "deprecated" : false,
      "input" : {
        "variableName" : "getHostedZoneCountRequest",
        "variableType" : "GetHostedZoneCountRequest",
        "variableDeclarationType" : "GetHostedZoneCountRequest",
        "documentation" : "<p>To retrieve a count of all your hosted zones, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzonecount</code> resource.</p>",
        "simpleType" : "GetHostedZoneCountRequest",
        "variableSetterType" : "GetHostedZoneCountRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetHostedZoneCountResult",
        "documentation" : "<p>A complex type that contains the count of hosted zones associated with the current AWS account.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getHostedZoneCount",
      "syncReturnType" : "GetHostedZoneCountResult",
      "asyncReturnType" : "GetHostedZoneCountResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetHostedZoneCountResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetHostedZoneCountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHostedZoneCountRequest, GetHostedZoneCountResult>",
      "authenticated" : true
    },
    "GetReusableDelegationSet" : {
      "documentation" : "<p>To retrieve the reusable delegation set, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/delegationset/<i>delegation set ID</i></code> resource.</p>",
      "operationName" : "GetReusableDelegationSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "getReusableDelegationSetRequest",
        "variableType" : "GetReusableDelegationSetRequest",
        "variableDeclarationType" : "GetReusableDelegationSetRequest",
        "documentation" : "<p>The input for a <code>GetReusableDelegationSet</code> request.</p>",
        "simpleType" : "GetReusableDelegationSetRequest",
        "variableSetterType" : "GetReusableDelegationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetReusableDelegationSetResult",
        "documentation" : "<p>A complex type containing information about the specified reusable delegation set.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDelegationSetException",
        "documentation" : "<p>The specified delegation set does not exist.</p>"
      }, {
        "exceptionName" : "DelegationSetNotReusableException",
        "documentation" : "<p>The specified delegation set has not been marked as reusable.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getReusableDelegationSet",
      "syncReturnType" : "GetReusableDelegationSetResult",
      "asyncReturnType" : "GetReusableDelegationSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetReusableDelegationSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetReusableDelegationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReusableDelegationSetRequest, GetReusableDelegationSetResult>",
      "authenticated" : true
    },
    "GetTrafficPolicy" : {
      "documentation" : "<p>Gets information about a specific traffic policy version. To get the information, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy</code> resource.</p>",
      "operationName" : "GetTrafficPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTrafficPolicyRequest",
        "variableType" : "GetTrafficPolicyRequest",
        "variableDeclarationType" : "GetTrafficPolicyRequest",
        "documentation" : "<p>Gets information about a specific traffic policy version. To get the information, send a GET request to the /<i>Route 53 API version</i>/trafficpolicy resource, and specify the ID and the version of the traffic policy.</p>",
        "simpleType" : "GetTrafficPolicyRequest",
        "variableSetterType" : "GetTrafficPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTrafficPolicyResult",
        "documentation" : "<p>A complex type that contains the response information for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchTrafficPolicyException",
        "documentation" : "<p>No traffic policy exists with the specified ID.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getTrafficPolicy",
      "syncReturnType" : "GetTrafficPolicyResult",
      "asyncReturnType" : "GetTrafficPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrafficPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrafficPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrafficPolicyRequest, GetTrafficPolicyResult>",
      "authenticated" : true
    },
    "GetTrafficPolicyInstance" : {
      "documentation" : "<p>Gets information about a specified traffic policy instance.</p> <p>To get information about the traffic policy instance, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance</code> resource.</p> <note>After you submit a <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</note>",
      "operationName" : "GetTrafficPolicyInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTrafficPolicyInstanceRequest",
        "variableType" : "GetTrafficPolicyInstanceRequest",
        "variableDeclarationType" : "GetTrafficPolicyInstanceRequest",
        "documentation" : "<p>Gets information about a specified traffic policy instance.</p> <p>To get information about a traffic policy instance, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance/<i>Id</i></code> resource.</p>",
        "simpleType" : "GetTrafficPolicyInstanceRequest",
        "variableSetterType" : "GetTrafficPolicyInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTrafficPolicyInstanceResult",
        "documentation" : "<p>A complex type that contains information about the resource record sets that Amazon Route 53 created based on a specified traffic policy.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchTrafficPolicyInstanceException",
        "documentation" : "<p>No traffic policy instance exists with the specified ID.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getTrafficPolicyInstance",
      "syncReturnType" : "GetTrafficPolicyInstanceResult",
      "asyncReturnType" : "GetTrafficPolicyInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrafficPolicyInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrafficPolicyInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrafficPolicyInstanceRequest, GetTrafficPolicyInstanceResult>",
      "authenticated" : true
    },
    "GetTrafficPolicyInstanceCount" : {
      "documentation" : "<p>Gets the number of traffic policy instances that are associated with the current AWS account.</p> <p>To get the number of traffic policy instances, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstancecount</code> resource.</p>",
      "operationName" : "GetTrafficPolicyInstanceCount",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTrafficPolicyInstanceCountRequest",
        "variableType" : "GetTrafficPolicyInstanceCountRequest",
        "variableDeclarationType" : "GetTrafficPolicyInstanceCountRequest",
        "documentation" : "<p>To retrieve a count of all your traffic policy instances, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstancecount</code> resource.</p>",
        "simpleType" : "GetTrafficPolicyInstanceCountRequest",
        "variableSetterType" : "GetTrafficPolicyInstanceCountRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTrafficPolicyInstanceCountResult",
        "documentation" : "<p>A complex type that contains information about the number of traffic policy instances that are associated with the current AWS account.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getTrafficPolicyInstanceCount",
      "syncReturnType" : "GetTrafficPolicyInstanceCountResult",
      "asyncReturnType" : "GetTrafficPolicyInstanceCountResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrafficPolicyInstanceCountResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrafficPolicyInstanceCountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrafficPolicyInstanceCountRequest, GetTrafficPolicyInstanceCountResult>",
      "authenticated" : true
    },
    "ListChangeBatchesByHostedZone" : {
      "documentation" : "<p>This action gets the list of ChangeBatches in a given time period for a given hosted zone.</p>",
      "operationName" : "ListChangeBatchesByHostedZone",
      "deprecated" : true,
      "input" : {
        "variableName" : "listChangeBatchesByHostedZoneRequest",
        "variableType" : "ListChangeBatchesByHostedZoneRequest",
        "variableDeclarationType" : "ListChangeBatchesByHostedZoneRequest",
        "documentation" : "<p>The input for a ListChangeBatchesByHostedZone request.</p>",
        "simpleType" : "ListChangeBatchesByHostedZoneRequest",
        "variableSetterType" : "ListChangeBatchesByHostedZoneRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListChangeBatchesByHostedZoneResult",
        "documentation" : "<p>The input for a ListChangeBatchesByHostedZone request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listChangeBatchesByHostedZone",
      "syncReturnType" : "ListChangeBatchesByHostedZoneResult",
      "asyncReturnType" : "ListChangeBatchesByHostedZoneResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListChangeBatchesByHostedZoneResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListChangeBatchesByHostedZoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChangeBatchesByHostedZoneRequest, ListChangeBatchesByHostedZoneResult>",
      "authenticated" : true
    },
    "ListChangeBatchesByRRSet" : {
      "documentation" : "<p>This action gets the list of ChangeBatches in a given time period for a given hosted zone and RRSet.</p>",
      "operationName" : "ListChangeBatchesByRRSet",
      "deprecated" : true,
      "input" : {
        "variableName" : "listChangeBatchesByRRSetRequest",
        "variableType" : "ListChangeBatchesByRRSetRequest",
        "variableDeclarationType" : "ListChangeBatchesByRRSetRequest",
        "documentation" : "<p>The input for a ListChangeBatchesByRRSet request.</p>",
        "simpleType" : "ListChangeBatchesByRRSetRequest",
        "variableSetterType" : "ListChangeBatchesByRRSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListChangeBatchesByRRSetResult",
        "documentation" : "<p>The input for a ListChangeBatchesByRRSet request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listChangeBatchesByRRSet",
      "syncReturnType" : "ListChangeBatchesByRRSetResult",
      "asyncReturnType" : "ListChangeBatchesByRRSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListChangeBatchesByRRSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListChangeBatchesByRRSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChangeBatchesByRRSetRequest, ListChangeBatchesByRRSetResult>",
      "authenticated" : true
    },
    "ListGeoLocations" : {
      "documentation" : "<p>To retrieve a list of supported geo locations, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/geolocations</code> resource. The response to this request includes a <code>GeoLocationDetailsList</code> element with zero, one, or multiple <code>GeoLocationDetails</code> child elements. The list is sorted by country code, and then subdivision code, followed by continents at the end of the list. </p> <p>By default, the list of geo locations is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. If the list is truncated, <code>IsTruncated</code> will be set to <i>true</i> and a combination of <code>NextContinentCode, NextCountryCode, NextSubdivisionCode</code> will be populated. You can pass these as parameters to <code>StartContinentCode, StartCountryCode, StartSubdivisionCode</code> to control the geo location that the list begins with. </p>",
      "operationName" : "ListGeoLocations",
      "deprecated" : false,
      "input" : {
        "variableName" : "listGeoLocationsRequest",
        "variableType" : "ListGeoLocationsRequest",
        "variableDeclarationType" : "ListGeoLocationsRequest",
        "documentation" : "<p>The input for a <code>ListGeoLocations</code> request.</p>",
        "simpleType" : "ListGeoLocationsRequest",
        "variableSetterType" : "ListGeoLocationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListGeoLocationsResult",
        "documentation" : "<p>A complex type that contains information about the geo locations that are returned by the request and information about the response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listGeoLocations",
      "syncReturnType" : "ListGeoLocationsResult",
      "asyncReturnType" : "ListGeoLocationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListGeoLocationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListGeoLocationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGeoLocationsRequest, ListGeoLocationsResult>",
      "authenticated" : true
    },
    "ListHealthChecks" : {
      "documentation" : "<p>To retrieve a list of your health checks, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheck</code> resource. The response to this request includes a <code>HealthChecks</code> element with zero, one, or multiple <code>HealthCheck</code> child elements. By default, the list of health checks is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the health check that the list begins with. </p> <note> Amazon Route 53 returns a maximum of 100 items. If you set MaxItems to a value greater than 100, Amazon Route 53 returns only the first 100.</note>",
      "operationName" : "ListHealthChecks",
      "deprecated" : false,
      "input" : {
        "variableName" : "listHealthChecksRequest",
        "variableType" : "ListHealthChecksRequest",
        "variableDeclarationType" : "ListHealthChecksRequest",
        "documentation" : "<p>To retrieve a list of your health checks, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheck</code> resource. The response to this request includes a <code>HealthChecks</code> element with zero or more <code>HealthCheck</code> child elements. By default, the list of health checks is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the health check that the list begins with.</p> <note> Amazon Route 53 returns a maximum of 100 items. If you set <code>MaxItems</code> to a value greater than 100, Amazon Route 53 returns only the first 100.</note>",
        "simpleType" : "ListHealthChecksRequest",
        "variableSetterType" : "ListHealthChecksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListHealthChecksResult",
        "documentation" : "<p>A complex type that contains the response for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : "<p>The resource you are trying to access is unsupported on this Amazon Route 53 endpoint. Please consider using a newer endpoint or a tool that does so.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listHealthChecks",
      "syncReturnType" : "ListHealthChecksResult",
      "asyncReturnType" : "ListHealthChecksResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListHealthChecksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListHealthChecksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHealthChecksRequest, ListHealthChecksResult>",
      "authenticated" : true
    },
    "ListHostedZones" : {
      "documentation" : "<p>To retrieve a list of your hosted zones, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzone</code> resource. The response to this request includes a <code>HostedZones</code> element with zero, one, or multiple <code>HostedZone</code> child elements. By default, the list of hosted zones is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the hosted zone that the list begins with. </p> <note> Amazon Route 53 returns a maximum of 100 items. If you set MaxItems to a value greater than 100, Amazon Route 53 returns only the first 100.</note>",
      "operationName" : "ListHostedZones",
      "deprecated" : false,
      "input" : {
        "variableName" : "listHostedZonesRequest",
        "variableType" : "ListHostedZonesRequest",
        "variableDeclarationType" : "ListHostedZonesRequest",
        "documentation" : "<p>To retrieve a list of your hosted zones, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzone</code> resource. The response to this request includes a <code>HostedZones</code> element with zero or more <code>HostedZone</code> child elements. By default, the list of hosted zones is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the hosted zone that the list begins with.</p> <note>Amazon Route 53 returns a maximum of 100 items. If you set <code>MaxItems</code> to a value greater than 100, Amazon Route 53 returns only the first 100.</note>",
        "simpleType" : "ListHostedZonesRequest",
        "variableSetterType" : "ListHostedZonesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListHostedZonesResult",
        "documentation" : "<p>A complex type that contains the response for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "NoSuchDelegationSetException",
        "documentation" : "<p>The specified delegation set does not exist.</p>"
      }, {
        "exceptionName" : "DelegationSetNotReusableException",
        "documentation" : "<p>The specified delegation set has not been marked as reusable.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listHostedZones",
      "syncReturnType" : "ListHostedZonesResult",
      "asyncReturnType" : "ListHostedZonesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListHostedZonesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListHostedZonesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHostedZonesRequest, ListHostedZonesResult>",
      "authenticated" : true
    },
    "ListHostedZonesByName" : {
      "documentation" : "<p>To retrieve a list of your hosted zones in lexicographic order, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzonesbyname</code> resource. The response to this request includes a <code>HostedZones</code> element with zero or more <code>HostedZone</code> child elements lexicographically ordered by DNS name. By default, the list of hosted zones is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>DNSName</code> and <code>HostedZoneId</code> parameters to control the hosted zone that the list begins with.</p> <note> Amazon Route 53 returns a maximum of 100 items. If you set MaxItems to a value greater than 100, Amazon Route 53 returns only the first 100.</note>",
      "operationName" : "ListHostedZonesByName",
      "deprecated" : false,
      "input" : {
        "variableName" : "listHostedZonesByNameRequest",
        "variableType" : "ListHostedZonesByNameRequest",
        "variableDeclarationType" : "ListHostedZonesByNameRequest",
        "documentation" : "<p>To retrieve a list of your hosted zones in lexicographic order, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzonesbyname</code> resource. The response to this request includes a <code>HostedZones</code> element with zero or more <code>HostedZone</code> child elements lexicographically ordered by DNS name. By default, the list of hosted zones is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>DNSName</code> and <code>HostedZoneId</code> parameters to control the hosted zone that the list begins with.</p>",
        "simpleType" : "ListHostedZonesByNameRequest",
        "variableSetterType" : "ListHostedZonesByNameRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListHostedZonesByNameResult",
        "documentation" : "<p>A complex type that contains the response for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "InvalidDomainNameException",
        "documentation" : "<p>This error indicates that the specified domain name is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listHostedZonesByName",
      "syncReturnType" : "ListHostedZonesByNameResult",
      "asyncReturnType" : "ListHostedZonesByNameResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListHostedZonesByNameResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListHostedZonesByNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHostedZonesByNameRequest, ListHostedZonesByNameResult>",
      "authenticated" : true
    },
    "ListResourceRecordSets" : {
      "documentation" : "<p>List the resource record sets in a specified hosted zone. Send a GET request to the <code>2013-04-01/hostedzone/<i>hosted zone ID</i>/rrset</code> resource.</p> <p><code>ListResourceRecordSets</code> returns up to 100 resource record sets at a time in ASCII order, beginning at a position specified by the name and type elements. The action sorts results first by DNS name with the labels reversed, for example:</p> <p><code>com.example.www.</code></p> <p>Note the trailing dot, which can change the sort order in some circumstances. When multiple records have the same DNS name, the action sorts results by the record type.</p> <p>You can use the name and type elements to adjust the beginning position of the list of resource record sets returned:</p> <ul> <li><b>If you do not specify <code>Name</code> or <code>Type</code></b>: The results begin with the first resource record set that the hosted zone contains.</li> <li><b>If you specify <code>Name</code> but not <code>Type</code></b>: The results begin with the first resource record set in the list whose name is greater than or equal to Name.</li> <li><b>If you specify <code>Type</code> but not <code>Name</code></b>: Amazon Route 53 returns the <code>InvalidInput</code> error.</li> <li><b>If you specify both <code>Name</code> and <code>Type</code></b>: The results begin with the first resource record set in the list whose name is greater than or equal to <code>Name</code>, and whose type is greater than or equal to <code>Type</code>.</li> </ul> <p>This action returns the most current version of the records. This includes records that are <code>PENDING</code>, and that are not yet available on all Amazon Route 53 DNS servers.</p> <p>To ensure that you get an accurate listing of the resource record sets for a hosted zone at a point in time, do not submit a <code>ChangeResourceRecordSets</code> request while you are paging through the results of a <code>ListResourceRecordSets</code> request. If you do, some pages may display results without the latest changes while other pages display results with the latest changes.</p>",
      "operationName" : "ListResourceRecordSets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listResourceRecordSetsRequest",
        "variableType" : "ListResourceRecordSetsRequest",
        "variableDeclarationType" : "ListResourceRecordSetsRequest",
        "documentation" : "<p>The input for a ListResourceRecordSets request.</p>",
        "simpleType" : "ListResourceRecordSetsRequest",
        "variableSetterType" : "ListResourceRecordSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListResourceRecordSetsResult",
        "documentation" : "<p>A complex type that contains information about the resource record sets that are returned by the request and information about the response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listResourceRecordSets",
      "syncReturnType" : "ListResourceRecordSetsResult",
      "asyncReturnType" : "ListResourceRecordSetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceRecordSetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceRecordSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceRecordSetsRequest, ListResourceRecordSetsResult>",
      "authenticated" : true
    },
    "ListReusableDelegationSets" : {
      "documentation" : "<p>To retrieve a list of your reusable delegation sets, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/delegationset</code> resource. The response to this request includes a <code>DelegationSets</code> element with zero, one, or multiple <code>DelegationSet</code> child elements. By default, the list of delegation sets is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the delegation set that the list begins with. </p> <note> Amazon Route 53 returns a maximum of 100 items. If you set MaxItems to a value greater than 100, Amazon Route 53 returns only the first 100.</note>",
      "operationName" : "ListReusableDelegationSets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listReusableDelegationSetsRequest",
        "variableType" : "ListReusableDelegationSetsRequest",
        "variableDeclarationType" : "ListReusableDelegationSetsRequest",
        "documentation" : "<p>To retrieve a list of your reusable delegation sets, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/delegationset</code> resource. The response to this request includes a <code>DelegationSets</code> element with zero or more <code>DelegationSet</code> child elements. By default, the list of reusable delegation sets is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the delegation set that the list begins with.</p> <note> Amazon Route 53 returns a maximum of 100 items. If you set <code>MaxItems</code> to a value greater than 100, Amazon Route 53 returns only the first 100.</note>",
        "simpleType" : "ListReusableDelegationSetsRequest",
        "variableSetterType" : "ListReusableDelegationSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListReusableDelegationSetsResult",
        "documentation" : "<p>A complex type that contains the response for the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listReusableDelegationSets",
      "syncReturnType" : "ListReusableDelegationSetsResult",
      "asyncReturnType" : "ListReusableDelegationSetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListReusableDelegationSetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListReusableDelegationSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReusableDelegationSetsRequest, ListReusableDelegationSetsResult>",
      "authenticated" : true
    },
    "ListTagsForResource" : {
      "documentation" : "",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : "<p>A complex type containing information about a request for a list of the tags that are associated with an individual resource.</p>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>A complex type containing tags for the specified resource.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "NoSuchHealthCheckException",
        "documentation" : "<p>The health check you are trying to get or delete does not exist.</p>"
      }, {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "PriorRequestNotCompleteException",
        "documentation" : "<p>The request was rejected because Amazon Route 53 was still processing a prior request.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listTagsForResource",
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "authenticated" : true
    },
    "ListTagsForResources" : {
      "documentation" : "",
      "operationName" : "ListTagsForResources",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourcesRequest",
        "variableType" : "ListTagsForResourcesRequest",
        "variableDeclarationType" : "ListTagsForResourcesRequest",
        "documentation" : "<p>A complex type containing information about a request for a list of the tags that are associated with up to 10 specified resources.</p>",
        "simpleType" : "ListTagsForResourcesRequest",
        "variableSetterType" : "ListTagsForResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourcesResult",
        "documentation" : "<p>A complex type containing tags for the specified resources.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Some value specified in the request is invalid or the XML document is malformed.</p>"
      }, {
        "exceptionName" : "NoSuchHealthCheckException",
        "documentation" : "<p>The health check you are trying to get or delete does not exist.</p>"
      }, {
        "exceptionName" : "NoSuchHostedZoneException",
        "documentation" : null
      }, {
        "exceptionName" : "PriorRequestNotCompleteException",
        "documentation" : "<p>The request was rejected because Amazon Route 53 was still processing a prior request.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listTagsForResources",
      "syncReturnType" : "ListTagsForResourcesResult",
      "asyncReturnType" : "ListTagsForResourcesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourcesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourcesRequest, ListTagsForResourcesResult>",
      "authenticated" : true
    },
    "ListTrafficPolicies" : {
[...]
