{
  "metadata" : {
    "apiVersion" : "2010-06-01",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Import/Export Service</fullname> AWS Import/Export accelerates transferring large amounts of data between the AWS cloud and portable storage devices that you mail to us. AWS Import/Export transfers data directly onto and off of your storage devices using Amazon's high-speed internal network and bypassing the Internet. For large data sets, AWS Import/Export is often faster than Internet transfer and more cost effective than upgrading your connectivity.",
    "defaultEndpoint" : "https://importexport.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "importexport.amazonaws.com",
    "syncInterface" : "AmazonImportExport",
    "syncClient" : "AmazonImportExportClient",
    "asyncInterface" : "AmazonImportExportAsync",
    "asyncClient" : "AmazonImportExportAsyncClient",
    "packageName" : "com.amazonaws.services.importexport",
    "packagePath" : "com/amazonaws/services/importexport",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Import/Export",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "importexport",
    "signingName" : "importexport",
    "xmlProtocol" : true,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "jsonProtocol" : false,
    "syncClientBuilderClassName" : "AmazonImportExportClientBuilder",
    "asyncClientBuilderClassName" : "AmazonImportExportAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonImportExportModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.importexport.smoketests",
    "serviceName" : "AWS Import/Export",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "CancelJob" : {
      "documentation" : "This operation cancels a specified job. Only the job owner can cancel it. The operation fails if the job has already started or is complete.",
      "operationName" : "CancelJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "variableDeclarationType" : "CancelJobRequest",
        "documentation" : "Input structure for the CancelJob operation.",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : "Output structure for the CancelJob operation."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "ExpiredJobIdException",
        "documentation" : "Indicates that the specified job has expired out of the system."
      }, {
        "exceptionName" : "CanceledJobIdException",
        "documentation" : "The specified job ID has been canceled and is no longer valid."
      }, {
        "exceptionName" : "UnableToCancelJobIdException",
        "documentation" : "AWS Import/Export cannot cancel the job"
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "cancelJob",
      "syncReturnType" : "CancelJobResult",
      "asyncReturnType" : "CancelJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "authenticated" : true
    },
    "CreateJob" : {
      "documentation" : "This operation initiates the process of scheduling an upload or download of your data. You include in the request a manifest that describes the data transfer specifics. The response to the request includes a job ID, which you can use in other operations, a signature that you use to identify your storage device, and the address where you should ship your storage device.",
      "operationName" : "CreateJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "variableDeclarationType" : "CreateJobRequest",
        "documentation" : "Input structure for the CreateJob operation.",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : "Output structure for the CreateJob operation."
      },
      "exceptions" : [ {
        "exceptionName" : "MissingParameterException",
        "documentation" : "One or more required parameters was missing from the request."
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "One or more parameters had an invalid value."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "The address specified in the manifest is invalid."
      }, {
        "exceptionName" : "InvalidManifestFieldException",
        "documentation" : "One or more manifest fields was invalid. Please correct and resubmit."
      }, {
        "exceptionName" : "MissingManifestFieldException",
        "documentation" : "One or more required fields were missing from the manifest file. Please correct and resubmit."
      }, {
        "exceptionName" : "NoSuchBucketException",
        "documentation" : "The specified bucket does not exist. Create the specified bucket or change the manifest's bucket, exportBucket, or logBucket field to a bucket that the account, as specified by the manifest's Access Key ID, has write permissions to."
      }, {
        "exceptionName" : "MissingCustomsException",
        "documentation" : "One or more required customs parameters was missing from the manifest."
      }, {
        "exceptionName" : "InvalidCustomsException",
        "documentation" : "One or more customs parameters was invalid. Please correct and resubmit."
      }, {
        "exceptionName" : "InvalidFileSystemException",
        "documentation" : "File system specified in export manifest is invalid."
      }, {
        "exceptionName" : "MultipleRegionsException",
        "documentation" : "Your manifest file contained buckets from multiple regions. A job is restricted to buckets from one region. Please correct and resubmit."
      }, {
        "exceptionName" : "BucketPermissionException",
        "documentation" : "The account specified does not have the appropriate bucket permissions."
      }, {
        "exceptionName" : "MalformedManifestException",
        "documentation" : "Your manifest is not well-formed."
      }, {
        "exceptionName" : "CreateJobQuotaExceededException",
        "documentation" : "Each account can create only a certain number of jobs per day. If you need to create more than this, please contact awsimportexport@amazon.com to explain your particular use case."
      }, {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createJob",
      "syncReturnType" : "CreateJobResult",
      "asyncReturnType" : "CreateJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "authenticated" : true
    },
    "GetShippingLabel" : {
      "documentation" : "This operation generates a pre-paid UPS shipping label that you will use to ship your device to AWS for processing.",
      "operationName" : "GetShippingLabel",
      "deprecated" : false,
      "input" : {
        "variableName" : "getShippingLabelRequest",
        "variableType" : "GetShippingLabelRequest",
        "variableDeclarationType" : "GetShippingLabelRequest",
        "documentation" : "",
        "simpleType" : "GetShippingLabelRequest",
        "variableSetterType" : "GetShippingLabelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetShippingLabelResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "ExpiredJobIdException",
        "documentation" : "Indicates that the specified job has expired out of the system."
      }, {
        "exceptionName" : "CanceledJobIdException",
        "documentation" : "The specified job ID has been canceled and is no longer valid."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "The address specified in the manifest is invalid."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "One or more parameters had an invalid value."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getShippingLabel",
      "syncReturnType" : "GetShippingLabelResult",
      "asyncReturnType" : "GetShippingLabelResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetShippingLabelResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetShippingLabelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetShippingLabelRequest, GetShippingLabelResult>",
      "authenticated" : true
    },
    "GetStatus" : {
      "documentation" : "This operation returns information about a job, including where the job is in the processing pipeline, the status of the results, and the signature value associated with the job. You can only return information about jobs you own.",
      "operationName" : "GetStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "getStatusRequest",
        "variableType" : "GetStatusRequest",
        "variableDeclarationType" : "GetStatusRequest",
        "documentation" : "Input structure for the GetStatus operation.",
        "simpleType" : "GetStatusRequest",
        "variableSetterType" : "GetStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetStatusResult",
        "documentation" : "Output structure for the GetStatus operation."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "ExpiredJobIdException",
        "documentation" : "Indicates that the specified job has expired out of the system."
      }, {
        "exceptionName" : "CanceledJobIdException",
        "documentation" : "The specified job ID has been canceled and is no longer valid."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getStatus",
      "syncReturnType" : "GetStatusResult",
      "asyncReturnType" : "GetStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStatusRequest, GetStatusResult>",
      "authenticated" : true
    },
    "ListJobs" : {
      "documentation" : "This operation returns the jobs associated with the requester. AWS Import/Export lists the jobs in reverse chronological order based on the date of creation. For example if Job Test1 was created 2009Dec30 and Test2 was created 2010Feb05, the ListJobs operation would return Test2 followed by Test1.",
      "operationName" : "ListJobs",
      "deprecated" : false,
      "input" : {
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "variableDeclarationType" : "ListJobsRequest",
        "documentation" : "Input structure for the ListJobs operation.",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : "Output structure for the ListJobs operation."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "One or more parameters had an invalid value."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listJobs",
      "syncReturnType" : "ListJobsResult",
      "asyncReturnType" : "ListJobsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "authenticated" : true
    },
    "UpdateJob" : {
      "documentation" : "You use this operation to change the parameters specified in the original manifest file by supplying a new manifest file. The manifest file attached to this request replaces the original manifest file. You can only use the operation after a CreateJob request but before the data transfer starts and you can only use it on jobs you own.",
      "operationName" : "UpdateJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateJobRequest",
        "variableType" : "UpdateJobRequest",
        "variableDeclarationType" : "UpdateJobRequest",
        "documentation" : "Input structure for the UpateJob operation.",
        "simpleType" : "UpdateJobRequest",
        "variableSetterType" : "UpdateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateJobResult",
        "documentation" : "Output structure for the UpateJob operation."
      },
      "exceptions" : [ {
        "exceptionName" : "MissingParameterException",
        "documentation" : "One or more required parameters was missing from the request."
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "One or more parameters had an invalid value."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "The address specified in the manifest is invalid."
      }, {
        "exceptionName" : "InvalidManifestFieldException",
        "documentation" : "One or more manifest fields was invalid. Please correct and resubmit."
      }, {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "MissingManifestFieldException",
        "documentation" : "One or more required fields were missing from the manifest file. Please correct and resubmit."
      }, {
        "exceptionName" : "NoSuchBucketException",
        "documentation" : "The specified bucket does not exist. Create the specified bucket or change the manifest's bucket, exportBucket, or logBucket field to a bucket that the account, as specified by the manifest's Access Key ID, has write permissions to."
      }, {
        "exceptionName" : "ExpiredJobIdException",
        "documentation" : "Indicates that the specified job has expired out of the system."
      }, {
        "exceptionName" : "CanceledJobIdException",
        "documentation" : "The specified job ID has been canceled and is no longer valid."
      }, {
        "exceptionName" : "MissingCustomsException",
        "documentation" : "One or more required customs parameters was missing from the manifest."
      }, {
        "exceptionName" : "InvalidCustomsException",
        "documentation" : "One or more customs parameters was invalid. Please correct and resubmit."
      }, {
        "exceptionName" : "InvalidFileSystemException",
        "documentation" : "File system specified in export manifest is invalid."
      }, {
        "exceptionName" : "MultipleRegionsException",
        "documentation" : "Your manifest file contained buckets from multiple regions. A job is restricted to buckets from one region. Please correct and resubmit."
      }, {
        "exceptionName" : "BucketPermissionException",
        "documentation" : "The account specified does not have the appropriate bucket permissions."
      }, {
        "exceptionName" : "MalformedManifestException",
        "documentation" : "Your manifest is not well-formed."
      }, {
        "exceptionName" : "UnableToUpdateJobIdException",
        "documentation" : "AWS Import/Export cannot update the job"
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateJob",
      "syncReturnType" : "UpdateJobResult",
      "asyncReturnType" : "UpdateJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobRequest, UpdateJobResult>",
      "authenticated" : true
    }
  },
  "shapes" : {
    "MissingCustomsException" : {
      "c2jName" : "MissingCustomsException",
      "documentation" : "One or more required customs parameters was missing from the manifest.",
      "shapeName" : "MissingCustomsException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "missingCustomsException",
        "variableType" : "MissingCustomsException",
        "variableDeclarationType" : "MissingCustomsException",
        "documentation" : null,
        "simpleType" : "MissingCustomsException",
        "variableSetterType" : "MissingCustomsException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "MissingCustomsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "GetStatusRequest" : {
      "c2jName" : "GetStatusInput",
      "documentation" : "Input structure for the GetStatus operation.",
      "shapeName" : "GetStatusRequest",
      "deprecated" : false,
      "required" : [ "JobId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "JobId",
        "c2jName" : "JobId",
        "c2jShape" : "JobId",
        "variable" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobId",
          "marshallLocationName" : "JobId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param jobId */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "APIVersion",
        "c2jName" : "APIVersion",
        "c2jShape" : "APIVersion",
        "variable" : {
          "variableName" : "aPIVersion",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "aPIVersion",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "APIVersion",
          "marshallLocationName" : "APIVersion",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param aPIVersion */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getStatusRequest",
        "variableType" : "GetStatusRequest",
        "variableDeclarationType" : "GetStatusRequest",
        "documentation" : null,
        "simpleType" : "GetStatusRequest",
        "variableSetterType" : "GetStatusRequest"
      },
      "marshaller" : {
        "action" : "GetStatus",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/?Operation=GetStatus",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "APIVersion" : {
          "documentation" : "",
          "name" : "APIVersion",
          "c2jName" : "APIVersion",
          "c2jShape" : "APIVersion",
          "variable" : {
            "variableName" : "aPIVersion",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "aPIVersion",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "APIVersion",
            "marshallLocationName" : "APIVersion",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param aPIVersion */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "JobId" : {
          "documentation" : "",
          "name" : "JobId",
          "c2jName" : "JobId",
          "c2jShape" : "JobId",
          "variable" : {
            "variableName" : "jobId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "jobId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "JobId",
            "marshallLocationName" : "JobId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param jobId */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "InvalidVersionException" : {
      "c2jName" : "InvalidVersionException",
      "documentation" : "The client tool version is invalid.",
      "shapeName" : "InvalidVersionException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidVersionException",
        "variableType" : "InvalidVersionException",
        "variableDeclarationType" : "InvalidVersionException",
        "documentation" : null,
        "simpleType" : "InvalidVersionException",
        "variableSetterType" : "InvalidVersionException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidVersionException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "MultipleRegionsException" : {
      "c2jName" : "MultipleRegionsException",
      "documentation" : "Your manifest file contained buckets from multiple regions. A job is restricted to buckets from one region. Please correct and resubmit.",
      "shapeName" : "MultipleRegionsException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "multipleRegionsException",
        "variableType" : "MultipleRegionsException",
        "variableDeclarationType" : "MultipleRegionsException",
        "documentation" : null,
        "simpleType" : "MultipleRegionsException",
        "variableSetterType" : "MultipleRegionsException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "MultipleRegionsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "UpdateJobRequest" : {
      "c2jName" : "UpdateJobInput",
      "documentation" : "Input structure for the UpateJob operation.",
      "shapeName" : "UpdateJobRequest",
      "deprecated" : false,
      "required" : [ "JobId", "Manifest", "JobType", "ValidateOnly" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "JobId",
        "c2jName" : "JobId",
        "c2jShape" : "JobId",
        "variable" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobId",
          "marshallLocationName" : "JobId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param jobId */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "Manifest",
        "c2jName" : "Manifest",
        "c2jShape" : "Manifest",
        "variable" : {
          "variableName" : "manifest",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "manifest",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Manifest",
          "marshallLocationName" : "Manifest",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param manifest */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param manifest \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param manifest \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "JobType",
        "c2jName" : "JobType",
        "c2jShape" : "JobType",
        "variable" : {
          "variableName" : "jobType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobType",
          "marshallLocationName" : "JobType",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "JobType",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param jobType \n@see JobType*/",
        "getterDocumentation" : "/**\n@return \n@see JobType*/",
        "fluentSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
        "varargSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/"
      }, {
        "documentation" : "",
        "name" : "ValidateOnly",
        "c2jName" : "ValidateOnly",
        "c2jShape" : "ValidateOnly",
        "variable" : {
          "variableName" : "validateOnly",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "validateOnly",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ValidateOnly",
          "marshallLocationName" : "ValidateOnly",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param validateOnly */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param validateOnly \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param validateOnly \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "APIVersion",
        "c2jName" : "APIVersion",
        "c2jShape" : "APIVersion",
        "variable" : {
          "variableName" : "aPIVersion",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "aPIVersion",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "APIVersion",
          "marshallLocationName" : "APIVersion",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param aPIVersion */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "updateJobRequest",
        "variableType" : "UpdateJobRequest",
        "variableDeclarationType" : "UpdateJobRequest",
        "documentation" : null,
        "simpleType" : "UpdateJobRequest",
        "variableSetterType" : "UpdateJobRequest"
      },
      "marshaller" : {
        "action" : "UpdateJob",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/?Operation=UpdateJob",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "JobType" : {
          "documentation" : "",
          "name" : "JobType",
          "c2jName" : "JobType",
          "c2jShape" : "JobType",
          "variable" : {
            "variableName" : "jobType",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "jobType",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "JobType",
            "marshallLocationName" : "JobType",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "JobType",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param jobType \n@see JobType*/",
          "getterDocumentation" : "/**\n@return \n@see JobType*/",
          "fluentSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
          "varargSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/"
        },
        "APIVersion" : {
          "documentation" : "",
          "name" : "APIVersion",
          "c2jName" : "APIVersion",
          "c2jShape" : "APIVersion",
          "variable" : {
            "variableName" : "aPIVersion",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "aPIVersion",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "APIVersion",
            "marshallLocationName" : "APIVersion",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param aPIVersion */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ValidateOnly" : {
          "documentation" : "",
          "name" : "ValidateOnly",
          "c2jName" : "ValidateOnly",
          "c2jShape" : "ValidateOnly",
          "variable" : {
            "variableName" : "validateOnly",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "setterModel" : {
            "variableName" : "validateOnly",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ValidateOnly",
            "marshallLocationName" : "ValidateOnly",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param validateOnly */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param validateOnly \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param validateOnly \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Manifest" : {
          "documentation" : "",
          "name" : "Manifest",
          "c2jName" : "Manifest",
          "c2jShape" : "Manifest",
          "variable" : {
            "variableName" : "manifest",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "manifest",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Manifest",
            "marshallLocationName" : "Manifest",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param manifest */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param manifest \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param manifest \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "JobId" : {
          "documentation" : "",
          "name" : "JobId",
          "c2jName" : "JobId",
          "c2jShape" : "JobId",
          "variable" : {
            "variableName" : "jobId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "jobId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "JobId",
            "marshallLocationName" : "JobId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param jobId */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ListJobsResult" : {
      "c2jName" : "ListJobsOutput",
      "documentation" : "Output structure for the ListJobs operation.",
      "shapeName" : "ListJobsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "Jobs",
        "c2jName" : "Jobs",
        "c2jShape" : "JobsList",
        "variable" : {
          "variableName" : "jobs",
          "variableType" : "java.util.List<Job>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Job>",
          "documentation" : "",
          "simpleType" : "List<Job>",
          "variableSetterType" : "java.util.Collection<Job>"
        },
        "setterModel" : {
          "variableName" : "jobs",
          "variableType" : "java.util.List<Job>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Job>",
          "documentation" : "",
          "simpleType" : "List<Job>",
          "variableSetterType" : "java.util.Collection<Job>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Job>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Jobs",
          "marshallLocationName" : "Jobs",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Job",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Job",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Job",
              "variableDeclarationType" : "Job",
              "documentation" : "",
              "simpleType" : "Job",
              "variableSetterType" : "Job"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Job",
              "variableDeclarationType" : "Job",
              "documentation" : "",
              "simpleType" : "Job",
              "variableSetterType" : "Job"
            },
            "getterModel" : {
              "returnType" : "Job",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "Job",
          "templateType" : "java.util.List<Job>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Job>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**\n@param jobs */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param jobs \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setJobs(java.util.Collection)} or {@link #withJobs(java.util.Collection)} if you want to override the existing values.</p>\n@param jobs \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "IsTruncated",
        "c2jName" : "IsTruncated",
        "c2jShape" : "IsTruncated",
        "variable" : {
          "variableName" : "isTruncated",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "isTruncated",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "IsTruncated",
          "marshallLocationName" : "IsTruncated",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param isTruncated */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param isTruncated \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param isTruncated \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listJobsResult",
        "variableType" : "ListJobsResult",
        "variableDeclarationType" : "ListJobsResult",
        "documentation" : null,
        "simpleType" : "ListJobsResult",
        "variableSetterType" : "ListJobsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : "ListJobsResult",
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Jobs" : {
          "documentation" : "",
          "name" : "Jobs",
          "c2jName" : "Jobs",
          "c2jShape" : "JobsList",
          "variable" : {
            "variableName" : "jobs",
            "variableType" : "java.util.List<Job>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Job>",
            "documentation" : "",
            "simpleType" : "List<Job>",
            "variableSetterType" : "java.util.Collection<Job>"
          },
          "setterModel" : {
            "variableName" : "jobs",
            "variableType" : "java.util.List<Job>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Job>",
            "documentation" : "",
            "simpleType" : "List<Job>",
            "variableSetterType" : "java.util.Collection<Job>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Job>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Jobs",
            "marshallLocationName" : "Jobs",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Job",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Job",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Job",
                "variableDeclarationType" : "Job",
                "documentation" : "",
                "simpleType" : "Job",
                "variableSetterType" : "Job"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Job",
                "variableDeclarationType" : "Job",
                "documentation" : "",
                "simpleType" : "Job",
                "variableSetterType" : "Job"
              },
              "getterModel" : {
                "returnType" : "Job",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "Job",
            "templateType" : "java.util.List<Job>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Job>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**\n@param jobs */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param jobs \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setJobs(java.util.Collection)} or {@link #withJobs(java.util.Collection)} if you want to override the existing values.</p>\n@param jobs \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "IsTruncated" : {
          "documentation" : "",
          "name" : "IsTruncated",
          "c2jName" : "IsTruncated",
          "c2jShape" : "IsTruncated",
          "variable" : {
            "variableName" : "isTruncated",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "setterModel" : {
            "variableName" : "isTruncated",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "IsTruncated",
            "marshallLocationName" : "IsTruncated",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param isTruncated */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param isTruncated \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param isTruncated \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CreateJobQuotaExceededException" : {
      "c2jName" : "CreateJobQuotaExceededException",
      "documentation" : "Each account can create only a certain number of jobs per day. If you need to create more than this, please contact awsimportexport@amazon.com to explain your particular use case.",
      "shapeName" : "CreateJobQuotaExceededException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "createJobQuotaExceededException",
        "variableType" : "CreateJobQuotaExceededException",
        "variableDeclarationType" : "CreateJobQuotaExceededException",
        "documentation" : null,
        "simpleType" : "CreateJobQuotaExceededException",
        "variableSetterType" : "CreateJobQuotaExceededException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "CreateJobQuotaExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "UnableToUpdateJobIdException" : {
      "c2jName" : "UnableToUpdateJobIdException",
      "documentation" : "AWS Import/Export cannot update the job",
      "shapeName" : "UnableToUpdateJobIdException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "unableToUpdateJobIdException",
        "variableType" : "UnableToUpdateJobIdException",
        "variableDeclarationType" : "UnableToUpdateJobIdException",
        "documentation" : null,
        "simpleType" : "UnableToUpdateJobIdException",
        "variableSetterType" : "UnableToUpdateJobIdException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "UnableToUpdateJobIdException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "InvalidParameterException" : {
      "c2jName" : "InvalidParameterException",
      "documentation" : "One or more parameters had an invalid value.",
      "shapeName" : "InvalidParameterException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidParameterException",
        "variableType" : "InvalidParameterException",
        "variableDeclarationType" : "InvalidParameterException",
        "documentation" : null,
        "simpleType" : "InvalidParameterException",
        "variableSetterType" : "InvalidParameterException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidParameterException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "GetStatusResult" : {
      "c2jName" : "GetStatusOutput",
      "documentation" : "Output structure for the GetStatus operation.",
      "shapeName" : "GetStatusResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "JobId",
        "c2jName" : "JobId",
        "c2jShape" : "JobId",
        "variable" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobId",
          "marshallLocationName" : "JobId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param jobId */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "JobType",
        "c2jName" : "JobType",
        "c2jShape" : "JobType",
        "variable" : {
          "variableName" : "jobType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "jobType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "JobType",
          "marshallLocationName" : "JobType",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "JobType",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param jobType \n@see JobType*/",
        "getterDocumentation" : "/**\n@return \n@see JobType*/",
        "fluentSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
        "varargSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/"
      }, {
        "documentation" : "",
        "name" : "LocationCode",
        "c2jName" : "LocationCode",
        "c2jShape" : "LocationCode",
        "variable" : {
          "variableName" : "locationCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "locationCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LocationCode",
          "marshallLocationName" : "LocationCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param locationCode */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param locationCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param locationCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "LocationMessage",
        "c2jName" : "LocationMessage",
        "c2jShape" : "LocationMessage",
        "variable" : {
          "variableName" : "locationMessage",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "locationMessage",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LocationMessage",
          "marshallLocationName" : "LocationMessage",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param locationMessage */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param locationMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param locationMessage \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "ProgressCode",
        "c2jName" : "ProgressCode",
        "c2jShape" : "ProgressCode",
        "variable" : {
          "variableName" : "progressCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "progressCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ProgressCode",
          "marshallLocationName" : "ProgressCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param progressCode */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param progressCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param progressCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "ProgressMessage",
        "c2jName" : "ProgressMessage",
        "c2jShape" : "ProgressMessage",
        "variable" : {
          "variableName" : "progressMessage",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "progressMessage",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ProgressMessage",
          "marshallLocationName" : "ProgressMessage",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param progressMessage */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param progressMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param progressMessage \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "Carrier",
        "c2jName" : "Carrier",
        "c2jShape" : "Carrier",
        "variable" : {
          "variableName" : "carrier",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "carrier",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Carrier",
          "marshallLocationName" : "Carrier",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param carrier */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param carrier \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param carrier \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "TrackingNumber",
        "c2jName" : "TrackingNumber",
        "c2jShape" : "TrackingNumber",
        "variable" : {
          "variableName" : "trackingNumber",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "trackingNumber",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TrackingNumber",
          "marshallLocationName" : "TrackingNumber",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param trackingNumber */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param trackingNumber \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param trackingNumber \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "LogBucket",
        "c2jName" : "LogBucket",
        "c2jShape" : "LogBucket",
        "variable" : {
          "variableName" : "logBucket",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "logBucket",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LogBucket",
          "marshallLocationName" : "LogBucket",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param logBucket */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param logBucket \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param logBucket \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "LogKey",
        "c2jName" : "LogKey",
        "c2jShape" : "LogKey",
        "variable" : {
          "variableName" : "logKey",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "logKey",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LogKey",
          "marshallLocationName" : "LogKey",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param logKey */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param logKey \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param logKey \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "ErrorCount",
        "c2jName" : "ErrorCount",
        "c2jShape" : "ErrorCount",
        "variable" : {
          "variableName" : "errorCount",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "errorCount",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorCount",
          "marshallLocationName" : "ErrorCount",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param errorCount */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param errorCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param errorCount \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "Signature",
        "c2jName" : "Signature",
        "c2jShape" : "Signature",
        "variable" : {
          "variableName" : "signature",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "signature",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Signature",
          "marshallLocationName" : "Signature",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param signature */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param signature \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param signature \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "SignatureFileContents",
        "c2jName" : "SignatureFileContents",
        "c2jShape" : "Signature",
        "variable" : {
          "variableName" : "signatureFileContents",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "signatureFileContents",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SignatureFileContents",
          "marshallLocationName" : "SignatureFileContents",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param signatureFileContents */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param signatureFileContents \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param signatureFileContents \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "CurrentManifest",
        "c2jName" : "CurrentManifest",
        "c2jShape" : "CurrentManifest",
        "variable" : {
          "variableName" : "currentManifest",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "currentManifest",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CurrentManifest",
          "marshallLocationName" : "CurrentManifest",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param currentManifest */",
        "getterDocumentation" : "/**\n@return */",
[...]
