{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "ListJobs" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2010-06-01",
    "asyncClient" : "AmazonImportExportAsyncClient",
    "asyncClientBuilderClassName" : "AmazonImportExportAsyncClientBuilder",
    "asyncInterface" : "AmazonImportExportAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonImportExportModuleInjector",
    "defaultEndpoint" : "https://importexport.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "importexport.amazonaws.com",
    "documentation" : "<fullname>AWS Import/Export Service</fullname> AWS Import/Export accelerates transferring large amounts of data between the AWS cloud and portable storage devices that you mail to us. AWS Import/Export transfers data directly onto and off of your storage devices using Amazon's high-speed internal network and bypassing the Internet. For large data sets, AWS Import/Export is often faster than Internet transfer and more cost effective than upgrading your connectivity.",
    "endpointPrefix" : "importexport",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.importexport",
    "packagePath" : "com/amazonaws/services/importexport",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Import/Export",
    "serviceName" : "AWS Import/Export",
    "signingName" : "importexport",
    "smokeTestsPackageName" : "com.amazonaws.services.importexport.smoketests",
    "syncClient" : "AmazonImportExportClient",
    "syncClientBuilderClassName" : "AmazonImportExportClientBuilder",
    "syncInterface" : "AmazonImportExport",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "CancelJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "asyncReturnType" : "CancelJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "This operation cancels a specified job. Only the job owner can cancel it. The operation fails if the job has already started or is complete.",
      "exceptions" : [ {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "ExpiredJobIdException",
        "documentation" : "Indicates that the specified job has expired out of the system."
      }, {
        "exceptionName" : "CanceledJobIdException",
        "documentation" : "The specified job ID has been canceled and is no longer valid."
      }, {
        "exceptionName" : "UnableToCancelJobIdException",
        "documentation" : "AWS Import/Export cannot cancel the job"
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelJobRequest",
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "documentation" : "Input structure for the CancelJob operation.",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJob",
      "operationName" : "CancelJob",
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : "Output structure for the CancelJob operation."
      },
      "syncReturnType" : "CancelJobResult"
    },
    "CreateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "asyncReturnType" : "CreateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "This operation initiates the process of scheduling an upload or download of your data. You include in the request a manifest that describes the data transfer specifics. The response to the request includes a job ID, which you can use in other operations, a signature that you use to identify your storage device, and the address where you should ship your storage device.",
      "exceptions" : [ {
        "exceptionName" : "MissingParameterException",
        "documentation" : "One or more required parameters was missing from the request."
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "One or more parameters had an invalid value."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "The address specified in the manifest is invalid."
      }, {
        "exceptionName" : "InvalidManifestFieldException",
        "documentation" : "One or more manifest fields was invalid. Please correct and resubmit."
      }, {
        "exceptionName" : "MissingManifestFieldException",
        "documentation" : "One or more required fields were missing from the manifest file. Please correct and resubmit."
      }, {
        "exceptionName" : "NoSuchBucketException",
        "documentation" : "The specified bucket does not exist. Create the specified bucket or change the manifest's bucket, exportBucket, or logBucket field to a bucket that the account, as specified by the manifest's Access Key ID, has write permissions to."
      }, {
        "exceptionName" : "MissingCustomsException",
        "documentation" : "One or more required customs parameters was missing from the manifest."
      }, {
        "exceptionName" : "InvalidCustomsException",
        "documentation" : "One or more customs parameters was invalid. Please correct and resubmit."
      }, {
        "exceptionName" : "InvalidFileSystemException",
        "documentation" : "File system specified in export manifest is invalid."
      }, {
        "exceptionName" : "MultipleRegionsException",
        "documentation" : "Your manifest file contained buckets from multiple regions. A job is restricted to buckets from one region. Please correct and resubmit."
      }, {
        "exceptionName" : "BucketPermissionException",
        "documentation" : "The account specified does not have the appropriate bucket permissions."
      }, {
        "exceptionName" : "MalformedManifestException",
        "documentation" : "Your manifest is not well-formed."
      }, {
        "exceptionName" : "CreateJobQuotaExceededException",
        "documentation" : "Each account can create only a certain number of jobs per day. If you need to create more than this, please contact awsimportexport@amazon.com to explain your particular use case."
      }, {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateJobRequest",
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "documentation" : "Input structure for the CreateJob operation.",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJob",
      "operationName" : "CreateJob",
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : "Output structure for the CreateJob operation."
      },
      "syncReturnType" : "CreateJobResult"
    },
    "GetShippingLabel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetShippingLabelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetShippingLabelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetShippingLabelRequest, GetShippingLabelResult>",
      "asyncReturnType" : "GetShippingLabelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "This operation generates a pre-paid UPS shipping label that you will use to ship your device to AWS for processing.",
      "exceptions" : [ {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "ExpiredJobIdException",
        "documentation" : "Indicates that the specified job has expired out of the system."
      }, {
        "exceptionName" : "CanceledJobIdException",
        "documentation" : "The specified job ID has been canceled and is no longer valid."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "The address specified in the manifest is invalid."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "One or more parameters had an invalid value."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetShippingLabelRequest",
        "variableName" : "getShippingLabelRequest",
        "variableType" : "GetShippingLabelRequest",
        "documentation" : "",
        "simpleType" : "GetShippingLabelRequest",
        "variableSetterType" : "GetShippingLabelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getShippingLabel",
      "operationName" : "GetShippingLabel",
      "returnType" : {
        "returnType" : "GetShippingLabelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetShippingLabelResult"
    },
    "GetStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStatusRequest, GetStatusResult>",
      "asyncReturnType" : "GetStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "This operation returns information about a job, including where the job is in the processing pipeline, the status of the results, and the signature value associated with the job. You can only return information about jobs you own.",
      "exceptions" : [ {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "ExpiredJobIdException",
        "documentation" : "Indicates that the specified job has expired out of the system."
      }, {
        "exceptionName" : "CanceledJobIdException",
        "documentation" : "The specified job ID has been canceled and is no longer valid."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetStatusRequest",
        "variableName" : "getStatusRequest",
        "variableType" : "GetStatusRequest",
        "documentation" : "Input structure for the GetStatus operation.",
        "simpleType" : "GetStatusRequest",
        "variableSetterType" : "GetStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStatus",
      "operationName" : "GetStatus",
      "returnType" : {
        "returnType" : "GetStatusResult",
        "documentation" : "Output structure for the GetStatus operation."
      },
      "syncReturnType" : "GetStatusResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "This operation returns the jobs associated with the requester. AWS Import/Export lists the jobs in reverse chronological order based on the date of creation. For example if Job Test1 was created 2009Dec30 and Test2 was created 2010Feb05, the ListJobs operation would return Test2 followed by Test1.",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "One or more parameters had an invalid value."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "Input structure for the ListJobs operation.",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : "Output structure for the ListJobs operation."
      },
      "syncReturnType" : "ListJobsResult"
    },
    "UpdateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobRequest, UpdateJobResult>",
      "asyncReturnType" : "UpdateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "You use this operation to change the parameters specified in the original manifest file by supplying a new manifest file. The manifest file attached to this request replaces the original manifest file. You can only use the operation after a CreateJob request but before the data transfer starts and you can only use it on jobs you own.",
      "exceptions" : [ {
        "exceptionName" : "MissingParameterException",
        "documentation" : "One or more required parameters was missing from the request."
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "One or more parameters had an invalid value."
      }, {
        "exceptionName" : "InvalidAccessKeyIdException",
        "documentation" : "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
      }, {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "The address specified in the manifest is invalid."
      }, {
        "exceptionName" : "InvalidManifestFieldException",
        "documentation" : "One or more manifest fields was invalid. Please correct and resubmit."
      }, {
        "exceptionName" : "InvalidJobIdException",
        "documentation" : "The JOBID was missing, not found, or not associated with the AWS account."
      }, {
        "exceptionName" : "MissingManifestFieldException",
        "documentation" : "One or more required fields were missing from the manifest file. Please correct and resubmit."
      }, {
        "exceptionName" : "NoSuchBucketException",
        "documentation" : "The specified bucket does not exist. Create the specified bucket or change the manifest's bucket, exportBucket, or logBucket field to a bucket that the account, as specified by the manifest's Access Key ID, has write permissions to."
      }, {
        "exceptionName" : "ExpiredJobIdException",
        "documentation" : "Indicates that the specified job has expired out of the system."
      }, {
        "exceptionName" : "CanceledJobIdException",
        "documentation" : "The specified job ID has been canceled and is no longer valid."
      }, {
        "exceptionName" : "MissingCustomsException",
        "documentation" : "One or more required customs parameters was missing from the manifest."
      }, {
        "exceptionName" : "InvalidCustomsException",
        "documentation" : "One or more customs parameters was invalid. Please correct and resubmit."
      }, {
        "exceptionName" : "InvalidFileSystemException",
        "documentation" : "File system specified in export manifest is invalid."
      }, {
        "exceptionName" : "MultipleRegionsException",
        "documentation" : "Your manifest file contained buckets from multiple regions. A job is restricted to buckets from one region. Please correct and resubmit."
      }, {
        "exceptionName" : "BucketPermissionException",
        "documentation" : "The account specified does not have the appropriate bucket permissions."
      }, {
        "exceptionName" : "MalformedManifestException",
        "documentation" : "Your manifest is not well-formed."
      }, {
        "exceptionName" : "UnableToUpdateJobIdException",
        "documentation" : "AWS Import/Export cannot update the job"
      }, {
        "exceptionName" : "InvalidVersionException",
        "documentation" : "The client tool version is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateJobRequest",
        "variableName" : "updateJobRequest",
        "variableType" : "UpdateJobRequest",
        "documentation" : "Input structure for the UpateJob operation.",
        "simpleType" : "UpdateJobRequest",
        "variableSetterType" : "UpdateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateJob",
      "operationName" : "UpdateJob",
      "returnType" : {
        "returnType" : "UpdateJobResult",
        "documentation" : "Output structure for the UpateJob operation."
      },
      "syncReturnType" : "UpdateJobResult"
    }
  },
  "shapes" : {
    "Artifact" : {
      "c2jName" : "Artifact",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A discrete item that contains the description and URL of an artifact (such as a PDF).",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Description",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Description",
        "setterDocumentation" : "/**\n@param description */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "URL",
        "c2jShape" : "URL",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param uRL \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "URL",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "URL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "URL",
        "setterDocumentation" : "/**\n@param uRL */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "uRL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param uRL \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "uRL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "Description",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Description",
          "setterDocumentation" : "/**\n@param description */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "URL" : {
          "c2jName" : "URL",
          "c2jShape" : "URL",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param uRL \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "URL",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "URL",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "URL",
          "setterDocumentation" : "/**\n@param uRL */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "uRL",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param uRL \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "uRL",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "Artifact",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Artifact",
        "variableName" : "artifact",
        "variableType" : "Artifact",
        "documentation" : null,
        "simpleType" : "Artifact",
        "variableSetterType" : "Artifact"
      },
      "wrapper" : false
    },
    "BucketPermissionException" : {
      "c2jName" : "BucketPermissionException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The account specified does not have the appropriate bucket permissions.",
      "enums" : null,
      "errorCode" : "BucketPermissionException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "BucketPermissionException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BucketPermissionException",
        "variableName" : "bucketPermissionException",
        "variableType" : "BucketPermissionException",
        "documentation" : null,
        "simpleType" : "BucketPermissionException",
        "variableSetterType" : "BucketPermissionException"
      },
      "wrapper" : false
    },
    "CancelJobRequest" : {
      "c2jName" : "CancelJobInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Input structure for the CancelJob operation.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelJob",
        "locationName" : null,
        "requestUri" : "/?Operation=CancelJob",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "JobId",
        "c2jShape" : "JobId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "JobId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobId",
        "setterDocumentation" : "/**\n@param jobId */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "APIVersion",
        "c2jShape" : "APIVersion",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "APIVersion",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "APIVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "APIVersion",
        "setterDocumentation" : "/**\n@param aPIVersion */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "aPIVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "aPIVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "APIVersion" : {
          "c2jName" : "APIVersion",
          "c2jShape" : "APIVersion",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "APIVersion",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "APIVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "APIVersion",
          "setterDocumentation" : "/**\n@param aPIVersion */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "aPIVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "aPIVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "JobId" : {
          "c2jName" : "JobId",
          "c2jShape" : "JobId",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "JobId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "JobId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "JobId",
          "setterDocumentation" : "/**\n@param jobId */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "JobId" ],
      "shapeName" : "CancelJobRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CancelJobRequest",
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "documentation" : null,
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "wrapper" : false
    },
    "CancelJobResult" : {
      "c2jName" : "CancelJobOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Output structure for the CancelJob operation.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Success",
        "c2jShape" : "Success",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param success \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Success",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Success",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Success",
        "setterDocumentation" : "/**\n@param success */",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "success",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param success \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "success",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Success" : {
          "c2jName" : "Success",
          "c2jShape" : "Success",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param success \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Success",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Success",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Success",
          "setterDocumentation" : "/**\n@param success */",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "success",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param success \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "success",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "CancelJobResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : "CancelJobResult"
      },
      "variable" : {
        "variableDeclarationType" : "CancelJobResult",
        "variableName" : "cancelJobResult",
        "variableType" : "CancelJobResult",
        "documentation" : null,
        "simpleType" : "CancelJobResult",
        "variableSetterType" : "CancelJobResult"
      },
      "wrapper" : false
    },
    "CanceledJobIdException" : {
      "c2jName" : "CanceledJobIdException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The specified job ID has been canceled and is no longer valid.",
      "enums" : null,
      "errorCode" : "CanceledJobIdException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CanceledJobIdException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CanceledJobIdException",
        "variableName" : "canceledJobIdException",
        "variableType" : "CanceledJobIdException",
        "documentation" : null,
        "simpleType" : "CanceledJobIdException",
        "variableSetterType" : "CanceledJobIdException"
      },
      "wrapper" : false
    },
    "CreateJobQuotaExceededException" : {
      "c2jName" : "CreateJobQuotaExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Each account can create only a certain number of jobs per day. If you need to create more than this, please contact awsimportexport@amazon.com to explain your particular use case.",
      "enums" : null,
      "errorCode" : "CreateJobQuotaExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CreateJobQuotaExceededException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateJobQuotaExceededException",
        "variableName" : "createJobQuotaExceededException",
        "variableType" : "CreateJobQuotaExceededException",
        "documentation" : null,
        "simpleType" : "CreateJobQuotaExceededException",
        "variableSetterType" : "CreateJobQuotaExceededException"
      },
      "wrapper" : false
    },
    "CreateJobRequest" : {
      "c2jName" : "CreateJobInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Input structure for the CreateJob operation.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateJob",
        "locationName" : null,
        "requestUri" : "/?Operation=CreateJob",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "JobType",
        "c2jShape" : "JobType",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "JobType",
        "fluentSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
        "getterDocumentation" : "/**\n@return \n@see JobType*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "JobType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JobType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobType",
        "setterDocumentation" : "/**\n@param jobType \n@see JobType*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Manifest",
        "c2jShape" : "Manifest",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param manifest \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Manifest",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Manifest",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Manifest",
        "setterDocumentation" : "/**\n@param manifest */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "manifest",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param manifest \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "manifest",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ManifestAddendum",
        "c2jShape" : "ManifestAddendum",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param manifestAddendum \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ManifestAddendum",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ManifestAddendum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ManifestAddendum",
        "setterDocumentation" : "/**\n@param manifestAddendum */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "manifestAddendum",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param manifestAddendum \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "manifestAddendum",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ValidateOnly",
        "c2jShape" : "ValidateOnly",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param validateOnly \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ValidateOnly",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ValidateOnly",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ValidateOnly",
        "setterDocumentation" : "/**\n@param validateOnly */",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "validateOnly",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param validateOnly \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "validateOnly",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "APIVersion",
        "c2jShape" : "APIVersion",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "APIVersion",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "APIVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "APIVersion",
        "setterDocumentation" : "/**\n@param aPIVersion */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "aPIVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "aPIVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "APIVersion" : {
          "c2jName" : "APIVersion",
          "c2jShape" : "APIVersion",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "APIVersion",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "APIVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "APIVersion",
          "setterDocumentation" : "/**\n@param aPIVersion */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "aPIVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param aPIVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "aPIVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "JobType" : {
          "c2jName" : "JobType",
          "c2jShape" : "JobType",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "JobType",
          "fluentSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
          "getterDocumentation" : "/**\n@return \n@see JobType*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "JobType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "JobType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "JobType",
          "setterDocumentation" : "/**\n@param jobType \n@see JobType*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Manifest" : {
          "c2jName" : "Manifest",
          "c2jShape" : "Manifest",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param manifest \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Manifest",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Manifest",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Manifest",
          "setterDocumentation" : "/**\n@param manifest */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "manifest",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param manifest \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "manifest",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ManifestAddendum" : {
          "c2jName" : "ManifestAddendum",
          "c2jShape" : "ManifestAddendum",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param manifestAddendum \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ManifestAddendum",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ManifestAddendum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ManifestAddendum",
          "setterDocumentation" : "/**\n@param manifestAddendum */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "manifestAddendum",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param manifestAddendum \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "manifestAddendum",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ValidateOnly" : {
          "c2jName" : "ValidateOnly",
          "c2jShape" : "ValidateOnly",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param validateOnly \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ValidateOnly",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ValidateOnly",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ValidateOnly",
          "setterDocumentation" : "/**\n@param validateOnly */",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "validateOnly",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param validateOnly \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "validateOnly",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "JobType", "Manifest", "ValidateOnly" ],
      "shapeName" : "CreateJobRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateJobRequest",
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "documentation" : null,
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "wrapper" : false
    },
    "CreateJobResult" : {
      "c2jName" : "CreateJobOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Output structure for the CreateJob operation.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "JobId",
        "c2jShape" : "JobId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "JobId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobId",
        "setterDocumentation" : "/**\n@param jobId */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "JobType",
        "c2jShape" : "JobType",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "JobType",
        "fluentSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
        "getterDocumentation" : "/**\n@return \n@see JobType*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "JobType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JobType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobType",
        "setterDocumentation" : "/**\n@param jobType \n@see JobType*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Signature",
        "c2jShape" : "Signature",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param signature \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Signature",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Signature",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Signature",
        "setterDocumentation" : "/**\n@param signature */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "signature",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param signature \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "signature",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SignatureFileContents",
        "c2jShape" : "SignatureFileContents",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param signatureFileContents \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SignatureFileContents",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SignatureFileContents",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SignatureFileContents",
        "setterDocumentation" : "/**\n@param signatureFileContents */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "signatureFileContents",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param signatureFileContents \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "signatureFileContents",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "WarningMessage",
        "c2jShape" : "WarningMessage",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param warningMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "WarningMessage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "WarningMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "WarningMessage",
        "setterDocumentation" : "/**\n@param warningMessage */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "warningMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param warningMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "warningMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ArtifactList",
        "c2jShape" : "ArtifactList",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param artifactList \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "java.util.List<Artifact>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ArtifactList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ArtifactList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Artifact",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Artifact",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Artifact",
              "variableName" : "member",
              "variableType" : "Artifact",
              "documentation" : "",
              "simpleType" : "Artifact",
              "variableSetterType" : "Artifact"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Artifact",
              "variableName" : "member",
              "variableType" : "Artifact",
              "documentation" : "",
              "simpleType" : "Artifact",
              "variableSetterType" : "Artifact"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Artifact",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Artifact",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Artifact>",
          "templateType" : "java.util.List<Artifact>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "ArtifactList",
        "setterDocumentation" : "/**\n@param artifactList */",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Artifact>",
          "variableName" : "artifactList",
          "variableType" : "java.util.List<Artifact>",
          "documentation" : "",
          "simpleType" : "List<Artifact>",
          "variableSetterType" : "java.util.Collection<Artifact>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setArtifactList(java.util.Collection)} or {@link #withArtifactList(java.util.Collection)} if you want to override the existing values.</p>\n@param artifactList \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Artifact>",
          "variableName" : "artifactList",
          "variableType" : "java.util.List<Artifact>",
          "documentation" : "",
          "simpleType" : "List<Artifact>",
          "variableSetterType" : "java.util.Collection<Artifact>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ArtifactList" : {
          "c2jName" : "ArtifactList",
          "c2jShape" : "ArtifactList",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param artifactList \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "java.util.List<Artifact>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ArtifactList",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ArtifactList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Artifact",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Artifact",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Artifact",
                "variableName" : "member",
                "variableType" : "Artifact",
                "documentation" : "",
                "simpleType" : "Artifact",
                "variableSetterType" : "Artifact"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Artifact",
                "variableName" : "member",
                "variableType" : "Artifact",
                "documentation" : "",
                "simpleType" : "Artifact",
                "variableSetterType" : "Artifact"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Artifact",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Artifact",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Artifact>",
            "templateType" : "java.util.List<Artifact>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "ArtifactList",
          "setterDocumentation" : "/**\n@param artifactList */",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Artifact>",
            "variableName" : "artifactList",
            "variableType" : "java.util.List<Artifact>",
            "documentation" : "",
            "simpleType" : "List<Artifact>",
            "variableSetterType" : "java.util.Collection<Artifact>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setArtifactList(java.util.Collection)} or {@link #withArtifactList(java.util.Collection)} if you want to override the existing values.</p>\n@param artifactList \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Artifact>",
            "variableName" : "artifactList",
            "variableType" : "java.util.List<Artifact>",
            "documentation" : "",
            "simpleType" : "List<Artifact>",
            "variableSetterType" : "java.util.Collection<Artifact>"
          },
          "xmlNameSpaceUri" : null
        },
        "JobId" : {
          "c2jName" : "JobId",
          "c2jShape" : "JobId",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "JobId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "JobId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "JobId",
          "setterDocumentation" : "/**\n@param jobId */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param jobId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "JobType" : {
          "c2jName" : "JobType",
          "c2jShape" : "JobType",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "JobType",
          "fluentSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
          "getterDocumentation" : "/**\n@return \n@see JobType*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "JobType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "JobType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "JobType",
          "setterDocumentation" : "/**\n@param jobType \n@see JobType*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param jobType \n@return Returns a reference to this object so that method calls can be chained together.\n@see JobType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Signature" : {
          "c2jName" : "Signature",
          "c2jShape" : "Signature",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param signature \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Signature",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Signature",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Signature",
          "setterDocumentation" : "/**\n@param signature */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "signature",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param signature \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "signature",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SignatureFileContents" : {
          "c2jName" : "SignatureFileContents",
          "c2jShape" : "SignatureFileContents",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param signatureFileContents \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "SignatureFileContents",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SignatureFileContents",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "SignatureFileContents",
          "setterDocumentation" : "/**\n@param signatureFileContents */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "signatureFileContents",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param signatureFileContents \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "signatureFileContents",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "WarningMessage" : {
          "c2jName" : "WarningMessage",
          "c2jShape" : "WarningMessage",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param warningMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "WarningMessage",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "WarningMessage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
[...]
