{
  "metadata" : {
    "apiVersion" : "2013-04-15",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Support</fullname> <p>The AWS Support API reference is intended for programmers who need detailed information about the AWS Support operations and data types. This service enables you to manage your AWS Support cases programmatically. It uses HTTP methods that return results in JSON format.</p> <p>The AWS Support service also exposes a set of <a href=\"https://aws.amazon.com/premiumsupport/trustedadvisor/\">Trusted Advisor</a> features. You can retrieve a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks. </p> <p>The following list describes the AWS Support case management operations: </p> <ul> <li> <b>Service names, issue categories, and available severity levels. </b>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return AWS service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation. </li> <li> <b>Case creation, case details, and case resolution.</b> The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create AWS Support cases, retrieve information about cases, and resolve cases.</li> <li> <b>Case communication.</b> The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to AWS Support cases. </li> </ul> <p>The following list describes the operations available from the AWS Support service for Trusted Advisor:</p> <ul> <li> <a>DescribeTrustedAdvisorChecks</a> returns the list of checks that run against your AWS resources.</li> <li>Using the <code>CheckId</code> for a specific check returned by <a>DescribeTrustedAdvisorChecks</a>, you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for the check you specified.</li> <li> <a>DescribeTrustedAdvisorCheckSummaries</a> returns summarized results for one or more Trusted Advisor checks.</li> <li> <a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified check. </li> <li> <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports the refresh status of one or more checks. </li> </ul> <p>For authentication of requests, AWS Support uses <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>See <a href=\"http://docs.aws.amazon.com/awssupport/latest/user/Welcome.html\">About the AWS Support API</a> in the <i>AWS Support User Guide</i> for information about how to use this service to create and manage your support cases, and how to call Trusted Advisor for results of checks on your resources. </p>",
    "defaultEndpoint" : "https://support.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "support.us-east-1.amazonaws.com",
    "syncInterface" : "AWSSupport",
    "syncClient" : "AWSSupportClient",
    "asyncInterface" : "AWSSupportAsync",
    "asyncClient" : "AWSSupportAsyncClient",
    "packageName" : "com.amazonaws.services.support",
    "packagePath" : "com/amazonaws/services/support",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Support",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "support",
    "signingName" : "support",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSSupportClientBuilder",
    "asyncClientBuilderClassName" : "AWSSupportAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSSupportModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.support.smoketests",
    "serviceName" : "AWS Support",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "AddAttachmentsToSet" : {
      "documentation" : "<p>Adds one or more attachments to an attachment set. If an <code>AttachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>AttachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p> <p>An attachment set is a temporary container for attachments that are to be added to a case or case communication. The set is available for one hour after it is created; the <code>ExpiryTime</code> returned in the response indicates when the set expires. The maximum number of attachments in a set is 3, and the maximum size of any attachment in the set is 5 MB.</p>",
      "operationName" : "AddAttachmentsToSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "addAttachmentsToSetRequest",
        "variableType" : "AddAttachmentsToSetRequest",
        "variableDeclarationType" : "AddAttachmentsToSetRequest",
        "documentation" : "",
        "variableSetterType" : "AddAttachmentsToSetRequest",
        "simpleType" : "AddAttachmentsToSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddAttachmentsToSetResult",
        "documentation" : "<p>The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      }, {
        "exceptionName" : "AttachmentSetIdNotFoundException",
        "documentation" : "<p>An attachment set with the specified ID could not be found.</p>"
      }, {
        "exceptionName" : "AttachmentSetExpiredException",
        "documentation" : "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>"
      }, {
        "exceptionName" : "AttachmentSetSizeLimitExceededException",
        "documentation" : "<p>A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.</p>"
      }, {
        "exceptionName" : "AttachmentLimitExceededException",
        "documentation" : "<p>The limit for the number of attachment sets created in a short period of time has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddAttachmentsToSetResult",
      "asyncReturnType" : "AddAttachmentsToSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddAttachmentsToSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddAttachmentsToSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddAttachmentsToSetRequest, AddAttachmentsToSetResult>",
      "methodName" : "addAttachmentsToSet"
    },
    "AddCommunicationToCase" : {
      "documentation" : "<p>Adds additional customer communication to an AWS Support case. You use the <code>CaseId</code> value to identify the case to add communication to. You can list a set of email addresses to copy on the communication using the <code>CcEmailAddresses</code> value. The <code>CommunicationBody</code> value contains the text of the communication.</p> <p>The response indicates the success or failure of the request.</p> <p>This operation implements a subset of the features of the AWS Support Center.</p>",
      "operationName" : "AddCommunicationToCase",
      "deprecated" : false,
      "input" : {
        "variableName" : "addCommunicationToCaseRequest",
        "variableType" : "AddCommunicationToCaseRequest",
        "variableDeclarationType" : "AddCommunicationToCaseRequest",
        "documentation" : "<p>To be written.</p>",
        "variableSetterType" : "AddCommunicationToCaseRequest",
        "simpleType" : "AddCommunicationToCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddCommunicationToCaseResult",
        "documentation" : "<p>The result of the <a>AddCommunicationToCase</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>CaseId</code> could not be located.</p>"
      }, {
        "exceptionName" : "AttachmentSetIdNotFoundException",
        "documentation" : "<p>An attachment set with the specified ID could not be found.</p>"
      }, {
        "exceptionName" : "AttachmentSetExpiredException",
        "documentation" : "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddCommunicationToCaseResult",
      "asyncReturnType" : "AddCommunicationToCaseResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddCommunicationToCaseResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddCommunicationToCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddCommunicationToCaseRequest, AddCommunicationToCaseResult>",
      "methodName" : "addCommunicationToCase"
    },
    "CreateCase" : {
      "documentation" : "<p>Creates a new case in the AWS Support Center. This operation is modeled on the behavior of the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. Its parameters require you to specify the following information: </p> <ol> <li> <b>IssueType.</b> The type of issue for the case. You can specify either \"customer-service\" or \"technical.\" If you do not indicate a value, the default is \"technical.\" </li> <li> <b>ServiceCode.</b> The code for an AWS service. You obtain the <code>ServiceCode</code> by calling <a>DescribeServices</a>. </li> <li> <b>CategoryCode.</b> The category for the service defined for the <code>ServiceCode</code> value. You also obtain the category code for a service by calling <a>DescribeServices</a>. Each AWS service defines its own set of category codes. </li> <li> <b>SeverityCode.</b> A value that indicates the urgency of the case, which in turn determines the response time according to your service level agreement with AWS Support. You obtain the SeverityCode by calling <a>DescribeSeverityLevels</a>.</li> <li> <b>Subject.</b> The <b>Subject</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</li> <li> <b>CommunicationBody.</b> The <b>Description</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</li> <li> <b>AttachmentSetId.</b> The ID of a set of attachments that has been created by using <a>AddAttachmentsToSet</a>.</li> <li> <b>Language.</b> The human language in which AWS Support handles the case. English and Japanese are currently supported.</li> <li> <b>CcEmailAddresses.</b> The AWS Support Center <b>CC</b> field on the <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. You can list email addresses to be copied on any correspondence about the case. The account that opens the case is already identified by passing the AWS Credentials in the HTTP POST method or in a method or function call from one of the programming languages supported by an <a href=\"http://aws.amazon.com/tools/\">AWS SDK</a>. </li> </ol> <note><p>To add additional communication or attachments to an existing case, use <a>AddCommunicationToCase</a>.</p> </note> <p>A successful <a>CreateCase</a> request returns an AWS Support case number. Case numbers are used by the <a>DescribeCases</a> operation to retrieve existing AWS Support cases. </p>",
      "operationName" : "CreateCase",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCaseRequest",
        "variableType" : "CreateCaseRequest",
        "variableDeclarationType" : "CreateCaseRequest",
        "documentation" : "",
        "variableSetterType" : "CreateCaseRequest",
        "simpleType" : "CreateCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateCaseResult",
        "documentation" : "<p>The AWS Support case ID returned by a successful completion of the <a>CreateCase</a> operation. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      }, {
        "exceptionName" : "CaseCreationLimitExceededException",
        "documentation" : "<p>The case creation limit for the account has been exceeded. </p>"
      }, {
        "exceptionName" : "AttachmentSetIdNotFoundException",
        "documentation" : "<p>An attachment set with the specified ID could not be found.</p>"
      }, {
        "exceptionName" : "AttachmentSetExpiredException",
        "documentation" : "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateCaseResult",
      "asyncReturnType" : "CreateCaseResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCaseResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCaseRequest, CreateCaseResult>",
      "methodName" : "createCase"
    },
    "DescribeAttachment" : {
      "documentation" : "<p>Returns the attachment that has the specified ID. Attachment IDs are generated by the case management system when you add an attachment to a case or case communication. Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a> operation.</p>",
      "operationName" : "DescribeAttachment",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAttachmentRequest",
        "variableType" : "DescribeAttachmentRequest",
        "variableDeclarationType" : "DescribeAttachmentRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeAttachmentRequest",
        "simpleType" : "DescribeAttachmentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAttachmentResult",
        "documentation" : "<p>The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      }, {
        "exceptionName" : "DescribeAttachmentLimitExceededException",
        "documentation" : "<p>The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.</p>"
      }, {
        "exceptionName" : "AttachmentIdNotFoundException",
        "documentation" : "<p>An attachment with the specified ID could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeAttachmentResult",
      "asyncReturnType" : "DescribeAttachmentResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAttachmentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAttachmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAttachmentRequest, DescribeAttachmentResult>",
      "methodName" : "describeAttachment"
    },
    "DescribeCases" : {
      "documentation" : "<p>Returns a list of cases that you specify by passing one or more case IDs. In addition, you can filter the cases by date by setting values for the <code>AfterTime</code> and <code>BeforeTime</code> request parameters. You can set values for the <code>IncludeResolvedCases</code> and <code>IncludeCommunications</code> request parameters to control how much information is returned. </p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error. </p> <p>The response returns the following in JSON format:</p> <ol> <li>One or more <a>CaseDetails</a> data types. </li> <li>One or more <code>NextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</li> </ol>",
      "operationName" : "DescribeCases",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCasesRequest",
        "variableType" : "DescribeCasesRequest",
        "variableDeclarationType" : "DescribeCasesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeCasesRequest",
        "simpleType" : "DescribeCasesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCasesResult",
        "documentation" : "<p>Returns an array of <a>CaseDetails</a> objects and a <code>NextToken</code> that defines a point for pagination in the result set.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>CaseId</code> could not be located.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeCasesResult",
      "asyncReturnType" : "DescribeCasesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCasesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCasesRequest, DescribeCasesResult>",
      "methodName" : "describeCases"
    },
    "DescribeCommunications" : {
      "documentation" : "<p>Returns communications (and attachments) for one or more support cases. You can use the <code>AfterTime</code> and <code>BeforeTime</code> parameters to filter by date. You can use the <code>CaseId</code> parameter to restrict the results to a particular case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error. </p> <p>You can use the <code>MaxResults</code> and <code>NextToken</code> parameters to control the pagination of the result set. Set <code>MaxResults</code> to the number of cases you want displayed on each page, and use <code>NextToken</code> to specify the resumption of pagination.</p>",
      "operationName" : "DescribeCommunications",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCommunicationsRequest",
        "variableType" : "DescribeCommunicationsRequest",
        "variableDeclarationType" : "DescribeCommunicationsRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeCommunicationsRequest",
        "simpleType" : "DescribeCommunicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCommunicationsResult",
        "documentation" : "<p>The communications returned by the <a>DescribeCommunications</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>CaseId</code> could not be located.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeCommunicationsResult",
      "asyncReturnType" : "DescribeCommunicationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCommunicationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCommunicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCommunicationsRequest, DescribeCommunicationsResult>",
      "methodName" : "describeCommunications"
    },
    "DescribeServices" : {
      "documentation" : "<p>Returns the current list of AWS services and a list of service categories that applies to each one. You then use service names and categories in your <a>CreateCase</a> requests. Each AWS service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that are displayed in the <b>Service</b> and <b>Category</b> drop-down lists on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. The values in those fields, however, do not necessarily match the service codes and categories returned by the <code>DescribeServices</code> request. Always use the service codes and categories obtained programmatically. This practice ensures that you always have the most recent set of service and category codes.</p>",
      "operationName" : "DescribeServices",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeServicesRequest",
        "variableType" : "DescribeServicesRequest",
        "variableDeclarationType" : "DescribeServicesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeServicesRequest",
        "simpleType" : "DescribeServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeServicesResult",
        "documentation" : "<p>The list of AWS services returned by the <a>DescribeServices</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeServicesResult",
      "asyncReturnType" : "DescribeServicesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServicesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServicesRequest, DescribeServicesResult>",
      "methodName" : "describeServices"
    },
    "DescribeSeverityLevels" : {
      "documentation" : "<p>Returns the list of severity levels that you can assign to an AWS Support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type included in any <a>CreateCase</a> request. </p>",
      "operationName" : "DescribeSeverityLevels",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSeverityLevelsRequest",
        "variableType" : "DescribeSeverityLevelsRequest",
        "variableDeclarationType" : "DescribeSeverityLevelsRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeSeverityLevelsRequest",
        "simpleType" : "DescribeSeverityLevelsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSeverityLevelsResult",
        "documentation" : "<p>The list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeSeverityLevelsResult",
      "asyncReturnType" : "DescribeSeverityLevelsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSeverityLevelsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSeverityLevelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSeverityLevelsRequest, DescribeSeverityLevelsResult>",
      "methodName" : "describeSeverityLevels"
    },
    "DescribeTrustedAdvisorCheckRefreshStatuses" : {
      "documentation" : "<p>Returns the refresh status of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p>",
      "operationName" : "DescribeTrustedAdvisorCheckRefreshStatuses",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTrustedAdvisorCheckRefreshStatusesRequest",
        "variableType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
        "variableDeclarationType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
        "simpleType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorCheckRefreshStatusesResult",
        "documentation" : "<p>The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTrustedAdvisorCheckRefreshStatusesResult",
      "asyncReturnType" : "DescribeTrustedAdvisorCheckRefreshStatusesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorCheckRefreshStatusesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorCheckRefreshStatusesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorCheckRefreshStatusesRequest, DescribeTrustedAdvisorCheckRefreshStatusesResult>",
      "methodName" : "describeTrustedAdvisorCheckRefreshStatuses"
    },
    "DescribeTrustedAdvisorCheckResult" : {
      "documentation" : "<p>Returns the results of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p> <ul> <li><a>TrustedAdvisorCategorySpecificSummary</a></li> <li><a>TrustedAdvisorResourceDetail</a></li> <li><a>TrustedAdvisorResourcesSummary</a></li> </ul> <p>In addition, the response contains these fields:</p> <ul> <li> <b>Status.</b> The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\".</li> <li> <b>Timestamp.</b> The time of the last refresh of the check.</li> <li> <b>CheckId.</b> The unique identifier for the check.</li> </ul>",
      "operationName" : "DescribeTrustedAdvisorCheckResult",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTrustedAdvisorCheckResultRequest",
        "variableType" : "DescribeTrustedAdvisorCheckResultRequest",
        "variableDeclarationType" : "DescribeTrustedAdvisorCheckResultRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeTrustedAdvisorCheckResultRequest",
        "simpleType" : "DescribeTrustedAdvisorCheckResultRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorCheckResultResult",
        "documentation" : "<p>The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTrustedAdvisorCheckResultResult",
      "asyncReturnType" : "DescribeTrustedAdvisorCheckResultResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorCheckResultResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorCheckResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorCheckResultRequest, DescribeTrustedAdvisorCheckResultResult>",
      "methodName" : "describeTrustedAdvisorCheckResult"
    },
    "DescribeTrustedAdvisorCheckSummaries" : {
      "documentation" : "<p>Returns the summaries of the results of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a> objects.</p>",
      "operationName" : "DescribeTrustedAdvisorCheckSummaries",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTrustedAdvisorCheckSummariesRequest",
        "variableType" : "DescribeTrustedAdvisorCheckSummariesRequest",
        "variableDeclarationType" : "DescribeTrustedAdvisorCheckSummariesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeTrustedAdvisorCheckSummariesRequest",
        "simpleType" : "DescribeTrustedAdvisorCheckSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorCheckSummariesResult",
        "documentation" : "<p>The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTrustedAdvisorCheckSummariesResult",
      "asyncReturnType" : "DescribeTrustedAdvisorCheckSummariesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorCheckSummariesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorCheckSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorCheckSummariesRequest, DescribeTrustedAdvisorCheckSummariesResult>",
      "methodName" : "describeTrustedAdvisorCheckSummaries"
    },
    "DescribeTrustedAdvisorChecks" : {
      "documentation" : "<p>Returns information about all available Trusted Advisor checks, including name, ID, category, description, and metadata. You must specify a language code; English (\"en\") and Japanese (\"ja\") are currently supported. The response contains a <a>TrustedAdvisorCheckDescription</a> for each check.</p>",
      "operationName" : "DescribeTrustedAdvisorChecks",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTrustedAdvisorChecksRequest",
        "variableType" : "DescribeTrustedAdvisorChecksRequest",
        "variableDeclarationType" : "DescribeTrustedAdvisorChecksRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeTrustedAdvisorChecksRequest",
        "simpleType" : "DescribeTrustedAdvisorChecksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorChecksResult",
        "documentation" : "<p>Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTrustedAdvisorChecksResult",
      "asyncReturnType" : "DescribeTrustedAdvisorChecksResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorChecksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorChecksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorChecksRequest, DescribeTrustedAdvisorChecksResult>",
      "methodName" : "describeTrustedAdvisorChecks"
    },
    "RefreshTrustedAdvisorCheck" : {
      "documentation" : "<p>Requests a refresh of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains a <a>TrustedAdvisorCheckRefreshStatus</a> object, which contains these fields:</p> <ul> <li> <b>Status.</b> The refresh status of the check: \"none\", \"enqueued\", \"processing\", \"success\", or \"abandoned\".</li> <li> <b>MillisUntilNextRefreshable.</b> The amount of time, in milliseconds, until the check is eligible for refresh.</li> <li> <b>CheckId.</b> The unique identifier for the check.</li> </ul>",
      "operationName" : "RefreshTrustedAdvisorCheck",
      "deprecated" : false,
      "input" : {
        "variableName" : "refreshTrustedAdvisorCheckRequest",
        "variableType" : "RefreshTrustedAdvisorCheckRequest",
        "variableDeclarationType" : "RefreshTrustedAdvisorCheckRequest",
        "documentation" : "",
        "variableSetterType" : "RefreshTrustedAdvisorCheckRequest",
        "simpleType" : "RefreshTrustedAdvisorCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RefreshTrustedAdvisorCheckResult",
        "documentation" : "<p>The current refresh status of a Trusted Advisor check.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RefreshTrustedAdvisorCheckResult",
      "asyncReturnType" : "RefreshTrustedAdvisorCheckResult",
      "asyncFutureType" : "java.util.concurrent.Future<RefreshTrustedAdvisorCheckResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RefreshTrustedAdvisorCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RefreshTrustedAdvisorCheckRequest, RefreshTrustedAdvisorCheckResult>",
      "methodName" : "refreshTrustedAdvisorCheck"
    },
    "ResolveCase" : {
      "documentation" : "<p>Takes a <code>CaseId</code> and returns the initial state of the case along with the state of the case after the call to <a>ResolveCase</a> completed.</p>",
      "operationName" : "ResolveCase",
      "deprecated" : false,
      "input" : {
        "variableName" : "resolveCaseRequest",
        "variableType" : "ResolveCaseRequest",
        "variableDeclarationType" : "ResolveCaseRequest",
        "documentation" : "",
        "variableSetterType" : "ResolveCaseRequest",
        "simpleType" : "ResolveCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ResolveCaseResult",
        "documentation" : "<p>The status of the case returned by the <a>ResolveCase</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>"
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>CaseId</code> could not be located.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ResolveCaseResult",
      "asyncReturnType" : "ResolveCaseResult",
      "asyncFutureType" : "java.util.concurrent.Future<ResolveCaseResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ResolveCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResolveCaseRequest, ResolveCaseResult>",
      "methodName" : "resolveCase"
    }
  },
  "shapes" : {
    "DescribeCasesResult" : {
      "c2jName" : "DescribeCasesResponse",
      "documentation" : "<p>Returns an array of <a>CaseDetails</a> objects and a <code>NextToken</code> that defines a point for pagination in the result set.</p>",
      "shapeName" : "DescribeCasesResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The details for the cases that match the request.</p>",
        "name" : "Cases",
        "c2jName" : "cases",
        "c2jShape" : "CaseList",
        "variable" : {
          "variableName" : "cases",
          "variableType" : "java.util.List<CaseDetails>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<CaseDetails>",
          "documentation" : "<p>The details for the cases that match the request.</p>",
          "variableSetterType" : "java.util.Collection<CaseDetails>",
          "simpleType" : "List<CaseDetails>"
        },
        "setterModel" : {
          "variableName" : "cases",
          "variableType" : "java.util.List<CaseDetails>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<CaseDetails>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<CaseDetails>",
          "simpleType" : "List<CaseDetails>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<CaseDetails>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "cases",
          "marshallLocationName" : "cases",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "CaseDetails",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "CaseDetails",
            "variable" : {
              "variableName" : "member",
              "variableType" : "CaseDetails",
              "variableDeclarationType" : "CaseDetails",
              "documentation" : "",
              "variableSetterType" : "CaseDetails",
              "simpleType" : "CaseDetails"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "CaseDetails",
              "variableDeclarationType" : "CaseDetails",
              "documentation" : "",
              "variableSetterType" : "CaseDetails",
              "simpleType" : "CaseDetails"
            },
            "getterModel" : {
              "returnType" : "CaseDetails",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "templateType" : "java.util.List<CaseDetails>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<CaseDetails>",
          "simpleType" : "CaseDetails"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The details for the cases that match the request.</p>\n@param cases The details for the cases that match the request.*/",
        "getterDocumentation" : "/**<p>The details for the cases that match the request.</p>\n@return The details for the cases that match the request.*/",
        "fluentSetterDocumentation" : "/**<p>The details for the cases that match the request.</p>\n@param cases The details for the cases that match the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The details for the cases that match the request.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCases(java.util.Collection)} or {@link #withCases(java.util.Collection)} if you want to override the existing values.</p>\n@param cases The details for the cases that match the request.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A resumption point for pagination.</p>",
        "name" : "NextToken",
        "c2jName" : "nextToken",
        "c2jShape" : "NextToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A resumption point for pagination.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "nextToken",
          "marshallLocationName" : "nextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A resumption point for pagination.</p>\n@param nextToken A resumption point for pagination.*/",
        "getterDocumentation" : "/**<p>A resumption point for pagination.</p>\n@return A resumption point for pagination.*/",
        "fluentSetterDocumentation" : "/**<p>A resumption point for pagination.</p>\n@param nextToken A resumption point for pagination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A resumption point for pagination.</p>\n@param nextToken A resumption point for pagination.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeCasesResult",
        "variableType" : "DescribeCasesResult",
        "variableDeclarationType" : "DescribeCasesResult",
        "documentation" : null,
        "variableSetterType" : "DescribeCasesResult",
        "simpleType" : "DescribeCasesResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "NextToken" : {
          "documentation" : "<p>A resumption point for pagination.</p>",
          "name" : "NextToken",
          "c2jName" : "nextToken",
          "c2jShape" : "NextToken",
          "variable" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>A resumption point for pagination.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "nextToken",
            "marshallLocationName" : "nextToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A resumption point for pagination.</p>\n@param nextToken A resumption point for pagination.*/",
          "getterDocumentation" : "/**<p>A resumption point for pagination.</p>\n@return A resumption point for pagination.*/",
          "fluentSetterDocumentation" : "/**<p>A resumption point for pagination.</p>\n@param nextToken A resumption point for pagination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A resumption point for pagination.</p>\n@param nextToken A resumption point for pagination.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Cases" : {
          "documentation" : "<p>The details for the cases that match the request.</p>",
          "name" : "Cases",
          "c2jName" : "cases",
          "c2jShape" : "CaseList",
          "variable" : {
            "variableName" : "cases",
            "variableType" : "java.util.List<CaseDetails>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<CaseDetails>",
            "documentation" : "<p>The details for the cases that match the request.</p>",
            "variableSetterType" : "java.util.Collection<CaseDetails>",
            "simpleType" : "List<CaseDetails>"
          },
          "setterModel" : {
            "variableName" : "cases",
            "variableType" : "java.util.List<CaseDetails>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<CaseDetails>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<CaseDetails>",
            "simpleType" : "List<CaseDetails>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<CaseDetails>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "cases",
            "marshallLocationName" : "cases",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "CaseDetails",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "CaseDetails",
              "variable" : {
                "variableName" : "member",
                "variableType" : "CaseDetails",
                "variableDeclarationType" : "CaseDetails",
                "documentation" : "",
                "variableSetterType" : "CaseDetails",
                "simpleType" : "CaseDetails"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "CaseDetails",
                "variableDeclarationType" : "CaseDetails",
                "documentation" : "",
                "variableSetterType" : "CaseDetails",
                "simpleType" : "CaseDetails"
              },
              "getterModel" : {
                "returnType" : "CaseDetails",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "templateType" : "java.util.List<CaseDetails>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<CaseDetails>",
            "simpleType" : "CaseDetails"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The details for the cases that match the request.</p>\n@param cases The details for the cases that match the request.*/",
          "getterDocumentation" : "/**<p>The details for the cases that match the request.</p>\n@return The details for the cases that match the request.*/",
          "fluentSetterDocumentation" : "/**<p>The details for the cases that match the request.</p>\n@param cases The details for the cases that match the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The details for the cases that match the request.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCases(java.util.Collection)} or {@link #withCases(java.util.Collection)} if you want to override the existing values.</p>\n@param cases The details for the cases that match the request.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "TrustedAdvisorResourcesSummary" : {
      "c2jName" : "TrustedAdvisorResourcesSummary",
      "documentation" : "<p>Details about AWS resources that were analyzed in a call to Trusted Advisor <a>DescribeTrustedAdvisorCheckSummaries</a>. </p>",
      "shapeName" : "TrustedAdvisorResourcesSummary",
      "deprecated" : false,
      "required" : [ "resourcesProcessed", "resourcesFlagged", "resourcesIgnored", "resourcesSuppressed" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>",
        "name" : "ResourcesProcessed",
        "c2jName" : "resourcesProcessed",
        "c2jShape" : "Long",
        "variable" : {
          "variableName" : "resourcesProcessed",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "setterModel" : {
          "variableName" : "resourcesProcessed",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "resourcesProcessed",
          "marshallLocationName" : "resourcesProcessed",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>\n@param resourcesProcessed The number of AWS resources that were analyzed by the Trusted Advisor check.*/",
        "getterDocumentation" : "/**<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>\n@return The number of AWS resources that were analyzed by the Trusted Advisor check.*/",
        "fluentSetterDocumentation" : "/**<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>\n@param resourcesProcessed The number of AWS resources that were analyzed by the Trusted Advisor check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>\n@param resourcesProcessed The number of AWS resources that were analyzed by the Trusted Advisor check.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>",
        "name" : "ResourcesFlagged",
        "c2jName" : "resourcesFlagged",
        "c2jShape" : "Long",
        "variable" : {
          "variableName" : "resourcesFlagged",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "setterModel" : {
          "variableName" : "resourcesFlagged",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "resourcesFlagged",
          "marshallLocationName" : "resourcesFlagged",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>\n@param resourcesFlagged The number of AWS resources that were flagged (listed) by the Trusted Advisor check.*/",
        "getterDocumentation" : "/**<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>\n@return The number of AWS resources that were flagged (listed) by the Trusted Advisor check.*/",
        "fluentSetterDocumentation" : "/**<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>\n@param resourcesFlagged The number of AWS resources that were flagged (listed) by the Trusted Advisor check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>\n@param resourcesFlagged The number of AWS resources that were flagged (listed) by the Trusted Advisor check.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>",
        "name" : "ResourcesIgnored",
        "c2jName" : "resourcesIgnored",
        "c2jShape" : "Long",
        "variable" : {
          "variableName" : "resourcesIgnored",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "setterModel" : {
          "variableName" : "resourcesIgnored",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "resourcesIgnored",
          "marshallLocationName" : "resourcesIgnored",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>\n@param resourcesIgnored The number of AWS resources ignored by Trusted Advisor because information was unavailable.*/",
        "getterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>\n@return The number of AWS resources ignored by Trusted Advisor because information was unavailable.*/",
        "fluentSetterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>\n@param resourcesIgnored The number of AWS resources ignored by Trusted Advisor because information was unavailable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>\n@param resourcesIgnored The number of AWS resources ignored by Trusted Advisor because information was unavailable.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>",
        "name" : "ResourcesSuppressed",
        "c2jName" : "resourcesSuppressed",
        "c2jShape" : "Long",
        "variable" : {
          "variableName" : "resourcesSuppressed",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "setterModel" : {
          "variableName" : "resourcesSuppressed",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "resourcesSuppressed",
          "marshallLocationName" : "resourcesSuppressed",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>\n@param resourcesSuppressed The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.*/",
        "getterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>\n@return The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.*/",
        "fluentSetterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>\n@param resourcesSuppressed The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>\n@param resourcesSuppressed The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "trustedAdvisorResourcesSummary",
        "variableType" : "TrustedAdvisorResourcesSummary",
        "variableDeclarationType" : "TrustedAdvisorResourcesSummary",
        "documentation" : null,
        "variableSetterType" : "TrustedAdvisorResourcesSummary",
        "simpleType" : "TrustedAdvisorResourcesSummary"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ResourcesIgnored" : {
          "documentation" : "<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>",
          "name" : "ResourcesIgnored",
          "c2jName" : "resourcesIgnored",
          "c2jShape" : "Long",
          "variable" : {
            "variableName" : "resourcesIgnored",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "setterModel" : {
            "variableName" : "resourcesIgnored",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "resourcesIgnored",
            "marshallLocationName" : "resourcesIgnored",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>\n@param resourcesIgnored The number of AWS resources ignored by Trusted Advisor because information was unavailable.*/",
          "getterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>\n@return The number of AWS resources ignored by Trusted Advisor because information was unavailable.*/",
          "fluentSetterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>\n@param resourcesIgnored The number of AWS resources ignored by Trusted Advisor because information was unavailable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>\n@param resourcesIgnored The number of AWS resources ignored by Trusted Advisor because information was unavailable.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ResourcesProcessed" : {
          "documentation" : "<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>",
          "name" : "ResourcesProcessed",
          "c2jName" : "resourcesProcessed",
          "c2jShape" : "Long",
          "variable" : {
            "variableName" : "resourcesProcessed",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "setterModel" : {
            "variableName" : "resourcesProcessed",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "resourcesProcessed",
            "marshallLocationName" : "resourcesProcessed",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>\n@param resourcesProcessed The number of AWS resources that were analyzed by the Trusted Advisor check.*/",
          "getterDocumentation" : "/**<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>\n@return The number of AWS resources that were analyzed by the Trusted Advisor check.*/",
          "fluentSetterDocumentation" : "/**<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>\n@param resourcesProcessed The number of AWS resources that were analyzed by the Trusted Advisor check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>\n@param resourcesProcessed The number of AWS resources that were analyzed by the Trusted Advisor check.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ResourcesSuppressed" : {
          "documentation" : "<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>",
          "name" : "ResourcesSuppressed",
          "c2jName" : "resourcesSuppressed",
          "c2jShape" : "Long",
          "variable" : {
            "variableName" : "resourcesSuppressed",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "setterModel" : {
            "variableName" : "resourcesSuppressed",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "resourcesSuppressed",
            "marshallLocationName" : "resourcesSuppressed",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>\n@param resourcesSuppressed The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.*/",
          "getterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>\n@return The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.*/",
          "fluentSetterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>\n@param resourcesSuppressed The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>\n@param resourcesSuppressed The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ResourcesFlagged" : {
          "documentation" : "<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>",
          "name" : "ResourcesFlagged",
          "c2jName" : "resourcesFlagged",
          "c2jShape" : "Long",
          "variable" : {
            "variableName" : "resourcesFlagged",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "setterModel" : {
            "variableName" : "resourcesFlagged",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "resourcesFlagged",
            "marshallLocationName" : "resourcesFlagged",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>\n@param resourcesFlagged The number of AWS resources that were flagged (listed) by the Trusted Advisor check.*/",
          "getterDocumentation" : "/**<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>\n@return The number of AWS resources that were flagged (listed) by the Trusted Advisor check.*/",
          "fluentSetterDocumentation" : "/**<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>\n@param resourcesFlagged The number of AWS resources that were flagged (listed) by the Trusted Advisor check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>\n@param resourcesFlagged The number of AWS resources that were flagged (listed) by the Trusted Advisor check.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "AttachmentSetIdNotFoundException" : {
      "c2jName" : "AttachmentSetIdNotFound",
      "documentation" : "<p>An attachment set with the specified ID could not be found.</p>",
      "shapeName" : "AttachmentSetIdNotFoundException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "attachmentSetIdNotFoundException",
        "variableType" : "AttachmentSetIdNotFoundException",
        "variableDeclarationType" : "AttachmentSetIdNotFoundException",
        "documentation" : null,
        "variableSetterType" : "AttachmentSetIdNotFoundException",
        "simpleType" : "AttachmentSetIdNotFoundException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "AttachmentSetIdNotFound",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "CaseDetails" : {
      "c2jName" : "CaseDetails",
      "documentation" : "<p>A JSON-formatted object that contains the metadata for a support case. It is contained the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the following fields:</p> <ol> <li> <b>CaseID.</b> The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</li> <li> <b>CategoryCode.</b> The category of problem for the AWS Support case. Corresponds to the CategoryCode values returned by a call to <a>DescribeServices</a>.</li> <li> <b>DisplayId.</b> The identifier for the case on pages in the AWS Support Center.</li> <li> <b>Language.</b> The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</li> <li> <b>RecentCommunications.</b> One or more <a>Communication</a> objects. Fields of these objects are <code>Attachments</code>, <code>Body</code>, <code>CaseId</code>, <code>SubmittedBy</code>, and <code>TimeCreated</code>.</li> <li> <b>NextToken.</b> A resumption point for pagination.</li> <li> <b>ServiceCode.</b> The identifier for the AWS service that corresponds to the service code defined in the call to <a>DescribeServices</a>.</li> <li> <b>SeverityCode. </b>The severity code assigned to the case. Contains one of the values returned by the call to <a>DescribeSeverityLevels</a>.</li> <li> <b>Status.</b> The status of the case in the AWS Support Center.</li> <li> <b>Subject.</b> The subject line of the case.</li> <li> <b>SubmittedBy.</b> The email address of the account that submitted the case.</li> <li> <b>TimeCreated.</b> The time the case was created, in ISO-8601 format.</li> </ol>",
      "shapeName" : "CaseDetails",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>",
        "name" : "CaseId",
        "c2jName" : "caseId",
        "c2jShape" : "CaseId",
        "variable" : {
          "variableName" : "caseId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "caseId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "caseId",
          "marshallLocationName" : "caseId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>\n@param caseId The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>*/",
        "getterDocumentation" : "/**<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>\n@return The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>*/",
        "fluentSetterDocumentation" : "/**<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>\n@param caseId The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>\n@param caseId The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The ID displayed for the case in the AWS Support Center. This is a numeric string. </p>",
        "name" : "DisplayId",
        "c2jName" : "displayId",
        "c2jShape" : "DisplayId",
        "variable" : {
          "variableName" : "displayId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID displayed for the case in the AWS Support Center. This is a numeric string. </p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "displayId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "displayId",
          "marshallLocationName" : "displayId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID displayed for the case in the AWS Support Center. This is a numeric string. </p>\n@param displayId The ID displayed for the case in the AWS Support Center. This is a numeric string.*/",
        "getterDocumentation" : "/**<p>The ID displayed for the case in the AWS Support Center. This is a numeric string. </p>\n@return The ID displayed for the case in the AWS Support Center. This is a numeric string.*/",
        "fluentSetterDocumentation" : "/**<p>The ID displayed for the case in the AWS Support Center. This is a numeric string. </p>\n@param displayId The ID displayed for the case in the AWS Support Center. This is a numeric string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID displayed for the case in the AWS Support Center. This is a numeric string. </p>\n@param displayId The ID displayed for the case in the AWS Support Center. This is a numeric string.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The subject line for the case in the AWS Support Center.</p>",
        "name" : "Subject",
        "c2jName" : "subject",
        "c2jShape" : "Subject",
        "variable" : {
          "variableName" : "subject",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The subject line for the case in the AWS Support Center.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "subject",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "subject",
          "marshallLocationName" : "subject",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The subject line for the case in the AWS Support Center.</p>\n@param subject The subject line for the case in the AWS Support Center.*/",
        "getterDocumentation" : "/**<p>The subject line for the case in the AWS Support Center.</p>\n@return The subject line for the case in the AWS Support Center.*/",
        "fluentSetterDocumentation" : "/**<p>The subject line for the case in the AWS Support Center.</p>\n@param subject The subject line for the case in the AWS Support Center.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The subject line for the case in the AWS Support Center.</p>\n@param subject The subject line for the case in the AWS Support Center.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The status of the case. </p>",
        "name" : "Status",
        "c2jName" : "status",
        "c2jShape" : "Status",
        "variable" : {
          "variableName" : "status",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The status of the case. </p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "status",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "status",
          "marshallLocationName" : "status",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The status of the case. </p>\n@param status The status of the case.*/",
        "getterDocumentation" : "/**<p>The status of the case. </p>\n@return The status of the case.*/",
        "fluentSetterDocumentation" : "/**<p>The status of the case. </p>\n@param status The status of the case.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The status of the case. </p>\n@param status The status of the case.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The code for the AWS service returned by the call to <a>DescribeServices</a>.</p>",
        "name" : "ServiceCode",
        "c2jName" : "serviceCode",
        "c2jShape" : "ServiceCode",
        "variable" : {
          "variableName" : "serviceCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The code for the AWS service returned by the call to <a>DescribeServices</a>.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "serviceCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "serviceCode",
          "marshallLocationName" : "serviceCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The code for the AWS service returned by the call to <a>DescribeServices</a>.</p>\n@param serviceCode The code for the AWS service returned by the call to <a>DescribeServices</a>.*/",
        "getterDocumentation" : "/**<p>The code for the AWS service returned by the call to <a>DescribeServices</a>.</p>\n@return The code for the AWS service returned by the call to <a>DescribeServices</a>.*/",
        "fluentSetterDocumentation" : "/**<p>The code for the AWS service returned by the call to <a>DescribeServices</a>.</p>\n@param serviceCode The code for the AWS service returned by the call to <a>DescribeServices</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The code for the AWS service returned by the call to <a>DescribeServices</a>.</p>\n@param serviceCode The code for the AWS service returned by the call to <a>DescribeServices</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The category of problem for the AWS Support case.</p>",
        "name" : "CategoryCode",
        "c2jName" : "categoryCode",
        "c2jShape" : "CategoryCode",
        "variable" : {
          "variableName" : "categoryCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The category of problem for the AWS Support case.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "categoryCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "categoryCode",
          "marshallLocationName" : "categoryCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The category of problem for the AWS Support case.</p>\n@param categoryCode The category of problem for the AWS Support case.*/",
        "getterDocumentation" : "/**<p>The category of problem for the AWS Support case.</p>\n@return The category of problem for the AWS Support case.*/",
        "fluentSetterDocumentation" : "/**<p>The category of problem for the AWS Support case.</p>\n@param categoryCode The category of problem for the AWS Support case.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The category of problem for the AWS Support case.</p>\n@param categoryCode The category of problem for the AWS Support case.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p>",
        "name" : "SeverityCode",
        "c2jName" : "severityCode",
        "c2jShape" : "SeverityCode",
        "variable" : {
          "variableName" : "severityCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "severityCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "severityCode",
          "marshallLocationName" : "severityCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
[...]
