{
  "metadata" : {
    "apiVersion" : "2010-03-31",
    "exceptionUnmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. Applications can use Amazon SNS to easily push real-time notification messages to interested subscribers over multiple delivery protocols. For more information about this product see <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>. For detailed information about Amazon SNS features and their associated API calls, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/\">Amazon SNS Developer Guide</a>. </p> <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, retrying requests, and handling error responses. For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>. </p>",
    "defaultEndpoint" : "https://sns.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sns.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonSNS",
    "syncClient" : "AmazonSNSClient",
    "asyncInterface" : "AmazonSNSAsync",
    "asyncClient" : "AmazonSNSAsyncClient",
    "packageName" : "com.amazonaws.services.sns",
    "packagePath" : "com/amazonaws/services/sns",
    "serviceAbbreviation" : "Amazon SNS",
    "serviceFullName" : "Amazon Simple Notification Service",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "sns",
    "signingName" : "sns",
    "serviceName" : "Amazon SNS",
    "cborProtocol" : false,
    "jsonProtocol" : false,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "AddPermission" : {
      "documentation" : "<p>Adds a statement to a topic's access control policy, granting access for the specified AWS accounts to the specified actions.</p>",
      "operationName" : "AddPermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "addPermissionRequest",
        "variableType" : "AddPermissionRequest",
        "variableDeclarationType" : "AddPermissionRequest",
        "documentation" : "",
        "variableSetterType" : "AddPermissionRequest",
        "simpleType" : "AddPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddPermissionRequest, Void>",
      "methodName" : "addPermission"
    },
    "ConfirmSubscription" : {
      "documentation" : "<p>Verifies an endpoint owner's intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to \"true\".</p>",
      "operationName" : "ConfirmSubscription",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmSubscriptionRequest",
        "variableType" : "ConfirmSubscriptionRequest",
        "variableDeclarationType" : "ConfirmSubscriptionRequest",
        "documentation" : "Input for ConfirmSubscription action.",
        "variableSetterType" : "ConfirmSubscriptionRequest",
        "simpleType" : "ConfirmSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmSubscriptionResult",
        "documentation" : "Response for ConfirmSubscriptions action."
      },
      "exceptions" : [ {
        "exceptionName" : "SubscriptionLimitExceededException",
        "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ConfirmSubscriptionResult",
      "asyncReturnType" : "ConfirmSubscriptionResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmSubscriptionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmSubscriptionRequest, ConfirmSubscriptionResult>",
      "methodName" : "confirmSubscription"
    },
    "CreatePlatformApplication" : {
      "documentation" : "<p>Creates a platform application object for one of the supported push notification services, such as APNS and GCM, to which devices and mobile apps may register. You must specify PlatformPrincipal and PlatformCredential attributes when using the <code>CreatePlatformApplication</code> action. The PlatformPrincipal is received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is \"SSL certificate\". For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is \"client id\". The PlatformCredential is also received from the notification service. For APNS/APNS_SANDBOX, PlatformCredential is \"private key\". For GCM, PlatformCredential is \"API key\". For ADM, PlatformCredential is \"client secret\". The PlatformApplicationArn that is returned when using <code>CreatePlatformApplication</code> is then used as an attribute for the <code>CreatePlatformEndpoint</code> action. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "CreatePlatformApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPlatformApplicationRequest",
        "variableType" : "CreatePlatformApplicationRequest",
        "variableDeclarationType" : "CreatePlatformApplicationRequest",
        "documentation" : "<p>Input for CreatePlatformApplication action.</p>",
        "variableSetterType" : "CreatePlatformApplicationRequest",
        "simpleType" : "CreatePlatformApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePlatformApplicationResult",
        "documentation" : "<p>Response from CreatePlatformApplication action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreatePlatformApplicationResult",
      "asyncReturnType" : "CreatePlatformApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlatformApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlatformApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlatformApplicationRequest, CreatePlatformApplicationResult>",
      "methodName" : "createPlatformApplication"
    },
    "CreatePlatformEndpoint" : {
      "documentation" : "<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM and APNS. <code>CreatePlatformEndpoint</code> requires the PlatformApplicationArn that is returned from <code>CreatePlatformApplication</code>. The EndpointArn that is returned when using <code>CreatePlatformEndpoint</code> can then be used by the <code>Publish</code> action to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint's ARN is returned without creating a new endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html\">Creating an Amazon SNS Endpoint for Baidu</a>. </p>",
      "operationName" : "CreatePlatformEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPlatformEndpointRequest",
        "variableType" : "CreatePlatformEndpointRequest",
        "variableDeclarationType" : "CreatePlatformEndpointRequest",
        "documentation" : "<p>Input for CreatePlatformEndpoint action.</p>",
        "variableSetterType" : "CreatePlatformEndpointRequest",
        "simpleType" : "CreatePlatformEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePlatformEndpointResult",
        "documentation" : "<p>Response from CreateEndpoint action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreatePlatformEndpointResult",
      "asyncReturnType" : "CreatePlatformEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlatformEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlatformEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlatformEndpointRequest, CreatePlatformEndpointResult>",
      "methodName" : "createPlatformEndpoint"
    },
    "CreateTopic" : {
      "documentation" : "<p>Creates a topic to which notifications can be published. Users can create at most 3000 topics. For more information, see <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic's ARN is returned without creating a new topic.</p>",
      "operationName" : "CreateTopic",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTopicRequest",
        "variableType" : "CreateTopicRequest",
        "variableDeclarationType" : "CreateTopicRequest",
        "documentation" : "<p>Input for CreateTopic action.</p>",
        "variableSetterType" : "CreateTopicRequest",
        "simpleType" : "CreateTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTopicResult",
        "documentation" : "<p>Response from CreateTopic action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "TopicLimitExceededException",
        "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of topics.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateTopicResult",
      "asyncReturnType" : "CreateTopicResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTopicResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTopicRequest, CreateTopicResult>",
      "methodName" : "createTopic"
    },
    "DeleteEndpoint" : {
      "documentation" : "<p>Deletes the endpoint from Amazon SNS. This action is idempotent. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "DeleteEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "variableDeclarationType" : "DeleteEndpointRequest",
        "documentation" : "<p>Input for DeleteEndpoint action.</p>",
        "variableSetterType" : "DeleteEndpointRequest",
        "simpleType" : "DeleteEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointRequest, Void>",
      "methodName" : "deleteEndpoint"
    },
    "DeletePlatformApplication" : {
      "documentation" : "<p>Deletes a platform application object for one of the supported push notification services, such as APNS and GCM. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "DeletePlatformApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "deletePlatformApplicationRequest",
        "variableType" : "DeletePlatformApplicationRequest",
        "variableDeclarationType" : "DeletePlatformApplicationRequest",
        "documentation" : "<p>Input for DeletePlatformApplication action.</p>",
        "variableSetterType" : "DeletePlatformApplicationRequest",
        "simpleType" : "DeletePlatformApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePlatformApplicationRequest, Void>",
      "methodName" : "deletePlatformApplication"
    },
    "DeleteTopic" : {
      "documentation" : "<p>Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.</p>",
      "operationName" : "DeleteTopic",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTopicRequest",
        "variableType" : "DeleteTopicRequest",
        "variableDeclarationType" : "DeleteTopicRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteTopicRequest",
        "simpleType" : "DeleteTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTopicRequest, Void>",
      "methodName" : "deleteTopic"
    },
    "GetEndpointAttributes" : {
      "documentation" : "<p>Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "GetEndpointAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getEndpointAttributesRequest",
        "variableType" : "GetEndpointAttributesRequest",
        "variableDeclarationType" : "GetEndpointAttributesRequest",
        "documentation" : "<p>Input for GetEndpointAttributes action.</p>",
        "variableSetterType" : "GetEndpointAttributesRequest",
        "simpleType" : "GetEndpointAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetEndpointAttributesResult",
        "documentation" : "<p>Response from GetEndpointAttributes of the EndpointArn.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetEndpointAttributesResult",
      "asyncReturnType" : "GetEndpointAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetEndpointAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetEndpointAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEndpointAttributesRequest, GetEndpointAttributesResult>",
      "methodName" : "getEndpointAttributes"
    },
    "GetPlatformApplicationAttributes" : {
      "documentation" : "<p>Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "GetPlatformApplicationAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getPlatformApplicationAttributesRequest",
        "variableType" : "GetPlatformApplicationAttributesRequest",
        "variableDeclarationType" : "GetPlatformApplicationAttributesRequest",
        "documentation" : "<p>Input for GetPlatformApplicationAttributes action.</p>",
        "variableSetterType" : "GetPlatformApplicationAttributesRequest",
        "simpleType" : "GetPlatformApplicationAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetPlatformApplicationAttributesResult",
        "documentation" : "<p>Response for GetPlatformApplicationAttributes action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetPlatformApplicationAttributesResult",
      "asyncReturnType" : "GetPlatformApplicationAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetPlatformApplicationAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetPlatformApplicationAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPlatformApplicationAttributesRequest, GetPlatformApplicationAttributesResult>",
      "methodName" : "getPlatformApplicationAttributes"
    },
    "GetSubscriptionAttributes" : {
      "documentation" : "<p>Returns all of the properties of a subscription.</p>",
      "operationName" : "GetSubscriptionAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSubscriptionAttributesRequest",
        "variableType" : "GetSubscriptionAttributesRequest",
        "variableDeclarationType" : "GetSubscriptionAttributesRequest",
        "documentation" : "<p>Input for GetSubscriptionAttributes.</p>",
        "variableSetterType" : "GetSubscriptionAttributesRequest",
        "simpleType" : "GetSubscriptionAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSubscriptionAttributesResult",
        "documentation" : "<p>Response for GetSubscriptionAttributes action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetSubscriptionAttributesResult",
      "asyncReturnType" : "GetSubscriptionAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubscriptionAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubscriptionAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubscriptionAttributesRequest, GetSubscriptionAttributesResult>",
      "methodName" : "getSubscriptionAttributes"
    },
    "GetTopicAttributes" : {
      "documentation" : "<p>Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user. </p>",
      "operationName" : "GetTopicAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTopicAttributesRequest",
        "variableType" : "GetTopicAttributesRequest",
        "variableDeclarationType" : "GetTopicAttributesRequest",
        "documentation" : "<p>Input for GetTopicAttributes action.</p>",
        "variableSetterType" : "GetTopicAttributesRequest",
        "simpleType" : "GetTopicAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTopicAttributesResult",
        "documentation" : "<p>Response for GetTopicAttributes action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetTopicAttributesResult",
      "asyncReturnType" : "GetTopicAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTopicAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTopicAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTopicAttributesRequest, GetTopicAttributesResult>",
      "methodName" : "getTopicAttributes"
    },
    "ListEndpointsByPlatformApplication" : {
      "documentation" : "<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "ListEndpointsByPlatformApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "listEndpointsByPlatformApplicationRequest",
        "variableType" : "ListEndpointsByPlatformApplicationRequest",
        "variableDeclarationType" : "ListEndpointsByPlatformApplicationRequest",
        "documentation" : "<p>Input for ListEndpointsByPlatformApplication action.</p>",
        "variableSetterType" : "ListEndpointsByPlatformApplicationRequest",
        "simpleType" : "ListEndpointsByPlatformApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListEndpointsByPlatformApplicationResult",
        "documentation" : "<p>Response for ListEndpointsByPlatformApplication action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListEndpointsByPlatformApplicationResult",
      "asyncReturnType" : "ListEndpointsByPlatformApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListEndpointsByPlatformApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListEndpointsByPlatformApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEndpointsByPlatformApplicationRequest, ListEndpointsByPlatformApplicationResult>",
      "methodName" : "listEndpointsByPlatformApplication"
    },
    "ListPlatformApplications" : {
      "documentation" : "<p>Lists the platform application objects for the supported push notification services, such as APNS and GCM. The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "ListPlatformApplications",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPlatformApplicationsRequest",
        "variableType" : "ListPlatformApplicationsRequest",
        "variableDeclarationType" : "ListPlatformApplicationsRequest",
        "documentation" : "<p>Input for ListPlatformApplications action.</p>",
        "variableSetterType" : "ListPlatformApplicationsRequest",
        "simpleType" : "ListPlatformApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPlatformApplicationsResult",
        "documentation" : "<p>Response for ListPlatformApplications action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListPlatformApplicationsResult",
      "asyncReturnType" : "ListPlatformApplicationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPlatformApplicationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPlatformApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPlatformApplicationsRequest, ListPlatformApplicationsResult>",
      "methodName" : "listPlatformApplications"
    },
    "ListSubscriptions" : {
      "documentation" : "<p>Returns a list of the requester's subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p>",
      "operationName" : "ListSubscriptions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSubscriptionsRequest",
        "variableType" : "ListSubscriptionsRequest",
        "variableDeclarationType" : "ListSubscriptionsRequest",
        "documentation" : "Input for ListSubscriptions action.",
        "variableSetterType" : "ListSubscriptionsRequest",
        "simpleType" : "ListSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSubscriptionsResult",
        "documentation" : "<p>Response for ListSubscriptions action</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListSubscriptionsResult",
      "asyncReturnType" : "ListSubscriptionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubscriptionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubscriptionsRequest, ListSubscriptionsResult>",
      "methodName" : "listSubscriptions"
    },
    "ListSubscriptionsByTopic" : {
      "documentation" : "<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p>",
      "operationName" : "ListSubscriptionsByTopic",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSubscriptionsByTopicRequest",
        "variableType" : "ListSubscriptionsByTopicRequest",
        "variableDeclarationType" : "ListSubscriptionsByTopicRequest",
        "documentation" : "<p>Input for ListSubscriptionsByTopic action.</p>",
        "variableSetterType" : "ListSubscriptionsByTopicRequest",
        "simpleType" : "ListSubscriptionsByTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSubscriptionsByTopicResult",
        "documentation" : "<p>Response for ListSubscriptionsByTopic action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListSubscriptionsByTopicResult",
      "asyncReturnType" : "ListSubscriptionsByTopicResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubscriptionsByTopicResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubscriptionsByTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubscriptionsByTopicRequest, ListSubscriptionsByTopicResult>",
      "methodName" : "listSubscriptionsByTopic"
    },
    "ListTopics" : {
      "documentation" : "<p>Returns a list of the requester's topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p>",
      "operationName" : "ListTopics",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTopicsRequest",
        "variableType" : "ListTopicsRequest",
        "variableDeclarationType" : "ListTopicsRequest",
        "documentation" : "",
        "variableSetterType" : "ListTopicsRequest",
        "simpleType" : "ListTopicsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTopicsResult",
        "documentation" : "<p>Response for ListTopics action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTopicsResult",
      "asyncReturnType" : "ListTopicsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTopicsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTopicsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTopicsRequest, ListTopicsResult>",
      "methodName" : "listTopics"
    },
    "Publish" : {
      "documentation" : "<p>Sends a message to all of a topic's subscribed endpoints. When a <code>messageId</code> is returned, the message has been saved and Amazon SNS will attempt to deliver it to the topic's subscribers shortly. The format of the outgoing message to each subscribed endpoint depends on the notification protocol selected.</p> <p>To use the <code>Publish</code> action for sending a message to a mobile endpoint, such as an app on a Kindle device or mobile phone, you must specify the EndpointArn. The EndpointArn is returned when making a call with the <code>CreatePlatformEndpoint</code> action. The second example below shows a request and response for publishing to a mobile endpoint. </p>",
      "operationName" : "Publish",
      "deprecated" : false,
      "input" : {
        "variableName" : "publishRequest",
        "variableType" : "PublishRequest",
        "variableDeclarationType" : "PublishRequest",
        "documentation" : "<p>Input for Publish action.</p>",
        "variableSetterType" : "PublishRequest",
        "simpleType" : "PublishRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PublishResult",
        "documentation" : "<p>Response for Publish action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "EndpointDisabledException",
        "documentation" : "<p>Exception error indicating endpoint disabled.</p>"
      }, {
        "exceptionName" : "PlatformApplicationDisabledException",
        "documentation" : "<p>Exception error indicating platform application disabled.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PublishResult",
      "asyncReturnType" : "PublishResult",
      "asyncFutureType" : "java.util.concurrent.Future<PublishResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PublishResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PublishRequest, PublishResult>",
      "methodName" : "publish"
    },
    "RemovePermission" : {
      "documentation" : "<p>Removes a statement from a topic's access control policy.</p>",
      "operationName" : "RemovePermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "removePermissionRequest",
        "variableType" : "RemovePermissionRequest",
        "variableDeclarationType" : "RemovePermissionRequest",
        "documentation" : "<p>Input for RemovePermission action.</p>",
        "variableSetterType" : "RemovePermissionRequest",
        "simpleType" : "RemovePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, Void>",
      "methodName" : "removePermission"
    },
    "SetEndpointAttributes" : {
      "documentation" : "<p>Sets the attributes for an endpoint for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "SetEndpointAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setEndpointAttributesRequest",
        "variableType" : "SetEndpointAttributesRequest",
        "variableDeclarationType" : "SetEndpointAttributesRequest",
        "documentation" : "<p>Input for SetEndpointAttributes action.</p>",
        "variableSetterType" : "SetEndpointAttributesRequest",
        "simpleType" : "SetEndpointAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetEndpointAttributesRequest, Void>",
      "methodName" : "setEndpointAttributes"
    },
    "SetPlatformApplicationAttributes" : {
      "documentation" : "<p>Sets the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "SetPlatformApplicationAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setPlatformApplicationAttributesRequest",
        "variableType" : "SetPlatformApplicationAttributesRequest",
        "variableDeclarationType" : "SetPlatformApplicationAttributesRequest",
        "documentation" : "<p>Input for SetPlatformApplicationAttributes action.</p>",
        "variableSetterType" : "SetPlatformApplicationAttributesRequest",
        "simpleType" : "SetPlatformApplicationAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetPlatformApplicationAttributesRequest, Void>",
      "methodName" : "setPlatformApplicationAttributes"
    },
    "SetSubscriptionAttributes" : {
      "documentation" : "<p>Allows a subscription owner to set an attribute of the topic to a new value.</p>",
      "operationName" : "SetSubscriptionAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setSubscriptionAttributesRequest",
        "variableType" : "SetSubscriptionAttributesRequest",
        "variableDeclarationType" : "SetSubscriptionAttributesRequest",
        "documentation" : "<p>Input for SetSubscriptionAttributes action.</p>",
        "variableSetterType" : "SetSubscriptionAttributesRequest",
        "simpleType" : "SetSubscriptionAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSubscriptionAttributesRequest, Void>",
      "methodName" : "setSubscriptionAttributes"
    },
    "SetTopicAttributes" : {
      "documentation" : "<p>Allows a topic owner to set an attribute of the topic to a new value.</p>",
      "operationName" : "SetTopicAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setTopicAttributesRequest",
        "variableType" : "SetTopicAttributesRequest",
        "variableDeclarationType" : "SetTopicAttributesRequest",
        "documentation" : "<p>Input for SetTopicAttributes action.</p>",
        "variableSetterType" : "SetTopicAttributesRequest",
        "simpleType" : "SetTopicAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTopicAttributesRequest, Void>",
      "methodName" : "setTopicAttributes"
    },
    "Subscribe" : {
      "documentation" : "<p>Prepares to subscribe an endpoint by sending the endpoint a confirmation message. To actually create a subscription, the endpoint owner must call the <code>ConfirmSubscription</code> action with the token from the confirmation message. Confirmation tokens are valid for three days.</p>",
      "operationName" : "Subscribe",
      "deprecated" : false,
      "input" : {
        "variableName" : "subscribeRequest",
        "variableType" : "SubscribeRequest",
        "variableDeclarationType" : "SubscribeRequest",
        "documentation" : "Input for Subscribe action.",
        "variableSetterType" : "SubscribeRequest",
        "simpleType" : "SubscribeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SubscribeResult",
        "documentation" : "Response for Subscribe action."
      },
      "exceptions" : [ {
        "exceptionName" : "SubscriptionLimitExceededException",
        "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SubscribeResult",
      "asyncReturnType" : "SubscribeResult",
      "asyncFutureType" : "java.util.concurrent.Future<SubscribeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SubscribeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubscribeRequest, SubscribeResult>",
      "methodName" : "subscribe"
    },
    "Unsubscribe" : {
      "documentation" : "<p>Deletes a subscription. If the subscription requires authentication for deletion, only the owner of the subscription or the topic's owner can unsubscribe, and an AWS signature is required. If the <code>Unsubscribe</code> call does not require authentication and the requester is not the subscription owner, a final cancellation message is delivered to the endpoint, so that the endpoint owner can easily resubscribe to the topic if the <code>Unsubscribe</code> request was unintended.</p>",
      "operationName" : "Unsubscribe",
      "deprecated" : false,
      "input" : {
        "variableName" : "unsubscribeRequest",
        "variableType" : "UnsubscribeRequest",
        "variableDeclarationType" : "UnsubscribeRequest",
        "documentation" : "<p>Input for Unsubscribe action.</p>",
        "variableSetterType" : "UnsubscribeRequest",
        "simpleType" : "UnsubscribeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnsubscribeRequest, Void>",
      "methodName" : "unsubscribe"
    }
  },
  "shapes" : {
    "PlatformApplication" : {
      "c2jName" : "PlatformApplication",
      "documentation" : "<p>Platform application object.</p>",
      "shapeName" : "PlatformApplication",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>PlatformApplicationArn for platform application object.</p>",
        "name" : "PlatformApplicationArn",
        "c2jName" : "PlatformApplicationArn",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "platformApplicationArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>PlatformApplicationArn for platform application object.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "platformApplicationArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "PlatformApplicationArn",
          "marshallLocationName" : "PlatformApplicationArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>PlatformApplicationArn for platform application object.</p>\n@param platformApplicationArn PlatformApplicationArn for platform application object.*/",
        "getterDocumentation" : "/**<p>PlatformApplicationArn for platform application object.</p>\n@return PlatformApplicationArn for platform application object.*/",
        "fluentSetterDocumentation" : "/**<p>PlatformApplicationArn for platform application object.</p>\n@param platformApplicationArn PlatformApplicationArn for platform application object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>PlatformApplicationArn for platform application object.</p>\n@param platformApplicationArn PlatformApplicationArn for platform application object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "simple" : true
      }, {
        "documentation" : "<p>Attributes for platform application object.</p>",
        "name" : "Attributes",
        "c2jName" : "Attributes",
        "c2jShape" : "MapStringToString",
        "variable" : {
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
          "documentation" : "<p>Attributes for platform application object.</p>",
          "variableSetterType" : "java.util.Map<String,String>",
          "simpleType" : "Map<String,String>"
        },
        "setterModel" : {
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
          "documentation" : "",
          "variableSetterType" : "java.util.Map<String,String>",
          "simpleType" : "Map<String,String>"
        },
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Attributes",
          "marshallLocationName" : "Attributes",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalMap",
          "interfaceType" : "java.util.Map",
          "keyType" : "String",
          "keyLocationName" : "key",
          "keyModel" : null,
          "valueType" : "String",
          "valueLocationName" : "value",
          "valueModel" : null,
          "keySimple" : true,
          "valueSimple" : true,
          "valueList" : false,
          "templateType" : "java.util.Map<String,String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalMap<String,String>"
        },
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : true,
        "setterDocumentation" : "/**<p>Attributes for platform application object.</p>\n@param attributes Attributes for platform application object.*/",
        "getterDocumentation" : "/**<p>Attributes for platform application object.</p>\n@return Attributes for platform application object.*/",
        "fluentSetterDocumentation" : "/**<p>Attributes for platform application object.</p>\n@param attributes Attributes for platform application object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Attributes for platform application object.</p>\n@param attributes Attributes for platform application object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "simple" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "platformApplication",
        "variableType" : "PlatformApplication",
        "variableDeclarationType" : "PlatformApplication",
        "documentation" : null,
        "variableSetterType" : "PlatformApplication",
        "simpleType" : "PlatformApplication"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "PlatformApplicationArn" : {
          "documentation" : "<p>PlatformApplicationArn for platform application object.</p>",
          "name" : "PlatformApplicationArn",
          "c2jName" : "PlatformApplicationArn",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "platformApplicationArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>PlatformApplicationArn for platform application object.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "platformApplicationArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "PlatformApplicationArn",
            "marshallLocationName" : "PlatformApplicationArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>PlatformApplicationArn for platform application object.</p>\n@param platformApplicationArn PlatformApplicationArn for platform application object.*/",
          "getterDocumentation" : "/**<p>PlatformApplicationArn for platform application object.</p>\n@return PlatformApplicationArn for platform application object.*/",
          "fluentSetterDocumentation" : "/**<p>PlatformApplicationArn for platform application object.</p>\n@param platformApplicationArn PlatformApplicationArn for platform application object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>PlatformApplicationArn for platform application object.</p>\n@param platformApplicationArn PlatformApplicationArn for platform application object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "simple" : true
        },
        "Attributes" : {
          "documentation" : "<p>Attributes for platform application object.</p>",
          "name" : "Attributes",
          "c2jName" : "Attributes",
          "c2jShape" : "MapStringToString",
          "variable" : {
            "variableName" : "attributes",
            "variableType" : "java.util.Map<String,String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
            "documentation" : "<p>Attributes for platform application object.</p>",
            "variableSetterType" : "java.util.Map<String,String>",
            "simpleType" : "Map<String,String>"
          },
          "setterModel" : {
            "variableName" : "attributes",
            "variableType" : "java.util.Map<String,String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
            "documentation" : "",
            "variableSetterType" : "java.util.Map<String,String>",
            "simpleType" : "Map<String,String>"
          },
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Attributes",
            "marshallLocationName" : "Attributes",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalMap",
            "interfaceType" : "java.util.Map",
            "keyType" : "String",
            "keyLocationName" : "key",
            "keyModel" : null,
            "valueType" : "String",
            "valueLocationName" : "value",
            "valueModel" : null,
            "keySimple" : true,
            "valueSimple" : true,
            "valueList" : false,
            "templateType" : "java.util.Map<String,String>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalMap<String,String>"
          },
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : true,
          "setterDocumentation" : "/**<p>Attributes for platform application object.</p>\n@param attributes Attributes for platform application object.*/",
          "getterDocumentation" : "/**<p>Attributes for platform application object.</p>\n@return Attributes for platform application object.*/",
          "fluentSetterDocumentation" : "/**<p>Attributes for platform application object.</p>\n@param attributes Attributes for platform application object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Attributes for platform application object.</p>\n@param attributes Attributes for platform application object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "simple" : false
        }
      }
    },
    "ListSubscriptionsResult" : {
      "c2jName" : "ListSubscriptionsResponse",
      "documentation" : "<p>Response for ListSubscriptions action</p>",
      "shapeName" : "ListSubscriptionsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>A list of subscriptions.</p>",
        "name" : "Subscriptions",
        "c2jName" : "Subscriptions",
        "c2jShape" : "SubscriptionsList",
        "variable" : {
          "variableName" : "subscriptions",
          "variableType" : "java.util.List<Subscription>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Subscription>",
          "documentation" : "<p>A list of subscriptions.</p>",
          "variableSetterType" : "java.util.Collection<Subscription>",
          "simpleType" : "List<Subscription>"
        },
        "setterModel" : {
          "variableName" : "subscriptions",
          "variableType" : "java.util.List<Subscription>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Subscription>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<Subscription>",
          "simpleType" : "List<Subscription>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Subscription>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Subscriptions",
          "marshallLocationName" : "Subscriptions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Subscription",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Subscription",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Subscription",
              "variableDeclarationType" : "Subscription",
              "documentation" : "",
              "variableSetterType" : "Subscription",
              "simpleType" : "Subscription"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Subscription",
              "variableDeclarationType" : "Subscription",
              "documentation" : "",
              "variableSetterType" : "Subscription",
              "simpleType" : "Subscription"
            },
            "getterModel" : {
              "returnType" : "Subscription",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "list" : false,
            "simple" : false
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "map" : false,
          "templateType" : "java.util.List<Subscription>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Subscription>",
          "simple" : false,
          "simpleType" : "Subscription"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of subscriptions.</p>\n@param subscriptions A list of subscriptions.*/",
        "getterDocumentation" : "/**<p>A list of subscriptions.</p>\n@return A list of subscriptions.*/",
        "fluentSetterDocumentation" : "/**<p>A list of subscriptions.</p>\n@param subscriptions A list of subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of subscriptions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSubscriptions(java.util.Collection)} or {@link #withSubscriptions(java.util.Collection)} if you want to override the existing values.</p>\n@param subscriptions A list of subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : true,
        "simple" : false
      }, {
        "documentation" : "<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "nextToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>\n@param nextToken Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.*/",
        "getterDocumentation" : "/**<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>\n@return Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.*/",
        "fluentSetterDocumentation" : "/**<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>\n@param nextToken Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>\n@param nextToken Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "simple" : true
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listSubscriptionsResult",
        "variableType" : "ListSubscriptionsResult",
        "variableDeclarationType" : "ListSubscriptionsResult",
        "documentation" : null,
        "variableSetterType" : "ListSubscriptionsResult",
        "simpleType" : "ListSubscriptionsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : "ListSubscriptionsResult",
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "NextToken" : {
          "documentation" : "<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>",
          "name" : "NextToken",
          "c2jName" : "NextToken",
          "c2jShape" : "nextToken",
          "variable" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NextToken",
            "marshallLocationName" : "NextToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>\n@param nextToken Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.*/",
          "getterDocumentation" : "/**<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>\n@return Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.*/",
          "fluentSetterDocumentation" : "/**<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>\n@param nextToken Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>\n@param nextToken Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "simple" : true
        },
        "Subscriptions" : {
          "documentation" : "<p>A list of subscriptions.</p>",
          "name" : "Subscriptions",
          "c2jName" : "Subscriptions",
          "c2jShape" : "SubscriptionsList",
          "variable" : {
            "variableName" : "subscriptions",
            "variableType" : "java.util.List<Subscription>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Subscription>",
            "documentation" : "<p>A list of subscriptions.</p>",
            "variableSetterType" : "java.util.Collection<Subscription>",
            "simpleType" : "List<Subscription>"
          },
          "setterModel" : {
            "variableName" : "subscriptions",
            "variableType" : "java.util.List<Subscription>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Subscription>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<Subscription>",
            "simpleType" : "List<Subscription>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Subscription>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Subscriptions",
            "marshallLocationName" : "Subscriptions",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Subscription",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Subscription",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Subscription",
                "variableDeclarationType" : "Subscription",
                "documentation" : "",
                "variableSetterType" : "Subscription",
                "simpleType" : "Subscription"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Subscription",
                "variableDeclarationType" : "Subscription",
                "documentation" : "",
                "variableSetterType" : "Subscription",
                "simpleType" : "Subscription"
              },
              "getterModel" : {
                "returnType" : "Subscription",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "list" : false,
              "simple" : false
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "map" : false,
            "templateType" : "java.util.List<Subscription>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Subscription>",
            "simple" : false,
            "simpleType" : "Subscription"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of subscriptions.</p>\n@param subscriptions A list of subscriptions.*/",
          "getterDocumentation" : "/**<p>A list of subscriptions.</p>\n@return A list of subscriptions.*/",
          "fluentSetterDocumentation" : "/**<p>A list of subscriptions.</p>\n@param subscriptions A list of subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of subscriptions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSubscriptions(java.util.Collection)} or {@link #withSubscriptions(java.util.Collection)} if you want to override the existing values.</p>\n@param subscriptions A list of subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : true,
          "simple" : false
        }
      }
    },
    "ListSubscriptionsByTopicRequest" : {
      "c2jName" : "ListSubscriptionsByTopicInput",
      "documentation" : "<p>Input for ListSubscriptionsByTopic action.</p>",
      "shapeName" : "ListSubscriptionsByTopicRequest",
      "deprecated" : false,
      "required" : [ "TopicArn" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The ARN of the topic for which you wish to find subscriptions.</p>",
        "name" : "TopicArn",
        "c2jName" : "TopicArn",
        "c2jShape" : "topicARN",
        "variable" : {
          "variableName" : "topicArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the topic for which you wish to find subscriptions.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "topicArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TopicArn",
          "marshallLocationName" : "TopicArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the topic for which you wish to find subscriptions.</p>\n@param topicArn The ARN of the topic for which you wish to find subscriptions.*/",
        "getterDocumentation" : "/**<p>The ARN of the topic for which you wish to find subscriptions.</p>\n@return The ARN of the topic for which you wish to find subscriptions.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN of the topic for which you wish to find subscriptions.</p>\n@param topicArn The ARN of the topic for which you wish to find subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN of the topic for which you wish to find subscriptions.</p>\n@param topicArn The ARN of the topic for which you wish to find subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "simple" : true
      }, {
        "documentation" : "<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "nextToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>\n@param nextToken Token returned by the previous <code>ListSubscriptionsByTopic</code> request.*/",
        "getterDocumentation" : "/**<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>\n@return Token returned by the previous <code>ListSubscriptionsByTopic</code> request.*/",
        "fluentSetterDocumentation" : "/**<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>\n@param nextToken Token returned by the previous <code>ListSubscriptionsByTopic</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>\n@param nextToken Token returned by the previous <code>ListSubscriptionsByTopic</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "simple" : true
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listSubscriptionsByTopicRequest",
        "variableType" : "ListSubscriptionsByTopicRequest",
        "variableDeclarationType" : "ListSubscriptionsByTopicRequest",
        "documentation" : null,
        "variableSetterType" : "ListSubscriptionsByTopicRequest",
        "simpleType" : "ListSubscriptionsByTopicRequest"
      },
      "marshaller" : {
        "action" : "ListSubscriptionsByTopic",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "NextToken" : {
          "documentation" : "<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>",
          "name" : "NextToken",
          "c2jName" : "NextToken",
          "c2jShape" : "nextToken",
          "variable" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NextToken",
            "marshallLocationName" : "NextToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>\n@param nextToken Token returned by the previous <code>ListSubscriptionsByTopic</code> request.*/",
          "getterDocumentation" : "/**<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>\n@return Token returned by the previous <code>ListSubscriptionsByTopic</code> request.*/",
          "fluentSetterDocumentation" : "/**<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>\n@param nextToken Token returned by the previous <code>ListSubscriptionsByTopic</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>\n@param nextToken Token returned by the previous <code>ListSubscriptionsByTopic</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "simple" : true
        },
        "TopicArn" : {
          "documentation" : "<p>The ARN of the topic for which you wish to find subscriptions.</p>",
          "name" : "TopicArn",
          "c2jName" : "TopicArn",
          "c2jShape" : "topicARN",
          "variable" : {
            "variableName" : "topicArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ARN of the topic for which you wish to find subscriptions.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "topicArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TopicArn",
            "marshallLocationName" : "TopicArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ARN of the topic for which you wish to find subscriptions.</p>\n@param topicArn The ARN of the topic for which you wish to find subscriptions.*/",
[...]
