{
  "metadata" : {
    "apiVersion" : "2010-03-31",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. Applications can use Amazon SNS to easily push real-time notification messages to interested subscribers over multiple delivery protocols. For more information about this product see <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>. For detailed information about Amazon SNS features and their associated API calls, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/\">Amazon SNS Developer Guide</a>. </p> <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, retrying requests, and handling error responses. For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>. </p>",
    "defaultEndpoint" : "https://sns.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sns.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonSNS",
    "syncClient" : "AmazonSNSClient",
    "asyncInterface" : "AmazonSNSAsync",
    "asyncClient" : "AmazonSNSAsyncClient",
    "packageName" : "com.amazonaws.services.sns",
    "packagePath" : "com/amazonaws/services/sns",
    "serviceAbbreviation" : "Amazon SNS",
    "serviceFullName" : "Amazon Simple Notification Service",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "sns",
    "signingName" : "sns",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "xmlProtocol" : true,
    "cborProtocol" : false,
    "jsonProtocol" : false,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "syncClientBuilderClassName" : "AmazonSNSClientBuilder",
    "asyncClientBuilderClassName" : "AmazonSNSAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonSNSModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.sns.smoketests",
    "serviceName" : "Amazon SNS"
  },
  "operations" : {
    "AddPermission" : {
      "documentation" : "<p>Adds a statement to a topic's access control policy, granting access for the specified AWS accounts to the specified actions.</p>",
      "operationName" : "AddPermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "addPermissionRequest",
        "variableType" : "AddPermissionRequest",
        "variableDeclarationType" : "AddPermissionRequest",
        "documentation" : "",
        "variableSetterType" : "AddPermissionRequest",
        "simpleType" : "AddPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddPermissionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "addPermission",
      "authenticated" : true,
      "syncReturnType" : "AddPermissionResult",
      "asyncReturnType" : "AddPermissionResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddPermissionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddPermissionRequest, AddPermissionResult>"
    },
    "CheckIfPhoneNumberIsOptedOut" : {
      "documentation" : "<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>",
      "operationName" : "CheckIfPhoneNumberIsOptedOut",
      "deprecated" : false,
      "input" : {
        "variableName" : "checkIfPhoneNumberIsOptedOutRequest",
        "variableType" : "CheckIfPhoneNumberIsOptedOutRequest",
        "variableDeclarationType" : "CheckIfPhoneNumberIsOptedOutRequest",
        "documentation" : "<p>The input for the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>",
        "variableSetterType" : "CheckIfPhoneNumberIsOptedOutRequest",
        "simpleType" : "CheckIfPhoneNumberIsOptedOutRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CheckIfPhoneNumberIsOptedOutResult",
        "documentation" : "<p>The response from the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "checkIfPhoneNumberIsOptedOut",
      "authenticated" : true,
      "syncReturnType" : "CheckIfPhoneNumberIsOptedOutResult",
      "asyncReturnType" : "CheckIfPhoneNumberIsOptedOutResult",
      "asyncFutureType" : "java.util.concurrent.Future<CheckIfPhoneNumberIsOptedOutResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CheckIfPhoneNumberIsOptedOutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckIfPhoneNumberIsOptedOutRequest, CheckIfPhoneNumberIsOptedOutResult>"
    },
    "ConfirmSubscription" : {
      "documentation" : "<p>Verifies an endpoint owner's intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to \"true\".</p>",
      "operationName" : "ConfirmSubscription",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmSubscriptionRequest",
        "variableType" : "ConfirmSubscriptionRequest",
        "variableDeclarationType" : "ConfirmSubscriptionRequest",
        "documentation" : "<p>Input for ConfirmSubscription action.</p>",
        "variableSetterType" : "ConfirmSubscriptionRequest",
        "simpleType" : "ConfirmSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmSubscriptionResult",
        "documentation" : "<p>Response for ConfirmSubscriptions action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "SubscriptionLimitExceededException",
        "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "confirmSubscription",
      "authenticated" : true,
      "syncReturnType" : "ConfirmSubscriptionResult",
      "asyncReturnType" : "ConfirmSubscriptionResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmSubscriptionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmSubscriptionRequest, ConfirmSubscriptionResult>"
    },
    "CreatePlatformApplication" : {
      "documentation" : "<p>Creates a platform application object for one of the supported push notification services, such as APNS and GCM, to which devices and mobile apps may register. You must specify PlatformPrincipal and PlatformCredential attributes when using the <code>CreatePlatformApplication</code> action. The PlatformPrincipal is received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is \"SSL certificate\". For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is \"client id\". The PlatformCredential is also received from the notification service. For WNS, PlatformPrincipal is \"Package Security Identifier\". For MPNS, PlatformPrincipal is \"TLS certificate\". For Baidu, PlatformPrincipal is \"API key\".</p> <p>For APNS/APNS_SANDBOX, PlatformCredential is \"private key\". For GCM, PlatformCredential is \"API key\". For ADM, PlatformCredential is \"client secret\". For WNS, PlatformCredential is \"secret key\". For MPNS, PlatformCredential is \"private key\". For Baidu, PlatformCredential is \"secret key\". The PlatformApplicationArn that is returned when using <code>CreatePlatformApplication</code> is then used as an attribute for the <code>CreatePlatformEndpoint</code> action. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. For more information about obtaining the PlatformPrincipal and PlatformCredential for each of the supported push notification services, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-apns.html\">Getting Started with Apple Push Notification Service</a>, <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-adm.html\">Getting Started with Amazon Device Messaging</a>, <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-baidu.html\">Getting Started with Baidu Cloud Push</a>, <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-gcm.html\">Getting Started with Google Cloud Messaging for Android</a>, <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-mpns.html\">Getting Started with MPNS</a>, or <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-wns.html\">Getting Started with WNS</a>. </p>",
      "operationName" : "CreatePlatformApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPlatformApplicationRequest",
        "variableType" : "CreatePlatformApplicationRequest",
        "variableDeclarationType" : "CreatePlatformApplicationRequest",
        "documentation" : "<p>Input for CreatePlatformApplication action.</p>",
        "variableSetterType" : "CreatePlatformApplicationRequest",
        "simpleType" : "CreatePlatformApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePlatformApplicationResult",
        "documentation" : "<p>Response from CreatePlatformApplication action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createPlatformApplication",
      "authenticated" : true,
      "syncReturnType" : "CreatePlatformApplicationResult",
      "asyncReturnType" : "CreatePlatformApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlatformApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlatformApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlatformApplicationRequest, CreatePlatformApplicationResult>"
    },
    "CreatePlatformEndpoint" : {
      "documentation" : "<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM and APNS. <code>CreatePlatformEndpoint</code> requires the PlatformApplicationArn that is returned from <code>CreatePlatformApplication</code>. The EndpointArn that is returned when using <code>CreatePlatformEndpoint</code> can then be used by the <code>Publish</code> action to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint's ARN is returned without creating a new endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html\">Creating an Amazon SNS Endpoint for Baidu</a>. </p>",
      "operationName" : "CreatePlatformEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPlatformEndpointRequest",
        "variableType" : "CreatePlatformEndpointRequest",
        "variableDeclarationType" : "CreatePlatformEndpointRequest",
        "documentation" : "<p>Input for CreatePlatformEndpoint action.</p>",
        "variableSetterType" : "CreatePlatformEndpointRequest",
        "simpleType" : "CreatePlatformEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePlatformEndpointResult",
        "documentation" : "<p>Response from CreateEndpoint action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createPlatformEndpoint",
      "authenticated" : true,
      "syncReturnType" : "CreatePlatformEndpointResult",
      "asyncReturnType" : "CreatePlatformEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlatformEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlatformEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlatformEndpointRequest, CreatePlatformEndpointResult>"
    },
    "CreateTopic" : {
      "documentation" : "<p>Creates a topic to which notifications can be published. Users can create at most 100,000 topics. For more information, see <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic's ARN is returned without creating a new topic.</p>",
      "operationName" : "CreateTopic",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTopicRequest",
        "variableType" : "CreateTopicRequest",
        "variableDeclarationType" : "CreateTopicRequest",
        "documentation" : "<p>Input for CreateTopic action.</p>",
        "variableSetterType" : "CreateTopicRequest",
        "simpleType" : "CreateTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTopicResult",
        "documentation" : "<p>Response from CreateTopic action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "TopicLimitExceededException",
        "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of topics.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createTopic",
      "authenticated" : true,
      "syncReturnType" : "CreateTopicResult",
      "asyncReturnType" : "CreateTopicResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTopicResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTopicRequest, CreateTopicResult>"
    },
    "DeleteEndpoint" : {
      "documentation" : "<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic. </p>",
      "operationName" : "DeleteEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "variableDeclarationType" : "DeleteEndpointRequest",
        "documentation" : "<p>Input for DeleteEndpoint action.</p>",
        "variableSetterType" : "DeleteEndpointRequest",
        "simpleType" : "DeleteEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteEndpointResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteEndpoint",
      "authenticated" : true,
      "syncReturnType" : "DeleteEndpointResult",
      "asyncReturnType" : "DeleteEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointRequest, DeleteEndpointResult>"
    },
    "DeletePlatformApplication" : {
      "documentation" : "<p>Deletes a platform application object for one of the supported push notification services, such as APNS and GCM. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "DeletePlatformApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "deletePlatformApplicationRequest",
        "variableType" : "DeletePlatformApplicationRequest",
        "variableDeclarationType" : "DeletePlatformApplicationRequest",
        "documentation" : "<p>Input for DeletePlatformApplication action.</p>",
        "variableSetterType" : "DeletePlatformApplicationRequest",
        "simpleType" : "DeletePlatformApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeletePlatformApplicationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deletePlatformApplication",
      "authenticated" : true,
      "syncReturnType" : "DeletePlatformApplicationResult",
      "asyncReturnType" : "DeletePlatformApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePlatformApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePlatformApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePlatformApplicationRequest, DeletePlatformApplicationResult>"
    },
    "DeleteTopic" : {
      "documentation" : "<p>Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.</p>",
      "operationName" : "DeleteTopic",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTopicRequest",
        "variableType" : "DeleteTopicRequest",
        "variableDeclarationType" : "DeleteTopicRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteTopicRequest",
        "simpleType" : "DeleteTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTopicResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteTopic",
      "authenticated" : true,
      "syncReturnType" : "DeleteTopicResult",
      "asyncReturnType" : "DeleteTopicResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTopicResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTopicRequest, DeleteTopicResult>"
    },
    "GetEndpointAttributes" : {
      "documentation" : "<p>Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "GetEndpointAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getEndpointAttributesRequest",
        "variableType" : "GetEndpointAttributesRequest",
        "variableDeclarationType" : "GetEndpointAttributesRequest",
        "documentation" : "<p>Input for GetEndpointAttributes action.</p>",
        "variableSetterType" : "GetEndpointAttributesRequest",
        "simpleType" : "GetEndpointAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetEndpointAttributesResult",
        "documentation" : "<p>Response from GetEndpointAttributes of the EndpointArn.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getEndpointAttributes",
      "authenticated" : true,
      "syncReturnType" : "GetEndpointAttributesResult",
      "asyncReturnType" : "GetEndpointAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetEndpointAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetEndpointAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEndpointAttributesRequest, GetEndpointAttributesResult>"
    },
    "GetPlatformApplicationAttributes" : {
      "documentation" : "<p>Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "GetPlatformApplicationAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getPlatformApplicationAttributesRequest",
        "variableType" : "GetPlatformApplicationAttributesRequest",
        "variableDeclarationType" : "GetPlatformApplicationAttributesRequest",
        "documentation" : "<p>Input for GetPlatformApplicationAttributes action.</p>",
        "variableSetterType" : "GetPlatformApplicationAttributesRequest",
        "simpleType" : "GetPlatformApplicationAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetPlatformApplicationAttributesResult",
        "documentation" : "<p>Response for GetPlatformApplicationAttributes action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getPlatformApplicationAttributes",
      "authenticated" : true,
      "syncReturnType" : "GetPlatformApplicationAttributesResult",
      "asyncReturnType" : "GetPlatformApplicationAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetPlatformApplicationAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetPlatformApplicationAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPlatformApplicationAttributesRequest, GetPlatformApplicationAttributesResult>"
    },
    "GetSMSAttributes" : {
      "documentation" : "<p>Returns the settings for sending SMS messages from your account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>",
      "operationName" : "GetSMSAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSMSAttributesRequest",
        "variableType" : "GetSMSAttributesRequest",
        "variableDeclarationType" : "GetSMSAttributesRequest",
        "documentation" : "<p>The input for the <code>GetSMSAttributes</code> request.</p>",
        "variableSetterType" : "GetSMSAttributesRequest",
        "simpleType" : "GetSMSAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSMSAttributesResult",
        "documentation" : "<p>The response from the <code>GetSMSAttributes</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getSMSAttributes",
      "authenticated" : true,
      "syncReturnType" : "GetSMSAttributesResult",
      "asyncReturnType" : "GetSMSAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSMSAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSMSAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSMSAttributesRequest, GetSMSAttributesResult>"
    },
    "GetSubscriptionAttributes" : {
      "documentation" : "<p>Returns all of the properties of a subscription.</p>",
      "operationName" : "GetSubscriptionAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSubscriptionAttributesRequest",
        "variableType" : "GetSubscriptionAttributesRequest",
        "variableDeclarationType" : "GetSubscriptionAttributesRequest",
        "documentation" : "<p>Input for GetSubscriptionAttributes.</p>",
        "variableSetterType" : "GetSubscriptionAttributesRequest",
        "simpleType" : "GetSubscriptionAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSubscriptionAttributesResult",
        "documentation" : "<p>Response for GetSubscriptionAttributes action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getSubscriptionAttributes",
      "authenticated" : true,
      "syncReturnType" : "GetSubscriptionAttributesResult",
      "asyncReturnType" : "GetSubscriptionAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubscriptionAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubscriptionAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubscriptionAttributesRequest, GetSubscriptionAttributesResult>"
    },
    "GetTopicAttributes" : {
      "documentation" : "<p>Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user. </p>",
      "operationName" : "GetTopicAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTopicAttributesRequest",
        "variableType" : "GetTopicAttributesRequest",
        "variableDeclarationType" : "GetTopicAttributesRequest",
        "documentation" : "<p>Input for GetTopicAttributes action.</p>",
        "variableSetterType" : "GetTopicAttributesRequest",
        "simpleType" : "GetTopicAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTopicAttributesResult",
        "documentation" : "<p>Response for GetTopicAttributes action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getTopicAttributes",
      "authenticated" : true,
      "syncReturnType" : "GetTopicAttributesResult",
      "asyncReturnType" : "GetTopicAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTopicAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTopicAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTopicAttributesRequest, GetTopicAttributesResult>"
    },
    "ListEndpointsByPlatformApplication" : {
      "documentation" : "<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "ListEndpointsByPlatformApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "listEndpointsByPlatformApplicationRequest",
        "variableType" : "ListEndpointsByPlatformApplicationRequest",
        "variableDeclarationType" : "ListEndpointsByPlatformApplicationRequest",
        "documentation" : "<p>Input for ListEndpointsByPlatformApplication action.</p>",
        "variableSetterType" : "ListEndpointsByPlatformApplicationRequest",
        "simpleType" : "ListEndpointsByPlatformApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListEndpointsByPlatformApplicationResult",
        "documentation" : "<p>Response for ListEndpointsByPlatformApplication action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listEndpointsByPlatformApplication",
      "authenticated" : true,
      "syncReturnType" : "ListEndpointsByPlatformApplicationResult",
      "asyncReturnType" : "ListEndpointsByPlatformApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListEndpointsByPlatformApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListEndpointsByPlatformApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEndpointsByPlatformApplicationRequest, ListEndpointsByPlatformApplicationResult>"
    },
    "ListPhoneNumbersOptedOut" : {
      "documentation" : "<p>Returns a list of phone numbers that are opted out, meaning you cannot send SMS messages to them.</p> <p>The results for <code>ListPhoneNumbersOptedOut</code> are paginated, and each page returns up to 100 phone numbers. If additional phone numbers are available after the first page of results, then a <code>NextToken</code> string will be returned. To receive the next page, you call <code>ListPhoneNumbersOptedOut</code> again using the <code>NextToken</code> string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null.</p>",
      "operationName" : "ListPhoneNumbersOptedOut",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPhoneNumbersOptedOutRequest",
        "variableType" : "ListPhoneNumbersOptedOutRequest",
        "variableDeclarationType" : "ListPhoneNumbersOptedOutRequest",
        "documentation" : "<p>The input for the <code>ListPhoneNumbersOptedOut</code> action.</p>",
        "variableSetterType" : "ListPhoneNumbersOptedOutRequest",
        "simpleType" : "ListPhoneNumbersOptedOutRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPhoneNumbersOptedOutResult",
        "documentation" : "<p>The response from the <code>ListPhoneNumbersOptedOut</code> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listPhoneNumbersOptedOut",
      "authenticated" : true,
      "syncReturnType" : "ListPhoneNumbersOptedOutResult",
      "asyncReturnType" : "ListPhoneNumbersOptedOutResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPhoneNumbersOptedOutResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPhoneNumbersOptedOutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPhoneNumbersOptedOutRequest, ListPhoneNumbersOptedOutResult>"
    },
    "ListPlatformApplications" : {
      "documentation" : "<p>Lists the platform application objects for the supported push notification services, such as APNS and GCM. The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "ListPlatformApplications",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPlatformApplicationsRequest",
        "variableType" : "ListPlatformApplicationsRequest",
        "variableDeclarationType" : "ListPlatformApplicationsRequest",
        "documentation" : "<p>Input for ListPlatformApplications action.</p>",
        "variableSetterType" : "ListPlatformApplicationsRequest",
        "simpleType" : "ListPlatformApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPlatformApplicationsResult",
        "documentation" : "<p>Response for ListPlatformApplications action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listPlatformApplications",
      "authenticated" : true,
      "syncReturnType" : "ListPlatformApplicationsResult",
      "asyncReturnType" : "ListPlatformApplicationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPlatformApplicationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPlatformApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPlatformApplicationsRequest, ListPlatformApplicationsResult>"
    },
    "ListSubscriptions" : {
      "documentation" : "<p>Returns a list of the requester's subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p>",
      "operationName" : "ListSubscriptions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSubscriptionsRequest",
        "variableType" : "ListSubscriptionsRequest",
        "variableDeclarationType" : "ListSubscriptionsRequest",
        "documentation" : "<p>Input for ListSubscriptions action.</p>",
        "variableSetterType" : "ListSubscriptionsRequest",
        "simpleType" : "ListSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSubscriptionsResult",
        "documentation" : "<p>Response for ListSubscriptions action</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listSubscriptions",
      "authenticated" : true,
      "syncReturnType" : "ListSubscriptionsResult",
      "asyncReturnType" : "ListSubscriptionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubscriptionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubscriptionsRequest, ListSubscriptionsResult>"
    },
    "ListSubscriptionsByTopic" : {
      "documentation" : "<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p>",
      "operationName" : "ListSubscriptionsByTopic",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSubscriptionsByTopicRequest",
        "variableType" : "ListSubscriptionsByTopicRequest",
        "variableDeclarationType" : "ListSubscriptionsByTopicRequest",
        "documentation" : "<p>Input for ListSubscriptionsByTopic action.</p>",
        "variableSetterType" : "ListSubscriptionsByTopicRequest",
        "simpleType" : "ListSubscriptionsByTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSubscriptionsByTopicResult",
        "documentation" : "<p>Response for ListSubscriptionsByTopic action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listSubscriptionsByTopic",
      "authenticated" : true,
      "syncReturnType" : "ListSubscriptionsByTopicResult",
      "asyncReturnType" : "ListSubscriptionsByTopicResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubscriptionsByTopicResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubscriptionsByTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubscriptionsByTopicRequest, ListSubscriptionsByTopicResult>"
    },
    "ListTopics" : {
      "documentation" : "<p>Returns a list of the requester's topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p>",
      "operationName" : "ListTopics",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTopicsRequest",
        "variableType" : "ListTopicsRequest",
        "variableDeclarationType" : "ListTopicsRequest",
        "documentation" : "",
        "variableSetterType" : "ListTopicsRequest",
        "simpleType" : "ListTopicsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTopicsResult",
        "documentation" : "<p>Response for ListTopics action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listTopics",
      "authenticated" : true,
      "syncReturnType" : "ListTopicsResult",
      "asyncReturnType" : "ListTopicsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTopicsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTopicsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTopicsRequest, ListTopicsResult>"
    },
    "OptInPhoneNumber" : {
      "documentation" : "<p>Use this request to opt in a phone number that is opted out, which enables you to resume sending SMS messages to the number.</p> <p>You can opt in a phone number only once every 30 days.</p>",
      "operationName" : "OptInPhoneNumber",
      "deprecated" : false,
      "input" : {
        "variableName" : "optInPhoneNumberRequest",
        "variableType" : "OptInPhoneNumberRequest",
        "variableDeclarationType" : "OptInPhoneNumberRequest",
        "documentation" : "<p>Input for the OptInPhoneNumber action.</p>",
        "variableSetterType" : "OptInPhoneNumberRequest",
        "simpleType" : "OptInPhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "OptInPhoneNumberResult",
        "documentation" : "<p>The response for the OptInPhoneNumber action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "optInPhoneNumber",
      "authenticated" : true,
      "syncReturnType" : "OptInPhoneNumberResult",
      "asyncReturnType" : "OptInPhoneNumberResult",
      "asyncFutureType" : "java.util.concurrent.Future<OptInPhoneNumberResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<OptInPhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<OptInPhoneNumberRequest, OptInPhoneNumberResult>"
    },
    "Publish" : {
      "documentation" : "<p>Sends a message to all of a topic's subscribed endpoints. When a <code>messageId</code> is returned, the message has been saved and Amazon SNS will attempt to deliver it to the topic's subscribers shortly. The format of the outgoing message to each subscribed endpoint depends on the notification protocol.</p> <p>To use the <code>Publish</code> action for sending a message to a mobile endpoint, such as an app on a Kindle device or mobile phone, you must specify the EndpointArn for the TargetArn parameter. The EndpointArn is returned when making a call with the <code>CreatePlatformEndpoint</code> action. The second example below shows a request and response for publishing to a mobile endpoint. </p> <p>For more information about formatting messages, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-send-custommessage.html\">Send Custom Platform-Specific Payloads in Messages to Mobile Devices</a>. </p>",
      "operationName" : "Publish",
      "deprecated" : false,
      "input" : {
        "variableName" : "publishRequest",
        "variableType" : "PublishRequest",
        "variableDeclarationType" : "PublishRequest",
        "documentation" : "<p>Input for Publish action.</p>",
        "variableSetterType" : "PublishRequest",
        "simpleType" : "PublishRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PublishResult",
        "documentation" : "<p>Response for Publish action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "EndpointDisabledException",
        "documentation" : "<p>Exception error indicating endpoint disabled.</p>"
      }, {
        "exceptionName" : "PlatformApplicationDisabledException",
        "documentation" : "<p>Exception error indicating platform application disabled.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "publish",
      "authenticated" : true,
      "syncReturnType" : "PublishResult",
      "asyncReturnType" : "PublishResult",
      "asyncFutureType" : "java.util.concurrent.Future<PublishResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PublishResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PublishRequest, PublishResult>"
    },
    "RemovePermission" : {
      "documentation" : "<p>Removes a statement from a topic's access control policy.</p>",
      "operationName" : "RemovePermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "removePermissionRequest",
        "variableType" : "RemovePermissionRequest",
        "variableDeclarationType" : "RemovePermissionRequest",
        "documentation" : "<p>Input for RemovePermission action.</p>",
        "variableSetterType" : "RemovePermissionRequest",
        "simpleType" : "RemovePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemovePermissionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "removePermission",
      "authenticated" : true,
      "syncReturnType" : "RemovePermissionResult",
      "asyncReturnType" : "RemovePermissionResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemovePermissionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemovePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, RemovePermissionResult>"
    },
    "SetEndpointAttributes" : {
      "documentation" : "<p>Sets the attributes for an endpoint for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "operationName" : "SetEndpointAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setEndpointAttributesRequest",
        "variableType" : "SetEndpointAttributesRequest",
        "variableDeclarationType" : "SetEndpointAttributesRequest",
        "documentation" : "<p>Input for SetEndpointAttributes action.</p>",
        "variableSetterType" : "SetEndpointAttributesRequest",
        "simpleType" : "SetEndpointAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetEndpointAttributesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setEndpointAttributes",
      "authenticated" : true,
      "syncReturnType" : "SetEndpointAttributesResult",
      "asyncReturnType" : "SetEndpointAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetEndpointAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetEndpointAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetEndpointAttributesRequest, SetEndpointAttributesResult>"
    },
    "SetPlatformApplicationAttributes" : {
      "documentation" : "<p>Sets the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. For information on configuring attributes for message delivery status, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/sns-msg-status.html\">Using Amazon SNS Application Attributes for Message Delivery Status</a>. </p>",
      "operationName" : "SetPlatformApplicationAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setPlatformApplicationAttributesRequest",
        "variableType" : "SetPlatformApplicationAttributesRequest",
        "variableDeclarationType" : "SetPlatformApplicationAttributesRequest",
        "documentation" : "<p>Input for SetPlatformApplicationAttributes action.</p>",
        "variableSetterType" : "SetPlatformApplicationAttributesRequest",
        "simpleType" : "SetPlatformApplicationAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetPlatformApplicationAttributesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setPlatformApplicationAttributes",
      "authenticated" : true,
      "syncReturnType" : "SetPlatformApplicationAttributesResult",
      "asyncReturnType" : "SetPlatformApplicationAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetPlatformApplicationAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetPlatformApplicationAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetPlatformApplicationAttributesRequest, SetPlatformApplicationAttributesResult>"
    },
    "SetSMSAttributes" : {
      "documentation" : "<p>Use this request to set the default settings for sending SMS messages and receiving daily SMS usage reports.</p> <p>You can override some of these settings for a single message when you use the <code>Publish</code> action with the <code>MessageAttributes.entry.N</code> parameter. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/sms_publish-to-phone.html\">Sending an SMS Message</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "operationName" : "SetSMSAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setSMSAttributesRequest",
        "variableType" : "SetSMSAttributesRequest",
        "variableDeclarationType" : "SetSMSAttributesRequest",
        "documentation" : "<p>The input for the SetSMSAttributes action.</p>",
        "variableSetterType" : "SetSMSAttributesRequest",
        "simpleType" : "SetSMSAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetSMSAttributesResult",
        "documentation" : "<p>The response for the SetSMSAttributes action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setSMSAttributes",
      "authenticated" : true,
      "syncReturnType" : "SetSMSAttributesResult",
      "asyncReturnType" : "SetSMSAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetSMSAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetSMSAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSMSAttributesRequest, SetSMSAttributesResult>"
    },
    "SetSubscriptionAttributes" : {
      "documentation" : "<p>Allows a subscription owner to set an attribute of the topic to a new value.</p>",
      "operationName" : "SetSubscriptionAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setSubscriptionAttributesRequest",
        "variableType" : "SetSubscriptionAttributesRequest",
        "variableDeclarationType" : "SetSubscriptionAttributesRequest",
        "documentation" : "<p>Input for SetSubscriptionAttributes action.</p>",
        "variableSetterType" : "SetSubscriptionAttributesRequest",
        "simpleType" : "SetSubscriptionAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetSubscriptionAttributesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setSubscriptionAttributes",
      "authenticated" : true,
      "syncReturnType" : "SetSubscriptionAttributesResult",
      "asyncReturnType" : "SetSubscriptionAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetSubscriptionAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetSubscriptionAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSubscriptionAttributesRequest, SetSubscriptionAttributesResult>"
    },
    "SetTopicAttributes" : {
      "documentation" : "<p>Allows a topic owner to set an attribute of the topic to a new value.</p>",
      "operationName" : "SetTopicAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setTopicAttributesRequest",
        "variableType" : "SetTopicAttributesRequest",
        "variableDeclarationType" : "SetTopicAttributesRequest",
        "documentation" : "<p>Input for SetTopicAttributes action.</p>",
        "variableSetterType" : "SetTopicAttributesRequest",
        "simpleType" : "SetTopicAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetTopicAttributesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setTopicAttributes",
      "authenticated" : true,
      "syncReturnType" : "SetTopicAttributesResult",
      "asyncReturnType" : "SetTopicAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetTopicAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetTopicAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTopicAttributesRequest, SetTopicAttributesResult>"
    },
    "Subscribe" : {
      "documentation" : "<p>Prepares to subscribe an endpoint by sending the endpoint a confirmation message. To actually create a subscription, the endpoint owner must call the <code>ConfirmSubscription</code> action with the token from the confirmation message. Confirmation tokens are valid for three days.</p>",
      "operationName" : "Subscribe",
      "deprecated" : false,
      "input" : {
        "variableName" : "subscribeRequest",
        "variableType" : "SubscribeRequest",
        "variableDeclarationType" : "SubscribeRequest",
        "documentation" : "<p>Input for Subscribe action.</p>",
        "variableSetterType" : "SubscribeRequest",
        "simpleType" : "SubscribeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SubscribeResult",
        "documentation" : "<p>Response for Subscribe action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "SubscriptionLimitExceededException",
        "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "subscribe",
      "authenticated" : true,
      "syncReturnType" : "SubscribeResult",
      "asyncReturnType" : "SubscribeResult",
      "asyncFutureType" : "java.util.concurrent.Future<SubscribeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SubscribeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubscribeRequest, SubscribeResult>"
    },
    "Unsubscribe" : {
      "documentation" : "<p>Deletes a subscription. If the subscription requires authentication for deletion, only the owner of the subscription or the topic's owner can unsubscribe, and an AWS signature is required. If the <code>Unsubscribe</code> call does not require authentication and the requester is not the subscription owner, a final cancellation message is delivered to the endpoint, so that the endpoint owner can easily resubscribe to the topic if the <code>Unsubscribe</code> request was unintended.</p>",
      "operationName" : "Unsubscribe",
      "deprecated" : false,
      "input" : {
        "variableName" : "unsubscribeRequest",
        "variableType" : "UnsubscribeRequest",
        "variableDeclarationType" : "UnsubscribeRequest",
        "documentation" : "<p>Input for Unsubscribe action.</p>",
        "variableSetterType" : "UnsubscribeRequest",
        "simpleType" : "UnsubscribeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UnsubscribeResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>"
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "unsubscribe",
      "authenticated" : true,
      "syncReturnType" : "UnsubscribeResult",
      "asyncReturnType" : "UnsubscribeResult",
      "asyncFutureType" : "java.util.concurrent.Future<UnsubscribeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UnsubscribeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnsubscribeRequest, UnsubscribeResult>"
    }
  },
  "shapes" : {
    "SubscriptionLimitExceededException" : {
      "c2jName" : "SubscriptionLimitExceededException",
      "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>",
      "shapeName" : "SubscriptionLimitExceededException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "subscriptionLimitExceededException",
        "variableType" : "SubscriptionLimitExceededException",
        "variableDeclarationType" : "SubscriptionLimitExceededException",
        "documentation" : null,
        "variableSetterType" : "SubscriptionLimitExceededException",
        "simpleType" : "SubscriptionLimitExceededException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "SubscriptionLimitExceeded",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "GetSMSAttributesResult" : {
      "c2jName" : "GetSMSAttributesResponse",
      "documentation" : "<p>The response from the <code>GetSMSAttributes</code> request.</p>",
      "shapeName" : "GetSMSAttributesResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The SMS attribute names and their values.</p>",
        "name" : "Attributes",
        "c2jName" : "attributes",
        "c2jShape" : "MapStringToString",
        "variable" : {
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
          "documentation" : "<p>The SMS attribute names and their values.</p>",
          "variableSetterType" : "java.util.Map<String,String>",
          "simpleType" : "Map<String,String>"
        },
        "setterModel" : {
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
          "documentation" : "",
          "variableSetterType" : "java.util.Map<String,String>",
          "simpleType" : "Map<String,String>"
        },
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "attributes",
          "marshallLocationName" : "attributes",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalMap",
          "interfaceType" : "java.util.Map",
          "keyType" : "String",
          "keyLocationName" : "key",
          "keyModel" : null,
          "valueType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "documentation" : "",
            "name" : "Value",
            "c2jName" : "value",
            "c2jShape" : "String",
            "variable" : {
              "variableName" : "value",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "setterModel" : {
              "variableName" : "value",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "value",
              "marshallLocationName" : "value",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param value */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "templateType" : "java.util.Map<String,String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
          "keySimple" : true,
          "valueSimple" : true,
          "valueList" : false,
          "entryType" : "Map.Entry<String, String>"
        },
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : true,
        "setterDocumentation" : "/**<p>The SMS attribute names and their values.</p>\n@param attributes The SMS attribute names and their values.*/",
        "getterDocumentation" : "/**<p>The SMS attribute names and their values.</p>\n@return The SMS attribute names and their values.*/",
        "fluentSetterDocumentation" : "/**<p>The SMS attribute names and their values.</p>\n@param attributes The SMS attribute names and their values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The SMS attribute names and their values.</p>\n@param attributes The SMS attribute names and their values.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getSMSAttributesResult",
        "variableType" : "GetSMSAttributesResult",
        "variableDeclarationType" : "GetSMSAttributesResult",
        "documentation" : null,
        "variableSetterType" : "GetSMSAttributesResult",
        "simpleType" : "GetSMSAttributesResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : "GetSMSAttributesResult",
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Attributes" : {
          "documentation" : "<p>The SMS attribute names and their values.</p>",
          "name" : "Attributes",
          "c2jName" : "attributes",
          "c2jShape" : "MapStringToString",
          "variable" : {
            "variableName" : "attributes",
            "variableType" : "java.util.Map<String,String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
            "documentation" : "<p>The SMS attribute names and their values.</p>",
            "variableSetterType" : "java.util.Map<String,String>",
            "simpleType" : "Map<String,String>"
          },
          "setterModel" : {
            "variableName" : "attributes",
            "variableType" : "java.util.Map<String,String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
            "documentation" : "",
            "variableSetterType" : "java.util.Map<String,String>",
            "simpleType" : "Map<String,String>"
          },
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "attributes",
            "marshallLocationName" : "attributes",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalMap",
            "interfaceType" : "java.util.Map",
            "keyType" : "String",
            "keyLocationName" : "key",
            "keyModel" : null,
            "valueType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "documentation" : "",
              "name" : "Value",
              "c2jName" : "value",
              "c2jShape" : "String",
              "variable" : {
                "variableName" : "value",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "variableSetterType" : "String",
                "simpleType" : "String"
              },
              "setterModel" : {
                "variableName" : "value",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "variableSetterType" : "String",
                "simpleType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "value",
                "marshallLocationName" : "value",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param value */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "templateType" : "java.util.Map<String,String>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
            "keySimple" : true,
            "valueSimple" : true,
            "valueList" : false,
            "entryType" : "Map.Entry<String, String>"
          },
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : true,
          "setterDocumentation" : "/**<p>The SMS attribute names and their values.</p>\n@param attributes The SMS attribute names and their values.*/",
          "getterDocumentation" : "/**<p>The SMS attribute names and their values.</p>\n@return The SMS attribute names and their values.*/",
          "fluentSetterDocumentation" : "/**<p>The SMS attribute names and their values.</p>\n@param attributes The SMS attribute names and their values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The SMS attribute names and their values.</p>\n@param attributes The SMS attribute names and their values.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ListTopicsRequest" : {
      "c2jName" : "ListTopicsInput",
      "documentation" : "",
      "shapeName" : "ListTopicsRequest",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Token returned by the previous <code>ListTopics</code> request.</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "nextToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Token returned by the previous <code>ListTopics</code> request.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Token returned by the previous <code>ListTopics</code> request.</p>\n@param nextToken Token returned by the previous <code>ListTopics</code> request.*/",
        "getterDocumentation" : "/**<p>Token returned by the previous <code>ListTopics</code> request.</p>\n@return Token returned by the previous <code>ListTopics</code> request.*/",
        "fluentSetterDocumentation" : "/**<p>Token returned by the previous <code>ListTopics</code> request.</p>\n@param nextToken Token returned by the previous <code>ListTopics</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Token returned by the previous <code>ListTopics</code> request.</p>\n@param nextToken Token returned by the previous <code>ListTopics</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listTopicsRequest",
        "variableType" : "ListTopicsRequest",
        "variableDeclarationType" : "ListTopicsRequest",
        "documentation" : null,
        "variableSetterType" : "ListTopicsRequest",
        "simpleType" : "ListTopicsRequest"
      },
      "marshaller" : {
        "action" : "ListTopics",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "NextToken" : {
          "documentation" : "<p>Token returned by the previous <code>ListTopics</code> request.</p>",
          "name" : "NextToken",
          "c2jName" : "NextToken",
          "c2jShape" : "nextToken",
          "variable" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Token returned by the previous <code>ListTopics</code> request.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NextToken",
            "marshallLocationName" : "NextToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Token returned by the previous <code>ListTopics</code> request.</p>\n@param nextToken Token returned by the previous <code>ListTopics</code> request.*/",
          "getterDocumentation" : "/**<p>Token returned by the previous <code>ListTopics</code> request.</p>\n@return Token returned by the previous <code>ListTopics</code> request.*/",
          "fluentSetterDocumentation" : "/**<p>Token returned by the previous <code>ListTopics</code> request.</p>\n@param nextToken Token returned by the previous <code>ListTopics</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Token returned by the previous <code>ListTopics</code> request.</p>\n@param nextToken Token returned by the previous <code>ListTopics</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CreatePlatformEndpointRequest" : {
      "c2jName" : "CreatePlatformEndpointInput",
      "documentation" : "<p>Input for CreatePlatformEndpoint action.</p>",
      "shapeName" : "CreatePlatformEndpointRequest",
      "deprecated" : false,
      "required" : [ "PlatformApplicationArn", "Token" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.</p>",
        "name" : "PlatformApplicationArn",
        "c2jName" : "PlatformApplicationArn",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "platformApplicationArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "platformApplicationArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "PlatformApplicationArn",
          "marshallLocationName" : "PlatformApplicationArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.</p>\n@param platformApplicationArn PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.*/",
        "getterDocumentation" : "/**<p>PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.</p>\n@return PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.*/",
        "fluentSetterDocumentation" : "/**<p>PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.</p>\n@param platformApplicationArn PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.</p>\n@param platformApplicationArn PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.</p>",
        "name" : "Token",
        "c2jName" : "Token",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "token",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "token",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Token",
          "marshallLocationName" : "Token",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.</p>\n@param token Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.*/",
        "getterDocumentation" : "/**<p>Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.</p>\n@return Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.*/",
        "fluentSetterDocumentation" : "/**<p>Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.</p>\n@param token Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
