{
  "metadata" : {
    "apiVersion" : "2016-04-18",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>You can create a user pool in Amazon Cognito Identity to manage directories and users. You can authenticate a user to obtain tokens related to user identity and access policies.</p> <p>This API reference provides information about user pools in Amazon Cognito Identity, which is a new capability that is available as a beta.</p>",
    "defaultEndpoint" : "https://cognito-idp.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cognito-idp.us-east-1.amazonaws.com",
    "syncInterface" : "AWSCognitoIdentityProvider",
    "syncClient" : "AWSCognitoIdentityProviderClient",
    "asyncInterface" : "AWSCognitoIdentityProviderAsync",
    "asyncClient" : "AWSCognitoIdentityProviderAsyncClient",
    "packageName" : "com.amazonaws.services.cognitoidp",
    "packagePath" : "com/amazonaws/services/cognitoidp",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Cognito Identity Provider",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "cognito-idp",
    "signingName" : "cognito-idp",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSCognitoIdentityProviderClientBuilder",
    "asyncClientBuilderClassName" : "AWSCognitoIdentityProviderAsyncClientBuilder",
    "serviceName" : "Amazon Cognito Identity Provider",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "AddCustomAttributes" : {
      "documentation" : "<p>Adds additional user attributes to the user pool schema.</p>",
      "operationName" : "AddCustomAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "addCustomAttributesRequest",
        "variableType" : "AddCustomAttributesRequest",
        "variableDeclarationType" : "AddCustomAttributesRequest",
        "documentation" : "<p>Represents the request to add custom attributes.</p>",
        "simpleType" : "AddCustomAttributesRequest",
        "variableSetterType" : "AddCustomAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddCustomAttributesResult",
        "documentation" : "<p>Represents the response from the server for the request to add custom attributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddCustomAttributesResult",
      "asyncReturnType" : "AddCustomAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddCustomAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddCustomAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddCustomAttributesRequest, AddCustomAttributesResult>",
      "authenticated" : true,
      "methodName" : "addCustomAttributes"
    },
    "AdminConfirmSignUp" : {
      "documentation" : "<p>Confirms user registration as an admin without using a confirmation code. Works on any user.</p>",
      "operationName" : "AdminConfirmSignUp",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminConfirmSignUpRequest",
        "variableType" : "AdminConfirmSignUpRequest",
        "variableDeclarationType" : "AdminConfirmSignUpRequest",
        "documentation" : "<p>Represents the request to confirm user registration.</p>",
        "simpleType" : "AdminConfirmSignUpRequest",
        "variableSetterType" : "AdminConfirmSignUpRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminConfirmSignUpResult",
        "documentation" : "<p>Represents the response from the server for the request to confirm registration.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyFailedAttemptsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many failed attempts for a given action (e.g., sign in).</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminConfirmSignUpResult",
      "asyncReturnType" : "AdminConfirmSignUpResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminConfirmSignUpResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminConfirmSignUpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminConfirmSignUpRequest, AdminConfirmSignUpResult>",
      "authenticated" : true,
      "methodName" : "adminConfirmSignUp"
    },
    "AdminDeleteUser" : {
      "documentation" : "<p>Deletes a user as an administrator. Works on any user.</p>",
      "operationName" : "AdminDeleteUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminDeleteUserRequest",
        "variableType" : "AdminDeleteUserRequest",
        "variableDeclarationType" : "AdminDeleteUserRequest",
        "documentation" : "<p>Represents the request to delete a user as an administrator.</p>",
        "simpleType" : "AdminDeleteUserRequest",
        "variableSetterType" : "AdminDeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminDeleteUserResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminDeleteUserResult",
      "asyncReturnType" : "AdminDeleteUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminDeleteUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminDeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminDeleteUserRequest, AdminDeleteUserResult>",
      "authenticated" : true,
      "methodName" : "adminDeleteUser"
    },
    "AdminDeleteUserAttributes" : {
      "documentation" : "<p>Deletes the user attributes in a user pool as an administrator. Works on any user.</p>",
      "operationName" : "AdminDeleteUserAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminDeleteUserAttributesRequest",
        "variableType" : "AdminDeleteUserAttributesRequest",
        "variableDeclarationType" : "AdminDeleteUserAttributesRequest",
        "documentation" : "<p>Represents the request to delete user attributes as an administrator.</p>",
        "simpleType" : "AdminDeleteUserAttributesRequest",
        "variableSetterType" : "AdminDeleteUserAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminDeleteUserAttributesResult",
        "documentation" : "<p>Represents the response received from the server for a request to delete user attributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminDeleteUserAttributesResult",
      "asyncReturnType" : "AdminDeleteUserAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminDeleteUserAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminDeleteUserAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminDeleteUserAttributesRequest, AdminDeleteUserAttributesResult>",
      "authenticated" : true,
      "methodName" : "adminDeleteUserAttributes"
    },
    "AdminDisableUser" : {
      "documentation" : "<p>Disables the specified user as an administrator. Works on any user.</p>",
      "operationName" : "AdminDisableUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminDisableUserRequest",
        "variableType" : "AdminDisableUserRequest",
        "variableDeclarationType" : "AdminDisableUserRequest",
        "documentation" : "<p>Represents the request to disable any user as an administrator.</p>",
        "simpleType" : "AdminDisableUserRequest",
        "variableSetterType" : "AdminDisableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminDisableUserResult",
        "documentation" : "<p>Represents the response received from the server to disable the user as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminDisableUserResult",
      "asyncReturnType" : "AdminDisableUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminDisableUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminDisableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminDisableUserRequest, AdminDisableUserResult>",
      "authenticated" : true,
      "methodName" : "adminDisableUser"
    },
    "AdminEnableUser" : {
      "documentation" : "<p>Enables the specified user as an administrator. Works on any user.</p>",
      "operationName" : "AdminEnableUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminEnableUserRequest",
        "variableType" : "AdminEnableUserRequest",
        "variableDeclarationType" : "AdminEnableUserRequest",
        "documentation" : "<p>Represents the request that enables the user as an administrator.</p>",
        "simpleType" : "AdminEnableUserRequest",
        "variableSetterType" : "AdminEnableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminEnableUserResult",
        "documentation" : "<p>Represents the response from the server for the request to enable a user as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminEnableUserResult",
      "asyncReturnType" : "AdminEnableUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminEnableUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminEnableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminEnableUserRequest, AdminEnableUserResult>",
      "authenticated" : true,
      "methodName" : "adminEnableUser"
    },
    "AdminGetUser" : {
      "documentation" : "<p>Gets the specified user by user name in a user pool as an administrator. Works on any user.</p>",
      "operationName" : "AdminGetUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminGetUserRequest",
        "variableType" : "AdminGetUserRequest",
        "variableDeclarationType" : "AdminGetUserRequest",
        "documentation" : "<p>Represents the request to get the specified user as an administrator.</p>",
        "simpleType" : "AdminGetUserRequest",
        "variableSetterType" : "AdminGetUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminGetUserResult",
        "documentation" : "<p>Represents the response from the server from the request to get the specified user as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminGetUserResult",
      "asyncReturnType" : "AdminGetUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminGetUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminGetUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminGetUserRequest, AdminGetUserResult>",
      "authenticated" : true,
      "methodName" : "adminGetUser"
    },
    "AdminResetUserPassword" : {
      "documentation" : "<p>Resets the specified user's password in a user pool as an administrator. Works on any user.</p>",
      "operationName" : "AdminResetUserPassword",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminResetUserPasswordRequest",
        "variableType" : "AdminResetUserPasswordRequest",
        "variableDeclarationType" : "AdminResetUserPasswordRequest",
        "documentation" : "<p>Represents the request to reset a user's password as an administrator.</p>",
        "simpleType" : "AdminResetUserPasswordRequest",
        "variableSetterType" : "AdminResetUserPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminResetUserPasswordResult",
        "documentation" : "<p>Represents the response from the server to reset a user password as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminResetUserPasswordResult",
      "asyncReturnType" : "AdminResetUserPasswordResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminResetUserPasswordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminResetUserPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminResetUserPasswordRequest, AdminResetUserPasswordResult>",
      "authenticated" : true,
      "methodName" : "adminResetUserPassword"
    },
    "AdminSetUserSettings" : {
      "documentation" : "<p>Sets all the user settings for a specified user name. Works on any user.</p>",
      "operationName" : "AdminSetUserSettings",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminSetUserSettingsRequest",
        "variableType" : "AdminSetUserSettingsRequest",
        "variableDeclarationType" : "AdminSetUserSettingsRequest",
        "documentation" : "<p>Represents the request to set user settings as an administrator.</p>",
        "simpleType" : "AdminSetUserSettingsRequest",
        "variableSetterType" : "AdminSetUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminSetUserSettingsResult",
        "documentation" : "<p>Represents the response from the server to set user settings as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminSetUserSettingsResult",
      "asyncReturnType" : "AdminSetUserSettingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminSetUserSettingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminSetUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminSetUserSettingsRequest, AdminSetUserSettingsResult>",
      "authenticated" : true,
      "methodName" : "adminSetUserSettings"
    },
    "AdminUpdateUserAttributes" : {
      "documentation" : "<p>Updates the specified user's attributes, including developer attributes, as an administrator. Works on any user.</p>",
      "operationName" : "AdminUpdateUserAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminUpdateUserAttributesRequest",
        "variableType" : "AdminUpdateUserAttributesRequest",
        "variableDeclarationType" : "AdminUpdateUserAttributesRequest",
        "documentation" : "<p>Represents the request to update the user's attributes as an administrator.</p>",
        "simpleType" : "AdminUpdateUserAttributesRequest",
        "variableSetterType" : "AdminUpdateUserAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminUpdateUserAttributesResult",
        "documentation" : "<p>Represents the response from the server for the request to update user attributes as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "AliasExistsException",
        "documentation" : "<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminUpdateUserAttributesResult",
      "asyncReturnType" : "AdminUpdateUserAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminUpdateUserAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminUpdateUserAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminUpdateUserAttributesRequest, AdminUpdateUserAttributesResult>",
      "authenticated" : true,
      "methodName" : "adminUpdateUserAttributes"
    },
    "ChangePassword" : {
      "documentation" : "<p>Changes the password for a specified user in a user pool.</p>",
      "operationName" : "ChangePassword",
      "deprecated" : false,
      "input" : {
        "variableName" : "changePasswordRequest",
        "variableType" : "ChangePasswordRequest",
        "variableDeclarationType" : "ChangePasswordRequest",
        "documentation" : "<p>Represents the request to change a user password.</p>",
        "simpleType" : "ChangePasswordRequest",
        "variableSetterType" : "ChangePasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ChangePasswordResult",
        "documentation" : "<p>The response from the server to the change password request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ChangePasswordResult",
      "asyncReturnType" : "ChangePasswordResult",
      "asyncFutureType" : "java.util.concurrent.Future<ChangePasswordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ChangePasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ChangePasswordRequest, ChangePasswordResult>",
      "authenticated" : false,
      "methodName" : "changePassword"
    },
    "ConfirmForgotPassword" : {
      "documentation" : "<p>Allows a user to enter a code provided when they reset their password to update their password.</p>",
      "operationName" : "ConfirmForgotPassword",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmForgotPasswordRequest",
        "variableType" : "ConfirmForgotPasswordRequest",
        "variableDeclarationType" : "ConfirmForgotPasswordRequest",
        "documentation" : "<p>The request representing the confirmation for a password reset.</p>",
        "simpleType" : "ConfirmForgotPasswordRequest",
        "variableSetterType" : "ConfirmForgotPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmForgotPasswordResult",
        "documentation" : "<p>The response from the server that results from a user's request to retrieve a forgotten password.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>"
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>"
      }, {
        "exceptionName" : "TooManyFailedAttemptsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many failed attempts for a given action (e.g., sign in).</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ConfirmForgotPasswordResult",
      "asyncReturnType" : "ConfirmForgotPasswordResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmForgotPasswordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmForgotPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmForgotPasswordRequest, ConfirmForgotPasswordResult>",
      "authenticated" : false,
      "methodName" : "confirmForgotPassword"
    },
    "ConfirmSignUp" : {
      "documentation" : "<p>Confirms registration of a user and handles the existing alias from a previous user.</p>",
      "operationName" : "ConfirmSignUp",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmSignUpRequest",
        "variableType" : "ConfirmSignUpRequest",
        "variableDeclarationType" : "ConfirmSignUpRequest",
        "documentation" : "<p>Represents the request to confirm registration of a user.</p>",
        "simpleType" : "ConfirmSignUpRequest",
        "variableSetterType" : "ConfirmSignUpRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmSignUpResult",
        "documentation" : "<p>Represents the response from the server for the registration confirmation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyFailedAttemptsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many failed attempts for a given action (e.g., sign in).</p>"
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>"
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "AliasExistsException",
        "documentation" : "<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ConfirmSignUpResult",
      "asyncReturnType" : "ConfirmSignUpResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmSignUpResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmSignUpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmSignUpRequest, ConfirmSignUpResult>",
      "authenticated" : false,
      "methodName" : "confirmSignUp"
    },
    "CreateUserPool" : {
      "documentation" : "<p>Creates a new Amazon Cognito user pool and sets the password policy for the pool.</p>",
      "operationName" : "CreateUserPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "createUserPoolRequest",
        "variableType" : "CreateUserPoolRequest",
        "variableDeclarationType" : "CreateUserPoolRequest",
        "documentation" : "<p>Represents the request to create a user pool.</p>",
        "simpleType" : "CreateUserPoolRequest",
        "variableSetterType" : "CreateUserPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateUserPoolResult",
        "documentation" : "<p>Represents the response from the server for the request to create a user pool.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateUserPoolResult",
      "asyncReturnType" : "CreateUserPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserPoolRequest, CreateUserPoolResult>",
      "authenticated" : true,
      "methodName" : "createUserPool"
    },
    "CreateUserPoolClient" : {
      "documentation" : "<p>Creates the user pool client.</p>",
      "operationName" : "CreateUserPoolClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "createUserPoolClientRequest",
        "variableType" : "CreateUserPoolClientRequest",
        "variableDeclarationType" : "CreateUserPoolClientRequest",
        "documentation" : "<p>Represents the request to create a user pool client.</p>",
        "simpleType" : "CreateUserPoolClientRequest",
        "variableSetterType" : "CreateUserPoolClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateUserPoolClientResult",
        "documentation" : "<p>Represents the response from the server to create a user pool client.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateUserPoolClientResult",
      "asyncReturnType" : "CreateUserPoolClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserPoolClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserPoolClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserPoolClientRequest, CreateUserPoolClientResult>",
      "authenticated" : true,
      "methodName" : "createUserPoolClient"
    },
    "DeleteUser" : {
      "documentation" : "<p>Allows a user to delete one's self.</p>",
      "operationName" : "DeleteUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "variableDeclarationType" : "DeleteUserRequest",
        "documentation" : "<p>Represents the request to delete a user.</p>",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteUserResult",
      "asyncReturnType" : "DeleteUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "authenticated" : false,
      "methodName" : "deleteUser"
    },
    "DeleteUserAttributes" : {
      "documentation" : "<p>Deletes the attributes for a user.</p>",
      "operationName" : "DeleteUserAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteUserAttributesRequest",
        "variableType" : "DeleteUserAttributesRequest",
        "variableDeclarationType" : "DeleteUserAttributesRequest",
        "documentation" : "<p>Represents the request to delete user attributes.</p>",
        "simpleType" : "DeleteUserAttributesRequest",
        "variableSetterType" : "DeleteUserAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteUserAttributesResult",
        "documentation" : "<p>Represents the response from the server to delete user attributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteUserAttributesResult",
      "asyncReturnType" : "DeleteUserAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserAttributesRequest, DeleteUserAttributesResult>",
      "authenticated" : false,
      "methodName" : "deleteUserAttributes"
    },
    "DeleteUserPool" : {
      "documentation" : "<p>Deletes the specified Amazon Cognito user pool.</p>",
      "operationName" : "DeleteUserPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteUserPoolRequest",
        "variableType" : "DeleteUserPoolRequest",
        "variableDeclarationType" : "DeleteUserPoolRequest",
        "documentation" : "<p>Represents the request to delete a user pool.</p>",
        "simpleType" : "DeleteUserPoolRequest",
        "variableSetterType" : "DeleteUserPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteUserPoolResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteUserPoolResult",
      "asyncReturnType" : "DeleteUserPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserPoolRequest, DeleteUserPoolResult>",
      "authenticated" : true,
      "methodName" : "deleteUserPool"
    },
    "DeleteUserPoolClient" : {
      "documentation" : "<p>Allows the developer to delete the user pool client.</p>",
      "operationName" : "DeleteUserPoolClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteUserPoolClientRequest",
        "variableType" : "DeleteUserPoolClientRequest",
        "variableDeclarationType" : "DeleteUserPoolClientRequest",
        "documentation" : "<p>Represents the request to delete a user pool client.</p>",
        "simpleType" : "DeleteUserPoolClientRequest",
        "variableSetterType" : "DeleteUserPoolClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteUserPoolClientResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteUserPoolClientResult",
      "asyncReturnType" : "DeleteUserPoolClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserPoolClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserPoolClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserPoolClientRequest, DeleteUserPoolClientResult>",
      "authenticated" : true,
      "methodName" : "deleteUserPoolClient"
    },
    "DescribeUserPool" : {
      "documentation" : "<p>Returns the configuration information and metadata of the specified user pool.</p>",
      "operationName" : "DescribeUserPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeUserPoolRequest",
        "variableType" : "DescribeUserPoolRequest",
        "variableDeclarationType" : "DescribeUserPoolRequest",
        "documentation" : "<p>Represents the request to describe the user pool.</p>",
        "simpleType" : "DescribeUserPoolRequest",
        "variableSetterType" : "DescribeUserPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeUserPoolResult",
        "documentation" : "<p>Represents the response to describe the user pool.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeUserPoolResult",
      "asyncReturnType" : "DescribeUserPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserPoolRequest, DescribeUserPoolResult>",
      "authenticated" : true,
      "methodName" : "describeUserPool"
    },
    "DescribeUserPoolClient" : {
      "documentation" : "<p>Client method for returning the configuration information and metadata of the specified user pool client.</p>",
      "operationName" : "DescribeUserPoolClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeUserPoolClientRequest",
        "variableType" : "DescribeUserPoolClientRequest",
        "variableDeclarationType" : "DescribeUserPoolClientRequest",
        "documentation" : "<p>Represents the request to describe a user pool client.</p>",
        "simpleType" : "DescribeUserPoolClientRequest",
        "variableSetterType" : "DescribeUserPoolClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeUserPoolClientResult",
        "documentation" : "<p>Represents the response from the server from a request to describe the user pool client.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeUserPoolClientResult",
      "asyncReturnType" : "DescribeUserPoolClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserPoolClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserPoolClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserPoolClientRequest, DescribeUserPoolClientResult>",
      "authenticated" : true,
      "methodName" : "describeUserPoolClient"
    },
    "ForgotPassword" : {
      "documentation" : "<p>Retrieves the password for the specified client ID or username.</p>",
      "operationName" : "ForgotPassword",
      "deprecated" : false,
      "input" : {
        "variableName" : "forgotPasswordRequest",
        "variableType" : "ForgotPasswordRequest",
        "variableDeclarationType" : "ForgotPasswordRequest",
        "documentation" : "<p>Represents the request to reset a user's password.</p>",
        "simpleType" : "ForgotPasswordRequest",
        "variableSetterType" : "ForgotPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ForgotPasswordResult",
        "documentation" : "<p>Respresents the response from the server regarding the request to reset a password.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ForgotPasswordResult",
      "asyncReturnType" : "ForgotPasswordResult",
      "asyncFutureType" : "java.util.concurrent.Future<ForgotPasswordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ForgotPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ForgotPasswordRequest, ForgotPasswordResult>",
      "authenticated" : false,
      "methodName" : "forgotPassword"
    },
    "GetUser" : {
      "documentation" : "<p>Gets the user attributes and metadata for a user.</p>",
      "operationName" : "GetUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "getUserRequest",
        "variableType" : "GetUserRequest",
        "variableDeclarationType" : "GetUserRequest",
        "documentation" : "<p>Represents the request to get information about the user.</p>",
        "simpleType" : "GetUserRequest",
        "variableSetterType" : "GetUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetUserResult",
        "documentation" : "<p>Represents the response from the server from the request to get information about the user.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetUserResult",
      "asyncReturnType" : "GetUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserRequest, GetUserResult>",
      "authenticated" : false,
      "methodName" : "getUser"
    },
    "GetUserAttributeVerificationCode" : {
      "documentation" : "<p>Gets the user attribute verification code for the specified attribute name.</p>",
      "operationName" : "GetUserAttributeVerificationCode",
      "deprecated" : false,
      "input" : {
        "variableName" : "getUserAttributeVerificationCodeRequest",
        "variableType" : "GetUserAttributeVerificationCodeRequest",
        "variableDeclarationType" : "GetUserAttributeVerificationCodeRequest",
        "documentation" : "<p>Represents the request to get user attribute verification.</p>",
        "simpleType" : "GetUserAttributeVerificationCodeRequest",
        "variableSetterType" : "GetUserAttributeVerificationCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetUserAttributeVerificationCodeResult",
        "documentation" : "<p>The verification code response returned by the server response to get the user attribute verification code.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetUserAttributeVerificationCodeResult",
      "asyncReturnType" : "GetUserAttributeVerificationCodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserAttributeVerificationCodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserAttributeVerificationCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserAttributeVerificationCodeRequest, GetUserAttributeVerificationCodeResult>",
      "authenticated" : false,
      "methodName" : "getUserAttributeVerificationCode"
    },
    "ListUserPoolClients" : {
      "documentation" : "<p>Lists the clients that have been created for the specified user pool.</p>",
      "operationName" : "ListUserPoolClients",
      "deprecated" : false,
      "input" : {
        "variableName" : "listUserPoolClientsRequest",
        "variableType" : "ListUserPoolClientsRequest",
        "variableDeclarationType" : "ListUserPoolClientsRequest",
        "documentation" : "<p>Represents the request to list the user pool clients.</p>",
        "simpleType" : "ListUserPoolClientsRequest",
        "variableSetterType" : "ListUserPoolClientsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListUserPoolClientsResult",
        "documentation" : "<p>Represents the response from the server that lists user pool clients.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListUserPoolClientsResult",
      "asyncReturnType" : "ListUserPoolClientsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListUserPoolClientsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListUserPoolClientsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUserPoolClientsRequest, ListUserPoolClientsResult>",
      "authenticated" : true,
      "methodName" : "listUserPoolClients"
    },
    "ListUserPools" : {
      "documentation" : "<p>Lists the user pools associated with an AWS account.</p>",
      "operationName" : "ListUserPools",
      "deprecated" : false,
      "input" : {
        "variableName" : "listUserPoolsRequest",
        "variableType" : "ListUserPoolsRequest",
        "variableDeclarationType" : "ListUserPoolsRequest",
        "documentation" : "<p>Represents the request to list user pools.</p>",
        "simpleType" : "ListUserPoolsRequest",
        "variableSetterType" : "ListUserPoolsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListUserPoolsResult",
        "documentation" : "<p>Represents the response to list user pools.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListUserPoolsResult",
      "asyncReturnType" : "ListUserPoolsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListUserPoolsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListUserPoolsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUserPoolsRequest, ListUserPoolsResult>",
      "authenticated" : true,
      "methodName" : "listUserPools"
    },
    "ListUsers" : {
      "documentation" : "<p>Lists the users in the Amazon Cognito user pool.</p>",
      "operationName" : "ListUsers",
      "deprecated" : false,
      "input" : {
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "variableDeclarationType" : "ListUsersRequest",
        "documentation" : "<p>Represents the request to list users.</p>",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : "<p>The response from the request to list users.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListUsersResult",
      "asyncReturnType" : "ListUsersResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "authenticated" : true,
      "methodName" : "listUsers"
    },
    "ResendConfirmationCode" : {
      "documentation" : "<p>Resends the confirmation (for confirmation of registration) to a specific user in the user pool.</p>",
      "operationName" : "ResendConfirmationCode",
      "deprecated" : false,
      "input" : {
        "variableName" : "resendConfirmationCodeRequest",
        "variableType" : "ResendConfirmationCodeRequest",
        "variableDeclarationType" : "ResendConfirmationCodeRequest",
        "documentation" : "<p>Represents the request to resend the confirmation code.</p>",
        "simpleType" : "ResendConfirmationCodeRequest",
        "variableSetterType" : "ResendConfirmationCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ResendConfirmationCodeResult",
        "documentation" : "<p>The response from the server when the Amazon Cognito service makes the request to resend a confirmation code.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ResendConfirmationCodeResult",
      "asyncReturnType" : "ResendConfirmationCodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<ResendConfirmationCodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ResendConfirmationCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResendConfirmationCodeRequest, ResendConfirmationCodeResult>",
      "authenticated" : false,
      "methodName" : "resendConfirmationCode"
    },
    "SetUserSettings" : {
      "documentation" : "<p>Sets the user settings like multi-factor authentication (MFA). If MFA is to be removed for a particular attribute pass the attribute with code delivery as null. If null list is passed, all MFA options are removed.</p>",
      "operationName" : "SetUserSettings",
      "deprecated" : false,
      "input" : {
        "variableName" : "setUserSettingsRequest",
        "variableType" : "SetUserSettingsRequest",
        "variableDeclarationType" : "SetUserSettingsRequest",
        "documentation" : "<p>Represents the request to set user settings.</p>",
        "simpleType" : "SetUserSettingsRequest",
        "variableSetterType" : "SetUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetUserSettingsResult",
        "documentation" : "<p>The response from the server for a set user settings request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SetUserSettingsResult",
      "asyncReturnType" : "SetUserSettingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetUserSettingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetUserSettingsRequest, SetUserSettingsResult>",
      "authenticated" : false,
      "methodName" : "setUserSettings"
    },
    "SignUp" : {
      "documentation" : "<p>Registers the user in the specified user pool and creates a user name, password, and user attributes.</p>",
      "operationName" : "SignUp",
      "deprecated" : false,
      "input" : {
        "variableName" : "signUpRequest",
        "variableType" : "SignUpRequest",
        "variableDeclarationType" : "SignUpRequest",
        "documentation" : "<p>Represents the request to register a user.</p>",
        "simpleType" : "SignUpRequest",
        "variableSetterType" : "SignUpRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SignUpResult",
        "documentation" : "<p>The response from the server for a registration request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "UsernameExistsException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters a user name that already exists in the user pool.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SignUpResult",
      "asyncReturnType" : "SignUpResult",
      "asyncFutureType" : "java.util.concurrent.Future<SignUpResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SignUpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SignUpRequest, SignUpResult>",
      "authenticated" : false,
      "methodName" : "signUp"
    },
    "UpdateUserAttributes" : {
      "documentation" : "<p>Allows a user to update a specific attribute (one at a time).</p>",
      "operationName" : "UpdateUserAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateUserAttributesRequest",
        "variableType" : "UpdateUserAttributesRequest",
        "variableDeclarationType" : "UpdateUserAttributesRequest",
        "documentation" : "<p>Represents the request to update user attributes.</p>",
        "simpleType" : "UpdateUserAttributesRequest",
        "variableSetterType" : "UpdateUserAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateUserAttributesResult",
        "documentation" : "<p>Represents the response from the server for the request to update user attributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>"
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "AliasExistsException",
        "documentation" : "<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateUserAttributesResult",
      "asyncReturnType" : "UpdateUserAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserAttributesRequest, UpdateUserAttributesResult>",
      "authenticated" : false,
      "methodName" : "updateUserAttributes"
    },
    "UpdateUserPool" : {
      "documentation" : "<p>Updates the specified user pool with the specified attributes.</p>",
      "operationName" : "UpdateUserPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateUserPoolRequest",
        "variableType" : "UpdateUserPoolRequest",
        "variableDeclarationType" : "UpdateUserPoolRequest",
        "documentation" : "<p>Represents the request to update the user pool.</p>",
        "simpleType" : "UpdateUserPoolRequest",
        "variableSetterType" : "UpdateUserPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateUserPoolResult",
        "documentation" : "<p>Represents the response from the server when you make a request to update the user pool.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception is thrown if two or more modifications are happening concurrently.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateUserPoolResult",
      "asyncReturnType" : "UpdateUserPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserPoolRequest, UpdateUserPoolResult>",
      "authenticated" : true,
      "methodName" : "updateUserPool"
    },
    "UpdateUserPoolClient" : {
      "documentation" : "<p>Allows the developer to update the specified user pool client and password policy.</p>",
      "operationName" : "UpdateUserPoolClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateUserPoolClientRequest",
        "variableType" : "UpdateUserPoolClientRequest",
        "variableDeclarationType" : "UpdateUserPoolClientRequest",
        "documentation" : "<p>Represents the request to update the user pool client.</p>",
        "simpleType" : "UpdateUserPoolClientRequest",
        "variableSetterType" : "UpdateUserPoolClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateUserPoolClientResult",
        "documentation" : "<p>Represents the response from the server to the request to update the user pool client.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateUserPoolClientResult",
      "asyncReturnType" : "UpdateUserPoolClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserPoolClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserPoolClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserPoolClientRequest, UpdateUserPoolClientResult>",
      "authenticated" : true,
      "methodName" : "updateUserPoolClient"
    },
    "VerifyUserAttribute" : {
      "documentation" : "<p>Verifies the specified user attributes in the user pool.</p>",
      "operationName" : "VerifyUserAttribute",
      "deprecated" : false,
      "input" : {
        "variableName" : "verifyUserAttributeRequest",
        "variableType" : "VerifyUserAttributeRequest",
        "variableDeclarationType" : "VerifyUserAttributeRequest",
        "documentation" : "<p>Represents the request to verify user attributes.</p>",
        "simpleType" : "VerifyUserAttributeRequest",
        "variableSetterType" : "VerifyUserAttributeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "VerifyUserAttributeResult",
        "documentation" : "<p>A container representing the response from the server from the request to verify user attributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>"
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "VerifyUserAttributeResult",
      "asyncReturnType" : "VerifyUserAttributeResult",
      "asyncFutureType" : "java.util.concurrent.Future<VerifyUserAttributeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<VerifyUserAttributeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<VerifyUserAttributeRequest, VerifyUserAttributeResult>",
      "authenticated" : false,
      "methodName" : "verifyUserAttribute"
    }
  },
  "shapes" : {
    "ForgotPasswordRequest" : {
      "c2jName" : "ForgotPasswordRequest",
      "documentation" : "<p>Represents the request to reset a user's password.</p>",
      "shapeName" : "ForgotPasswordRequest",
      "deprecated" : false,
      "required" : [ "ClientId", "Username" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ID of the client associated with the user pool.</p>",
        "name" : "ClientId",
        "c2jName" : "ClientId",
        "c2jShape" : "ClientIdType",
        "variable" : {
          "variableName" : "clientId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the client associated with the user pool.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "clientId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ClientId",
          "marshallLocationName" : "ClientId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the client associated with the user pool.</p>\n@param clientId The ID of the client associated with the user pool.*/",
        "getterDocumentation" : "/**<p>The ID of the client associated with the user pool.</p>\n@return The ID of the client associated with the user pool.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the client associated with the user pool.</p>\n@param clientId The ID of the client associated with the user pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the client associated with the user pool.</p>\n@param clientId The ID of the client associated with the user pool.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.</p>",
        "name" : "SecretHash",
        "c2jName" : "SecretHash",
        "c2jShape" : "SecretHashType",
        "variable" : {
          "variableName" : "secretHash",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "secretHash",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SecretHash",
          "marshallLocationName" : "SecretHash",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.</p>\n@param secretHash A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.*/",
        "getterDocumentation" : "/**<p>A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.</p>\n@return A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.*/",
        "fluentSetterDocumentation" : "/**<p>A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.</p>\n@param secretHash A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.</p>\n@param secretHash A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>",
        "name" : "Username",
        "c2jName" : "Username",
        "c2jShape" : "UsernameType",
        "variable" : {
          "variableName" : "username",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "username",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Username",
          "marshallLocationName" : "Username",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>\n@param username The user name of the user for whom you want to enter a code to retrieve a forgotten password.*/",
        "getterDocumentation" : "/**<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>\n@return The user name of the user for whom you want to enter a code to retrieve a forgotten password.*/",
        "fluentSetterDocumentation" : "/**<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>\n@param username The user name of the user for whom you want to enter a code to retrieve a forgotten password.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>\n@param username The user name of the user for whom you want to enter a code to retrieve a forgotten password.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "forgotPasswordRequest",
        "variableType" : "ForgotPasswordRequest",
        "variableDeclarationType" : "ForgotPasswordRequest",
        "documentation" : null,
        "simpleType" : "ForgotPasswordRequest",
        "variableSetterType" : "ForgotPasswordRequest"
      },
      "marshaller" : {
        "action" : "ForgotPassword",
        "verb" : "POST",
        "target" : "AWSCognitoIdentityProviderService.ForgotPassword",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Username" : {
          "documentation" : "<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>",
          "name" : "Username",
          "c2jName" : "Username",
          "c2jShape" : "UsernameType",
          "variable" : {
            "variableName" : "username",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "username",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Username",
            "marshallLocationName" : "Username",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>\n@param username The user name of the user for whom you want to enter a code to retrieve a forgotten password.*/",
          "getterDocumentation" : "/**<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>\n@return The user name of the user for whom you want to enter a code to retrieve a forgotten password.*/",
[...]
