{
  "metadata" : {
    "apiVersion" : "2016-04-18",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>You can create a user pool in Amazon Cognito Identity to manage directories and users. You can authenticate a user to obtain tokens related to user identity and access policies.</p> <p>This API reference provides information about user pools in Amazon Cognito Identity.</p> <p>For more information, see <a href=\"https://aws.amazon.com/cognito/\">Amazon Cognito</a>.</p>",
    "defaultEndpoint" : "https://cognito-idp.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cognito-idp.us-east-1.amazonaws.com",
    "syncInterface" : "AWSCognitoIdentityProvider",
    "syncClient" : "AWSCognitoIdentityProviderClient",
    "asyncInterface" : "AWSCognitoIdentityProviderAsync",
    "asyncClient" : "AWSCognitoIdentityProviderAsyncClient",
    "packageName" : "com.amazonaws.services.cognitoidp",
    "packagePath" : "com/amazonaws/services/cognitoidp",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Cognito Identity Provider",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "cognito-idp",
    "signingName" : "cognito-idp",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSCognitoIdentityProviderClientBuilder",
    "asyncClientBuilderClassName" : "AWSCognitoIdentityProviderAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSCognitoIdentityProviderModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.cognitoidp.smoketests",
    "serviceName" : "Amazon Cognito Identity Provider",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "AddCustomAttributes" : {
      "documentation" : "<p>Adds additional user attributes to the user pool schema.</p>",
      "operationName" : "AddCustomAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "addCustomAttributesRequest",
        "variableType" : "AddCustomAttributesRequest",
        "variableDeclarationType" : "AddCustomAttributesRequest",
        "documentation" : "<p>Represents the request to add custom attributes.</p>",
        "simpleType" : "AddCustomAttributesRequest",
        "variableSetterType" : "AddCustomAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddCustomAttributesResult",
        "documentation" : "<p>Represents the response from the server for the request to add custom attributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddCustomAttributesResult",
      "asyncReturnType" : "AddCustomAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddCustomAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddCustomAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddCustomAttributesRequest, AddCustomAttributesResult>",
      "authenticated" : true,
      "methodName" : "addCustomAttributes"
    },
    "AdminConfirmSignUp" : {
      "documentation" : "<p>Confirms user registration as an admin without using a confirmation code. Works on any user.</p>",
      "operationName" : "AdminConfirmSignUp",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminConfirmSignUpRequest",
        "variableType" : "AdminConfirmSignUpRequest",
        "variableDeclarationType" : "AdminConfirmSignUpRequest",
        "documentation" : "<p>Represents the request to confirm user registration.</p>",
        "simpleType" : "AdminConfirmSignUpRequest",
        "variableSetterType" : "AdminConfirmSignUpRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminConfirmSignUpResult",
        "documentation" : "<p>Represents the response from the server for the request to confirm registration.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyFailedAttemptsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many failed attempts for a given action (e.g., sign in).</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "PasswordResetRequiredException",
        "documentation" : "<p>This exception is thrown when a password reset is required.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminConfirmSignUpResult",
      "asyncReturnType" : "AdminConfirmSignUpResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminConfirmSignUpResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminConfirmSignUpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminConfirmSignUpRequest, AdminConfirmSignUpResult>",
      "authenticated" : true,
      "methodName" : "adminConfirmSignUp"
    },
    "AdminDeleteUser" : {
      "documentation" : "<p>Deletes a user as an administrator. Works on any user.</p>",
      "operationName" : "AdminDeleteUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminDeleteUserRequest",
        "variableType" : "AdminDeleteUserRequest",
        "variableDeclarationType" : "AdminDeleteUserRequest",
        "documentation" : "<p>Represents the request to delete a user as an administrator.</p>",
        "simpleType" : "AdminDeleteUserRequest",
        "variableSetterType" : "AdminDeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminDeleteUserResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminDeleteUserResult",
      "asyncReturnType" : "AdminDeleteUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminDeleteUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminDeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminDeleteUserRequest, AdminDeleteUserResult>",
      "authenticated" : true,
      "methodName" : "adminDeleteUser"
    },
    "AdminDeleteUserAttributes" : {
      "documentation" : "<p>Deletes the user attributes in a user pool as an administrator. Works on any user.</p>",
      "operationName" : "AdminDeleteUserAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminDeleteUserAttributesRequest",
        "variableType" : "AdminDeleteUserAttributesRequest",
        "variableDeclarationType" : "AdminDeleteUserAttributesRequest",
        "documentation" : "<p>Represents the request to delete user attributes as an administrator.</p>",
        "simpleType" : "AdminDeleteUserAttributesRequest",
        "variableSetterType" : "AdminDeleteUserAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminDeleteUserAttributesResult",
        "documentation" : "<p>Represents the response received from the server for a request to delete user attributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminDeleteUserAttributesResult",
      "asyncReturnType" : "AdminDeleteUserAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminDeleteUserAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminDeleteUserAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminDeleteUserAttributesRequest, AdminDeleteUserAttributesResult>",
      "authenticated" : true,
      "methodName" : "adminDeleteUserAttributes"
    },
    "AdminDisableUser" : {
      "documentation" : "<p>Disables the specified user as an administrator. Works on any user.</p>",
      "operationName" : "AdminDisableUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminDisableUserRequest",
        "variableType" : "AdminDisableUserRequest",
        "variableDeclarationType" : "AdminDisableUserRequest",
        "documentation" : "<p>Represents the request to disable any user as an administrator.</p>",
        "simpleType" : "AdminDisableUserRequest",
        "variableSetterType" : "AdminDisableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminDisableUserResult",
        "documentation" : "<p>Represents the response received from the server to disable the user as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminDisableUserResult",
      "asyncReturnType" : "AdminDisableUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminDisableUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminDisableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminDisableUserRequest, AdminDisableUserResult>",
      "authenticated" : true,
      "methodName" : "adminDisableUser"
    },
    "AdminEnableUser" : {
      "documentation" : "<p>Enables the specified user as an administrator. Works on any user.</p>",
      "operationName" : "AdminEnableUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminEnableUserRequest",
        "variableType" : "AdminEnableUserRequest",
        "variableDeclarationType" : "AdminEnableUserRequest",
        "documentation" : "<p>Represents the request that enables the user as an administrator.</p>",
        "simpleType" : "AdminEnableUserRequest",
        "variableSetterType" : "AdminEnableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminEnableUserResult",
        "documentation" : "<p>Represents the response from the server for the request to enable a user as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminEnableUserResult",
      "asyncReturnType" : "AdminEnableUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminEnableUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminEnableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminEnableUserRequest, AdminEnableUserResult>",
      "authenticated" : true,
      "methodName" : "adminEnableUser"
    },
    "AdminForgetDevice" : {
      "documentation" : "<p>Forgets the device, as an administrator.</p>",
      "operationName" : "AdminForgetDevice",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminForgetDeviceRequest",
        "variableType" : "AdminForgetDeviceRequest",
        "variableDeclarationType" : "AdminForgetDeviceRequest",
        "documentation" : "<p>Sends the forgot device request, as an administrator.</p>",
        "simpleType" : "AdminForgetDeviceRequest",
        "variableSetterType" : "AdminForgetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminForgetDeviceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminForgetDeviceResult",
      "asyncReturnType" : "AdminForgetDeviceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminForgetDeviceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminForgetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminForgetDeviceRequest, AdminForgetDeviceResult>",
      "authenticated" : true,
      "methodName" : "adminForgetDevice"
    },
    "AdminGetDevice" : {
      "documentation" : "<p>Gets the device, as an administrator.</p>",
      "operationName" : "AdminGetDevice",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminGetDeviceRequest",
        "variableType" : "AdminGetDeviceRequest",
        "variableDeclarationType" : "AdminGetDeviceRequest",
        "documentation" : "<p>Represents the request to get the device, as an administrator.</p>",
        "simpleType" : "AdminGetDeviceRequest",
        "variableSetterType" : "AdminGetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminGetDeviceResult",
        "documentation" : "<p>Gets the device response, as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminGetDeviceResult",
      "asyncReturnType" : "AdminGetDeviceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminGetDeviceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminGetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminGetDeviceRequest, AdminGetDeviceResult>",
      "authenticated" : true,
      "methodName" : "adminGetDevice"
    },
    "AdminGetUser" : {
      "documentation" : "<p>Gets the specified user by user name in a user pool as an administrator. Works on any user.</p>",
      "operationName" : "AdminGetUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminGetUserRequest",
        "variableType" : "AdminGetUserRequest",
        "variableDeclarationType" : "AdminGetUserRequest",
        "documentation" : "<p>Represents the request to get the specified user as an administrator.</p>",
        "simpleType" : "AdminGetUserRequest",
        "variableSetterType" : "AdminGetUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminGetUserResult",
        "documentation" : "<p>Represents the response from the server from the request to get the specified user as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminGetUserResult",
      "asyncReturnType" : "AdminGetUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminGetUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminGetUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminGetUserRequest, AdminGetUserResult>",
      "authenticated" : true,
      "methodName" : "adminGetUser"
    },
    "AdminInitiateAuth" : {
      "documentation" : "<p>Initiates the authentication flow, as an administrator.</p>",
      "operationName" : "AdminInitiateAuth",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminInitiateAuthRequest",
        "variableType" : "AdminInitiateAuthRequest",
        "variableDeclarationType" : "AdminInitiateAuthRequest",
        "documentation" : "<p>Initiates the authorization request, as an administrator.</p>",
        "simpleType" : "AdminInitiateAuthRequest",
        "variableSetterType" : "AdminInitiateAuthRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminInitiateAuthResult",
        "documentation" : "<p>Initiates the authentication response, as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "MFAMethodNotFoundException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito cannot find a multi-factor authentication (MFA) method.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleAccessPolicyException",
        "documentation" : "<p>This exception is returned when the role provided for SMS configuration does not have permission to publish using Amazon SNS.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleTrustRelationshipException",
        "documentation" : "<p>This exception is thrown when the trust relationship is invalid for the role provided for SMS configuration. This can happen if you do not trust <b>cognito-idp.amazonaws.com</b> or the external ID provided in the role does not match what is provided in the SMS configuration for the user pool.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminInitiateAuthResult",
      "asyncReturnType" : "AdminInitiateAuthResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminInitiateAuthResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminInitiateAuthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminInitiateAuthRequest, AdminInitiateAuthResult>",
      "authenticated" : true,
      "methodName" : "adminInitiateAuth"
    },
    "AdminListDevices" : {
      "documentation" : "<p>Lists devices, as an administrator.</p>",
      "operationName" : "AdminListDevices",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminListDevicesRequest",
        "variableType" : "AdminListDevicesRequest",
        "variableDeclarationType" : "AdminListDevicesRequest",
        "documentation" : "<p>Represents the request to list devices, as an administrator.</p>",
        "simpleType" : "AdminListDevicesRequest",
        "variableSetterType" : "AdminListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminListDevicesResult",
        "documentation" : "<p>Lists the device's response, as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminListDevicesResult",
      "asyncReturnType" : "AdminListDevicesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminListDevicesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminListDevicesRequest, AdminListDevicesResult>",
      "authenticated" : true,
      "methodName" : "adminListDevices"
    },
    "AdminResetUserPassword" : {
      "documentation" : "<p>Resets the specified user's password in a user pool as an administrator. Works on any user.</p>",
      "operationName" : "AdminResetUserPassword",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminResetUserPasswordRequest",
        "variableType" : "AdminResetUserPasswordRequest",
        "variableDeclarationType" : "AdminResetUserPasswordRequest",
        "documentation" : "<p>Represents the request to reset a user's password as an administrator.</p>",
        "simpleType" : "AdminResetUserPasswordRequest",
        "variableSetterType" : "AdminResetUserPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminResetUserPasswordResult",
        "documentation" : "<p>Represents the response from the server to reset a user password as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminResetUserPasswordResult",
      "asyncReturnType" : "AdminResetUserPasswordResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminResetUserPasswordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminResetUserPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminResetUserPasswordRequest, AdminResetUserPasswordResult>",
      "authenticated" : true,
      "methodName" : "adminResetUserPassword"
    },
    "AdminRespondToAuthChallenge" : {
      "documentation" : "<p>Responds to an authentication challenge, as an administrator.</p>",
      "operationName" : "AdminRespondToAuthChallenge",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminRespondToAuthChallengeRequest",
        "variableType" : "AdminRespondToAuthChallengeRequest",
        "variableDeclarationType" : "AdminRespondToAuthChallengeRequest",
        "documentation" : "<p>The request to respond to the authentication challenge, as an administrator.</p>",
        "simpleType" : "AdminRespondToAuthChallengeRequest",
        "variableSetterType" : "AdminRespondToAuthChallengeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminRespondToAuthChallengeResult",
        "documentation" : "<p>Responds to the authentication challenge, as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>"
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "MFAMethodNotFoundException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito cannot find a multi-factor authentication (MFA) method.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleAccessPolicyException",
        "documentation" : "<p>This exception is returned when the role provided for SMS configuration does not have permission to publish using Amazon SNS.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleTrustRelationshipException",
        "documentation" : "<p>This exception is thrown when the trust relationship is invalid for the role provided for SMS configuration. This can happen if you do not trust <b>cognito-idp.amazonaws.com</b> or the external ID provided in the role does not match what is provided in the SMS configuration for the user pool.</p>"
      }, {
        "exceptionName" : "AliasExistsException",
        "documentation" : "<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminRespondToAuthChallengeResult",
      "asyncReturnType" : "AdminRespondToAuthChallengeResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminRespondToAuthChallengeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminRespondToAuthChallengeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminRespondToAuthChallengeRequest, AdminRespondToAuthChallengeResult>",
      "authenticated" : true,
      "methodName" : "adminRespondToAuthChallenge"
    },
    "AdminSetUserSettings" : {
      "documentation" : "<p>Sets all the user settings for a specified user name. Works on any user.</p>",
      "operationName" : "AdminSetUserSettings",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminSetUserSettingsRequest",
        "variableType" : "AdminSetUserSettingsRequest",
        "variableDeclarationType" : "AdminSetUserSettingsRequest",
        "documentation" : "<p>Represents the request to set user settings as an administrator.</p>",
        "simpleType" : "AdminSetUserSettingsRequest",
        "variableSetterType" : "AdminSetUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminSetUserSettingsResult",
        "documentation" : "<p>Represents the response from the server to set user settings as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminSetUserSettingsResult",
      "asyncReturnType" : "AdminSetUserSettingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminSetUserSettingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminSetUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminSetUserSettingsRequest, AdminSetUserSettingsResult>",
      "authenticated" : true,
      "methodName" : "adminSetUserSettings"
    },
    "AdminUpdateDeviceStatus" : {
      "documentation" : "<p>Updates the device status as an administrator.</p>",
      "operationName" : "AdminUpdateDeviceStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminUpdateDeviceStatusRequest",
        "variableType" : "AdminUpdateDeviceStatusRequest",
        "variableDeclarationType" : "AdminUpdateDeviceStatusRequest",
        "documentation" : "<p>The request to update the device status, as an administrator.</p>",
        "simpleType" : "AdminUpdateDeviceStatusRequest",
        "variableSetterType" : "AdminUpdateDeviceStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminUpdateDeviceStatusResult",
        "documentation" : "<p>The status response from the request to update the device, as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminUpdateDeviceStatusResult",
      "asyncReturnType" : "AdminUpdateDeviceStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminUpdateDeviceStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminUpdateDeviceStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminUpdateDeviceStatusRequest, AdminUpdateDeviceStatusResult>",
      "authenticated" : true,
      "methodName" : "adminUpdateDeviceStatus"
    },
    "AdminUpdateUserAttributes" : {
      "documentation" : "<p>Updates the specified user's attributes, including developer attributes, as an administrator. Works on any user.</p>",
      "operationName" : "AdminUpdateUserAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminUpdateUserAttributesRequest",
        "variableType" : "AdminUpdateUserAttributesRequest",
        "variableDeclarationType" : "AdminUpdateUserAttributesRequest",
        "documentation" : "<p>Represents the request to update the user's attributes as an administrator.</p>",
        "simpleType" : "AdminUpdateUserAttributesRequest",
        "variableSetterType" : "AdminUpdateUserAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminUpdateUserAttributesResult",
        "documentation" : "<p>Represents the response from the server for the request to update user attributes as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "AliasExistsException",
        "documentation" : "<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminUpdateUserAttributesResult",
      "asyncReturnType" : "AdminUpdateUserAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminUpdateUserAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminUpdateUserAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminUpdateUserAttributesRequest, AdminUpdateUserAttributesResult>",
      "authenticated" : true,
      "methodName" : "adminUpdateUserAttributes"
    },
    "AdminUserGlobalSignOut" : {
      "documentation" : "<p>Signs out users from all devices, as an administrator.</p>",
      "operationName" : "AdminUserGlobalSignOut",
      "deprecated" : false,
      "input" : {
        "variableName" : "adminUserGlobalSignOutRequest",
        "variableType" : "AdminUserGlobalSignOutRequest",
        "variableDeclarationType" : "AdminUserGlobalSignOutRequest",
        "documentation" : "<p>The request to sign out of all devices, as an administrator.</p>",
        "simpleType" : "AdminUserGlobalSignOutRequest",
        "variableSetterType" : "AdminUserGlobalSignOutRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AdminUserGlobalSignOutResult",
        "documentation" : "<p>The global signot response, as an administrator.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AdminUserGlobalSignOutResult",
      "asyncReturnType" : "AdminUserGlobalSignOutResult",
      "asyncFutureType" : "java.util.concurrent.Future<AdminUserGlobalSignOutResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AdminUserGlobalSignOutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminUserGlobalSignOutRequest, AdminUserGlobalSignOutResult>",
      "authenticated" : true,
      "methodName" : "adminUserGlobalSignOut"
    },
    "ChangePassword" : {
      "documentation" : "<p>Changes the password for a specified user in a user pool.</p>",
      "operationName" : "ChangePassword",
      "deprecated" : false,
      "input" : {
        "variableName" : "changePasswordRequest",
        "variableType" : "ChangePasswordRequest",
        "variableDeclarationType" : "ChangePasswordRequest",
        "documentation" : "<p>Represents the request to change a user password.</p>",
        "simpleType" : "ChangePasswordRequest",
        "variableSetterType" : "ChangePasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ChangePasswordResult",
        "documentation" : "<p>The response from the server to the change password request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ChangePasswordResult",
      "asyncReturnType" : "ChangePasswordResult",
      "asyncFutureType" : "java.util.concurrent.Future<ChangePasswordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ChangePasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ChangePasswordRequest, ChangePasswordResult>",
      "authenticated" : false,
      "methodName" : "changePassword"
    },
    "ConfirmDevice" : {
      "documentation" : "<p>Confirms tracking of the device. This API call is the call that beings device tracking.</p>",
      "operationName" : "ConfirmDevice",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmDeviceRequest",
        "variableType" : "ConfirmDeviceRequest",
        "variableDeclarationType" : "ConfirmDeviceRequest",
        "documentation" : "<p>Confirms the device request.</p>",
        "simpleType" : "ConfirmDeviceRequest",
        "variableSetterType" : "ConfirmDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmDeviceResult",
        "documentation" : "<p>Confirms the device response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "UsernameExistsException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters a user name that already exists in the user pool.</p>"
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ConfirmDeviceResult",
      "asyncReturnType" : "ConfirmDeviceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmDeviceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmDeviceRequest, ConfirmDeviceResult>",
      "authenticated" : true,
      "methodName" : "confirmDevice"
    },
    "ConfirmForgotPassword" : {
      "documentation" : "<p>Allows a user to enter a code provided when they reset their password to update their password.</p>",
      "operationName" : "ConfirmForgotPassword",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmForgotPasswordRequest",
        "variableType" : "ConfirmForgotPasswordRequest",
        "variableDeclarationType" : "ConfirmForgotPasswordRequest",
        "documentation" : "<p>The request representing the confirmation for a password reset.</p>",
        "simpleType" : "ConfirmForgotPasswordRequest",
        "variableSetterType" : "ConfirmForgotPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmForgotPasswordResult",
        "documentation" : "<p>The response from the server that results from a user's request to retrieve a forgotten password.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>"
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>"
      }, {
        "exceptionName" : "TooManyFailedAttemptsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many failed attempts for a given action (e.g., sign in).</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>"
      }, {
        "exceptionName" : "UserNotConfirmedException",
        "documentation" : "<p>This exception is thrown when a user is not confirmed successfully.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ConfirmForgotPasswordResult",
      "asyncReturnType" : "ConfirmForgotPasswordResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmForgotPasswordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmForgotPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmForgotPasswordRequest, ConfirmForgotPasswordResult>",
      "authenticated" : false,
      "methodName" : "confirmForgotPassword"
    },
    "ConfirmSignUp" : {
      "documentation" : "<p>Confirms registration of a user and handles the existing alias from a previous user.</p>",
      "operationName" : "ConfirmSignUp",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmSignUpRequest",
        "variableType" : "ConfirmSignUpRequest",
        "variableDeclarationType" : "ConfirmSignUpRequest",
        "documentation" : "<p>Represents the request to confirm registration of a user.</p>",
        "simpleType" : "ConfirmSignUpRequest",
        "variableSetterType" : "ConfirmSignUpRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmSignUpResult",
        "documentation" : "<p>Represents the response from the server for the registration confirmation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyFailedAttemptsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many failed attempts for a given action (e.g., sign in).</p>"
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>"
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "AliasExistsException",
        "documentation" : "<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ConfirmSignUpResult",
      "asyncReturnType" : "ConfirmSignUpResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmSignUpResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmSignUpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmSignUpRequest, ConfirmSignUpResult>",
      "authenticated" : false,
      "methodName" : "confirmSignUp"
    },
    "CreateUserPool" : {
      "documentation" : "<p>Creates a new Amazon Cognito user pool and sets the password policy for the pool.</p>",
      "operationName" : "CreateUserPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "createUserPoolRequest",
        "variableType" : "CreateUserPoolRequest",
        "variableDeclarationType" : "CreateUserPoolRequest",
        "documentation" : "<p>Represents the request to create a user pool.</p>",
        "simpleType" : "CreateUserPoolRequest",
        "variableSetterType" : "CreateUserPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateUserPoolResult",
        "documentation" : "<p>Represents the response from the server for the request to create a user pool.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleAccessPolicyException",
        "documentation" : "<p>This exception is returned when the role provided for SMS configuration does not have permission to publish using Amazon SNS.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleTrustRelationshipException",
        "documentation" : "<p>This exception is thrown when the trust relationship is invalid for the role provided for SMS configuration. This can happen if you do not trust <b>cognito-idp.amazonaws.com</b> or the external ID provided in the role does not match what is provided in the SMS configuration for the user pool.</p>"
      }, {
        "exceptionName" : "InvalidEmailRoleAccessPolicyException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito is not allowed to use your email identity. HTTP status code: 400.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateUserPoolResult",
      "asyncReturnType" : "CreateUserPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserPoolRequest, CreateUserPoolResult>",
      "authenticated" : true,
      "methodName" : "createUserPool"
    },
    "CreateUserPoolClient" : {
      "documentation" : "<p>Creates the user pool client.</p>",
      "operationName" : "CreateUserPoolClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "createUserPoolClientRequest",
        "variableType" : "CreateUserPoolClientRequest",
        "variableDeclarationType" : "CreateUserPoolClientRequest",
        "documentation" : "<p>Represents the request to create a user pool client.</p>",
        "simpleType" : "CreateUserPoolClientRequest",
        "variableSetterType" : "CreateUserPoolClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateUserPoolClientResult",
        "documentation" : "<p>Represents the response from the server to create a user pool client.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateUserPoolClientResult",
      "asyncReturnType" : "CreateUserPoolClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserPoolClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserPoolClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserPoolClientRequest, CreateUserPoolClientResult>",
      "authenticated" : true,
      "methodName" : "createUserPoolClient"
    },
    "DeleteUser" : {
      "documentation" : "<p>Allows a user to delete one's self.</p>",
      "operationName" : "DeleteUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "variableDeclarationType" : "DeleteUserRequest",
        "documentation" : "<p>Represents the request to delete a user.</p>",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteUserResult",
      "asyncReturnType" : "DeleteUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "authenticated" : false,
      "methodName" : "deleteUser"
    },
    "DeleteUserAttributes" : {
      "documentation" : "<p>Deletes the attributes for a user.</p>",
      "operationName" : "DeleteUserAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteUserAttributesRequest",
        "variableType" : "DeleteUserAttributesRequest",
        "variableDeclarationType" : "DeleteUserAttributesRequest",
        "documentation" : "<p>Represents the request to delete user attributes.</p>",
        "simpleType" : "DeleteUserAttributesRequest",
        "variableSetterType" : "DeleteUserAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteUserAttributesResult",
        "documentation" : "<p>Represents the response from the server to delete user attributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteUserAttributesResult",
      "asyncReturnType" : "DeleteUserAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserAttributesRequest, DeleteUserAttributesResult>",
      "authenticated" : false,
      "methodName" : "deleteUserAttributes"
    },
    "DeleteUserPool" : {
      "documentation" : "<p>Deletes the specified Amazon Cognito user pool.</p>",
      "operationName" : "DeleteUserPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteUserPoolRequest",
        "variableType" : "DeleteUserPoolRequest",
        "variableDeclarationType" : "DeleteUserPoolRequest",
        "documentation" : "<p>Represents the request to delete a user pool.</p>",
        "simpleType" : "DeleteUserPoolRequest",
        "variableSetterType" : "DeleteUserPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteUserPoolResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteUserPoolResult",
      "asyncReturnType" : "DeleteUserPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserPoolRequest, DeleteUserPoolResult>",
      "authenticated" : true,
      "methodName" : "deleteUserPool"
    },
    "DeleteUserPoolClient" : {
      "documentation" : "<p>Allows the developer to delete the user pool client.</p>",
      "operationName" : "DeleteUserPoolClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteUserPoolClientRequest",
        "variableType" : "DeleteUserPoolClientRequest",
        "variableDeclarationType" : "DeleteUserPoolClientRequest",
        "documentation" : "<p>Represents the request to delete a user pool client.</p>",
        "simpleType" : "DeleteUserPoolClientRequest",
        "variableSetterType" : "DeleteUserPoolClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteUserPoolClientResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteUserPoolClientResult",
      "asyncReturnType" : "DeleteUserPoolClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserPoolClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserPoolClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserPoolClientRequest, DeleteUserPoolClientResult>",
      "authenticated" : true,
      "methodName" : "deleteUserPoolClient"
    },
    "DescribeUserPool" : {
      "documentation" : "<p>Returns the configuration information and metadata of the specified user pool.</p>",
      "operationName" : "DescribeUserPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeUserPoolRequest",
        "variableType" : "DescribeUserPoolRequest",
        "variableDeclarationType" : "DescribeUserPoolRequest",
        "documentation" : "<p>Represents the request to describe the user pool.</p>",
        "simpleType" : "DescribeUserPoolRequest",
        "variableSetterType" : "DescribeUserPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeUserPoolResult",
        "documentation" : "<p>Represents the response to describe the user pool.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeUserPoolResult",
      "asyncReturnType" : "DescribeUserPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserPoolRequest, DescribeUserPoolResult>",
      "authenticated" : true,
      "methodName" : "describeUserPool"
    },
    "DescribeUserPoolClient" : {
      "documentation" : "<p>Client method for returning the configuration information and metadata of the specified user pool client.</p>",
      "operationName" : "DescribeUserPoolClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeUserPoolClientRequest",
        "variableType" : "DescribeUserPoolClientRequest",
        "variableDeclarationType" : "DescribeUserPoolClientRequest",
        "documentation" : "<p>Represents the request to describe a user pool client.</p>",
        "simpleType" : "DescribeUserPoolClientRequest",
        "variableSetterType" : "DescribeUserPoolClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeUserPoolClientResult",
        "documentation" : "<p>Represents the response from the server from a request to describe the user pool client.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeUserPoolClientResult",
      "asyncReturnType" : "DescribeUserPoolClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserPoolClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserPoolClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserPoolClientRequest, DescribeUserPoolClientResult>",
      "authenticated" : true,
      "methodName" : "describeUserPoolClient"
    },
    "ForgetDevice" : {
      "documentation" : "<p>Forgets the specified device.</p>",
      "operationName" : "ForgetDevice",
      "deprecated" : false,
      "input" : {
        "variableName" : "forgetDeviceRequest",
        "variableType" : "ForgetDeviceRequest",
        "variableDeclarationType" : "ForgetDeviceRequest",
        "documentation" : "<p>Represents the request to forget the device.</p>",
        "simpleType" : "ForgetDeviceRequest",
        "variableSetterType" : "ForgetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ForgetDeviceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ForgetDeviceResult",
      "asyncReturnType" : "ForgetDeviceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ForgetDeviceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ForgetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ForgetDeviceRequest, ForgetDeviceResult>",
      "authenticated" : true,
      "methodName" : "forgetDevice"
    },
    "ForgotPassword" : {
      "documentation" : "<p>Retrieves the password for the specified client ID or username.</p>",
      "operationName" : "ForgotPassword",
      "deprecated" : false,
      "input" : {
        "variableName" : "forgotPasswordRequest",
        "variableType" : "ForgotPasswordRequest",
        "variableDeclarationType" : "ForgotPasswordRequest",
        "documentation" : "<p>Represents the request to reset a user's password.</p>",
        "simpleType" : "ForgotPasswordRequest",
        "variableSetterType" : "ForgotPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ForgotPasswordResult",
        "documentation" : "<p>Respresents the response from the server regarding the request to reset a password.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleAccessPolicyException",
        "documentation" : "<p>This exception is returned when the role provided for SMS configuration does not have permission to publish using Amazon SNS.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleTrustRelationshipException",
        "documentation" : "<p>This exception is thrown when the trust relationship is invalid for the role provided for SMS configuration. This can happen if you do not trust <b>cognito-idp.amazonaws.com</b> or the external ID provided in the role does not match what is provided in the SMS configuration for the user pool.</p>"
      }, {
        "exceptionName" : "InvalidEmailRoleAccessPolicyException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito is not allowed to use your email identity. HTTP status code: 400.</p>"
      }, {
        "exceptionName" : "CodeDeliveryFailureException",
        "documentation" : "<p>This exception is thrown when a verification code fails to deliver successfully.</p>"
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>"
      }, {
        "exceptionName" : "UserNotConfirmedException",
        "documentation" : "<p>This exception is thrown when a user is not confirmed successfully.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ForgotPasswordResult",
      "asyncReturnType" : "ForgotPasswordResult",
      "asyncFutureType" : "java.util.concurrent.Future<ForgotPasswordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ForgotPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ForgotPasswordRequest, ForgotPasswordResult>",
      "authenticated" : false,
      "methodName" : "forgotPassword"
    },
    "GetDevice" : {
      "documentation" : "<p>Gets the device.</p>",
      "operationName" : "GetDevice",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "variableDeclarationType" : "GetDeviceRequest",
        "documentation" : "<p>Represents the request to get the device.</p>",
        "simpleType" : "GetDeviceRequest",
        "variableSetterType" : "GetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDeviceResult",
        "documentation" : "<p>Gets the device response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDeviceResult",
      "asyncReturnType" : "GetDeviceResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRequest, GetDeviceResult>",
      "authenticated" : true,
      "methodName" : "getDevice"
    },
    "GetUser" : {
      "documentation" : "<p>Gets the user attributes and metadata for a user.</p>",
      "operationName" : "GetUser",
      "deprecated" : false,
      "input" : {
        "variableName" : "getUserRequest",
        "variableType" : "GetUserRequest",
        "variableDeclarationType" : "GetUserRequest",
        "documentation" : "<p>Represents the request to get information about the user.</p>",
        "simpleType" : "GetUserRequest",
        "variableSetterType" : "GetUserRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetUserResult",
        "documentation" : "<p>Represents the response from the server from the request to get information about the user.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetUserResult",
      "asyncReturnType" : "GetUserResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserRequest, GetUserResult>",
      "authenticated" : false,
      "methodName" : "getUser"
    },
    "GetUserAttributeVerificationCode" : {
      "documentation" : "<p>Gets the user attribute verification code for the specified attribute name.</p>",
      "operationName" : "GetUserAttributeVerificationCode",
      "deprecated" : false,
      "input" : {
        "variableName" : "getUserAttributeVerificationCodeRequest",
        "variableType" : "GetUserAttributeVerificationCodeRequest",
        "variableDeclarationType" : "GetUserAttributeVerificationCodeRequest",
        "documentation" : "<p>Represents the request to get user attribute verification.</p>",
        "simpleType" : "GetUserAttributeVerificationCodeRequest",
        "variableSetterType" : "GetUserAttributeVerificationCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetUserAttributeVerificationCodeResult",
        "documentation" : "<p>The verification code response returned by the server response to get the user attribute verification code.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>"
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleAccessPolicyException",
        "documentation" : "<p>This exception is returned when the role provided for SMS configuration does not have permission to publish using Amazon SNS.</p>"
      }, {
        "exceptionName" : "InvalidSmsRoleTrustRelationshipException",
        "documentation" : "<p>This exception is thrown when the trust relationship is invalid for the role provided for SMS configuration. This can happen if you do not trust <b>cognito-idp.amazonaws.com</b> or the external ID provided in the role does not match what is provided in the SMS configuration for the user pool.</p>"
      }, {
        "exceptionName" : "InvalidEmailRoleAccessPolicyException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito is not allowed to use your email identity. HTTP status code: 400.</p>"
      }, {
        "exceptionName" : "CodeDeliveryFailureException",
        "documentation" : "<p>This exception is thrown when a verification code fails to deliver successfully.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetUserAttributeVerificationCodeResult",
      "asyncReturnType" : "GetUserAttributeVerificationCodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserAttributeVerificationCodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserAttributeVerificationCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserAttributeVerificationCodeRequest, GetUserAttributeVerificationCodeResult>",
      "authenticated" : false,
      "methodName" : "getUserAttributeVerificationCode"
    },
    "GlobalSignOut" : {
      "documentation" : "<p>Signs out users from all devices.</p>",
      "operationName" : "GlobalSignOut",
      "deprecated" : false,
      "input" : {
        "variableName" : "globalSignOutRequest",
        "variableType" : "GlobalSignOutRequest",
        "variableDeclarationType" : "GlobalSignOutRequest",
        "documentation" : "<p>Represents the request to sign out all devices.</p>",
        "simpleType" : "GlobalSignOutRequest",
        "variableSetterType" : "GlobalSignOutRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GlobalSignOutResult",
        "documentation" : "<p>The response to the request to sign out all devices.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>"
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GlobalSignOutResult",
      "asyncReturnType" : "GlobalSignOutResult",
      "asyncFutureType" : "java.util.concurrent.Future<GlobalSignOutResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GlobalSignOutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GlobalSignOutRequest, GlobalSignOutResult>",
      "authenticated" : true,
      "methodName" : "globalSignOut"
    },
    "InitiateAuth" : {
      "documentation" : "<p>Initiates the authentication flow.</p>",
      "operationName" : "InitiateAuth",
      "deprecated" : false,
      "input" : {
        "variableName" : "initiateAuthRequest",
        "variableType" : "InitiateAuthRequest",
        "variableDeclarationType" : "InitiateAuthRequest",
        "documentation" : "<p>Initiates the authentication request.</p>",
        "simpleType" : "InitiateAuthRequest",
        "variableSetterType" : "InitiateAuthRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "InitiateAuthResult",
        "documentation" : "<p>Initiates the authentication response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>"
      }, {
[...]
