{
  "metadata" : {
    "apiVersion" : "2014-11-13",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>Amazon EC2 Container Service (Amazon ECS) is a highly scalable, fast, container management service that makes it easy to run, stop, and manage Docker containers on a cluster of EC2 instances. Amazon ECS lets you launch and stop container-enabled applications with simple API calls, allows you to get the state of your cluster from a centralized service, and gives you access to many familiar Amazon EC2 features like security groups, Amazon EBS volumes, and IAM roles.</p> <p>You can use Amazon ECS to schedule the placement of containers across your cluster based on your resource needs, isolation policies, and availability requirements. Amazon EC2 Container Service eliminates the need for you to operate your own cluster management and configuration management systems or worry about scaling your management infrastructure.</p>",
    "defaultEndpoint" : "https://ecs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ecs.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonECS",
    "syncClient" : "AmazonECSClient",
    "asyncInterface" : "AmazonECSAsync",
    "asyncClient" : "AmazonECSAsyncClient",
    "packageName" : "com.amazonaws.services.ecs",
    "packagePath" : "com/amazonaws/services/ecs",
    "serviceAbbreviation" : "Amazon ECS",
    "serviceFullName" : "Amazon EC2 Container Service",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "ecs",
    "signingName" : "ecs",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonECSClientBuilder",
    "asyncClientBuilderClassName" : "AmazonECSAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonECSModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.ecs.smoketests",
    "serviceName" : "Amazon ECS",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "CreateCluster" : {
      "documentation" : "<p>Creates a new Amazon ECS cluster. By default, your account receives a <code>default</code> cluster when you launch your first container instance. However, you can create your own cluster with a unique name with the <code>CreateCluster</code> action.</p>",
      "operationName" : "CreateCluster",
      "deprecated" : false,
      "input" : {
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "variableDeclarationType" : "CreateClusterRequest",
        "documentation" : "",
        "variableSetterType" : "CreateClusterRequest",
        "simpleType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateClusterResult",
      "asyncReturnType" : "CreateClusterResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "authenticated" : true,
      "methodName" : "createCluster"
    },
    "CreateService" : {
      "documentation" : "<p>Runs and maintains a desired number of tasks from a specified task definition. If the number of tasks running in a service drops below <code>desiredCount</code>, Amazon ECS spawns another instantiation of the task in the specified cluster. To update an existing service, see <a>UpdateService</a>.</p> <p>In addition to maintaining the desired count of tasks in your service, you can optionally run your service behind a load balancer. The load balancer distributes traffic across the tasks that are associated with the service.</p> <p>You can optionally specify a deployment configuration for your service. During a deployment (which is triggered by changing the task definition of a service with an <a>UpdateService</a> operation), the service scheduler uses the <code>minimumHealthyPercent</code> and <code>maximumPercent</code> parameters to determine the deployment strategy.</p> <p>If the <code>minimumHealthyPercent</code> is below 100%, the scheduler can ignore the <code>desiredCount</code> temporarily during a deployment. For example, if your service has a <code>desiredCount</code> of four tasks, a <code>minimumHealthyPercent</code> of 50% allows the scheduler to stop two existing tasks before starting two new tasks. Tasks for services that <i>do not</i> use a load balancer are considered healthy if they are in the <code>RUNNING</code> state; tasks for services that <i>do</i> use a load balancer are considered healthy if they are in the <code>RUNNING</code> state and the container instance it is hosted on is reported as healthy by the load balancer. The default value for <code>minimumHealthyPercent</code> is 50% in the console and 100% for the AWS CLI, the AWS SDKs, and the APIs.</p> <p>The <code>maximumPercent</code> parameter represents an upper limit on the number of running tasks during a deployment, which enables you to define the deployment batch size. For example, if your service has a <code>desiredCount</code> of four tasks, a <code>maximumPercent</code> value of 200% starts four new tasks before stopping the four older tasks (provided that the cluster resources required to do this are available). The default value for <code>maximumPercent</code> is 200%.</p> <p>When the service scheduler launches new tasks, it attempts to balance them across the Availability Zones in your cluster with the following logic:</p> <ul> <li> <p>Determine which of the container instances in your cluster can support your service's task definition (for example, they have the required CPU, memory, ports, and container instance attributes).</p> </li> <li> <p>Sort the valid container instances by the fewest number of running tasks for this service in the same Availability Zone as the instance. For example, if zone A has one running service task and zones B and C each have zero, valid container instances in either zone B or C are considered optimal for placement.</p> </li> <li> <p>Place the new service task on a valid container instance in an optimal Availability Zone (based on the previous steps), favoring container instances with the fewest number of running tasks for this service.</p> </li> </ul>",
      "operationName" : "CreateService",
      "deprecated" : false,
      "input" : {
        "variableName" : "createServiceRequest",
        "variableType" : "CreateServiceRequest",
        "variableDeclarationType" : "CreateServiceRequest",
        "documentation" : "",
        "variableSetterType" : "CreateServiceRequest",
        "simpleType" : "CreateServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateServiceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateServiceResult",
      "asyncReturnType" : "CreateServiceResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateServiceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateServiceRequest, CreateServiceResult>",
      "authenticated" : true,
      "methodName" : "createService"
    },
    "DeleteCluster" : {
      "documentation" : "<p>Deletes the specified cluster. You must deregister all container instances from this cluster before you may delete it. You can list the container instances in a cluster with <a>ListContainerInstances</a> and deregister them with <a>DeregisterContainerInstance</a>.</p>",
      "operationName" : "DeleteCluster",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteClusterRequest",
        "variableType" : "DeleteClusterRequest",
        "variableDeclarationType" : "DeleteClusterRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteClusterRequest",
        "simpleType" : "DeleteClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteClusterResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      }, {
        "exceptionName" : "ClusterContainsContainerInstancesException",
        "documentation" : "<p>You cannot delete a cluster that has registered container instances. You must first deregister the container instances before you can delete the cluster. For more information, see <a>DeregisterContainerInstance</a>.</p>"
      }, {
        "exceptionName" : "ClusterContainsServicesException",
        "documentation" : "<p>You cannot delete a cluster that contains services. You must first update the service to reduce its desired task count to 0 and then delete the service. For more information, see <a>UpdateService</a> and <a>DeleteService</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteClusterResult",
      "asyncReturnType" : "DeleteClusterResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteClusterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClusterRequest, DeleteClusterResult>",
      "authenticated" : true,
      "methodName" : "deleteCluster"
    },
    "DeleteService" : {
      "documentation" : "<p>Deletes a specified service within a cluster. You can delete a service if you have no running tasks in it and the desired task count is zero. If the service is actively maintaining tasks, you cannot delete it, and you must update the service to a desired task count of zero. For more information, see <a>UpdateService</a>.</p> <note> <p>When you delete a service, if there are still running tasks that require cleanup, the service status moves from <code>ACTIVE</code> to <code>DRAINING</code>, and the service is no longer visible in the console or in <a>ListServices</a> API operations. After the tasks have stopped, then the service status moves from <code>DRAINING</code> to <code>INACTIVE</code>. Services in the <code>DRAINING</code> or <code>INACTIVE</code> status can still be viewed with <a>DescribeServices</a> API operations; however, in the future, <code>INACTIVE</code> services may be cleaned up and purged from Amazon ECS record keeping, and <a>DescribeServices</a> API operations on those services will return a <code>ServiceNotFoundException</code> error.</p> </note>",
      "operationName" : "DeleteService",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteServiceRequest",
        "variableType" : "DeleteServiceRequest",
        "variableDeclarationType" : "DeleteServiceRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteServiceRequest",
        "simpleType" : "DeleteServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteServiceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>The specified service could not be found. You can view your available services with <a>ListServices</a>. Amazon ECS services are cluster-specific and region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteServiceResult",
      "asyncReturnType" : "DeleteServiceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServiceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServiceRequest, DeleteServiceResult>",
      "authenticated" : true,
      "methodName" : "deleteService"
    },
    "DeregisterContainerInstance" : {
      "documentation" : "<p>Deregisters an Amazon ECS container instance from the specified cluster. This instance is no longer available to run tasks.</p> <p>If you intend to use the container instance for some other purpose after deregistration, you should stop all of the tasks running on the container instance before deregistration to avoid any orphaned tasks from consuming resources.</p> <p>Deregistering a container instance removes the instance from a cluster, but it does not terminate the EC2 instance; if you are finished using the instance, be sure to terminate it in the Amazon EC2 console to stop billing.</p> <note> <p>If you terminate a running container instance with a connected Amazon ECS container agent, the agent automatically deregisters the instance from your cluster (stopped container instances or instances with disconnected agents are not automatically deregistered when terminated).</p> </note>",
      "operationName" : "DeregisterContainerInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "deregisterContainerInstanceRequest",
        "variableType" : "DeregisterContainerInstanceRequest",
        "variableDeclarationType" : "DeregisterContainerInstanceRequest",
        "documentation" : "",
        "variableSetterType" : "DeregisterContainerInstanceRequest",
        "simpleType" : "DeregisterContainerInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeregisterContainerInstanceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeregisterContainerInstanceResult",
      "asyncReturnType" : "DeregisterContainerInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterContainerInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterContainerInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterContainerInstanceRequest, DeregisterContainerInstanceResult>",
      "authenticated" : true,
      "methodName" : "deregisterContainerInstance"
    },
    "DeregisterTaskDefinition" : {
      "documentation" : "<p>Deregisters the specified task definition by family and revision. Upon deregistration, the task definition is marked as <code>INACTIVE</code>. Existing tasks and services that reference an <code>INACTIVE</code> task definition continue to run without disruption. Existing services that reference an <code>INACTIVE</code> task definition can still scale up or down by modifying the service's desired count.</p> <p>You cannot use an <code>INACTIVE</code> task definition to run new tasks or create new services, and you cannot update an existing service to reference an <code>INACTIVE</code> task definition (although there may be up to a 10 minute window following deregistration where these restrictions have not yet taken effect).</p>",
      "operationName" : "DeregisterTaskDefinition",
      "deprecated" : false,
      "input" : {
        "variableName" : "deregisterTaskDefinitionRequest",
        "variableType" : "DeregisterTaskDefinitionRequest",
        "variableDeclarationType" : "DeregisterTaskDefinitionRequest",
        "documentation" : "",
        "variableSetterType" : "DeregisterTaskDefinitionRequest",
        "simpleType" : "DeregisterTaskDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeregisterTaskDefinitionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeregisterTaskDefinitionResult",
      "asyncReturnType" : "DeregisterTaskDefinitionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterTaskDefinitionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterTaskDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterTaskDefinitionRequest, DeregisterTaskDefinitionResult>",
      "authenticated" : true,
      "methodName" : "deregisterTaskDefinition"
    },
    "DescribeClusters" : {
      "documentation" : "<p>Describes one or more of your clusters.</p>",
      "operationName" : "DescribeClusters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeClustersRequest",
        "variableType" : "DescribeClustersRequest",
        "variableDeclarationType" : "DescribeClustersRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeClustersRequest",
        "simpleType" : "DescribeClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeClustersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeClustersResult",
      "asyncReturnType" : "DescribeClustersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClustersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClustersRequest, DescribeClustersResult>",
      "authenticated" : true,
      "methodName" : "describeClusters"
    },
    "DescribeContainerInstances" : {
      "documentation" : "<p>Describes Amazon EC2 Container Service container instances. Returns metadata about registered and remaining resources on each container instance requested.</p>",
      "operationName" : "DescribeContainerInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeContainerInstancesRequest",
        "variableType" : "DescribeContainerInstancesRequest",
        "variableDeclarationType" : "DescribeContainerInstancesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeContainerInstancesRequest",
        "simpleType" : "DescribeContainerInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeContainerInstancesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeContainerInstancesResult",
      "asyncReturnType" : "DescribeContainerInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeContainerInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeContainerInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeContainerInstancesRequest, DescribeContainerInstancesResult>",
      "authenticated" : true,
      "methodName" : "describeContainerInstances"
    },
    "DescribeServices" : {
      "documentation" : "<p>Describes the specified services running in your cluster.</p>",
      "operationName" : "DescribeServices",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeServicesRequest",
        "variableType" : "DescribeServicesRequest",
        "variableDeclarationType" : "DescribeServicesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeServicesRequest",
        "simpleType" : "DescribeServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeServicesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeServicesResult",
      "asyncReturnType" : "DescribeServicesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServicesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServicesRequest, DescribeServicesResult>",
      "authenticated" : true,
      "methodName" : "describeServices"
    },
    "DescribeTaskDefinition" : {
      "documentation" : "<p>Describes a task definition. You can specify a <code>family</code> and <code>revision</code> to find information about a specific task definition, or you can simply specify the family to find the latest <code>ACTIVE</code> revision in that family.</p> <note> <p>You can only describe <code>INACTIVE</code> task definitions while an active task or service references them.</p> </note>",
      "operationName" : "DescribeTaskDefinition",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTaskDefinitionRequest",
        "variableType" : "DescribeTaskDefinitionRequest",
        "variableDeclarationType" : "DescribeTaskDefinitionRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeTaskDefinitionRequest",
        "simpleType" : "DescribeTaskDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTaskDefinitionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeTaskDefinitionResult",
      "asyncReturnType" : "DescribeTaskDefinitionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTaskDefinitionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTaskDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTaskDefinitionRequest, DescribeTaskDefinitionResult>",
      "authenticated" : true,
      "methodName" : "describeTaskDefinition"
    },
    "DescribeTasks" : {
      "documentation" : "<p>Describes a specified task or tasks.</p>",
      "operationName" : "DescribeTasks",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTasksRequest",
        "variableType" : "DescribeTasksRequest",
        "variableDeclarationType" : "DescribeTasksRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeTasksRequest",
        "simpleType" : "DescribeTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTasksResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeTasksResult",
      "asyncReturnType" : "DescribeTasksResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTasksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTasksRequest, DescribeTasksResult>",
      "authenticated" : true,
      "methodName" : "describeTasks"
    },
    "DiscoverPollEndpoint" : {
      "documentation" : "<note> <p>This action is only used by the Amazon EC2 Container Service agent, and it is not intended for use outside of the agent.</p> </note> <p>Returns an endpoint for the Amazon EC2 Container Service agent to poll for updates.</p>",
      "operationName" : "DiscoverPollEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "discoverPollEndpointRequest",
        "variableType" : "DiscoverPollEndpointRequest",
        "variableDeclarationType" : "DiscoverPollEndpointRequest",
        "documentation" : "",
        "variableSetterType" : "DiscoverPollEndpointRequest",
        "simpleType" : "DiscoverPollEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DiscoverPollEndpointResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DiscoverPollEndpointResult",
      "asyncReturnType" : "DiscoverPollEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<DiscoverPollEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DiscoverPollEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DiscoverPollEndpointRequest, DiscoverPollEndpointResult>",
      "authenticated" : true,
      "methodName" : "discoverPollEndpoint"
    },
    "ListClusters" : {
      "documentation" : "<p>Returns a list of existing clusters.</p>",
      "operationName" : "ListClusters",
      "deprecated" : false,
      "input" : {
        "variableName" : "listClustersRequest",
        "variableType" : "ListClustersRequest",
        "variableDeclarationType" : "ListClustersRequest",
        "documentation" : "",
        "variableSetterType" : "ListClustersRequest",
        "simpleType" : "ListClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListClustersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListClustersResult",
      "asyncReturnType" : "ListClustersResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersRequest, ListClustersResult>",
      "authenticated" : true,
      "methodName" : "listClusters"
    },
    "ListContainerInstances" : {
      "documentation" : "<p>Returns a list of container instances in a specified cluster.</p>",
      "operationName" : "ListContainerInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "listContainerInstancesRequest",
        "variableType" : "ListContainerInstancesRequest",
        "variableDeclarationType" : "ListContainerInstancesRequest",
        "documentation" : "",
        "variableSetterType" : "ListContainerInstancesRequest",
        "simpleType" : "ListContainerInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListContainerInstancesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListContainerInstancesResult",
      "asyncReturnType" : "ListContainerInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListContainerInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListContainerInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListContainerInstancesRequest, ListContainerInstancesResult>",
      "authenticated" : true,
      "methodName" : "listContainerInstances"
    },
    "ListServices" : {
      "documentation" : "<p>Lists the services that are running in a specified cluster.</p>",
      "operationName" : "ListServices",
      "deprecated" : false,
      "input" : {
        "variableName" : "listServicesRequest",
        "variableType" : "ListServicesRequest",
        "variableDeclarationType" : "ListServicesRequest",
        "documentation" : "",
        "variableSetterType" : "ListServicesRequest",
        "simpleType" : "ListServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListServicesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListServicesResult",
      "asyncReturnType" : "ListServicesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListServicesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServicesRequest, ListServicesResult>",
      "authenticated" : true,
      "methodName" : "listServices"
    },
    "ListTaskDefinitionFamilies" : {
      "documentation" : "<p>Returns a list of task definition families that are registered to your account (which may include task definition families that no longer have any <code>ACTIVE</code> task definition revisions).</p> <p>You can filter out task definition families that do not contain any <code>ACTIVE</code> task definition revisions by setting the <code>status</code> parameter to <code>ACTIVE</code>. You can also filter the results with the <code>familyPrefix</code> parameter.</p>",
      "operationName" : "ListTaskDefinitionFamilies",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTaskDefinitionFamiliesRequest",
        "variableType" : "ListTaskDefinitionFamiliesRequest",
        "variableDeclarationType" : "ListTaskDefinitionFamiliesRequest",
        "documentation" : "",
        "variableSetterType" : "ListTaskDefinitionFamiliesRequest",
        "simpleType" : "ListTaskDefinitionFamiliesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTaskDefinitionFamiliesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTaskDefinitionFamiliesResult",
      "asyncReturnType" : "ListTaskDefinitionFamiliesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTaskDefinitionFamiliesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTaskDefinitionFamiliesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTaskDefinitionFamiliesRequest, ListTaskDefinitionFamiliesResult>",
      "authenticated" : true,
      "methodName" : "listTaskDefinitionFamilies"
    },
    "ListTaskDefinitions" : {
      "documentation" : "<p>Returns a list of task definitions that are registered to your account. You can filter the results by family name with the <code>familyPrefix</code> parameter or by status with the <code>status</code> parameter.</p>",
      "operationName" : "ListTaskDefinitions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTaskDefinitionsRequest",
        "variableType" : "ListTaskDefinitionsRequest",
        "variableDeclarationType" : "ListTaskDefinitionsRequest",
        "documentation" : "",
        "variableSetterType" : "ListTaskDefinitionsRequest",
        "simpleType" : "ListTaskDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTaskDefinitionsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTaskDefinitionsResult",
      "asyncReturnType" : "ListTaskDefinitionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTaskDefinitionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTaskDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTaskDefinitionsRequest, ListTaskDefinitionsResult>",
      "authenticated" : true,
      "methodName" : "listTaskDefinitions"
    },
    "ListTasks" : {
      "documentation" : "<p>Returns a list of tasks for a specified cluster. You can filter the results by family name, by a particular container instance, or by the desired status of the task with the <code>family</code>, <code>containerInstance</code>, and <code>desiredStatus</code> parameters.</p> <p>Recently-stopped tasks might appear in the returned results. Currently, stopped tasks appear in the returned results for at least one hour. </p>",
      "operationName" : "ListTasks",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTasksRequest",
        "variableType" : "ListTasksRequest",
        "variableDeclarationType" : "ListTasksRequest",
        "documentation" : "",
        "variableSetterType" : "ListTasksRequest",
        "simpleType" : "ListTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTasksResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>The specified service could not be found. You can view your available services with <a>ListServices</a>. Amazon ECS services are cluster-specific and region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTasksResult",
      "asyncReturnType" : "ListTasksResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTasksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTasksRequest, ListTasksResult>",
      "authenticated" : true,
      "methodName" : "listTasks"
    },
    "RegisterContainerInstance" : {
      "documentation" : "<note> <p>This action is only used by the Amazon EC2 Container Service agent, and it is not intended for use outside of the agent.</p> </note> <p>Registers an EC2 instance into the specified cluster. This instance becomes available to place containers on.</p>",
      "operationName" : "RegisterContainerInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerContainerInstanceRequest",
        "variableType" : "RegisterContainerInstanceRequest",
        "variableDeclarationType" : "RegisterContainerInstanceRequest",
        "documentation" : "",
        "variableSetterType" : "RegisterContainerInstanceRequest",
        "simpleType" : "RegisterContainerInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterContainerInstanceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RegisterContainerInstanceResult",
      "asyncReturnType" : "RegisterContainerInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterContainerInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterContainerInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterContainerInstanceRequest, RegisterContainerInstanceResult>",
      "authenticated" : true,
      "methodName" : "registerContainerInstance"
    },
    "RegisterTaskDefinition" : {
      "documentation" : "<p>Registers a new task definition from the supplied <code>family</code> and <code>containerDefinitions</code>. Optionally, you can add data volumes to your containers with the <code>volumes</code> parameter. For more information about task definition parameters and defaults, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_defintions.html\">Amazon ECS Task Definitions</a> in the <i>Amazon EC2 Container Service Developer Guide</i>.</p> <p>You may also specify an IAM role for your task with the <code>taskRoleArn</code> parameter. When you specify an IAM role for a task, its containers can then use the latest versions of the AWS CLI or SDKs to make API requests to the AWS services that are specified in the IAM policy associated with the role. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html\">IAM Roles for Tasks</a> in the <i>Amazon EC2 Container Service Developer Guide</i>.</p>",
      "operationName" : "RegisterTaskDefinition",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerTaskDefinitionRequest",
        "variableType" : "RegisterTaskDefinitionRequest",
        "variableDeclarationType" : "RegisterTaskDefinitionRequest",
        "documentation" : "",
        "variableSetterType" : "RegisterTaskDefinitionRequest",
        "simpleType" : "RegisterTaskDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterTaskDefinitionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RegisterTaskDefinitionResult",
      "asyncReturnType" : "RegisterTaskDefinitionResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterTaskDefinitionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterTaskDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterTaskDefinitionRequest, RegisterTaskDefinitionResult>",
      "authenticated" : true,
      "methodName" : "registerTaskDefinition"
    },
    "RunTask" : {
      "documentation" : "<p>Start a task using random placement and the default Amazon ECS scheduler. To use your own scheduler or place a task on a specific container instance, use <code>StartTask</code> instead.</p> <important> <p>The <code>count</code> parameter is limited to 10 tasks per call.</p> </important>",
      "operationName" : "RunTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "runTaskRequest",
        "variableType" : "RunTaskRequest",
        "variableDeclarationType" : "RunTaskRequest",
        "documentation" : "",
        "variableSetterType" : "RunTaskRequest",
        "simpleType" : "RunTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RunTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RunTaskResult",
      "asyncReturnType" : "RunTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<RunTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RunTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RunTaskRequest, RunTaskResult>",
      "authenticated" : true,
      "methodName" : "runTask"
    },
    "StartTask" : {
      "documentation" : "<p>Starts a new task from the specified task definition on the specified container instance or instances. To use the default Amazon ECS scheduler to place your task, use <code>RunTask</code> instead.</p> <important> <p>The list of container instances to start tasks on is limited to 10.</p> </important>",
      "operationName" : "StartTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "startTaskRequest",
        "variableType" : "StartTaskRequest",
        "variableDeclarationType" : "StartTaskRequest",
        "documentation" : "",
        "variableSetterType" : "StartTaskRequest",
        "simpleType" : "StartTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "StartTaskResult",
      "asyncReturnType" : "StartTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTaskRequest, StartTaskResult>",
      "authenticated" : true,
      "methodName" : "startTask"
    },
    "StopTask" : {
      "documentation" : "<p>Stops a running task.</p> <p>When <a>StopTask</a> is called on a task, the equivalent of <code>docker stop</code> is issued to the containers running in the task. This results in a <code>SIGTERM</code> and a 30-second timeout, after which <code>SIGKILL</code> is sent and the containers are forcibly stopped. If the container handles the <code>SIGTERM</code> gracefully and exits within 30 seconds from receiving it, no <code>SIGKILL</code> is sent.</p>",
      "operationName" : "StopTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopTaskRequest",
        "variableType" : "StopTaskRequest",
        "variableDeclarationType" : "StopTaskRequest",
        "documentation" : "",
        "variableSetterType" : "StopTaskRequest",
        "simpleType" : "StopTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "StopTaskResult",
      "asyncReturnType" : "StopTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopTaskRequest, StopTaskResult>",
      "authenticated" : true,
      "methodName" : "stopTask"
    },
    "SubmitContainerStateChange" : {
      "documentation" : "<note> <p>This action is only used by the Amazon EC2 Container Service agent, and it is not intended for use outside of the agent.</p> </note> <p>Sent to acknowledge that a container changed states.</p>",
      "operationName" : "SubmitContainerStateChange",
      "deprecated" : false,
      "input" : {
        "variableName" : "submitContainerStateChangeRequest",
        "variableType" : "SubmitContainerStateChangeRequest",
        "variableDeclarationType" : "SubmitContainerStateChangeRequest",
        "documentation" : "",
        "variableSetterType" : "SubmitContainerStateChangeRequest",
        "simpleType" : "SubmitContainerStateChangeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SubmitContainerStateChangeResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SubmitContainerStateChangeResult",
      "asyncReturnType" : "SubmitContainerStateChangeResult",
      "asyncFutureType" : "java.util.concurrent.Future<SubmitContainerStateChangeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SubmitContainerStateChangeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubmitContainerStateChangeRequest, SubmitContainerStateChangeResult>",
      "authenticated" : true,
      "methodName" : "submitContainerStateChange"
    },
    "SubmitTaskStateChange" : {
      "documentation" : "<note> <p>This action is only used by the Amazon EC2 Container Service agent, and it is not intended for use outside of the agent.</p> </note> <p>Sent to acknowledge that a task changed states.</p>",
      "operationName" : "SubmitTaskStateChange",
      "deprecated" : false,
      "input" : {
        "variableName" : "submitTaskStateChangeRequest",
        "variableType" : "SubmitTaskStateChangeRequest",
        "variableDeclarationType" : "SubmitTaskStateChangeRequest",
        "documentation" : "",
        "variableSetterType" : "SubmitTaskStateChangeRequest",
        "simpleType" : "SubmitTaskStateChangeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SubmitTaskStateChangeResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SubmitTaskStateChangeResult",
      "asyncReturnType" : "SubmitTaskStateChangeResult",
      "asyncFutureType" : "java.util.concurrent.Future<SubmitTaskStateChangeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SubmitTaskStateChangeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubmitTaskStateChangeRequest, SubmitTaskStateChangeResult>",
      "authenticated" : true,
      "methodName" : "submitTaskStateChange"
    },
    "UpdateContainerAgent" : {
      "documentation" : "<p>Updates the Amazon ECS container agent on a specified container instance. Updating the Amazon ECS container agent does not interrupt running tasks or services on the container instance. The process for updating the agent differs depending on whether your container instance was launched with the Amazon ECS-optimized AMI or another operating system.</p> <p> <code>UpdateContainerAgent</code> requires the Amazon ECS-optimized AMI or Amazon Linux with the <code>ecs-init</code> service installed and running. For help updating the Amazon ECS container agent on other operating systems, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-update.html#manually_update_agent\">Manually Updating the Amazon ECS Container Agent</a> in the <i>Amazon EC2 Container Service Developer Guide</i>.</p>",
      "operationName" : "UpdateContainerAgent",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateContainerAgentRequest",
        "variableType" : "UpdateContainerAgentRequest",
        "variableDeclarationType" : "UpdateContainerAgentRequest",
        "documentation" : "",
        "variableSetterType" : "UpdateContainerAgentRequest",
        "simpleType" : "UpdateContainerAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateContainerAgentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      }, {
        "exceptionName" : "UpdateInProgressException",
        "documentation" : "<p>There is already a current Amazon ECS container agent update in progress on the specified container instance. If the container agent becomes disconnected while it is in a transitional stage, such as <code>PENDING</code> or <code>STAGING</code>, the update process can get stuck in that state. However, when the agent reconnects, it resumes where it stopped previously.</p>"
      }, {
        "exceptionName" : "NoUpdateAvailableException",
        "documentation" : "<p>There is no update available for this Amazon ECS container agent. This could be because the agent is already running the latest version, or it is so old that there is no update path to the current version.</p>"
      }, {
        "exceptionName" : "MissingVersionException",
        "documentation" : "<p>Amazon ECS is unable to determine the current version of the Amazon ECS container agent on the container instance and does not have enough information to proceed with an update. This could be because the agent running on the container instance is an older or custom version that does not use our version information.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateContainerAgentResult",
      "asyncReturnType" : "UpdateContainerAgentResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateContainerAgentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateContainerAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateContainerAgentRequest, UpdateContainerAgentResult>",
      "authenticated" : true,
      "methodName" : "updateContainerAgent"
    },
    "UpdateService" : {
      "documentation" : "<p>Modifies the desired count, deployment configuration, or task definition used in a service.</p> <p>You can add to or subtract from the number of instantiations of a task definition in a service by specifying the cluster that the service is running in and a new <code>desiredCount</code> parameter.</p> <p>You can use <a>UpdateService</a> to modify your task definition and deploy a new version of your service.</p> <p>You can also update the deployment configuration of a service. When a deployment is triggered by updating the task definition of a service, the service scheduler uses the deployment configuration parameters, <code>minimumHealthyPercent</code> and <code>maximumPercent</code>, to determine the deployment strategy.</p> <p>If the <code>minimumHealthyPercent</code> is below 100%, the scheduler can ignore the <code>desiredCount</code> temporarily during a deployment. For example, if your service has a <code>desiredCount</code> of four tasks, a <code>minimumHealthyPercent</code> of 50% allows the scheduler to stop two existing tasks before starting two new tasks. Tasks for services that <i>do not</i> use a load balancer are considered healthy if they are in the <code>RUNNING</code> state; tasks for services that <i>do</i> use a load balancer are considered healthy if they are in the <code>RUNNING</code> state and the container instance it is hosted on is reported as healthy by the load balancer.</p> <p>The <code>maximumPercent</code> parameter represents an upper limit on the number of running tasks during a deployment, which enables you to define the deployment batch size. For example, if your service has a <code>desiredCount</code> of four tasks, a <code>maximumPercent</code> value of 200% starts four new tasks before stopping the four older tasks (provided that the cluster resources required to do this are available).</p> <p>When <a>UpdateService</a> stops a task during a deployment, the equivalent of <code>docker stop</code> is issued to the containers running in the task. This results in a <code>SIGTERM</code> and a 30-second timeout, after which <code>SIGKILL</code> is sent and the containers are forcibly stopped. If the container handles the <code>SIGTERM</code> gracefully and exits within 30 seconds from receiving it, no <code>SIGKILL</code> is sent.</p> <p>When the service scheduler launches new tasks, it attempts to balance them across the Availability Zones in your cluster with the following logic:</p> <ul> <li> <p>Determine which of the container instances in your cluster can support your service's task definition (for example, they have the required CPU, memory, ports, and container instance attributes).</p> </li> <li> <p>Sort the valid container instances by the fewest number of running tasks for this service in the same Availability Zone as the instance. For example, if zone A has one running service task and zones B and C each have zero, valid container instances in either zone B or C are considered optimal for placement.</p> </li> <li> <p>Place the new service task on a valid container instance in an optimal Availability Zone (based on the previous steps), favoring container instances with the fewest number of running tasks for this service.</p> </li> </ul>",
      "operationName" : "UpdateService",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateServiceRequest",
        "variableType" : "UpdateServiceRequest",
        "variableDeclarationType" : "UpdateServiceRequest",
        "documentation" : "",
        "variableSetterType" : "UpdateServiceRequest",
        "simpleType" : "UpdateServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateServiceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>The specified service could not be found. You can view your available services with <a>ListServices</a>. Amazon ECS services are cluster-specific and region-specific.</p>"
      }, {
        "exceptionName" : "ServiceNotActiveException",
        "documentation" : "<p>The specified service is not active. You cannot update a service that is not active. If you have previously deleted a service, you can re-create it with <a>CreateService</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateServiceResult",
      "asyncReturnType" : "UpdateServiceResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceRequest, UpdateServiceResult>",
      "authenticated" : true,
      "methodName" : "updateService"
    }
  },
  "shapes" : {
    "RegisterContainerInstanceResult" : {
      "c2jName" : "RegisterContainerInstanceResponse",
      "documentation" : "",
      "shapeName" : "RegisterContainerInstanceResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "ContainerInstance",
        "c2jName" : "containerInstance",
        "c2jShape" : "ContainerInstance",
        "variable" : {
          "variableName" : "containerInstance",
          "variableType" : "ContainerInstance",
          "variableDeclarationType" : "ContainerInstance",
          "documentation" : "",
          "variableSetterType" : "ContainerInstance",
          "simpleType" : "ContainerInstance"
        },
        "setterModel" : {
          "variableName" : "containerInstance",
          "variableType" : "ContainerInstance",
          "variableDeclarationType" : "ContainerInstance",
          "documentation" : "",
          "variableSetterType" : "ContainerInstance",
          "simpleType" : "ContainerInstance"
        },
        "getterModel" : {
          "returnType" : "ContainerInstance",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "containerInstance",
          "marshallLocationName" : "containerInstance",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param containerInstance */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param containerInstance \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param containerInstance \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "registerContainerInstanceResult",
        "variableType" : "RegisterContainerInstanceResult",
        "variableDeclarationType" : "RegisterContainerInstanceResult",
        "documentation" : null,
        "variableSetterType" : "RegisterContainerInstanceResult",
        "simpleType" : "RegisterContainerInstanceResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ContainerInstance" : {
          "documentation" : "",
          "name" : "ContainerInstance",
          "c2jName" : "containerInstance",
          "c2jShape" : "ContainerInstance",
          "variable" : {
            "variableName" : "containerInstance",
            "variableType" : "ContainerInstance",
            "variableDeclarationType" : "ContainerInstance",
            "documentation" : "",
            "variableSetterType" : "ContainerInstance",
            "simpleType" : "ContainerInstance"
          },
          "setterModel" : {
            "variableName" : "containerInstance",
            "variableType" : "ContainerInstance",
            "variableDeclarationType" : "ContainerInstance",
            "documentation" : "",
            "variableSetterType" : "ContainerInstance",
            "simpleType" : "ContainerInstance"
          },
          "getterModel" : {
            "returnType" : "ContainerInstance",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "containerInstance",
            "marshallLocationName" : "containerInstance",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param containerInstance */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param containerInstance \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param containerInstance \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ContainerDefinition" : {
      "c2jName" : "ContainerDefinition",
      "documentation" : "<p>Container definitions are used in task definitions to describe the different containers that are launched as part of a task.</p>",
      "shapeName" : "ContainerDefinition",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. </p>",
        "name" : "Name",
        "c2jName" : "name",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. </p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "name",
          "marshallLocationName" : "name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. </p>\n@param name The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.*/",
        "getterDocumentation" : "/**<p>The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. </p>\n@return The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.*/",
        "fluentSetterDocumentation" : "/**<p>The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. </p>\n@param name The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. </p>\n@param name The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <ul> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li> </ul>",
        "name" : "Image",
        "c2jName" : "image",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "image",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <ul> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li> </ul>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "image",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "image",
          "marshallLocationName" : "image",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <ul> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li> </ul>\n@param image The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <ul> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li>*/",
        "getterDocumentation" : "/**<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <ul> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li> </ul>\n@return The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <ul> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li>*/",
        "fluentSetterDocumentation" : "/**<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <ul> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li> </ul>\n@param image The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.19/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <ul> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
