{
  "metadata" : {
    "apiVersion" : "2016-02-16",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of your AWS resources and to identify potential security issues. For more information, see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_introduction.html\"> Amazon Inspector User Guide</a>.</p>",
    "defaultEndpoint" : "https://inspector.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "inspector.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonInspector",
    "syncClient" : "AmazonInspectorClient",
    "asyncInterface" : "AmazonInspectorAsync",
    "asyncClient" : "AmazonInspectorAsyncClient",
    "packageName" : "com.amazonaws.services.inspector",
    "packagePath" : "com/amazonaws/services/inspector",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Inspector",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "inspector",
    "signingName" : "inspector",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "cborProtocol" : false,
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "syncClientBuilderClassName" : "AmazonInspectorClientBuilder",
    "asyncClientBuilderClassName" : "AmazonInspectorAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonInspectorModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.inspector.smoketests",
    "serviceName" : "Amazon Inspector"
  },
  "operations" : {
    "AddAttributesToFindings" : {
      "documentation" : "<p>Assigns attributes (key and value pairs) to the findings that are specified by the ARNs of the findings.</p>",
      "operationName" : "AddAttributesToFindings",
      "deprecated" : false,
      "input" : {
        "variableName" : "addAttributesToFindingsRequest",
        "variableType" : "AddAttributesToFindingsRequest",
        "variableDeclarationType" : "AddAttributesToFindingsRequest",
        "documentation" : "",
        "simpleType" : "AddAttributesToFindingsRequest",
        "variableSetterType" : "AddAttributesToFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddAttributesToFindingsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddAttributesToFindingsResult",
      "asyncReturnType" : "AddAttributesToFindingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddAttributesToFindingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddAttributesToFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddAttributesToFindingsRequest, AddAttributesToFindingsResult>",
      "methodName" : "addAttributesToFindings"
    },
    "CreateAssessmentTarget" : {
      "documentation" : "<p>Creates a new assessment target using the ARN of the resource group that is generated by <a>CreateResourceGroup</a>. You can create up to 50 assessment targets per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html\"> Amazon Inspector Assessment Targets</a>.</p>",
      "operationName" : "CreateAssessmentTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAssessmentTargetRequest",
        "variableType" : "CreateAssessmentTargetRequest",
        "variableDeclarationType" : "CreateAssessmentTargetRequest",
        "documentation" : "",
        "simpleType" : "CreateAssessmentTargetRequest",
        "variableSetterType" : "CreateAssessmentTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAssessmentTargetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateAssessmentTargetResult",
      "asyncReturnType" : "CreateAssessmentTargetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssessmentTargetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssessmentTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssessmentTargetRequest, CreateAssessmentTargetResult>",
      "methodName" : "createAssessmentTarget"
    },
    "CreateAssessmentTemplate" : {
      "documentation" : "<p>Creates an assessment template for the assessment target that is specified by the ARN of the assessment target.</p>",
      "operationName" : "CreateAssessmentTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAssessmentTemplateRequest",
        "variableType" : "CreateAssessmentTemplateRequest",
        "variableDeclarationType" : "CreateAssessmentTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateAssessmentTemplateRequest",
        "variableSetterType" : "CreateAssessmentTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAssessmentTemplateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateAssessmentTemplateResult",
      "asyncReturnType" : "CreateAssessmentTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssessmentTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssessmentTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssessmentTemplateRequest, CreateAssessmentTemplateResult>",
      "methodName" : "createAssessmentTemplate"
    },
    "CreateResourceGroup" : {
      "documentation" : "<p>Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Amazon Inspector assessment target. The created resource group is then used to create an Amazon Inspector assessment target. For more information, see <a>CreateAssessmentTarget</a>.</p>",
      "operationName" : "CreateResourceGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createResourceGroupRequest",
        "variableType" : "CreateResourceGroupRequest",
        "variableDeclarationType" : "CreateResourceGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceGroupRequest",
        "variableSetterType" : "CreateResourceGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateResourceGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateResourceGroupResult",
      "asyncReturnType" : "CreateResourceGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceGroupRequest, CreateResourceGroupResult>",
      "methodName" : "createResourceGroup"
    },
    "DeleteAssessmentRun" : {
      "documentation" : "<p>Deletes the assessment run that is specified by the ARN of the assessment run.</p>",
      "operationName" : "DeleteAssessmentRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAssessmentRunRequest",
        "variableType" : "DeleteAssessmentRunRequest",
        "variableDeclarationType" : "DeleteAssessmentRunRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssessmentRunRequest",
        "variableSetterType" : "DeleteAssessmentRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAssessmentRunResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AssessmentRunInProgressException",
        "documentation" : "<p>You cannot perform a specified action if an assessment run is currently in progress.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteAssessmentRunResult",
      "asyncReturnType" : "DeleteAssessmentRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentRunRequest, DeleteAssessmentRunResult>",
      "methodName" : "deleteAssessmentRun"
    },
    "DeleteAssessmentTarget" : {
      "documentation" : "<p>Deletes the assessment target that is specified by the ARN of the assessment target.</p>",
      "operationName" : "DeleteAssessmentTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAssessmentTargetRequest",
        "variableType" : "DeleteAssessmentTargetRequest",
        "variableDeclarationType" : "DeleteAssessmentTargetRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssessmentTargetRequest",
        "variableSetterType" : "DeleteAssessmentTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAssessmentTargetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AssessmentRunInProgressException",
        "documentation" : "<p>You cannot perform a specified action if an assessment run is currently in progress.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteAssessmentTargetResult",
      "asyncReturnType" : "DeleteAssessmentTargetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentTargetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentTargetRequest, DeleteAssessmentTargetResult>",
      "methodName" : "deleteAssessmentTarget"
    },
    "DeleteAssessmentTemplate" : {
      "documentation" : "<p>Deletes the assessment template that is specified by the ARN of the assessment template.</p>",
      "operationName" : "DeleteAssessmentTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAssessmentTemplateRequest",
        "variableType" : "DeleteAssessmentTemplateRequest",
        "variableDeclarationType" : "DeleteAssessmentTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssessmentTemplateRequest",
        "variableSetterType" : "DeleteAssessmentTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAssessmentTemplateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AssessmentRunInProgressException",
        "documentation" : "<p>You cannot perform a specified action if an assessment run is currently in progress.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteAssessmentTemplateResult",
      "asyncReturnType" : "DeleteAssessmentTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentTemplateRequest, DeleteAssessmentTemplateResult>",
      "methodName" : "deleteAssessmentTemplate"
    },
    "DescribeAssessmentRuns" : {
      "documentation" : "<p>Describes the assessment runs that are specified by the ARNs of the assessment runs.</p>",
      "operationName" : "DescribeAssessmentRuns",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAssessmentRunsRequest",
        "variableType" : "DescribeAssessmentRunsRequest",
        "variableDeclarationType" : "DescribeAssessmentRunsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAssessmentRunsRequest",
        "variableSetterType" : "DescribeAssessmentRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAssessmentRunsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeAssessmentRunsResult",
      "asyncReturnType" : "DescribeAssessmentRunsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssessmentRunsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssessmentRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssessmentRunsRequest, DescribeAssessmentRunsResult>",
      "methodName" : "describeAssessmentRuns"
    },
    "DescribeAssessmentTargets" : {
      "documentation" : "<p>Describes the assessment targets that are specified by the ARNs of the assessment targets.</p>",
      "operationName" : "DescribeAssessmentTargets",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAssessmentTargetsRequest",
        "variableType" : "DescribeAssessmentTargetsRequest",
        "variableDeclarationType" : "DescribeAssessmentTargetsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAssessmentTargetsRequest",
        "variableSetterType" : "DescribeAssessmentTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAssessmentTargetsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeAssessmentTargetsResult",
      "asyncReturnType" : "DescribeAssessmentTargetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssessmentTargetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssessmentTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssessmentTargetsRequest, DescribeAssessmentTargetsResult>",
      "methodName" : "describeAssessmentTargets"
    },
    "DescribeAssessmentTemplates" : {
      "documentation" : "<p>Describes the assessment templates that are specified by the ARNs of the assessment templates.</p>",
      "operationName" : "DescribeAssessmentTemplates",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAssessmentTemplatesRequest",
        "variableType" : "DescribeAssessmentTemplatesRequest",
        "variableDeclarationType" : "DescribeAssessmentTemplatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAssessmentTemplatesRequest",
        "variableSetterType" : "DescribeAssessmentTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAssessmentTemplatesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeAssessmentTemplatesResult",
      "asyncReturnType" : "DescribeAssessmentTemplatesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssessmentTemplatesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssessmentTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssessmentTemplatesRequest, DescribeAssessmentTemplatesResult>",
      "methodName" : "describeAssessmentTemplates"
    },
    "DescribeCrossAccountAccessRole" : {
      "documentation" : "<p>Describes the IAM role that enables Amazon Inspector to access your AWS account.</p>",
      "operationName" : "DescribeCrossAccountAccessRole",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCrossAccountAccessRoleRequest",
        "variableType" : "DescribeCrossAccountAccessRoleRequest",
        "variableDeclarationType" : "DescribeCrossAccountAccessRoleRequest",
        "documentation" : null,
        "simpleType" : "DescribeCrossAccountAccessRoleRequest",
        "variableSetterType" : "DescribeCrossAccountAccessRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCrossAccountAccessRoleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeCrossAccountAccessRoleResult",
      "asyncReturnType" : "DescribeCrossAccountAccessRoleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCrossAccountAccessRoleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCrossAccountAccessRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCrossAccountAccessRoleRequest, DescribeCrossAccountAccessRoleResult>",
      "methodName" : "describeCrossAccountAccessRole"
    },
    "DescribeFindings" : {
      "documentation" : "<p>Describes the findings that are specified by the ARNs of the findings.</p>",
      "operationName" : "DescribeFindings",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeFindingsRequest",
        "variableType" : "DescribeFindingsRequest",
        "variableDeclarationType" : "DescribeFindingsRequest",
        "documentation" : "",
        "simpleType" : "DescribeFindingsRequest",
        "variableSetterType" : "DescribeFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeFindingsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeFindingsResult",
      "asyncReturnType" : "DescribeFindingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFindingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFindingsRequest, DescribeFindingsResult>",
      "methodName" : "describeFindings"
    },
    "DescribeResourceGroups" : {
      "documentation" : "<p>Describes the resource groups that are specified by the ARNs of the resource groups.</p>",
      "operationName" : "DescribeResourceGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeResourceGroupsRequest",
        "variableType" : "DescribeResourceGroupsRequest",
        "variableDeclarationType" : "DescribeResourceGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourceGroupsRequest",
        "variableSetterType" : "DescribeResourceGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeResourceGroupsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeResourceGroupsResult",
      "asyncReturnType" : "DescribeResourceGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourceGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourceGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourceGroupsRequest, DescribeResourceGroupsResult>",
      "methodName" : "describeResourceGroups"
    },
    "DescribeRulesPackages" : {
      "documentation" : "<p>Describes the rules packages that are specified by the ARNs of the rules packages.</p>",
      "operationName" : "DescribeRulesPackages",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeRulesPackagesRequest",
        "variableType" : "DescribeRulesPackagesRequest",
        "variableDeclarationType" : "DescribeRulesPackagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRulesPackagesRequest",
        "variableSetterType" : "DescribeRulesPackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeRulesPackagesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeRulesPackagesResult",
      "asyncReturnType" : "DescribeRulesPackagesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRulesPackagesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRulesPackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRulesPackagesRequest, DescribeRulesPackagesResult>",
      "methodName" : "describeRulesPackages"
    },
    "GetTelemetryMetadata" : {
      "documentation" : "<p>Information about the data that is collected for the specified assessment run.</p>",
      "operationName" : "GetTelemetryMetadata",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTelemetryMetadataRequest",
        "variableType" : "GetTelemetryMetadataRequest",
        "variableDeclarationType" : "GetTelemetryMetadataRequest",
        "documentation" : "",
        "simpleType" : "GetTelemetryMetadataRequest",
        "variableSetterType" : "GetTelemetryMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTelemetryMetadataResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetTelemetryMetadataResult",
      "asyncReturnType" : "GetTelemetryMetadataResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTelemetryMetadataResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTelemetryMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTelemetryMetadataRequest, GetTelemetryMetadataResult>",
      "methodName" : "getTelemetryMetadata"
    },
    "ListAssessmentRunAgents" : {
      "documentation" : "<p>Lists the agents of the assessment runs that are specified by the ARNs of the assessment runs.</p>",
      "operationName" : "ListAssessmentRunAgents",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAssessmentRunAgentsRequest",
        "variableType" : "ListAssessmentRunAgentsRequest",
        "variableDeclarationType" : "ListAssessmentRunAgentsRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentRunAgentsRequest",
        "variableSetterType" : "ListAssessmentRunAgentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAssessmentRunAgentsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListAssessmentRunAgentsResult",
      "asyncReturnType" : "ListAssessmentRunAgentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentRunAgentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentRunAgentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentRunAgentsRequest, ListAssessmentRunAgentsResult>",
      "methodName" : "listAssessmentRunAgents"
    },
    "ListAssessmentRuns" : {
      "documentation" : "<p>Lists the assessment runs that correspond to the assessment templates that are specified by the ARNs of the assessment templates.</p>",
      "operationName" : "ListAssessmentRuns",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAssessmentRunsRequest",
        "variableType" : "ListAssessmentRunsRequest",
        "variableDeclarationType" : "ListAssessmentRunsRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentRunsRequest",
        "variableSetterType" : "ListAssessmentRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAssessmentRunsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListAssessmentRunsResult",
      "asyncReturnType" : "ListAssessmentRunsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentRunsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentRunsRequest, ListAssessmentRunsResult>",
      "methodName" : "listAssessmentRuns"
    },
    "ListAssessmentTargets" : {
      "documentation" : "<p>Lists the ARNs of the assessment targets within this AWS account. For more information about assessment targets, see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html\">Amazon Inspector Assessment Targets</a>.</p>",
      "operationName" : "ListAssessmentTargets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAssessmentTargetsRequest",
        "variableType" : "ListAssessmentTargetsRequest",
        "variableDeclarationType" : "ListAssessmentTargetsRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentTargetsRequest",
        "variableSetterType" : "ListAssessmentTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAssessmentTargetsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListAssessmentTargetsResult",
      "asyncReturnType" : "ListAssessmentTargetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentTargetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentTargetsRequest, ListAssessmentTargetsResult>",
      "methodName" : "listAssessmentTargets"
    },
    "ListAssessmentTemplates" : {
      "documentation" : "<p>Lists the assessment templates that correspond to the assessment targets that are specified by the ARNs of the assessment targets.</p>",
      "operationName" : "ListAssessmentTemplates",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAssessmentTemplatesRequest",
        "variableType" : "ListAssessmentTemplatesRequest",
        "variableDeclarationType" : "ListAssessmentTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentTemplatesRequest",
        "variableSetterType" : "ListAssessmentTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAssessmentTemplatesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListAssessmentTemplatesResult",
      "asyncReturnType" : "ListAssessmentTemplatesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentTemplatesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentTemplatesRequest, ListAssessmentTemplatesResult>",
      "methodName" : "listAssessmentTemplates"
    },
    "ListEventSubscriptions" : {
      "documentation" : "<p>Lists all the event subscriptions for the assessment template that is specified by the ARN of the assessment template. For more information, see <a>SubscribeToEvent</a> and <a>UnsubscribeFromEvent</a>.</p>",
      "operationName" : "ListEventSubscriptions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listEventSubscriptionsRequest",
        "variableType" : "ListEventSubscriptionsRequest",
        "variableDeclarationType" : "ListEventSubscriptionsRequest",
        "documentation" : "",
        "simpleType" : "ListEventSubscriptionsRequest",
        "variableSetterType" : "ListEventSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListEventSubscriptionsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListEventSubscriptionsResult",
      "asyncReturnType" : "ListEventSubscriptionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventSubscriptionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventSubscriptionsRequest, ListEventSubscriptionsResult>",
      "methodName" : "listEventSubscriptions"
    },
    "ListFindings" : {
      "documentation" : "<p>Lists findings that are generated by the assessment runs that are specified by the ARNs of the assessment runs.</p>",
      "operationName" : "ListFindings",
      "deprecated" : false,
      "input" : {
        "variableName" : "listFindingsRequest",
        "variableType" : "ListFindingsRequest",
        "variableDeclarationType" : "ListFindingsRequest",
        "documentation" : "",
        "simpleType" : "ListFindingsRequest",
        "variableSetterType" : "ListFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListFindingsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListFindingsResult",
      "asyncReturnType" : "ListFindingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListFindingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFindingsRequest, ListFindingsResult>",
      "methodName" : "listFindings"
    },
    "ListRulesPackages" : {
      "documentation" : "<p>Lists all available Amazon Inspector rules packages.</p>",
      "operationName" : "ListRulesPackages",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRulesPackagesRequest",
        "variableType" : "ListRulesPackagesRequest",
        "variableDeclarationType" : "ListRulesPackagesRequest",
        "documentation" : "",
        "simpleType" : "ListRulesPackagesRequest",
        "variableSetterType" : "ListRulesPackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRulesPackagesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListRulesPackagesResult",
      "asyncReturnType" : "ListRulesPackagesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesPackagesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesPackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesPackagesRequest, ListRulesPackagesResult>",
      "methodName" : "listRulesPackages"
    },
    "ListTagsForResource" : {
      "documentation" : "<p>Lists all tags associated with an assessment template.</p>",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "methodName" : "listTagsForResource"
    },
    "PreviewAgents" : {
      "documentation" : "<p>Previews the agents installed on the EC2 instances that are part of the specified assessment target.</p>",
      "operationName" : "PreviewAgents",
      "deprecated" : false,
      "input" : {
        "variableName" : "previewAgentsRequest",
        "variableType" : "PreviewAgentsRequest",
        "variableDeclarationType" : "PreviewAgentsRequest",
        "documentation" : "",
        "simpleType" : "PreviewAgentsRequest",
        "variableSetterType" : "PreviewAgentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PreviewAgentsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      }, {
        "exceptionName" : "InvalidCrossAccountRoleException",
        "documentation" : "<p>Amazon Inspector cannot assume the cross-account role that it needs to list your EC2 instances during the assessment run.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PreviewAgentsResult",
      "asyncReturnType" : "PreviewAgentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<PreviewAgentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PreviewAgentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PreviewAgentsRequest, PreviewAgentsResult>",
      "methodName" : "previewAgents"
    },
    "RegisterCrossAccountAccessRole" : {
      "documentation" : "<p>Registers the IAM role that Amazon Inspector uses to list your EC2 instances at the start of the assessment run or when you call the <a>PreviewAgents</a> action.</p>",
      "operationName" : "RegisterCrossAccountAccessRole",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerCrossAccountAccessRoleRequest",
        "variableType" : "RegisterCrossAccountAccessRoleRequest",
        "variableDeclarationType" : "RegisterCrossAccountAccessRoleRequest",
        "documentation" : "",
        "simpleType" : "RegisterCrossAccountAccessRoleRequest",
        "variableSetterType" : "RegisterCrossAccountAccessRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterCrossAccountAccessRoleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "InvalidCrossAccountRoleException",
        "documentation" : "<p>Amazon Inspector cannot assume the cross-account role that it needs to list your EC2 instances during the assessment run.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RegisterCrossAccountAccessRoleResult",
      "asyncReturnType" : "RegisterCrossAccountAccessRoleResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterCrossAccountAccessRoleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterCrossAccountAccessRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterCrossAccountAccessRoleRequest, RegisterCrossAccountAccessRoleResult>",
      "methodName" : "registerCrossAccountAccessRole"
    },
    "RemoveAttributesFromFindings" : {
      "documentation" : "<p>Removes entire attributes (key and value pairs) from the findings that are specified by the ARNs of the findings where an attribute with the specified key exists.</p>",
      "operationName" : "RemoveAttributesFromFindings",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeAttributesFromFindingsRequest",
        "variableType" : "RemoveAttributesFromFindingsRequest",
        "variableDeclarationType" : "RemoveAttributesFromFindingsRequest",
        "documentation" : "",
        "simpleType" : "RemoveAttributesFromFindingsRequest",
        "variableSetterType" : "RemoveAttributesFromFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveAttributesFromFindingsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RemoveAttributesFromFindingsResult",
      "asyncReturnType" : "RemoveAttributesFromFindingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveAttributesFromFindingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveAttributesFromFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveAttributesFromFindingsRequest, RemoveAttributesFromFindingsResult>",
      "methodName" : "removeAttributesFromFindings"
    },
    "SetTagsForResource" : {
      "documentation" : "<p>Sets tags (key and value pairs) to the assessment template that is specified by the ARN of the assessment template.</p>",
      "operationName" : "SetTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "setTagsForResourceRequest",
        "variableType" : "SetTagsForResourceRequest",
        "variableDeclarationType" : "SetTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "SetTagsForResourceRequest",
        "variableSetterType" : "SetTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetTagsForResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SetTagsForResourceResult",
      "asyncReturnType" : "SetTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTagsForResourceRequest, SetTagsForResourceResult>",
      "methodName" : "setTagsForResource"
    },
    "StartAssessmentRun" : {
      "documentation" : "<p>Starts the assessment run specified by the ARN of the assessment template. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.</p>",
      "operationName" : "StartAssessmentRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "startAssessmentRunRequest",
        "variableType" : "StartAssessmentRunRequest",
        "variableDeclarationType" : "StartAssessmentRunRequest",
        "documentation" : "",
        "simpleType" : "StartAssessmentRunRequest",
        "variableSetterType" : "StartAssessmentRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartAssessmentRunResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      }, {
        "exceptionName" : "InvalidCrossAccountRoleException",
        "documentation" : "<p>Amazon Inspector cannot assume the cross-account role that it needs to list your EC2 instances during the assessment run.</p>"
      }, {
        "exceptionName" : "AgentsAlreadyRunningAssessmentException",
        "documentation" : "<p>You started an assessment run, but one of the instances is already participating in another assessment run.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StartAssessmentRunResult",
      "asyncReturnType" : "StartAssessmentRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartAssessmentRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartAssessmentRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartAssessmentRunRequest, StartAssessmentRunResult>",
      "methodName" : "startAssessmentRun"
    },
    "StopAssessmentRun" : {
      "documentation" : "<p>Stops the assessment run that is specified by the ARN of the assessment run.</p>",
      "operationName" : "StopAssessmentRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopAssessmentRunRequest",
        "variableType" : "StopAssessmentRunRequest",
        "variableDeclarationType" : "StopAssessmentRunRequest",
        "documentation" : "",
        "simpleType" : "StopAssessmentRunRequest",
        "variableSetterType" : "StopAssessmentRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopAssessmentRunResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StopAssessmentRunResult",
      "asyncReturnType" : "StopAssessmentRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopAssessmentRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopAssessmentRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopAssessmentRunRequest, StopAssessmentRunResult>",
      "methodName" : "stopAssessmentRun"
    },
    "SubscribeToEvent" : {
      "documentation" : "<p>Enables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.</p>",
      "operationName" : "SubscribeToEvent",
      "deprecated" : false,
      "input" : {
        "variableName" : "subscribeToEventRequest",
        "variableType" : "SubscribeToEventRequest",
        "variableDeclarationType" : "SubscribeToEventRequest",
        "documentation" : "",
        "simpleType" : "SubscribeToEventRequest",
        "variableSetterType" : "SubscribeToEventRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SubscribeToEventResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SubscribeToEventResult",
      "asyncReturnType" : "SubscribeToEventResult",
      "asyncFutureType" : "java.util.concurrent.Future<SubscribeToEventResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SubscribeToEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubscribeToEventRequest, SubscribeToEventResult>",
      "methodName" : "subscribeToEvent"
    },
    "UnsubscribeFromEvent" : {
      "documentation" : "<p>Disables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.</p>",
      "operationName" : "UnsubscribeFromEvent",
      "deprecated" : false,
      "input" : {
        "variableName" : "unsubscribeFromEventRequest",
        "variableType" : "UnsubscribeFromEventRequest",
        "variableDeclarationType" : "UnsubscribeFromEventRequest",
        "documentation" : "",
        "simpleType" : "UnsubscribeFromEventRequest",
        "variableSetterType" : "UnsubscribeFromEventRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UnsubscribeFromEventResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UnsubscribeFromEventResult",
      "asyncReturnType" : "UnsubscribeFromEventResult",
      "asyncFutureType" : "java.util.concurrent.Future<UnsubscribeFromEventResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UnsubscribeFromEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnsubscribeFromEventRequest, UnsubscribeFromEventResult>",
      "methodName" : "unsubscribeFromEvent"
    },
    "UpdateAssessmentTarget" : {
      "documentation" : "<p>Updates the assessment target that is specified by the ARN of the assessment target.</p>",
      "operationName" : "UpdateAssessmentTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateAssessmentTargetRequest",
        "variableType" : "UpdateAssessmentTargetRequest",
        "variableDeclarationType" : "UpdateAssessmentTargetRequest",
        "documentation" : "",
        "simpleType" : "UpdateAssessmentTargetRequest",
        "variableSetterType" : "UpdateAssessmentTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateAssessmentTargetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>"
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdateAssessmentTargetResult",
      "asyncReturnType" : "UpdateAssessmentTargetResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAssessmentTargetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAssessmentTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAssessmentTargetRequest, UpdateAssessmentTargetResult>",
      "methodName" : "updateAssessmentTarget"
    }
  },
  "shapes" : {
    "SetTagsForResourceRequest" : {
      "c2jName" : "SetTagsForResourceRequest",
      "documentation" : "",
      "shapeName" : "SetTagsForResourceRequest",
      "deprecated" : false,
      "required" : [ "resourceArn" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ARN of the assessment template that you want to set tags to.</p>",
        "name" : "ResourceArn",
        "c2jName" : "resourceArn",
        "c2jShape" : "Arn",
        "variable" : {
          "variableName" : "resourceArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the assessment template that you want to set tags to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "resourceArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "resourceArn",
          "marshallLocationName" : "resourceArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the assessment template that you want to set tags to.</p>\n@param resourceArn The ARN of the assessment template that you want to set tags to.*/",
        "getterDocumentation" : "/**<p>The ARN of the assessment template that you want to set tags to.</p>\n@return The ARN of the assessment template that you want to set tags to.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN of the assessment template that you want to set tags to.</p>\n@param resourceArn The ARN of the assessment template that you want to set tags to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN of the assessment template that you want to set tags to.</p>\n@param resourceArn The ARN of the assessment template that you want to set tags to.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A collection of key and value pairs that you want to set to the assessment template.</p>",
        "name" : "Tags",
        "c2jName" : "tags",
        "c2jShape" : "TagList",
        "variable" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "java.util.List<Tag>",
          "documentation" : "<p>A collection of key and value pairs that you want to set to the assessment template.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "setterModel" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "tags",
          "marshallLocationName" : "tags",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Tag",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "Tag",
          "templateType" : "java.util.List<Tag>",
          "templateImplType" : "java.util.ArrayList<Tag>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A collection of key and value pairs that you want to set to the assessment template.</p>\n@param tags A collection of key and value pairs that you want to set to the assessment template.*/",
        "getterDocumentation" : "/**<p>A collection of key and value pairs that you want to set to the assessment template.</p>\n@return A collection of key and value pairs that you want to set to the assessment template.*/",
        "fluentSetterDocumentation" : "/**<p>A collection of key and value pairs that you want to set to the assessment template.</p>\n@param tags A collection of key and value pairs that you want to set to the assessment template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A collection of key and value pairs that you want to set to the assessment template.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags A collection of key and value pairs that you want to set to the assessment template.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "setTagsForResourceRequest",
        "variableType" : "SetTagsForResourceRequest",
        "variableDeclarationType" : "SetTagsForResourceRequest",
        "documentation" : null,
        "simpleType" : "SetTagsForResourceRequest",
        "variableSetterType" : "SetTagsForResourceRequest"
      },
      "marshaller" : {
        "action" : "SetTagsForResource",
        "verb" : "POST",
        "target" : "InspectorService.SetTagsForResource",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ResourceArn" : {
          "documentation" : "<p>The ARN of the assessment template that you want to set tags to.</p>",
          "name" : "ResourceArn",
          "c2jName" : "resourceArn",
          "c2jShape" : "Arn",
          "variable" : {
            "variableName" : "resourceArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ARN of the assessment template that you want to set tags to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "resourceArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "resourceArn",
            "marshallLocationName" : "resourceArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ARN of the assessment template that you want to set tags to.</p>\n@param resourceArn The ARN of the assessment template that you want to set tags to.*/",
          "getterDocumentation" : "/**<p>The ARN of the assessment template that you want to set tags to.</p>\n@return The ARN of the assessment template that you want to set tags to.*/",
          "fluentSetterDocumentation" : "/**<p>The ARN of the assessment template that you want to set tags to.</p>\n@param resourceArn The ARN of the assessment template that you want to set tags to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ARN of the assessment template that you want to set tags to.</p>\n@param resourceArn The ARN of the assessment template that you want to set tags to.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Tags" : {
          "documentation" : "<p>A collection of key and value pairs that you want to set to the assessment template.</p>",
          "name" : "Tags",
          "c2jName" : "tags",
          "c2jShape" : "TagList",
          "variable" : {
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "java.util.List<Tag>",
            "documentation" : "<p>A collection of key and value pairs that you want to set to the assessment template.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "setterModel" : {
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "tags",
            "marshallLocationName" : "tags",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Tag",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "Tag",
            "templateType" : "java.util.List<Tag>",
            "templateImplType" : "java.util.ArrayList<Tag>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A collection of key and value pairs that you want to set to the assessment template.</p>\n@param tags A collection of key and value pairs that you want to set to the assessment template.*/",
          "getterDocumentation" : "/**<p>A collection of key and value pairs that you want to set to the assessment template.</p>\n@return A collection of key and value pairs that you want to set to the assessment template.*/",
          "fluentSetterDocumentation" : "/**<p>A collection of key and value pairs that you want to set to the assessment template.</p>\n@param tags A collection of key and value pairs that you want to set to the assessment template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A collection of key and value pairs that you want to set to the assessment template.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags A collection of key and value pairs that you want to set to the assessment template.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeFindingsRequest" : {
      "c2jName" : "DescribeFindingsRequest",
      "documentation" : "",
      "shapeName" : "DescribeFindingsRequest",
      "deprecated" : false,
      "required" : [ "findingArns" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ARN that specifies the finding that you want to describe.</p>",
        "name" : "FindingArns",
        "c2jName" : "findingArns",
        "c2jShape" : "BatchDescribeArnList",
        "variable" : {
          "variableName" : "findingArns",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "<p>The ARN that specifies the finding that you want to describe.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "findingArns",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "findingArns",
          "marshallLocationName" : "findingArns",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Arn",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "java.util.ArrayList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN that specifies the finding that you want to describe.</p>\n@param findingArns The ARN that specifies the finding that you want to describe.*/",
        "getterDocumentation" : "/**<p>The ARN that specifies the finding that you want to describe.</p>\n@return The ARN that specifies the finding that you want to describe.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN that specifies the finding that you want to describe.</p>\n@param findingArns The ARN that specifies the finding that you want to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN that specifies the finding that you want to describe.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFindingArns(java.util.Collection)} or {@link #withFindingArns(java.util.Collection)} if you want to override the existing values.</p>\n@param findingArns The ARN that specifies the finding that you want to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>",
        "name" : "Locale",
        "c2jName" : "locale",
        "c2jShape" : "Locale",
        "variable" : {
          "variableName" : "locale",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "locale",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "locale",
          "marshallLocationName" : "locale",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "Locale",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>\n@param locale The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.\n@see Locale*/",
        "getterDocumentation" : "/**<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>\n@return The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.\n@see Locale*/",
        "fluentSetterDocumentation" : "/**<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>\n@param locale The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Locale*/",
        "varargSetterDocumentation" : "/**<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>\n@param locale The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Locale*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeFindingsRequest",
        "variableType" : "DescribeFindingsRequest",
        "variableDeclarationType" : "DescribeFindingsRequest",
        "documentation" : null,
        "simpleType" : "DescribeFindingsRequest",
        "variableSetterType" : "DescribeFindingsRequest"
      },
      "marshaller" : {
        "action" : "DescribeFindings",
        "verb" : "POST",
        "target" : "InspectorService.DescribeFindings",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Locale" : {
          "documentation" : "<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>",
          "name" : "Locale",
          "c2jName" : "locale",
          "c2jShape" : "Locale",
          "variable" : {
            "variableName" : "locale",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "locale",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "locale",
            "marshallLocationName" : "locale",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "Locale",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>\n@param locale The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.\n@see Locale*/",
          "getterDocumentation" : "/**<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>\n@return The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.\n@see Locale*/",
          "fluentSetterDocumentation" : "/**<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>\n@param locale The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Locale*/",
          "varargSetterDocumentation" : "/**<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>\n@param locale The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Locale*/"
        },
        "FindingArns" : {
          "documentation" : "<p>The ARN that specifies the finding that you want to describe.</p>",
          "name" : "FindingArns",
          "c2jName" : "findingArns",
          "c2jShape" : "BatchDescribeArnList",
          "variable" : {
            "variableName" : "findingArns",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "<p>The ARN that specifies the finding that you want to describe.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "setterModel" : {
            "variableName" : "findingArns",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "findingArns",
            "marshallLocationName" : "findingArns",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
[...]
