{
  "metadata" : {
    "apiVersion" : "2015-08-18",
    "exceptionUnmarshallerImpl" : null,
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of the applications you run in AWS and to identify potential security issues. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_introduction.html\"> Amazon Inspector User Guide</a>.</p>",
    "defaultEndpoint" : "https://inspector.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "inspector.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonInspector",
    "syncClient" : "AmazonInspectorClient",
    "asyncInterface" : "AmazonInspectorAsync",
    "asyncClient" : "AmazonInspectorAsyncClient",
    "packageName" : "com.amazonaws.services.inspector",
    "packagePath" : "com/amazonaws/services/inspector",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Inspector",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : "application/x-amz-json-1.1",
    "endpointPrefix" : "inspector",
    "signingName" : "inspector",
    "serviceName" : "Amazon Inspector",
    "jsonProtocol" : true,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "JsonErrorUnmarshaller"
  },
  "operations" : {
    "AddAttributesToFindings" : {
      "documentation" : "<p>Assigns attributes (key and value pair) to the findings specified by the findings' ARNs.</p>",
      "operationName" : "AddAttributesToFindings",
      "deprecated" : false,
      "input" : {
        "variableName" : "addAttributesToFindingsRequest",
        "variableType" : "AddAttributesToFindingsRequest",
        "variableDeclarationType" : "AddAttributesToFindingsRequest",
        "documentation" : null,
        "simpleType" : "AddAttributesToFindingsRequest",
        "variableSetterType" : "AddAttributesToFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddAttributesToFindingsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Assigns attributes (key and value pair) to the findings specified by the findings' ARNs.</p>\n@param addAttributesToFindingsRequest \n@return Result of the AddAttributesToFindings operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Assigns attributes (key and value pair) to the findings specified by the findings' ARNs.</p>\n@param addAttributesToFindingsRequest \n@return A Java Future containing the result of the AddAttributesToFindings operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Assigns attributes (key and value pair) to the findings specified by the findings' ARNs.</p>\n@param addAttributesToFindingsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the AddAttributesToFindings operation returned by the service.*/",
      "syncReturnType" : "AddAttributesToFindingsResult",
      "asyncReturnType" : "AddAttributesToFindingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddAttributesToFindingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddAttributesToFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddAttributesToFindingsRequest, AddAttributesToFindingsResult>",
      "methodName" : "addAttributesToFindings"
    },
    "AttachAssessmentAndRulesPackage" : {
      "documentation" : "<p>Attaches the rules package specified by the rules package ARN to the assessment specified by the assessment ARN.</p>",
      "operationName" : "AttachAssessmentAndRulesPackage",
      "deprecated" : false,
      "input" : {
        "variableName" : "attachAssessmentAndRulesPackageRequest",
        "variableType" : "AttachAssessmentAndRulesPackageRequest",
        "variableDeclarationType" : "AttachAssessmentAndRulesPackageRequest",
        "documentation" : null,
        "simpleType" : "AttachAssessmentAndRulesPackageRequest",
        "variableSetterType" : "AttachAssessmentAndRulesPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AttachAssessmentAndRulesPackageResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Attaches the rules package specified by the rules package ARN to the assessment specified by the assessment ARN.</p>\n@param attachAssessmentAndRulesPackageRequest \n@return Result of the AttachAssessmentAndRulesPackage operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Attaches the rules package specified by the rules package ARN to the assessment specified by the assessment ARN.</p>\n@param attachAssessmentAndRulesPackageRequest \n@return A Java Future containing the result of the AttachAssessmentAndRulesPackage operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Attaches the rules package specified by the rules package ARN to the assessment specified by the assessment ARN.</p>\n@param attachAssessmentAndRulesPackageRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the AttachAssessmentAndRulesPackage operation returned by the service.*/",
      "syncReturnType" : "AttachAssessmentAndRulesPackageResult",
      "asyncReturnType" : "AttachAssessmentAndRulesPackageResult",
      "asyncFutureType" : "java.util.concurrent.Future<AttachAssessmentAndRulesPackageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AttachAssessmentAndRulesPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachAssessmentAndRulesPackageRequest, AttachAssessmentAndRulesPackageResult>",
      "methodName" : "attachAssessmentAndRulesPackage"
    },
    "CreateApplication" : {
      "documentation" : "<p>Creates a new application using the resource group ARN generated by <a>CreateResourceGroup</a>. You can create up to 50 applications per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\"> Inspector Applications.</a></p>",
      "operationName" : "CreateApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "variableDeclarationType" : "CreateApplicationRequest",
        "documentation" : null,
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Creates a new application using the resource group ARN generated by <a>CreateResourceGroup</a>. You can create up to 50 applications per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\"> Inspector Applications.</a></p>\n@param createApplicationRequest \n@return Result of the CreateApplication operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Creates a new application using the resource group ARN generated by <a>CreateResourceGroup</a>. You can create up to 50 applications per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\"> Inspector Applications.</a></p>\n@param createApplicationRequest \n@return A Java Future containing the result of the CreateApplication operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Creates a new application using the resource group ARN generated by <a>CreateResourceGroup</a>. You can create up to 50 applications per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\"> Inspector Applications.</a></p>\n@param createApplicationRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateApplication operation returned by the service.*/",
      "syncReturnType" : "CreateApplicationResult",
      "asyncReturnType" : "CreateApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "methodName" : "createApplication"
    },
    "CreateAssessment" : {
      "documentation" : "<p>Creates an assessment for the application specified by the application ARN. You can create up to 500 assessments per AWS account.</p>",
      "operationName" : "CreateAssessment",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAssessmentRequest",
        "variableType" : "CreateAssessmentRequest",
        "variableDeclarationType" : "CreateAssessmentRequest",
        "documentation" : null,
        "simpleType" : "CreateAssessmentRequest",
        "variableSetterType" : "CreateAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAssessmentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Creates an assessment for the application specified by the application ARN. You can create up to 500 assessments per AWS account.</p>\n@param createAssessmentRequest \n@return Result of the CreateAssessment operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Creates an assessment for the application specified by the application ARN. You can create up to 500 assessments per AWS account.</p>\n@param createAssessmentRequest \n@return A Java Future containing the result of the CreateAssessment operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Creates an assessment for the application specified by the application ARN. You can create up to 500 assessments per AWS account.</p>\n@param createAssessmentRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateAssessment operation returned by the service.*/",
      "syncReturnType" : "CreateAssessmentResult",
      "asyncReturnType" : "CreateAssessmentResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssessmentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssessmentRequest, CreateAssessmentResult>",
      "methodName" : "createAssessment"
    },
    "CreateResourceGroup" : {
      "documentation" : "<p>Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Inspector application. The created resource group is then used to create an Inspector application.</p>",
      "operationName" : "CreateResourceGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createResourceGroupRequest",
        "variableType" : "CreateResourceGroupRequest",
        "variableDeclarationType" : "CreateResourceGroupRequest",
        "documentation" : null,
        "simpleType" : "CreateResourceGroupRequest",
        "variableSetterType" : "CreateResourceGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateResourceGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Inspector application. The created resource group is then used to create an Inspector application.</p>\n@param createResourceGroupRequest \n@return Result of the CreateResourceGroup operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException */",
      "asyncDocumentation" : "/**<p>Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Inspector application. The created resource group is then used to create an Inspector application.</p>\n@param createResourceGroupRequest \n@return A Java Future containing the result of the CreateResourceGroup operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Inspector application. The created resource group is then used to create an Inspector application.</p>\n@param createResourceGroupRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateResourceGroup operation returned by the service.*/",
      "syncReturnType" : "CreateResourceGroupResult",
      "asyncReturnType" : "CreateResourceGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceGroupRequest, CreateResourceGroupResult>",
      "methodName" : "createResourceGroup"
    },
    "DeleteApplication" : {
      "documentation" : "<p>Deletes the application specified by the application ARN.</p>",
      "operationName" : "DeleteApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "variableDeclarationType" : "DeleteApplicationRequest",
        "documentation" : null,
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "OperationInProgressException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Deletes the application specified by the application ARN.</p>\n@param deleteApplicationRequest \n@return Result of the DeleteApplication operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws OperationInProgressException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Deletes the application specified by the application ARN.</p>\n@param deleteApplicationRequest \n@return A Java Future containing the result of the DeleteApplication operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Deletes the application specified by the application ARN.</p>\n@param deleteApplicationRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DeleteApplication operation returned by the service.*/",
      "syncReturnType" : "DeleteApplicationResult",
      "asyncReturnType" : "DeleteApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "methodName" : "deleteApplication"
    },
    "DeleteAssessment" : {
      "documentation" : "<p>Deletes the assessment specified by the assessment ARN.</p>",
      "operationName" : "DeleteAssessment",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAssessmentRequest",
        "variableType" : "DeleteAssessmentRequest",
        "variableDeclarationType" : "DeleteAssessmentRequest",
        "documentation" : null,
        "simpleType" : "DeleteAssessmentRequest",
        "variableSetterType" : "DeleteAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAssessmentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "OperationInProgressException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Deletes the assessment specified by the assessment ARN.</p>\n@param deleteAssessmentRequest \n@return Result of the DeleteAssessment operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws OperationInProgressException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Deletes the assessment specified by the assessment ARN.</p>\n@param deleteAssessmentRequest \n@return A Java Future containing the result of the DeleteAssessment operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Deletes the assessment specified by the assessment ARN.</p>\n@param deleteAssessmentRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DeleteAssessment operation returned by the service.*/",
      "syncReturnType" : "DeleteAssessmentResult",
      "asyncReturnType" : "DeleteAssessmentResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentRequest, DeleteAssessmentResult>",
      "methodName" : "deleteAssessment"
    },
    "DeleteRun" : {
      "documentation" : "<p>Deletes the assessment run specified by the run ARN.</p>",
      "operationName" : "DeleteRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRunRequest",
        "variableType" : "DeleteRunRequest",
        "variableDeclarationType" : "DeleteRunRequest",
        "documentation" : null,
        "simpleType" : "DeleteRunRequest",
        "variableSetterType" : "DeleteRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRunResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Deletes the assessment run specified by the run ARN.</p>\n@param deleteRunRequest \n@return Result of the DeleteRun operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Deletes the assessment run specified by the run ARN.</p>\n@param deleteRunRequest \n@return A Java Future containing the result of the DeleteRun operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Deletes the assessment run specified by the run ARN.</p>\n@param deleteRunRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DeleteRun operation returned by the service.*/",
      "syncReturnType" : "DeleteRunResult",
      "asyncReturnType" : "DeleteRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRunRequest, DeleteRunResult>",
      "methodName" : "deleteRun"
    },
    "DescribeApplication" : {
      "documentation" : "<p>Describes the application specified by the application ARN.</p>",
      "operationName" : "DescribeApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeApplicationRequest",
        "variableType" : "DescribeApplicationRequest",
        "variableDeclarationType" : "DescribeApplicationRequest",
        "documentation" : null,
        "simpleType" : "DescribeApplicationRequest",
        "variableSetterType" : "DescribeApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeApplicationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Describes the application specified by the application ARN.</p>\n@param describeApplicationRequest \n@return Result of the DescribeApplication operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Describes the application specified by the application ARN.</p>\n@param describeApplicationRequest \n@return A Java Future containing the result of the DescribeApplication operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes the application specified by the application ARN.</p>\n@param describeApplicationRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeApplication operation returned by the service.*/",
      "syncReturnType" : "DescribeApplicationResult",
      "asyncReturnType" : "DescribeApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationRequest, DescribeApplicationResult>",
      "methodName" : "describeApplication"
    },
    "DescribeAssessment" : {
      "documentation" : "<p>Describes the assessment specified by the assessment ARN.</p>",
      "operationName" : "DescribeAssessment",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAssessmentRequest",
        "variableType" : "DescribeAssessmentRequest",
        "variableDeclarationType" : "DescribeAssessmentRequest",
        "documentation" : null,
        "simpleType" : "DescribeAssessmentRequest",
        "variableSetterType" : "DescribeAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAssessmentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Describes the assessment specified by the assessment ARN.</p>\n@param describeAssessmentRequest \n@return Result of the DescribeAssessment operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Describes the assessment specified by the assessment ARN.</p>\n@param describeAssessmentRequest \n@return A Java Future containing the result of the DescribeAssessment operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes the assessment specified by the assessment ARN.</p>\n@param describeAssessmentRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeAssessment operation returned by the service.*/",
      "syncReturnType" : "DescribeAssessmentResult",
      "asyncReturnType" : "DescribeAssessmentResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssessmentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssessmentRequest, DescribeAssessmentResult>",
      "methodName" : "describeAssessment"
    },
    "DescribeCrossAccountAccessRole" : {
      "documentation" : "<p>Describes the IAM role that enables Inspector to access your AWS account.</p>",
      "operationName" : "DescribeCrossAccountAccessRole",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCrossAccountAccessRoleRequest",
        "variableType" : "DescribeCrossAccountAccessRoleRequest",
        "variableDeclarationType" : "DescribeCrossAccountAccessRoleRequest",
        "documentation" : null,
        "simpleType" : "DescribeCrossAccountAccessRoleRequest",
        "variableSetterType" : "DescribeCrossAccountAccessRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCrossAccountAccessRoleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Describes the IAM role that enables Inspector to access your AWS account.</p>\n@param describeCrossAccountAccessRoleRequest \n@return Result of the DescribeCrossAccountAccessRole operation returned by the service.\n@throws InternalException \n@throws AccessDeniedException */",
      "asyncDocumentation" : "/**<p>Describes the IAM role that enables Inspector to access your AWS account.</p>\n@param describeCrossAccountAccessRoleRequest \n@return A Java Future containing the result of the DescribeCrossAccountAccessRole operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes the IAM role that enables Inspector to access your AWS account.</p>\n@param describeCrossAccountAccessRoleRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeCrossAccountAccessRole operation returned by the service.*/",
      "syncReturnType" : "DescribeCrossAccountAccessRoleResult",
      "asyncReturnType" : "DescribeCrossAccountAccessRoleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCrossAccountAccessRoleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCrossAccountAccessRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCrossAccountAccessRoleRequest, DescribeCrossAccountAccessRoleResult>",
      "methodName" : "describeCrossAccountAccessRole"
    },
    "DescribeFinding" : {
      "documentation" : "<p>Describes the finding specified by the finding ARN.</p>",
      "operationName" : "DescribeFinding",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeFindingRequest",
        "variableType" : "DescribeFindingRequest",
        "variableDeclarationType" : "DescribeFindingRequest",
        "documentation" : null,
        "simpleType" : "DescribeFindingRequest",
        "variableSetterType" : "DescribeFindingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeFindingResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Describes the finding specified by the finding ARN.</p>\n@param describeFindingRequest \n@return Result of the DescribeFinding operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Describes the finding specified by the finding ARN.</p>\n@param describeFindingRequest \n@return A Java Future containing the result of the DescribeFinding operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes the finding specified by the finding ARN.</p>\n@param describeFindingRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeFinding operation returned by the service.*/",
      "syncReturnType" : "DescribeFindingResult",
      "asyncReturnType" : "DescribeFindingResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFindingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFindingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFindingRequest, DescribeFindingResult>",
      "methodName" : "describeFinding"
    },
    "DescribeResourceGroup" : {
      "documentation" : "<p>Describes the resource group specified by the resource group ARN.</p>",
      "operationName" : "DescribeResourceGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeResourceGroupRequest",
        "variableType" : "DescribeResourceGroupRequest",
        "variableDeclarationType" : "DescribeResourceGroupRequest",
        "documentation" : null,
        "simpleType" : "DescribeResourceGroupRequest",
        "variableSetterType" : "DescribeResourceGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeResourceGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Describes the resource group specified by the resource group ARN.</p>\n@param describeResourceGroupRequest \n@return Result of the DescribeResourceGroup operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Describes the resource group specified by the resource group ARN.</p>\n@param describeResourceGroupRequest \n@return A Java Future containing the result of the DescribeResourceGroup operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes the resource group specified by the resource group ARN.</p>\n@param describeResourceGroupRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeResourceGroup operation returned by the service.*/",
      "syncReturnType" : "DescribeResourceGroupResult",
      "asyncReturnType" : "DescribeResourceGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourceGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourceGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourceGroupRequest, DescribeResourceGroupResult>",
      "methodName" : "describeResourceGroup"
    },
    "DescribeRulesPackage" : {
      "documentation" : "<p>Describes the rules package specified by the rules package ARN.</p>",
      "operationName" : "DescribeRulesPackage",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeRulesPackageRequest",
        "variableType" : "DescribeRulesPackageRequest",
        "variableDeclarationType" : "DescribeRulesPackageRequest",
        "documentation" : null,
        "simpleType" : "DescribeRulesPackageRequest",
        "variableSetterType" : "DescribeRulesPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeRulesPackageResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Describes the rules package specified by the rules package ARN.</p>\n@param describeRulesPackageRequest \n@return Result of the DescribeRulesPackage operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Describes the rules package specified by the rules package ARN.</p>\n@param describeRulesPackageRequest \n@return A Java Future containing the result of the DescribeRulesPackage operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes the rules package specified by the rules package ARN.</p>\n@param describeRulesPackageRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeRulesPackage operation returned by the service.*/",
      "syncReturnType" : "DescribeRulesPackageResult",
      "asyncReturnType" : "DescribeRulesPackageResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRulesPackageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRulesPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRulesPackageRequest, DescribeRulesPackageResult>",
      "methodName" : "describeRulesPackage"
    },
    "DescribeRun" : {
      "documentation" : "<p>Describes the assessment run specified by the run ARN.</p>",
      "operationName" : "DescribeRun",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeRunRequest",
        "variableType" : "DescribeRunRequest",
        "variableDeclarationType" : "DescribeRunRequest",
        "documentation" : null,
        "simpleType" : "DescribeRunRequest",
        "variableSetterType" : "DescribeRunRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeRunResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Describes the assessment run specified by the run ARN.</p>\n@param describeRunRequest \n@return Result of the DescribeRun operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Describes the assessment run specified by the run ARN.</p>\n@param describeRunRequest \n@return A Java Future containing the result of the DescribeRun operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes the assessment run specified by the run ARN.</p>\n@param describeRunRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeRun operation returned by the service.*/",
      "syncReturnType" : "DescribeRunResult",
      "asyncReturnType" : "DescribeRunResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRunResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRunRequest, DescribeRunResult>",
      "methodName" : "describeRun"
    },
    "DetachAssessmentAndRulesPackage" : {
      "documentation" : "<p>Detaches the rules package specified by the rules package ARN from the assessment specified by the assessment ARN.</p>",
      "operationName" : "DetachAssessmentAndRulesPackage",
      "deprecated" : false,
      "input" : {
        "variableName" : "detachAssessmentAndRulesPackageRequest",
        "variableType" : "DetachAssessmentAndRulesPackageRequest",
        "variableDeclarationType" : "DetachAssessmentAndRulesPackageRequest",
        "documentation" : null,
        "simpleType" : "DetachAssessmentAndRulesPackageRequest",
        "variableSetterType" : "DetachAssessmentAndRulesPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DetachAssessmentAndRulesPackageResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Detaches the rules package specified by the rules package ARN from the assessment specified by the assessment ARN.</p>\n@param detachAssessmentAndRulesPackageRequest \n@return Result of the DetachAssessmentAndRulesPackage operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Detaches the rules package specified by the rules package ARN from the assessment specified by the assessment ARN.</p>\n@param detachAssessmentAndRulesPackageRequest \n@return A Java Future containing the result of the DetachAssessmentAndRulesPackage operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Detaches the rules package specified by the rules package ARN from the assessment specified by the assessment ARN.</p>\n@param detachAssessmentAndRulesPackageRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DetachAssessmentAndRulesPackage operation returned by the service.*/",
      "syncReturnType" : "DetachAssessmentAndRulesPackageResult",
      "asyncReturnType" : "DetachAssessmentAndRulesPackageResult",
      "asyncFutureType" : "java.util.concurrent.Future<DetachAssessmentAndRulesPackageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DetachAssessmentAndRulesPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachAssessmentAndRulesPackageRequest, DetachAssessmentAndRulesPackageResult>",
      "methodName" : "detachAssessmentAndRulesPackage"
    },
    "GetAssessmentTelemetry" : {
      "documentation" : "<p>Returns the metadata about the telemetry (application behavioral data) for the assessment specified by the assessment ARN.</p>",
      "operationName" : "GetAssessmentTelemetry",
      "deprecated" : false,
      "input" : {
        "variableName" : "getAssessmentTelemetryRequest",
        "variableType" : "GetAssessmentTelemetryRequest",
        "variableDeclarationType" : "GetAssessmentTelemetryRequest",
        "documentation" : null,
        "simpleType" : "GetAssessmentTelemetryRequest",
        "variableSetterType" : "GetAssessmentTelemetryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetAssessmentTelemetryResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Returns the metadata about the telemetry (application behavioral data) for the assessment specified by the assessment ARN.</p>\n@param getAssessmentTelemetryRequest \n@return Result of the GetAssessmentTelemetry operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Returns the metadata about the telemetry (application behavioral data) for the assessment specified by the assessment ARN.</p>\n@param getAssessmentTelemetryRequest \n@return A Java Future containing the result of the GetAssessmentTelemetry operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Returns the metadata about the telemetry (application behavioral data) for the assessment specified by the assessment ARN.</p>\n@param getAssessmentTelemetryRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetAssessmentTelemetry operation returned by the service.*/",
      "syncReturnType" : "GetAssessmentTelemetryResult",
      "asyncReturnType" : "GetAssessmentTelemetryResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssessmentTelemetryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssessmentTelemetryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssessmentTelemetryRequest, GetAssessmentTelemetryResult>",
      "methodName" : "getAssessmentTelemetry"
    },
    "ListApplications" : {
      "documentation" : "<p>Lists the ARNs of the applications within this AWS account. For more information about applications, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\">Inspector Applications</a>.</p>",
      "operationName" : "ListApplications",
      "deprecated" : false,
      "input" : {
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "variableDeclarationType" : "ListApplicationsRequest",
        "documentation" : null,
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Lists the ARNs of the applications within this AWS account. For more information about applications, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\">Inspector Applications</a>.</p>\n@param listApplicationsRequest \n@return Result of the ListApplications operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException */",
      "asyncDocumentation" : "/**<p>Lists the ARNs of the applications within this AWS account. For more information about applications, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\">Inspector Applications</a>.</p>\n@param listApplicationsRequest \n@return A Java Future containing the result of the ListApplications operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists the ARNs of the applications within this AWS account. For more information about applications, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\">Inspector Applications</a>.</p>\n@param listApplicationsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListApplications operation returned by the service.*/",
      "syncReturnType" : "ListApplicationsResult",
      "asyncReturnType" : "ListApplicationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "methodName" : "listApplications"
    },
    "ListAssessmentAgents" : {
      "documentation" : "<p>Lists the agents of the assessment specified by the assessment ARN.</p>",
      "operationName" : "ListAssessmentAgents",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAssessmentAgentsRequest",
        "variableType" : "ListAssessmentAgentsRequest",
        "variableDeclarationType" : "ListAssessmentAgentsRequest",
        "documentation" : null,
        "simpleType" : "ListAssessmentAgentsRequest",
        "variableSetterType" : "ListAssessmentAgentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAssessmentAgentsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Lists the agents of the assessment specified by the assessment ARN.</p>\n@param listAssessmentAgentsRequest \n@return Result of the ListAssessmentAgents operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Lists the agents of the assessment specified by the assessment ARN.</p>\n@param listAssessmentAgentsRequest \n@return A Java Future containing the result of the ListAssessmentAgents operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists the agents of the assessment specified by the assessment ARN.</p>\n@param listAssessmentAgentsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListAssessmentAgents operation returned by the service.*/",
      "syncReturnType" : "ListAssessmentAgentsResult",
      "asyncReturnType" : "ListAssessmentAgentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentAgentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentAgentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentAgentsRequest, ListAssessmentAgentsResult>",
      "methodName" : "listAssessmentAgents"
    },
    "ListAssessments" : {
      "documentation" : "<p>Lists the assessments corresponding to applications specified by the applications' ARNs.</p>",
      "operationName" : "ListAssessments",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAssessmentsRequest",
        "variableType" : "ListAssessmentsRequest",
        "variableDeclarationType" : "ListAssessmentsRequest",
        "documentation" : null,
        "simpleType" : "ListAssessmentsRequest",
        "variableSetterType" : "ListAssessmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAssessmentsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Lists the assessments corresponding to applications specified by the applications' ARNs.</p>\n@param listAssessmentsRequest \n@return Result of the ListAssessments operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Lists the assessments corresponding to applications specified by the applications' ARNs.</p>\n@param listAssessmentsRequest \n@return A Java Future containing the result of the ListAssessments operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists the assessments corresponding to applications specified by the applications' ARNs.</p>\n@param listAssessmentsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListAssessments operation returned by the service.*/",
      "syncReturnType" : "ListAssessmentsResult",
      "asyncReturnType" : "ListAssessmentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentsRequest, ListAssessmentsResult>",
      "methodName" : "listAssessments"
    },
    "ListAttachedAssessments" : {
      "documentation" : "<p>Lists the assessments attached to the rules package specified by the rules package ARN.</p>",
      "operationName" : "ListAttachedAssessments",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAttachedAssessmentsRequest",
        "variableType" : "ListAttachedAssessmentsRequest",
        "variableDeclarationType" : "ListAttachedAssessmentsRequest",
        "documentation" : null,
        "simpleType" : "ListAttachedAssessmentsRequest",
        "variableSetterType" : "ListAttachedAssessmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAttachedAssessmentsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Lists the assessments attached to the rules package specified by the rules package ARN.</p>\n@param listAttachedAssessmentsRequest \n@return Result of the ListAttachedAssessments operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Lists the assessments attached to the rules package specified by the rules package ARN.</p>\n@param listAttachedAssessmentsRequest \n@return A Java Future containing the result of the ListAttachedAssessments operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists the assessments attached to the rules package specified by the rules package ARN.</p>\n@param listAttachedAssessmentsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListAttachedAssessments operation returned by the service.*/",
      "syncReturnType" : "ListAttachedAssessmentsResult",
      "asyncReturnType" : "ListAttachedAssessmentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAttachedAssessmentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAttachedAssessmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAttachedAssessmentsRequest, ListAttachedAssessmentsResult>",
      "methodName" : "listAttachedAssessments"
    },
    "ListAttachedRulesPackages" : {
      "documentation" : "<p>Lists the rules packages attached to the assessment specified by the assessment ARN.</p>",
      "operationName" : "ListAttachedRulesPackages",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAttachedRulesPackagesRequest",
        "variableType" : "ListAttachedRulesPackagesRequest",
        "variableDeclarationType" : "ListAttachedRulesPackagesRequest",
        "documentation" : null,
        "simpleType" : "ListAttachedRulesPackagesRequest",
        "variableSetterType" : "ListAttachedRulesPackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAttachedRulesPackagesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Lists the rules packages attached to the assessment specified by the assessment ARN.</p>\n@param listAttachedRulesPackagesRequest \n@return Result of the ListAttachedRulesPackages operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Lists the rules packages attached to the assessment specified by the assessment ARN.</p>\n@param listAttachedRulesPackagesRequest \n@return A Java Future containing the result of the ListAttachedRulesPackages operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists the rules packages attached to the assessment specified by the assessment ARN.</p>\n@param listAttachedRulesPackagesRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListAttachedRulesPackages operation returned by the service.*/",
      "syncReturnType" : "ListAttachedRulesPackagesResult",
      "asyncReturnType" : "ListAttachedRulesPackagesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAttachedRulesPackagesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAttachedRulesPackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAttachedRulesPackagesRequest, ListAttachedRulesPackagesResult>",
      "methodName" : "listAttachedRulesPackages"
    },
    "ListFindings" : {
      "documentation" : "<p>Lists findings generated by the assessment run specified by the run ARNs.</p>",
      "operationName" : "ListFindings",
      "deprecated" : false,
      "input" : {
        "variableName" : "listFindingsRequest",
        "variableType" : "ListFindingsRequest",
        "variableDeclarationType" : "ListFindingsRequest",
        "documentation" : null,
        "simpleType" : "ListFindingsRequest",
        "variableSetterType" : "ListFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListFindingsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Lists findings generated by the assessment run specified by the run ARNs.</p>\n@param listFindingsRequest \n@return Result of the ListFindings operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Lists findings generated by the assessment run specified by the run ARNs.</p>\n@param listFindingsRequest \n@return A Java Future containing the result of the ListFindings operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists findings generated by the assessment run specified by the run ARNs.</p>\n@param listFindingsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListFindings operation returned by the service.*/",
      "syncReturnType" : "ListFindingsResult",
      "asyncReturnType" : "ListFindingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListFindingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFindingsRequest, ListFindingsResult>",
      "methodName" : "listFindings"
    },
    "ListRulesPackages" : {
      "documentation" : "<p>Lists all available Inspector rules packages.</p>",
      "operationName" : "ListRulesPackages",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRulesPackagesRequest",
        "variableType" : "ListRulesPackagesRequest",
        "variableDeclarationType" : "ListRulesPackagesRequest",
        "documentation" : null,
        "simpleType" : "ListRulesPackagesRequest",
        "variableSetterType" : "ListRulesPackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRulesPackagesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Lists all available Inspector rules packages.</p>\n@param listRulesPackagesRequest \n@return Result of the ListRulesPackages operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException */",
      "asyncDocumentation" : "/**<p>Lists all available Inspector rules packages.</p>\n@param listRulesPackagesRequest \n@return A Java Future containing the result of the ListRulesPackages operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists all available Inspector rules packages.</p>\n@param listRulesPackagesRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListRulesPackages operation returned by the service.*/",
      "syncReturnType" : "ListRulesPackagesResult",
      "asyncReturnType" : "ListRulesPackagesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesPackagesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesPackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesPackagesRequest, ListRulesPackagesResult>",
      "methodName" : "listRulesPackages"
    },
    "ListRuns" : {
      "documentation" : "<p>Lists the assessment runs associated with the assessments specified by the assessment ARNs.</p>",
      "operationName" : "ListRuns",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRunsRequest",
        "variableType" : "ListRunsRequest",
        "variableDeclarationType" : "ListRunsRequest",
        "documentation" : null,
        "simpleType" : "ListRunsRequest",
        "variableSetterType" : "ListRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRunsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Lists the assessment runs associated with the assessments specified by the assessment ARNs.</p>\n@param listRunsRequest \n@return Result of the ListRuns operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Lists the assessment runs associated with the assessments specified by the assessment ARNs.</p>\n@param listRunsRequest \n@return A Java Future containing the result of the ListRuns operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists the assessment runs associated with the assessments specified by the assessment ARNs.</p>\n@param listRunsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListRuns operation returned by the service.*/",
      "syncReturnType" : "ListRunsResult",
      "asyncReturnType" : "ListRunsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRunsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRunsRequest, ListRunsResult>",
      "methodName" : "listRuns"
    },
    "ListTagsForResource" : {
      "documentation" : "<p>Lists all tags associated with a resource.</p>",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : null,
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Lists all tags associated with a resource.</p>\n@param listTagsForResourceRequest \n@return Result of the ListTagsForResource operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Lists all tags associated with a resource.</p>\n@param listTagsForResourceRequest \n@return A Java Future containing the result of the ListTagsForResource operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists all tags associated with a resource.</p>\n@param listTagsForResourceRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListTagsForResource operation returned by the service.*/",
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "methodName" : "listTagsForResource"
    },
    "LocalizeText" : {
      "documentation" : "<p>Translates a textual identifier into a user-readable text in a specified locale.</p>",
      "operationName" : "LocalizeText",
      "deprecated" : false,
      "input" : {
        "variableName" : "localizeTextRequest",
        "variableType" : "LocalizeTextRequest",
        "variableDeclarationType" : "LocalizeTextRequest",
        "documentation" : null,
        "simpleType" : "LocalizeTextRequest",
        "variableSetterType" : "LocalizeTextRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "LocalizeTextResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Translates a textual identifier into a user-readable text in a specified locale.</p>\n@param localizeTextRequest \n@return Result of the LocalizeText operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Translates a textual identifier into a user-readable text in a specified locale.</p>\n@param localizeTextRequest \n@return A Java Future containing the result of the LocalizeText operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Translates a textual identifier into a user-readable text in a specified locale.</p>\n@param localizeTextRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the LocalizeText operation returned by the service.*/",
      "syncReturnType" : "LocalizeTextResult",
      "asyncReturnType" : "LocalizeTextResult",
      "asyncFutureType" : "java.util.concurrent.Future<LocalizeTextResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<LocalizeTextResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LocalizeTextRequest, LocalizeTextResult>",
      "methodName" : "localizeText"
    },
    "PreviewAgentsForResourceGroup" : {
      "documentation" : "<p>Previews the agents installed on the EC2 instances that are included in the application created with the specified resource group.</p>",
      "operationName" : "PreviewAgentsForResourceGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "previewAgentsForResourceGroupRequest",
        "variableType" : "PreviewAgentsForResourceGroupRequest",
        "variableDeclarationType" : "PreviewAgentsForResourceGroupRequest",
        "documentation" : null,
        "simpleType" : "PreviewAgentsForResourceGroupRequest",
        "variableSetterType" : "PreviewAgentsForResourceGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PreviewAgentsForResourceGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidCrossAccountRoleException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Previews the agents installed on the EC2 instances that are included in the application created with the specified resource group.</p>\n@param previewAgentsForResourceGroupRequest \n@return Result of the PreviewAgentsForResourceGroup operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException \n@throws InvalidCrossAccountRoleException */",
      "asyncDocumentation" : "/**<p>Previews the agents installed on the EC2 instances that are included in the application created with the specified resource group.</p>\n@param previewAgentsForResourceGroupRequest \n@return A Java Future containing the result of the PreviewAgentsForResourceGroup operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Previews the agents installed on the EC2 instances that are included in the application created with the specified resource group.</p>\n@param previewAgentsForResourceGroupRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the PreviewAgentsForResourceGroup operation returned by the service.*/",
      "syncReturnType" : "PreviewAgentsForResourceGroupResult",
      "asyncReturnType" : "PreviewAgentsForResourceGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<PreviewAgentsForResourceGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PreviewAgentsForResourceGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PreviewAgentsForResourceGroupRequest, PreviewAgentsForResourceGroupResult>",
      "methodName" : "previewAgentsForResourceGroup"
    },
    "RegisterCrossAccountAccessRole" : {
      "documentation" : "<p>Register the role that Inspector uses to list your EC2 instances during the assessment.</p>",
      "operationName" : "RegisterCrossAccountAccessRole",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerCrossAccountAccessRoleRequest",
        "variableType" : "RegisterCrossAccountAccessRoleRequest",
        "variableDeclarationType" : "RegisterCrossAccountAccessRoleRequest",
        "documentation" : null,
        "simpleType" : "RegisterCrossAccountAccessRoleRequest",
        "variableSetterType" : "RegisterCrossAccountAccessRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterCrossAccountAccessRoleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidCrossAccountRoleException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Register the role that Inspector uses to list your EC2 instances during the assessment.</p>\n@param registerCrossAccountAccessRoleRequest \n@return Result of the RegisterCrossAccountAccessRole operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws InvalidCrossAccountRoleException */",
      "asyncDocumentation" : "/**<p>Register the role that Inspector uses to list your EC2 instances during the assessment.</p>\n@param registerCrossAccountAccessRoleRequest \n@return A Java Future containing the result of the RegisterCrossAccountAccessRole operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Register the role that Inspector uses to list your EC2 instances during the assessment.</p>\n@param registerCrossAccountAccessRoleRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the RegisterCrossAccountAccessRole operation returned by the service.*/",
      "syncReturnType" : "RegisterCrossAccountAccessRoleResult",
      "asyncReturnType" : "RegisterCrossAccountAccessRoleResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterCrossAccountAccessRoleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterCrossAccountAccessRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterCrossAccountAccessRoleRequest, RegisterCrossAccountAccessRoleResult>",
      "methodName" : "registerCrossAccountAccessRole"
    },
    "RemoveAttributesFromFindings" : {
      "documentation" : "<p>Removes the entire attribute (key and value pair) from the findings specified by the finding ARNs where an attribute with the specified key exists.</p>",
      "operationName" : "RemoveAttributesFromFindings",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeAttributesFromFindingsRequest",
        "variableType" : "RemoveAttributesFromFindingsRequest",
        "variableDeclarationType" : "RemoveAttributesFromFindingsRequest",
        "documentation" : null,
        "simpleType" : "RemoveAttributesFromFindingsRequest",
        "variableSetterType" : "RemoveAttributesFromFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveAttributesFromFindingsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Removes the entire attribute (key and value pair) from the findings specified by the finding ARNs where an attribute with the specified key exists.</p>\n@param removeAttributesFromFindingsRequest \n@return Result of the RemoveAttributesFromFindings operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Removes the entire attribute (key and value pair) from the findings specified by the finding ARNs where an attribute with the specified key exists.</p>\n@param removeAttributesFromFindingsRequest \n@return A Java Future containing the result of the RemoveAttributesFromFindings operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Removes the entire attribute (key and value pair) from the findings specified by the finding ARNs where an attribute with the specified key exists.</p>\n@param removeAttributesFromFindingsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the RemoveAttributesFromFindings operation returned by the service.*/",
      "syncReturnType" : "RemoveAttributesFromFindingsResult",
      "asyncReturnType" : "RemoveAttributesFromFindingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveAttributesFromFindingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveAttributesFromFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveAttributesFromFindingsRequest, RemoveAttributesFromFindingsResult>",
      "methodName" : "removeAttributesFromFindings"
    },
    "RunAssessment" : {
      "documentation" : "<p>Starts the analysis of the application’s behavior against selected rule packages for the assessment specified by the assessment ARN.</p>",
      "operationName" : "RunAssessment",
      "deprecated" : false,
      "input" : {
        "variableName" : "runAssessmentRequest",
        "variableType" : "RunAssessmentRequest",
        "variableDeclarationType" : "RunAssessmentRequest",
        "documentation" : null,
        "simpleType" : "RunAssessmentRequest",
        "variableSetterType" : "RunAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RunAssessmentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Starts the analysis of the application’s behavior against selected rule packages for the assessment specified by the assessment ARN.</p>\n@param runAssessmentRequest \n@return Result of the RunAssessment operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Starts the analysis of the application’s behavior against selected rule packages for the assessment specified by the assessment ARN.</p>\n@param runAssessmentRequest \n@return A Java Future containing the result of the RunAssessment operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Starts the analysis of the application’s behavior against selected rule packages for the assessment specified by the assessment ARN.</p>\n@param runAssessmentRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the RunAssessment operation returned by the service.*/",
      "syncReturnType" : "RunAssessmentResult",
      "asyncReturnType" : "RunAssessmentResult",
      "asyncFutureType" : "java.util.concurrent.Future<RunAssessmentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RunAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RunAssessmentRequest, RunAssessmentResult>",
      "methodName" : "runAssessment"
    },
    "SetTagsForResource" : {
      "documentation" : "<p>Sets tags (key and value pairs) to the assessment specified by the assessment ARN.</p>",
      "operationName" : "SetTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "setTagsForResourceRequest",
        "variableType" : "SetTagsForResourceRequest",
        "variableDeclarationType" : "SetTagsForResourceRequest",
        "documentation" : null,
        "simpleType" : "SetTagsForResourceRequest",
        "variableSetterType" : "SetTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetTagsForResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Sets tags (key and value pairs) to the assessment specified by the assessment ARN.</p>\n@param setTagsForResourceRequest \n@return Result of the SetTagsForResource operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Sets tags (key and value pairs) to the assessment specified by the assessment ARN.</p>\n@param setTagsForResourceRequest \n@return A Java Future containing the result of the SetTagsForResource operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Sets tags (key and value pairs) to the assessment specified by the assessment ARN.</p>\n@param setTagsForResourceRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the SetTagsForResource operation returned by the service.*/",
      "syncReturnType" : "SetTagsForResourceResult",
      "asyncReturnType" : "SetTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTagsForResourceRequest, SetTagsForResourceResult>",
      "methodName" : "setTagsForResource"
    },
    "StartDataCollection" : {
      "documentation" : "<p>Starts data collection for the assessment specified by the assessment ARN. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.</p>",
      "operationName" : "StartDataCollection",
      "deprecated" : false,
      "input" : {
        "variableName" : "startDataCollectionRequest",
        "variableType" : "StartDataCollectionRequest",
        "variableDeclarationType" : "StartDataCollectionRequest",
        "documentation" : null,
        "simpleType" : "StartDataCollectionRequest",
        "variableSetterType" : "StartDataCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartDataCollectionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidCrossAccountRoleException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Starts data collection for the assessment specified by the assessment ARN. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.</p>\n@param startDataCollectionRequest \n@return Result of the StartDataCollection operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException \n@throws InvalidCrossAccountRoleException */",
      "asyncDocumentation" : "/**<p>Starts data collection for the assessment specified by the assessment ARN. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.</p>\n@param startDataCollectionRequest \n@return A Java Future containing the result of the StartDataCollection operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Starts data collection for the assessment specified by the assessment ARN. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.</p>\n@param startDataCollectionRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the StartDataCollection operation returned by the service.*/",
      "syncReturnType" : "StartDataCollectionResult",
      "asyncReturnType" : "StartDataCollectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartDataCollectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartDataCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDataCollectionRequest, StartDataCollectionResult>",
      "methodName" : "startDataCollection"
    },
    "StopDataCollection" : {
      "documentation" : "<p>Stop data collection for the assessment specified by the assessment ARN.</p>",
      "operationName" : "StopDataCollection",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopDataCollectionRequest",
        "variableType" : "StopDataCollectionRequest",
        "variableDeclarationType" : "StopDataCollectionRequest",
        "documentation" : null,
        "simpleType" : "StopDataCollectionRequest",
        "variableSetterType" : "StopDataCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopDataCollectionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncDocumentation" : "/**<p>Stop data collection for the assessment specified by the assessment ARN.</p>\n@param stopDataCollectionRequest \n@return Result of the StopDataCollection operation returned by the service.\n@throws InternalException \n@throws InvalidInputException \n@throws AccessDeniedException \n@throws NoSuchEntityException */",
      "asyncDocumentation" : "/**<p>Stop data collection for the assessment specified by the assessment ARN.</p>\n@param stopDataCollectionRequest \n@return A Java Future containing the result of the StopDataCollection operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Stop data collection for the assessment specified by the assessment ARN.</p>\n@param stopDataCollectionRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the StopDataCollection operation returned by the service.*/",
      "syncReturnType" : "StopDataCollectionResult",
      "asyncReturnType" : "StopDataCollectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopDataCollectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopDataCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDataCollectionRequest, StopDataCollectionResult>",
      "methodName" : "stopDataCollection"
    },
    "UpdateApplication" : {
      "documentation" : "<p>Updates application specified by the application ARN.</p>",
      "operationName" : "UpdateApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "variableDeclarationType" : "UpdateApplicationRequest",
        "documentation" : null,
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
[...]
