{
  "metadata" : {
    "apiVersion" : "2014-12-12",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "Definition of the public APIs exposed by Amazon Machine Learning",
    "defaultEndpoint" : "https://machinelearning.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "machinelearning.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonMachineLearning",
    "syncClient" : "AmazonMachineLearningClient",
    "asyncInterface" : "AmazonMachineLearningAsync",
    "asyncClient" : "AmazonMachineLearningAsyncClient",
    "packageName" : "com.amazonaws.services.machinelearning",
    "packagePath" : "com/amazonaws/services/machinelearning",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Machine Learning",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "machinelearning",
    "signingName" : "machinelearning",
    "syncClientBuilderClassName" : "AmazonMachineLearningClientBuilder",
    "asyncClientBuilderClassName" : "AmazonMachineLearningAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonMachineLearningModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.machinelearning.smoketests",
    "serviceName" : "Amazon Machine Learning",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true
  },
  "operations" : {
    "AddTags" : {
      "documentation" : "<p>Adds one or more tags to an object, up to a limit of 10. Each tag consists of a key and an optional value. If you add a tag using a key that is already associated with the ML object, <code>AddTags</code> updates the tag's value.</p>",
      "operationName" : "AddTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : "",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>Amazon ML returns the following elements. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : null
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddTagsResult",
      "asyncReturnType" : "AddTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "authenticated" : true,
      "methodName" : "addTags"
    },
    "CreateBatchPrediction" : {
      "documentation" : "<p>Generates predictions for a group of observations. The observations to process exist in one or more data files referenced by a <code>DataSource</code>. This operation creates a new <code>BatchPrediction</code>, and uses an <code>MLModel</code> and the data files referenced by the <code>DataSource</code> as information sources. </p> <p><code>CreateBatchPrediction</code> is an asynchronous operation. In response to <code>CreateBatchPrediction</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>BatchPrediction</code> status to <code>PENDING</code>. After the <code>BatchPrediction</code> completes, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can poll for status updates by using the <a>GetBatchPrediction</a> operation and checking the <code>Status</code> parameter of the result. After the <code>COMPLETED</code> status appears, the results are available in the location specified by the <code>OutputUri</code> parameter.</p>",
      "operationName" : "CreateBatchPrediction",
      "deprecated" : false,
      "input" : {
        "variableName" : "createBatchPredictionRequest",
        "variableType" : "CreateBatchPredictionRequest",
        "variableDeclarationType" : "CreateBatchPredictionRequest",
        "documentation" : "",
        "simpleType" : "CreateBatchPredictionRequest",
        "variableSetterType" : "CreateBatchPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateBatchPredictionResult",
        "documentation" : "<p> Represents the output of a <code>CreateBatchPrediction</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateBatchPrediction</code> operation is asynchronous. You can poll for status updates by using the <code>&gt;GetBatchPrediction</code> operation and checking the <code>Status</code> parameter of the result. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateBatchPredictionResult",
      "asyncReturnType" : "CreateBatchPredictionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBatchPredictionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBatchPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBatchPredictionRequest, CreateBatchPredictionResult>",
      "authenticated" : true,
      "methodName" : "createBatchPrediction"
    },
    "CreateDataSourceFromRDS" : {
      "documentation" : "<p>Creates a <code>DataSource</code> object from an <a href=\"http://aws.amazon.com/rds/\"> Amazon Relational Database Service</a> (Amazon RDS). A <code>DataSource</code> references data that can be used to perform <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromRDS</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRDS</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in the <code>COMPLETED</code> or <code>PENDING</code> state can be used only to perform <code>&gt;CreateMLModel</code>&gt;, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML cannot accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p>",
      "operationName" : "CreateDataSourceFromRDS",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDataSourceFromRDSRequest",
        "variableType" : "CreateDataSourceFromRDSRequest",
        "variableDeclarationType" : "CreateDataSourceFromRDSRequest",
        "documentation" : "",
        "simpleType" : "CreateDataSourceFromRDSRequest",
        "variableSetterType" : "CreateDataSourceFromRDSRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDataSourceFromRDSResult",
        "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromRDS</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRDS</code>&gt; operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. You can inspect the <code>Message</code> when <code>Status</code> shows up as <code>FAILED</code>. You can also check the progress of the copy operation by going to the <code>DataPipeline</code> console and looking up the pipeline using the <code>pipelineId </code> from the describe call.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateDataSourceFromRDSResult",
      "asyncReturnType" : "CreateDataSourceFromRDSResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSourceFromRDSResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSourceFromRDSResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSourceFromRDSRequest, CreateDataSourceFromRDSResult>",
      "authenticated" : true,
      "methodName" : "createDataSourceFromRDS"
    },
    "CreateDataSourceFromRedshift" : {
      "documentation" : "<p>Creates a <code>DataSource</code> from a database hosted on an Amazon Redshift cluster. A <code>DataSource</code> references data that can be used to perform either <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromRedshift</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRedshift</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in <code>COMPLETED</code> or <code>PENDING</code> states can be used to perform only <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML can't accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p> <p>The observations should be contained in the database hosted on an Amazon Redshift cluster and should be specified by a <code>SelectSqlQuery</code> query. Amazon ML executes an <code>Unload</code> command in Amazon Redshift to transfer the result set of the <code>SelectSqlQuery</code> query to <code>S3StagingLocation</code>.</p> <p>After the <code>DataSource</code> has been created, it's ready for use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train an <code>MLModel</code>, the <code>DataSource</code> also requires a recipe. A recipe describes how each input variable will be used in training an <code>MLModel</code>. Will the variable be included or excluded from training? Will the variable be manipulated; for example, will it be combined with another variable or will it be split apart into word combinations? The recipe provides answers to these questions.</p> <?oxy_insert_start author=\"laurama\" timestamp=\"20160406T153842-0700\"><p>You can't change an existing datasource, but you can copy and modify the settings from an existing Amazon Redshift datasource to create a new datasource. To do so, call <code>GetDataSource</code> for an existing datasource and copy the values to a <code>CreateDataSource</code> call. Change the settings that you want to change and make sure that all required fields have the appropriate values.</p> <?oxy_insert_end>",
      "operationName" : "CreateDataSourceFromRedshift",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDataSourceFromRedshiftRequest",
        "variableType" : "CreateDataSourceFromRedshiftRequest",
        "variableDeclarationType" : "CreateDataSourceFromRedshiftRequest",
        "documentation" : "",
        "simpleType" : "CreateDataSourceFromRedshiftRequest",
        "variableSetterType" : "CreateDataSourceFromRedshiftRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDataSourceFromRedshiftResult",
        "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromRedshift</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRedshift</code> operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateDataSourceFromRedshiftResult",
      "asyncReturnType" : "CreateDataSourceFromRedshiftResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSourceFromRedshiftResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSourceFromRedshiftResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSourceFromRedshiftRequest, CreateDataSourceFromRedshiftResult>",
      "authenticated" : true,
      "methodName" : "createDataSourceFromRedshift"
    },
    "CreateDataSourceFromS3" : {
      "documentation" : "<p>Creates a <code>DataSource</code> object. A <code>DataSource</code> references data that can be used to perform <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromS3</code> is an asynchronous operation. In response to <code>CreateDataSourceFromS3</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> has been created and is ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in the <code>COMPLETED</code> or <code>PENDING</code> state can be used to perform only <code>CreateMLModel</code>, <code>CreateEvaluation</code> or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML can't accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p> <p>The observation data used in a <code>DataSource</code> should be ready to use; that is, it should have a consistent structure, and missing data values should be kept to a minimum. The observation data must reside in one or more .csv files in an Amazon Simple Storage Service (Amazon S3) location, along with a schema that describes the data items by name and type. The same schema must be used for all of the data files referenced by the <code>DataSource</code>. </p> <p>After the <code>DataSource</code> has been created, it's ready to use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train an <code>MLModel</code>, the <code>DataSource</code> also needs a recipe. A recipe describes how each input variable will be used in training an <code>MLModel</code>. Will the variable be included or excluded from training? Will the variable be manipulated; for example, will it be combined with another variable or will it be split apart into word combinations? The recipe provides answers to these questions.</p>",
      "operationName" : "CreateDataSourceFromS3",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDataSourceFromS3Request",
        "variableType" : "CreateDataSourceFromS3Request",
        "variableDeclarationType" : "CreateDataSourceFromS3Request",
        "documentation" : "",
        "simpleType" : "CreateDataSourceFromS3Request",
        "variableSetterType" : "CreateDataSourceFromS3Request"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDataSourceFromS3Result",
        "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromS3</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromS3</code> operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateDataSourceFromS3Result",
      "asyncReturnType" : "CreateDataSourceFromS3Result",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSourceFromS3Result>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSourceFromS3Result>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSourceFromS3Request, CreateDataSourceFromS3Result>",
      "authenticated" : true,
      "methodName" : "createDataSourceFromS3"
    },
    "CreateEvaluation" : {
      "documentation" : "<p>Creates a new <code>Evaluation</code> of an <code>MLModel</code>. An <code>MLModel</code> is evaluated on a set of observations associated to a <code>DataSource</code>. Like a <code>DataSource</code> for an <code>MLModel</code>, the <code>DataSource</code> for an <code>Evaluation</code> contains values for the <code>Target Variable</code>. The <code>Evaluation</code> compares the predicted result for each observation to the actual outcome and provides a summary so that you know how effective the <code>MLModel</code> functions on the test data. Evaluation generates a relevant performance metric, such as BinaryAUC, RegressionRMSE or MulticlassAvgFScore based on the corresponding <code>MLModelType</code>: <code>BINARY</code>, <code>REGRESSION</code> or <code>MULTICLASS</code>. </p> <p><code>CreateEvaluation</code> is an asynchronous operation. In response to <code>CreateEvaluation</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the evaluation status to <code>PENDING</code>. After the <code>Evaluation</code> is created and ready for use, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <code>GetEvaluation</code> operation to check progress of the evaluation during the creation operation.</p>",
      "operationName" : "CreateEvaluation",
      "deprecated" : false,
      "input" : {
        "variableName" : "createEvaluationRequest",
        "variableType" : "CreateEvaluationRequest",
        "variableDeclarationType" : "CreateEvaluationRequest",
        "documentation" : "",
        "simpleType" : "CreateEvaluationRequest",
        "variableSetterType" : "CreateEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateEvaluationResult",
        "documentation" : "<p> Represents the output of a <code>CreateEvaluation</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p><code>CreateEvaluation</code> operation is asynchronous. You can poll for status updates by using the <code>GetEvcaluation</code> operation and checking the <code>Status</code> parameter. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateEvaluationResult",
      "asyncReturnType" : "CreateEvaluationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEvaluationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEvaluationRequest, CreateEvaluationResult>",
      "authenticated" : true,
      "methodName" : "createEvaluation"
    },
    "CreateMLModel" : {
      "documentation" : "<p>Creates a new <code>MLModel</code> using the <code>DataSource</code> and the recipe as information sources. </p> <p>An <code>MLModel</code> is nearly immutable. Users can update only the <code>MLModelName</code> and the <code>ScoreThreshold</code> in an <code>MLModel</code> without creating a new <code>MLModel</code>. </p> <p><code>CreateMLModel</code> is an asynchronous operation. In response to <code>CreateMLModel</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>MLModel</code> status to <code>PENDING</code>. After the <code>MLModel</code> has been created and ready is for use, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <code>GetMLModel</code> operation to check the progress of the <code>MLModel</code> during the creation operation.</p> <p> <code>CreateMLModel</code> requires a <code>DataSource</code> with computed statistics, which can be created by setting <code>ComputeStatistics</code> to <code>true</code> in <code>CreateDataSourceFromRDS</code>, <code>CreateDataSourceFromS3</code>, or <code>CreateDataSourceFromRedshift</code> operations. </p>",
      "operationName" : "CreateMLModel",
      "deprecated" : false,
      "input" : {
        "variableName" : "createMLModelRequest",
        "variableType" : "CreateMLModelRequest",
        "variableDeclarationType" : "CreateMLModelRequest",
        "documentation" : "",
        "simpleType" : "CreateMLModelRequest",
        "variableSetterType" : "CreateMLModelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateMLModelResult",
        "documentation" : "<p> Represents the output of a <code>CreateMLModel</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateMLModel</code> operation is asynchronous. You can poll for status updates by using the <code>GetMLModel</code> operation and checking the <code>Status</code> parameter. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateMLModelResult",
      "asyncReturnType" : "CreateMLModelResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMLModelResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMLModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMLModelRequest, CreateMLModelResult>",
      "authenticated" : true,
      "methodName" : "createMLModel"
    },
    "CreateRealtimeEndpoint" : {
      "documentation" : "<p>Creates a real-time endpoint for the <code>MLModel</code>. The endpoint contains the URI of the <code>MLModel</code>; that is, the location to send real-time prediction requests for the specified <code>MLModel</code>.</p>",
      "operationName" : "CreateRealtimeEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "createRealtimeEndpointRequest",
        "variableType" : "CreateRealtimeEndpointRequest",
        "variableDeclarationType" : "CreateRealtimeEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateRealtimeEndpointRequest",
        "variableSetterType" : "CreateRealtimeEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateRealtimeEndpointResult",
        "documentation" : "<p>Represents the output of an <code>CreateRealtimeEndpoint</code> operation.</p> <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>.</p> <note> <p>The endpoint information includes the URI of the <code>MLModel</code>; that is, the location to send online prediction requests for the specified <code>MLModel</code>.</p> </note>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateRealtimeEndpointResult",
      "asyncReturnType" : "CreateRealtimeEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRealtimeEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRealtimeEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRealtimeEndpointRequest, CreateRealtimeEndpointResult>",
      "authenticated" : true,
      "methodName" : "createRealtimeEndpoint"
    },
    "DeleteBatchPrediction" : {
      "documentation" : "<p>Assigns the DELETED status to a <code>BatchPrediction</code>, rendering it unusable.</p> <p>After using the <code>DeleteBatchPrediction</code> operation, you can use the <a>GetBatchPrediction</a> operation to verify that the status of the <code>BatchPrediction</code> changed to DELETED.</p> <p><b>Caution:</b> The result of the <code>DeleteBatchPrediction</code> operation is irreversible.</p>",
      "operationName" : "DeleteBatchPrediction",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteBatchPredictionRequest",
        "variableType" : "DeleteBatchPredictionRequest",
        "variableDeclarationType" : "DeleteBatchPredictionRequest",
        "documentation" : "",
        "simpleType" : "DeleteBatchPredictionRequest",
        "variableSetterType" : "DeleteBatchPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteBatchPredictionResult",
        "documentation" : "<p> Represents the output of a <code>DeleteBatchPrediction</code> operation.</p> <p>You can use the <code>GetBatchPrediction</code> operation and check the value of the <code>Status</code> parameter to see whether a <code>BatchPrediction</code> is marked as <code>DELETED</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteBatchPredictionResult",
      "asyncReturnType" : "DeleteBatchPredictionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBatchPredictionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBatchPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBatchPredictionRequest, DeleteBatchPredictionResult>",
      "authenticated" : true,
      "methodName" : "deleteBatchPrediction"
    },
    "DeleteDataSource" : {
      "documentation" : "<p>Assigns the DELETED status to a <code>DataSource</code>, rendering it unusable.</p> <p>After using the <code>DeleteDataSource</code> operation, you can use the <a>GetDataSource</a> operation to verify that the status of the <code>DataSource</code> changed to DELETED.</p> <p><b>Caution:</b> The results of the <code>DeleteDataSource</code> operation are irreversible.</p>",
      "operationName" : "DeleteDataSource",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDataSourceRequest",
        "variableType" : "DeleteDataSourceRequest",
        "variableDeclarationType" : "DeleteDataSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteDataSourceRequest",
        "variableSetterType" : "DeleteDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDataSourceResult",
        "documentation" : "<p> Represents the output of a <code>DeleteDataSource</code> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteDataSourceResult",
      "asyncReturnType" : "DeleteDataSourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataSourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataSourceRequest, DeleteDataSourceResult>",
      "authenticated" : true,
      "methodName" : "deleteDataSource"
    },
    "DeleteEvaluation" : {
      "documentation" : "<p>Assigns the <code>DELETED</code> status to an <code>Evaluation</code>, rendering it unusable.</p> <p>After invoking the <code>DeleteEvaluation</code> operation, you can use the <code>GetEvaluation</code> operation to verify that the status of the <code>Evaluation</code> changed to <code>DELETED</code>.</p> <caution><title>Caution</title> <p>The results of the <code>DeleteEvaluation</code> operation are irreversible.</p></caution>",
      "operationName" : "DeleteEvaluation",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteEvaluationRequest",
        "variableType" : "DeleteEvaluationRequest",
        "variableDeclarationType" : "DeleteEvaluationRequest",
        "documentation" : "",
        "simpleType" : "DeleteEvaluationRequest",
        "variableSetterType" : "DeleteEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteEvaluationResult",
        "documentation" : "<p> Represents the output of a <code>DeleteEvaluation</code> operation. The output indicates that Amazon Machine Learning (Amazon ML) received the request.</p> <p>You can use the <code>GetEvaluation</code> operation and check the value of the <code>Status</code> parameter to see whether an <code>Evaluation</code> is marked as <code>DELETED</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteEvaluationResult",
      "asyncReturnType" : "DeleteEvaluationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEvaluationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEvaluationRequest, DeleteEvaluationResult>",
      "authenticated" : true,
      "methodName" : "deleteEvaluation"
    },
    "DeleteMLModel" : {
      "documentation" : "<p>Assigns the <code>DELETED</code> status to an <code>MLModel</code>, rendering it unusable.</p> <p>After using the <code>DeleteMLModel</code> operation, you can use the <code>GetMLModel</code> operation to verify that the status of the <code>MLModel</code> changed to DELETED.</p> <p><b>Caution:</b> The result of the <code>DeleteMLModel</code> operation is irreversible.</p>",
      "operationName" : "DeleteMLModel",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteMLModelRequest",
        "variableType" : "DeleteMLModelRequest",
        "variableDeclarationType" : "DeleteMLModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteMLModelRequest",
        "variableSetterType" : "DeleteMLModelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteMLModelResult",
        "documentation" : "<p>Represents the output of a <code>DeleteMLModel</code> operation.</p> <p>You can use the <code>GetMLModel</code> operation and check the value of the <code>Status</code> parameter to see whether an <code>MLModel</code> is marked as <code>DELETED</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteMLModelResult",
      "asyncReturnType" : "DeleteMLModelResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMLModelResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMLModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMLModelRequest, DeleteMLModelResult>",
      "authenticated" : true,
      "methodName" : "deleteMLModel"
    },
    "DeleteRealtimeEndpoint" : {
      "documentation" : "<p>Deletes a real time endpoint of an <code>MLModel</code>.</p>",
      "operationName" : "DeleteRealtimeEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRealtimeEndpointRequest",
        "variableType" : "DeleteRealtimeEndpointRequest",
        "variableDeclarationType" : "DeleteRealtimeEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteRealtimeEndpointRequest",
        "variableSetterType" : "DeleteRealtimeEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRealtimeEndpointResult",
        "documentation" : "<p>Represents the output of an <code>DeleteRealtimeEndpoint</code> operation.</p> <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteRealtimeEndpointResult",
      "asyncReturnType" : "DeleteRealtimeEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRealtimeEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRealtimeEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRealtimeEndpointRequest, DeleteRealtimeEndpointResult>",
      "authenticated" : true,
      "methodName" : "deleteRealtimeEndpoint"
    },
    "DeleteTags" : {
      "documentation" : "<p>Deletes the specified tags associated with an ML object. After this operation is complete, you can't recover deleted tags.</p> <p>If you specify a tag that doesn't exist, Amazon ML ignores it.</p>",
      "operationName" : "DeleteTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "variableDeclarationType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : "<p>Amazon ML returns the following elements. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteTagsResult",
      "asyncReturnType" : "DeleteTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "authenticated" : true,
      "methodName" : "deleteTags"
    },
    "DescribeBatchPredictions" : {
      "documentation" : "<p>Returns a list of <code>BatchPrediction</code> operations that match the search criteria in the request.</p>",
      "operationName" : "DescribeBatchPredictions",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeBatchPredictionsRequest",
        "variableType" : "DescribeBatchPredictionsRequest",
        "variableDeclarationType" : "DescribeBatchPredictionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeBatchPredictionsRequest",
        "variableSetterType" : "DescribeBatchPredictionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeBatchPredictionsResult",
        "documentation" : "<p>Represents the output of a <code>DescribeBatchPredictions</code> operation. The content is essentially a list of <code>BatchPrediction</code>s.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeBatchPredictionsResult",
      "asyncReturnType" : "DescribeBatchPredictionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBatchPredictionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBatchPredictionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBatchPredictionsRequest, DescribeBatchPredictionsResult>",
      "authenticated" : true,
      "methodName" : "describeBatchPredictions"
    },
    "DescribeDataSources" : {
      "documentation" : "<p>Returns a list of <code>DataSource</code> that match the search criteria in the request.</p>",
      "operationName" : "DescribeDataSources",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDataSourcesRequest",
        "variableType" : "DescribeDataSourcesRequest",
        "variableDeclarationType" : "DescribeDataSourcesRequest",
        "documentation" : "",
        "simpleType" : "DescribeDataSourcesRequest",
        "variableSetterType" : "DescribeDataSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDataSourcesResult",
        "documentation" : "<p>Represents the query results from a <a>DescribeDataSources</a> operation. The content is essentially a list of <code>DataSource</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeDataSourcesResult",
      "asyncReturnType" : "DescribeDataSourcesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDataSourcesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDataSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDataSourcesRequest, DescribeDataSourcesResult>",
      "authenticated" : true,
      "methodName" : "describeDataSources"
    },
    "DescribeEvaluations" : {
      "documentation" : "<p>Returns a list of <code>DescribeEvaluations</code> that match the search criteria in the request.</p>",
      "operationName" : "DescribeEvaluations",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEvaluationsRequest",
        "variableType" : "DescribeEvaluationsRequest",
        "variableDeclarationType" : "DescribeEvaluationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEvaluationsRequest",
        "variableSetterType" : "DescribeEvaluationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEvaluationsResult",
        "documentation" : "<p>Represents the query results from a <code>DescribeEvaluations</code> operation. The content is essentially a list of <code>Evaluation</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeEvaluationsResult",
      "asyncReturnType" : "DescribeEvaluationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEvaluationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEvaluationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEvaluationsRequest, DescribeEvaluationsResult>",
      "authenticated" : true,
      "methodName" : "describeEvaluations"
    },
    "DescribeMLModels" : {
      "documentation" : "<p>Returns a list of <code>MLModel</code> that match the search criteria in the request.</p>",
      "operationName" : "DescribeMLModels",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeMLModelsRequest",
        "variableType" : "DescribeMLModelsRequest",
        "variableDeclarationType" : "DescribeMLModelsRequest",
        "documentation" : "",
        "simpleType" : "DescribeMLModelsRequest",
        "variableSetterType" : "DescribeMLModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeMLModelsResult",
        "documentation" : "<p>Represents the output of a <code>DescribeMLModels</code> operation. The content is essentially a list of <code>MLModel</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeMLModelsResult",
      "asyncReturnType" : "DescribeMLModelsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMLModelsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMLModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMLModelsRequest, DescribeMLModelsResult>",
      "authenticated" : true,
      "methodName" : "describeMLModels"
    },
    "DescribeTags" : {
      "documentation" : "<p>Describes one or more of the tags for your Amazon ML object.</p>",
      "operationName" : "DescribeTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "variableDeclarationType" : "DescribeTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>Amazon ML returns the following elements. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeTagsResult",
      "asyncReturnType" : "DescribeTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "authenticated" : true,
      "methodName" : "describeTags"
    },
    "GetBatchPrediction" : {
      "documentation" : "<p>Returns a <code>BatchPrediction</code> that includes detailed metadata, status, and data file information for a <code>Batch Prediction</code> request.</p>",
      "operationName" : "GetBatchPrediction",
      "deprecated" : false,
      "input" : {
        "variableName" : "getBatchPredictionRequest",
        "variableType" : "GetBatchPredictionRequest",
        "variableDeclarationType" : "GetBatchPredictionRequest",
        "documentation" : "",
        "simpleType" : "GetBatchPredictionRequest",
        "variableSetterType" : "GetBatchPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetBatchPredictionResult",
        "documentation" : "<p>Represents the output of a <code>GetBatchPrediction</code> operation and describes a <code>BatchPrediction</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetBatchPredictionResult",
      "asyncReturnType" : "GetBatchPredictionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetBatchPredictionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetBatchPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBatchPredictionRequest, GetBatchPredictionResult>",
      "authenticated" : true,
      "methodName" : "getBatchPrediction"
    },
    "GetDataSource" : {
      "documentation" : "<p>Returns a <code>DataSource</code> that includes metadata and data file information, as well as the current status of the <code>DataSource</code>.</p> <p><code>GetDataSource</code> provides results in normal or verbose format. The verbose format adds the schema description and the list of files pointed to by the DataSource to the normal format.</p>",
      "operationName" : "GetDataSource",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDataSourceRequest",
        "variableType" : "GetDataSourceRequest",
        "variableDeclarationType" : "GetDataSourceRequest",
        "documentation" : "",
        "simpleType" : "GetDataSourceRequest",
        "variableSetterType" : "GetDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDataSourceResult",
        "documentation" : "<p>Represents the output of a <code>GetDataSource</code> operation and describes a <code>DataSource</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDataSourceResult",
      "asyncReturnType" : "GetDataSourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataSourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataSourceRequest, GetDataSourceResult>",
      "authenticated" : true,
      "methodName" : "getDataSource"
    },
    "GetEvaluation" : {
      "documentation" : "<p>Returns an <code>Evaluation</code> that includes metadata as well as the current status of the <code>Evaluation</code>.</p>",
      "operationName" : "GetEvaluation",
      "deprecated" : false,
      "input" : {
        "variableName" : "getEvaluationRequest",
        "variableType" : "GetEvaluationRequest",
        "variableDeclarationType" : "GetEvaluationRequest",
        "documentation" : "",
        "simpleType" : "GetEvaluationRequest",
        "variableSetterType" : "GetEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetEvaluationResult",
        "documentation" : "<p>Represents the output of a <code>GetEvaluation</code> operation and describes an <code>Evaluation</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetEvaluationResult",
      "asyncReturnType" : "GetEvaluationResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetEvaluationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEvaluationRequest, GetEvaluationResult>",
      "authenticated" : true,
      "methodName" : "getEvaluation"
    },
    "GetMLModel" : {
      "documentation" : "<p>Returns an <code>MLModel</code> that includes detailed metadata, data source information, and the current status of the <code>MLModel</code>.</p> <p><code>GetMLModel</code> provides results in normal or verbose format. </p>",
      "operationName" : "GetMLModel",
      "deprecated" : false,
      "input" : {
        "variableName" : "getMLModelRequest",
        "variableType" : "GetMLModelRequest",
        "variableDeclarationType" : "GetMLModelRequest",
        "documentation" : "",
        "simpleType" : "GetMLModelRequest",
        "variableSetterType" : "GetMLModelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetMLModelResult",
        "documentation" : "<p>Represents the output of a <code>GetMLModel</code> operation, and provides detailed information about a <code>MLModel</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetMLModelResult",
      "asyncReturnType" : "GetMLModelResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetMLModelResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetMLModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMLModelRequest, GetMLModelResult>",
      "authenticated" : true,
      "methodName" : "getMLModel"
    },
    "Predict" : {
      "documentation" : "<p>Generates a prediction for the observation using the specified <code>ML Model</code>.</p> <note><title>Note</title> <p>Not all response parameters will be populated. Whether a response parameter is populated depends on the type of model requested.</p></note>",
      "operationName" : "Predict",
      "deprecated" : false,
      "input" : {
        "variableName" : "predictRequest",
        "variableType" : "PredictRequest",
        "variableDeclarationType" : "PredictRequest",
        "documentation" : "",
        "simpleType" : "PredictRequest",
        "variableSetterType" : "PredictRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PredictResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The subscriber exceeded the maximum number of operations. This exception can occur when listing objects such as <code>DataSource</code>.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      }, {
        "exceptionName" : "PredictorNotMountedException",
        "documentation" : "<p>The exception is thrown when a predict request is made to an unmounted <code>MLModel</code>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PredictResult",
      "asyncReturnType" : "PredictResult",
      "asyncFutureType" : "java.util.concurrent.Future<PredictResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PredictResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PredictRequest, PredictResult>",
      "authenticated" : true,
      "methodName" : "predict"
    },
    "UpdateBatchPrediction" : {
      "documentation" : "<p>Updates the <code>BatchPredictionName</code> of a <code>BatchPrediction</code>.</p> <p>You can use the <code>GetBatchPrediction</code> operation to view the contents of the updated data element.</p>",
      "operationName" : "UpdateBatchPrediction",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateBatchPredictionRequest",
        "variableType" : "UpdateBatchPredictionRequest",
        "variableDeclarationType" : "UpdateBatchPredictionRequest",
        "documentation" : "",
        "simpleType" : "UpdateBatchPredictionRequest",
        "variableSetterType" : "UpdateBatchPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateBatchPredictionResult",
        "documentation" : "<p>Represents the output of an <code>UpdateBatchPrediction</code> operation.</p> <p>You can see the updated content by using the <code>GetBatchPrediction</code> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateBatchPredictionResult",
      "asyncReturnType" : "UpdateBatchPredictionResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBatchPredictionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBatchPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBatchPredictionRequest, UpdateBatchPredictionResult>",
      "authenticated" : true,
      "methodName" : "updateBatchPrediction"
    },
    "UpdateDataSource" : {
      "documentation" : "<p>Updates the <code>DataSourceName</code> of a <code>DataSource</code>.</p> <p>You can use the <code>GetDataSource</code> operation to view the contents of the updated data element.</p>",
      "operationName" : "UpdateDataSource",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDataSourceRequest",
        "variableType" : "UpdateDataSourceRequest",
        "variableDeclarationType" : "UpdateDataSourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateDataSourceRequest",
        "variableSetterType" : "UpdateDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDataSourceResult",
        "documentation" : "<p>Represents the output of an <code>UpdateDataSource</code> operation.</p> <p>You can see the updated content by using the <code>GetBatchPrediction</code> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateDataSourceResult",
      "asyncReturnType" : "UpdateDataSourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDataSourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDataSourceRequest, UpdateDataSourceResult>",
      "authenticated" : true,
      "methodName" : "updateDataSource"
    },
    "UpdateEvaluation" : {
      "documentation" : "<p>Updates the <code>EvaluationName</code> of an <code>Evaluation</code>.</p> <p>You can use the <code>GetEvaluation</code> operation to view the contents of the updated data element.</p>",
      "operationName" : "UpdateEvaluation",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateEvaluationRequest",
        "variableType" : "UpdateEvaluationRequest",
        "variableDeclarationType" : "UpdateEvaluationRequest",
        "documentation" : "",
        "simpleType" : "UpdateEvaluationRequest",
        "variableSetterType" : "UpdateEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateEvaluationResult",
        "documentation" : "<p>Represents the output of an <code>UpdateEvaluation</code> operation.</p> <p>You can see the updated content by using the <code>GetEvaluation</code> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateEvaluationResult",
      "asyncReturnType" : "UpdateEvaluationResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEvaluationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEvaluationRequest, UpdateEvaluationResult>",
      "authenticated" : true,
      "methodName" : "updateEvaluation"
    },
    "UpdateMLModel" : {
      "documentation" : "<p>Updates the <code>MLModelName</code> and the <code>ScoreThreshold</code> of an <code>MLModel</code>.</p> <p>You can use the <code>GetMLModel</code> operation to view the contents of the updated data element.</p>",
      "operationName" : "UpdateMLModel",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateMLModelRequest",
        "variableType" : "UpdateMLModelRequest",
        "variableDeclarationType" : "UpdateMLModelRequest",
        "documentation" : "",
        "simpleType" : "UpdateMLModelRequest",
        "variableSetterType" : "UpdateMLModelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateMLModelResult",
        "documentation" : "<p>Represents the output of an <code>UpdateMLModel</code> operation.</p> <p>You can see the updated content by using the <code>GetMLModel</code> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>"
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateMLModelResult",
      "asyncReturnType" : "UpdateMLModelResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMLModelResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMLModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMLModelRequest, UpdateMLModelResult>",
      "authenticated" : true,
      "methodName" : "updateMLModel"
    }
  },
  "shapes" : {
    "DeleteRealtimeEndpointRequest" : {
      "c2jName" : "DeleteRealtimeEndpointInput",
      "documentation" : "",
      "shapeName" : "DeleteRealtimeEndpointRequest",
      "deprecated" : false,
      "required" : [ "MLModelId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ID assigned to the <code>MLModel</code> during creation.</p>",
        "name" : "MLModelId",
        "c2jName" : "MLModelId",
        "c2jShape" : "EntityId",
        "variable" : {
          "variableName" : "mLModelId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID assigned to the <code>MLModel</code> during creation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "mLModelId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MLModelId",
          "marshallLocationName" : "MLModelId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID assigned to the <code>MLModel</code> during creation.</p>\n@param mLModelId The ID assigned to the <code>MLModel</code> during creation.*/",
        "getterDocumentation" : "/**<p>The ID assigned to the <code>MLModel</code> during creation.</p>\n@return The ID assigned to the <code>MLModel</code> during creation.*/",
        "fluentSetterDocumentation" : "/**<p>The ID assigned to the <code>MLModel</code> during creation.</p>\n@param mLModelId The ID assigned to the <code>MLModel</code> during creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID assigned to the <code>MLModel</code> during creation.</p>\n@param mLModelId The ID assigned to the <code>MLModel</code> during creation.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "deleteRealtimeEndpointRequest",
        "variableType" : "DeleteRealtimeEndpointRequest",
        "variableDeclarationType" : "DeleteRealtimeEndpointRequest",
        "documentation" : null,
        "simpleType" : "DeleteRealtimeEndpointRequest",
        "variableSetterType" : "DeleteRealtimeEndpointRequest"
      },
      "marshaller" : {
        "action" : "DeleteRealtimeEndpoint",
        "verb" : "POST",
        "target" : "AmazonML_20141212.DeleteRealtimeEndpoint",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "MLModelId" : {
          "documentation" : "<p>The ID assigned to the <code>MLModel</code> during creation.</p>",
          "name" : "MLModelId",
          "c2jName" : "MLModelId",
          "c2jShape" : "EntityId",
          "variable" : {
            "variableName" : "mLModelId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID assigned to the <code>MLModel</code> during creation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "mLModelId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "MLModelId",
            "marshallLocationName" : "MLModelId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID assigned to the <code>MLModel</code> during creation.</p>\n@param mLModelId The ID assigned to the <code>MLModel</code> during creation.*/",
          "getterDocumentation" : "/**<p>The ID assigned to the <code>MLModel</code> during creation.</p>\n@return The ID assigned to the <code>MLModel</code> during creation.*/",
          "fluentSetterDocumentation" : "/**<p>The ID assigned to the <code>MLModel</code> during creation.</p>\n@param mLModelId The ID assigned to the <code>MLModel</code> during creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID assigned to the <code>MLModel</code> during creation.</p>\n@param mLModelId The ID assigned to the <code>MLModel</code> during creation.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "InvalidTagException" : {
      "c2jName" : "InvalidTagException",
      "documentation" : "",
      "shapeName" : "InvalidTagException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidTagException",
        "variableType" : "InvalidTagException",
        "variableDeclarationType" : "InvalidTagException",
        "documentation" : null,
        "simpleType" : "InvalidTagException",
        "variableSetterType" : "InvalidTagException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidTagException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "DescribeDataSourcesRequest" : {
      "c2jName" : "DescribeDataSourcesInput",
      "documentation" : "",
      "shapeName" : "DescribeDataSourcesRequest",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li> </ul>",
        "name" : "FilterVariable",
        "c2jName" : "FilterVariable",
        "c2jShape" : "DataSourceFilterVariable",
        "variable" : {
          "variableName" : "filterVariable",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li> </ul>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "filterVariable",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "FilterVariable",
          "marshallLocationName" : "FilterVariable",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "DataSourceFilterVariable",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li> </ul>\n@param filterVariable Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li>\n@see DataSourceFilterVariable*/",
        "getterDocumentation" : "/**<p>Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li> </ul>\n@return Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li>\n@see DataSourceFilterVariable*/",
        "fluentSetterDocumentation" : "/**<p>Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li> </ul>\n@param filterVariable Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see DataSourceFilterVariable*/",
        "varargSetterDocumentation" : "/**<p>Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li> </ul>\n@param filterVariable Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see DataSourceFilterVariable*/"
      }, {
        "documentation" : "<p>The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.</p>",
        "name" : "EQ",
        "c2jName" : "EQ",
        "c2jShape" : "ComparatorValue",
        "variable" : {
          "variableName" : "eQ",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "eQ",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "EQ",
          "marshallLocationName" : "EQ",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.</p>\n@param eQ The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.*/",
        "getterDocumentation" : "/**<p>The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.</p>\n@return The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.*/",
        "fluentSetterDocumentation" : "/**<p>The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.</p>\n@param eQ The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.</p>\n@param eQ The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.</p>",
        "name" : "GT",
        "c2jName" : "GT",
        "c2jShape" : "ComparatorValue",
        "variable" : {
          "variableName" : "gT",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "gT",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "GT",
          "marshallLocationName" : "GT",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.</p>\n@param gT The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.*/",
        "getterDocumentation" : "/**<p>The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.</p>\n@return The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.*/",
        "fluentSetterDocumentation" : "/**<p>The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.</p>\n@param gT The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.</p>\n@param gT The greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.</p>",
        "name" : "LT",
        "c2jName" : "LT",
        "c2jShape" : "ComparatorValue",
        "variable" : {
          "variableName" : "lT",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "lT",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LT",
          "marshallLocationName" : "LT",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.</p>\n@param lT The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.*/",
        "getterDocumentation" : "/**<p>The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.</p>\n@return The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.*/",
        "fluentSetterDocumentation" : "/**<p>The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.</p>\n@param lT The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.</p>\n@param lT The less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The greater than or equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than or equal to the value specified with <code>GE</code>. </p>",
        "name" : "GE",
        "c2jName" : "GE",
        "c2jShape" : "ComparatorValue",
        "variable" : {
          "variableName" : "gE",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The greater than or equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than or equal to the value specified with <code>GE</code>. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "gE",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "GE",
          "marshallLocationName" : "GE",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The greater than or equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than or equal to the value specified with <code>GE</code>. </p>\n@param gE The greater than or equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than or equal to the value specified with <code>GE</code>.*/",
        "getterDocumentation" : "/**<p>The greater than or equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than or equal to the value specified with <code>GE</code>. </p>\n@return The greater than or equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than or equal to the value specified with <code>GE</code>.*/",
        "fluentSetterDocumentation" : "/**<p>The greater than or equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than or equal to the value specified with <code>GE</code>. </p>\n@param gE The greater than or equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that are greater than or equal to the value specified with <code>GE</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
