{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-06-27",
    "asyncClient" : "AmazonRekognitionAsyncClient",
    "asyncClientBuilderClassName" : "AmazonRekognitionAsyncClientBuilder",
    "asyncInterface" : "AmazonRekognitionAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonRekognitionModuleInjector",
    "defaultEndpoint" : "rekognition.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "rekognition.us-east-1.amazonaws.com",
    "documentation" : "<p>This is Amazon Rekognition API guide.</p>",
    "endpointPrefix" : "rekognition",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.rekognition",
    "packagePath" : "com/amazonaws/services/rekognition",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Rekognition",
    "serviceName" : "Amazon Rekognition",
    "signingName" : "rekognition",
    "smokeTestsPackageName" : "com.amazonaws.services.rekognition.smoketests",
    "syncClient" : "AmazonRekognitionClient",
    "syncClientBuilderClassName" : "AmazonRekognitionClientBuilder",
    "syncInterface" : "AmazonRekognition",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CompareFaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CompareFacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CompareFacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CompareFacesRequest, CompareFacesResult>",
      "asyncReturnType" : "CompareFacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Compares a face in the <i>source</i> input image with each face detected in the <i>target</i> input image. </p> <note> <p> If the source image contains multiple faces, the service detects the largest face and uses it to compare with each face detected in the target image. </p> </note> <p>In response, the operation returns an array of face matches ordered by similarity score with the highest similarity scores first. For each face match, the response provides a bounding box of the face and <code>confidence</code> value (indicating the level of confidence that the bounding box contains a face). The response also provides a <code>similarity</code> score, which indicates how closely the faces match. </p> <note> <p>By default, only faces with the similarity score of greater than or equal to 80% are returned in the response. You can change this value.</p> </note> <p>In addition to the face matches, the response returns information about the face in the source image, including the bounding box of the face and confidence value.</p> <note> <p> This is a stateless API operation. That is, the operation does not persist any data.</p> </note> <p>For an example, see <a>get-started-exercise-compare-faces</a> </p> <p>This operation requires permissions to perform the <code>rekognition:CompareFaces</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "InvalidS3ObjectException",
        "documentation" : "<p>Amazon Rekognition is unable to access the S3 object specified in the request.</p>"
      }, {
        "exceptionName" : "ImageTooLargeException",
        "documentation" : "<p>The input image size exceeds the allowed limit. For more information, see <a>limits</a>. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "InvalidImageFormatException",
        "documentation" : "<p>The provided image format is not supported. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CompareFacesRequest",
        "variableName" : "compareFacesRequest",
        "variableType" : "CompareFacesRequest",
        "documentation" : "",
        "simpleType" : "CompareFacesRequest",
        "variableSetterType" : "CompareFacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "compareFaces",
      "operationName" : "CompareFaces",
      "returnType" : {
        "returnType" : "CompareFacesResult",
        "documentation" : null
      },
      "syncReturnType" : "CompareFacesResult"
    },
    "CreateCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCollectionRequest, CreateCollectionResult>",
      "asyncReturnType" : "CreateCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a collection in an AWS region. You can add faces to the collection using the operation. </p> <p>For example, you might create collections, one for each of your application users. A user can then index faces using the <code>IndexFaces</code> operation and persist results in a specific collection. Then, a user can search the collection for faces in the user-specific container. </p> <p>For an example, see <a>example1</a>. </p> <p>This operation requires permissions to perform the <code>rekognition:CreateCollection</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The collection with specific ID already exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateCollectionRequest",
        "variableName" : "createCollectionRequest",
        "variableType" : "CreateCollectionRequest",
        "documentation" : "",
        "simpleType" : "CreateCollectionRequest",
        "variableSetterType" : "CreateCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCollection",
      "operationName" : "CreateCollection",
      "returnType" : {
        "returnType" : "CreateCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCollectionResult"
    },
    "DeleteCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCollectionRequest, DeleteCollectionResult>",
      "asyncReturnType" : "DeleteCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified collection. Note that this operation removes all faces in the collection. For an example, see <a>example1</a>.</p> <p>This operation requires permissions to perform the <code>rekognition:DeleteCollection</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Collection specified in the request is not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCollectionRequest",
        "variableName" : "deleteCollectionRequest",
        "variableType" : "DeleteCollectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteCollectionRequest",
        "variableSetterType" : "DeleteCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCollection",
      "operationName" : "DeleteCollection",
      "returnType" : {
        "returnType" : "DeleteCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCollectionResult"
    },
    "DeleteFaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFacesRequest, DeleteFacesResult>",
      "asyncReturnType" : "DeleteFacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes faces from a collection. You specify a collection ID and an array of face IDs to remove from the collection.</p> <p>This operation requires permissions to perform the <code>rekognition:DeleteFaces</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Collection specified in the request is not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFacesRequest",
        "variableName" : "deleteFacesRequest",
        "variableType" : "DeleteFacesRequest",
        "documentation" : "",
        "simpleType" : "DeleteFacesRequest",
        "variableSetterType" : "DeleteFacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFaces",
      "operationName" : "DeleteFaces",
      "returnType" : {
        "returnType" : "DeleteFacesResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFacesResult"
    },
    "DetectFaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectFacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectFacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectFacesRequest, DetectFacesResult>",
      "asyncReturnType" : "DetectFacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects faces within an image (JPEG or PNG) that is provided as input.</p> <p> For each face detected, the operation returns face details including a bounding box of the face, a confidence value (that the bounding box contains a face), and a fixed set of attributes such as facial landmarks (for example, coordinates of eye and mouth), gender, presence of beard, sunglasses, etc. </p> <p>The face-detection algorithm is most effective on frontal faces. For non-frontal or obscured faces, the algorithm may not detect the faces or might detect faces with lower confidence. </p> <note> <p>This is a stateless API operation. That is, the operation does not persist any data.</p> </note> <p>For an example, see <a>get-started-exercise-detect-faces</a>.</p> <p>This operation requires permissions to perform the <code>rekognition:DetectFaces</code> action. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidS3ObjectException",
        "documentation" : "<p>Amazon Rekognition is unable to access the S3 object specified in the request.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "ImageTooLargeException",
        "documentation" : "<p>The input image size exceeds the allowed limit. For more information, see <a>limits</a>. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "InvalidImageFormatException",
        "documentation" : "<p>The provided image format is not supported. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectFacesRequest",
        "variableName" : "detectFacesRequest",
        "variableType" : "DetectFacesRequest",
        "documentation" : "",
        "simpleType" : "DetectFacesRequest",
        "variableSetterType" : "DetectFacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectFaces",
      "operationName" : "DetectFaces",
      "returnType" : {
        "returnType" : "DetectFacesResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectFacesResult"
    },
    "DetectLabels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectLabelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectLabelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectLabelsRequest, DetectLabelsResult>",
      "asyncReturnType" : "DetectLabelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects instances of real-world labels within an image (JPEG or PNG) provided as input. This includes objects like flower, tree, and table; events like wedding, graduation, and birthday party; and concepts like landscape, evening, and nature. For an example, see <a>get-started-exercise-detect-labels</a>.</p> <p> For each object, scene, and concept the API returns one or more labels. Each label provides the object name, and the level of confidence that the image contains the object. For example, suppose the input image has a lighthouse, the sea, and a rock. The response will include all three labels, one for each object. </p> <p> <code>{Name: lighthouse, Confidence: 98.4629}</code> </p> <p> <code>{Name: rock,Confidence: 79.2097}</code> </p> <p> <code> {Name: sea,Confidence: 75.061}</code> </p> <p> In the preceding example, the operation returns one label for each of the three objects. The operation can also return multiple labels for the same object in the image. For example, if the input image shows a flower (for example, a tulip), the operation might return the following three labels. </p> <p> <code>{Name: flower,Confidence: 99.0562}</code> </p> <p> <code>{Name: plant,Confidence: 99.0562}</code> </p> <p> <code>{Name: tulip,Confidence: 99.0562}</code> </p> <p>In this example, the detection algorithm more precisely identifies the flower as a tulip.</p> <p> You can provide the input image as an S3 object or as base64-encoded bytes. In response, the API returns an array of labels. In addition, the response also includes the orientation correction. Optionally, you can specify <code>MinConfidence</code> to control the confidence threshold for the labels returned. The default is 50%. You can also add the <code>MaxLabels</code> parameter to limit the number of labels returned. </p> <note> <p>If the object detected is a person, the operation doesn't provide the same facial details that the <a>DetectFaces</a> operation provides.</p> </note> <p>This is a stateless API operation. That is, the operation does not persist any data.</p> <p>This operation requires permissions to perform the <code>rekognition:DetectLabels</code> action. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidS3ObjectException",
        "documentation" : "<p>Amazon Rekognition is unable to access the S3 object specified in the request.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "ImageTooLargeException",
        "documentation" : "<p>The input image size exceeds the allowed limit. For more information, see <a>limits</a>. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "InvalidImageFormatException",
        "documentation" : "<p>The provided image format is not supported. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectLabelsRequest",
        "variableName" : "detectLabelsRequest",
        "variableType" : "DetectLabelsRequest",
        "documentation" : "",
        "simpleType" : "DetectLabelsRequest",
        "variableSetterType" : "DetectLabelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectLabels",
      "operationName" : "DetectLabels",
      "returnType" : {
        "returnType" : "DetectLabelsResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectLabelsResult"
    },
    "IndexFaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<IndexFacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<IndexFacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<IndexFacesRequest, IndexFacesResult>",
      "asyncReturnType" : "IndexFacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects faces in the input image and adds them to the specified collection. </p> <p> Amazon Rekognition does not save the actual faces detected. Instead, the underlying detection algorithm first detects the faces in the input image, and for each face extracts facial features into a feature vector, and stores it in the back-end database. Amazon Rekognition uses feature vectors when performing face match and search operations using the and operations. </p> <p>If you provide the optional <code>externalImageID</code> for the input image you provided, Amazon Rekognition associates this ID with all faces that it detects. When you call the operation, the response returns the external ID. You can use this external image ID to create a client-side index to associate the faces with each image. You can then use the index to find all faces in an image. </p> <p>In response, the operation returns an array of metadata for all detected faces. This includes, the bounding box of the detected face, confidence value (indicating the bounding box contains a face), a face ID assigned by the service for each face that is detected and stored, and an image ID assigned by the service for the input image If you request all facial attributes (using the <code>detectionAttributes</code> parameter, Rekognition returns detailed facial attributes such as facial landmarks (for example, location of eye and mount) and other facial attributes such gender. If you provide the same image, specify the same collection, and use the same external ID in the <code>IndexFaces</code> operation, Rekognition doesn't save duplicate face metadata. </p> <p>For an example, see <a>example2</a>.</p> <p>This operation requires permissions to perform the <code>rekognition:IndexFaces</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidS3ObjectException",
        "documentation" : "<p>Amazon Rekognition is unable to access the S3 object specified in the request.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "ImageTooLargeException",
        "documentation" : "<p>The input image size exceeds the allowed limit. For more information, see <a>limits</a>. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Collection specified in the request is not found.</p>"
      }, {
        "exceptionName" : "InvalidImageFormatException",
        "documentation" : "<p>The provided image format is not supported. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "IndexFacesRequest",
        "variableName" : "indexFacesRequest",
        "variableType" : "IndexFacesRequest",
        "documentation" : "",
        "simpleType" : "IndexFacesRequest",
        "variableSetterType" : "IndexFacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "indexFaces",
      "operationName" : "IndexFaces",
      "returnType" : {
        "returnType" : "IndexFacesResult",
        "documentation" : null
      },
      "syncReturnType" : "IndexFacesResult"
    },
    "ListCollections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCollectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCollectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCollectionsRequest, ListCollectionsResult>",
      "asyncReturnType" : "ListCollectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns list of collection IDs in your account. If the result is truncated, the response also provides a <code>NextToken</code> that you can use in the subsequent request to fetch the next set of collection IDs.</p> <p>For an example, see <a>example1</a>.</p> <p>This operation requires permissions to perform the <code>rekognition:ListCollections</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Pagination token in the request is not valid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Collection specified in the request is not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListCollectionsRequest",
        "variableName" : "listCollectionsRequest",
        "variableType" : "ListCollectionsRequest",
        "documentation" : "",
        "simpleType" : "ListCollectionsRequest",
        "variableSetterType" : "ListCollectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCollections",
      "operationName" : "ListCollections",
      "returnType" : {
        "returnType" : "ListCollectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCollectionsResult"
    },
    "ListFaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFacesRequest, ListFacesResult>",
      "asyncReturnType" : "ListFacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata for faces in the specified collection. This metadata includes information such as the bounding box coordinates, the confidence (that the bounding box contains a face), and face ID. For an example, see <a>example3</a>. </p> <p>This operation requires permissions to perform the <code>rekognition:ListFaces</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Pagination token in the request is not valid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Collection specified in the request is not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListFacesRequest",
        "variableName" : "listFacesRequest",
        "variableType" : "ListFacesRequest",
        "documentation" : "",
        "simpleType" : "ListFacesRequest",
        "variableSetterType" : "ListFacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFaces",
      "operationName" : "ListFaces",
      "returnType" : {
        "returnType" : "ListFacesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFacesResult"
    },
    "SearchFaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchFacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchFacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchFacesRequest, SearchFacesResult>",
      "asyncReturnType" : "SearchFacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For a given input face ID, searches the specified collection for matching faces. You get a face ID when you add a face to the collection using the <a>IndexFaces</a> operation. The operation compares the features of the input face with faces in the specified collection. </p> <note> <p>You can also search faces without indexing faces by using the <code>SearchFacesByImage</code> operation.</p> </note> <p> The operation response returns an array of faces that match, ordered by similarity score with the highest similarity first. More specifically, it is an array of metadata for each face match that is found. Along with the metadata, the response also includes a <code>confidence</code> value for each face match, indicating the confidence that the specific face matches the input face. </p> <p>For an example, see <a>example3</a>.</p> <p>This operation requires permissions to perform the <code>rekognition:SearchFaces</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Collection specified in the request is not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchFacesRequest",
        "variableName" : "searchFacesRequest",
        "variableType" : "SearchFacesRequest",
        "documentation" : "",
        "simpleType" : "SearchFacesRequest",
        "variableSetterType" : "SearchFacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchFaces",
      "operationName" : "SearchFaces",
      "returnType" : {
        "returnType" : "SearchFacesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchFacesResult"
    },
    "SearchFacesByImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchFacesByImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchFacesByImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchFacesByImageRequest, SearchFacesByImageResult>",
      "asyncReturnType" : "SearchFacesByImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For a given input image, first detects the largest face in the image, and then searches the specified collection for matching faces. The operation compares the features of the input face with faces in the specified collection. </p> <note> <p> To search for all faces in an input image, you might first call the API, and then use the face IDs returned in subsequent calls to the API. </p> <p> You can also call the <code>DetectFaces</code> API and use the bounding boxes in the response to make face crops, which then you can pass in to the <code>SearchFacesByImage</code> API. </p> </note> <p> The response returns an array of faces that match, ordered by similarity score with the highest similarity first. More specifically, it is an array of metadata for each face match found. Along with the metadata, the response also includes a <code>similarity</code> indicating how similar the face is to the input face. In the response, the API also returns the bounding box (and a confidence level that the bounding box contains a face) of the face that Rekognition used for the input image. </p> <p>For an example, see <a>example3</a>.</p> <p>This operation requires permissions to perform the <code>rekognition:SearchFacesByImage</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidS3ObjectException",
        "documentation" : "<p>Amazon Rekognition is unable to access the S3 object specified in the request.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Input parameter violated a constraint. Validate your parameter before calling the API again.</p>"
      }, {
        "exceptionName" : "ImageTooLargeException",
        "documentation" : "<p>The input image size exceeds the allowed limit. For more information, see <a>limits</a>. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform the action.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Amazon Rekognition experienced a service issue. Try your call again.</p>"
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Amazon Rekognition is temporarily unable to process the request. Try your call again.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The number of requests exceeded your throughput limit. If you want to increase this limit, contact Amazon Rekognition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Collection specified in the request is not found.</p>"
      }, {
        "exceptionName" : "InvalidImageFormatException",
        "documentation" : "<p>The provided image format is not supported. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchFacesByImageRequest",
        "variableName" : "searchFacesByImageRequest",
        "variableType" : "SearchFacesByImageRequest",
        "documentation" : "",
        "simpleType" : "SearchFacesByImageRequest",
        "variableSetterType" : "SearchFacesByImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchFacesByImage",
      "operationName" : "SearchFacesByImage",
      "returnType" : {
        "returnType" : "SearchFacesByImageResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchFacesByImageResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You are not authorized to perform the action.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Attribute" : {
      "c2jName" : "Attribute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "DEFAULT",
        "value" : "DEFAULT"
      }, {
        "name" : "ALL",
        "value" : "ALL"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "Attribute",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Attribute",
        "variableName" : "attribute",
        "variableType" : "Attribute",
        "documentation" : null,
        "simpleType" : "Attribute",
        "variableSetterType" : "Attribute"
      },
      "wrapper" : false
    },
    "Beard" : {
      "c2jName" : "Beard",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Indicates whether or not the face has a beard, and the confidence level in the determination.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Value",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Boolean value that indicates whether the face has beard or not.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Boolean value that indicates whether the face has beard or not.</p>\n@param value Boolean value that indicates whether the face has beard or not.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Boolean value that indicates whether the face has beard or not.</p>\n@return Boolean value that indicates whether the face has beard or not.*/",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Value",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Value",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Value",
        "setterDocumentation" : "/**<p>Boolean value that indicates whether the face has beard or not.</p>\n@param value Boolean value that indicates whether the face has beard or not.*/",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "value",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Boolean value that indicates whether the face has beard or not.</p>\n@param value Boolean value that indicates whether the face has beard or not.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "value",
          "variableType" : "Boolean",
          "documentation" : "<p>Boolean value that indicates whether the face has beard or not.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Confidence",
        "c2jShape" : "Percent",
        "deprecated" : false,
        "documentation" : "<p>Level of confidence in the determination.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Level of confidence in the determination.</p>\n@param confidence Level of confidence in the determination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Level of confidence in the determination.</p>\n@return Level of confidence in the determination.*/",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Confidence",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Confidence",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Confidence",
        "setterDocumentation" : "/**<p>Level of confidence in the determination.</p>\n@param confidence Level of confidence in the determination.*/",
        "setterModel" : {
          "variableDeclarationType" : "Float",
          "variableName" : "confidence",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Level of confidence in the determination.</p>\n@param confidence Level of confidence in the determination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Float",
          "variableName" : "confidence",
          "variableType" : "Float",
          "documentation" : "<p>Level of confidence in the determination.</p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Confidence" : {
          "c2jName" : "Confidence",
          "c2jShape" : "Percent",
          "deprecated" : false,
          "documentation" : "<p>Level of confidence in the determination.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Level of confidence in the determination.</p>\n@param confidence Level of confidence in the determination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Level of confidence in the determination.</p>\n@return Level of confidence in the determination.*/",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Confidence",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Confidence",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Confidence",
          "setterDocumentation" : "/**<p>Level of confidence in the determination.</p>\n@param confidence Level of confidence in the determination.*/",
          "setterModel" : {
            "variableDeclarationType" : "Float",
            "variableName" : "confidence",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Level of confidence in the determination.</p>\n@param confidence Level of confidence in the determination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Float",
            "variableName" : "confidence",
            "variableType" : "Float",
            "documentation" : "<p>Level of confidence in the determination.</p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        },
        "Value" : {
          "c2jName" : "Value",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>Boolean value that indicates whether the face has beard or not.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Boolean value that indicates whether the face has beard or not.</p>\n@param value Boolean value that indicates whether the face has beard or not.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Boolean value that indicates whether the face has beard or not.</p>\n@return Boolean value that indicates whether the face has beard or not.*/",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Value",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Value",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Value",
          "setterDocumentation" : "/**<p>Boolean value that indicates whether the face has beard or not.</p>\n@param value Boolean value that indicates whether the face has beard or not.*/",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "value",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Boolean value that indicates whether the face has beard or not.</p>\n@param value Boolean value that indicates whether the face has beard or not.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "value",
            "variableType" : "Boolean",
            "documentation" : "<p>Boolean value that indicates whether the face has beard or not.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "Beard",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Beard",
        "variableName" : "beard",
        "variableType" : "Beard",
        "documentation" : null,
        "simpleType" : "Beard",
        "variableSetterType" : "Beard"
      },
      "wrapper" : false
    },
    "BoundingBox" : {
      "c2jName" : "BoundingBox",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Identifies the bounding box around the object or face. The <code>left</code> (x-coordinate) and <code>top</code> (y-coordinate) are coordinates representing the top and left sides of the bounding box. Note that the upper-left corner of the image is the origin (0,0). </p> <p>The <code>top</code> and <code>left</code> values returned are ratios of the overall image size. For example, if the input image is 700x200 pixels, and the top-left coordinate of the bounding box is 350x50 pixels, the API returns a <code>left</code> value of 0.5 (350/700) and a <code>top</code> value of 0.25 (50/200).</p> <p> The <code>width</code> and <code>height</code> values represent the dimensions of the bounding box as a ratio of the overall image dimension. For example, if the input image is 700x200 pixels, and the bounding box width is 70 pixels, the width returned is 0.1. </p> <note> <p> The bounding box coordinates can have negative values. For example, if Amazon Rekognition is able to detect a face that is at the image edge and is only partially visible, the service can return coordinates that are outside the image bounds and, depending on the image edge, you might get negative values or values greater than 1 for the <code>left</code> or <code>top</code> values. </p> </note>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Width",
        "c2jShape" : "Float",
        "deprecated" : false,
        "documentation" : "<p>Width of the bounding box as a ratio of the overall image width.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Width of the bounding box as a ratio of the overall image width.</p>\n@param width Width of the bounding box as a ratio of the overall image width.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Width of the bounding box as a ratio of the overall image width.</p>\n@return Width of the bounding box as a ratio of the overall image width.*/",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Width",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Width",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Width",
        "setterDocumentation" : "/**<p>Width of the bounding box as a ratio of the overall image width.</p>\n@param width Width of the bounding box as a ratio of the overall image width.*/",
        "setterModel" : {
          "variableDeclarationType" : "Float",
          "variableName" : "width",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Width of the bounding box as a ratio of the overall image width.</p>\n@param width Width of the bounding box as a ratio of the overall image width.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Float",
          "variableName" : "width",
          "variableType" : "Float",
          "documentation" : "<p>Width of the bounding box as a ratio of the overall image width.</p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Height",
        "c2jShape" : "Float",
        "deprecated" : false,
        "documentation" : "<p>Height of the bounding box as a ratio of the overall image height.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Height of the bounding box as a ratio of the overall image height.</p>\n@param height Height of the bounding box as a ratio of the overall image height.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Height of the bounding box as a ratio of the overall image height.</p>\n@return Height of the bounding box as a ratio of the overall image height.*/",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Height",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Height",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Height",
        "setterDocumentation" : "/**<p>Height of the bounding box as a ratio of the overall image height.</p>\n@param height Height of the bounding box as a ratio of the overall image height.*/",
        "setterModel" : {
          "variableDeclarationType" : "Float",
          "variableName" : "height",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Height of the bounding box as a ratio of the overall image height.</p>\n@param height Height of the bounding box as a ratio of the overall image height.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Float",
          "variableName" : "height",
          "variableType" : "Float",
          "documentation" : "<p>Height of the bounding box as a ratio of the overall image height.</p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Left",
        "c2jShape" : "Float",
        "deprecated" : false,
        "documentation" : "<p>Left coordinate of the bounding box as a ratio of overall image width.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Left coordinate of the bounding box as a ratio of overall image width.</p>\n@param left Left coordinate of the bounding box as a ratio of overall image width.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Left coordinate of the bounding box as a ratio of overall image width.</p>\n@return Left coordinate of the bounding box as a ratio of overall image width.*/",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Left",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Left",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Left",
        "setterDocumentation" : "/**<p>Left coordinate of the bounding box as a ratio of overall image width.</p>\n@param left Left coordinate of the bounding box as a ratio of overall image width.*/",
        "setterModel" : {
          "variableDeclarationType" : "Float",
          "variableName" : "left",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Left coordinate of the bounding box as a ratio of overall image width.</p>\n@param left Left coordinate of the bounding box as a ratio of overall image width.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Float",
          "variableName" : "left",
          "variableType" : "Float",
          "documentation" : "<p>Left coordinate of the bounding box as a ratio of overall image width.</p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Top",
        "c2jShape" : "Float",
        "deprecated" : false,
        "documentation" : "<p>Top coordinate of the bounding box as a ratio of overall image height.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Top coordinate of the bounding box as a ratio of overall image height.</p>\n@param top Top coordinate of the bounding box as a ratio of overall image height.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Top coordinate of the bounding box as a ratio of overall image height.</p>\n@return Top coordinate of the bounding box as a ratio of overall image height.*/",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Top",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Top",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Top",
        "setterDocumentation" : "/**<p>Top coordinate of the bounding box as a ratio of overall image height.</p>\n@param top Top coordinate of the bounding box as a ratio of overall image height.*/",
        "setterModel" : {
          "variableDeclarationType" : "Float",
          "variableName" : "top",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Top coordinate of the bounding box as a ratio of overall image height.</p>\n@param top Top coordinate of the bounding box as a ratio of overall image height.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Float",
          "variableName" : "top",
          "variableType" : "Float",
          "documentation" : "<p>Top coordinate of the bounding box as a ratio of overall image height.</p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Height" : {
          "c2jName" : "Height",
          "c2jShape" : "Float",
          "deprecated" : false,
          "documentation" : "<p>Height of the bounding box as a ratio of the overall image height.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Height of the bounding box as a ratio of the overall image height.</p>\n@param height Height of the bounding box as a ratio of the overall image height.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Height of the bounding box as a ratio of the overall image height.</p>\n@return Height of the bounding box as a ratio of the overall image height.*/",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Height",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Height",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Height",
          "setterDocumentation" : "/**<p>Height of the bounding box as a ratio of the overall image height.</p>\n@param height Height of the bounding box as a ratio of the overall image height.*/",
          "setterModel" : {
            "variableDeclarationType" : "Float",
            "variableName" : "height",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Height of the bounding box as a ratio of the overall image height.</p>\n@param height Height of the bounding box as a ratio of the overall image height.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Float",
            "variableName" : "height",
            "variableType" : "Float",
            "documentation" : "<p>Height of the bounding box as a ratio of the overall image height.</p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        },
        "Left" : {
          "c2jName" : "Left",
          "c2jShape" : "Float",
          "deprecated" : false,
          "documentation" : "<p>Left coordinate of the bounding box as a ratio of overall image width.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Left coordinate of the bounding box as a ratio of overall image width.</p>\n@param left Left coordinate of the bounding box as a ratio of overall image width.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Left coordinate of the bounding box as a ratio of overall image width.</p>\n@return Left coordinate of the bounding box as a ratio of overall image width.*/",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Left",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Left",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Left",
          "setterDocumentation" : "/**<p>Left coordinate of the bounding box as a ratio of overall image width.</p>\n@param left Left coordinate of the bounding box as a ratio of overall image width.*/",
          "setterModel" : {
            "variableDeclarationType" : "Float",
            "variableName" : "left",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Left coordinate of the bounding box as a ratio of overall image width.</p>\n@param left Left coordinate of the bounding box as a ratio of overall image width.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Float",
            "variableName" : "left",
            "variableType" : "Float",
            "documentation" : "<p>Left coordinate of the bounding box as a ratio of overall image width.</p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        },
        "Top" : {
          "c2jName" : "Top",
          "c2jShape" : "Float",
          "deprecated" : false,
          "documentation" : "<p>Top coordinate of the bounding box as a ratio of overall image height.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Top coordinate of the bounding box as a ratio of overall image height.</p>\n@param top Top coordinate of the bounding box as a ratio of overall image height.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Top coordinate of the bounding box as a ratio of overall image height.</p>\n@return Top coordinate of the bounding box as a ratio of overall image height.*/",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Top",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Top",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Top",
          "setterDocumentation" : "/**<p>Top coordinate of the bounding box as a ratio of overall image height.</p>\n@param top Top coordinate of the bounding box as a ratio of overall image height.*/",
          "setterModel" : {
            "variableDeclarationType" : "Float",
            "variableName" : "top",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Top coordinate of the bounding box as a ratio of overall image height.</p>\n@param top Top coordinate of the bounding box as a ratio of overall image height.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Float",
            "variableName" : "top",
            "variableType" : "Float",
            "documentation" : "<p>Top coordinate of the bounding box as a ratio of overall image height.</p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        },
        "Width" : {
          "c2jName" : "Width",
          "c2jShape" : "Float",
          "deprecated" : false,
          "documentation" : "<p>Width of the bounding box as a ratio of the overall image width.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Width of the bounding box as a ratio of the overall image width.</p>\n@param width Width of the bounding box as a ratio of the overall image width.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Width of the bounding box as a ratio of the overall image width.</p>\n@return Width of the bounding box as a ratio of the overall image width.*/",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Width",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Width",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Width",
          "setterDocumentation" : "/**<p>Width of the bounding box as a ratio of the overall image width.</p>\n@param width Width of the bounding box as a ratio of the overall image width.*/",
          "setterModel" : {
            "variableDeclarationType" : "Float",
            "variableName" : "width",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Width of the bounding box as a ratio of the overall image width.</p>\n@param width Width of the bounding box as a ratio of the overall image width.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Float",
            "variableName" : "width",
            "variableType" : "Float",
            "documentation" : "<p>Width of the bounding box as a ratio of the overall image width.</p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "BoundingBox",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BoundingBox",
        "variableName" : "boundingBox",
        "variableType" : "BoundingBox",
        "documentation" : null,
        "simpleType" : "BoundingBox",
        "variableSetterType" : "BoundingBox"
      },
      "wrapper" : false
    },
    "CompareFacesMatch" : {
      "c2jName" : "CompareFacesMatch",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provide the bounding box, confidence that the bounding box actually contains a face, and the similarity between the face in the bounding box and the face in the source image.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Similarity",
        "c2jShape" : "Percent",
        "deprecated" : false,
        "documentation" : "<p>Level of confidence that the faces match.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Level of confidence that the faces match.</p>\n@param similarity Level of confidence that the faces match.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Level of confidence that the faces match.</p>\n@return Level of confidence that the faces match.*/",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Similarity",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Similarity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Similarity",
        "setterDocumentation" : "/**<p>Level of confidence that the faces match.</p>\n@param similarity Level of confidence that the faces match.*/",
        "setterModel" : {
          "variableDeclarationType" : "Float",
          "variableName" : "similarity",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Level of confidence that the faces match.</p>\n@param similarity Level of confidence that the faces match.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Float",
          "variableName" : "similarity",
          "variableType" : "Float",
          "documentation" : "<p>Level of confidence that the faces match.</p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Face",
        "c2jShape" : "ComparedFace",
        "deprecated" : false,
        "documentation" : "<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>\n@param face Provides face metadata (bounding box and confidence that the bounding box actually contains a face).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>\n@return Provides face metadata (bounding box and confidence that the bounding box actually contains a face).*/",
        "getterModel" : {
          "returnType" : "ComparedFace",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Face",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Face",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Face",
        "setterDocumentation" : "/**<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>\n@param face Provides face metadata (bounding box and confidence that the bounding box actually contains a face).*/",
        "setterModel" : {
          "variableDeclarationType" : "ComparedFace",
          "variableName" : "face",
          "variableType" : "ComparedFace",
          "documentation" : "",
          "simpleType" : "ComparedFace",
          "variableSetterType" : "ComparedFace"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>\n@param face Provides face metadata (bounding box and confidence that the bounding box actually contains a face).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "ComparedFace",
          "variableName" : "face",
          "variableType" : "ComparedFace",
          "documentation" : "<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>",
          "simpleType" : "ComparedFace",
          "variableSetterType" : "ComparedFace"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Face" : {
          "c2jName" : "Face",
          "c2jShape" : "ComparedFace",
          "deprecated" : false,
          "documentation" : "<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>\n@param face Provides face metadata (bounding box and confidence that the bounding box actually contains a face).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>\n@return Provides face metadata (bounding box and confidence that the bounding box actually contains a face).*/",
          "getterModel" : {
            "returnType" : "ComparedFace",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Face",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Face",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Face",
          "setterDocumentation" : "/**<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>\n@param face Provides face metadata (bounding box and confidence that the bounding box actually contains a face).*/",
          "setterModel" : {
            "variableDeclarationType" : "ComparedFace",
            "variableName" : "face",
            "variableType" : "ComparedFace",
            "documentation" : "",
            "simpleType" : "ComparedFace",
            "variableSetterType" : "ComparedFace"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>\n@param face Provides face metadata (bounding box and confidence that the bounding box actually contains a face).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "ComparedFace",
            "variableName" : "face",
            "variableType" : "ComparedFace",
            "documentation" : "<p>Provides face metadata (bounding box and confidence that the bounding box actually contains a face).</p>",
            "simpleType" : "ComparedFace",
            "variableSetterType" : "ComparedFace"
          },
          "xmlNameSpaceUri" : null
        },
        "Similarity" : {
          "c2jName" : "Similarity",
          "c2jShape" : "Percent",
          "deprecated" : false,
          "documentation" : "<p>Level of confidence that the faces match.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Level of confidence that the faces match.</p>\n@param similarity Level of confidence that the faces match.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Level of confidence that the faces match.</p>\n@return Level of confidence that the faces match.*/",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Similarity",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Similarity",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Similarity",
          "setterDocumentation" : "/**<p>Level of confidence that the faces match.</p>\n@param similarity Level of confidence that the faces match.*/",
          "setterModel" : {
            "variableDeclarationType" : "Float",
            "variableName" : "similarity",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Level of confidence that the faces match.</p>\n@param similarity Level of confidence that the faces match.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Float",
            "variableName" : "similarity",
            "variableType" : "Float",
            "documentation" : "<p>Level of confidence that the faces match.</p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "CompareFacesMatch",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CompareFacesMatch",
        "variableName" : "compareFacesMatch",
        "variableType" : "CompareFacesMatch",
        "documentation" : null,
        "simpleType" : "CompareFacesMatch",
        "variableSetterType" : "CompareFacesMatch"
      },
      "wrapper" : false
    },
    "CompareFacesRequest" : {
      "c2jName" : "CompareFacesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CompareFaces",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "RekognitionService.CompareFaces",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "SourceImage",
        "c2jShape" : "Image",
        "deprecated" : false,
        "documentation" : "<p>Source image either as bytes or an Amazon S3 object</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Source image either as bytes or an Amazon S3 object</p>\n@param sourceImage Source image either as bytes or an Amazon S3 object\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Source image either as bytes or an Amazon S3 object</p>\n@return Source image either as bytes or an Amazon S3 object*/",
        "getterModel" : {
          "returnType" : "Image",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SourceImage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SourceImage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SourceImage",
        "setterDocumentation" : "/**<p>Source image either as bytes or an Amazon S3 object</p>\n@param sourceImage Source image either as bytes or an Amazon S3 object*/",
        "setterModel" : {
          "variableDeclarationType" : "Image",
          "variableName" : "sourceImage",
          "variableType" : "Image",
          "documentation" : "",
          "simpleType" : "Image",
          "variableSetterType" : "Image"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Source image either as bytes or an Amazon S3 object</p>\n@param sourceImage Source image either as bytes or an Amazon S3 object\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Image",
          "variableName" : "sourceImage",
          "variableType" : "Image",
          "documentation" : "<p>Source image either as bytes or an Amazon S3 object</p>",
          "simpleType" : "Image",
          "variableSetterType" : "Image"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TargetImage",
        "c2jShape" : "Image",
        "deprecated" : false,
        "documentation" : "<p>Target image either as bytes or an Amazon S3 object</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Target image either as bytes or an Amazon S3 object</p>\n@param targetImage Target image either as bytes or an Amazon S3 object\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Target image either as bytes or an Amazon S3 object</p>\n@return Target image either as bytes or an Amazon S3 object*/",
        "getterModel" : {
          "returnType" : "Image",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "TargetImage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TargetImage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "TargetImage",
        "setterDocumentation" : "/**<p>Target image either as bytes or an Amazon S3 object</p>\n@param targetImage Target image either as bytes or an Amazon S3 object*/",
        "setterModel" : {
          "variableDeclarationType" : "Image",
          "variableName" : "targetImage",
          "variableType" : "Image",
          "documentation" : "",
          "simpleType" : "Image",
          "variableSetterType" : "Image"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Target image either as bytes or an Amazon S3 object</p>\n@param targetImage Target image either as bytes or an Amazon S3 object\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Image",
          "variableName" : "targetImage",
          "variableType" : "Image",
          "documentation" : "<p>Target image either as bytes or an Amazon S3 object</p>",
          "simpleType" : "Image",
          "variableSetterType" : "Image"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SimilarityThreshold",
        "c2jShape" : "Percent",
        "deprecated" : false,
        "documentation" : "<p>The minimum level of confidence in the match you want included in the result.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The minimum level of confidence in the match you want included in the result.</p>\n@param similarityThreshold The minimum level of confidence in the match you want included in the result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The minimum level of confidence in the match you want included in the result.</p>\n@return The minimum level of confidence in the match you want included in the result.*/",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SimilarityThreshold",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SimilarityThreshold",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SimilarityThreshold",
        "setterDocumentation" : "/**<p>The minimum level of confidence in the match you want included in the result.</p>\n@param similarityThreshold The minimum level of confidence in the match you want included in the result.*/",
        "setterModel" : {
          "variableDeclarationType" : "Float",
          "variableName" : "similarityThreshold",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The minimum level of confidence in the match you want included in the result.</p>\n@param similarityThreshold The minimum level of confidence in the match you want included in the result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Float",
          "variableName" : "similarityThreshold",
          "variableType" : "Float",
          "documentation" : "<p>The minimum level of confidence in the match you want included in the result.</p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SimilarityThreshold" : {
          "c2jName" : "SimilarityThreshold",
          "c2jShape" : "Percent",
          "deprecated" : false,
          "documentation" : "<p>The minimum level of confidence in the match you want included in the result.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The minimum level of confidence in the match you want included in the result.</p>\n@param similarityThreshold The minimum level of confidence in the match you want included in the result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The minimum level of confidence in the match you want included in the result.</p>\n@return The minimum level of confidence in the match you want included in the result.*/",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "SimilarityThreshold",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SimilarityThreshold",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "SimilarityThreshold",
          "setterDocumentation" : "/**<p>The minimum level of confidence in the match you want included in the result.</p>\n@param similarityThreshold The minimum level of confidence in the match you want included in the result.*/",
          "setterModel" : {
            "variableDeclarationType" : "Float",
            "variableName" : "similarityThreshold",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The minimum level of confidence in the match you want included in the result.</p>\n@param similarityThreshold The minimum level of confidence in the match you want included in the result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Float",
            "variableName" : "similarityThreshold",
            "variableType" : "Float",
            "documentation" : "<p>The minimum level of confidence in the match you want included in the result.</p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        },
        "SourceImage" : {
          "c2jName" : "SourceImage",
          "c2jShape" : "Image",
[...]
