{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-08-04",
    "asyncClient" : "AmazonKinesisFirehoseAsyncClient",
    "asyncClientBuilderClassName" : "AmazonKinesisFirehoseAsyncClientBuilder",
    "asyncInterface" : "AmazonKinesisFirehoseAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonKinesisFirehoseModuleInjector",
    "defaultEndpoint" : "https://firehose.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "firehose.us-east-1.amazonaws.com",
    "documentation" : "<fullname>Amazon Kinesis Firehose API Reference</fullname> <p>Amazon Kinesis Firehose is a fully-managed service that delivers real-time streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), and Amazon Redshift.</p>",
    "endpointPrefix" : "firehose",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kinesisfirehose",
    "packagePath" : "com/amazonaws/services/kinesisfirehose",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "Firehose",
    "serviceFullName" : "Amazon Kinesis Firehose",
    "serviceName" : "Firehose",
    "signingName" : "firehose",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisfirehose.smoketests",
    "syncClient" : "AmazonKinesisFirehoseClient",
    "syncClientBuilderClassName" : "AmazonKinesisFirehoseClientBuilder",
    "syncInterface" : "AmazonKinesisFirehose",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeliveryStreamRequest, CreateDeliveryStreamResult>",
      "asyncReturnType" : "CreateDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a delivery stream.</p> <p> <a>CreateDeliveryStream</a> is an asynchronous operation that immediately returns. The initial status of the delivery stream is <code>CREATING</code>. After the delivery stream is created, its status is <code>ACTIVE</code> and it now accepts data. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>The name of a delivery stream identifies it. You can't have two delivery streams with the same name in the same region. Two delivery streams in different AWS accounts or different regions in the same AWS account can have the same name.</p> <p>By default, you can create up to 20 delivery streams per region.</p> <p>A delivery stream can only be configured with a single destination, Amazon S3, Amazon Elasticsearch Service, or Amazon Redshift. For correct <a>CreateDeliveryStream</a> request syntax, specify only one destination configuration parameter: either <b>S3DestinationConfiguration</b>, <b>ElasticsearchDestinationConfiguration</b>, or <b>RedshiftDestinationConfiguration</b>. </p> <p>As part of <b>S3DestinationConfiguration</b>, optional values <b>BufferingHints</b>, <b>EncryptionConfiguration</b>, and <b>CompressionFormat</b> can be provided. By default, if no <b>BufferingHints</b> value is provided, Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. Note that <b>BufferingHints</b> is a hint, so there are some cases where the service cannot adhere to these conditions strictly; for example, record boundaries are such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about <b>RedshiftDestinationConfiguration</b>:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location, as Firehose first delivers data to S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <b>RedshiftDestinationConfiguration.S3Configuration</b> parameter element.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <b>RedshiftDestinationConfiguration.S3Configuration</b> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p> </li> <li> <p>We strongly recommend that the username and password provided is used exclusively for Firehose purposes, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Firehose assumes the IAM role that is configured as part of destinations. The IAM role should allow the Firehose principal to assume the role, and the role should have permissions that allows the service to deliver the data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon S3 Bucket Access</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has an value that is not valid.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached the limit for a requested resource.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDeliveryStreamRequest",
        "variableName" : "createDeliveryStreamRequest",
        "variableType" : "CreateDeliveryStreamRequest",
        "documentation" : "<p>Contains the parameters for <a>CreateDeliveryStream</a>.</p>",
        "simpleType" : "CreateDeliveryStreamRequest",
        "variableSetterType" : "CreateDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeliveryStream",
      "operationName" : "CreateDeliveryStream",
      "returnType" : {
        "returnType" : "CreateDeliveryStreamResult",
        "documentation" : "<p>Contains the output of <a>CreateDeliveryStream</a>.</p>"
      },
      "syncReturnType" : "CreateDeliveryStreamResult"
    },
    "DeleteDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeliveryStreamRequest, DeleteDeliveryStreamResult>",
      "asyncReturnType" : "DeleteDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a delivery stream and its data.</p> <p>You can delete a delivery stream only if it is in <code>ACTIVE</code> or <code>DELETING</code> state, and not in the <code>CREATING</code> state. While the deletion request is in process, the delivery stream is in the <code>DELETING</code> state.</p> <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>While the delivery stream is <code>DELETING</code> state, the service may continue to accept the records, but the service doesn't make any guarantees with respect to delivering the data. Therefore, as a best practice, you should first stop any applications that are sending records before deleting a delivery stream.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDeliveryStreamRequest",
        "variableName" : "deleteDeliveryStreamRequest",
        "variableType" : "DeleteDeliveryStreamRequest",
        "documentation" : "<p>Contains the parameters for <a>DeleteDeliveryStream</a>.</p>",
        "simpleType" : "DeleteDeliveryStreamRequest",
        "variableSetterType" : "DeleteDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeliveryStream",
      "operationName" : "DeleteDeliveryStream",
      "returnType" : {
        "returnType" : "DeleteDeliveryStreamResult",
        "documentation" : "<p>Contains the output of <a>DeleteDeliveryStream</a>.</p>"
      },
      "syncReturnType" : "DeleteDeliveryStreamResult"
    },
    "DescribeDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryStreamRequest, DescribeDeliveryStreamResult>",
      "asyncReturnType" : "DescribeDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified delivery stream and gets the status. For example, after your delivery stream is created, call <a>DescribeDeliveryStream</a> to see if the delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDeliveryStreamRequest",
        "variableName" : "describeDeliveryStreamRequest",
        "variableType" : "DescribeDeliveryStreamRequest",
        "documentation" : "<p>Contains the parameters for <a>DescribeDeliveryStream</a>.</p>",
        "simpleType" : "DescribeDeliveryStreamRequest",
        "variableSetterType" : "DescribeDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeliveryStream",
      "operationName" : "DescribeDeliveryStream",
      "returnType" : {
        "returnType" : "DescribeDeliveryStreamResult",
        "documentation" : "<p>Contains the output of <a>DescribeDeliveryStream</a>.</p>"
      },
      "syncReturnType" : "DescribeDeliveryStreamResult"
    },
    "ListDeliveryStreams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeliveryStreamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeliveryStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeliveryStreamsRequest, ListDeliveryStreamsResult>",
      "asyncReturnType" : "ListDeliveryStreamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your delivery streams.</p> <p>The number of delivery streams might be too large to return using a single call to <a>ListDeliveryStreams</a>. You can limit the number of delivery streams returned, using the <b>Limit</b> parameter. To determine whether there are more delivery streams to list, check the value of <b>HasMoreDeliveryStreams</b> in the output. If there are more delivery streams to list, you can request them by specifying the name of the last delivery stream returned in the call in the <b>ExclusiveStartDeliveryStreamName</b> parameter of a subsequent call.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDeliveryStreamsRequest",
        "variableName" : "listDeliveryStreamsRequest",
        "variableType" : "ListDeliveryStreamsRequest",
        "documentation" : "<p>Contains the parameters for <a>ListDeliveryStreams</a>.</p>",
        "simpleType" : "ListDeliveryStreamsRequest",
        "variableSetterType" : "ListDeliveryStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeliveryStreams",
      "operationName" : "ListDeliveryStreams",
      "returnType" : {
        "returnType" : "ListDeliveryStreamsResult",
        "documentation" : "<p>Contains the output of <a>ListDeliveryStreams</a>.</p>"
      },
      "syncReturnType" : "ListDeliveryStreamsResult"
    },
    "PutRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordRequest, PutRecordResult>",
      "asyncReturnType" : "PutRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Writes a single data record into an Amazon Kinesis Firehose delivery stream. To write multiple data records into a delivery stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. Note that if you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data, for example, a segment from a log file, geographic location data, web site clickstream data, etc.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application(s) to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecord</a> operation returns a <b>RecordId</b>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <a>PutRecord</a> operation throws a <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream. </p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has an value that is not valid.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRecordRequest",
        "variableName" : "putRecordRequest",
        "variableType" : "PutRecordRequest",
        "documentation" : "<p>Contains the parameters for <a>PutRecord</a>.</p>",
        "simpleType" : "PutRecordRequest",
        "variableSetterType" : "PutRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRecord",
      "operationName" : "PutRecord",
      "returnType" : {
        "returnType" : "PutRecordResult",
        "documentation" : "<p>Contains the output of <a>PutRecord</a>.</p>"
      },
      "syncReturnType" : "PutRecordResult"
    },
    "PutRecordBatch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordBatchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordBatchRequest, PutRecordBatchResult>",
      "asyncReturnType" : "PutRecordBatchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Writes multiple data records into a delivery stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a delivery stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before 64-bit encoding), up to a limit of 4 MB for the entire request. By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. Note that if you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data, for example, a segment from a log file, geographic location data, web site clickstream data, and so on.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application(s) to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of any failed records, <b>FailedPutCount</b>, and an array of responses, <b>RequestResponses</b>. The <b>FailedPutCount</b> value is a count of records that failed. Each entry in the <b>RequestResponses</b> array gives additional information of the processed record. Each entry in <b>RequestResponses</b> directly correlates with a record in the request array using the same ordering, from the top to the bottom of the request and response. <b>RequestResponses</b> always includes the same number of records as the request array. <b>RequestResponses</b> both successfully and unsuccessfully processed records. Firehose attempts to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records.</p> <p>A successfully processed record includes a <b>RecordId</b> value, which is a unique value identified for the record. An unsuccessfully processed record includes <b>ErrorCode</b> and <b>ErrorMessage</b> values. <b>ErrorCode</b> reflects the type of error and is one of the following values: <code>ServiceUnavailable</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the error.</p> <p>If <b>FailedPutCount</b> is greater than 0 (zero), retry the request. A retry of the entire batch of records is possible; however, we strongly recommend that you inspect the entire response and resend only those records that failed processing. This minimizes duplicate records and also reduces the total bytes sent (and corresponding charges).</p> <p>If the <a>PutRecordBatch</a> operation throws a <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream.</p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has an value that is not valid.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRecordBatchRequest",
        "variableName" : "putRecordBatchRequest",
        "variableType" : "PutRecordBatchRequest",
        "documentation" : "<p>Contains the parameters for <a>PutRecordBatch</a>.</p>",
        "simpleType" : "PutRecordBatchRequest",
        "variableSetterType" : "PutRecordBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRecordBatch",
      "operationName" : "PutRecordBatch",
      "returnType" : {
        "returnType" : "PutRecordBatchResult",
        "documentation" : "<p>Contains the output of <a>PutRecordBatch</a>.</p>"
      },
      "syncReturnType" : "PutRecordBatchResult"
    },
    "UpdateDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDestinationRequest, UpdateDestinationResult>",
      "asyncReturnType" : "UpdateDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified destination of the specified delivery stream. Note: Switching between Elasticsearch and other services is not supported. For Elasticsearch destination, you can only update an existing Elasticsearch destination with this operation.</p> <p>This operation can be used to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a given destination (for example, to change the bucket name of the Amazon S3 destination). The update may not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are normally effective within a few minutes.</p> <p>If the destination type is the same, Firehose merges the configuration parameters specified in the <a>UpdateDestination</a> request with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the update request, then the existing configuration parameters are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified then the existing <a>EncryptionConfiguration</a> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Firehose uses the <b>CurrentDeliveryStreamVersionId</b> to avoid race conditions and conflicting merges. This is a required field in every request and the service only updates the configuration if the existing configuration matches the <b>VersionId</b>. After the update is applied successfully, the <b>VersionId</b> is updated, which can be retrieved with the <a>DescribeDeliveryStream</a> operation. The new <b>VersionId</b> should be uses to set <b>CurrentDeliveryStreamVersionId</b> in the next <a>UpdateDestination</a> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has an value that is not valid.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification has already happened. Fetch <b>VersionId</b> again and use it to update the destination.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDestinationRequest",
        "variableName" : "updateDestinationRequest",
        "variableType" : "UpdateDestinationRequest",
        "documentation" : "<p>Contains the parameters for <a>UpdateDestination</a>.</p>",
        "simpleType" : "UpdateDestinationRequest",
        "variableSetterType" : "UpdateDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDestination",
      "operationName" : "UpdateDestination",
      "returnType" : {
        "returnType" : "UpdateDestinationResult",
        "documentation" : "<p>Contains the output of <a>UpdateDestination</a>.</p>"
      },
      "syncReturnType" : "UpdateDestinationResult"
    }
  },
  "shapes" : {
    "BufferingHints" : {
      "c2jName" : "BufferingHints",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes hints for the buffering to perform before delivering data to the destination. Please note that these options are treated as hints, and therefore Firehose may choose to use different values when it is optimal.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "SizeInMBs",
        "c2jShape" : "SizeInMBs",
        "deprecated" : false,
        "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>\n@return Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.*/",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SizeInMBs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SizeInMBs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SizeInMBs",
        "setterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.*/",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "sizeInMBs",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "sizeInMBs",
          "variableType" : "Integer",
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IntervalInSeconds",
        "c2jShape" : "IntervalInSeconds",
        "deprecated" : false,
        "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@return Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "IntervalInSeconds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IntervalInSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "IntervalInSeconds",
        "setterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "intervalInSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "intervalInSeconds",
          "variableType" : "Integer",
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IntervalInSeconds" : {
          "c2jName" : "IntervalInSeconds",
          "c2jShape" : "IntervalInSeconds",
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@return Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "IntervalInSeconds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IntervalInSeconds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "IntervalInSeconds",
          "setterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "intervalInSeconds",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "intervalInSeconds",
            "variableType" : "Integer",
            "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "SizeInMBs" : {
          "c2jName" : "SizeInMBs",
          "c2jShape" : "SizeInMBs",
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>\n@return Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.*/",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "SizeInMBs",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SizeInMBs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "SizeInMBs",
          "setterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.*/",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "sizeInMBs",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "sizeInMBs",
            "variableType" : "Integer",
            "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "BufferingHints",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BufferingHints",
        "variableName" : "bufferingHints",
        "variableType" : "BufferingHints",
        "documentation" : null,
        "simpleType" : "BufferingHints",
        "variableSetterType" : "BufferingHints"
      },
      "wrapper" : false
    },
    "CloudWatchLoggingOptions" : {
      "c2jName" : "CloudWatchLoggingOptions",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes CloudWatch logging options for your delivery stream.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Enabled",
        "c2jShape" : "BooleanObject",
        "deprecated" : false,
        "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@return Enables or disables CloudWatch logging.*/",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Enabled",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Enabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Enabled",
        "setterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.*/",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LogGroupName",
        "c2jShape" : "LogGroupName",
        "deprecated" : false,
        "documentation" : "<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if Enabled is true.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>\n@return The CloudWatch group name for logging. This value is required if Enabled is true.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "LogGroupName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LogGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "LogGroupName",
        "setterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if Enabled is true.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if Enabled is true.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LogStreamName",
        "c2jShape" : "LogStreamName",
        "deprecated" : false,
        "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if Enabled is true.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>\n@return The CloudWatch log stream name for logging. This value is required if Enabled is true.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "LogStreamName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LogStreamName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "LogStreamName",
        "setterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if Enabled is true.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "logStreamName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if Enabled is true.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "logStreamName",
          "variableType" : "String",
          "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Enabled" : {
          "c2jName" : "Enabled",
          "c2jShape" : "BooleanObject",
          "deprecated" : false,
          "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@return Enables or disables CloudWatch logging.*/",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Enabled",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Enabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Enabled",
          "setterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.*/",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "LogGroupName" : {
          "c2jName" : "LogGroupName",
          "c2jShape" : "LogGroupName",
          "deprecated" : false,
          "documentation" : "<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if Enabled is true.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>\n@return The CloudWatch group name for logging. This value is required if Enabled is true.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "LogGroupName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LogGroupName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "LogGroupName",
          "setterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if Enabled is true.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if Enabled is true.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LogStreamName" : {
          "c2jName" : "LogStreamName",
          "c2jShape" : "LogStreamName",
          "deprecated" : false,
          "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if Enabled is true.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>\n@return The CloudWatch log stream name for logging. This value is required if Enabled is true.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "LogStreamName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LogStreamName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "LogStreamName",
          "setterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if Enabled is true.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "logStreamName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if Enabled is true.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "logStreamName",
            "variableType" : "String",
            "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "CloudWatchLoggingOptions",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CloudWatchLoggingOptions",
        "variableName" : "cloudWatchLoggingOptions",
        "variableType" : "CloudWatchLoggingOptions",
        "documentation" : null,
        "simpleType" : "CloudWatchLoggingOptions",
        "variableSetterType" : "CloudWatchLoggingOptions"
      },
      "wrapper" : false
    },
    "CompressionFormat" : {
      "c2jName" : "CompressionFormat",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "UNCOMPRESSED",
        "value" : "UNCOMPRESSED"
      }, {
        "name" : "GZIP",
        "value" : "GZIP"
      }, {
        "name" : "ZIP",
        "value" : "ZIP"
      }, {
        "name" : "Snappy",
        "value" : "Snappy"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CompressionFormat",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CompressionFormat",
        "variableName" : "compressionFormat",
        "variableType" : "CompressionFormat",
        "documentation" : null,
        "simpleType" : "CompressionFormat",
        "variableSetterType" : "CompressionFormat"
      },
      "wrapper" : false
    },
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Another modification has already happened. Fetch <b>VersionId</b> again and use it to update the destination.</p>",
      "enums" : null,
      "errorCode" : "ConcurrentModificationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ConcurrentModificationException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ConcurrentModificationException",
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "wrapper" : false
    },
    "CopyCommand" : {
      "c2jName" : "CopyCommand",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DataTableName",
        "c2jShape" : "DataTableName",
        "deprecated" : false,
        "documentation" : "<p>The name of the target table. The table must already exist in the database.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@param dataTableName The name of the target table. The table must already exist in the database.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@return The name of the target table. The table must already exist in the database.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DataTableName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DataTableName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DataTableName",
        "setterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@param dataTableName The name of the target table. The table must already exist in the database.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "dataTableName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@param dataTableName The name of the target table. The table must already exist in the database.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "dataTableName",
          "variableType" : "String",
          "documentation" : "<p>The name of the target table. The table must already exist in the database.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DataTableColumns",
        "c2jShape" : "DataTableColumns",
        "deprecated" : false,
        "documentation" : "<p>A comma-separated list of column names.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@return A comma-separated list of column names.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DataTableColumns",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DataTableColumns",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DataTableColumns",
        "setterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "dataTableColumns",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "dataTableColumns",
          "variableType" : "String",
          "documentation" : "<p>A comma-separated list of column names.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CopyOptions",
        "c2jShape" : "CopyOptions",
        "deprecated" : false,
        "documentation" : "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@return Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CopyOptions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CopyOptions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CopyOptions",
        "setterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "copyOptions",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "copyOptions",
          "variableType" : "String",
          "documentation" : "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CopyOptions" : {
          "c2jName" : "CopyOptions",
          "c2jShape" : "CopyOptions",
          "deprecated" : false,
          "documentation" : "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@return Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "CopyOptions",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CopyOptions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "CopyOptions",
          "setterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "copyOptions",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "copyOptions",
            "variableType" : "String",
            "documentation" : "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DataTableColumns" : {
          "c2jName" : "DataTableColumns",
          "c2jShape" : "DataTableColumns",
          "deprecated" : false,
          "documentation" : "<p>A comma-separated list of column names.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@return A comma-separated list of column names.*/",
          "getterModel" : {
            "returnType" : "String",
[...]
