{
  "metadata" : {
    "apiVersion" : "2015-08-04",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Kinesis Firehose API Reference</fullname> <p>Amazon Kinesis Firehose is a fully-managed service that delivers real-time streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), and Amazon Redshift.</p>",
    "defaultEndpoint" : "https://firehose.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "firehose.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonKinesisFirehose",
    "syncClient" : "AmazonKinesisFirehoseClient",
    "asyncInterface" : "AmazonKinesisFirehoseAsync",
    "asyncClient" : "AmazonKinesisFirehoseAsyncClient",
    "packageName" : "com.amazonaws.services.kinesisfirehose",
    "packagePath" : "com/amazonaws/services/kinesisfirehose",
    "serviceAbbreviation" : "Firehose",
    "serviceFullName" : "Amazon Kinesis Firehose",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "firehose",
    "signingName" : "firehose",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonKinesisFirehoseClientBuilder",
    "asyncClientBuilderClassName" : "AmazonKinesisFirehoseAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonKinesisFirehoseModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisfirehose.smoketests",
    "serviceName" : "Firehose",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "CreateDeliveryStream" : {
      "documentation" : "<p>Creates a delivery stream.</p> <p> <a>CreateDeliveryStream</a> is an asynchronous operation that immediately returns. The initial status of the delivery stream is <code>CREATING</code>. After the delivery stream is created, its status is <code>ACTIVE</code> and it now accepts data. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>The name of a delivery stream identifies it. You can't have two delivery streams with the same name in the same region. Two delivery streams in different AWS accounts or different regions in the same AWS account can have the same name.</p> <p>By default, you can create up to 20 delivery streams per region.</p> <p>A delivery stream can only be configured with a single destination, Amazon S3, Amazon Elasticsearch Service, or Amazon Redshift. For correct <a>CreateDeliveryStream</a> request syntax, specify only one destination configuration parameter: either <b>S3DestinationConfiguration</b>, <b>ElasticsearchDestinationConfiguration</b>, or <b>RedshiftDestinationConfiguration</b>. </p> <p>As part of <b>S3DestinationConfiguration</b>, optional values <b>BufferingHints</b>, <b>EncryptionConfiguration</b>, and <b>CompressionFormat</b> can be provided. By default, if no <b>BufferingHints</b> value is provided, Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. Note that <b>BufferingHints</b> is a hint, so there are some cases where the service cannot adhere to these conditions strictly; for example, record boundaries are such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about <b>RedshiftDestinationConfiguration</b>:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location, as Firehose first delivers data to S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <b>RedshiftDestinationConfiguration.S3Configuration</b> parameter element.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <b>RedshiftDestinationConfiguration.S3Configuration</b> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p> </li> <li> <p>We strongly recommend that the username and password provided is used exclusively for Firehose purposes, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Firehose assumes the IAM role that is configured as part of destinations. The IAM role should allow the Firehose principal to assume the role, and the role should have permissions that allows the service to deliver the data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon S3 Bucket Access</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.</p>",
      "operationName" : "CreateDeliveryStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDeliveryStreamRequest",
        "variableType" : "CreateDeliveryStreamRequest",
        "variableDeclarationType" : "CreateDeliveryStreamRequest",
        "documentation" : "<p>Contains the parameters for <a>CreateDeliveryStream</a>.</p>",
        "simpleType" : "CreateDeliveryStreamRequest",
        "variableSetterType" : "CreateDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDeliveryStreamResult",
        "documentation" : "<p>Contains the output of <a>CreateDeliveryStream</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has an value that is not valid.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached the limit for a requested resource.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateDeliveryStreamResult",
      "asyncReturnType" : "CreateDeliveryStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeliveryStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeliveryStreamRequest, CreateDeliveryStreamResult>",
      "methodName" : "createDeliveryStream"
    },
    "DeleteDeliveryStream" : {
      "documentation" : "<p>Deletes a delivery stream and its data.</p> <p>You can delete a delivery stream only if it is in <code>ACTIVE</code> or <code>DELETING</code> state, and not in the <code>CREATING</code> state. While the deletion request is in process, the delivery stream is in the <code>DELETING</code> state.</p> <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>While the delivery stream is <code>DELETING</code> state, the service may continue to accept the records, but the service doesn't make any guarantees with respect to delivering the data. Therefore, as a best practice, you should first stop any applications that are sending records before deleting a delivery stream.</p>",
      "operationName" : "DeleteDeliveryStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDeliveryStreamRequest",
        "variableType" : "DeleteDeliveryStreamRequest",
        "variableDeclarationType" : "DeleteDeliveryStreamRequest",
        "documentation" : "<p>Contains the parameters for <a>DeleteDeliveryStream</a>.</p>",
        "simpleType" : "DeleteDeliveryStreamRequest",
        "variableSetterType" : "DeleteDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDeliveryStreamResult",
        "documentation" : "<p>Contains the output of <a>DeleteDeliveryStream</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteDeliveryStreamResult",
      "asyncReturnType" : "DeleteDeliveryStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeliveryStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeliveryStreamRequest, DeleteDeliveryStreamResult>",
      "methodName" : "deleteDeliveryStream"
    },
    "DescribeDeliveryStream" : {
      "documentation" : "<p>Describes the specified delivery stream and gets the status. For example, after your delivery stream is created, call <a>DescribeDeliveryStream</a> to see if the delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it.</p>",
      "operationName" : "DescribeDeliveryStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDeliveryStreamRequest",
        "variableType" : "DescribeDeliveryStreamRequest",
        "variableDeclarationType" : "DescribeDeliveryStreamRequest",
        "documentation" : "<p>Contains the parameters for <a>DescribeDeliveryStream</a>.</p>",
        "simpleType" : "DescribeDeliveryStreamRequest",
        "variableSetterType" : "DescribeDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDeliveryStreamResult",
        "documentation" : "<p>Contains the output of <a>DescribeDeliveryStream</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeDeliveryStreamResult",
      "asyncReturnType" : "DescribeDeliveryStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryStreamRequest, DescribeDeliveryStreamResult>",
      "methodName" : "describeDeliveryStream"
    },
    "ListDeliveryStreams" : {
      "documentation" : "<p>Lists your delivery streams.</p> <p>The number of delivery streams might be too large to return using a single call to <a>ListDeliveryStreams</a>. You can limit the number of delivery streams returned, using the <b>Limit</b> parameter. To determine whether there are more delivery streams to list, check the value of <b>HasMoreDeliveryStreams</b> in the output. If there are more delivery streams to list, you can request them by specifying the name of the last delivery stream returned in the call in the <b>ExclusiveStartDeliveryStreamName</b> parameter of a subsequent call.</p>",
      "operationName" : "ListDeliveryStreams",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDeliveryStreamsRequest",
        "variableType" : "ListDeliveryStreamsRequest",
        "variableDeclarationType" : "ListDeliveryStreamsRequest",
        "documentation" : "<p>Contains the parameters for <a>ListDeliveryStreams</a>.</p>",
        "simpleType" : "ListDeliveryStreamsRequest",
        "variableSetterType" : "ListDeliveryStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDeliveryStreamsResult",
        "documentation" : "<p>Contains the output of <a>ListDeliveryStreams</a>.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListDeliveryStreamsResult",
      "asyncReturnType" : "ListDeliveryStreamsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeliveryStreamsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeliveryStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeliveryStreamsRequest, ListDeliveryStreamsResult>",
      "methodName" : "listDeliveryStreams"
    },
    "PutRecord" : {
      "documentation" : "<p>Writes a single data record into an Amazon Kinesis Firehose delivery stream. To write multiple data records into a delivery stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. Note that if you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data, for example, a segment from a log file, geographic location data, web site clickstream data, etc.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application(s) to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecord</a> operation returns a <b>RecordId</b>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <a>PutRecord</a> operation throws a <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream. </p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>",
      "operationName" : "PutRecord",
      "deprecated" : false,
      "input" : {
        "variableName" : "putRecordRequest",
        "variableType" : "PutRecordRequest",
        "variableDeclarationType" : "PutRecordRequest",
        "documentation" : "<p>Contains the parameters for <a>PutRecord</a>.</p>",
        "simpleType" : "PutRecordRequest",
        "variableSetterType" : "PutRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutRecordResult",
        "documentation" : "<p>Contains the output of <a>PutRecord</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has an value that is not valid.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutRecordResult",
      "asyncReturnType" : "PutRecordResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordRequest, PutRecordResult>",
      "methodName" : "putRecord"
    },
    "PutRecordBatch" : {
      "documentation" : "<p>Writes multiple data records into a delivery stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a delivery stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before 64-bit encoding), up to a limit of 4 MB for the entire request. By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. Note that if you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data, for example, a segment from a log file, geographic location data, web site clickstream data, and so on.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application(s) to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of any failed records, <b>FailedPutCount</b>, and an array of responses, <b>RequestResponses</b>. The <b>FailedPutCount</b> value is a count of records that failed. Each entry in the <b>RequestResponses</b> array gives additional information of the processed record. Each entry in <b>RequestResponses</b> directly correlates with a record in the request array using the same ordering, from the top to the bottom of the request and response. <b>RequestResponses</b> always includes the same number of records as the request array. <b>RequestResponses</b> both successfully and unsuccessfully processed records. Firehose attempts to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records.</p> <p>A successfully processed record includes a <b>RecordId</b> value, which is a unique value identified for the record. An unsuccessfully processed record includes <b>ErrorCode</b> and <b>ErrorMessage</b> values. <b>ErrorCode</b> reflects the type of error and is one of the following values: <code>ServiceUnavailable</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the error.</p> <p>If <b>FailedPutCount</b> is greater than 0 (zero), retry the request. A retry of the entire batch of records is possible; however, we strongly recommend that you inspect the entire response and resend only those records that failed processing. This minimizes duplicate records and also reduces the total bytes sent (and corresponding charges).</p> <p>If the <a>PutRecordBatch</a> operation throws a <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream.</p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>",
      "operationName" : "PutRecordBatch",
      "deprecated" : false,
      "input" : {
        "variableName" : "putRecordBatchRequest",
        "variableType" : "PutRecordBatchRequest",
        "variableDeclarationType" : "PutRecordBatchRequest",
        "documentation" : "<p>Contains the parameters for <a>PutRecordBatch</a>.</p>",
        "simpleType" : "PutRecordBatchRequest",
        "variableSetterType" : "PutRecordBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutRecordBatchResult",
        "documentation" : "<p>Contains the output of <a>PutRecordBatch</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has an value that is not valid.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutRecordBatchResult",
      "asyncReturnType" : "PutRecordBatchResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordBatchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordBatchRequest, PutRecordBatchResult>",
      "methodName" : "putRecordBatch"
    },
    "UpdateDestination" : {
      "documentation" : "<p>Updates the specified destination of the specified delivery stream. Note: Switching between Elasticsearch and other services is not supported. For Elasticsearch destination, you can only update an existing Elasticsearch destination with this operation.</p> <p>This operation can be used to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a given destination (for example, to change the bucket name of the Amazon S3 destination). The update may not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are normally effective within a few minutes.</p> <p>If the destination type is the same, Firehose merges the configuration parameters specified in the <a>UpdateDestination</a> request with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the update request, then the existing configuration parameters are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified then the existing <a>EncryptionConfiguration</a> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Firehose uses the <b>CurrentDeliveryStreamVersionId</b> to avoid race conditions and conflicting merges. This is a required field in every request and the service only updates the configuration if the existing configuration matches the <b>VersionId</b>. After the update is applied successfully, the <b>VersionId</b> is updated, which can be retrieved with the <a>DescribeDeliveryStream</a> operation. The new <b>VersionId</b> should be uses to set <b>CurrentDeliveryStreamVersionId</b> in the next <a>UpdateDestination</a> operation.</p>",
      "operationName" : "UpdateDestination",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDestinationRequest",
        "variableType" : "UpdateDestinationRequest",
        "variableDeclarationType" : "UpdateDestinationRequest",
        "documentation" : "<p>Contains the parameters for <a>UpdateDestination</a>.</p>",
        "simpleType" : "UpdateDestinationRequest",
        "variableSetterType" : "UpdateDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDestinationResult",
        "documentation" : "<p>Contains the output of <a>UpdateDestination</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has an value that is not valid.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification has already happened. Fetch <b>VersionId</b> again and use it to update the destination.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdateDestinationResult",
      "asyncReturnType" : "UpdateDestinationResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDestinationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDestinationRequest, UpdateDestinationResult>",
      "methodName" : "updateDestination"
    }
  },
  "shapes" : {
    "RedshiftRetryOptions" : {
      "c2jName" : "RedshiftRetryOptions",
      "documentation" : "<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift.</p>",
      "shapeName" : "RedshiftRetryOptions",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>",
        "name" : "DurationInSeconds",
        "c2jName" : "DurationInSeconds",
        "c2jShape" : "RedshiftRetryDurationInSeconds",
        "variable" : {
          "variableName" : "durationInSeconds",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "durationInSeconds",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DurationInSeconds",
          "marshallLocationName" : "DurationInSeconds",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>\n@param durationInSeconds The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.*/",
        "getterDocumentation" : "/**<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>\n@return The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.*/",
        "fluentSetterDocumentation" : "/**<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>\n@param durationInSeconds The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>\n@param durationInSeconds The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "redshiftRetryOptions",
        "variableType" : "RedshiftRetryOptions",
        "variableDeclarationType" : "RedshiftRetryOptions",
        "documentation" : null,
        "simpleType" : "RedshiftRetryOptions",
        "variableSetterType" : "RedshiftRetryOptions"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "DurationInSeconds" : {
          "documentation" : "<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>",
          "name" : "DurationInSeconds",
          "c2jName" : "DurationInSeconds",
          "c2jShape" : "RedshiftRetryDurationInSeconds",
          "variable" : {
            "variableName" : "durationInSeconds",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "durationInSeconds",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DurationInSeconds",
            "marshallLocationName" : "DurationInSeconds",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>\n@param durationInSeconds The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.*/",
          "getterDocumentation" : "/**<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>\n@return The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.*/",
          "fluentSetterDocumentation" : "/**<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>\n@param durationInSeconds The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.</p>\n@param durationInSeconds The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "RedshiftDestinationDescription" : {
      "c2jName" : "RedshiftDestinationDescription",
      "documentation" : "<p>Describes a destination in Amazon Redshift.</p>",
      "shapeName" : "RedshiftDestinationDescription",
      "deprecated" : false,
      "required" : [ "RoleARN", "ClusterJDBCURL", "CopyCommand", "Username", "S3DestinationDescription" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ARN of the AWS credentials.</p>",
        "name" : "RoleARN",
        "c2jName" : "RoleARN",
        "c2jShape" : "RoleARN",
        "variable" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the AWS credentials.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RoleARN",
          "marshallLocationName" : "RoleARN",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the AWS credentials.</p>\n@param roleARN The ARN of the AWS credentials.*/",
        "getterDocumentation" : "/**<p>The ARN of the AWS credentials.</p>\n@return The ARN of the AWS credentials.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN of the AWS credentials.</p>\n@param roleARN The ARN of the AWS credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN of the AWS credentials.</p>\n@param roleARN The ARN of the AWS credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The database connection string.</p>",
        "name" : "ClusterJDBCURL",
        "c2jName" : "ClusterJDBCURL",
        "c2jShape" : "ClusterJDBCURL",
        "variable" : {
          "variableName" : "clusterJDBCURL",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The database connection string.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "clusterJDBCURL",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ClusterJDBCURL",
          "marshallLocationName" : "ClusterJDBCURL",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The database connection string.</p>\n@param clusterJDBCURL The database connection string.*/",
        "getterDocumentation" : "/**<p>The database connection string.</p>\n@return The database connection string.*/",
        "fluentSetterDocumentation" : "/**<p>The database connection string.</p>\n@param clusterJDBCURL The database connection string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The database connection string.</p>\n@param clusterJDBCURL The database connection string.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The <code>COPY</code> command.</p>",
        "name" : "CopyCommand",
        "c2jName" : "CopyCommand",
        "c2jShape" : "CopyCommand",
        "variable" : {
          "variableName" : "copyCommand",
          "variableType" : "CopyCommand",
          "variableDeclarationType" : "CopyCommand",
          "documentation" : "<p>The <code>COPY</code> command.</p>",
          "simpleType" : "CopyCommand",
          "variableSetterType" : "CopyCommand"
        },
        "setterModel" : {
          "variableName" : "copyCommand",
          "variableType" : "CopyCommand",
          "variableDeclarationType" : "CopyCommand",
          "documentation" : "",
          "simpleType" : "CopyCommand",
          "variableSetterType" : "CopyCommand"
        },
        "getterModel" : {
          "returnType" : "CopyCommand",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CopyCommand",
          "marshallLocationName" : "CopyCommand",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The <code>COPY</code> command.</p>\n@param copyCommand The <code>COPY</code> command.*/",
        "getterDocumentation" : "/**<p>The <code>COPY</code> command.</p>\n@return The <code>COPY</code> command.*/",
        "fluentSetterDocumentation" : "/**<p>The <code>COPY</code> command.</p>\n@param copyCommand The <code>COPY</code> command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The <code>COPY</code> command.</p>\n@param copyCommand The <code>COPY</code> command.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The name of the user.</p>",
        "name" : "Username",
        "c2jName" : "Username",
        "c2jShape" : "Username",
        "variable" : {
          "variableName" : "username",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the user.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "username",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Username",
          "marshallLocationName" : "Username",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the user.</p>\n@param username The name of the user.*/",
        "getterDocumentation" : "/**<p>The name of the user.</p>\n@return The name of the user.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the user.</p>\n@param username The name of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the user.</p>\n@param username The name of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>",
        "name" : "RetryOptions",
        "c2jName" : "RetryOptions",
        "c2jShape" : "RedshiftRetryOptions",
        "variable" : {
          "variableName" : "retryOptions",
          "variableType" : "RedshiftRetryOptions",
          "variableDeclarationType" : "RedshiftRetryOptions",
          "documentation" : "<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>",
          "simpleType" : "RedshiftRetryOptions",
          "variableSetterType" : "RedshiftRetryOptions"
        },
        "setterModel" : {
          "variableName" : "retryOptions",
          "variableType" : "RedshiftRetryOptions",
          "variableDeclarationType" : "RedshiftRetryOptions",
          "documentation" : "",
          "simpleType" : "RedshiftRetryOptions",
          "variableSetterType" : "RedshiftRetryOptions"
        },
        "getterModel" : {
          "returnType" : "RedshiftRetryOptions",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RetryOptions",
          "marshallLocationName" : "RetryOptions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>\n@param retryOptions Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).*/",
        "getterDocumentation" : "/**<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>\n@return Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).*/",
        "fluentSetterDocumentation" : "/**<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>\n@param retryOptions Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>\n@param retryOptions Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The Amazon S3 destination.</p>",
        "name" : "S3DestinationDescription",
        "c2jName" : "S3DestinationDescription",
        "c2jShape" : "S3DestinationDescription",
        "variable" : {
          "variableName" : "s3DestinationDescription",
          "variableType" : "S3DestinationDescription",
          "variableDeclarationType" : "S3DestinationDescription",
          "documentation" : "<p>The Amazon S3 destination.</p>",
          "simpleType" : "S3DestinationDescription",
          "variableSetterType" : "S3DestinationDescription"
        },
        "setterModel" : {
          "variableName" : "s3DestinationDescription",
          "variableType" : "S3DestinationDescription",
          "variableDeclarationType" : "S3DestinationDescription",
          "documentation" : "",
          "simpleType" : "S3DestinationDescription",
          "variableSetterType" : "S3DestinationDescription"
        },
        "getterModel" : {
          "returnType" : "S3DestinationDescription",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "S3DestinationDescription",
          "marshallLocationName" : "S3DestinationDescription",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon S3 destination.</p>\n@param s3DestinationDescription The Amazon S3 destination.*/",
        "getterDocumentation" : "/**<p>The Amazon S3 destination.</p>\n@return The Amazon S3 destination.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon S3 destination.</p>\n@param s3DestinationDescription The Amazon S3 destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon S3 destination.</p>\n@param s3DestinationDescription The Amazon S3 destination.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Describes CloudWatch logging options for your delivery stream.</p>",
        "name" : "CloudWatchLoggingOptions",
        "c2jName" : "CloudWatchLoggingOptions",
        "c2jShape" : "CloudWatchLoggingOptions",
        "variable" : {
          "variableName" : "cloudWatchLoggingOptions",
          "variableType" : "CloudWatchLoggingOptions",
          "variableDeclarationType" : "CloudWatchLoggingOptions",
          "documentation" : "<p>Describes CloudWatch logging options for your delivery stream.</p>",
          "simpleType" : "CloudWatchLoggingOptions",
          "variableSetterType" : "CloudWatchLoggingOptions"
        },
        "setterModel" : {
          "variableName" : "cloudWatchLoggingOptions",
          "variableType" : "CloudWatchLoggingOptions",
          "variableDeclarationType" : "CloudWatchLoggingOptions",
          "documentation" : "",
          "simpleType" : "CloudWatchLoggingOptions",
          "variableSetterType" : "CloudWatchLoggingOptions"
        },
        "getterModel" : {
          "returnType" : "CloudWatchLoggingOptions",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CloudWatchLoggingOptions",
          "marshallLocationName" : "CloudWatchLoggingOptions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Describes CloudWatch logging options for your delivery stream.</p>\n@param cloudWatchLoggingOptions Describes CloudWatch logging options for your delivery stream.*/",
        "getterDocumentation" : "/**<p>Describes CloudWatch logging options for your delivery stream.</p>\n@return Describes CloudWatch logging options for your delivery stream.*/",
        "fluentSetterDocumentation" : "/**<p>Describes CloudWatch logging options for your delivery stream.</p>\n@param cloudWatchLoggingOptions Describes CloudWatch logging options for your delivery stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Describes CloudWatch logging options for your delivery stream.</p>\n@param cloudWatchLoggingOptions Describes CloudWatch logging options for your delivery stream.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "redshiftDestinationDescription",
        "variableType" : "RedshiftDestinationDescription",
        "variableDeclarationType" : "RedshiftDestinationDescription",
        "documentation" : null,
        "simpleType" : "RedshiftDestinationDescription",
        "variableSetterType" : "RedshiftDestinationDescription"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Username" : {
          "documentation" : "<p>The name of the user.</p>",
          "name" : "Username",
          "c2jName" : "Username",
          "c2jShape" : "Username",
          "variable" : {
            "variableName" : "username",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the user.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "username",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Username",
            "marshallLocationName" : "Username",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the user.</p>\n@param username The name of the user.*/",
          "getterDocumentation" : "/**<p>The name of the user.</p>\n@return The name of the user.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the user.</p>\n@param username The name of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the user.</p>\n@param username The name of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CopyCommand" : {
          "documentation" : "<p>The <code>COPY</code> command.</p>",
          "name" : "CopyCommand",
          "c2jName" : "CopyCommand",
          "c2jShape" : "CopyCommand",
          "variable" : {
            "variableName" : "copyCommand",
            "variableType" : "CopyCommand",
            "variableDeclarationType" : "CopyCommand",
            "documentation" : "<p>The <code>COPY</code> command.</p>",
            "simpleType" : "CopyCommand",
            "variableSetterType" : "CopyCommand"
          },
          "setterModel" : {
            "variableName" : "copyCommand",
            "variableType" : "CopyCommand",
            "variableDeclarationType" : "CopyCommand",
            "documentation" : "",
            "simpleType" : "CopyCommand",
            "variableSetterType" : "CopyCommand"
          },
          "getterModel" : {
            "returnType" : "CopyCommand",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CopyCommand",
            "marshallLocationName" : "CopyCommand",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The <code>COPY</code> command.</p>\n@param copyCommand The <code>COPY</code> command.*/",
          "getterDocumentation" : "/**<p>The <code>COPY</code> command.</p>\n@return The <code>COPY</code> command.*/",
          "fluentSetterDocumentation" : "/**<p>The <code>COPY</code> command.</p>\n@param copyCommand The <code>COPY</code> command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The <code>COPY</code> command.</p>\n@param copyCommand The <code>COPY</code> command.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "S3DestinationDescription" : {
          "documentation" : "<p>The Amazon S3 destination.</p>",
          "name" : "S3DestinationDescription",
          "c2jName" : "S3DestinationDescription",
          "c2jShape" : "S3DestinationDescription",
          "variable" : {
            "variableName" : "s3DestinationDescription",
            "variableType" : "S3DestinationDescription",
            "variableDeclarationType" : "S3DestinationDescription",
            "documentation" : "<p>The Amazon S3 destination.</p>",
            "simpleType" : "S3DestinationDescription",
            "variableSetterType" : "S3DestinationDescription"
          },
          "setterModel" : {
            "variableName" : "s3DestinationDescription",
            "variableType" : "S3DestinationDescription",
            "variableDeclarationType" : "S3DestinationDescription",
            "documentation" : "",
            "simpleType" : "S3DestinationDescription",
            "variableSetterType" : "S3DestinationDescription"
          },
          "getterModel" : {
            "returnType" : "S3DestinationDescription",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "S3DestinationDescription",
            "marshallLocationName" : "S3DestinationDescription",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The Amazon S3 destination.</p>\n@param s3DestinationDescription The Amazon S3 destination.*/",
          "getterDocumentation" : "/**<p>The Amazon S3 destination.</p>\n@return The Amazon S3 destination.*/",
          "fluentSetterDocumentation" : "/**<p>The Amazon S3 destination.</p>\n@param s3DestinationDescription The Amazon S3 destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The Amazon S3 destination.</p>\n@param s3DestinationDescription The Amazon S3 destination.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RetryOptions" : {
          "documentation" : "<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>",
          "name" : "RetryOptions",
          "c2jName" : "RetryOptions",
          "c2jShape" : "RedshiftRetryOptions",
          "variable" : {
            "variableName" : "retryOptions",
            "variableType" : "RedshiftRetryOptions",
            "variableDeclarationType" : "RedshiftRetryOptions",
            "documentation" : "<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>",
            "simpleType" : "RedshiftRetryOptions",
            "variableSetterType" : "RedshiftRetryOptions"
          },
          "setterModel" : {
            "variableName" : "retryOptions",
            "variableType" : "RedshiftRetryOptions",
            "variableDeclarationType" : "RedshiftRetryOptions",
            "documentation" : "",
            "simpleType" : "RedshiftRetryOptions",
            "variableSetterType" : "RedshiftRetryOptions"
          },
          "getterModel" : {
            "returnType" : "RedshiftRetryOptions",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RetryOptions",
            "marshallLocationName" : "RetryOptions",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>\n@param retryOptions Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).*/",
          "getterDocumentation" : "/**<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>\n@return Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).*/",
          "fluentSetterDocumentation" : "/**<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>\n@param retryOptions Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).</p>\n@param retryOptions Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RoleARN" : {
          "documentation" : "<p>The ARN of the AWS credentials.</p>",
          "name" : "RoleARN",
          "c2jName" : "RoleARN",
          "c2jShape" : "RoleARN",
          "variable" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ARN of the AWS credentials.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RoleARN",
            "marshallLocationName" : "RoleARN",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ARN of the AWS credentials.</p>\n@param roleARN The ARN of the AWS credentials.*/",
          "getterDocumentation" : "/**<p>The ARN of the AWS credentials.</p>\n@return The ARN of the AWS credentials.*/",
          "fluentSetterDocumentation" : "/**<p>The ARN of the AWS credentials.</p>\n@param roleARN The ARN of the AWS credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ARN of the AWS credentials.</p>\n@param roleARN The ARN of the AWS credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ClusterJDBCURL" : {
          "documentation" : "<p>The database connection string.</p>",
          "name" : "ClusterJDBCURL",
          "c2jName" : "ClusterJDBCURL",
          "c2jShape" : "ClusterJDBCURL",
          "variable" : {
            "variableName" : "clusterJDBCURL",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The database connection string.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "clusterJDBCURL",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ClusterJDBCURL",
            "marshallLocationName" : "ClusterJDBCURL",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The database connection string.</p>\n@param clusterJDBCURL The database connection string.*/",
          "getterDocumentation" : "/**<p>The database connection string.</p>\n@return The database connection string.*/",
          "fluentSetterDocumentation" : "/**<p>The database connection string.</p>\n@param clusterJDBCURL The database connection string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The database connection string.</p>\n@param clusterJDBCURL The database connection string.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CloudWatchLoggingOptions" : {
          "documentation" : "<p>Describes CloudWatch logging options for your delivery stream.</p>",
          "name" : "CloudWatchLoggingOptions",
          "c2jName" : "CloudWatchLoggingOptions",
          "c2jShape" : "CloudWatchLoggingOptions",
          "variable" : {
            "variableName" : "cloudWatchLoggingOptions",
            "variableType" : "CloudWatchLoggingOptions",
            "variableDeclarationType" : "CloudWatchLoggingOptions",
            "documentation" : "<p>Describes CloudWatch logging options for your delivery stream.</p>",
            "simpleType" : "CloudWatchLoggingOptions",
            "variableSetterType" : "CloudWatchLoggingOptions"
          },
          "setterModel" : {
            "variableName" : "cloudWatchLoggingOptions",
            "variableType" : "CloudWatchLoggingOptions",
            "variableDeclarationType" : "CloudWatchLoggingOptions",
            "documentation" : "",
            "simpleType" : "CloudWatchLoggingOptions",
            "variableSetterType" : "CloudWatchLoggingOptions"
          },
          "getterModel" : {
            "returnType" : "CloudWatchLoggingOptions",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CloudWatchLoggingOptions",
            "marshallLocationName" : "CloudWatchLoggingOptions",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Describes CloudWatch logging options for your delivery stream.</p>\n@param cloudWatchLoggingOptions Describes CloudWatch logging options for your delivery stream.*/",
          "getterDocumentation" : "/**<p>Describes CloudWatch logging options for your delivery stream.</p>\n@return Describes CloudWatch logging options for your delivery stream.*/",
          "fluentSetterDocumentation" : "/**<p>Describes CloudWatch logging options for your delivery stream.</p>\n@param cloudWatchLoggingOptions Describes CloudWatch logging options for your delivery stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Describes CloudWatch logging options for your delivery stream.</p>\n@param cloudWatchLoggingOptions Describes CloudWatch logging options for your delivery stream.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "documentation" : "<p>Another modification has already happened. Fetch <b>VersionId</b> again and use it to update the destination.</p>",
      "shapeName" : "ConcurrentModificationException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "variableDeclarationType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ElasticsearchBufferingHints" : {
      "c2jName" : "ElasticsearchBufferingHints",
      "documentation" : "<p>Describes the buffering to perform before delivering data to the Amazon ES destination.</p>",
      "shapeName" : "ElasticsearchBufferingHints",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>",
        "name" : "IntervalInSeconds",
        "c2jName" : "IntervalInSeconds",
        "c2jShape" : "ElasticsearchBufferingIntervalInSeconds",
        "variable" : {
          "variableName" : "intervalInSeconds",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "intervalInSeconds",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "IntervalInSeconds",
          "marshallLocationName" : "IntervalInSeconds",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).*/",
        "getterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>\n@return Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).*/",
        "fluentSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>",
        "name" : "SizeInMBs",
        "c2jName" : "SizeInMBs",
        "c2jShape" : "ElasticsearchBufferingSizeInMBs",
        "variable" : {
          "variableName" : "sizeInMBs",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "sizeInMBs",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SizeInMBs",
          "marshallLocationName" : "SizeInMBs",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.*/",
        "getterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>\n@return Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.*/",
        "fluentSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "elasticsearchBufferingHints",
        "variableType" : "ElasticsearchBufferingHints",
        "variableDeclarationType" : "ElasticsearchBufferingHints",
        "documentation" : null,
        "simpleType" : "ElasticsearchBufferingHints",
        "variableSetterType" : "ElasticsearchBufferingHints"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "IntervalInSeconds" : {
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>",
          "name" : "IntervalInSeconds",
          "c2jName" : "IntervalInSeconds",
          "c2jShape" : "ElasticsearchBufferingIntervalInSeconds",
          "variable" : {
            "variableName" : "intervalInSeconds",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "intervalInSeconds",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "IntervalInSeconds",
            "marshallLocationName" : "IntervalInSeconds",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).*/",
          "getterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>\n@return Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).*/",
          "fluentSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "SizeInMBs" : {
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>",
          "name" : "SizeInMBs",
          "c2jName" : "SizeInMBs",
          "c2jShape" : "ElasticsearchBufferingSizeInMBs",
          "variable" : {
            "variableName" : "sizeInMBs",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "sizeInMBs",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SizeInMBs",
            "marshallLocationName" : "SizeInMBs",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.*/",
          "getterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>\n@return Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.*/",
          "fluentSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "NoEncryptionConfig" : {
      "c2jName" : "NoEncryptionConfig",
      "documentation" : "",
      "shapeName" : "NoEncryptionConfig",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "NoEncryption",
        "value" : "NoEncryption"
      } ],
      "variable" : {
        "variableName" : "noEncryptionConfig",
        "variableType" : "NoEncryptionConfig",
        "variableDeclarationType" : "NoEncryptionConfig",
        "documentation" : null,
        "simpleType" : "NoEncryptionConfig",
        "variableSetterType" : "NoEncryptionConfig"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "CopyCommand" : {
      "c2jName" : "CopyCommand",
      "documentation" : "<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>",
      "shapeName" : "CopyCommand",
      "deprecated" : false,
      "required" : [ "DataTableName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the target table. The table must already exist in the database.</p>",
        "name" : "DataTableName",
        "c2jName" : "DataTableName",
[...]
