{
  "metadata" : {
    "apiVersion" : "2015-08-04",
    "endpointPrefix" : "firehose",
    "jsonVersion" : "1.1",
    "protocol" : "json",
    "resultWrapped" : false,
    "serviceAbbreviation" : "Firehose",
    "serviceFullName" : "Amazon Kinesis Firehose",
    "signatureVersion" : "v4",
    "signingName" : "firehose",
    "targetPrefix" : "Firehose_20150804",
    "xmlNamespace" : null
  },
  "operations" : {
    "CreateDeliveryStream" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Creates a delivery stream.</p> <p> <a>CreateDeliveryStream</a> is an asynchronous operation that immediately returns. The initial status of the delivery stream is <code>CREATING</code>. After the delivery stream is created, its status is <code>ACTIVE</code> and it now accepts data. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>The name of a delivery stream identifies it. You can't have two delivery streams with the same name in the same region. Two delivery streams in different AWS accounts or different regions in the same AWS account can have the same name.</p> <p>By default, you can create up to 20 delivery streams per region.</p> <p>A delivery stream can only be configured with a single destination, Amazon S3, Amazon Elasticsearch Service, or Amazon Redshift. For correct <a>CreateDeliveryStream</a> request syntax, specify only one destination configuration parameter: either <b>S3DestinationConfiguration</b>, <b>ElasticsearchDestinationConfiguration</b>, or <b>RedshiftDestinationConfiguration</b>. </p> <p>As part of <b>S3DestinationConfiguration</b>, optional values <b>BufferingHints</b>, <b>EncryptionConfiguration</b>, and <b>CompressionFormat</b> can be provided. By default, if no <b>BufferingHints</b> value is provided, Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. Note that <b>BufferingHints</b> is a hint, so there are some cases where the service cannot adhere to these conditions strictly; for example, record boundaries are such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about <b>RedshiftDestinationConfiguration</b>:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location, as Firehose first delivers data to S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <b>RedshiftDestinationConfiguration.S3Configuration</b> parameter element.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <b>RedshiftDestinationConfiguration.S3Configuration</b> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p> </li> <li> <p>We strongly recommend that the username and password provided is used exclusively for Firehose purposes, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Firehose assumes the IAM role that is configured as part of destinations. The IAM role should allow the Firehose principal to assume the role, and the role should have permissions that allows the service to deliver the data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon S3 Bucket Access</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidArgumentException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDeliveryStreamInput",
        "xmlNamespace" : null
      },
      "name" : "CreateDeliveryStream",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDeliveryStreamOutput"
      }
    },
    "DeleteDeliveryStream" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Deletes a delivery stream and its data.</p> <p>You can delete a delivery stream only if it is in <code>ACTIVE</code> or <code>DELETING</code> state, and not in the <code>CREATING</code> state. While the deletion request is in process, the delivery stream is in the <code>DELETING</code> state.</p> <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>While the delivery stream is <code>DELETING</code> state, the service may continue to accept the records, but the service doesn't make any guarantees with respect to delivering the data. Therefore, as a best practice, you should first stop any applications that are sending records before deleting a delivery stream.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDeliveryStreamInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteDeliveryStream",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteDeliveryStreamOutput"
      }
    },
    "DescribeDeliveryStream" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified delivery stream and gets the status. For example, after your delivery stream is created, call <a>DescribeDeliveryStream</a> to see if the delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDeliveryStreamInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeDeliveryStream",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeDeliveryStreamOutput"
      }
    },
    "ListDeliveryStreams" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Lists your delivery streams.</p> <p>The number of delivery streams might be too large to return using a single call to <a>ListDeliveryStreams</a>. You can limit the number of delivery streams returned, using the <b>Limit</b> parameter. To determine whether there are more delivery streams to list, check the value of <b>HasMoreDeliveryStreams</b> in the output. If there are more delivery streams to list, you can request them by specifying the name of the last delivery stream returned in the call in the <b>ExclusiveStartDeliveryStreamName</b> parameter of a subsequent call.</p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListDeliveryStreamsInput",
        "xmlNamespace" : null
      },
      "name" : "ListDeliveryStreams",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListDeliveryStreamsOutput"
      }
    },
    "PutRecord" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Writes a single data record into an Amazon Kinesis Firehose delivery stream. To write multiple data records into a delivery stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. Note that if you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data, for example, a segment from a log file, geographic location data, web site clickstream data, etc.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application(s) to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecord</a> operation returns a <b>RecordId</b>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <a>PutRecord</a> operation throws a <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream. </p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidArgumentException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ServiceUnavailableException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PutRecordInput",
        "xmlNamespace" : null
      },
      "name" : "PutRecord",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PutRecordOutput"
      }
    },
    "PutRecordBatch" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Writes multiple data records into a delivery stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a delivery stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before 64-bit encoding), up to a limit of 4 MB for the entire request. By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. Note that if you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data, for example, a segment from a log file, geographic location data, web site clickstream data, and so on.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application(s) to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of any failed records, <b>FailedPutCount</b>, and an array of responses, <b>RequestResponses</b>. The <b>FailedPutCount</b> value is a count of records that failed. Each entry in the <b>RequestResponses</b> array gives additional information of the processed record. Each entry in <b>RequestResponses</b> directly correlates with a record in the request array using the same ordering, from the top to the bottom of the request and response. <b>RequestResponses</b> always includes the same number of records as the request array. <b>RequestResponses</b> both successfully and unsuccessfully processed records. Firehose attempts to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records.</p> <p>A successfully processed record includes a <b>RecordId</b> value, which is a unique value identified for the record. An unsuccessfully processed record includes <b>ErrorCode</b> and <b>ErrorMessage</b> values. <b>ErrorCode</b> reflects the type of error and is one of the following values: <code>ServiceUnavailable</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the error.</p> <p>If <b>FailedPutCount</b> is greater than 0 (zero), retry the request. A retry of the entire batch of records is possible; however, we strongly recommend that you inspect the entire response and resend only those records that failed processing. This minimizes duplicate records and also reduces the total bytes sent (and corresponding charges).</p> <p>If the <a>PutRecordBatch</a> operation throws a <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream.</p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidArgumentException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ServiceUnavailableException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PutRecordBatchInput",
        "xmlNamespace" : null
      },
      "name" : "PutRecordBatch",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PutRecordBatchOutput"
      }
    },
    "UpdateDestination" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified destination of the specified delivery stream. Note: Switching between Elasticsearch and other services is not supported. For Elasticsearch destination, you can only update an existing Elasticsearch destination with this operation.</p> <p>This operation can be used to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a given destination (for example, to change the bucket name of the Amazon S3 destination). The update may not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are normally effective within a few minutes.</p> <p>If the destination type is the same, Firehose merges the configuration parameters specified in the <a>UpdateDestination</a> request with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the update request, then the existing configuration parameters are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified then the existing <a>EncryptionConfiguration</a> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Firehose uses the <b>CurrentDeliveryStreamVersionId</b> to avoid race conditions and conflicting merges. This is a required field in every request and the service only updates the configuration if the existing configuration matches the <b>VersionId</b>. After the update is applied successfully, the <b>VersionId</b> is updated, which can be retrieved with the <a>DescribeDeliveryStream</a> operation. The new <b>VersionId</b> should be uses to set <b>CurrentDeliveryStreamVersionId</b> in the next <a>UpdateDestination</a> operation.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidArgumentException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConcurrentModificationException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateDestinationInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateDestination",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateDestinationOutput"
      }
    }
  },
  "shapes" : {
    "AWSKMSKeyARN" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 512,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : "arn:.*",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BooleanObject" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "boolean",
      "value" : null,
      "wrapper" : false
    },
    "BucketARN" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 2048,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : "arn:.*",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BufferingHints" : {
      "deprecated" : false,
      "documentation" : "<p>Describes hints for the buffering to perform before delivering data to the destination. Please note that these options are treated as hints, and therefore Firehose may choose to use different values when it is optimal.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IntervalInSeconds" : {
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IntervalInSeconds",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SizeInMBs" : {
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "SizeInMBs",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CloudWatchLoggingOptions" : {
      "deprecated" : false,
      "documentation" : "<p>Describes CloudWatch logging options for your delivery stream.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Enabled" : {
          "deprecated" : false,
          "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BooleanObject",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LogGroupName" : {
          "deprecated" : false,
          "documentation" : "<p>The CloudWatch group name for logging. This value is required if Enabled is true.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LogGroupName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LogStreamName" : {
          "deprecated" : false,
          "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if Enabled is true.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LogStreamName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ClusterJDBCURL" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : "jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+redshift\\.amazonaws\\.com:\\d{1,5}/[a-zA-Z0-9_$]+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CompressionFormat" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "UNCOMPRESSED", "GZIP", "ZIP", "Snappy" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ConcurrentModificationException" : {
      "deprecated" : false,
      "documentation" : "<p>Another modification has already happened. Fetch <b>VersionId</b> again and use it to update the destination.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>A message that provides information about the error.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CopyCommand" : {
      "deprecated" : false,
      "documentation" : "<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "CopyOptions" : {
          "deprecated" : false,
          "documentation" : "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CopyOptions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DataTableColumns" : {
          "deprecated" : false,
          "documentation" : "<p>A comma-separated list of column names.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DataTableColumns",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DataTableName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the target table. The table must already exist in the database.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DataTableName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DataTableName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CopyOptions" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CreateDeliveryStreamInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for <a>CreateDeliveryStream</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DeliveryStreamName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ElasticsearchDestinationConfiguration" : {
          "deprecated" : false,
          "documentation" : "<p>The destination in Amazon ES. This value cannot be specified if Amazon S3 or Amazon Redshift is the desired destination (see restrictions listed above).</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchDestinationConfiguration",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RedshiftDestinationConfiguration" : {
          "deprecated" : false,
          "documentation" : "<p>The destination in Amazon Redshift. This value cannot be specified if Amazon S3 or Amazon Elasticsearch is the desired destination (see restrictions listed above).</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RedshiftDestinationConfiguration",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "S3DestinationConfiguration" : {
          "deprecated" : false,
          "documentation" : "<p>The destination in Amazon S3. This value must be specified if <b>ElasticsearchDestinationConfiguration</b> or <b>RedshiftDestinationConfiguration</b> is specified (see restrictions listed above).</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3DestinationConfiguration",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DeliveryStreamName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDeliveryStreamOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of <a>CreateDeliveryStream</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DeliveryStreamARN" : {
          "deprecated" : false,
          "documentation" : "<p>The ARN of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamARN",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Data" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 1024000,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "blob",
      "value" : null,
      "wrapper" : false
    },
    "DataTableColumns" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "DataTableName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "DeleteDeliveryStreamInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for <a>DeleteDeliveryStream</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DeliveryStreamName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DeliveryStreamName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteDeliveryStreamOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of <a>DeleteDeliveryStream</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeliveryStreamARN" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "DeliveryStreamDescription" : {
      "deprecated" : false,
      "documentation" : "<p>Contains information about a delivery stream.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "CreateTimestamp" : {
          "deprecated" : false,
          "documentation" : "<p>The date and time that the delivery stream was created.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DeliveryStreamARN" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamARN",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DeliveryStreamName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DeliveryStreamStatus" : {
          "deprecated" : false,
          "documentation" : "<p>The status of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamStatus",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Destinations" : {
          "deprecated" : false,
          "documentation" : "<p>The destinations.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DestinationDescriptionList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "HasMoreDestinations" : {
          "deprecated" : false,
          "documentation" : "<p>Indicates whether there are more destinations available to list.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BooleanObject",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastUpdateTimestamp" : {
          "deprecated" : false,
          "documentation" : "<p>The date and time that the delivery stream was last updated.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "VersionId" : {
          "deprecated" : false,
          "documentation" : "<p>Used when calling the <a>UpdateDestination</a> operation. Each time the destination is updated for the delivery stream, the VersionId is changed, and the current VersionId is required when updating the destination. This is so that the service knows it is applying the changes to the correct version of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamVersionId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DeliveryStreamName", "DeliveryStreamARN", "DeliveryStreamStatus", "VersionId", "Destinations", "HasMoreDestinations" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeliveryStreamName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 64,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : "[a-zA-Z0-9_.-]+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "DeliveryStreamNameList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "DeliveryStreamName",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "DeliveryStreamStatus" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "CREATING", "DELETING", "ACTIVE" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "DeliveryStreamVersionId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 50,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : "[0-9]+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "DescribeDeliveryStreamInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for <a>DescribeDeliveryStream</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DeliveryStreamName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ExclusiveStartDestinationId" : {
          "deprecated" : false,
          "documentation" : "<p>Specifies the destination ID to start returning the destination information. Currently Firehose supports one destination per delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DestinationId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Limit" : {
          "deprecated" : false,
          "documentation" : "<p>The limit on the number of destinations to return. Currently, you can have one destination per delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DescribeDeliveryStreamInputLimit",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DeliveryStreamName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeDeliveryStreamInputLimit" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 10000,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "DescribeDeliveryStreamOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of <a>DescribeDeliveryStream</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DeliveryStreamDescription" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamDescription",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DeliveryStreamDescription" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DestinationDescription" : {
      "deprecated" : false,
      "documentation" : "<p>Describes the destination for a delivery stream.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DestinationId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the destination.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DestinationId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ElasticsearchDestinationDescription" : {
          "deprecated" : false,
          "documentation" : "<p>The destination in Amazon ES.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchDestinationDescription",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RedshiftDestinationDescription" : {
          "deprecated" : false,
          "documentation" : "<p>The destination in Amazon Redshift.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RedshiftDestinationDescription",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "S3DestinationDescription" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon S3 destination.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3DestinationDescription",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DestinationId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DestinationDescriptionList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "DestinationDescription",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "DestinationId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 100,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchBufferingHints" : {
      "deprecated" : false,
      "documentation" : "<p>Describes the buffering to perform before delivering data to the Amazon ES destination.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IntervalInSeconds" : {
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchBufferingIntervalInSeconds",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SizeInMBs" : {
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchBufferingSizeInMBs",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchBufferingIntervalInSeconds" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 900,
      "member" : null,
      "members" : null,
      "min" : 60,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchBufferingSizeInMBs" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 100,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchDestinationConfiguration" : {
      "deprecated" : false,
      "documentation" : "<p>Describes the configuration of a destination in Amazon ES.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "BufferingHints" : {
          "deprecated" : false,
          "documentation" : "<p>Buffering options. If no value is specified, <b>ElasticsearchBufferingHints</b> object default values are used. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchBufferingHints",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CloudWatchLoggingOptions" : {
          "deprecated" : false,
          "documentation" : "<p>Describes CloudWatch logging options for your delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CloudWatchLoggingOptions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DomainARN" : {
          "deprecated" : false,
          "documentation" : "<p>The ARN of the Amazon ES domain. The IAM role must have permission for <code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code> , and <code>DescribeElasticsearchDomainConfig</code> after assuming <b>RoleARN</b>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchDomainARN",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IndexName" : {
          "deprecated" : false,
          "documentation" : "<p>The Elasticsearch index name.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchIndexName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IndexRotationPeriod" : {
          "deprecated" : false,
          "documentation" : "<p>The Elasticsearch index rotation period. Index rotation appends a timestamp to the IndexName to facilitate expiration of old data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for Amazon Elasticsearch Service Destination</a>. Default value is <code>OneDay</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchIndexRotationPeriod",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RetryOptions" : {
          "deprecated" : false,
          "documentation" : "<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon ES. Default value is 300 (5 minutes).</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchRetryOptions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RoleARN" : {
          "deprecated" : false,
          "documentation" : "<p>The ARN of the IAM role to be assumed by Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon S3 Bucket Access</a>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RoleARN",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "S3BackupMode" : {
          "deprecated" : false,
          "documentation" : "<p>Defines how documents should be delivered to Amazon S3. When set to FailedDocumentsOnly, Firehose writes any documents that could not be indexed to the configured Amazon S3 destination, with elasticsearch-failed/ appended to the key prefix. When set to AllDocuments, Firehose delivers all incoming records to Amazon S3, and also writes failed documents with elasticsearch-failed/ appended to the prefix. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-s3-backup\">Amazon S3 Backup for Amazon Elasticsearch Service Destination</a>. Default value is FailedDocumentsOnly.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchS3BackupMode",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "S3Configuration" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3DestinationConfiguration",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TypeName" : {
          "deprecated" : false,
          "documentation" : "<p>The Elasticsearch type name.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchTypeName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "RoleARN", "DomainARN", "IndexName", "TypeName", "S3Configuration" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchDestinationDescription" : {
      "deprecated" : false,
      "documentation" : "<p>The destination description in Amazon ES.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "BufferingHints" : {
          "deprecated" : false,
          "documentation" : "<p>Buffering options.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchBufferingHints",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CloudWatchLoggingOptions" : {
          "deprecated" : false,
          "documentation" : "<p>CloudWatch logging options.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CloudWatchLoggingOptions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DomainARN" : {
          "deprecated" : false,
          "documentation" : "<p>The ARN of the Amazon ES domain.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchDomainARN",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IndexName" : {
          "deprecated" : false,
          "documentation" : "<p>The Elasticsearch index name.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchIndexName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IndexRotationPeriod" : {
          "deprecated" : false,
          "documentation" : "<p>The Elasticsearch index rotation period</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchIndexRotationPeriod",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RetryOptions" : {
          "deprecated" : false,
          "documentation" : "<p>Elasticsearch retry options.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchRetryOptions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RoleARN" : {
          "deprecated" : false,
          "documentation" : "<p>The ARN of the AWS credentials.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RoleARN",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "S3BackupMode" : {
          "deprecated" : false,
          "documentation" : "<p>Amazon S3 backup mode.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchS3BackupMode",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "S3DestinationDescription" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3DestinationDescription",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TypeName" : {
          "deprecated" : false,
          "documentation" : "<p>The Elasticsearch type name.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchTypeName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchDestinationUpdate" : {
      "deprecated" : false,
      "documentation" : "<p>Describes an update for a destination in Amazon ES.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "BufferingHints" : {
          "deprecated" : false,
          "documentation" : "<p>Buffering options. If no value is specified, <b>ElasticsearchBufferingHints</b> object default values are used. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchBufferingHints",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CloudWatchLoggingOptions" : {
          "deprecated" : false,
          "documentation" : "<p>Describes CloudWatch logging options for your delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CloudWatchLoggingOptions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DomainARN" : {
          "deprecated" : false,
          "documentation" : "<p>The ARN of the Amazon ES domain. The IAM role must have permission for DescribeElasticsearchDomain, DescribeElasticsearchDomains , and DescribeElasticsearchDomainConfig after assuming <b>RoleARN</b>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchDomainARN",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IndexName" : {
          "deprecated" : false,
          "documentation" : "<p>The Elasticsearch index name.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchIndexName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IndexRotationPeriod" : {
          "deprecated" : false,
          "documentation" : "<p>The Elasticsearch index rotation period. Index rotation appends a timestamp to the IndexName to facilitate the expiration of old data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for Amazon Elasticsearch Service Destination</a>. Default value is <code>OneDay</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchIndexRotationPeriod",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RetryOptions" : {
          "deprecated" : false,
          "documentation" : "<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon ES. Default value is 300 (5 minutes).</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchRetryOptions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RoleARN" : {
          "deprecated" : false,
          "documentation" : "<p>The ARN of the IAM role to be assumed by Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon S3 Bucket Access</a>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RoleARN",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "S3Update" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3DestinationUpdate",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TypeName" : {
          "deprecated" : false,
          "documentation" : "<p>The Elasticsearch type name.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchTypeName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchDomainARN" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 512,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : "arn:.*",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchIndexName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 80,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchIndexRotationPeriod" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "NoRotation", "OneHour", "OneDay", "OneWeek", "OneMonth" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchRetryDurationInSeconds" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 7200,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchRetryOptions" : {
      "deprecated" : false,
      "documentation" : "<p>Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon ES.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DurationInSeconds" : {
          "deprecated" : false,
          "documentation" : "<p>After an initial failure to deliver to Amazon ES, the total amount of time during which Firehose re-attempts delivery (including the first attempt). After this time has elapsed, the failed documents are written to Amazon S3. Default value is 300 seconds (5 minutes). A value of 0 (zero) results in no retries.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ElasticsearchRetryDurationInSeconds",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchS3BackupMode" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "FailedDocumentsOnly", "AllDocuments" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ElasticsearchTypeName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 100,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "EncryptionConfiguration" : {
      "deprecated" : false,
      "documentation" : "<p>Describes the encryption for a destination in Amazon S3.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "KMSEncryptionConfig" : {
          "deprecated" : false,
          "documentation" : "<p>The encryption key.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "KMSEncryptionConfig",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "NoEncryptionConfig" : {
          "deprecated" : false,
          "documentation" : "<p>Specifically override existing encryption information to ensure no encryption is used.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "NoEncryptionConfig",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ErrorCode" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ErrorMessage" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "IntervalInSeconds" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 900,
      "member" : null,
      "members" : null,
      "min" : 60,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "InvalidArgumentException" : {
      "deprecated" : false,
      "documentation" : "<p>The specified input parameter has an value that is not valid.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>A message that provides information about the error.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "KMSEncryptionConfig" : {
      "deprecated" : false,
      "documentation" : "<p>Describes an encryption key for a destination in Amazon S3.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AWSKMSKeyARN" : {
          "deprecated" : false,
          "documentation" : "<p>The ARN of the encryption key. Must belong to the same region as the destination Amazon S3 bucket.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AWSKMSKeyARN",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "AWSKMSKeyARN" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "LimitExceededException" : {
      "deprecated" : false,
      "documentation" : "<p>You have already reached the limit for a requested resource.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>A message that provides information about the error.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ListDeliveryStreamsInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for <a>ListDeliveryStreams</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ExclusiveStartDeliveryStreamName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the delivery stream to start the list with.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Limit" : {
          "deprecated" : false,
          "documentation" : "<p>The maximum number of delivery streams to list.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListDeliveryStreamsInputLimit",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ListDeliveryStreamsInputLimit" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 10000,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "ListDeliveryStreamsOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of <a>ListDeliveryStreams</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DeliveryStreamNames" : {
          "deprecated" : false,
          "documentation" : "<p>The names of the delivery streams.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamNameList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "HasMoreDeliveryStreams" : {
          "deprecated" : false,
          "documentation" : "<p>Indicates whether there are more delivery streams available to list.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BooleanObject",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DeliveryStreamNames", "HasMoreDeliveryStreams" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "LogGroupName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "LogStreamName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "NoEncryptionConfig" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "NoEncryption" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "NonNegativeIntegerObject" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "Password" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 6,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "Prefix" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "PutRecordBatchInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for <a>PutRecordBatch</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DeliveryStreamName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Records" : {
          "deprecated" : false,
          "documentation" : "<p>One or more records.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PutRecordBatchRequestEntryList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DeliveryStreamName", "Records" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PutRecordBatchOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of <a>PutRecordBatch</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "FailedPutCount" : {
          "deprecated" : false,
          "documentation" : "<p>The number of unsuccessfully written records.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "NonNegativeIntegerObject",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RequestResponses" : {
          "deprecated" : false,
          "documentation" : "<p>The results for the individual records. The index of each element matches the same index in which records were sent.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PutRecordBatchResponseEntryList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "FailedPutCount", "RequestResponses" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PutRecordBatchRequestEntryList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 500,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "Record",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "PutRecordBatchResponseEntry" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the result for an individual record from a <a>PutRecordBatch</a> request. If the record is successfully added to your delivery stream, it receives a record ID. If the record fails to be added to your delivery stream, the result includes an error code and an error message.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ErrorCode" : {
          "deprecated" : false,
          "documentation" : "<p>The error code for an individual record result.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorCode",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ErrorMessage" : {
          "deprecated" : false,
          "documentation" : "<p>The error message for an individual record result.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RecordId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the record.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PutResponseRecordId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PutRecordBatchResponseEntryList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 500,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "PutRecordBatchResponseEntry",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "PutRecordInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for <a>PutRecord</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DeliveryStreamName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the delivery stream.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeliveryStreamName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Record" : {
          "deprecated" : false,
          "documentation" : "<p>The record.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Record",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DeliveryStreamName", "Record" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PutRecordOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of <a>PutRecord</a>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "RecordId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the record.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PutResponseRecordId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "RecordId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PutResponseRecordId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "Record" : {
      "deprecated" : false,
      "documentation" : "<p>The unit of data in a delivery stream.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Data" : {
          "deprecated" : false,
          "documentation" : "<p>The data blob, which is base64-encoded when the blob is serialized. The maximum size of the data blob, before base64-encoding, is 1,000 KB.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Data",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Data" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "RedshiftDestinationConfiguration" : {
      "deprecated" : false,
      "documentation" : "<p>Describes the configuration of a destination in Amazon Redshift.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
[...]
