{
  "metadata" : {
    "apiVersion" : "2015-08-14",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : null,
    "defaultEndpoint" : "https://kinesisanalytics.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kinesisanalytics.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonKinesisAnalytics",
    "syncClient" : "AmazonKinesisAnalyticsClient",
    "asyncInterface" : "AmazonKinesisAnalyticsAsync",
    "asyncClient" : "AmazonKinesisAnalyticsAsyncClient",
    "packageName" : "com.amazonaws.services.kinesisanalytics",
    "packagePath" : "com/amazonaws/services/kinesisanalytics",
    "serviceAbbreviation" : "Kinesis Analytics",
    "serviceFullName" : "Amazon Kinesis Analytics",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "kinesisanalytics",
    "signingName" : "kinesisanalytics",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonKinesisAnalyticsClientBuilder",
    "asyncClientBuilderClassName" : "AmazonKinesisAnalyticsAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonKinesisAnalyticsModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisanalytics.smoketests",
    "serviceName" : "Kinesis Analytics",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "AddApplicationInput" : {
      "documentation" : "<p> Adds a streaming source to your Amazon Kinesis application. For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p> <p>You can add a streaming source either when you create an application or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationInput</code> action.</p>",
      "operationName" : "AddApplicationInput",
      "deprecated" : false,
      "input" : {
        "variableName" : "addApplicationInputRequest",
        "variableType" : "AddApplicationInputRequest",
        "variableDeclarationType" : "AddApplicationInputRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddApplicationInputRequest",
        "variableSetterType" : "AddApplicationInputRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddApplicationInputResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddApplicationInputResult",
      "asyncReturnType" : "AddApplicationInputResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationInputResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationInputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationInputRequest, AddApplicationInputResult>",
      "methodName" : "addApplicationInput"
    },
    "AddApplicationOutput" : {
      "documentation" : "<p>Adds an external destination to your Amazon Kinesis Analytics application.</p> <p>If you want Amazon Kinesis Analytics to deliver data from an in-application stream within your application to an external destination (such as an Amazon Kinesis stream or a Firehose delivery stream), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Understanding Application Output (Destination)</a>. </p> <p> Note that any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p> <p>For the limits on the number of application inputs and outputs you can configure, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action.</p>",
      "operationName" : "AddApplicationOutput",
      "deprecated" : false,
      "input" : {
        "variableName" : "addApplicationOutputRequest",
        "variableType" : "AddApplicationOutputRequest",
        "variableDeclarationType" : "AddApplicationOutputRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddApplicationOutputRequest",
        "variableSetterType" : "AddApplicationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddApplicationOutputResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddApplicationOutputResult",
      "asyncReturnType" : "AddApplicationOutputResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationOutputResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationOutputRequest, AddApplicationOutputResult>",
      "methodName" : "addApplicationOutput"
    },
    "AddApplicationReferenceDataSource" : {
      "documentation" : "<p>Adds a reference data source to an existing application.</p> <p>Amazon Kinesis Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in Amazon S3 object maps to columns in the resulting in-application table.</p> <p> For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. For the limits on data sources you can add to your application, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action. </p>",
      "operationName" : "AddApplicationReferenceDataSource",
      "deprecated" : false,
      "input" : {
        "variableName" : "addApplicationReferenceDataSourceRequest",
        "variableType" : "AddApplicationReferenceDataSourceRequest",
        "variableDeclarationType" : "AddApplicationReferenceDataSourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddApplicationReferenceDataSourceRequest",
        "variableSetterType" : "AddApplicationReferenceDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddApplicationReferenceDataSourceResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddApplicationReferenceDataSourceResult",
      "asyncReturnType" : "AddApplicationReferenceDataSourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationReferenceDataSourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationReferenceDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationReferenceDataSourceRequest, AddApplicationReferenceDataSourceResult>",
      "methodName" : "addApplicationReferenceDataSource"
    },
    "CreateApplication" : {
      "documentation" : "<p> Creates an Amazon Kinesis Analytics application. You can configure each application with one streaming source as input, application code to process the input, and up to five streaming destinations where you want Amazon Kinesis Analytics to write the output data from your application. For an overview, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works.html\">How it Works</a>. </p> <p>In the input configuration, you map the streaming source to an in-application stream, which you can think of as a constantly updating table. In the mapping, you must provide a schema for the in-application stream and map each data column in the in-application stream to a data element in the streaming source, with the option of renaming, casting and dropping columns as desired.</p> <p>Your application code is one or more SQL statements that read input data, transform it, and generate output. Your application code can create one or more SQL artifacts like SQL streams or pumps.</p> <p>In the output configuration, you can configure the application to write data from in-application streams created in your applications to up to five streaming destinations.</p> <p> To read data from your source stream or write data to destination streams, Amazon Kinesis Analytics needs your permissions. You grant these permissions by creating IAM roles. This operation requires permissions to perform the <code>kinesisanalytics:CreateApplication</code> action. </p> <p> For introductory exercises to create an Amazon Kinesis Analytics application, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/getting-started.html\">Getting Started</a>. </p>",
      "operationName" : "CreateApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "variableDeclarationType" : "CreateApplicationRequest",
        "documentation" : "<p>TBD</p>",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : "<p>TBD</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>User-provided application code (query) is invalid. This can be a simple syntax error.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the number of applications allowed.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateApplicationResult",
      "asyncReturnType" : "CreateApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "methodName" : "createApplication"
    },
    "DeleteApplication" : {
      "documentation" : "<p>Deletes the specified application. Amazon Kinesis Analytics halts application execution and deletes the application, including any application artifacts (such as in-application streams, reference table, and application code).</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplication</code> action.</p>",
      "operationName" : "DeleteApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "variableDeclarationType" : "DeleteApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteApplicationResult",
      "asyncReturnType" : "DeleteApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "methodName" : "deleteApplication"
    },
    "DeleteApplicationOutput" : {
      "documentation" : "<p>Deletes output destination configuration from your application configuration. Amazon Kinesis Analytics will no longer write data from the corresponding in-application stream to the external output destination.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplicationOutput</code> action.</p>",
      "operationName" : "DeleteApplicationOutput",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteApplicationOutputRequest",
        "variableType" : "DeleteApplicationOutputRequest",
        "variableDeclarationType" : "DeleteApplicationOutputRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteApplicationOutputRequest",
        "variableSetterType" : "DeleteApplicationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteApplicationOutputResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteApplicationOutputResult",
      "asyncReturnType" : "DeleteApplicationOutputResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationOutputResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationOutputRequest, DeleteApplicationOutputResult>",
      "methodName" : "deleteApplicationOutput"
    },
    "DeleteApplicationReferenceDataSource" : {
      "documentation" : "<p>Deletes a reference data source configuration from the specified application configuration.</p> <p>If the application is running, Amazon Kinesis Analytics immediately removes the in-application table that you created using the <a>AddApplicationReferenceDataSource</a> operation. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics.DeleteApplicationReferenceDataSource</code> action.</p>",
      "operationName" : "DeleteApplicationReferenceDataSource",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteApplicationReferenceDataSourceRequest",
        "variableType" : "DeleteApplicationReferenceDataSourceRequest",
        "variableDeclarationType" : "DeleteApplicationReferenceDataSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationReferenceDataSourceRequest",
        "variableSetterType" : "DeleteApplicationReferenceDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteApplicationReferenceDataSourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteApplicationReferenceDataSourceResult",
      "asyncReturnType" : "DeleteApplicationReferenceDataSourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationReferenceDataSourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationReferenceDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationReferenceDataSourceRequest, DeleteApplicationReferenceDataSourceResult>",
      "methodName" : "deleteApplicationReferenceDataSource"
    },
    "DescribeApplication" : {
      "documentation" : "<p>Returns information about a specific Amazon Kinesis Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a>ListApplications</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DescribeApplication</code> action. You can use <code>DescribeApplication</code> to get the current application versionId, which you need to call other operations such as <code>Update</code>. </p>",
      "operationName" : "DescribeApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeApplicationRequest",
        "variableType" : "DescribeApplicationRequest",
        "variableDeclarationType" : "DescribeApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeApplicationRequest",
        "variableSetterType" : "DescribeApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeApplicationResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeApplicationResult",
      "asyncReturnType" : "DescribeApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationRequest, DescribeApplicationResult>",
      "methodName" : "describeApplication"
    },
    "DiscoverInputSchema" : {
      "documentation" : "<p>Infers a schema by evaluating sample records on the specified streaming source (Amazon Kinesis stream or Amazon Kinesis Firehose delivery stream). In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. Note that when you create an application using the Amazon Kinesis Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:DiscoverInputSchema</code> action. </p>",
      "operationName" : "DiscoverInputSchema",
      "deprecated" : false,
      "input" : {
        "variableName" : "discoverInputSchemaRequest",
        "variableType" : "DiscoverInputSchemaRequest",
        "variableDeclarationType" : "DiscoverInputSchemaRequest",
        "documentation" : "<p/>",
        "simpleType" : "DiscoverInputSchemaRequest",
        "variableSetterType" : "DiscoverInputSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DiscoverInputSchemaResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "UnableToDetectSchemaException",
        "documentation" : "<p>Data format is not valid, Kinesis Analytics is not able to detect schema for the given streaming source.</p>"
      }, {
        "exceptionName" : "ResourceProvisionedThroughputExceededException",
        "documentation" : "<p>Discovery failed to get a record from the streaming source because of the Kinesis Streams ProvisionedThroughputExceededException.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DiscoverInputSchemaResult",
      "asyncReturnType" : "DiscoverInputSchemaResult",
      "asyncFutureType" : "java.util.concurrent.Future<DiscoverInputSchemaResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DiscoverInputSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DiscoverInputSchemaRequest, DiscoverInputSchemaResult>",
      "methodName" : "discoverInputSchema"
    },
    "ListApplications" : {
      "documentation" : "<p>Returns a list of Amazon Kinesis Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. If the response returns the <code>HasMoreApplications</code> value as true, you can send another request by adding the <code>ExclusiveStartApplicationName</code> in the request body, and set the value of this to the last application name from the previous response. </p> <p>If you want detailed information about a specific application, use <a>DescribeApplication</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:ListApplications</code> action.</p>",
      "operationName" : "ListApplications",
      "deprecated" : false,
      "input" : {
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "variableDeclarationType" : "ListApplicationsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : "<p/>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListApplicationsResult",
      "asyncReturnType" : "ListApplicationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "methodName" : "listApplications"
    },
    "StartApplication" : {
      "documentation" : "<p>Starts the specified Amazon Kinesis Analytics application. After creating an application, you must exclusively call this operation to start your application.</p> <p>After the application starts, it begins consuming the input data, processes it, and writes the output to the configured destination.</p> <p> The application status must be <code>READY</code> for you to start an application. You can get the application status in the console or using the <a>DescribeApplication</a> operation.</p> <p>After you start the application, you can stop the application from processing the input by calling the <a>StopApplication</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StartApplication</code> action.</p>",
      "operationName" : "StartApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "startApplicationRequest",
        "variableType" : "StartApplicationRequest",
        "variableDeclarationType" : "StartApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "StartApplicationRequest",
        "variableSetterType" : "StartApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartApplicationResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "InvalidApplicationConfigurationException",
        "documentation" : "<p>User-provided application configuration is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StartApplicationResult",
      "asyncReturnType" : "StartApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartApplicationRequest, StartApplicationResult>",
      "methodName" : "startApplication"
    },
    "StopApplication" : {
      "documentation" : "<p>Stops the application from processing input data. You can stop an application only if it is in the running state. You can use the <a>DescribeApplication</a> operation to find the application state. After the application is stopped, Amazon Kinesis Analytics stops reading data from the input, the application stops processing data, and there is no output written to the destination. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StopApplication</code> action.</p>",
      "operationName" : "StopApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopApplicationRequest",
        "variableType" : "StopApplicationRequest",
        "variableDeclarationType" : "StopApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "StopApplicationRequest",
        "variableSetterType" : "StopApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopApplicationResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StopApplicationResult",
      "asyncReturnType" : "StopApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopApplicationRequest, StopApplicationResult>",
      "methodName" : "stopApplication"
    },
    "UpdateApplication" : {
      "documentation" : "<p>Updates an existing Kinesis Analytics application. Using this API, you can update application code, input configuration, and output configuration. </p> <p>Note that Kinesis Analytics updates the <code>CurrentApplicationVersionId</code> each time you update your application. </p> <p>This opeation requires permission for the <code>kinesisanalytics:UpdateApplication</code> action.</p>",
      "operationName" : "UpdateApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "variableDeclarationType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>User-provided application code (query) is invalid. This can be a simple syntax error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdateApplicationResult",
      "asyncReturnType" : "UpdateApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "methodName" : "updateApplication"
    }
  },
  "shapes" : {
    "DeleteApplicationOutputResult" : {
      "c2jName" : "DeleteApplicationOutputResponse",
      "documentation" : "<p/>",
      "shapeName" : "DeleteApplicationOutputResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "deleteApplicationOutputResult",
        "variableType" : "DeleteApplicationOutputResult",
        "variableDeclarationType" : "DeleteApplicationOutputResult",
        "documentation" : null,
        "simpleType" : "DeleteApplicationOutputResult",
        "variableSetterType" : "DeleteApplicationOutputResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ReferenceDataSourceUpdate" : {
      "c2jName" : "ReferenceDataSourceUpdate",
      "documentation" : "<p>When you update a reference data source configuration for an application, this object provides all the updated values (such as the source bucket name and object key name), the in-application table name that is created, and updated mapping information that maps the data in the Amazon S3 object to the in-application reference table that is created.</p>",
      "shapeName" : "ReferenceDataSourceUpdate",
      "deprecated" : false,
      "required" : [ "ReferenceId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>",
        "name" : "ReferenceId",
        "c2jName" : "ReferenceId",
        "c2jShape" : "Id",
        "variable" : {
          "variableName" : "referenceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "referenceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReferenceId",
          "marshallLocationName" : "ReferenceId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>\n@param referenceId ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.*/",
        "getterDocumentation" : "/**<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>\n@return ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.*/",
        "fluentSetterDocumentation" : "/**<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>\n@param referenceId ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>\n@param referenceId ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>In-application table name that is created by this update.</p>",
        "name" : "TableNameUpdate",
        "c2jName" : "TableNameUpdate",
        "c2jShape" : "InAppTableName",
        "variable" : {
          "variableName" : "tableNameUpdate",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>In-application table name that is created by this update.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "tableNameUpdate",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TableNameUpdate",
          "marshallLocationName" : "TableNameUpdate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>In-application table name that is created by this update.</p>\n@param tableNameUpdate In-application table name that is created by this update.*/",
        "getterDocumentation" : "/**<p>In-application table name that is created by this update.</p>\n@return In-application table name that is created by this update.*/",
        "fluentSetterDocumentation" : "/**<p>In-application table name that is created by this update.</p>\n@param tableNameUpdate In-application table name that is created by this update.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>In-application table name that is created by this update.</p>\n@param tableNameUpdate In-application table name that is created by this update.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>",
        "name" : "S3ReferenceDataSourceUpdate",
        "c2jName" : "S3ReferenceDataSourceUpdate",
        "c2jShape" : "S3ReferenceDataSourceUpdate",
        "variable" : {
          "variableName" : "s3ReferenceDataSourceUpdate",
          "variableType" : "S3ReferenceDataSourceUpdate",
          "variableDeclarationType" : "S3ReferenceDataSourceUpdate",
          "documentation" : "<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>",
          "simpleType" : "S3ReferenceDataSourceUpdate",
          "variableSetterType" : "S3ReferenceDataSourceUpdate"
        },
        "setterModel" : {
          "variableName" : "s3ReferenceDataSourceUpdate",
          "variableType" : "S3ReferenceDataSourceUpdate",
          "variableDeclarationType" : "S3ReferenceDataSourceUpdate",
          "documentation" : "",
          "simpleType" : "S3ReferenceDataSourceUpdate",
          "variableSetterType" : "S3ReferenceDataSourceUpdate"
        },
        "getterModel" : {
          "returnType" : "S3ReferenceDataSourceUpdate",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "S3ReferenceDataSourceUpdate",
          "marshallLocationName" : "S3ReferenceDataSourceUpdate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>\n@param s3ReferenceDataSourceUpdate Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.*/",
        "getterDocumentation" : "/**<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>\n@return Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.*/",
        "fluentSetterDocumentation" : "/**<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>\n@param s3ReferenceDataSourceUpdate Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>\n@param s3ReferenceDataSourceUpdate Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "ReferenceSchemaUpdate",
        "c2jName" : "ReferenceSchemaUpdate",
        "c2jShape" : "SourceSchema",
        "variable" : {
          "variableName" : "referenceSchemaUpdate",
          "variableType" : "SourceSchema",
          "variableDeclarationType" : "SourceSchema",
          "documentation" : "",
          "simpleType" : "SourceSchema",
          "variableSetterType" : "SourceSchema"
        },
        "setterModel" : {
          "variableName" : "referenceSchemaUpdate",
          "variableType" : "SourceSchema",
          "variableDeclarationType" : "SourceSchema",
          "documentation" : "",
          "simpleType" : "SourceSchema",
          "variableSetterType" : "SourceSchema"
        },
        "getterModel" : {
          "returnType" : "SourceSchema",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReferenceSchemaUpdate",
          "marshallLocationName" : "ReferenceSchemaUpdate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param referenceSchemaUpdate */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param referenceSchemaUpdate \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param referenceSchemaUpdate \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "referenceDataSourceUpdate",
        "variableType" : "ReferenceDataSourceUpdate",
        "variableDeclarationType" : "ReferenceDataSourceUpdate",
        "documentation" : null,
        "simpleType" : "ReferenceDataSourceUpdate",
        "variableSetterType" : "ReferenceDataSourceUpdate"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ReferenceId" : {
          "documentation" : "<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>",
          "name" : "ReferenceId",
          "c2jName" : "ReferenceId",
          "c2jShape" : "Id",
          "variable" : {
            "variableName" : "referenceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "referenceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ReferenceId",
            "marshallLocationName" : "ReferenceId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>\n@param referenceId ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.*/",
          "getterDocumentation" : "/**<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>\n@return ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.*/",
          "fluentSetterDocumentation" : "/**<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>\n@param referenceId ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.</p>\n@param referenceId ID of the reference data source being updated. You can use the <a>DescribeApplication</a> operation to get this value.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "TableNameUpdate" : {
          "documentation" : "<p>In-application table name that is created by this update.</p>",
          "name" : "TableNameUpdate",
          "c2jName" : "TableNameUpdate",
          "c2jShape" : "InAppTableName",
          "variable" : {
            "variableName" : "tableNameUpdate",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>In-application table name that is created by this update.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "tableNameUpdate",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TableNameUpdate",
            "marshallLocationName" : "TableNameUpdate",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>In-application table name that is created by this update.</p>\n@param tableNameUpdate In-application table name that is created by this update.*/",
          "getterDocumentation" : "/**<p>In-application table name that is created by this update.</p>\n@return In-application table name that is created by this update.*/",
          "fluentSetterDocumentation" : "/**<p>In-application table name that is created by this update.</p>\n@param tableNameUpdate In-application table name that is created by this update.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>In-application table name that is created by this update.</p>\n@param tableNameUpdate In-application table name that is created by this update.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "S3ReferenceDataSourceUpdate" : {
          "documentation" : "<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>",
          "name" : "S3ReferenceDataSourceUpdate",
          "c2jName" : "S3ReferenceDataSourceUpdate",
          "c2jShape" : "S3ReferenceDataSourceUpdate",
          "variable" : {
            "variableName" : "s3ReferenceDataSourceUpdate",
            "variableType" : "S3ReferenceDataSourceUpdate",
            "variableDeclarationType" : "S3ReferenceDataSourceUpdate",
            "documentation" : "<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>",
            "simpleType" : "S3ReferenceDataSourceUpdate",
            "variableSetterType" : "S3ReferenceDataSourceUpdate"
          },
          "setterModel" : {
            "variableName" : "s3ReferenceDataSourceUpdate",
            "variableType" : "S3ReferenceDataSourceUpdate",
            "variableDeclarationType" : "S3ReferenceDataSourceUpdate",
            "documentation" : "",
            "simpleType" : "S3ReferenceDataSourceUpdate",
            "variableSetterType" : "S3ReferenceDataSourceUpdate"
          },
          "getterModel" : {
            "returnType" : "S3ReferenceDataSourceUpdate",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "S3ReferenceDataSourceUpdate",
            "marshallLocationName" : "S3ReferenceDataSourceUpdate",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>\n@param s3ReferenceDataSourceUpdate Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.*/",
          "getterDocumentation" : "/**<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>\n@return Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.*/",
          "fluentSetterDocumentation" : "/**<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>\n@param s3ReferenceDataSourceUpdate Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.</p>\n@param s3ReferenceDataSourceUpdate Describes the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object on your behalf and populate the in-application reference table.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ReferenceSchemaUpdate" : {
          "documentation" : "",
          "name" : "ReferenceSchemaUpdate",
          "c2jName" : "ReferenceSchemaUpdate",
          "c2jShape" : "SourceSchema",
          "variable" : {
            "variableName" : "referenceSchemaUpdate",
            "variableType" : "SourceSchema",
            "variableDeclarationType" : "SourceSchema",
            "documentation" : "",
            "simpleType" : "SourceSchema",
            "variableSetterType" : "SourceSchema"
          },
          "setterModel" : {
            "variableName" : "referenceSchemaUpdate",
            "variableType" : "SourceSchema",
            "variableDeclarationType" : "SourceSchema",
            "documentation" : "",
            "simpleType" : "SourceSchema",
            "variableSetterType" : "SourceSchema"
          },
          "getterModel" : {
            "returnType" : "SourceSchema",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ReferenceSchemaUpdate",
            "marshallLocationName" : "ReferenceSchemaUpdate",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param referenceSchemaUpdate */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param referenceSchemaUpdate \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param referenceSchemaUpdate \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
      "shapeName" : "ConcurrentModificationException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "variableDeclarationType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "InvalidApplicationConfigurationException" : {
      "c2jName" : "InvalidApplicationConfigurationException",
      "documentation" : "<p>User-provided application configuration is not valid.</p>",
      "shapeName" : "InvalidApplicationConfigurationException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidApplicationConfigurationException",
        "variableType" : "InvalidApplicationConfigurationException",
        "variableDeclarationType" : "InvalidApplicationConfigurationException",
        "documentation" : null,
        "simpleType" : "InvalidApplicationConfigurationException",
        "variableSetterType" : "InvalidApplicationConfigurationException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidApplicationConfigurationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "AddApplicationInputRequest" : {
      "c2jName" : "AddApplicationInputRequest",
      "documentation" : "<p/>",
      "shapeName" : "AddApplicationInputRequest",
      "deprecated" : false,
      "required" : [ "ApplicationName", "CurrentApplicationVersionId", "Input" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>",
        "name" : "ApplicationName",
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "variable" : {
          "variableName" : "applicationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "applicationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ApplicationName",
          "marshallLocationName" : "ApplicationName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.*/",
        "getterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@return Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.*/",
        "fluentSetterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
        "name" : "CurrentApplicationVersionId",
        "c2jName" : "CurrentApplicationVersionId",
        "c2jShape" : "ApplicationVersionId",
        "variable" : {
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "setterModel" : {
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CurrentApplicationVersionId",
          "marshallLocationName" : "CurrentApplicationVersionId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.*/",
        "getterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@return Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.*/",
        "fluentSetterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "Input",
        "c2jName" : "Input",
        "c2jShape" : "Input",
        "variable" : {
          "variableName" : "input",
          "variableType" : "Input",
          "variableDeclarationType" : "Input",
          "documentation" : "",
          "simpleType" : "Input",
          "variableSetterType" : "Input"
        },
        "setterModel" : {
          "variableName" : "input",
          "variableType" : "Input",
          "variableDeclarationType" : "Input",
          "documentation" : "",
          "simpleType" : "Input",
          "variableSetterType" : "Input"
        },
        "getterModel" : {
          "returnType" : "Input",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Input",
          "marshallLocationName" : "Input",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param input */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param input \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param input \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "addApplicationInputRequest",
        "variableType" : "AddApplicationInputRequest",
        "variableDeclarationType" : "AddApplicationInputRequest",
        "documentation" : null,
        "simpleType" : "AddApplicationInputRequest",
        "variableSetterType" : "AddApplicationInputRequest"
      },
      "marshaller" : {
        "action" : "AddApplicationInput",
        "verb" : "POST",
        "target" : "KinesisAnalytics_20150814.AddApplicationInput",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Input" : {
          "documentation" : "",
          "name" : "Input",
          "c2jName" : "Input",
          "c2jShape" : "Input",
          "variable" : {
            "variableName" : "input",
            "variableType" : "Input",
            "variableDeclarationType" : "Input",
            "documentation" : "",
            "simpleType" : "Input",
            "variableSetterType" : "Input"
          },
          "setterModel" : {
            "variableName" : "input",
            "variableType" : "Input",
            "variableDeclarationType" : "Input",
            "documentation" : "",
            "simpleType" : "Input",
            "variableSetterType" : "Input"
          },
          "getterModel" : {
            "returnType" : "Input",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Input",
            "marshallLocationName" : "Input",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param input */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param input \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param input \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ApplicationName" : {
          "documentation" : "<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>",
          "name" : "ApplicationName",
          "c2jName" : "ApplicationName",
          "c2jShape" : "ApplicationName",
          "variable" : {
            "variableName" : "applicationName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "applicationName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ApplicationName",
            "marshallLocationName" : "ApplicationName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.*/",
          "getterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@return Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.*/",
          "fluentSetterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CurrentApplicationVersionId" : {
          "documentation" : "<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
          "name" : "CurrentApplicationVersionId",
          "c2jName" : "CurrentApplicationVersionId",
          "c2jShape" : "ApplicationVersionId",
          "variable" : {
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "setterModel" : {
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CurrentApplicationVersionId",
            "marshallLocationName" : "CurrentApplicationVersionId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.*/",
          "getterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@return Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.*/",
          "fluentSetterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "KinesisFirehoseInput" : {
      "c2jName" : "KinesisFirehoseInput",
      "documentation" : "<p> Identifies an Amazon Kinesis Firehose delivery stream as the streaming source. You provide the Firehose delivery stream's Amazon Resource Name (ARN) and an IAM role ARN that enables Amazon Kinesis Analytics to access the stream on your behalf.</p>",
      "shapeName" : "KinesisFirehoseInput",
      "deprecated" : false,
      "required" : [ "ResourceARN", "RoleARN" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>ARN of the input Firehose delivery stream.</p>",
        "name" : "ResourceARN",
        "c2jName" : "ResourceARN",
        "c2jShape" : "ResourceARN",
        "variable" : {
          "variableName" : "resourceARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>ARN of the input Firehose delivery stream.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "resourceARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ResourceARN",
          "marshallLocationName" : "ResourceARN",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>ARN of the input Firehose delivery stream.</p>\n@param resourceARN ARN of the input Firehose delivery stream.*/",
        "getterDocumentation" : "/**<p>ARN of the input Firehose delivery stream.</p>\n@return ARN of the input Firehose delivery stream.*/",
        "fluentSetterDocumentation" : "/**<p>ARN of the input Firehose delivery stream.</p>\n@param resourceARN ARN of the input Firehose delivery stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>ARN of the input Firehose delivery stream.</p>\n@param resourceARN ARN of the input Firehose delivery stream.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>",
        "name" : "RoleARN",
        "c2jName" : "RoleARN",
        "c2jShape" : "RoleARN",
        "variable" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RoleARN",
          "marshallLocationName" : "RoleARN",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>\n@param roleARN ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.*/",
        "getterDocumentation" : "/**<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>\n@return ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.*/",
        "fluentSetterDocumentation" : "/**<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>\n@param roleARN ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>\n@param roleARN ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "kinesisFirehoseInput",
        "variableType" : "KinesisFirehoseInput",
        "variableDeclarationType" : "KinesisFirehoseInput",
        "documentation" : null,
        "simpleType" : "KinesisFirehoseInput",
        "variableSetterType" : "KinesisFirehoseInput"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ResourceARN" : {
          "documentation" : "<p>ARN of the input Firehose delivery stream.</p>",
          "name" : "ResourceARN",
          "c2jName" : "ResourceARN",
          "c2jShape" : "ResourceARN",
          "variable" : {
            "variableName" : "resourceARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>ARN of the input Firehose delivery stream.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "resourceARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ResourceARN",
            "marshallLocationName" : "ResourceARN",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>ARN of the input Firehose delivery stream.</p>\n@param resourceARN ARN of the input Firehose delivery stream.*/",
          "getterDocumentation" : "/**<p>ARN of the input Firehose delivery stream.</p>\n@return ARN of the input Firehose delivery stream.*/",
          "fluentSetterDocumentation" : "/**<p>ARN of the input Firehose delivery stream.</p>\n@param resourceARN ARN of the input Firehose delivery stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>ARN of the input Firehose delivery stream.</p>\n@param resourceARN ARN of the input Firehose delivery stream.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RoleARN" : {
          "documentation" : "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>",
          "name" : "RoleARN",
          "c2jName" : "RoleARN",
          "c2jShape" : "RoleARN",
          "variable" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RoleARN",
            "marshallLocationName" : "RoleARN",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>\n@param roleARN ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.*/",
          "getterDocumentation" : "/**<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>\n@return ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.*/",
          "fluentSetterDocumentation" : "/**<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>\n@param roleARN ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.</p>\n@param roleARN ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure the role has necessary permissions to access the stream.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "AddApplicationOutputRequest" : {
      "c2jName" : "AddApplicationOutputRequest",
      "documentation" : "<p/>",
      "shapeName" : "AddApplicationOutputRequest",
      "deprecated" : false,
      "required" : [ "ApplicationName", "CurrentApplicationVersionId", "Output" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Name of the application to which you want to add the output configuration.</p>",
        "name" : "ApplicationName",
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "variable" : {
          "variableName" : "applicationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Name of the application to which you want to add the output configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "applicationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ApplicationName",
          "marshallLocationName" : "ApplicationName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@param applicationName Name of the application to which you want to add the output configuration.*/",
        "getterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@return Name of the application to which you want to add the output configuration.*/",
        "fluentSetterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@param applicationName Name of the application to which you want to add the output configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
