{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-08-14",
    "asyncClient" : "AmazonKinesisAnalyticsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonKinesisAnalyticsAsyncClientBuilder",
    "asyncInterface" : "AmazonKinesisAnalyticsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonKinesisAnalyticsModuleInjector",
    "defaultEndpoint" : "https://kinesisanalytics.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kinesisanalytics.us-east-1.amazonaws.com",
    "documentation" : null,
    "endpointPrefix" : "kinesisanalytics",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kinesisanalytics",
    "packagePath" : "com/amazonaws/services/kinesisanalytics",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "Kinesis Analytics",
    "serviceFullName" : "Amazon Kinesis Analytics",
    "serviceName" : "Kinesis Analytics",
    "signingName" : "kinesisanalytics",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisanalytics.smoketests",
    "syncClient" : "AmazonKinesisAnalyticsClient",
    "syncClientBuilderClassName" : "AmazonKinesisAnalyticsClientBuilder",
    "syncInterface" : "AmazonKinesisAnalytics",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddApplicationInput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationInputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationInputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationInputRequest, AddApplicationInputResult>",
      "asyncReturnType" : "AddApplicationInputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Adds a streaming source to your Amazon Kinesis application. For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p> <p>You can add a streaming source either when you create an application or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationInput</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddApplicationInputRequest",
        "variableName" : "addApplicationInputRequest",
        "variableType" : "AddApplicationInputRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddApplicationInputRequest",
        "variableSetterType" : "AddApplicationInputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationInput",
      "operationName" : "AddApplicationInput",
      "returnType" : {
        "returnType" : "AddApplicationInputResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "AddApplicationInputResult"
    },
    "AddApplicationOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationOutputRequest, AddApplicationOutputResult>",
      "asyncReturnType" : "AddApplicationOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an external destination to your Amazon Kinesis Analytics application.</p> <p>If you want Amazon Kinesis Analytics to deliver data from an in-application stream within your application to an external destination (such as an Amazon Kinesis stream or a Firehose delivery stream), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Understanding Application Output (Destination)</a>. </p> <p> Note that any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p> <p>For the limits on the number of application inputs and outputs you can configure, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddApplicationOutputRequest",
        "variableName" : "addApplicationOutputRequest",
        "variableType" : "AddApplicationOutputRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddApplicationOutputRequest",
        "variableSetterType" : "AddApplicationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationOutput",
      "operationName" : "AddApplicationOutput",
      "returnType" : {
        "returnType" : "AddApplicationOutputResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "AddApplicationOutputResult"
    },
    "AddApplicationReferenceDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationReferenceDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationReferenceDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationReferenceDataSourceRequest, AddApplicationReferenceDataSourceResult>",
      "asyncReturnType" : "AddApplicationReferenceDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a reference data source to an existing application.</p> <p>Amazon Kinesis Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in Amazon S3 object maps to columns in the resulting in-application table.</p> <p> For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. For the limits on data sources you can add to your application, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddApplicationReferenceDataSourceRequest",
        "variableName" : "addApplicationReferenceDataSourceRequest",
        "variableType" : "AddApplicationReferenceDataSourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddApplicationReferenceDataSourceRequest",
        "variableSetterType" : "AddApplicationReferenceDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationReferenceDataSource",
      "operationName" : "AddApplicationReferenceDataSource",
      "returnType" : {
        "returnType" : "AddApplicationReferenceDataSourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "AddApplicationReferenceDataSourceResult"
    },
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates an Amazon Kinesis Analytics application. You can configure each application with one streaming source as input, application code to process the input, and up to five streaming destinations where you want Amazon Kinesis Analytics to write the output data from your application. For an overview, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works.html\">How it Works</a>. </p> <p>In the input configuration, you map the streaming source to an in-application stream, which you can think of as a constantly updating table. In the mapping, you must provide a schema for the in-application stream and map each data column in the in-application stream to a data element in the streaming source, with the option of renaming, casting and dropping columns as desired.</p> <p>Your application code is one or more SQL statements that read input data, transform it, and generate output. Your application code can create one or more SQL artifacts like SQL streams or pumps.</p> <p>In the output configuration, you can configure the application to write data from in-application streams created in your applications to up to five streaming destinations.</p> <p> To read data from your source stream or write data to destination streams, Amazon Kinesis Analytics needs your permissions. You grant these permissions by creating IAM roles. This operation requires permissions to perform the <code>kinesisanalytics:CreateApplication</code> action. </p> <p> For introductory exercises to create an Amazon Kinesis Analytics application, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/getting-started.html\">Getting Started</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>User-provided application code (query) is invalid. This can be a simple syntax error.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the number of applications allowed.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "<p>TBD</p>",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : "<p>TBD</p>"
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified application. Amazon Kinesis Analytics halts application execution and deletes the application, including any application artifacts (such as in-application streams, reference table, and application code).</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplication</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "DeleteApplicationOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationOutputRequest, DeleteApplicationOutputResult>",
      "asyncReturnType" : "DeleteApplicationOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes output destination configuration from your application configuration. Amazon Kinesis Analytics will no longer write data from the corresponding in-application stream to the external output destination.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplicationOutput</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteApplicationOutputRequest",
        "variableName" : "deleteApplicationOutputRequest",
        "variableType" : "DeleteApplicationOutputRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteApplicationOutputRequest",
        "variableSetterType" : "DeleteApplicationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationOutput",
      "operationName" : "DeleteApplicationOutput",
      "returnType" : {
        "returnType" : "DeleteApplicationOutputResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteApplicationOutputResult"
    },
    "DeleteApplicationReferenceDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationReferenceDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationReferenceDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationReferenceDataSourceRequest, DeleteApplicationReferenceDataSourceResult>",
      "asyncReturnType" : "DeleteApplicationReferenceDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a reference data source configuration from the specified application configuration.</p> <p>If the application is running, Amazon Kinesis Analytics immediately removes the in-application table that you created using the <a>AddApplicationReferenceDataSource</a> operation. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics.DeleteApplicationReferenceDataSource</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteApplicationReferenceDataSourceRequest",
        "variableName" : "deleteApplicationReferenceDataSourceRequest",
        "variableType" : "DeleteApplicationReferenceDataSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationReferenceDataSourceRequest",
        "variableSetterType" : "DeleteApplicationReferenceDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationReferenceDataSource",
      "operationName" : "DeleteApplicationReferenceDataSource",
      "returnType" : {
        "returnType" : "DeleteApplicationReferenceDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationReferenceDataSourceResult"
    },
    "DescribeApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationRequest, DescribeApplicationResult>",
      "asyncReturnType" : "DescribeApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific Amazon Kinesis Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a>ListApplications</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DescribeApplication</code> action. You can use <code>DescribeApplication</code> to get the current application versionId, which you need to call other operations such as <code>Update</code>. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeApplicationRequest",
        "variableName" : "describeApplicationRequest",
        "variableType" : "DescribeApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeApplicationRequest",
        "variableSetterType" : "DescribeApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplication",
      "operationName" : "DescribeApplication",
      "returnType" : {
        "returnType" : "DescribeApplicationResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeApplicationResult"
    },
    "DiscoverInputSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DiscoverInputSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DiscoverInputSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DiscoverInputSchemaRequest, DiscoverInputSchemaResult>",
      "asyncReturnType" : "DiscoverInputSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Infers a schema by evaluating sample records on the specified streaming source (Amazon Kinesis stream or Amazon Kinesis Firehose delivery stream). In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. Note that when you create an application using the Amazon Kinesis Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:DiscoverInputSchema</code> action. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "UnableToDetectSchemaException",
        "documentation" : "<p>Data format is not valid, Kinesis Analytics is not able to detect schema for the given streaming source.</p>"
      }, {
        "exceptionName" : "ResourceProvisionedThroughputExceededException",
        "documentation" : "<p>Discovery failed to get a record from the streaming source because of the Kinesis Streams ProvisionedThroughputExceededException.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DiscoverInputSchemaRequest",
        "variableName" : "discoverInputSchemaRequest",
        "variableType" : "DiscoverInputSchemaRequest",
        "documentation" : "<p/>",
        "simpleType" : "DiscoverInputSchemaRequest",
        "variableSetterType" : "DiscoverInputSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "discoverInputSchema",
      "operationName" : "DiscoverInputSchema",
      "returnType" : {
        "returnType" : "DiscoverInputSchemaResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DiscoverInputSchemaResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of Amazon Kinesis Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. If the response returns the <code>HasMoreApplications</code> value as true, you can send another request by adding the <code>ExclusiveStartApplicationName</code> in the request body, and set the value of this to the last application name from the previous response. </p> <p>If you want detailed information about a specific application, use <a>DescribeApplication</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:ListApplications</code> action.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "StartApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartApplicationRequest, StartApplicationResult>",
      "asyncReturnType" : "StartApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified Amazon Kinesis Analytics application. After creating an application, you must exclusively call this operation to start your application.</p> <p>After the application starts, it begins consuming the input data, processes it, and writes the output to the configured destination.</p> <p> The application status must be <code>READY</code> for you to start an application. You can get the application status in the console or using the <a>DescribeApplication</a> operation.</p> <p>After you start the application, you can stop the application from processing the input by calling the <a>StopApplication</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StartApplication</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "InvalidApplicationConfigurationException",
        "documentation" : "<p>User-provided application configuration is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartApplicationRequest",
        "variableName" : "startApplicationRequest",
        "variableType" : "StartApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "StartApplicationRequest",
        "variableSetterType" : "StartApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startApplication",
      "operationName" : "StartApplication",
      "returnType" : {
        "returnType" : "StartApplicationResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "StartApplicationResult"
    },
    "StopApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopApplicationRequest, StopApplicationResult>",
      "asyncReturnType" : "StopApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the application from processing input data. You can stop an application only if it is in the running state. You can use the <a>DescribeApplication</a> operation to find the application state. After the application is stopped, Amazon Kinesis Analytics stops reading data from the input, the application stops processing data, and there is no output written to the destination. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StopApplication</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopApplicationRequest",
        "variableName" : "stopApplicationRequest",
        "variableType" : "StopApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "StopApplicationRequest",
        "variableSetterType" : "StopApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopApplication",
      "operationName" : "StopApplication",
      "returnType" : {
        "returnType" : "StopApplicationResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "StopApplicationResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Kinesis Analytics application. Using this API, you can update application code, input configuration, and output configuration. </p> <p>Note that Kinesis Analytics updates the <code>CurrentApplicationVersionId</code> each time you update your application. </p> <p>This opeation requires permission for the <code>kinesisanalytics:UpdateApplication</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>User-provided application code (query) is invalid. This can be a simple syntax error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    }
  },
  "shapes" : {
    "AddApplicationInputRequest" : {
      "c2jName" : "AddApplicationInputRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddApplicationInput",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "KinesisAnalytics_20150814.AddApplicationInput",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "deprecated" : false,
        "documentation" : "<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@return Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ApplicationName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ApplicationName",
        "setterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CurrentApplicationVersionId",
        "c2jShape" : "ApplicationVersionId",
        "deprecated" : false,
        "documentation" : "<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@return Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CurrentApplicationVersionId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CurrentApplicationVersionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CurrentApplicationVersionId",
        "setterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Input",
        "c2jShape" : "Input",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param input \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "Input",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Input",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Input",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Input",
        "setterDocumentation" : "/**\n@param input */",
        "setterModel" : {
          "variableDeclarationType" : "Input",
          "variableName" : "input",
          "variableType" : "Input",
          "documentation" : "",
          "simpleType" : "Input",
          "variableSetterType" : "Input"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**\n@param input \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Input",
          "variableName" : "input",
          "variableType" : "Input",
          "documentation" : "",
          "simpleType" : "Input",
          "variableSetterType" : "Input"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationName" : {
          "c2jName" : "ApplicationName",
          "c2jShape" : "ApplicationName",
          "deprecated" : false,
          "documentation" : "<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@return Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ApplicationName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ApplicationName",
          "setterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>\n@param applicationName Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CurrentApplicationVersionId" : {
          "c2jName" : "CurrentApplicationVersionId",
          "c2jShape" : "ApplicationVersionId",
          "deprecated" : false,
          "documentation" : "<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@return Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.*/",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "CurrentApplicationVersionId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CurrentApplicationVersionId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "CurrentApplicationVersionId",
          "setterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.*/",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>\n@param currentApplicationVersionId Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "documentation" : "<p>Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Input" : {
          "c2jName" : "Input",
          "c2jShape" : "Input",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param input \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "Input",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Input",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Input",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Input",
          "setterDocumentation" : "/**\n@param input */",
          "setterModel" : {
            "variableDeclarationType" : "Input",
            "variableName" : "input",
            "variableType" : "Input",
            "documentation" : "",
            "simpleType" : "Input",
            "variableSetterType" : "Input"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**\n@param input \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Input",
            "variableName" : "input",
            "variableType" : "Input",
            "documentation" : "",
            "simpleType" : "Input",
            "variableSetterType" : "Input"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ApplicationName", "CurrentApplicationVersionId", "Input" ],
      "shapeName" : "AddApplicationInputRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddApplicationInputRequest",
        "variableName" : "addApplicationInputRequest",
        "variableType" : "AddApplicationInputRequest",
        "documentation" : null,
        "simpleType" : "AddApplicationInputRequest",
        "variableSetterType" : "AddApplicationInputRequest"
      },
      "wrapper" : false
    },
    "AddApplicationInputResult" : {
      "c2jName" : "AddApplicationInputResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AddApplicationInputResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddApplicationInputResult",
        "variableName" : "addApplicationInputResult",
        "variableType" : "AddApplicationInputResult",
        "documentation" : null,
        "simpleType" : "AddApplicationInputResult",
        "variableSetterType" : "AddApplicationInputResult"
      },
      "wrapper" : false
    },
    "AddApplicationOutputRequest" : {
      "c2jName" : "AddApplicationOutputRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddApplicationOutput",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "KinesisAnalytics_20150814.AddApplicationOutput",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "deprecated" : false,
        "documentation" : "<p>Name of the application to which you want to add the output configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@param applicationName Name of the application to which you want to add the output configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@return Name of the application to which you want to add the output configuration.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ApplicationName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ApplicationName",
        "setterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@param applicationName Name of the application to which you want to add the output configuration.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@param applicationName Name of the application to which you want to add the output configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "<p>Name of the application to which you want to add the output configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CurrentApplicationVersionId",
        "c2jShape" : "ApplicationVersionId",
        "deprecated" : false,
        "documentation" : "<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>\n@param currentApplicationVersionId Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>\n@return Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CurrentApplicationVersionId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CurrentApplicationVersionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CurrentApplicationVersionId",
        "setterDocumentation" : "/**<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>\n@param currentApplicationVersionId Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>\n@param currentApplicationVersionId Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Output",
        "c2jShape" : "Output",
        "deprecated" : false,
        "documentation" : "<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>\n@param output An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>\n@return An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.*/",
        "getterModel" : {
          "returnType" : "Output",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Output",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Output",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Output",
        "setterDocumentation" : "/**<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>\n@param output An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.*/",
        "setterModel" : {
          "variableDeclarationType" : "Output",
          "variableName" : "output",
          "variableType" : "Output",
          "documentation" : "",
          "simpleType" : "Output",
          "variableSetterType" : "Output"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>\n@param output An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Output",
          "variableName" : "output",
          "variableType" : "Output",
          "documentation" : "<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>",
          "simpleType" : "Output",
          "variableSetterType" : "Output"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationName" : {
          "c2jName" : "ApplicationName",
          "c2jShape" : "ApplicationName",
          "deprecated" : false,
          "documentation" : "<p>Name of the application to which you want to add the output configuration.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@param applicationName Name of the application to which you want to add the output configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@return Name of the application to which you want to add the output configuration.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ApplicationName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ApplicationName",
          "setterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@param applicationName Name of the application to which you want to add the output configuration.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Name of the application to which you want to add the output configuration.</p>\n@param applicationName Name of the application to which you want to add the output configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "<p>Name of the application to which you want to add the output configuration.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CurrentApplicationVersionId" : {
          "c2jName" : "CurrentApplicationVersionId",
          "c2jShape" : "ApplicationVersionId",
          "deprecated" : false,
          "documentation" : "<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>\n@param currentApplicationVersionId Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>\n@return Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.*/",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "CurrentApplicationVersionId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CurrentApplicationVersionId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "CurrentApplicationVersionId",
          "setterDocumentation" : "/**<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>\n@param currentApplicationVersionId Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.*/",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>\n@param currentApplicationVersionId Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "documentation" : "<p>Version of the application to which you want add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Output" : {
          "c2jName" : "Output",
          "c2jShape" : "Output",
          "deprecated" : false,
          "documentation" : "<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>\n@param output An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>\n@return An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.*/",
          "getterModel" : {
            "returnType" : "Output",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Output",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Output",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Output",
          "setterDocumentation" : "/**<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>\n@param output An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.*/",
          "setterModel" : {
            "variableDeclarationType" : "Output",
            "variableName" : "output",
            "variableType" : "Output",
            "documentation" : "",
            "simpleType" : "Output",
            "variableSetterType" : "Output"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>\n@param output An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Output",
            "variableName" : "output",
            "variableType" : "Output",
            "documentation" : "<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream), and record the formation to use when writing to the destination.</p>",
            "simpleType" : "Output",
            "variableSetterType" : "Output"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ApplicationName", "CurrentApplicationVersionId", "Output" ],
      "shapeName" : "AddApplicationOutputRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddApplicationOutputRequest",
        "variableName" : "addApplicationOutputRequest",
        "variableType" : "AddApplicationOutputRequest",
        "documentation" : null,
        "simpleType" : "AddApplicationOutputRequest",
        "variableSetterType" : "AddApplicationOutputRequest"
      },
      "wrapper" : false
    },
    "AddApplicationOutputResult" : {
      "c2jName" : "AddApplicationOutputResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AddApplicationOutputResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddApplicationOutputResult",
        "variableName" : "addApplicationOutputResult",
        "variableType" : "AddApplicationOutputResult",
        "documentation" : null,
        "simpleType" : "AddApplicationOutputResult",
        "variableSetterType" : "AddApplicationOutputResult"
      },
      "wrapper" : false
    },
    "AddApplicationReferenceDataSourceRequest" : {
      "c2jName" : "AddApplicationReferenceDataSourceRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddApplicationReferenceDataSource",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "KinesisAnalytics_20150814.AddApplicationReferenceDataSource",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "deprecated" : false,
        "documentation" : "<p>Name of an existing application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of an existing application.</p>\n@param applicationName Name of an existing application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Name of an existing application.</p>\n@return Name of an existing application.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ApplicationName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ApplicationName",
        "setterDocumentation" : "/**<p>Name of an existing application.</p>\n@param applicationName Name of an existing application.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Name of an existing application.</p>\n@param applicationName Name of an existing application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "<p>Name of an existing application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CurrentApplicationVersionId",
        "c2jShape" : "ApplicationVersionId",
        "deprecated" : false,
        "documentation" : "<p>Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>\n@param currentApplicationVersionId Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>\n@return Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CurrentApplicationVersionId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CurrentApplicationVersionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CurrentApplicationVersionId",
        "setterDocumentation" : "/**<p>Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>\n@param currentApplicationVersionId Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>\n@param currentApplicationVersionId Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "<p>Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ReferenceDataSource",
        "c2jShape" : "ReferenceDataSource",
        "deprecated" : false,
        "documentation" : "<p>The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.</p>\n@param referenceDataSource The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.</p>\n@return The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.*/",
        "getterModel" : {
          "returnType" : "ReferenceDataSource",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ReferenceDataSource",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ReferenceDataSource",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ReferenceDataSource",
        "setterDocumentation" : "/**<p>The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.</p>\n@param referenceDataSource The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.*/",
        "setterModel" : {
          "variableDeclarationType" : "ReferenceDataSource",
          "variableName" : "referenceDataSource",
          "variableType" : "ReferenceDataSource",
          "documentation" : "",
          "simpleType" : "ReferenceDataSource",
          "variableSetterType" : "ReferenceDataSource"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.</p>\n@param referenceDataSource The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "ReferenceDataSource",
          "variableName" : "referenceDataSource",
          "variableType" : "ReferenceDataSource",
          "documentation" : "<p>The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.</p>",
          "simpleType" : "ReferenceDataSource",
          "variableSetterType" : "ReferenceDataSource"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationName" : {
          "c2jName" : "ApplicationName",
          "c2jShape" : "ApplicationName",
          "deprecated" : false,
          "documentation" : "<p>Name of an existing application.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Name of an existing application.</p>\n@param applicationName Name of an existing application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Name of an existing application.</p>\n@return Name of an existing application.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ApplicationName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ApplicationName",
[...]
