{
  "metadata" : {
    "apiVersion" : "2013-12-02",
    "protocol" : "cbor",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Kinesis Streams Service API Reference</fullname> <p>Amazon Kinesis Streams is a managed service that scales elastically for real time processing of streaming big data.</p>",
    "defaultEndpoint" : "https://kinesis.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kinesis.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonKinesis",
    "syncClient" : "AmazonKinesisClient",
    "asyncInterface" : "AmazonKinesisAsync",
    "asyncClient" : "AmazonKinesisAsyncClient",
    "packageName" : "com.amazonaws.services.kinesis",
    "packagePath" : "com/amazonaws/services/kinesis",
    "serviceAbbreviation" : "Kinesis",
    "serviceFullName" : "Amazon Kinesis",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "kinesis",
    "signingName" : "kinesis",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonKinesisClientBuilder",
    "asyncClientBuilderClassName" : "AmazonKinesisAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonKinesisModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesis.smoketests",
    "serviceName" : "Kinesis",
    "cborProtocol" : true,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "AddTagsToStream" : {
      "documentation" : "<p>Adds or updates tags for the specified Amazon Kinesis stream. Each stream can have up to 10 tags. </p> <p>If tags have already been assigned to the stream, <code>AddTagsToStream</code> overwrites any existing tags that correspond to the specified tag keys.</p>",
      "operationName" : "AddTagsToStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsToStreamRequest",
        "variableType" : "AddTagsToStreamRequest",
        "variableDeclarationType" : "AddTagsToStreamRequest",
        "documentation" : "<p>Represents the input for <code>AddTagsToStream</code>.</p>",
        "simpleType" : "AddTagsToStreamRequest",
        "variableSetterType" : "AddTagsToStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsToStreamResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is not available for this operation. For successful operation, the resource needs to be in the <code>ACTIVE</code> state.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddTagsToStreamResult",
      "asyncReturnType" : "AddTagsToStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToStreamRequest, AddTagsToStreamResult>",
      "authenticated" : true,
      "methodName" : "addTagsToStream"
    },
    "CreateStream" : {
      "documentation" : "<p>Creates an Amazon Kinesis stream. A stream captures and transports data records that are continuously emitted from different data sources or <i>producers</i>. Scale-out within a stream is explicitly supported by means of shards, which are uniquely identified groups of data records in a stream.</p> <p>You specify and control the number of shards that a stream is composed of. Each shard can support reads up to 5 transactions per second, up to a maximum data read total of 2 MB per second. Each shard can support writes up to 1,000 records per second, up to a maximum data write total of 1 MB per second. You can add shards to a stream if the amount of data input increases and you can remove shards if the amount of data input decreases.</p> <p>The stream name identifies the stream. The name is scoped to the AWS account used by the application. It is also scoped by region. That is, two streams in two different accounts can have the same name, and two streams in the same account, but in two different regions, can have the same name. </p> <p><code>CreateStream</code> is an asynchronous operation. Upon receiving a <code>CreateStream</code> request, Amazon Kinesis immediately returns and sets the stream status to <code>CREATING</code>. After the stream is created, Amazon Kinesis sets the stream status to <code>ACTIVE</code>. You should perform read and write operations only on an <code>ACTIVE</code> stream. </p> <p>You receive a <code>LimitExceededException</code> when making a <code>CreateStream</code> request if you try to do one of the following:</p> <ul> <li>Have more than five streams in the <code>CREATING</code> state at any point in time.</li> <li>Create more shards than are authorized for your account.</li> </ul> <p>For the default shard limit for an AWS account, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>. If you need to increase this limit, <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">contact AWS Support</a>.</p> <p>You can use <code>DescribeStream</code> to check the stream status, which is returned in <code>StreamStatus</code>.</p> <p><a>CreateStream</a> has a limit of 5 transactions per second per account.</p>",
      "operationName" : "CreateStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "createStreamRequest",
        "variableType" : "CreateStreamRequest",
        "variableDeclarationType" : "CreateStreamRequest",
        "documentation" : "<p>Represents the input for <code>CreateStream</code>.</p>",
        "simpleType" : "CreateStreamRequest",
        "variableSetterType" : "CreateStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateStreamResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is not available for this operation. For successful operation, the resource needs to be in the <code>ACTIVE</code> state.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateStreamResult",
      "asyncReturnType" : "CreateStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamRequest, CreateStreamResult>",
      "authenticated" : true,
      "methodName" : "createStream"
    },
    "DecreaseStreamRetentionPeriod" : {
      "documentation" : "<p>Decreases the Amazon Kinesis stream's retention period, which is the length of time data records are accessible after they are added to the stream. The minimum value of a stream's retention period is 24 hours.</p> <p>This operation may result in lost data. For example, if the stream's retention period is 48 hours and is decreased to 24 hours, any data already in the stream that is older than 24 hours is inaccessible.</p>",
      "operationName" : "DecreaseStreamRetentionPeriod",
      "deprecated" : false,
      "input" : {
        "variableName" : "decreaseStreamRetentionPeriodRequest",
        "variableType" : "DecreaseStreamRetentionPeriodRequest",
        "variableDeclarationType" : "DecreaseStreamRetentionPeriodRequest",
        "documentation" : "<p>Represents the input for <a>DecreaseStreamRetentionPeriod</a>.</p>",
        "simpleType" : "DecreaseStreamRetentionPeriodRequest",
        "variableSetterType" : "DecreaseStreamRetentionPeriodRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DecreaseStreamRetentionPeriodResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is not available for this operation. For successful operation, the resource needs to be in the <code>ACTIVE</code> state.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DecreaseStreamRetentionPeriodResult",
      "asyncReturnType" : "DecreaseStreamRetentionPeriodResult",
      "asyncFutureType" : "java.util.concurrent.Future<DecreaseStreamRetentionPeriodResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DecreaseStreamRetentionPeriodResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DecreaseStreamRetentionPeriodRequest, DecreaseStreamRetentionPeriodResult>",
      "authenticated" : true,
      "methodName" : "decreaseStreamRetentionPeriod"
    },
    "DeleteStream" : {
      "documentation" : "<p>Deletes an Amazon Kinesis stream and all its shards and data. You must shut down any applications that are operating on the stream before you delete the stream. If an application attempts to operate on a deleted stream, it will receive the exception <code>ResourceNotFoundException</code>.</p> <p>If the stream is in the <code>ACTIVE</code> state, you can delete it. After a <code>DeleteStream</code> request, the specified stream is in the <code>DELETING</code> state until Amazon Kinesis completes the deletion.</p> <p><b>Note:</b> Amazon Kinesis might continue to accept data read and write operations, such as <a>PutRecord</a>, <a>PutRecords</a>, and <a>GetRecords</a>, on a stream in the <code>DELETING</code> state until the stream deletion is complete.</p> <p>When you delete a stream, any shards in that stream are also deleted, and any tags are dissociated from the stream.</p> <p>You can use the <a>DescribeStream</a> operation to check the state of the stream, which is returned in <code>StreamStatus</code>.</p> <p><a>DeleteStream</a> has a limit of 5 transactions per second per account.</p>",
      "operationName" : "DeleteStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteStreamRequest",
        "variableType" : "DeleteStreamRequest",
        "variableDeclarationType" : "DeleteStreamRequest",
        "documentation" : "<p>Represents the input for <a>DeleteStream</a>.</p>",
        "simpleType" : "DeleteStreamRequest",
        "variableSetterType" : "DeleteStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteStreamResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteStreamResult",
      "asyncReturnType" : "DeleteStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStreamRequest, DeleteStreamResult>",
      "authenticated" : true,
      "methodName" : "deleteStream"
    },
    "DescribeStream" : {
      "documentation" : "<p>Describes the specified Amazon Kinesis stream.</p> <p>The information about the stream includes its current status, its Amazon Resource Name (ARN), and an array of shard objects. For each shard object, there is information about the hash key and sequence number ranges that the shard spans, and the IDs of any earlier shards that played in a role in creating the shard. A sequence number is the identifier associated with every record ingested in the stream. The sequence number is assigned when a record is put into the stream.</p> <p>You can limit the number of returned shards using the <code>Limit</code> parameter. The number of shards in a stream may be too large to return from a single call to <code>DescribeStream</code>. You can detect this by using the <code>HasMoreShards</code> flag in the returned output. <code>HasMoreShards</code> is set to <code>true</code> when there is more data available. </p> <p><code>DescribeStream</code> is a paginated operation. If there are more shards available, you can request them using the shard ID of the last shard returned. Specify this ID in the <code>ExclusiveStartShardId</code> parameter in a subsequent request to <code>DescribeStream</code>. </p> <p>There are no guarantees about the chronological order shards returned in <code>DescribeStream</code> results. If you want to process shards in chronological order, use <code>ParentShardId</code> to track lineage to the oldest shard.</p> <p><a>DescribeStream</a> has a limit of 10 transactions per second per account.</p>",
      "operationName" : "DescribeStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStreamRequest",
        "variableType" : "DescribeStreamRequest",
        "variableDeclarationType" : "DescribeStreamRequest",
        "documentation" : "<p>Represents the input for <code>DescribeStream</code>.</p>",
        "simpleType" : "DescribeStreamRequest",
        "variableSetterType" : "DescribeStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStreamResult",
        "documentation" : "<p>Represents the output for <code>DescribeStream</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeStreamResult",
      "asyncReturnType" : "DescribeStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStreamRequest, DescribeStreamResult>",
      "authenticated" : true,
      "methodName" : "describeStream"
    },
    "DisableEnhancedMonitoring" : {
      "documentation" : "<p>Disables enhanced monitoring.</p>",
      "operationName" : "DisableEnhancedMonitoring",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableEnhancedMonitoringRequest",
        "variableType" : "DisableEnhancedMonitoringRequest",
        "variableDeclarationType" : "DisableEnhancedMonitoringRequest",
        "documentation" : "<p>Represents the input for <a>DisableEnhancedMonitoring</a>.</p>",
        "simpleType" : "DisableEnhancedMonitoringRequest",
        "variableSetterType" : "DisableEnhancedMonitoringRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableEnhancedMonitoringResult",
        "documentation" : "<p>Represents the output for <a>EnableEnhancedMonitoring</a> and <a>DisableEnhancedMonitoring</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is not available for this operation. For successful operation, the resource needs to be in the <code>ACTIVE</code> state.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableEnhancedMonitoringResult",
      "asyncReturnType" : "DisableEnhancedMonitoringResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableEnhancedMonitoringResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableEnhancedMonitoringResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableEnhancedMonitoringRequest, DisableEnhancedMonitoringResult>",
      "authenticated" : true,
      "methodName" : "disableEnhancedMonitoring"
    },
    "EnableEnhancedMonitoring" : {
      "documentation" : "<p>Enables enhanced Amazon Kinesis stream monitoring for shard-level metrics.</p>",
      "operationName" : "EnableEnhancedMonitoring",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableEnhancedMonitoringRequest",
        "variableType" : "EnableEnhancedMonitoringRequest",
        "variableDeclarationType" : "EnableEnhancedMonitoringRequest",
        "documentation" : "<p>Represents the input for <a>EnableEnhancedMonitoring</a>.</p>",
        "simpleType" : "EnableEnhancedMonitoringRequest",
        "variableSetterType" : "EnableEnhancedMonitoringRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableEnhancedMonitoringResult",
        "documentation" : "<p>Represents the output for <a>EnableEnhancedMonitoring</a> and <a>DisableEnhancedMonitoring</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is not available for this operation. For successful operation, the resource needs to be in the <code>ACTIVE</code> state.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableEnhancedMonitoringResult",
      "asyncReturnType" : "EnableEnhancedMonitoringResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableEnhancedMonitoringResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableEnhancedMonitoringResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableEnhancedMonitoringRequest, EnableEnhancedMonitoringResult>",
      "authenticated" : true,
      "methodName" : "enableEnhancedMonitoring"
    },
    "GetRecords" : {
      "documentation" : "<p>Gets data records from an Amazon Kinesis stream's shard.</p> <p>Specify a shard iterator using the <code>ShardIterator</code> parameter. The shard iterator specifies the position in the shard from which you want to start reading data records sequentially. If there are no records available in the portion of the shard that the iterator points to, <a>GetRecords</a> returns an empty list. Note that it might take multiple calls to get to a portion of the shard that contains records.</p> <p>You can scale by provisioning multiple shards per stream while considering service limits (for more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>). Your application should have one thread per shard, each reading continuously from its stream. To read from a stream continually, call <a>GetRecords</a> in a loop. Use <a>GetShardIterator</a> to get the shard iterator to specify in the first <a>GetRecords</a> call. <a>GetRecords</a> returns a new shard iterator in <code>NextShardIterator</code>. Specify the shard iterator returned in <code>NextShardIterator</code> in subsequent calls to <a>GetRecords</a>. Note that if the shard has been closed, the shard iterator can't return more data and <a>GetRecords</a> returns <code>null</code> in <code>NextShardIterator</code>. You can terminate the loop when the shard is closed, or when the shard iterator reaches the record with the sequence number or other attribute that marks it as the last record to process.</p> <p>Each data record can be up to 1 MB in size, and each shard can read up to 2 MB per second. You can ensure that your calls don't exceed the maximum supported size or throughput by using the <code>Limit</code> parameter to specify the maximum number of records that <a>GetRecords</a> can return. Consider your average record size when determining this limit.</p> <p>The size of the data returned by <a>GetRecords</a> varies depending on the utilization of the shard. The maximum size of data that <a>GetRecords</a> can return is 10 MB. If a call returns this amount of data, subsequent calls made within the next 5 seconds throw <code>ProvisionedThroughputExceededException</code>. If there is insufficient provisioned throughput on the shard, subsequent calls made within the next 1 second throw <code>ProvisionedThroughputExceededException</code>. Note that <a>GetRecords</a> won't return any data when it throws an exception. For this reason, we recommend that you wait one second between calls to <a>GetRecords</a>; however, it's possible that the application will get exceptions for longer than 1 second.</p> <p>To detect whether the application is falling behind in processing, you can use the <code>MillisBehindLatest</code> response attribute. You can also monitor the stream using CloudWatch metrics and other mechanisms (see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring.html\">Monitoring</a> in the <i>Amazon Kinesis Streams Developer Guide</i>).</p> <p>Each Amazon Kinesis record includes a value, <code>ApproximateArrivalTimestamp</code>, that is set when a stream successfully receives and stores a record. This is commonly referred to as a server-side timestamp, whereas a client-side timestamp is set when a data producer creates or sends the record to a stream (a data producer is any data source putting data records into a stream, for example with <a>PutRecords</a>). The timestamp has millisecond precision. There are no guarantees about the timestamp accuracy, or that the timestamp is always increasing. For example, records in a shard or across a stream might have timestamps that are out of order.</p>",
      "operationName" : "GetRecords",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRecordsRequest",
        "variableType" : "GetRecordsRequest",
        "variableDeclarationType" : "GetRecordsRequest",
        "documentation" : "<p>Represents the input for <a>GetRecords</a>.</p>",
        "simpleType" : "GetRecordsRequest",
        "variableSetterType" : "GetRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRecordsResult",
        "documentation" : "<p>Represents the output for <a>GetRecords</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The request rate for the stream is too high, or the requested data is too large for the available throughput. Reduce the frequency or size of your requests. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>, and <a href=\"http://docs.aws.amazon.com/general/latest/gr/api-retries.html\">Error Retries and Exponential Backoff in AWS</a> in the <i>AWS General Reference</i>.</p>"
      }, {
        "exceptionName" : "ExpiredIteratorException",
        "documentation" : "<p>The provided iterator exceeds the maximum age allowed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetRecordsResult",
      "asyncReturnType" : "GetRecordsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecordsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecordsRequest, GetRecordsResult>",
      "authenticated" : true,
      "methodName" : "getRecords"
    },
    "GetShardIterator" : {
      "documentation" : "<p>Gets an Amazon Kinesis shard iterator. A shard iterator expires five minutes after it is returned to the requester.</p> <p>A shard iterator specifies the shard position from which to start reading data records sequentially. The position is specified using the sequence number of a data record in a shard. A sequence number is the identifier associated with every record ingested in the stream, and is assigned when a record is put into the stream. Each stream has one or more shards.</p> <p>You must specify the shard iterator type. For example, you can set the <code>ShardIteratorType</code> parameter to read exactly from the position denoted by a specific sequence number by using the <code>AT_SEQUENCE_NUMBER</code> shard iterator type, or right after the sequence number by using the <code>AFTER_SEQUENCE_NUMBER</code> shard iterator type, using sequence numbers returned by earlier calls to <a>PutRecord</a>, <a>PutRecords</a>, <a>GetRecords</a>, or <a>DescribeStream</a>. In the request, you can specify the shard iterator type <code>AT_TIMESTAMP</code> to read records from an arbitrary point in time, <code>TRIM_HORIZON</code> to cause <code>ShardIterator</code> to point to the last untrimmed record in the shard in the system (the oldest data record in the shard), or <code>LATEST</code> so that you always read the most recent data in the shard. </p> <p>When you read repeatedly from a stream, use a <a>GetShardIterator</a> request to get the first shard iterator for use in your first <a>GetRecords</a> request and for subsequent reads use the shard iterator returned by the <a>GetRecords</a> request in <code>NextShardIterator</code>. A new shard iterator is returned by every <a>GetRecords</a> request in <code>NextShardIterator</code>, which you use in the <code>ShardIterator</code> parameter of the next <a>GetRecords</a> request. </p> <p>If a <a>GetShardIterator</a> request is made too often, you receive a <code>ProvisionedThroughputExceededException</code>. For more information about throughput limits, see <a>GetRecords</a>, and <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>If the shard is closed, <a>GetShardIterator</a> returns a valid iterator for the last sequence number of the shard. Note that a shard can be closed as a result of using <a>SplitShard</a> or <a>MergeShards</a>.</p> <p><a>GetShardIterator</a> has a limit of 5 transactions per second per account per open shard.</p>",
      "operationName" : "GetShardIterator",
      "deprecated" : false,
      "input" : {
        "variableName" : "getShardIteratorRequest",
        "variableType" : "GetShardIteratorRequest",
        "variableDeclarationType" : "GetShardIteratorRequest",
        "documentation" : "<p>Represents the input for <code>GetShardIterator</code>.</p>",
        "simpleType" : "GetShardIteratorRequest",
        "variableSetterType" : "GetShardIteratorRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetShardIteratorResult",
        "documentation" : "<p>Represents the output for <code>GetShardIterator</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The request rate for the stream is too high, or the requested data is too large for the available throughput. Reduce the frequency or size of your requests. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>, and <a href=\"http://docs.aws.amazon.com/general/latest/gr/api-retries.html\">Error Retries and Exponential Backoff in AWS</a> in the <i>AWS General Reference</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetShardIteratorResult",
      "asyncReturnType" : "GetShardIteratorResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetShardIteratorResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetShardIteratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetShardIteratorRequest, GetShardIteratorResult>",
      "authenticated" : true,
      "methodName" : "getShardIterator"
    },
    "IncreaseStreamRetentionPeriod" : {
      "documentation" : "<p>Increases the Amazon Kinesis stream's retention period, which is the length of time data records are accessible after they are added to the stream. The maximum value of a stream's retention period is 168 hours (7 days).</p> <p>Upon choosing a longer stream retention period, this operation will increase the time period records are accessible that have not yet expired. However, it will not make previous data that has expired (older than the stream's previous retention period) accessible after the operation has been called. For example, if a stream's retention period is set to 24 hours and is increased to 168 hours, any data that is older than 24 hours will remain inaccessible to consumer applications.</p>",
      "operationName" : "IncreaseStreamRetentionPeriod",
      "deprecated" : false,
      "input" : {
        "variableName" : "increaseStreamRetentionPeriodRequest",
        "variableType" : "IncreaseStreamRetentionPeriodRequest",
        "variableDeclarationType" : "IncreaseStreamRetentionPeriodRequest",
        "documentation" : "<p>Represents the input for <a>IncreaseStreamRetentionPeriod</a>.</p>",
        "simpleType" : "IncreaseStreamRetentionPeriodRequest",
        "variableSetterType" : "IncreaseStreamRetentionPeriodRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "IncreaseStreamRetentionPeriodResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is not available for this operation. For successful operation, the resource needs to be in the <code>ACTIVE</code> state.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "IncreaseStreamRetentionPeriodResult",
      "asyncReturnType" : "IncreaseStreamRetentionPeriodResult",
      "asyncFutureType" : "java.util.concurrent.Future<IncreaseStreamRetentionPeriodResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<IncreaseStreamRetentionPeriodResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<IncreaseStreamRetentionPeriodRequest, IncreaseStreamRetentionPeriodResult>",
      "authenticated" : true,
      "methodName" : "increaseStreamRetentionPeriod"
    },
    "ListStreams" : {
      "documentation" : "<p>Lists your Amazon Kinesis streams.</p> <p>The number of streams may be too large to return from a single call to <code>ListStreams</code>. You can limit the number of returned streams using the <code>Limit</code> parameter. If you do not specify a value for the <code>Limit</code> parameter, Amazon Kinesis uses the default limit, which is currently 10.</p> <p>You can detect if there are more streams available to list by using the <code>HasMoreStreams</code> flag from the returned output. If there are more streams available, you can request more streams by using the name of the last stream returned by the <code>ListStreams</code> request in the <code>ExclusiveStartStreamName</code> parameter in a subsequent request to <code>ListStreams</code>. The group of stream names returned by the subsequent request is then added to the list. You can continue this process until all the stream names have been collected in the list. </p> <p><a>ListStreams</a> has a limit of 5 transactions per second per account.</p>",
      "operationName" : "ListStreams",
      "deprecated" : false,
      "input" : {
        "variableName" : "listStreamsRequest",
        "variableType" : "ListStreamsRequest",
        "variableDeclarationType" : "ListStreamsRequest",
        "documentation" : "<p>Represents the input for <code>ListStreams</code>.</p>",
        "simpleType" : "ListStreamsRequest",
        "variableSetterType" : "ListStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListStreamsResult",
        "documentation" : "<p>Represents the output for <code>ListStreams</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListStreamsResult",
      "asyncReturnType" : "ListStreamsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListStreamsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStreamsRequest, ListStreamsResult>",
      "authenticated" : true,
      "methodName" : "listStreams"
    },
    "ListTagsForStream" : {
      "documentation" : "<p>Lists the tags for the specified Amazon Kinesis stream.</p>",
      "operationName" : "ListTagsForStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForStreamRequest",
        "variableType" : "ListTagsForStreamRequest",
        "variableDeclarationType" : "ListTagsForStreamRequest",
        "documentation" : "<p>Represents the input for <code>ListTagsForStream</code>.</p>",
        "simpleType" : "ListTagsForStreamRequest",
        "variableSetterType" : "ListTagsForStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForStreamResult",
        "documentation" : "<p>Represents the output for <code>ListTagsForStream</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTagsForStreamResult",
      "asyncReturnType" : "ListTagsForStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForStreamRequest, ListTagsForStreamResult>",
      "authenticated" : true,
      "methodName" : "listTagsForStream"
    },
    "MergeShards" : {
      "documentation" : "<p>Merges two adjacent shards in an Amazon Kinesis stream and combines them into a single shard to reduce the stream's capacity to ingest and transport data. Two shards are considered adjacent if the union of the hash key ranges for the two shards form a contiguous set with no gaps. For example, if you have two shards, one with a hash key range of 276...381 and the other with a hash key range of 382...454, then you could merge these two shards into a single shard that would have a hash key range of 276...454. After the merge, the single child shard receives data for all hash key values covered by the two parent shards.</p> <p><code>MergeShards</code> is called when there is a need to reduce the overall capacity of a stream because of excess capacity that is not being used. You must specify the shard to be merged and the adjacent shard for a stream. For more information about merging shards, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-resharding-merge.html\">Merge Two Shards</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>If the stream is in the <code>ACTIVE</code> state, you can call <code>MergeShards</code>. If a stream is in the <code>CREATING</code>, <code>UPDATING</code>, or <code>DELETING</code> state, <code>MergeShards</code> returns a <code>ResourceInUseException</code>. If the specified stream does not exist, <code>MergeShards</code> returns a <code>ResourceNotFoundException</code>. </p> <p>You can use <a>DescribeStream</a> to check the state of the stream, which is returned in <code>StreamStatus</code>.</p> <p><code>MergeShards</code> is an asynchronous operation. Upon receiving a <code>MergeShards</code> request, Amazon Kinesis immediately returns a response and sets the <code>StreamStatus</code> to <code>UPDATING</code>. After the operation is completed, Amazon Kinesis sets the <code>StreamStatus</code> to <code>ACTIVE</code>. Read and write operations continue to work while the stream is in the <code>UPDATING</code> state. </p> <p>You use <a>DescribeStream</a> to determine the shard IDs that are specified in the <code>MergeShards</code> request. </p> <p>If you try to operate on too many streams in parallel using <a>CreateStream</a>, <a>DeleteStream</a>, <code>MergeShards</code> or <a>SplitShard</a>, you will receive a <code>LimitExceededException</code>. </p> <p><code>MergeShards</code> has limit of 5 transactions per second per account.</p>",
      "operationName" : "MergeShards",
      "deprecated" : false,
      "input" : {
        "variableName" : "mergeShardsRequest",
        "variableType" : "MergeShardsRequest",
        "variableDeclarationType" : "MergeShardsRequest",
        "documentation" : "<p>Represents the input for <code>MergeShards</code>.</p>",
        "simpleType" : "MergeShardsRequest",
        "variableSetterType" : "MergeShardsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "MergeShardsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is not available for this operation. For successful operation, the resource needs to be in the <code>ACTIVE</code> state.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "MergeShardsResult",
      "asyncReturnType" : "MergeShardsResult",
      "asyncFutureType" : "java.util.concurrent.Future<MergeShardsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<MergeShardsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<MergeShardsRequest, MergeShardsResult>",
      "authenticated" : true,
      "methodName" : "mergeShards"
    },
    "PutRecord" : {
      "documentation" : "<p>Writes a single data record into an Amazon Kinesis stream. Call <code>PutRecord</code> to send data into the stream for real-time ingestion and subsequent processing, one record at a time. Each shard can support writes up to 1,000 records per second, up to a maximum data write total of 1 MB per second.</p> <p>You must specify the name of the stream that captures, stores, and transports the data; a partition key; and the data blob itself.</p> <p>The data blob can be any type of data; for example, a segment from a log file, geographic/location data, website clickstream data, and so on.</p> <p>The partition key is used by Amazon Kinesis to distribute data across shards. Amazon Kinesis segregates the data records that belong to a stream into multiple shards, using the partition key associated with each data record to determine which shard a given data record belongs to. </p> <p>Partition keys are Unicode strings, with a maximum length limit of 256 characters for each key. An MD5 hash function is used to map partition keys to 128-bit integer values and to map associated data records to shards using the hash key ranges of the shards. You can override hashing the partition key to determine the shard by explicitly specifying a hash value using the <code>ExplicitHashKey</code> parameter. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/developing-producers-with-sdk.html#kinesis-using-sdk-java-add-data-to-stream\">Adding Data to a Stream</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p><code>PutRecord</code> returns the shard ID of where the data record was placed and the sequence number that was assigned to the data record.</p> <p>Sequence numbers increase over time and are specific to a shard within a stream, not across all shards within a stream. To guarantee strictly increasing ordering, write serially to a shard and use the <code>SequenceNumberForOrdering</code> parameter. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/developing-producers-with-sdk.html#kinesis-using-sdk-java-add-data-to-stream\">Adding Data to a Stream</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>If a <code>PutRecord</code> request cannot be processed because of insufficient provisioned throughput on the shard involved in the request, <code>PutRecord</code> throws <code>ProvisionedThroughputExceededException</code>. </p> <p>Data records are accessible for only 24 hours from the time that they are added to a stream.</p>",
      "operationName" : "PutRecord",
      "deprecated" : false,
      "input" : {
        "variableName" : "putRecordRequest",
        "variableType" : "PutRecordRequest",
        "variableDeclarationType" : "PutRecordRequest",
        "documentation" : "<p>Represents the input for <code>PutRecord</code>.</p>",
        "simpleType" : "PutRecordRequest",
        "variableSetterType" : "PutRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutRecordResult",
        "documentation" : "<p>Represents the output for <code>PutRecord</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The request rate for the stream is too high, or the requested data is too large for the available throughput. Reduce the frequency or size of your requests. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>, and <a href=\"http://docs.aws.amazon.com/general/latest/gr/api-retries.html\">Error Retries and Exponential Backoff in AWS</a> in the <i>AWS General Reference</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutRecordResult",
      "asyncReturnType" : "PutRecordResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordRequest, PutRecordResult>",
      "authenticated" : true,
      "methodName" : "putRecord"
    },
    "PutRecords" : {
      "documentation" : "<p>Writes multiple data records into an Amazon Kinesis stream in a single call (also referred to as a <code>PutRecords</code> request). Use this operation to send data into the stream for data ingestion and processing. </p> <p>Each <code>PutRecords</code> request can support up to 500 records. Each record in the request can be as large as 1 MB, up to a limit of 5 MB for the entire request, including partition keys. Each shard can support writes up to 1,000 records per second, up to a maximum data write total of 1 MB per second.</p> <p>You must specify the name of the stream that captures, stores, and transports the data; and an array of request <code>Records</code>, with each record in the array requiring a partition key and data blob. The record size limit applies to the total size of the partition key and data blob.</p> <p>The data blob can be any type of data; for example, a segment from a log file, geographic/location data, website clickstream data, and so on.</p> <p>The partition key is used by Amazon Kinesis as input to a hash function that maps the partition key and associated data to a specific shard. An MD5 hash function is used to map partition keys to 128-bit integer values and to map associated data records to shards. As a result of this hashing mechanism, all data records with the same partition key map to the same shard within the stream. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/developing-producers-with-sdk.html#kinesis-using-sdk-java-add-data-to-stream\">Adding Data to a Stream</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>Each record in the <code>Records</code> array may include an optional parameter, <code>ExplicitHashKey</code>, which overrides the partition key to shard mapping. This parameter allows a data producer to determine explicitly the shard where the record is stored. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/developing-producers-with-sdk.html#kinesis-using-sdk-java-putrecords\">Adding Multiple Records with PutRecords</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>The <code>PutRecords</code> response includes an array of response <code>Records</code>. Each record in the response array directly correlates with a record in the request array using natural ordering, from the top to the bottom of the request and response. The response <code>Records</code> array always includes the same number of records as the request array.</p> <p>The response <code>Records</code> array includes both successfully and unsuccessfully processed records. Amazon Kinesis attempts to process all records in each <code>PutRecords</code> request. A single record failure does not stop the processing of subsequent records.</p> <p>A successfully-processed record includes <code>ShardId</code> and <code>SequenceNumber</code> values. The <code>ShardId</code> parameter identifies the shard in the stream where the record is stored. The <code>SequenceNumber</code> parameter is an identifier assigned to the put record, unique to all records in the stream.</p> <p>An unsuccessfully-processed record includes <code>ErrorCode</code> and <code>ErrorMessage</code> values. <code>ErrorCode</code> reflects the type of error and can be one of the following values: <code>ProvisionedThroughputExceededException</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the <code>ProvisionedThroughputExceededException</code> exception including the account ID, stream name, and shard ID of the record that was throttled. For more information about partially successful responses, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-add-data-to-stream.html#kinesis-using-sdk-java-putrecords\">Adding Multiple Records with PutRecords</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>By default, data records are accessible for only 24 hours from the time that they are added to an Amazon Kinesis stream. This retention period can be modified using the <a>DecreaseStreamRetentionPeriod</a> and <a>IncreaseStreamRetentionPeriod</a> operations.</p>",
      "operationName" : "PutRecords",
      "deprecated" : false,
      "input" : {
        "variableName" : "putRecordsRequest",
        "variableType" : "PutRecordsRequest",
        "variableDeclarationType" : "PutRecordsRequest",
        "documentation" : "<p>A <code>PutRecords</code> request.</p>",
        "simpleType" : "PutRecordsRequest",
        "variableSetterType" : "PutRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutRecordsResult",
        "documentation" : "<p><code>PutRecords</code> results.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "ProvisionedThroughputExceededException",
        "documentation" : "<p>The request rate for the stream is too high, or the requested data is too large for the available throughput. Reduce the frequency or size of your requests. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>, and <a href=\"http://docs.aws.amazon.com/general/latest/gr/api-retries.html\">Error Retries and Exponential Backoff in AWS</a> in the <i>AWS General Reference</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutRecordsResult",
      "asyncReturnType" : "PutRecordsResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordsRequest, PutRecordsResult>",
      "authenticated" : true,
      "methodName" : "putRecords"
    },
    "RemoveTagsFromStream" : {
      "documentation" : "<p>Removes tags from the specified Amazon Kinesis stream. Removed tags are deleted and cannot be recovered after this operation successfully completes.</p> <p>If you specify a tag that does not exist, it is ignored.</p>",
      "operationName" : "RemoveTagsFromStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsFromStreamRequest",
        "variableType" : "RemoveTagsFromStreamRequest",
        "variableDeclarationType" : "RemoveTagsFromStreamRequest",
        "documentation" : "<p>Represents the input for <code>RemoveTagsFromStream</code>.</p>",
        "simpleType" : "RemoveTagsFromStreamRequest",
        "variableSetterType" : "RemoveTagsFromStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsFromStreamResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is not available for this operation. For successful operation, the resource needs to be in the <code>ACTIVE</code> state.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RemoveTagsFromStreamResult",
      "asyncReturnType" : "RemoveTagsFromStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromStreamRequest, RemoveTagsFromStreamResult>",
      "authenticated" : true,
      "methodName" : "removeTagsFromStream"
    },
    "SplitShard" : {
      "documentation" : "<p>Splits a shard into two new shards in the Amazon Kinesis stream to increase the stream's capacity to ingest and transport data. <code>SplitShard</code> is called when there is a need to increase the overall capacity of a stream because of an expected increase in the volume of data records being ingested. </p> <p>You can also use <code>SplitShard</code> when a shard appears to be approaching its maximum utilization; for example, the producers sending data into the specific shard are suddenly sending more than previously anticipated. You can also call <code>SplitShard</code> to increase stream capacity, so that more Amazon Kinesis applications can simultaneously read data from the stream for real-time processing. </p> <p>You must specify the shard to be split and the new hash key, which is the position in the shard where the shard gets split in two. In many cases, the new hash key might simply be the average of the beginning and ending hash key, but it can be any hash key value in the range being mapped into the shard. For more information about splitting shards, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-resharding-split.html\">Split a Shard</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>You can use <a>DescribeStream</a> to determine the shard ID and hash key values for the <code>ShardToSplit</code> and <code>NewStartingHashKey</code> parameters that are specified in the <code>SplitShard</code> request.</p> <p><code>SplitShard</code> is an asynchronous operation. Upon receiving a <code>SplitShard</code> request, Amazon Kinesis immediately returns a response and sets the stream status to <code>UPDATING</code>. After the operation is completed, Amazon Kinesis sets the stream status to <code>ACTIVE</code>. Read and write operations continue to work while the stream is in the <code>UPDATING</code> state. </p> <p>You can use <code>DescribeStream</code> to check the status of the stream, which is returned in <code>StreamStatus</code>. If the stream is in the <code>ACTIVE</code> state, you can call <code>SplitShard</code>. If a stream is in <code>CREATING</code> or <code>UPDATING</code> or <code>DELETING</code> states, <code>DescribeStream</code> returns a <code>ResourceInUseException</code>.</p> <p>If the specified stream does not exist, <code>DescribeStream</code> returns a <code>ResourceNotFoundException</code>. If you try to create more shards than are authorized for your account, you receive a <code>LimitExceededException</code>. </p> <p>For the default shard limit for an AWS account, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>. If you need to increase this limit, <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">contact AWS Support</a>.</p> <p>If you try to operate on too many streams simultaneously using <a>CreateStream</a>, <a>DeleteStream</a>, <a>MergeShards</a>, and/or <a>SplitShard</a>, you receive a <code>LimitExceededException</code>. </p> <p><code>SplitShard</code> has limit of 5 transactions per second per account.</p>",
      "operationName" : "SplitShard",
      "deprecated" : false,
      "input" : {
        "variableName" : "splitShardRequest",
        "variableType" : "SplitShardRequest",
        "variableDeclarationType" : "SplitShardRequest",
        "documentation" : "<p>Represents the input for <code>SplitShard</code>.</p>",
        "simpleType" : "SplitShardRequest",
        "variableSetterType" : "SplitShardRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SplitShardResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found. The stream might not be specified correctly, or it might not be in the <code>ACTIVE</code> state if the operation requires it.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is not available for this operation. For successful operation, the resource needs to be in the <code>ACTIVE</code> state.</p>"
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed (5).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SplitShardResult",
      "asyncReturnType" : "SplitShardResult",
      "asyncFutureType" : "java.util.concurrent.Future<SplitShardResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SplitShardResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SplitShardRequest, SplitShardResult>",
      "authenticated" : true,
      "methodName" : "splitShard"
    }
  },
  "shapes" : {
    "EnhancedMetrics" : {
      "c2jName" : "EnhancedMetrics",
      "documentation" : "<p>Represents enhanced metrics types.</p>",
      "shapeName" : "EnhancedMetrics",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>",
        "name" : "ShardLevelMetrics",
        "c2jName" : "ShardLevelMetrics",
        "c2jShape" : "MetricsNameList",
        "variable" : {
          "variableName" : "shardLevelMetrics",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "shardLevelMetrics",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ShardLevelMetrics",
          "marshallLocationName" : "ShardLevelMetrics",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "MetricsName",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : "MetricsName",
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member \n@see MetricsName*/",
            "getterDocumentation" : "/**\n@return \n@see MetricsName*/",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricsName*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricsName*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : "MetricsName",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>\n@param shardLevelMetrics List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.\n@see MetricsName*/",
        "getterDocumentation" : "/**<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>\n@return List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.\n@see MetricsName*/",
        "fluentSetterDocumentation" : "/**<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>\n@param shardLevelMetrics List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricsName*/",
        "varargSetterDocumentation" : "/**<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setShardLevelMetrics(java.util.Collection)} or {@link #withShardLevelMetrics(java.util.Collection)} if you want to override the existing values.</p>\n@param shardLevelMetrics List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricsName*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "enhancedMetrics",
        "variableType" : "EnhancedMetrics",
        "variableDeclarationType" : "EnhancedMetrics",
        "documentation" : null,
        "simpleType" : "EnhancedMetrics",
        "variableSetterType" : "EnhancedMetrics"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ShardLevelMetrics" : {
          "documentation" : "<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>",
          "name" : "ShardLevelMetrics",
          "c2jName" : "ShardLevelMetrics",
          "c2jShape" : "MetricsNameList",
          "variable" : {
            "variableName" : "shardLevelMetrics",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "setterModel" : {
            "variableName" : "shardLevelMetrics",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ShardLevelMetrics",
            "marshallLocationName" : "ShardLevelMetrics",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "MetricsName",
              "variable" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : "MetricsName",
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member \n@see MetricsName*/",
              "getterDocumentation" : "/**\n@return \n@see MetricsName*/",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricsName*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricsName*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "map" : false,
            "simpleType" : "String",
            "templateType" : "java.util.List<String>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
          },
          "mapModel" : null,
          "enumType" : "MetricsName",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>\n@param shardLevelMetrics List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.\n@see MetricsName*/",
          "getterDocumentation" : "/**<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>\n@return List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.\n@see MetricsName*/",
          "fluentSetterDocumentation" : "/**<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>\n@param shardLevelMetrics List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricsName*/",
          "varargSetterDocumentation" : "/**<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setShardLevelMetrics(java.util.Collection)} or {@link #withShardLevelMetrics(java.util.Collection)} if you want to override the existing values.</p>\n@param shardLevelMetrics List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances every metric.</p> <ul> <li> <code>IncomingBytes</code> </li> <li> <code>IncomingRecords</code> </li> <li> <code>OutgoingBytes</code> </li> <li> <code>OutgoingRecords</code> </li> <li> <code>WriteProvisionedThroughputExceeded</code> </li> <li> <code>ReadProvisionedThroughputExceeded</code> </li> <li> <code>IteratorAgeMilliseconds</code> </li> <li> <code>ALL</code> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricsName*/"
        }
      }
    },
    "IncreaseStreamRetentionPeriodRequest" : {
      "c2jName" : "IncreaseStreamRetentionPeriodInput",
      "documentation" : "<p>Represents the input for <a>IncreaseStreamRetentionPeriod</a>.</p>",
      "shapeName" : "IncreaseStreamRetentionPeriodRequest",
      "deprecated" : false,
      "required" : [ "StreamName", "RetentionPeriodHours" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the stream to modify.</p>",
        "name" : "StreamName",
        "c2jName" : "StreamName",
        "c2jShape" : "StreamName",
        "variable" : {
          "variableName" : "streamName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the stream to modify.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "streamName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "StreamName",
          "marshallLocationName" : "StreamName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the stream to modify.</p>\n@param streamName The name of the stream to modify.*/",
        "getterDocumentation" : "/**<p>The name of the stream to modify.</p>\n@return The name of the stream to modify.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the stream to modify.</p>\n@param streamName The name of the stream to modify.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the stream to modify.</p>\n@param streamName The name of the stream to modify.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The new retention period of the stream, in hours. Must be more than the current retention period.</p>",
        "name" : "RetentionPeriodHours",
        "c2jName" : "RetentionPeriodHours",
        "c2jShape" : "RetentionPeriodHours",
        "variable" : {
          "variableName" : "retentionPeriodHours",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The new retention period of the stream, in hours. Must be more than the current retention period.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "retentionPeriodHours",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RetentionPeriodHours",
          "marshallLocationName" : "RetentionPeriodHours",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The new retention period of the stream, in hours. Must be more than the current retention period.</p>\n@param retentionPeriodHours The new retention period of the stream, in hours. Must be more than the current retention period.*/",
        "getterDocumentation" : "/**<p>The new retention period of the stream, in hours. Must be more than the current retention period.</p>\n@return The new retention period of the stream, in hours. Must be more than the current retention period.*/",
        "fluentSetterDocumentation" : "/**<p>The new retention period of the stream, in hours. Must be more than the current retention period.</p>\n@param retentionPeriodHours The new retention period of the stream, in hours. Must be more than the current retention period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The new retention period of the stream, in hours. Must be more than the current retention period.</p>\n@param retentionPeriodHours The new retention period of the stream, in hours. Must be more than the current retention period.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "increaseStreamRetentionPeriodRequest",
        "variableType" : "IncreaseStreamRetentionPeriodRequest",
        "variableDeclarationType" : "IncreaseStreamRetentionPeriodRequest",
        "documentation" : null,
        "simpleType" : "IncreaseStreamRetentionPeriodRequest",
        "variableSetterType" : "IncreaseStreamRetentionPeriodRequest"
      },
      "marshaller" : {
        "action" : "IncreaseStreamRetentionPeriod",
        "verb" : "POST",
        "target" : "Kinesis_20131202.IncreaseStreamRetentionPeriod",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "StreamName" : {
          "documentation" : "<p>The name of the stream to modify.</p>",
          "name" : "StreamName",
          "c2jName" : "StreamName",
          "c2jShape" : "StreamName",
          "variable" : {
            "variableName" : "streamName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the stream to modify.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "streamName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "StreamName",
            "marshallLocationName" : "StreamName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the stream to modify.</p>\n@param streamName The name of the stream to modify.*/",
          "getterDocumentation" : "/**<p>The name of the stream to modify.</p>\n@return The name of the stream to modify.*/",
[...]
