{
  "metadata" : {
    "apiVersion" : "2010-05-15",
    "exceptionUnmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS CloudFormation</fullname> <p>AWS CloudFormation enables you to create and manage AWS infrastructure deployments predictably and repeatedly. AWS CloudFormation helps you leverage AWS products such as Amazon EC2, EBS, Amazon SNS, ELB, and Auto Scaling to build highly-reliable, highly scalable, cost effective applications without worrying about creating and configuring the underlying AWS infrastructure.</p> <p>With AWS CloudFormation, you declare all of your resources and dependencies in a template file. The template defines a collection of resources as a single unit called a stack. AWS CloudFormation creates and deletes all member resources of the stack together and manages all dependencies between the resources for you.</p> <p>For more information about this product, go to the <a href=\"http://aws.amazon.com/cloudformation/\">CloudFormation Product Page</a>.</p> <p>Amazon CloudFormation makes use of other AWS products. If you need additional technical information about a specific AWS product, you can find the product's technical documentation at <a href=\"http://aws.amazon.com/documentation/\">http://aws.amazon.com/documentation/</a>.</p>",
    "defaultEndpoint" : "https://cloudformation.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cloudformation.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonCloudFormation",
    "syncClient" : "AmazonCloudFormationClient",
    "asyncInterface" : "AmazonCloudFormationAsync",
    "asyncClient" : "AmazonCloudFormationAsyncClient",
    "packageName" : "com.amazonaws.services.cloudformation",
    "packagePath" : "com/amazonaws/services/cloudformation",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS CloudFormation",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : null,
    "endpointPrefix" : "cloudformation",
    "signingName" : "cloudformation",
    "serviceName" : "AWS CloudFormation",
    "jsonProtocol" : false,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "CancelUpdateStack" : {
      "documentation" : "<p>Cancels an update on the specified stack. If the call completes successfully, the stack rolls back the update and reverts to the previous stack configuration.</p> <note>You can cancel only stacks that are in the UPDATE_IN_PROGRESS state.</note>",
      "operationName" : "CancelUpdateStack",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelUpdateStackRequest",
        "variableType" : "CancelUpdateStackRequest",
        "variableDeclarationType" : "CancelUpdateStackRequest",
        "documentation" : "<p>The input for the <a>CancelUpdateStack</a> action.</p>",
        "variableSetterType" : "CancelUpdateStackRequest",
        "simpleType" : "CancelUpdateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "cancelUpdateStack",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelUpdateStackRequest, Void>"
    },
    "CreateStack" : {
      "documentation" : "<p>Creates a stack as specified in the template. After the call completes successfully, the stack creation starts. You can check the status of the stack via the <a>DescribeStacks</a> API.</p>",
      "operationName" : "CreateStack",
      "deprecated" : false,
      "input" : {
        "variableName" : "createStackRequest",
        "variableType" : "CreateStackRequest",
        "variableDeclarationType" : "CreateStackRequest",
        "documentation" : "<p>The input for <a>CreateStack</a> action.</p>",
        "variableSetterType" : "CreateStackRequest",
        "simpleType" : "CreateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateStackResult",
        "documentation" : "<p>The output for a <a>CreateStack</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Quota for the resource has already been reached.</p>"
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>Resource with the name requested already exists.</p>"
      }, {
        "exceptionName" : "InsufficientCapabilitiesException",
        "documentation" : "<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createStack",
      "syncReturnType" : "CreateStackResult",
      "asyncReturnType" : "CreateStackResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStackResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStackRequest, CreateStackResult>"
    },
    "DeleteStack" : {
      "documentation" : "<p>Deletes a specified stack. Once the call completes successfully, stack deletion starts. Deleted stacks do not show up in the <a>DescribeStacks</a> API if the deletion has been completed successfully.</p>",
      "operationName" : "DeleteStack",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteStackRequest",
        "variableType" : "DeleteStackRequest",
        "variableDeclarationType" : "DeleteStackRequest",
        "documentation" : "<p>The input for <a>DeleteStack</a> action.</p>",
        "variableSetterType" : "DeleteStackRequest",
        "simpleType" : "DeleteStackRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteStack",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStackRequest, Void>"
    },
    "DescribeAccountLimits" : {
      "documentation" : "<p>Retrieves your account's AWS CloudFormation limits, such as the maximum number of stacks that you can create in your account.</p>",
      "operationName" : "DescribeAccountLimits",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAccountLimitsRequest",
        "variableType" : "DescribeAccountLimitsRequest",
        "variableDeclarationType" : "DescribeAccountLimitsRequest",
        "documentation" : "<p>The input for the <a>DescribeAccountLimits</a> action.</p>",
        "variableSetterType" : "DescribeAccountLimitsRequest",
        "simpleType" : "DescribeAccountLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAccountLimitsResult",
        "documentation" : "<p>The output for the <a>DescribeAccountLimits</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAccountLimits",
      "syncReturnType" : "DescribeAccountLimitsResult",
      "asyncReturnType" : "DescribeAccountLimitsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountLimitsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountLimitsRequest, DescribeAccountLimitsResult>"
    },
    "DescribeStackEvents" : {
      "documentation" : "<p>Returns all stack related events for a specified stack. For more information about a stack's event history, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/concept-stack.html\">Stacks</a> in the AWS CloudFormation User Guide.</p> <note>You can list events for stacks that have failed to create or have been deleted by specifying the unique stack identifier (stack ID).</note>",
      "operationName" : "DescribeStackEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStackEventsRequest",
        "variableType" : "DescribeStackEventsRequest",
        "variableDeclarationType" : "DescribeStackEventsRequest",
        "documentation" : "<p>The input for <a>DescribeStackEvents</a> action.</p>",
        "variableSetterType" : "DescribeStackEventsRequest",
        "simpleType" : "DescribeStackEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStackEventsResult",
        "documentation" : "<p>The output for a <a>DescribeStackEvents</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeStackEvents",
      "syncReturnType" : "DescribeStackEventsResult",
      "asyncReturnType" : "DescribeStackEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStackEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStackEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStackEventsRequest, DescribeStackEventsResult>"
    },
    "DescribeStackResource" : {
      "documentation" : "<p>Returns a description of the specified resource in the specified stack.</p> <p>For deleted stacks, DescribeStackResource returns resource information for up to 90 days after the stack has been deleted.</p>",
      "operationName" : "DescribeStackResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStackResourceRequest",
        "variableType" : "DescribeStackResourceRequest",
        "variableDeclarationType" : "DescribeStackResourceRequest",
        "documentation" : "<p>The input for <a>DescribeStackResource</a> action.</p>",
        "variableSetterType" : "DescribeStackResourceRequest",
        "simpleType" : "DescribeStackResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStackResourceResult",
        "documentation" : "<p>The output for a <a>DescribeStackResource</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeStackResource",
      "syncReturnType" : "DescribeStackResourceResult",
      "asyncReturnType" : "DescribeStackResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStackResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStackResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStackResourceRequest, DescribeStackResourceResult>"
    },
    "DescribeStackResources" : {
      "documentation" : "<p>Returns AWS resource descriptions for running and deleted stacks. If <code>StackName</code> is specified, all the associated resources that are part of the stack are returned. If <code>PhysicalResourceId</code> is specified, the associated resources of the stack that the resource belongs to are returned.</p> <note>Only the first 100 resources will be returned. If your stack has more resources than this, you should use <code>ListStackResources</code> instead.</note> <p>For deleted stacks, <code>DescribeStackResources</code> returns resource information for up to 90 days after the stack has been deleted.</p> <p>You must specify either <code>StackName</code> or <code>PhysicalResourceId</code>, but not both. In addition, you can specify <code>LogicalResourceId</code> to filter the returned result. For more information about resources, the <code>LogicalResourceId</code> and <code>PhysicalResourceId</code>, go to the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide\">AWS CloudFormation User Guide</a>.</p> <note>A <code>ValidationError</code> is returned if you specify both <code>StackName</code> and <code>PhysicalResourceId</code> in the same request.</note>",
      "operationName" : "DescribeStackResources",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStackResourcesRequest",
        "variableType" : "DescribeStackResourcesRequest",
        "variableDeclarationType" : "DescribeStackResourcesRequest",
        "documentation" : "<p>The input for <a>DescribeStackResources</a> action.</p>",
        "variableSetterType" : "DescribeStackResourcesRequest",
        "simpleType" : "DescribeStackResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStackResourcesResult",
        "documentation" : "<p>The output for a <a>DescribeStackResources</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeStackResources",
      "syncReturnType" : "DescribeStackResourcesResult",
      "asyncReturnType" : "DescribeStackResourcesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStackResourcesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStackResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStackResourcesRequest, DescribeStackResourcesResult>"
    },
    "DescribeStacks" : {
      "documentation" : "<p>Returns the description for the specified stack; if no stack name was specified, then it returns the description for all the stacks created.</p>",
      "operationName" : "DescribeStacks",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStacksRequest",
        "variableType" : "DescribeStacksRequest",
        "variableDeclarationType" : "DescribeStacksRequest",
        "documentation" : "<p>The input for <a>DescribeStacks</a> action.</p>",
        "variableSetterType" : "DescribeStacksRequest",
        "simpleType" : "DescribeStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStacksResult",
        "documentation" : "<p>The output for a <a>DescribeStacks</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeStacks",
      "syncReturnType" : "DescribeStacksResult",
      "asyncReturnType" : "DescribeStacksResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStacksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStacksRequest, DescribeStacksResult>"
    },
    "EstimateTemplateCost" : {
      "documentation" : "<p>Returns the estimated monthly cost of a template. The return value is an AWS Simple Monthly Calculator URL with a query string that describes the resources required to run the template.</p>",
      "operationName" : "EstimateTemplateCost",
      "deprecated" : false,
      "input" : {
        "variableName" : "estimateTemplateCostRequest",
        "variableType" : "EstimateTemplateCostRequest",
        "variableDeclarationType" : "EstimateTemplateCostRequest",
        "documentation" : "",
        "variableSetterType" : "EstimateTemplateCostRequest",
        "simpleType" : "EstimateTemplateCostRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EstimateTemplateCostResult",
        "documentation" : "<p>The output for a <a>EstimateTemplateCost</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "estimateTemplateCost",
      "syncReturnType" : "EstimateTemplateCostResult",
      "asyncReturnType" : "EstimateTemplateCostResult",
      "asyncFutureType" : "java.util.concurrent.Future<EstimateTemplateCostResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EstimateTemplateCostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EstimateTemplateCostRequest, EstimateTemplateCostResult>"
    },
    "GetStackPolicy" : {
      "documentation" : "<p>Returns the stack policy for a specified stack. If a stack doesn't have a policy, a null value is returned.</p>",
      "operationName" : "GetStackPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "getStackPolicyRequest",
        "variableType" : "GetStackPolicyRequest",
        "variableDeclarationType" : "GetStackPolicyRequest",
        "documentation" : "<p>The input for the <a>GetStackPolicy</a> action.</p>",
        "variableSetterType" : "GetStackPolicyRequest",
        "simpleType" : "GetStackPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetStackPolicyResult",
        "documentation" : "<p>The output for the <a>GetStackPolicy</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getStackPolicy",
      "syncReturnType" : "GetStackPolicyResult",
      "asyncReturnType" : "GetStackPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetStackPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetStackPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStackPolicyRequest, GetStackPolicyResult>"
    },
    "GetTemplate" : {
      "documentation" : "<p>Returns the template body for a specified stack. You can get the template for running or deleted stacks.</p> <p>For deleted stacks, GetTemplate returns the template for up to 90 days after the stack has been deleted.</p> <note> If the template does not exist, a <code>ValidationError</code> is returned. </note>",
      "operationName" : "GetTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTemplateRequest",
        "variableType" : "GetTemplateRequest",
        "variableDeclarationType" : "GetTemplateRequest",
        "documentation" : "<p>The input for a <a>GetTemplate</a> action.</p>",
        "variableSetterType" : "GetTemplateRequest",
        "simpleType" : "GetTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTemplateResult",
        "documentation" : "<p>The output for <a>GetTemplate</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getTemplate",
      "syncReturnType" : "GetTemplateResult",
      "asyncReturnType" : "GetTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateRequest, GetTemplateResult>"
    },
    "GetTemplateSummary" : {
      "documentation" : "<p>Returns information about a new or existing template. The <code>GetTemplateSummary</code> action is useful for viewing parameter information, such as default parameter values and parameter types, before you create or update a stack.</p> <p>You can use the <code>GetTemplateSummary</code> action when you submit a template, or you can get template information for a running or deleted stack.</p> <p>For deleted stacks, <code>GetTemplateSummary</code> returns the template information for up to 90 days after the stack has been deleted. If the template does not exist, a <code>ValidationError</code> is returned.</p>",
      "operationName" : "GetTemplateSummary",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTemplateSummaryRequest",
        "variableType" : "GetTemplateSummaryRequest",
        "variableDeclarationType" : "GetTemplateSummaryRequest",
        "documentation" : "<p>The input for the <a>GetTemplateSummary</a> action.</p>",
        "variableSetterType" : "GetTemplateSummaryRequest",
        "simpleType" : "GetTemplateSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTemplateSummaryResult",
        "documentation" : "<p>The output for the <a>GetTemplateSummary</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getTemplateSummary",
      "syncReturnType" : "GetTemplateSummaryResult",
      "asyncReturnType" : "GetTemplateSummaryResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateSummaryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateSummaryRequest, GetTemplateSummaryResult>"
    },
    "ListStackResources" : {
      "documentation" : "<p>Returns descriptions of all resources of the specified stack.</p> <p>For deleted stacks, ListStackResources returns resource information for up to 90 days after the stack has been deleted.</p>",
      "operationName" : "ListStackResources",
      "deprecated" : false,
      "input" : {
        "variableName" : "listStackResourcesRequest",
        "variableType" : "ListStackResourcesRequest",
        "variableDeclarationType" : "ListStackResourcesRequest",
        "documentation" : "<p>The input for the <a>ListStackResource</a> action.</p>",
        "variableSetterType" : "ListStackResourcesRequest",
        "simpleType" : "ListStackResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListStackResourcesResult",
        "documentation" : "<p>The output for a <a>ListStackResources</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listStackResources",
      "syncReturnType" : "ListStackResourcesResult",
      "asyncReturnType" : "ListStackResourcesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListStackResourcesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListStackResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStackResourcesRequest, ListStackResourcesResult>"
    },
    "ListStacks" : {
      "documentation" : "<p>Returns the summary information for stacks whose status matches the specified StackStatusFilter. Summary information for stacks that have been deleted is kept for 90 days after the stack is deleted. If no StackStatusFilter is specified, summary information for all stacks is returned (including existing stacks and stacks that have been deleted).</p>",
      "operationName" : "ListStacks",
      "deprecated" : false,
      "input" : {
        "variableName" : "listStacksRequest",
        "variableType" : "ListStacksRequest",
        "variableDeclarationType" : "ListStacksRequest",
        "documentation" : "<p>The input for <a>ListStacks</a> action.</p>",
        "variableSetterType" : "ListStacksRequest",
        "simpleType" : "ListStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListStacksResult",
        "documentation" : "<p>The output for <a>ListStacks</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listStacks",
      "syncReturnType" : "ListStacksResult",
      "asyncReturnType" : "ListStacksResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListStacksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStacksRequest, ListStacksResult>"
    },
    "SetStackPolicy" : {
      "documentation" : "<p>Sets a stack policy for a specified stack.</p>",
      "operationName" : "SetStackPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "setStackPolicyRequest",
        "variableType" : "SetStackPolicyRequest",
        "variableDeclarationType" : "SetStackPolicyRequest",
        "documentation" : "<p>The input for the <a>SetStackPolicy</a> action.</p>",
        "variableSetterType" : "SetStackPolicyRequest",
        "simpleType" : "SetStackPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setStackPolicy",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetStackPolicyRequest, Void>"
    },
    "SignalResource" : {
      "documentation" : "<p>Sends a signal to the specified resource with a success or failure status. You can use the SignalResource API in conjunction with a creation policy or update policy. AWS CloudFormation doesn't proceed with a stack creation or update until resources receive the required number of signals or the timeout period is exceeded. The SignalResource API is useful in cases where you want to send signals from anywhere other than an Amazon EC2 instance.</p>",
      "operationName" : "SignalResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "signalResourceRequest",
        "variableType" : "SignalResourceRequest",
        "variableDeclarationType" : "SignalResourceRequest",
        "documentation" : "<p>The input for the <a>SignalResource</a> action.</p>",
        "variableSetterType" : "SignalResourceRequest",
        "simpleType" : "SignalResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "signalResource",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SignalResourceRequest, Void>"
    },
    "UpdateStack" : {
      "documentation" : "<p>Updates a stack as specified in the template. After the call completes successfully, the stack update starts. You can check the status of the stack via the <a>DescribeStacks</a> action.</p> <p>To get a copy of the template for an existing stack, you can use the <a>GetTemplate</a> action.</p> <p>Tags that were associated with this stack during creation time will still be associated with the stack after an <code>UpdateStack</code> operation.</p> <p>For more information about creating an update template, updating a stack, and monitoring the progress of the update, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks.html\">Updating a Stack</a>.</p>",
      "operationName" : "UpdateStack",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateStackRequest",
        "variableType" : "UpdateStackRequest",
        "variableDeclarationType" : "UpdateStackRequest",
        "documentation" : "<p>The input for <a>UpdateStack</a> action.</p>",
        "variableSetterType" : "UpdateStackRequest",
        "simpleType" : "UpdateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateStackResult",
        "documentation" : "<p>The output for a <a>UpdateStack</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientCapabilitiesException",
        "documentation" : "<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateStack",
      "syncReturnType" : "UpdateStackResult",
      "asyncReturnType" : "UpdateStackResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStackResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStackRequest, UpdateStackResult>"
    },
    "ValidateTemplate" : {
      "documentation" : "<p>Validates a specified template.</p>",
      "operationName" : "ValidateTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "validateTemplateRequest",
        "variableType" : "ValidateTemplateRequest",
        "variableDeclarationType" : "ValidateTemplateRequest",
        "documentation" : "<p>The input for <a>ValidateTemplate</a> action.</p>",
        "variableSetterType" : "ValidateTemplateRequest",
        "simpleType" : "ValidateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ValidateTemplateResult",
        "documentation" : "<p>The output for <a>ValidateTemplate</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "validateTemplate",
      "syncReturnType" : "ValidateTemplateResult",
      "asyncReturnType" : "ValidateTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<ValidateTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ValidateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidateTemplateRequest, ValidateTemplateResult>"
    }
  },
  "shapes" : {
    "Stack" : {
      "c2jName" : "Stack",
      "documentation" : "<p>The Stack data type.</p>",
      "shapeName" : "Stack",
      "deprecated" : false,
      "required" : [ "StackName", "CreationTime", "StackStatus" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>Unique identifier of the stack.</p>",
        "name" : "StackId",
        "c2jName" : "StackId",
        "c2jShape" : "StackId",
        "variable" : {
          "variableName" : "stackId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Unique identifier of the stack.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "stackId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "StackId",
          "marshallLocationName" : "StackId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Unique identifier of the stack.</p>\n@param stackId Unique identifier of the stack.*/",
        "getterDocumentation" : "/**<p>Unique identifier of the stack.</p>\n@return Unique identifier of the stack.*/",
        "fluentSetterDocumentation" : "/**<p>Unique identifier of the stack.</p>\n@param stackId Unique identifier of the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Unique identifier of the stack.</p>\n@param stackId Unique identifier of the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p>The name associated with the stack.</p>",
        "name" : "StackName",
        "c2jName" : "StackName",
        "c2jShape" : "StackName",
        "variable" : {
          "variableName" : "stackName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name associated with the stack.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "stackName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "StackName",
          "marshallLocationName" : "StackName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name associated with the stack.</p>\n@param stackName The name associated with the stack.*/",
        "getterDocumentation" : "/**<p>The name associated with the stack.</p>\n@return The name associated with the stack.*/",
        "fluentSetterDocumentation" : "/**<p>The name associated with the stack.</p>\n@param stackName The name associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name associated with the stack.</p>\n@param stackName The name associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p>A user-defined description associated with the stack.</p>",
        "name" : "Description",
        "c2jName" : "Description",
        "c2jShape" : "Description",
        "variable" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A user-defined description associated with the stack.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Description",
          "marshallLocationName" : "Description",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A user-defined description associated with the stack.</p>\n@param description A user-defined description associated with the stack.*/",
        "getterDocumentation" : "/**<p>A user-defined description associated with the stack.</p>\n@return A user-defined description associated with the stack.*/",
        "fluentSetterDocumentation" : "/**<p>A user-defined description associated with the stack.</p>\n@param description A user-defined description associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A user-defined description associated with the stack.</p>\n@param description A user-defined description associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p>A list of <code>Parameter</code> structures.</p>",
        "name" : "Parameters",
        "c2jName" : "Parameters",
        "c2jShape" : "Parameters",
        "variable" : {
          "variableName" : "parameters",
          "variableType" : "java.util.List<Parameter>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Parameter>",
          "documentation" : "<p>A list of <code>Parameter</code> structures.</p>",
          "variableSetterType" : "java.util.Collection<Parameter>",
          "simpleType" : "List<Parameter>"
        },
        "setterModel" : {
          "variableName" : "parameters",
          "variableType" : "java.util.List<Parameter>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Parameter>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<Parameter>",
          "simpleType" : "List<Parameter>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Parameter>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Parameters",
          "marshallLocationName" : "Parameters",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Parameter",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Parameter",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Parameter",
              "variableDeclarationType" : "Parameter",
              "documentation" : "",
              "variableSetterType" : "Parameter",
              "simpleType" : "Parameter"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Parameter",
              "variableDeclarationType" : "Parameter",
              "documentation" : "",
              "variableSetterType" : "Parameter",
              "simpleType" : "Parameter"
            },
            "getterModel" : {
              "returnType" : "Parameter",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "simple" : false
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "map" : false,
          "simple" : false,
          "simpleType" : "Parameter",
          "templateType" : "java.util.List<Parameter>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Parameter>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of <code>Parameter</code> structures.</p>\n@param parameters A list of <code>Parameter</code> structures.*/",
        "getterDocumentation" : "/**<p>A list of <code>Parameter</code> structures.</p>\n@return A list of <code>Parameter</code> structures.*/",
        "fluentSetterDocumentation" : "/**<p>A list of <code>Parameter</code> structures.</p>\n@param parameters A list of <code>Parameter</code> structures.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of <code>Parameter</code> structures.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setParameters(java.util.Collection)} or {@link #withParameters(java.util.Collection)} if you want to override the existing values.</p>\n@param parameters A list of <code>Parameter</code> structures.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false
      }, {
        "documentation" : "<p>The time at which the stack was created.</p>",
        "name" : "CreationTime",
        "c2jName" : "CreationTime",
        "c2jShape" : "CreationTime",
        "variable" : {
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p>The time at which the stack was created.</p>",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "setterModel" : {
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CreationTime",
          "marshallLocationName" : "CreationTime",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The time at which the stack was created.</p>\n@param creationTime The time at which the stack was created.*/",
        "getterDocumentation" : "/**<p>The time at which the stack was created.</p>\n@return The time at which the stack was created.*/",
        "fluentSetterDocumentation" : "/**<p>The time at which the stack was created.</p>\n@param creationTime The time at which the stack was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The time at which the stack was created.</p>\n@param creationTime The time at which the stack was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p>The time the stack was last updated. This field will only be returned if the stack has been updated at least once.</p>",
        "name" : "LastUpdatedTime",
        "c2jName" : "LastUpdatedTime",
        "c2jShape" : "LastUpdatedTime",
        "variable" : {
          "variableName" : "lastUpdatedTime",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p>The time the stack was last updated. This field will only be returned if the stack has been updated at least once.</p>",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "setterModel" : {
          "variableName" : "lastUpdatedTime",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LastUpdatedTime",
          "marshallLocationName" : "LastUpdatedTime",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The time the stack was last updated. This field will only be returned if the stack has been updated at least once.</p>\n@param lastUpdatedTime The time the stack was last updated. This field will only be returned if the stack has been updated at least once.*/",
        "getterDocumentation" : "/**<p>The time the stack was last updated. This field will only be returned if the stack has been updated at least once.</p>\n@return The time the stack was last updated. This field will only be returned if the stack has been updated at least once.*/",
        "fluentSetterDocumentation" : "/**<p>The time the stack was last updated. This field will only be returned if the stack has been updated at least once.</p>\n@param lastUpdatedTime The time the stack was last updated. This field will only be returned if the stack has been updated at least once.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The time the stack was last updated. This field will only be returned if the stack has been updated at least once.</p>\n@param lastUpdatedTime The time the stack was last updated. This field will only be returned if the stack has been updated at least once.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p>Current status of the stack.</p>",
        "name" : "StackStatus",
        "c2jName" : "StackStatus",
        "c2jShape" : "StackStatus",
        "variable" : {
          "variableName" : "stackStatus",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Current status of the stack.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "stackStatus",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "StackStatus",
          "marshallLocationName" : "StackStatus",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "StackStatus",
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Current status of the stack.</p>\n@param stackStatus Current status of the stack.\n@see StackStatus*/",
        "getterDocumentation" : "/**<p>Current status of the stack.</p>\n@return Current status of the stack.\n@see StackStatus*/",
        "fluentSetterDocumentation" : "/**<p>Current status of the stack.</p>\n@param stackStatus Current status of the stack.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StackStatus*/",
        "varargSetterDocumentation" : "/**<p>Current status of the stack.</p>\n@param stackStatus Current status of the stack.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StackStatus*/",
        "simple" : true
      }, {
        "documentation" : "<p>Success/failure message associated with the stack status.</p>",
        "name" : "StackStatusReason",
        "c2jName" : "StackStatusReason",
        "c2jShape" : "StackStatusReason",
        "variable" : {
          "variableName" : "stackStatusReason",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Success/failure message associated with the stack status.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "stackStatusReason",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "StackStatusReason",
          "marshallLocationName" : "StackStatusReason",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Success/failure message associated with the stack status.</p>\n@param stackStatusReason Success/failure message associated with the stack status.*/",
        "getterDocumentation" : "/**<p>Success/failure message associated with the stack status.</p>\n@return Success/failure message associated with the stack status.*/",
        "fluentSetterDocumentation" : "/**<p>Success/failure message associated with the stack status.</p>\n@param stackStatusReason Success/failure message associated with the stack status.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Success/failure message associated with the stack status.</p>\n@param stackStatusReason Success/failure message associated with the stack status.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p>Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul> </p>",
        "name" : "DisableRollback",
        "c2jName" : "DisableRollback",
        "c2jShape" : "DisableRollback",
        "variable" : {
          "variableName" : "disableRollback",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul> </p>",
          "variableSetterType" : "Boolean",
          "simpleType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "disableRollback",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "variableSetterType" : "Boolean",
          "simpleType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DisableRollback",
          "marshallLocationName" : "DisableRollback",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul> </p>\n@param disableRollback Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul>*/",
        "getterDocumentation" : "/**<p>Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul> </p>\n@return Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul>*/",
        "fluentSetterDocumentation" : "/**<p>Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul> </p>\n@param disableRollback Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul> </p>\n@param disableRollback Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p>SNS topic ARNs to which stack related events are published.</p>",
        "name" : "NotificationARNs",
        "c2jName" : "NotificationARNs",
        "c2jShape" : "NotificationARNs",
        "variable" : {
          "variableName" : "notificationARNs",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>SNS topic ARNs to which stack related events are published.</p>",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "setterModel" : {
          "variableName" : "notificationARNs",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NotificationARNs",
          "marshallLocationName" : "NotificationARNs",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : null,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "map" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>SNS topic ARNs to which stack related events are published.</p>\n@param notificationARNs SNS topic ARNs to which stack related events are published.*/",
        "getterDocumentation" : "/**<p>SNS topic ARNs to which stack related events are published.</p>\n@return SNS topic ARNs to which stack related events are published.*/",
        "fluentSetterDocumentation" : "/**<p>SNS topic ARNs to which stack related events are published.</p>\n@param notificationARNs SNS topic ARNs to which stack related events are published.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>SNS topic ARNs to which stack related events are published.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNotificationARNs(java.util.Collection)} or {@link #withNotificationARNs(java.util.Collection)} if you want to override the existing values.</p>\n@param notificationARNs SNS topic ARNs to which stack related events are published.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false
      }, {
        "documentation" : "<p>The amount of time within which stack creation should complete.</p>",
        "name" : "TimeoutInMinutes",
        "c2jName" : "TimeoutInMinutes",
        "c2jShape" : "TimeoutMinutes",
        "variable" : {
          "variableName" : "timeoutInMinutes",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The amount of time within which stack creation should complete.</p>",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "timeoutInMinutes",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TimeoutInMinutes",
          "marshallLocationName" : "TimeoutInMinutes",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The amount of time within which stack creation should complete.</p>\n@param timeoutInMinutes The amount of time within which stack creation should complete.*/",
        "getterDocumentation" : "/**<p>The amount of time within which stack creation should complete.</p>\n@return The amount of time within which stack creation should complete.*/",
        "fluentSetterDocumentation" : "/**<p>The amount of time within which stack creation should complete.</p>\n@param timeoutInMinutes The amount of time within which stack creation should complete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The amount of time within which stack creation should complete.</p>\n@param timeoutInMinutes The amount of time within which stack creation should complete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p>The capabilities allowed in the stack.</p>",
        "name" : "Capabilities",
        "c2jName" : "Capabilities",
        "c2jShape" : "Capabilities",
        "variable" : {
          "variableName" : "capabilities",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>The capabilities allowed in the stack.</p>",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "setterModel" : {
          "variableName" : "capabilities",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Capabilities",
          "marshallLocationName" : "Capabilities",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Capability",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : "Capability",
            "xmlNameSpaceUri" : null,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member \n@see Capability*/",
            "getterDocumentation" : "/**\n@return \n@see Capability*/",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see Capability*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see Capability*/",
            "simple" : true
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "map" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : "Capability",
        "xmlNameSpaceUri" : null,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The capabilities allowed in the stack.</p>\n@param capabilities The capabilities allowed in the stack.\n@see Capability*/",
        "getterDocumentation" : "/**<p>The capabilities allowed in the stack.</p>\n@return The capabilities allowed in the stack.\n@see Capability*/",
        "fluentSetterDocumentation" : "/**<p>The capabilities allowed in the stack.</p>\n@param capabilities The capabilities allowed in the stack.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Capability*/",
        "varargSetterDocumentation" : "/**<p>The capabilities allowed in the stack.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCapabilities(java.util.Collection)} or {@link #withCapabilities(java.util.Collection)} if you want to override the existing values.</p>\n@param capabilities The capabilities allowed in the stack.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Capability*/",
        "simple" : false
      }, {
        "documentation" : "<p>A list of output structures.</p>",
        "name" : "Outputs",
        "c2jName" : "Outputs",
        "c2jShape" : "Outputs",
        "variable" : {
          "variableName" : "outputs",
          "variableType" : "java.util.List<Output>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Output>",
          "documentation" : "<p>A list of output structures.</p>",
          "variableSetterType" : "java.util.Collection<Output>",
          "simpleType" : "List<Output>"
        },
        "setterModel" : {
          "variableName" : "outputs",
          "variableType" : "java.util.List<Output>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Output>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<Output>",
          "simpleType" : "List<Output>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Output>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Outputs",
          "marshallLocationName" : "Outputs",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Output",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Output",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Output",
              "variableDeclarationType" : "Output",
              "documentation" : "",
              "variableSetterType" : "Output",
              "simpleType" : "Output"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Output",
              "variableDeclarationType" : "Output",
              "documentation" : "",
              "variableSetterType" : "Output",
              "simpleType" : "Output"
            },
            "getterModel" : {
              "returnType" : "Output",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "simple" : false
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "map" : false,
          "simple" : false,
          "simpleType" : "Output",
          "templateType" : "java.util.List<Output>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Output>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of output structures.</p>\n@param outputs A list of output structures.*/",
        "getterDocumentation" : "/**<p>A list of output structures.</p>\n@return A list of output structures.*/",
        "fluentSetterDocumentation" : "/**<p>A list of output structures.</p>\n@param outputs A list of output structures.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of output structures.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOutputs(java.util.Collection)} or {@link #withOutputs(java.util.Collection)} if you want to override the existing values.</p>\n@param outputs A list of output structures.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false
      }, {
        "documentation" : "<p>A list of <code>Tag</code>s that specify cost allocation information for the stack.</p>",
        "name" : "Tags",
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "variable" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "documentation" : "<p>A list of <code>Tag</code>s that specify cost allocation information for the stack.</p>",
          "variableSetterType" : "java.util.Collection<Tag>",
          "simpleType" : "List<Tag>"
        },
        "setterModel" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<Tag>",
          "simpleType" : "List<Tag>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Tags",
          "marshallLocationName" : "Tags",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Tag",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "variableSetterType" : "Tag",
              "simpleType" : "Tag"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "variableSetterType" : "Tag",
              "simpleType" : "Tag"
            },
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "simple" : false
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "map" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateType" : "java.util.List<Tag>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of <code>Tag</code>s that specify cost allocation information for the stack.</p>\n@param tags A list of <code>Tag</code>s that specify cost allocation information for the stack.*/",
        "getterDocumentation" : "/**<p>A list of <code>Tag</code>s that specify cost allocation information for the stack.</p>\n@return A list of <code>Tag</code>s that specify cost allocation information for the stack.*/",
        "fluentSetterDocumentation" : "/**<p>A list of <code>Tag</code>s that specify cost allocation information for the stack.</p>\n@param tags A list of <code>Tag</code>s that specify cost allocation information for the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of <code>Tag</code>s that specify cost allocation information for the stack.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags A list of <code>Tag</code>s that specify cost allocation information for the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "stack",
        "variableType" : "Stack",
        "variableDeclarationType" : "Stack",
        "documentation" : null,
        "variableSetterType" : "Stack",
        "simpleType" : "Stack"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Outputs" : {
          "documentation" : "<p>A list of output structures.</p>",
          "name" : "Outputs",
          "c2jName" : "Outputs",
          "c2jShape" : "Outputs",
          "variable" : {
            "variableName" : "outputs",
            "variableType" : "java.util.List<Output>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Output>",
            "documentation" : "<p>A list of output structures.</p>",
            "variableSetterType" : "java.util.Collection<Output>",
            "simpleType" : "List<Output>"
          },
          "setterModel" : {
            "variableName" : "outputs",
            "variableType" : "java.util.List<Output>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Output>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<Output>",
            "simpleType" : "List<Output>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Output>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Outputs",
            "marshallLocationName" : "Outputs",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Output",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Output",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Output",
                "variableDeclarationType" : "Output",
                "documentation" : "",
                "variableSetterType" : "Output",
                "simpleType" : "Output"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Output",
                "variableDeclarationType" : "Output",
                "documentation" : "",
                "variableSetterType" : "Output",
                "simpleType" : "Output"
              },
              "getterModel" : {
                "returnType" : "Output",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "simple" : false
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "map" : false,
            "simple" : false,
            "simpleType" : "Output",
            "templateType" : "java.util.List<Output>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Output>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of output structures.</p>\n@param outputs A list of output structures.*/",
          "getterDocumentation" : "/**<p>A list of output structures.</p>\n@return A list of output structures.*/",
          "fluentSetterDocumentation" : "/**<p>A list of output structures.</p>\n@param outputs A list of output structures.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of output structures.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOutputs(java.util.Collection)} or {@link #withOutputs(java.util.Collection)} if you want to override the existing values.</p>\n@param outputs A list of output structures.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : false
        },
        "Parameters" : {
          "documentation" : "<p>A list of <code>Parameter</code> structures.</p>",
          "name" : "Parameters",
          "c2jName" : "Parameters",
          "c2jShape" : "Parameters",
          "variable" : {
            "variableName" : "parameters",
            "variableType" : "java.util.List<Parameter>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Parameter>",
            "documentation" : "<p>A list of <code>Parameter</code> structures.</p>",
            "variableSetterType" : "java.util.Collection<Parameter>",
            "simpleType" : "List<Parameter>"
          },
          "setterModel" : {
            "variableName" : "parameters",
            "variableType" : "java.util.List<Parameter>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Parameter>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<Parameter>",
            "simpleType" : "List<Parameter>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Parameter>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Parameters",
            "marshallLocationName" : "Parameters",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Parameter",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Parameter",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Parameter",
                "variableDeclarationType" : "Parameter",
                "documentation" : "",
                "variableSetterType" : "Parameter",
                "simpleType" : "Parameter"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Parameter",
                "variableDeclarationType" : "Parameter",
                "documentation" : "",
                "variableSetterType" : "Parameter",
                "simpleType" : "Parameter"
              },
              "getterModel" : {
                "returnType" : "Parameter",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "simple" : false
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "map" : false,
            "simple" : false,
            "simpleType" : "Parameter",
            "templateType" : "java.util.List<Parameter>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Parameter>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of <code>Parameter</code> structures.</p>\n@param parameters A list of <code>Parameter</code> structures.*/",
          "getterDocumentation" : "/**<p>A list of <code>Parameter</code> structures.</p>\n@return A list of <code>Parameter</code> structures.*/",
          "fluentSetterDocumentation" : "/**<p>A list of <code>Parameter</code> structures.</p>\n@param parameters A list of <code>Parameter</code> structures.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of <code>Parameter</code> structures.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setParameters(java.util.Collection)} or {@link #withParameters(java.util.Collection)} if you want to override the existing values.</p>\n@param parameters A list of <code>Parameter</code> structures.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : false
        },
        "Description" : {
          "documentation" : "<p>A user-defined description associated with the stack.</p>",
          "name" : "Description",
          "c2jName" : "Description",
          "c2jShape" : "Description",
          "variable" : {
            "variableName" : "description",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>A user-defined description associated with the stack.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "description",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Description",
            "marshallLocationName" : "Description",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A user-defined description associated with the stack.</p>\n@param description A user-defined description associated with the stack.*/",
          "getterDocumentation" : "/**<p>A user-defined description associated with the stack.</p>\n@return A user-defined description associated with the stack.*/",
          "fluentSetterDocumentation" : "/**<p>A user-defined description associated with the stack.</p>\n@param description A user-defined description associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A user-defined description associated with the stack.</p>\n@param description A user-defined description associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        },
        "TimeoutInMinutes" : {
          "documentation" : "<p>The amount of time within which stack creation should complete.</p>",
          "name" : "TimeoutInMinutes",
          "c2jName" : "TimeoutInMinutes",
          "c2jShape" : "TimeoutMinutes",
          "variable" : {
            "variableName" : "timeoutInMinutes",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The amount of time within which stack creation should complete.</p>",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "timeoutInMinutes",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TimeoutInMinutes",
            "marshallLocationName" : "TimeoutInMinutes",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The amount of time within which stack creation should complete.</p>\n@param timeoutInMinutes The amount of time within which stack creation should complete.*/",
          "getterDocumentation" : "/**<p>The amount of time within which stack creation should complete.</p>\n@return The amount of time within which stack creation should complete.*/",
          "fluentSetterDocumentation" : "/**<p>The amount of time within which stack creation should complete.</p>\n@param timeoutInMinutes The amount of time within which stack creation should complete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The amount of time within which stack creation should complete.</p>\n@param timeoutInMinutes The amount of time within which stack creation should complete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        },
        "StackId" : {
          "documentation" : "<p>Unique identifier of the stack.</p>",
          "name" : "StackId",
          "c2jName" : "StackId",
          "c2jShape" : "StackId",
          "variable" : {
            "variableName" : "stackId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Unique identifier of the stack.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "stackId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "StackId",
            "marshallLocationName" : "StackId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Unique identifier of the stack.</p>\n@param stackId Unique identifier of the stack.*/",
          "getterDocumentation" : "/**<p>Unique identifier of the stack.</p>\n@return Unique identifier of the stack.*/",
          "fluentSetterDocumentation" : "/**<p>Unique identifier of the stack.</p>\n@param stackId Unique identifier of the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Unique identifier of the stack.</p>\n@param stackId Unique identifier of the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        },
        "DisableRollback" : {
          "documentation" : "<p>Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul> </p>",
          "name" : "DisableRollback",
          "c2jName" : "DisableRollback",
          "c2jShape" : "DisableRollback",
          "variable" : {
            "variableName" : "disableRollback",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "<p>Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li><code>true</code>: disable rollback</li> <li><code>false</code>: enable rollback</li> </ul> </p>",
            "variableSetterType" : "Boolean",
            "simpleType" : "Boolean"
          },
          "setterModel" : {
            "variableName" : "disableRollback",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "",
            "variableSetterType" : "Boolean",
            "simpleType" : "Boolean"
          },
          "getterModel" : {
[...]
