{
  "metadata" : {
    "apiVersion" : "2010-05-15",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS CloudFormation</fullname> <p>AWS CloudFormation enables you to create and manage AWS infrastructure deployments predictably and repeatedly. AWS CloudFormation helps you leverage AWS products such as Amazon EC2, EBS, Amazon SNS, ELB, and Auto Scaling to build highly-reliable, highly scalable, cost effective applications without worrying about creating and configuring the underlying AWS infrastructure.</p> <p>With AWS CloudFormation, you declare all of your resources and dependencies in a template file. The template defines a collection of resources as a single unit called a stack. AWS CloudFormation creates and deletes all member resources of the stack together and manages all dependencies between the resources for you.</p> <p>For more information about this product, go to the <a href=\"http://aws.amazon.com/cloudformation/\">CloudFormation Product Page</a>.</p> <p>Amazon CloudFormation makes use of other AWS products. If you need additional technical information about a specific AWS product, you can find the product's technical documentation at <a href=\"http://docs.aws.amazon.com/\">http://docs.aws.amazon.com/</a>.</p>",
    "defaultEndpoint" : "https://cloudformation.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cloudformation.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonCloudFormation",
    "syncClient" : "AmazonCloudFormationClient",
    "asyncInterface" : "AmazonCloudFormationAsync",
    "asyncClient" : "AmazonCloudFormationAsyncClient",
    "packageName" : "com.amazonaws.services.cloudformation",
    "packagePath" : "com/amazonaws/services/cloudformation",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS CloudFormation",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "cloudformation",
    "signingName" : "cloudformation",
    "jsonProtocol" : false,
    "xmlProtocol" : true,
    "cborProtocol" : false,
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "syncClientBuilderClassName" : "AmazonCloudFormationClientBuilder",
    "asyncClientBuilderClassName" : "AmazonCloudFormationAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonCloudFormationModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudformation.smoketests",
    "serviceName" : "AWS CloudFormation"
  },
  "operations" : {
    "CancelUpdateStack" : {
      "documentation" : "<p>Cancels an update on the specified stack. If the call completes successfully, the stack rolls back the update and reverts to the previous stack configuration.</p> <note> <p>You can cancel only stacks that are in the UPDATE_IN_PROGRESS state.</p> </note>",
      "operationName" : "CancelUpdateStack",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelUpdateStackRequest",
        "variableType" : "CancelUpdateStackRequest",
        "variableDeclarationType" : "CancelUpdateStackRequest",
        "documentation" : "<p>The input for the <a>CancelUpdateStack</a> action.</p>",
        "simpleType" : "CancelUpdateStackRequest",
        "variableSetterType" : "CancelUpdateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelUpdateStackResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "cancelUpdateStack",
      "authenticated" : true,
      "syncReturnType" : "CancelUpdateStackResult",
      "asyncReturnType" : "CancelUpdateStackResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelUpdateStackResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelUpdateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelUpdateStackRequest, CancelUpdateStackResult>"
    },
    "ContinueUpdateRollback" : {
      "documentation" : "<p>For a specified stack that is in the <code>UPDATE_ROLLBACK_FAILED</code> state, continues rolling it back to the <code>UPDATE_ROLLBACK_COMPLETE</code> state. Depending on the cause of the failure, you can manually <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> fix the error</a> and continue the rollback. By continuing the rollback, you can return your stack to a working state (the <code>UPDATE_ROLLBACK_COMPLETE</code> state), and then try to update the stack again.</p> <p>A stack goes into the <code>UPDATE_ROLLBACK_FAILED</code> state when AWS CloudFormation cannot roll back all changes after a failed stack update. For example, you might have a stack that is rolling back to an old database instance that was deleted outside of AWS CloudFormation. Because AWS CloudFormation doesn't know the database was deleted, it assumes that the database instance still exists and attempts to roll back to it, causing the update rollback to fail.</p>",
      "operationName" : "ContinueUpdateRollback",
      "deprecated" : false,
      "input" : {
        "variableName" : "continueUpdateRollbackRequest",
        "variableType" : "ContinueUpdateRollbackRequest",
        "variableDeclarationType" : "ContinueUpdateRollbackRequest",
        "documentation" : "<p>The input for the <a>ContinueUpdateRollback</a> action.</p>",
        "simpleType" : "ContinueUpdateRollbackRequest",
        "variableSetterType" : "ContinueUpdateRollbackRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ContinueUpdateRollbackResult",
        "documentation" : "<p>The output for a <a>ContinueUpdateRollback</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "continueUpdateRollback",
      "authenticated" : true,
      "syncReturnType" : "ContinueUpdateRollbackResult",
      "asyncReturnType" : "ContinueUpdateRollbackResult",
      "asyncFutureType" : "java.util.concurrent.Future<ContinueUpdateRollbackResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ContinueUpdateRollbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ContinueUpdateRollbackRequest, ContinueUpdateRollbackResult>"
    },
    "CreateChangeSet" : {
      "documentation" : "<p>Creates a list of changes for a stack. AWS CloudFormation generates the change set by comparing the stack's information with the information that you submit. A change set can help you understand which resources AWS CloudFormation will change and how it will change them before you update your stack. Change sets allow you to check before you make a change so that you don't delete or replace critical resources.</p> <p>AWS CloudFormation doesn't make any changes to the stack when you create a change set. To make the specified changes, you must execute the change set by using the <a>ExecuteChangeSet</a> action.</p> <p>After the call successfully completes, AWS CloudFormation starts creating the change set. To check the status of the change set, use the <a>DescribeChangeSet</a> action.</p>",
      "operationName" : "CreateChangeSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "createChangeSetRequest",
        "variableType" : "CreateChangeSetRequest",
        "variableDeclarationType" : "CreateChangeSetRequest",
        "documentation" : "<p>The input for the <a>CreateChangeSet</a> action.</p>",
        "simpleType" : "CreateChangeSetRequest",
        "variableSetterType" : "CreateChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateChangeSetResult",
        "documentation" : "<p>The output for the <a>CreateChangeSet</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>Resource with the name requested already exists.</p>"
      }, {
        "exceptionName" : "InsufficientCapabilitiesException",
        "documentation" : "<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Quota for the resource has already been reached.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createChangeSet",
      "authenticated" : true,
      "syncReturnType" : "CreateChangeSetResult",
      "asyncReturnType" : "CreateChangeSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChangeSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChangeSetRequest, CreateChangeSetResult>"
    },
    "CreateStack" : {
      "documentation" : "<p>Creates a stack as specified in the template. After the call completes successfully, the stack creation starts. You can check the status of the stack via the <a>DescribeStacks</a> API.</p>",
      "operationName" : "CreateStack",
      "deprecated" : false,
      "input" : {
        "variableName" : "createStackRequest",
        "variableType" : "CreateStackRequest",
        "variableDeclarationType" : "CreateStackRequest",
        "documentation" : "<p>The input for <a>CreateStack</a> action.</p>",
        "simpleType" : "CreateStackRequest",
        "variableSetterType" : "CreateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateStackResult",
        "documentation" : "<p>The output for a <a>CreateStack</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Quota for the resource has already been reached.</p>"
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>Resource with the name requested already exists.</p>"
      }, {
        "exceptionName" : "InsufficientCapabilitiesException",
        "documentation" : "<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createStack",
      "authenticated" : true,
      "syncReturnType" : "CreateStackResult",
      "asyncReturnType" : "CreateStackResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStackResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStackRequest, CreateStackResult>"
    },
    "DeleteChangeSet" : {
      "documentation" : "<p>Deletes the specified change set. Deleting change sets ensures that no one executes the wrong change set.</p> <p>If the call successfully completes, AWS CloudFormation successfully deleted the change set.</p>",
      "operationName" : "DeleteChangeSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteChangeSetRequest",
        "variableType" : "DeleteChangeSetRequest",
        "variableDeclarationType" : "DeleteChangeSetRequest",
        "documentation" : "<p>The input for the <a>DeleteChangeSet</a> action.</p>",
        "simpleType" : "DeleteChangeSetRequest",
        "variableSetterType" : "DeleteChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteChangeSetResult",
        "documentation" : "<p>The output for the <a>DeleteChangeSet</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidChangeSetStatusException",
        "documentation" : "<p>The specified change set cannot be used to update the stack. For example, the change set status might be <code>CREATE_IN_PROGRESS</code> or the stack status might be <code>UPDATE_IN_PROGRESS</code>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteChangeSet",
      "authenticated" : true,
      "syncReturnType" : "DeleteChangeSetResult",
      "asyncReturnType" : "DeleteChangeSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChangeSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChangeSetRequest, DeleteChangeSetResult>"
    },
    "DeleteStack" : {
      "documentation" : "<p>Deletes a specified stack. Once the call completes successfully, stack deletion starts. Deleted stacks do not show up in the <a>DescribeStacks</a> API if the deletion has been completed successfully.</p>",
      "operationName" : "DeleteStack",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteStackRequest",
        "variableType" : "DeleteStackRequest",
        "variableDeclarationType" : "DeleteStackRequest",
        "documentation" : "<p>The input for <a>DeleteStack</a> action.</p>",
        "simpleType" : "DeleteStackRequest",
        "variableSetterType" : "DeleteStackRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteStackResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteStack",
      "authenticated" : true,
      "syncReturnType" : "DeleteStackResult",
      "asyncReturnType" : "DeleteStackResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStackResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStackRequest, DeleteStackResult>"
    },
    "DescribeAccountLimits" : {
      "documentation" : "<p>Retrieves your account's AWS CloudFormation limits, such as the maximum number of stacks that you can create in your account.</p>",
      "operationName" : "DescribeAccountLimits",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAccountLimitsRequest",
        "variableType" : "DescribeAccountLimitsRequest",
        "variableDeclarationType" : "DescribeAccountLimitsRequest",
        "documentation" : "<p>The input for the <a>DescribeAccountLimits</a> action.</p>",
        "simpleType" : "DescribeAccountLimitsRequest",
        "variableSetterType" : "DescribeAccountLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAccountLimitsResult",
        "documentation" : "<p>The output for the <a>DescribeAccountLimits</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAccountLimits",
      "authenticated" : true,
      "syncReturnType" : "DescribeAccountLimitsResult",
      "asyncReturnType" : "DescribeAccountLimitsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountLimitsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountLimitsRequest, DescribeAccountLimitsResult>"
    },
    "DescribeChangeSet" : {
      "documentation" : "<p>Returns the inputs for the change set and a list of changes that AWS CloudFormation will make if you execute the change set. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-changesets.html\">Updating Stacks Using Change Sets</a> in the AWS CloudFormation User Guide.</p>",
      "operationName" : "DescribeChangeSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeChangeSetRequest",
        "variableType" : "DescribeChangeSetRequest",
        "variableDeclarationType" : "DescribeChangeSetRequest",
        "documentation" : "<p>The input for the <a>DescribeChangeSet</a> action.</p>",
        "simpleType" : "DescribeChangeSetRequest",
        "variableSetterType" : "DescribeChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeChangeSetResult",
        "documentation" : "<p>The output for the <a>DescribeChangeSet</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ChangeSetNotFoundException",
        "documentation" : "<p>The specified change set name or ID doesn't exit. To view valid change sets for a stack, use the <code>ListChangeSets</code> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeChangeSet",
      "authenticated" : true,
      "syncReturnType" : "DescribeChangeSetResult",
      "asyncReturnType" : "DescribeChangeSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChangeSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChangeSetRequest, DescribeChangeSetResult>"
    },
    "DescribeStackEvents" : {
      "documentation" : "<p>Returns all stack related events for a specified stack in reverse chronological order. For more information about a stack's event history, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/concept-stack.html\">Stacks</a> in the AWS CloudFormation User Guide.</p> <note> <p>You can list events for stacks that have failed to create or have been deleted by specifying the unique stack identifier (stack ID).</p> </note>",
      "operationName" : "DescribeStackEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStackEventsRequest",
        "variableType" : "DescribeStackEventsRequest",
        "variableDeclarationType" : "DescribeStackEventsRequest",
        "documentation" : "<p>The input for <a>DescribeStackEvents</a> action.</p>",
        "simpleType" : "DescribeStackEventsRequest",
        "variableSetterType" : "DescribeStackEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStackEventsResult",
        "documentation" : "<p>The output for a <a>DescribeStackEvents</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeStackEvents",
      "authenticated" : true,
      "syncReturnType" : "DescribeStackEventsResult",
      "asyncReturnType" : "DescribeStackEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStackEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStackEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStackEventsRequest, DescribeStackEventsResult>"
    },
    "DescribeStackResource" : {
      "documentation" : "<p>Returns a description of the specified resource in the specified stack.</p> <p>For deleted stacks, DescribeStackResource returns resource information for up to 90 days after the stack has been deleted.</p>",
      "operationName" : "DescribeStackResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStackResourceRequest",
        "variableType" : "DescribeStackResourceRequest",
        "variableDeclarationType" : "DescribeStackResourceRequest",
        "documentation" : "<p>The input for <a>DescribeStackResource</a> action.</p>",
        "simpleType" : "DescribeStackResourceRequest",
        "variableSetterType" : "DescribeStackResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStackResourceResult",
        "documentation" : "<p>The output for a <a>DescribeStackResource</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeStackResource",
      "authenticated" : true,
      "syncReturnType" : "DescribeStackResourceResult",
      "asyncReturnType" : "DescribeStackResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStackResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStackResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStackResourceRequest, DescribeStackResourceResult>"
    },
    "DescribeStackResources" : {
      "documentation" : "<p>Returns AWS resource descriptions for running and deleted stacks. If <code>StackName</code> is specified, all the associated resources that are part of the stack are returned. If <code>PhysicalResourceId</code> is specified, the associated resources of the stack that the resource belongs to are returned.</p> <note> <p>Only the first 100 resources will be returned. If your stack has more resources than this, you should use <code>ListStackResources</code> instead.</p> </note> <p>For deleted stacks, <code>DescribeStackResources</code> returns resource information for up to 90 days after the stack has been deleted.</p> <p>You must specify either <code>StackName</code> or <code>PhysicalResourceId</code>, but not both. In addition, you can specify <code>LogicalResourceId</code> to filter the returned result. For more information about resources, the <code>LogicalResourceId</code> and <code>PhysicalResourceId</code>, go to the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/\">AWS CloudFormation User Guide</a>.</p> <note> <p>A <code>ValidationError</code> is returned if you specify both <code>StackName</code> and <code>PhysicalResourceId</code> in the same request.</p> </note>",
      "operationName" : "DescribeStackResources",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStackResourcesRequest",
        "variableType" : "DescribeStackResourcesRequest",
        "variableDeclarationType" : "DescribeStackResourcesRequest",
        "documentation" : "<p>The input for <a>DescribeStackResources</a> action.</p>",
        "simpleType" : "DescribeStackResourcesRequest",
        "variableSetterType" : "DescribeStackResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStackResourcesResult",
        "documentation" : "<p>The output for a <a>DescribeStackResources</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeStackResources",
      "authenticated" : true,
      "syncReturnType" : "DescribeStackResourcesResult",
      "asyncReturnType" : "DescribeStackResourcesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStackResourcesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStackResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStackResourcesRequest, DescribeStackResourcesResult>"
    },
    "DescribeStacks" : {
      "documentation" : "<p>Returns the description for the specified stack; if no stack name was specified, then it returns the description for all the stacks created.</p>",
      "operationName" : "DescribeStacks",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStacksRequest",
        "variableType" : "DescribeStacksRequest",
        "variableDeclarationType" : "DescribeStacksRequest",
        "documentation" : "<p>The input for <a>DescribeStacks</a> action.</p>",
        "simpleType" : "DescribeStacksRequest",
        "variableSetterType" : "DescribeStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStacksResult",
        "documentation" : "<p>The output for a <a>DescribeStacks</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeStacks",
      "authenticated" : true,
      "syncReturnType" : "DescribeStacksResult",
      "asyncReturnType" : "DescribeStacksResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStacksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStacksRequest, DescribeStacksResult>"
    },
    "EstimateTemplateCost" : {
      "documentation" : "<p>Returns the estimated monthly cost of a template. The return value is an AWS Simple Monthly Calculator URL with a query string that describes the resources required to run the template.</p>",
      "operationName" : "EstimateTemplateCost",
      "deprecated" : false,
      "input" : {
        "variableName" : "estimateTemplateCostRequest",
        "variableType" : "EstimateTemplateCostRequest",
        "variableDeclarationType" : "EstimateTemplateCostRequest",
        "documentation" : "<p>The input for an <a>EstimateTemplateCost</a> action.</p>",
        "simpleType" : "EstimateTemplateCostRequest",
        "variableSetterType" : "EstimateTemplateCostRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EstimateTemplateCostResult",
        "documentation" : "<p>The output for a <a>EstimateTemplateCost</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "estimateTemplateCost",
      "authenticated" : true,
      "syncReturnType" : "EstimateTemplateCostResult",
      "asyncReturnType" : "EstimateTemplateCostResult",
      "asyncFutureType" : "java.util.concurrent.Future<EstimateTemplateCostResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EstimateTemplateCostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EstimateTemplateCostRequest, EstimateTemplateCostResult>"
    },
    "ExecuteChangeSet" : {
      "documentation" : "<p>Updates a stack using the input information that was provided when the specified change set was created. After the call successfully completes, AWS CloudFormation starts updating the stack. Use the <a>DescribeStacks</a> action to view the status of the update.</p> <p>When you execute a change set, AWS CloudFormation deletes all other change sets associated with the stack because they aren't valid for the updated stack.</p> <p>If a stack policy is associated with the stack, AWS CloudFormation enforces the policy during the update. You can't specify a temporary stack policy that overrides the current policy.</p>",
      "operationName" : "ExecuteChangeSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "executeChangeSetRequest",
        "variableType" : "ExecuteChangeSetRequest",
        "variableDeclarationType" : "ExecuteChangeSetRequest",
        "documentation" : "<p>The input for the <a>ExecuteChangeSet</a> action.</p>",
        "simpleType" : "ExecuteChangeSetRequest",
        "variableSetterType" : "ExecuteChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ExecuteChangeSetResult",
        "documentation" : "<p>The output for the <a>ExecuteChangeSet</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidChangeSetStatusException",
        "documentation" : "<p>The specified change set cannot be used to update the stack. For example, the change set status might be <code>CREATE_IN_PROGRESS</code> or the stack status might be <code>UPDATE_IN_PROGRESS</code>.</p>"
      }, {
        "exceptionName" : "ChangeSetNotFoundException",
        "documentation" : "<p>The specified change set name or ID doesn't exit. To view valid change sets for a stack, use the <code>ListChangeSets</code> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "executeChangeSet",
      "authenticated" : true,
      "syncReturnType" : "ExecuteChangeSetResult",
      "asyncReturnType" : "ExecuteChangeSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteChangeSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteChangeSetRequest, ExecuteChangeSetResult>"
    },
    "GetStackPolicy" : {
      "documentation" : "<p>Returns the stack policy for a specified stack. If a stack doesn't have a policy, a null value is returned.</p>",
      "operationName" : "GetStackPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "getStackPolicyRequest",
        "variableType" : "GetStackPolicyRequest",
        "variableDeclarationType" : "GetStackPolicyRequest",
        "documentation" : "<p>The input for the <a>GetStackPolicy</a> action.</p>",
        "simpleType" : "GetStackPolicyRequest",
        "variableSetterType" : "GetStackPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetStackPolicyResult",
        "documentation" : "<p>The output for the <a>GetStackPolicy</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getStackPolicy",
      "authenticated" : true,
      "syncReturnType" : "GetStackPolicyResult",
      "asyncReturnType" : "GetStackPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetStackPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetStackPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStackPolicyRequest, GetStackPolicyResult>"
    },
    "GetTemplate" : {
      "documentation" : "<p>Returns the template body for a specified stack. You can get the template for running or deleted stacks.</p> <p>For deleted stacks, GetTemplate returns the template for up to 90 days after the stack has been deleted.</p> <note> <p> If the template does not exist, a <code>ValidationError</code> is returned. </p> </note>",
      "operationName" : "GetTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTemplateRequest",
        "variableType" : "GetTemplateRequest",
        "variableDeclarationType" : "GetTemplateRequest",
        "documentation" : "<p>The input for a <a>GetTemplate</a> action.</p>",
        "simpleType" : "GetTemplateRequest",
        "variableSetterType" : "GetTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTemplateResult",
        "documentation" : "<p>The output for <a>GetTemplate</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getTemplate",
      "authenticated" : true,
      "syncReturnType" : "GetTemplateResult",
      "asyncReturnType" : "GetTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateRequest, GetTemplateResult>"
    },
    "GetTemplateSummary" : {
      "documentation" : "<p>Returns information about a new or existing template. The <code>GetTemplateSummary</code> action is useful for viewing parameter information, such as default parameter values and parameter types, before you create or update a stack.</p> <p>You can use the <code>GetTemplateSummary</code> action when you submit a template, or you can get template information for a running or deleted stack.</p> <p>For deleted stacks, <code>GetTemplateSummary</code> returns the template information for up to 90 days after the stack has been deleted. If the template does not exist, a <code>ValidationError</code> is returned.</p>",
      "operationName" : "GetTemplateSummary",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTemplateSummaryRequest",
        "variableType" : "GetTemplateSummaryRequest",
        "variableDeclarationType" : "GetTemplateSummaryRequest",
        "documentation" : "<p>The input for the <a>GetTemplateSummary</a> action.</p>",
        "simpleType" : "GetTemplateSummaryRequest",
        "variableSetterType" : "GetTemplateSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTemplateSummaryResult",
        "documentation" : "<p>The output for the <a>GetTemplateSummary</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getTemplateSummary",
      "authenticated" : true,
      "syncReturnType" : "GetTemplateSummaryResult",
      "asyncReturnType" : "GetTemplateSummaryResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateSummaryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateSummaryRequest, GetTemplateSummaryResult>"
    },
    "ListChangeSets" : {
      "documentation" : "<p>Returns the ID and status of each active change set for a stack. For example, AWS CloudFormation lists change sets that are in the <code>CREATE_IN_PROGRESS</code> or <code>CREATE_PENDING</code> state.</p>",
      "operationName" : "ListChangeSets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listChangeSetsRequest",
        "variableType" : "ListChangeSetsRequest",
        "variableDeclarationType" : "ListChangeSetsRequest",
        "documentation" : "<p>The input for the <a>ListChangeSets</a> action.</p>",
        "simpleType" : "ListChangeSetsRequest",
        "variableSetterType" : "ListChangeSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListChangeSetsResult",
        "documentation" : "<p>The output for the <a>ListChangeSets</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listChangeSets",
      "authenticated" : true,
      "syncReturnType" : "ListChangeSetsResult",
      "asyncReturnType" : "ListChangeSetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListChangeSetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListChangeSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChangeSetsRequest, ListChangeSetsResult>"
    },
    "ListStackResources" : {
      "documentation" : "<p>Returns descriptions of all resources of the specified stack.</p> <p>For deleted stacks, ListStackResources returns resource information for up to 90 days after the stack has been deleted.</p>",
      "operationName" : "ListStackResources",
      "deprecated" : false,
      "input" : {
        "variableName" : "listStackResourcesRequest",
        "variableType" : "ListStackResourcesRequest",
        "variableDeclarationType" : "ListStackResourcesRequest",
        "documentation" : "<p>The input for the <a>ListStackResource</a> action.</p>",
        "simpleType" : "ListStackResourcesRequest",
        "variableSetterType" : "ListStackResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListStackResourcesResult",
        "documentation" : "<p>The output for a <a>ListStackResources</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listStackResources",
      "authenticated" : true,
      "syncReturnType" : "ListStackResourcesResult",
      "asyncReturnType" : "ListStackResourcesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListStackResourcesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListStackResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStackResourcesRequest, ListStackResourcesResult>"
    },
    "ListStacks" : {
      "documentation" : "<p>Returns the summary information for stacks whose status matches the specified StackStatusFilter. Summary information for stacks that have been deleted is kept for 90 days after the stack is deleted. If no StackStatusFilter is specified, summary information for all stacks is returned (including existing stacks and stacks that have been deleted).</p>",
      "operationName" : "ListStacks",
      "deprecated" : false,
      "input" : {
        "variableName" : "listStacksRequest",
        "variableType" : "ListStacksRequest",
        "variableDeclarationType" : "ListStacksRequest",
        "documentation" : "<p>The input for <a>ListStacks</a> action.</p>",
        "simpleType" : "ListStacksRequest",
        "variableSetterType" : "ListStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListStacksResult",
        "documentation" : "<p>The output for <a>ListStacks</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listStacks",
      "authenticated" : true,
      "syncReturnType" : "ListStacksResult",
      "asyncReturnType" : "ListStacksResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListStacksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStacksRequest, ListStacksResult>"
    },
    "SetStackPolicy" : {
      "documentation" : "<p>Sets a stack policy for a specified stack.</p>",
      "operationName" : "SetStackPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "setStackPolicyRequest",
        "variableType" : "SetStackPolicyRequest",
        "variableDeclarationType" : "SetStackPolicyRequest",
        "documentation" : "<p>The input for the <a>SetStackPolicy</a> action.</p>",
        "simpleType" : "SetStackPolicyRequest",
        "variableSetterType" : "SetStackPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetStackPolicyResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setStackPolicy",
      "authenticated" : true,
      "syncReturnType" : "SetStackPolicyResult",
      "asyncReturnType" : "SetStackPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetStackPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetStackPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetStackPolicyRequest, SetStackPolicyResult>"
    },
    "SignalResource" : {
      "documentation" : "<p>Sends a signal to the specified resource with a success or failure status. You can use the SignalResource API in conjunction with a creation policy or update policy. AWS CloudFormation doesn't proceed with a stack creation or update until resources receive the required number of signals or the timeout period is exceeded. The SignalResource API is useful in cases where you want to send signals from anywhere other than an Amazon EC2 instance.</p>",
      "operationName" : "SignalResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "signalResourceRequest",
        "variableType" : "SignalResourceRequest",
        "variableDeclarationType" : "SignalResourceRequest",
        "documentation" : "<p>The input for the <a>SignalResource</a> action.</p>",
        "simpleType" : "SignalResourceRequest",
        "variableSetterType" : "SignalResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SignalResourceResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "signalResource",
      "authenticated" : true,
      "syncReturnType" : "SignalResourceResult",
      "asyncReturnType" : "SignalResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<SignalResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SignalResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SignalResourceRequest, SignalResourceResult>"
    },
    "UpdateStack" : {
      "documentation" : "<p>Updates a stack as specified in the template. After the call completes successfully, the stack update starts. You can check the status of the stack via the <a>DescribeStacks</a> action.</p> <p>To get a copy of the template for an existing stack, you can use the <a>GetTemplate</a> action.</p> <p>For more information about creating an update template, updating a stack, and monitoring the progress of the update, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks.html\">Updating a Stack</a>.</p>",
      "operationName" : "UpdateStack",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateStackRequest",
        "variableType" : "UpdateStackRequest",
        "variableDeclarationType" : "UpdateStackRequest",
        "documentation" : "<p>The input for an <a>UpdateStack</a> action.</p>",
        "simpleType" : "UpdateStackRequest",
        "variableSetterType" : "UpdateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateStackResult",
        "documentation" : "<p>The output for an <a>UpdateStack</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InsufficientCapabilitiesException",
        "documentation" : "<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateStack",
      "authenticated" : true,
      "syncReturnType" : "UpdateStackResult",
      "asyncReturnType" : "UpdateStackResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStackResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStackRequest, UpdateStackResult>"
    },
    "ValidateTemplate" : {
      "documentation" : "<p>Validates a specified template.</p>",
      "operationName" : "ValidateTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "validateTemplateRequest",
        "variableType" : "ValidateTemplateRequest",
        "variableDeclarationType" : "ValidateTemplateRequest",
        "documentation" : "<p>The input for <a>ValidateTemplate</a> action.</p>",
        "simpleType" : "ValidateTemplateRequest",
        "variableSetterType" : "ValidateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ValidateTemplateResult",
        "documentation" : "<p>The output for <a>ValidateTemplate</a> action.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "validateTemplate",
      "authenticated" : true,
      "syncReturnType" : "ValidateTemplateResult",
      "asyncReturnType" : "ValidateTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<ValidateTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ValidateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidateTemplateRequest, ValidateTemplateResult>"
    }
  },
  "shapes" : {
    "ExecuteChangeSetResult" : {
      "c2jName" : "ExecuteChangeSetOutput",
      "documentation" : "<p>The output for the <a>ExecuteChangeSet</a> action.</p>",
      "shapeName" : "ExecuteChangeSetResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "executeChangeSetResult",
        "variableType" : "ExecuteChangeSetResult",
        "variableDeclarationType" : "ExecuteChangeSetResult",
        "documentation" : null,
        "simpleType" : "ExecuteChangeSetResult",
        "variableSetterType" : "ExecuteChangeSetResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : "ExecuteChangeSetResult",
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ChangeAction" : {
      "c2jName" : "ChangeAction",
      "documentation" : "",
      "shapeName" : "ChangeAction",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "Add",
        "value" : "Add"
      }, {
        "name" : "Modify",
        "value" : "Modify"
      }, {
        "name" : "Remove",
        "value" : "Remove"
      } ],
      "variable" : {
        "variableName" : "changeAction",
        "variableType" : "ChangeAction",
        "variableDeclarationType" : "ChangeAction",
        "documentation" : null,
        "simpleType" : "ChangeAction",
        "variableSetterType" : "ChangeAction"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "SetStackPolicyResult" : {
      "c2jName" : "SetStackPolicyResult",
      "documentation" : null,
      "shapeName" : "SetStackPolicyResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "setStackPolicyResult",
        "variableType" : "SetStackPolicyResult",
        "variableDeclarationType" : "SetStackPolicyResult",
        "documentation" : null,
        "simpleType" : "SetStackPolicyResult",
        "variableSetterType" : "SetStackPolicyResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "CreateChangeSetRequest" : {
      "c2jName" : "CreateChangeSetInput",
      "documentation" : "<p>The input for the <a>CreateChangeSet</a> action.</p>",
      "shapeName" : "CreateChangeSetRequest",
      "deprecated" : false,
      "required" : [ "StackName", "ChangeSetName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.</p>",
        "name" : "StackName",
        "c2jName" : "StackName",
        "c2jShape" : "StackNameOrId",
        "variable" : {
          "variableName" : "stackName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "stackName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "StackName",
          "marshallLocationName" : "StackName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.</p>\n@param stackName The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.*/",
        "getterDocumentation" : "/**<p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.</p>\n@return The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.*/",
        "fluentSetterDocumentation" : "/**<p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.</p>\n@param stackName The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.</p>\n@param stackName The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>",
        "name" : "TemplateBody",
        "c2jName" : "TemplateBody",
        "c2jShape" : "TemplateBody",
        "variable" : {
          "variableName" : "templateBody",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "templateBody",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TemplateBody",
          "marshallLocationName" : "TemplateBody",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\n@param templateBody A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.*/",
        "getterDocumentation" : "/**<p>A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\n@return A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.*/",
        "fluentSetterDocumentation" : "/**<p>A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\n@param templateBody A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\n@param templateBody A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>",
        "name" : "TemplateURL",
        "c2jName" : "TemplateURL",
        "c2jShape" : "TemplateURL",
        "variable" : {
          "variableName" : "templateURL",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "templateURL",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TemplateURL",
          "marshallLocationName" : "TemplateURL",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\n@param templateURL The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.*/",
        "getterDocumentation" : "/**<p>The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\n@return The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.*/",
        "fluentSetterDocumentation" : "/**<p>The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\n@param templateURL The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\n@param templateURL The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Whether to reuse the template that is associated with the stack to create the change set.</p>",
        "name" : "UsePreviousTemplate",
        "c2jName" : "UsePreviousTemplate",
        "c2jShape" : "UsePreviousTemplate",
        "variable" : {
          "variableName" : "usePreviousTemplate",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Whether to reuse the template that is associated with the stack to create the change set.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "usePreviousTemplate",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "UsePreviousTemplate",
          "marshallLocationName" : "UsePreviousTemplate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Whether to reuse the template that is associated with the stack to create the change set.</p>\n@param usePreviousTemplate Whether to reuse the template that is associated with the stack to create the change set.*/",
        "getterDocumentation" : "/**<p>Whether to reuse the template that is associated with the stack to create the change set.</p>\n@return Whether to reuse the template that is associated with the stack to create the change set.*/",
        "fluentSetterDocumentation" : "/**<p>Whether to reuse the template that is associated with the stack to create the change set.</p>\n@param usePreviousTemplate Whether to reuse the template that is associated with the stack to create the change set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Whether to reuse the template that is associated with the stack to create the change set.</p>\n@param usePreviousTemplate Whether to reuse the template that is associated with the stack to create the change set.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>",
        "name" : "Parameters",
        "c2jName" : "Parameters",
        "c2jShape" : "Parameters",
        "variable" : {
          "variableName" : "parameters",
          "variableType" : "java.util.List<Parameter>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Parameter>",
          "documentation" : "<p>A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>",
          "simpleType" : "List<Parameter>",
          "variableSetterType" : "java.util.Collection<Parameter>"
        },
        "setterModel" : {
          "variableName" : "parameters",
          "variableType" : "java.util.List<Parameter>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Parameter>",
          "documentation" : "",
          "simpleType" : "List<Parameter>",
          "variableSetterType" : "java.util.Collection<Parameter>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Parameter>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Parameters",
          "marshallLocationName" : "Parameters",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Parameter",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Parameter",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Parameter",
              "variableDeclarationType" : "Parameter",
              "documentation" : "",
              "simpleType" : "Parameter",
              "variableSetterType" : "Parameter"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Parameter",
              "variableDeclarationType" : "Parameter",
              "documentation" : "",
              "simpleType" : "Parameter",
              "variableSetterType" : "Parameter"
            },
            "getterModel" : {
              "returnType" : "Parameter",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simpleType" : "Parameter",
          "templateType" : "java.util.List<Parameter>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Parameter>",
          "simple" : false,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>\n@param parameters A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.*/",
        "getterDocumentation" : "/**<p>A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>\n@return A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.*/",
        "fluentSetterDocumentation" : "/**<p>A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>\n@param parameters A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setParameters(java.util.Collection)} or {@link #withParameters(java.util.Collection)} if you want to override the existing values.</p>\n@param parameters A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p>",
        "name" : "Capabilities",
        "c2jName" : "Capabilities",
        "c2jShape" : "Capabilities",
        "variable" : {
          "variableName" : "capabilities",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "capabilities",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Capabilities",
          "marshallLocationName" : "Capabilities",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Capability",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : "Capability",
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member \n@see Capability*/",
            "getterDocumentation" : "/**\n@return \n@see Capability*/",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see Capability*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see Capability*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
          "simple" : true,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : "Capability",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p>\n@param capabilities A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.\n@see Capability*/",
        "getterDocumentation" : "/**<p>A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p>\n@return A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.\n@see Capability*/",
        "fluentSetterDocumentation" : "/**<p>A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p>\n@param capabilities A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Capability*/",
        "varargSetterDocumentation" : "/**<p>A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCapabilities(java.util.Collection)} or {@link #withCapabilities(java.util.Collection)} if you want to override the existing values.</p>\n@param capabilities A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Capability*/"
      }, {
[...]
