{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "Body" : {
        "constructorForms" : [ [ "Text" ] ]
      },
      "Content" : {
        "constructorForms" : [ [ "Data" ] ]
      },
      "Destination" : {
        "constructorForms" : [ [ "ToAddresses" ] ]
      },
      "Message" : {
        "constructorForms" : [ [ "Subject", "Body" ] ]
      },
      "RawMessage" : {
        "constructorForms" : [ [ "Data" ] ]
      },
      "SendEmailRequest" : {
        "constructorForms" : [ [ "Source", "Destination", "Message" ] ]
      },
      "SendRawEmailRequest" : {
        "constructorForms" : [ [ "RawMessage" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : "ses",
      "fileNamePrefix" : "SimpleEmailService",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "GetSendQuota" : {
        "methodForms" : [ [ ] ]
      },
      "GetSendStatistics" : {
        "methodForms" : [ [ ] ]
      },
      "ListIdentities" : {
        "methodForms" : [ [ ] ]
      },
      "ListVerifiedEmailAddresses" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true
  },
  "metadata" : {
    "apiVersion" : "2010-12-01",
    "asyncClient" : "AmazonSimpleEmailServiceAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSimpleEmailServiceAsyncClientBuilder",
    "asyncInterface" : "AmazonSimpleEmailServiceAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonSimpleEmailServiceModuleInjector",
    "defaultEndpoint" : "https://email.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "email.us-east-1.amazonaws.com",
    "documentation" : "<fullname>Amazon Simple Email Service</fullname> <p> This is the API Reference for Amazon Simple Email Service (Amazon SES). This documentation is intended to be used in conjunction with the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html\">Amazon SES Developer Guide</a>. </p> <note> <p> For a list of Amazon SES endpoints to use in service requests, see <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/regions.html\">Regions and Amazon SES</a> in the Amazon SES Developer Guide. </p> </note>",
    "endpointPrefix" : "email",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.simpleemail",
    "packagePath" : "com/amazonaws/services/simpleemail",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "Amazon SES",
    "serviceFullName" : "Amazon Simple Email Service",
    "serviceName" : "Amazon SES",
    "signingName" : "ses",
    "smokeTestsPackageName" : "com.amazonaws.services.simpleemail.smoketests",
    "syncClient" : "AmazonSimpleEmailServiceClient",
    "syncClientBuilderClassName" : "AmazonSimpleEmailServiceClientBuilder",
    "syncInterface" : "AmazonSimpleEmailService",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "CloneReceiptRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CloneReceiptRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CloneReceiptRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CloneReceiptRuleSetRequest, CloneReceiptRuleSetResult>",
      "asyncReturnType" : "CloneReceiptRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a receipt rule set by cloning an existing one. All receipt rules and configurations are copied to the new receipt rule set and are completely independent of the source rule set.</p> <p>For information about setting up rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleSetDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule set does not exist.</p>"
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>Indicates that a resource could not be created because of a naming conflict.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that a resource could not be created because of service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CloneReceiptRuleSetRequest",
        "variableName" : "cloneReceiptRuleSetRequest",
        "variableType" : "CloneReceiptRuleSetRequest",
        "documentation" : "<p>Represents a request to create a receipt rule set by cloning an existing one. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "CloneReceiptRuleSetRequest",
        "variableSetterType" : "CloneReceiptRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cloneReceiptRuleSet",
      "operationName" : "CloneReceiptRuleSet",
      "returnType" : {
        "returnType" : "CloneReceiptRuleSetResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "CloneReceiptRuleSetResult"
    },
    "CreateConfigurationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationSetRequest, CreateConfigurationSetResult>",
      "asyncReturnType" : "CreateConfigurationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a configuration set.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "ConfigurationSetAlreadyExistsException",
        "documentation" : "<p>Indicates that the configuration set could not be created because of a naming conflict.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationSetException",
        "documentation" : "<p>Indicates that the configuration set is invalid. See the error message for details.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that a resource could not be created because of service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateConfigurationSetRequest",
        "variableName" : "createConfigurationSetRequest",
        "variableType" : "CreateConfigurationSetRequest",
        "documentation" : "<p>Represents a request to create a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "CreateConfigurationSetRequest",
        "variableSetterType" : "CreateConfigurationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfigurationSet",
      "operationName" : "CreateConfigurationSet",
      "returnType" : {
        "returnType" : "CreateConfigurationSetResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "CreateConfigurationSetResult"
    },
    "CreateConfigurationSetEventDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationSetEventDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationSetEventDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationSetEventDestinationRequest, CreateConfigurationSetEventDestinationResult>",
      "asyncReturnType" : "CreateConfigurationSetEventDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a configuration set event destination.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be either Amazon CloudWatch or Amazon Kinesis Firehose.</p> </note> <p>An event destination is the AWS service to which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "ConfigurationSetDoesNotExistException",
        "documentation" : "<p>Indicates that the configuration set does not exist.</p>"
      }, {
        "exceptionName" : "EventDestinationAlreadyExistsException",
        "documentation" : "<p>Indicates that the event destination could not be created because of a naming conflict.</p>"
      }, {
        "exceptionName" : "InvalidCloudWatchDestinationException",
        "documentation" : "<p>Indicates that the Amazon CloudWatch destination is invalid. See the error message for details.</p>"
      }, {
        "exceptionName" : "InvalidFirehoseDestinationException",
        "documentation" : "<p>Indicates that the Amazon Kinesis Firehose destination is invalid. See the error message for details.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that a resource could not be created because of service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateConfigurationSetEventDestinationRequest",
        "variableName" : "createConfigurationSetEventDestinationRequest",
        "variableType" : "CreateConfigurationSetEventDestinationRequest",
        "documentation" : "<p>Represents a request to create a configuration set event destination. A configuration set event destination, which can be either Amazon CloudWatch or Amazon Kinesis Firehose, describes an AWS service in which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "CreateConfigurationSetEventDestinationRequest",
        "variableSetterType" : "CreateConfigurationSetEventDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfigurationSetEventDestination",
      "operationName" : "CreateConfigurationSetEventDestination",
      "returnType" : {
        "returnType" : "CreateConfigurationSetEventDestinationResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "CreateConfigurationSetEventDestinationResult"
    },
    "CreateReceiptFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReceiptFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReceiptFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReceiptFilterRequest, CreateReceiptFilterResult>",
      "asyncReturnType" : "CreateReceiptFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new IP address filter.</p> <p>For information about setting up IP address filters, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that a resource could not be created because of service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>Indicates that a resource could not be created because of a naming conflict.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReceiptFilterRequest",
        "variableName" : "createReceiptFilterRequest",
        "variableType" : "CreateReceiptFilterRequest",
        "documentation" : "<p>Represents a request to create a new IP address filter. You use IP address filters when you receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "CreateReceiptFilterRequest",
        "variableSetterType" : "CreateReceiptFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReceiptFilter",
      "operationName" : "CreateReceiptFilter",
      "returnType" : {
        "returnType" : "CreateReceiptFilterResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "CreateReceiptFilterResult"
    },
    "CreateReceiptRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReceiptRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReceiptRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReceiptRuleRequest, CreateReceiptRuleResult>",
      "asyncReturnType" : "CreateReceiptRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a receipt rule.</p> <p>For information about setting up receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidSnsTopicException",
        "documentation" : "<p>Indicates that the provided Amazon SNS topic is invalid, or that Amazon SES could not publish to the topic, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
      }, {
        "exceptionName" : "InvalidS3ConfigurationException",
        "documentation" : "<p>Indicates that the provided Amazon S3 bucket or AWS KMS encryption key is invalid, or that Amazon SES could not publish to the bucket, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
      }, {
        "exceptionName" : "InvalidLambdaFunctionException",
        "documentation" : "<p>Indicates that the provided AWS Lambda function is invalid, or that Amazon SES could not execute the provided function, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>Indicates that a resource could not be created because of a naming conflict.</p>"
      }, {
        "exceptionName" : "RuleDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule does not exist.</p>"
      }, {
        "exceptionName" : "RuleSetDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule set does not exist.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that a resource could not be created because of service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReceiptRuleRequest",
        "variableName" : "createReceiptRuleRequest",
        "variableType" : "CreateReceiptRuleRequest",
        "documentation" : "<p>Represents a request to create a receipt rule. You use receipt rules to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "CreateReceiptRuleRequest",
        "variableSetterType" : "CreateReceiptRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReceiptRule",
      "operationName" : "CreateReceiptRule",
      "returnType" : {
        "returnType" : "CreateReceiptRuleResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "CreateReceiptRuleResult"
    },
    "CreateReceiptRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReceiptRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReceiptRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReceiptRuleSetRequest, CreateReceiptRuleSetResult>",
      "asyncReturnType" : "CreateReceiptRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an empty receipt rule set.</p> <p>For information about setting up receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>Indicates that a resource could not be created because of a naming conflict.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that a resource could not be created because of service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReceiptRuleSetRequest",
        "variableName" : "createReceiptRuleSetRequest",
        "variableType" : "CreateReceiptRuleSetRequest",
        "documentation" : "<p>Represents a request to create an empty receipt rule set. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "CreateReceiptRuleSetRequest",
        "variableSetterType" : "CreateReceiptRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReceiptRuleSet",
      "operationName" : "CreateReceiptRuleSet",
      "returnType" : {
        "returnType" : "CreateReceiptRuleSetResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "CreateReceiptRuleSetResult"
    },
    "DeleteConfigurationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationSetRequest, DeleteConfigurationSetResult>",
      "asyncReturnType" : "DeleteConfigurationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a configuration set.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "ConfigurationSetDoesNotExistException",
        "documentation" : "<p>Indicates that the configuration set does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConfigurationSetRequest",
        "variableName" : "deleteConfigurationSetRequest",
        "variableType" : "DeleteConfigurationSetRequest",
        "documentation" : "<p>Represents a request to delete a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DeleteConfigurationSetRequest",
        "variableSetterType" : "DeleteConfigurationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationSet",
      "operationName" : "DeleteConfigurationSet",
      "returnType" : {
        "returnType" : "DeleteConfigurationSetResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "DeleteConfigurationSetResult"
    },
    "DeleteConfigurationSetEventDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationSetEventDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationSetEventDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationSetEventDestinationRequest, DeleteConfigurationSetEventDestinationResult>",
      "asyncReturnType" : "DeleteConfigurationSetEventDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a configuration set event destination.</p> <p>Configuration set event destinations are associated with configuration sets, which enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "ConfigurationSetDoesNotExistException",
        "documentation" : "<p>Indicates that the configuration set does not exist.</p>"
      }, {
        "exceptionName" : "EventDestinationDoesNotExistException",
        "documentation" : "<p>Indicates that the event destination does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConfigurationSetEventDestinationRequest",
        "variableName" : "deleteConfigurationSetEventDestinationRequest",
        "variableType" : "DeleteConfigurationSetEventDestinationRequest",
        "documentation" : "<p>Represents a request to delete a configuration set event destination. Configuration set event destinations are associated with configuration sets, which enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DeleteConfigurationSetEventDestinationRequest",
        "variableSetterType" : "DeleteConfigurationSetEventDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationSetEventDestination",
      "operationName" : "DeleteConfigurationSetEventDestination",
      "returnType" : {
        "returnType" : "DeleteConfigurationSetEventDestinationResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "DeleteConfigurationSetEventDestinationResult"
    },
    "DeleteIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdentityRequest, DeleteIdentityResult>",
      "asyncReturnType" : "DeleteIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified identity (an email address or a domain) from the list of verified identities.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteIdentityRequest",
        "variableName" : "deleteIdentityRequest",
        "variableType" : "DeleteIdentityRequest",
        "documentation" : "<p>Represents a request to delete one of your Amazon SES identities (an email address or domain).</p>",
        "simpleType" : "DeleteIdentityRequest",
        "variableSetterType" : "DeleteIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIdentity",
      "operationName" : "DeleteIdentity",
      "returnType" : {
        "returnType" : "DeleteIdentityResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "DeleteIdentityResult"
    },
    "DeleteIdentityPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdentityPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdentityPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdentityPolicyRequest, DeleteIdentityPolicyResult>",
      "asyncReturnType" : "DeleteIdentityPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified sending authorization policy for the given identity (an email address or a domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteIdentityPolicyRequest",
        "variableName" : "deleteIdentityPolicyRequest",
        "variableType" : "DeleteIdentityPolicyRequest",
        "documentation" : "<p>Represents a request to delete a sending authorization policy for an identity. Sending authorization is an Amazon SES feature that enables you to authorize other senders to use your identities. For information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DeleteIdentityPolicyRequest",
        "variableSetterType" : "DeleteIdentityPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIdentityPolicy",
      "operationName" : "DeleteIdentityPolicy",
      "returnType" : {
        "returnType" : "DeleteIdentityPolicyResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "DeleteIdentityPolicyResult"
    },
    "DeleteReceiptFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReceiptFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReceiptFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReceiptFilterRequest, DeleteReceiptFilterResult>",
      "asyncReturnType" : "DeleteReceiptFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified IP address filter.</p> <p>For information about managing IP address filters, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-ip-filters.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReceiptFilterRequest",
        "variableName" : "deleteReceiptFilterRequest",
        "variableType" : "DeleteReceiptFilterRequest",
        "documentation" : "<p>Represents a request to delete an IP address filter. You use IP address filters when you receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DeleteReceiptFilterRequest",
        "variableSetterType" : "DeleteReceiptFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReceiptFilter",
      "operationName" : "DeleteReceiptFilter",
      "returnType" : {
        "returnType" : "DeleteReceiptFilterResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "DeleteReceiptFilterResult"
    },
    "DeleteReceiptRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReceiptRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReceiptRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReceiptRuleRequest, DeleteReceiptRuleResult>",
      "asyncReturnType" : "DeleteReceiptRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified receipt rule.</p> <p>For information about managing receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rules.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleSetDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule set does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReceiptRuleRequest",
        "variableName" : "deleteReceiptRuleRequest",
        "variableType" : "DeleteReceiptRuleRequest",
        "documentation" : "<p>Represents a request to delete a receipt rule. You use receipt rules to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DeleteReceiptRuleRequest",
        "variableSetterType" : "DeleteReceiptRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReceiptRule",
      "operationName" : "DeleteReceiptRule",
      "returnType" : {
        "returnType" : "DeleteReceiptRuleResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "DeleteReceiptRuleResult"
    },
    "DeleteReceiptRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReceiptRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReceiptRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReceiptRuleSetRequest, DeleteReceiptRuleSetResult>",
      "asyncReturnType" : "DeleteReceiptRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified receipt rule set and all of the receipt rules it contains.</p> <note> <p>The currently active rule set cannot be deleted.</p> </note> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "CannotDeleteException",
        "documentation" : "<p>Indicates that the delete operation could not be completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReceiptRuleSetRequest",
        "variableName" : "deleteReceiptRuleSetRequest",
        "variableType" : "DeleteReceiptRuleSetRequest",
        "documentation" : "<p>Represents a request to delete a receipt rule set and all of the receipt rules it contains. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DeleteReceiptRuleSetRequest",
        "variableSetterType" : "DeleteReceiptRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReceiptRuleSet",
      "operationName" : "DeleteReceiptRuleSet",
      "returnType" : {
        "returnType" : "DeleteReceiptRuleSetResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "DeleteReceiptRuleSetResult"
    },
    "DeleteVerifiedEmailAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVerifiedEmailAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVerifiedEmailAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVerifiedEmailAddressRequest, DeleteVerifiedEmailAddressResult>",
      "asyncReturnType" : "DeleteVerifiedEmailAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified email address from the list of verified addresses.</p> <important> <p>The DeleteVerifiedEmailAddress action is deprecated as of the May 15, 2012 release of Domain Verification. The DeleteIdentity action is now preferred.</p> </important> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteVerifiedEmailAddressRequest",
        "variableName" : "deleteVerifiedEmailAddressRequest",
        "variableType" : "DeleteVerifiedEmailAddressRequest",
        "documentation" : "<p>Represents a request to delete an email address from the list of email addresses you have attempted to verify under your AWS account.</p>",
        "simpleType" : "DeleteVerifiedEmailAddressRequest",
        "variableSetterType" : "DeleteVerifiedEmailAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVerifiedEmailAddress",
      "operationName" : "DeleteVerifiedEmailAddress",
      "returnType" : {
        "returnType" : "DeleteVerifiedEmailAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVerifiedEmailAddressResult"
    },
    "DescribeActiveReceiptRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeActiveReceiptRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeActiveReceiptRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeActiveReceiptRuleSetRequest, DescribeActiveReceiptRuleSetResult>",
      "asyncReturnType" : "DescribeActiveReceiptRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the metadata and receipt rules for the receipt rule set that is currently active.</p> <p>For information about setting up receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeActiveReceiptRuleSetRequest",
        "variableName" : "describeActiveReceiptRuleSetRequest",
        "variableType" : "DescribeActiveReceiptRuleSetRequest",
        "documentation" : "<p>Represents a request to return the metadata and receipt rules for the receipt rule set that is currently active. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DescribeActiveReceiptRuleSetRequest",
        "variableSetterType" : "DescribeActiveReceiptRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeActiveReceiptRuleSet",
      "operationName" : "DescribeActiveReceiptRuleSet",
      "returnType" : {
        "returnType" : "DescribeActiveReceiptRuleSetResult",
        "documentation" : "<p>Represents the metadata and receipt rules for the receipt rule set that is currently active.</p>"
      },
      "syncReturnType" : "DescribeActiveReceiptRuleSetResult"
    },
    "DescribeConfigurationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationSetRequest, DescribeConfigurationSetResult>",
      "asyncReturnType" : "DescribeConfigurationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of the specified configuration set.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "ConfigurationSetDoesNotExistException",
        "documentation" : "<p>Indicates that the configuration set does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigurationSetRequest",
        "variableName" : "describeConfigurationSetRequest",
        "variableType" : "DescribeConfigurationSetRequest",
        "documentation" : "<p>Represents a request to return the details of a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DescribeConfigurationSetRequest",
        "variableSetterType" : "DescribeConfigurationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationSet",
      "operationName" : "DescribeConfigurationSet",
      "returnType" : {
        "returnType" : "DescribeConfigurationSetResult",
        "documentation" : "<p>Represents the details of a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>"
      },
      "syncReturnType" : "DescribeConfigurationSetResult"
    },
    "DescribeReceiptRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReceiptRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReceiptRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReceiptRuleRequest, DescribeReceiptRuleResult>",
      "asyncReturnType" : "DescribeReceiptRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of the specified receipt rule.</p> <p>For information about setting up receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule does not exist.</p>"
      }, {
        "exceptionName" : "RuleSetDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule set does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeReceiptRuleRequest",
        "variableName" : "describeReceiptRuleRequest",
        "variableType" : "DescribeReceiptRuleRequest",
        "documentation" : "<p>Represents a request to return the details of a receipt rule. You use receipt rules to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DescribeReceiptRuleRequest",
        "variableSetterType" : "DescribeReceiptRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReceiptRule",
      "operationName" : "DescribeReceiptRule",
      "returnType" : {
        "returnType" : "DescribeReceiptRuleResult",
        "documentation" : "<p>Represents the details of a receipt rule.</p>"
      },
      "syncReturnType" : "DescribeReceiptRuleResult"
    },
    "DescribeReceiptRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReceiptRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReceiptRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReceiptRuleSetRequest, DescribeReceiptRuleSetResult>",
      "asyncReturnType" : "DescribeReceiptRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of the specified receipt rule set.</p> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleSetDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule set does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeReceiptRuleSetRequest",
        "variableName" : "describeReceiptRuleSetRequest",
        "variableType" : "DescribeReceiptRuleSetRequest",
        "documentation" : "<p>Represents a request to return the details of a receipt rule set. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "DescribeReceiptRuleSetRequest",
        "variableSetterType" : "DescribeReceiptRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReceiptRuleSet",
      "operationName" : "DescribeReceiptRuleSet",
      "returnType" : {
        "returnType" : "DescribeReceiptRuleSetResult",
        "documentation" : "<p>Represents the details of the specified receipt rule set.</p>"
      },
      "syncReturnType" : "DescribeReceiptRuleSetResult"
    },
    "GetIdentityDkimAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityDkimAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityDkimAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityDkimAttributesRequest, GetIdentityDkimAttributesResult>",
      "asyncReturnType" : "GetIdentityDkimAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current status of Easy DKIM signing for an entity. For domain name identities, this action also returns the DKIM tokens that are required for Easy DKIM signing, and whether Amazon SES has successfully verified that these tokens have been published.</p> <p>This action takes a list of identities as input and returns the following information for each:</p> <ul> <li> <p>Whether Easy DKIM signing is enabled or disabled.</p> </li> <li> <p>A set of DKIM tokens that represent the identity. If the identity is an email address, the tokens represent the domain of that address.</p> </li> <li> <p>Whether Amazon SES has successfully verified the DKIM tokens published in the domain's DNS. This information is only returned for domain name identities, not for email addresses.</p> </li> </ul> <p>This action is throttled at one request per second and can only get DKIM attributes for up to 100 identities at a time.</p> <p>For more information about creating DNS records using DKIM tokens, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim-dns-records.html\">Amazon SES Developer Guide</a>.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetIdentityDkimAttributesRequest",
        "variableName" : "getIdentityDkimAttributesRequest",
        "variableType" : "GetIdentityDkimAttributesRequest",
        "documentation" : "<p>Represents a request for the status of Amazon SES Easy DKIM signing for an identity. For domain identities, this request also returns the DKIM tokens that are required for Easy DKIM signing, and whether Amazon SES successfully verified that these tokens were published. For more information about Easy DKIM, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "GetIdentityDkimAttributesRequest",
        "variableSetterType" : "GetIdentityDkimAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdentityDkimAttributes",
      "operationName" : "GetIdentityDkimAttributes",
      "returnType" : {
        "returnType" : "GetIdentityDkimAttributesResult",
        "documentation" : "<p>Represents the status of Amazon SES Easy DKIM signing for an identity. For domain identities, this response also contains the DKIM tokens that are required for Easy DKIM signing, and whether Amazon SES successfully verified that these tokens were published.</p>"
      },
      "syncReturnType" : "GetIdentityDkimAttributesResult"
    },
    "GetIdentityMailFromDomainAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityMailFromDomainAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityMailFromDomainAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityMailFromDomainAttributesRequest, GetIdentityMailFromDomainAttributesResult>",
      "asyncReturnType" : "GetIdentityMailFromDomainAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the custom MAIL FROM attributes for a list of identities (email addresses and/or domains).</p> <p>This action is throttled at one request per second and can only get custom MAIL FROM attributes for up to 100 identities at a time.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetIdentityMailFromDomainAttributesRequest",
        "variableName" : "getIdentityMailFromDomainAttributesRequest",
        "variableType" : "GetIdentityMailFromDomainAttributesRequest",
        "documentation" : "<p>Represents a request to return the Amazon SES custom MAIL FROM attributes for a list of identities. For information about using a custom MAIL FROM domain, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/mail-from.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "GetIdentityMailFromDomainAttributesRequest",
        "variableSetterType" : "GetIdentityMailFromDomainAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdentityMailFromDomainAttributes",
      "operationName" : "GetIdentityMailFromDomainAttributes",
      "returnType" : {
        "returnType" : "GetIdentityMailFromDomainAttributesResult",
        "documentation" : "<p>Represents the custom MAIL FROM attributes for a list of identities.</p>"
      },
      "syncReturnType" : "GetIdentityMailFromDomainAttributesResult"
    },
    "GetIdentityNotificationAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityNotificationAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityNotificationAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityNotificationAttributesRequest, GetIdentityNotificationAttributesResult>",
      "asyncReturnType" : "GetIdentityNotificationAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Given a list of verified identities (email addresses and/or domains), returns a structure describing identity notification attributes.</p> <p>This action is throttled at one request per second and can only get notification attributes for up to 100 identities at a time.</p> <p>For more information about using notifications with Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications.html\">Amazon SES Developer Guide</a>.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetIdentityNotificationAttributesRequest",
        "variableName" : "getIdentityNotificationAttributesRequest",
        "variableType" : "GetIdentityNotificationAttributesRequest",
        "documentation" : "<p>Represents a request to return the notification attributes for a list of identities you verified with Amazon SES. For information about Amazon SES notifications, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "GetIdentityNotificationAttributesRequest",
        "variableSetterType" : "GetIdentityNotificationAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdentityNotificationAttributes",
      "operationName" : "GetIdentityNotificationAttributes",
      "returnType" : {
        "returnType" : "GetIdentityNotificationAttributesResult",
        "documentation" : "<p>Represents the notification attributes for a list of identities.</p>"
      },
      "syncReturnType" : "GetIdentityNotificationAttributesResult"
    },
    "GetIdentityPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityPoliciesRequest, GetIdentityPoliciesResult>",
      "asyncReturnType" : "GetIdentityPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the requested sending authorization policies for the given identity (an email address or a domain). The policies are returned as a map of policy names to policy contents. You can retrieve a maximum of 20 policies at a time.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetIdentityPoliciesRequest",
        "variableName" : "getIdentityPoliciesRequest",
        "variableType" : "GetIdentityPoliciesRequest",
        "documentation" : "<p>Represents a request to return the requested sending authorization policies for an identity. Sending authorization is an Amazon SES feature that enables you to authorize other senders to use your identities. For information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "GetIdentityPoliciesRequest",
        "variableSetterType" : "GetIdentityPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdentityPolicies",
      "operationName" : "GetIdentityPolicies",
      "returnType" : {
        "returnType" : "GetIdentityPoliciesResult",
        "documentation" : "<p>Represents the requested sending authorization policies.</p>"
      },
      "syncReturnType" : "GetIdentityPoliciesResult"
    },
    "GetIdentityVerificationAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityVerificationAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityVerificationAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityVerificationAttributesRequest, GetIdentityVerificationAttributesResult>",
      "asyncReturnType" : "GetIdentityVerificationAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Given a list of identities (email addresses and/or domains), returns the verification status and (for domain identities) the verification token for each identity.</p> <p>This action is throttled at one request per second and can only get verification attributes for up to 100 identities at a time.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetIdentityVerificationAttributesRequest",
        "variableName" : "getIdentityVerificationAttributesRequest",
        "variableType" : "GetIdentityVerificationAttributesRequest",
        "documentation" : "<p>Represents a request to return the Amazon SES verification status of a list of identities. For domain identities, this request also returns the verification token. For information about verifying identities with Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-addresses-and-domains.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "GetIdentityVerificationAttributesRequest",
        "variableSetterType" : "GetIdentityVerificationAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdentityVerificationAttributes",
      "operationName" : "GetIdentityVerificationAttributes",
      "returnType" : {
        "returnType" : "GetIdentityVerificationAttributesResult",
        "documentation" : "<p>The Amazon SES verification status of a list of identities. For domain identities, this response also contains the verification token.</p>"
      },
      "syncReturnType" : "GetIdentityVerificationAttributesResult"
    },
    "GetSendQuota" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSendQuotaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSendQuotaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSendQuotaRequest, GetSendQuotaResult>",
      "asyncReturnType" : "GetSendQuotaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the user's current sending limits.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSendQuotaRequest",
        "variableName" : "getSendQuotaRequest",
        "variableType" : "GetSendQuotaRequest",
        "documentation" : null,
        "simpleType" : "GetSendQuotaRequest",
        "variableSetterType" : "GetSendQuotaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSendQuota",
      "operationName" : "GetSendQuota",
      "returnType" : {
        "returnType" : "GetSendQuotaResult",
        "documentation" : "<p>Represents your Amazon SES daily sending quota, maximum send rate, and the number of emails you have sent in the last 24 hours.</p>"
      },
      "syncReturnType" : "GetSendQuotaResult"
    },
    "GetSendStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSendStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSendStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSendStatisticsRequest, GetSendStatisticsResult>",
      "asyncReturnType" : "GetSendStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the user's sending statistics. The result is a list of data points, representing the last two weeks of sending activity.</p> <p>Each data point in the list contains statistics for a 15-minute interval.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSendStatisticsRequest",
        "variableName" : "getSendStatisticsRequest",
        "variableType" : "GetSendStatisticsRequest",
        "documentation" : null,
        "simpleType" : "GetSendStatisticsRequest",
        "variableSetterType" : "GetSendStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSendStatistics",
      "operationName" : "GetSendStatistics",
      "returnType" : {
        "returnType" : "GetSendStatisticsResult",
        "documentation" : "<p>Represents a list of data points. This list contains aggregated data from the previous two weeks of your sending activity with Amazon SES.</p>"
      },
      "syncReturnType" : "GetSendStatisticsResult"
    },
    "ListConfigurationSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationSetsRequest, ListConfigurationSetsResult>",
      "asyncReturnType" : "ListConfigurationSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the configuration sets associated with your AWS account.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second and can return up to 50 configuration sets at a time.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListConfigurationSetsRequest",
        "variableName" : "listConfigurationSetsRequest",
        "variableType" : "ListConfigurationSetsRequest",
        "documentation" : "<p>Represents a request to list the configuration sets associated with your AWS account. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "ListConfigurationSetsRequest",
        "variableSetterType" : "ListConfigurationSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurationSets",
      "operationName" : "ListConfigurationSets",
      "returnType" : {
        "returnType" : "ListConfigurationSetsResult",
        "documentation" : "<p>A list of configuration sets associated with your AWS account. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>"
      },
      "syncReturnType" : "ListConfigurationSetsResult"
    },
    "ListIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentitiesRequest, ListIdentitiesResult>",
      "asyncReturnType" : "ListIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list containing all of the identities (email addresses and domains) for your AWS account, regardless of verification status.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListIdentitiesRequest",
        "variableName" : "listIdentitiesRequest",
        "variableType" : "ListIdentitiesRequest",
        "documentation" : "<p>Represents a request to return a list of all identities (email addresses and domains) that you have attempted to verify under your AWS account, regardless of verification status.</p>",
        "simpleType" : "ListIdentitiesRequest",
        "variableSetterType" : "ListIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdentities",
      "operationName" : "ListIdentities",
      "returnType" : {
        "returnType" : "ListIdentitiesResult",
        "documentation" : "<p>A list of all identities that you have attempted to verify under your AWS account, regardless of verification status.</p>"
      },
      "syncReturnType" : "ListIdentitiesResult"
    },
    "ListIdentityPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentityPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentityPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentityPoliciesRequest, ListIdentityPoliciesResult>",
      "asyncReturnType" : "ListIdentityPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of sending authorization policies that are attached to the given identity (an email address or a domain). This API returns only a list. If you want the actual policy content, you can use <code>GetIdentityPolicies</code>.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListIdentityPoliciesRequest",
        "variableName" : "listIdentityPoliciesRequest",
        "variableType" : "ListIdentityPoliciesRequest",
        "documentation" : "<p>Represents a request to return a list of sending authorization policies that are attached to an identity. Sending authorization is an Amazon SES feature that enables you to authorize other senders to use your identities. For information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "ListIdentityPoliciesRequest",
        "variableSetterType" : "ListIdentityPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdentityPolicies",
      "operationName" : "ListIdentityPolicies",
      "returnType" : {
        "returnType" : "ListIdentityPoliciesResult",
        "documentation" : "<p>A list of names of sending authorization policies that apply to an identity.</p>"
      },
      "syncReturnType" : "ListIdentityPoliciesResult"
    },
    "ListReceiptFilters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReceiptFiltersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReceiptFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReceiptFiltersRequest, ListReceiptFiltersResult>",
      "asyncReturnType" : "ListReceiptFiltersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the IP address filters associated with your AWS account.</p> <p>For information about managing IP address filters, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-ip-filters.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListReceiptFiltersRequest",
        "variableName" : "listReceiptFiltersRequest",
        "variableType" : "ListReceiptFiltersRequest",
        "documentation" : "<p>Represents a request to list the IP address filters that exist under your AWS account. You use IP address filters when you receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "ListReceiptFiltersRequest",
        "variableSetterType" : "ListReceiptFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReceiptFilters",
      "operationName" : "ListReceiptFilters",
      "returnType" : {
        "returnType" : "ListReceiptFiltersResult",
        "documentation" : "<p>A list of IP address filters that exist under your AWS account.</p>"
      },
      "syncReturnType" : "ListReceiptFiltersResult"
    },
    "ListReceiptRuleSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReceiptRuleSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReceiptRuleSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReceiptRuleSetsRequest, ListReceiptRuleSetsResult>",
      "asyncReturnType" : "ListReceiptRuleSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the receipt rule sets that exist under your AWS account. If there are additional receipt rule sets to be retrieved, you will receive a <code>NextToken</code> that you can provide to the next call to <code>ListReceiptRuleSets</code> to retrieve the additional entries.</p> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListReceiptRuleSetsRequest",
        "variableName" : "listReceiptRuleSetsRequest",
        "variableType" : "ListReceiptRuleSetsRequest",
        "documentation" : "<p>Represents a request to list the receipt rule sets that exist under your AWS account. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "ListReceiptRuleSetsRequest",
        "variableSetterType" : "ListReceiptRuleSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReceiptRuleSets",
      "operationName" : "ListReceiptRuleSets",
      "returnType" : {
        "returnType" : "ListReceiptRuleSetsResult",
        "documentation" : "<p>A list of receipt rule sets that exist under your AWS account.</p>"
      },
      "syncReturnType" : "ListReceiptRuleSetsResult"
    },
    "ListVerifiedEmailAddresses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVerifiedEmailAddressesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVerifiedEmailAddressesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVerifiedEmailAddressesRequest, ListVerifiedEmailAddressesResult>",
      "asyncReturnType" : "ListVerifiedEmailAddressesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list containing all of the email addresses that have been verified.</p> <important> <p>The ListVerifiedEmailAddresses action is deprecated as of the May 15, 2012 release of Domain Verification. The ListIdentities action is now preferred.</p> </important> <p>This action is throttled at one request per second.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListVerifiedEmailAddressesRequest",
        "variableName" : "listVerifiedEmailAddressesRequest",
        "variableType" : "ListVerifiedEmailAddressesRequest",
        "documentation" : null,
        "simpleType" : "ListVerifiedEmailAddressesRequest",
        "variableSetterType" : "ListVerifiedEmailAddressesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVerifiedEmailAddresses",
      "operationName" : "ListVerifiedEmailAddresses",
      "returnType" : {
        "returnType" : "ListVerifiedEmailAddressesResult",
        "documentation" : "<p>A list of email addresses that you have verified with Amazon SES under your AWS account.</p>"
      },
      "syncReturnType" : "ListVerifiedEmailAddressesResult"
    },
    "PutIdentityPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutIdentityPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutIdentityPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutIdentityPolicyRequest, PutIdentityPolicyResult>",
      "asyncReturnType" : "PutIdentityPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates a sending authorization policy for the specified identity (an email address or a domain).</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidPolicyException",
        "documentation" : "<p>Indicates that the provided policy is invalid. Check the error stack for more information about what caused the error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutIdentityPolicyRequest",
        "variableName" : "putIdentityPolicyRequest",
        "variableType" : "PutIdentityPolicyRequest",
        "documentation" : "<p>Represents a request to add or update a sending authorization policy for an identity. Sending authorization is an Amazon SES feature that enables you to authorize other senders to use your identities. For information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "PutIdentityPolicyRequest",
        "variableSetterType" : "PutIdentityPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putIdentityPolicy",
      "operationName" : "PutIdentityPolicy",
      "returnType" : {
        "returnType" : "PutIdentityPolicyResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "PutIdentityPolicyResult"
    },
    "ReorderReceiptRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ReorderReceiptRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ReorderReceiptRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReorderReceiptRuleSetRequest, ReorderReceiptRuleSetResult>",
      "asyncReturnType" : "ReorderReceiptRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Reorders the receipt rules within a receipt rule set.</p> <note> <p>All of the rules in the rule set must be represented in this request. That is, this API will return an error if the reorder request doesn't explicitly position all of the rules.</p> </note> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleSetDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule set does not exist.</p>"
      }, {
        "exceptionName" : "RuleDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ReorderReceiptRuleSetRequest",
        "variableName" : "reorderReceiptRuleSetRequest",
        "variableType" : "ReorderReceiptRuleSetRequest",
        "documentation" : "<p>Represents a request to reorder the receipt rules within a receipt rule set. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "ReorderReceiptRuleSetRequest",
        "variableSetterType" : "ReorderReceiptRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "reorderReceiptRuleSet",
      "operationName" : "ReorderReceiptRuleSet",
      "returnType" : {
        "returnType" : "ReorderReceiptRuleSetResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "ReorderReceiptRuleSetResult"
    },
    "SendBounce" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendBounceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendBounceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendBounceRequest, SendBounceResult>",
      "asyncReturnType" : "SendBounceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates and sends a bounce message to the sender of an email you received through Amazon SES. You can only use this API on an email up to 24 hours after you receive it.</p> <note> <p>You cannot use this API to send generic bounces for mail that was not received by Amazon SES.</p> </note> <p>For information about receiving email through Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "MessageRejectedException",
        "documentation" : "<p>Indicates that the action failed, and the message could not be sent. Check the error stack for more information about what caused the error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SendBounceRequest",
        "variableName" : "sendBounceRequest",
        "variableType" : "SendBounceRequest",
        "documentation" : "<p>Represents a request to send a bounce message to the sender of an email you received through Amazon SES.</p>",
        "simpleType" : "SendBounceRequest",
        "variableSetterType" : "SendBounceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendBounce",
      "operationName" : "SendBounce",
      "returnType" : {
        "returnType" : "SendBounceResult",
        "documentation" : "<p>Represents a unique message ID.</p>"
      },
      "syncReturnType" : "SendBounceResult"
    },
    "SendEmail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendEmailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendEmailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendEmailRequest, SendEmailResult>",
      "asyncReturnType" : "SendEmailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Composes an email message based on input data, and then immediately queues the message for sending.</p> <p>There are several important points to know about <code>SendEmail</code>:</p> <ul> <li> <p>You can only send email from verified email addresses and domains; otherwise, you will get an \"Email address not verified\" error. If your account is still in the Amazon SES sandbox, you must also verify every recipient email address except for the recipients provided by the Amazon SES mailbox simulator. For more information, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-addresses-and-domains.html\">Amazon SES Developer Guide</a>.</p> </li> <li> <p>The total size of the message cannot exceed 10 MB. This includes any attachments that are part of the message.</p> </li> <li> <p>Amazon SES has a limit on the total number of recipients per message. The combined number of To:, CC: and BCC: email addresses cannot exceed 50. If you need to send an email message to a larger audience, you can divide your recipient list into groups of 50 or fewer, and then call Amazon SES repeatedly to send the message to each group.</p> </li> <li> <p>For every message that you send, the total number of recipients (To:, CC: and BCC:) is counted against your sending quota - the maximum number of emails you can send in a 24-hour period. For information about your sending quota, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/manage-sending-limits.html\">Amazon SES Developer Guide</a>.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "MessageRejectedException",
        "documentation" : "<p>Indicates that the action failed, and the message could not be sent. Check the error stack for more information about what caused the error.</p>"
      }, {
        "exceptionName" : "MailFromDomainNotVerifiedException",
        "documentation" : "<p> Indicates that the message could not be sent because Amazon SES could not read the MX record required to use the specified MAIL FROM domain. For information about editing the custom MAIL FROM domain settings for an identity, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/mail-from-edit.html\">Amazon SES Developer Guide</a>.</p>"
      }, {
        "exceptionName" : "ConfigurationSetDoesNotExistException",
        "documentation" : "<p>Indicates that the configuration set does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SendEmailRequest",
        "variableName" : "sendEmailRequest",
        "variableType" : "SendEmailRequest",
        "documentation" : "<p>Represents a request to send a single formatted email using Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-email-formatted.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "SendEmailRequest",
        "variableSetterType" : "SendEmailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendEmail",
      "operationName" : "SendEmail",
      "returnType" : {
        "returnType" : "SendEmailResult",
        "documentation" : "<p>Represents a unique message ID.</p>"
      },
      "syncReturnType" : "SendEmailResult"
    },
    "SendRawEmail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendRawEmailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendRawEmailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendRawEmailRequest, SendRawEmailResult>",
      "asyncReturnType" : "SendRawEmailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends an email message, with header and content specified by the client. The <code>SendRawEmail</code> action is useful for sending multipart MIME emails. The raw text of the message must comply with Internet email standards; otherwise, the message cannot be sent. </p> <p>There are several important points to know about <code>SendRawEmail</code>:</p> <ul> <li> <p>You can only send email from verified email addresses and domains; otherwise, you will get an \"Email address not verified\" error. If your account is still in the Amazon SES sandbox, you must also verify every recipient email address except for the recipients provided by the Amazon SES mailbox simulator. For more information, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-addresses-and-domains.html\">Amazon SES Developer Guide</a>.</p> </li> <li> <p>The total size of the message cannot exceed 10 MB. This includes any attachments that are part of the message.</p> </li> <li> <p>Amazon SES has a limit on the total number of recipients per message. The combined number of To:, CC: and BCC: email addresses cannot exceed 50. If you need to send an email message to a larger audience, you can divide your recipient list into groups of 50 or fewer, and then call Amazon SES repeatedly to send the message to each group.</p> </li> <li> <p>The To:, CC:, and BCC: headers in the raw message can contain a group list. Note that each recipient in a group list counts towards the 50-recipient limit.</p> </li> <li> <p>Amazon SES overrides any Message-ID and Date headers you provide.</p> </li> <li> <p>For every message that you send, the total number of recipients (To:, CC: and BCC:) is counted against your sending quota - the maximum number of emails you can send in a 24-hour period. For information about your sending quota, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/manage-sending-limits.html\">Amazon SES Developer Guide</a>.</p> </li> <li> <p>If you are using sending authorization to send on behalf of another user, <code>SendRawEmail</code> enables you to specify the cross-account identity for the email's \"Source,\" \"From,\" and \"Return-Path\" parameters in one of two ways: you can pass optional parameters <code>SourceArn</code>, <code>FromArn</code>, and/or <code>ReturnPathArn</code> to the API, or you can include the following X-headers in the header of your raw email:</p> <ul> <li> <p> <code>X-SES-SOURCE-ARN</code> </p> </li> <li> <p> <code>X-SES-FROM-ARN</code> </p> </li> <li> <p> <code>X-SES-RETURN-PATH-ARN</code> </p> </li> </ul> <important> <p>Do not include these X-headers in the DKIM signature, because they are removed by Amazon SES before sending the email.</p> </important> <p>For the most common sending authorization use case, we recommend that you specify the <code>SourceIdentityArn</code> and do not specify either the <code>FromIdentityArn</code> or <code>ReturnPathIdentityArn</code>. (The same note applies to the corresponding X-headers.) If you only specify the <code>SourceIdentityArn</code>, Amazon SES will simply set the \"From\" address and the \"Return Path\" address to the identity specified in <code>SourceIdentityArn</code>. For more information about sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "MessageRejectedException",
        "documentation" : "<p>Indicates that the action failed, and the message could not be sent. Check the error stack for more information about what caused the error.</p>"
      }, {
        "exceptionName" : "MailFromDomainNotVerifiedException",
        "documentation" : "<p> Indicates that the message could not be sent because Amazon SES could not read the MX record required to use the specified MAIL FROM domain. For information about editing the custom MAIL FROM domain settings for an identity, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/mail-from-edit.html\">Amazon SES Developer Guide</a>.</p>"
      }, {
        "exceptionName" : "ConfigurationSetDoesNotExistException",
        "documentation" : "<p>Indicates that the configuration set does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SendRawEmailRequest",
        "variableName" : "sendRawEmailRequest",
        "variableType" : "SendRawEmailRequest",
        "documentation" : "<p>Represents a request to send a single raw email using Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-email-raw.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "SendRawEmailRequest",
        "variableSetterType" : "SendRawEmailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendRawEmail",
      "operationName" : "SendRawEmail",
      "returnType" : {
        "returnType" : "SendRawEmailResult",
        "documentation" : "<p>Represents a unique message ID.</p>"
      },
      "syncReturnType" : "SendRawEmailResult"
    },
    "SetActiveReceiptRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetActiveReceiptRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetActiveReceiptRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetActiveReceiptRuleSetRequest, SetActiveReceiptRuleSetResult>",
      "asyncReturnType" : "SetActiveReceiptRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the specified receipt rule set as the active receipt rule set.</p> <note> <p>To disable your email-receiving through Amazon SES completely, you can call this API with RuleSetName set to null.</p> </note> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleSetDoesNotExistException",
        "documentation" : "<p>Indicates that the provided receipt rule set does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetActiveReceiptRuleSetRequest",
        "variableName" : "setActiveReceiptRuleSetRequest",
        "variableType" : "SetActiveReceiptRuleSetRequest",
        "documentation" : "<p>Represents a request to set a receipt rule set as the active receipt rule set. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "SetActiveReceiptRuleSetRequest",
        "variableSetterType" : "SetActiveReceiptRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setActiveReceiptRuleSet",
      "operationName" : "SetActiveReceiptRuleSet",
      "returnType" : {
        "returnType" : "SetActiveReceiptRuleSetResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "SetActiveReceiptRuleSetResult"
    },
    "SetIdentityDkimEnabled" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetIdentityDkimEnabledResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetIdentityDkimEnabledResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetIdentityDkimEnabledRequest, SetIdentityDkimEnabledResult>",
      "asyncReturnType" : "SetIdentityDkimEnabledResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables or disables Easy DKIM signing of email sent from an identity:</p> <ul> <li> <p>If Easy DKIM signing is enabled for a domain name identity (e.g., <code>example.com</code>), then Amazon SES will DKIM-sign all email sent by addresses under that domain name (e.g., <code>user@example.com</code>).</p> </li> <li> <p>If Easy DKIM signing is enabled for an email address, then Amazon SES will DKIM-sign all email sent by that email address.</p> </li> </ul> <p>For email addresses (e.g., <code>user@example.com</code>), you can only enable Easy DKIM signing if the corresponding domain (e.g., <code>example.com</code>) has been set up for Easy DKIM using the AWS Console or the <code>VerifyDomainDkim</code> action.</p> <p>This action is throttled at one request per second.</p> <p>For more information about Easy DKIM signing, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Amazon SES Developer Guide</a>.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetIdentityDkimEnabledRequest",
        "variableName" : "setIdentityDkimEnabledRequest",
        "variableType" : "SetIdentityDkimEnabledRequest",
        "documentation" : "<p>Represents a request to enable or disable Amazon SES Easy DKIM signing for an identity. For more information about setting up Easy DKIM, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "SetIdentityDkimEnabledRequest",
        "variableSetterType" : "SetIdentityDkimEnabledRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setIdentityDkimEnabled",
      "operationName" : "SetIdentityDkimEnabled",
      "returnType" : {
        "returnType" : "SetIdentityDkimEnabledResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "SetIdentityDkimEnabledResult"
    },
    "SetIdentityFeedbackForwardingEnabled" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetIdentityFeedbackForwardingEnabledResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetIdentityFeedbackForwardingEnabledResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetIdentityFeedbackForwardingEnabledRequest, SetIdentityFeedbackForwardingEnabledResult>",
      "asyncReturnType" : "SetIdentityFeedbackForwardingEnabledResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Given an identity (an email address or a domain), enables or disables whether Amazon SES forwards bounce and complaint notifications as email. Feedback forwarding can only be disabled when Amazon Simple Notification Service (Amazon SNS) topics are specified for both bounces and complaints.</p> <note> <p>Feedback forwarding does not apply to delivery notifications. Delivery notifications are only available through Amazon SNS.</p> </note> <p>This action is throttled at one request per second.</p> <p>For more information about using notifications with Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications.html\">Amazon SES Developer Guide</a>.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetIdentityFeedbackForwardingEnabledRequest",
        "variableName" : "setIdentityFeedbackForwardingEnabledRequest",
        "variableType" : "SetIdentityFeedbackForwardingEnabledRequest",
        "documentation" : "<p>Represents a request to enable or disable whether Amazon SES forwards you bounce and complaint notifications through email. For information about email feedback forwarding, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications-via-email.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "SetIdentityFeedbackForwardingEnabledRequest",
        "variableSetterType" : "SetIdentityFeedbackForwardingEnabledRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setIdentityFeedbackForwardingEnabled",
      "operationName" : "SetIdentityFeedbackForwardingEnabled",
      "returnType" : {
        "returnType" : "SetIdentityFeedbackForwardingEnabledResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "SetIdentityFeedbackForwardingEnabledResult"
    },
    "SetIdentityHeadersInNotificationsEnabled" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetIdentityHeadersInNotificationsEnabledResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetIdentityHeadersInNotificationsEnabledResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetIdentityHeadersInNotificationsEnabledRequest, SetIdentityHeadersInNotificationsEnabledResult>",
      "asyncReturnType" : "SetIdentityHeadersInNotificationsEnabledResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Given an identity (an email address or a domain), sets whether Amazon SES includes the original email headers in the Amazon Simple Notification Service (Amazon SNS) notifications of a specified type.</p> <p>This action is throttled at one request per second.</p> <p>For more information about using notifications with Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications.html\">Amazon SES Developer Guide</a>.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetIdentityHeadersInNotificationsEnabledRequest",
        "variableName" : "setIdentityHeadersInNotificationsEnabledRequest",
        "variableType" : "SetIdentityHeadersInNotificationsEnabledRequest",
        "documentation" : "<p>Represents a request to set whether Amazon SES includes the original email headers in the Amazon SNS notifications of a specified type. For information about notifications, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications-via-sns.html\">Amazon SES Developer Guide</a>.</p>",
        "simpleType" : "SetIdentityHeadersInNotificationsEnabledRequest",
        "variableSetterType" : "SetIdentityHeadersInNotificationsEnabledRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setIdentityHeadersInNotificationsEnabled",
      "operationName" : "SetIdentityHeadersInNotificationsEnabled",
      "returnType" : {
        "returnType" : "SetIdentityHeadersInNotificationsEnabledResult",
        "documentation" : "<p>An empty element returned on a successful request.</p>"
      },
      "syncReturnType" : "SetIdentityHeadersInNotificationsEnabledResult"
    },
    "SetIdentityMailFromDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetIdentityMailFromDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetIdentityMailFromDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetIdentityMailFromDomainRequest, SetIdentityMailFromDomainResult>",
      "asyncReturnType" : "SetIdentityMailFromDomainResult",
      "authenticated" : true,
      "deprecated" : false,
[...]
