{
  "metadata" : {
    "apiVersion" : "2012-11-05",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<p>Welcome to the <i>Amazon Simple Queue Service API Reference</i>. This section describes who should read this guide, how the guide is organized, and other resources related to the Amazon Simple Queue Service (Amazon SQS).</p> <p>Amazon SQS offers reliable and scalable hosted queues for storing messages as they travel between computers. By using Amazon SQS, you can move data between distributed components of your applications that perform different tasks without losing messages or requiring each component to be always available.</p> <p>Helpful Links:</p> <ul> <li><p><a href=\"http://queue.amazonaws.com/doc/2012-11-05/QueueService.wsdl\">Current WSDL (2012-11-05)</a></p></li> <li><p><a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/MakingRequestsArticle.html\">Making API Requests</a></p></li> <li><p><a href=\"http://aws.amazon.com/sqs/\">Amazon SQS product page</a></p></li> <li><p><a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html\">Using Amazon SQS Message Attributes</a></p></li> <li><p><a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSDeadLetterQueue.html\">Using Amazon SQS Dead Letter Queues</a></p></li> <li><p><a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sqs_region\">Regions and Endpoints</a></p></li> </ul> <p>We also provide SDKs that enable you to access Amazon SQS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as:</p> <ul> <li><p>Cryptographically signing your service requests</p></li> <li><p>Retrying requests</p></li> <li><p>Handling error responses</p></li> </ul> <p>For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p>",
    "defaultEndpoint" : "https://sqs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sqs.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonSQS",
    "syncClient" : "AmazonSQSClient",
    "asyncInterface" : "AmazonSQSAsync",
    "asyncClient" : "AmazonSQSAsyncClient",
    "packageName" : "com.amazonaws.services.sqs",
    "packagePath" : "com/amazonaws/services/sqs",
    "serviceAbbreviation" : "Amazon SQS",
    "serviceFullName" : "Amazon Simple Queue Service",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "sqs",
    "signingName" : "sqs",
    "syncClientBuilderClassName" : "AmazonSQSClientBuilder",
    "asyncClientBuilderClassName" : "AmazonSQSAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonSQSModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.sqs.smoketests",
    "serviceName" : "Amazon SQS",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "jsonProtocol" : false,
    "xmlProtocol" : true,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller"
  },
  "operations" : {
    "AddPermission" : {
      "documentation" : "<p>Adds a permission to a queue for a specific <a href=\"http://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P\">principal</a>. This allows for sharing access to the queue.</p> <p>When you create a queue, you have full control access rights for the queue. Only you (as owner of the queue) can grant or deny permissions to the queue. For more information about these permissions, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/acp-overview.html\">Shared Queues</a> in the <i>Amazon SQS Developer Guide</i>.</p> <note> <p><code>AddPermission</code> writes an Amazon SQS-generated policy. If you want to write your own policy, use <a>SetQueueAttributes</a> to upload your policy. For more information about writing your own policy, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AccessPolicyLanguage.html\">Using The Access Policy Language</a> in the <i>Amazon SQS Developer Guide</i>.</p> </note> <note><p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> </note> <p><code><![CDATA[&amp;Attribute.1=this]]></code></p> <p><code><![CDATA[&amp;Attribute.2=that]]></code></p>",
      "operationName" : "AddPermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "addPermissionRequest",
        "variableType" : "AddPermissionRequest",
        "variableDeclarationType" : "AddPermissionRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "AddPermissionRequest",
        "simpleType" : "AddPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddPermissionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "OverLimitException",
        "documentation" : "<p>The action that you requested would violate a limit. For example, ReceiveMessage returns this error if the maximum number of messages inflight has already been reached. <a>AddPermission</a> returns this error if the maximum number of permissions for the queue has already been reached. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddPermissionResult",
      "asyncReturnType" : "AddPermissionResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddPermissionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddPermissionRequest, AddPermissionResult>",
      "authenticated" : true,
      "methodName" : "addPermission"
    },
    "ChangeMessageVisibility" : {
      "documentation" : "<p>Changes the visibility timeout of a specified message in a queue to a new value. The maximum allowed timeout value you can set the value to is 12 hours. This means you can't extend the timeout of a message in an existing queue to more than a total visibility timeout of 12 hours. (For more information visibility timeout, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AboutVT.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>.)</p> <p>For example, let's say you have a message and its default message visibility timeout is 5 minutes. After 3 minutes, you call <code>ChangeMessageVisiblity</code> with a timeout of 10 minutes. At that time, the timeout for the message would be extended by 10 minutes beyond the time of the ChangeMessageVisibility call. This results in a total visibility timeout of 13 minutes. You can continue to call ChangeMessageVisibility to extend the visibility timeout to a maximum of 12 hours. If you try to extend beyond 12 hours, the request will be rejected.</p> <note><p>There is a 120,000 limit for the number of inflight messages per queue. Messages are inflight after they have been received from the queue by a consuming component, but have not yet been deleted from the queue. If you reach the 120,000 limit, you will receive an OverLimit error message from Amazon SQS. To help avoid reaching the limit, you should delete the messages from the queue after they have been processed. You can also increase the number of queues you use to process the messages. </p></note> <important><p>If you attempt to set the <code>VisibilityTimeout</code> to an amount more than the maximum time left, Amazon SQS returns an error. It will not automatically recalculate and increase the timeout to the maximum time remaining.</p></important> <important><p>Unlike with a queue, when you change the visibility timeout for a specific message, that timeout value is applied immediately but is not saved in memory for that message. If you don't delete a message after it is received, the visibility timeout for the message the next time it is received reverts to the original timeout value, not the value you set with the <code>ChangeMessageVisibility</code> action.</p></important>",
      "operationName" : "ChangeMessageVisibility",
      "deprecated" : false,
      "input" : {
        "variableName" : "changeMessageVisibilityRequest",
        "variableType" : "ChangeMessageVisibilityRequest",
        "variableDeclarationType" : "ChangeMessageVisibilityRequest",
        "documentation" : "",
        "variableSetterType" : "ChangeMessageVisibilityRequest",
        "simpleType" : "ChangeMessageVisibilityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ChangeMessageVisibilityResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "MessageNotInflightException",
        "documentation" : "<p>The message referred to is not in flight.</p>"
      }, {
        "exceptionName" : "ReceiptHandleIsInvalidException",
        "documentation" : "<p>The receipt handle provided is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ChangeMessageVisibilityResult",
      "asyncReturnType" : "ChangeMessageVisibilityResult",
      "asyncFutureType" : "java.util.concurrent.Future<ChangeMessageVisibilityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ChangeMessageVisibilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ChangeMessageVisibilityRequest, ChangeMessageVisibilityResult>",
      "authenticated" : true,
      "methodName" : "changeMessageVisibility"
    },
    "ChangeMessageVisibilityBatch" : {
      "documentation" : "<p>Changes the visibility timeout of multiple messages. This is a batch version of <a>ChangeMessageVisibility</a>. The result of the action on each message is reported individually in the response. You can send up to 10 <a>ChangeMessageVisibility</a> requests with each <code>ChangeMessageVisibilityBatch</code> action.</p> <important><p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of 200.</p></important> <note><p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> </note> <p><code><![CDATA[&amp;Attribute.1=this]]></code></p> <p><code><![CDATA[&amp;Attribute.2=that]]></code></p>",
      "operationName" : "ChangeMessageVisibilityBatch",
      "deprecated" : false,
      "input" : {
        "variableName" : "changeMessageVisibilityBatchRequest",
        "variableType" : "ChangeMessageVisibilityBatchRequest",
        "variableDeclarationType" : "ChangeMessageVisibilityBatchRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "ChangeMessageVisibilityBatchRequest",
        "simpleType" : "ChangeMessageVisibilityBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ChangeMessageVisibilityBatchResult",
        "documentation" : "<p> For each message in the batch, the response contains a <a>ChangeMessageVisibilityBatchResultEntry</a> tag if the message succeeds or a <a>BatchResultErrorEntry</a> tag if the message fails. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyEntriesInBatchRequestException",
        "documentation" : "<p>Batch request contains more number of entries than permissible.</p>"
      }, {
        "exceptionName" : "EmptyBatchRequestException",
        "documentation" : "<p>Batch request does not contain an entry.</p>"
      }, {
        "exceptionName" : "BatchEntryIdsNotDistinctException",
        "documentation" : "<p>Two or more batch entries have the same <code>Id</code> in the request.</p>"
      }, {
        "exceptionName" : "InvalidBatchEntryIdException",
        "documentation" : "<p>The <code>Id</code> of a batch entry in a batch request does not abide by the specification.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ChangeMessageVisibilityBatchResult",
      "asyncReturnType" : "ChangeMessageVisibilityBatchResult",
      "asyncFutureType" : "java.util.concurrent.Future<ChangeMessageVisibilityBatchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ChangeMessageVisibilityBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ChangeMessageVisibilityBatchRequest, ChangeMessageVisibilityBatchResult>",
      "authenticated" : true,
      "methodName" : "changeMessageVisibilityBatch"
    },
    "CreateQueue" : {
      "documentation" : "<p>Creates a new queue, or returns the URL of an existing one. When you request <code>CreateQueue</code>, you provide a name for the queue. To successfully create a new queue, you must provide a name that is unique within the scope of your own queues.</p> <note> <p>If you delete a queue, you must wait at least 60 seconds before creating a queue with the same name.</p> </note> <p>You may pass one or more attributes in the request. If you do not provide a value for any attribute, the queue will have the default value for that attribute.</p> <note><p>Use <a>GetQueueUrl</a> to get a queue's URL. <a>GetQueueUrl</a> requires only the <code>QueueName</code> parameter.</p></note> <p>If you provide the name of an existing queue, along with the exact names and values of all the queue's attributes, <code>CreateQueue</code> returns the queue URL for the existing queue. If the queue name, attribute names, or attribute values do not match an existing queue, <code>CreateQueue</code> returns an error.</p> <note><p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> </note> <p><code><![CDATA[&amp;Attribute.1=this]]></code></p> <p><code><![CDATA[&amp;Attribute.2=that]]></code></p>",
      "operationName" : "CreateQueue",
      "deprecated" : false,
      "input" : {
        "variableName" : "createQueueRequest",
        "variableType" : "CreateQueueRequest",
        "variableDeclarationType" : "CreateQueueRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "CreateQueueRequest",
        "simpleType" : "CreateQueueRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateQueueResult",
        "documentation" : "<p>Returns the QueueUrl element of the created queue.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "QueueDeletedRecentlyException",
        "documentation" : "<p>You must wait 60 seconds after deleting a queue before you can create another with the same name.</p>"
      }, {
        "exceptionName" : "QueueNameExistsException",
        "documentation" : "<p>A queue already exists with this name. Amazon SQS returns this error only if the request includes attributes whose values differ from those of the existing queue.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateQueueResult",
      "asyncReturnType" : "CreateQueueResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateQueueResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateQueueResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateQueueRequest, CreateQueueResult>",
      "authenticated" : true,
      "methodName" : "createQueue"
    },
    "DeleteMessage" : {
      "documentation" : "<p> Deletes the specified message from the specified queue. You specify the message by using the message's <code>receipt handle</code> and not the <code>message ID</code> you received when you sent the message. Even if the message is locked by another reader due to the visibility timeout setting, it is still deleted from the queue. If you leave a message in the queue for longer than the queue's configured retention period, Amazon SQS automatically deletes it. </p> <note> <p> The receipt handle is associated with a specific instance of receiving the message. If you receive a message more than once, the receipt handle you get each time you receive the message is different. When you request <code>DeleteMessage</code>, if you don't provide the most recently received receipt handle for the message, the request will still succeed, but the message might not be deleted. </p> </note> <important> <p> It is possible you will receive a message even after you have deleted it. This might happen on rare occasions if one of the servers storing a copy of the message is unavailable when you request to delete the message. The copy remains on the server and might be returned to you again on a subsequent receive request. You should create your system to be idempotent so that receiving a particular message more than once is not a problem. </p> </important>",
      "operationName" : "DeleteMessage",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteMessageRequest",
        "variableType" : "DeleteMessageRequest",
        "variableDeclarationType" : "DeleteMessageRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DeleteMessageRequest",
        "simpleType" : "DeleteMessageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteMessageResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidIdFormatException",
        "documentation" : "<p>The receipt handle is not valid for the current version.</p>"
      }, {
        "exceptionName" : "ReceiptHandleIsInvalidException",
        "documentation" : "<p>The receipt handle provided is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteMessageResult",
      "asyncReturnType" : "DeleteMessageResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMessageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMessageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMessageRequest, DeleteMessageResult>",
      "authenticated" : true,
      "methodName" : "deleteMessage"
    },
    "DeleteMessageBatch" : {
      "documentation" : "<p>Deletes up to ten messages from the specified queue. This is a batch version of <a>DeleteMessage</a>. The result of the delete action on each message is reported individually in the response.</p> <important> <p> Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of 200. </p> </important> <note><p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> </note> <p><code><![CDATA[&amp;Attribute.1=this]]></code></p> <p><code><![CDATA[&amp;Attribute.2=that]]></code></p>",
      "operationName" : "DeleteMessageBatch",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteMessageBatchRequest",
        "variableType" : "DeleteMessageBatchRequest",
        "variableDeclarationType" : "DeleteMessageBatchRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DeleteMessageBatchRequest",
        "simpleType" : "DeleteMessageBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteMessageBatchResult",
        "documentation" : "<p> For each message in the batch, the response contains a <a>DeleteMessageBatchResultEntry</a> tag if the message is deleted or a <a>BatchResultErrorEntry</a> tag if the message cannot be deleted. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyEntriesInBatchRequestException",
        "documentation" : "<p>Batch request contains more number of entries than permissible.</p>"
      }, {
        "exceptionName" : "EmptyBatchRequestException",
        "documentation" : "<p>Batch request does not contain an entry.</p>"
      }, {
        "exceptionName" : "BatchEntryIdsNotDistinctException",
        "documentation" : "<p>Two or more batch entries have the same <code>Id</code> in the request.</p>"
      }, {
        "exceptionName" : "InvalidBatchEntryIdException",
        "documentation" : "<p>The <code>Id</code> of a batch entry in a batch request does not abide by the specification.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteMessageBatchResult",
      "asyncReturnType" : "DeleteMessageBatchResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMessageBatchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMessageBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMessageBatchRequest, DeleteMessageBatchResult>",
      "authenticated" : true,
      "methodName" : "deleteMessageBatch"
    },
    "DeleteQueue" : {
      "documentation" : "<p> Deletes the queue specified by the <b>queue URL</b>, regardless of whether the queue is empty. If the specified queue does not exist, Amazon SQS returns a successful response. </p> <important> <p> Use <code>DeleteQueue</code> with care; once you delete your queue, any messages in the queue are no longer available. </p> </important> <p> When you delete a queue, the deletion process takes up to 60 seconds. Requests you send involving that queue during the 60 seconds might succeed. For example, a <a>SendMessage</a> request might succeed, but after the 60 seconds, the queue and that message you sent no longer exist. Also, when you delete a queue, you must wait at least 60 seconds before creating a queue with the same name. </p> <p> We reserve the right to delete queues that have had no activity for more than 30 days. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSConcepts.html\">How Amazon SQS Queues Work</a> in the <i>Amazon SQS Developer Guide</i>. </p>",
      "operationName" : "DeleteQueue",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteQueueRequest",
        "variableType" : "DeleteQueueRequest",
        "variableDeclarationType" : "DeleteQueueRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DeleteQueueRequest",
        "simpleType" : "DeleteQueueRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteQueueResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteQueueResult",
      "asyncReturnType" : "DeleteQueueResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteQueueResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteQueueResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteQueueRequest, DeleteQueueResult>",
      "authenticated" : true,
      "methodName" : "deleteQueue"
    },
    "GetQueueAttributes" : {
      "documentation" : "<p>Gets attributes for the specified queue.</p> <note><p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> </note> <p><code><![CDATA[&amp;Attribute.1=this]]></code></p> <p><code><![CDATA[&amp;Attribute.2=that]]></code></p>",
      "operationName" : "GetQueueAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "getQueueAttributesRequest",
        "variableType" : "GetQueueAttributesRequest",
        "variableDeclarationType" : "GetQueueAttributesRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "GetQueueAttributesRequest",
        "simpleType" : "GetQueueAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetQueueAttributesResult",
        "documentation" : "<p>A list of returned queue attributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidAttributeNameException",
        "documentation" : "<p>The attribute referred to does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetQueueAttributesResult",
      "asyncReturnType" : "GetQueueAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueueAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueueAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueueAttributesRequest, GetQueueAttributesResult>",
      "authenticated" : true,
      "methodName" : "getQueueAttributes"
    },
    "GetQueueUrl" : {
      "documentation" : "<p> Returns the URL of an existing queue. This action provides a simple way to retrieve the URL of an Amazon SQS queue. </p> <p> To access a queue that belongs to another AWS account, use the <code>QueueOwnerAWSAccountId</code> parameter to specify the account ID of the queue's owner. The queue's owner must grant you permission to access the queue. For more information about shared queue access, see <a>AddPermission</a> or go to <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/acp-overview.html\">Shared Queues</a> in the <i>Amazon SQS Developer Guide</i>. </p>",
      "operationName" : "GetQueueUrl",
      "deprecated" : false,
      "input" : {
        "variableName" : "getQueueUrlRequest",
        "variableType" : "GetQueueUrlRequest",
        "variableDeclarationType" : "GetQueueUrlRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "GetQueueUrlRequest",
        "simpleType" : "GetQueueUrlRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetQueueUrlResult",
        "documentation" : "<p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/UnderstandingResponses.html\">Responses</a> in the <i>Amazon SQS Developer Guide</i>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "QueueDoesNotExistException",
        "documentation" : "<p>The queue referred to does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetQueueUrlResult",
      "asyncReturnType" : "GetQueueUrlResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueueUrlResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueueUrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueueUrlRequest, GetQueueUrlResult>",
      "authenticated" : true,
      "methodName" : "getQueueUrl"
    },
    "ListDeadLetterSourceQueues" : {
      "documentation" : "<p>Returns a list of your queues that have the RedrivePolicy queue attribute configured with a dead letter queue.</p> <p>For more information about using dead letter queues, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSDeadLetterQueue.html\">Using Amazon SQS Dead Letter Queues</a>.</p>",
      "operationName" : "ListDeadLetterSourceQueues",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDeadLetterSourceQueuesRequest",
        "variableType" : "ListDeadLetterSourceQueuesRequest",
        "variableDeclarationType" : "ListDeadLetterSourceQueuesRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "ListDeadLetterSourceQueuesRequest",
        "simpleType" : "ListDeadLetterSourceQueuesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDeadLetterSourceQueuesResult",
        "documentation" : "<p>A list of your dead letter source queues.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "QueueDoesNotExistException",
        "documentation" : "<p>The queue referred to does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListDeadLetterSourceQueuesResult",
      "asyncReturnType" : "ListDeadLetterSourceQueuesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeadLetterSourceQueuesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeadLetterSourceQueuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeadLetterSourceQueuesRequest, ListDeadLetterSourceQueuesResult>",
      "authenticated" : true,
      "methodName" : "listDeadLetterSourceQueues"
    },
    "ListQueues" : {
      "documentation" : "<p>Returns a list of your queues. The maximum number of queues that can be returned is 1000. If you specify a value for the optional <code>QueueNamePrefix</code> parameter, only queues with a name beginning with the specified value are returned.</p>",
      "operationName" : "ListQueues",
      "deprecated" : false,
      "input" : {
        "variableName" : "listQueuesRequest",
        "variableType" : "ListQueuesRequest",
        "variableDeclarationType" : "ListQueuesRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "ListQueuesRequest",
        "simpleType" : "ListQueuesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListQueuesResult",
        "documentation" : "<p>A list of your queues.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListQueuesResult",
      "asyncReturnType" : "ListQueuesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListQueuesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListQueuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListQueuesRequest, ListQueuesResult>",
      "authenticated" : true,
      "methodName" : "listQueues"
    },
    "PurgeQueue" : {
      "documentation" : "<p>Deletes the messages in a queue specified by the <b>queue URL</b>.</p> <important><p>When you use the <code>PurgeQueue</code> API, the deleted messages in the queue cannot be retrieved.</p></important> <p>When you purge a queue, the message deletion process takes up to 60 seconds. All messages sent to the queue before calling <code>PurgeQueue</code> will be deleted; messages sent to the queue while it is being purged may be deleted. While the queue is being purged, messages sent to the queue before <code>PurgeQueue</code> was called may be received, but will be deleted within the next minute.</p>",
      "operationName" : "PurgeQueue",
      "deprecated" : false,
      "input" : {
        "variableName" : "purgeQueueRequest",
        "variableType" : "PurgeQueueRequest",
        "variableDeclarationType" : "PurgeQueueRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "PurgeQueueRequest",
        "simpleType" : "PurgeQueueRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PurgeQueueResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "QueueDoesNotExistException",
        "documentation" : "<p>The queue referred to does not exist.</p>"
      }, {
        "exceptionName" : "PurgeQueueInProgressException",
        "documentation" : "<p>Indicates that the specified queue previously received a <code>PurgeQueue</code> request within the last 60 seconds, the time it can take to delete the messages in the queue.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PurgeQueueResult",
      "asyncReturnType" : "PurgeQueueResult",
      "asyncFutureType" : "java.util.concurrent.Future<PurgeQueueResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PurgeQueueResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PurgeQueueRequest, PurgeQueueResult>",
      "authenticated" : true,
      "methodName" : "purgeQueue"
    },
    "ReceiveMessage" : {
      "documentation" : "<p> Retrieves one or more messages, with a maximum limit of 10 messages, from the specified queue. Long poll support is enabled by using the <code>WaitTimeSeconds</code> parameter. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-long-polling.html\">Amazon SQS Long Poll</a> in the <i>Amazon SQS Developer Guide</i>. </p> <p> Short poll is the default behavior where a weighted random set of machines is sampled on a <code>ReceiveMessage</code> call. This means only the messages on the sampled machines are returned. If the number of messages in the queue is small (less than 1000), it is likely you will get fewer messages than you requested per <code>ReceiveMessage</code> call. If the number of messages in the queue is extremely small, you might not receive any messages in a particular <code>ReceiveMessage</code> response; in which case you should repeat the request. </p> <p> For each message returned, the response includes the following: </p> <ul> <li> <p> Message body </p> </li> <li> <p> MD5 digest of the message body. For information about MD5, go to <a href=\"http://www.faqs.org/rfcs/rfc1321.html\">http://www.faqs.org/rfcs/rfc1321.html</a>. </p> </li> <li> <p> Message ID you received when you sent the message to the queue. </p> </li> <li> <p> Receipt handle. </p> </li> <li> <p> Message attributes. </p> </li> <li> <p> MD5 digest of the message attributes. </p> </li> </ul> <p> The receipt handle is the identifier you must provide when deleting the message. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/ImportantIdentifiers.html\">Queue and Message Identifiers</a> in the <i>Amazon SQS Developer Guide</i>. </p> <p> You can provide the <code>VisibilityTimeout</code> parameter in your request, which will be applied to the messages that Amazon SQS returns in the response. If you do not include the parameter, the overall visibility timeout for the queue is used for the returned messages. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AboutVT.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>. </p> <note> <p> Going forward, new attributes might be added. If you are writing code that calls this action, we recommend that you structure your code so that it can handle new attributes gracefully. </p> </note>",
      "operationName" : "ReceiveMessage",
      "deprecated" : false,
      "input" : {
        "variableName" : "receiveMessageRequest",
        "variableType" : "ReceiveMessageRequest",
        "variableDeclarationType" : "ReceiveMessageRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "ReceiveMessageRequest",
        "simpleType" : "ReceiveMessageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReceiveMessageResult",
        "documentation" : "<p>A list of received messages.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "OverLimitException",
        "documentation" : "<p>The action that you requested would violate a limit. For example, ReceiveMessage returns this error if the maximum number of messages inflight has already been reached. <a>AddPermission</a> returns this error if the maximum number of permissions for the queue has already been reached. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ReceiveMessageResult",
      "asyncReturnType" : "ReceiveMessageResult",
      "asyncFutureType" : "java.util.concurrent.Future<ReceiveMessageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReceiveMessageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReceiveMessageRequest, ReceiveMessageResult>",
      "authenticated" : true,
      "methodName" : "receiveMessage"
    },
    "RemovePermission" : {
      "documentation" : "<p>Revokes any permissions in the queue policy that matches the specified <code>Label</code> parameter. Only the owner of the queue can remove permissions.</p>",
      "operationName" : "RemovePermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "removePermissionRequest",
        "variableType" : "RemovePermissionRequest",
        "variableDeclarationType" : "RemovePermissionRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "RemovePermissionRequest",
        "simpleType" : "RemovePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemovePermissionResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RemovePermissionResult",
      "asyncReturnType" : "RemovePermissionResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemovePermissionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemovePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, RemovePermissionResult>",
      "authenticated" : true,
      "methodName" : "removePermission"
    },
    "SendMessage" : {
      "documentation" : "<p> Delivers a message to the specified queue. With Amazon SQS, you now have the ability to send large payload messages that are up to 256KB (262,144 bytes) in size. To send large payloads, you must use an AWS SDK that supports SigV4 signing. To verify whether SigV4 is supported for an AWS SDK, check the SDK release notes. </p> <important> <p> The following list shows the characters (in Unicode) allowed in your message, according to the W3C XML specification. For more information, go to <a href=\"http://www.w3.org/TR/REC-xml/#charsets\">http://www.w3.org/TR/REC-xml/#charsets</a> If you send any characters not included in the list, your request will be rejected. </p> <p> #x9 | #xA | #xD | [#x20 to #xD7FF] | [#xE000 to #xFFFD] | [#x10000 to #x10FFFF] </p> </important>",
      "operationName" : "SendMessage",
      "deprecated" : false,
      "input" : {
        "variableName" : "sendMessageRequest",
        "variableType" : "SendMessageRequest",
        "variableDeclarationType" : "SendMessageRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "SendMessageRequest",
        "simpleType" : "SendMessageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SendMessageResult",
        "documentation" : "<p>The MD5OfMessageBody and MessageId elements.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidMessageContentsException",
        "documentation" : "<p>The message contains characters outside the allowed set.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Error code 400. Unsupported operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SendMessageResult",
      "asyncReturnType" : "SendMessageResult",
      "asyncFutureType" : "java.util.concurrent.Future<SendMessageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SendMessageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendMessageRequest, SendMessageResult>",
      "authenticated" : true,
      "methodName" : "sendMessage"
    },
    "SendMessageBatch" : {
      "documentation" : "<p>Delivers up to ten messages to the specified queue. This is a batch version of <a>SendMessage</a>. The result of the send action on each message is reported individually in the response. The maximum allowed individual message size is 256 KB (262,144 bytes).</p> <p>The maximum total payload size (i.e., the sum of all a batch's individual message lengths) is also 256 KB (262,144 bytes).</p> <p>If the <code>DelaySeconds</code> parameter is not specified for an entry, the default for the queue is used.</p> <important><p>The following list shows the characters (in Unicode) that are allowed in your message, according to the W3C XML specification. For more information, go to <a href=\"http://www.faqs.org/rfcs/rfc1321.html\">http://www.faqs.org/rfcs/rfc1321.html</a>. If you send any characters that are not included in the list, your request will be rejected.</p> <p>#x9 | #xA | #xD | [#x20 to #xD7FF] | [#xE000 to #xFFFD] | [#x10000 to #x10FFFF]</p> </important> <important> <p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of 200.</p> </important> <note><p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this: </p> </note> <p><code><![CDATA[&amp;Attribute.1=this]]></code></p> <p><code><![CDATA[&amp;Attribute.2=that]]></code></p>",
      "operationName" : "SendMessageBatch",
      "deprecated" : false,
      "input" : {
        "variableName" : "sendMessageBatchRequest",
        "variableType" : "SendMessageBatchRequest",
        "variableDeclarationType" : "SendMessageBatchRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "SendMessageBatchRequest",
        "simpleType" : "SendMessageBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SendMessageBatchResult",
        "documentation" : "<p>For each message in the batch, the response contains a <a>SendMessageBatchResultEntry</a> tag if the message succeeds or a <a>BatchResultErrorEntry</a> tag if the message fails.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyEntriesInBatchRequestException",
        "documentation" : "<p>Batch request contains more number of entries than permissible.</p>"
      }, {
        "exceptionName" : "EmptyBatchRequestException",
        "documentation" : "<p>Batch request does not contain an entry.</p>"
      }, {
        "exceptionName" : "BatchEntryIdsNotDistinctException",
        "documentation" : "<p>Two or more batch entries have the same <code>Id</code> in the request.</p>"
      }, {
        "exceptionName" : "BatchRequestTooLongException",
        "documentation" : "<p>The length of all the messages put together is more than the limit.</p>"
      }, {
        "exceptionName" : "InvalidBatchEntryIdException",
        "documentation" : "<p>The <code>Id</code> of a batch entry in a batch request does not abide by the specification.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Error code 400. Unsupported operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SendMessageBatchResult",
      "asyncReturnType" : "SendMessageBatchResult",
      "asyncFutureType" : "java.util.concurrent.Future<SendMessageBatchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SendMessageBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendMessageBatchRequest, SendMessageBatchResult>",
      "authenticated" : true,
      "methodName" : "sendMessageBatch"
    },
    "SetQueueAttributes" : {
      "documentation" : "<p>Sets the value of one or more queue attributes. When you change a queue's attributes, the change can take up to 60 seconds for most of the attributes to propagate throughout the SQS system. Changes made to the <code>MessageRetentionPeriod</code> attribute can take up to 15 minutes.</p> <note><p>Going forward, new attributes might be added. If you are writing code that calls this action, we recommend that you structure your code so that it can handle new attributes gracefully.</p></note>",
      "operationName" : "SetQueueAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "setQueueAttributesRequest",
        "variableType" : "SetQueueAttributesRequest",
        "variableDeclarationType" : "SetQueueAttributesRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "SetQueueAttributesRequest",
        "simpleType" : "SetQueueAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetQueueAttributesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidAttributeNameException",
        "documentation" : "<p>The attribute referred to does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SetQueueAttributesResult",
      "asyncReturnType" : "SetQueueAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetQueueAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetQueueAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetQueueAttributesRequest, SetQueueAttributesResult>",
      "authenticated" : true,
      "methodName" : "setQueueAttributes"
    }
  },
  "shapes" : {
    "SendMessageBatchResult" : {
      "c2jName" : "SendMessageBatchResult",
      "documentation" : "<p>For each message in the batch, the response contains a <a>SendMessageBatchResultEntry</a> tag if the message succeeds or a <a>BatchResultErrorEntry</a> tag if the message fails.</p>",
      "shapeName" : "SendMessageBatchResult",
      "deprecated" : false,
      "required" : [ "Successful", "Failed" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>",
        "name" : "Successful",
        "c2jName" : "Successful",
        "c2jShape" : "SendMessageBatchResultEntryList",
        "variable" : {
          "variableName" : "successful",
          "variableType" : "java.util.List<SendMessageBatchResultEntry>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<SendMessageBatchResultEntry>",
          "documentation" : "<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>",
          "variableSetterType" : "java.util.Collection<SendMessageBatchResultEntry>",
          "simpleType" : "List<SendMessageBatchResultEntry>"
        },
        "setterModel" : {
          "variableName" : "successful",
          "variableType" : "java.util.List<SendMessageBatchResultEntry>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<SendMessageBatchResultEntry>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<SendMessageBatchResultEntry>",
          "simpleType" : "List<SendMessageBatchResultEntry>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<SendMessageBatchResultEntry>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Successful",
          "marshallLocationName" : "Successful",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : true,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "SendMessageBatchResultEntry",
          "memberLocationName" : "SendMessageBatchResultEntry",
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "SendMessageBatchResultEntry",
            "variable" : {
              "variableName" : "member",
              "variableType" : "SendMessageBatchResultEntry",
              "variableDeclarationType" : "SendMessageBatchResultEntry",
              "documentation" : "",
              "variableSetterType" : "SendMessageBatchResultEntry",
              "simpleType" : "SendMessageBatchResultEntry"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "SendMessageBatchResultEntry",
              "variableDeclarationType" : "SendMessageBatchResultEntry",
              "documentation" : "",
              "variableSetterType" : "SendMessageBatchResultEntry",
              "simpleType" : "SendMessageBatchResultEntry"
            },
            "getterModel" : {
              "returnType" : "SendMessageBatchResultEntry",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "SendMessageBatchResultEntry",
              "marshallLocationName" : "SendMessageBatchResultEntry",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "templateType" : "java.util.List<SendMessageBatchResultEntry>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<SendMessageBatchResultEntry>",
          "simpleType" : "SendMessageBatchResultEntry"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>\n@param successful A list of <a>SendMessageBatchResultEntry</a> items.*/",
        "getterDocumentation" : "/**<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>\n@return A list of <a>SendMessageBatchResultEntry</a> items.*/",
        "fluentSetterDocumentation" : "/**<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>\n@param successful A list of <a>SendMessageBatchResultEntry</a> items.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSuccessful(java.util.Collection)} or {@link #withSuccessful(java.util.Collection)} if you want to override the existing values.</p>\n@param successful A list of <a>SendMessageBatchResultEntry</a> items.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>",
        "name" : "Failed",
        "c2jName" : "Failed",
        "c2jShape" : "BatchResultErrorEntryList",
        "variable" : {
          "variableName" : "failed",
          "variableType" : "java.util.List<BatchResultErrorEntry>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<BatchResultErrorEntry>",
          "documentation" : "<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>",
          "variableSetterType" : "java.util.Collection<BatchResultErrorEntry>",
          "simpleType" : "List<BatchResultErrorEntry>"
        },
        "setterModel" : {
          "variableName" : "failed",
          "variableType" : "java.util.List<BatchResultErrorEntry>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<BatchResultErrorEntry>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<BatchResultErrorEntry>",
          "simpleType" : "List<BatchResultErrorEntry>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<BatchResultErrorEntry>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Failed",
          "marshallLocationName" : "Failed",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : true,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "BatchResultErrorEntry",
          "memberLocationName" : "BatchResultErrorEntry",
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "BatchResultErrorEntry",
            "variable" : {
              "variableName" : "member",
              "variableType" : "BatchResultErrorEntry",
              "variableDeclarationType" : "BatchResultErrorEntry",
              "documentation" : "",
              "variableSetterType" : "BatchResultErrorEntry",
              "simpleType" : "BatchResultErrorEntry"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "BatchResultErrorEntry",
              "variableDeclarationType" : "BatchResultErrorEntry",
              "documentation" : "",
              "variableSetterType" : "BatchResultErrorEntry",
              "simpleType" : "BatchResultErrorEntry"
            },
            "getterModel" : {
              "returnType" : "BatchResultErrorEntry",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "BatchResultErrorEntry",
              "marshallLocationName" : "BatchResultErrorEntry",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "templateType" : "java.util.List<BatchResultErrorEntry>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<BatchResultErrorEntry>",
          "simpleType" : "BatchResultErrorEntry"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>\n@param failed A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.*/",
        "getterDocumentation" : "/**<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>\n@return A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.*/",
        "fluentSetterDocumentation" : "/**<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>\n@param failed A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailed(java.util.Collection)} or {@link #withFailed(java.util.Collection)} if you want to override the existing values.</p>\n@param failed A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "sendMessageBatchResult",
        "variableType" : "SendMessageBatchResult",
        "variableDeclarationType" : "SendMessageBatchResult",
        "documentation" : null,
        "variableSetterType" : "SendMessageBatchResult",
        "simpleType" : "SendMessageBatchResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : "SendMessageBatchResult",
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Failed" : {
          "documentation" : "<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>",
          "name" : "Failed",
          "c2jName" : "Failed",
          "c2jShape" : "BatchResultErrorEntryList",
          "variable" : {
            "variableName" : "failed",
            "variableType" : "java.util.List<BatchResultErrorEntry>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<BatchResultErrorEntry>",
            "documentation" : "<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>",
            "variableSetterType" : "java.util.Collection<BatchResultErrorEntry>",
            "simpleType" : "List<BatchResultErrorEntry>"
          },
          "setterModel" : {
            "variableName" : "failed",
            "variableType" : "java.util.List<BatchResultErrorEntry>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<BatchResultErrorEntry>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<BatchResultErrorEntry>",
            "simpleType" : "List<BatchResultErrorEntry>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<BatchResultErrorEntry>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Failed",
            "marshallLocationName" : "Failed",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : true,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "BatchResultErrorEntry",
            "memberLocationName" : "BatchResultErrorEntry",
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "BatchResultErrorEntry",
              "variable" : {
                "variableName" : "member",
                "variableType" : "BatchResultErrorEntry",
                "variableDeclarationType" : "BatchResultErrorEntry",
                "documentation" : "",
                "variableSetterType" : "BatchResultErrorEntry",
                "simpleType" : "BatchResultErrorEntry"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "BatchResultErrorEntry",
                "variableDeclarationType" : "BatchResultErrorEntry",
                "documentation" : "",
                "variableSetterType" : "BatchResultErrorEntry",
                "simpleType" : "BatchResultErrorEntry"
              },
              "getterModel" : {
                "returnType" : "BatchResultErrorEntry",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "BatchResultErrorEntry",
                "marshallLocationName" : "BatchResultErrorEntry",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "templateType" : "java.util.List<BatchResultErrorEntry>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<BatchResultErrorEntry>",
            "simpleType" : "BatchResultErrorEntry"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>\n@param failed A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.*/",
          "getterDocumentation" : "/**<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>\n@return A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.*/",
          "fluentSetterDocumentation" : "/**<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>\n@param failed A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailed(java.util.Collection)} or {@link #withFailed(java.util.Collection)} if you want to override the existing values.</p>\n@param failed A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Successful" : {
          "documentation" : "<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>",
          "name" : "Successful",
          "c2jName" : "Successful",
          "c2jShape" : "SendMessageBatchResultEntryList",
          "variable" : {
            "variableName" : "successful",
            "variableType" : "java.util.List<SendMessageBatchResultEntry>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<SendMessageBatchResultEntry>",
            "documentation" : "<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>",
            "variableSetterType" : "java.util.Collection<SendMessageBatchResultEntry>",
            "simpleType" : "List<SendMessageBatchResultEntry>"
          },
          "setterModel" : {
            "variableName" : "successful",
            "variableType" : "java.util.List<SendMessageBatchResultEntry>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<SendMessageBatchResultEntry>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<SendMessageBatchResultEntry>",
            "simpleType" : "List<SendMessageBatchResultEntry>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<SendMessageBatchResultEntry>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Successful",
            "marshallLocationName" : "Successful",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : true,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "SendMessageBatchResultEntry",
            "memberLocationName" : "SendMessageBatchResultEntry",
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "SendMessageBatchResultEntry",
              "variable" : {
                "variableName" : "member",
                "variableType" : "SendMessageBatchResultEntry",
                "variableDeclarationType" : "SendMessageBatchResultEntry",
                "documentation" : "",
                "variableSetterType" : "SendMessageBatchResultEntry",
                "simpleType" : "SendMessageBatchResultEntry"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "SendMessageBatchResultEntry",
                "variableDeclarationType" : "SendMessageBatchResultEntry",
                "documentation" : "",
                "variableSetterType" : "SendMessageBatchResultEntry",
                "simpleType" : "SendMessageBatchResultEntry"
              },
              "getterModel" : {
                "returnType" : "SendMessageBatchResultEntry",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "SendMessageBatchResultEntry",
                "marshallLocationName" : "SendMessageBatchResultEntry",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "templateType" : "java.util.List<SendMessageBatchResultEntry>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<SendMessageBatchResultEntry>",
            "simpleType" : "SendMessageBatchResultEntry"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>\n@param successful A list of <a>SendMessageBatchResultEntry</a> items.*/",
          "getterDocumentation" : "/**<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>\n@return A list of <a>SendMessageBatchResultEntry</a> items.*/",
          "fluentSetterDocumentation" : "/**<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>\n@param successful A list of <a>SendMessageBatchResultEntry</a> items.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of <a>SendMessageBatchResultEntry</a> items.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSuccessful(java.util.Collection)} or {@link #withSuccessful(java.util.Collection)} if you want to override the existing values.</p>\n@param successful A list of <a>SendMessageBatchResultEntry</a> items.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "PurgeQueueInProgressException" : {
      "c2jName" : "PurgeQueueInProgress",
      "documentation" : "<p>Indicates that the specified queue previously received a <code>PurgeQueue</code> request within the last 60 seconds, the time it can take to delete the messages in the queue.</p>",
      "shapeName" : "PurgeQueueInProgressException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "purgeQueueInProgressException",
        "variableType" : "PurgeQueueInProgressException",
        "variableDeclarationType" : "PurgeQueueInProgressException",
        "documentation" : null,
        "variableSetterType" : "PurgeQueueInProgressException",
        "simpleType" : "PurgeQueueInProgressException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "AWS.SimpleQueueService.PurgeQueueInProgress",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "InvalidAttributeNameException" : {
      "c2jName" : "InvalidAttributeName",
      "documentation" : "<p>The attribute referred to does not exist.</p>",
      "shapeName" : "InvalidAttributeNameException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "invalidAttributeNameException",
        "variableType" : "InvalidAttributeNameException",
        "variableDeclarationType" : "InvalidAttributeNameException",
        "documentation" : null,
        "variableSetterType" : "InvalidAttributeNameException",
        "simpleType" : "InvalidAttributeNameException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidAttributeName",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "QueueAttributeName" : {
      "c2jName" : "QueueAttributeName",
      "documentation" : "",
      "shapeName" : "QueueAttributeName",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "Policy",
        "value" : "Policy"
      }, {
        "name" : "VisibilityTimeout",
        "value" : "VisibilityTimeout"
      }, {
        "name" : "MaximumMessageSize",
        "value" : "MaximumMessageSize"
      }, {
        "name" : "MessageRetentionPeriod",
        "value" : "MessageRetentionPeriod"
      }, {
        "name" : "ApproximateNumberOfMessages",
        "value" : "ApproximateNumberOfMessages"
      }, {
        "name" : "ApproximateNumberOfMessagesNotVisible",
        "value" : "ApproximateNumberOfMessagesNotVisible"
      }, {
        "name" : "CreatedTimestamp",
        "value" : "CreatedTimestamp"
      }, {
        "name" : "LastModifiedTimestamp",
        "value" : "LastModifiedTimestamp"
      }, {
        "name" : "QueueArn",
        "value" : "QueueArn"
      }, {
        "name" : "ApproximateNumberOfMessagesDelayed",
        "value" : "ApproximateNumberOfMessagesDelayed"
      }, {
        "name" : "DelaySeconds",
        "value" : "DelaySeconds"
      }, {
        "name" : "ReceiveMessageWaitTimeSeconds",
        "value" : "ReceiveMessageWaitTimeSeconds"
      }, {
        "name" : "RedrivePolicy",
        "value" : "RedrivePolicy"
      } ],
      "variable" : {
        "variableName" : "queueAttributeName",
        "variableType" : "QueueAttributeName",
        "variableDeclarationType" : "QueueAttributeName",
        "documentation" : null,
        "variableSetterType" : "QueueAttributeName",
        "simpleType" : "QueueAttributeName"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "CreateQueueResult" : {
      "c2jName" : "CreateQueueResult",
      "documentation" : "<p>Returns the QueueUrl element of the created queue.</p>",
      "shapeName" : "CreateQueueResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The URL for the created Amazon SQS queue.</p>",
        "name" : "QueueUrl",
        "c2jName" : "QueueUrl",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "queueUrl",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The URL for the created Amazon SQS queue.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "queueUrl",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "QueueUrl",
          "marshallLocationName" : "QueueUrl",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The URL for the created Amazon SQS queue.</p>\n@param queueUrl The URL for the created Amazon SQS queue.*/",
        "getterDocumentation" : "/**<p>The URL for the created Amazon SQS queue.</p>\n@return The URL for the created Amazon SQS queue.*/",
        "fluentSetterDocumentation" : "/**<p>The URL for the created Amazon SQS queue.</p>\n@param queueUrl The URL for the created Amazon SQS queue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The URL for the created Amazon SQS queue.</p>\n@param queueUrl The URL for the created Amazon SQS queue.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createQueueResult",
        "variableType" : "CreateQueueResult",
        "variableDeclarationType" : "CreateQueueResult",
        "documentation" : null,
        "variableSetterType" : "CreateQueueResult",
        "simpleType" : "CreateQueueResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : "CreateQueueResult",
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "QueueUrl" : {
          "documentation" : "<p>The URL for the created Amazon SQS queue.</p>",
          "name" : "QueueUrl",
          "c2jName" : "QueueUrl",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "queueUrl",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The URL for the created Amazon SQS queue.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "queueUrl",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "QueueUrl",
            "marshallLocationName" : "QueueUrl",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The URL for the created Amazon SQS queue.</p>\n@param queueUrl The URL for the created Amazon SQS queue.*/",
          "getterDocumentation" : "/**<p>The URL for the created Amazon SQS queue.</p>\n@return The URL for the created Amazon SQS queue.*/",
          "fluentSetterDocumentation" : "/**<p>The URL for the created Amazon SQS queue.</p>\n@param queueUrl The URL for the created Amazon SQS queue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The URL for the created Amazon SQS queue.</p>\n@param queueUrl The URL for the created Amazon SQS queue.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ListDeadLetterSourceQueuesResult" : {
      "c2jName" : "ListDeadLetterSourceQueuesResult",
      "documentation" : "<p>A list of your dead letter source queues.</p>",
      "shapeName" : "ListDeadLetterSourceQueuesResult",
      "deprecated" : false,
      "required" : [ "queueUrls" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>",
        "name" : "QueueUrls",
        "c2jName" : "queueUrls",
        "c2jShape" : "QueueUrlList",
        "variable" : {
          "variableName" : "queueUrls",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "setterModel" : {
          "variableName" : "queueUrls",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "queueUrls",
          "marshallLocationName" : "queueUrls",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : true,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : "QueueUrl",
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "String",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "QueueUrl",
              "marshallLocationName" : "QueueUrl",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
          "simpleType" : "String"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>\n@param queueUrls A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.*/",
        "getterDocumentation" : "/**<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>\n@return A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.*/",
        "fluentSetterDocumentation" : "/**<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>\n@param queueUrls A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setQueueUrls(java.util.Collection)} or {@link #withQueueUrls(java.util.Collection)} if you want to override the existing values.</p>\n@param queueUrls A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listDeadLetterSourceQueuesResult",
        "variableType" : "ListDeadLetterSourceQueuesResult",
        "variableDeclarationType" : "ListDeadLetterSourceQueuesResult",
        "documentation" : null,
        "variableSetterType" : "ListDeadLetterSourceQueuesResult",
        "simpleType" : "ListDeadLetterSourceQueuesResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : "ListDeadLetterSourceQueuesResult",
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "QueueUrls" : {
          "documentation" : "<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>",
          "name" : "QueueUrls",
          "c2jName" : "queueUrls",
          "c2jShape" : "QueueUrlList",
          "variable" : {
            "variableName" : "queueUrls",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>",
            "variableSetterType" : "java.util.Collection<String>",
            "simpleType" : "List<String>"
          },
          "setterModel" : {
            "variableName" : "queueUrls",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<String>",
            "simpleType" : "List<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "queueUrls",
            "marshallLocationName" : "queueUrls",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : true,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : "QueueUrl",
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "String",
              "variable" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "variableSetterType" : "String",
                "simpleType" : "String"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "variableSetterType" : "String",
                "simpleType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "QueueUrl",
                "marshallLocationName" : "QueueUrl",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "map" : false,
            "templateType" : "java.util.List<String>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
            "simpleType" : "String"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>\n@param queueUrls A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.*/",
          "getterDocumentation" : "/**<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>\n@return A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.*/",
          "fluentSetterDocumentation" : "/**<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>\n@param queueUrls A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setQueueUrls(java.util.Collection)} or {@link #withQueueUrls(java.util.Collection)} if you want to override the existing values.</p>\n@param queueUrls A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "SendMessageRequest" : {
      "c2jName" : "SendMessageRequest",
      "documentation" : "<p/>",
      "shapeName" : "SendMessageRequest",
      "deprecated" : false,
      "required" : [ "QueueUrl", "MessageBody" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>",
        "name" : "QueueUrl",
        "c2jName" : "QueueUrl",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "queueUrl",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "queueUrl",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "QueueUrl",
          "marshallLocationName" : "QueueUrl",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
[...]
