{
  "metadata" : {
    "apiVersion" : "2012-09-25",
    "protocol" : "rest-json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Elastic Transcoder Service</fullname> <p>The AWS Elastic Transcoder Service.</p>",
    "defaultEndpoint" : "elastictranscoder.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "elastictranscoder.us-east-1.amazonaws.com/",
    "syncInterface" : "AmazonElasticTranscoder",
    "syncClient" : "AmazonElasticTranscoderClient",
    "asyncInterface" : "AmazonElasticTranscoderAsync",
    "asyncClient" : "AmazonElasticTranscoderAsyncClient",
    "packageName" : "com.amazonaws.services.elastictranscoder",
    "packagePath" : "com/amazonaws/services/elastictranscoder",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Elastic Transcoder",
    "hasApiWithStreamInput" : false,
    "contentType" : "",
    "jsonVersion" : "1.1",
    "endpointPrefix" : "elastictranscoder",
    "signingName" : "elastictranscoder",
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "syncClientBuilderClassName" : "AmazonElasticTranscoderClientBuilder",
    "asyncClientBuilderClassName" : "AmazonElasticTranscoderAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonElasticTranscoderModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.elastictranscoder.smoketests",
    "serviceName" : "Amazon Elastic Transcoder"
  },
  "operations" : {
    "CancelJob" : {
      "documentation" : "<p>The CancelJob operation cancels an unfinished job.</p> <note>You can only cancel a job that has a status of <code>Submitted</code>. To prevent a pipeline from starting to process a job while you're getting the job identifier, use <a>UpdatePipelineStatus</a> to temporarily pause the pipeline.</note>",
      "operationName" : "CancelJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "variableDeclarationType" : "CancelJobRequest",
        "documentation" : "<p>The <code>CancelJobRequest</code> structure.</p>",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : "<p>The response body contains a JSON object. If the job is successfully canceled, the value of <code>Success</code> is <code>true</code>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CancelJobResult",
      "asyncReturnType" : "CancelJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "authenticated" : true,
      "methodName" : "cancelJob"
    },
    "CreateJob" : {
      "documentation" : "<p> When you create a job, Elastic Transcoder returns JSON data that includes the values that you specified plus information about the job that is created. </p> <p>If you have specified more than one output for your jobs (for example, one output for the Kindle Fire and another output for the Apple iPhone 4s), you currently must use the Elastic Transcoder API to list the jobs (as opposed to the AWS Console).</p>",
      "operationName" : "CreateJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "variableDeclarationType" : "CreateJobRequest",
        "documentation" : "<p>The <code>CreateJobRequest</code> structure.</p>",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : "<p>The CreateJobResponse structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Too many operations for a given AWS account. For example, the number of pipelines exceeds the maximum allowed.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateJobResult",
      "asyncReturnType" : "CreateJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "authenticated" : true,
      "methodName" : "createJob"
    },
    "CreatePipeline" : {
      "documentation" : "<p>The CreatePipeline operation creates a pipeline with settings that you specify.</p>",
      "operationName" : "CreatePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPipelineRequest",
        "variableType" : "CreatePipelineRequest",
        "variableDeclarationType" : "CreatePipelineRequest",
        "documentation" : "<p>The <code>CreatePipelineRequest</code> structure.</p>",
        "simpleType" : "CreatePipelineRequest",
        "variableSetterType" : "CreatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePipelineResult",
        "documentation" : "<p>When you create a pipeline, Elastic Transcoder returns the values that you specified in the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Too many operations for a given AWS account. For example, the number of pipelines exceeds the maximum allowed.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreatePipelineResult",
      "asyncReturnType" : "CreatePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePipelineRequest, CreatePipelineResult>",
      "authenticated" : true,
      "methodName" : "createPipeline"
    },
    "CreatePreset" : {
      "documentation" : "<p>The CreatePreset operation creates a preset with settings that you specify.</p> <important>Elastic Transcoder checks the CreatePreset settings to ensure that they meet Elastic Transcoder requirements and to determine whether they comply with H.264 standards. If your settings are not valid for Elastic Transcoder, Elastic Transcoder returns an HTTP 400 response (<code>ValidationException</code>) and does not create the preset. If the settings are valid for Elastic Transcoder but aren't strictly compliant with the H.264 standard, Elastic Transcoder creates the preset and returns a warning message in the response. This helps you determine whether your settings comply with the H.264 standard while giving you greater flexibility with respect to the video that Elastic Transcoder produces.</important> <p>Elastic Transcoder uses the H.264 video-compression format. For more information, see the International Telecommunication Union publication <i>Recommendation ITU-T H.264: Advanced video coding for generic audiovisual services</i>.</p>",
      "operationName" : "CreatePreset",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPresetRequest",
        "variableType" : "CreatePresetRequest",
        "variableDeclarationType" : "CreatePresetRequest",
        "documentation" : "<p>The <code>CreatePresetRequest</code> structure.</p>",
        "simpleType" : "CreatePresetRequest",
        "variableSetterType" : "CreatePresetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePresetResult",
        "documentation" : "<p>The <code>CreatePresetResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Too many operations for a given AWS account. For example, the number of pipelines exceeds the maximum allowed.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreatePresetResult",
      "asyncReturnType" : "CreatePresetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePresetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePresetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePresetRequest, CreatePresetResult>",
      "authenticated" : true,
      "methodName" : "createPreset"
    },
    "DeletePipeline" : {
      "documentation" : "<p>The DeletePipeline operation removes a pipeline.</p> <p> You can only delete a pipeline that has never been used or that is not currently in use (doesn't contain any active jobs). If the pipeline is currently in use, <code>DeletePipeline</code> returns an error. </p>",
      "operationName" : "DeletePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "deletePipelineRequest",
        "variableType" : "DeletePipelineRequest",
        "variableDeclarationType" : "DeletePipelineRequest",
        "documentation" : "<p>The <code>DeletePipelineRequest</code> structure.</p>",
        "simpleType" : "DeletePipelineRequest",
        "variableSetterType" : "DeletePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeletePipelineResult",
        "documentation" : "<p>The <code>DeletePipelineResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeletePipelineResult",
      "asyncReturnType" : "DeletePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePipelineRequest, DeletePipelineResult>",
      "authenticated" : true,
      "methodName" : "deletePipeline"
    },
    "DeletePreset" : {
      "documentation" : "<p>The DeletePreset operation removes a preset that you've added in an AWS region.</p> <note> <p>You can't delete the default presets that are included with Elastic Transcoder.</p> </note>",
      "operationName" : "DeletePreset",
      "deprecated" : false,
      "input" : {
        "variableName" : "deletePresetRequest",
        "variableType" : "DeletePresetRequest",
        "variableDeclarationType" : "DeletePresetRequest",
        "documentation" : "<p>The <code>DeletePresetRequest</code> structure.</p>",
        "simpleType" : "DeletePresetRequest",
        "variableSetterType" : "DeletePresetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeletePresetResult",
        "documentation" : "<p>The <code>DeletePresetResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeletePresetResult",
      "asyncReturnType" : "DeletePresetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePresetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePresetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePresetRequest, DeletePresetResult>",
      "authenticated" : true,
      "methodName" : "deletePreset"
    },
    "ListJobsByPipeline" : {
      "documentation" : "<p>The ListJobsByPipeline operation gets a list of the jobs currently in a pipeline.</p> <p>Elastic Transcoder returns all of the jobs currently in the specified pipeline. The response body contains one element for each job that satisfies the search criteria.</p>",
      "operationName" : "ListJobsByPipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "listJobsByPipelineRequest",
        "variableType" : "ListJobsByPipelineRequest",
        "variableDeclarationType" : "ListJobsByPipelineRequest",
        "documentation" : "<p>The <code>ListJobsByPipelineRequest</code> structure.</p>",
        "simpleType" : "ListJobsByPipelineRequest",
        "variableSetterType" : "ListJobsByPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListJobsByPipelineResult",
        "documentation" : "<p>The <code>ListJobsByPipelineResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListJobsByPipelineResult",
      "asyncReturnType" : "ListJobsByPipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsByPipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsByPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsByPipelineRequest, ListJobsByPipelineResult>",
      "authenticated" : true,
      "methodName" : "listJobsByPipeline"
    },
    "ListJobsByStatus" : {
      "documentation" : "<p>The ListJobsByStatus operation gets a list of jobs that have a specified status. The response body contains one element for each job that satisfies the search criteria.</p>",
      "operationName" : "ListJobsByStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "listJobsByStatusRequest",
        "variableType" : "ListJobsByStatusRequest",
        "variableDeclarationType" : "ListJobsByStatusRequest",
        "documentation" : "<p>The <code>ListJobsByStatusRequest</code> structure.</p>",
        "simpleType" : "ListJobsByStatusRequest",
        "variableSetterType" : "ListJobsByStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListJobsByStatusResult",
        "documentation" : "<p> The <code>ListJobsByStatusResponse</code> structure. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListJobsByStatusResult",
      "asyncReturnType" : "ListJobsByStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsByStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsByStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsByStatusRequest, ListJobsByStatusResult>",
      "authenticated" : true,
      "methodName" : "listJobsByStatus"
    },
    "ListPipelines" : {
      "documentation" : "<p>The ListPipelines operation gets a list of the pipelines associated with the current AWS account.</p>",
      "operationName" : "ListPipelines",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPipelinesRequest",
        "variableType" : "ListPipelinesRequest",
        "variableDeclarationType" : "ListPipelinesRequest",
        "documentation" : "<p>The <code>ListPipelineRequest</code> structure.</p>",
        "simpleType" : "ListPipelinesRequest",
        "variableSetterType" : "ListPipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPipelinesResult",
        "documentation" : "<p>A list of the pipelines associated with the current AWS account.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListPipelinesResult",
      "asyncReturnType" : "ListPipelinesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPipelinesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPipelinesRequest, ListPipelinesResult>",
      "authenticated" : true,
      "methodName" : "listPipelines"
    },
    "ListPresets" : {
      "documentation" : "<p>The ListPresets operation gets a list of the default presets included with Elastic Transcoder and the presets that you've added in an AWS region.</p>",
      "operationName" : "ListPresets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPresetsRequest",
        "variableType" : "ListPresetsRequest",
        "variableDeclarationType" : "ListPresetsRequest",
        "documentation" : "<p>The <code>ListPresetsRequest</code> structure.</p>",
        "simpleType" : "ListPresetsRequest",
        "variableSetterType" : "ListPresetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPresetsResult",
        "documentation" : "<p>The <code>ListPresetsResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListPresetsResult",
      "asyncReturnType" : "ListPresetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPresetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPresetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPresetsRequest, ListPresetsResult>",
      "authenticated" : true,
      "methodName" : "listPresets"
    },
    "ReadJob" : {
      "documentation" : "<p>The ReadJob operation returns detailed information about a job.</p>",
      "operationName" : "ReadJob",
      "deprecated" : false,
      "input" : {
        "variableName" : "readJobRequest",
        "variableType" : "ReadJobRequest",
        "variableDeclarationType" : "ReadJobRequest",
        "documentation" : "<p>The <code>ReadJobRequest</code> structure.</p>",
        "simpleType" : "ReadJobRequest",
        "variableSetterType" : "ReadJobRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReadJobResult",
        "documentation" : "<p>The <code>ReadJobResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ReadJobResult",
      "asyncReturnType" : "ReadJobResult",
      "asyncFutureType" : "java.util.concurrent.Future<ReadJobResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReadJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReadJobRequest, ReadJobResult>",
      "authenticated" : true,
      "methodName" : "readJob"
    },
    "ReadPipeline" : {
      "documentation" : "<p>The ReadPipeline operation gets detailed information about a pipeline.</p>",
      "operationName" : "ReadPipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "readPipelineRequest",
        "variableType" : "ReadPipelineRequest",
        "variableDeclarationType" : "ReadPipelineRequest",
        "documentation" : "<p>The <code>ReadPipelineRequest</code> structure.</p>",
        "simpleType" : "ReadPipelineRequest",
        "variableSetterType" : "ReadPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReadPipelineResult",
        "documentation" : "<p>The <code>ReadPipelineResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ReadPipelineResult",
      "asyncReturnType" : "ReadPipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<ReadPipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReadPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReadPipelineRequest, ReadPipelineResult>",
      "authenticated" : true,
      "methodName" : "readPipeline"
    },
    "ReadPreset" : {
      "documentation" : "<p>The ReadPreset operation gets detailed information about a preset.</p>",
      "operationName" : "ReadPreset",
      "deprecated" : false,
      "input" : {
        "variableName" : "readPresetRequest",
        "variableType" : "ReadPresetRequest",
        "variableDeclarationType" : "ReadPresetRequest",
        "documentation" : "<p>The <code>ReadPresetRequest</code> structure.</p>",
        "simpleType" : "ReadPresetRequest",
        "variableSetterType" : "ReadPresetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReadPresetResult",
        "documentation" : "<p>The <code>ReadPresetResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ReadPresetResult",
      "asyncReturnType" : "ReadPresetResult",
      "asyncFutureType" : "java.util.concurrent.Future<ReadPresetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReadPresetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReadPresetRequest, ReadPresetResult>",
      "authenticated" : true,
      "methodName" : "readPreset"
    },
    "TestRole" : {
      "documentation" : "<p>The TestRole operation tests the IAM role used to create the pipeline.</p> <p>The <code>TestRole</code> action lets you determine whether the IAM role you are using has sufficient permissions to let Elastic Transcoder perform tasks associated with the transcoding process. The action attempts to assume the specified IAM role, checks read access to the input and output buckets, and tries to send a test notification to Amazon SNS topics that you specify.</p>",
      "operationName" : "TestRole",
      "deprecated" : false,
      "input" : {
        "variableName" : "testRoleRequest",
        "variableType" : "TestRoleRequest",
        "variableDeclarationType" : "TestRoleRequest",
        "documentation" : "<p> The <code>TestRoleRequest</code> structure. </p>",
        "simpleType" : "TestRoleRequest",
        "variableSetterType" : "TestRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TestRoleResult",
        "documentation" : "<p>The <code>TestRoleResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "TestRoleResult",
      "asyncReturnType" : "TestRoleResult",
      "asyncFutureType" : "java.util.concurrent.Future<TestRoleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TestRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestRoleRequest, TestRoleResult>",
      "authenticated" : true,
      "methodName" : "testRole"
    },
    "UpdatePipeline" : {
      "documentation" : "<p> Use the <code>UpdatePipeline</code> operation to update settings for a pipeline. <important>When you change pipeline settings, your changes take effect immediately. Jobs that you have already submitted and that Elastic Transcoder has not started to process are affected in addition to jobs that you submit after you change settings. </important> </p>",
      "operationName" : "UpdatePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "updatePipelineRequest",
        "variableType" : "UpdatePipelineRequest",
        "variableDeclarationType" : "UpdatePipelineRequest",
        "documentation" : "<p>The <code>UpdatePipelineRequest</code> structure.</p>",
        "simpleType" : "UpdatePipelineRequest",
        "variableSetterType" : "UpdatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdatePipelineResult",
        "documentation" : "<p>When you update a pipeline, Elastic Transcoder returns the values that you specified in the request. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdatePipelineResult",
      "asyncReturnType" : "UpdatePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePipelineRequest, UpdatePipelineResult>",
      "authenticated" : true,
      "methodName" : "updatePipeline"
    },
    "UpdatePipelineNotifications" : {
      "documentation" : "<p>With the UpdatePipelineNotifications operation, you can update Amazon Simple Notification Service (Amazon SNS) notifications for a pipeline.</p> <p>When you update notifications for a pipeline, Elastic Transcoder returns the values that you specified in the request.</p>",
      "operationName" : "UpdatePipelineNotifications",
      "deprecated" : false,
      "input" : {
        "variableName" : "updatePipelineNotificationsRequest",
        "variableType" : "UpdatePipelineNotificationsRequest",
        "variableDeclarationType" : "UpdatePipelineNotificationsRequest",
        "documentation" : "<p>The <code>UpdatePipelineNotificationsRequest</code> structure.</p>",
        "simpleType" : "UpdatePipelineNotificationsRequest",
        "variableSetterType" : "UpdatePipelineNotificationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdatePipelineNotificationsResult",
        "documentation" : "<p>The <code>UpdatePipelineNotificationsResponse</code> structure.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdatePipelineNotificationsResult",
      "asyncReturnType" : "UpdatePipelineNotificationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePipelineNotificationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePipelineNotificationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePipelineNotificationsRequest, UpdatePipelineNotificationsResult>",
      "authenticated" : true,
      "methodName" : "updatePipelineNotifications"
    },
    "UpdatePipelineStatus" : {
      "documentation" : "<p>The UpdatePipelineStatus operation pauses or reactivates a pipeline, so that the pipeline stops or restarts the processing of jobs.</p> <p>Changing the pipeline status is useful if you want to cancel one or more jobs. You can't cancel jobs after Elastic Transcoder has started processing them; if you pause the pipeline to which you submitted the jobs, you have more time to get the job IDs for the jobs that you want to cancel, and to send a <a>CancelJob</a> request. </p>",
      "operationName" : "UpdatePipelineStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "updatePipelineStatusRequest",
        "variableType" : "UpdatePipelineStatusRequest",
        "variableDeclarationType" : "UpdatePipelineStatusRequest",
        "documentation" : "<p>The <code>UpdatePipelineStatusRequest</code> structure.</p>",
        "simpleType" : "UpdatePipelineStatusRequest",
        "variableSetterType" : "UpdatePipelineStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdatePipelineStatusResult",
        "documentation" : "When you update status for a pipeline, Elastic Transcoder returns the values that you specified in the request."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more required parameter values were not provided in the request.</p>"
      }, {
        "exceptionName" : "IncompatibleVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdatePipelineStatusResult",
      "asyncReturnType" : "UpdatePipelineStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePipelineStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePipelineStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePipelineStatusRequest, UpdatePipelineStatusResult>",
      "authenticated" : true,
      "methodName" : "updatePipelineStatus"
    }
  },
  "shapes" : {
    "DeletePipelineRequest" : {
      "c2jName" : "DeletePipelineRequest",
      "documentation" : "<p>The <code>DeletePipelineRequest</code> structure.</p>",
      "shapeName" : "DeletePipelineRequest",
      "deprecated" : false,
      "required" : [ "Id" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The identifier of the pipeline that you want to delete.</p>",
        "name" : "Id",
        "c2jName" : "Id",
        "c2jShape" : "Id",
        "variable" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The identifier of the pipeline that you want to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Id",
          "marshallLocationName" : "Id",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "flattened" : false,
          "header" : false,
          "uri" : true,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The identifier of the pipeline that you want to delete.</p>\n@param id The identifier of the pipeline that you want to delete.*/",
        "getterDocumentation" : "/**<p>The identifier of the pipeline that you want to delete.</p>\n@return The identifier of the pipeline that you want to delete.*/",
        "fluentSetterDocumentation" : "/**<p>The identifier of the pipeline that you want to delete.</p>\n@param id The identifier of the pipeline that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The identifier of the pipeline that you want to delete.</p>\n@param id The identifier of the pipeline that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "deletePipelineRequest",
        "variableType" : "DeletePipelineRequest",
        "variableDeclarationType" : "DeletePipelineRequest",
        "documentation" : null,
        "simpleType" : "DeletePipelineRequest",
        "variableSetterType" : "DeletePipelineRequest"
      },
      "marshaller" : {
        "action" : "DeletePipeline",
        "verb" : "DELETE",
        "target" : null,
        "requestUri" : "/2012-09-25/pipelines/{Id}",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Id" : {
          "documentation" : "<p>The identifier of the pipeline that you want to delete.</p>",
          "name" : "Id",
          "c2jName" : "Id",
          "c2jShape" : "Id",
          "variable" : {
            "variableName" : "id",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The identifier of the pipeline that you want to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "id",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Id",
            "marshallLocationName" : "Id",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "flattened" : false,
            "header" : false,
            "uri" : true,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The identifier of the pipeline that you want to delete.</p>\n@param id The identifier of the pipeline that you want to delete.*/",
          "getterDocumentation" : "/**<p>The identifier of the pipeline that you want to delete.</p>\n@return The identifier of the pipeline that you want to delete.*/",
          "fluentSetterDocumentation" : "/**<p>The identifier of the pipeline that you want to delete.</p>\n@param id The identifier of the pipeline that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The identifier of the pipeline that you want to delete.</p>\n@param id The identifier of the pipeline that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "documentation" : "<p> General authentication failure. The request was not signed correctly. </p>",
      "shapeName" : "AccessDeniedException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "variableDeclarationType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ReadJobResult" : {
      "c2jName" : "ReadJobResponse",
      "documentation" : "<p>The <code>ReadJobResponse</code> structure.</p>",
      "shapeName" : "ReadJobResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A section of the response body that provides information about the job.</p>",
        "name" : "Job",
        "c2jName" : "Job",
        "c2jShape" : "Job",
        "variable" : {
          "variableName" : "job",
          "variableType" : "Job",
          "variableDeclarationType" : "Job",
          "documentation" : "<p>A section of the response body that provides information about the job.</p>",
          "simpleType" : "Job",
          "variableSetterType" : "Job"
        },
        "setterModel" : {
          "variableName" : "job",
          "variableType" : "Job",
          "variableDeclarationType" : "Job",
          "documentation" : "",
          "simpleType" : "Job",
          "variableSetterType" : "Job"
        },
        "getterModel" : {
          "returnType" : "Job",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Job",
          "marshallLocationName" : "Job",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A section of the response body that provides information about the job.</p>\n@param job A section of the response body that provides information about the job.*/",
        "getterDocumentation" : "/**<p>A section of the response body that provides information about the job.</p>\n@return A section of the response body that provides information about the job.*/",
        "fluentSetterDocumentation" : "/**<p>A section of the response body that provides information about the job.</p>\n@param job A section of the response body that provides information about the job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A section of the response body that provides information about the job.</p>\n@param job A section of the response body that provides information about the job.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "readJobResult",
        "variableType" : "ReadJobResult",
        "variableDeclarationType" : "ReadJobResult",
        "documentation" : null,
        "simpleType" : "ReadJobResult",
        "variableSetterType" : "ReadJobResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Job" : {
          "documentation" : "<p>A section of the response body that provides information about the job.</p>",
          "name" : "Job",
          "c2jName" : "Job",
          "c2jShape" : "Job",
          "variable" : {
            "variableName" : "job",
            "variableType" : "Job",
            "variableDeclarationType" : "Job",
            "documentation" : "<p>A section of the response body that provides information about the job.</p>",
            "simpleType" : "Job",
            "variableSetterType" : "Job"
          },
          "setterModel" : {
            "variableName" : "job",
            "variableType" : "Job",
            "variableDeclarationType" : "Job",
            "documentation" : "",
            "simpleType" : "Job",
            "variableSetterType" : "Job"
          },
          "getterModel" : {
            "returnType" : "Job",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Job",
            "marshallLocationName" : "Job",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A section of the response body that provides information about the job.</p>\n@param job A section of the response body that provides information about the job.*/",
          "getterDocumentation" : "/**<p>A section of the response body that provides information about the job.</p>\n@return A section of the response body that provides information about the job.*/",
          "fluentSetterDocumentation" : "/**<p>A section of the response body that provides information about the job.</p>\n@param job A section of the response body that provides information about the job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A section of the response body that provides information about the job.</p>\n@param job A section of the response body that provides information about the job.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "UpdatePipelineNotificationsResult" : {
      "c2jName" : "UpdatePipelineNotificationsResponse",
      "documentation" : "<p>The <code>UpdatePipelineNotificationsResponse</code> structure.</p>",
      "shapeName" : "UpdatePipelineNotificationsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A section of the response body that provides information about the pipeline.</p>",
        "name" : "Pipeline",
        "c2jName" : "Pipeline",
        "c2jShape" : "Pipeline",
        "variable" : {
          "variableName" : "pipeline",
          "variableType" : "Pipeline",
          "variableDeclarationType" : "Pipeline",
          "documentation" : "<p>A section of the response body that provides information about the pipeline.</p>",
          "simpleType" : "Pipeline",
          "variableSetterType" : "Pipeline"
        },
        "setterModel" : {
          "variableName" : "pipeline",
          "variableType" : "Pipeline",
          "variableDeclarationType" : "Pipeline",
          "documentation" : "",
          "simpleType" : "Pipeline",
          "variableSetterType" : "Pipeline"
        },
        "getterModel" : {
          "returnType" : "Pipeline",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Pipeline",
          "marshallLocationName" : "Pipeline",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A section of the response body that provides information about the pipeline.</p>\n@param pipeline A section of the response body that provides information about the pipeline.*/",
        "getterDocumentation" : "/**<p>A section of the response body that provides information about the pipeline.</p>\n@return A section of the response body that provides information about the pipeline.*/",
        "fluentSetterDocumentation" : "/**<p>A section of the response body that provides information about the pipeline.</p>\n@param pipeline A section of the response body that provides information about the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A section of the response body that provides information about the pipeline.</p>\n@param pipeline A section of the response body that provides information about the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "updatePipelineNotificationsResult",
        "variableType" : "UpdatePipelineNotificationsResult",
        "variableDeclarationType" : "UpdatePipelineNotificationsResult",
        "documentation" : null,
        "simpleType" : "UpdatePipelineNotificationsResult",
        "variableSetterType" : "UpdatePipelineNotificationsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Pipeline" : {
          "documentation" : "<p>A section of the response body that provides information about the pipeline.</p>",
          "name" : "Pipeline",
          "c2jName" : "Pipeline",
          "c2jShape" : "Pipeline",
          "variable" : {
            "variableName" : "pipeline",
            "variableType" : "Pipeline",
            "variableDeclarationType" : "Pipeline",
            "documentation" : "<p>A section of the response body that provides information about the pipeline.</p>",
            "simpleType" : "Pipeline",
            "variableSetterType" : "Pipeline"
          },
          "setterModel" : {
            "variableName" : "pipeline",
            "variableType" : "Pipeline",
            "variableDeclarationType" : "Pipeline",
            "documentation" : "",
            "simpleType" : "Pipeline",
            "variableSetterType" : "Pipeline"
          },
          "getterModel" : {
            "returnType" : "Pipeline",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Pipeline",
            "marshallLocationName" : "Pipeline",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A section of the response body that provides information about the pipeline.</p>\n@param pipeline A section of the response body that provides information about the pipeline.*/",
          "getterDocumentation" : "/**<p>A section of the response body that provides information about the pipeline.</p>\n@return A section of the response body that provides information about the pipeline.*/",
          "fluentSetterDocumentation" : "/**<p>A section of the response body that provides information about the pipeline.</p>\n@param pipeline A section of the response body that provides information about the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A section of the response body that provides information about the pipeline.</p>\n@param pipeline A section of the response body that provides information about the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "Preset" : {
      "c2jName" : "Preset",
      "documentation" : "<p>Presets are templates that contain most of the settings for transcoding media files from one format to another. Elastic Transcoder includes some default presets for common formats, for example, several iPod and iPhone versions. You can also create your own presets for formats that aren't included among the default presets. You specify which preset you want to use when you create a job.</p>",
      "shapeName" : "Preset",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Identifier for the new preset. You use this value to get settings for the preset or to delete it.</p>",
        "name" : "Id",
        "c2jName" : "Id",
        "c2jShape" : "Id",
        "variable" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Identifier for the new preset. You use this value to get settings for the preset or to delete it.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Id",
          "marshallLocationName" : "Id",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Identifier for the new preset. You use this value to get settings for the preset or to delete it.</p>\n@param id Identifier for the new preset. You use this value to get settings for the preset or to delete it.*/",
        "getterDocumentation" : "/**<p>Identifier for the new preset. You use this value to get settings for the preset or to delete it.</p>\n@return Identifier for the new preset. You use this value to get settings for the preset or to delete it.*/",
        "fluentSetterDocumentation" : "/**<p>Identifier for the new preset. You use this value to get settings for the preset or to delete it.</p>\n@param id Identifier for the new preset. You use this value to get settings for the preset or to delete it.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Identifier for the new preset. You use this value to get settings for the preset or to delete it.</p>\n@param id Identifier for the new preset. You use this value to get settings for the preset or to delete it.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The Amazon Resource Name (ARN) for the preset.</p>",
        "name" : "Arn",
        "c2jName" : "Arn",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) for the preset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "arn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Arn",
          "marshallLocationName" : "Arn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the preset.</p>\n@param arn The Amazon Resource Name (ARN) for the preset.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the preset.</p>\n@return The Amazon Resource Name (ARN) for the preset.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the preset.</p>\n@param arn The Amazon Resource Name (ARN) for the preset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the preset.</p>\n@param arn The Amazon Resource Name (ARN) for the preset.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The name of the preset.</p>",
        "name" : "Name",
        "c2jName" : "Name",
        "c2jShape" : "Name",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the preset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Name",
          "marshallLocationName" : "Name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the preset.</p>\n@param name The name of the preset.*/",
        "getterDocumentation" : "/**<p>The name of the preset.</p>\n@return The name of the preset.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the preset.</p>\n@param name The name of the preset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the preset.</p>\n@param name The name of the preset.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A description of the preset.</p>",
        "name" : "Description",
        "c2jName" : "Description",
        "c2jShape" : "Description",
        "variable" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A description of the preset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "description",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Description",
          "marshallLocationName" : "Description",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A description of the preset.</p>\n@param description A description of the preset.*/",
        "getterDocumentation" : "/**<p>A description of the preset.</p>\n@return A description of the preset.*/",
        "fluentSetterDocumentation" : "/**<p>A description of the preset.</p>\n@param description A description of the preset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A description of the preset.</p>\n@param description A description of the preset.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>",
        "name" : "Container",
        "c2jName" : "Container",
        "c2jShape" : "PresetContainer",
        "variable" : {
          "variableName" : "container",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "container",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Container",
          "marshallLocationName" : "Container",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>\n@param container The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.*/",
        "getterDocumentation" : "/**<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>\n@return The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.*/",
        "fluentSetterDocumentation" : "/**<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>\n@param container The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>\n@param container The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A section of the response body that provides information about the audio preset values.</p>",
        "name" : "Audio",
        "c2jName" : "Audio",
        "c2jShape" : "AudioParameters",
        "variable" : {
          "variableName" : "audio",
          "variableType" : "AudioParameters",
          "variableDeclarationType" : "AudioParameters",
          "documentation" : "<p>A section of the response body that provides information about the audio preset values.</p>",
          "simpleType" : "AudioParameters",
          "variableSetterType" : "AudioParameters"
        },
        "setterModel" : {
          "variableName" : "audio",
          "variableType" : "AudioParameters",
          "variableDeclarationType" : "AudioParameters",
          "documentation" : "",
          "simpleType" : "AudioParameters",
          "variableSetterType" : "AudioParameters"
        },
        "getterModel" : {
          "returnType" : "AudioParameters",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Audio",
          "marshallLocationName" : "Audio",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A section of the response body that provides information about the audio preset values.</p>\n@param audio A section of the response body that provides information about the audio preset values.*/",
        "getterDocumentation" : "/**<p>A section of the response body that provides information about the audio preset values.</p>\n@return A section of the response body that provides information about the audio preset values.*/",
        "fluentSetterDocumentation" : "/**<p>A section of the response body that provides information about the audio preset values.</p>\n@param audio A section of the response body that provides information about the audio preset values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A section of the response body that provides information about the audio preset values.</p>\n@param audio A section of the response body that provides information about the audio preset values.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A section of the response body that provides information about the video preset values.</p>",
        "name" : "Video",
        "c2jName" : "Video",
        "c2jShape" : "VideoParameters",
        "variable" : {
          "variableName" : "video",
          "variableType" : "VideoParameters",
          "variableDeclarationType" : "VideoParameters",
          "documentation" : "<p>A section of the response body that provides information about the video preset values.</p>",
          "simpleType" : "VideoParameters",
          "variableSetterType" : "VideoParameters"
        },
        "setterModel" : {
          "variableName" : "video",
          "variableType" : "VideoParameters",
          "variableDeclarationType" : "VideoParameters",
          "documentation" : "",
          "simpleType" : "VideoParameters",
          "variableSetterType" : "VideoParameters"
        },
        "getterModel" : {
          "returnType" : "VideoParameters",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Video",
          "marshallLocationName" : "Video",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A section of the response body that provides information about the video preset values.</p>\n@param video A section of the response body that provides information about the video preset values.*/",
        "getterDocumentation" : "/**<p>A section of the response body that provides information about the video preset values.</p>\n@return A section of the response body that provides information about the video preset values.*/",
        "fluentSetterDocumentation" : "/**<p>A section of the response body that provides information about the video preset values.</p>\n@param video A section of the response body that provides information about the video preset values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A section of the response body that provides information about the video preset values.</p>\n@param video A section of the response body that provides information about the video preset values.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A section of the response body that provides information about the thumbnail preset values, if any.</p>",
        "name" : "Thumbnails",
        "c2jName" : "Thumbnails",
        "c2jShape" : "Thumbnails",
        "variable" : {
          "variableName" : "thumbnails",
          "variableType" : "Thumbnails",
          "variableDeclarationType" : "Thumbnails",
          "documentation" : "<p>A section of the response body that provides information about the thumbnail preset values, if any.</p>",
          "simpleType" : "Thumbnails",
          "variableSetterType" : "Thumbnails"
        },
        "setterModel" : {
          "variableName" : "thumbnails",
          "variableType" : "Thumbnails",
          "variableDeclarationType" : "Thumbnails",
          "documentation" : "",
          "simpleType" : "Thumbnails",
          "variableSetterType" : "Thumbnails"
        },
        "getterModel" : {
          "returnType" : "Thumbnails",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Thumbnails",
          "marshallLocationName" : "Thumbnails",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A section of the response body that provides information about the thumbnail preset values, if any.</p>\n@param thumbnails A section of the response body that provides information about the thumbnail preset values, if any.*/",
        "getterDocumentation" : "/**<p>A section of the response body that provides information about the thumbnail preset values, if any.</p>\n@return A section of the response body that provides information about the thumbnail preset values, if any.*/",
        "fluentSetterDocumentation" : "/**<p>A section of the response body that provides information about the thumbnail preset values, if any.</p>\n@param thumbnails A section of the response body that provides information about the thumbnail preset values, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A section of the response body that provides information about the thumbnail preset values, if any.</p>\n@param thumbnails A section of the response body that provides information about the thumbnail preset values, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>",
        "name" : "Type",
        "c2jName" : "Type",
        "c2jShape" : "PresetType",
        "variable" : {
          "variableName" : "type",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "type",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Type",
          "marshallLocationName" : "Type",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>\n@param type Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).*/",
        "getterDocumentation" : "/**<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>\n@return Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).*/",
        "fluentSetterDocumentation" : "/**<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>\n@param type Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>\n@param type Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "preset",
        "variableType" : "Preset",
        "variableDeclarationType" : "Preset",
        "documentation" : null,
        "simpleType" : "Preset",
        "variableSetterType" : "Preset"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Container" : {
          "documentation" : "<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>",
          "name" : "Container",
          "c2jName" : "Container",
          "c2jShape" : "PresetContainer",
          "variable" : {
            "variableName" : "container",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "container",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Container",
            "marshallLocationName" : "Container",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>\n@param container The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.*/",
          "getterDocumentation" : "/**<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>\n@return The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.*/",
          "fluentSetterDocumentation" : "/**<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>\n@param container The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>\n@param container The container type for the output file. Valid values include <code>flac</code>, <code>flv</code>, <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Type" : {
          "documentation" : "<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>",
          "name" : "Type",
          "c2jName" : "Type",
          "c2jShape" : "PresetType",
          "variable" : {
            "variableName" : "type",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "type",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Type",
            "marshallLocationName" : "Type",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>\n@param type Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).*/",
          "getterDocumentation" : "/**<p>Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).</p>\n@return Whether the preset is a default preset provided by Elastic Transcoder (<code>System</code>) or a preset that you have defined (<code>Custom</code>).*/",
[...]
