{
  "metadata" : {
    "apiVersion" : "2013-01-01",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon CloudSearch Configuration Service</fullname> <p>You use the Amazon CloudSearch configuration service to create, configure, and manage search domains. Configuration service requests are submitted using the AWS Query protocol. AWS Query requests are HTTP or HTTPS requests submitted via HTTP GET or POST with a query parameter named Action.</p> <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com. For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region\" target=\"_blank\">Regions and Endpoints</a>.</p>",
    "defaultEndpoint" : "https://cloudsearch.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cloudsearch.us-east-1.amazonaws.com/",
    "syncInterface" : "AmazonCloudSearch",
    "syncClient" : "AmazonCloudSearchClient",
    "asyncInterface" : "AmazonCloudSearchAsync",
    "asyncClient" : "AmazonCloudSearchAsyncClient",
    "packageName" : "com.amazonaws.services.cloudsearchv2",
    "packagePath" : "com/amazonaws/services/cloudsearchv2",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudSearch",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "cloudsearch",
    "signingName" : "cloudsearch",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "syncClientBuilderClassName" : "AmazonCloudSearchClientBuilder",
    "asyncClientBuilderClassName" : "AmazonCloudSearchAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonCloudSearchModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudsearchv2.smoketests",
    "serviceName" : "Amazon CloudSearch",
    "cborProtocol" : false,
    "xmlProtocol" : true,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "jsonProtocol" : false
  },
  "operations" : {
    "BuildSuggesters" : {
      "documentation" : "<p>Indexes the search suggestions. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters\">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "BuildSuggesters",
      "deprecated" : false,
      "input" : {
        "variableName" : "buildSuggestersRequest",
        "variableType" : "BuildSuggestersRequest",
        "variableDeclarationType" : "BuildSuggestersRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>BuildSuggester</a></code> operation. Specifies the name of the domain you want to update.</p>",
        "simpleType" : "BuildSuggestersRequest",
        "variableSetterType" : "BuildSuggestersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BuildSuggestersResult",
        "documentation" : "<p>The result of a <code>BuildSuggester</code> request. Contains a list of the fields used for suggestions.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "buildSuggesters",
      "syncReturnType" : "BuildSuggestersResult",
      "asyncReturnType" : "BuildSuggestersResult",
      "asyncFutureType" : "java.util.concurrent.Future<BuildSuggestersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BuildSuggestersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BuildSuggestersRequest, BuildSuggestersResult>",
      "authenticated" : true
    },
    "CreateDomain" : {
      "documentation" : "<p>Creates a new search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html\" target=\"_blank\">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "CreateDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDomainRequest",
        "variableType" : "CreateDomainRequest",
        "variableDeclarationType" : "CreateDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>CreateDomain</a></code> operation. Specifies a name for the new search domain.</p>",
        "simpleType" : "CreateDomainRequest",
        "variableSetterType" : "CreateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDomainResult",
        "documentation" : "<p>The result of a <code>CreateDomainRequest</code>. Contains the status of a newly created domain.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createDomain",
      "syncReturnType" : "CreateDomainResult",
      "asyncReturnType" : "CreateDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainRequest, CreateDomainResult>",
      "authenticated" : true
    },
    "DefineAnalysisScheme" : {
      "documentation" : "<p>Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DefineAnalysisScheme",
      "deprecated" : false,
      "input" : {
        "variableName" : "defineAnalysisSchemeRequest",
        "variableType" : "DefineAnalysisSchemeRequest",
        "variableDeclarationType" : "DefineAnalysisSchemeRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DefineAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme configuration.</p>",
        "simpleType" : "DefineAnalysisSchemeRequest",
        "variableSetterType" : "DefineAnalysisSchemeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DefineAnalysisSchemeResult",
        "documentation" : "<p>The result of a <code><a>DefineAnalysisScheme</a></code> request. Contains the status of the newly-configured analysis scheme.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "defineAnalysisScheme",
      "syncReturnType" : "DefineAnalysisSchemeResult",
      "asyncReturnType" : "DefineAnalysisSchemeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DefineAnalysisSchemeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DefineAnalysisSchemeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DefineAnalysisSchemeRequest, DefineAnalysisSchemeResult>",
      "authenticated" : true
    },
    "DefineExpression" : {
      "documentation" : "<p>Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DefineExpression",
      "deprecated" : false,
      "input" : {
        "variableName" : "defineExpressionRequest",
        "variableType" : "DefineExpressionRequest",
        "variableDeclarationType" : "DefineExpressionRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DefineExpression</a></code> operation. Specifies the name of the domain you want to update and the expression you want to configure.</p>",
        "simpleType" : "DefineExpressionRequest",
        "variableSetterType" : "DefineExpressionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DefineExpressionResult",
        "documentation" : "<p>The result of a <code>DefineExpression</code> request. Contains the status of the newly-configured expression.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "defineExpression",
      "syncReturnType" : "DefineExpressionResult",
      "asyncReturnType" : "DefineExpressionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DefineExpressionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DefineExpressionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DefineExpressionRequest, DefineExpressionResult>",
      "authenticated" : true
    },
    "DefineIndexField" : {
      "documentation" : "<p>Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "operationName" : "DefineIndexField",
      "deprecated" : false,
      "input" : {
        "variableName" : "defineIndexFieldRequest",
        "variableType" : "DefineIndexFieldRequest",
        "variableDeclarationType" : "DefineIndexFieldRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DefineIndexField</a></code> operation. Specifies the name of the domain you want to update and the index field configuration.</p>",
        "simpleType" : "DefineIndexFieldRequest",
        "variableSetterType" : "DefineIndexFieldRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DefineIndexFieldResult",
        "documentation" : "<p>The result of a <code><a>DefineIndexField</a></code> request. Contains the status of the newly-configured index field.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "defineIndexField",
      "syncReturnType" : "DefineIndexFieldResult",
      "asyncReturnType" : "DefineIndexFieldResult",
      "asyncFutureType" : "java.util.concurrent.Future<DefineIndexFieldResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DefineIndexFieldResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DefineIndexFieldRequest, DefineIndexFieldResult>",
      "authenticated" : true
    },
    "DefineSuggester" : {
      "documentation" : "<p>Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DefineSuggester",
      "deprecated" : false,
      "input" : {
        "variableName" : "defineSuggesterRequest",
        "variableType" : "DefineSuggesterRequest",
        "variableDeclarationType" : "DefineSuggesterRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DefineSuggester</a></code> operation. Specifies the name of the domain you want to update and the suggester configuration.</p>",
        "simpleType" : "DefineSuggesterRequest",
        "variableSetterType" : "DefineSuggesterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DefineSuggesterResult",
        "documentation" : "<p>The result of a <code>DefineSuggester</code> request. Contains the status of the newly-configured suggester.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "defineSuggester",
      "syncReturnType" : "DefineSuggesterResult",
      "asyncReturnType" : "DefineSuggesterResult",
      "asyncFutureType" : "java.util.concurrent.Future<DefineSuggesterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DefineSuggesterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DefineSuggesterRequest, DefineSuggesterResult>",
      "authenticated" : true
    },
    "DeleteAnalysisScheme" : {
      "documentation" : "<p>Deletes an analysis scheme. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "operationName" : "DeleteAnalysisScheme",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAnalysisSchemeRequest",
        "variableType" : "DeleteAnalysisSchemeRequest",
        "variableDeclarationType" : "DeleteAnalysisSchemeRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme you want to delete. </p>",
        "simpleType" : "DeleteAnalysisSchemeRequest",
        "variableSetterType" : "DeleteAnalysisSchemeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAnalysisSchemeResult",
        "documentation" : "<p>The result of a <code>DeleteAnalysisScheme</code> request. Contains the status of the deleted analysis scheme.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteAnalysisScheme",
      "syncReturnType" : "DeleteAnalysisSchemeResult",
      "asyncReturnType" : "DeleteAnalysisSchemeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAnalysisSchemeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAnalysisSchemeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAnalysisSchemeRequest, DeleteAnalysisSchemeResult>",
      "authenticated" : true
    },
    "DeleteDomain" : {
      "documentation" : "<p>Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html\" target=\"_blank\">Deleting a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "operationName" : "DeleteDomain",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDomainRequest",
        "variableType" : "DeleteDomainRequest",
        "variableDeclarationType" : "DeleteDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteDomain</a></code> operation. Specifies the name of the domain you want to delete.</p>",
        "simpleType" : "DeleteDomainRequest",
        "variableSetterType" : "DeleteDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDomainResult",
        "documentation" : "<p>The result of a <code>DeleteDomain</code> request. Contains the status of a newly deleted domain, or no status if the domain has already been completely deleted.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteDomain",
      "syncReturnType" : "DeleteDomainResult",
      "asyncReturnType" : "DeleteDomainResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainRequest, DeleteDomainResult>",
      "authenticated" : true
    },
    "DeleteExpression" : {
      "documentation" : "<p>Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DeleteExpression",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteExpressionRequest",
        "variableType" : "DeleteExpressionRequest",
        "variableDeclarationType" : "DeleteExpressionRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteExpression</a></code> operation. Specifies the name of the domain you want to update and the name of the expression you want to delete.</p>",
        "simpleType" : "DeleteExpressionRequest",
        "variableSetterType" : "DeleteExpressionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteExpressionResult",
        "documentation" : "<p>The result of a <code><a>DeleteExpression</a></code> request. Specifies the expression being deleted.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteExpression",
      "syncReturnType" : "DeleteExpressionResult",
      "asyncReturnType" : "DeleteExpressionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteExpressionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteExpressionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteExpressionRequest, DeleteExpressionResult>",
      "authenticated" : true
    },
    "DeleteIndexField" : {
      "documentation" : "<p>Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DeleteIndexField",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteIndexFieldRequest",
        "variableType" : "DeleteIndexFieldRequest",
        "variableDeclarationType" : "DeleteIndexFieldRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteIndexField</a></code> operation. Specifies the name of the domain you want to update and the name of the index field you want to delete.</p>",
        "simpleType" : "DeleteIndexFieldRequest",
        "variableSetterType" : "DeleteIndexFieldRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteIndexFieldResult",
        "documentation" : "<p>The result of a <code><a>DeleteIndexField</a></code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteIndexField",
      "syncReturnType" : "DeleteIndexFieldResult",
      "asyncReturnType" : "DeleteIndexFieldResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIndexFieldResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIndexFieldResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIndexFieldRequest, DeleteIndexFieldResult>",
      "authenticated" : true
    },
    "DeleteSuggester" : {
      "documentation" : "<p>Deletes a suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DeleteSuggester",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteSuggesterRequest",
        "variableType" : "DeleteSuggesterRequest",
        "variableDeclarationType" : "DeleteSuggesterRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteSuggester</a></code> operation. Specifies the name of the domain you want to update and name of the suggester you want to delete.</p>",
        "simpleType" : "DeleteSuggesterRequest",
        "variableSetterType" : "DeleteSuggesterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteSuggesterResult",
        "documentation" : "<p>The result of a <code>DeleteSuggester</code> request. Contains the status of the deleted suggester.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteSuggester",
      "syncReturnType" : "DeleteSuggesterResult",
      "asyncReturnType" : "DeleteSuggesterResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSuggesterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSuggesterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSuggesterRequest, DeleteSuggesterResult>",
      "authenticated" : true
    },
    "DescribeAnalysisSchemes" : {
      "documentation" : "<p>Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name. By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DescribeAnalysisSchemes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAnalysisSchemesRequest",
        "variableType" : "DescribeAnalysisSchemesRequest",
        "variableDeclarationType" : "DescribeAnalysisSchemesRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeAnalysisSchemes</a></code> operation. Specifies the name of the domain you want to describe. To limit the response to particular analysis schemes, specify the names of the analysis schemes you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>. </p>",
        "simpleType" : "DescribeAnalysisSchemesRequest",
        "variableSetterType" : "DescribeAnalysisSchemesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAnalysisSchemesResult",
        "documentation" : "<p>The result of a <code>DescribeAnalysisSchemes</code> request. Contains the analysis schemes configured for the domain specified in the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAnalysisSchemes",
      "syncReturnType" : "DescribeAnalysisSchemesResult",
      "asyncReturnType" : "DescribeAnalysisSchemesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAnalysisSchemesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAnalysisSchemesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAnalysisSchemesRequest, DescribeAnalysisSchemesResult>",
      "authenticated" : true
    },
    "DescribeAvailabilityOptions" : {
      "documentation" : "<p>Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DescribeAvailabilityOptions",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAvailabilityOptionsRequest",
        "variableType" : "DescribeAvailabilityOptionsRequest",
        "variableDeclarationType" : "DescribeAvailabilityOptionsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the Deployed option to <code>true</code>.</p>",
        "simpleType" : "DescribeAvailabilityOptionsRequest",
        "variableSetterType" : "DescribeAvailabilityOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAvailabilityOptionsResult",
        "documentation" : "<p>The result of a <code>DescribeAvailabilityOptions</code> request. Indicates whether or not the Multi-AZ option is enabled for the domain specified in the request. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>The request was rejected because it attempted an operation which is not enabled.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAvailabilityOptions",
      "syncReturnType" : "DescribeAvailabilityOptionsResult",
      "asyncReturnType" : "DescribeAvailabilityOptionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAvailabilityOptionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAvailabilityOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAvailabilityOptionsRequest, DescribeAvailabilityOptionsResult>",
      "authenticated" : true
    },
    "DescribeDomains" : {
      "documentation" : "<p>Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain's search endpoint: <code>q=matchall&amp;amp;q.parser=structured&amp;amp;size=0</code>. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DescribeDomains",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDomainsRequest",
        "variableType" : "DescribeDomainsRequest",
        "variableDeclarationType" : "DescribeDomainsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. By default shows the status of all domains. To restrict the response to particular domains, specify the names of the domains you want to describe.</p>",
        "simpleType" : "DescribeDomainsRequest",
        "variableSetterType" : "DescribeDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDomainsResult",
        "documentation" : "<p>The result of a <code>DescribeDomains</code> request. Contains the status of the domains specified in the request or all domains owned by the account.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeDomains",
      "syncReturnType" : "DescribeDomainsResult",
      "asyncReturnType" : "DescribeDomainsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDomainsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDomainsRequest, DescribeDomainsResult>",
      "authenticated" : true
    },
    "DescribeExpressions" : {
      "documentation" : "<p>Gets the expressions configured for the search domain. Can be limited to specific expressions by name. By default, shows all expressions and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DescribeExpressions",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeExpressionsRequest",
        "variableType" : "DescribeExpressionsRequest",
        "variableDeclarationType" : "DescribeExpressionsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular expressions, specify the names of the expressions you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "simpleType" : "DescribeExpressionsRequest",
        "variableSetterType" : "DescribeExpressionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeExpressionsResult",
        "documentation" : "<p>The result of a <code>DescribeExpressions</code> request. Contains the expressions configured for the domain specified in the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeExpressions",
      "syncReturnType" : "DescribeExpressionsResult",
      "asyncReturnType" : "DescribeExpressionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExpressionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExpressionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExpressionsRequest, DescribeExpressionsResult>",
      "authenticated" : true
    },
    "DescribeIndexFields" : {
      "documentation" : "<p>Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. By default, shows all fields and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Domain Information</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DescribeIndexFields",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeIndexFieldsRequest",
        "variableType" : "DescribeIndexFieldsRequest",
        "variableDeclarationType" : "DescribeIndexFieldsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeIndexFields</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular index fields, specify the names of the index fields you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "simpleType" : "DescribeIndexFieldsRequest",
        "variableSetterType" : "DescribeIndexFieldsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeIndexFieldsResult",
        "documentation" : "<p>The result of a <code>DescribeIndexFields</code> request. Contains the index fields configured for the domain specified in the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeIndexFields",
      "syncReturnType" : "DescribeIndexFieldsResult",
      "asyncReturnType" : "DescribeIndexFieldsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIndexFieldsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIndexFieldsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIndexFieldsRequest, DescribeIndexFieldsResult>",
      "authenticated" : true
    },
    "DescribeScalingParameters" : {
      "documentation" : "<p>Gets the scaling parameters configured for a domain. A domain's scaling parameters specify the desired search instance type and replication count. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html\" target=\"_blank\">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DescribeScalingParameters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeScalingParametersRequest",
        "variableType" : "DescribeScalingParametersRequest",
        "variableDeclarationType" : "DescribeScalingParametersRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeScalingParameters</a></code> operation. Specifies the name of the domain you want to describe. </p>",
        "simpleType" : "DescribeScalingParametersRequest",
        "variableSetterType" : "DescribeScalingParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeScalingParametersResult",
        "documentation" : "<p>The result of a <code>DescribeScalingParameters</code> request. Contains the scaling parameters configured for the domain specified in the request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeScalingParameters",
      "syncReturnType" : "DescribeScalingParametersResult",
      "asyncReturnType" : "DescribeScalingParametersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingParametersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingParametersRequest, DescribeScalingParametersResult>",
      "authenticated" : true
    },
    "DescribeServiceAccessPolicies" : {
      "documentation" : "<p>Gets information about the access policies that control access to the domain's document and search endpoints. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\">Configuring Access for a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DescribeServiceAccessPolicies",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeServiceAccessPoliciesRequest",
        "variableType" : "DescribeServiceAccessPoliciesRequest",
        "variableDeclarationType" : "DescribeServiceAccessPoliciesRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeServiceAccessPolicies</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "simpleType" : "DescribeServiceAccessPoliciesRequest",
        "variableSetterType" : "DescribeServiceAccessPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeServiceAccessPoliciesResult",
        "documentation" : "<p>The result of a <code>DescribeServiceAccessPolicies</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeServiceAccessPolicies",
      "syncReturnType" : "DescribeServiceAccessPoliciesResult",
      "asyncReturnType" : "DescribeServiceAccessPoliciesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServiceAccessPoliciesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServiceAccessPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServiceAccessPoliciesRequest, DescribeServiceAccessPoliciesResult>",
      "authenticated" : true
    },
    "DescribeSuggesters" : {
      "documentation" : "<p>Gets the suggesters configured for a domain. A suggester enables you to display possible matches before users finish typing their queries. Can be limited to specific suggesters by name. By default, shows all suggesters and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "DescribeSuggesters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSuggestersRequest",
        "variableType" : "DescribeSuggestersRequest",
        "variableDeclarationType" : "DescribeSuggestersRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeSuggester</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular suggesters, specify the names of the suggesters you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "simpleType" : "DescribeSuggestersRequest",
        "variableSetterType" : "DescribeSuggestersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSuggestersResult",
        "documentation" : "<p>The result of a <code>DescribeSuggesters</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeSuggesters",
      "syncReturnType" : "DescribeSuggestersResult",
      "asyncReturnType" : "DescribeSuggestersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSuggestersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSuggestersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSuggestersRequest, DescribeSuggestersResult>",
      "authenticated" : true
    },
    "IndexDocuments" : {
      "documentation" : "<p>Tells the search domain to start indexing its documents using the latest indexing options. This operation must be invoked to activate options whose <a>OptionStatus</a> is <code>RequiresIndexDocuments</code>.</p>",
      "operationName" : "IndexDocuments",
      "deprecated" : false,
      "input" : {
        "variableName" : "indexDocumentsRequest",
        "variableType" : "IndexDocumentsRequest",
        "variableDeclarationType" : "IndexDocumentsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>IndexDocuments</a></code> operation. Specifies the name of the domain you want to re-index.</p>",
        "simpleType" : "IndexDocumentsRequest",
        "variableSetterType" : "IndexDocumentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "IndexDocumentsResult",
        "documentation" : "<p>The result of an <code>IndexDocuments</code> request. Contains the status of the indexing operation, including the fields being indexed.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "indexDocuments",
      "syncReturnType" : "IndexDocumentsResult",
      "asyncReturnType" : "IndexDocumentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<IndexDocumentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<IndexDocumentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<IndexDocumentsRequest, IndexDocumentsResult>",
      "authenticated" : true
    },
    "ListDomainNames" : {
      "documentation" : "<p>Lists all search domains owned by an account.</p>",
      "operationName" : "ListDomainNames",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDomainNamesRequest",
        "variableType" : "ListDomainNamesRequest",
        "variableDeclarationType" : "ListDomainNamesRequest",
        "documentation" : null,
        "simpleType" : "ListDomainNamesRequest",
        "variableSetterType" : "ListDomainNamesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDomainNamesResult",
        "documentation" : "<p>The result of a <code>ListDomainNames</code> request. Contains a list of the domains owned by an account.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listDomainNames",
      "syncReturnType" : "ListDomainNamesResult",
      "asyncReturnType" : "ListDomainNamesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainNamesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainNamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainNamesRequest, ListDomainNamesResult>",
      "authenticated" : true
    },
    "UpdateAvailabilityOptions" : {
      "documentation" : "<p>Configures the availability options for a domain. Enabling the Multi-AZ option expands an Amazon CloudSearch domain to an additional Availability Zone in the same Region to increase fault tolerance in the event of a service disruption. Changes to the Multi-AZ option can take about half an hour to become active. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "operationName" : "UpdateAvailabilityOptions",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateAvailabilityOptionsRequest",
        "variableType" : "UpdateAvailabilityOptionsRequest",
        "variableDeclarationType" : "UpdateAvailabilityOptionsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to update and the Multi-AZ availability option.</p>",
        "simpleType" : "UpdateAvailabilityOptionsRequest",
        "variableSetterType" : "UpdateAvailabilityOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateAvailabilityOptionsResult",
        "documentation" : "<p>The result of a <code>UpdateAvailabilityOptions</code> request. Contains the status of the domain's availability options. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>The request was rejected because it attempted an operation which is not enabled.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateAvailabilityOptions",
      "syncReturnType" : "UpdateAvailabilityOptionsResult",
      "asyncReturnType" : "UpdateAvailabilityOptionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAvailabilityOptionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAvailabilityOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAvailabilityOptionsRequest, UpdateAvailabilityOptionsResult>",
      "authenticated" : true
    },
    "UpdateScalingParameters" : {
      "documentation" : "<p>Configures scaling parameters for a domain. A domain's scaling parameters specify the desired search instance type and replication count. Amazon CloudSearch will still automatically scale your domain based on the volume of data and traffic, but not below the desired instance type and replication count. If the Multi-AZ option is enabled, these values control the resources used per Availability Zone. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html\" target=\"_blank\">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "operationName" : "UpdateScalingParameters",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateScalingParametersRequest",
        "variableType" : "UpdateScalingParametersRequest",
        "variableDeclarationType" : "UpdateScalingParametersRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateScalingParameters</a></code> operation. Specifies the name of the domain you want to update and the scaling parameters you want to configure.</p>",
        "simpleType" : "UpdateScalingParametersRequest",
        "variableSetterType" : "UpdateScalingParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateScalingParametersResult",
        "documentation" : "<p>The result of a <code>UpdateScalingParameters</code> request. Contains the status of the newly-configured scaling parameters.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateScalingParameters",
      "syncReturnType" : "UpdateScalingParametersResult",
      "asyncReturnType" : "UpdateScalingParametersResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateScalingParametersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateScalingParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateScalingParametersRequest, UpdateScalingParametersResult>",
      "authenticated" : true
    },
    "UpdateServiceAccessPolicies" : {
      "documentation" : "<p>Configures the access rules that control access to the domain's document and search endpoints. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\"> Configuring Access for an Amazon CloudSearch Domain</a>.</p>",
      "operationName" : "UpdateServiceAccessPolicies",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateServiceAccessPoliciesRequest",
        "variableType" : "UpdateServiceAccessPoliciesRequest",
        "variableDeclarationType" : "UpdateServiceAccessPoliciesRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateServiceAccessPolicies</a></code> operation. Specifies the name of the domain you want to update and the access rules you want to configure.</p>",
        "simpleType" : "UpdateServiceAccessPoliciesRequest",
        "variableSetterType" : "UpdateServiceAccessPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateServiceAccessPoliciesResult",
        "documentation" : "<p>The result of an <code>UpdateServiceAccessPolicies</code> request. Contains the new access policies.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>"
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateServiceAccessPolicies",
      "syncReturnType" : "UpdateServiceAccessPoliciesResult",
      "asyncReturnType" : "UpdateServiceAccessPoliciesResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceAccessPoliciesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceAccessPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceAccessPoliciesRequest, UpdateServiceAccessPoliciesResult>",
      "authenticated" : true
    }
  },
  "shapes" : {
    "UpdateServiceAccessPoliciesRequest" : {
      "c2jName" : "UpdateServiceAccessPoliciesRequest",
      "documentation" : "<p>Container for the parameters to the <code><a>UpdateServiceAccessPolicies</a></code> operation. Specifies the name of the domain you want to update and the access rules you want to configure.</p>",
      "shapeName" : "UpdateServiceAccessPoliciesRequest",
      "deprecated" : false,
      "required" : [ "DomainName", "AccessPolicies" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "DomainName",
        "c2jName" : "DomainName",
        "c2jShape" : "DomainName",
        "variable" : {
          "variableName" : "domainName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "domainName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DomainName",
          "marshallLocationName" : "DomainName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param domainName */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param domainName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param domainName \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The access rules you want to configure. These rules replace any existing rules. </p>",
        "name" : "AccessPolicies",
        "c2jName" : "AccessPolicies",
        "c2jShape" : "PolicyDocument",
        "variable" : {
          "variableName" : "accessPolicies",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The access rules you want to configure. These rules replace any existing rules. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "accessPolicies",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AccessPolicies",
          "marshallLocationName" : "AccessPolicies",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The access rules you want to configure. These rules replace any existing rules. </p>\n@param accessPolicies The access rules you want to configure. These rules replace any existing rules.*/",
        "getterDocumentation" : "/**<p>The access rules you want to configure. These rules replace any existing rules. </p>\n@return The access rules you want to configure. These rules replace any existing rules.*/",
        "fluentSetterDocumentation" : "/**<p>The access rules you want to configure. These rules replace any existing rules. </p>\n@param accessPolicies The access rules you want to configure. These rules replace any existing rules.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The access rules you want to configure. These rules replace any existing rules. </p>\n@param accessPolicies The access rules you want to configure. These rules replace any existing rules.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "updateServiceAccessPoliciesRequest",
        "variableType" : "UpdateServiceAccessPoliciesRequest",
        "variableDeclarationType" : "UpdateServiceAccessPoliciesRequest",
        "documentation" : null,
        "simpleType" : "UpdateServiceAccessPoliciesRequest",
        "variableSetterType" : "UpdateServiceAccessPoliciesRequest"
      },
      "marshaller" : {
        "action" : "UpdateServiceAccessPolicies",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "DomainName" : {
          "documentation" : "",
          "name" : "DomainName",
          "c2jName" : "DomainName",
          "c2jShape" : "DomainName",
          "variable" : {
            "variableName" : "domainName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "domainName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DomainName",
            "marshallLocationName" : "DomainName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param domainName */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param domainName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param domainName \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "AccessPolicies" : {
          "documentation" : "<p>The access rules you want to configure. These rules replace any existing rules. </p>",
          "name" : "AccessPolicies",
          "c2jName" : "AccessPolicies",
          "c2jShape" : "PolicyDocument",
          "variable" : {
            "variableName" : "accessPolicies",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The access rules you want to configure. These rules replace any existing rules. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "accessPolicies",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "AccessPolicies",
            "marshallLocationName" : "AccessPolicies",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The access rules you want to configure. These rules replace any existing rules. </p>\n@param accessPolicies The access rules you want to configure. These rules replace any existing rules.*/",
          "getterDocumentation" : "/**<p>The access rules you want to configure. These rules replace any existing rules. </p>\n@return The access rules you want to configure. These rules replace any existing rules.*/",
          "fluentSetterDocumentation" : "/**<p>The access rules you want to configure. These rules replace any existing rules. </p>\n@param accessPolicies The access rules you want to configure. These rules replace any existing rules.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The access rules you want to configure. These rules replace any existing rules. </p>\n@param accessPolicies The access rules you want to configure. These rules replace any existing rules.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DoubleOptions" : {
      "c2jName" : "DoubleOptions",
      "documentation" : "<p>Options for a double-precision 64-bit floating point field. Present if <code>IndexFieldType</code> specifies the field is of type <code>double</code>. All options are enabled by default.</p>",
      "shapeName" : "DoubleOptions",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>",
        "name" : "DefaultValue",
        "c2jName" : "DefaultValue",
        "c2jShape" : "Double",
        "variable" : {
          "variableName" : "defaultValue",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "setterModel" : {
          "variableName" : "defaultValue",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DefaultValue",
          "marshallLocationName" : "DefaultValue",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>\n@param defaultValue A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.*/",
        "getterDocumentation" : "/**<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>\n@return A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.*/",
        "fluentSetterDocumentation" : "/**<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>\n@param defaultValue A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>\n@param defaultValue A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The name of the source field to map to the field. </p>",
        "name" : "SourceField",
        "c2jName" : "SourceField",
        "c2jShape" : "FieldName",
        "variable" : {
          "variableName" : "sourceField",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the source field to map to the field. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "sourceField",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SourceField",
          "marshallLocationName" : "SourceField",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the source field to map to the field. </p>\n@param sourceField The name of the source field to map to the field.*/",
        "getterDocumentation" : "/**<p>The name of the source field to map to the field. </p>\n@return The name of the source field to map to the field.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the source field to map to the field. </p>\n@param sourceField The name of the source field to map to the field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the source field to map to the field. </p>\n@param sourceField The name of the source field to map to the field.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Whether facet information can be returned for the field.</p>",
        "name" : "FacetEnabled",
        "c2jName" : "FacetEnabled",
        "c2jShape" : "Boolean",
        "variable" : {
          "variableName" : "facetEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Whether facet information can be returned for the field.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "facetEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "FacetEnabled",
          "marshallLocationName" : "FacetEnabled",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Whether facet information can be returned for the field.</p>\n@param facetEnabled Whether facet information can be returned for the field.*/",
        "getterDocumentation" : "/**<p>Whether facet information can be returned for the field.</p>\n@return Whether facet information can be returned for the field.*/",
        "fluentSetterDocumentation" : "/**<p>Whether facet information can be returned for the field.</p>\n@param facetEnabled Whether facet information can be returned for the field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Whether facet information can be returned for the field.</p>\n@param facetEnabled Whether facet information can be returned for the field.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Whether the contents of the field are searchable.</p>",
        "name" : "SearchEnabled",
        "c2jName" : "SearchEnabled",
        "c2jShape" : "Boolean",
        "variable" : {
          "variableName" : "searchEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Whether the contents of the field are searchable.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "searchEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SearchEnabled",
          "marshallLocationName" : "SearchEnabled",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Whether the contents of the field are searchable.</p>\n@param searchEnabled Whether the contents of the field are searchable.*/",
        "getterDocumentation" : "/**<p>Whether the contents of the field are searchable.</p>\n@return Whether the contents of the field are searchable.*/",
        "fluentSetterDocumentation" : "/**<p>Whether the contents of the field are searchable.</p>\n@param searchEnabled Whether the contents of the field are searchable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Whether the contents of the field are searchable.</p>\n@param searchEnabled Whether the contents of the field are searchable.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Whether the contents of the field can be returned in the search results.</p>",
        "name" : "ReturnEnabled",
        "c2jName" : "ReturnEnabled",
        "c2jShape" : "Boolean",
        "variable" : {
          "variableName" : "returnEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Whether the contents of the field can be returned in the search results.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "returnEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReturnEnabled",
          "marshallLocationName" : "ReturnEnabled",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Whether the contents of the field can be returned in the search results.</p>\n@param returnEnabled Whether the contents of the field can be returned in the search results.*/",
        "getterDocumentation" : "/**<p>Whether the contents of the field can be returned in the search results.</p>\n@return Whether the contents of the field can be returned in the search results.*/",
        "fluentSetterDocumentation" : "/**<p>Whether the contents of the field can be returned in the search results.</p>\n@param returnEnabled Whether the contents of the field can be returned in the search results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Whether the contents of the field can be returned in the search results.</p>\n@param returnEnabled Whether the contents of the field can be returned in the search results.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Whether the field can be used to sort the search results.</p>",
        "name" : "SortEnabled",
        "c2jName" : "SortEnabled",
        "c2jShape" : "Boolean",
        "variable" : {
          "variableName" : "sortEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Whether the field can be used to sort the search results.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "sortEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SortEnabled",
          "marshallLocationName" : "SortEnabled",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Whether the field can be used to sort the search results.</p>\n@param sortEnabled Whether the field can be used to sort the search results.*/",
        "getterDocumentation" : "/**<p>Whether the field can be used to sort the search results.</p>\n@return Whether the field can be used to sort the search results.*/",
        "fluentSetterDocumentation" : "/**<p>Whether the field can be used to sort the search results.</p>\n@param sortEnabled Whether the field can be used to sort the search results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Whether the field can be used to sort the search results.</p>\n@param sortEnabled Whether the field can be used to sort the search results.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "doubleOptions",
        "variableType" : "DoubleOptions",
        "variableDeclarationType" : "DoubleOptions",
        "documentation" : null,
        "simpleType" : "DoubleOptions",
        "variableSetterType" : "DoubleOptions"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "DefaultValue" : {
          "documentation" : "<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>",
          "name" : "DefaultValue",
          "c2jName" : "DefaultValue",
          "c2jShape" : "Double",
          "variable" : {
            "variableName" : "defaultValue",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "setterModel" : {
            "variableName" : "defaultValue",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DefaultValue",
            "marshallLocationName" : "DefaultValue",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>\n@param defaultValue A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.*/",
          "getterDocumentation" : "/**<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>\n@return A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.*/",
          "fluentSetterDocumentation" : "/**<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>\n@param defaultValue A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>\n@param defaultValue A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ReturnEnabled" : {
          "documentation" : "<p>Whether the contents of the field can be returned in the search results.</p>",
          "name" : "ReturnEnabled",
          "c2jName" : "ReturnEnabled",
          "c2jShape" : "Boolean",
          "variable" : {
            "variableName" : "returnEnabled",
[...]
