{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-04-12",
    "asyncClient" : "AWSXRayAsyncClient",
    "asyncClientBuilderClassName" : "AWSXRayAsyncClientBuilder",
    "asyncInterface" : "AWSXRayAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSXRayModuleInjector",
    "defaultEndpoint" : "xray.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "xray.us-east-1.amazonaws.com",
    "documentation" : "<p>AWS X-Ray provides APIs for managing debug traces and retrieving service maps and other data created by processing those traces.</p>",
    "endpointPrefix" : "xray",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.xray",
    "packagePath" : "com/amazonaws/services/xray",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS X-Ray",
    "serviceName" : "AWS X-Ray",
    "signingName" : "xray",
    "smokeTestsPackageName" : "com.amazonaws.services.xray.smoketests",
    "syncClient" : "AWSXRayClient",
    "syncClientBuilderClassName" : "AWSXRayClientBuilder",
    "syncInterface" : "AWSXRay",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetTraces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetTracesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetTracesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetTracesRequest, BatchGetTracesResult>",
      "asyncReturnType" : "BatchGetTracesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of traces specified by ID. Each trace is a collection of segment documents that originates from a single request. Use <code>GetTraceSummaries</code> to get a list of trace IDs.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>"
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetTracesRequest",
        "variableName" : "batchGetTracesRequest",
        "variableType" : "BatchGetTracesRequest",
        "documentation" : "",
        "simpleType" : "BatchGetTracesRequest",
        "variableSetterType" : "BatchGetTracesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetTraces",
      "operationName" : "BatchGetTraces",
      "returnType" : {
        "returnType" : "BatchGetTracesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetTracesResult"
    },
    "GetServiceGraph" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceGraphResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceGraphResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceGraphRequest, GetServiceGraphResult>",
      "asyncReturnType" : "GetServiceGraphResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a document that describes services that process incoming requests, and downstream services that they call as a result. Root services process incoming requests and make calls to downstream services. Root services are applications that use the AWS X-Ray SDK. Downstream services can be other applications, AWS resources, HTTP web APIs, or SQL databases.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>"
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetServiceGraphRequest",
        "variableName" : "getServiceGraphRequest",
        "variableType" : "GetServiceGraphRequest",
        "documentation" : "",
        "simpleType" : "GetServiceGraphRequest",
        "variableSetterType" : "GetServiceGraphRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceGraph",
      "operationName" : "GetServiceGraph",
      "returnType" : {
        "returnType" : "GetServiceGraphResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceGraphResult"
    },
    "GetTraceGraph" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTraceGraphResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTraceGraphResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTraceGraphRequest, GetTraceGraphResult>",
      "asyncReturnType" : "GetTraceGraphResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a service graph for one or more specific trace IDs.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>"
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetTraceGraphRequest",
        "variableName" : "getTraceGraphRequest",
        "variableType" : "GetTraceGraphRequest",
        "documentation" : "",
        "simpleType" : "GetTraceGraphRequest",
        "variableSetterType" : "GetTraceGraphRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTraceGraph",
      "operationName" : "GetTraceGraph",
      "returnType" : {
        "returnType" : "GetTraceGraphResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTraceGraphResult"
    },
    "GetTraceSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTraceSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTraceSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTraceSummariesRequest, GetTraceSummariesResult>",
      "asyncReturnType" : "GetTraceSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves IDs and metadata for traces available for a specified time frame using an optional filter. To get the full traces, pass the trace IDs to <code>BatchGetTraces</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>"
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetTraceSummariesRequest",
        "variableName" : "getTraceSummariesRequest",
        "variableType" : "GetTraceSummariesRequest",
        "documentation" : "",
        "simpleType" : "GetTraceSummariesRequest",
        "variableSetterType" : "GetTraceSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTraceSummaries",
      "operationName" : "GetTraceSummaries",
      "returnType" : {
        "returnType" : "GetTraceSummariesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTraceSummariesResult"
    },
    "PutTelemetryRecords" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutTelemetryRecordsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutTelemetryRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTelemetryRecordsRequest, PutTelemetryRecordsResult>",
      "asyncReturnType" : "PutTelemetryRecordsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used by the AWS X-Ray daemon to upload telemetry.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>"
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutTelemetryRecordsRequest",
        "variableName" : "putTelemetryRecordsRequest",
        "variableType" : "PutTelemetryRecordsRequest",
        "documentation" : "",
        "simpleType" : "PutTelemetryRecordsRequest",
        "variableSetterType" : "PutTelemetryRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putTelemetryRecords",
      "operationName" : "PutTelemetryRecords",
      "returnType" : {
        "returnType" : "PutTelemetryRecordsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutTelemetryRecordsResult"
    },
    "PutTraceSegments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutTraceSegmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutTraceSegmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTraceSegmentsRequest, PutTraceSegmentsResult>",
      "asyncReturnType" : "PutTraceSegmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads segment documents to AWS X-Ray. The X-Ray SDK generates segment documents and sends them to the X-Ray daemon, which uploads them in batches. A segment document can be a completed segment, an in-progress segment, or an array of subsegments.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>"
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutTraceSegmentsRequest",
        "variableName" : "putTraceSegmentsRequest",
        "variableType" : "PutTraceSegmentsRequest",
        "documentation" : "",
        "simpleType" : "PutTraceSegmentsRequest",
        "variableSetterType" : "PutTraceSegmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putTraceSegments",
      "operationName" : "PutTraceSegments",
      "returnType" : {
        "returnType" : "PutTraceSegmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutTraceSegmentsResult"
    }
  },
  "shapes" : {
    "Alias" : {
      "c2jName" : "Alias",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An alias for an edge.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The canonical name of the alias.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@return The canonical name of the alias.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The canonical name of the alias.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Names",
        "c2jShape" : "AliasNames",
        "deprecated" : false,
        "documentation" : "<p>A list of names for the alias, including the canonical name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@param names A list of names for the alias, including the canonical name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@return A list of names for the alias, including the canonical name.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Names",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Names",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Names",
        "setterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@param names A list of names for the alias, including the canonical name.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "names",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNames(java.util.Collection)} or {@link #withNames(java.util.Collection)} if you want to override the existing values.</p>\n@param names A list of names for the alias, including the canonical name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "names",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of names for the alias, including the canonical name.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Type",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The type of the alias.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The type of the alias.</p>\n@return The type of the alias.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Type",
        "setterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of the alias.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The canonical name of the alias.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@return The canonical name of the alias.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The canonical name of the alias.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Names" : {
          "c2jName" : "Names",
          "c2jShape" : "AliasNames",
          "deprecated" : false,
          "documentation" : "<p>A list of names for the alias, including the canonical name.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@param names A list of names for the alias, including the canonical name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@return A list of names for the alias, including the canonical name.*/",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Names",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Names",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "String",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Names",
          "setterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@param names A list of names for the alias, including the canonical name.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "names",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNames(java.util.Collection)} or {@link #withNames(java.util.Collection)} if you want to override the existing values.</p>\n@param names A list of names for the alias, including the canonical name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "names",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>A list of names for the alias, including the canonical name.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The type of the alias.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The type of the alias.</p>\n@return The type of the alias.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Type",
          "setterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The type of the alias.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "Alias",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Alias",
        "variableName" : "alias",
        "variableType" : "Alias",
        "documentation" : null,
        "simpleType" : "Alias",
        "variableSetterType" : "Alias"
      },
      "wrapper" : false
    },
    "AnnotationValue" : {
      "c2jName" : "AnnotationValue",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Value of a segment annotation. Has one of three value types: Number, Boolean or String.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "NumberValue",
        "c2jShape" : "NullableDouble",
        "deprecated" : false,
        "documentation" : "<p>Value for a Number annotation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@return Value for a Number annotation.*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "NumberValue",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NumberValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "NumberValue",
        "setterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "numberValue",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "numberValue",
          "variableType" : "Double",
          "documentation" : "<p>Value for a Number annotation.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BooleanValue",
        "c2jShape" : "NullableBoolean",
        "deprecated" : false,
        "documentation" : "<p>Value for a Boolean annotation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@return Value for a Boolean annotation.*/",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "BooleanValue",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BooleanValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "BooleanValue",
        "setterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.*/",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "booleanValue",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "booleanValue",
          "variableType" : "Boolean",
          "documentation" : "<p>Value for a Boolean annotation.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StringValue",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Value for a String annotation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Value for a String annotation.</p>\n@return Value for a String annotation.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "StringValue",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StringValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "StringValue",
        "setterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "stringValue",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "stringValue",
          "variableType" : "String",
          "documentation" : "<p>Value for a String annotation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BooleanValue" : {
          "c2jName" : "BooleanValue",
          "c2jShape" : "NullableBoolean",
          "deprecated" : false,
          "documentation" : "<p>Value for a Boolean annotation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@return Value for a Boolean annotation.*/",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "BooleanValue",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BooleanValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "BooleanValue",
          "setterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.*/",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "booleanValue",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "booleanValue",
            "variableType" : "Boolean",
            "documentation" : "<p>Value for a Boolean annotation.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "NumberValue" : {
          "c2jName" : "NumberValue",
          "c2jShape" : "NullableDouble",
          "deprecated" : false,
          "documentation" : "<p>Value for a Number annotation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@return Value for a Number annotation.*/",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "NumberValue",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NumberValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "NumberValue",
          "setterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.*/",
          "setterModel" : {
            "variableDeclarationType" : "Double",
            "variableName" : "numberValue",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Double",
            "variableName" : "numberValue",
            "variableType" : "Double",
            "documentation" : "<p>Value for a Number annotation.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "StringValue" : {
          "c2jName" : "StringValue",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Value for a String annotation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Value for a String annotation.</p>\n@return Value for a String annotation.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "StringValue",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StringValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "StringValue",
          "setterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "stringValue",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "stringValue",
            "variableType" : "String",
            "documentation" : "<p>Value for a String annotation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AnnotationValue",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AnnotationValue",
        "variableName" : "annotationValue",
        "variableType" : "AnnotationValue",
        "documentation" : null,
        "simpleType" : "AnnotationValue",
        "variableSetterType" : "AnnotationValue"
      },
      "wrapper" : false
    },
    "BackendConnectionErrors" : {
      "c2jName" : "BackendConnectionErrors",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p></p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TimeoutCount",
        "c2jShape" : "NullableInteger",
        "deprecated" : false,
        "documentation" : "<p></p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p></p>\n@param timeoutCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "TimeoutCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimeoutCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "TimeoutCount",
        "setterDocumentation" : "/**<p></p>\n@param timeoutCount */",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "timeoutCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p></p>\n@param timeoutCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "timeoutCount",
          "variableType" : "Integer",
          "documentation" : "<p></p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConnectionRefusedCount",
        "c2jShape" : "NullableInteger",
        "deprecated" : false,
        "documentation" : "<p></p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p></p>\n@param connectionRefusedCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ConnectionRefusedCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConnectionRefusedCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ConnectionRefusedCount",
        "setterDocumentation" : "/**<p></p>\n@param connectionRefusedCount */",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "connectionRefusedCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p></p>\n@param connectionRefusedCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "connectionRefusedCount",
          "variableType" : "Integer",
          "documentation" : "<p></p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HTTPCode4XXCount",
        "c2jShape" : "NullableInteger",
        "deprecated" : false,
        "documentation" : "<p></p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p></p>\n@param hTTPCode4XXCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "HTTPCode4XXCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HTTPCode4XXCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "HTTPCode4XXCount",
        "setterDocumentation" : "/**<p></p>\n@param hTTPCode4XXCount */",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "hTTPCode4XXCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p></p>\n@param hTTPCode4XXCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "hTTPCode4XXCount",
          "variableType" : "Integer",
          "documentation" : "<p></p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HTTPCode5XXCount",
        "c2jShape" : "NullableInteger",
        "deprecated" : false,
        "documentation" : "<p></p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p></p>\n@param hTTPCode5XXCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "HTTPCode5XXCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HTTPCode5XXCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "HTTPCode5XXCount",
        "setterDocumentation" : "/**<p></p>\n@param hTTPCode5XXCount */",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "hTTPCode5XXCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p></p>\n@param hTTPCode5XXCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "hTTPCode5XXCount",
          "variableType" : "Integer",
          "documentation" : "<p></p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UnknownHostCount",
        "c2jShape" : "NullableInteger",
        "deprecated" : false,
        "documentation" : "<p></p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p></p>\n@param unknownHostCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "UnknownHostCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UnknownHostCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "UnknownHostCount",
        "setterDocumentation" : "/**<p></p>\n@param unknownHostCount */",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "unknownHostCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p></p>\n@param unknownHostCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "unknownHostCount",
          "variableType" : "Integer",
          "documentation" : "<p></p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OtherCount",
        "c2jShape" : "NullableInteger",
        "deprecated" : false,
        "documentation" : "<p></p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p></p>\n@param otherCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "OtherCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OtherCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "OtherCount",
        "setterDocumentation" : "/**<p></p>\n@param otherCount */",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "otherCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p></p>\n@param otherCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "otherCount",
          "variableType" : "Integer",
          "documentation" : "<p></p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConnectionRefusedCount" : {
          "c2jName" : "ConnectionRefusedCount",
          "c2jShape" : "NullableInteger",
          "deprecated" : false,
          "documentation" : "<p></p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p></p>\n@param connectionRefusedCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ConnectionRefusedCount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConnectionRefusedCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ConnectionRefusedCount",
          "setterDocumentation" : "/**<p></p>\n@param connectionRefusedCount */",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "connectionRefusedCount",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p></p>\n@param connectionRefusedCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "connectionRefusedCount",
            "variableType" : "Integer",
            "documentation" : "<p></p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "HTTPCode4XXCount" : {
          "c2jName" : "HTTPCode4XXCount",
          "c2jShape" : "NullableInteger",
          "deprecated" : false,
          "documentation" : "<p></p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p></p>\n@param hTTPCode4XXCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "HTTPCode4XXCount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HTTPCode4XXCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "HTTPCode4XXCount",
          "setterDocumentation" : "/**<p></p>\n@param hTTPCode4XXCount */",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "hTTPCode4XXCount",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p></p>\n@param hTTPCode4XXCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "hTTPCode4XXCount",
            "variableType" : "Integer",
            "documentation" : "<p></p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "HTTPCode5XXCount" : {
          "c2jName" : "HTTPCode5XXCount",
          "c2jShape" : "NullableInteger",
          "deprecated" : false,
          "documentation" : "<p></p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p></p>\n@param hTTPCode5XXCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "HTTPCode5XXCount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HTTPCode5XXCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "HTTPCode5XXCount",
          "setterDocumentation" : "/**<p></p>\n@param hTTPCode5XXCount */",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "hTTPCode5XXCount",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p></p>\n@param hTTPCode5XXCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "hTTPCode5XXCount",
            "variableType" : "Integer",
            "documentation" : "<p></p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "OtherCount" : {
          "c2jName" : "OtherCount",
          "c2jShape" : "NullableInteger",
          "deprecated" : false,
          "documentation" : "<p></p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p></p>\n@param otherCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "OtherCount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "OtherCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "OtherCount",
          "setterDocumentation" : "/**<p></p>\n@param otherCount */",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "otherCount",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p></p>\n@param otherCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "otherCount",
            "variableType" : "Integer",
            "documentation" : "<p></p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "TimeoutCount" : {
          "c2jName" : "TimeoutCount",
          "c2jShape" : "NullableInteger",
          "deprecated" : false,
          "documentation" : "<p></p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p></p>\n@param timeoutCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "TimeoutCount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TimeoutCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "TimeoutCount",
          "setterDocumentation" : "/**<p></p>\n@param timeoutCount */",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "timeoutCount",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p></p>\n@param timeoutCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "timeoutCount",
            "variableType" : "Integer",
            "documentation" : "<p></p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "UnknownHostCount" : {
          "c2jName" : "UnknownHostCount",
          "c2jShape" : "NullableInteger",
          "deprecated" : false,
          "documentation" : "<p></p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p></p>\n@param unknownHostCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "UnknownHostCount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "UnknownHostCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "UnknownHostCount",
          "setterDocumentation" : "/**<p></p>\n@param unknownHostCount */",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "unknownHostCount",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p></p>\n@param unknownHostCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "unknownHostCount",
            "variableType" : "Integer",
            "documentation" : "<p></p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "BackendConnectionErrors",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BackendConnectionErrors",
        "variableName" : "backendConnectionErrors",
        "variableType" : "BackendConnectionErrors",
        "documentation" : null,
        "simpleType" : "BackendConnectionErrors",
        "variableSetterType" : "BackendConnectionErrors"
      },
      "wrapper" : false
    },
    "BatchGetTracesRequest" : {
      "c2jName" : "BatchGetTracesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : {
        "action" : "BatchGetTraces",
        "locationName" : null,
        "requestUri" : "/Traces",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "TraceIds",
        "c2jShape" : "TraceIdList",
        "deprecated" : false,
        "documentation" : "<p>Specify the trace IDs of requests for which to retrieve segments.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specify the trace IDs of requests for which to retrieve segments.</p>\n@param traceIds Specify the trace IDs of requests for which to retrieve segments.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Specify the trace IDs of requests for which to retrieve segments.</p>\n@return Specify the trace IDs of requests for which to retrieve segments.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "TraceIds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TraceIds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "TraceId",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "TraceIds",
        "setterDocumentation" : "/**<p>Specify the trace IDs of requests for which to retrieve segments.</p>\n@param traceIds Specify the trace IDs of requests for which to retrieve segments.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "traceIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Specify the trace IDs of requests for which to retrieve segments.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTraceIds(java.util.Collection)} or {@link #withTraceIds(java.util.Collection)} if you want to override the existing values.</p>\n@param traceIds Specify the trace IDs of requests for which to retrieve segments.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "traceIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>Specify the trace IDs of requests for which to retrieve segments.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NextToken",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Pagination token. Not used.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Pagination token. Not used.</p>\n@param nextToken Pagination token. Not used.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Pagination token. Not used.</p>\n@return Pagination token. Not used.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "NextToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NextToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "NextToken",
        "setterDocumentation" : "/**<p>Pagination token. Not used.</p>\n@param nextToken Pagination token. Not used.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Pagination token. Not used.</p>\n@param nextToken Pagination token. Not used.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "<p>Pagination token. Not used.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "NextToken" : {
          "c2jName" : "NextToken",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Pagination token. Not used.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Pagination token. Not used.</p>\n@param nextToken Pagination token. Not used.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Pagination token. Not used.</p>\n@return Pagination token. Not used.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "NextToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NextToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "NextToken",
          "setterDocumentation" : "/**<p>Pagination token. Not used.</p>\n@param nextToken Pagination token. Not used.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "nextToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Pagination token. Not used.</p>\n@param nextToken Pagination token. Not used.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "nextToken",
            "variableType" : "String",
            "documentation" : "<p>Pagination token. Not used.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TraceIds" : {
          "c2jName" : "TraceIds",
          "c2jShape" : "TraceIdList",
          "deprecated" : false,
          "documentation" : "<p>Specify the trace IDs of requests for which to retrieve segments.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specify the trace IDs of requests for which to retrieve segments.</p>\n@param traceIds Specify the trace IDs of requests for which to retrieve segments.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Specify the trace IDs of requests for which to retrieve segments.</p>\n@return Specify the trace IDs of requests for which to retrieve segments.*/",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "TraceIds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TraceIds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "TraceId",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "TraceIds",
          "setterDocumentation" : "/**<p>Specify the trace IDs of requests for which to retrieve segments.</p>\n@param traceIds Specify the trace IDs of requests for which to retrieve segments.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "traceIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>Specify the trace IDs of requests for which to retrieve segments.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTraceIds(java.util.Collection)} or {@link #withTraceIds(java.util.Collection)} if you want to override the existing values.</p>\n@param traceIds Specify the trace IDs of requests for which to retrieve segments.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "traceIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>Specify the trace IDs of requests for which to retrieve segments.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "TraceIds" ],
      "shapeName" : "BatchGetTracesRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BatchGetTracesRequest",
        "variableName" : "batchGetTracesRequest",
        "variableType" : "BatchGetTracesRequest",
        "documentation" : null,
        "simpleType" : "BatchGetTracesRequest",
        "variableSetterType" : "BatchGetTracesRequest"
      },
      "wrapper" : false
    },
    "BatchGetTracesResult" : {
      "c2jName" : "BatchGetTracesResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Traces",
        "c2jShape" : "TraceList",
        "deprecated" : false,
        "documentation" : "<p>Full traces for the specified requests.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Full traces for the specified requests.</p>\n@param traces Full traces for the specified requests.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Full traces for the specified requests.</p>\n@return Full traces for the specified requests.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Trace>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Traces",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Traces",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Trace",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Trace",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Trace",
              "variableName" : "member",
              "variableType" : "Trace",
              "documentation" : "",
              "simpleType" : "Trace",
              "variableSetterType" : "Trace"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Trace",
              "variableName" : "member",
              "variableType" : "Trace",
              "documentation" : "",
              "simpleType" : "Trace",
              "variableSetterType" : "Trace"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Trace",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Trace",
          "templateImplType" : "java.util.ArrayList<Trace>",
          "templateType" : "java.util.List<Trace>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Traces",
        "setterDocumentation" : "/**<p>Full traces for the specified requests.</p>\n@param traces Full traces for the specified requests.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Trace>",
          "variableName" : "traces",
          "variableType" : "java.util.List<Trace>",
          "documentation" : "",
          "simpleType" : "List<Trace>",
          "variableSetterType" : "java.util.Collection<Trace>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Full traces for the specified requests.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTraces(java.util.Collection)} or {@link #withTraces(java.util.Collection)} if you want to override the existing values.</p>\n@param traces Full traces for the specified requests.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Trace>",
          "variableName" : "traces",
          "variableType" : "java.util.List<Trace>",
          "documentation" : "<p>Full traces for the specified requests.</p>",
          "simpleType" : "List<Trace>",
          "variableSetterType" : "java.util.Collection<Trace>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UnprocessedTraceIds",
        "c2jShape" : "UnprocessedTraceIdList",
        "deprecated" : false,
        "documentation" : "<p>Trace IDs of requests that haven't been processed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Trace IDs of requests that haven't been processed.</p>\n@param unprocessedTraceIds Trace IDs of requests that haven't been processed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
