{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-12-10",
    "asyncClient" : "AWSServiceCatalogAsyncClient",
    "asyncClientBuilderClassName" : "AWSServiceCatalogAsyncClientBuilder",
    "asyncInterface" : "AWSServiceCatalogAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSServiceCatalogModuleInjector",
    "defaultEndpoint" : "servicecatalog.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "servicecatalog.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS Service Catalog</fullname> <p> <b>Overview</b> </p> <p> <a href=\"https://aws.amazon.com/servicecatalog/\">AWS Service Catalog</a> allows organizations to create and manage catalogs of IT services that are approved for use on AWS. This documentation provides reference material for the AWS Service Catalog end user API. To get the most out of this documentation, you need to be familiar with the terminology discussed in <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/userguide/what-is_concepts.html\">AWS Service Catalog Concepts</a>.</p> <p> <i>Additional Resources</i> </p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/introduction.html\">AWS Service Catalog Administrator Guide</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/userguide/introduction.html\">AWS Service Catalog User Guide</a> </p> </li> </ul>",
    "endpointPrefix" : "servicecatalog",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.servicecatalog",
    "packagePath" : "com/amazonaws/services/servicecatalog",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Service Catalog",
    "serviceName" : "AWS Service Catalog",
    "signingName" : "servicecatalog",
    "smokeTestsPackageName" : "com.amazonaws.services.servicecatalog.smoketests",
    "syncClient" : "AWSServiceCatalogClient",
    "syncClientBuilderClassName" : "AWSServiceCatalogClientBuilder",
    "syncInterface" : "AWSServiceCatalog",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DescribeProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductRequest, DescribeProductResult>",
      "asyncReturnType" : "DescribeProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a specified product.</p> <p>This operation is functionally identical to <a>DescribeProductView</a> except that it takes as input <code>ProductId</code> instead of <code>ProductViewId</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProductRequest",
        "variableName" : "describeProductRequest",
        "variableType" : "DescribeProductRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductRequest",
        "variableSetterType" : "DescribeProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProduct",
      "operationName" : "DescribeProduct",
      "returnType" : {
        "returnType" : "DescribeProductResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProductResult"
    },
    "DescribeProductView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductViewRequest, DescribeProductViewResult>",
      "asyncReturnType" : "DescribeProductViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a specified product.</p> <p>This operation is functionally identical to <a>DescribeProduct</a> except that it takes as input <code>ProductViewId</code> instead of <code>ProductId</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProductViewRequest",
        "variableName" : "describeProductViewRequest",
        "variableType" : "DescribeProductViewRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductViewRequest",
        "variableSetterType" : "DescribeProductViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProductView",
      "operationName" : "DescribeProductView",
      "returnType" : {
        "returnType" : "DescribeProductViewResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProductViewResult"
    },
    "DescribeProvisioningParameters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProvisioningParametersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProvisioningParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProvisioningParametersRequest, DescribeProvisioningParametersResult>",
      "asyncReturnType" : "DescribeProvisioningParametersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about parameters required to provision a specified product in a specified manner. Use this operation to obtain the list of <code>ProvisioningArtifactParameters</code> parameters available to call the <a>ProvisionProduct</a> operation for the specified product.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProvisioningParametersRequest",
        "variableName" : "describeProvisioningParametersRequest",
        "variableType" : "DescribeProvisioningParametersRequest",
        "documentation" : "",
        "simpleType" : "DescribeProvisioningParametersRequest",
        "variableSetterType" : "DescribeProvisioningParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProvisioningParameters",
      "operationName" : "DescribeProvisioningParameters",
      "returnType" : {
        "returnType" : "DescribeProvisioningParametersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProvisioningParametersResult"
    },
    "DescribeRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecordRequest, DescribeRecordResult>",
      "asyncReturnType" : "DescribeRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a paginated list of the full details of a specific request. Use this operation after calling a request operation (<a>ProvisionProduct</a>, <a>TerminateProvisionedProduct</a>, or <a>UpdateProvisionedProduct</a>). </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRecordRequest",
        "variableName" : "describeRecordRequest",
        "variableType" : "DescribeRecordRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecordRequest",
        "variableSetterType" : "DescribeRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRecord",
      "operationName" : "DescribeRecord",
      "returnType" : {
        "returnType" : "DescribeRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRecordResult"
    },
    "ListLaunchPaths" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLaunchPathsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLaunchPathsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLaunchPathsRequest, ListLaunchPathsResult>",
      "asyncReturnType" : "ListLaunchPathsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of all paths to a specified product. A path is how the user has access to a specified product, and is necessary when provisioning a product. A path also determines the constraints put on the product.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListLaunchPathsRequest",
        "variableName" : "listLaunchPathsRequest",
        "variableType" : "ListLaunchPathsRequest",
        "documentation" : "",
        "simpleType" : "ListLaunchPathsRequest",
        "variableSetterType" : "ListLaunchPathsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLaunchPaths",
      "operationName" : "ListLaunchPaths",
      "returnType" : {
        "returnType" : "ListLaunchPathsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLaunchPathsResult"
    },
    "ListRecordHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecordHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecordHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecordHistoryRequest, ListRecordHistoryResult>",
      "asyncReturnType" : "ListRecordHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of all performed requests, in the form of RecordDetails objects that are filtered as specified.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRecordHistoryRequest",
        "variableName" : "listRecordHistoryRequest",
        "variableType" : "ListRecordHistoryRequest",
        "documentation" : "",
        "simpleType" : "ListRecordHistoryRequest",
        "variableSetterType" : "ListRecordHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecordHistory",
      "operationName" : "ListRecordHistory",
      "returnType" : {
        "returnType" : "ListRecordHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecordHistoryResult"
    },
    "ProvisionProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ProvisionProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ProvisionProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ProvisionProductRequest, ProvisionProductResult>",
      "asyncReturnType" : "ProvisionProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests a <i>Provision</i> of a specified product. A <i>ProvisionedProduct</i> is a resourced instance for a product. For example, provisioning a CloudFormation-template-backed product results in launching a CloudFormation stack and all the underlying resources that come with it. </p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>The specified resource is a duplicate.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ProvisionProductRequest",
        "variableName" : "provisionProductRequest",
        "variableType" : "ProvisionProductRequest",
        "documentation" : "",
        "simpleType" : "ProvisionProductRequest",
        "variableSetterType" : "ProvisionProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "provisionProduct",
      "operationName" : "ProvisionProduct",
      "returnType" : {
        "returnType" : "ProvisionProductResult",
        "documentation" : null
      },
      "syncReturnType" : "ProvisionProductResult"
    },
    "ScanProvisionedProducts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ScanProvisionedProductsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ScanProvisionedProductsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ScanProvisionedProductsRequest, ScanProvisionedProductsResult>",
      "asyncReturnType" : "ScanProvisionedProductsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of all the ProvisionedProduct objects that are currently available (not terminated). </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ScanProvisionedProductsRequest",
        "variableName" : "scanProvisionedProductsRequest",
        "variableType" : "ScanProvisionedProductsRequest",
        "documentation" : "",
        "simpleType" : "ScanProvisionedProductsRequest",
        "variableSetterType" : "ScanProvisionedProductsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "scanProvisionedProducts",
      "operationName" : "ScanProvisionedProducts",
      "returnType" : {
        "returnType" : "ScanProvisionedProductsResult",
        "documentation" : null
      },
      "syncReturnType" : "ScanProvisionedProductsResult"
    },
    "SearchProducts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchProductsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchProductsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchProductsRequest, SearchProductsResult>",
      "asyncReturnType" : "SearchProductsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list all of the <code>Products</code> objects to which the caller has access. </p> <p>The output of this operation can be used as input for other operations, such as <a>DescribeProductView</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchProductsRequest",
        "variableName" : "searchProductsRequest",
        "variableType" : "SearchProductsRequest",
        "documentation" : "",
        "simpleType" : "SearchProductsRequest",
        "variableSetterType" : "SearchProductsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchProducts",
      "operationName" : "SearchProducts",
      "returnType" : {
        "returnType" : "SearchProductsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchProductsResult"
    },
    "TerminateProvisionedProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateProvisionedProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateProvisionedProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateProvisionedProductRequest, TerminateProvisionedProductResult>",
      "asyncReturnType" : "TerminateProvisionedProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests termination of an existing ProvisionedProduct object. If there are <code>Tags</code> associated with the object, they are terminated when the ProvisionedProduct object is terminated. </p> <p>This operation does not delete any records associated with the ProvisionedProduct object.</p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TerminateProvisionedProductRequest",
        "variableName" : "terminateProvisionedProductRequest",
        "variableType" : "TerminateProvisionedProductRequest",
        "documentation" : "",
        "simpleType" : "TerminateProvisionedProductRequest",
        "variableSetterType" : "TerminateProvisionedProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateProvisionedProduct",
      "operationName" : "TerminateProvisionedProduct",
      "returnType" : {
        "returnType" : "TerminateProvisionedProductResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateProvisionedProductResult"
    },
    "UpdateProvisionedProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProvisionedProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProvisionedProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProvisionedProductRequest, UpdateProvisionedProductResult>",
      "asyncReturnType" : "UpdateProvisionedProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests updates to the configuration of an existing ProvisionedProduct object. If there are tags associated with the object, they cannot be updated or added with this operation. Depending on the specific updates requested, this operation may update with no interruption, with some interruption, or replace the ProvisionedProduct object entirely. </p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProvisionedProductRequest",
        "variableName" : "updateProvisionedProductRequest",
        "variableType" : "UpdateProvisionedProductRequest",
        "documentation" : "",
        "simpleType" : "UpdateProvisionedProductRequest",
        "variableSetterType" : "UpdateProvisionedProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProvisionedProduct",
      "operationName" : "UpdateProvisionedProduct",
      "returnType" : {
        "returnType" : "UpdateProvisionedProductResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProvisionedProductResult"
    }
  },
  "shapes" : {
    "AccessLevelFilter" : {
      "c2jName" : "AccessLevelFilter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The access level to limit results.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Key",
        "c2jShape" : "AccessLevelFilterKey",
        "deprecated" : false,
        "documentation" : "<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>",
        "enumType" : "AccessLevelFilterKey",
        "fluentSetterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@param key Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessLevelFilterKey*/",
        "getterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@return Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@see AccessLevelFilterKey*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Key",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Key",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Key",
        "setterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@param key Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@see AccessLevelFilterKey*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@param key Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessLevelFilterKey*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Value",
        "c2jShape" : "AccessLevelFilterValue",
        "deprecated" : false,
        "documentation" : "<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@param value Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@return Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Value",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Value",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Value",
        "setterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@param value Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "value",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@param value Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "value",
          "variableType" : "String",
          "documentation" : "<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Key" : {
          "c2jName" : "Key",
          "c2jShape" : "AccessLevelFilterKey",
          "deprecated" : false,
          "documentation" : "<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>",
          "enumType" : "AccessLevelFilterKey",
          "fluentSetterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@param key Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessLevelFilterKey*/",
          "getterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@return Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@see AccessLevelFilterKey*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Key",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Key",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Key",
          "setterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@param key Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@see AccessLevelFilterKey*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@param key Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessLevelFilterKey*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Value" : {
          "c2jName" : "Value",
          "c2jShape" : "AccessLevelFilterValue",
          "deprecated" : false,
          "documentation" : "<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@param value Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@return Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Value",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Value",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Value",
          "setterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@param value Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "value",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@param value Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "value",
            "variableType" : "String",
            "documentation" : "<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AccessLevelFilter",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AccessLevelFilter",
        "variableName" : "accessLevelFilter",
        "variableType" : "AccessLevelFilter",
        "documentation" : null,
        "simpleType" : "AccessLevelFilter",
        "variableSetterType" : "AccessLevelFilter"
      },
      "wrapper" : false
    },
    "AccessLevelFilterKey" : {
      "c2jName" : "AccessLevelFilterKey",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "Account",
        "value" : "Account"
      }, {
        "name" : "Role",
        "value" : "Role"
      }, {
        "name" : "User",
        "value" : "User"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AccessLevelFilterKey",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AccessLevelFilterKey",
        "variableName" : "accessLevelFilterKey",
        "variableType" : "AccessLevelFilterKey",
        "documentation" : null,
        "simpleType" : "AccessLevelFilterKey",
        "variableSetterType" : "AccessLevelFilterKey"
      },
      "wrapper" : false
    },
    "ConstraintSummary" : {
      "c2jName" : "ConstraintSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An administrator-specified constraint to apply when provisioning a product.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Type",
        "c2jShape" : "ConstraintType",
        "deprecated" : false,
        "documentation" : "<p>The type of the constraint. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The type of the constraint. </p>\n@param type The type of the constraint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The type of the constraint. </p>\n@return The type of the constraint.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Type",
        "setterDocumentation" : "/**<p>The type of the constraint. </p>\n@param type The type of the constraint.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The type of the constraint. </p>\n@param type The type of the constraint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of the constraint. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "ConstraintDescription",
        "deprecated" : false,
        "documentation" : "<p>The text description of the constraint.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The text description of the constraint.</p>\n@param description The text description of the constraint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The text description of the constraint.</p>\n@return The text description of the constraint.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Description",
        "setterDocumentation" : "/**<p>The text description of the constraint.</p>\n@param description The text description of the constraint.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The text description of the constraint.</p>\n@param description The text description of the constraint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The text description of the constraint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "ConstraintDescription",
          "deprecated" : false,
          "documentation" : "<p>The text description of the constraint.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The text description of the constraint.</p>\n@param description The text description of the constraint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The text description of the constraint.</p>\n@return The text description of the constraint.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Description",
          "setterDocumentation" : "/**<p>The text description of the constraint.</p>\n@param description The text description of the constraint.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The text description of the constraint.</p>\n@param description The text description of the constraint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>The text description of the constraint.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "ConstraintType",
          "deprecated" : false,
          "documentation" : "<p>The type of the constraint. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The type of the constraint. </p>\n@param type The type of the constraint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The type of the constraint. </p>\n@return The type of the constraint.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Type",
          "setterDocumentation" : "/**<p>The type of the constraint. </p>\n@param type The type of the constraint.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The type of the constraint. </p>\n@param type The type of the constraint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The type of the constraint. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "ConstraintSummary",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ConstraintSummary",
        "variableName" : "constraintSummary",
        "variableType" : "ConstraintSummary",
        "documentation" : null,
        "simpleType" : "ConstraintSummary",
        "variableSetterType" : "ConstraintSummary"
      },
      "wrapper" : false
    },
    "DescribeProductRequest" : {
      "c2jName" : "DescribeProductInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeProduct",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWS242ServiceCatalogService.DescribeProduct",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "AcceptLanguage",
        "c2jShape" : "AcceptLanguage",
        "deprecated" : false,
        "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@return The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AcceptLanguage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AcceptLanguage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AcceptLanguage",
        "setterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "acceptLanguage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "acceptLanguage",
          "variableType" : "String",
          "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "Id",
        "deprecated" : false,
        "documentation" : "<p>The <code>ProductId</code> of the product to describe.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <code>ProductId</code> of the product to describe.</p>\n@param id The <code>ProductId</code> of the product to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The <code>ProductId</code> of the product to describe.</p>\n@return The <code>ProductId</code> of the product to describe.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Id",
        "setterDocumentation" : "/**<p>The <code>ProductId</code> of the product to describe.</p>\n@param id The <code>ProductId</code> of the product to describe.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The <code>ProductId</code> of the product to describe.</p>\n@param id The <code>ProductId</code> of the product to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The <code>ProductId</code> of the product to describe.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcceptLanguage" : {
          "c2jName" : "AcceptLanguage",
          "c2jShape" : "AcceptLanguage",
          "deprecated" : false,
          "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@return The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AcceptLanguage",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AcceptLanguage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AcceptLanguage",
          "setterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "acceptLanguage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "acceptLanguage",
            "variableType" : "String",
            "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "Id",
          "deprecated" : false,
          "documentation" : "<p>The <code>ProductId</code> of the product to describe.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <code>ProductId</code> of the product to describe.</p>\n@param id The <code>ProductId</code> of the product to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The <code>ProductId</code> of the product to describe.</p>\n@return The <code>ProductId</code> of the product to describe.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Id",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Id",
          "setterDocumentation" : "/**<p>The <code>ProductId</code> of the product to describe.</p>\n@param id The <code>ProductId</code> of the product to describe.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The <code>ProductId</code> of the product to describe.</p>\n@param id The <code>ProductId</code> of the product to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p>The <code>ProductId</code> of the product to describe.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Id" ],
      "shapeName" : "DescribeProductRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DescribeProductRequest",
        "variableName" : "describeProductRequest",
        "variableType" : "DescribeProductRequest",
        "documentation" : null,
        "simpleType" : "DescribeProductRequest",
        "variableSetterType" : "DescribeProductRequest"
      },
      "wrapper" : false
    },
    "DescribeProductResult" : {
      "c2jName" : "DescribeProductOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ProductViewSummary",
        "c2jShape" : "ProductViewSummary",
        "deprecated" : false,
        "documentation" : "<p>The summary metadata about the specified product.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The summary metadata about the specified product.</p>\n@param productViewSummary The summary metadata about the specified product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The summary metadata about the specified product.</p>\n@return The summary metadata about the specified product.*/",
        "getterModel" : {
          "returnType" : "ProductViewSummary",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ProductViewSummary",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProductViewSummary",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ProductViewSummary",
        "setterDocumentation" : "/**<p>The summary metadata about the specified product.</p>\n@param productViewSummary The summary metadata about the specified product.*/",
        "setterModel" : {
          "variableDeclarationType" : "ProductViewSummary",
          "variableName" : "productViewSummary",
          "variableType" : "ProductViewSummary",
          "documentation" : "",
          "simpleType" : "ProductViewSummary",
          "variableSetterType" : "ProductViewSummary"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The summary metadata about the specified product.</p>\n@param productViewSummary The summary metadata about the specified product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "ProductViewSummary",
          "variableName" : "productViewSummary",
          "variableType" : "ProductViewSummary",
          "documentation" : "<p>The summary metadata about the specified product.</p>",
          "simpleType" : "ProductViewSummary",
          "variableSetterType" : "ProductViewSummary"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ProvisioningArtifacts",
        "c2jShape" : "ProvisioningArtifacts",
        "deprecated" : false,
        "documentation" : "<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>\n@param provisioningArtifacts A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>\n@return A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.*/",
        "getterModel" : {
          "returnType" : "java.util.List<ProvisioningArtifact>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ProvisioningArtifacts",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProvisioningArtifacts",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ProvisioningArtifact",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "ProvisioningArtifact",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "ProvisioningArtifact",
              "variableName" : "member",
              "variableType" : "ProvisioningArtifact",
              "documentation" : "",
              "simpleType" : "ProvisioningArtifact",
              "variableSetterType" : "ProvisioningArtifact"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "ProvisioningArtifact",
              "variableName" : "member",
              "variableType" : "ProvisioningArtifact",
              "documentation" : "",
              "simpleType" : "ProvisioningArtifact",
              "variableSetterType" : "ProvisioningArtifact"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ProvisioningArtifact",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ProvisioningArtifact",
          "templateImplType" : "java.util.ArrayList<ProvisioningArtifact>",
          "templateType" : "java.util.List<ProvisioningArtifact>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "ProvisioningArtifacts",
        "setterDocumentation" : "/**<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>\n@param provisioningArtifacts A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<ProvisioningArtifact>",
          "variableName" : "provisioningArtifacts",
          "variableType" : "java.util.List<ProvisioningArtifact>",
          "documentation" : "",
          "simpleType" : "List<ProvisioningArtifact>",
          "variableSetterType" : "java.util.Collection<ProvisioningArtifact>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setProvisioningArtifacts(java.util.Collection)} or {@link #withProvisioningArtifacts(java.util.Collection)} if you want to override the existing values.</p>\n@param provisioningArtifacts A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<ProvisioningArtifact>",
          "variableName" : "provisioningArtifacts",
          "variableType" : "java.util.List<ProvisioningArtifact>",
          "documentation" : "<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>",
          "simpleType" : "List<ProvisioningArtifact>",
          "variableSetterType" : "java.util.Collection<ProvisioningArtifact>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ProductViewSummary" : {
          "c2jName" : "ProductViewSummary",
          "c2jShape" : "ProductViewSummary",
          "deprecated" : false,
          "documentation" : "<p>The summary metadata about the specified product.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The summary metadata about the specified product.</p>\n@param productViewSummary The summary metadata about the specified product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The summary metadata about the specified product.</p>\n@return The summary metadata about the specified product.*/",
          "getterModel" : {
            "returnType" : "ProductViewSummary",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ProductViewSummary",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProductViewSummary",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ProductViewSummary",
          "setterDocumentation" : "/**<p>The summary metadata about the specified product.</p>\n@param productViewSummary The summary metadata about the specified product.*/",
          "setterModel" : {
            "variableDeclarationType" : "ProductViewSummary",
            "variableName" : "productViewSummary",
            "variableType" : "ProductViewSummary",
            "documentation" : "",
            "simpleType" : "ProductViewSummary",
            "variableSetterType" : "ProductViewSummary"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>The summary metadata about the specified product.</p>\n@param productViewSummary The summary metadata about the specified product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "ProductViewSummary",
            "variableName" : "productViewSummary",
            "variableType" : "ProductViewSummary",
            "documentation" : "<p>The summary metadata about the specified product.</p>",
            "simpleType" : "ProductViewSummary",
            "variableSetterType" : "ProductViewSummary"
          },
          "xmlNameSpaceUri" : null
        },
        "ProvisioningArtifacts" : {
          "c2jName" : "ProvisioningArtifacts",
          "c2jShape" : "ProvisioningArtifacts",
          "deprecated" : false,
          "documentation" : "<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>\n@param provisioningArtifacts A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>\n@return A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.*/",
          "getterModel" : {
            "returnType" : "java.util.List<ProvisioningArtifact>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ProvisioningArtifacts",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProvisioningArtifacts",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ProvisioningArtifact",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "ProvisioningArtifact",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "ProvisioningArtifact",
                "variableName" : "member",
                "variableType" : "ProvisioningArtifact",
                "documentation" : "",
                "simpleType" : "ProvisioningArtifact",
                "variableSetterType" : "ProvisioningArtifact"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "ProvisioningArtifact",
                "variableName" : "member",
                "variableType" : "ProvisioningArtifact",
                "documentation" : "",
                "simpleType" : "ProvisioningArtifact",
                "variableSetterType" : "ProvisioningArtifact"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ProvisioningArtifact",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ProvisioningArtifact",
            "templateImplType" : "java.util.ArrayList<ProvisioningArtifact>",
            "templateType" : "java.util.List<ProvisioningArtifact>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "ProvisioningArtifacts",
          "setterDocumentation" : "/**<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>\n@param provisioningArtifacts A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<ProvisioningArtifact>",
            "variableName" : "provisioningArtifacts",
            "variableType" : "java.util.List<ProvisioningArtifact>",
            "documentation" : "",
            "simpleType" : "List<ProvisioningArtifact>",
            "variableSetterType" : "java.util.Collection<ProvisioningArtifact>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setProvisioningArtifacts(java.util.Collection)} or {@link #withProvisioningArtifacts(java.util.Collection)} if you want to override the existing values.</p>\n@param provisioningArtifacts A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<ProvisioningArtifact>",
            "variableName" : "provisioningArtifacts",
            "variableType" : "java.util.List<ProvisioningArtifact>",
            "documentation" : "<p>A list of provisioning artifact objects for the specified product. The <code>ProvisioningArtifacts</code> parameter represent the ways the specified product can be provisioned.</p>",
            "simpleType" : "List<ProvisioningArtifact>",
            "variableSetterType" : "java.util.Collection<ProvisioningArtifact>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "DescribeProductResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DescribeProductResult",
        "variableName" : "describeProductResult",
        "variableType" : "DescribeProductResult",
        "documentation" : null,
        "simpleType" : "DescribeProductResult",
        "variableSetterType" : "DescribeProductResult"
      },
      "wrapper" : false
    },
    "DescribeProductViewRequest" : {
      "c2jName" : "DescribeProductViewInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeProductView",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWS242ServiceCatalogService.DescribeProductView",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "AcceptLanguage",
        "c2jShape" : "AcceptLanguage",
        "deprecated" : false,
        "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@return The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AcceptLanguage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AcceptLanguage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AcceptLanguage",
        "setterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "acceptLanguage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "acceptLanguage",
          "variableType" : "String",
          "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "Id",
        "deprecated" : false,
        "documentation" : "<p>The <code>ProductViewId</code> of the product to describe.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <code>ProductViewId</code> of the product to describe.</p>\n@param id The <code>ProductViewId</code> of the product to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The <code>ProductViewId</code> of the product to describe.</p>\n@return The <code>ProductViewId</code> of the product to describe.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Id",
        "setterDocumentation" : "/**<p>The <code>ProductViewId</code> of the product to describe.</p>\n@param id The <code>ProductViewId</code> of the product to describe.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The <code>ProductViewId</code> of the product to describe.</p>\n@param id The <code>ProductViewId</code> of the product to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The <code>ProductViewId</code> of the product to describe.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcceptLanguage" : {
          "c2jName" : "AcceptLanguage",
          "c2jShape" : "AcceptLanguage",
          "deprecated" : false,
          "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@return The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AcceptLanguage",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AcceptLanguage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AcceptLanguage",
          "setterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "acceptLanguage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "acceptLanguage",
            "variableType" : "String",
            "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "Id",
          "deprecated" : false,
          "documentation" : "<p>The <code>ProductViewId</code> of the product to describe.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <code>ProductViewId</code> of the product to describe.</p>\n@param id The <code>ProductViewId</code> of the product to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The <code>ProductViewId</code> of the product to describe.</p>\n@return The <code>ProductViewId</code> of the product to describe.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
[...]
