{
  "metadata" : {
    "apiVersion" : "2015-12-10",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Service Catalog</fullname> <p> <b>Overview</b> </p> <p> <a href=\"https://aws.amazon.com/servicecatalog/\">AWS Service Catalog</a> allows organizations to create and manage catalogs of IT services that are approved for use on AWS. This documentation provides reference material for the AWS Service Catalog end user API. To get the most out of this documentation, you need to be familiar with the terminology discussed in <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/userguide/what-is_concepts.html\">AWS Service Catalog Concepts</a>.</p> <p> <i>Additional Resources</i> </p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/introduction.html\">AWS Service Catalog Administrator Guide</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/userguide/introduction.html\">AWS Service Catalog User Guide</a> </p> </li> </ul>",
    "defaultEndpoint" : "servicecatalog.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "servicecatalog.us-east-1.amazonaws.com",
    "syncInterface" : "AWSServiceCatalog",
    "syncClient" : "AWSServiceCatalogClient",
    "asyncInterface" : "AWSServiceCatalogAsync",
    "asyncClient" : "AWSServiceCatalogAsyncClient",
    "packageName" : "com.amazonaws.services.servicecatalog",
    "packagePath" : "com/amazonaws/services/servicecatalog",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Service Catalog",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "servicecatalog",
    "signingName" : "servicecatalog",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSServiceCatalogClientBuilder",
    "asyncClientBuilderClassName" : "AWSServiceCatalogAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSServiceCatalogModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.servicecatalog.smoketests",
    "serviceName" : "AWS Service Catalog",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "DescribeProduct" : {
      "documentation" : "<p>Retrieves information about a specified product.</p> <p>This operation is functionally identical to <a>DescribeProductView</a> except that it takes as input <code>ProductId</code> instead of <code>ProductViewId</code>.</p>",
      "operationName" : "DescribeProduct",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeProductRequest",
        "variableType" : "DescribeProductRequest",
        "variableDeclarationType" : "DescribeProductRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductRequest",
        "variableSetterType" : "DescribeProductRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeProductResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeProductResult",
      "asyncReturnType" : "DescribeProductResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductRequest, DescribeProductResult>",
      "authenticated" : true,
      "methodName" : "describeProduct"
    },
    "DescribeProductView" : {
      "documentation" : "<p>Retrieves information about a specified product.</p> <p>This operation is functionally identical to <a>DescribeProduct</a> except that it takes as input <code>ProductViewId</code> instead of <code>ProductId</code>.</p>",
      "operationName" : "DescribeProductView",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeProductViewRequest",
        "variableType" : "DescribeProductViewRequest",
        "variableDeclarationType" : "DescribeProductViewRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductViewRequest",
        "variableSetterType" : "DescribeProductViewRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeProductViewResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeProductViewResult",
      "asyncReturnType" : "DescribeProductViewResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductViewResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductViewRequest, DescribeProductViewResult>",
      "authenticated" : true,
      "methodName" : "describeProductView"
    },
    "DescribeProvisioningParameters" : {
      "documentation" : "<p>Provides information about parameters required to provision a specified product in a specified manner. Use this operation to obtain the list of <code>ProvisioningArtifactParameters</code> parameters available to call the <a>ProvisionProduct</a> operation for the specified product.</p>",
      "operationName" : "DescribeProvisioningParameters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeProvisioningParametersRequest",
        "variableType" : "DescribeProvisioningParametersRequest",
        "variableDeclarationType" : "DescribeProvisioningParametersRequest",
        "documentation" : "",
        "simpleType" : "DescribeProvisioningParametersRequest",
        "variableSetterType" : "DescribeProvisioningParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeProvisioningParametersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeProvisioningParametersResult",
      "asyncReturnType" : "DescribeProvisioningParametersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProvisioningParametersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProvisioningParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProvisioningParametersRequest, DescribeProvisioningParametersResult>",
      "authenticated" : true,
      "methodName" : "describeProvisioningParameters"
    },
    "DescribeRecord" : {
      "documentation" : "<p>Retrieves a paginated list of the full details of a specific request. Use this operation after calling a request operation (<a>ProvisionProduct</a>, <a>TerminateProvisionedProduct</a>, or <a>UpdateProvisionedProduct</a>). </p>",
      "operationName" : "DescribeRecord",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeRecordRequest",
        "variableType" : "DescribeRecordRequest",
        "variableDeclarationType" : "DescribeRecordRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecordRequest",
        "variableSetterType" : "DescribeRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeRecordResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeRecordResult",
      "asyncReturnType" : "DescribeRecordResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecordResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecordRequest, DescribeRecordResult>",
      "authenticated" : true,
      "methodName" : "describeRecord"
    },
    "ListLaunchPaths" : {
      "documentation" : "<p>Returns a paginated list of all paths to a specified product. A path is how the user has access to a specified product, and is necessary when provisioning a product. A path also determines the constraints put on the product.</p>",
      "operationName" : "ListLaunchPaths",
      "deprecated" : false,
      "input" : {
        "variableName" : "listLaunchPathsRequest",
        "variableType" : "ListLaunchPathsRequest",
        "variableDeclarationType" : "ListLaunchPathsRequest",
        "documentation" : "",
        "simpleType" : "ListLaunchPathsRequest",
        "variableSetterType" : "ListLaunchPathsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListLaunchPathsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListLaunchPathsResult",
      "asyncReturnType" : "ListLaunchPathsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListLaunchPathsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListLaunchPathsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLaunchPathsRequest, ListLaunchPathsResult>",
      "authenticated" : true,
      "methodName" : "listLaunchPaths"
    },
    "ListRecordHistory" : {
      "documentation" : "<p>Returns a paginated list of all performed requests, in the form of RecordDetails objects that are filtered as specified.</p>",
      "operationName" : "ListRecordHistory",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRecordHistoryRequest",
        "variableType" : "ListRecordHistoryRequest",
        "variableDeclarationType" : "ListRecordHistoryRequest",
        "documentation" : "",
        "simpleType" : "ListRecordHistoryRequest",
        "variableSetterType" : "ListRecordHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRecordHistoryResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListRecordHistoryResult",
      "asyncReturnType" : "ListRecordHistoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecordHistoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecordHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecordHistoryRequest, ListRecordHistoryResult>",
      "authenticated" : true,
      "methodName" : "listRecordHistory"
    },
    "ProvisionProduct" : {
      "documentation" : "<p>Requests a <i>Provision</i> of a specified product. A <i>ProvisionedProduct</i> is a resourced instance for a product. For example, provisioning a CloudFormation-template-backed product results in launching a CloudFormation stack and all the underlying resources that come with it. </p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>",
      "operationName" : "ProvisionProduct",
      "deprecated" : false,
      "input" : {
        "variableName" : "provisionProductRequest",
        "variableType" : "ProvisionProductRequest",
        "variableDeclarationType" : "ProvisionProductRequest",
        "documentation" : "",
        "simpleType" : "ProvisionProductRequest",
        "variableSetterType" : "ProvisionProductRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ProvisionProductResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>The specified resource is a duplicate.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ProvisionProductResult",
      "asyncReturnType" : "ProvisionProductResult",
      "asyncFutureType" : "java.util.concurrent.Future<ProvisionProductResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ProvisionProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ProvisionProductRequest, ProvisionProductResult>",
      "authenticated" : true,
      "methodName" : "provisionProduct"
    },
    "ScanProvisionedProducts" : {
      "documentation" : "<p>Returns a paginated list of all the ProvisionedProduct objects that are currently available (not terminated). </p>",
      "operationName" : "ScanProvisionedProducts",
      "deprecated" : false,
      "input" : {
        "variableName" : "scanProvisionedProductsRequest",
        "variableType" : "ScanProvisionedProductsRequest",
        "variableDeclarationType" : "ScanProvisionedProductsRequest",
        "documentation" : "",
        "simpleType" : "ScanProvisionedProductsRequest",
        "variableSetterType" : "ScanProvisionedProductsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ScanProvisionedProductsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ScanProvisionedProductsResult",
      "asyncReturnType" : "ScanProvisionedProductsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ScanProvisionedProductsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ScanProvisionedProductsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ScanProvisionedProductsRequest, ScanProvisionedProductsResult>",
      "authenticated" : true,
      "methodName" : "scanProvisionedProducts"
    },
    "SearchProducts" : {
      "documentation" : "<p>Returns a paginated list all of the <code>Products</code> objects to which the caller has access. </p> <p>The output of this operation can be used as input for other operations, such as <a>DescribeProductView</a>.</p>",
      "operationName" : "SearchProducts",
      "deprecated" : false,
      "input" : {
        "variableName" : "searchProductsRequest",
        "variableType" : "SearchProductsRequest",
        "variableDeclarationType" : "SearchProductsRequest",
        "documentation" : "",
        "simpleType" : "SearchProductsRequest",
        "variableSetterType" : "SearchProductsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SearchProductsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SearchProductsResult",
      "asyncReturnType" : "SearchProductsResult",
      "asyncFutureType" : "java.util.concurrent.Future<SearchProductsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SearchProductsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchProductsRequest, SearchProductsResult>",
      "authenticated" : true,
      "methodName" : "searchProducts"
    },
    "TerminateProvisionedProduct" : {
      "documentation" : "<p>Requests termination of an existing ProvisionedProduct object. If there are <code>Tags</code> associated with the object, they are terminated when the ProvisionedProduct object is terminated. </p> <p>This operation does not delete any records associated with the ProvisionedProduct object.</p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>",
      "operationName" : "TerminateProvisionedProduct",
      "deprecated" : false,
      "input" : {
        "variableName" : "terminateProvisionedProductRequest",
        "variableType" : "TerminateProvisionedProductRequest",
        "variableDeclarationType" : "TerminateProvisionedProductRequest",
        "documentation" : "",
        "simpleType" : "TerminateProvisionedProductRequest",
        "variableSetterType" : "TerminateProvisionedProductRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TerminateProvisionedProductResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "TerminateProvisionedProductResult",
      "asyncReturnType" : "TerminateProvisionedProductResult",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateProvisionedProductResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateProvisionedProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateProvisionedProductRequest, TerminateProvisionedProductResult>",
      "authenticated" : true,
      "methodName" : "terminateProvisionedProduct"
    },
    "UpdateProvisionedProduct" : {
      "documentation" : "<p>Requests updates to the configuration of an existing ProvisionedProduct object. If there are tags associated with the object, they cannot be updated or added with this operation. Depending on the specific updates requested, this operation may update with no interruption, with some interruption, or replace the ProvisionedProduct object entirely. </p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>",
      "operationName" : "UpdateProvisionedProduct",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateProvisionedProductRequest",
        "variableType" : "UpdateProvisionedProductRequest",
        "variableDeclarationType" : "UpdateProvisionedProductRequest",
        "documentation" : "",
        "simpleType" : "UpdateProvisionedProductRequest",
        "variableSetterType" : "UpdateProvisionedProductRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateProvisionedProductResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateProvisionedProductResult",
      "asyncReturnType" : "UpdateProvisionedProductResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProvisionedProductResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProvisionedProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProvisionedProductRequest, UpdateProvisionedProductResult>",
      "authenticated" : true,
      "methodName" : "updateProvisionedProduct"
    }
  },
  "shapes" : {
    "RecordTag" : {
      "c2jName" : "RecordTag",
      "documentation" : "<p>A tag associated with the record, stored as a key-value pair.</p>",
      "shapeName" : "RecordTag",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The key for this tag.</p>",
        "name" : "Key",
        "c2jName" : "Key",
        "c2jShape" : "RecordTagKey",
        "variable" : {
          "variableName" : "key",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The key for this tag.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "key",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Key",
          "marshallLocationName" : "Key",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The key for this tag.</p>\n@param key The key for this tag.*/",
        "getterDocumentation" : "/**<p>The key for this tag.</p>\n@return The key for this tag.*/",
        "fluentSetterDocumentation" : "/**<p>The key for this tag.</p>\n@param key The key for this tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The key for this tag.</p>\n@param key The key for this tag.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The value for this tag.</p>",
        "name" : "Value",
        "c2jName" : "Value",
        "c2jShape" : "RecordTagValue",
        "variable" : {
          "variableName" : "value",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The value for this tag.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "value",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Value",
          "marshallLocationName" : "Value",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The value for this tag.</p>\n@param value The value for this tag.*/",
        "getterDocumentation" : "/**<p>The value for this tag.</p>\n@return The value for this tag.*/",
        "fluentSetterDocumentation" : "/**<p>The value for this tag.</p>\n@param value The value for this tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The value for this tag.</p>\n@param value The value for this tag.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "recordTag",
        "variableType" : "RecordTag",
        "variableDeclarationType" : "RecordTag",
        "documentation" : null,
        "simpleType" : "RecordTag",
        "variableSetterType" : "RecordTag"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Value" : {
          "documentation" : "<p>The value for this tag.</p>",
          "name" : "Value",
          "c2jName" : "Value",
          "c2jShape" : "RecordTagValue",
          "variable" : {
            "variableName" : "value",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The value for this tag.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "value",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Value",
            "marshallLocationName" : "Value",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The value for this tag.</p>\n@param value The value for this tag.*/",
          "getterDocumentation" : "/**<p>The value for this tag.</p>\n@return The value for this tag.*/",
          "fluentSetterDocumentation" : "/**<p>The value for this tag.</p>\n@param value The value for this tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The value for this tag.</p>\n@param value The value for this tag.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Key" : {
          "documentation" : "<p>The key for this tag.</p>",
          "name" : "Key",
          "c2jName" : "Key",
          "c2jShape" : "RecordTagKey",
          "variable" : {
            "variableName" : "key",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The key for this tag.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "key",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Key",
            "marshallLocationName" : "Key",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The key for this tag.</p>\n@param key The key for this tag.*/",
          "getterDocumentation" : "/**<p>The key for this tag.</p>\n@return The key for this tag.*/",
          "fluentSetterDocumentation" : "/**<p>The key for this tag.</p>\n@param key The key for this tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The key for this tag.</p>\n@param key The key for this tag.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ProvisionProductRequest" : {
      "c2jName" : "ProvisionProductInput",
      "documentation" : "",
      "shapeName" : "ProvisionProductRequest",
      "deprecated" : false,
      "required" : [ "ProductId", "ProvisioningArtifactId", "ProvisionedProductName", "ProvisionToken" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
        "name" : "AcceptLanguage",
        "c2jName" : "AcceptLanguage",
        "c2jShape" : "AcceptLanguage",
        "variable" : {
          "variableName" : "acceptLanguage",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "acceptLanguage",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AcceptLanguage",
          "marshallLocationName" : "AcceptLanguage",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
        "getterDocumentation" : "/**<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@return Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
        "fluentSetterDocumentation" : "/**<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The identifier of the product.</p>",
        "name" : "ProductId",
        "c2jName" : "ProductId",
        "c2jShape" : "Id",
        "variable" : {
          "variableName" : "productId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The identifier of the product.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "productId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ProductId",
          "marshallLocationName" : "ProductId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The identifier of the product.</p>\n@param productId The identifier of the product.*/",
        "getterDocumentation" : "/**<p>The identifier of the product.</p>\n@return The identifier of the product.*/",
        "fluentSetterDocumentation" : "/**<p>The identifier of the product.</p>\n@param productId The identifier of the product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The identifier of the product.</p>\n@param productId The identifier of the product.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The provisioning artifact identifier for this product.</p>",
        "name" : "ProvisioningArtifactId",
        "c2jName" : "ProvisioningArtifactId",
        "c2jShape" : "Id",
        "variable" : {
          "variableName" : "provisioningArtifactId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The provisioning artifact identifier for this product.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "provisioningArtifactId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ProvisioningArtifactId",
          "marshallLocationName" : "ProvisioningArtifactId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The provisioning artifact identifier for this product.</p>\n@param provisioningArtifactId The provisioning artifact identifier for this product.*/",
        "getterDocumentation" : "/**<p>The provisioning artifact identifier for this product.</p>\n@return The provisioning artifact identifier for this product.*/",
        "fluentSetterDocumentation" : "/**<p>The provisioning artifact identifier for this product.</p>\n@param provisioningArtifactId The provisioning artifact identifier for this product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The provisioning artifact identifier for this product.</p>\n@param provisioningArtifactId The provisioning artifact identifier for this product.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>",
        "name" : "PathId",
        "c2jName" : "PathId",
        "c2jShape" : "Id",
        "variable" : {
          "variableName" : "pathId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "pathId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "PathId",
          "marshallLocationName" : "PathId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>\n@param pathId The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.*/",
        "getterDocumentation" : "/**<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>\n@return The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.*/",
        "fluentSetterDocumentation" : "/**<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>\n@param pathId The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>\n@param pathId The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.</p>",
        "name" : "ProvisionedProductName",
        "c2jName" : "ProvisionedProductName",
        "c2jShape" : "ProvisionedProductName",
        "variable" : {
          "variableName" : "provisionedProductName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "provisionedProductName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ProvisionedProductName",
          "marshallLocationName" : "ProvisionedProductName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.</p>\n@param provisionedProductName A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.*/",
        "getterDocumentation" : "/**<p>A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.</p>\n@return A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.*/",
        "fluentSetterDocumentation" : "/**<p>A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.</p>\n@param provisionedProductName A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.</p>\n@param provisionedProductName A user-friendly name to identify the ProvisionedProduct object. This value must be unique for the AWS account and cannot be updated after the product is provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Parameters specified by the administrator that are required for provisioning the product.</p>",
        "name" : "ProvisioningParameters",
        "c2jName" : "ProvisioningParameters",
        "c2jShape" : "ProvisioningParameters",
        "variable" : {
          "variableName" : "provisioningParameters",
          "variableType" : "java.util.List<ProvisioningParameter>",
          "variableDeclarationType" : "java.util.List<ProvisioningParameter>",
          "documentation" : "<p>Parameters specified by the administrator that are required for provisioning the product.</p>",
          "simpleType" : "List<ProvisioningParameter>",
          "variableSetterType" : "java.util.Collection<ProvisioningParameter>"
        },
        "setterModel" : {
          "variableName" : "provisioningParameters",
          "variableType" : "java.util.List<ProvisioningParameter>",
          "variableDeclarationType" : "java.util.List<ProvisioningParameter>",
          "documentation" : "",
          "simpleType" : "List<ProvisioningParameter>",
          "variableSetterType" : "java.util.Collection<ProvisioningParameter>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<ProvisioningParameter>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ProvisioningParameters",
          "marshallLocationName" : "ProvisioningParameters",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "ProvisioningParameter",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ProvisioningParameter",
            "variable" : {
              "variableName" : "member",
              "variableType" : "ProvisioningParameter",
              "variableDeclarationType" : "ProvisioningParameter",
              "documentation" : "",
              "simpleType" : "ProvisioningParameter",
              "variableSetterType" : "ProvisioningParameter"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "ProvisioningParameter",
              "variableDeclarationType" : "ProvisioningParameter",
              "documentation" : "",
              "simpleType" : "ProvisioningParameter",
              "variableSetterType" : "ProvisioningParameter"
            },
            "getterModel" : {
              "returnType" : "ProvisioningParameter",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "ProvisioningParameter",
          "templateType" : "java.util.List<ProvisioningParameter>",
          "templateImplType" : "java.util.ArrayList<ProvisioningParameter>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>Parameters specified by the administrator that are required for provisioning the product.</p>\n@param provisioningParameters Parameters specified by the administrator that are required for provisioning the product.*/",
        "getterDocumentation" : "/**<p>Parameters specified by the administrator that are required for provisioning the product.</p>\n@return Parameters specified by the administrator that are required for provisioning the product.*/",
        "fluentSetterDocumentation" : "/**<p>Parameters specified by the administrator that are required for provisioning the product.</p>\n@param provisioningParameters Parameters specified by the administrator that are required for provisioning the product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Parameters specified by the administrator that are required for provisioning the product.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setProvisioningParameters(java.util.Collection)} or {@link #withProvisioningParameters(java.util.Collection)} if you want to override the existing values.</p>\n@param provisioningParameters Parameters specified by the administrator that are required for provisioning the product.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>(Optional) A list of tags to use as provisioning options.</p>",
        "name" : "Tags",
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "variable" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "java.util.List<Tag>",
          "documentation" : "<p>(Optional) A list of tags to use as provisioning options.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "setterModel" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Tags",
          "marshallLocationName" : "Tags",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Tag",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "Tag",
          "templateType" : "java.util.List<Tag>",
          "templateImplType" : "java.util.ArrayList<Tag>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>(Optional) A list of tags to use as provisioning options.</p>\n@param tags (Optional) A list of tags to use as provisioning options.*/",
        "getterDocumentation" : "/**<p>(Optional) A list of tags to use as provisioning options.</p>\n@return (Optional) A list of tags to use as provisioning options.*/",
        "fluentSetterDocumentation" : "/**<p>(Optional) A list of tags to use as provisioning options.</p>\n@param tags (Optional) A list of tags to use as provisioning options.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>(Optional) A list of tags to use as provisioning options.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags (Optional) A list of tags to use as provisioning options.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>",
        "name" : "NotificationArns",
        "c2jName" : "NotificationArns",
        "c2jShape" : "NotificationArns",
        "variable" : {
          "variableName" : "notificationArns",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "notificationArns",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NotificationArns",
          "marshallLocationName" : "NotificationArns",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "NotificationArn",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "java.util.ArrayList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>\n@param notificationArns Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.*/",
        "getterDocumentation" : "/**<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>\n@return Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.*/",
        "fluentSetterDocumentation" : "/**<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>\n@param notificationArns Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNotificationArns(java.util.Collection)} or {@link #withNotificationArns(java.util.Collection)} if you want to override the existing values.</p>\n@param notificationArns Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>An idempotency token that uniquely identifies the provisioning request. </p>",
        "name" : "ProvisionToken",
        "c2jName" : "ProvisionToken",
        "c2jShape" : "IdempotencyToken",
        "variable" : {
          "variableName" : "provisionToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>An idempotency token that uniquely identifies the provisioning request. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "provisionToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ProvisionToken",
          "marshallLocationName" : "ProvisionToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : true,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>An idempotency token that uniquely identifies the provisioning request. </p>\n@param provisionToken An idempotency token that uniquely identifies the provisioning request.*/",
        "getterDocumentation" : "/**<p>An idempotency token that uniquely identifies the provisioning request. </p>\n@return An idempotency token that uniquely identifies the provisioning request.*/",
        "fluentSetterDocumentation" : "/**<p>An idempotency token that uniquely identifies the provisioning request. </p>\n@param provisionToken An idempotency token that uniquely identifies the provisioning request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>An idempotency token that uniquely identifies the provisioning request. </p>\n@param provisionToken An idempotency token that uniquely identifies the provisioning request.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "provisionProductRequest",
        "variableType" : "ProvisionProductRequest",
        "variableDeclarationType" : "ProvisionProductRequest",
        "documentation" : null,
        "simpleType" : "ProvisionProductRequest",
        "variableSetterType" : "ProvisionProductRequest"
      },
      "marshaller" : {
        "action" : "ProvisionProduct",
        "verb" : "POST",
        "target" : "AWS242ServiceCatalogService.ProvisionProduct",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "PathId" : {
          "documentation" : "<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>",
          "name" : "PathId",
          "c2jName" : "PathId",
          "c2jShape" : "Id",
          "variable" : {
            "variableName" : "pathId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "pathId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "PathId",
            "marshallLocationName" : "PathId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>\n@param pathId The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.*/",
          "getterDocumentation" : "/**<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>\n@return The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.*/",
          "fluentSetterDocumentation" : "/**<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>\n@param pathId The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.</p>\n@param pathId The identifier of the path for this product's provisioning. This value is optional if the product has a default path, and is required if there is more than one path for the specified product.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ProvisioningParameters" : {
          "documentation" : "<p>Parameters specified by the administrator that are required for provisioning the product.</p>",
          "name" : "ProvisioningParameters",
          "c2jName" : "ProvisioningParameters",
          "c2jShape" : "ProvisioningParameters",
          "variable" : {
            "variableName" : "provisioningParameters",
            "variableType" : "java.util.List<ProvisioningParameter>",
            "variableDeclarationType" : "java.util.List<ProvisioningParameter>",
            "documentation" : "<p>Parameters specified by the administrator that are required for provisioning the product.</p>",
            "simpleType" : "List<ProvisioningParameter>",
            "variableSetterType" : "java.util.Collection<ProvisioningParameter>"
          },
          "setterModel" : {
            "variableName" : "provisioningParameters",
            "variableType" : "java.util.List<ProvisioningParameter>",
            "variableDeclarationType" : "java.util.List<ProvisioningParameter>",
            "documentation" : "",
            "simpleType" : "List<ProvisioningParameter>",
            "variableSetterType" : "java.util.Collection<ProvisioningParameter>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<ProvisioningParameter>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ProvisioningParameters",
            "marshallLocationName" : "ProvisioningParameters",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "ProvisioningParameter",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "ProvisioningParameter",
              "variable" : {
                "variableName" : "member",
                "variableType" : "ProvisioningParameter",
                "variableDeclarationType" : "ProvisioningParameter",
                "documentation" : "",
                "simpleType" : "ProvisioningParameter",
                "variableSetterType" : "ProvisioningParameter"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "ProvisioningParameter",
                "variableDeclarationType" : "ProvisioningParameter",
                "documentation" : "",
                "simpleType" : "ProvisioningParameter",
                "variableSetterType" : "ProvisioningParameter"
              },
              "getterModel" : {
                "returnType" : "ProvisioningParameter",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "ProvisioningParameter",
            "templateType" : "java.util.List<ProvisioningParameter>",
            "templateImplType" : "java.util.ArrayList<ProvisioningParameter>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>Parameters specified by the administrator that are required for provisioning the product.</p>\n@param provisioningParameters Parameters specified by the administrator that are required for provisioning the product.*/",
          "getterDocumentation" : "/**<p>Parameters specified by the administrator that are required for provisioning the product.</p>\n@return Parameters specified by the administrator that are required for provisioning the product.*/",
          "fluentSetterDocumentation" : "/**<p>Parameters specified by the administrator that are required for provisioning the product.</p>\n@param provisioningParameters Parameters specified by the administrator that are required for provisioning the product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Parameters specified by the administrator that are required for provisioning the product.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setProvisioningParameters(java.util.Collection)} or {@link #withProvisioningParameters(java.util.Collection)} if you want to override the existing values.</p>\n@param provisioningParameters Parameters specified by the administrator that are required for provisioning the product.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "NotificationArns" : {
          "documentation" : "<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>",
          "name" : "NotificationArns",
          "c2jName" : "NotificationArns",
          "c2jShape" : "NotificationArns",
          "variable" : {
            "variableName" : "notificationArns",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "setterModel" : {
            "variableName" : "notificationArns",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NotificationArns",
            "marshallLocationName" : "NotificationArns",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "NotificationArn",
              "variable" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "map" : false,
            "simpleType" : "String",
            "templateType" : "java.util.List<String>",
            "templateImplType" : "java.util.ArrayList<String>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>\n@param notificationArns Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.*/",
          "getterDocumentation" : "/**<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>\n@return Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.*/",
          "fluentSetterDocumentation" : "/**<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>\n@param notificationArns Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNotificationArns(java.util.Collection)} or {@link #withNotificationArns(java.util.Collection)} if you want to override the existing values.</p>\n@param notificationArns Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "AcceptLanguage" : {
          "documentation" : "<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
          "name" : "AcceptLanguage",
          "c2jName" : "AcceptLanguage",
          "c2jShape" : "AcceptLanguage",
          "variable" : {
            "variableName" : "acceptLanguage",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "acceptLanguage",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "AcceptLanguage",
            "marshallLocationName" : "AcceptLanguage",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
          "getterDocumentation" : "/**<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@return Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
          "fluentSetterDocumentation" : "/**<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage Optional language code. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ProductId" : {
          "documentation" : "<p>The identifier of the product.</p>",
          "name" : "ProductId",
          "c2jName" : "ProductId",
          "c2jShape" : "Id",
          "variable" : {
            "variableName" : "productId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The identifier of the product.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "productId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ProductId",
            "marshallLocationName" : "ProductId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The identifier of the product.</p>\n@param productId The identifier of the product.*/",
          "getterDocumentation" : "/**<p>The identifier of the product.</p>\n@return The identifier of the product.*/",
          "fluentSetterDocumentation" : "/**<p>The identifier of the product.</p>\n@param productId The identifier of the product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The identifier of the product.</p>\n@param productId The identifier of the product.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ProvisionToken" : {
          "documentation" : "<p>An idempotency token that uniquely identifies the provisioning request. </p>",
          "name" : "ProvisionToken",
          "c2jName" : "ProvisionToken",
          "c2jShape" : "IdempotencyToken",
          "variable" : {
            "variableName" : "provisionToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>An idempotency token that uniquely identifies the provisioning request. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "provisionToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ProvisionToken",
            "marshallLocationName" : "ProvisionToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : true,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>An idempotency token that uniquely identifies the provisioning request. </p>\n@param provisionToken An idempotency token that uniquely identifies the provisioning request.*/",
          "getterDocumentation" : "/**<p>An idempotency token that uniquely identifies the provisioning request. </p>\n@return An idempotency token that uniquely identifies the provisioning request.*/",
          "fluentSetterDocumentation" : "/**<p>An idempotency token that uniquely identifies the provisioning request. </p>\n@param provisionToken An idempotency token that uniquely identifies the provisioning request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>An idempotency token that uniquely identifies the provisioning request. </p>\n@param provisionToken An idempotency token that uniquely identifies the provisioning request.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Tags" : {
          "documentation" : "<p>(Optional) A list of tags to use as provisioning options.</p>",
          "name" : "Tags",
          "c2jName" : "Tags",
          "c2jShape" : "Tags",
          "variable" : {
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "java.util.List<Tag>",
            "documentation" : "<p>(Optional) A list of tags to use as provisioning options.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "setterModel" : {
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Tags",
            "marshallLocationName" : "Tags",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Tag",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "Tag",
            "templateType" : "java.util.List<Tag>",
            "templateImplType" : "java.util.ArrayList<Tag>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
[...]
