{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-12-10",
    "asyncClient" : "AWSServiceCatalogAsyncClient",
    "asyncClientBuilderClassName" : "AWSServiceCatalogAsyncClientBuilder",
    "asyncInterface" : "AWSServiceCatalogAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSServiceCatalogModuleInjector",
    "defaultEndpoint" : "servicecatalog.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "servicecatalog.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS Service Catalog</fullname> <p> <b>Overview</b> </p> <p> <a href=\"https://aws.amazon.com/servicecatalog/\">AWS Service Catalog</a> allows organizations to create and manage catalogs of IT services that are approved for use on AWS. This documentation provides reference material for the AWS Service Catalog end user API. To get the most out of this documentation, you need to be familiar with the terminology discussed in <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/userguide/what-is_concepts.html\">AWS Service Catalog Concepts</a>.</p> <p> <i>Additional Resources</i> </p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/introduction.html\">AWS Service Catalog Administrator Guide</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/userguide/introduction.html\">AWS Service Catalog User Guide</a> </p> </li> </ul>",
    "endpointPrefix" : "servicecatalog",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.servicecatalog",
    "packagePath" : "com/amazonaws/services/servicecatalog",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Service Catalog",
    "serviceName" : "AWS Service Catalog",
    "signingName" : "servicecatalog",
    "smokeTestsPackageName" : "com.amazonaws.services.servicecatalog.smoketests",
    "syncClient" : "AWSServiceCatalogClient",
    "syncClientBuilderClassName" : "AWSServiceCatalogClientBuilder",
    "syncInterface" : "AWSServiceCatalog",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptPortfolioShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptPortfolioShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptPortfolioShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptPortfolioShareRequest, AcceptPortfolioShareResult>",
      "asyncReturnType" : "AcceptPortfolioShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts an offer to share a portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Reduce the resource use or increase the service limits and retry the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AcceptPortfolioShareRequest",
        "variableName" : "acceptPortfolioShareRequest",
        "variableType" : "AcceptPortfolioShareRequest",
        "documentation" : "",
        "simpleType" : "AcceptPortfolioShareRequest",
        "variableSetterType" : "AcceptPortfolioShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptPortfolioShare",
      "operationName" : "AcceptPortfolioShare",
      "returnType" : {
        "returnType" : "AcceptPortfolioShareResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptPortfolioShareResult"
    },
    "AssociatePrincipalWithPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePrincipalWithPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePrincipalWithPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePrincipalWithPortfolioRequest, AssociatePrincipalWithPortfolioResult>",
      "asyncReturnType" : "AssociatePrincipalWithPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified principal ARN with the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Reduce the resource use or increase the service limits and retry the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociatePrincipalWithPortfolioRequest",
        "variableName" : "associatePrincipalWithPortfolioRequest",
        "variableType" : "AssociatePrincipalWithPortfolioRequest",
        "documentation" : "",
        "simpleType" : "AssociatePrincipalWithPortfolioRequest",
        "variableSetterType" : "AssociatePrincipalWithPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePrincipalWithPortfolio",
      "operationName" : "AssociatePrincipalWithPortfolio",
      "returnType" : {
        "returnType" : "AssociatePrincipalWithPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePrincipalWithPortfolioResult"
    },
    "AssociateProductWithPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateProductWithPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateProductWithPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateProductWithPortfolioRequest, AssociateProductWithPortfolioResult>",
      "asyncReturnType" : "AssociateProductWithPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a product with a portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Reduce the resource use or increase the service limits and retry the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateProductWithPortfolioRequest",
        "variableName" : "associateProductWithPortfolioRequest",
        "variableType" : "AssociateProductWithPortfolioRequest",
        "documentation" : "",
        "simpleType" : "AssociateProductWithPortfolioRequest",
        "variableSetterType" : "AssociateProductWithPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateProductWithPortfolio",
      "operationName" : "AssociateProductWithPortfolio",
      "returnType" : {
        "returnType" : "AssociateProductWithPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateProductWithPortfolioResult"
    },
    "CreateConstraint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConstraintResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConstraintResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConstraintRequest, CreateConstraintResult>",
      "asyncReturnType" : "CreateConstraintResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new constraint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Reduce the resource use or increase the service limits and retry the operation.</p>"
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>The specified resource is a duplicate.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateConstraintRequest",
        "variableName" : "createConstraintRequest",
        "variableType" : "CreateConstraintRequest",
        "documentation" : "",
        "simpleType" : "CreateConstraintRequest",
        "variableSetterType" : "CreateConstraintRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConstraint",
      "operationName" : "CreateConstraint",
      "returnType" : {
        "returnType" : "CreateConstraintResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConstraintResult"
    },
    "CreatePortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePortfolioRequest, CreatePortfolioResult>",
      "asyncReturnType" : "CreatePortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Reduce the resource use or increase the service limits and retry the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePortfolioRequest",
        "variableName" : "createPortfolioRequest",
        "variableType" : "CreatePortfolioRequest",
        "documentation" : "",
        "simpleType" : "CreatePortfolioRequest",
        "variableSetterType" : "CreatePortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPortfolio",
      "operationName" : "CreatePortfolio",
      "returnType" : {
        "returnType" : "CreatePortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePortfolioResult"
    },
    "CreatePortfolioShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePortfolioShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePortfolioShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePortfolioShareRequest, CreatePortfolioShareResult>",
      "asyncReturnType" : "CreatePortfolioShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new portfolio share.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Reduce the resource use or increase the service limits and retry the operation.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePortfolioShareRequest",
        "variableName" : "createPortfolioShareRequest",
        "variableType" : "CreatePortfolioShareRequest",
        "documentation" : "",
        "simpleType" : "CreatePortfolioShareRequest",
        "variableSetterType" : "CreatePortfolioShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPortfolioShare",
      "operationName" : "CreatePortfolioShare",
      "returnType" : {
        "returnType" : "CreatePortfolioShareResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePortfolioShareResult"
    },
    "CreateProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProductRequest, CreateProductResult>",
      "asyncReturnType" : "CreateProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new product.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Reduce the resource use or increase the service limits and retry the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateProductRequest",
        "variableName" : "createProductRequest",
        "variableType" : "CreateProductRequest",
        "documentation" : "",
        "simpleType" : "CreateProductRequest",
        "variableSetterType" : "CreateProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProduct",
      "operationName" : "CreateProduct",
      "returnType" : {
        "returnType" : "CreateProductResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProductResult"
    },
    "CreateProvisioningArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProvisioningArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProvisioningArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProvisioningArtifactRequest, CreateProvisioningArtifactResult>",
      "asyncReturnType" : "CreateProvisioningArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new provisioning artifact for the specified product. This operation will not work with a product that has been shared with you.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Reduce the resource use or increase the service limits and retry the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateProvisioningArtifactRequest",
        "variableName" : "createProvisioningArtifactRequest",
        "variableType" : "CreateProvisioningArtifactRequest",
        "documentation" : "",
        "simpleType" : "CreateProvisioningArtifactRequest",
        "variableSetterType" : "CreateProvisioningArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProvisioningArtifact",
      "operationName" : "CreateProvisioningArtifact",
      "returnType" : {
        "returnType" : "CreateProvisioningArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProvisioningArtifactResult"
    },
    "DeleteConstraint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConstraintResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConstraintResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConstraintRequest, DeleteConstraintResult>",
      "asyncReturnType" : "DeleteConstraintResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified constraint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConstraintRequest",
        "variableName" : "deleteConstraintRequest",
        "variableType" : "DeleteConstraintRequest",
        "documentation" : "",
        "simpleType" : "DeleteConstraintRequest",
        "variableSetterType" : "DeleteConstraintRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConstraint",
      "operationName" : "DeleteConstraint",
      "returnType" : {
        "returnType" : "DeleteConstraintResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConstraintResult"
    },
    "DeletePortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePortfolioRequest, DeletePortfolioResult>",
      "asyncReturnType" : "DeletePortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified portfolio. This operation will not work with a portfolio that has been shared with you or if it has products, users, constraints, or shared accounts associated with it.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The operation was requested against a resource that is currently in use. Free the resource from use and retry the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeletePortfolioRequest",
        "variableName" : "deletePortfolioRequest",
        "variableType" : "DeletePortfolioRequest",
        "documentation" : "",
        "simpleType" : "DeletePortfolioRequest",
        "variableSetterType" : "DeletePortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePortfolio",
      "operationName" : "DeletePortfolio",
      "returnType" : {
        "returnType" : "DeletePortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePortfolioResult"
    },
    "DeletePortfolioShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePortfolioShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePortfolioShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePortfolioShareRequest, DeletePortfolioShareResult>",
      "asyncReturnType" : "DeletePortfolioShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified portfolio share.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeletePortfolioShareRequest",
        "variableName" : "deletePortfolioShareRequest",
        "variableType" : "DeletePortfolioShareRequest",
        "documentation" : "",
        "simpleType" : "DeletePortfolioShareRequest",
        "variableSetterType" : "DeletePortfolioShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePortfolioShare",
      "operationName" : "DeletePortfolioShare",
      "returnType" : {
        "returnType" : "DeletePortfolioShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePortfolioShareResult"
    },
    "DeleteProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProductRequest, DeleteProductResult>",
      "asyncReturnType" : "DeleteProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified product. This operation will not work with a product that has been shared with you or is associated with a portfolio. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The operation was requested against a resource that is currently in use. Free the resource from use and retry the operation.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteProductRequest",
        "variableName" : "deleteProductRequest",
        "variableType" : "DeleteProductRequest",
        "documentation" : "",
        "simpleType" : "DeleteProductRequest",
        "variableSetterType" : "DeleteProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProduct",
      "operationName" : "DeleteProduct",
      "returnType" : {
        "returnType" : "DeleteProductResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProductResult"
    },
    "DeleteProvisioningArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProvisioningArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProvisioningArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProvisioningArtifactRequest, DeleteProvisioningArtifactResult>",
      "asyncReturnType" : "DeleteProvisioningArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified provisioning artifact. This operation will not work on a provisioning artifact associated with a product that has been shared with you, or on the last provisioning artifact associated with a product (a product must have at least one provisioning artifact).</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The operation was requested against a resource that is currently in use. Free the resource from use and retry the operation.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteProvisioningArtifactRequest",
        "variableName" : "deleteProvisioningArtifactRequest",
        "variableType" : "DeleteProvisioningArtifactRequest",
        "documentation" : "",
        "simpleType" : "DeleteProvisioningArtifactRequest",
        "variableSetterType" : "DeleteProvisioningArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProvisioningArtifact",
      "operationName" : "DeleteProvisioningArtifact",
      "returnType" : {
        "returnType" : "DeleteProvisioningArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProvisioningArtifactResult"
    },
    "DescribeConstraint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConstraintResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConstraintResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConstraintRequest, DescribeConstraintResult>",
      "asyncReturnType" : "DescribeConstraintResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves detailed information for a specified constraint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConstraintRequest",
        "variableName" : "describeConstraintRequest",
        "variableType" : "DescribeConstraintRequest",
        "documentation" : "",
        "simpleType" : "DescribeConstraintRequest",
        "variableSetterType" : "DescribeConstraintRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConstraint",
      "operationName" : "DescribeConstraint",
      "returnType" : {
        "returnType" : "DescribeConstraintResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConstraintResult"
    },
    "DescribePortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePortfolioRequest, DescribePortfolioResult>",
      "asyncReturnType" : "DescribePortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves detailed information and any tags associated with the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribePortfolioRequest",
        "variableName" : "describePortfolioRequest",
        "variableType" : "DescribePortfolioRequest",
        "documentation" : "",
        "simpleType" : "DescribePortfolioRequest",
        "variableSetterType" : "DescribePortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePortfolio",
      "operationName" : "DescribePortfolio",
      "returnType" : {
        "returnType" : "DescribePortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePortfolioResult"
    },
    "DescribeProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductRequest, DescribeProductResult>",
      "asyncReturnType" : "DescribeProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a specified product.</p> <p>This operation is functionally identical to <a>DescribeProductView</a> except that it takes as input <code>ProductId</code> instead of <code>ProductViewId</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProductRequest",
        "variableName" : "describeProductRequest",
        "variableType" : "DescribeProductRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductRequest",
        "variableSetterType" : "DescribeProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProduct",
      "operationName" : "DescribeProduct",
      "returnType" : {
        "returnType" : "DescribeProductResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProductResult"
    },
    "DescribeProductAsAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductAsAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductAsAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductAsAdminRequest, DescribeProductAsAdminResult>",
      "asyncReturnType" : "DescribeProductAsAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a specified product, run with administrator access.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProductAsAdminRequest",
        "variableName" : "describeProductAsAdminRequest",
        "variableType" : "DescribeProductAsAdminRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductAsAdminRequest",
        "variableSetterType" : "DescribeProductAsAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProductAsAdmin",
      "operationName" : "DescribeProductAsAdmin",
      "returnType" : {
        "returnType" : "DescribeProductAsAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProductAsAdminResult"
    },
    "DescribeProductView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductViewRequest, DescribeProductViewResult>",
      "asyncReturnType" : "DescribeProductViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a specified product.</p> <p>This operation is functionally identical to <a>DescribeProduct</a> except that it takes as input <code>ProductViewId</code> instead of <code>ProductId</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProductViewRequest",
        "variableName" : "describeProductViewRequest",
        "variableType" : "DescribeProductViewRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductViewRequest",
        "variableSetterType" : "DescribeProductViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProductView",
      "operationName" : "DescribeProductView",
      "returnType" : {
        "returnType" : "DescribeProductViewResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProductViewResult"
    },
    "DescribeProvisioningArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProvisioningArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProvisioningArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProvisioningArtifactRequest, DescribeProvisioningArtifactResult>",
      "asyncReturnType" : "DescribeProvisioningArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves detailed information about the specified provisioning artifact.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProvisioningArtifactRequest",
        "variableName" : "describeProvisioningArtifactRequest",
        "variableType" : "DescribeProvisioningArtifactRequest",
        "documentation" : "",
        "simpleType" : "DescribeProvisioningArtifactRequest",
        "variableSetterType" : "DescribeProvisioningArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProvisioningArtifact",
      "operationName" : "DescribeProvisioningArtifact",
      "returnType" : {
        "returnType" : "DescribeProvisioningArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProvisioningArtifactResult"
    },
    "DescribeProvisioningParameters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProvisioningParametersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProvisioningParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProvisioningParametersRequest, DescribeProvisioningParametersResult>",
      "asyncReturnType" : "DescribeProvisioningParametersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about parameters required to provision a specified product in a specified manner. Use this operation to obtain the list of <code>ProvisioningArtifactParameters</code> parameters available to call the <a>ProvisionProduct</a> operation for the specified product.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProvisioningParametersRequest",
        "variableName" : "describeProvisioningParametersRequest",
        "variableType" : "DescribeProvisioningParametersRequest",
        "documentation" : "",
        "simpleType" : "DescribeProvisioningParametersRequest",
        "variableSetterType" : "DescribeProvisioningParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProvisioningParameters",
      "operationName" : "DescribeProvisioningParameters",
      "returnType" : {
        "returnType" : "DescribeProvisioningParametersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProvisioningParametersResult"
    },
    "DescribeRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecordRequest, DescribeRecordResult>",
      "asyncReturnType" : "DescribeRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a paginated list of the full details of a specific request. Use this operation after calling a request operation (<a>ProvisionProduct</a>, <a>TerminateProvisionedProduct</a>, or <a>UpdateProvisionedProduct</a>). </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRecordRequest",
        "variableName" : "describeRecordRequest",
        "variableType" : "DescribeRecordRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecordRequest",
        "variableSetterType" : "DescribeRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRecord",
      "operationName" : "DescribeRecord",
      "returnType" : {
        "returnType" : "DescribeRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRecordResult"
    },
    "DisassociatePrincipalFromPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociatePrincipalFromPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociatePrincipalFromPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociatePrincipalFromPortfolioRequest, DisassociatePrincipalFromPortfolioResult>",
      "asyncReturnType" : "DisassociatePrincipalFromPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a previously associated principal ARN from a specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociatePrincipalFromPortfolioRequest",
        "variableName" : "disassociatePrincipalFromPortfolioRequest",
        "variableType" : "DisassociatePrincipalFromPortfolioRequest",
        "documentation" : "",
        "simpleType" : "DisassociatePrincipalFromPortfolioRequest",
        "variableSetterType" : "DisassociatePrincipalFromPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociatePrincipalFromPortfolio",
      "operationName" : "DisassociatePrincipalFromPortfolio",
      "returnType" : {
        "returnType" : "DisassociatePrincipalFromPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociatePrincipalFromPortfolioResult"
    },
    "DisassociateProductFromPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateProductFromPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateProductFromPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateProductFromPortfolioRequest, DisassociateProductFromPortfolioResult>",
      "asyncReturnType" : "DisassociateProductFromPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified product from the specified portfolio. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateProductFromPortfolioRequest",
        "variableName" : "disassociateProductFromPortfolioRequest",
        "variableType" : "DisassociateProductFromPortfolioRequest",
        "documentation" : "",
        "simpleType" : "DisassociateProductFromPortfolioRequest",
        "variableSetterType" : "DisassociateProductFromPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateProductFromPortfolio",
      "operationName" : "DisassociateProductFromPortfolio",
      "returnType" : {
        "returnType" : "DisassociateProductFromPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateProductFromPortfolioResult"
    },
    "ListAcceptedPortfolioShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAcceptedPortfolioSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAcceptedPortfolioSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAcceptedPortfolioSharesRequest, ListAcceptedPortfolioSharesResult>",
      "asyncReturnType" : "ListAcceptedPortfolioSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists details of all portfolios for which sharing was accepted by this account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAcceptedPortfolioSharesRequest",
        "variableName" : "listAcceptedPortfolioSharesRequest",
        "variableType" : "ListAcceptedPortfolioSharesRequest",
        "documentation" : "",
        "simpleType" : "ListAcceptedPortfolioSharesRequest",
        "variableSetterType" : "ListAcceptedPortfolioSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAcceptedPortfolioShares",
      "operationName" : "ListAcceptedPortfolioShares",
      "returnType" : {
        "returnType" : "ListAcceptedPortfolioSharesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAcceptedPortfolioSharesResult"
    },
    "ListConstraintsForPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConstraintsForPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConstraintsForPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConstraintsForPortfolioRequest, ListConstraintsForPortfolioResult>",
      "asyncReturnType" : "ListConstraintsForPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves detailed constraint information for the specified portfolio and product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListConstraintsForPortfolioRequest",
        "variableName" : "listConstraintsForPortfolioRequest",
        "variableType" : "ListConstraintsForPortfolioRequest",
        "documentation" : "",
        "simpleType" : "ListConstraintsForPortfolioRequest",
        "variableSetterType" : "ListConstraintsForPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConstraintsForPortfolio",
      "operationName" : "ListConstraintsForPortfolio",
      "returnType" : {
        "returnType" : "ListConstraintsForPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConstraintsForPortfolioResult"
    },
    "ListLaunchPaths" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLaunchPathsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLaunchPathsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLaunchPathsRequest, ListLaunchPathsResult>",
      "asyncReturnType" : "ListLaunchPathsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of all paths to a specified product. A path is how the user has access to a specified product, and is necessary when provisioning a product. A path also determines the constraints put on the product.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListLaunchPathsRequest",
        "variableName" : "listLaunchPathsRequest",
        "variableType" : "ListLaunchPathsRequest",
        "documentation" : "",
        "simpleType" : "ListLaunchPathsRequest",
        "variableSetterType" : "ListLaunchPathsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLaunchPaths",
      "operationName" : "ListLaunchPaths",
      "returnType" : {
        "returnType" : "ListLaunchPathsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLaunchPathsResult"
    },
    "ListPortfolioAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPortfolioAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPortfolioAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPortfolioAccessRequest, ListPortfolioAccessResult>",
      "asyncReturnType" : "ListPortfolioAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the account IDs that have been authorized sharing of the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPortfolioAccessRequest",
        "variableName" : "listPortfolioAccessRequest",
        "variableType" : "ListPortfolioAccessRequest",
        "documentation" : "",
        "simpleType" : "ListPortfolioAccessRequest",
        "variableSetterType" : "ListPortfolioAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPortfolioAccess",
      "operationName" : "ListPortfolioAccess",
      "returnType" : {
        "returnType" : "ListPortfolioAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPortfolioAccessResult"
    },
    "ListPortfolios" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPortfoliosResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPortfoliosResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPortfoliosRequest, ListPortfoliosResult>",
      "asyncReturnType" : "ListPortfoliosResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all portfolios in the catalog.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPortfoliosRequest",
        "variableName" : "listPortfoliosRequest",
        "variableType" : "ListPortfoliosRequest",
        "documentation" : "",
        "simpleType" : "ListPortfoliosRequest",
        "variableSetterType" : "ListPortfoliosRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPortfolios",
      "operationName" : "ListPortfolios",
      "returnType" : {
        "returnType" : "ListPortfoliosResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPortfoliosResult"
    },
    "ListPortfoliosForProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPortfoliosForProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPortfoliosForProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPortfoliosForProductRequest, ListPortfoliosForProductResult>",
      "asyncReturnType" : "ListPortfoliosForProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all portfolios that the specified product is associated with.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPortfoliosForProductRequest",
        "variableName" : "listPortfoliosForProductRequest",
        "variableType" : "ListPortfoliosForProductRequest",
        "documentation" : "",
        "simpleType" : "ListPortfoliosForProductRequest",
        "variableSetterType" : "ListPortfoliosForProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPortfoliosForProduct",
      "operationName" : "ListPortfoliosForProduct",
      "returnType" : {
        "returnType" : "ListPortfoliosForProductResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPortfoliosForProductResult"
    },
    "ListPrincipalsForPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPrincipalsForPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPrincipalsForPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPrincipalsForPortfolioRequest, ListPrincipalsForPortfolioResult>",
      "asyncReturnType" : "ListPrincipalsForPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all principal ARNs associated with the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPrincipalsForPortfolioRequest",
        "variableName" : "listPrincipalsForPortfolioRequest",
        "variableType" : "ListPrincipalsForPortfolioRequest",
        "documentation" : "",
        "simpleType" : "ListPrincipalsForPortfolioRequest",
        "variableSetterType" : "ListPrincipalsForPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPrincipalsForPortfolio",
      "operationName" : "ListPrincipalsForPortfolio",
      "returnType" : {
        "returnType" : "ListPrincipalsForPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPrincipalsForPortfolioResult"
    },
    "ListProvisioningArtifacts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProvisioningArtifactsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProvisioningArtifactsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProvisioningArtifactsRequest, ListProvisioningArtifactsResult>",
      "asyncReturnType" : "ListProvisioningArtifactsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all provisioning artifacts associated with the specified product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListProvisioningArtifactsRequest",
        "variableName" : "listProvisioningArtifactsRequest",
        "variableType" : "ListProvisioningArtifactsRequest",
        "documentation" : "",
        "simpleType" : "ListProvisioningArtifactsRequest",
        "variableSetterType" : "ListProvisioningArtifactsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProvisioningArtifacts",
      "operationName" : "ListProvisioningArtifacts",
      "returnType" : {
        "returnType" : "ListProvisioningArtifactsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProvisioningArtifactsResult"
    },
    "ListRecordHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecordHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecordHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecordHistoryRequest, ListRecordHistoryResult>",
      "asyncReturnType" : "ListRecordHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of all performed requests, in the form of RecordDetails objects that are filtered as specified.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRecordHistoryRequest",
        "variableName" : "listRecordHistoryRequest",
        "variableType" : "ListRecordHistoryRequest",
        "documentation" : "",
        "simpleType" : "ListRecordHistoryRequest",
        "variableSetterType" : "ListRecordHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecordHistory",
      "operationName" : "ListRecordHistory",
      "returnType" : {
        "returnType" : "ListRecordHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecordHistoryResult"
    },
    "ProvisionProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ProvisionProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ProvisionProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ProvisionProductRequest, ProvisionProductResult>",
      "asyncReturnType" : "ProvisionProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests a <i>Provision</i> of a specified product. A <i>ProvisionedProduct</i> is a resourced instance for a product. For example, provisioning a CloudFormation-template-backed product results in launching a CloudFormation stack and all the underlying resources that come with it. </p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>The specified resource is a duplicate.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ProvisionProductRequest",
        "variableName" : "provisionProductRequest",
        "variableType" : "ProvisionProductRequest",
        "documentation" : "",
        "simpleType" : "ProvisionProductRequest",
        "variableSetterType" : "ProvisionProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "provisionProduct",
      "operationName" : "ProvisionProduct",
      "returnType" : {
        "returnType" : "ProvisionProductResult",
        "documentation" : null
      },
      "syncReturnType" : "ProvisionProductResult"
    },
    "RejectPortfolioShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectPortfolioShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectPortfolioShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectPortfolioShareRequest, RejectPortfolioShareResult>",
      "asyncReturnType" : "RejectPortfolioShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rejects an offer to share a portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RejectPortfolioShareRequest",
        "variableName" : "rejectPortfolioShareRequest",
        "variableType" : "RejectPortfolioShareRequest",
        "documentation" : "",
        "simpleType" : "RejectPortfolioShareRequest",
        "variableSetterType" : "RejectPortfolioShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rejectPortfolioShare",
      "operationName" : "RejectPortfolioShare",
      "returnType" : {
        "returnType" : "RejectPortfolioShareResult",
        "documentation" : null
      },
      "syncReturnType" : "RejectPortfolioShareResult"
    },
    "ScanProvisionedProducts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ScanProvisionedProductsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ScanProvisionedProductsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ScanProvisionedProductsRequest, ScanProvisionedProductsResult>",
      "asyncReturnType" : "ScanProvisionedProductsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of all the ProvisionedProduct objects that are currently available (not terminated). </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ScanProvisionedProductsRequest",
        "variableName" : "scanProvisionedProductsRequest",
        "variableType" : "ScanProvisionedProductsRequest",
        "documentation" : "",
        "simpleType" : "ScanProvisionedProductsRequest",
        "variableSetterType" : "ScanProvisionedProductsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "scanProvisionedProducts",
      "operationName" : "ScanProvisionedProducts",
      "returnType" : {
        "returnType" : "ScanProvisionedProductsResult",
        "documentation" : null
      },
      "syncReturnType" : "ScanProvisionedProductsResult"
    },
    "SearchProducts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchProductsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchProductsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchProductsRequest, SearchProductsResult>",
      "asyncReturnType" : "SearchProductsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list all of the <code>Products</code> objects to which the caller has access. </p> <p>The output of this operation can be used as input for other operations, such as <a>DescribeProductView</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchProductsRequest",
        "variableName" : "searchProductsRequest",
        "variableType" : "SearchProductsRequest",
        "documentation" : "",
        "simpleType" : "SearchProductsRequest",
        "variableSetterType" : "SearchProductsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchProducts",
      "operationName" : "SearchProducts",
      "returnType" : {
        "returnType" : "SearchProductsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchProductsResult"
    },
    "SearchProductsAsAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchProductsAsAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchProductsAsAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchProductsAsAdminRequest, SearchProductsAsAdminResult>",
      "asyncReturnType" : "SearchProductsAsAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves summary and status information about all products created within the caller's account. If a portfolio ID is provided, this operation retrieves information for only those products that are associated with the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchProductsAsAdminRequest",
        "variableName" : "searchProductsAsAdminRequest",
        "variableType" : "SearchProductsAsAdminRequest",
        "documentation" : "",
        "simpleType" : "SearchProductsAsAdminRequest",
        "variableSetterType" : "SearchProductsAsAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchProductsAsAdmin",
      "operationName" : "SearchProductsAsAdmin",
      "returnType" : {
        "returnType" : "SearchProductsAsAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchProductsAsAdminResult"
    },
    "TerminateProvisionedProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateProvisionedProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateProvisionedProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateProvisionedProductRequest, TerminateProvisionedProductResult>",
      "asyncReturnType" : "TerminateProvisionedProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests termination of an existing ProvisionedProduct object. If there are <code>Tags</code> associated with the object, they are terminated when the ProvisionedProduct object is terminated. </p> <p>This operation does not delete any records associated with the ProvisionedProduct object.</p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TerminateProvisionedProductRequest",
        "variableName" : "terminateProvisionedProductRequest",
        "variableType" : "TerminateProvisionedProductRequest",
        "documentation" : "",
        "simpleType" : "TerminateProvisionedProductRequest",
        "variableSetterType" : "TerminateProvisionedProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateProvisionedProduct",
      "operationName" : "TerminateProvisionedProduct",
      "returnType" : {
        "returnType" : "TerminateProvisionedProductResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateProvisionedProductResult"
    },
    "UpdateConstraint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConstraintResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConstraintResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConstraintRequest, UpdateConstraintResult>",
      "asyncReturnType" : "UpdateConstraintResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing constraint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateConstraintRequest",
        "variableName" : "updateConstraintRequest",
        "variableType" : "UpdateConstraintRequest",
        "documentation" : "",
        "simpleType" : "UpdateConstraintRequest",
        "variableSetterType" : "UpdateConstraintRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConstraint",
      "operationName" : "UpdateConstraint",
      "returnType" : {
        "returnType" : "UpdateConstraintResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateConstraintResult"
    },
    "UpdatePortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePortfolioRequest, UpdatePortfolioResult>",
      "asyncReturnType" : "UpdatePortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified portfolio's details. This operation will not work with a product that has been shared with you.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Reduce the resource use or increase the service limits and retry the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdatePortfolioRequest",
        "variableName" : "updatePortfolioRequest",
        "variableType" : "UpdatePortfolioRequest",
        "documentation" : "",
        "simpleType" : "UpdatePortfolioRequest",
        "variableSetterType" : "UpdatePortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePortfolio",
      "operationName" : "UpdatePortfolio",
      "returnType" : {
        "returnType" : "UpdatePortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePortfolioResult"
    },
    "UpdateProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProductRequest, UpdateProductResult>",
      "asyncReturnType" : "UpdateProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProductRequest",
        "variableName" : "updateProductRequest",
        "variableType" : "UpdateProductRequest",
        "documentation" : "",
        "simpleType" : "UpdateProductRequest",
        "variableSetterType" : "UpdateProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProduct",
      "operationName" : "UpdateProduct",
      "returnType" : {
        "returnType" : "UpdateProductResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProductResult"
    },
    "UpdateProvisionedProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProvisionedProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProvisionedProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProvisionedProductRequest, UpdateProvisionedProductResult>",
      "asyncReturnType" : "UpdateProvisionedProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests updates to the configuration of an existing ProvisionedProduct object. If there are tags associated with the object, they cannot be updated or added with this operation. Depending on the specific updates requested, this operation may update with no interruption, with some interruption, or replace the ProvisionedProduct object entirely. </p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProvisionedProductRequest",
        "variableName" : "updateProvisionedProductRequest",
        "variableType" : "UpdateProvisionedProductRequest",
        "documentation" : "",
        "simpleType" : "UpdateProvisionedProductRequest",
        "variableSetterType" : "UpdateProvisionedProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProvisionedProduct",
      "operationName" : "UpdateProvisionedProduct",
      "returnType" : {
        "returnType" : "UpdateProvisionedProductResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProvisionedProductResult"
    },
    "UpdateProvisioningArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProvisioningArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProvisioningArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProvisioningArtifactRequest, UpdateProvisioningArtifactResult>",
      "asyncReturnType" : "UpdateProvisioningArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing provisioning artifact's information. This operation will not work on a provisioning artifact associated with a product that has been shared with you.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProvisioningArtifactRequest",
        "variableName" : "updateProvisioningArtifactRequest",
        "variableType" : "UpdateProvisioningArtifactRequest",
        "documentation" : "",
        "simpleType" : "UpdateProvisioningArtifactRequest",
        "variableSetterType" : "UpdateProvisioningArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProvisioningArtifact",
      "operationName" : "UpdateProvisioningArtifact",
      "returnType" : {
        "returnType" : "UpdateProvisioningArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProvisioningArtifactResult"
    }
  },
  "shapes" : {
    "AcceptPortfolioShareRequest" : {
      "c2jName" : "AcceptPortfolioShareInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptPortfolioShare",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWS242ServiceCatalogService.AcceptPortfolioShare",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "AcceptLanguage",
        "c2jShape" : "AcceptLanguage",
        "deprecated" : false,
        "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@return The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AcceptLanguage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AcceptLanguage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AcceptLanguage",
        "setterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "acceptLanguage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "acceptLanguage",
          "variableType" : "String",
          "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PortfolioId",
        "c2jShape" : "Id",
        "deprecated" : false,
        "documentation" : "<p>The portfolio identifier.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The portfolio identifier.</p>\n@param portfolioId The portfolio identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The portfolio identifier.</p>\n@return The portfolio identifier.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "PortfolioId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PortfolioId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "PortfolioId",
        "setterDocumentation" : "/**<p>The portfolio identifier.</p>\n@param portfolioId The portfolio identifier.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "portfolioId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The portfolio identifier.</p>\n@param portfolioId The portfolio identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "portfolioId",
          "variableType" : "String",
          "documentation" : "<p>The portfolio identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcceptLanguage" : {
          "c2jName" : "AcceptLanguage",
          "c2jShape" : "AcceptLanguage",
          "deprecated" : false,
          "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@return The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AcceptLanguage",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AcceptLanguage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AcceptLanguage",
          "setterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "acceptLanguage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>\n@param acceptLanguage The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "acceptLanguage",
            "variableType" : "String",
            "documentation" : "<p>The language code to use for this operation. Supported language codes are as follows:</p> <p>\"en\" (English)</p> <p>\"jp\" (Japanese)</p> <p>\"zh\" (Chinese)</p> <p>If no code is specified, \"en\" is used as the default.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PortfolioId" : {
          "c2jName" : "PortfolioId",
          "c2jShape" : "Id",
          "deprecated" : false,
          "documentation" : "<p>The portfolio identifier.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The portfolio identifier.</p>\n@param portfolioId The portfolio identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The portfolio identifier.</p>\n@return The portfolio identifier.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "PortfolioId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PortfolioId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "PortfolioId",
          "setterDocumentation" : "/**<p>The portfolio identifier.</p>\n@param portfolioId The portfolio identifier.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "portfolioId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The portfolio identifier.</p>\n@param portfolioId The portfolio identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "portfolioId",
            "variableType" : "String",
            "documentation" : "<p>The portfolio identifier.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "PortfolioId" ],
      "shapeName" : "AcceptPortfolioShareRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AcceptPortfolioShareRequest",
        "variableName" : "acceptPortfolioShareRequest",
        "variableType" : "AcceptPortfolioShareRequest",
        "documentation" : null,
        "simpleType" : "AcceptPortfolioShareRequest",
        "variableSetterType" : "AcceptPortfolioShareRequest"
      },
      "wrapper" : false
    },
    "AcceptPortfolioShareResult" : {
      "c2jName" : "AcceptPortfolioShareOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AcceptPortfolioShareResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AcceptPortfolioShareResult",
        "variableName" : "acceptPortfolioShareResult",
        "variableType" : "AcceptPortfolioShareResult",
        "documentation" : null,
        "simpleType" : "AcceptPortfolioShareResult",
        "variableSetterType" : "AcceptPortfolioShareResult"
      },
      "wrapper" : false
    },
    "AccessLevelFilter" : {
      "c2jName" : "AccessLevelFilter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The access level to limit results.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Key",
        "c2jShape" : "AccessLevelFilterKey",
        "deprecated" : false,
        "documentation" : "<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>",
        "enumType" : "AccessLevelFilterKey",
        "fluentSetterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@param key Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessLevelFilterKey*/",
        "getterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@return Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@see AccessLevelFilterKey*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Key",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Key",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Key",
        "setterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@param key Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@see AccessLevelFilterKey*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>\n@param key Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessLevelFilterKey*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Value",
        "c2jShape" : "AccessLevelFilterValue",
        "deprecated" : false,
        "documentation" : "<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@param value Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@return Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Value",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Value",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Value",
        "setterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@param value Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "value",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>\n@param value Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "value",
          "variableType" : "String",
          "documentation" : "<p>Specifies the user to which the access level applies. A value of <code>Self</code> is currently supported.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Key" : {
          "c2jName" : "Key",
          "c2jShape" : "AccessLevelFilterKey",
          "deprecated" : false,
          "documentation" : "<p>Specifies the access level.</p> <p> <code>Account</code> allows results at the account level. </p> <p> <code>Role</code> allows results based on the federated role of the specified user.</p> <p> <code>User</code> allows results limited to the specified user. </p>",
          "enumType" : "AccessLevelFilterKey",
[...]
