{
  "metadata" : {
    "apiVersion" : "2015-09-21",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>Amazon EC2 Container Registry (Amazon ECR) is a managed AWS Docker registry service. Customers can use the familiar Docker CLI to push, pull, and manage images. Amazon ECR provides a secure, scalable, and reliable registry. Amazon ECR supports private Docker repositories with resource-based permissions using AWS IAM so that specific users or Amazon EC2 instances can access repositories and images. Developers can use the Docker CLI to author and manage images.</p>",
    "defaultEndpoint" : "ecr.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ecr.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonECR",
    "syncClient" : "AmazonECRClient",
    "asyncInterface" : "AmazonECRAsync",
    "asyncClient" : "AmazonECRAsyncClient",
    "packageName" : "com.amazonaws.services.ecr",
    "packagePath" : "com/amazonaws/services/ecr",
    "serviceAbbreviation" : "Amazon ECR",
    "serviceFullName" : "Amazon EC2 Container Registry",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "ecr",
    "signingName" : "ecr",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonECRClientBuilder",
    "asyncClientBuilderClassName" : "AmazonECRAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonECRModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.ecr.smoketests",
    "serviceName" : "Amazon ECR",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "BatchCheckLayerAvailability" : {
      "documentation" : "<p>Check the availability of multiple image layers in a specified registry and repository.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "operationName" : "BatchCheckLayerAvailability",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchCheckLayerAvailabilityRequest",
        "variableType" : "BatchCheckLayerAvailabilityRequest",
        "variableDeclarationType" : "BatchCheckLayerAvailabilityRequest",
        "documentation" : "",
        "simpleType" : "BatchCheckLayerAvailabilityRequest",
        "variableSetterType" : "BatchCheckLayerAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchCheckLayerAvailabilityResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "BatchCheckLayerAvailabilityResult",
      "asyncReturnType" : "BatchCheckLayerAvailabilityResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCheckLayerAvailabilityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCheckLayerAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCheckLayerAvailabilityRequest, BatchCheckLayerAvailabilityResult>",
      "authenticated" : true,
      "methodName" : "batchCheckLayerAvailability"
    },
    "BatchDeleteImage" : {
      "documentation" : "<p>Deletes a list of specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.</p>",
      "operationName" : "BatchDeleteImage",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchDeleteImageRequest",
        "variableType" : "BatchDeleteImageRequest",
        "variableDeclarationType" : "BatchDeleteImageRequest",
        "documentation" : "<p>Deletes specified images within a specified repository. Images are specified with either the <code>imageTag</code> or <code>imageDigest</code>.</p>",
        "simpleType" : "BatchDeleteImageRequest",
        "variableSetterType" : "BatchDeleteImageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchDeleteImageResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "BatchDeleteImageResult",
      "asyncReturnType" : "BatchDeleteImageResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteImageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteImageRequest, BatchDeleteImageResult>",
      "authenticated" : true,
      "methodName" : "batchDeleteImage"
    },
    "BatchGetImage" : {
      "documentation" : "<p>Gets detailed information for specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.</p>",
      "operationName" : "BatchGetImage",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchGetImageRequest",
        "variableType" : "BatchGetImageRequest",
        "variableDeclarationType" : "BatchGetImageRequest",
        "documentation" : "",
        "simpleType" : "BatchGetImageRequest",
        "variableSetterType" : "BatchGetImageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchGetImageResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "BatchGetImageResult",
      "asyncReturnType" : "BatchGetImageResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetImageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetImageRequest, BatchGetImageResult>",
      "authenticated" : true,
      "methodName" : "batchGetImage"
    },
    "CompleteLayerUpload" : {
      "documentation" : "<p>Inform Amazon ECR that the image layer upload for a specified registry, repository name, and upload ID, has completed. You can optionally provide a <code>sha256</code> digest of the image layer for data validation purposes.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "operationName" : "CompleteLayerUpload",
      "deprecated" : false,
      "input" : {
        "variableName" : "completeLayerUploadRequest",
        "variableType" : "CompleteLayerUploadRequest",
        "variableDeclarationType" : "CompleteLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "CompleteLayerUploadRequest",
        "variableSetterType" : "CompleteLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CompleteLayerUploadResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "UploadNotFoundException",
        "documentation" : "<p>The upload could not be found, or the specified upload id is not valid for this repository.</p>"
      }, {
        "exceptionName" : "InvalidLayerException",
        "documentation" : "<p>The layer digest calculation performed by Amazon ECR upon receipt of the image layer does not match the digest specified.</p>"
      }, {
        "exceptionName" : "LayerPartTooSmallException",
        "documentation" : "<p>Layer parts must be at least 5 MiB in size.</p>"
      }, {
        "exceptionName" : "LayerAlreadyExistsException",
        "documentation" : "<p>The image layer already exists in the associated repository.</p>"
      }, {
        "exceptionName" : "EmptyUploadException",
        "documentation" : "<p>The specified layer upload does not contain any layer parts.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CompleteLayerUploadResult",
      "asyncReturnType" : "CompleteLayerUploadResult",
      "asyncFutureType" : "java.util.concurrent.Future<CompleteLayerUploadResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CompleteLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CompleteLayerUploadRequest, CompleteLayerUploadResult>",
      "authenticated" : true,
      "methodName" : "completeLayerUpload"
    },
    "CreateRepository" : {
      "documentation" : "<p>Creates an image repository.</p>",
      "operationName" : "CreateRepository",
      "deprecated" : false,
      "input" : {
        "variableName" : "createRepositoryRequest",
        "variableType" : "CreateRepositoryRequest",
        "variableDeclarationType" : "CreateRepositoryRequest",
        "documentation" : "",
        "simpleType" : "CreateRepositoryRequest",
        "variableSetterType" : "CreateRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateRepositoryResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryAlreadyExistsException",
        "documentation" : "<p>The specified repository already exists in the specified registry.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon EC2 Container Registry User Guide.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateRepositoryResult",
      "asyncReturnType" : "CreateRepositoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryRequest, CreateRepositoryResult>",
      "authenticated" : true,
      "methodName" : "createRepository"
    },
    "DeleteRepository" : {
      "documentation" : "<p>Deletes an existing image repository. If a repository contains images, you must use the <code>force</code> option to delete it.</p>",
      "operationName" : "DeleteRepository",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRepositoryRequest",
        "variableType" : "DeleteRepositoryRequest",
        "variableDeclarationType" : "DeleteRepositoryRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryRequest",
        "variableSetterType" : "DeleteRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRepositoryResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "RepositoryNotEmptyException",
        "documentation" : "<p>The specified repository contains images. To delete a repository that contains images, you must force the deletion with the <code>force</code> parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteRepositoryResult",
      "asyncReturnType" : "DeleteRepositoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryRequest, DeleteRepositoryResult>",
      "authenticated" : true,
      "methodName" : "deleteRepository"
    },
    "DeleteRepositoryPolicy" : {
      "documentation" : "<p>Deletes the repository policy from a specified repository.</p>",
      "operationName" : "DeleteRepositoryPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRepositoryPolicyRequest",
        "variableType" : "DeleteRepositoryPolicyRequest",
        "variableDeclarationType" : "DeleteRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryPolicyRequest",
        "variableSetterType" : "DeleteRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRepositoryPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteRepositoryPolicyResult",
      "asyncReturnType" : "DeleteRepositoryPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryPolicyRequest, DeleteRepositoryPolicyResult>",
      "authenticated" : true,
      "methodName" : "deleteRepositoryPolicy"
    },
    "DescribeRepositories" : {
      "documentation" : "<p>Describes image repositories in a registry.</p>",
      "operationName" : "DescribeRepositories",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeRepositoriesRequest",
        "variableType" : "DescribeRepositoriesRequest",
        "variableDeclarationType" : "DescribeRepositoriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRepositoriesRequest",
        "variableSetterType" : "DescribeRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeRepositoriesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeRepositoriesResult",
      "asyncReturnType" : "DescribeRepositoriesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRepositoriesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRepositoriesRequest, DescribeRepositoriesResult>",
      "authenticated" : true,
      "methodName" : "describeRepositories"
    },
    "GetAuthorizationToken" : {
      "documentation" : "<p>Retrieves a token that is valid for a specified registry for 12 hours. This command allows you to use the <code>docker</code> CLI to push and pull images with Amazon ECR. If you do not specify a registry, the default registry is assumed.</p> <p>The <code>authorizationToken</code> returned for each registry specified is a base64 encoded string that can be decoded and used in a <code>docker login</code> command to authenticate to a registry. The AWS CLI offers an <code>aws ecr get-login</code> command that simplifies the login process.</p>",
      "operationName" : "GetAuthorizationToken",
      "deprecated" : false,
      "input" : {
        "variableName" : "getAuthorizationTokenRequest",
        "variableType" : "GetAuthorizationTokenRequest",
        "variableDeclarationType" : "GetAuthorizationTokenRequest",
        "documentation" : "",
        "simpleType" : "GetAuthorizationTokenRequest",
        "variableSetterType" : "GetAuthorizationTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetAuthorizationTokenResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetAuthorizationTokenResult",
      "asyncReturnType" : "GetAuthorizationTokenResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetAuthorizationTokenResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetAuthorizationTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAuthorizationTokenRequest, GetAuthorizationTokenResult>",
      "authenticated" : true,
      "methodName" : "getAuthorizationToken"
    },
    "GetDownloadUrlForLayer" : {
      "documentation" : "<p>Retrieves the pre-signed Amazon S3 download URL corresponding to an image layer. You can only get URLs for image layers that are referenced in an image.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "operationName" : "GetDownloadUrlForLayer",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDownloadUrlForLayerRequest",
        "variableType" : "GetDownloadUrlForLayerRequest",
        "variableDeclarationType" : "GetDownloadUrlForLayerRequest",
        "documentation" : "",
        "simpleType" : "GetDownloadUrlForLayerRequest",
        "variableSetterType" : "GetDownloadUrlForLayerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDownloadUrlForLayerResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "LayersNotFoundException",
        "documentation" : "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>"
      }, {
        "exceptionName" : "LayerInaccessibleException",
        "documentation" : "<p>The specified layer is not available because it is not associated with an image. Unassociated image layers may be cleaned up at any time.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDownloadUrlForLayerResult",
      "asyncReturnType" : "GetDownloadUrlForLayerResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDownloadUrlForLayerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDownloadUrlForLayerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDownloadUrlForLayerRequest, GetDownloadUrlForLayerResult>",
      "authenticated" : true,
      "methodName" : "getDownloadUrlForLayer"
    },
    "GetRepositoryPolicy" : {
      "documentation" : "<p>Retrieves the repository policy for a specified repository.</p>",
      "operationName" : "GetRepositoryPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRepositoryPolicyRequest",
        "variableType" : "GetRepositoryPolicyRequest",
        "variableDeclarationType" : "GetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetRepositoryPolicyRequest",
        "variableSetterType" : "GetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRepositoryPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetRepositoryPolicyResult",
      "asyncReturnType" : "GetRepositoryPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryPolicyRequest, GetRepositoryPolicyResult>",
      "authenticated" : true,
      "methodName" : "getRepositoryPolicy"
    },
    "InitiateLayerUpload" : {
      "documentation" : "<p>Notify Amazon ECR that you intend to upload an image layer.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "operationName" : "InitiateLayerUpload",
      "deprecated" : false,
      "input" : {
        "variableName" : "initiateLayerUploadRequest",
        "variableType" : "InitiateLayerUploadRequest",
        "variableDeclarationType" : "InitiateLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "InitiateLayerUploadRequest",
        "variableSetterType" : "InitiateLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "InitiateLayerUploadResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "InitiateLayerUploadResult",
      "asyncReturnType" : "InitiateLayerUploadResult",
      "asyncFutureType" : "java.util.concurrent.Future<InitiateLayerUploadResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<InitiateLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitiateLayerUploadRequest, InitiateLayerUploadResult>",
      "authenticated" : true,
      "methodName" : "initiateLayerUpload"
    },
    "ListImages" : {
      "documentation" : "<p>Lists all the image IDs for a given repository.</p>",
      "operationName" : "ListImages",
      "deprecated" : false,
      "input" : {
        "variableName" : "listImagesRequest",
        "variableType" : "ListImagesRequest",
        "variableDeclarationType" : "ListImagesRequest",
        "documentation" : "",
        "simpleType" : "ListImagesRequest",
        "variableSetterType" : "ListImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListImagesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListImagesResult",
      "asyncReturnType" : "ListImagesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListImagesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImagesRequest, ListImagesResult>",
      "authenticated" : true,
      "methodName" : "listImages"
    },
    "PutImage" : {
      "documentation" : "<p>Creates or updates the image manifest associated with an image.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "operationName" : "PutImage",
      "deprecated" : false,
      "input" : {
        "variableName" : "putImageRequest",
        "variableType" : "PutImageRequest",
        "variableDeclarationType" : "PutImageRequest",
        "documentation" : "",
        "simpleType" : "PutImageRequest",
        "variableSetterType" : "PutImageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutImageResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "ImageAlreadyExistsException",
        "documentation" : "<p>The specified image has already been pushed, and there are no changes to the manifest or image tag since the last push.</p>"
      }, {
        "exceptionName" : "LayersNotFoundException",
        "documentation" : "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon EC2 Container Registry User Guide.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutImageResult",
      "asyncReturnType" : "PutImageResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutImageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutImageRequest, PutImageResult>",
      "authenticated" : true,
      "methodName" : "putImage"
    },
    "SetRepositoryPolicy" : {
      "documentation" : "<p>Applies a repository policy on a specified repository to control access permissions.</p>",
      "operationName" : "SetRepositoryPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "setRepositoryPolicyRequest",
        "variableType" : "SetRepositoryPolicyRequest",
        "variableDeclarationType" : "SetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "SetRepositoryPolicyRequest",
        "variableSetterType" : "SetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetRepositoryPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SetRepositoryPolicyResult",
      "asyncReturnType" : "SetRepositoryPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetRepositoryPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetRepositoryPolicyRequest, SetRepositoryPolicyResult>",
      "authenticated" : true,
      "methodName" : "setRepositoryPolicy"
    },
    "UploadLayerPart" : {
      "documentation" : "<p>Uploads an image layer part to Amazon ECR.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "operationName" : "UploadLayerPart",
      "deprecated" : false,
      "input" : {
        "variableName" : "uploadLayerPartRequest",
        "variableType" : "UploadLayerPartRequest",
        "variableDeclarationType" : "UploadLayerPartRequest",
        "documentation" : "",
        "simpleType" : "UploadLayerPartRequest",
        "variableSetterType" : "UploadLayerPartRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UploadLayerPartResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "InvalidLayerPartException",
        "documentation" : "<p>The layer part size is not valid, or the first byte specified is not consecutive to the last byte of a previous layer part upload.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "UploadNotFoundException",
        "documentation" : "<p>The upload could not be found, or the specified upload id is not valid for this repository.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon EC2 Container Registry User Guide.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UploadLayerPartResult",
      "asyncReturnType" : "UploadLayerPartResult",
      "asyncFutureType" : "java.util.concurrent.Future<UploadLayerPartResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UploadLayerPartResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UploadLayerPartRequest, UploadLayerPartResult>",
      "authenticated" : true,
      "methodName" : "uploadLayerPart"
    }
  },
  "shapes" : {
    "GetAuthorizationTokenRequest" : {
      "c2jName" : "GetAuthorizationTokenRequest",
      "documentation" : "",
      "shapeName" : "GetAuthorizationTokenRequest",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>",
        "name" : "RegistryIds",
        "c2jName" : "registryIds",
        "c2jShape" : "GetAuthorizationTokenRegistryIdList",
        "variable" : {
          "variableName" : "registryIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "registryIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "registryIds",
          "marshallLocationName" : "registryIds",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "RegistryId",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "simple" : true,
            "list" : false,
            "map" : false
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simpleType" : "String",
          "simple" : true,
          "map" : false,
          "templateType" : "java.util.List<String>",
          "templateImplType" : "java.util.ArrayList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>\n@param registryIds A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.*/",
        "getterDocumentation" : "/**<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>\n@return A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.*/",
        "fluentSetterDocumentation" : "/**<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>\n@param registryIds A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRegistryIds(java.util.Collection)} or {@link #withRegistryIds(java.util.Collection)} if you want to override the existing values.</p>\n@param registryIds A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false,
        "list" : true,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getAuthorizationTokenRequest",
        "variableType" : "GetAuthorizationTokenRequest",
        "variableDeclarationType" : "GetAuthorizationTokenRequest",
        "documentation" : null,
        "simpleType" : "GetAuthorizationTokenRequest",
        "variableSetterType" : "GetAuthorizationTokenRequest"
      },
      "marshaller" : {
        "action" : "GetAuthorizationToken",
        "verb" : "POST",
        "target" : "AmazonEC2ContainerRegistry_V20150921.GetAuthorizationToken",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "RegistryIds" : {
          "documentation" : "<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>",
          "name" : "RegistryIds",
          "c2jName" : "registryIds",
          "c2jShape" : "GetAuthorizationTokenRegistryIdList",
          "variable" : {
            "variableName" : "registryIds",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "setterModel" : {
            "variableName" : "registryIds",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "registryIds",
            "marshallLocationName" : "registryIds",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "RegistryId",
              "variable" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "simple" : true,
              "list" : false,
              "map" : false
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simpleType" : "String",
            "simple" : true,
            "map" : false,
            "templateType" : "java.util.List<String>",
            "templateImplType" : "java.util.ArrayList<String>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>\n@param registryIds A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.*/",
          "getterDocumentation" : "/**<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>\n@return A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.*/",
          "fluentSetterDocumentation" : "/**<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>\n@param registryIds A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRegistryIds(java.util.Collection)} or {@link #withRegistryIds(java.util.Collection)} if you want to override the existing values.</p>\n@param registryIds A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : false,
          "list" : true,
          "map" : false
        }
      }
    },
    "DeleteRepositoryResult" : {
      "c2jName" : "DeleteRepositoryResponse",
      "documentation" : "",
      "shapeName" : "DeleteRepositoryResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "Repository",
        "c2jName" : "repository",
        "c2jShape" : "Repository",
        "variable" : {
          "variableName" : "repository",
          "variableType" : "Repository",
          "variableDeclarationType" : "Repository",
          "documentation" : "",
          "simpleType" : "Repository",
          "variableSetterType" : "Repository"
        },
        "setterModel" : {
          "variableName" : "repository",
          "variableType" : "Repository",
          "variableDeclarationType" : "Repository",
          "documentation" : "",
          "simpleType" : "Repository",
          "variableSetterType" : "Repository"
        },
        "getterModel" : {
          "returnType" : "Repository",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repository",
          "marshallLocationName" : "repository",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**\n@param repository */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param repository \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param repository \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false,
        "list" : false,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "deleteRepositoryResult",
        "variableType" : "DeleteRepositoryResult",
        "variableDeclarationType" : "DeleteRepositoryResult",
        "documentation" : null,
        "simpleType" : "DeleteRepositoryResult",
        "variableSetterType" : "DeleteRepositoryResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Repository" : {
          "documentation" : "",
          "name" : "Repository",
          "c2jName" : "repository",
          "c2jShape" : "Repository",
          "variable" : {
            "variableName" : "repository",
            "variableType" : "Repository",
            "variableDeclarationType" : "Repository",
            "documentation" : "",
            "simpleType" : "Repository",
            "variableSetterType" : "Repository"
          },
          "setterModel" : {
            "variableName" : "repository",
            "variableType" : "Repository",
            "variableDeclarationType" : "Repository",
            "documentation" : "",
            "simpleType" : "Repository",
            "variableSetterType" : "Repository"
          },
          "getterModel" : {
            "returnType" : "Repository",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "repository",
            "marshallLocationName" : "repository",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**\n@param repository */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param repository \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param repository \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : false,
          "list" : false,
          "map" : false
        }
      }
    },
    "LayerPartTooSmallException" : {
      "c2jName" : "LayerPartTooSmallException",
      "documentation" : "<p>Layer parts must be at least 5 MiB in size.</p>",
      "shapeName" : "LayerPartTooSmallException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "layerPartTooSmallException",
        "variableType" : "LayerPartTooSmallException",
        "variableDeclarationType" : "LayerPartTooSmallException",
        "documentation" : null,
        "simpleType" : "LayerPartTooSmallException",
        "variableSetterType" : "LayerPartTooSmallException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "LayerPartTooSmallException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "GetDownloadUrlForLayerResult" : {
      "c2jName" : "GetDownloadUrlForLayerResponse",
      "documentation" : "",
      "shapeName" : "GetDownloadUrlForLayerResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The pre-signed Amazon S3 download URL for the requested layer.</p>",
        "name" : "DownloadUrl",
        "c2jName" : "downloadUrl",
        "c2jShape" : "Url",
        "variable" : {
          "variableName" : "downloadUrl",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The pre-signed Amazon S3 download URL for the requested layer.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "downloadUrl",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "downloadUrl",
          "marshallLocationName" : "downloadUrl",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The pre-signed Amazon S3 download URL for the requested layer.</p>\n@param downloadUrl The pre-signed Amazon S3 download URL for the requested layer.*/",
        "getterDocumentation" : "/**<p>The pre-signed Amazon S3 download URL for the requested layer.</p>\n@return The pre-signed Amazon S3 download URL for the requested layer.*/",
        "fluentSetterDocumentation" : "/**<p>The pre-signed Amazon S3 download URL for the requested layer.</p>\n@param downloadUrl The pre-signed Amazon S3 download URL for the requested layer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The pre-signed Amazon S3 download URL for the requested layer.</p>\n@param downloadUrl The pre-signed Amazon S3 download URL for the requested layer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The digest of the image layer to download.</p>",
        "name" : "LayerDigest",
        "c2jName" : "layerDigest",
        "c2jShape" : "LayerDigest",
        "variable" : {
          "variableName" : "layerDigest",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The digest of the image layer to download.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "layerDigest",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "layerDigest",
          "marshallLocationName" : "layerDigest",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The digest of the image layer to download.</p>\n@param layerDigest The digest of the image layer to download.*/",
        "getterDocumentation" : "/**<p>The digest of the image layer to download.</p>\n@return The digest of the image layer to download.*/",
        "fluentSetterDocumentation" : "/**<p>The digest of the image layer to download.</p>\n@param layerDigest The digest of the image layer to download.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The digest of the image layer to download.</p>\n@param layerDigest The digest of the image layer to download.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getDownloadUrlForLayerResult",
        "variableType" : "GetDownloadUrlForLayerResult",
        "variableDeclarationType" : "GetDownloadUrlForLayerResult",
        "documentation" : null,
        "simpleType" : "GetDownloadUrlForLayerResult",
        "variableSetterType" : "GetDownloadUrlForLayerResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "LayerDigest" : {
          "documentation" : "<p>The digest of the image layer to download.</p>",
          "name" : "LayerDigest",
          "c2jName" : "layerDigest",
          "c2jShape" : "LayerDigest",
          "variable" : {
            "variableName" : "layerDigest",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The digest of the image layer to download.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "layerDigest",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "layerDigest",
            "marshallLocationName" : "layerDigest",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The digest of the image layer to download.</p>\n@param layerDigest The digest of the image layer to download.*/",
          "getterDocumentation" : "/**<p>The digest of the image layer to download.</p>\n@return The digest of the image layer to download.*/",
          "fluentSetterDocumentation" : "/**<p>The digest of the image layer to download.</p>\n@param layerDigest The digest of the image layer to download.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The digest of the image layer to download.</p>\n@param layerDigest The digest of the image layer to download.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "DownloadUrl" : {
          "documentation" : "<p>The pre-signed Amazon S3 download URL for the requested layer.</p>",
          "name" : "DownloadUrl",
          "c2jName" : "downloadUrl",
          "c2jShape" : "Url",
          "variable" : {
            "variableName" : "downloadUrl",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The pre-signed Amazon S3 download URL for the requested layer.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "downloadUrl",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "downloadUrl",
            "marshallLocationName" : "downloadUrl",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The pre-signed Amazon S3 download URL for the requested layer.</p>\n@param downloadUrl The pre-signed Amazon S3 download URL for the requested layer.*/",
          "getterDocumentation" : "/**<p>The pre-signed Amazon S3 download URL for the requested layer.</p>\n@return The pre-signed Amazon S3 download URL for the requested layer.*/",
          "fluentSetterDocumentation" : "/**<p>The pre-signed Amazon S3 download URL for the requested layer.</p>\n@param downloadUrl The pre-signed Amazon S3 download URL for the requested layer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The pre-signed Amazon S3 download URL for the requested layer.</p>\n@param downloadUrl The pre-signed Amazon S3 download URL for the requested layer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        }
      }
    },
    "UploadLayerPartResult" : {
      "c2jName" : "UploadLayerPartResponse",
      "documentation" : "",
      "shapeName" : "UploadLayerPartResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The registry ID associated with the request.</p>",
        "name" : "RegistryId",
        "c2jName" : "registryId",
        "c2jShape" : "RegistryId",
        "variable" : {
          "variableName" : "registryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The registry ID associated with the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "registryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "registryId",
          "marshallLocationName" : "registryId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The registry ID associated with the request.</p>\n@param registryId The registry ID associated with the request.*/",
        "getterDocumentation" : "/**<p>The registry ID associated with the request.</p>\n@return The registry ID associated with the request.*/",
        "fluentSetterDocumentation" : "/**<p>The registry ID associated with the request.</p>\n@param registryId The registry ID associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The registry ID associated with the request.</p>\n@param registryId The registry ID associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The repository name associated with the request.</p>",
        "name" : "RepositoryName",
        "c2jName" : "repositoryName",
        "c2jShape" : "RepositoryName",
        "variable" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The repository name associated with the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repositoryName",
          "marshallLocationName" : "repositoryName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The repository name associated with the request.</p>\n@param repositoryName The repository name associated with the request.*/",
        "getterDocumentation" : "/**<p>The repository name associated with the request.</p>\n@return The repository name associated with the request.*/",
        "fluentSetterDocumentation" : "/**<p>The repository name associated with the request.</p>\n@param repositoryName The repository name associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The repository name associated with the request.</p>\n@param repositoryName The repository name associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The upload ID associated with the request.</p>",
        "name" : "UploadId",
        "c2jName" : "uploadId",
        "c2jShape" : "UploadId",
        "variable" : {
          "variableName" : "uploadId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The upload ID associated with the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "uploadId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "uploadId",
          "marshallLocationName" : "uploadId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The upload ID associated with the request.</p>\n@param uploadId The upload ID associated with the request.*/",
        "getterDocumentation" : "/**<p>The upload ID associated with the request.</p>\n@return The upload ID associated with the request.*/",
        "fluentSetterDocumentation" : "/**<p>The upload ID associated with the request.</p>\n@param uploadId The upload ID associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The upload ID associated with the request.</p>\n@param uploadId The upload ID associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The integer value of the last byte received in the request.</p>",
        "name" : "LastByteReceived",
        "c2jName" : "lastByteReceived",
        "c2jShape" : "PartSize",
        "variable" : {
          "variableName" : "lastByteReceived",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "<p>The integer value of the last byte received in the request.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "setterModel" : {
          "variableName" : "lastByteReceived",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "lastByteReceived",
          "marshallLocationName" : "lastByteReceived",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The integer value of the last byte received in the request.</p>\n@param lastByteReceived The integer value of the last byte received in the request.*/",
        "getterDocumentation" : "/**<p>The integer value of the last byte received in the request.</p>\n@return The integer value of the last byte received in the request.*/",
        "fluentSetterDocumentation" : "/**<p>The integer value of the last byte received in the request.</p>\n@param lastByteReceived The integer value of the last byte received in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The integer value of the last byte received in the request.</p>\n@param lastByteReceived The integer value of the last byte received in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "uploadLayerPartResult",
        "variableType" : "UploadLayerPartResult",
        "variableDeclarationType" : "UploadLayerPartResult",
        "documentation" : null,
        "simpleType" : "UploadLayerPartResult",
        "variableSetterType" : "UploadLayerPartResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "RegistryId" : {
          "documentation" : "<p>The registry ID associated with the request.</p>",
          "name" : "RegistryId",
          "c2jName" : "registryId",
          "c2jShape" : "RegistryId",
          "variable" : {
            "variableName" : "registryId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The registry ID associated with the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "registryId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "registryId",
            "marshallLocationName" : "registryId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The registry ID associated with the request.</p>\n@param registryId The registry ID associated with the request.*/",
          "getterDocumentation" : "/**<p>The registry ID associated with the request.</p>\n@return The registry ID associated with the request.*/",
          "fluentSetterDocumentation" : "/**<p>The registry ID associated with the request.</p>\n@param registryId The registry ID associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The registry ID associated with the request.</p>\n@param registryId The registry ID associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "RepositoryName" : {
          "documentation" : "<p>The repository name associated with the request.</p>",
          "name" : "RepositoryName",
          "c2jName" : "repositoryName",
          "c2jShape" : "RepositoryName",
          "variable" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The repository name associated with the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "repositoryName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "repositoryName",
            "marshallLocationName" : "repositoryName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The repository name associated with the request.</p>\n@param repositoryName The repository name associated with the request.*/",
          "getterDocumentation" : "/**<p>The repository name associated with the request.</p>\n@return The repository name associated with the request.*/",
          "fluentSetterDocumentation" : "/**<p>The repository name associated with the request.</p>\n@param repositoryName The repository name associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The repository name associated with the request.</p>\n@param repositoryName The repository name associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "LastByteReceived" : {
          "documentation" : "<p>The integer value of the last byte received in the request.</p>",
          "name" : "LastByteReceived",
          "c2jName" : "lastByteReceived",
          "c2jShape" : "PartSize",
          "variable" : {
            "variableName" : "lastByteReceived",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "<p>The integer value of the last byte received in the request.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "setterModel" : {
            "variableName" : "lastByteReceived",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "lastByteReceived",
            "marshallLocationName" : "lastByteReceived",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The integer value of the last byte received in the request.</p>\n@param lastByteReceived The integer value of the last byte received in the request.*/",
          "getterDocumentation" : "/**<p>The integer value of the last byte received in the request.</p>\n@return The integer value of the last byte received in the request.*/",
          "fluentSetterDocumentation" : "/**<p>The integer value of the last byte received in the request.</p>\n@param lastByteReceived The integer value of the last byte received in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The integer value of the last byte received in the request.</p>\n@param lastByteReceived The integer value of the last byte received in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "UploadId" : {
          "documentation" : "<p>The upload ID associated with the request.</p>",
          "name" : "UploadId",
          "c2jName" : "uploadId",
          "c2jShape" : "UploadId",
          "variable" : {
            "variableName" : "uploadId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The upload ID associated with the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "uploadId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "uploadId",
            "marshallLocationName" : "uploadId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The upload ID associated with the request.</p>\n@param uploadId The upload ID associated with the request.*/",
          "getterDocumentation" : "/**<p>The upload ID associated with the request.</p>\n@return The upload ID associated with the request.*/",
          "fluentSetterDocumentation" : "/**<p>The upload ID associated with the request.</p>\n@param uploadId The upload ID associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The upload ID associated with the request.</p>\n@param uploadId The upload ID associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        }
      }
    },
    "InvalidLayerPartException" : {
      "c2jName" : "InvalidLayerPartException",
      "documentation" : "<p>The layer part size is not valid, or the first byte specified is not consecutive to the last byte of a previous layer part upload.</p>",
      "shapeName" : "InvalidLayerPartException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The registry ID associated with the exception.</p>",
        "name" : "RegistryId",
        "c2jName" : "registryId",
        "c2jShape" : "RegistryId",
        "variable" : {
          "variableName" : "registryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The registry ID associated with the exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "registryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "registryId",
          "marshallLocationName" : "registryId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The registry ID associated with the exception.</p>\n@param registryId The registry ID associated with the exception.*/",
        "getterDocumentation" : "/**<p>The registry ID associated with the exception.</p>\n@return The registry ID associated with the exception.*/",
        "fluentSetterDocumentation" : "/**<p>The registry ID associated with the exception.</p>\n@param registryId The registry ID associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The registry ID associated with the exception.</p>\n@param registryId The registry ID associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The repository name associated with the exception.</p>",
        "name" : "RepositoryName",
        "c2jName" : "repositoryName",
        "c2jShape" : "RepositoryName",
        "variable" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The repository name associated with the exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "repositoryName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "repositoryName",
          "marshallLocationName" : "repositoryName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The repository name associated with the exception.</p>\n@param repositoryName The repository name associated with the exception.*/",
        "getterDocumentation" : "/**<p>The repository name associated with the exception.</p>\n@return The repository name associated with the exception.*/",
        "fluentSetterDocumentation" : "/**<p>The repository name associated with the exception.</p>\n@param repositoryName The repository name associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The repository name associated with the exception.</p>\n@param repositoryName The repository name associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The upload ID associated with the exception.</p>",
        "name" : "UploadId",
        "c2jName" : "uploadId",
        "c2jShape" : "UploadId",
        "variable" : {
          "variableName" : "uploadId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The upload ID associated with the exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "uploadId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "uploadId",
          "marshallLocationName" : "uploadId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The upload ID associated with the exception.</p>\n@param uploadId The upload ID associated with the exception.*/",
        "getterDocumentation" : "/**<p>The upload ID associated with the exception.</p>\n@return The upload ID associated with the exception.*/",
        "fluentSetterDocumentation" : "/**<p>The upload ID associated with the exception.</p>\n@param uploadId The upload ID associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The upload ID associated with the exception.</p>\n@param uploadId The upload ID associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The last valid byte received from the layer part upload that is associated with the exception.</p>",
        "name" : "LastValidByteReceived",
        "c2jName" : "lastValidByteReceived",
        "c2jShape" : "PartSize",
        "variable" : {
          "variableName" : "lastValidByteReceived",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "<p>The last valid byte received from the layer part upload that is associated with the exception.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "setterModel" : {
          "variableName" : "lastValidByteReceived",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
[...]
