{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-09-21",
    "asyncClient" : "AmazonECRAsyncClient",
    "asyncClientBuilderClassName" : "AmazonECRAsyncClientBuilder",
    "asyncInterface" : "AmazonECRAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonECRModuleInjector",
    "defaultEndpoint" : "ecr.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ecr.us-east-1.amazonaws.com",
    "documentation" : "<p>Amazon EC2 Container Registry (Amazon ECR) is a managed AWS Docker registry service. Customers can use the familiar Docker CLI to push, pull, and manage images. Amazon ECR provides a secure, scalable, and reliable registry. Amazon ECR supports private Docker repositories with resource-based permissions using AWS IAM so that specific users or Amazon EC2 instances can access repositories and images. Developers can use the Docker CLI to author and manage images.</p>",
    "endpointPrefix" : "ecr",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ecr",
    "packagePath" : "com/amazonaws/services/ecr",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "serviceAbbreviation" : "Amazon ECR",
    "serviceFullName" : "Amazon EC2 Container Registry",
    "serviceName" : "Amazon ECR",
    "signingName" : "ecr",
    "smokeTestsPackageName" : "com.amazonaws.services.ecr.smoketests",
    "syncClient" : "AmazonECRClient",
    "syncClientBuilderClassName" : "AmazonECRClientBuilder",
    "syncInterface" : "AmazonECR",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchCheckLayerAvailability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCheckLayerAvailabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCheckLayerAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCheckLayerAvailabilityRequest, BatchCheckLayerAvailabilityResult>",
      "asyncReturnType" : "BatchCheckLayerAvailabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Check the availability of multiple image layers in a specified registry and repository.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchCheckLayerAvailabilityRequest",
        "variableName" : "batchCheckLayerAvailabilityRequest",
        "variableType" : "BatchCheckLayerAvailabilityRequest",
        "documentation" : "",
        "simpleType" : "BatchCheckLayerAvailabilityRequest",
        "variableSetterType" : "BatchCheckLayerAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCheckLayerAvailability",
      "operationName" : "BatchCheckLayerAvailability",
      "returnType" : {
        "returnType" : "BatchCheckLayerAvailabilityResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCheckLayerAvailabilityResult"
    },
    "BatchDeleteImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteImageRequest, BatchDeleteImageResult>",
      "asyncReturnType" : "BatchDeleteImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a list of specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDeleteImageRequest",
        "variableName" : "batchDeleteImageRequest",
        "variableType" : "BatchDeleteImageRequest",
        "documentation" : "<p>Deletes specified images within a specified repository. Images are specified with either the <code>imageTag</code> or <code>imageDigest</code>.</p>",
        "simpleType" : "BatchDeleteImageRequest",
        "variableSetterType" : "BatchDeleteImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteImage",
      "operationName" : "BatchDeleteImage",
      "returnType" : {
        "returnType" : "BatchDeleteImageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteImageResult"
    },
    "BatchGetImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetImageRequest, BatchGetImageResult>",
      "asyncReturnType" : "BatchGetImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information for specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetImageRequest",
        "variableName" : "batchGetImageRequest",
        "variableType" : "BatchGetImageRequest",
        "documentation" : "",
        "simpleType" : "BatchGetImageRequest",
        "variableSetterType" : "BatchGetImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetImage",
      "operationName" : "BatchGetImage",
      "returnType" : {
        "returnType" : "BatchGetImageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetImageResult"
    },
    "CompleteLayerUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CompleteLayerUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CompleteLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CompleteLayerUploadRequest, CompleteLayerUploadResult>",
      "asyncReturnType" : "CompleteLayerUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inform Amazon ECR that the image layer upload for a specified registry, repository name, and upload ID, has completed. You can optionally provide a <code>sha256</code> digest of the image layer for data validation purposes.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "UploadNotFoundException",
        "documentation" : "<p>The upload could not be found, or the specified upload id is not valid for this repository.</p>"
      }, {
        "exceptionName" : "InvalidLayerException",
        "documentation" : "<p>The layer digest calculation performed by Amazon ECR upon receipt of the image layer does not match the digest specified.</p>"
      }, {
        "exceptionName" : "LayerPartTooSmallException",
        "documentation" : "<p>Layer parts must be at least 5 MiB in size.</p>"
      }, {
        "exceptionName" : "LayerAlreadyExistsException",
        "documentation" : "<p>The image layer already exists in the associated repository.</p>"
      }, {
        "exceptionName" : "EmptyUploadException",
        "documentation" : "<p>The specified layer upload does not contain any layer parts.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CompleteLayerUploadRequest",
        "variableName" : "completeLayerUploadRequest",
        "variableType" : "CompleteLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "CompleteLayerUploadRequest",
        "variableSetterType" : "CompleteLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "completeLayerUpload",
      "operationName" : "CompleteLayerUpload",
      "returnType" : {
        "returnType" : "CompleteLayerUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "CompleteLayerUploadResult"
    },
    "CreateRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryRequest, CreateRepositoryResult>",
      "asyncReturnType" : "CreateRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an image repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryAlreadyExistsException",
        "documentation" : "<p>The specified repository already exists in the specified registry.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon EC2 Container Registry User Guide.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateRepositoryRequest",
        "variableName" : "createRepositoryRequest",
        "variableType" : "CreateRepositoryRequest",
        "documentation" : "",
        "simpleType" : "CreateRepositoryRequest",
        "variableSetterType" : "CreateRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRepository",
      "operationName" : "CreateRepository",
      "returnType" : {
        "returnType" : "CreateRepositoryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRepositoryResult"
    },
    "DeleteRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryRequest, DeleteRepositoryResult>",
      "asyncReturnType" : "DeleteRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing image repository. If a repository contains images, you must use the <code>force</code> option to delete it.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "RepositoryNotEmptyException",
        "documentation" : "<p>The specified repository contains images. To delete a repository that contains images, you must force the deletion with the <code>force</code> parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRepositoryRequest",
        "variableName" : "deleteRepositoryRequest",
        "variableType" : "DeleteRepositoryRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryRequest",
        "variableSetterType" : "DeleteRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepository",
      "operationName" : "DeleteRepository",
      "returnType" : {
        "returnType" : "DeleteRepositoryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRepositoryResult"
    },
    "DeleteRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryPolicyRequest, DeleteRepositoryPolicyResult>",
      "asyncReturnType" : "DeleteRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the repository policy from a specified repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRepositoryPolicyRequest",
        "variableName" : "deleteRepositoryPolicyRequest",
        "variableType" : "DeleteRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryPolicyRequest",
        "variableSetterType" : "DeleteRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepositoryPolicy",
      "operationName" : "DeleteRepositoryPolicy",
      "returnType" : {
        "returnType" : "DeleteRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRepositoryPolicyResult"
    },
    "DescribeImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImagesRequest, DescribeImagesResult>",
      "asyncReturnType" : "DescribeImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about the images in a repository, including image size and creation date.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "ImageNotFoundException",
        "documentation" : "<p>The image requested does not exist in the specified repository.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeImagesRequest",
        "variableName" : "describeImagesRequest",
        "variableType" : "DescribeImagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeImagesRequest",
        "variableSetterType" : "DescribeImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImages",
      "operationName" : "DescribeImages",
      "returnType" : {
        "returnType" : "DescribeImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImagesResult"
    },
    "DescribeRepositories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRepositoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRepositoriesRequest, DescribeRepositoriesResult>",
      "asyncReturnType" : "DescribeRepositoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes image repositories in a registry.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRepositoriesRequest",
        "variableName" : "describeRepositoriesRequest",
        "variableType" : "DescribeRepositoriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRepositoriesRequest",
        "variableSetterType" : "DescribeRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRepositories",
      "operationName" : "DescribeRepositories",
      "returnType" : {
        "returnType" : "DescribeRepositoriesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRepositoriesResult"
    },
    "GetAuthorizationToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAuthorizationTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAuthorizationTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAuthorizationTokenRequest, GetAuthorizationTokenResult>",
      "asyncReturnType" : "GetAuthorizationTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a token that is valid for a specified registry for 12 hours. This command allows you to use the <code>docker</code> CLI to push and pull images with Amazon ECR. If you do not specify a registry, the default registry is assumed.</p> <p>The <code>authorizationToken</code> returned for each registry specified is a base64 encoded string that can be decoded and used in a <code>docker login</code> command to authenticate to a registry. The AWS CLI offers an <code>aws ecr get-login</code> command that simplifies the login process.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetAuthorizationTokenRequest",
        "variableName" : "getAuthorizationTokenRequest",
        "variableType" : "GetAuthorizationTokenRequest",
        "documentation" : "",
        "simpleType" : "GetAuthorizationTokenRequest",
        "variableSetterType" : "GetAuthorizationTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAuthorizationToken",
      "operationName" : "GetAuthorizationToken",
      "returnType" : {
        "returnType" : "GetAuthorizationTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAuthorizationTokenResult"
    },
    "GetDownloadUrlForLayer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDownloadUrlForLayerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDownloadUrlForLayerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDownloadUrlForLayerRequest, GetDownloadUrlForLayerResult>",
      "asyncReturnType" : "GetDownloadUrlForLayerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the pre-signed Amazon S3 download URL corresponding to an image layer. You can only get URLs for image layers that are referenced in an image.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "LayersNotFoundException",
        "documentation" : "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>"
      }, {
        "exceptionName" : "LayerInaccessibleException",
        "documentation" : "<p>The specified layer is not available because it is not associated with an image. Unassociated image layers may be cleaned up at any time.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDownloadUrlForLayerRequest",
        "variableName" : "getDownloadUrlForLayerRequest",
        "variableType" : "GetDownloadUrlForLayerRequest",
        "documentation" : "",
        "simpleType" : "GetDownloadUrlForLayerRequest",
        "variableSetterType" : "GetDownloadUrlForLayerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDownloadUrlForLayer",
      "operationName" : "GetDownloadUrlForLayer",
      "returnType" : {
        "returnType" : "GetDownloadUrlForLayerResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDownloadUrlForLayerResult"
    },
    "GetRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryPolicyRequest, GetRepositoryPolicyResult>",
      "asyncReturnType" : "GetRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the repository policy for a specified repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRepositoryPolicyRequest",
        "variableName" : "getRepositoryPolicyRequest",
        "variableType" : "GetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetRepositoryPolicyRequest",
        "variableSetterType" : "GetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepositoryPolicy",
      "operationName" : "GetRepositoryPolicy",
      "returnType" : {
        "returnType" : "GetRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRepositoryPolicyResult"
    },
    "InitiateLayerUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitiateLayerUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitiateLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitiateLayerUploadRequest, InitiateLayerUploadResult>",
      "asyncReturnType" : "InitiateLayerUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Notify Amazon ECR that you intend to upload an image layer.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "InitiateLayerUploadRequest",
        "variableName" : "initiateLayerUploadRequest",
        "variableType" : "InitiateLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "InitiateLayerUploadRequest",
        "variableSetterType" : "InitiateLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "initiateLayerUpload",
      "operationName" : "InitiateLayerUpload",
      "returnType" : {
        "returnType" : "InitiateLayerUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "InitiateLayerUploadResult"
    },
    "ListImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImagesRequest, ListImagesResult>",
      "asyncReturnType" : "ListImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the image IDs for a given repository.</p> <p>You can filter images based on whether or not they are tagged by setting the <code>tagStatus</code> parameter to <code>TAGGED</code> or <code>UNTAGGED</code>. For example, you can filter your results to return only <code>UNTAGGED</code> images and then pipe that result to a <a>BatchDeleteImage</a> operation to delete them. Or, you can filter your results to return only <code>TAGGED</code> images to list all of the tags in your repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListImagesRequest",
        "variableName" : "listImagesRequest",
        "variableType" : "ListImagesRequest",
        "documentation" : "",
        "simpleType" : "ListImagesRequest",
        "variableSetterType" : "ListImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImages",
      "operationName" : "ListImages",
      "returnType" : {
        "returnType" : "ListImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImagesResult"
    },
    "PutImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutImageRequest, PutImageResult>",
      "asyncReturnType" : "PutImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the image manifest associated with an image.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "ImageAlreadyExistsException",
        "documentation" : "<p>The specified image has already been pushed, and there are no changes to the manifest or image tag since the last push.</p>"
      }, {
        "exceptionName" : "LayersNotFoundException",
        "documentation" : "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon EC2 Container Registry User Guide.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutImageRequest",
        "variableName" : "putImageRequest",
        "variableType" : "PutImageRequest",
        "documentation" : "",
        "simpleType" : "PutImageRequest",
        "variableSetterType" : "PutImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putImage",
      "operationName" : "PutImage",
      "returnType" : {
        "returnType" : "PutImageResult",
        "documentation" : null
      },
      "syncReturnType" : "PutImageResult"
    },
    "SetRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetRepositoryPolicyRequest, SetRepositoryPolicyResult>",
      "asyncReturnType" : "SetRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies a repository policy on a specified repository to control access permissions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetRepositoryPolicyRequest",
        "variableName" : "setRepositoryPolicyRequest",
        "variableType" : "SetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "SetRepositoryPolicyRequest",
        "variableSetterType" : "SetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setRepositoryPolicy",
      "operationName" : "SetRepositoryPolicy",
      "returnType" : {
        "returnType" : "SetRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "SetRepositoryPolicyResult"
    },
    "UploadLayerPart" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UploadLayerPartResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UploadLayerPartResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UploadLayerPartRequest, UploadLayerPartResult>",
      "asyncReturnType" : "UploadLayerPartResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads an image layer part to Amazon ECR.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers. Use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "InvalidLayerPartException",
        "documentation" : "<p>The layer part size is not valid, or the first byte specified is not consecutive to the last byte of a previous layer part upload.</p>"
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>"
      }, {
        "exceptionName" : "UploadNotFoundException",
        "documentation" : "<p>The upload could not be found, or the specified upload id is not valid for this repository.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon EC2 Container Registry User Guide.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UploadLayerPartRequest",
        "variableName" : "uploadLayerPartRequest",
        "variableType" : "UploadLayerPartRequest",
        "documentation" : "",
        "simpleType" : "UploadLayerPartRequest",
        "variableSetterType" : "UploadLayerPartRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "uploadLayerPart",
      "operationName" : "UploadLayerPart",
      "returnType" : {
        "returnType" : "UploadLayerPartResult",
        "documentation" : null
      },
      "syncReturnType" : "UploadLayerPartResult"
    }
  },
  "shapes" : {
    "AuthorizationData" : {
      "c2jName" : "AuthorizationData",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing authorization data for an Amazon ECR registry.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "authorizationToken",
        "c2jShape" : "Base64",
        "deprecated" : false,
        "documentation" : "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@return A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "authorizationToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "authorizationToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AuthorizationToken",
        "setterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "authorizationToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "authorizationToken",
          "variableType" : "String",
          "documentation" : "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "expiresAt",
        "c2jShape" : "ExpirationTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@return The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "expiresAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "expiresAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ExpiresAt",
        "setterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "expiresAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "expiresAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "proxyEndpoint",
        "c2jShape" : "ProxyEndpoint",
        "deprecated" : false,
        "documentation" : "<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@return The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "proxyEndpoint",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "proxyEndpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ProxyEndpoint",
        "setterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "proxyEndpoint",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "proxyEndpoint",
          "variableType" : "String",
          "documentation" : "<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AuthorizationToken" : {
          "c2jName" : "authorizationToken",
          "c2jShape" : "Base64",
          "deprecated" : false,
          "documentation" : "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@return A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "authorizationToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "authorizationToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AuthorizationToken",
          "setterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "authorizationToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "authorizationToken",
            "variableType" : "String",
            "documentation" : "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ExpiresAt" : {
          "c2jName" : "expiresAt",
          "c2jShape" : "ExpirationTimestamp",
          "deprecated" : false,
          "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@return The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "expiresAt",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "expiresAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ExpiresAt",
          "setterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "expiresAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "expiresAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "ProxyEndpoint" : {
          "c2jName" : "proxyEndpoint",
          "c2jShape" : "ProxyEndpoint",
          "deprecated" : false,
          "documentation" : "<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@return The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "proxyEndpoint",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "proxyEndpoint",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ProxyEndpoint",
          "setterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "proxyEndpoint",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "proxyEndpoint",
            "variableType" : "String",
            "documentation" : "<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AuthorizationData",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AuthorizationData",
        "variableName" : "authorizationData",
        "variableType" : "AuthorizationData",
        "documentation" : null,
        "simpleType" : "AuthorizationData",
        "variableSetterType" : "AuthorizationData"
      },
      "wrapper" : false
    },
    "BatchCheckLayerAvailabilityRequest" : {
      "c2jName" : "BatchCheckLayerAvailabilityRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchCheckLayerAvailability",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AmazonEC2ContainerRegistry_V20150921.BatchCheckLayerAvailability",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "registryId",
        "c2jShape" : "RegistryId",
        "deprecated" : false,
        "documentation" : "<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@param registryId The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@return The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "registryId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "registryId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "RegistryId",
        "setterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@param registryId The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "registryId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@param registryId The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "registryId",
          "variableType" : "String",
          "documentation" : "<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "repositoryName",
        "c2jShape" : "RepositoryName",
        "deprecated" : false,
        "documentation" : "<p>The name of the repository that is associated with the image layers to check.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@param repositoryName The name of the repository that is associated with the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@return The name of the repository that is associated with the image layers to check.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "repositoryName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "repositoryName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "RepositoryName",
        "setterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@param repositoryName The name of the repository that is associated with the image layers to check.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "repositoryName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@param repositoryName The name of the repository that is associated with the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "repositoryName",
          "variableType" : "String",
          "documentation" : "<p>The name of the repository that is associated with the image layers to check.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "layerDigests",
        "c2jShape" : "BatchedOperationLayerDigestList",
        "deprecated" : false,
        "documentation" : "<p>The digests of the image layers to check.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n@param layerDigests The digests of the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n@return The digests of the image layers to check.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "layerDigests",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "layerDigests",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BatchedOperationLayerDigest",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "LayerDigests",
        "setterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n@param layerDigests The digests of the image layers to check.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "layerDigests",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLayerDigests(java.util.Collection)} or {@link #withLayerDigests(java.util.Collection)} if you want to override the existing values.</p>\n@param layerDigests The digests of the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "layerDigests",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The digests of the image layers to check.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LayerDigests" : {
          "c2jName" : "layerDigests",
          "c2jShape" : "BatchedOperationLayerDigestList",
          "deprecated" : false,
          "documentation" : "<p>The digests of the image layers to check.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n@param layerDigests The digests of the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n@return The digests of the image layers to check.*/",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "layerDigests",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "layerDigests",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BatchedOperationLayerDigest",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "LayerDigests",
          "setterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n@param layerDigests The digests of the image layers to check.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "layerDigests",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLayerDigests(java.util.Collection)} or {@link #withLayerDigests(java.util.Collection)} if you want to override the existing values.</p>\n@param layerDigests The digests of the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "layerDigests",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The digests of the image layers to check.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "RegistryId" : {
          "c2jName" : "registryId",
          "c2jShape" : "RegistryId",
          "deprecated" : false,
          "documentation" : "<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@param registryId The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@return The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "registryId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "registryId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "RegistryId",
          "setterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@param registryId The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "registryId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@param registryId The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "registryId",
            "variableType" : "String",
            "documentation" : "<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RepositoryName" : {
          "c2jName" : "repositoryName",
          "c2jShape" : "RepositoryName",
          "deprecated" : false,
          "documentation" : "<p>The name of the repository that is associated with the image layers to check.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@param repositoryName The name of the repository that is associated with the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@return The name of the repository that is associated with the image layers to check.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "repositoryName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "repositoryName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "RepositoryName",
          "setterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@param repositoryName The name of the repository that is associated with the image layers to check.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "repositoryName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@param repositoryName The name of the repository that is associated with the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "repositoryName",
            "variableType" : "String",
            "documentation" : "<p>The name of the repository that is associated with the image layers to check.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "repositoryName", "layerDigests" ],
      "shapeName" : "BatchCheckLayerAvailabilityRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BatchCheckLayerAvailabilityRequest",
        "variableName" : "batchCheckLayerAvailabilityRequest",
        "variableType" : "BatchCheckLayerAvailabilityRequest",
        "documentation" : null,
        "simpleType" : "BatchCheckLayerAvailabilityRequest",
        "variableSetterType" : "BatchCheckLayerAvailabilityRequest"
      },
      "wrapper" : false
    },
    "BatchCheckLayerAvailabilityResult" : {
      "c2jName" : "BatchCheckLayerAvailabilityResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "layers",
        "c2jShape" : "LayerList",
        "deprecated" : false,
        "documentation" : "<p>A list of image layer objects corresponding to the image layer references in the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of image layer objects corresponding to the image layer references in the request.</p>\n@param layers A list of image layer objects corresponding to the image layer references in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A list of image layer objects corresponding to the image layer references in the request.</p>\n@return A list of image layer objects corresponding to the image layer references in the request.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Layer>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "layers",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "layers",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Layer",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Layer",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Layer",
              "variableName" : "member",
              "variableType" : "Layer",
              "documentation" : "",
              "simpleType" : "Layer",
              "variableSetterType" : "Layer"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Layer",
              "variableName" : "member",
              "variableType" : "Layer",
              "documentation" : "",
              "simpleType" : "Layer",
              "variableSetterType" : "Layer"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Layer",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Layer",
          "templateImplType" : "java.util.ArrayList<Layer>",
          "templateType" : "java.util.List<Layer>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Layers",
        "setterDocumentation" : "/**<p>A list of image layer objects corresponding to the image layer references in the request.</p>\n@param layers A list of image layer objects corresponding to the image layer references in the request.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Layer>",
          "variableName" : "layers",
          "variableType" : "java.util.List<Layer>",
          "documentation" : "",
          "simpleType" : "List<Layer>",
          "variableSetterType" : "java.util.Collection<Layer>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>A list of image layer objects corresponding to the image layer references in the request.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLayers(java.util.Collection)} or {@link #withLayers(java.util.Collection)} if you want to override the existing values.</p>\n@param layers A list of image layer objects corresponding to the image layer references in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Layer>",
          "variableName" : "layers",
          "variableType" : "java.util.List<Layer>",
          "documentation" : "<p>A list of image layer objects corresponding to the image layer references in the request.</p>",
          "simpleType" : "List<Layer>",
          "variableSetterType" : "java.util.Collection<Layer>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "failures",
        "c2jShape" : "LayerFailureList",
        "deprecated" : false,
[...]
