{
  "metadata" : {
    "apiVersion" : "2015-02-01",
    "exceptionUnmarshallerImpl" : null,
    "protocol" : "rest-json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Elastic File System</fullname>",
    "defaultEndpoint" : "https://elasticfilesystem.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticfilesystem.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonElasticFileSystem",
    "syncClient" : "AmazonElasticFileSystemClient",
    "asyncInterface" : "AmazonElasticFileSystemAsync",
    "asyncClient" : "AmazonElasticFileSystemAsyncClient",
    "packageName" : "com.amazonaws.services.elasticfilesystem",
    "packagePath" : "com/amazonaws/services/elasticfilesystem",
    "serviceAbbreviation" : "EFS",
    "serviceFullName" : "Amazon Elastic File System",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "elasticfilesystem",
    "signingName" : "elasticfilesystem",
    "xmlProtocol" : false,
    "serviceName" : "EFS",
    "cborProtocol" : false,
    "jsonProtocol" : true,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "JsonErrorUnmarshaller"
  },
  "operations" : {
    "CreateFileSystem" : {
      "documentation" : "<p> Creates a new, empty file system. The operation requires a creation token in the request that Amazon EFS uses to ensure idempotent creation (calling the operation with same creation token has no effect). If a file system does not currently exist that is owned by the caller's AWS account with the specified creation token, this operation does the following: </p> <ul> <li>Creates a new, empty file system. The file system will have an Amazon EFS assigned ID, and an initial lifecycle state \"creating\". </li> <li> Returns with the description of the created file system. </li> </ul> <p>Otherwise, this operation returns a <code>FileSystemAlreadyExists</code> error with the ID of the existing file system.</p> <note>For basic use cases, you can use a randomly generated UUID for the creation token.</note> <p> The idempotent operation allows you to retry a <code>CreateFileSystem</code> call without risk of creating an extra file system. This can happen when an initial call fails in a way that leaves it uncertain whether or not a file system was actually created. An example might be that a transport level timeout occurred or your connection was reset. As long as you use the same creation token, if the initial call had succeeded in creating a file system, the client can learn of its existence from the <code>FileSystemAlreadyExists</code> error. </p> <note>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still \"creating\". You can check the file system creation status by calling the <a>DescribeFileSystems</a> API, which among other things returns the file system state.</note> <p> After the file system is fully created, Amazon EFS sets its lifecycle state to \"available\", at which point you can create one or more mount targets for the file system (<a>CreateMountTarget</a>) in your VPC. You mount your Amazon EFS file system on an EC2 instances in your VPC via the mount target. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a> </p> <p> This operation requires permission for the <code>elasticfilesystem:CreateFileSystem</code> action. </p>",
      "operationName" : "CreateFileSystem",
      "deprecated" : false,
      "input" : {
        "variableName" : "createFileSystemRequest",
        "variableType" : "CreateFileSystemRequest",
        "variableDeclarationType" : "CreateFileSystemRequest",
        "documentation" : "",
        "simpleType" : "CreateFileSystemRequest",
        "variableSetterType" : "CreateFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateFileSystemResult",
        "documentation" : "<p>This object provides description of a file system.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemAlreadyExistsException",
        "documentation" : "<p>Returned if the file system you are trying to create already exists, with the creation token you provided.</p>"
      }, {
        "exceptionName" : "FileSystemLimitExceededException",
        "documentation" : "<p>Returned if the AWS account has already created maximum number of file systems allowed per account. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateFileSystemResult",
      "asyncReturnType" : "CreateFileSystemResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFileSystemResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFileSystemRequest, CreateFileSystemResult>",
      "methodName" : "createFileSystem"
    },
    "CreateMountTarget" : {
      "documentation" : "<p>Creates a mount target for a file system. You can then mount the file system on EC2 instances via the mount target. </p> <p>You can create one mount target in each Availability Zone in your VPC. All EC2 instances in a VPC within a given Availability Zone share a single mount target for a given file system. If you have multiple subnets in an Availability Zone, you create a mount target in one of the subnets. EC2 instances do not need to be in the same subnet as the mount target in order to access their file system. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p> <p>In the request, you also specify a file system ID for which you are creating the mount target and the file system's lifecycle state must be \"available\" (see <a>DescribeFileSystems</a>).</p> <p> In the request, you also provide a subnet ID, which serves several purposes:</p> <ul> <li>It determines the VPC in which Amazon EFS creates the mount target.</li> <li>It determines the Availability Zone in which Amazon EFS creates the mount target. </li> <li>It determines the IP address range from which Amazon EFS selects the IP address of the mount target if you don't specify an IP address in the request. </li> </ul> <p>After creating the mount target, Amazon EFS returns a response that includes, a <code>MountTargetId</code> and an <code>IpAddress</code>. You use this IP address when mounting the file system in an EC2 instance. You can also use the mount target's DNS name when mounting the file system. The EC2 instance on which you mount the file system via the mount target can resolve the mount target's DNS name to its IP address. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/how-it-works.html#how-it-works-implementation\">How it Works: Implementation Overview</a>. </p> <p> Note that you can create mount targets for a file system in only one VPC, and there can be only one mount target per Availability Zone. That is, if the file system already has one or more mount targets created for it, the request to add another mount target must meet the following requirements: </p> <ul> <li> <p>The subnet specified in the request must belong to the same VPC as the subnets of the existing mount targets.</p> </li> <li>The subnet specified in the request must not be in the same Availability Zone as any of the subnets of the existing mount targets.</li> </ul> <p>If the request satisfies the requirements, Amazon EFS does the following:</p> <ul> <li>Creates a new mount target in the specified subnet. </li> <li>Also creates a new network interface in the subnet as follows: <ul> <li>If the request provides an <code>IpAddress</code>, Amazon EFS assigns that IP address to the network interface. Otherwise, Amazon EFS assigns a free address in the subnet (in the same way that the Amazon EC2 <code>CreateNetworkInterface</code> call does when a request does not specify a primary private IP address).</li> <li>If the request provides <code>SecurityGroups</code>, this network interface is associated with those security groups. Otherwise, it belongs to the default security group for the subnet's VPC.</li> <li>Assigns the description <code>\"Mount target <i>fsmt-id</i> for file system <i>fs-id</i>\"</code> where <code><i>fsmt-id</i></code> is the mount target ID, and <code><i>fs-id</i></code> is the <code>FileSystemId</code>.</li> <li>Sets the <code>requesterManaged</code> property of the network interface to \"true\", and the <code>requesterId</code> value to \"EFS\".</li> </ul> <p>Each Amazon EFS mount target has one corresponding requestor-managed EC2 network interface. After the network interface is created, Amazon EFS sets the <code>NetworkInterfaceId</code> field in the mount target's description to the network interface ID, and the <code>IpAddress</code> field to its address. If network interface creation fails, the entire <code>CreateMountTarget</code> operation fails.</p> </li> </ul> <note>The <code>CreateMountTarget</code> call returns only after creating the network interface, but while the mount target state is still \"creating\". You can check the mount target creation status by calling the <a>DescribeFileSystems</a> API, which among other things returns the mount target state.</note> <p>We recommend you create a mount target in each of the Availability Zones. There are cost considerations for using a file system in an Availability Zone through a mount target created in another Availability Zone. For more information, go to <a href=\"http://aws.amazon.com/efs/\">Amazon EFS</a> product detail page. In addition, by always using a mount target local to the instance's Availability Zone, you eliminate a partial failure scenario; if the Availability Zone in which your mount target is created goes down, then you won't be able to access your file system through that mount target. </p> <p>This operation requires permission for the following action on the file system:</p> <ul> <li> <code>elasticfilesystem:CreateMountTarget</code> </li> </ul> <p>This operation also requires permission for the following Amazon EC2 actions:</p> <ul> <li> <code>ec2:DescribeSubnets</code> </li> <li> <code>ec2:DescribeNetworkInterfaces</code> </li> <li> <code>ec2:CreateNetworkInterface</code> </li> </ul>",
      "operationName" : "CreateMountTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "createMountTargetRequest",
        "variableType" : "CreateMountTargetRequest",
        "variableDeclarationType" : "CreateMountTargetRequest",
        "documentation" : "",
        "simpleType" : "CreateMountTargetRequest",
        "variableSetterType" : "CreateMountTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateMountTargetResult",
        "documentation" : "<p>This object provides description of a mount target.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      }, {
        "exceptionName" : "IncorrectFileSystemLifeCycleStateException",
        "documentation" : "<p>Returned if the file system's life cycle state is not \"created\".</p>"
      }, {
        "exceptionName" : "MountTargetConflictException",
        "documentation" : "<p>Returned if the mount target would violate one of the specified restrictions based on the file system's existing mount targets.</p>"
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>Returned if there is no subnet with ID <code>SubnetId</code> provided in the request.</p>"
      }, {
        "exceptionName" : "NoFreeAddressesInSubnetException",
        "documentation" : "<p>Returned if <code>IpAddress</code> was not specified in the request and there are no free IP addresses in the subnet.</p>"
      }, {
        "exceptionName" : "IpAddressInUseException",
        "documentation" : "<p>Returned if the request specified an <code>IpAddress</code> that is already in use in the subnet.</p>"
      }, {
        "exceptionName" : "NetworkInterfaceLimitExceededException",
        "documentation" : "<p> The calling account has reached the ENI limit for the specific AWS region. Client should try to delete some ENIs or get its account limit raised. For more information, go to <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Appendix_Limits.html\">Amazon VPC Limits</a> in the Amazon Virtual Private Cloud User Guide (see the Network interfaces per VPC entry in the table). </p>"
      }, {
        "exceptionName" : "SecurityGroupLimitExceededException",
        "documentation" : "<p>Returned if the size of <code>SecurityGroups</code> specified in the request is greater than five.</p>"
      }, {
        "exceptionName" : "SecurityGroupNotFoundException",
        "documentation" : "<p>Returned if one of the specified security groups does not exist in the subnet's VPC.</p>"
      }, {
        "exceptionName" : "UnsupportedAvailabilityZoneException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateMountTargetResult",
      "asyncReturnType" : "CreateMountTargetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMountTargetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMountTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMountTargetRequest, CreateMountTargetResult>",
      "methodName" : "createMountTarget"
    },
    "CreateTags" : {
      "documentation" : "<p>Creates or overwrites tags associated with a file system. Each tag is a key-value pair. If a tag key specified in the request already exists on the file system, this operation overwrites its value with the value provided in the request. If you add the \"Name\" tag to your file system, Amazon EFS returns it in the response to the <a>DescribeFileSystems</a> API. </p> <p>This operation requires permission for the <code>elasticfilesystem:CreateTags</code> action.</p>",
      "operationName" : "CreateTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "variableDeclarationType" : "CreateTagsRequest",
        "documentation" : "",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, Void>",
      "methodName" : "createTags"
    },
    "DeleteFileSystem" : {
      "documentation" : "<p> Deletes a file system, permanently severing access to its contents. Upon return, the file system no longer exists and you will not be able to access any contents of the deleted file system. </p> <p> You cannot delete a file system that is in use. That is, if the file system has any mount targets, you must first delete them. For more information, see <a>DescribeMountTargets</a> and <a>DeleteMountTarget</a>. </p> <note>The <code>DeleteFileSystem</code> call returns while the file system state is still \"deleting\". You can check the file system deletion status by calling the <a>DescribeFileSystems</a> API, which returns a list of file systems in your account. If you pass file system ID or creation token for the deleted file system, the <a>DescribeFileSystems</a> will return a 404 \"FileSystemNotFound\" error.</note> <p>This operation requires permission for the <code>elasticfilesystem:DeleteFileSystem</code> action.</p>",
      "operationName" : "DeleteFileSystem",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteFileSystemRequest",
        "variableType" : "DeleteFileSystemRequest",
        "variableDeclarationType" : "DeleteFileSystemRequest",
        "documentation" : "",
        "simpleType" : "DeleteFileSystemRequest",
        "variableSetterType" : "DeleteFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      }, {
        "exceptionName" : "FileSystemInUseException",
        "documentation" : "<p>Returned if a file system has mount targets. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFileSystemRequest, Void>",
      "methodName" : "deleteFileSystem"
    },
    "DeleteMountTarget" : {
      "documentation" : "<p>Deletes the specified mount target. </p> <p> This operation forcibly breaks any mounts of the file system via the mount target being deleted, which might disrupt instances or applications using those mounts. To avoid applications getting cut off abruptly, you might consider unmounting any mounts of the mount target, if feasible. The operation also deletes the associated network interface. Uncommitted writes may be lost, but breaking a mount target using this operation does not corrupt the file system itself. The file system you created remains. You can mount an EC2 instance in your VPC using another mount target. </p> <p> This operation requires permission for the following action on the file system: </p> <ul> <li> <code>elasticfilesystem:DeleteMountTarget</code> </li> </ul> <note>The <code>DeleteMountTarget</code> call returns while the mount target state is still \"deleting\". You can check the mount target deletion by calling the <a>DescribeMountTargets</a> API, which returns a list of mount target descriptions for the given file system. </note> <p>The operation also requires permission for the following Amazon EC2 action on the mount target's network interface:</p> <ul> <li> <code>ec2:DeleteNetworkInterface</code> </li> </ul>",
      "operationName" : "DeleteMountTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteMountTargetRequest",
        "variableType" : "DeleteMountTargetRequest",
        "variableDeclarationType" : "DeleteMountTargetRequest",
        "documentation" : "",
        "simpleType" : "DeleteMountTargetRequest",
        "variableSetterType" : "DeleteMountTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The service timed out trying to fulfill the request, and the client should try the call again.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMountTargetRequest, Void>",
      "methodName" : "deleteMountTarget"
    },
    "DeleteTags" : {
      "documentation" : "<p>Deletes the specified tags from a file system. If the <code>DeleteTags</code> request includes a tag key that does not exist, Amazon EFS ignores it; it is not an error. For more information about tags and related restrictions, go to <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p> <p>This operation requires permission for the <code>elasticfilesystem:DeleteTags</code> action.</p>",
      "operationName" : "DeleteTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "variableDeclarationType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, Void>",
      "methodName" : "deleteTags"
    },
    "DescribeFileSystems" : {
      "documentation" : "<p>Returns the description of a specific Amazon EFS file system if either the file system <code>CreationToken</code> or the <code>FileSystemId</code> is provided; otherwise, returns descriptions of all file systems owned by the caller's AWS account in the AWS region of the endpoint that you're calling.</p> <p> When retrieving all file system descriptions, you can optionally specify the <code>MaxItems</code> parameter to limit the number of descriptions in a response. If more file system descriptions remain, Amazon EFS returns a <code>NextMarker</code>, an opaque token, in the response. In this case, you should send a subsequent request with the <code>Marker</code> request parameter set to the value of <code>NextMarker</code>. </p> <p> So to retrieve a list of your file system descriptions, the expected usage of this API is an iterative process of first calling <code>DescribeFileSystems</code> without the <code>Marker</code> and then continuing to call it with the <code>Marker</code> parameter set to the value of the <code>NextMarker</code> from the previous response until the response has no <code>NextMarker</code>. </p> <p> Note that the implementation may return fewer than <code>MaxItems</code> file system descriptions while still including a <code>NextMarker</code> value. </p> <p> The order of file systems returned in the response of one <code>DescribeFileSystems</code> call, and the order of file systems returned across the responses of a multi-call iteration, is unspecified. </p> <p> This operation requires permission for the <code>elasticfilesystem:DescribeFileSystems</code> action. </p>",
      "operationName" : "DescribeFileSystems",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeFileSystemsRequest",
        "variableType" : "DescribeFileSystemsRequest",
        "variableDeclarationType" : "DescribeFileSystemsRequest",
        "documentation" : "",
        "simpleType" : "DescribeFileSystemsRequest",
        "variableSetterType" : "DescribeFileSystemsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeFileSystemsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeFileSystemsResult",
      "asyncReturnType" : "DescribeFileSystemsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFileSystemsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFileSystemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFileSystemsRequest, DescribeFileSystemsResult>",
      "methodName" : "describeFileSystems"
    },
    "DescribeMountTargetSecurityGroups" : {
      "documentation" : "<p>Returns the security groups currently in effect for a mount target. This operation requires that the network interface of the mount target has been created and the life cycle state of the mount target is not \"deleted\".</p> <p>This operation requires permissions for the following actions:</p> <ul> <li> <code>elasticfilesystem:DescribeMountTargetSecurityGroups</code> action on the mount target's file system. </li> <li> <code>ec2:DescribeNetworkInterfaceAttribute</code> action on the mount target's network interface. </li> </ul>",
      "operationName" : "DescribeMountTargetSecurityGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeMountTargetSecurityGroupsRequest",
        "variableType" : "DescribeMountTargetSecurityGroupsRequest",
        "variableDeclarationType" : "DescribeMountTargetSecurityGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeMountTargetSecurityGroupsRequest",
        "variableSetterType" : "DescribeMountTargetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeMountTargetSecurityGroupsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      }, {
        "exceptionName" : "IncorrectMountTargetStateException",
        "documentation" : "<p>Returned if the mount target is not in the correct state for the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeMountTargetSecurityGroupsResult",
      "asyncReturnType" : "DescribeMountTargetSecurityGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMountTargetSecurityGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMountTargetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMountTargetSecurityGroupsRequest, DescribeMountTargetSecurityGroupsResult>",
      "methodName" : "describeMountTargetSecurityGroups"
    },
    "DescribeMountTargets" : {
      "documentation" : "<p>Returns the descriptions of all the current mount targets, or a specific mount target, for a file system. When requesting all of the current mount targets, the order of mount targets returned in the response is unspecified.</p> <p>This operation requires permission for the <code>elasticfilesystem:DescribeMountTargets</code> action, on either the file system id that you specify in <code>FileSystemId</code>, or on the file system of the mount target that you specify in <code>MountTargetId</code>.</p>",
      "operationName" : "DescribeMountTargets",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeMountTargetsRequest",
        "variableType" : "DescribeMountTargetsRequest",
        "variableDeclarationType" : "DescribeMountTargetsRequest",
        "documentation" : "",
        "simpleType" : "DescribeMountTargetsRequest",
        "variableSetterType" : "DescribeMountTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeMountTargetsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeMountTargetsResult",
      "asyncReturnType" : "DescribeMountTargetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMountTargetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMountTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMountTargetsRequest, DescribeMountTargetsResult>",
      "methodName" : "describeMountTargets"
    },
    "DescribeTags" : {
      "documentation" : "<p>Returns the tags associated with a file system. The order of tags returned in the response of one <code>DescribeTags</code> call, and the order of tags returned across the responses of a multi-call iteration (when using pagination), is unspecified. </p> <p> This operation requires permission for the <code>elasticfilesystem:DescribeTags</code> action. </p>",
      "operationName" : "DescribeTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "variableDeclarationType" : "DescribeTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTagsResult",
      "asyncReturnType" : "DescribeTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "methodName" : "describeTags"
    },
    "ModifyMountTargetSecurityGroups" : {
      "documentation" : "<p>Modifies the set of security groups in effect for a mount target.</p> <p>When you create a mount target, Amazon EFS also creates a new network interface (see <a>CreateMountTarget</a>). This operation replaces the security groups in effect for the network interface associated with a mount target, with the <code>SecurityGroups</code> provided in the request. This operation requires that the network interface of the mount target has been created and the life cycle state of the mount target is not \"deleted\". </p> <p>The operation requires permissions for the following actions:</p> <ul> <li> <code>elasticfilesystem:ModifyMountTargetSecurityGroups</code> action on the mount target's file system. </li> <li> <code>ec2:ModifyNetworkInterfaceAttribute</code> action on the mount target's network interface. </li> </ul>",
      "operationName" : "ModifyMountTargetSecurityGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyMountTargetSecurityGroupsRequest",
        "variableType" : "ModifyMountTargetSecurityGroupsRequest",
        "variableDeclarationType" : "ModifyMountTargetSecurityGroupsRequest",
        "documentation" : "",
        "simpleType" : "ModifyMountTargetSecurityGroupsRequest",
        "variableSetterType" : "ModifyMountTargetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      }, {
        "exceptionName" : "IncorrectMountTargetStateException",
        "documentation" : "<p>Returned if the mount target is not in the correct state for the operation.</p>"
      }, {
        "exceptionName" : "SecurityGroupLimitExceededException",
        "documentation" : "<p>Returned if the size of <code>SecurityGroups</code> specified in the request is greater than five.</p>"
      }, {
        "exceptionName" : "SecurityGroupNotFoundException",
        "documentation" : "<p>Returned if one of the specified security groups does not exist in the subnet's VPC.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyMountTargetSecurityGroupsRequest, Void>",
      "methodName" : "modifyMountTargetSecurityGroups"
    }
  },
  "shapes" : {
    "FileSystemInUseException" : {
      "c2jName" : "FileSystemInUse",
      "documentation" : "<p>Returned if a file system has mount targets. </p>",
      "shapeName" : "FileSystemInUseException",
      "deprecated" : false,
      "required" : [ "ErrorCode" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "ErrorCode",
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "variable" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorCode",
          "marshallLocationName" : "ErrorCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**\n@param errorCode */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "fileSystemInUseException",
        "variableType" : "FileSystemInUseException",
        "variableDeclarationType" : "FileSystemInUseException",
        "documentation" : null,
        "simpleType" : "FileSystemInUseException",
        "variableSetterType" : "FileSystemInUseException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "FileSystemInUse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ErrorCode" : {
          "documentation" : "",
          "name" : "ErrorCode",
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "variable" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ErrorCode",
            "marshallLocationName" : "ErrorCode",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "list" : false,
          "simple" : true,
          "map" : false,
          "setterDocumentation" : "/**\n@param errorCode */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "IncorrectFileSystemLifeCycleStateException" : {
      "c2jName" : "IncorrectFileSystemLifeCycleState",
      "documentation" : "<p>Returned if the file system's life cycle state is not \"created\".</p>",
      "shapeName" : "IncorrectFileSystemLifeCycleStateException",
      "deprecated" : false,
      "required" : [ "ErrorCode" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "ErrorCode",
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "variable" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorCode",
          "marshallLocationName" : "ErrorCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**\n@param errorCode */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "incorrectFileSystemLifeCycleStateException",
        "variableType" : "IncorrectFileSystemLifeCycleStateException",
        "variableDeclarationType" : "IncorrectFileSystemLifeCycleStateException",
        "documentation" : null,
        "simpleType" : "IncorrectFileSystemLifeCycleStateException",
        "variableSetterType" : "IncorrectFileSystemLifeCycleStateException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "IncorrectFileSystemLifeCycleState",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ErrorCode" : {
          "documentation" : "",
          "name" : "ErrorCode",
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "variable" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ErrorCode",
            "marshallLocationName" : "ErrorCode",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "list" : false,
          "simple" : true,
          "map" : false,
          "setterDocumentation" : "/**\n@param errorCode */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeTagsRequest" : {
      "c2jName" : "DescribeTagsRequest",
      "documentation" : "",
      "shapeName" : "DescribeTagsRequest",
      "deprecated" : false,
      "required" : [ "FileSystemId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>",
        "name" : "MaxItems",
        "c2jName" : "MaxItems",
        "c2jShape" : "MaxItems",
        "variable" : {
          "variableName" : "maxItems",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "maxItems",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MaxItems",
          "marshallLocationName" : "MaxItems",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : true
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>\n@param maxItems Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.*/",
        "getterDocumentation" : "/**<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>\n@return Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.*/",
        "fluentSetterDocumentation" : "/**<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>\n@param maxItems Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>\n@param maxItems Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>",
        "name" : "Marker",
        "c2jName" : "Marker",
        "c2jShape" : "Marker",
        "variable" : {
          "variableName" : "marker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "marker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Marker",
          "marshallLocationName" : "Marker",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : true
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>\n@param marker Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.*/",
        "getterDocumentation" : "/**<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>\n@return Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.*/",
        "fluentSetterDocumentation" : "/**<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>\n@param marker Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>\n@param marker Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The ID of the file system whose tag set you want to retrieve.</p>",
        "name" : "FileSystemId",
        "c2jName" : "FileSystemId",
        "c2jShape" : "FileSystemId",
        "variable" : {
          "variableName" : "fileSystemId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the file system whose tag set you want to retrieve.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "fileSystemId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "FileSystemId",
          "marshallLocationName" : "FileSystemId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "flattened" : false,
          "header" : false,
          "uri" : true,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the file system whose tag set you want to retrieve.</p>\n@param fileSystemId The ID of the file system whose tag set you want to retrieve.*/",
        "getterDocumentation" : "/**<p>The ID of the file system whose tag set you want to retrieve.</p>\n@return The ID of the file system whose tag set you want to retrieve.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the file system whose tag set you want to retrieve.</p>\n@param fileSystemId The ID of the file system whose tag set you want to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the file system whose tag set you want to retrieve.</p>\n@param fileSystemId The ID of the file system whose tag set you want to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "variableDeclarationType" : "DescribeTagsRequest",
        "documentation" : null,
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "marshaller" : {
        "action" : "DescribeTags",
        "verb" : "GET",
        "target" : null,
        "requestUri" : "/2015-02-01/tags/{FileSystemId}/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "MaxItems" : {
          "documentation" : "<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>",
          "name" : "MaxItems",
          "c2jName" : "MaxItems",
          "c2jShape" : "MaxItems",
          "variable" : {
            "variableName" : "maxItems",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "maxItems",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "MaxItems",
            "marshallLocationName" : "MaxItems",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : true
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "list" : false,
          "simple" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>\n@param maxItems Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.*/",
          "getterDocumentation" : "/**<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>\n@return Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.*/",
          "fluentSetterDocumentation" : "/**<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>\n@param maxItems Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.</p>\n@param maxItems Optional. Maximum number of file system tags to return in the response. It must be an integer with a value greater than zero.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "FileSystemId" : {
          "documentation" : "<p>The ID of the file system whose tag set you want to retrieve.</p>",
          "name" : "FileSystemId",
          "c2jName" : "FileSystemId",
          "c2jShape" : "FileSystemId",
          "variable" : {
            "variableName" : "fileSystemId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID of the file system whose tag set you want to retrieve.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "fileSystemId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "FileSystemId",
            "marshallLocationName" : "FileSystemId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "flattened" : false,
            "header" : false,
            "uri" : true,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "list" : false,
          "simple" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID of the file system whose tag set you want to retrieve.</p>\n@param fileSystemId The ID of the file system whose tag set you want to retrieve.*/",
          "getterDocumentation" : "/**<p>The ID of the file system whose tag set you want to retrieve.</p>\n@return The ID of the file system whose tag set you want to retrieve.*/",
          "fluentSetterDocumentation" : "/**<p>The ID of the file system whose tag set you want to retrieve.</p>\n@param fileSystemId The ID of the file system whose tag set you want to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID of the file system whose tag set you want to retrieve.</p>\n@param fileSystemId The ID of the file system whose tag set you want to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Marker" : {
          "documentation" : "<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>",
          "name" : "Marker",
          "c2jName" : "Marker",
          "c2jShape" : "Marker",
          "variable" : {
            "variableName" : "marker",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "marker",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Marker",
            "marshallLocationName" : "Marker",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : true
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "list" : false,
          "simple" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>\n@param marker Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.*/",
          "getterDocumentation" : "/**<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>\n@return Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.*/",
          "fluentSetterDocumentation" : "/**<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>\n@param marker Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.</p>\n@param marker Optional. String. Opaque pagination token returned from a previous <code>DescribeTags</code> operation. If present, it specifies to continue the list from where the previous call left off.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DependencyTimeoutException" : {
      "c2jName" : "DependencyTimeout",
      "documentation" : "<p>The service timed out trying to fulfill the request, and the client should try the call again.</p>",
      "shapeName" : "DependencyTimeoutException",
      "deprecated" : false,
      "required" : [ "ErrorCode" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "ErrorCode",
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "variable" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorCode",
          "marshallLocationName" : "ErrorCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**\n@param errorCode */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "dependencyTimeoutException",
        "variableType" : "DependencyTimeoutException",
        "variableDeclarationType" : "DependencyTimeoutException",
        "documentation" : null,
        "simpleType" : "DependencyTimeoutException",
        "variableSetterType" : "DependencyTimeoutException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "DependencyTimeout",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ErrorCode" : {
          "documentation" : "",
          "name" : "ErrorCode",
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "variable" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ErrorCode",
            "marshallLocationName" : "ErrorCode",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "list" : false,
          "simple" : true,
          "map" : false,
          "setterDocumentation" : "/**\n@param errorCode */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "SubnetNotFoundException" : {
      "c2jName" : "SubnetNotFound",
      "documentation" : "<p>Returned if there is no subnet with ID <code>SubnetId</code> provided in the request.</p>",
      "shapeName" : "SubnetNotFoundException",
      "deprecated" : false,
      "required" : [ "ErrorCode" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "ErrorCode",
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "variable" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorCode",
          "marshallLocationName" : "ErrorCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**\n@param errorCode */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "subnetNotFoundException",
        "variableType" : "SubnetNotFoundException",
        "variableDeclarationType" : "SubnetNotFoundException",
        "documentation" : null,
        "simpleType" : "SubnetNotFoundException",
        "variableSetterType" : "SubnetNotFoundException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "SubnetNotFound",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ErrorCode" : {
          "documentation" : "",
          "name" : "ErrorCode",
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "variable" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ErrorCode",
            "marshallLocationName" : "ErrorCode",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "list" : false,
          "simple" : true,
          "map" : false,
          "setterDocumentation" : "/**\n@param errorCode */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "SecurityGroupNotFoundException" : {
      "c2jName" : "SecurityGroupNotFound",
      "documentation" : "<p>Returned if one of the specified security groups does not exist in the subnet's VPC.</p>",
      "shapeName" : "SecurityGroupNotFoundException",
      "deprecated" : false,
      "required" : [ "ErrorCode" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "ErrorCode",
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "variable" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorCode",
          "marshallLocationName" : "ErrorCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**\n@param errorCode */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "securityGroupNotFoundException",
        "variableType" : "SecurityGroupNotFoundException",
        "variableDeclarationType" : "SecurityGroupNotFoundException",
        "documentation" : null,
        "simpleType" : "SecurityGroupNotFoundException",
        "variableSetterType" : "SecurityGroupNotFoundException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "SecurityGroupNotFound",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ErrorCode" : {
          "documentation" : "",
          "name" : "ErrorCode",
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "variable" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ErrorCode",
            "marshallLocationName" : "ErrorCode",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "list" : false,
          "simple" : true,
          "map" : false,
          "setterDocumentation" : "/**\n@param errorCode */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "FileSystemNotFoundException" : {
      "c2jName" : "FileSystemNotFound",
      "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>",
      "shapeName" : "FileSystemNotFoundException",
      "deprecated" : false,
      "required" : [ "ErrorCode" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "ErrorCode",
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "variable" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorCode",
          "marshallLocationName" : "ErrorCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**\n@param errorCode */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "fileSystemNotFoundException",
        "variableType" : "FileSystemNotFoundException",
        "variableDeclarationType" : "FileSystemNotFoundException",
        "documentation" : null,
        "simpleType" : "FileSystemNotFoundException",
        "variableSetterType" : "FileSystemNotFoundException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "FileSystemNotFound",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ErrorCode" : {
          "documentation" : "",
          "name" : "ErrorCode",
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "variable" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ErrorCode",
            "marshallLocationName" : "ErrorCode",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "list" : false,
          "simple" : true,
          "map" : false,
          "setterDocumentation" : "/**\n@param errorCode */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CreateMountTargetRequest" : {
      "c2jName" : "CreateMountTargetRequest",
      "documentation" : "",
      "shapeName" : "CreateMountTargetRequest",
      "deprecated" : false,
      "required" : [ "FileSystemId", "SubnetId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The ID of the file system for which to create the mount target.</p>",
        "name" : "FileSystemId",
        "c2jName" : "FileSystemId",
        "c2jShape" : "FileSystemId",
        "variable" : {
          "variableName" : "fileSystemId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the file system for which to create the mount target.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "fileSystemId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "FileSystemId",
          "marshallLocationName" : "FileSystemId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the file system for which to create the mount target.</p>\n@param fileSystemId The ID of the file system for which to create the mount target.*/",
        "getterDocumentation" : "/**<p>The ID of the file system for which to create the mount target.</p>\n@return The ID of the file system for which to create the mount target.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the file system for which to create the mount target.</p>\n@param fileSystemId The ID of the file system for which to create the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the file system for which to create the mount target.</p>\n@param fileSystemId The ID of the file system for which to create the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The ID of the subnet to add the mount target in.</p>",
        "name" : "SubnetId",
        "c2jName" : "SubnetId",
        "c2jShape" : "SubnetId",
        "variable" : {
          "variableName" : "subnetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the subnet to add the mount target in.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "subnetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SubnetId",
          "marshallLocationName" : "SubnetId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the subnet to add the mount target in.</p>\n@param subnetId The ID of the subnet to add the mount target in.*/",
        "getterDocumentation" : "/**<p>The ID of the subnet to add the mount target in.</p>\n@return The ID of the subnet to add the mount target in.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the subnet to add the mount target in.</p>\n@param subnetId The ID of the subnet to add the mount target in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the subnet to add the mount target in.</p>\n@param subnetId The ID of the subnet to add the mount target in.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A valid IPv4 address within the address range of the specified subnet.</p>",
        "name" : "IpAddress",
        "c2jName" : "IpAddress",
        "c2jShape" : "IpAddress",
        "variable" : {
          "variableName" : "ipAddress",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A valid IPv4 address within the address range of the specified subnet.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "ipAddress",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "IpAddress",
          "marshallLocationName" : "IpAddress",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "list" : false,
        "simple" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A valid IPv4 address within the address range of the specified subnet.</p>\n@param ipAddress A valid IPv4 address within the address range of the specified subnet.*/",
        "getterDocumentation" : "/**<p>A valid IPv4 address within the address range of the specified subnet.</p>\n@return A valid IPv4 address within the address range of the specified subnet.*/",
        "fluentSetterDocumentation" : "/**<p>A valid IPv4 address within the address range of the specified subnet.</p>\n@param ipAddress A valid IPv4 address within the address range of the specified subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A valid IPv4 address within the address range of the specified subnet.</p>\n@param ipAddress A valid IPv4 address within the address range of the specified subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p> Up to 5 VPC security group IDs, of the form \"sg-xxxxxxxx\". These must be for the same VPC as subnet specified. </p>",
        "name" : "SecurityGroups",
        "c2jName" : "SecurityGroups",
        "c2jShape" : "SecurityGroups",
        "variable" : {
          "variableName" : "securityGroups",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p> Up to 5 VPC security group IDs, of the form \"sg-xxxxxxxx\". These must be for the same VPC as subnet specified. </p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "securityGroups",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SecurityGroups",
          "marshallLocationName" : "SecurityGroups",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
[...]
