{
  "metadata" : {
    "apiVersion" : "2015-02-01",
    "protocol" : "rest-json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Elastic File System</fullname>",
    "defaultEndpoint" : "https://elasticfilesystem.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticfilesystem.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonElasticFileSystem",
    "syncClient" : "AmazonElasticFileSystemClient",
    "asyncInterface" : "AmazonElasticFileSystemAsync",
    "asyncClient" : "AmazonElasticFileSystemAsyncClient",
    "packageName" : "com.amazonaws.services.elasticfilesystem",
    "packagePath" : "com/amazonaws/services/elasticfilesystem",
    "serviceAbbreviation" : "EFS",
    "serviceFullName" : "Amazon Elastic File System",
    "hasApiWithStreamInput" : false,
    "contentType" : "",
    "jsonVersion" : "1.1",
    "endpointPrefix" : "elasticfilesystem",
    "signingName" : "elasticfilesystem",
    "asyncClientBuilderClassName" : "AmazonElasticFileSystemAsyncClientBuilder",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "syncClientBuilderClassName" : "AmazonElasticFileSystemClientBuilder",
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "cucumberModuleInjectorClassName" : "AmazonElasticFileSystemModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticfilesystem.smoketests",
    "serviceName" : "EFS"
  },
  "operations" : {
    "CreateFileSystem" : {
      "documentation" : "<p>Creates a new, empty file system. The operation requires a creation token in the request that Amazon EFS uses to ensure idempotent creation (calling the operation with same creation token has no effect). If a file system does not currently exist that is owned by the caller's AWS account with the specified creation token, this operation does the following:</p> <ul> <li> <p>Creates a new, empty file system. The file system will have an Amazon EFS assigned ID, and an initial lifecycle state <code>creating</code>.</p> </li> <li> <p>Returns with the description of the created file system.</p> </li> </ul> <p>Otherwise, this operation returns a <code>FileSystemAlreadyExists</code> error with the ID of the existing file system.</p> <note> <p>For basic use cases, you can use a randomly generated UUID for the creation token.</p> </note> <p> The idempotent operation allows you to retry a <code>CreateFileSystem</code> call without risk of creating an extra file system. This can happen when an initial call fails in a way that leaves it uncertain whether or not a file system was actually created. An example might be that a transport level timeout occurred or your connection was reset. As long as you use the same creation token, if the initial call had succeeded in creating a file system, the client can learn of its existence from the <code>FileSystemAlreadyExists</code> error.</p> <note> <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still <code>creating</code>. You can check the file system creation status by calling the <a>DescribeFileSystems</a> operation, which among other things returns the file system state.</p> </note> <p>This operation also takes an optional <code>PerformanceMode</code> parameter that you choose for your file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. The performance mode can't be changed after the file system has been created. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/performance.html#performancemodes.html\">Amazon EFS: Performance Modes</a>.</p> <p>After the file system is fully created, Amazon EFS sets its lifecycle state to <code>available</code>, at which point you can create one or more mount targets for the file system in your VPC. For more information, see <a>CreateMountTarget</a>. You mount your Amazon EFS file system on an EC2 instances in your VPC via the mount target. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p> <p> This operation requires permissions for the <code>elasticfilesystem:CreateFileSystem</code> action. </p>",
      "operationName" : "CreateFileSystem",
      "deprecated" : false,
      "input" : {
        "variableName" : "createFileSystemRequest",
        "variableType" : "CreateFileSystemRequest",
        "variableDeclarationType" : "CreateFileSystemRequest",
        "documentation" : "",
        "simpleType" : "CreateFileSystemRequest",
        "variableSetterType" : "CreateFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateFileSystemResult",
        "documentation" : "<p>Description of the file system.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemAlreadyExistsException",
        "documentation" : "<p>Returned if the file system you are trying to create already exists, with the creation token you provided.</p>"
      }, {
        "exceptionName" : "FileSystemLimitExceededException",
        "documentation" : "<p>Returned if the AWS account has already created maximum number of file systems allowed per account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateFileSystemResult",
      "asyncReturnType" : "CreateFileSystemResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFileSystemResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFileSystemRequest, CreateFileSystemResult>",
      "authenticated" : true,
      "methodName" : "createFileSystem"
    },
    "CreateMountTarget" : {
      "documentation" : "<p>Creates a mount target for a file system. You can then mount the file system on EC2 instances via the mount target.</p> <p>You can create one mount target in each Availability Zone in your VPC. All EC2 instances in a VPC within a given Availability Zone share a single mount target for a given file system. If you have multiple subnets in an Availability Zone, you create a mount target in one of the subnets. EC2 instances do not need to be in the same subnet as the mount target in order to access their file system. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p> <p>In the request, you also specify a file system ID for which you are creating the mount target and the file system's lifecycle state must be <code>available</code>. For more information, see <a>DescribeFileSystems</a>.</p> <p>In the request, you also provide a subnet ID, which determines the following:</p> <ul> <li> <p>VPC in which Amazon EFS creates the mount target</p> </li> <li> <p>Availability Zone in which Amazon EFS creates the mount target</p> </li> <li> <p>IP address range from which Amazon EFS selects the IP address of the mount target (if you don't specify an IP address in the request)</p> </li> </ul> <p>After creating the mount target, Amazon EFS returns a response that includes, a <code>MountTargetId</code> and an <code>IpAddress</code>. You use this IP address when mounting the file system in an EC2 instance. You can also use the mount target's DNS name when mounting the file system. The EC2 instance on which you mount the file system via the mount target can resolve the mount target's DNS name to its IP address. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/how-it-works.html#how-it-works-implementation\">How it Works: Implementation Overview</a>. </p> <p>Note that you can create mount targets for a file system in only one VPC, and there can be only one mount target per Availability Zone. That is, if the file system already has one or more mount targets created for it, the subnet specified in the request to add another mount target must meet the following requirements:</p> <ul> <li> <p>Must belong to the same VPC as the subnets of the existing mount targets</p> </li> <li> <p>Must not be in the same Availability Zone as any of the subnets of the existing mount targets</p> </li> </ul> <p>If the request satisfies the requirements, Amazon EFS does the following:</p> <ul> <li> <p>Creates a new mount target in the specified subnet.</p> </li> <li> <p>Also creates a new network interface in the subnet as follows:</p> <ul> <li> <p>If the request provides an <code>IpAddress</code>, Amazon EFS assigns that IP address to the network interface. Otherwise, Amazon EFS assigns a free address in the subnet (in the same way that the Amazon EC2 <code>CreateNetworkInterface</code> call does when a request does not specify a primary private IP address).</p> </li> <li> <p>If the request provides <code>SecurityGroups</code>, this network interface is associated with those security groups. Otherwise, it belongs to the default security group for the subnet's VPC.</p> </li> <li> <p>Assigns the description <code>Mount target <i>fsmt-id</i> for file system <i>fs-id</i> </code> where <code> <i>fsmt-id</i> </code> is the mount target ID, and <code> <i>fs-id</i> </code> is the <code>FileSystemId</code>.</p> </li> <li> <p>Sets the <code>requesterManaged</code> property of the network interface to <code>true</code>, and the <code>requesterId</code> value to <code>EFS</code>.</p> </li> </ul> <p>Each Amazon EFS mount target has one corresponding requestor-managed EC2 network interface. After the network interface is created, Amazon EFS sets the <code>NetworkInterfaceId</code> field in the mount target's description to the network interface ID, and the <code>IpAddress</code> field to its address. If network interface creation fails, the entire <code>CreateMountTarget</code> operation fails.</p> </li> </ul> <note> <p>The <code>CreateMountTarget</code> call returns only after creating the network interface, but while the mount target state is still <code>creating</code>. You can check the mount target creation status by calling the <a>DescribeFileSystems</a> operation, which among other things returns the mount target state.</p> </note> <p>We recommend you create a mount target in each of the Availability Zones. There are cost considerations for using a file system in an Availability Zone through a mount target created in another Availability Zone. For more information, see <a href=\"http://aws.amazon.com/efs/\">Amazon EFS</a>. In addition, by always using a mount target local to the instance's Availability Zone, you eliminate a partial failure scenario. If the Availability Zone in which your mount target is created goes down, then you won't be able to access your file system through that mount target. </p> <p>This operation requires permissions for the following action on the file system:</p> <ul> <li> <p> <code>elasticfilesystem:CreateMountTarget</code> </p> </li> </ul> <p>This operation also requires permissions for the following Amazon EC2 actions:</p> <ul> <li> <p> <code>ec2:DescribeSubnets</code> </p> </li> <li> <p> <code>ec2:DescribeNetworkInterfaces</code> </p> </li> <li> <p> <code>ec2:CreateNetworkInterface</code> </p> </li> </ul>",
      "operationName" : "CreateMountTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "createMountTargetRequest",
        "variableType" : "CreateMountTargetRequest",
        "variableDeclarationType" : "CreateMountTargetRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateMountTargetRequest",
        "variableSetterType" : "CreateMountTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateMountTargetResult",
        "documentation" : "<p>Provides a description of a mount target.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      }, {
        "exceptionName" : "IncorrectFileSystemLifeCycleStateException",
        "documentation" : "<p>Returned if the file system's life cycle state is not \"created\".</p>"
      }, {
        "exceptionName" : "MountTargetConflictException",
        "documentation" : "<p>Returned if the mount target would violate one of the specified restrictions based on the file system's existing mount targets.</p>"
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>Returned if there is no subnet with ID <code>SubnetId</code> provided in the request.</p>"
      }, {
        "exceptionName" : "NoFreeAddressesInSubnetException",
        "documentation" : "<p>Returned if <code>IpAddress</code> was not specified in the request and there are no free IP addresses in the subnet.</p>"
      }, {
        "exceptionName" : "IpAddressInUseException",
        "documentation" : "<p>Returned if the request specified an <code>IpAddress</code> that is already in use in the subnet.</p>"
      }, {
        "exceptionName" : "NetworkInterfaceLimitExceededException",
        "documentation" : "<p> The calling account has reached the ENI limit for the specific AWS region. Client should try to delete some ENIs or get its account limit raised. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Appendix_Limits.html\">Amazon VPC Limits</a> in the Amazon Virtual Private Cloud User Guide (see the Network interfaces per VPC entry in the table). </p>"
      }, {
        "exceptionName" : "SecurityGroupLimitExceededException",
        "documentation" : "<p>Returned if the size of <code>SecurityGroups</code> specified in the request is greater than five.</p>"
      }, {
        "exceptionName" : "SecurityGroupNotFoundException",
        "documentation" : "<p>Returned if one of the specified security groups does not exist in the subnet's VPC.</p>"
      }, {
        "exceptionName" : "UnsupportedAvailabilityZoneException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateMountTargetResult",
      "asyncReturnType" : "CreateMountTargetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMountTargetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMountTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMountTargetRequest, CreateMountTargetResult>",
      "authenticated" : true,
      "methodName" : "createMountTarget"
    },
    "CreateTags" : {
      "documentation" : "<p>Creates or overwrites tags associated with a file system. Each tag is a key-value pair. If a tag key specified in the request already exists on the file system, this operation overwrites its value with the value provided in the request. If you add the <code>Name</code> tag to your file system, Amazon EFS returns it in the response to the <a>DescribeFileSystems</a> operation. </p> <p>This operation requires permission for the <code>elasticfilesystem:CreateTags</code> action.</p>",
      "operationName" : "CreateTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "variableDeclarationType" : "CreateTagsRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateTagsResult",
      "asyncReturnType" : "CreateTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "authenticated" : true,
      "methodName" : "createTags"
    },
    "DeleteFileSystem" : {
      "documentation" : "<p>Deletes a file system, permanently severing access to its contents. Upon return, the file system no longer exists and you can't access any contents of the deleted file system.</p> <p> You can't delete a file system that is in use. That is, if the file system has any mount targets, you must first delete them. For more information, see <a>DescribeMountTargets</a> and <a>DeleteMountTarget</a>. </p> <note> <p>The <code>DeleteFileSystem</code> call returns while the file system state is still <code>deleting</code>. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> operation, which returns a list of file systems in your account. If you pass file system ID or creation token for the deleted file system, the <a>DescribeFileSystems</a> returns a <code>404 FileSystemNotFound</code> error.</p> </note> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteFileSystem</code> action.</p>",
      "operationName" : "DeleteFileSystem",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteFileSystemRequest",
        "variableType" : "DeleteFileSystemRequest",
        "variableDeclarationType" : "DeleteFileSystemRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteFileSystemRequest",
        "variableSetterType" : "DeleteFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteFileSystemResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      }, {
        "exceptionName" : "FileSystemInUseException",
        "documentation" : "<p>Returned if a file system has mount targets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteFileSystemResult",
      "asyncReturnType" : "DeleteFileSystemResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFileSystemResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFileSystemRequest, DeleteFileSystemResult>",
      "authenticated" : true,
      "methodName" : "deleteFileSystem"
    },
    "DeleteMountTarget" : {
      "documentation" : "<p>Deletes the specified mount target.</p> <p>This operation forcibly breaks any mounts of the file system via the mount target that is being deleted, which might disrupt instances or applications using those mounts. To avoid applications getting cut off abruptly, you might consider unmounting any mounts of the mount target, if feasible. The operation also deletes the associated network interface. Uncommitted writes may be lost, but breaking a mount target using this operation does not corrupt the file system itself. The file system you created remains. You can mount an EC2 instance in your VPC via another mount target.</p> <p>This operation requires permissions for the following action on the file system:</p> <ul> <li> <p> <code>elasticfilesystem:DeleteMountTarget</code> </p> </li> </ul> <note> <p>The <code>DeleteMountTarget</code> call returns while the mount target state is still <code>deleting</code>. You can check the mount target deletion by calling the <a>DescribeMountTargets</a> operation, which returns a list of mount target descriptions for the given file system. </p> </note> <p>The operation also requires permissions for the following Amazon EC2 action on the mount target's network interface:</p> <ul> <li> <p> <code>ec2:DeleteNetworkInterface</code> </p> </li> </ul>",
      "operationName" : "DeleteMountTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteMountTargetRequest",
        "variableType" : "DeleteMountTargetRequest",
        "variableDeclarationType" : "DeleteMountTargetRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteMountTargetRequest",
        "variableSetterType" : "DeleteMountTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteMountTargetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The service timed out trying to fulfill the request, and the client should try the call again.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteMountTargetResult",
      "asyncReturnType" : "DeleteMountTargetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMountTargetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMountTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMountTargetRequest, DeleteMountTargetResult>",
      "authenticated" : true,
      "methodName" : "deleteMountTarget"
    },
    "DeleteTags" : {
      "documentation" : "<p>Deletes the specified tags from a file system. If the <code>DeleteTags</code> request includes a tag key that does not exist, Amazon EFS ignores it and doesn't cause an error. For more information about tags and related restrictions, see <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteTags</code> action.</p>",
      "operationName" : "DeleteTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "variableDeclarationType" : "DeleteTagsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteTagsResult",
      "asyncReturnType" : "DeleteTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "authenticated" : true,
      "methodName" : "deleteTags"
    },
    "DescribeFileSystems" : {
      "documentation" : "<p>Returns the description of a specific Amazon EFS file system if either the file system <code>CreationToken</code> or the <code>FileSystemId</code> is provided. Otherwise, it returns descriptions of all file systems owned by the caller's AWS account in the AWS Region of the endpoint that you're calling.</p> <p> When retrieving all file system descriptions, you can optionally specify the <code>MaxItems</code> parameter to limit the number of descriptions in a response. If more file system descriptions remain, Amazon EFS returns a <code>NextMarker</code>, an opaque token, in the response. In this case, you should send a subsequent request with the <code>Marker</code> request parameter set to the value of <code>NextMarker</code>. </p> <p>To retrieve a list of your file system descriptions, this operation is used in an iterative process, where <code>DescribeFileSystems</code> is called first without the <code>Marker</code> and then the operation continues to call it with the <code>Marker</code> parameter set to the value of the <code>NextMarker</code> from the previous response until the response has no <code>NextMarker</code>. </p> <p>The implementation may return fewer than <code>MaxItems</code> file system descriptions while still including a <code>NextMarker</code> value. </p> <p> The order of file systems returned in the response of one <code>DescribeFileSystems</code> call and the order of file systems returned across the responses of a multi-call iteration is unspecified. </p> <p> This operation requires permissions for the <code>elasticfilesystem:DescribeFileSystems</code> action. </p>",
      "operationName" : "DescribeFileSystems",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeFileSystemsRequest",
        "variableType" : "DescribeFileSystemsRequest",
        "variableDeclarationType" : "DescribeFileSystemsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeFileSystemsRequest",
        "variableSetterType" : "DescribeFileSystemsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeFileSystemsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeFileSystemsResult",
      "asyncReturnType" : "DescribeFileSystemsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFileSystemsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFileSystemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFileSystemsRequest, DescribeFileSystemsResult>",
      "authenticated" : true,
      "methodName" : "describeFileSystems"
    },
    "DescribeMountTargetSecurityGroups" : {
      "documentation" : "<p>Returns the security groups currently in effect for a mount target. This operation requires that the network interface of the mount target has been created and the lifecycle state of the mount target is not <code>deleted</code>.</p> <p>This operation requires permissions for the following actions:</p> <ul> <li> <p> <code>elasticfilesystem:DescribeMountTargetSecurityGroups</code> action on the mount target's file system. </p> </li> <li> <p> <code>ec2:DescribeNetworkInterfaceAttribute</code> action on the mount target's network interface. </p> </li> </ul>",
      "operationName" : "DescribeMountTargetSecurityGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeMountTargetSecurityGroupsRequest",
        "variableType" : "DescribeMountTargetSecurityGroupsRequest",
        "variableDeclarationType" : "DescribeMountTargetSecurityGroupsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeMountTargetSecurityGroupsRequest",
        "variableSetterType" : "DescribeMountTargetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeMountTargetSecurityGroupsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      }, {
        "exceptionName" : "IncorrectMountTargetStateException",
        "documentation" : "<p>Returned if the mount target is not in the correct state for the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeMountTargetSecurityGroupsResult",
      "asyncReturnType" : "DescribeMountTargetSecurityGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMountTargetSecurityGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMountTargetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMountTargetSecurityGroupsRequest, DescribeMountTargetSecurityGroupsResult>",
      "authenticated" : true,
      "methodName" : "describeMountTargetSecurityGroups"
    },
    "DescribeMountTargets" : {
      "documentation" : "<p>Returns the descriptions of all the current mount targets, or a specific mount target, for a file system. When requesting all of the current mount targets, the order of mount targets returned in the response is unspecified.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeMountTargets</code> action, on either the file system ID that you specify in <code>FileSystemId</code>, or on the file system of the mount target that you specify in <code>MountTargetId</code>.</p>",
      "operationName" : "DescribeMountTargets",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeMountTargetsRequest",
        "variableType" : "DescribeMountTargetsRequest",
        "variableDeclarationType" : "DescribeMountTargetsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeMountTargetsRequest",
        "variableSetterType" : "DescribeMountTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeMountTargetsResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeMountTargetsResult",
      "asyncReturnType" : "DescribeMountTargetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMountTargetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMountTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMountTargetsRequest, DescribeMountTargetsResult>",
      "authenticated" : true,
      "methodName" : "describeMountTargets"
    },
    "DescribeTags" : {
      "documentation" : "<p>Returns the tags associated with a file system. The order of tags returned in the response of one <code>DescribeTags</code> call and the order of tags returned across the responses of a multi-call iteration (when using pagination) is unspecified. </p> <p> This operation requires permissions for the <code>elasticfilesystem:DescribeTags</code> action. </p>",
      "operationName" : "DescribeTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "variableDeclarationType" : "DescribeTagsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeTagsResult",
      "asyncReturnType" : "DescribeTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "authenticated" : true,
      "methodName" : "describeTags"
    },
    "ModifyMountTargetSecurityGroups" : {
      "documentation" : "<p>Modifies the set of security groups in effect for a mount target.</p> <p>When you create a mount target, Amazon EFS also creates a new network interface. For more information, see <a>CreateMountTarget</a>. This operation replaces the security groups in effect for the network interface associated with a mount target, with the <code>SecurityGroups</code> provided in the request. This operation requires that the network interface of the mount target has been created and the lifecycle state of the mount target is not <code>deleted</code>. </p> <p>The operation requires permissions for the following actions:</p> <ul> <li> <p> <code>elasticfilesystem:ModifyMountTargetSecurityGroups</code> action on the mount target's file system. </p> </li> <li> <p> <code>ec2:ModifyNetworkInterfaceAttribute</code> action on the mount target's network interface. </p> </li> </ul>",
      "operationName" : "ModifyMountTargetSecurityGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyMountTargetSecurityGroupsRequest",
        "variableType" : "ModifyMountTargetSecurityGroupsRequest",
        "variableDeclarationType" : "ModifyMountTargetSecurityGroupsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyMountTargetSecurityGroupsRequest",
        "variableSetterType" : "ModifyMountTargetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyMountTargetSecurityGroupsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      }, {
        "exceptionName" : "IncorrectMountTargetStateException",
        "documentation" : "<p>Returned if the mount target is not in the correct state for the operation.</p>"
      }, {
        "exceptionName" : "SecurityGroupLimitExceededException",
        "documentation" : "<p>Returned if the size of <code>SecurityGroups</code> specified in the request is greater than five.</p>"
      }, {
        "exceptionName" : "SecurityGroupNotFoundException",
        "documentation" : "<p>Returned if one of the specified security groups does not exist in the subnet's VPC.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ModifyMountTargetSecurityGroupsResult",
      "asyncReturnType" : "ModifyMountTargetSecurityGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyMountTargetSecurityGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyMountTargetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyMountTargetSecurityGroupsRequest, ModifyMountTargetSecurityGroupsResult>",
      "authenticated" : true,
      "methodName" : "modifyMountTargetSecurityGroups"
    }
  },
  "shapes" : {
    "CreateMountTargetResult" : {
      "c2jName" : "MountTargetDescription",
      "documentation" : "<p>Provides a description of a mount target.</p>",
      "shapeName" : "CreateMountTargetResult",
      "deprecated" : false,
      "required" : [ "MountTargetId", "FileSystemId", "SubnetId", "LifeCycleState" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>AWS account ID that owns the resource.</p>",
        "name" : "OwnerId",
        "c2jName" : "OwnerId",
        "c2jShape" : "AwsAccountId",
        "variable" : {
          "variableName" : "ownerId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>AWS account ID that owns the resource.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "ownerId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OwnerId",
          "marshallLocationName" : "OwnerId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>AWS account ID that owns the resource.</p>\n@param ownerId AWS account ID that owns the resource.*/",
        "getterDocumentation" : "/**<p>AWS account ID that owns the resource.</p>\n@return AWS account ID that owns the resource.*/",
        "fluentSetterDocumentation" : "/**<p>AWS account ID that owns the resource.</p>\n@param ownerId AWS account ID that owns the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>AWS account ID that owns the resource.</p>\n@param ownerId AWS account ID that owns the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>System-assigned mount target ID.</p>",
        "name" : "MountTargetId",
        "c2jName" : "MountTargetId",
        "c2jShape" : "MountTargetId",
        "variable" : {
          "variableName" : "mountTargetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>System-assigned mount target ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "mountTargetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MountTargetId",
          "marshallLocationName" : "MountTargetId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>System-assigned mount target ID.</p>\n@param mountTargetId System-assigned mount target ID.*/",
        "getterDocumentation" : "/**<p>System-assigned mount target ID.</p>\n@return System-assigned mount target ID.*/",
        "fluentSetterDocumentation" : "/**<p>System-assigned mount target ID.</p>\n@param mountTargetId System-assigned mount target ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>System-assigned mount target ID.</p>\n@param mountTargetId System-assigned mount target ID.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>ID of the file system for which the mount target is intended.</p>",
        "name" : "FileSystemId",
        "c2jName" : "FileSystemId",
        "c2jShape" : "FileSystemId",
        "variable" : {
          "variableName" : "fileSystemId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>ID of the file system for which the mount target is intended.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "fileSystemId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "FileSystemId",
          "marshallLocationName" : "FileSystemId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>ID of the file system for which the mount target is intended.</p>\n@param fileSystemId ID of the file system for which the mount target is intended.*/",
        "getterDocumentation" : "/**<p>ID of the file system for which the mount target is intended.</p>\n@return ID of the file system for which the mount target is intended.*/",
        "fluentSetterDocumentation" : "/**<p>ID of the file system for which the mount target is intended.</p>\n@param fileSystemId ID of the file system for which the mount target is intended.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>ID of the file system for which the mount target is intended.</p>\n@param fileSystemId ID of the file system for which the mount target is intended.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>ID of the mount target's subnet.</p>",
        "name" : "SubnetId",
        "c2jName" : "SubnetId",
        "c2jShape" : "SubnetId",
        "variable" : {
          "variableName" : "subnetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>ID of the mount target's subnet.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "subnetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SubnetId",
          "marshallLocationName" : "SubnetId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>ID of the mount target's subnet.</p>\n@param subnetId ID of the mount target's subnet.*/",
        "getterDocumentation" : "/**<p>ID of the mount target's subnet.</p>\n@return ID of the mount target's subnet.*/",
        "fluentSetterDocumentation" : "/**<p>ID of the mount target's subnet.</p>\n@param subnetId ID of the mount target's subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>ID of the mount target's subnet.</p>\n@param subnetId ID of the mount target's subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Lifecycle state of the mount target.</p>",
        "name" : "LifeCycleState",
        "c2jName" : "LifeCycleState",
        "c2jShape" : "LifeCycleState",
        "variable" : {
          "variableName" : "lifeCycleState",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Lifecycle state of the mount target.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "lifeCycleState",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LifeCycleState",
          "marshallLocationName" : "LifeCycleState",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "LifeCycleState",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Lifecycle state of the mount target.</p>\n@param lifeCycleState Lifecycle state of the mount target.\n@see LifeCycleState*/",
        "getterDocumentation" : "/**<p>Lifecycle state of the mount target.</p>\n@return Lifecycle state of the mount target.\n@see LifeCycleState*/",
        "fluentSetterDocumentation" : "/**<p>Lifecycle state of the mount target.</p>\n@param lifeCycleState Lifecycle state of the mount target.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LifeCycleState*/",
        "varargSetterDocumentation" : "/**<p>Lifecycle state of the mount target.</p>\n@param lifeCycleState Lifecycle state of the mount target.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LifeCycleState*/"
      }, {
        "documentation" : "<p>Address at which the file system may be mounted via the mount target.</p>",
        "name" : "IpAddress",
        "c2jName" : "IpAddress",
        "c2jShape" : "IpAddress",
        "variable" : {
          "variableName" : "ipAddress",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Address at which the file system may be mounted via the mount target.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "ipAddress",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "IpAddress",
          "marshallLocationName" : "IpAddress",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Address at which the file system may be mounted via the mount target.</p>\n@param ipAddress Address at which the file system may be mounted via the mount target.*/",
        "getterDocumentation" : "/**<p>Address at which the file system may be mounted via the mount target.</p>\n@return Address at which the file system may be mounted via the mount target.*/",
        "fluentSetterDocumentation" : "/**<p>Address at which the file system may be mounted via the mount target.</p>\n@param ipAddress Address at which the file system may be mounted via the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Address at which the file system may be mounted via the mount target.</p>\n@param ipAddress Address at which the file system may be mounted via the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>",
        "name" : "NetworkInterfaceId",
        "c2jName" : "NetworkInterfaceId",
        "c2jShape" : "NetworkInterfaceId",
        "variable" : {
          "variableName" : "networkInterfaceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "networkInterfaceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NetworkInterfaceId",
          "marshallLocationName" : "NetworkInterfaceId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>\n@param networkInterfaceId ID of the network interface that Amazon EFS created when it created the mount target.*/",
        "getterDocumentation" : "/**<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>\n@return ID of the network interface that Amazon EFS created when it created the mount target.*/",
        "fluentSetterDocumentation" : "/**<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>\n@param networkInterfaceId ID of the network interface that Amazon EFS created when it created the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>\n@param networkInterfaceId ID of the network interface that Amazon EFS created when it created the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createMountTargetResult",
        "variableType" : "CreateMountTargetResult",
        "variableDeclarationType" : "CreateMountTargetResult",
        "documentation" : null,
        "simpleType" : "CreateMountTargetResult",
        "variableSetterType" : "CreateMountTargetResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "OwnerId" : {
          "documentation" : "<p>AWS account ID that owns the resource.</p>",
          "name" : "OwnerId",
          "c2jName" : "OwnerId",
          "c2jShape" : "AwsAccountId",
          "variable" : {
            "variableName" : "ownerId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>AWS account ID that owns the resource.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "ownerId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "OwnerId",
            "marshallLocationName" : "OwnerId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>AWS account ID that owns the resource.</p>\n@param ownerId AWS account ID that owns the resource.*/",
          "getterDocumentation" : "/**<p>AWS account ID that owns the resource.</p>\n@return AWS account ID that owns the resource.*/",
          "fluentSetterDocumentation" : "/**<p>AWS account ID that owns the resource.</p>\n@param ownerId AWS account ID that owns the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>AWS account ID that owns the resource.</p>\n@param ownerId AWS account ID that owns the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "LifeCycleState" : {
          "documentation" : "<p>Lifecycle state of the mount target.</p>",
          "name" : "LifeCycleState",
          "c2jName" : "LifeCycleState",
          "c2jShape" : "LifeCycleState",
          "variable" : {
            "variableName" : "lifeCycleState",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Lifecycle state of the mount target.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "lifeCycleState",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "LifeCycleState",
            "marshallLocationName" : "LifeCycleState",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "LifeCycleState",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Lifecycle state of the mount target.</p>\n@param lifeCycleState Lifecycle state of the mount target.\n@see LifeCycleState*/",
          "getterDocumentation" : "/**<p>Lifecycle state of the mount target.</p>\n@return Lifecycle state of the mount target.\n@see LifeCycleState*/",
          "fluentSetterDocumentation" : "/**<p>Lifecycle state of the mount target.</p>\n@param lifeCycleState Lifecycle state of the mount target.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LifeCycleState*/",
          "varargSetterDocumentation" : "/**<p>Lifecycle state of the mount target.</p>\n@param lifeCycleState Lifecycle state of the mount target.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LifeCycleState*/"
        },
        "FileSystemId" : {
          "documentation" : "<p>ID of the file system for which the mount target is intended.</p>",
          "name" : "FileSystemId",
          "c2jName" : "FileSystemId",
          "c2jShape" : "FileSystemId",
          "variable" : {
            "variableName" : "fileSystemId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>ID of the file system for which the mount target is intended.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "fileSystemId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "FileSystemId",
            "marshallLocationName" : "FileSystemId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>ID of the file system for which the mount target is intended.</p>\n@param fileSystemId ID of the file system for which the mount target is intended.*/",
          "getterDocumentation" : "/**<p>ID of the file system for which the mount target is intended.</p>\n@return ID of the file system for which the mount target is intended.*/",
          "fluentSetterDocumentation" : "/**<p>ID of the file system for which the mount target is intended.</p>\n@param fileSystemId ID of the file system for which the mount target is intended.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>ID of the file system for which the mount target is intended.</p>\n@param fileSystemId ID of the file system for which the mount target is intended.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "IpAddress" : {
          "documentation" : "<p>Address at which the file system may be mounted via the mount target.</p>",
          "name" : "IpAddress",
          "c2jName" : "IpAddress",
          "c2jShape" : "IpAddress",
          "variable" : {
            "variableName" : "ipAddress",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Address at which the file system may be mounted via the mount target.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "ipAddress",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "IpAddress",
            "marshallLocationName" : "IpAddress",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Address at which the file system may be mounted via the mount target.</p>\n@param ipAddress Address at which the file system may be mounted via the mount target.*/",
          "getterDocumentation" : "/**<p>Address at which the file system may be mounted via the mount target.</p>\n@return Address at which the file system may be mounted via the mount target.*/",
          "fluentSetterDocumentation" : "/**<p>Address at which the file system may be mounted via the mount target.</p>\n@param ipAddress Address at which the file system may be mounted via the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Address at which the file system may be mounted via the mount target.</p>\n@param ipAddress Address at which the file system may be mounted via the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "SubnetId" : {
          "documentation" : "<p>ID of the mount target's subnet.</p>",
          "name" : "SubnetId",
          "c2jName" : "SubnetId",
          "c2jShape" : "SubnetId",
          "variable" : {
            "variableName" : "subnetId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>ID of the mount target's subnet.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "subnetId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SubnetId",
            "marshallLocationName" : "SubnetId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>ID of the mount target's subnet.</p>\n@param subnetId ID of the mount target's subnet.*/",
          "getterDocumentation" : "/**<p>ID of the mount target's subnet.</p>\n@return ID of the mount target's subnet.*/",
          "fluentSetterDocumentation" : "/**<p>ID of the mount target's subnet.</p>\n@param subnetId ID of the mount target's subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>ID of the mount target's subnet.</p>\n@param subnetId ID of the mount target's subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "MountTargetId" : {
          "documentation" : "<p>System-assigned mount target ID.</p>",
          "name" : "MountTargetId",
          "c2jName" : "MountTargetId",
          "c2jShape" : "MountTargetId",
          "variable" : {
            "variableName" : "mountTargetId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>System-assigned mount target ID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "mountTargetId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "MountTargetId",
            "marshallLocationName" : "MountTargetId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>System-assigned mount target ID.</p>\n@param mountTargetId System-assigned mount target ID.*/",
          "getterDocumentation" : "/**<p>System-assigned mount target ID.</p>\n@return System-assigned mount target ID.*/",
          "fluentSetterDocumentation" : "/**<p>System-assigned mount target ID.</p>\n@param mountTargetId System-assigned mount target ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>System-assigned mount target ID.</p>\n@param mountTargetId System-assigned mount target ID.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "NetworkInterfaceId" : {
          "documentation" : "<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>",
          "name" : "NetworkInterfaceId",
          "c2jName" : "NetworkInterfaceId",
          "c2jShape" : "NetworkInterfaceId",
          "variable" : {
            "variableName" : "networkInterfaceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "networkInterfaceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NetworkInterfaceId",
            "marshallLocationName" : "NetworkInterfaceId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>\n@param networkInterfaceId ID of the network interface that Amazon EFS created when it created the mount target.*/",
          "getterDocumentation" : "/**<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>\n@return ID of the network interface that Amazon EFS created when it created the mount target.*/",
          "fluentSetterDocumentation" : "/**<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>\n@param networkInterfaceId ID of the network interface that Amazon EFS created when it created the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>ID of the network interface that Amazon EFS created when it created the mount target.</p>\n@param networkInterfaceId ID of the network interface that Amazon EFS created when it created the mount target.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "MountTargetNotFoundException" : {
      "c2jName" : "MountTargetNotFound",
      "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>",
      "shapeName" : "MountTargetNotFoundException",
      "deprecated" : false,
      "required" : [ "ErrorCode" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "ErrorCode",
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "variable" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorCode",
          "marshallLocationName" : "ErrorCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param errorCode */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "mountTargetNotFoundException",
        "variableType" : "MountTargetNotFoundException",
        "variableDeclarationType" : "MountTargetNotFoundException",
        "documentation" : null,
        "simpleType" : "MountTargetNotFoundException",
        "variableSetterType" : "MountTargetNotFoundException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "MountTargetNotFound",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ErrorCode" : {
          "documentation" : "",
          "name" : "ErrorCode",
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "variable" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ErrorCode",
            "marshallLocationName" : "ErrorCode",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param errorCode */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeMountTargetsResult" : {
      "c2jName" : "DescribeMountTargetsResponse",
      "documentation" : "<p/>",
      "shapeName" : "DescribeMountTargetsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>If the request included the <code>Marker</code>, the response returns that value in this field.</p>",
        "name" : "Marker",
        "c2jName" : "Marker",
        "c2jShape" : "Marker",
        "variable" : {
          "variableName" : "marker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>If the request included the <code>Marker</code>, the response returns that value in this field.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "marker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Marker",
          "marshallLocationName" : "Marker",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>If the request included the <code>Marker</code>, the response returns that value in this field.</p>\n@param marker If the request included the <code>Marker</code>, the response returns that value in this field.*/",
        "getterDocumentation" : "/**<p>If the request included the <code>Marker</code>, the response returns that value in this field.</p>\n@return If the request included the <code>Marker</code>, the response returns that value in this field.*/",
        "fluentSetterDocumentation" : "/**<p>If the request included the <code>Marker</code>, the response returns that value in this field.</p>\n@param marker If the request included the <code>Marker</code>, the response returns that value in this field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>If the request included the <code>Marker</code>, the response returns that value in this field.</p>\n@param marker If the request included the <code>Marker</code>, the response returns that value in this field.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.</p>",
        "name" : "MountTargets",
        "c2jName" : "MountTargets",
        "c2jShape" : "MountTargetDescriptions",
        "variable" : {
          "variableName" : "mountTargets",
          "variableType" : "java.util.List<MountTargetDescription>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<MountTargetDescription>",
          "documentation" : "<p>Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.</p>",
          "simpleType" : "List<MountTargetDescription>",
          "variableSetterType" : "java.util.Collection<MountTargetDescription>"
        },
        "setterModel" : {
          "variableName" : "mountTargets",
          "variableType" : "java.util.List<MountTargetDescription>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<MountTargetDescription>",
          "documentation" : "",
          "simpleType" : "List<MountTargetDescription>",
          "variableSetterType" : "java.util.Collection<MountTargetDescription>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<MountTargetDescription>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MountTargets",
          "marshallLocationName" : "MountTargets",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "MountTargetDescription",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "MountTargetDescription",
            "variable" : {
              "variableName" : "member",
              "variableType" : "MountTargetDescription",
              "variableDeclarationType" : "MountTargetDescription",
              "documentation" : "",
              "simpleType" : "MountTargetDescription",
              "variableSetterType" : "MountTargetDescription"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "MountTargetDescription",
              "variableDeclarationType" : "MountTargetDescription",
              "documentation" : "",
              "simpleType" : "MountTargetDescription",
              "variableSetterType" : "MountTargetDescription"
            },
            "getterModel" : {
              "returnType" : "MountTargetDescription",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "MountTargetDescription",
          "templateType" : "java.util.List<MountTargetDescription>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<MountTargetDescription>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.</p>\n@param mountTargets Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.*/",
        "getterDocumentation" : "/**<p>Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.</p>\n@return Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.*/",
        "fluentSetterDocumentation" : "/**<p>Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.</p>\n@param mountTargets Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMountTargets(java.util.Collection)} or {@link #withMountTargets(java.util.Collection)} if you want to override the existing values.</p>\n@param mountTargets Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.</p>",
        "name" : "NextMarker",
        "c2jName" : "NextMarker",
        "c2jShape" : "Marker",
        "variable" : {
          "variableName" : "nextMarker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextMarker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextMarker",
          "marshallLocationName" : "NextMarker",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.</p>\n@param nextMarker If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.*/",
        "getterDocumentation" : "/**<p>If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.</p>\n@return If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.*/",
        "fluentSetterDocumentation" : "/**<p>If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.</p>\n@param nextMarker If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.</p>\n@param nextMarker If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeMountTargetsResult",
        "variableType" : "DescribeMountTargetsResult",
        "variableDeclarationType" : "DescribeMountTargetsResult",
        "documentation" : null,
        "simpleType" : "DescribeMountTargetsResult",
        "variableSetterType" : "DescribeMountTargetsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "MountTargets" : {
          "documentation" : "<p>Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.</p>",
          "name" : "MountTargets",
          "c2jName" : "MountTargets",
          "c2jShape" : "MountTargetDescriptions",
          "variable" : {
            "variableName" : "mountTargets",
            "variableType" : "java.util.List<MountTargetDescription>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<MountTargetDescription>",
            "documentation" : "<p>Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.</p>",
            "simpleType" : "List<MountTargetDescription>",
            "variableSetterType" : "java.util.Collection<MountTargetDescription>"
          },
          "setterModel" : {
            "variableName" : "mountTargets",
            "variableType" : "java.util.List<MountTargetDescription>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<MountTargetDescription>",
            "documentation" : "",
            "simpleType" : "List<MountTargetDescription>",
            "variableSetterType" : "java.util.Collection<MountTargetDescription>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<MountTargetDescription>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "MountTargets",
            "marshallLocationName" : "MountTargets",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "MountTargetDescription",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "MountTargetDescription",
              "variable" : {
                "variableName" : "member",
                "variableType" : "MountTargetDescription",
                "variableDeclarationType" : "MountTargetDescription",
                "documentation" : "",
                "simpleType" : "MountTargetDescription",
                "variableSetterType" : "MountTargetDescription"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "MountTargetDescription",
                "variableDeclarationType" : "MountTargetDescription",
                "documentation" : "",
                "simpleType" : "MountTargetDescription",
                "variableSetterType" : "MountTargetDescription"
              },
[...]
