{
  "metadata" : {
    "apiVersion" : "2015-04-08",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon WorkSpaces Service</fullname> <p>This is the <i>Amazon WorkSpaces API Reference</i>. This guide provides detailed information about Amazon WorkSpaces operations, data types, parameters, and errors.</p>",
    "defaultEndpoint" : "https://workspaces.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workspaces.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonWorkspaces",
    "syncClient" : "AmazonWorkspacesClient",
    "asyncInterface" : "AmazonWorkspacesAsync",
    "asyncClient" : "AmazonWorkspacesAsyncClient",
    "packageName" : "com.amazonaws.services.workspaces",
    "packagePath" : "com/amazonaws/services/workspaces",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkSpaces",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "workspaces",
    "signingName" : "workspaces",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonWorkspacesClientBuilder",
    "asyncClientBuilderClassName" : "AmazonWorkspacesAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonWorkspacesModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.workspaces.smoketests",
    "serviceName" : "Amazon WorkSpaces",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "CreateTags" : {
      "documentation" : "<p>Creates tags for a WorkSpace.</p>",
      "operationName" : "CreateTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "variableDeclarationType" : "CreateTagsRequest",
        "documentation" : "<p>The request of the create tags action.</p>",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : "<p>The result of the create tags action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateTagsResult",
      "asyncReturnType" : "CreateTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "authenticated" : true,
      "methodName" : "createTags"
    },
    "CreateWorkspaces" : {
      "documentation" : "<p>Creates one or more WorkSpaces.</p> <note> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p> </note>",
      "operationName" : "CreateWorkspaces",
      "deprecated" : false,
      "input" : {
        "variableName" : "createWorkspacesRequest",
        "variableType" : "CreateWorkspacesRequest",
        "variableDeclarationType" : "CreateWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateWorkspaces</a> operation.</p>",
        "simpleType" : "CreateWorkspacesRequest",
        "variableSetterType" : "CreateWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateWorkspacesResult",
        "documentation" : "<p>Contains the result of the <a>CreateWorkspaces</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>"
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateWorkspacesResult",
      "asyncReturnType" : "CreateWorkspacesResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspacesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspacesRequest, CreateWorkspacesResult>",
      "authenticated" : true,
      "methodName" : "createWorkspaces"
    },
    "DeleteTags" : {
      "documentation" : "<p>Deletes tags from a WorkSpace.</p>",
      "operationName" : "DeleteTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "variableDeclarationType" : "DeleteTagsRequest",
        "documentation" : "<p>The request of the delete tags action.</p>",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : "<p>The result of the delete tags action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteTagsResult",
      "asyncReturnType" : "DeleteTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "authenticated" : true,
      "methodName" : "deleteTags"
    },
    "DescribeTags" : {
      "documentation" : "<p>Describes tags for a WorkSpace.</p>",
      "operationName" : "DescribeTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "variableDeclarationType" : "DescribeTagsRequest",
        "documentation" : "<p>The request of the describe tags action.</p>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>The result of the describe tags action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeTagsResult",
      "asyncReturnType" : "DescribeTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "authenticated" : true,
      "methodName" : "describeTags"
    },
    "DescribeWorkspaceBundles" : {
      "documentation" : "<p>Obtains information about the WorkSpace bundles that are available to your account in the specified region.</p> <p>You can filter the results with either the <code>BundleIds</code> parameter, or the <code>Owner</code> parameter, but not both.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> request and response parameters. If more results are available, the <code>NextToken</code> response member contains a token that you pass in the next call to this operation to retrieve the next set of items.</p>",
      "operationName" : "DescribeWorkspaceBundles",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeWorkspaceBundlesRequest",
        "variableType" : "DescribeWorkspaceBundlesRequest",
        "variableDeclarationType" : "DescribeWorkspaceBundlesRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeWorkspaceBundles</a> operation.</p>",
        "simpleType" : "DescribeWorkspaceBundlesRequest",
        "variableSetterType" : "DescribeWorkspaceBundlesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeWorkspaceBundlesResult",
        "documentation" : "<p>Contains the results of the <a>DescribeWorkspaceBundles</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeWorkspaceBundlesResult",
      "asyncReturnType" : "DescribeWorkspaceBundlesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceBundlesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceBundlesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceBundlesRequest, DescribeWorkspaceBundlesResult>",
      "authenticated" : true,
      "methodName" : "describeWorkspaceBundles"
    },
    "DescribeWorkspaceDirectories" : {
      "documentation" : "<p>Retrieves information about the AWS Directory Service directories in the region that are registered with Amazon WorkSpaces and are available to your account.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> request and response parameters. If more results are available, the <code>NextToken</code> response member contains a token that you pass in the next call to this operation to retrieve the next set of items.</p>",
      "operationName" : "DescribeWorkspaceDirectories",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeWorkspaceDirectoriesRequest",
        "variableType" : "DescribeWorkspaceDirectoriesRequest",
        "variableDeclarationType" : "DescribeWorkspaceDirectoriesRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeWorkspaceDirectories</a> operation.</p>",
        "simpleType" : "DescribeWorkspaceDirectoriesRequest",
        "variableSetterType" : "DescribeWorkspaceDirectoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeWorkspaceDirectoriesResult",
        "documentation" : "<p>Contains the results of the <a>DescribeWorkspaceDirectories</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeWorkspaceDirectoriesResult",
      "asyncReturnType" : "DescribeWorkspaceDirectoriesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceDirectoriesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceDirectoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceDirectoriesRequest, DescribeWorkspaceDirectoriesResult>",
      "authenticated" : true,
      "methodName" : "describeWorkspaceDirectories"
    },
    "DescribeWorkspaces" : {
      "documentation" : "<p>Obtains information about the specified WorkSpaces. </p> <p>Only one of the filter parameters, such as <code>BundleId</code>, <code>DirectoryId</code>, or <code>WorkspaceIds</code>, can be specified at a time.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> request and response parameters. If more results are available, the <code>NextToken</code> response member contains a token that you pass in the next call to this operation to retrieve the next set of items.</p>",
      "operationName" : "DescribeWorkspaces",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeWorkspacesRequest",
        "variableType" : "DescribeWorkspacesRequest",
        "variableDeclarationType" : "DescribeWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeWorkspaces</a> operation.</p>",
        "simpleType" : "DescribeWorkspacesRequest",
        "variableSetterType" : "DescribeWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeWorkspacesResult",
        "documentation" : "<p>Contains the results for the <a>DescribeWorkspaces</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeWorkspacesResult",
      "asyncReturnType" : "DescribeWorkspacesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspacesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspacesRequest, DescribeWorkspacesResult>",
      "authenticated" : true,
      "methodName" : "describeWorkspaces"
    },
    "RebootWorkspaces" : {
      "documentation" : "<p>Reboots the specified WorkSpaces.</p> <p>To be able to reboot a WorkSpace, the WorkSpace must have a <b>State</b> of <code>AVAILABLE</code>, <code>IMPAIRED</code>, or <code>INOPERABLE</code>.</p> <note> <p>This operation is asynchronous and will return before the WorkSpaces have rebooted.</p> </note>",
      "operationName" : "RebootWorkspaces",
      "deprecated" : false,
      "input" : {
        "variableName" : "rebootWorkspacesRequest",
        "variableType" : "RebootWorkspacesRequest",
        "variableDeclarationType" : "RebootWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>RebootWorkspaces</a> operation.</p>",
        "simpleType" : "RebootWorkspacesRequest",
        "variableSetterType" : "RebootWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RebootWorkspacesResult",
        "documentation" : "<p>Contains the results of the <a>RebootWorkspaces</a> operation.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RebootWorkspacesResult",
      "asyncReturnType" : "RebootWorkspacesResult",
      "asyncFutureType" : "java.util.concurrent.Future<RebootWorkspacesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RebootWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebootWorkspacesRequest, RebootWorkspacesResult>",
      "authenticated" : true,
      "methodName" : "rebootWorkspaces"
    },
    "RebuildWorkspaces" : {
      "documentation" : "<p>Rebuilds the specified WorkSpaces.</p> <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss of data. Rebuilding a WorkSpace causes the following to occur:</p> <ul> <li>The system is restored to the image of the bundle that the WorkSpace is created from. Any applications that have been installed, or system settings that have been made since the WorkSpace was created will be lost.</li> <li>The data drive (D drive) is re-created from the last automatic snapshot taken of the data drive. The current contents of the data drive are overwritten. Automatic snapshots of the data drive are taken every 12 hours, so the snapshot can be as much as 12 hours old.</li> </ul> <p>To be able to rebuild a WorkSpace, the WorkSpace must have a <b>State</b> of <code>AVAILABLE</code> or <code>ERROR</code>.</p> <note> <p>This operation is asynchronous and will return before the WorkSpaces have been completely rebuilt.</p> </note>",
      "operationName" : "RebuildWorkspaces",
      "deprecated" : false,
      "input" : {
        "variableName" : "rebuildWorkspacesRequest",
        "variableType" : "RebuildWorkspacesRequest",
        "variableDeclarationType" : "RebuildWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>RebuildWorkspaces</a> operation.</p>",
        "simpleType" : "RebuildWorkspacesRequest",
        "variableSetterType" : "RebuildWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RebuildWorkspacesResult",
        "documentation" : "<p>Contains the results of the <a>RebuildWorkspaces</a> operation.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RebuildWorkspacesResult",
      "asyncReturnType" : "RebuildWorkspacesResult",
      "asyncFutureType" : "java.util.concurrent.Future<RebuildWorkspacesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RebuildWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebuildWorkspacesRequest, RebuildWorkspacesResult>",
      "authenticated" : true,
      "methodName" : "rebuildWorkspaces"
    },
    "TerminateWorkspaces" : {
      "documentation" : "<p>Terminates the specified WorkSpaces.</p> <p>Terminating a WorkSpace is a permanent action and cannot be undone. The user's data is not maintained and will be destroyed. If you need to archive any user data, contact Amazon Web Services before terminating the WorkSpace.</p> <p>You can terminate a WorkSpace that is in any state except <code>SUSPENDED</code>.</p> <note> <p>This operation is asynchronous and will return before the WorkSpaces have been completely terminated.</p> </note>",
      "operationName" : "TerminateWorkspaces",
      "deprecated" : false,
      "input" : {
        "variableName" : "terminateWorkspacesRequest",
        "variableType" : "TerminateWorkspacesRequest",
        "variableDeclarationType" : "TerminateWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>TerminateWorkspaces</a> operation.</p>",
        "simpleType" : "TerminateWorkspacesRequest",
        "variableSetterType" : "TerminateWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TerminateWorkspacesResult",
        "documentation" : "<p>Contains the results of the <a>TerminateWorkspaces</a> operation.</p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "TerminateWorkspacesResult",
      "asyncReturnType" : "TerminateWorkspacesResult",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateWorkspacesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateWorkspacesRequest, TerminateWorkspacesResult>",
      "authenticated" : true,
      "methodName" : "terminateWorkspaces"
    }
  },
  "shapes" : {
    "DescribeTagsRequest" : {
      "c2jName" : "DescribeTagsRequest",
      "documentation" : "<p>The request of the describe tags action.</p>",
      "shapeName" : "DescribeTagsRequest",
      "deprecated" : false,
      "required" : [ "ResourceId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The resource ID of the request.</p>",
        "name" : "ResourceId",
        "c2jName" : "ResourceId",
        "c2jShape" : "NonEmptyString",
        "variable" : {
          "variableName" : "resourceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The resource ID of the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "resourceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ResourceId",
          "marshallLocationName" : "ResourceId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.*/",
        "getterDocumentation" : "/**<p>The resource ID of the request.</p>\n@return The resource ID of the request.*/",
        "fluentSetterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "variableDeclarationType" : "DescribeTagsRequest",
        "documentation" : null,
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "marshaller" : {
        "action" : "DescribeTags",
        "verb" : "POST",
        "target" : "WorkspacesService.DescribeTags",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ResourceId" : {
          "documentation" : "<p>The resource ID of the request.</p>",
          "name" : "ResourceId",
          "c2jName" : "ResourceId",
          "c2jShape" : "NonEmptyString",
          "variable" : {
            "variableName" : "resourceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The resource ID of the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "resourceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ResourceId",
            "marshallLocationName" : "ResourceId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.*/",
          "getterDocumentation" : "/**<p>The resource ID of the request.</p>\n@return The resource ID of the request.*/",
          "fluentSetterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeTagsResult" : {
      "c2jName" : "DescribeTagsResult",
      "documentation" : "<p>The result of the describe tags action.</p>",
      "shapeName" : "DescribeTagsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The list of tags.</p>",
        "name" : "TagList",
        "c2jName" : "TagList",
        "c2jShape" : "TagList",
        "variable" : {
          "variableName" : "tagList",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "documentation" : "<p>The list of tags.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "setterModel" : {
          "variableName" : "tagList",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TagList",
          "marshallLocationName" : "TagList",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Tag",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "Tag",
          "templateType" : "java.util.List<Tag>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The list of tags.</p>\n@param tagList The list of tags.*/",
        "getterDocumentation" : "/**<p>The list of tags.</p>\n@return The list of tags.*/",
        "fluentSetterDocumentation" : "/**<p>The list of tags.</p>\n@param tagList The list of tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The list of tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagList(java.util.Collection)} or {@link #withTagList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagList The list of tags.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeTagsResult",
        "variableType" : "DescribeTagsResult",
        "variableDeclarationType" : "DescribeTagsResult",
        "documentation" : null,
        "simpleType" : "DescribeTagsResult",
        "variableSetterType" : "DescribeTagsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "TagList" : {
          "documentation" : "<p>The list of tags.</p>",
          "name" : "TagList",
          "c2jName" : "TagList",
          "c2jShape" : "TagList",
          "variable" : {
            "variableName" : "tagList",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "documentation" : "<p>The list of tags.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "setterModel" : {
            "variableName" : "tagList",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TagList",
            "marshallLocationName" : "TagList",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Tag",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "Tag",
            "templateType" : "java.util.List<Tag>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The list of tags.</p>\n@param tagList The list of tags.*/",
          "getterDocumentation" : "/**<p>The list of tags.</p>\n@return The list of tags.*/",
          "fluentSetterDocumentation" : "/**<p>The list of tags.</p>\n@param tagList The list of tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The list of tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagList(java.util.Collection)} or {@link #withTagList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagList The list of tags.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CreateWorkspacesResult" : {
      "c2jName" : "CreateWorkspacesResult",
      "documentation" : "<p>Contains the result of the <a>CreateWorkspaces</a> operation.</p>",
      "shapeName" : "CreateWorkspacesResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>An array of structures that represent the WorkSpaces that could not be created.</p>",
        "name" : "FailedRequests",
        "c2jName" : "FailedRequests",
        "c2jShape" : "FailedCreateWorkspaceRequests",
        "variable" : {
          "variableName" : "failedRequests",
          "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
          "documentation" : "<p>An array of structures that represent the WorkSpaces that could not be created.</p>",
          "simpleType" : "List<FailedCreateWorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
        },
        "setterModel" : {
          "variableName" : "failedRequests",
          "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
          "documentation" : "",
          "simpleType" : "List<FailedCreateWorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "FailedRequests",
          "marshallLocationName" : "FailedRequests",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "FailedCreateWorkspaceRequest",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "FailedCreateWorkspaceRequest",
            "variable" : {
              "variableName" : "member",
              "variableType" : "FailedCreateWorkspaceRequest",
              "variableDeclarationType" : "FailedCreateWorkspaceRequest",
              "documentation" : "",
              "simpleType" : "FailedCreateWorkspaceRequest",
              "variableSetterType" : "FailedCreateWorkspaceRequest"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "FailedCreateWorkspaceRequest",
              "variableDeclarationType" : "FailedCreateWorkspaceRequest",
              "documentation" : "",
              "simpleType" : "FailedCreateWorkspaceRequest",
              "variableSetterType" : "FailedCreateWorkspaceRequest"
            },
            "getterModel" : {
              "returnType" : "FailedCreateWorkspaceRequest",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "FailedCreateWorkspaceRequest",
          "templateType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.*/",
        "getterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@return An array of structures that represent the WorkSpaces that could not be created.*/",
        "fluentSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailedRequests(java.util.Collection)} or {@link #withFailedRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>",
        "name" : "PendingRequests",
        "c2jName" : "PendingRequests",
        "c2jShape" : "WorkspaceList",
        "variable" : {
          "variableName" : "pendingRequests",
          "variableType" : "java.util.List<Workspace>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
          "documentation" : "<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>",
          "simpleType" : "List<Workspace>",
          "variableSetterType" : "java.util.Collection<Workspace>"
        },
        "setterModel" : {
          "variableName" : "pendingRequests",
          "variableType" : "java.util.List<Workspace>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
          "documentation" : "",
          "simpleType" : "List<Workspace>",
          "variableSetterType" : "java.util.Collection<Workspace>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Workspace>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "PendingRequests",
          "marshallLocationName" : "PendingRequests",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Workspace",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Workspace",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Workspace",
              "variableDeclarationType" : "Workspace",
              "documentation" : "",
              "simpleType" : "Workspace",
              "variableSetterType" : "Workspace"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Workspace",
              "variableDeclarationType" : "Workspace",
              "documentation" : "",
              "simpleType" : "Workspace",
              "variableSetterType" : "Workspace"
            },
            "getterModel" : {
              "returnType" : "Workspace",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "Workspace",
          "templateType" : "java.util.List<Workspace>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Workspace>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.*/",
        "getterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@return An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.*/",
        "fluentSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPendingRequests(java.util.Collection)} or {@link #withPendingRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createWorkspacesResult",
        "variableType" : "CreateWorkspacesResult",
        "variableDeclarationType" : "CreateWorkspacesResult",
        "documentation" : null,
        "simpleType" : "CreateWorkspacesResult",
        "variableSetterType" : "CreateWorkspacesResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "FailedRequests" : {
          "documentation" : "<p>An array of structures that represent the WorkSpaces that could not be created.</p>",
          "name" : "FailedRequests",
          "c2jName" : "FailedRequests",
          "c2jShape" : "FailedCreateWorkspaceRequests",
          "variable" : {
            "variableName" : "failedRequests",
            "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
            "documentation" : "<p>An array of structures that represent the WorkSpaces that could not be created.</p>",
            "simpleType" : "List<FailedCreateWorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
          },
          "setterModel" : {
            "variableName" : "failedRequests",
            "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
            "documentation" : "",
            "simpleType" : "List<FailedCreateWorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "FailedRequests",
            "marshallLocationName" : "FailedRequests",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "FailedCreateWorkspaceRequest",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "FailedCreateWorkspaceRequest",
              "variable" : {
                "variableName" : "member",
                "variableType" : "FailedCreateWorkspaceRequest",
                "variableDeclarationType" : "FailedCreateWorkspaceRequest",
                "documentation" : "",
                "simpleType" : "FailedCreateWorkspaceRequest",
                "variableSetterType" : "FailedCreateWorkspaceRequest"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "FailedCreateWorkspaceRequest",
                "variableDeclarationType" : "FailedCreateWorkspaceRequest",
                "documentation" : "",
                "simpleType" : "FailedCreateWorkspaceRequest",
                "variableSetterType" : "FailedCreateWorkspaceRequest"
              },
              "getterModel" : {
                "returnType" : "FailedCreateWorkspaceRequest",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "FailedCreateWorkspaceRequest",
            "templateType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.*/",
          "getterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@return An array of structures that represent the WorkSpaces that could not be created.*/",
          "fluentSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailedRequests(java.util.Collection)} or {@link #withFailedRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "PendingRequests" : {
          "documentation" : "<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>",
          "name" : "PendingRequests",
          "c2jName" : "PendingRequests",
          "c2jShape" : "WorkspaceList",
          "variable" : {
            "variableName" : "pendingRequests",
            "variableType" : "java.util.List<Workspace>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
            "documentation" : "<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>",
            "simpleType" : "List<Workspace>",
            "variableSetterType" : "java.util.Collection<Workspace>"
          },
          "setterModel" : {
            "variableName" : "pendingRequests",
            "variableType" : "java.util.List<Workspace>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
            "documentation" : "",
            "simpleType" : "List<Workspace>",
            "variableSetterType" : "java.util.Collection<Workspace>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Workspace>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "PendingRequests",
            "marshallLocationName" : "PendingRequests",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Workspace",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Workspace",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Workspace",
                "variableDeclarationType" : "Workspace",
                "documentation" : "",
                "simpleType" : "Workspace",
                "variableSetterType" : "Workspace"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Workspace",
                "variableDeclarationType" : "Workspace",
                "documentation" : "",
                "simpleType" : "Workspace",
                "variableSetterType" : "Workspace"
              },
              "getterModel" : {
                "returnType" : "Workspace",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "Workspace",
            "templateType" : "java.util.List<Workspace>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Workspace>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.*/",
          "getterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@return An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.*/",
          "fluentSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPendingRequests(java.util.Collection)} or {@link #withPendingRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DeleteTagsResult" : {
      "c2jName" : "DeleteTagsResult",
      "documentation" : "<p>The result of the delete tags action.</p>",
      "shapeName" : "DeleteTagsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "deleteTagsResult",
        "variableType" : "DeleteTagsResult",
        "variableDeclarationType" : "DeleteTagsResult",
        "documentation" : null,
        "simpleType" : "DeleteTagsResult",
        "variableSetterType" : "DeleteTagsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "UserStorage" : {
      "c2jName" : "UserStorage",
      "documentation" : "<p>Contains information about the user storage for a WorkSpace bundle.</p>",
      "shapeName" : "UserStorage",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The amount of user storage for the bundle.</p>",
        "name" : "Capacity",
        "c2jName" : "Capacity",
        "c2jShape" : "NonEmptyString",
        "variable" : {
          "variableName" : "capacity",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The amount of user storage for the bundle.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "capacity",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Capacity",
          "marshallLocationName" : "Capacity",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The amount of user storage for the bundle.</p>\n@param capacity The amount of user storage for the bundle.*/",
        "getterDocumentation" : "/**<p>The amount of user storage for the bundle.</p>\n@return The amount of user storage for the bundle.*/",
        "fluentSetterDocumentation" : "/**<p>The amount of user storage for the bundle.</p>\n@param capacity The amount of user storage for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The amount of user storage for the bundle.</p>\n@param capacity The amount of user storage for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "userStorage",
        "variableType" : "UserStorage",
        "variableDeclarationType" : "UserStorage",
        "documentation" : null,
        "simpleType" : "UserStorage",
        "variableSetterType" : "UserStorage"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Capacity" : {
          "documentation" : "<p>The amount of user storage for the bundle.</p>",
          "name" : "Capacity",
          "c2jName" : "Capacity",
          "c2jShape" : "NonEmptyString",
          "variable" : {
            "variableName" : "capacity",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The amount of user storage for the bundle.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "capacity",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Capacity",
            "marshallLocationName" : "Capacity",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The amount of user storage for the bundle.</p>\n@param capacity The amount of user storage for the bundle.*/",
          "getterDocumentation" : "/**<p>The amount of user storage for the bundle.</p>\n@return The amount of user storage for the bundle.*/",
          "fluentSetterDocumentation" : "/**<p>The amount of user storage for the bundle.</p>\n@param capacity The amount of user storage for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The amount of user storage for the bundle.</p>\n@param capacity The amount of user storage for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ComputeType" : {
      "c2jName" : "ComputeType",
      "documentation" : "<p>Contains information about the compute type of a WorkSpace bundle.</p>",
      "shapeName" : "ComputeType",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the compute type for the bundle.</p>",
        "name" : "Name",
        "c2jName" : "Name",
        "c2jShape" : "Compute",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the compute type for the bundle.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Name",
          "marshallLocationName" : "Name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "Compute",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@see Compute*/",
        "getterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@return The name of the compute type for the bundle.\n@see Compute*/",
        "fluentSetterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
        "varargSetterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "computeType",
        "variableType" : "ComputeType",
        "variableDeclarationType" : "ComputeType",
        "documentation" : null,
        "simpleType" : "ComputeType",
        "variableSetterType" : "ComputeType"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Name" : {
          "documentation" : "<p>The name of the compute type for the bundle.</p>",
          "name" : "Name",
          "c2jName" : "Name",
          "c2jShape" : "Compute",
          "variable" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the compute type for the bundle.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Name",
            "marshallLocationName" : "Name",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "Compute",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@see Compute*/",
          "getterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@return The name of the compute type for the bundle.\n@see Compute*/",
          "fluentSetterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
          "varargSetterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/"
        }
      }
    },
    "DescribeWorkspaceBundlesResult" : {
      "c2jName" : "DescribeWorkspaceBundlesResult",
      "documentation" : "<p>Contains the results of the <a>DescribeWorkspaceBundles</a> operation.</p>",
      "shapeName" : "DescribeWorkspaceBundlesResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>An array of structures that contain information about the bundles.</p>",
        "name" : "Bundles",
        "c2jName" : "Bundles",
        "c2jShape" : "BundleList",
        "variable" : {
          "variableName" : "bundles",
          "variableType" : "java.util.List<WorkspaceBundle>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceBundle>",
          "documentation" : "<p>An array of structures that contain information about the bundles.</p>",
          "simpleType" : "List<WorkspaceBundle>",
          "variableSetterType" : "java.util.Collection<WorkspaceBundle>"
        },
        "setterModel" : {
          "variableName" : "bundles",
          "variableType" : "java.util.List<WorkspaceBundle>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceBundle>",
          "documentation" : "",
          "simpleType" : "List<WorkspaceBundle>",
          "variableSetterType" : "java.util.Collection<WorkspaceBundle>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<WorkspaceBundle>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Bundles",
          "marshallLocationName" : "Bundles",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "WorkspaceBundle",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "WorkspaceBundle",
            "variable" : {
              "variableName" : "member",
              "variableType" : "WorkspaceBundle",
              "variableDeclarationType" : "WorkspaceBundle",
              "documentation" : "",
              "simpleType" : "WorkspaceBundle",
              "variableSetterType" : "WorkspaceBundle"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "WorkspaceBundle",
              "variableDeclarationType" : "WorkspaceBundle",
              "documentation" : "",
              "simpleType" : "WorkspaceBundle",
              "variableSetterType" : "WorkspaceBundle"
            },
            "getterModel" : {
              "returnType" : "WorkspaceBundle",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "WorkspaceBundle",
          "templateType" : "java.util.List<WorkspaceBundle>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<WorkspaceBundle>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>An array of structures that contain information about the bundles.</p>\n@param bundles An array of structures that contain information about the bundles.*/",
        "getterDocumentation" : "/**<p>An array of structures that contain information about the bundles.</p>\n@return An array of structures that contain information about the bundles.*/",
        "fluentSetterDocumentation" : "/**<p>An array of structures that contain information about the bundles.</p>\n@param bundles An array of structures that contain information about the bundles.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>An array of structures that contain information about the bundles.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBundles(java.util.Collection)} or {@link #withBundles(java.util.Collection)} if you want to override the existing values.</p>\n@param bundles An array of structures that contain information about the bundles.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "PaginationToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>\n@param nextToken If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.*/",
        "getterDocumentation" : "/**<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>\n@return If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.*/",
        "fluentSetterDocumentation" : "/**<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>\n@param nextToken If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>\n@param nextToken If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeWorkspaceBundlesResult",
        "variableType" : "DescribeWorkspaceBundlesResult",
        "variableDeclarationType" : "DescribeWorkspaceBundlesResult",
        "documentation" : null,
        "simpleType" : "DescribeWorkspaceBundlesResult",
        "variableSetterType" : "DescribeWorkspaceBundlesResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "NextToken" : {
          "documentation" : "<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>",
          "name" : "NextToken",
          "c2jName" : "NextToken",
          "c2jShape" : "PaginationToken",
          "variable" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NextToken",
            "marshallLocationName" : "NextToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>\n@param nextToken If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.*/",
          "getterDocumentation" : "/**<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>\n@return If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.*/",
          "fluentSetterDocumentation" : "/**<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>\n@param nextToken If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.</p>\n@param nextToken If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items. This token is valid for one day and must be used within that timeframe.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Bundles" : {
          "documentation" : "<p>An array of structures that contain information about the bundles.</p>",
          "name" : "Bundles",
          "c2jName" : "Bundles",
          "c2jShape" : "BundleList",
          "variable" : {
            "variableName" : "bundles",
            "variableType" : "java.util.List<WorkspaceBundle>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceBundle>",
            "documentation" : "<p>An array of structures that contain information about the bundles.</p>",
            "simpleType" : "List<WorkspaceBundle>",
            "variableSetterType" : "java.util.Collection<WorkspaceBundle>"
          },
          "setterModel" : {
            "variableName" : "bundles",
            "variableType" : "java.util.List<WorkspaceBundle>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceBundle>",
            "documentation" : "",
            "simpleType" : "List<WorkspaceBundle>",
            "variableSetterType" : "java.util.Collection<WorkspaceBundle>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<WorkspaceBundle>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Bundles",
            "marshallLocationName" : "Bundles",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "WorkspaceBundle",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "WorkspaceBundle",
              "variable" : {
                "variableName" : "member",
                "variableType" : "WorkspaceBundle",
[...]
