{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeWorkspaceBundles" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeWorkspaceDirectories" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeWorkspaces" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-04-08",
    "asyncClient" : "AmazonWorkspacesAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkspacesAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkspacesAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonWorkspacesModuleInjector",
    "defaultEndpoint" : "https://workspaces.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workspaces.us-east-1.amazonaws.com",
    "documentation" : "<fullname>Amazon WorkSpaces Service</fullname> <p>This reference provides detailed information about the Amazon WorkSpaces operations.</p>",
    "endpointPrefix" : "workspaces",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workspaces",
    "packagePath" : "com/amazonaws/services/workspaces",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkSpaces",
    "serviceName" : "Amazon WorkSpaces",
    "signingName" : "workspaces",
    "smokeTestsPackageName" : "com.amazonaws.services.workspaces.smoketests",
    "syncClient" : "AmazonWorkspacesClient",
    "syncClientBuilderClassName" : "AmazonWorkspacesClientBuilder",
    "syncInterface" : "AmazonWorkspaces",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "asyncReturnType" : "CreateTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates tags for a WorkSpace.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : "<p>The request of the <a>CreateTags</a> operation.</p>",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTags",
      "operationName" : "CreateTags",
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : "<p>The result of the <a>CreateTags</a> operation.</p>"
      },
      "syncReturnType" : "CreateTagsResult"
    },
    "CreateWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspacesRequest, CreateWorkspacesResult>",
      "asyncReturnType" : "CreateWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one or more WorkSpaces.</p> <note> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>"
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateWorkspacesRequest",
        "variableName" : "createWorkspacesRequest",
        "variableType" : "CreateWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateWorkspaces</a> operation.</p>",
        "simpleType" : "CreateWorkspacesRequest",
        "variableSetterType" : "CreateWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspaces",
      "operationName" : "CreateWorkspaces",
      "returnType" : {
        "returnType" : "CreateWorkspacesResult",
        "documentation" : "<p>Contains the result of the <a>CreateWorkspaces</a> operation.</p>"
      },
      "syncReturnType" : "CreateWorkspacesResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes tags from a WorkSpace.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "<p>The request of the <a>DeleteTags</a> operation.</p>",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : "<p>The result of the <a>DeleteTags</a> operation.</p>"
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes tags for a WorkSpace.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "<p>The request of the <a>DescribeTags</a> operation.</p>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>The result of the <a>DescribeTags</a> operation.</p>"
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DescribeWorkspaceBundles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceBundlesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceBundlesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceBundlesRequest, DescribeWorkspaceBundlesResult>",
      "asyncReturnType" : "DescribeWorkspaceBundlesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the WorkSpace bundles that are available to your account in the specified region.</p> <p>You can filter the results with either the <code>BundleIds</code> parameter, or the <code>Owner</code> parameter, but not both.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> request and response parameters. If more results are available, the <code>NextToken</code> response member contains a token that you pass in the next call to this operation to retrieve the next set of items.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeWorkspaceBundlesRequest",
        "variableName" : "describeWorkspaceBundlesRequest",
        "variableType" : "DescribeWorkspaceBundlesRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeWorkspaceBundles</a> operation.</p>",
        "simpleType" : "DescribeWorkspaceBundlesRequest",
        "variableSetterType" : "DescribeWorkspaceBundlesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaceBundles",
      "operationName" : "DescribeWorkspaceBundles",
      "returnType" : {
        "returnType" : "DescribeWorkspaceBundlesResult",
        "documentation" : "<p>Contains the results of the <a>DescribeWorkspaceBundles</a> operation.</p>"
      },
      "syncReturnType" : "DescribeWorkspaceBundlesResult"
    },
    "DescribeWorkspaceDirectories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceDirectoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceDirectoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceDirectoriesRequest, DescribeWorkspaceDirectoriesResult>",
      "asyncReturnType" : "DescribeWorkspaceDirectoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the AWS Directory Service directories in the region that are registered with Amazon WorkSpaces and are available to your account.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> request and response parameters. If more results are available, the <code>NextToken</code> response member contains a token that you pass in the next call to this operation to retrieve the next set of items.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeWorkspaceDirectoriesRequest",
        "variableName" : "describeWorkspaceDirectoriesRequest",
        "variableType" : "DescribeWorkspaceDirectoriesRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeWorkspaceDirectories</a> operation.</p>",
        "simpleType" : "DescribeWorkspaceDirectoriesRequest",
        "variableSetterType" : "DescribeWorkspaceDirectoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaceDirectories",
      "operationName" : "DescribeWorkspaceDirectories",
      "returnType" : {
        "returnType" : "DescribeWorkspaceDirectoriesResult",
        "documentation" : "<p>Contains the results of the <a>DescribeWorkspaceDirectories</a> operation.</p>"
      },
      "syncReturnType" : "DescribeWorkspaceDirectoriesResult"
    },
    "DescribeWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspacesRequest, DescribeWorkspacesResult>",
      "asyncReturnType" : "DescribeWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the specified WorkSpaces.</p> <p>Only one of the filter parameters, such as <code>BundleId</code>, <code>DirectoryId</code>, or <code>WorkspaceIds</code>, can be specified at a time.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> request and response parameters. If more results are available, the <code>NextToken</code> response member contains a token that you pass in the next call to this operation to retrieve the next set of items.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeWorkspacesRequest",
        "variableName" : "describeWorkspacesRequest",
        "variableType" : "DescribeWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeWorkspaces</a> operation.</p>",
        "simpleType" : "DescribeWorkspacesRequest",
        "variableSetterType" : "DescribeWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaces",
      "operationName" : "DescribeWorkspaces",
      "returnType" : {
        "returnType" : "DescribeWorkspacesResult",
        "documentation" : "<p>Contains the results for the <a>DescribeWorkspaces</a> operation.</p>"
      },
      "syncReturnType" : "DescribeWorkspacesResult"
    },
    "DescribeWorkspacesConnectionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspacesConnectionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspacesConnectionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspacesConnectionStatusRequest, DescribeWorkspacesConnectionStatusResult>",
      "asyncReturnType" : "DescribeWorkspacesConnectionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the connection status of a specified WorkSpace.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeWorkspacesConnectionStatusRequest",
        "variableName" : "describeWorkspacesConnectionStatusRequest",
        "variableType" : "DescribeWorkspacesConnectionStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspacesConnectionStatusRequest",
        "variableSetterType" : "DescribeWorkspacesConnectionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspacesConnectionStatus",
      "operationName" : "DescribeWorkspacesConnectionStatus",
      "returnType" : {
        "returnType" : "DescribeWorkspacesConnectionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspacesConnectionStatusResult"
    },
    "ModifyWorkspaceProperties" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyWorkspacePropertiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyWorkspacePropertiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyWorkspacePropertiesRequest, ModifyWorkspacePropertiesResult>",
      "asyncReturnType" : "ModifyWorkspacePropertiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the WorkSpace properties, including the RunningMode and AutoStop time.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The specified WorkSpace has an invalid state for this operation.</p>"
      }, {
        "exceptionName" : "OperationInProgressException",
        "documentation" : "<p>The properties of this WorkSpace are currently being modified. Try again in a moment.</p>"
      }, {
        "exceptionName" : "UnsupportedWorkspaceConfigurationException",
        "documentation" : "<p>The WorkSpace does not have the supported configuration for this operation. For more information, see the <a href=\"http://docs.aws.amazon.com/workspaces/latest/adminguide\">Amazon WorkSpaces Administration Guide</a>. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyWorkspacePropertiesRequest",
        "variableName" : "modifyWorkspacePropertiesRequest",
        "variableType" : "ModifyWorkspacePropertiesRequest",
        "documentation" : "",
        "simpleType" : "ModifyWorkspacePropertiesRequest",
        "variableSetterType" : "ModifyWorkspacePropertiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyWorkspaceProperties",
      "operationName" : "ModifyWorkspaceProperties",
      "returnType" : {
        "returnType" : "ModifyWorkspacePropertiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyWorkspacePropertiesResult"
    },
    "RebootWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebootWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebootWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebootWorkspacesRequest, RebootWorkspacesResult>",
      "asyncReturnType" : "RebootWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Reboots the specified WorkSpaces.</p> <p>To be able to reboot a WorkSpace, the WorkSpace must have a <b>State</b> of <code>AVAILABLE</code>, <code>IMPAIRED</code>, or <code>INOPERABLE</code>.</p> <note> <p>This operation is asynchronous and returns before the WorkSpaces have rebooted.</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RebootWorkspacesRequest",
        "variableName" : "rebootWorkspacesRequest",
        "variableType" : "RebootWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>RebootWorkspaces</a> operation.</p>",
        "simpleType" : "RebootWorkspacesRequest",
        "variableSetterType" : "RebootWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebootWorkspaces",
      "operationName" : "RebootWorkspaces",
      "returnType" : {
        "returnType" : "RebootWorkspacesResult",
        "documentation" : "<p>Contains the results of the <a>RebootWorkspaces</a> operation.</p>"
      },
      "syncReturnType" : "RebootWorkspacesResult"
    },
    "RebuildWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebuildWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebuildWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebuildWorkspacesRequest, RebuildWorkspacesResult>",
      "asyncReturnType" : "RebuildWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rebuilds the specified WorkSpaces.</p> <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss of data. Rebuilding a WorkSpace causes the following to occur:</p> <ul> <li> <p>The system is restored to the image of the bundle that the WorkSpace is created from. Any applications that have been installed, or system settings that have been made since the WorkSpace was created will be lost.</p> </li> <li> <p>The data drive (D drive) is re-created from the last automatic snapshot taken of the data drive. The current contents of the data drive are overwritten. Automatic snapshots of the data drive are taken every 12 hours, so the snapshot can be as much as 12 hours old.</p> </li> </ul> <p>To be able to rebuild a WorkSpace, the WorkSpace must have a <b>State</b> of <code>AVAILABLE</code> or <code>ERROR</code>.</p> <note> <p>This operation is asynchronous and returns before the WorkSpaces have been completely rebuilt.</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RebuildWorkspacesRequest",
        "variableName" : "rebuildWorkspacesRequest",
        "variableType" : "RebuildWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>RebuildWorkspaces</a> operation.</p>",
        "simpleType" : "RebuildWorkspacesRequest",
        "variableSetterType" : "RebuildWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebuildWorkspaces",
      "operationName" : "RebuildWorkspaces",
      "returnType" : {
        "returnType" : "RebuildWorkspacesResult",
        "documentation" : "<p>Contains the results of the <a>RebuildWorkspaces</a> operation.</p>"
      },
      "syncReturnType" : "RebuildWorkspacesResult"
    },
    "StartWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartWorkspacesRequest, StartWorkspacesResult>",
      "asyncReturnType" : "StartWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified WorkSpaces. The API only works with WorkSpaces that have RunningMode configured as AutoStop and the State set to “STOPPED.”</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartWorkspacesRequest",
        "variableName" : "startWorkspacesRequest",
        "variableType" : "StartWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "StartWorkspacesRequest",
        "variableSetterType" : "StartWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startWorkspaces",
      "operationName" : "StartWorkspaces",
      "returnType" : {
        "returnType" : "StartWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "StartWorkspacesResult"
    },
    "StopWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopWorkspacesRequest, StopWorkspacesResult>",
      "asyncReturnType" : "StopWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Stops the specified WorkSpaces. The API only works with WorkSpaces that have RunningMode configured as AutoStop and the State set to AVAILABLE, IMPAIRED, UNHEALTHY, or ERROR.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopWorkspacesRequest",
        "variableName" : "stopWorkspacesRequest",
        "variableType" : "StopWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "StopWorkspacesRequest",
        "variableSetterType" : "StopWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopWorkspaces",
      "operationName" : "StopWorkspaces",
      "returnType" : {
        "returnType" : "StopWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "StopWorkspacesResult"
    },
    "TerminateWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateWorkspacesRequest, TerminateWorkspacesResult>",
      "asyncReturnType" : "TerminateWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates the specified WorkSpaces.</p> <p>Terminating a WorkSpace is a permanent action and cannot be undone. The user's data is not maintained and will be destroyed. If you need to archive any user data, contact Amazon Web Services before terminating the WorkSpace.</p> <p>You can terminate a WorkSpace that is in any state except <code>SUSPENDED</code>.</p> <note> <p>This operation is asynchronous and returns before the WorkSpaces have been completely terminated.</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TerminateWorkspacesRequest",
        "variableName" : "terminateWorkspacesRequest",
        "variableType" : "TerminateWorkspacesRequest",
        "documentation" : "<p>Contains the inputs for the <a>TerminateWorkspaces</a> operation.</p>",
        "simpleType" : "TerminateWorkspacesRequest",
        "variableSetterType" : "TerminateWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateWorkspaces",
      "operationName" : "TerminateWorkspaces",
      "returnType" : {
        "returnType" : "TerminateWorkspacesResult",
        "documentation" : "<p>Contains the results of the <a>TerminateWorkspaces</a> operation.</p>"
      },
      "syncReturnType" : "TerminateWorkspacesResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Compute" : {
      "c2jName" : "Compute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "VALUE",
        "value" : "VALUE"
      }, {
        "name" : "STANDARD",
        "value" : "STANDARD"
      }, {
        "name" : "PERFORMANCE",
        "value" : "PERFORMANCE"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "Compute",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Compute",
        "variableName" : "compute",
        "variableType" : "Compute",
        "documentation" : null,
        "simpleType" : "Compute",
        "variableSetterType" : "Compute"
      },
      "wrapper" : false
    },
    "ComputeType" : {
      "c2jName" : "ComputeType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains information about the compute type of a WorkSpace bundle.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "Compute",
        "deprecated" : false,
        "documentation" : "<p>The name of the compute type for the bundle.</p>",
        "enumType" : "Compute",
        "fluentSetterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
        "getterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@return The name of the compute type for the bundle.\n@see Compute*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@see Compute*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the compute type for the bundle.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "Compute",
          "deprecated" : false,
          "documentation" : "<p>The name of the compute type for the bundle.</p>",
          "enumType" : "Compute",
          "fluentSetterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
          "getterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@return The name of the compute type for the bundle.\n@see Compute*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@see Compute*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the compute type for the bundle.</p>\n@param name The name of the compute type for the bundle.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the compute type for the bundle.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "ComputeType",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ComputeType",
        "variableName" : "computeType",
        "variableType" : "ComputeType",
        "documentation" : null,
        "simpleType" : "ComputeType",
        "variableSetterType" : "ComputeType"
      },
      "wrapper" : false
    },
    "ConnectionState" : {
      "c2jName" : "ConnectionState",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CONNECTED",
        "value" : "CONNECTED"
      }, {
        "name" : "DISCONNECTED",
        "value" : "DISCONNECTED"
      }, {
        "name" : "UNKNOWN",
        "value" : "UNKNOWN"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ConnectionState",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ConnectionState",
        "variableName" : "connectionState",
        "variableType" : "ConnectionState",
        "documentation" : null,
        "simpleType" : "ConnectionState",
        "variableSetterType" : "ConnectionState"
      },
      "wrapper" : false
    },
    "CreateTagsRequest" : {
      "c2jName" : "CreateTagsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request of the <a>CreateTags</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateTags",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "WorkspacesService.CreateTags",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResourceId",
        "c2jShape" : "NonEmptyString",
        "deprecated" : false,
        "documentation" : "<p>The resource ID of the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The resource ID of the request.</p>\n@return The resource ID of the request.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceId",
        "setterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>The resource ID of the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The tags of the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags of the request.</p>\n@param tags The tags of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The tags of the request.</p>\n@return The tags of the request.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Tags",
        "setterDocumentation" : "/**<p>The tags of the request.</p>\n@param tags The tags of the request.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The tags of the request.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The tags of the request.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceId" : {
          "c2jName" : "ResourceId",
          "c2jShape" : "NonEmptyString",
          "deprecated" : false,
          "documentation" : "<p>The resource ID of the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The resource ID of the request.</p>\n@return The resource ID of the request.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ResourceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ResourceId",
          "setterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The resource ID of the request.</p>\n@param resourceId The resource ID of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "<p>The resource ID of the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p>The tags of the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tags of the request.</p>\n@param tags The tags of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The tags of the request.</p>\n@return The tags of the request.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Tags",
          "setterDocumentation" : "/**<p>The tags of the request.</p>\n@param tags The tags of the request.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>The tags of the request.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p>The tags of the request.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ResourceId", "Tags" ],
      "shapeName" : "CreateTagsRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : null,
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "wrapper" : false
    },
    "CreateTagsResult" : {
      "c2jName" : "CreateTagsResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The result of the <a>CreateTags</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CreateTagsResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CreateTagsResult",
        "variableName" : "createTagsResult",
        "variableType" : "CreateTagsResult",
        "documentation" : null,
        "simpleType" : "CreateTagsResult",
        "variableSetterType" : "CreateTagsResult"
      },
      "wrapper" : false
    },
    "CreateWorkspacesRequest" : {
      "c2jName" : "CreateWorkspacesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the inputs for the <a>CreateWorkspaces</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateWorkspaces",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "WorkspacesService.CreateWorkspaces",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Workspaces",
        "c2jShape" : "WorkspaceRequestList",
        "deprecated" : false,
        "documentation" : "<p>An array of structures that specify the WorkSpaces to create.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of structures that specify the WorkSpaces to create.</p>\n@param workspaces An array of structures that specify the WorkSpaces to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>An array of structures that specify the WorkSpaces to create.</p>\n@return An array of structures that specify the WorkSpaces to create.*/",
        "getterModel" : {
          "returnType" : "java.util.List<WorkspaceRequest>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Workspaces",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Workspaces",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "WorkspaceRequest",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "WorkspaceRequest",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "WorkspaceRequest",
              "variableName" : "member",
              "variableType" : "WorkspaceRequest",
              "documentation" : "",
              "simpleType" : "WorkspaceRequest",
              "variableSetterType" : "WorkspaceRequest"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "WorkspaceRequest",
              "variableName" : "member",
              "variableType" : "WorkspaceRequest",
              "documentation" : "",
              "simpleType" : "WorkspaceRequest",
              "variableSetterType" : "WorkspaceRequest"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "WorkspaceRequest",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "WorkspaceRequest",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
          "templateType" : "java.util.List<WorkspaceRequest>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Workspaces",
        "setterDocumentation" : "/**<p>An array of structures that specify the WorkSpaces to create.</p>\n@param workspaces An array of structures that specify the WorkSpaces to create.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
          "variableName" : "workspaces",
          "variableType" : "java.util.List<WorkspaceRequest>",
          "documentation" : "",
          "simpleType" : "List<WorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<WorkspaceRequest>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>An array of structures that specify the WorkSpaces to create.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setWorkspaces(java.util.Collection)} or {@link #withWorkspaces(java.util.Collection)} if you want to override the existing values.</p>\n@param workspaces An array of structures that specify the WorkSpaces to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
          "variableName" : "workspaces",
          "variableType" : "java.util.List<WorkspaceRequest>",
          "documentation" : "<p>An array of structures that specify the WorkSpaces to create.</p>",
          "simpleType" : "List<WorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<WorkspaceRequest>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Workspaces" : {
          "c2jName" : "Workspaces",
          "c2jShape" : "WorkspaceRequestList",
          "deprecated" : false,
          "documentation" : "<p>An array of structures that specify the WorkSpaces to create.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of structures that specify the WorkSpaces to create.</p>\n@param workspaces An array of structures that specify the WorkSpaces to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>An array of structures that specify the WorkSpaces to create.</p>\n@return An array of structures that specify the WorkSpaces to create.*/",
          "getterModel" : {
            "returnType" : "java.util.List<WorkspaceRequest>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Workspaces",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Workspaces",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "WorkspaceRequest",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "WorkspaceRequest",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "WorkspaceRequest",
                "variableName" : "member",
                "variableType" : "WorkspaceRequest",
                "documentation" : "",
                "simpleType" : "WorkspaceRequest",
                "variableSetterType" : "WorkspaceRequest"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "WorkspaceRequest",
                "variableName" : "member",
                "variableType" : "WorkspaceRequest",
                "documentation" : "",
                "simpleType" : "WorkspaceRequest",
                "variableSetterType" : "WorkspaceRequest"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "WorkspaceRequest",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "WorkspaceRequest",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
            "templateType" : "java.util.List<WorkspaceRequest>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Workspaces",
          "setterDocumentation" : "/**<p>An array of structures that specify the WorkSpaces to create.</p>\n@param workspaces An array of structures that specify the WorkSpaces to create.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
            "variableName" : "workspaces",
            "variableType" : "java.util.List<WorkspaceRequest>",
            "documentation" : "",
            "simpleType" : "List<WorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<WorkspaceRequest>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>An array of structures that specify the WorkSpaces to create.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setWorkspaces(java.util.Collection)} or {@link #withWorkspaces(java.util.Collection)} if you want to override the existing values.</p>\n@param workspaces An array of structures that specify the WorkSpaces to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
            "variableName" : "workspaces",
            "variableType" : "java.util.List<WorkspaceRequest>",
            "documentation" : "<p>An array of structures that specify the WorkSpaces to create.</p>",
            "simpleType" : "List<WorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<WorkspaceRequest>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Workspaces" ],
      "shapeName" : "CreateWorkspacesRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateWorkspacesRequest",
        "variableName" : "createWorkspacesRequest",
        "variableType" : "CreateWorkspacesRequest",
        "documentation" : null,
        "simpleType" : "CreateWorkspacesRequest",
        "variableSetterType" : "CreateWorkspacesRequest"
      },
      "wrapper" : false
    },
    "CreateWorkspacesResult" : {
      "c2jName" : "CreateWorkspacesResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the result of the <a>CreateWorkspaces</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "FailedRequests",
        "c2jShape" : "FailedCreateWorkspaceRequests",
        "deprecated" : false,
        "documentation" : "<p>An array of structures that represent the WorkSpaces that could not be created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@return An array of structures that represent the WorkSpaces that could not be created.*/",
        "getterModel" : {
          "returnType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "FailedRequests",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FailedRequests",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "FailedCreateWorkspaceRequest",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "FailedCreateWorkspaceRequest",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "FailedCreateWorkspaceRequest",
              "variableName" : "member",
              "variableType" : "FailedCreateWorkspaceRequest",
              "documentation" : "",
              "simpleType" : "FailedCreateWorkspaceRequest",
              "variableSetterType" : "FailedCreateWorkspaceRequest"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "FailedCreateWorkspaceRequest",
              "variableName" : "member",
              "variableType" : "FailedCreateWorkspaceRequest",
              "documentation" : "",
              "simpleType" : "FailedCreateWorkspaceRequest",
              "variableSetterType" : "FailedCreateWorkspaceRequest"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "FailedCreateWorkspaceRequest",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "FailedCreateWorkspaceRequest",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
          "templateType" : "java.util.List<FailedCreateWorkspaceRequest>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "FailedRequests",
        "setterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
          "variableName" : "failedRequests",
          "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "documentation" : "",
          "simpleType" : "List<FailedCreateWorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailedRequests(java.util.Collection)} or {@link #withFailedRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
          "variableName" : "failedRequests",
          "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "documentation" : "<p>An array of structures that represent the WorkSpaces that could not be created.</p>",
          "simpleType" : "List<FailedCreateWorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PendingRequests",
        "c2jShape" : "WorkspaceList",
        "deprecated" : false,
        "documentation" : "<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@return An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Workspace>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "PendingRequests",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PendingRequests",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Workspace",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Workspace",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Workspace",
              "variableName" : "member",
              "variableType" : "Workspace",
              "documentation" : "",
              "simpleType" : "Workspace",
              "variableSetterType" : "Workspace"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Workspace",
              "variableName" : "member",
              "variableType" : "Workspace",
              "documentation" : "",
              "simpleType" : "Workspace",
              "variableSetterType" : "Workspace"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Workspace",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Workspace",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
          "templateType" : "java.util.List<Workspace>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "PendingRequests",
        "setterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
          "variableName" : "pendingRequests",
          "variableType" : "java.util.List<Workspace>",
          "documentation" : "",
          "simpleType" : "List<Workspace>",
          "variableSetterType" : "java.util.Collection<Workspace>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPendingRequests(java.util.Collection)} or {@link #withPendingRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
          "variableName" : "pendingRequests",
          "variableType" : "java.util.List<Workspace>",
          "documentation" : "<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>",
          "simpleType" : "List<Workspace>",
          "variableSetterType" : "java.util.Collection<Workspace>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FailedRequests" : {
          "c2jName" : "FailedRequests",
          "c2jShape" : "FailedCreateWorkspaceRequests",
          "deprecated" : false,
          "documentation" : "<p>An array of structures that represent the WorkSpaces that could not be created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@return An array of structures that represent the WorkSpaces that could not be created.*/",
          "getterModel" : {
            "returnType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "FailedRequests",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FailedRequests",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "FailedCreateWorkspaceRequest",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "FailedCreateWorkspaceRequest",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "FailedCreateWorkspaceRequest",
                "variableName" : "member",
                "variableType" : "FailedCreateWorkspaceRequest",
                "documentation" : "",
                "simpleType" : "FailedCreateWorkspaceRequest",
                "variableSetterType" : "FailedCreateWorkspaceRequest"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "FailedCreateWorkspaceRequest",
                "variableName" : "member",
                "variableType" : "FailedCreateWorkspaceRequest",
                "documentation" : "",
                "simpleType" : "FailedCreateWorkspaceRequest",
                "variableSetterType" : "FailedCreateWorkspaceRequest"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "FailedCreateWorkspaceRequest",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "FailedCreateWorkspaceRequest",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
            "templateType" : "java.util.List<FailedCreateWorkspaceRequest>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "FailedRequests",
          "setterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
            "variableName" : "failedRequests",
            "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "documentation" : "",
            "simpleType" : "List<FailedCreateWorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that could not be created.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailedRequests(java.util.Collection)} or {@link #withFailedRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param failedRequests An array of structures that represent the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
            "variableName" : "failedRequests",
            "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "documentation" : "<p>An array of structures that represent the WorkSpaces that could not be created.</p>",
            "simpleType" : "List<FailedCreateWorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
          },
          "xmlNameSpaceUri" : null
        },
        "PendingRequests" : {
          "c2jName" : "PendingRequests",
          "c2jShape" : "WorkspaceList",
          "deprecated" : false,
          "documentation" : "<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@return An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Workspace>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "PendingRequests",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PendingRequests",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Workspace",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Workspace",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Workspace",
                "variableName" : "member",
                "variableType" : "Workspace",
                "documentation" : "",
                "simpleType" : "Workspace",
                "variableSetterType" : "Workspace"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Workspace",
                "variableName" : "member",
                "variableType" : "Workspace",
                "documentation" : "",
                "simpleType" : "Workspace",
                "variableSetterType" : "Workspace"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Workspace",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Workspace",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
            "templateType" : "java.util.List<Workspace>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "PendingRequests",
          "setterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
            "variableName" : "pendingRequests",
            "variableType" : "java.util.List<Workspace>",
            "documentation" : "",
            "simpleType" : "List<Workspace>",
            "variableSetterType" : "java.util.Collection<Workspace>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPendingRequests(java.util.Collection)} or {@link #withPendingRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param pendingRequests An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
            "variableName" : "pendingRequests",
            "variableType" : "java.util.List<Workspace>",
            "documentation" : "<p>An array of structures that represent the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier in <code>WorkspaceId</code> is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information will be returned.</p>",
            "simpleType" : "List<Workspace>",
            "variableSetterType" : "java.util.Collection<Workspace>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "CreateWorkspacesResult",
      "unmarshaller" : {
        "flattened" : false,
[...]
