{
  "metadata" : {
    "apiVersion" : "2009-03-31",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>Amazon Elastic MapReduce (Amazon EMR) is a web service that makes it easy to process large amounts of data efficiently. Amazon EMR uses Hadoop processing combined with several AWS products to do tasks such as web indexing, data mining, log file analysis, machine learning, scientific simulation, and data warehousing.</p>",
    "defaultEndpoint" : "https://elasticmapreduce.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticmapreduce.amazonaws.com",
    "syncInterface" : "AmazonElasticMapReduce",
    "syncClient" : "AmazonElasticMapReduceClient",
    "asyncInterface" : "AmazonElasticMapReduceAsync",
    "asyncClient" : "AmazonElasticMapReduceAsyncClient",
    "packageName" : "com.amazonaws.services.elasticmapreduce",
    "packagePath" : "com/amazonaws/services/elasticmapreduce",
    "serviceAbbreviation" : "Amazon EMR",
    "serviceFullName" : "Amazon Elastic MapReduce",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "elasticmapreduce",
    "signingName" : "elasticmapreduce",
    "cucumberModuleInjectorClassName" : "AmazonElasticMapReduceModuleInjector",
    "serviceName" : "Amazon EMR",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "syncClientBuilderClassName" : "AmazonElasticMapReduceClientBuilder",
    "asyncClientBuilderClassName" : "AmazonElasticMapReduceAsyncClientBuilder",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticmapreduce.smoketests",
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "AddInstanceGroups" : {
      "documentation" : "<p>AddInstanceGroups adds an instance group to a running cluster.</p>",
      "operationName" : "AddInstanceGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "addInstanceGroupsRequest",
        "variableType" : "AddInstanceGroupsRequest",
        "variableDeclarationType" : "AddInstanceGroupsRequest",
        "documentation" : "<p>Input to an AddInstanceGroups call.</p>",
        "simpleType" : "AddInstanceGroupsRequest",
        "variableSetterType" : "AddInstanceGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddInstanceGroupsResult",
        "documentation" : "<p>Output from an AddInstanceGroups call.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddInstanceGroupsResult",
      "asyncReturnType" : "AddInstanceGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddInstanceGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddInstanceGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddInstanceGroupsRequest, AddInstanceGroupsResult>",
      "methodName" : "addInstanceGroups"
    },
    "AddJobFlowSteps" : {
      "documentation" : "<p>AddJobFlowSteps adds new steps to a running job flow. A maximum of 256 steps are allowed in each job flow.</p> <p>If your job flow is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using the SSH shell to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, go to <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Job Flow</a> in the <i>Amazon Elastic MapReduce Developer's Guide</i>.</p> <p>A step specifies the location of a JAR file stored either on the master node of the job flow or in Amazon S3. Each step is performed by the main function of the main class of the JAR file. The main class can be specified either in the manifest of the JAR or by using the MainFunction parameter of the step.</p> <p>Elastic MapReduce executes each step in the order listed. For a step to be considered complete, the main function must exit with a zero exit code and all Hadoop jobs started while the step was running must have completed and run successfully.</p> <p>You can only add steps to a job flow that is in one of the following states: STARTING, BOOTSTRAPPING, RUNNING, or WAITING.</p>",
      "operationName" : "AddJobFlowSteps",
      "deprecated" : false,
      "input" : {
        "variableName" : "addJobFlowStepsRequest",
        "variableType" : "AddJobFlowStepsRequest",
        "variableDeclarationType" : "AddJobFlowStepsRequest",
        "documentation" : "<p> The input argument to the <a>AddJobFlowSteps</a> operation. </p>",
        "simpleType" : "AddJobFlowStepsRequest",
        "variableSetterType" : "AddJobFlowStepsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddJobFlowStepsResult",
        "documentation" : "<p> The output for the <a>AddJobFlowSteps</a> operation. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddJobFlowStepsResult",
      "asyncReturnType" : "AddJobFlowStepsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddJobFlowStepsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddJobFlowStepsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddJobFlowStepsRequest, AddJobFlowStepsResult>",
      "methodName" : "addJobFlowSteps"
    },
    "AddTags" : {
      "documentation" : "<p>Adds tags to an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-plan-tags.html\">Tagging Amazon EMR Resources</a>. </p>",
      "operationName" : "AddTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : "<p>This input identifies a cluster and a list of tags to attach.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>This output indicates the result of adding tags to a resource.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddTagsResult",
      "asyncReturnType" : "AddTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "methodName" : "addTags"
    },
    "DescribeCluster" : {
      "documentation" : "<p>Provides cluster-level details including status, hardware and software configuration, VPC settings, and so on. For information about the cluster steps, see <a>ListSteps</a>.</p>",
      "operationName" : "DescribeCluster",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeClusterRequest",
        "variableType" : "DescribeClusterRequest",
        "variableDeclarationType" : "DescribeClusterRequest",
        "documentation" : "<p>This input determines which cluster to describe.</p>",
        "simpleType" : "DescribeClusterRequest",
        "variableSetterType" : "DescribeClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeClusterResult",
        "documentation" : "<p>This output contains the description of the cluster.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeClusterResult",
      "asyncReturnType" : "DescribeClusterResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterRequest, DescribeClusterResult>",
      "methodName" : "describeCluster"
    },
    "DescribeJobFlows" : {
      "documentation" : "<p> This API is deprecated and will eventually be removed. We recommend you use <a>ListClusters</a>, <a>DescribeCluster</a>, <a>ListSteps</a>, <a>ListInstanceGroups</a> and <a>ListBootstrapActions</a> instead.</p> <p>DescribeJobFlows returns a list of job flows that match all of the supplied parameters. The parameters can include a list of job flow IDs, job flow states, and restrictions on job flow creation date and time.</p> <p>Regardless of supplied parameters, only job flows created within the last two months are returned.</p> <p>If no parameters are supplied, then job flows matching either of the following criteria are returned:</p> <ul> <li> <p>Job flows created and completed in the last two weeks</p> </li> <li> <p> Job flows created within the last two months that are in one of the following states: <code>RUNNING</code>, <code>WAITING</code>, <code>SHUTTING_DOWN</code>, <code>STARTING</code> </p> </li> </ul> <p>Amazon Elastic MapReduce can return a maximum of 512 job flow descriptions.</p>",
      "operationName" : "DescribeJobFlows",
      "deprecated" : true,
      "input" : {
        "variableName" : "describeJobFlowsRequest",
        "variableType" : "DescribeJobFlowsRequest",
        "variableDeclarationType" : "DescribeJobFlowsRequest",
        "documentation" : "<p> The input for the <a>DescribeJobFlows</a> operation. </p>",
        "simpleType" : "DescribeJobFlowsRequest",
        "variableSetterType" : "DescribeJobFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeJobFlowsResult",
        "documentation" : "<p> The output for the <a>DescribeJobFlows</a> operation. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeJobFlowsResult",
      "asyncReturnType" : "DescribeJobFlowsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobFlowsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobFlowsRequest, DescribeJobFlowsResult>",
      "methodName" : "describeJobFlows"
    },
    "DescribeStep" : {
      "documentation" : "<p>Provides more detail about the cluster step.</p>",
      "operationName" : "DescribeStep",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStepRequest",
        "variableType" : "DescribeStepRequest",
        "variableDeclarationType" : "DescribeStepRequest",
        "documentation" : "<p>This input determines which step to describe.</p>",
        "simpleType" : "DescribeStepRequest",
        "variableSetterType" : "DescribeStepRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStepResult",
        "documentation" : "<p>This output contains the description of the cluster step.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeStepResult",
      "asyncReturnType" : "DescribeStepResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStepResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStepResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStepRequest, DescribeStepResult>",
      "methodName" : "describeStep"
    },
    "ListBootstrapActions" : {
      "documentation" : "<p>Provides information about the bootstrap actions associated with a cluster.</p>",
      "operationName" : "ListBootstrapActions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listBootstrapActionsRequest",
        "variableType" : "ListBootstrapActionsRequest",
        "variableDeclarationType" : "ListBootstrapActionsRequest",
        "documentation" : "<p>This input determines which bootstrap actions to retrieve.</p>",
        "simpleType" : "ListBootstrapActionsRequest",
        "variableSetterType" : "ListBootstrapActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListBootstrapActionsResult",
        "documentation" : "<p>This output contains the boostrap actions detail .</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListBootstrapActionsResult",
      "asyncReturnType" : "ListBootstrapActionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListBootstrapActionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListBootstrapActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBootstrapActionsRequest, ListBootstrapActionsResult>",
      "methodName" : "listBootstrapActions"
    },
    "ListClusters" : {
      "documentation" : "<p>Provides the status of all clusters visible to this AWS account. Allows you to filter the list of clusters based on certain criteria; for example, filtering by cluster creation date and time or by status. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListClusters calls.</p>",
      "operationName" : "ListClusters",
      "deprecated" : false,
      "input" : {
        "variableName" : "listClustersRequest",
        "variableType" : "ListClustersRequest",
        "variableDeclarationType" : "ListClustersRequest",
        "documentation" : "<p>This input determines how the ListClusters action filters the list of clusters that it returns.</p>",
        "simpleType" : "ListClustersRequest",
        "variableSetterType" : "ListClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListClustersResult",
        "documentation" : "<p>This contains a ClusterSummaryList with the cluster details; for example, the cluster IDs, names, and status.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListClustersResult",
      "asyncReturnType" : "ListClustersResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersRequest, ListClustersResult>",
      "methodName" : "listClusters"
    },
    "ListInstanceGroups" : {
      "documentation" : "<p>Provides all available details about the instance groups in a cluster.</p>",
      "operationName" : "ListInstanceGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "listInstanceGroupsRequest",
        "variableType" : "ListInstanceGroupsRequest",
        "variableDeclarationType" : "ListInstanceGroupsRequest",
        "documentation" : "<p>This input determines which instance groups to retrieve.</p>",
        "simpleType" : "ListInstanceGroupsRequest",
        "variableSetterType" : "ListInstanceGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListInstanceGroupsResult",
        "documentation" : "<p>This input determines which instance groups to retrieve.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListInstanceGroupsResult",
      "asyncReturnType" : "ListInstanceGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListInstanceGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListInstanceGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInstanceGroupsRequest, ListInstanceGroupsResult>",
      "methodName" : "listInstanceGroups"
    },
    "ListInstances" : {
      "documentation" : "<p>Provides information about the cluster instances that Amazon EMR provisions on behalf of a user when it creates the cluster. For example, this operation indicates when the EC2 instances reach the Ready state, when instances become available to Amazon EMR to use for jobs, and the IP addresses for cluster instances, etc.</p>",
      "operationName" : "ListInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "listInstancesRequest",
        "variableType" : "ListInstancesRequest",
        "variableDeclarationType" : "ListInstancesRequest",
        "documentation" : "<p>This input determines which instances to list.</p>",
        "simpleType" : "ListInstancesRequest",
        "variableSetterType" : "ListInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListInstancesResult",
        "documentation" : "<p>This output contains the list of instances.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListInstancesResult",
      "asyncReturnType" : "ListInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInstancesRequest, ListInstancesResult>",
      "methodName" : "listInstances"
    },
    "ListSteps" : {
      "documentation" : "<p>Provides a list of steps for the cluster.</p>",
      "operationName" : "ListSteps",
      "deprecated" : false,
      "input" : {
        "variableName" : "listStepsRequest",
        "variableType" : "ListStepsRequest",
        "variableDeclarationType" : "ListStepsRequest",
        "documentation" : "<p>This input determines which steps to list.</p>",
        "simpleType" : "ListStepsRequest",
        "variableSetterType" : "ListStepsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListStepsResult",
        "documentation" : "<p>This output contains the list of steps returned in reverse order. This means that the last step is the first element in the list.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListStepsResult",
      "asyncReturnType" : "ListStepsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListStepsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListStepsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStepsRequest, ListStepsResult>",
      "methodName" : "listSteps"
    },
    "ModifyInstanceGroups" : {
      "documentation" : "<p>ModifyInstanceGroups modifies the number of nodes and configuration settings of an instance group. The input parameters include the new target instance count for the group and the instance group ID. The call will either succeed or fail atomically.</p>",
      "operationName" : "ModifyInstanceGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyInstanceGroupsRequest",
        "variableType" : "ModifyInstanceGroupsRequest",
        "variableDeclarationType" : "ModifyInstanceGroupsRequest",
        "documentation" : "<p>Change the size of some instance groups.</p>",
        "simpleType" : "ModifyInstanceGroupsRequest",
        "variableSetterType" : "ModifyInstanceGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyInstanceGroupsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyInstanceGroupsResult",
      "asyncReturnType" : "ModifyInstanceGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyInstanceGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyInstanceGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyInstanceGroupsRequest, ModifyInstanceGroupsResult>",
      "methodName" : "modifyInstanceGroups"
    },
    "RemoveTags" : {
      "documentation" : "<p>Removes tags from an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-plan-tags.html\">Tagging Amazon EMR Resources</a>. </p> <p>The following example removes the stack tag with value Prod from a cluster:</p>",
      "operationName" : "RemoveTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "variableDeclarationType" : "RemoveTagsRequest",
        "documentation" : "<p>This input identifies a cluster and a list of tags to remove.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : "<p>This output indicates the result of removing tags from a resource.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RemoveTagsResult",
      "asyncReturnType" : "RemoveTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "methodName" : "removeTags"
    },
    "RunJobFlow" : {
      "documentation" : "<p> RunJobFlow creates and starts running a new job flow. The job flow will run the steps specified. Once the job flow completes, the cluster is stopped and the HDFS partition is lost. To prevent loss of data, configure the last step of the job flow to store results in Amazon S3. If the <a>JobFlowInstancesConfig</a> <code>KeepJobFlowAliveWhenNoSteps</code> parameter is set to <code>TRUE</code>, the job flow will transition to the WAITING state rather than shutting down once the steps have completed. </p> <p>For additional protection, you can set the <a>JobFlowInstancesConfig</a> <code>TerminationProtected</code> parameter to <code>TRUE</code> to lock the job flow and prevent it from being terminated by API call, user intervention, or in the event of a job flow error.</p> <p>A maximum of 256 steps are allowed in each job flow.</p> <p>If your job flow is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using the SSH shell to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, go to <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Job Flow</a> in the <i>Amazon Elastic MapReduce Developer's Guide</i>.</p> <p>For long running job flows, we recommend that you periodically store your results.</p>",
      "operationName" : "RunJobFlow",
      "deprecated" : false,
      "input" : {
        "variableName" : "runJobFlowRequest",
        "variableType" : "RunJobFlowRequest",
        "variableDeclarationType" : "RunJobFlowRequest",
        "documentation" : "<p> Input to the <a>RunJobFlow</a> operation. </p>",
        "simpleType" : "RunJobFlowRequest",
        "variableSetterType" : "RunJobFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RunJobFlowResult",
        "documentation" : "<p> The result of the <a>RunJobFlow</a> operation. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RunJobFlowResult",
      "asyncReturnType" : "RunJobFlowResult",
      "asyncFutureType" : "java.util.concurrent.Future<RunJobFlowResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RunJobFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RunJobFlowRequest, RunJobFlowResult>",
      "methodName" : "runJobFlow"
    },
    "SetTerminationProtection" : {
      "documentation" : "<p>SetTerminationProtection locks a job flow so the Amazon EC2 instances in the cluster cannot be terminated by user intervention, an API call, or in the event of a job-flow error. The cluster still terminates upon successful completion of the job flow. Calling SetTerminationProtection on a job flow is analogous to calling the Amazon EC2 DisableAPITermination API on all of the EC2 instances in a cluster.</p> <p>SetTerminationProtection is used to prevent accidental termination of a job flow and to ensure that in the event of an error, the instances will persist so you can recover any data stored in their ephemeral instance storage.</p> <p> To terminate a job flow that has been locked by setting SetTerminationProtection to <code>true</code>, you must first unlock the job flow by a subsequent call to SetTerminationProtection in which you set the value to <code>false</code>. </p> <p> For more information, go to <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/UsingEMR_TerminationProtection.html\">Protecting a Job Flow from Termination</a> in the <i>Amazon Elastic MapReduce Developer's Guide.</i> </p>",
      "operationName" : "SetTerminationProtection",
      "deprecated" : false,
      "input" : {
        "variableName" : "setTerminationProtectionRequest",
        "variableType" : "SetTerminationProtectionRequest",
        "variableDeclarationType" : "SetTerminationProtectionRequest",
        "documentation" : "<p> The input argument to the <a>TerminationProtection</a> operation. </p>",
        "simpleType" : "SetTerminationProtectionRequest",
        "variableSetterType" : "SetTerminationProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetTerminationProtectionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SetTerminationProtectionResult",
      "asyncReturnType" : "SetTerminationProtectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetTerminationProtectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetTerminationProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTerminationProtectionRequest, SetTerminationProtectionResult>",
      "methodName" : "setTerminationProtection"
    },
    "SetVisibleToAllUsers" : {
      "documentation" : "<p>Sets whether all AWS Identity and Access Management (IAM) users under your account can access the specified job flows. This action works on running job flows. You can also set the visibility of a job flow when you launch it using the <code>VisibleToAllUsers</code> parameter of <a>RunJobFlow</a>. The SetVisibleToAllUsers action can be called only by an IAM user who created the job flow or the AWS account that owns the job flow.</p>",
      "operationName" : "SetVisibleToAllUsers",
      "deprecated" : false,
      "input" : {
        "variableName" : "setVisibleToAllUsersRequest",
        "variableType" : "SetVisibleToAllUsersRequest",
        "variableDeclarationType" : "SetVisibleToAllUsersRequest",
        "documentation" : "<p>The input to the SetVisibleToAllUsers action.</p>",
        "simpleType" : "SetVisibleToAllUsersRequest",
        "variableSetterType" : "SetVisibleToAllUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetVisibleToAllUsersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SetVisibleToAllUsersResult",
      "asyncReturnType" : "SetVisibleToAllUsersResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetVisibleToAllUsersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetVisibleToAllUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetVisibleToAllUsersRequest, SetVisibleToAllUsersResult>",
      "methodName" : "setVisibleToAllUsers"
    },
    "TerminateJobFlows" : {
      "documentation" : "<p>TerminateJobFlows shuts a list of job flows down. When a job flow is shut down, any step not yet completed is canceled and the EC2 instances on which the job flow is running are stopped. Any log files not already saved are uploaded to Amazon S3 if a LogUri was specified when the job flow was created.</p> <p>The maximum number of JobFlows allowed is 10. The call to TerminateJobFlows is asynchronous. Depending on the configuration of the job flow, it may take up to 5-20 minutes for the job flow to completely terminate and release allocated resources, such as Amazon EC2 instances.</p>",
      "operationName" : "TerminateJobFlows",
      "deprecated" : false,
      "input" : {
        "variableName" : "terminateJobFlowsRequest",
        "variableType" : "TerminateJobFlowsRequest",
        "variableDeclarationType" : "TerminateJobFlowsRequest",
        "documentation" : "<p> Input to the <a>TerminateJobFlows</a> operation. </p>",
        "simpleType" : "TerminateJobFlowsRequest",
        "variableSetterType" : "TerminateJobFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TerminateJobFlowsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "TerminateJobFlowsResult",
      "asyncReturnType" : "TerminateJobFlowsResult",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateJobFlowsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateJobFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateJobFlowsRequest, TerminateJobFlowsResult>",
      "methodName" : "terminateJobFlows"
    }
  },
  "shapes" : {
    "ListStepsResult" : {
      "c2jName" : "ListStepsOutput",
      "documentation" : "<p>This output contains the list of steps returned in reverse order. This means that the last step is the first element in the list.</p>",
      "shapeName" : "ListStepsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The filtered list of steps for the cluster.</p>",
        "name" : "Steps",
        "c2jName" : "Steps",
        "c2jShape" : "StepSummaryList",
        "variable" : {
          "variableName" : "steps",
          "variableType" : "java.util.List<StepSummary>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<StepSummary>",
          "documentation" : "<p>The filtered list of steps for the cluster.</p>",
          "simpleType" : "List<StepSummary>",
          "variableSetterType" : "java.util.Collection<StepSummary>"
        },
        "setterModel" : {
          "variableName" : "steps",
          "variableType" : "java.util.List<StepSummary>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<StepSummary>",
          "documentation" : "",
          "simpleType" : "List<StepSummary>",
          "variableSetterType" : "java.util.Collection<StepSummary>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<StepSummary>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Steps",
          "marshallLocationName" : "Steps",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "StepSummary",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "StepSummary",
            "variable" : {
              "variableName" : "member",
              "variableType" : "StepSummary",
              "variableDeclarationType" : "StepSummary",
              "documentation" : "",
              "simpleType" : "StepSummary",
              "variableSetterType" : "StepSummary"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "StepSummary",
              "variableDeclarationType" : "StepSummary",
              "documentation" : "",
              "simpleType" : "StepSummary",
              "variableSetterType" : "StepSummary"
            },
            "getterModel" : {
              "returnType" : "StepSummary",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simpleType" : "StepSummary",
          "templateType" : "java.util.List<StepSummary>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<StepSummary>",
          "simple" : false,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The filtered list of steps for the cluster.</p>\n@param steps The filtered list of steps for the cluster.*/",
        "getterDocumentation" : "/**<p>The filtered list of steps for the cluster.</p>\n@return The filtered list of steps for the cluster.*/",
        "fluentSetterDocumentation" : "/**<p>The filtered list of steps for the cluster.</p>\n@param steps The filtered list of steps for the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The filtered list of steps for the cluster.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSteps(java.util.Collection)} or {@link #withSteps(java.util.Collection)} if you want to override the existing values.</p>\n@param steps The filtered list of steps for the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The pagination token that indicates the next set of results to retrieve.</p>",
        "name" : "Marker",
        "c2jName" : "Marker",
        "c2jShape" : "Marker",
        "variable" : {
          "variableName" : "marker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The pagination token that indicates the next set of results to retrieve.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "marker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Marker",
          "marshallLocationName" : "Marker",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The pagination token that indicates the next set of results to retrieve.</p>\n@param marker The pagination token that indicates the next set of results to retrieve.*/",
        "getterDocumentation" : "/**<p>The pagination token that indicates the next set of results to retrieve.</p>\n@return The pagination token that indicates the next set of results to retrieve.*/",
        "fluentSetterDocumentation" : "/**<p>The pagination token that indicates the next set of results to retrieve.</p>\n@param marker The pagination token that indicates the next set of results to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The pagination token that indicates the next set of results to retrieve.</p>\n@param marker The pagination token that indicates the next set of results to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listStepsResult",
        "variableType" : "ListStepsResult",
        "variableDeclarationType" : "ListStepsResult",
        "documentation" : null,
        "simpleType" : "ListStepsResult",
        "variableSetterType" : "ListStepsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Steps" : {
          "documentation" : "<p>The filtered list of steps for the cluster.</p>",
          "name" : "Steps",
          "c2jName" : "Steps",
          "c2jShape" : "StepSummaryList",
          "variable" : {
            "variableName" : "steps",
            "variableType" : "java.util.List<StepSummary>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<StepSummary>",
            "documentation" : "<p>The filtered list of steps for the cluster.</p>",
            "simpleType" : "List<StepSummary>",
            "variableSetterType" : "java.util.Collection<StepSummary>"
          },
          "setterModel" : {
            "variableName" : "steps",
            "variableType" : "java.util.List<StepSummary>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<StepSummary>",
            "documentation" : "",
            "simpleType" : "List<StepSummary>",
            "variableSetterType" : "java.util.Collection<StepSummary>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<StepSummary>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Steps",
            "marshallLocationName" : "Steps",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "StepSummary",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "StepSummary",
              "variable" : {
                "variableName" : "member",
                "variableType" : "StepSummary",
                "variableDeclarationType" : "StepSummary",
                "documentation" : "",
                "simpleType" : "StepSummary",
                "variableSetterType" : "StepSummary"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "StepSummary",
                "variableDeclarationType" : "StepSummary",
                "documentation" : "",
                "simpleType" : "StepSummary",
                "variableSetterType" : "StepSummary"
              },
              "getterModel" : {
                "returnType" : "StepSummary",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simpleType" : "StepSummary",
            "templateType" : "java.util.List<StepSummary>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<StepSummary>",
            "simple" : false,
            "map" : false
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The filtered list of steps for the cluster.</p>\n@param steps The filtered list of steps for the cluster.*/",
          "getterDocumentation" : "/**<p>The filtered list of steps for the cluster.</p>\n@return The filtered list of steps for the cluster.*/",
          "fluentSetterDocumentation" : "/**<p>The filtered list of steps for the cluster.</p>\n@param steps The filtered list of steps for the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The filtered list of steps for the cluster.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSteps(java.util.Collection)} or {@link #withSteps(java.util.Collection)} if you want to override the existing values.</p>\n@param steps The filtered list of steps for the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Marker" : {
          "documentation" : "<p>The pagination token that indicates the next set of results to retrieve.</p>",
          "name" : "Marker",
          "c2jName" : "Marker",
          "c2jShape" : "Marker",
          "variable" : {
            "variableName" : "marker",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The pagination token that indicates the next set of results to retrieve.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "marker",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Marker",
            "marshallLocationName" : "Marker",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The pagination token that indicates the next set of results to retrieve.</p>\n@param marker The pagination token that indicates the next set of results to retrieve.*/",
          "getterDocumentation" : "/**<p>The pagination token that indicates the next set of results to retrieve.</p>\n@return The pagination token that indicates the next set of results to retrieve.*/",
          "fluentSetterDocumentation" : "/**<p>The pagination token that indicates the next set of results to retrieve.</p>\n@param marker The pagination token that indicates the next set of results to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The pagination token that indicates the next set of results to retrieve.</p>\n@param marker The pagination token that indicates the next set of results to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "Configuration" : {
      "c2jName" : "Configuration",
      "documentation" : "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>Specifies a hardware and software configuration of the EMR cluster. This includes configurations for applications and software bundled with Amazon EMR. The Configuration object is a JSON object which is defined by a classification and a set of properties. Configurations can be nested, so a configuration may have its own Configuration objects listed.</p>",
      "shapeName" : "Configuration",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>",
        "name" : "Classification",
        "c2jName" : "Classification",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "classification",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "classification",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Classification",
          "marshallLocationName" : "Classification",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>\n@param classification The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>.*/",
        "getterDocumentation" : "/**<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>\n@return The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>.*/",
        "fluentSetterDocumentation" : "/**<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>\n@param classification The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>\n@param classification The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list of configurations you apply to this configuration object.</p>",
        "name" : "Configurations",
        "c2jName" : "Configurations",
        "c2jShape" : "ConfigurationList",
        "variable" : {
          "variableName" : "configurations",
          "variableType" : "java.util.List<Configuration>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Configuration>",
          "documentation" : "<p>A list of configurations you apply to this configuration object.</p>",
          "simpleType" : "List<Configuration>",
          "variableSetterType" : "java.util.Collection<Configuration>"
        },
        "setterModel" : {
          "variableName" : "configurations",
          "variableType" : "java.util.List<Configuration>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Configuration>",
          "documentation" : "",
          "simpleType" : "List<Configuration>",
          "variableSetterType" : "java.util.Collection<Configuration>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Configuration>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Configurations",
          "marshallLocationName" : "Configurations",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Configuration",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Configuration",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Configuration",
              "variableDeclarationType" : "Configuration",
              "documentation" : "",
              "simpleType" : "Configuration",
              "variableSetterType" : "Configuration"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Configuration",
              "variableDeclarationType" : "Configuration",
              "documentation" : "",
              "simpleType" : "Configuration",
              "variableSetterType" : "Configuration"
            },
            "getterModel" : {
              "returnType" : "Configuration",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simpleType" : "Configuration",
          "templateType" : "java.util.List<Configuration>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Configuration>",
          "simple" : false,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of configurations you apply to this configuration object.</p>\n@param configurations A list of configurations you apply to this configuration object.*/",
        "getterDocumentation" : "/**<p>A list of configurations you apply to this configuration object.</p>\n@return A list of configurations you apply to this configuration object.*/",
        "fluentSetterDocumentation" : "/**<p>A list of configurations you apply to this configuration object.</p>\n@param configurations A list of configurations you apply to this configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of configurations you apply to this configuration object.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setConfigurations(java.util.Collection)} or {@link #withConfigurations(java.util.Collection)} if you want to override the existing values.</p>\n@param configurations A list of configurations you apply to this configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A set of properties supplied to the Configuration object.</p>",
        "name" : "Properties",
        "c2jName" : "Properties",
        "c2jShape" : "StringMap",
        "variable" : {
          "variableName" : "properties",
          "variableType" : "java.util.Map<String,String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
          "documentation" : "<p>A set of properties supplied to the Configuration object.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "setterModel" : {
          "variableName" : "properties",
          "variableType" : "java.util.Map<String,String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Properties",
          "marshallLocationName" : "Properties",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalMap",
          "interfaceType" : "java.util.Map",
          "keyType" : "String",
          "keyLocationName" : "key",
          "keyModel" : null,
          "valueType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "documentation" : "",
            "name" : "Value",
            "c2jName" : "value",
            "c2jShape" : "String",
            "variable" : {
              "variableName" : "value",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "value",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "value",
              "marshallLocationName" : "value",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param value */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "templateType" : "java.util.Map<String,String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
          "keySimple" : true,
          "valueSimple" : true,
          "valueList" : false,
          "entryType" : "Map.Entry<String, String>"
        },
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : true,
        "setterDocumentation" : "/**<p>A set of properties supplied to the Configuration object.</p>\n@param properties A set of properties supplied to the Configuration object.*/",
        "getterDocumentation" : "/**<p>A set of properties supplied to the Configuration object.</p>\n@return A set of properties supplied to the Configuration object.*/",
        "fluentSetterDocumentation" : "/**<p>A set of properties supplied to the Configuration object.</p>\n@param properties A set of properties supplied to the Configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A set of properties supplied to the Configuration object.</p>\n@param properties A set of properties supplied to the Configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "configuration",
        "variableType" : "Configuration",
        "variableDeclarationType" : "Configuration",
        "documentation" : null,
        "simpleType" : "Configuration",
        "variableSetterType" : "Configuration"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Classification" : {
          "documentation" : "<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>",
          "name" : "Classification",
          "c2jName" : "Classification",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "classification",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "classification",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Classification",
            "marshallLocationName" : "Classification",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>\n@param classification The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>.*/",
          "getterDocumentation" : "/**<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>\n@return The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>.*/",
          "fluentSetterDocumentation" : "/**<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>\n@param classification The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. </p>\n@param classification The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Configurations" : {
          "documentation" : "<p>A list of configurations you apply to this configuration object.</p>",
          "name" : "Configurations",
          "c2jName" : "Configurations",
          "c2jShape" : "ConfigurationList",
          "variable" : {
            "variableName" : "configurations",
            "variableType" : "java.util.List<Configuration>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Configuration>",
            "documentation" : "<p>A list of configurations you apply to this configuration object.</p>",
            "simpleType" : "List<Configuration>",
            "variableSetterType" : "java.util.Collection<Configuration>"
          },
          "setterModel" : {
            "variableName" : "configurations",
            "variableType" : "java.util.List<Configuration>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Configuration>",
            "documentation" : "",
            "simpleType" : "List<Configuration>",
            "variableSetterType" : "java.util.Collection<Configuration>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Configuration>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Configurations",
            "marshallLocationName" : "Configurations",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Configuration",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Configuration",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Configuration",
                "variableDeclarationType" : "Configuration",
                "documentation" : "",
                "simpleType" : "Configuration",
                "variableSetterType" : "Configuration"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Configuration",
                "variableDeclarationType" : "Configuration",
                "documentation" : "",
                "simpleType" : "Configuration",
                "variableSetterType" : "Configuration"
              },
              "getterModel" : {
                "returnType" : "Configuration",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simpleType" : "Configuration",
            "templateType" : "java.util.List<Configuration>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Configuration>",
            "simple" : false,
            "map" : false
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of configurations you apply to this configuration object.</p>\n@param configurations A list of configurations you apply to this configuration object.*/",
          "getterDocumentation" : "/**<p>A list of configurations you apply to this configuration object.</p>\n@return A list of configurations you apply to this configuration object.*/",
          "fluentSetterDocumentation" : "/**<p>A list of configurations you apply to this configuration object.</p>\n@param configurations A list of configurations you apply to this configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of configurations you apply to this configuration object.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setConfigurations(java.util.Collection)} or {@link #withConfigurations(java.util.Collection)} if you want to override the existing values.</p>\n@param configurations A list of configurations you apply to this configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Properties" : {
          "documentation" : "<p>A set of properties supplied to the Configuration object.</p>",
          "name" : "Properties",
          "c2jName" : "Properties",
          "c2jShape" : "StringMap",
          "variable" : {
            "variableName" : "properties",
            "variableType" : "java.util.Map<String,String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
            "documentation" : "<p>A set of properties supplied to the Configuration object.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "setterModel" : {
            "variableName" : "properties",
            "variableType" : "java.util.Map<String,String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Properties",
            "marshallLocationName" : "Properties",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalMap",
            "interfaceType" : "java.util.Map",
            "keyType" : "String",
            "keyLocationName" : "key",
            "keyModel" : null,
            "valueType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "documentation" : "",
              "name" : "Value",
              "c2jName" : "value",
              "c2jShape" : "String",
              "variable" : {
                "variableName" : "value",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "setterModel" : {
                "variableName" : "value",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "value",
                "marshallLocationName" : "value",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param value */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "templateType" : "java.util.Map<String,String>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalMap<String,String>",
            "keySimple" : true,
            "valueSimple" : true,
            "valueList" : false,
            "entryType" : "Map.Entry<String, String>"
          },
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : true,
          "setterDocumentation" : "/**<p>A set of properties supplied to the Configuration object.</p>\n@param properties A set of properties supplied to the Configuration object.*/",
          "getterDocumentation" : "/**<p>A set of properties supplied to the Configuration object.</p>\n@return A set of properties supplied to the Configuration object.*/",
          "fluentSetterDocumentation" : "/**<p>A set of properties supplied to the Configuration object.</p>\n@param properties A set of properties supplied to the Configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A set of properties supplied to the Configuration object.</p>\n@param properties A set of properties supplied to the Configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "StepStateChangeReasonCode" : {
      "c2jName" : "StepStateChangeReasonCode",
      "documentation" : "",
      "shapeName" : "StepStateChangeReasonCode",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "NONE",
        "value" : "NONE"
      } ],
      "variable" : {
        "variableName" : "stepStateChangeReasonCode",
        "variableType" : "StepStateChangeReasonCode",
        "variableDeclarationType" : "StepStateChangeReasonCode",
        "documentation" : null,
        "simpleType" : "StepStateChangeReasonCode",
        "variableSetterType" : "StepStateChangeReasonCode"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "AddTagsRequest" : {
      "c2jName" : "AddTagsInput",
      "documentation" : "<p>This input identifies a cluster and a list of tags to attach.</p>",
      "shapeName" : "AddTagsRequest",
      "deprecated" : false,
      "required" : [ "ResourceId", "Tags" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.</p>",
        "name" : "ResourceId",
        "c2jName" : "ResourceId",
        "c2jShape" : "ResourceId",
        "variable" : {
          "variableName" : "resourceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "resourceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ResourceId",
          "marshallLocationName" : "ResourceId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.</p>\n@param resourceId The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.*/",
        "getterDocumentation" : "/**<p>The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.</p>\n@return The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.</p>\n@param resourceId The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.</p>\n@param resourceId The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>",
        "name" : "Tags",
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "variable" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "documentation" : "<p>A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "setterModel" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Tags",
          "marshallLocationName" : "Tags",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Tag",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simpleType" : "Tag",
          "templateType" : "java.util.List<Tag>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "simple" : false,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>\n@param tags A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.*/",
        "getterDocumentation" : "/**<p>A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>\n@return A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.*/",
        "fluentSetterDocumentation" : "/**<p>A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>\n@param tags A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : null,
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "marshaller" : {
        "action" : "AddTags",
        "verb" : "POST",
        "target" : "ElasticMapReduce.AddTags",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ResourceId" : {
          "documentation" : "<p>The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.</p>",
          "name" : "ResourceId",
          "c2jName" : "ResourceId",
          "c2jShape" : "ResourceId",
          "variable" : {
            "variableName" : "resourceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
[...]
