{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "AddInstanceGroupsRequest" : {
        "constructorForms" : [ [ "InstanceGroups", "JobFlowId" ] ]
      },
      "AddJobFlowStepsRequest" : {
        "constructorForms" : [ [ "JobFlowId" ], [ "JobFlowId", "Steps" ] ]
      },
      "AddTagsRequest" : {
        "constructorForms" : [ [ "ResourceId" ], [ "ResourceId", "Tags" ] ]
      },
      "BootstrapActionConfig" : {
        "constructorForms" : [ [ "Name", "ScriptBootstrapAction" ] ]
      },
      "BootstrapActionDetail" : {
        "constructorForms" : [ [ "BootstrapActionConfig" ] ]
      },
      "DescribeJobFlowsRequest" : {
        "constructorForms" : [ [ "JobFlowIds" ] ]
      },
      "HadoopJarStepConfig" : {
        "constructorForms" : [ [ "Jar" ] ]
      },
      "InstanceGroupConfig" : {
        "constructorForms" : [ [ "InstanceRole", "InstanceType", "InstanceCount" ] ]
      },
      "InstanceGroupDetail" : {
        "constructorForms" : [ [ "InstanceRole", "InstanceType", "InstanceRequestCount", "InstanceRunningCount", "State", "CreationDateTime" ] ]
      },
      "InstanceGroupModifyConfig" : {
        "constructorForms" : [ [ "InstanceGroupId", "InstanceCount" ] ]
      },
      "JobFlowDetail" : {
        "constructorForms" : [ [ "JobFlowId", "Name", "ExecutionStatusDetail", "Instances" ] ]
      },
      "JobFlowExecutionStatusDetail" : {
        "constructorForms" : [ [ "State", "CreationDateTime" ] ]
      },
      "JobFlowInstancesDetail" : {
        "constructorForms" : [ [ "MasterInstanceType", "SlaveInstanceType", "InstanceCount" ] ]
      },
      "KeyValue" : {
        "constructorForms" : [ [ "Key", "Value" ] ]
      },
      "ModifyInstanceGroupsRequest" : {
        "constructorForms" : [ [ "InstanceGroups" ] ]
      },
      "PlacementType" : {
        "constructorForms" : [ [ "AvailabilityZone" ] ]
      },
      "RemoveTagsRequest" : {
        "constructorForms" : [ [ "ResourceId" ], [ "ResourceId", "TagKeys" ] ]
      },
      "RunJobFlowRequest" : {
        "constructorForms" : [ [ "Name", "Instances" ] ]
      },
      "ScriptBootstrapActionConfig" : {
        "constructorForms" : [ [ "Path", "Args" ] ]
      },
      "StepConfig" : {
        "constructorForms" : [ [ "Name", "HadoopJarStep" ] ]
      },
      "StepDetail" : {
        "constructorForms" : [ [ "StepConfig", "ExecutionStatusDetail" ] ]
      },
      "StepExecutionStatusDetail" : {
        "constructorForms" : [ [ "State", "CreationDateTime" ] ]
      },
      "Tag" : {
        "constructorForms" : [ [ "Key", "Value" ] ]
      },
      "TerminateJobFlowsRequest" : {
        "constructorForms" : [ [ "JobFlowIds" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : "ElasticMapReduce",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "InvalidRequestException" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "ErrorCode" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : "emrErrorCode",
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeJobFlows" : {
        "methodForms" : [ [ ] ]
      },
      "ListClusters" : {
        "methodForms" : [ [ ] ]
      },
      "ModifyInstanceGroups" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true
  },
  "metadata" : {
    "apiVersion" : "2009-03-31",
    "asyncClient" : "AmazonElasticMapReduceAsyncClient",
    "asyncClientBuilderClassName" : "AmazonElasticMapReduceAsyncClientBuilder",
    "asyncInterface" : "AmazonElasticMapReduceAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonElasticMapReduceModuleInjector",
    "defaultEndpoint" : "https://elasticmapreduce.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticmapreduce.amazonaws.com",
    "documentation" : "<p>Amazon EMR is a web service that makes it easy to process large amounts of data efficiently. Amazon EMR uses Hadoop processing combined with several AWS products to do tasks such as web indexing, data mining, log file analysis, machine learning, scientific simulation, and data warehousing.</p>",
    "endpointPrefix" : "elasticmapreduce",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.elasticmapreduce",
    "packagePath" : "com/amazonaws/services/elasticmapreduce",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "Amazon EMR",
    "serviceFullName" : "Amazon Elastic MapReduce",
    "serviceName" : "Amazon EMR",
    "signingName" : "elasticmapreduce",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticmapreduce.smoketests",
    "syncClient" : "AmazonElasticMapReduceClient",
    "syncClientBuilderClassName" : "AmazonElasticMapReduceClientBuilder",
    "syncInterface" : "AmazonElasticMapReduce",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddInstanceGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddInstanceGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddInstanceGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddInstanceGroupsRequest, AddInstanceGroupsResult>",
      "asyncReturnType" : "AddInstanceGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more instance groups to a running cluster.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddInstanceGroupsRequest",
        "variableName" : "addInstanceGroupsRequest",
        "variableType" : "AddInstanceGroupsRequest",
        "documentation" : "<p>Input to an AddInstanceGroups call.</p>",
        "simpleType" : "AddInstanceGroupsRequest",
        "variableSetterType" : "AddInstanceGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addInstanceGroups",
      "operationName" : "AddInstanceGroups",
      "returnType" : {
        "returnType" : "AddInstanceGroupsResult",
        "documentation" : "<p>Output from an AddInstanceGroups call.</p>"
      },
      "syncReturnType" : "AddInstanceGroupsResult"
    },
    "AddJobFlowSteps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddJobFlowStepsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddJobFlowStepsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddJobFlowStepsRequest, AddJobFlowStepsResult>",
      "asyncReturnType" : "AddJobFlowStepsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>AddJobFlowSteps adds new steps to a running job flow. A maximum of 256 steps are allowed in each job flow.</p> <p>If your job flow is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using the SSH shell to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Job Flow</a> in the <i>Amazon EMR Developer's Guide</i>.</p> <p>A step specifies the location of a JAR file stored either on the master node of the job flow or in Amazon S3. Each step is performed by the main function of the main class of the JAR file. The main class can be specified either in the manifest of the JAR or by using the MainFunction parameter of the step.</p> <p>Amazon EMR executes each step in the order listed. For a step to be considered complete, the main function must exit with a zero exit code and all Hadoop jobs started while the step was running must have completed and run successfully.</p> <p>You can only add steps to a job flow that is in one of the following states: STARTING, BOOTSTRAPPING, RUNNING, or WAITING.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddJobFlowStepsRequest",
        "variableName" : "addJobFlowStepsRequest",
        "variableType" : "AddJobFlowStepsRequest",
        "documentation" : "<p> The input argument to the <a>AddJobFlowSteps</a> operation. </p>",
        "simpleType" : "AddJobFlowStepsRequest",
        "variableSetterType" : "AddJobFlowStepsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addJobFlowSteps",
      "operationName" : "AddJobFlowSteps",
      "returnType" : {
        "returnType" : "AddJobFlowStepsResult",
        "documentation" : "<p> The output for the <a>AddJobFlowSteps</a> operation. </p>"
      },
      "syncReturnType" : "AddJobFlowStepsResult"
    },
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-plan-tags.html\">Tagging Amazon EMR Resources</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "<p>This input identifies a cluster and a list of tags to attach.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>This output indicates the result of adding tags to a resource.</p>"
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CancelSteps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelStepsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelStepsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelStepsRequest, CancelStepsResult>",
      "asyncReturnType" : "CancelStepsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a pending step or steps in a running cluster. Available only in Amazon EMR versions 4.8.0 and later, excluding version 5.0.0. A maximum of 256 steps are allowed in each CancelSteps request. CancelSteps is idempotent but asynchronous; it does not guarantee a step will be canceled, even if the request is successfully submitted. You can only cancel steps that are in a <code>PENDING</code> state.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelStepsRequest",
        "variableName" : "cancelStepsRequest",
        "variableType" : "CancelStepsRequest",
        "documentation" : "<p>The input argument to the <a>CancelSteps</a> operation.</p>",
        "simpleType" : "CancelStepsRequest",
        "variableSetterType" : "CancelStepsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelSteps",
      "operationName" : "CancelSteps",
      "returnType" : {
        "returnType" : "CancelStepsResult",
        "documentation" : "<p> The output for the <a>CancelSteps</a> operation. </p>"
      },
      "syncReturnType" : "CancelStepsResult"
    },
    "CreateSecurityConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSecurityConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSecurityConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSecurityConfigurationRequest, CreateSecurityConfigurationResult>",
      "asyncReturnType" : "CreateSecurityConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a security configuration, which is stored in the service and can be specified when a cluster is created.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSecurityConfigurationRequest",
        "variableName" : "createSecurityConfigurationRequest",
        "variableType" : "CreateSecurityConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateSecurityConfigurationRequest",
        "variableSetterType" : "CreateSecurityConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSecurityConfiguration",
      "operationName" : "CreateSecurityConfiguration",
      "returnType" : {
        "returnType" : "CreateSecurityConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSecurityConfigurationResult"
    },
    "DeleteSecurityConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSecurityConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSecurityConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSecurityConfigurationRequest, DeleteSecurityConfigurationResult>",
      "asyncReturnType" : "DeleteSecurityConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a security configuration.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSecurityConfigurationRequest",
        "variableName" : "deleteSecurityConfigurationRequest",
        "variableType" : "DeleteSecurityConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSecurityConfigurationRequest",
        "variableSetterType" : "DeleteSecurityConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSecurityConfiguration",
      "operationName" : "DeleteSecurityConfiguration",
      "returnType" : {
        "returnType" : "DeleteSecurityConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSecurityConfigurationResult"
    },
    "DescribeCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterRequest, DescribeClusterResult>",
      "asyncReturnType" : "DescribeClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides cluster-level details including status, hardware and software configuration, VPC settings, and so on. For information about the cluster steps, see <a>ListSteps</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeClusterRequest",
        "variableName" : "describeClusterRequest",
        "variableType" : "DescribeClusterRequest",
        "documentation" : "<p>This input determines which cluster to describe.</p>",
        "simpleType" : "DescribeClusterRequest",
        "variableSetterType" : "DescribeClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCluster",
      "operationName" : "DescribeCluster",
      "returnType" : {
        "returnType" : "DescribeClusterResult",
        "documentation" : "<p>This output contains the description of the cluster.</p>"
      },
      "syncReturnType" : "DescribeClusterResult"
    },
    "DescribeJobFlows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobFlowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobFlowsRequest, DescribeJobFlowsResult>",
      "asyncReturnType" : "DescribeJobFlowsResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>This API is deprecated and will eventually be removed. We recommend you use <a>ListClusters</a>, <a>DescribeCluster</a>, <a>ListSteps</a>, <a>ListInstanceGroups</a> and <a>ListBootstrapActions</a> instead.</p> <p>DescribeJobFlows returns a list of job flows that match all of the supplied parameters. The parameters can include a list of job flow IDs, job flow states, and restrictions on job flow creation date and time.</p> <p>Regardless of supplied parameters, only job flows created within the last two months are returned.</p> <p>If no parameters are supplied, then job flows matching either of the following criteria are returned:</p> <ul> <li> <p>Job flows created and completed in the last two weeks</p> </li> <li> <p> Job flows created within the last two months that are in one of the following states: <code>RUNNING</code>, <code>WAITING</code>, <code>SHUTTING_DOWN</code>, <code>STARTING</code> </p> </li> </ul> <p>Amazon EMR can return a maximum of 512 job flow descriptions.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeJobFlowsRequest",
        "variableName" : "describeJobFlowsRequest",
        "variableType" : "DescribeJobFlowsRequest",
        "documentation" : "<p> The input for the <a>DescribeJobFlows</a> operation. </p>",
        "simpleType" : "DescribeJobFlowsRequest",
        "variableSetterType" : "DescribeJobFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobFlows",
      "operationName" : "DescribeJobFlows",
      "returnType" : {
        "returnType" : "DescribeJobFlowsResult",
        "documentation" : "<p> The output for the <a>DescribeJobFlows</a> operation. </p>"
      },
      "syncReturnType" : "DescribeJobFlowsResult"
    },
    "DescribeSecurityConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSecurityConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSecurityConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSecurityConfigurationRequest, DescribeSecurityConfigurationResult>",
      "asyncReturnType" : "DescribeSecurityConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the details of a security configuration by returning the configuration JSON.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSecurityConfigurationRequest",
        "variableName" : "describeSecurityConfigurationRequest",
        "variableType" : "DescribeSecurityConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeSecurityConfigurationRequest",
        "variableSetterType" : "DescribeSecurityConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSecurityConfiguration",
      "operationName" : "DescribeSecurityConfiguration",
      "returnType" : {
        "returnType" : "DescribeSecurityConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSecurityConfigurationResult"
    },
    "DescribeStep" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStepResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStepResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStepRequest, DescribeStepResult>",
      "asyncReturnType" : "DescribeStepResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides more detail about the cluster step.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStepRequest",
        "variableName" : "describeStepRequest",
        "variableType" : "DescribeStepRequest",
        "documentation" : "<p>This input determines which step to describe.</p>",
        "simpleType" : "DescribeStepRequest",
        "variableSetterType" : "DescribeStepRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStep",
      "operationName" : "DescribeStep",
      "returnType" : {
        "returnType" : "DescribeStepResult",
        "documentation" : "<p>This output contains the description of the cluster step.</p>"
      },
      "syncReturnType" : "DescribeStepResult"
    },
    "ListBootstrapActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBootstrapActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBootstrapActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBootstrapActionsRequest, ListBootstrapActionsResult>",
      "asyncReturnType" : "ListBootstrapActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the bootstrap actions associated with a cluster.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListBootstrapActionsRequest",
        "variableName" : "listBootstrapActionsRequest",
        "variableType" : "ListBootstrapActionsRequest",
        "documentation" : "<p>This input determines which bootstrap actions to retrieve.</p>",
        "simpleType" : "ListBootstrapActionsRequest",
        "variableSetterType" : "ListBootstrapActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBootstrapActions",
      "operationName" : "ListBootstrapActions",
      "returnType" : {
        "returnType" : "ListBootstrapActionsResult",
        "documentation" : "<p>This output contains the bootstrap actions detail.</p>"
      },
      "syncReturnType" : "ListBootstrapActionsResult"
    },
    "ListClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersRequest, ListClustersResult>",
      "asyncReturnType" : "ListClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the status of all clusters visible to this AWS account. Allows you to filter the list of clusters based on certain criteria; for example, filtering by cluster creation date and time or by status. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListClusters calls.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListClustersRequest",
        "variableName" : "listClustersRequest",
        "variableType" : "ListClustersRequest",
        "documentation" : "<p>This input determines how the ListClusters action filters the list of clusters that it returns.</p>",
        "simpleType" : "ListClustersRequest",
        "variableSetterType" : "ListClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusters",
      "operationName" : "ListClusters",
      "returnType" : {
        "returnType" : "ListClustersResult",
        "documentation" : "<p>This contains a ClusterSummaryList with the cluster details; for example, the cluster IDs, names, and status.</p>"
      },
      "syncReturnType" : "ListClustersResult"
    },
    "ListInstanceGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInstanceGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInstanceGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInstanceGroupsRequest, ListInstanceGroupsResult>",
      "asyncReturnType" : "ListInstanceGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides all available details about the instance groups in a cluster.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListInstanceGroupsRequest",
        "variableName" : "listInstanceGroupsRequest",
        "variableType" : "ListInstanceGroupsRequest",
        "documentation" : "<p>This input determines which instance groups to retrieve.</p>",
        "simpleType" : "ListInstanceGroupsRequest",
        "variableSetterType" : "ListInstanceGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInstanceGroups",
      "operationName" : "ListInstanceGroups",
      "returnType" : {
        "returnType" : "ListInstanceGroupsResult",
        "documentation" : "<p>This input determines which instance groups to retrieve.</p>"
      },
      "syncReturnType" : "ListInstanceGroupsResult"
    },
    "ListInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInstancesRequest, ListInstancesResult>",
      "asyncReturnType" : "ListInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the cluster instances that Amazon EMR provisions on behalf of a user when it creates the cluster. For example, this operation indicates when the EC2 instances reach the Ready state, when instances become available to Amazon EMR to use for jobs, and the IP addresses for cluster instances, etc.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListInstancesRequest",
        "variableName" : "listInstancesRequest",
        "variableType" : "ListInstancesRequest",
        "documentation" : "<p>This input determines which instances to list.</p>",
        "simpleType" : "ListInstancesRequest",
        "variableSetterType" : "ListInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInstances",
      "operationName" : "ListInstances",
      "returnType" : {
        "returnType" : "ListInstancesResult",
        "documentation" : "<p>This output contains the list of instances.</p>"
      },
      "syncReturnType" : "ListInstancesResult"
    },
    "ListSecurityConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSecurityConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSecurityConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSecurityConfigurationsRequest, ListSecurityConfigurationsResult>",
      "asyncReturnType" : "ListSecurityConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the security configurations visible to this account, providing their creation dates and times, and their names. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListSecurityConfigurations calls.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListSecurityConfigurationsRequest",
        "variableName" : "listSecurityConfigurationsRequest",
        "variableType" : "ListSecurityConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListSecurityConfigurationsRequest",
        "variableSetterType" : "ListSecurityConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSecurityConfigurations",
      "operationName" : "ListSecurityConfigurations",
      "returnType" : {
        "returnType" : "ListSecurityConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSecurityConfigurationsResult"
    },
    "ListSteps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStepsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStepsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStepsRequest, ListStepsResult>",
      "asyncReturnType" : "ListStepsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of steps for the cluster in reverse order unless you specify stepIds with the request.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListStepsRequest",
        "variableName" : "listStepsRequest",
        "variableType" : "ListStepsRequest",
        "documentation" : "<p>This input determines which steps to list.</p>",
        "simpleType" : "ListStepsRequest",
        "variableSetterType" : "ListStepsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSteps",
      "operationName" : "ListSteps",
      "returnType" : {
        "returnType" : "ListStepsResult",
        "documentation" : "<p>This output contains the list of steps returned in reverse order. This means that the last step is the first element in the list.</p>"
      },
      "syncReturnType" : "ListStepsResult"
    },
    "ModifyInstanceGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyInstanceGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyInstanceGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyInstanceGroupsRequest, ModifyInstanceGroupsResult>",
      "asyncReturnType" : "ModifyInstanceGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>ModifyInstanceGroups modifies the number of nodes and configuration settings of an instance group. The input parameters include the new target instance count for the group and the instance group ID. The call will either succeed or fail atomically.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyInstanceGroupsRequest",
        "variableName" : "modifyInstanceGroupsRequest",
        "variableType" : "ModifyInstanceGroupsRequest",
        "documentation" : "<p>Change the size of some instance groups.</p>",
        "simpleType" : "ModifyInstanceGroupsRequest",
        "variableSetterType" : "ModifyInstanceGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyInstanceGroups",
      "operationName" : "ModifyInstanceGroups",
      "returnType" : {
        "returnType" : "ModifyInstanceGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyInstanceGroupsResult"
    },
    "PutAutoScalingPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAutoScalingPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAutoScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAutoScalingPolicyRequest, PutAutoScalingPolicyResult>",
      "asyncReturnType" : "PutAutoScalingPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates an automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutAutoScalingPolicyRequest",
        "variableName" : "putAutoScalingPolicyRequest",
        "variableType" : "PutAutoScalingPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutAutoScalingPolicyRequest",
        "variableSetterType" : "PutAutoScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAutoScalingPolicy",
      "operationName" : "PutAutoScalingPolicy",
      "returnType" : {
        "returnType" : "PutAutoScalingPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAutoScalingPolicyResult"
    },
    "RemoveAutoScalingPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveAutoScalingPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveAutoScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveAutoScalingPolicyRequest, RemoveAutoScalingPolicyResult>",
      "asyncReturnType" : "RemoveAutoScalingPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an automatic scaling policy from a specified instance group within an EMR cluster.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveAutoScalingPolicyRequest",
        "variableName" : "removeAutoScalingPolicyRequest",
        "variableType" : "RemoveAutoScalingPolicyRequest",
        "documentation" : "",
        "simpleType" : "RemoveAutoScalingPolicyRequest",
        "variableSetterType" : "RemoveAutoScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeAutoScalingPolicy",
      "operationName" : "RemoveAutoScalingPolicy",
      "returnType" : {
        "returnType" : "RemoveAutoScalingPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveAutoScalingPolicyResult"
    },
    "RemoveTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "asyncReturnType" : "RemoveTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-plan-tags.html\">Tagging Amazon EMR Resources</a>. </p> <p>The following example removes the stack tag with value Prod from a cluster:</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the EMR service.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception occurs when there is something wrong with user input.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsRequest",
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "documentation" : "<p>This input identifies a cluster and a list of tags to remove.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTags",
      "operationName" : "RemoveTags",
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : "<p>This output indicates the result of removing tags from a resource.</p>"
      },
      "syncReturnType" : "RemoveTagsResult"
    },
    "RunJobFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RunJobFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RunJobFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RunJobFlowRequest, RunJobFlowResult>",
      "asyncReturnType" : "RunJobFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>RunJobFlow creates and starts running a new job flow. The job flow will run the steps specified. After the job flow completes, the cluster is stopped and the HDFS partition is lost. To prevent loss of data, configure the last step of the job flow to store results in Amazon S3. If the <a>JobFlowInstancesConfig</a> <code>KeepJobFlowAliveWhenNoSteps</code> parameter is set to <code>TRUE</code>, the job flow will transition to the WAITING state rather than shutting down after the steps have completed. </p> <p>For additional protection, you can set the <a>JobFlowInstancesConfig</a> <code>TerminationProtected</code> parameter to <code>TRUE</code> to lock the job flow and prevent it from being terminated by API call, user intervention, or in the event of a job flow error.</p> <p>A maximum of 256 steps are allowed in each job flow.</p> <p>If your job flow is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using the SSH shell to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/Management/Guide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Job Flow</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>For long running job flows, we recommend that you periodically store your results.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RunJobFlowRequest",
        "variableName" : "runJobFlowRequest",
        "variableType" : "RunJobFlowRequest",
        "documentation" : "<p> Input to the <a>RunJobFlow</a> operation. </p>",
        "simpleType" : "RunJobFlowRequest",
        "variableSetterType" : "RunJobFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "runJobFlow",
      "operationName" : "RunJobFlow",
      "returnType" : {
        "returnType" : "RunJobFlowResult",
        "documentation" : "<p> The result of the <a>RunJobFlow</a> operation. </p>"
      },
      "syncReturnType" : "RunJobFlowResult"
    },
    "SetTerminationProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetTerminationProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetTerminationProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTerminationProtectionRequest, SetTerminationProtectionResult>",
      "asyncReturnType" : "SetTerminationProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>SetTerminationProtection locks a job flow so the EC2 instances in the cluster cannot be terminated by user intervention, an API call, or in the event of a job-flow error. The cluster still terminates upon successful completion of the job flow. Calling SetTerminationProtection on a job flow is analogous to calling the Amazon EC2 DisableAPITermination API on all of the EC2 instances in a cluster.</p> <p>SetTerminationProtection is used to prevent accidental termination of a job flow and to ensure that in the event of an error, the instances will persist so you can recover any data stored in their ephemeral instance storage.</p> <p> To terminate a job flow that has been locked by setting SetTerminationProtection to <code>true</code>, you must first unlock the job flow by a subsequent call to SetTerminationProtection in which you set the value to <code>false</code>. </p> <p> For more information, see<a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/UsingEMR_TerminationProtection.html\">Protecting a Job Flow from Termination</a> in the <i>Amazon EMR Guide.</i> </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetTerminationProtectionRequest",
        "variableName" : "setTerminationProtectionRequest",
        "variableType" : "SetTerminationProtectionRequest",
        "documentation" : "<p> The input argument to the <a>TerminationProtection</a> operation. </p>",
        "simpleType" : "SetTerminationProtectionRequest",
        "variableSetterType" : "SetTerminationProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setTerminationProtection",
      "operationName" : "SetTerminationProtection",
      "returnType" : {
        "returnType" : "SetTerminationProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "SetTerminationProtectionResult"
    },
    "SetVisibleToAllUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetVisibleToAllUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetVisibleToAllUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetVisibleToAllUsersRequest, SetVisibleToAllUsersResult>",
      "asyncReturnType" : "SetVisibleToAllUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets whether all AWS Identity and Access Management (IAM) users under your account can access the specified job flows. This action works on running job flows. You can also set the visibility of a job flow when you launch it using the <code>VisibleToAllUsers</code> parameter of <a>RunJobFlow</a>. The SetVisibleToAllUsers action can be called only by an IAM user who created the job flow or the AWS account that owns the job flow.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetVisibleToAllUsersRequest",
        "variableName" : "setVisibleToAllUsersRequest",
        "variableType" : "SetVisibleToAllUsersRequest",
        "documentation" : "<p>The input to the SetVisibleToAllUsers action.</p>",
        "simpleType" : "SetVisibleToAllUsersRequest",
        "variableSetterType" : "SetVisibleToAllUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setVisibleToAllUsers",
      "operationName" : "SetVisibleToAllUsers",
      "returnType" : {
        "returnType" : "SetVisibleToAllUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "SetVisibleToAllUsersResult"
    },
    "TerminateJobFlows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateJobFlowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateJobFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateJobFlowsRequest, TerminateJobFlowsResult>",
      "asyncReturnType" : "TerminateJobFlowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>TerminateJobFlows shuts a list of job flows down. When a job flow is shut down, any step not yet completed is canceled and the EC2 instances on which the job flow is running are stopped. Any log files not already saved are uploaded to Amazon S3 if a LogUri was specified when the job flow was created.</p> <p>The maximum number of JobFlows allowed is 10. The call to TerminateJobFlows is asynchronous. Depending on the configuration of the job flow, it may take up to 1-5 minutes for the job flow to completely terminate and release allocated resources, such as Amazon EC2 instances.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Indicates that an error occurred while processing the request and that the request was not completed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TerminateJobFlowsRequest",
        "variableName" : "terminateJobFlowsRequest",
        "variableType" : "TerminateJobFlowsRequest",
        "documentation" : "<p> Input to the <a>TerminateJobFlows</a> operation. </p>",
        "simpleType" : "TerminateJobFlowsRequest",
        "variableSetterType" : "TerminateJobFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateJobFlows",
      "operationName" : "TerminateJobFlows",
      "returnType" : {
        "returnType" : "TerminateJobFlowsResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateJobFlowsResult"
    }
  },
  "shapes" : {
    "ActionOnFailure" : {
      "c2jName" : "ActionOnFailure",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "TERMINATE_JOB_FLOW",
        "value" : "TERMINATE_JOB_FLOW"
      }, {
        "name" : "TERMINATE_CLUSTER",
        "value" : "TERMINATE_CLUSTER"
      }, {
        "name" : "CANCEL_AND_WAIT",
        "value" : "CANCEL_AND_WAIT"
      }, {
        "name" : "CONTINUE",
        "value" : "CONTINUE"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ActionOnFailure",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ActionOnFailure",
        "variableName" : "actionOnFailure",
        "variableType" : "ActionOnFailure",
        "documentation" : null,
        "simpleType" : "ActionOnFailure",
        "variableSetterType" : "ActionOnFailure"
      },
      "wrapper" : false
    },
    "AddInstanceGroupsRequest" : {
      "c2jName" : "AddInstanceGroupsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Input to an AddInstanceGroups call.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddInstanceGroups",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "ElasticMapReduce.AddInstanceGroups",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "InstanceGroups",
        "c2jShape" : "InstanceGroupConfigList",
        "deprecated" : false,
        "documentation" : "<p>Instance groups to add.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Instance groups to add.</p>\n@param instanceGroups Instance groups to add.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Instance groups to add.</p>\n@return Instance groups to add.*/",
        "getterModel" : {
          "returnType" : "java.util.List<InstanceGroupConfig>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "InstanceGroups",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InstanceGroups",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "InstanceGroupConfig",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "InstanceGroupConfig",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "InstanceGroupConfig",
              "variableName" : "member",
              "variableType" : "InstanceGroupConfig",
              "documentation" : "",
              "simpleType" : "InstanceGroupConfig",
              "variableSetterType" : "InstanceGroupConfig"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "InstanceGroupConfig",
              "variableName" : "member",
              "variableType" : "InstanceGroupConfig",
              "documentation" : "",
              "simpleType" : "InstanceGroupConfig",
              "variableSetterType" : "InstanceGroupConfig"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "InstanceGroupConfig",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "InstanceGroupConfig",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<InstanceGroupConfig>",
          "templateType" : "java.util.List<InstanceGroupConfig>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "InstanceGroups",
        "setterDocumentation" : "/**<p>Instance groups to add.</p>\n@param instanceGroups Instance groups to add.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<InstanceGroupConfig>",
          "variableName" : "instanceGroups",
          "variableType" : "java.util.List<InstanceGroupConfig>",
          "documentation" : "",
          "simpleType" : "List<InstanceGroupConfig>",
          "variableSetterType" : "java.util.Collection<InstanceGroupConfig>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Instance groups to add.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInstanceGroups(java.util.Collection)} or {@link #withInstanceGroups(java.util.Collection)} if you want to override the existing values.</p>\n@param instanceGroups Instance groups to add.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<InstanceGroupConfig>",
          "variableName" : "instanceGroups",
          "variableType" : "java.util.List<InstanceGroupConfig>",
          "documentation" : "<p>Instance groups to add.</p>",
          "simpleType" : "List<InstanceGroupConfig>",
          "variableSetterType" : "java.util.Collection<InstanceGroupConfig>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "JobFlowId",
        "c2jShape" : "XmlStringMaxLen256",
        "deprecated" : false,
        "documentation" : "<p>Job flow in which to add the instance groups.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Job flow in which to add the instance groups.</p>\n@param jobFlowId Job flow in which to add the instance groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Job flow in which to add the instance groups.</p>\n@return Job flow in which to add the instance groups.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "JobFlowId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JobFlowId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobFlowId",
        "setterDocumentation" : "/**<p>Job flow in which to add the instance groups.</p>\n@param jobFlowId Job flow in which to add the instance groups.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobFlowId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Job flow in which to add the instance groups.</p>\n@param jobFlowId Job flow in which to add the instance groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobFlowId",
          "variableType" : "String",
          "documentation" : "<p>Job flow in which to add the instance groups.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "InstanceGroups" : {
          "c2jName" : "InstanceGroups",
          "c2jShape" : "InstanceGroupConfigList",
          "deprecated" : false,
          "documentation" : "<p>Instance groups to add.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Instance groups to add.</p>\n@param instanceGroups Instance groups to add.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Instance groups to add.</p>\n@return Instance groups to add.*/",
          "getterModel" : {
            "returnType" : "java.util.List<InstanceGroupConfig>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "InstanceGroups",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InstanceGroups",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "InstanceGroupConfig",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "InstanceGroupConfig",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "InstanceGroupConfig",
                "variableName" : "member",
                "variableType" : "InstanceGroupConfig",
                "documentation" : "",
                "simpleType" : "InstanceGroupConfig",
                "variableSetterType" : "InstanceGroupConfig"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "InstanceGroupConfig",
                "variableName" : "member",
                "variableType" : "InstanceGroupConfig",
                "documentation" : "",
                "simpleType" : "InstanceGroupConfig",
                "variableSetterType" : "InstanceGroupConfig"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "InstanceGroupConfig",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "InstanceGroupConfig",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<InstanceGroupConfig>",
            "templateType" : "java.util.List<InstanceGroupConfig>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "InstanceGroups",
          "setterDocumentation" : "/**<p>Instance groups to add.</p>\n@param instanceGroups Instance groups to add.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<InstanceGroupConfig>",
            "variableName" : "instanceGroups",
            "variableType" : "java.util.List<InstanceGroupConfig>",
            "documentation" : "",
            "simpleType" : "List<InstanceGroupConfig>",
            "variableSetterType" : "java.util.Collection<InstanceGroupConfig>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>Instance groups to add.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInstanceGroups(java.util.Collection)} or {@link #withInstanceGroups(java.util.Collection)} if you want to override the existing values.</p>\n@param instanceGroups Instance groups to add.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<InstanceGroupConfig>",
            "variableName" : "instanceGroups",
            "variableType" : "java.util.List<InstanceGroupConfig>",
            "documentation" : "<p>Instance groups to add.</p>",
            "simpleType" : "List<InstanceGroupConfig>",
            "variableSetterType" : "java.util.Collection<InstanceGroupConfig>"
          },
          "xmlNameSpaceUri" : null
        },
        "JobFlowId" : {
          "c2jName" : "JobFlowId",
          "c2jShape" : "XmlStringMaxLen256",
          "deprecated" : false,
          "documentation" : "<p>Job flow in which to add the instance groups.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Job flow in which to add the instance groups.</p>\n@param jobFlowId Job flow in which to add the instance groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Job flow in which to add the instance groups.</p>\n@return Job flow in which to add the instance groups.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "JobFlowId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "JobFlowId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "JobFlowId",
          "setterDocumentation" : "/**<p>Job flow in which to add the instance groups.</p>\n@param jobFlowId Job flow in which to add the instance groups.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobFlowId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Job flow in which to add the instance groups.</p>\n@param jobFlowId Job flow in which to add the instance groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobFlowId",
            "variableType" : "String",
            "documentation" : "<p>Job flow in which to add the instance groups.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "InstanceGroups", "JobFlowId" ],
      "shapeName" : "AddInstanceGroupsRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddInstanceGroupsRequest",
        "variableName" : "addInstanceGroupsRequest",
        "variableType" : "AddInstanceGroupsRequest",
        "documentation" : null,
        "simpleType" : "AddInstanceGroupsRequest",
        "variableSetterType" : "AddInstanceGroupsRequest"
      },
      "wrapper" : false
    },
    "AddInstanceGroupsResult" : {
      "c2jName" : "AddInstanceGroupsOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Output from an AddInstanceGroups call.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "JobFlowId",
        "c2jShape" : "XmlStringMaxLen256",
        "deprecated" : false,
        "documentation" : "<p>The job flow ID in which the instance groups are added.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The job flow ID in which the instance groups are added.</p>\n@param jobFlowId The job flow ID in which the instance groups are added.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The job flow ID in which the instance groups are added.</p>\n@return The job flow ID in which the instance groups are added.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "JobFlowId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JobFlowId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobFlowId",
        "setterDocumentation" : "/**<p>The job flow ID in which the instance groups are added.</p>\n@param jobFlowId The job flow ID in which the instance groups are added.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobFlowId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The job flow ID in which the instance groups are added.</p>\n@param jobFlowId The job flow ID in which the instance groups are added.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobFlowId",
          "variableType" : "String",
          "documentation" : "<p>The job flow ID in which the instance groups are added.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InstanceGroupIds",
        "c2jShape" : "InstanceGroupIdsList",
        "deprecated" : false,
        "documentation" : "<p>Instance group IDs of the newly created instance groups.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Instance group IDs of the newly created instance groups.</p>\n@param instanceGroupIds Instance group IDs of the newly created instance groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Instance group IDs of the newly created instance groups.</p>\n@return Instance group IDs of the newly created instance groups.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "InstanceGroupIds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InstanceGroupIds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "XmlStringMaxLen256",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "InstanceGroupIds",
        "setterDocumentation" : "/**<p>Instance group IDs of the newly created instance groups.</p>\n@param instanceGroupIds Instance group IDs of the newly created instance groups.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "variableName" : "instanceGroupIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Instance group IDs of the newly created instance groups.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInstanceGroupIds(java.util.Collection)} or {@link #withInstanceGroupIds(java.util.Collection)} if you want to override the existing values.</p>\n@param instanceGroupIds Instance group IDs of the newly created instance groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "variableName" : "instanceGroupIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>Instance group IDs of the newly created instance groups.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "InstanceGroupIds" : {
          "c2jName" : "InstanceGroupIds",
          "c2jShape" : "InstanceGroupIdsList",
          "deprecated" : false,
          "documentation" : "<p>Instance group IDs of the newly created instance groups.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Instance group IDs of the newly created instance groups.</p>\n@param instanceGroupIds Instance group IDs of the newly created instance groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Instance group IDs of the newly created instance groups.</p>\n@return Instance group IDs of the newly created instance groups.*/",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "InstanceGroupIds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InstanceGroupIds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "XmlStringMaxLen256",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "InstanceGroupIds",
          "setterDocumentation" : "/**<p>Instance group IDs of the newly created instance groups.</p>\n@param instanceGroupIds Instance group IDs of the newly created instance groups.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "variableName" : "instanceGroupIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>Instance group IDs of the newly created instance groups.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInstanceGroupIds(java.util.Collection)} or {@link #withInstanceGroupIds(java.util.Collection)} if you want to override the existing values.</p>\n@param instanceGroupIds Instance group IDs of the newly created instance groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "variableName" : "instanceGroupIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>Instance group IDs of the newly created instance groups.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "JobFlowId" : {
          "c2jName" : "JobFlowId",
          "c2jShape" : "XmlStringMaxLen256",
          "deprecated" : false,
          "documentation" : "<p>The job flow ID in which the instance groups are added.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The job flow ID in which the instance groups are added.</p>\n@param jobFlowId The job flow ID in which the instance groups are added.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The job flow ID in which the instance groups are added.</p>\n@return The job flow ID in which the instance groups are added.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "JobFlowId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "JobFlowId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "JobFlowId",
          "setterDocumentation" : "/**<p>The job flow ID in which the instance groups are added.</p>\n@param jobFlowId The job flow ID in which the instance groups are added.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobFlowId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The job flow ID in which the instance groups are added.</p>\n@param jobFlowId The job flow ID in which the instance groups are added.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "jobFlowId",
            "variableType" : "String",
            "documentation" : "<p>The job flow ID in which the instance groups are added.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AddInstanceGroupsResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddInstanceGroupsResult",
        "variableName" : "addInstanceGroupsResult",
        "variableType" : "AddInstanceGroupsResult",
        "documentation" : null,
        "simpleType" : "AddInstanceGroupsResult",
        "variableSetterType" : "AddInstanceGroupsResult"
      },
      "wrapper" : false
    },
    "AddJobFlowStepsRequest" : {
      "c2jName" : "AddJobFlowStepsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The input argument to the <a>AddJobFlowSteps</a> operation. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddJobFlowSteps",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "ElasticMapReduce.AddJobFlowSteps",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "JobFlowId",
        "c2jShape" : "XmlStringMaxLen256",
        "deprecated" : false,
        "documentation" : "<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>\n@param jobFlowId A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>\n@return A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "JobFlowId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JobFlowId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "JobFlowId",
        "setterDocumentation" : "/**<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>\n@param jobFlowId A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobFlowId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>\n@param jobFlowId A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "jobFlowId",
          "variableType" : "String",
          "documentation" : "<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Steps",
        "c2jShape" : "StepConfigList",
        "deprecated" : false,
        "documentation" : "<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>\n@param steps A list of <a>StepConfig</a> to be executed by the job flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>\n@return A list of <a>StepConfig</a> to be executed by the job flow.*/",
        "getterModel" : {
          "returnType" : "java.util.List<StepConfig>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Steps",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Steps",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "StepConfig",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "StepConfig",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "StepConfig",
              "variableName" : "member",
              "variableType" : "StepConfig",
              "documentation" : "",
              "simpleType" : "StepConfig",
              "variableSetterType" : "StepConfig"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "StepConfig",
              "variableName" : "member",
              "variableType" : "StepConfig",
              "documentation" : "",
              "simpleType" : "StepConfig",
              "variableSetterType" : "StepConfig"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "StepConfig",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "StepConfig",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<StepConfig>",
          "templateType" : "java.util.List<StepConfig>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Steps",
        "setterDocumentation" : "/**<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>\n@param steps A list of <a>StepConfig</a> to be executed by the job flow.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<StepConfig>",
          "variableName" : "steps",
          "variableType" : "java.util.List<StepConfig>",
          "documentation" : "",
          "simpleType" : "List<StepConfig>",
          "variableSetterType" : "java.util.Collection<StepConfig>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSteps(java.util.Collection)} or {@link #withSteps(java.util.Collection)} if you want to override the existing values.</p>\n@param steps A list of <a>StepConfig</a> to be executed by the job flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<StepConfig>",
          "variableName" : "steps",
          "variableType" : "java.util.List<StepConfig>",
          "documentation" : "<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>",
          "simpleType" : "List<StepConfig>",
[...]
