{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : {
      "AwsCredentials" : "Credentials"
    },
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-10-01",
    "asyncClient" : "AmazonGameLiftAsyncClient",
    "asyncClientBuilderClassName" : "AmazonGameLiftAsyncClientBuilder",
    "asyncInterface" : "AmazonGameLiftAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonGameLiftModuleInjector",
    "defaultEndpoint" : "https://gamelift.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "gamelift.us-east-1.amazonaws.com",
    "documentation" : "<fullname>Amazon GameLift Service</fullname> <p>Welcome to the <i>Amazon GameLift API Reference</i>. Amazon GameLift is a managed Amazon Web Services (AWS) service for developers who need a scalable, server-based solution for multiplayer games. Amazon GameLift provides setup and deployment of game servers, and handles infrastructure scaling and session management.</p> <p>This reference describes the low-level service API for GameLift. You can call this API directly or use the <a href=\"http://aws.amazon.com/tools/#sdk\">AWS SDK</a> for your preferred language. The AWS SDK includes a set of high-level GameLift actions multiplayer game sessions. Alternatively, you can use the <a href=\"http://aws.amazon.com/cli/\">AWS command-line interface</a> (CLI) tool, which includes commands for GameLift. For administrative actions, you can also use the Amazon GameLift console. </p> <p> <b>More Resources</b> </p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/gamelift/latest/developerguide/\">Amazon GameLift Developer Guide</a>: Learn more about GameLift features and how to use them </p> </li> <li> <p> <a href=\"https://gamedev.amazon.com/forums/tutorials\">Lumberyard and GameLift Tutorials</a>: Get started fast with walkthroughs and sample projects</p> </li> <li> <p> <a href=\"http://aws.amazon.com/blogs/gamedev/\">GameDev Blog</a>: Stay up to date with new features and techniques</p> </li> <li> <p> <a href=\"https://gamedev.amazon.com/forums/spaces/123/gamelift-discussion.html\">GameDev Forums</a>: Connect with the GameDev community</p> </li> </ul> <p> <b>Manage Games and Players Through GameLift</b> </p> <p>Call these actions from your game clients and/or services to create and manage multiplayer game sessions and player sessions.</p> <ul> <li> <p> <b>Game sessions:</b> </p> <ul> <li> <p> <a>CreateGameSession</a> </p> </li> <li> <p> <a>DescribeGameSessions</a> </p> </li> <li> <p> <a>DescribeGameSessionDetails</a> </p> </li> <li> <p> <a>UpdateGameSession</a> </p> </li> <li> <p> <a>SearchGameSessions</a> </p> </li> </ul> </li> <li> <p> <b>Player sessions:</b> </p> <ul> <li> <p> <a>CreatePlayerSession</a> </p> </li> <li> <p> <a>CreatePlayerSessions</a> </p> </li> <li> <p> <a>DescribePlayerSessions</a> </p> </li> </ul> </li> <li> <p> <b>Other actions:</b> </p> <ul> <li> <p> <a>GetGameSessionLogUrl</a> </p> </li> </ul> </li> </ul> <p> <b>Set Up and Manage Game Servers</b> </p> <p>Use these administrative actions to configure GameLift to host your game servers. When setting up GameLift, you will need to (1) configure a build for your game and upload build files, and (2) set up one or more fleets to host game sessions. Once you've created and activated a fleet, you can assign aliases to it, scale capacity, track performance and utilization, etc.</p> <ul> <li> <p> <b>Game builds:</b> </p> <ul> <li> <p> <a>ListBuilds</a> </p> </li> <li> <p> <a>CreateBuild</a> </p> </li> <li> <p> <a>DescribeBuild</a> </p> </li> <li> <p> <a>UpdateBuild</a> </p> </li> <li> <p> <a>DeleteBuild</a> </p> </li> <li> <p> <a>RequestUploadCredentials</a> </p> </li> </ul> </li> <li> <p> <b>Fleets:</b> </p> <ul> <li> <p> <a>ListFleets</a> </p> </li> <li> <p> <a>CreateFleet</a> </p> </li> <li> <p>Describe fleets:</p> <ul> <li> <p> <a>DescribeFleetAttributes</a> </p> </li> <li> <p> <a>DescribeFleetCapacity</a> </p> </li> <li> <p> <a>DescribeFleetPortSettings</a> </p> </li> <li> <p> <a>DescribeFleetUtilization</a> </p> </li> <li> <p> <a>DescribeEC2InstanceLimits</a> </p> </li> <li> <p> <a>DescribeFleetEvents</a> </p> </li> <li> <p> <a>DescribeRuntimeConfiguration</a> </p> </li> </ul> </li> <li> <p>Update fleets:</p> <ul> <li> <p> <a>UpdateFleetAttributes</a> </p> </li> <li> <p> <a>UpdateFleetCapacity</a> </p> </li> <li> <p> <a>UpdateFleetPortSettings</a> </p> </li> <li> <p> <a>UpdateRuntimeConfiguration</a> </p> </li> </ul> </li> <li> <p> <a>DeleteFleet</a> </p> </li> </ul> </li> <li> <p> <b>Manage your instances:</b> </p> <ul> <li> <p> <a>DescribeInstances</a> </p> </li> <li> <p> <a>GetInstanceAccess</a> </p> </li> </ul> </li> <li> <p> <b>Manage fleet aliases:</b> </p> <ul> <li> <p> <a>ListAliases</a> </p> </li> <li> <p> <a>CreateAlias</a> </p> </li> <li> <p> <a>DescribeAlias</a> </p> </li> <li> <p> <a>UpdateAlias</a> </p> </li> <li> <p> <a>DeleteAlias</a> </p> </li> <li> <p> <a>ResolveAlias</a> </p> </li> </ul> </li> <li> <p> <b>Manage autoscaling:</b> </p> <ul> <li> <p> <a>PutScalingPolicy</a> </p> </li> <li> <p> <a>DescribeScalingPolicies</a> </p> </li> <li> <p> <a>DeleteScalingPolicy</a> </p> </li> </ul> </li> </ul> <p>To view changes to the API, see the GameLift <a href=\"http://docs.aws.amazon.com/gamelift/latest/developerguide/doc-history.html\">Document History</a> page.</p>",
    "endpointPrefix" : "gamelift",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.gamelift",
    "packagePath" : "com/amazonaws/services/gamelift",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon GameLift",
    "serviceName" : "Amazon GameLift",
    "signingName" : "gamelift",
    "smokeTestsPackageName" : "com.amazonaws.services.gamelift.smoketests",
    "syncClient" : "AmazonGameLiftClient",
    "syncClientBuilderClassName" : "AmazonGameLiftClientBuilder",
    "syncInterface" : "AmazonGameLift",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an alias for a fleet. You can use an alias to anonymize your fleet by referencing an alias instead of a specific fleet when you create game sessions. Amazon GameLift supports two types of routing strategies for aliases: simple and terminal. Use a simple alias to point to an active fleet. Use a terminal alias to display a message to incoming traffic instead of routing players to an active fleet. This option is useful when a game server is no longer supported but you want to provide better messaging than a standard 404 error.</p> <p>To create a fleet alias, specify an alias name, routing strategy, and optional description. If successful, a new alias record is returned, including an alias ID, which you can reference when creating a game session. To reassign the alias to another fleet ID, call <a>UpdateAlias</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested operation would cause the resource to exceed the allowed service limit. Resolve the issue before retrying.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateBuild" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBuildResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBuildResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBuildRequest, CreateBuildResult>",
      "asyncReturnType" : "CreateBuildResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initializes a new build record and generates information required to upload a game build to Amazon GameLift. Once the build record has been created and its status is <code>INITIALIZED</code>, you can upload your game build.</p> <important> <p>Do not use this API action unless you are using your own Amazon Simple Storage Service (Amazon S3) client and need to manually upload your build files. Instead, to create a build, use the CLI command <code>upload-build</code>, which creates a new build record and uploads the build files in one step. (See the <a href=\"http://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-build-intro.html\">Amazon GameLift Developer Guide</a> help on packaging and uploading your build.) </p> </important> <p>To create a new build, identify the operating system of the game server binaries. All game servers in a build must use the same operating system. Optionally, specify a build name and version; this metadata is stored with other properties in the build record and is displayed in the GameLift console (it is not visible to players). If successful, this action returns the newly created build record along with the Amazon S3 storage location and AWS account credentials. Use the location and credentials to upload your game build.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateBuildRequest",
        "variableName" : "createBuildRequest",
        "variableType" : "CreateBuildRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "CreateBuildRequest",
        "variableSetterType" : "CreateBuildRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBuild",
      "operationName" : "CreateBuild",
      "returnType" : {
        "returnType" : "CreateBuildResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "CreateBuildResult"
    },
    "CreateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFleetRequest, CreateFleetResult>",
      "asyncReturnType" : "CreateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new fleet to run your game servers. A fleet is a set of Amazon Elastic Compute Cloud (Amazon EC2) instances, each of which can run multiple server processes to host game sessions. You configure a fleet to create instances with certain hardware specifications (see <a href=\"http://aws.amazon.com/ec2/instance-types/\">Amazon EC2 Instance Types</a> for more information), and deploy a specified game build to each instance. A newly created fleet passes through several statuses; once it reaches the <code>ACTIVE</code> status, it can begin hosting game sessions.</p> <p>To create a new fleet, provide a fleet name, an EC2 instance type, and a build ID of the game build to deploy. You can also configure the new fleet with the following settings: (1) a runtime configuration describing what server processes to run on each instance in the fleet (required to create fleet), (2) access permissions for inbound traffic, (3) fleet-wide game session protection, and (4) the location of default log files for GameLift to upload and store.</p> <p>If the <code>CreateFleet</code> call is successful, Amazon GameLift performs the following tasks:</p> <ul> <li> <p>Creates a fleet record and sets the status to <code>NEW</code> (followed by other statuses as the fleet is activated).</p> </li> <li> <p>Sets the fleet's capacity to 1 \"desired\", which causes GameLift to start one new EC2 instance.</p> </li> <li> <p>Starts launching server processes on the instance. If the fleet is configured to run multiple server processes per instance, GameLift staggers each launch by a few seconds.</p> </li> <li> <p>Begins writing events to the fleet event log, which can be accessed in the GameLift console.</p> </li> <li> <p>Sets the fleet's status to <code>ACTIVE</code> once one server process in the fleet is ready to host a game session.</p> </li> </ul> <p>After a fleet is created, use the following actions to change fleet properties and configuration:</p> <ul> <li> <p> <a>UpdateFleetAttributes</a> -- Update fleet metadata, including name and description.</p> </li> <li> <p> <a>UpdateFleetCapacity</a> -- Increase or decrease the number of instances you want the fleet to maintain.</p> </li> <li> <p> <a>UpdateFleetPortSettings</a> -- Change the IP address and port ranges that allow access to incoming traffic.</p> </li> <li> <p> <a>UpdateRuntimeConfiguration</a> -- Change how server processes are launched in the fleet, including launch path, launch parameters, and the number of concurrent processes.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested operation would cause the resource to exceed the allowed service limit. Resolve the issue before retrying.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateFleetRequest",
        "variableName" : "createFleetRequest",
        "variableType" : "CreateFleetRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "CreateFleetRequest",
        "variableSetterType" : "CreateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFleet",
      "operationName" : "CreateFleet",
      "returnType" : {
        "returnType" : "CreateFleetResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "CreateFleetResult"
    },
    "CreateGameSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGameSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGameSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGameSessionRequest, CreateGameSessionResult>",
      "asyncReturnType" : "CreateGameSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a multiplayer game session for players. This action creates a game session record and assigns an available server process in the specified fleet to host the game session. A fleet must be in an <code>ACTIVE</code> status before a game session can be created in it.</p> <p>To create a game session, specify either fleet ID or alias ID, and indicate a maximum number of players to allow in the game session. You can also provide a name and game-specific properties for this game session. If successful, a <a>GameSession</a> object is returned containing session properties, including an IP address. By default, newly created game sessions allow new players to join. Use <a>UpdateGameSession</a> to change the game sessions player session creation policy.</p> <p>When creating a game session on a fleet with a resource limit creation policy, the request should include a creator ID. If none is provided, GameLift does not evaluate the fleet's resource limit creation policy.</p>",
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidFleetStatusException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the fleet. Resolve the conflict before retrying.</p>"
      }, {
        "exceptionName" : "TerminalRoutingStrategyException",
        "documentation" : "<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "FleetCapacityExceededException",
        "documentation" : "<p>The specified fleet has no available instances to fulfill a <code>CreateGameSession</code> request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested operation would cause the resource to exceed the allowed service limit. Resolve the issue before retrying.</p>"
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A game session with this custom ID string already exists in this fleet. Resolve this conflict before retrying this request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateGameSessionRequest",
        "variableName" : "createGameSessionRequest",
        "variableType" : "CreateGameSessionRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "CreateGameSessionRequest",
        "variableSetterType" : "CreateGameSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGameSession",
      "operationName" : "CreateGameSession",
      "returnType" : {
        "returnType" : "CreateGameSessionResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "CreateGameSessionResult"
    },
    "CreatePlayerSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlayerSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlayerSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlayerSessionRequest, CreatePlayerSessionResult>",
      "asyncReturnType" : "CreatePlayerSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a player to a game session and creates a player session record. A game session must be in an <code>ACTIVE</code> status, have a creation policy of <code>ALLOW_ALL</code>, and have an open player slot before players can be added to the session.</p> <p>To create a player session, specify a game session ID and player ID. If successful, the player is added to the game session and a new <a>PlayerSession</a> object is returned. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidGameSessionStatusException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the game instance. Resolve the conflict before retrying.</p>"
      }, {
        "exceptionName" : "GameSessionFullException",
        "documentation" : "<p>The game instance is currently full and cannot allow the requested player(s) to join. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "TerminalRoutingStrategyException",
        "documentation" : "<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePlayerSessionRequest",
        "variableName" : "createPlayerSessionRequest",
        "variableType" : "CreatePlayerSessionRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "CreatePlayerSessionRequest",
        "variableSetterType" : "CreatePlayerSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPlayerSession",
      "operationName" : "CreatePlayerSession",
      "returnType" : {
        "returnType" : "CreatePlayerSessionResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "CreatePlayerSessionResult"
    },
    "CreatePlayerSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlayerSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlayerSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlayerSessionsRequest, CreatePlayerSessionsResult>",
      "asyncReturnType" : "CreatePlayerSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a group of players to a game session. Similar to <a>CreatePlayerSession</a>, this action allows you to add multiple players in a single call, which is useful for games that provide party and/or matchmaking features. A game session must be in an <code>ACTIVE</code> status, have a creation policy of <code>ALLOW_ALL</code>, and have an open player slot before players can be added to the session.</p> <p>To create player sessions, specify a game session ID and a list of player IDs. If successful, the players are added to the game session and a set of new <a>PlayerSession</a> objects is returned. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidGameSessionStatusException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the game instance. Resolve the conflict before retrying.</p>"
      }, {
        "exceptionName" : "GameSessionFullException",
        "documentation" : "<p>The game instance is currently full and cannot allow the requested player(s) to join. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "TerminalRoutingStrategyException",
        "documentation" : "<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePlayerSessionsRequest",
        "variableName" : "createPlayerSessionsRequest",
        "variableType" : "CreatePlayerSessionsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "CreatePlayerSessionsRequest",
        "variableSetterType" : "CreatePlayerSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPlayerSessions",
      "operationName" : "CreatePlayerSessions",
      "returnType" : {
        "returnType" : "CreatePlayerSessionsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "CreatePlayerSessionsResult"
    },
    "DeleteAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "asyncReturnType" : "DeleteAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an alias. This action removes all record of the alias; game clients attempting to access a server process using the deleted alias receive an error. To delete an alias, specify the alias ID to be deleted.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAliasRequest",
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlias",
      "operationName" : "DeleteAlias",
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAliasResult"
    },
    "DeleteBuild" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBuildResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBuildResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBuildRequest, DeleteBuildResult>",
      "asyncReturnType" : "DeleteBuildResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a build. This action permanently deletes the build record and any uploaded build files.</p> <p>To delete a build, specify its ID. Deleting a build does not affect the status of any active fleets using the build, but you can no longer create new fleets with the deleted build.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteBuildRequest",
        "variableName" : "deleteBuildRequest",
        "variableType" : "DeleteBuildRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DeleteBuildRequest",
        "variableSetterType" : "DeleteBuildRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBuild",
      "operationName" : "DeleteBuild",
      "returnType" : {
        "returnType" : "DeleteBuildResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBuildResult"
    },
    "DeleteFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFleetRequest, DeleteFleetResult>",
      "asyncReturnType" : "DeleteFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes everything related to a fleet. Before deleting a fleet, you must set the fleet's desired capacity to zero. See <a>UpdateFleetCapacity</a>.</p> <p>This action removes the fleet's resources and the fleet record. Once a fleet is deleted, you can no longer use that fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "InvalidFleetStatusException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the fleet. Resolve the conflict before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFleetRequest",
        "variableName" : "deleteFleetRequest",
        "variableType" : "DeleteFleetRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DeleteFleetRequest",
        "variableSetterType" : "DeleteFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFleet",
      "operationName" : "DeleteFleet",
      "returnType" : {
        "returnType" : "DeleteFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFleetResult"
    },
    "DeleteScalingPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScalingPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScalingPolicyRequest, DeleteScalingPolicyResult>",
      "asyncReturnType" : "DeleteScalingPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a fleet scaling policy. This action means that the policy is no longer in force and removes all record of it. To delete a scaling policy, specify both the scaling policy name and the fleet ID it is associated with.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteScalingPolicyRequest",
        "variableName" : "deleteScalingPolicyRequest",
        "variableType" : "DeleteScalingPolicyRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DeleteScalingPolicyRequest",
        "variableSetterType" : "DeleteScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScalingPolicy",
      "operationName" : "DeleteScalingPolicy",
      "returnType" : {
        "returnType" : "DeleteScalingPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteScalingPolicyResult"
    },
    "DescribeAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAliasRequest, DescribeAliasResult>",
      "asyncReturnType" : "DescribeAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves properties for a specified alias. To get the alias, specify an alias ID. If successful, an <a>Alias</a> object is returned.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAliasRequest",
        "variableName" : "describeAliasRequest",
        "variableType" : "DescribeAliasRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeAliasRequest",
        "variableSetterType" : "DescribeAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlias",
      "operationName" : "DescribeAlias",
      "returnType" : {
        "returnType" : "DescribeAliasResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeAliasResult"
    },
    "DescribeBuild" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBuildResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBuildResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBuildRequest, DescribeBuildResult>",
      "asyncReturnType" : "DescribeBuildResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves properties for a build. To get a build record, specify a build ID. If successful, an object containing the build properties is returned.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeBuildRequest",
        "variableName" : "describeBuildRequest",
        "variableType" : "DescribeBuildRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeBuildRequest",
        "variableSetterType" : "DescribeBuildRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBuild",
      "operationName" : "DescribeBuild",
      "returnType" : {
        "returnType" : "DescribeBuildResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeBuildResult"
    },
    "DescribeEC2InstanceLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEC2InstanceLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEC2InstanceLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEC2InstanceLimitsRequest, DescribeEC2InstanceLimitsResult>",
      "asyncReturnType" : "DescribeEC2InstanceLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the following information for the specified EC2 instance type:</p> <ul> <li> <p>maximum number of instances allowed per AWS account (service limit)</p> </li> <li> <p>current usage level for the AWS account</p> </li> </ul> <p>Service limits vary depending on region. Available regions for GameLift can be found in the AWS Management Console for GameLift (see the drop-down list in the upper right corner).</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEC2InstanceLimitsRequest",
        "variableName" : "describeEC2InstanceLimitsRequest",
        "variableType" : "DescribeEC2InstanceLimitsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeEC2InstanceLimitsRequest",
        "variableSetterType" : "DescribeEC2InstanceLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEC2InstanceLimits",
      "operationName" : "DescribeEC2InstanceLimits",
      "returnType" : {
        "returnType" : "DescribeEC2InstanceLimitsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeEC2InstanceLimitsResult"
    },
    "DescribeFleetAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetAttributesRequest, DescribeFleetAttributesResult>",
      "asyncReturnType" : "DescribeFleetAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves fleet properties, including metadata, status, and configuration, for one or more fleets. You can request attributes for all fleets, or specify a list of one or more fleet IDs. When requesting multiple fleets, use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>FleetAttributes</a> object is returned for each requested fleet ID. When specifying a list of fleet IDs, attribute objects are returned only for fleets that currently exist. </p> <note> <p>Some API actions may limit the number of fleet IDs allowed in one request. If a request exceeds this limit, the request fails and the error message includes the maximum allowed.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFleetAttributesRequest",
        "variableName" : "describeFleetAttributesRequest",
        "variableType" : "DescribeFleetAttributesRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeFleetAttributesRequest",
        "variableSetterType" : "DescribeFleetAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleetAttributes",
      "operationName" : "DescribeFleetAttributes",
      "returnType" : {
        "returnType" : "DescribeFleetAttributesResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeFleetAttributesResult"
    },
    "DescribeFleetCapacity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetCapacityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetCapacityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetCapacityRequest, DescribeFleetCapacityResult>",
      "asyncReturnType" : "DescribeFleetCapacityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current status of fleet capacity for one or more fleets. This information includes the number of instances that have been requested for the fleet and the number currently active. You can request capacity for all fleets, or specify a list of one or more fleet IDs. When requesting multiple fleets, use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>FleetCapacity</a> object is returned for each requested fleet ID. When specifying a list of fleet IDs, attribute objects are returned only for fleets that currently exist. </p> <note> <p>Some API actions may limit the number of fleet IDs allowed in one request. If a request exceeds this limit, the request fails and the error message includes the maximum allowed.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFleetCapacityRequest",
        "variableName" : "describeFleetCapacityRequest",
        "variableType" : "DescribeFleetCapacityRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeFleetCapacityRequest",
        "variableSetterType" : "DescribeFleetCapacityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleetCapacity",
      "operationName" : "DescribeFleetCapacity",
      "returnType" : {
        "returnType" : "DescribeFleetCapacityResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeFleetCapacityResult"
    },
    "DescribeFleetEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetEventsRequest, DescribeFleetEventsResult>",
      "asyncReturnType" : "DescribeFleetEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves entries from the specified fleet's event log. You can specify a time range to limit the result set. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a collection of event log entries matching the request are returned.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFleetEventsRequest",
        "variableName" : "describeFleetEventsRequest",
        "variableType" : "DescribeFleetEventsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeFleetEventsRequest",
        "variableSetterType" : "DescribeFleetEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleetEvents",
      "operationName" : "DescribeFleetEvents",
      "returnType" : {
        "returnType" : "DescribeFleetEventsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeFleetEventsResult"
    },
    "DescribeFleetPortSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetPortSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetPortSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetPortSettingsRequest, DescribeFleetPortSettingsResult>",
      "asyncReturnType" : "DescribeFleetPortSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the inbound connection permissions for a fleet. Connection permissions include a range of IP addresses and port settings that incoming traffic can use to access server processes in the fleet. To get a fleet's inbound connection permissions, specify a fleet ID. If successful, a collection of <a>IpPermission</a> objects is returned for the requested fleet ID. If the requested fleet has been deleted, the result set is empty.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFleetPortSettingsRequest",
        "variableName" : "describeFleetPortSettingsRequest",
        "variableType" : "DescribeFleetPortSettingsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeFleetPortSettingsRequest",
        "variableSetterType" : "DescribeFleetPortSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleetPortSettings",
      "operationName" : "DescribeFleetPortSettings",
      "returnType" : {
        "returnType" : "DescribeFleetPortSettingsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeFleetPortSettingsResult"
    },
    "DescribeFleetUtilization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetUtilizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetUtilizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetUtilizationRequest, DescribeFleetUtilizationResult>",
      "asyncReturnType" : "DescribeFleetUtilizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves utilization statistics for one or more fleets. You can request utilization data for all fleets, or specify a list of one or more fleet IDs. When requesting multiple fleets, use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>FleetUtilization</a> object is returned for each requested fleet ID. When specifying a list of fleet IDs, utilization objects are returned only for fleets that currently exist. </p> <note> <p>Some API actions may limit the number of fleet IDs allowed in one request. If a request exceeds this limit, the request fails and the error message includes the maximum allowed.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFleetUtilizationRequest",
        "variableName" : "describeFleetUtilizationRequest",
        "variableType" : "DescribeFleetUtilizationRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeFleetUtilizationRequest",
        "variableSetterType" : "DescribeFleetUtilizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleetUtilization",
      "operationName" : "DescribeFleetUtilization",
      "returnType" : {
        "returnType" : "DescribeFleetUtilizationResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeFleetUtilizationResult"
    },
    "DescribeGameSessionDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeGameSessionDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeGameSessionDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeGameSessionDetailsRequest, DescribeGameSessionDetailsResult>",
      "asyncReturnType" : "DescribeGameSessionDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves properties, including the protection policy in force, for one or more game sessions. This action can be used in several ways: (1) provide a <code>GameSessionId</code> to request details for a specific game session; (2) provide either a <code>FleetId</code> or an <code>AliasId</code> to request properties for all game sessions running on a fleet. </p> <p>To get game session record(s), specify just one of the following: game session ID, fleet ID, or alias ID. You can filter this request by game session status. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>GameSessionDetail</a> object is returned for each session matching the request.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "TerminalRoutingStrategyException",
        "documentation" : "<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeGameSessionDetailsRequest",
        "variableName" : "describeGameSessionDetailsRequest",
        "variableType" : "DescribeGameSessionDetailsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeGameSessionDetailsRequest",
        "variableSetterType" : "DescribeGameSessionDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeGameSessionDetails",
      "operationName" : "DescribeGameSessionDetails",
      "returnType" : {
        "returnType" : "DescribeGameSessionDetailsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeGameSessionDetailsResult"
    },
    "DescribeGameSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeGameSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeGameSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeGameSessionsRequest, DescribeGameSessionsResult>",
      "asyncReturnType" : "DescribeGameSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a set of one or more game sessions and properties. This action can be used in several ways: (1) provide a <code>GameSessionId</code> to request properties for a specific game session; (2) provide a <code>FleetId</code> or an <code>AliasId</code> to request properties for all game sessions running on a fleet. You can also use <a>SearchGameSessions</a>, which allows you to retrieve all game sessions or filter on certain criteria, but only returns game sessions with a status of ACTIVE. If you need to retrieve the protection policy for each game session, use <a>DescribeGameSessionDetails</a>.</p> <p>To get game session record(s), specify just one of the following: game session ID, fleet ID, or alias ID. You can filter this request by game session status. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>GameSession</a> object is returned for each session matching the request.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "TerminalRoutingStrategyException",
        "documentation" : "<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeGameSessionsRequest",
        "variableName" : "describeGameSessionsRequest",
        "variableType" : "DescribeGameSessionsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeGameSessionsRequest",
        "variableSetterType" : "DescribeGameSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeGameSessions",
      "operationName" : "DescribeGameSessions",
      "returnType" : {
        "returnType" : "DescribeGameSessionsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeGameSessionsResult"
    },
    "DescribeInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInstancesRequest, DescribeInstancesResult>",
      "asyncReturnType" : "DescribeInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a fleet's instances, including instance IDs. Use this action to get details on all instances in the fleet or get details on one specific instance.</p> <p>To get a specific instance, specify fleet ID and instance ID. To get all instances in a fleet, specify a fleet ID only. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, an <a>Instance</a> object is returned for each result.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeInstancesRequest",
        "variableName" : "describeInstancesRequest",
        "variableType" : "DescribeInstancesRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeInstancesRequest",
        "variableSetterType" : "DescribeInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInstances",
      "operationName" : "DescribeInstances",
      "returnType" : {
        "returnType" : "DescribeInstancesResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeInstancesResult"
    },
    "DescribePlayerSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePlayerSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePlayerSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePlayerSessionsRequest, DescribePlayerSessionsResult>",
      "asyncReturnType" : "DescribePlayerSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves properties for one or more player sessions. This action can be used in several ways: (1) provide a <code>PlayerSessionId</code> parameter to request properties for a specific player session; (2) provide a <code>GameSessionId</code> parameter to request properties for all player sessions in the specified game session; (3) provide a <code>PlayerId</code> parameter to request properties for all player sessions of a specified player. </p> <p>To get game session record(s), specify only one of the following: a player session ID, a game session ID, or a player ID. You can filter this request by player session status. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>PlayerSession</a> object is returned for each session matching the request.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribePlayerSessionsRequest",
        "variableName" : "describePlayerSessionsRequest",
        "variableType" : "DescribePlayerSessionsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribePlayerSessionsRequest",
        "variableSetterType" : "DescribePlayerSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePlayerSessions",
      "operationName" : "DescribePlayerSessions",
      "returnType" : {
        "returnType" : "DescribePlayerSessionsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribePlayerSessionsResult"
    },
    "DescribeRuntimeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRuntimeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRuntimeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRuntimeConfigurationRequest, DescribeRuntimeConfigurationResult>",
      "asyncReturnType" : "DescribeRuntimeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current runtime configuration for the specified fleet. The runtime configuration tells GameLift how to launch server processes on instances in the fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRuntimeConfigurationRequest",
        "variableName" : "describeRuntimeConfigurationRequest",
        "variableType" : "DescribeRuntimeConfigurationRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeRuntimeConfigurationRequest",
        "variableSetterType" : "DescribeRuntimeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRuntimeConfiguration",
      "operationName" : "DescribeRuntimeConfiguration",
      "returnType" : {
        "returnType" : "DescribeRuntimeConfigurationResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeRuntimeConfigurationResult"
    },
    "DescribeScalingPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingPoliciesRequest, DescribeScalingPoliciesResult>",
      "asyncReturnType" : "DescribeScalingPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all scaling policies applied to a fleet.</p> <p>To get a fleet's scaling policies, specify the fleet ID. You can filter this request by policy status, such as to retrieve only active scaling policies. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, set of <a>ScalingPolicy</a> objects is returned for the fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalingPoliciesRequest",
        "variableName" : "describeScalingPoliciesRequest",
        "variableType" : "DescribeScalingPoliciesRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "DescribeScalingPoliciesRequest",
        "variableSetterType" : "DescribeScalingPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingPolicies",
      "operationName" : "DescribeScalingPolicies",
      "returnType" : {
        "returnType" : "DescribeScalingPoliciesResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "DescribeScalingPoliciesResult"
    },
    "GetGameSessionLogUrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGameSessionLogUrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGameSessionLogUrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGameSessionLogUrlRequest, GetGameSessionLogUrlResult>",
      "asyncReturnType" : "GetGameSessionLogUrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the location of stored game session logs for a specified game session. When a game session is terminated, Amazon GameLift automatically stores the logs in Amazon S3. Use this URL to download the logs.</p> <note> <p>See the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_gamelift\">AWS Service Limits</a> page for maximum log file sizes. Log files that exceed this limit are not saved.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetGameSessionLogUrlRequest",
        "variableName" : "getGameSessionLogUrlRequest",
        "variableType" : "GetGameSessionLogUrlRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "GetGameSessionLogUrlRequest",
        "variableSetterType" : "GetGameSessionLogUrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGameSessionLogUrl",
      "operationName" : "GetGameSessionLogUrl",
      "returnType" : {
        "returnType" : "GetGameSessionLogUrlResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "GetGameSessionLogUrlResult"
    },
    "GetInstanceAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstanceAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstanceAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstanceAccessRequest, GetInstanceAccessResult>",
      "asyncReturnType" : "GetInstanceAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests remote access to a fleet instance. Remote access is useful for debugging, gathering benchmarking data, or watching activity in real time. </p> <p>Access requires credentials that match the operating system of the instance. For a Windows instance, GameLift returns a username and password as strings for use with a Windows Remote Desktop client. For a Linux instance, GameLift returns a username and RSA private key, also as strings, for use with an SSH client. The private key must be saved in the proper format to a .pem file before using. If you're making this request using the AWS CLI, saving the secret can be handled as part of the GetInstanceAccess request (see the example later in this topic). For more information on remote access, see <a href=\"http://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-remote-access.html\">Remotely Accessing an Instance</a>.</p> <p>To request access to a specific instance, specify the IDs of the instance and the fleet it belongs to. If successful, an <a>InstanceAccess</a> object is returned containing the instance's IP address and a set of credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstanceAccessRequest",
        "variableName" : "getInstanceAccessRequest",
        "variableType" : "GetInstanceAccessRequest",
        "documentation" : "",
        "simpleType" : "GetInstanceAccessRequest",
        "variableSetterType" : "GetInstanceAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstanceAccess",
      "operationName" : "GetInstanceAccess",
      "returnType" : {
        "returnType" : "GetInstanceAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstanceAccessResult"
    },
    "ListAliases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAliasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAliasesRequest, ListAliasesResult>",
      "asyncReturnType" : "ListAliasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a collection of alias records for this AWS account. You can filter the result set by alias name and/or routing strategy type. Use the pagination parameters to retrieve results in sequential pages.</p> <note> <p>Aliases are not listed in any particular order.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAliasesRequest",
        "variableName" : "listAliasesRequest",
        "variableType" : "ListAliasesRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "ListAliasesRequest",
        "variableSetterType" : "ListAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAliases",
      "operationName" : "ListAliases",
      "returnType" : {
        "returnType" : "ListAliasesResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "ListAliasesResult"
    },
    "ListBuilds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBuildsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBuildsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBuildsRequest, ListBuildsResult>",
      "asyncReturnType" : "ListBuildsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves build records for all builds associated with the AWS account in use. You can limit results to builds that are in a specific status by using the <code>Status</code> parameter. Use the pagination parameters to retrieve results in a set of sequential pages. </p> <note> <p>Build records are not listed in any particular order.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListBuildsRequest",
        "variableName" : "listBuildsRequest",
        "variableType" : "ListBuildsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "ListBuildsRequest",
        "variableSetterType" : "ListBuildsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBuilds",
      "operationName" : "ListBuilds",
      "returnType" : {
        "returnType" : "ListBuildsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "ListBuildsResult"
    },
    "ListFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFleetsRequest, ListFleetsResult>",
      "asyncReturnType" : "ListFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a collection of fleet records for this AWS account. You can filter the result set by build ID. Use the pagination parameters to retrieve results in sequential pages.</p> <note> <p>Fleet records are not listed in any particular order.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListFleetsRequest",
        "variableName" : "listFleetsRequest",
        "variableType" : "ListFleetsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "ListFleetsRequest",
        "variableSetterType" : "ListFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFleets",
      "operationName" : "ListFleets",
      "returnType" : {
        "returnType" : "ListFleetsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "ListFleetsResult"
    },
    "PutScalingPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutScalingPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutScalingPolicyRequest, PutScalingPolicyResult>",
      "asyncReturnType" : "PutScalingPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a scaling policy for a fleet. An active scaling policy prompts Amazon GameLift to track a certain metric for a fleet and automatically change the fleet's capacity in specific circumstances. Each scaling policy contains one rule statement. Fleets can have multiple scaling policies in force simultaneously.</p> <p>A scaling policy rule statement has the following structure:</p> <p>If <code>[MetricName]</code> is <code>[ComparisonOperator]</code> <code>[Threshold]</code> for <code>[EvaluationPeriods]</code> minutes, then <code>[ScalingAdjustmentType]</code> to/by <code>[ScalingAdjustment]</code>.</p> <p>For example, this policy: \"If the number of idle instances exceeds 20 for more than 15 minutes, then reduce the fleet capacity by 10 instances\" could be implemented as the following rule statement:</p> <p>If [IdleInstances] is [GreaterThanOrEqualToThreshold] [20] for [15] minutes, then [ChangeInCapacity] by [-10].</p> <p>To create or update a scaling policy, specify a unique combination of name and fleet ID, and set the rule values. All parameters for this action are required. If successful, the policy name is returned. Scaling policies cannot be suspended or made inactive. To stop enforcing a scaling policy, call <a>DeleteScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutScalingPolicyRequest",
        "variableName" : "putScalingPolicyRequest",
        "variableType" : "PutScalingPolicyRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "PutScalingPolicyRequest",
        "variableSetterType" : "PutScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putScalingPolicy",
      "operationName" : "PutScalingPolicy",
      "returnType" : {
        "returnType" : "PutScalingPolicyResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "PutScalingPolicyResult"
    },
    "RequestUploadCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RequestUploadCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RequestUploadCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RequestUploadCredentialsRequest, RequestUploadCredentialsResult>",
      "asyncReturnType" : "RequestUploadCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a fresh set of upload credentials and the assigned Amazon S3 storage location for a specific build. Valid credentials are required to upload your game build files to Amazon S3.</p> <important> <p>Call this action only if you need credentials for a build created with<code> <a>CreateBuild</a> </code>. This is a rare situation; in most cases, builds are created using the CLI command <code>upload-build</code>, which creates a build record and also uploads build files. </p> </important> <p>Upload credentials are returned when you create the build, but they have a limited lifespan. You can get fresh credentials and use them to re-upload game files until the status of that build changes to <code>READY</code>. Once this happens, you must create a brand new build.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RequestUploadCredentialsRequest",
        "variableName" : "requestUploadCredentialsRequest",
        "variableType" : "RequestUploadCredentialsRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "RequestUploadCredentialsRequest",
        "variableSetterType" : "RequestUploadCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "requestUploadCredentials",
      "operationName" : "RequestUploadCredentials",
      "returnType" : {
        "returnType" : "RequestUploadCredentialsResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "RequestUploadCredentialsResult"
    },
    "ResolveAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResolveAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResolveAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResolveAliasRequest, ResolveAliasResult>",
      "asyncReturnType" : "ResolveAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the fleet ID that a specified alias is currently pointing to.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client failed authentication. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more parameter values in the request are invalid. Correct the invalid parameter values before retrying.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>"
      }, {
        "exceptionName" : "TerminalRoutingStrategyException",
        "documentation" : "<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests immediately or after a waiting period.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ResolveAliasRequest",
        "variableName" : "resolveAliasRequest",
        "variableType" : "ResolveAliasRequest",
        "documentation" : "<p>Represents the input for a request action.</p>",
        "simpleType" : "ResolveAliasRequest",
        "variableSetterType" : "ResolveAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resolveAlias",
      "operationName" : "ResolveAlias",
      "returnType" : {
        "returnType" : "ResolveAliasResult",
        "documentation" : "<p>Represents the returned data in response to a request action.</p>"
      },
      "syncReturnType" : "ResolveAliasResult"
    },
    "SearchGameSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchGameSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchGameSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchGameSessionsRequest, SearchGameSessionsResult>",
      "asyncReturnType" : "SearchGameSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
[...]
