{
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Resources" : {
        "SampleNotificationTopic" : {
            "Type" : "AWS::SNS::Topic",
            "Properties" : {
            }
        }
    }
}

