{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2014-06-30",
    "asyncClient" : "AmazonCognitoIdentityAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCognitoIdentityAsyncClientBuilder",
    "asyncInterface" : "AmazonCognitoIdentityAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCognitoIdentityModuleInjector",
    "defaultEndpoint" : "https://cognito-identity.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cognito-identity.us-east-1.amazonaws.com",
    "documentation" : "<fullname>Amazon Cognito</fullname> <p>Amazon Cognito is a web service that delivers scoped temporary credentials to mobile devices and other untrusted environments. Amazon Cognito uniquely identifies a device and supplies the user with a consistent identity over the lifetime of an application.</p> <p>Using Amazon Cognito, you can enable authentication with one or more third-party identity providers (Facebook, Google, or Login with Amazon), and you can also choose to support unauthenticated access from your app. Cognito delivers a unique identifier for each user and acts as an OpenID token provider trusted by AWS Security Token Service (STS) to access temporary, limited-privilege AWS credentials.</p> <p>To provide end-user credentials, first make an unsigned call to <a>GetId</a>. If the end user is authenticated with one of the supported identity providers, set the <code>Logins</code> map with the identity provider token. <code>GetId</code> returns a unique identifier for the user.</p> <p>Next, make an unsigned call to <a>GetCredentialsForIdentity</a>. This call expects the same <code>Logins</code> map as the <code>GetId</code> call, as well as the <code>IdentityID</code> originally returned by <code>GetId</code>. Assuming your identity pool has been configured via the <a>SetIdentityPoolRoles</a> operation, <code>GetCredentialsForIdentity</code> will return AWS credentials for your use. If your pool has not been configured with <code>SetIdentityPoolRoles</code>, or if you want to follow legacy flow, make an unsigned call to <a>GetOpenIdToken</a>, which returns the OpenID token necessary to call STS and retrieve AWS credentials. This call expects the same <code>Logins</code> map as the <code>GetId</code> call, as well as the <code>IdentityID</code> originally returned by <code>GetId</code>. The token returned by <code>GetOpenIdToken</code> can be passed to the STS operation <a href=\"http://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRoleWithWebIdentity.html\">AssumeRoleWithWebIdentity</a> to retrieve AWS credentials.</p> <p>If you want to use Amazon Cognito in an Android, iOS, or Unity application, you will probably want to make API calls via the AWS Mobile SDK. To learn more, see the <a href=\"http://docs.aws.amazon.com/mobile/index.html\">AWS Mobile SDK Developer Guide</a>.</p>",
    "endpointPrefix" : "cognito-identity",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cognitoidentity",
    "packagePath" : "com/amazonaws/services/cognitoidentity",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Cognito Identity",
    "serviceName" : "Amazon Cognito Identity",
    "signingName" : "cognito-identity",
    "smokeTestsPackageName" : "com.amazonaws.services.cognitoidentity.smoketests",
    "syncClient" : "AmazonCognitoIdentityClient",
    "syncClientBuilderClassName" : "AmazonCognitoIdentityClientBuilder",
    "syncInterface" : "AmazonCognitoIdentity",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateIdentityPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIdentityPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIdentityPoolRequest, CreateIdentityPoolResult>",
      "asyncReturnType" : "CreateIdentityPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new identity pool. The identity pool is a store of user identity information that is specific to your AWS account. The limit on identity pools is 60 per account. The keys for <code>SupportedLoginProviders</code> are as follows: <ul> <li>Facebook: <code>graph.facebook.com</code></li> <li>Google: <code>accounts.google.com</code></li> <li>Amazon: <code>www.amazon.com</code></li> <li>Twitter: <code>api.twitter.com</code></li> <li>Digits: <code>www.digits.com</code></li> </ul> You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "Thrown when the total number of user pools has exceeded a preset limit."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateIdentityPoolRequest",
        "variableName" : "createIdentityPoolRequest",
        "variableType" : "CreateIdentityPoolRequest",
        "documentation" : "<p>Input to the CreateIdentityPool action.</p>",
        "simpleType" : "CreateIdentityPoolRequest",
        "variableSetterType" : "CreateIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIdentityPool",
      "operationName" : "CreateIdentityPool",
      "returnType" : {
        "returnType" : "CreateIdentityPoolResult",
        "documentation" : "An object representing a Cognito identity pool."
      },
      "syncReturnType" : "CreateIdentityPoolResult"
    },
    "DeleteIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdentitiesRequest, DeleteIdentitiesResult>",
      "asyncReturnType" : "DeleteIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes identities from an identity pool. You can specify a list of 1-60 identities that you want to delete.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteIdentitiesRequest",
        "variableName" : "deleteIdentitiesRequest",
        "variableType" : "DeleteIdentitiesRequest",
        "documentation" : "<p>Input to the <code>DeleteIdentities</code> action.</p>",
        "simpleType" : "DeleteIdentitiesRequest",
        "variableSetterType" : "DeleteIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIdentities",
      "operationName" : "DeleteIdentities",
      "returnType" : {
        "returnType" : "DeleteIdentitiesResult",
        "documentation" : "<p>Returned in response to a successful <code>DeleteIdentities</code> operation.</p>"
      },
      "syncReturnType" : "DeleteIdentitiesResult"
    },
    "DeleteIdentityPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdentityPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdentityPoolRequest, DeleteIdentityPoolResult>",
      "asyncReturnType" : "DeleteIdentityPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user pool. Once a pool is deleted, users will not be able to authenticate with the pool.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteIdentityPoolRequest",
        "variableName" : "deleteIdentityPoolRequest",
        "variableType" : "DeleteIdentityPoolRequest",
        "documentation" : "<p>Input to the DeleteIdentityPool action.</p>",
        "simpleType" : "DeleteIdentityPoolRequest",
        "variableSetterType" : "DeleteIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIdentityPool",
      "operationName" : "DeleteIdentityPool",
      "returnType" : {
        "returnType" : "DeleteIdentityPoolResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIdentityPoolResult"
    },
    "DescribeIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIdentityRequest, DescribeIdentityResult>",
      "asyncReturnType" : "DescribeIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata related to the given identity, including when the identity was created and any associated linked logins.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeIdentityRequest",
        "variableName" : "describeIdentityRequest",
        "variableType" : "DescribeIdentityRequest",
        "documentation" : "<p>Input to the <code>DescribeIdentity</code> action.</p>",
        "simpleType" : "DescribeIdentityRequest",
        "variableSetterType" : "DescribeIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIdentity",
      "operationName" : "DescribeIdentity",
      "returnType" : {
        "returnType" : "DescribeIdentityResult",
        "documentation" : "A description of the identity."
      },
      "syncReturnType" : "DescribeIdentityResult"
    },
    "DescribeIdentityPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIdentityPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIdentityPoolRequest, DescribeIdentityPoolResult>",
      "asyncReturnType" : "DescribeIdentityPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a particular identity pool, including the pool name, ID description, creation date, and current number of users.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeIdentityPoolRequest",
        "variableName" : "describeIdentityPoolRequest",
        "variableType" : "DescribeIdentityPoolRequest",
        "documentation" : "Input to the DescribeIdentityPool action.",
        "simpleType" : "DescribeIdentityPoolRequest",
        "variableSetterType" : "DescribeIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIdentityPool",
      "operationName" : "DescribeIdentityPool",
      "returnType" : {
        "returnType" : "DescribeIdentityPoolResult",
        "documentation" : "An object representing a Cognito identity pool."
      },
      "syncReturnType" : "DescribeIdentityPoolResult"
    },
    "GetCredentialsForIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCredentialsForIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCredentialsForIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCredentialsForIdentityRequest, GetCredentialsForIdentityResult>",
      "asyncReturnType" : "GetCredentialsForIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns credentials for the provided identity ID. Any provided logins will be validated against supported login providers. If the token is for cognito-identity.amazonaws.com, it will be passed through to AWS Security Token Service with the appropriate role for the token.</p><p>This is a public API. You do not need any credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InvalidIdentityPoolConfigurationException",
        "documentation" : "<p>Thrown if the identity pool has no role associated for the given auth type (auth/unauth) or if the AssumeRole fails.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCredentialsForIdentityRequest",
        "variableName" : "getCredentialsForIdentityRequest",
        "variableType" : "GetCredentialsForIdentityRequest",
        "documentation" : "<p>Input to the <code>GetCredentialsForIdentity</code> action.</p>",
        "simpleType" : "GetCredentialsForIdentityRequest",
        "variableSetterType" : "GetCredentialsForIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCredentialsForIdentity",
      "operationName" : "GetCredentialsForIdentity",
      "returnType" : {
        "returnType" : "GetCredentialsForIdentityResult",
        "documentation" : "<p>Returned in response to a successful <code>GetCredentialsForIdentity</code> operation.</p>"
      },
      "syncReturnType" : "GetCredentialsForIdentityResult"
    },
    "GetId" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdRequest, GetIdResult>",
      "asyncReturnType" : "GetIdResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates (or retrieves) a Cognito ID. Supplying multiple logins will create an implicit linked account.</p><p>This is a public API. You do not need any credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "Thrown when the total number of user pools has exceeded a preset limit."
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetIdRequest",
        "variableName" : "getIdRequest",
        "variableType" : "GetIdRequest",
        "documentation" : "Input to the GetId action.",
        "simpleType" : "GetIdRequest",
        "variableSetterType" : "GetIdRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getId",
      "operationName" : "GetId",
      "returnType" : {
        "returnType" : "GetIdResult",
        "documentation" : "Returned in response to a GetId request."
      },
      "syncReturnType" : "GetIdResult"
    },
    "GetIdentityPoolRoles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityPoolRolesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityPoolRolesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityPoolRolesRequest, GetIdentityPoolRolesResult>",
      "asyncReturnType" : "GetIdentityPoolRolesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the roles for an identity pool.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetIdentityPoolRolesRequest",
        "variableName" : "getIdentityPoolRolesRequest",
        "variableType" : "GetIdentityPoolRolesRequest",
        "documentation" : "<p>Input to the <code>GetIdentityPoolRoles</code> action.</p>",
        "simpleType" : "GetIdentityPoolRolesRequest",
        "variableSetterType" : "GetIdentityPoolRolesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdentityPoolRoles",
      "operationName" : "GetIdentityPoolRoles",
      "returnType" : {
        "returnType" : "GetIdentityPoolRolesResult",
        "documentation" : "<p>Returned in response to a successful <code>GetIdentityPoolRoles</code> operation.</p>"
      },
      "syncReturnType" : "GetIdentityPoolRolesResult"
    },
    "GetOpenIdToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOpenIdTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOpenIdTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOpenIdTokenRequest, GetOpenIdTokenResult>",
      "asyncReturnType" : "GetOpenIdTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an OpenID token, using a known Cognito ID. This known Cognito ID is returned by <a>GetId</a>. You can optionally add additional logins for the identity. Supplying multiple logins creates an implicit link.</p> <p>The OpenId token is valid for 15 minutes.</p><p>This is a public API. You do not need any credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetOpenIdTokenRequest",
        "variableName" : "getOpenIdTokenRequest",
        "variableType" : "GetOpenIdTokenRequest",
        "documentation" : "Input to the GetOpenIdToken action.",
        "simpleType" : "GetOpenIdTokenRequest",
        "variableSetterType" : "GetOpenIdTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOpenIdToken",
      "operationName" : "GetOpenIdToken",
      "returnType" : {
        "returnType" : "GetOpenIdTokenResult",
        "documentation" : "Returned in response to a successful GetOpenIdToken request."
      },
      "syncReturnType" : "GetOpenIdTokenResult"
    },
    "GetOpenIdTokenForDeveloperIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOpenIdTokenForDeveloperIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOpenIdTokenForDeveloperIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOpenIdTokenForDeveloperIdentityRequest, GetOpenIdTokenForDeveloperIdentityResult>",
      "asyncReturnType" : "GetOpenIdTokenForDeveloperIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers (or retrieves) a Cognito <code>IdentityId</code> and an OpenID Connect token for a user authenticated by your backend authentication process. Supplying multiple logins will create an implicit linked account. You can only specify one developer provider as part of the <code>Logins</code> map, which is linked to the identity pool. The developer provider is the \"domain\" by which Cognito will refer to your users.</p> <p>You can use <code>GetOpenIdTokenForDeveloperIdentity</code> to create a new identity and to link new logins (that is, user credentials issued by a public provider or developer provider) to an existing identity. When you want to create a new identity, the <code>IdentityId</code> should be null. When you want to associate a new login with an existing authenticated/unauthenticated identity, you can do so by providing the existing <code>IdentityId</code>. This API will create the identity in the specified <code>IdentityPoolId</code>.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "DeveloperUserAlreadyRegisteredException",
        "documentation" : "<p>The provided developer user identifier is already registered with Cognito under a different identity ID.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetOpenIdTokenForDeveloperIdentityRequest",
        "variableName" : "getOpenIdTokenForDeveloperIdentityRequest",
        "variableType" : "GetOpenIdTokenForDeveloperIdentityRequest",
        "documentation" : "<p>Input to the <code>GetOpenIdTokenForDeveloperIdentity</code> action.</p>",
        "simpleType" : "GetOpenIdTokenForDeveloperIdentityRequest",
        "variableSetterType" : "GetOpenIdTokenForDeveloperIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOpenIdTokenForDeveloperIdentity",
      "operationName" : "GetOpenIdTokenForDeveloperIdentity",
      "returnType" : {
        "returnType" : "GetOpenIdTokenForDeveloperIdentityResult",
        "documentation" : "<p>Returned in response to a successful <code>GetOpenIdTokenForDeveloperIdentity</code> request.</p>"
      },
      "syncReturnType" : "GetOpenIdTokenForDeveloperIdentityResult"
    },
    "ListIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentitiesRequest, ListIdentitiesResult>",
      "asyncReturnType" : "ListIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the identities in a pool.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListIdentitiesRequest",
        "variableName" : "listIdentitiesRequest",
        "variableType" : "ListIdentitiesRequest",
        "documentation" : "Input to the ListIdentities action.",
        "simpleType" : "ListIdentitiesRequest",
        "variableSetterType" : "ListIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdentities",
      "operationName" : "ListIdentities",
      "returnType" : {
        "returnType" : "ListIdentitiesResult",
        "documentation" : "The response to a ListIdentities request."
      },
      "syncReturnType" : "ListIdentitiesResult"
    },
    "ListIdentityPools" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentityPoolsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentityPoolsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentityPoolsRequest, ListIdentityPoolsResult>",
      "asyncReturnType" : "ListIdentityPoolsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the Cognito identity pools registered for your account.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListIdentityPoolsRequest",
        "variableName" : "listIdentityPoolsRequest",
        "variableType" : "ListIdentityPoolsRequest",
        "documentation" : "Input to the ListIdentityPools action.",
        "simpleType" : "ListIdentityPoolsRequest",
        "variableSetterType" : "ListIdentityPoolsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdentityPools",
      "operationName" : "ListIdentityPools",
      "returnType" : {
        "returnType" : "ListIdentityPoolsResult",
        "documentation" : "The result of a successful ListIdentityPools action."
      },
      "syncReturnType" : "ListIdentityPoolsResult"
    },
    "LookupDeveloperIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<LookupDeveloperIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<LookupDeveloperIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LookupDeveloperIdentityRequest, LookupDeveloperIdentityResult>",
      "asyncReturnType" : "LookupDeveloperIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the <code>IdentityID</code> associated with a <code>DeveloperUserIdentifier</code> or the list of <code>DeveloperUserIdentifier</code>s associated with an <code>IdentityId</code> for an existing identity. Either <code>IdentityID</code> or <code>DeveloperUserIdentifier</code> must not be null. If you supply only one of these values, the other value will be searched in the database and returned as a part of the response. If you supply both, <code>DeveloperUserIdentifier</code> will be matched against <code>IdentityID</code>. If the values are verified against the database, the response returns both values and is the same as the request. Otherwise a <code>ResourceConflictException</code> is thrown.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "LookupDeveloperIdentityRequest",
        "variableName" : "lookupDeveloperIdentityRequest",
        "variableType" : "LookupDeveloperIdentityRequest",
        "documentation" : "<p>Input to the <code>LookupDeveloperIdentityInput</code> action.</p>",
        "simpleType" : "LookupDeveloperIdentityRequest",
        "variableSetterType" : "LookupDeveloperIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "lookupDeveloperIdentity",
      "operationName" : "LookupDeveloperIdentity",
      "returnType" : {
        "returnType" : "LookupDeveloperIdentityResult",
        "documentation" : "<p>Returned in response to a successful <code>LookupDeveloperIdentity</code> action.</p>"
      },
      "syncReturnType" : "LookupDeveloperIdentityResult"
    },
    "MergeDeveloperIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<MergeDeveloperIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<MergeDeveloperIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<MergeDeveloperIdentitiesRequest, MergeDeveloperIdentitiesResult>",
      "asyncReturnType" : "MergeDeveloperIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Merges two users having different <code>IdentityId</code>s, existing in the same identity pool, and identified by the same developer provider. You can use this action to request that discrete users be merged and identified as a single user in the Cognito environment. Cognito associates the given source user (<code>SourceUserIdentifier</code>) with the <code>IdentityId</code> of the <code>DestinationUserIdentifier</code>. Only developer-authenticated users can be merged. If the users to be merged are associated with the same public provider, but as two different users, an exception will be thrown.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "MergeDeveloperIdentitiesRequest",
        "variableName" : "mergeDeveloperIdentitiesRequest",
        "variableType" : "MergeDeveloperIdentitiesRequest",
        "documentation" : "<p>Input to the <code>MergeDeveloperIdentities</code> action.</p>",
        "simpleType" : "MergeDeveloperIdentitiesRequest",
        "variableSetterType" : "MergeDeveloperIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "mergeDeveloperIdentities",
      "operationName" : "MergeDeveloperIdentities",
      "returnType" : {
        "returnType" : "MergeDeveloperIdentitiesResult",
        "documentation" : "<p>Returned in response to a successful <code>MergeDeveloperIdentities</code> action.</p>"
      },
      "syncReturnType" : "MergeDeveloperIdentitiesResult"
    },
    "SetIdentityPoolRoles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetIdentityPoolRolesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetIdentityPoolRolesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetIdentityPoolRolesRequest, SetIdentityPoolRolesResult>",
      "asyncReturnType" : "SetIdentityPoolRolesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the roles for an identity pool. These roles are used when making calls to <code>GetCredentialsForIdentity</code> action.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetIdentityPoolRolesRequest",
        "variableName" : "setIdentityPoolRolesRequest",
        "variableType" : "SetIdentityPoolRolesRequest",
        "documentation" : "<p>Input to the <code>SetIdentityPoolRoles</code> action.</p>",
        "simpleType" : "SetIdentityPoolRolesRequest",
        "variableSetterType" : "SetIdentityPoolRolesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setIdentityPoolRoles",
      "operationName" : "SetIdentityPoolRoles",
      "returnType" : {
        "returnType" : "SetIdentityPoolRolesResult",
        "documentation" : null
      },
      "syncReturnType" : "SetIdentityPoolRolesResult"
    },
    "UnlinkDeveloperIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnlinkDeveloperIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnlinkDeveloperIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnlinkDeveloperIdentityRequest, UnlinkDeveloperIdentityResult>",
      "asyncReturnType" : "UnlinkDeveloperIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Unlinks a <code>DeveloperUserIdentifier</code> from an existing identity. Unlinked developer users will be considered new identities next time they are seen. If, for a given Cognito identity, you remove all federated identities as well as the developer user identifier, the Cognito identity becomes inaccessible.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UnlinkDeveloperIdentityRequest",
        "variableName" : "unlinkDeveloperIdentityRequest",
        "variableType" : "UnlinkDeveloperIdentityRequest",
        "documentation" : "<p>Input to the <code>UnlinkDeveloperIdentity</code> action.</p>",
        "simpleType" : "UnlinkDeveloperIdentityRequest",
        "variableSetterType" : "UnlinkDeveloperIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unlinkDeveloperIdentity",
      "operationName" : "UnlinkDeveloperIdentity",
      "returnType" : {
        "returnType" : "UnlinkDeveloperIdentityResult",
        "documentation" : null
      },
      "syncReturnType" : "UnlinkDeveloperIdentityResult"
    },
    "UnlinkIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnlinkIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnlinkIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnlinkIdentityRequest, UnlinkIdentityResult>",
      "asyncReturnType" : "UnlinkIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Unlinks a federated identity from an existing account. Unlinked logins will be considered new identities next time they are seen. Removing the last linked login will make this identity inaccessible.</p><p>This is a public API. You do not need any credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UnlinkIdentityRequest",
        "variableName" : "unlinkIdentityRequest",
        "variableType" : "UnlinkIdentityRequest",
        "documentation" : "Input to the UnlinkIdentity action.",
        "simpleType" : "UnlinkIdentityRequest",
        "variableSetterType" : "UnlinkIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unlinkIdentity",
      "operationName" : "UnlinkIdentity",
      "returnType" : {
        "returnType" : "UnlinkIdentityResult",
        "documentation" : null
      },
      "syncReturnType" : "UnlinkIdentityResult"
    },
    "UpdateIdentityPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIdentityPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIdentityPoolRequest, UpdateIdentityPoolResult>",
      "asyncReturnType" : "UpdateIdentityPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a user pool.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "Thrown when the total number of user pools has exceeded a preset limit."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateIdentityPoolRequest",
        "variableName" : "updateIdentityPoolRequest",
        "variableType" : "UpdateIdentityPoolRequest",
        "documentation" : "An object representing a Cognito identity pool.",
        "simpleType" : "UpdateIdentityPoolRequest",
        "variableSetterType" : "UpdateIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIdentityPool",
      "operationName" : "UpdateIdentityPool",
      "returnType" : {
        "returnType" : "UpdateIdentityPoolResult",
        "documentation" : "An object representing a Cognito identity pool."
      },
      "syncReturnType" : "UpdateIdentityPoolResult"
    }
  },
  "shapes" : {
    "CognitoIdentityProvider" : {
      "c2jName" : "CognitoIdentityProvider",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A provider representing an Amazon Cognito Identity User Pool and its client ID.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ProviderName",
        "c2jShape" : "CognitoIdentityProviderName",
        "deprecated" : false,
        "documentation" : "<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@return The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ProviderName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProviderName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ProviderName",
        "setterDocumentation" : "/**<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "providerName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "providerName",
          "variableType" : "String",
          "documentation" : "<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientId",
        "c2jShape" : "CognitoIdentityProviderClientId",
        "deprecated" : false,
        "documentation" : "<p>The client ID for the Amazon Cognito Identity User Pool.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The client ID for the Amazon Cognito Identity User Pool.</p>\n@param clientId The client ID for the Amazon Cognito Identity User Pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The client ID for the Amazon Cognito Identity User Pool.</p>\n@return The client ID for the Amazon Cognito Identity User Pool.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ClientId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ClientId",
        "setterDocumentation" : "/**<p>The client ID for the Amazon Cognito Identity User Pool.</p>\n@param clientId The client ID for the Amazon Cognito Identity User Pool.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The client ID for the Amazon Cognito Identity User Pool.</p>\n@param clientId The client ID for the Amazon Cognito Identity User Pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "<p>The client ID for the Amazon Cognito Identity User Pool.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientId" : {
          "c2jName" : "ClientId",
          "c2jShape" : "CognitoIdentityProviderClientId",
          "deprecated" : false,
          "documentation" : "<p>The client ID for the Amazon Cognito Identity User Pool.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The client ID for the Amazon Cognito Identity User Pool.</p>\n@param clientId The client ID for the Amazon Cognito Identity User Pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The client ID for the Amazon Cognito Identity User Pool.</p>\n@return The client ID for the Amazon Cognito Identity User Pool.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ClientId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ClientId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ClientId",
          "setterDocumentation" : "/**<p>The client ID for the Amazon Cognito Identity User Pool.</p>\n@param clientId The client ID for the Amazon Cognito Identity User Pool.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The client ID for the Amazon Cognito Identity User Pool.</p>\n@param clientId The client ID for the Amazon Cognito Identity User Pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "<p>The client ID for the Amazon Cognito Identity User Pool.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProviderName" : {
          "c2jName" : "ProviderName",
          "c2jShape" : "CognitoIdentityProviderName",
          "deprecated" : false,
          "documentation" : "<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@return The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ProviderName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProviderName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ProviderName",
          "setterDocumentation" : "/**<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "providerName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "providerName",
            "variableType" : "String",
            "documentation" : "<p>The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "CognitoIdentityProvider",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CognitoIdentityProvider",
        "variableName" : "cognitoIdentityProvider",
        "variableType" : "CognitoIdentityProvider",
        "documentation" : null,
        "simpleType" : "CognitoIdentityProvider",
        "variableSetterType" : "CognitoIdentityProvider"
      },
      "wrapper" : false
    },
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>",
      "enums" : null,
      "errorCode" : "ConcurrentModificationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ConcurrentModificationException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ConcurrentModificationException",
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "wrapper" : false
    },
    "CreateIdentityPoolRequest" : {
      "c2jName" : "CreateIdentityPoolInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Input to the CreateIdentityPool action.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateIdentityPool",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSCognitoIdentityService.CreateIdentityPool",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "IdentityPoolName",
        "c2jShape" : "IdentityPoolName",
        "deprecated" : false,
        "documentation" : "<p>A string that you provide.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A string that you provide.</p>\n@param identityPoolName A string that you provide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A string that you provide.</p>\n@return A string that you provide.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "IdentityPoolName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IdentityPoolName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "IdentityPoolName",
        "setterDocumentation" : "/**<p>A string that you provide.</p>\n@param identityPoolName A string that you provide.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "identityPoolName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>A string that you provide.</p>\n@param identityPoolName A string that you provide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "identityPoolName",
          "variableType" : "String",
          "documentation" : "<p>A string that you provide.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AllowUnauthenticatedIdentities",
        "c2jShape" : "IdentityPoolUnauthenticated",
        "deprecated" : false,
        "documentation" : "<p>TRUE if the identity pool supports unauthenticated logins.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>TRUE if the identity pool supports unauthenticated logins.</p>\n@param allowUnauthenticatedIdentities TRUE if the identity pool supports unauthenticated logins.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>TRUE if the identity pool supports unauthenticated logins.</p>\n@return TRUE if the identity pool supports unauthenticated logins.*/",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AllowUnauthenticatedIdentities",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AllowUnauthenticatedIdentities",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AllowUnauthenticatedIdentities",
        "setterDocumentation" : "/**<p>TRUE if the identity pool supports unauthenticated logins.</p>\n@param allowUnauthenticatedIdentities TRUE if the identity pool supports unauthenticated logins.*/",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "allowUnauthenticatedIdentities",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>TRUE if the identity pool supports unauthenticated logins.</p>\n@param allowUnauthenticatedIdentities TRUE if the identity pool supports unauthenticated logins.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "allowUnauthenticatedIdentities",
          "variableType" : "Boolean",
          "documentation" : "<p>TRUE if the identity pool supports unauthenticated logins.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SupportedLoginProviders",
        "c2jShape" : "IdentityProviders",
        "deprecated" : false,
        "documentation" : "<p>Optional key:value pairs mapping provider names to provider app IDs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional key:value pairs mapping provider names to provider app IDs.</p>\n@param supportedLoginProviders Optional key:value pairs mapping provider names to provider app IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Optional key:value pairs mapping provider names to provider app IDs.</p>\n@return Optional key:value pairs mapping provider names to provider app IDs.*/",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SupportedLoginProviders",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SupportedLoginProviders",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "IdentityProviderId",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "name" : "SupportedLoginProviders",
        "setterDocumentation" : "/**<p>Optional key:value pairs mapping provider names to provider app IDs.</p>\n@param supportedLoginProviders Optional key:value pairs mapping provider names to provider app IDs.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "supportedLoginProviders",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Optional key:value pairs mapping provider names to provider app IDs.</p>\n@param supportedLoginProviders Optional key:value pairs mapping provider names to provider app IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "supportedLoginProviders",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>Optional key:value pairs mapping provider names to provider app IDs.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DeveloperProviderName",
        "c2jShape" : "DeveloperProviderName",
        "deprecated" : false,
        "documentation" : "<p>The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.</p>\n@param developerProviderName The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.</p>\n@return The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DeveloperProviderName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DeveloperProviderName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DeveloperProviderName",
        "setterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.</p>\n@param developerProviderName The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "developerProviderName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.</p>\n@param developerProviderName The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "developerProviderName",
          "variableType" : "String",
          "documentation" : "<p>The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OpenIdConnectProviderARNs",
        "c2jShape" : "OIDCProviderList",
        "deprecated" : false,
        "documentation" : "<p>A list of OpendID Connect provider ARNs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of OpendID Connect provider ARNs.</p>\n@param openIdConnectProviderARNs A list of OpendID Connect provider ARNs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A list of OpendID Connect provider ARNs.</p>\n@return A list of OpendID Connect provider ARNs.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "OpenIdConnectProviderARNs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OpenIdConnectProviderARNs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ARNString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "OpenIdConnectProviderARNs",
        "setterDocumentation" : "/**<p>A list of OpendID Connect provider ARNs.</p>\n@param openIdConnectProviderARNs A list of OpendID Connect provider ARNs.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "openIdConnectProviderARNs",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>A list of OpendID Connect provider ARNs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOpenIdConnectProviderARNs(java.util.Collection)} or {@link #withOpenIdConnectProviderARNs(java.util.Collection)} if you want to override the existing values.</p>\n@param openIdConnectProviderARNs A list of OpendID Connect provider ARNs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "openIdConnectProviderARNs",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of OpendID Connect provider ARNs.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CognitoIdentityProviders",
        "c2jShape" : "CognitoIdentityProviderList",
        "deprecated" : false,
        "documentation" : "<p>An array of Amazon Cognito Identity user pools.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of Amazon Cognito Identity user pools.</p>\n@param cognitoIdentityProviders An array of Amazon Cognito Identity user pools.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>An array of Amazon Cognito Identity user pools.</p>\n@return An array of Amazon Cognito Identity user pools.*/",
        "getterModel" : {
          "returnType" : "java.util.List<CognitoIdentityProvider>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CognitoIdentityProviders",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CognitoIdentityProviders",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "CognitoIdentityProvider",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "CognitoIdentityProvider",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "CognitoIdentityProvider",
              "variableName" : "member",
              "variableType" : "CognitoIdentityProvider",
              "documentation" : "",
              "simpleType" : "CognitoIdentityProvider",
              "variableSetterType" : "CognitoIdentityProvider"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "CognitoIdentityProvider",
              "variableName" : "member",
              "variableType" : "CognitoIdentityProvider",
              "documentation" : "",
              "simpleType" : "CognitoIdentityProvider",
              "variableSetterType" : "CognitoIdentityProvider"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "CognitoIdentityProvider",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "CognitoIdentityProvider",
          "templateImplType" : "java.util.ArrayList<CognitoIdentityProvider>",
          "templateType" : "java.util.List<CognitoIdentityProvider>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "CognitoIdentityProviders",
        "setterDocumentation" : "/**<p>An array of Amazon Cognito Identity user pools.</p>\n@param cognitoIdentityProviders An array of Amazon Cognito Identity user pools.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<CognitoIdentityProvider>",
          "variableName" : "cognitoIdentityProviders",
          "variableType" : "java.util.List<CognitoIdentityProvider>",
          "documentation" : "",
          "simpleType" : "List<CognitoIdentityProvider>",
          "variableSetterType" : "java.util.Collection<CognitoIdentityProvider>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>An array of Amazon Cognito Identity user pools.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCognitoIdentityProviders(java.util.Collection)} or {@link #withCognitoIdentityProviders(java.util.Collection)} if you want to override the existing values.</p>\n@param cognitoIdentityProviders An array of Amazon Cognito Identity user pools.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<CognitoIdentityProvider>",
          "variableName" : "cognitoIdentityProviders",
          "variableType" : "java.util.List<CognitoIdentityProvider>",
          "documentation" : "<p>An array of Amazon Cognito Identity user pools.</p>",
          "simpleType" : "List<CognitoIdentityProvider>",
          "variableSetterType" : "java.util.Collection<CognitoIdentityProvider>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SamlProviderARNs",
        "c2jShape" : "SAMLProviderList",
        "deprecated" : false,
        "documentation" : "<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.</p>\n@param samlProviderARNs An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.</p>\n@return An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SamlProviderARNs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SamlProviderARNs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ARNString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
[...]
