{
  "metadata" : {
    "apiVersion" : "2014-06-30",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon Cognito</fullname> <p>Amazon Cognito is a web service that delivers scoped temporary credentials to mobile devices and other untrusted environments. Amazon Cognito uniquely identifies a device and supplies the user with a consistent identity over the lifetime of an application.</p> <p>Using Amazon Cognito, you can enable authentication with one or more third-party identity providers (Facebook, Google, or Login with Amazon), and you can also choose to support unauthenticated access from your app. Cognito delivers a unique identifier for each user and acts as an OpenID token provider trusted by AWS Security Token Service (STS) to access temporary, limited-privilege AWS credentials.</p> <p>To provide end-user credentials, first make an unsigned call to <a>GetId</a>. If the end user is authenticated with one of the supported identity providers, set the <code>Logins</code> map with the identity provider token. <code>GetId</code> returns a unique identifier for the user.</p> <p>Next, make an unsigned call to <a>GetCredentialsForIdentity</a>. This call expects the same <code>Logins</code> map as the <code>GetId</code> call, as well as the <code>IdentityID</code> originally returned by <code>GetId</code>. Assuming your identity pool has been configured via the <a>SetIdentityPoolRoles</a> operation, <code>GetCredentialsForIdentity</code> will return AWS credentials for your use. If your pool has not been configured with <code>SetIdentityPoolRoles</code>, or if you want to follow legacy flow, make an unsigned call to <a>GetOpenIdToken</a>, which returns the OpenID token necessary to call STS and retrieve AWS credentials. This call expects the same <code>Logins</code> map as the <code>GetId</code> call, as well as the <code>IdentityID</code> originally returned by <code>GetId</code>. The token returned by <code>GetOpenIdToken</code> can be passed to the STS operation <a href=\"http://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRoleWithWebIdentity.html\">AssumeRoleWithWebIdentity</a> to retrieve AWS credentials.</p> <p>If you want to use Amazon Cognito in an Android, iOS, or Unity application, you will probably want to make API calls via the AWS Mobile SDK. To learn more, see the <a href=\"http://docs.aws.amazon.com/mobile/index.html\">AWS Mobile SDK Developer Guide</a>.</p>",
    "defaultEndpoint" : "https://cognito-identity.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cognito-identity.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonCognitoIdentity",
    "syncClient" : "AmazonCognitoIdentityClient",
    "asyncInterface" : "AmazonCognitoIdentityAsync",
    "asyncClient" : "AmazonCognitoIdentityAsyncClient",
    "packageName" : "com.amazonaws.services.cognitoidentity",
    "packagePath" : "com/amazonaws/services/cognitoidentity",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Cognito Identity",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "cognito-identity",
    "signingName" : "cognito-identity",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonCognitoIdentityClientBuilder",
    "asyncClientBuilderClassName" : "AmazonCognitoIdentityAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonCognitoIdentityModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.cognitoidentity.smoketests",
    "serviceName" : "Amazon Cognito Identity",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "CreateIdentityPool" : {
      "documentation" : "<p>Creates a new identity pool. The identity pool is a store of user identity information that is specific to your AWS account. The limit on identity pools is 60 per account. The keys for <code>SupportedLoginProviders</code> are as follows: <ul> <li>Facebook: <code>graph.facebook.com</code></li> <li>Google: <code>accounts.google.com</code></li> <li>Amazon: <code>www.amazon.com</code></li> <li>Twitter: <code>api.twitter.com</code></li> <li>Digits: <code>www.digits.com</code></li> </ul> You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "CreateIdentityPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "createIdentityPoolRequest",
        "variableType" : "CreateIdentityPoolRequest",
        "variableDeclarationType" : "CreateIdentityPoolRequest",
        "documentation" : "<p>Input to the CreateIdentityPool action.</p>",
        "simpleType" : "CreateIdentityPoolRequest",
        "variableSetterType" : "CreateIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateIdentityPoolResult",
        "documentation" : "An object representing a Cognito identity pool."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "Thrown when the total number of user pools has exceeded a preset limit."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateIdentityPoolResult",
      "asyncReturnType" : "CreateIdentityPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIdentityPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIdentityPoolRequest, CreateIdentityPoolResult>",
      "authenticated" : true,
      "methodName" : "createIdentityPool"
    },
    "DeleteIdentities" : {
      "documentation" : "<p>Deletes identities from an identity pool. You can specify a list of 1-60 identities that you want to delete.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "DeleteIdentities",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteIdentitiesRequest",
        "variableType" : "DeleteIdentitiesRequest",
        "variableDeclarationType" : "DeleteIdentitiesRequest",
        "documentation" : "<p>Input to the <code>DeleteIdentities</code> action.</p>",
        "simpleType" : "DeleteIdentitiesRequest",
        "variableSetterType" : "DeleteIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteIdentitiesResult",
        "documentation" : "<p>Returned in response to a successful <code>DeleteIdentities</code> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteIdentitiesResult",
      "asyncReturnType" : "DeleteIdentitiesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdentitiesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdentitiesRequest, DeleteIdentitiesResult>",
      "authenticated" : true,
      "methodName" : "deleteIdentities"
    },
    "DeleteIdentityPool" : {
      "documentation" : "<p>Deletes a user pool. Once a pool is deleted, users will not be able to authenticate with the pool.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "DeleteIdentityPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteIdentityPoolRequest",
        "variableType" : "DeleteIdentityPoolRequest",
        "variableDeclarationType" : "DeleteIdentityPoolRequest",
        "documentation" : "<p>Input to the DeleteIdentityPool action.</p>",
        "simpleType" : "DeleteIdentityPoolRequest",
        "variableSetterType" : "DeleteIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteIdentityPoolResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteIdentityPoolResult",
      "asyncReturnType" : "DeleteIdentityPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdentityPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdentityPoolRequest, DeleteIdentityPoolResult>",
      "authenticated" : true,
      "methodName" : "deleteIdentityPool"
    },
    "DescribeIdentity" : {
      "documentation" : "<p>Returns metadata related to the given identity, including when the identity was created and any associated linked logins.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "DescribeIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeIdentityRequest",
        "variableType" : "DescribeIdentityRequest",
        "variableDeclarationType" : "DescribeIdentityRequest",
        "documentation" : "<p>Input to the <code>DescribeIdentity</code> action.</p>",
        "simpleType" : "DescribeIdentityRequest",
        "variableSetterType" : "DescribeIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeIdentityResult",
        "documentation" : "A description of the identity."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeIdentityResult",
      "asyncReturnType" : "DescribeIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIdentityRequest, DescribeIdentityResult>",
      "authenticated" : true,
      "methodName" : "describeIdentity"
    },
    "DescribeIdentityPool" : {
      "documentation" : "<p>Gets details about a particular identity pool, including the pool name, ID description, creation date, and current number of users.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "DescribeIdentityPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeIdentityPoolRequest",
        "variableType" : "DescribeIdentityPoolRequest",
        "variableDeclarationType" : "DescribeIdentityPoolRequest",
        "documentation" : "Input to the DescribeIdentityPool action.",
        "simpleType" : "DescribeIdentityPoolRequest",
        "variableSetterType" : "DescribeIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeIdentityPoolResult",
        "documentation" : "An object representing a Cognito identity pool."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeIdentityPoolResult",
      "asyncReturnType" : "DescribeIdentityPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIdentityPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIdentityPoolRequest, DescribeIdentityPoolResult>",
      "authenticated" : true,
      "methodName" : "describeIdentityPool"
    },
    "GetCredentialsForIdentity" : {
      "documentation" : "<p>Returns credentials for the provided identity ID. Any provided logins will be validated against supported login providers. If the token is for cognito-identity.amazonaws.com, it will be passed through to AWS Security Token Service with the appropriate role for the token.</p><p>This is a public API. You do not need any credentials to call this API.</p>",
      "operationName" : "GetCredentialsForIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "getCredentialsForIdentityRequest",
        "variableType" : "GetCredentialsForIdentityRequest",
        "variableDeclarationType" : "GetCredentialsForIdentityRequest",
        "documentation" : "<p>Input to the <code>GetCredentialsForIdentity</code> action.</p>",
        "simpleType" : "GetCredentialsForIdentityRequest",
        "variableSetterType" : "GetCredentialsForIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetCredentialsForIdentityResult",
        "documentation" : "<p>Returned in response to a successful <code>GetCredentialsForIdentity</code> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InvalidIdentityPoolConfigurationException",
        "documentation" : "<p>Thrown if the identity pool has no role associated for the given auth type (auth/unauth) or if the AssumeRole fails.</p>"
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetCredentialsForIdentityResult",
      "asyncReturnType" : "GetCredentialsForIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetCredentialsForIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetCredentialsForIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCredentialsForIdentityRequest, GetCredentialsForIdentityResult>",
      "authenticated" : true,
      "methodName" : "getCredentialsForIdentity"
    },
    "GetId" : {
      "documentation" : "<p>Generates (or retrieves) a Cognito ID. Supplying multiple logins will create an implicit linked account.</p><p>This is a public API. You do not need any credentials to call this API.</p>",
      "operationName" : "GetId",
      "deprecated" : false,
      "input" : {
        "variableName" : "getIdRequest",
        "variableType" : "GetIdRequest",
        "variableDeclarationType" : "GetIdRequest",
        "documentation" : "Input to the GetId action.",
        "simpleType" : "GetIdRequest",
        "variableSetterType" : "GetIdRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetIdResult",
        "documentation" : "Returned in response to a GetId request."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "Thrown when the total number of user pools has exceeded a preset limit."
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetIdResult",
      "asyncReturnType" : "GetIdResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdRequest, GetIdResult>",
      "authenticated" : true,
      "methodName" : "getId"
    },
    "GetIdentityPoolRoles" : {
      "documentation" : "<p>Gets the roles for an identity pool.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "GetIdentityPoolRoles",
      "deprecated" : false,
      "input" : {
        "variableName" : "getIdentityPoolRolesRequest",
        "variableType" : "GetIdentityPoolRolesRequest",
        "variableDeclarationType" : "GetIdentityPoolRolesRequest",
        "documentation" : "<p>Input to the <code>GetIdentityPoolRoles</code> action.</p>",
        "simpleType" : "GetIdentityPoolRolesRequest",
        "variableSetterType" : "GetIdentityPoolRolesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetIdentityPoolRolesResult",
        "documentation" : "<p>Returned in response to a successful <code>GetIdentityPoolRoles</code> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetIdentityPoolRolesResult",
      "asyncReturnType" : "GetIdentityPoolRolesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityPoolRolesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityPoolRolesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityPoolRolesRequest, GetIdentityPoolRolesResult>",
      "authenticated" : true,
      "methodName" : "getIdentityPoolRoles"
    },
    "GetOpenIdToken" : {
      "documentation" : "<p>Gets an OpenID token, using a known Cognito ID. This known Cognito ID is returned by <a>GetId</a>. You can optionally add additional logins for the identity. Supplying multiple logins creates an implicit link.</p> <p>The OpenId token is valid for 15 minutes.</p><p>This is a public API. You do not need any credentials to call this API.</p>",
      "operationName" : "GetOpenIdToken",
      "deprecated" : false,
      "input" : {
        "variableName" : "getOpenIdTokenRequest",
        "variableType" : "GetOpenIdTokenRequest",
        "variableDeclarationType" : "GetOpenIdTokenRequest",
        "documentation" : "Input to the GetOpenIdToken action.",
        "simpleType" : "GetOpenIdTokenRequest",
        "variableSetterType" : "GetOpenIdTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetOpenIdTokenResult",
        "documentation" : "Returned in response to a successful GetOpenIdToken request."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetOpenIdTokenResult",
      "asyncReturnType" : "GetOpenIdTokenResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetOpenIdTokenResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetOpenIdTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOpenIdTokenRequest, GetOpenIdTokenResult>",
      "authenticated" : true,
      "methodName" : "getOpenIdToken"
    },
    "GetOpenIdTokenForDeveloperIdentity" : {
      "documentation" : "<p>Registers (or retrieves) a Cognito <code>IdentityId</code> and an OpenID Connect token for a user authenticated by your backend authentication process. Supplying multiple logins will create an implicit linked account. You can only specify one developer provider as part of the <code>Logins</code> map, which is linked to the identity pool. The developer provider is the \"domain\" by which Cognito will refer to your users.</p> <p>You can use <code>GetOpenIdTokenForDeveloperIdentity</code> to create a new identity and to link new logins (that is, user credentials issued by a public provider or developer provider) to an existing identity. When you want to create a new identity, the <code>IdentityId</code> should be null. When you want to associate a new login with an existing authenticated/unauthenticated identity, you can do so by providing the existing <code>IdentityId</code>. This API will create the identity in the specified <code>IdentityPoolId</code>.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "GetOpenIdTokenForDeveloperIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "getOpenIdTokenForDeveloperIdentityRequest",
        "variableType" : "GetOpenIdTokenForDeveloperIdentityRequest",
        "variableDeclarationType" : "GetOpenIdTokenForDeveloperIdentityRequest",
        "documentation" : "<p>Input to the <code>GetOpenIdTokenForDeveloperIdentity</code> action.</p>",
        "simpleType" : "GetOpenIdTokenForDeveloperIdentityRequest",
        "variableSetterType" : "GetOpenIdTokenForDeveloperIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetOpenIdTokenForDeveloperIdentityResult",
        "documentation" : "<p>Returned in response to a successful <code>GetOpenIdTokenForDeveloperIdentity</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "DeveloperUserAlreadyRegisteredException",
        "documentation" : "<p>The provided developer user identifier is already registered with Cognito under a different identity ID.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetOpenIdTokenForDeveloperIdentityResult",
      "asyncReturnType" : "GetOpenIdTokenForDeveloperIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetOpenIdTokenForDeveloperIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetOpenIdTokenForDeveloperIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOpenIdTokenForDeveloperIdentityRequest, GetOpenIdTokenForDeveloperIdentityResult>",
      "authenticated" : true,
      "methodName" : "getOpenIdTokenForDeveloperIdentity"
    },
    "ListIdentities" : {
      "documentation" : "<p>Lists the identities in a pool.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "ListIdentities",
      "deprecated" : false,
      "input" : {
        "variableName" : "listIdentitiesRequest",
        "variableType" : "ListIdentitiesRequest",
        "variableDeclarationType" : "ListIdentitiesRequest",
        "documentation" : "Input to the ListIdentities action.",
        "simpleType" : "ListIdentitiesRequest",
        "variableSetterType" : "ListIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListIdentitiesResult",
        "documentation" : "The response to a ListIdentities request."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListIdentitiesResult",
      "asyncReturnType" : "ListIdentitiesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentitiesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentitiesRequest, ListIdentitiesResult>",
      "authenticated" : true,
      "methodName" : "listIdentities"
    },
    "ListIdentityPools" : {
      "documentation" : "<p>Lists all of the Cognito identity pools registered for your account.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "ListIdentityPools",
      "deprecated" : false,
      "input" : {
        "variableName" : "listIdentityPoolsRequest",
        "variableType" : "ListIdentityPoolsRequest",
        "variableDeclarationType" : "ListIdentityPoolsRequest",
        "documentation" : "Input to the ListIdentityPools action.",
        "simpleType" : "ListIdentityPoolsRequest",
        "variableSetterType" : "ListIdentityPoolsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListIdentityPoolsResult",
        "documentation" : "The result of a successful ListIdentityPools action."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListIdentityPoolsResult",
      "asyncReturnType" : "ListIdentityPoolsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentityPoolsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentityPoolsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentityPoolsRequest, ListIdentityPoolsResult>",
      "authenticated" : true,
      "methodName" : "listIdentityPools"
    },
    "LookupDeveloperIdentity" : {
      "documentation" : "<p>Retrieves the <code>IdentityID</code> associated with a <code>DeveloperUserIdentifier</code> or the list of <code>DeveloperUserIdentifier</code>s associated with an <code>IdentityId</code> for an existing identity. Either <code>IdentityID</code> or <code>DeveloperUserIdentifier</code> must not be null. If you supply only one of these values, the other value will be searched in the database and returned as a part of the response. If you supply both, <code>DeveloperUserIdentifier</code> will be matched against <code>IdentityID</code>. If the values are verified against the database, the response returns both values and is the same as the request. Otherwise a <code>ResourceConflictException</code> is thrown.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "LookupDeveloperIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "lookupDeveloperIdentityRequest",
        "variableType" : "LookupDeveloperIdentityRequest",
        "variableDeclarationType" : "LookupDeveloperIdentityRequest",
        "documentation" : "<p>Input to the <code>LookupDeveloperIdentityInput</code> action.</p>",
        "simpleType" : "LookupDeveloperIdentityRequest",
        "variableSetterType" : "LookupDeveloperIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "LookupDeveloperIdentityResult",
        "documentation" : "<p>Returned in response to a successful <code>LookupDeveloperIdentity</code> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "LookupDeveloperIdentityResult",
      "asyncReturnType" : "LookupDeveloperIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<LookupDeveloperIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<LookupDeveloperIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LookupDeveloperIdentityRequest, LookupDeveloperIdentityResult>",
      "authenticated" : true,
      "methodName" : "lookupDeveloperIdentity"
    },
    "MergeDeveloperIdentities" : {
      "documentation" : "<p>Merges two users having different <code>IdentityId</code>s, existing in the same identity pool, and identified by the same developer provider. You can use this action to request that discrete users be merged and identified as a single user in the Cognito environment. Cognito associates the given source user (<code>SourceUserIdentifier</code>) with the <code>IdentityId</code> of the <code>DestinationUserIdentifier</code>. Only developer-authenticated users can be merged. If the users to be merged are associated with the same public provider, but as two different users, an exception will be thrown.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "MergeDeveloperIdentities",
      "deprecated" : false,
      "input" : {
        "variableName" : "mergeDeveloperIdentitiesRequest",
        "variableType" : "MergeDeveloperIdentitiesRequest",
        "variableDeclarationType" : "MergeDeveloperIdentitiesRequest",
        "documentation" : "<p>Input to the <code>MergeDeveloperIdentities</code> action.</p>",
        "simpleType" : "MergeDeveloperIdentitiesRequest",
        "variableSetterType" : "MergeDeveloperIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "MergeDeveloperIdentitiesResult",
        "documentation" : "<p>Returned in response to a successful <code>MergeDeveloperIdentities</code> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "MergeDeveloperIdentitiesResult",
      "asyncReturnType" : "MergeDeveloperIdentitiesResult",
      "asyncFutureType" : "java.util.concurrent.Future<MergeDeveloperIdentitiesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<MergeDeveloperIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<MergeDeveloperIdentitiesRequest, MergeDeveloperIdentitiesResult>",
      "authenticated" : true,
      "methodName" : "mergeDeveloperIdentities"
    },
    "SetIdentityPoolRoles" : {
      "documentation" : "<p>Sets the roles for an identity pool. These roles are used when making calls to <code>GetCredentialsForIdentity</code> action.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "SetIdentityPoolRoles",
      "deprecated" : false,
      "input" : {
        "variableName" : "setIdentityPoolRolesRequest",
        "variableType" : "SetIdentityPoolRolesRequest",
        "variableDeclarationType" : "SetIdentityPoolRolesRequest",
        "documentation" : "<p>Input to the <code>SetIdentityPoolRoles</code> action.</p>",
        "simpleType" : "SetIdentityPoolRolesRequest",
        "variableSetterType" : "SetIdentityPoolRolesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetIdentityPoolRolesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SetIdentityPoolRolesResult",
      "asyncReturnType" : "SetIdentityPoolRolesResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetIdentityPoolRolesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetIdentityPoolRolesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetIdentityPoolRolesRequest, SetIdentityPoolRolesResult>",
      "authenticated" : true,
      "methodName" : "setIdentityPoolRoles"
    },
    "UnlinkDeveloperIdentity" : {
      "documentation" : "<p>Unlinks a <code>DeveloperUserIdentifier</code> from an existing identity. Unlinked developer users will be considered new identities next time they are seen. If, for a given Cognito identity, you remove all federated identities as well as the developer user identifier, the Cognito identity becomes inaccessible.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "UnlinkDeveloperIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "unlinkDeveloperIdentityRequest",
        "variableType" : "UnlinkDeveloperIdentityRequest",
        "variableDeclarationType" : "UnlinkDeveloperIdentityRequest",
        "documentation" : "<p>Input to the <code>UnlinkDeveloperIdentity</code> action.</p>",
        "simpleType" : "UnlinkDeveloperIdentityRequest",
        "variableSetterType" : "UnlinkDeveloperIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UnlinkDeveloperIdentityResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UnlinkDeveloperIdentityResult",
      "asyncReturnType" : "UnlinkDeveloperIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<UnlinkDeveloperIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UnlinkDeveloperIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnlinkDeveloperIdentityRequest, UnlinkDeveloperIdentityResult>",
      "authenticated" : true,
      "methodName" : "unlinkDeveloperIdentity"
    },
    "UnlinkIdentity" : {
      "documentation" : "<p>Unlinks a federated identity from an existing account. Unlinked logins will be considered new identities next time they are seen. Removing the last linked login will make this identity inaccessible.</p><p>This is a public API. You do not need any credentials to call this API.</p>",
      "operationName" : "UnlinkIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "unlinkIdentityRequest",
        "variableType" : "UnlinkIdentityRequest",
        "variableDeclarationType" : "UnlinkIdentityRequest",
        "documentation" : "Input to the UnlinkIdentity action.",
        "simpleType" : "UnlinkIdentityRequest",
        "variableSetterType" : "UnlinkIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UnlinkIdentityResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UnlinkIdentityResult",
      "asyncReturnType" : "UnlinkIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<UnlinkIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UnlinkIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnlinkIdentityRequest, UnlinkIdentityResult>",
      "authenticated" : true,
      "methodName" : "unlinkIdentity"
    },
    "UpdateIdentityPool" : {
      "documentation" : "<p>Updates a user pool.</p><p>You must use AWS Developer credentials to call this API.</p>",
      "operationName" : "UpdateIdentityPool",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateIdentityPoolRequest",
        "variableType" : "UpdateIdentityPoolRequest",
        "variableDeclarationType" : "UpdateIdentityPoolRequest",
        "documentation" : "An object representing a Cognito identity pool.",
        "simpleType" : "UpdateIdentityPoolRequest",
        "variableSetterType" : "UpdateIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateIdentityPoolResult",
        "documentation" : "An object representing a Cognito identity pool."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown for missing or bad input parameter(s)."
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown when the requested resource (for example, a dataset or record) does not exist."
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource."
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown when a user tries to use a login which is already linked to another account."
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown when a request is throttled."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Thrown when the service encounters an error during processing the request."
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "Thrown when the total number of user pools has exceeded a preset limit."
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateIdentityPoolResult",
      "asyncReturnType" : "UpdateIdentityPoolResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIdentityPoolResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIdentityPoolRequest, UpdateIdentityPoolResult>",
      "authenticated" : true,
      "methodName" : "updateIdentityPool"
    }
  },
  "shapes" : {
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>",
      "shapeName" : "ConcurrentModificationException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "variableDeclarationType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "CreateIdentityPoolResult" : {
      "c2jName" : "IdentityPool",
      "documentation" : "An object representing a Cognito identity pool.",
      "shapeName" : "CreateIdentityPoolResult",
      "deprecated" : false,
      "required" : [ "IdentityPoolId", "IdentityPoolName", "AllowUnauthenticatedIdentities" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "An identity pool ID in the format REGION:GUID.",
        "name" : "IdentityPoolId",
        "c2jName" : "IdentityPoolId",
        "c2jShape" : "IdentityPoolId",
        "variable" : {
          "variableName" : "identityPoolId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "An identity pool ID in the format REGION:GUID.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "identityPoolId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "IdentityPoolId",
          "marshallLocationName" : "IdentityPoolId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**An identity pool ID in the format REGION:GUID.\n@param identityPoolId An identity pool ID in the format REGION:GUID.*/",
        "getterDocumentation" : "/**An identity pool ID in the format REGION:GUID.\n@return An identity pool ID in the format REGION:GUID.*/",
        "fluentSetterDocumentation" : "/**An identity pool ID in the format REGION:GUID.\n@param identityPoolId An identity pool ID in the format REGION:GUID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**An identity pool ID in the format REGION:GUID.\n@param identityPoolId An identity pool ID in the format REGION:GUID.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A string that you provide.</p>",
        "name" : "IdentityPoolName",
        "c2jName" : "IdentityPoolName",
        "c2jShape" : "IdentityPoolName",
        "variable" : {
          "variableName" : "identityPoolName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A string that you provide.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "identityPoolName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "IdentityPoolName",
          "marshallLocationName" : "IdentityPoolName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A string that you provide.</p>\n@param identityPoolName A string that you provide.*/",
        "getterDocumentation" : "/**<p>A string that you provide.</p>\n@return A string that you provide.*/",
        "fluentSetterDocumentation" : "/**<p>A string that you provide.</p>\n@param identityPoolName A string that you provide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A string that you provide.</p>\n@param identityPoolName A string that you provide.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "TRUE if the identity pool supports unauthenticated logins.",
        "name" : "AllowUnauthenticatedIdentities",
        "c2jName" : "AllowUnauthenticatedIdentities",
        "c2jShape" : "IdentityPoolUnauthenticated",
        "variable" : {
          "variableName" : "allowUnauthenticatedIdentities",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "TRUE if the identity pool supports unauthenticated logins.",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "allowUnauthenticatedIdentities",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AllowUnauthenticatedIdentities",
          "marshallLocationName" : "AllowUnauthenticatedIdentities",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**TRUE if the identity pool supports unauthenticated logins.\n@param allowUnauthenticatedIdentities TRUE if the identity pool supports unauthenticated logins.*/",
        "getterDocumentation" : "/**TRUE if the identity pool supports unauthenticated logins.\n@return TRUE if the identity pool supports unauthenticated logins.*/",
        "fluentSetterDocumentation" : "/**TRUE if the identity pool supports unauthenticated logins.\n@param allowUnauthenticatedIdentities TRUE if the identity pool supports unauthenticated logins.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**TRUE if the identity pool supports unauthenticated logins.\n@param allowUnauthenticatedIdentities TRUE if the identity pool supports unauthenticated logins.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Optional key:value pairs mapping provider names to provider app IDs.</p>",
        "name" : "SupportedLoginProviders",
        "c2jName" : "SupportedLoginProviders",
        "c2jShape" : "IdentityProviders",
        "variable" : {
          "variableName" : "supportedLoginProviders",
          "variableType" : "java.util.Map<String,String>",
          "variableDeclarationType" : "java.util.Map<String,String>",
          "documentation" : "<p>Optional key:value pairs mapping provider names to provider app IDs.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "setterModel" : {
          "variableName" : "supportedLoginProviders",
          "variableType" : "java.util.Map<String,String>",
          "variableDeclarationType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SupportedLoginProviders",
          "marshallLocationName" : "SupportedLoginProviders",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyType" : "String",
          "keyLocationName" : "key",
          "keyModel" : null,
          "valueType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "documentation" : "",
            "name" : "Value",
            "c2jName" : "value",
            "c2jShape" : "IdentityProviderId",
            "variable" : {
              "variableName" : "value",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "value",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "value",
              "marshallLocationName" : "value",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param value */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "keySimple" : true,
          "valueSimple" : true,
          "valueList" : false,
          "templateType" : "java.util.Map<String,String>",
          "templateImplType" : "java.util.HashMap<String,String>",
          "entryType" : "Map.Entry<String, String>"
        },
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : true,
        "setterDocumentation" : "/**<p>Optional key:value pairs mapping provider names to provider app IDs.</p>\n@param supportedLoginProviders Optional key:value pairs mapping provider names to provider app IDs.*/",
        "getterDocumentation" : "/**<p>Optional key:value pairs mapping provider names to provider app IDs.</p>\n@return Optional key:value pairs mapping provider names to provider app IDs.*/",
        "fluentSetterDocumentation" : "/**<p>Optional key:value pairs mapping provider names to provider app IDs.</p>\n@param supportedLoginProviders Optional key:value pairs mapping provider names to provider app IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Optional key:value pairs mapping provider names to provider app IDs.</p>\n@param supportedLoginProviders Optional key:value pairs mapping provider names to provider app IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The \"domain\" by which Cognito will refer to your users.</p>",
        "name" : "DeveloperProviderName",
        "c2jName" : "DeveloperProviderName",
        "c2jShape" : "DeveloperProviderName",
        "variable" : {
          "variableName" : "developerProviderName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The \"domain\" by which Cognito will refer to your users.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "developerProviderName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DeveloperProviderName",
          "marshallLocationName" : "DeveloperProviderName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users.</p>\n@param developerProviderName The \"domain\" by which Cognito will refer to your users.*/",
        "getterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users.</p>\n@return The \"domain\" by which Cognito will refer to your users.*/",
        "fluentSetterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users.</p>\n@param developerProviderName The \"domain\" by which Cognito will refer to your users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users.</p>\n@param developerProviderName The \"domain\" by which Cognito will refer to your users.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list of OpendID Connect provider ARNs.</p>",
        "name" : "OpenIdConnectProviderARNs",
        "c2jName" : "OpenIdConnectProviderARNs",
        "c2jShape" : "OIDCProviderList",
        "variable" : {
          "variableName" : "openIdConnectProviderARNs",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "<p>A list of OpendID Connect provider ARNs.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "openIdConnectProviderARNs",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OpenIdConnectProviderARNs",
          "marshallLocationName" : "OpenIdConnectProviderARNs",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ARNString",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "java.util.ArrayList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of OpendID Connect provider ARNs.</p>\n@param openIdConnectProviderARNs A list of OpendID Connect provider ARNs.*/",
        "getterDocumentation" : "/**<p>A list of OpendID Connect provider ARNs.</p>\n@return A list of OpendID Connect provider ARNs.*/",
        "fluentSetterDocumentation" : "/**<p>A list of OpendID Connect provider ARNs.</p>\n@param openIdConnectProviderARNs A list of OpendID Connect provider ARNs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of OpendID Connect provider ARNs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOpenIdConnectProviderARNs(java.util.Collection)} or {@link #withOpenIdConnectProviderARNs(java.util.Collection)} if you want to override the existing values.</p>\n@param openIdConnectProviderARNs A list of OpendID Connect provider ARNs.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>",
        "name" : "CognitoIdentityProviders",
        "c2jName" : "CognitoIdentityProviders",
        "c2jShape" : "CognitoIdentityProviderList",
        "variable" : {
          "variableName" : "cognitoIdentityProviders",
          "variableType" : "java.util.List<CognitoIdentityProvider>",
          "variableDeclarationType" : "java.util.List<CognitoIdentityProvider>",
          "documentation" : "<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>",
          "simpleType" : "List<CognitoIdentityProvider>",
          "variableSetterType" : "java.util.Collection<CognitoIdentityProvider>"
        },
        "setterModel" : {
          "variableName" : "cognitoIdentityProviders",
          "variableType" : "java.util.List<CognitoIdentityProvider>",
          "variableDeclarationType" : "java.util.List<CognitoIdentityProvider>",
          "documentation" : "",
          "simpleType" : "List<CognitoIdentityProvider>",
          "variableSetterType" : "java.util.Collection<CognitoIdentityProvider>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<CognitoIdentityProvider>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CognitoIdentityProviders",
          "marshallLocationName" : "CognitoIdentityProviders",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "CognitoIdentityProvider",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "CognitoIdentityProvider",
            "variable" : {
              "variableName" : "member",
              "variableType" : "CognitoIdentityProvider",
              "variableDeclarationType" : "CognitoIdentityProvider",
              "documentation" : "",
              "simpleType" : "CognitoIdentityProvider",
              "variableSetterType" : "CognitoIdentityProvider"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "CognitoIdentityProvider",
              "variableDeclarationType" : "CognitoIdentityProvider",
              "documentation" : "",
              "simpleType" : "CognitoIdentityProvider",
              "variableSetterType" : "CognitoIdentityProvider"
            },
            "getterModel" : {
              "returnType" : "CognitoIdentityProvider",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "CognitoIdentityProvider",
          "templateType" : "java.util.List<CognitoIdentityProvider>",
          "templateImplType" : "java.util.ArrayList<CognitoIdentityProvider>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>\n@param cognitoIdentityProviders A list representing an Amazon Cognito Identity User Pool and its client ID.*/",
        "getterDocumentation" : "/**<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>\n@return A list representing an Amazon Cognito Identity User Pool and its client ID.*/",
        "fluentSetterDocumentation" : "/**<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>\n@param cognitoIdentityProviders A list representing an Amazon Cognito Identity User Pool and its client ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCognitoIdentityProviders(java.util.Collection)} or {@link #withCognitoIdentityProviders(java.util.Collection)} if you want to override the existing values.</p>\n@param cognitoIdentityProviders A list representing an Amazon Cognito Identity User Pool and its client ID.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.</p>",
        "name" : "SamlProviderARNs",
        "c2jName" : "SamlProviderARNs",
        "c2jShape" : "SAMLProviderList",
        "variable" : {
          "variableName" : "samlProviderARNs",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "samlProviderARNs",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SamlProviderARNs",
          "marshallLocationName" : "SamlProviderARNs",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ARNString",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "java.util.ArrayList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.</p>\n@param samlProviderARNs An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.*/",
        "getterDocumentation" : "/**<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.</p>\n@return An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.*/",
        "fluentSetterDocumentation" : "/**<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.</p>\n@param samlProviderARNs An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSamlProviderARNs(java.util.Collection)} or {@link #withSamlProviderARNs(java.util.Collection)} if you want to override the existing values.</p>\n@param samlProviderARNs An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createIdentityPoolResult",
        "variableType" : "CreateIdentityPoolResult",
        "variableDeclarationType" : "CreateIdentityPoolResult",
        "documentation" : null,
        "simpleType" : "CreateIdentityPoolResult",
        "variableSetterType" : "CreateIdentityPoolResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "CognitoIdentityProviders" : {
          "documentation" : "<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>",
          "name" : "CognitoIdentityProviders",
          "c2jName" : "CognitoIdentityProviders",
          "c2jShape" : "CognitoIdentityProviderList",
          "variable" : {
            "variableName" : "cognitoIdentityProviders",
            "variableType" : "java.util.List<CognitoIdentityProvider>",
            "variableDeclarationType" : "java.util.List<CognitoIdentityProvider>",
            "documentation" : "<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>",
            "simpleType" : "List<CognitoIdentityProvider>",
            "variableSetterType" : "java.util.Collection<CognitoIdentityProvider>"
          },
          "setterModel" : {
            "variableName" : "cognitoIdentityProviders",
            "variableType" : "java.util.List<CognitoIdentityProvider>",
            "variableDeclarationType" : "java.util.List<CognitoIdentityProvider>",
            "documentation" : "",
            "simpleType" : "List<CognitoIdentityProvider>",
            "variableSetterType" : "java.util.Collection<CognitoIdentityProvider>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<CognitoIdentityProvider>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CognitoIdentityProviders",
            "marshallLocationName" : "CognitoIdentityProviders",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "CognitoIdentityProvider",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "CognitoIdentityProvider",
              "variable" : {
                "variableName" : "member",
                "variableType" : "CognitoIdentityProvider",
                "variableDeclarationType" : "CognitoIdentityProvider",
                "documentation" : "",
                "simpleType" : "CognitoIdentityProvider",
                "variableSetterType" : "CognitoIdentityProvider"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "CognitoIdentityProvider",
                "variableDeclarationType" : "CognitoIdentityProvider",
                "documentation" : "",
                "simpleType" : "CognitoIdentityProvider",
                "variableSetterType" : "CognitoIdentityProvider"
              },
              "getterModel" : {
                "returnType" : "CognitoIdentityProvider",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "CognitoIdentityProvider",
            "templateType" : "java.util.List<CognitoIdentityProvider>",
            "templateImplType" : "java.util.ArrayList<CognitoIdentityProvider>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>\n@param cognitoIdentityProviders A list representing an Amazon Cognito Identity User Pool and its client ID.*/",
          "getterDocumentation" : "/**<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>\n@return A list representing an Amazon Cognito Identity User Pool and its client ID.*/",
          "fluentSetterDocumentation" : "/**<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>\n@param cognitoIdentityProviders A list representing an Amazon Cognito Identity User Pool and its client ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list representing an Amazon Cognito Identity User Pool and its client ID.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCognitoIdentityProviders(java.util.Collection)} or {@link #withCognitoIdentityProviders(java.util.Collection)} if you want to override the existing values.</p>\n@param cognitoIdentityProviders A list representing an Amazon Cognito Identity User Pool and its client ID.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "DeveloperProviderName" : {
          "documentation" : "<p>The \"domain\" by which Cognito will refer to your users.</p>",
          "name" : "DeveloperProviderName",
          "c2jName" : "DeveloperProviderName",
          "c2jShape" : "DeveloperProviderName",
          "variable" : {
            "variableName" : "developerProviderName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The \"domain\" by which Cognito will refer to your users.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "developerProviderName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DeveloperProviderName",
            "marshallLocationName" : "DeveloperProviderName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users.</p>\n@param developerProviderName The \"domain\" by which Cognito will refer to your users.*/",
          "getterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users.</p>\n@return The \"domain\" by which Cognito will refer to your users.*/",
          "fluentSetterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users.</p>\n@param developerProviderName The \"domain\" by which Cognito will refer to your users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The \"domain\" by which Cognito will refer to your users.</p>\n@param developerProviderName The \"domain\" by which Cognito will refer to your users.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "IdentityPoolId" : {
          "documentation" : "An identity pool ID in the format REGION:GUID.",
          "name" : "IdentityPoolId",
          "c2jName" : "IdentityPoolId",
          "c2jShape" : "IdentityPoolId",
          "variable" : {
            "variableName" : "identityPoolId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "An identity pool ID in the format REGION:GUID.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "identityPoolId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "IdentityPoolId",
            "marshallLocationName" : "IdentityPoolId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**An identity pool ID in the format REGION:GUID.\n@param identityPoolId An identity pool ID in the format REGION:GUID.*/",
          "getterDocumentation" : "/**An identity pool ID in the format REGION:GUID.\n@return An identity pool ID in the format REGION:GUID.*/",
          "fluentSetterDocumentation" : "/**An identity pool ID in the format REGION:GUID.\n@param identityPoolId An identity pool ID in the format REGION:GUID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**An identity pool ID in the format REGION:GUID.\n@param identityPoolId An identity pool ID in the format REGION:GUID.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "IdentityPoolName" : {
          "documentation" : "<p>A string that you provide.</p>",
          "name" : "IdentityPoolName",
          "c2jName" : "IdentityPoolName",
          "c2jShape" : "IdentityPoolName",
          "variable" : {
            "variableName" : "identityPoolName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>A string that you provide.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "identityPoolName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "IdentityPoolName",
            "marshallLocationName" : "IdentityPoolName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
[...]
